.TeamPage
{
    margin-top:110px;
    width:100%;
    height:100%;
    background-color:#444;
}

.TopContainer
{
    height:129px;
    width:100%;
}

.BottomContainer
{
    width:100%;
    background-color:#222;
    height:841px;
    margin-top:129px;
}
#PlayerImage
{
    height: 157px;
    width: 112px;
    horizontal-align: center;
    background-image: url('file://{images}/dpc/website.png');
}

.LinkIcon
{
    height:24px;
    width:24px;    
    margin-left:5px;
    margin-right:5px;
}

.Website
{
    background-image: url('file://{images}/dpc/website.png');
}

.Twitter
{
    background-image: url('file://{images}/dpc/twitter.png');
}

.Facebook
{
    background-image: url('file://{images}/dpc/facebook.png');
}

.TeamLinks
{
    vertical-align:bottom;
    margin-bottom:5px;
    margin-left: 263px;
}

.FoundedText
{
    text-transform:uppercase;
}

#PlayerContainer
{
    horizontal-align: center;
    background-color: #030911;
    height:471px;
    flow-children:right-wrap;
}

.PlayerInfo
{
    height:157px;
    width:348px;
}
.PlayerName
{
    horizontal-align: center;
}

.Temp
{
    background-image: url('file://{images}/teamfancontent/182/players/174054.png');
    background-image: url('file://{images}/teamfancontent/182/players/9001210.png');
    background-image: url('file://{images}/teamfancontent/182/players/34930234.png');
    background-image: url('file://{images}/teamfancontent/182/players/77383941.png');
    background-image: url('file://{images}/teamfancontent/182/players/934972893.png');
}

.Title
{
    font-size:40px;
    margin-left:264px;
    text-transform:uppercase;
    color:white;
    font-family: titleFont;
    font-weight: semi-bold;
}

.Division
{
    font-size: 24px;
    margin-left: 264px;
    text-transform: uppercase;
    color: #DDD;
    font-family: titleFont;
    font-weight: semi-bold;
}

.Achievements
{
    font-size: 14px;
    margin-left: 264px;
    text-transform: uppercase;
    color: #888;
    font-family: titleFont;
    font-weight: semi-bold;
    margin-top:10px;
}

.RightTeamButtons
{
    horizontal-align:right;
    margin-right:264px;
}

#BecomeFan
{
    width:196px;
    height:48px;
    background-color:#175CF0;
    border-radius:4px;
    margin-top:24px;
}

#BecomeFan Label
{
    horizontal-align:center;
    vertical-align:center;
    text-transform:uppercase;
    color:white;
}

.FavoriteTeam
{
    width:175px;
    height:24px;
    horizontal-align:right;
    margin-top:24px;
}

.FavoriteTeam Label
{
    text-transform:uppercase;
    horizontal-align:right;
}

#FavoriteTeamButton
{
    background-image: url('file://{images}/dpc/favorite.png');
    height:24px;
    width:24px;
    margin-left:5px;
    horizontal-align:right;
}

#TeamLogo
{
    width: 200px;
    height: 200px;
    horizontal-align: center;
}

#Players
{
    margin-left:264px;
    margin-top:205px;
    height:505px;
    width:696px;
}

#PlayerTabs
{
    margin-left: 25px;
    margin-top: 205px;
    height: 505px;
    width: 696px;
}

#LatestContainer
{
    width: 671px;
    height: 471px;
    background-color: #030911;
}