DOTADPCTeamScheduleSingle{height: 380px;width: 300px;visibility: visible;}#ScheduleList{width: 100%;height: 100%;}.StartedOnly,
.UpcomingOnly{width: 200px;}#WinsLosses{width: 100px;}.StartedOnly,
.Upcoming .UpcomingOnly{visibility: visible;}.Upcoming .StartedOnly,
.UpcomingOnly{visibility: collapse;}.WinsLosses{width: 100px;}.ScheduledGameRow{height: 50px;vertical-align: middle;}.Won #Result{color: winnerGreen;color: #70d270;vertical-align: center;}.Lost #Result{color: loserRed;color: #db3a2c;vertical-align: center;}.NextMatch{background-color: selectedTextBackgroundColor;}.VersusLabel,
#TeamLogoOpponent,
.SeriesDay,
.UpcomingOnly,
.StartedOnly,
.UpcomingTime,
.WinLossStarted,
.ResultStarted{vertical-align: center;text-align: center;font-size: 16px;color: bluegreyTextDim;font-weight: semi-bold;}.VersusLabel{width: 28px;horizontal-align: left;text-align: left;font-size: 14px;font-weight: normal;margin-left: 2px;}.ResultStarted, .WinLossStarted{color: bluegreyTextReg;}.SeriesDay{width: 80px;text-align: left;margin-left: 8px;}#TeamLogoOpponent{width: 32px;height: 32px;margin: 0px 4px;}