DOTADPCTeamScheduleSingle{height: 380px;width: 300px;visibility: visible;}#ScheduleList{width: 100%;height: 100%;}.StartedOnly,
.UpcomingOnly{width: 200px;}#WinsLosses{width: 100px;}.StartedOnly,
.Upcoming .UpcomingOnly{visibility: visible;}.Upcoming .StartedOnly,
.UpcomingOnly{visibility: collapse;}.WinsLosses{width: 100px;}.ScheduledGameRow{height: 50px;vertical-align: middle;transition-duration: 0.2s;transition-property: brightness;}.ScheduledGameRow:hover{brightness: 2.0;}.ScheduledGameRow.TBD:hover{brightness: 1.0;}.Won #Result{color: winnerGreen;color: #70d270;vertical-align: center;margin-left: 8px;}.Lost #Result{color: loserRed;color: #db3a2c;vertical-align: center;margin-left: 8px;}.VersusLabel,
#TeamLogoOpponent,
.SeriesDay,
.UpcomingOnly,
.StartedOnly,
.UpcomingTime,
.WinLossStarted,
.TBDTime,
.ResultStarted{vertical-align: center;text-align: center;font-size: 16px;color: bluegreyTextDim;font-weight: semi-bold;}.VersusLabel{width: 28px;horizontal-align: left;text-align: left;font-size: 14px;font-weight: normal;margin-left: 24px;}.ResultStarted, .WinLossStarted{color: bluegreyTextReg;}.NextMatch{background-color: gradient( linear, 0% 0%, 100% 0%, from( #8AA8A80c ), to( #8AA8A800 ) );}.NextMatch .SeriesDay, 
.NextMatch .StartedOnly,
.NextMatch .UpcomingTime,
.NextMatch .TBDTime,
.NextMatch .WinLossStarted,
.NextMatch .ResultStarted{color: bluegreyTextBright;}.NextMatch .VersusLabel{color: bluegreyTextReg;}.SeriesDay{width: 80px;text-align: left;margin-left: 12px;}.UpcomingTime{margin-left: 8px;}#TeamLogoOpponent{width: 32px;height: 32px;margin: 0px 4px;}.TBDTime{visibility: collapse;margin-left: 8px;}.TBD .TBDTime{visibility:visible;}.TBD .UpcomingTime,
.TBD .SeriesDay{visibility: collapse;}.Highlight{background-color: gradient( linear, 0% 0%, 100% 0%, from( #8AA8A80c ), to( #8AA8A800 ) );}