/* styles for the demo mode button */

DemoModeButton
{
	height: 40px;
}

.DemoArrow
{
	width: 14px;
	height: 12px;
	margin-left: 10px;
	margin-bottom: 3px;
	vertical-align: center;

	background-image: url("s2r://panorama/images/control_icons/arrow_top_right_png.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 12px 12px;
}

.DemoButton
{
	padding: 4px 23px 0px 20px;
	vertical-align: bottom;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #596771 ), to( #71808a  ));

	box-shadow: fill #11181e40 0px 1px 6px 0px;

	border-bottom: 1px solid #00000088;

	transition-property: background-color;
	transition-duration: .2s;

	flow-children: right;
	tooltip-position: bottom;
	visibility: collapse;

	height: 100%;
	wash-color: #99999922;
}

#InnerPanel .DemoButton
{
	width: 100%;
	vertical-align: top;
}

#InnerPanel .DemoArrow
{
	visibility: collapse;
}

.SmallDemoButton .DemoButton
{
	height: 39px;
	padding: 5px 23px 3px 20px;
	background-size: 15px 15px;
}

.DemoButton Label
{
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	vertical-align: middle;
}

.DemoButtonLabel
{
	vertical-align: middle;
}

.SmallDemoButton .DemoButton Label
{
	font-size: 22px;
}

.DemoButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #71808aEF ), to( #a8b5bfEF ));
	box-shadow: fill #11181e20 0px 4px 14px 0px;
}

.DemoButton:active
{
	wash-color: #ffffff;
}

.DemoButton:hover Label
{
	color: white;
}

DemoModeButton.PreviewMode .DemoButton.StartDemo
{
	background-color: #ccffcc15;
}

DemoModeButton.PreviewMode .DemoButton.StartDemo:hover
{
	background-color: #ccffcc33;
}

.DemoButton.StartDemo
{
	/* The StartDemo button starts visible */
	visibility: visible;
}

DemoModeButton.GameActive .StartDemo
{
	/* Hide the Demo Hero button when players are in a regular Dota game */
	visibility: collapse;
}

DemoModeButton.DemoActive .StartDemo
{
	/* Hide the Demo Hero button when DemoActive class is added */
	visibility: collapse;
}

DemoModeButton.DisableDemo .StartDemo
{
	visibility: collapse;
}

DemoModeButton.GameActive .ReturnToDemo
{
	/* Hide the Return to Demo button when players are in a regular Dota game */
	visibility: collapse;
}

DemoModeButton.DemoActive .ReturnToDemo
{
	/* Show the Return to Demo button when DemoActive class is added */
	visibility: visible;
}

DemoModeButton.DisableDemo .ReturnToDemo
{
	visibility: collapse;
}

DemoModeButton.DemoActive .ReturnToDemo
{
	wash-color: #99999922;

	transition-property: background-color;
	transition-duration: .2s;
	animation-name: pulseglow;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	box-shadow: fill #26420D -4px -4px 8px 9px;
}

@keyframes 'pulseglow'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #54921D ), to( #455C12 ) );
	}

	50%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FBF26 ), to( #64831B ) );
	}

	100%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #54921D ), to( #455C12 ) );
	}
}

.DemoButton.ReturnToDemo:hover
{
	wash-color: #aaaaaa22;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #71951E ), to( #8CB924 ));
}

.DemoButton.ReturnToDemo:active
{
	wash-color: #ffffff22;
}

.DemoButton.ReturnToDemo:hover Label
{
	color: #e5e7e7;
}

.DemoButton.ReturnToDemo:active Label
{
	color: #f5f7f7;
}

.DebutDarkWillow .DemoButton Label
{
	text-overflow: shrink;
	height: 32px;
}

.BattlePassTextDemoButton
{
	height: 25px;
}

.BattlePassTextDemoButton:hover
{
	brightness: 2.0;
}
.BattlePassTextDemoButton:active
{
	brightness: 1.5;
}

.BattlePassTextDemoButton .DemoButton
{
	background-color: none;
	wash-color: white;
	padding: 0px;
	box-shadow: none;
}

.BattlePassTextDemoButton.DemoActive .DemoButton
{
	box-shadow: none;
	animation-name: none;
	wash-color: white;
}

.BattlePassTextDemoButton .DemoButton.ReturnToDemo:hover
{
	wash-color: white;
	background-color: none;
}
.BattlePassTextDemoButton .DemoButton.ReturnToDemo Label
{
	color: #708871;
}
.BattlePassTextDemoButton .DemoButton.ReturnToDemo .DemoArrow
{
	wash-color: #708871;
}

.BattlePassTextDemoButton .StartDemo Label
{
	color: textSecondaryBrightColor;
}
.BattlePassTextDemoButton .StartDemo .DemoArrow
{
	wash-color: textSecondaryBrightColor;
}

