#Diretide2020EventDetails.PopupPanel
{
	width: 1280px;
	height: 864px;
	background-color: #444;
	border: 0px none transparent;
	horizontal-align: center;
    vertical-align: middle;
    padding: 0;
    flow-children: none;
    overflow: noclip;
    
	background-image: url("s2r://panorama/images/events/diretide/2020/moreinfo_header_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}


.DiretideLogo
{
	width: 400px;
	height: 175px;
	horizontal-align: center;
	/* margin-bottom: 16px; */
    /* margin-top: 24px; */
    vertical-align: top;
	margin-top: -90px;
	background-image: url("s2r://panorama/images/events/diretide/2020/diretide_logo_en_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition-property: transform, pre-transform-scale2d, contrast, opacity;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
    z-index: 5;
    opacity: 0;

}

.PostPopupFadeIn
{
    animation-duration: .32s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.PopupPanel:not(.Hidden) .PostPopupFadeIn
{
    animation-name: logoFadeIn;
}




@keyframes 'logoFadeIn'
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

.Language_schinese .DiretideLogo, .Language_tchinese .DiretideLogo {
	background-image: url("s2r://panorama/images/events/diretide/2020/diretide_logo_cn_psd.vtex");
}

.Language_russian .DiretideLogo {
	background-image: url("s2r://panorama/images/events/diretide/2020/diretide_logo_ru_psd.vtex");
}

.MoreInfoRewardsContainer
{
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");

	width: 100%;
	height: 400px;
	vertical-align: bottom;
	horizontal-align: right;
	overflow: noclip;
	pre-transform-scale2d: .8;
}


#MoreInfoContainer
{
	width: 100%;
	height: 100%;

	padding: 16px;
	opacity: 1;
    z-index: 3;

	transition-property: opacity, background-color, transform, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.DetailsContainer 
{
	min-width: 100%;
	horizontal-align: center;
	flow-children: down;
	padding: 0 32px;
}

.SubList
{
	margin-left: 16px;
	margin-top: 4px;
	flow-children: down;
}

.TreasureContainer .SubList
{
	max-width: 400px;
	margin-right: 24px;
}

.SubListBullet,
.InfoBullet
{
	margin-top: 16px;
}

.InfoBullet
{
	font-family: titleFont;
    color:rgb(200, 198, 149);
	text-shadow: 1px 1px 2px 2 black;
	font-size: 16px;
}

.LimitWidth
{
    max-width: 700px;
}

.TreasureContainer
{
	flow-children: right;
	overflow: noclip;
}

.SubListBullet
{
	font-size: 16px;
	margin: 0;
	color:rgb(134, 143, 100);
	tooltip-position: right;
	tooltip-body-position: 0% 50%;
    tooltip-arrow-position: 50%;
    text-shadow: 1px 1px 2px 2 black;
}

#TreasureMovie
{
    width: 250px;
    height: 156px;
    opacity-mask: url("s2r://panorama/images/events/diretide/2020/treasure_mask_psd.vtex");
	//transform: scalex(-1);
	margin-left: -64px;
	margin-top: -24px;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	margin-bottom: -24px;
}

.TreasureEcon
{
	overflow: noclip;
}

.TreasureEcon .InspectIcon
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 30px;
	margin-right: 30px;
	opacity: 0.25;
	wash-color: #ABE04E;
}

.TreasureEcon:hover #TreasureMovie
{
	brightness: 2;
	pre-transform-scale2d: 1.05;
}

.TreasureEcon:hover .InspectIcon
{
	opacity: 1;
}

#CloseButton
{
    opacity: 0;
	width: 48px;
	height: 48px;
	background-image: url("s2r://panorama/images/events/aghanim/close_button_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	hue-rotation: -120deg;

	horizontal-align: right;
    z-index: 3;
    margin-right: 4px;
	margin-top: 6px;
	transition-property: brightness;
	transition-duration: 0.1s;
}


#CloseButton:hover
{
	brightness: 2.0;
}

#CloseButton:active
{
	brightness: 0.8;
}

.InfoBulletContainer
{
	flow-children: right;
	overflow: noclip;
}

.InfoIntro
{
	font-size: 48px;
	font-weight: black;
	text-transform: uppercase;
	font-family: titleFont;
	color: #ADDB26;
	color: gradient( linear, 0% 0%, 100% 0%, from( #BAE816 ), color-stop( 0.5, #FFF8B9  ), to( #BAE816 ) );
	padding: 0 64px;
    margin-bottom: 12px;
    margin-top: 56px;
	text-align: center;
	text-shadow: 0px 0px 12px 1 #ADDB2677;
	horizontal-align: center;
	transform: rotateX(65deg) scaleY(2.85) scaleX(.9);

}


.CandyBullet
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/events/diretide/2020/candybullet_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 16px;
	margin-top: 18px;
}

.CandyBullet1 { transform: rotateZ(-45deg); }
.CandyBullet2 { transform: rotateZ(-145deg); }
.CandyBullet3 { transform: rotateZ(-35deg); }

#FeatureContent.ExpandInfo #Candy
{
	opacity: 1;
	transform: translateY(0);
	pre-transform-scale2d: 1;
}

#FeatureContent.ExpandInfo #MoreInfoContainer
{
	opacity: 1;
	transform: translateY(0);
	pre-transform-scale2d: 1;
}

#Rewards
{
	margin-bottom: 110px;
	margin-right: -70px;
}

#Rewards2
{
	margin-bottom: -60px;
	margin-right: 110px;
}

#MoreInfoRewards
{
	width: 3200px;
	height: 480px;
	background-image: url("s2r://panorama/images/events/diretide/2020/moreinfo_rewards_psd.vtex");
	background-size: 100%;
	background-position: right;
	background-repeat: repeat;
	animation-duration: 28s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: scrollLeft;
}

#MoreInfoRewards2
{
	width: 3000px;
	height: 480px;
	background-image: url("s2r://panorama/images/events/diretide/2020/moreinfo_rewards2_psd.vtex");
	background-size: 100%;
	background-position: right;
	background-repeat: repeat;
	animation-duration: 25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: scrollLeft;
}


@keyframes 'scrollLeft'
{
	0%
	{
		transform: translateX(0px);
		wash-color: #AAF6DF00;
	}
	10%
	{
		wash-color: #AAF6DF;
	}
	20%
	{
		wash-color: #AAF6DF00;
	}
	30%
	{
		wash-color: #99C178;
	}
	40%
	{
		wash-color: #AAF6DF00;
	}
	50%
	{
		wash-color: #99C178;
	}
	60%
	{
		wash-color: #AAF6DF00;
	}
	70%
	{
		wash-color: #99C178;
	}
	80%
	{
		wash-color: #AAF6DF00;
	}
	90%
	{
		wash-color: #99C178;
	}
	100%
	{
		transform: translateX(-2677px);
		wash-color: #AAF6DF00;
	}
}


@keyframes 'scrollLeft2'
{
	0%
	{
		transform: translateX(0);
	}
	100%
	{
		transform: translateX(-2677px);
	}
}

#CornerFog.SceneLoaded
{
	opacity: 1;
}

#CornerFog
{
	width: 100%;
	height: 500px;
	vertical-align: bottom;
	horizontal-align: right;
	transition-property: opacity;
	transition-duration: .25s;
	opacity-mask: url("s2r://panorama/images/masks/left_top_fade_psd.vtex")0;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .8s;
	transition-timing-function: ease-in;
	brightness: 1.2;
}

#BothRewards
{
	width: 500px;
	height: 450px;
	vertical-align: bottom;
	horizontal-align: right;
	overflow: noclip;
}


#BothRewardsBlur
{
	width: 500px;
	height: 450px;
	vertical-align: bottom;
	horizontal-align: right;
	wash-color: rgb(255, 196, 0);
	opacity: .5;
	z-index: 2;
	pre-transform-scale2d: 1.1;
	blur: gaussian(12);
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-name: ghostly;
	brightness: 2;

	opacity: 0.5;

	transition-duration: .31s;
	transition-property: opacity;
	transition-delay: .4s;
}

.ExpandInfo #BothRewardsBlur
{
	opacity: 1;
	transition-delay: 0s;
	transition-duration: 0s;
}


@keyframes 'ghostly'
{
	0%
	{
		pre-transform-scale2d: 1.1;
		wash-color: rgb(0, 255, 145);
	}
	50%
	{
		pre-transform-scale2d: 0.9;
		wash-color: rgb(255, 16, 0);
	}
	100%
	{
		pre-transform-scale2d: 1.1;
		wash-color: rgb(0, 255, 145);
	}
}

.Dot
{
	width: 6px;
	height: 6px;
	vertical-align: top;
	margin: 6px 6px 4px 0px;
	border-radius: 50%;
	background-color:rgb(134, 143, 100);
}


#WebButtonsContainer
{
	horizontal-align: center;
	flow-children: right;
	vertical-align: bottom;
}

.WebButton
{
	font-size: 13px;
	letter-spacing: 1px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 4px;
	text-transform: uppercase;
	color: #748a60ff;
	text-align: center;
	text-overflow: shrink;
	transition-property: border, color;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
	font-family: titleFont;
	padding: 6px 16px;
	border: 1px solid #748a6012;

	text-shadow: 1px 1px 2px 2 black;
}

.DailyWinLabel
{
	horizontal-align: center;
	margin-top: 12px;
	color:  rgb(255, 193, 255);
    text-shadow: 0px 0px 4px 3.0 rgba(155, 0, 155, 1);
    letter-spacing: 1px;
    font-size: 20px;
    font-family: titleFont;
    font-weight: bold;
	text-align: center;
	margin-bottom: 12px;

}

.WebButton:hover
{
	color:  #ACD854;
	border: 1px solid  #8bb13f;
}

#DetailsContainer
{
	flow-children: none;
	width: 100%;
	height: 100%;
}

.DetailsColumn
{
	width: 50%;
	height: 100%;
	flow-children: down;
	margin: 0 12px;
	horizontal-align: right;
	margin-top: 24px;
}

#LeftColumn
{
	horizontal-align: left;
}

.DetailSection
{
	width: 100%;
	flow-children: down;
	margin-bottom: 24px;
}

.DetailSection .TreasureEcon
{
	horizontal-align: center;
}

.DetailSection #TreasureMovie
{
	width: 480px;
	height: 300px;
	margin: 0;

	transform: scaleX(-1);
}

.DetailSection .InspectIcon
{
	visibility: collapse;
}

.SectionTitle
{
	font-size: 20px;
	font-family: titleFont;
	color: #ADDB26;
	color: gradient( linear, 0% 0%, 100% 0%, from( #BAE816 ), color-stop( 0.5, #FFF8B9  ), to( #BAE816 ) );
	color: gradient( linear, 0% 0%, 0% 100%, from( #fff27f ), to( #BAE816 ) );
	padding: 0 64px;
    margin-bottom: 12px;
	text-align: center;
	text-shadow: 0px 0px 8px 1 #cbd4ad55;
	horizontal-align: center;
}


.SectionDesc
{
	font-size: 18px;
	color:rgb(148, 151, 137);
	padding: 0 16px;
    margin-bottom: 12px;
	text-align: center;
	text-shadow: 1px 1px 2px 1 #000;
	horizontal-align: center;
	max-width: 450px;
}

.SectionDesc.DailyPointsDesc
{
	color:#CEAEC8;
}


.SectionButton
{
	font-size: 13px;
	letter-spacing: 1px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 4px;
	margin-top: 14px;
	text-transform: uppercase;
	color: #748a60ff;
	text-align: center;
	text-overflow: shrink;
	transition-property: border, color, background-color;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
	font-family: titleFont;
	padding: 6px 16px;
	border: 1px solid #748a6055;
	background-color: #000a;
	text-shadow: 1px 1px 2px 2 black;
}

.SectionButton
{
}

.SectionButton:hover
{
	color:  #ACD854;
	border: 1px solid  #8bb13f;
}

.SectionButton.ReplayTrailer
{
	color: rgb(162, 212, 115);
	text-shadow: 1px 1px 2px 3 black;
	background-color: #0000;
	border-color: transparent;
	margin-top: -22px;
	margin-bottom: -10px;
}


.SectionButton.ReplayTrailer:hover
{
	color:  #e0ffa3;
	text-decoration: underline;
}