@define event_primary: #ffffff;
@define event_secondary: #cccccc;

.EventRootCell
{
	overflow: clip;
	flow-children: down;

	transition-property: brightness;
	transition-duration: 0.2s;
}

.EventRootCell:hover
{
	brightness: 1.5;
}

.EventRootCell:active
{
	brightness: 1.3;
}

#MainContents
{
	width: 336px;
	horizontal-align: right;
	height: fill-parent-flow( 1.0 );
}


#Background
{
	visibility: visible;
	background-image: url("s2r://panorama/images/front_page/frostivus_2019_front_cell_background_psd.vtex");
	background-size: 100%;
	background-position: center;
	horizontal-align: right;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	opacity: 1.0;
	/* box-shadow: fill #00000055 -2px -2px 4px 4px; */

	/* border-top: 2px solid #99999920;
	border-left: 2px solid #99999920;
	border-right: 2px solid #000000c0;
	border-bottom: 2px solid #000000c0; */
}

/* #BackgroundTint
{
	horizontal-align: right;
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0009 ), color-stop( 0.2, #0000 ), color-stop( 0.5, #0000 ), to( #0009 ) );
} */

#Title
{
	margin-top: 4px;
	/* font-size: 26px;
	letter-spacing: 2px;
	text-shadow: 2px 4px 14px black;
	font-family: titleFont;
	color: gradient( linear, 0% 0%, 0% 100%, from( event_primary ), color-stop( .45, event_secondary ), to( #ffa0a0 ) );
	text-shadow: 2px 2px 4px black;
	text-transform: uppercase; */
	background-image: url("s2r://panorama/images/front_page/frostivus_title_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 76px;
	horizontal-align: center;
}

.Language_schinese #Title,
.Language_tchinese #Title
{
	background-image: url("s2r://panorama/images/front_page/frostivus_title_cn_psd.vtex");
	width: 100%;
	height: 76px;
	background-size: auto 90%;
	background-position: top;
}

.EventTitle
{
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	padding: 4px 0 0 4px;
	vertical-align: top;
}

#Subtitle
{	
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 2px 1px #000000ab;
	margin-top: -10px;
	horizontal-align: center;
}


.EventEnded #Subtitle
{	
	visibility: collapse;
}

#Subtitle_EventEnded
{
	margin-left: 10px;
	letter-spacing: 1px;
	font-size: 16px;
	width: 200px;
	color: #fff;
	text-shadow: 4px 4px 4px black;
	margin-top: -1px;
	vertical-align: bottom;

	visibility: collapse;
}

.EventEnded #Subtitle_EventEnded
{
	visibility: visible;
}

#PurchaseAndLevels
{
	height: 100%;
	width: fill-parent-flow( 1.0 );
}

.EventEnded #PurchaseAndLevels
{
	visibility: collapse;
}

#CurrentLevelContainer
{
	vertical-align: bottom;
	width: 100%;
	flow-children: right;
	margin-bottom: 8px;

	visibility: collapse;
}

.HasEventPoints #CurrentLevelContainer
{
	visibility: visible;
}

#CurrentLevelInfo
{
	flow-children: down;
	vertical-align: middle;
	width: 100%;
	padding-top: 4px;
	padding-left: 8px;
}

#CurrentLevelProgress
{
	horizontal-align: left;
	height: 10px;
	width: 200px;
	border-radius: 50px;
}

#CurrentLevelProgress .ProgressBarLeft
{
	background-color: white;
}

#EventLevel
{
	padding-left: 24px;
	vertical-align: middle;
}

.EventLevelProgressText
{
	font-size: 13px;
	horizontal-align: left;
	text-align: left;
	margin-top: 2px;
	margin-left: 2px;
	color: event_secondary;
	text-shadow: 0px 2px 2px black;
	text-transform: uppercase;
	letter-spacing: 1px;
}


#EventLevelBadge
{
	width: 72px;
	height: 72px;
	background-image: url("s2r://panorama/images/events/frostivus/frostivus_snowflake_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	/* wash-color: #b0b0b0; */
}

#EventLevelNumber
{
	horizontal-align: center;
	vertical-align: middle;
	color: rgb(71, 8, 8);
	font-size: 32px;
	font-weight: bold;
	z-index: 2;
	padding-top: 8px;
	text-align: center;
	margin-left: -2px;
	transform: rotateZ(-5deg);
	/* text-shadow: 0px 0px 14px event_primary; */
}


 #DailyBonusAvailable
{
	flow-children: right;
	horizontal-align: left;
	margin-left: 2px;
	margin-bottom: 2px;

	color: white;
	/* letter-spacing: 1px; */
	font-size: 18px;

	animation-name: DailyBonusGlow;
	animation-duration: 0.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;

	text-shadow: 0px 2px 2px #000000;

	visibility: collapse;
}

.DailyBonusAvailable #DailyBonusAvailable
{
	visibility: visible;
}

@keyframes 'DailyBonusGlow'
{
	0%		{ text-shadow: 0px 2px 2px #000000; }
	100%	{ text-shadow: 0px 2px 2px #000000; }
}

#DailyBonusUsed
{
	flow-children: down;

	visibility: collapse;
}

.DailyBonusClaimed #DailyBonusUsed
{
	visibility: visible;
}

#DailyBonusUsed > Label
{
	horizontal-align: center;
	color: event_secondary;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 2px 2px 4px black;
}

#DailyBonusCountdown
{
}

#DailyBonusCountdown > Label
{
	color: #fff;
	font-size: 16px;
	margin-top: -2px;
	text-shadow: 2px 2px 4px black;
}


#UnclaimedRewards
{
	height: 30px;
	width: 100%;
	/* background-color: gradient( linear, 0% 0%, 0% 100%, from( event_primary ), to( event_secondary ) ); */
	/* border-top: 2px solid #99999920;
	border-left: 2px solid #99999920;
	border-right: 2px solid #000000c0;
	border-bottom: 2px solid #000000c0; */

	animation-name: BrightnessPulse;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	visibility: collapse;
}

.EventHasUnclaimedRewards #UnclaimedRewards
{
	visibility: visible;
}

@keyframes 'BrightnessPulse'
{
	0% { brightness: 0.6; }
	100% { brightness: 1.5; }
}

.UnclaimedCount
{
	horizontal-align: center;
	vertical-align: middle;
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 3px;
	text-shadow: 0px 0px 12px rgba(188, 253, 253, 0.3);
	visibility: collapse;
}

.EventHasUnclaimedRewards.EventHasUnclaimedRewardsSingular .UnclaimedCount.Singular,
.EventHasUnclaimedRewards:not(.EventHasUnclaimedRewardsSingular) .UnclaimedCount.Plural
{
	visibility: visible;
}