
#TakeoverPageLeft
{
	width: 1920px;
	height: 1080px;
	background-color: black;
	horizontal-align: center;
	vertical-align: top;	
	opacity: 0;
	overflow: clip;
	
	transition-property: width, height, transform, brightness;
	transition-duration: .48s, .48s, .48s, .3s; 
	transition-timing-function: ease-in;
}

#TakeoverPageLeft.ShowDebut
{
	opacity: 1;
}

#FrontpageCellDebutArcanaZeus,
#FrontpageCellDebutArcWarden
{
	width: 336px;
	height: 600px;
	overflow: clip;
}

#FrontpageCellDebutArcWarden #TakeoverPageLeft
{
	width: 736px;
	height: 1000px;
	transform: translateY(-240px)  translateX(180px);
	opacity: 1;
}

#FrontpageCellDebutArcanaZeus #TakeoverPageLeft
{
	width: 368px;
	height: 480px;
	transform: translateX(0px);
	opacity: 1;
}

#FrontpageCellDebutArcanaZeus .DebutCellHeader,
#FrontpageCellDebutArcanaZeus .DebutCellFooter,
#FrontpageCellDebutArcWarden .DebutCellHeader,
#FrontpageCellDebutArcWarden .DebutCellFooter
{
	opacity: 1;
}


#FrontpageCellDebutArcanaZeus #CustomHeader
{
	background-color: black;
	visibility: visible;
	color: #528EA5;	
	font-weight: normal;
	box-shadow: none;
}

#FrontpageCellDebutArcanaZeus #CustomFooterText
{
	color: #cccccc;
	text-shadow: 0px 1px 3px 3.0 #000000;
}

#CustomHeader
{
	background-color: #528EA5;
	visibility: visible;
	color: black;
	text-shadow: none;
	font-weight: bold;


	transition-property: color, background-color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#CustomFooterText
{
	visibility: visible;
	color: #7AFCFC;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	text-shadow: 0px 0px 3px 3.0 #13B37933;
}

#FrontpageCellDebutArcanaZeus:hover #CustomHeader,
#FrontpageCellDebutArcWarden:hover #CustomHeader
{
	color: white;
}

#CustomFooter
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.8, #0000004f  ), color-stop( 0.85, #0000006f  ), to( #000000ff ) );	
	vertical-align: bottom;
	width: 100%;
	height: 100%;
}

#FrontpageCellDebutArcanaZeus #CustomFooter
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.8, #0000004f  ), color-stop( 0.85, #0000006f  ), to( #000000ff ) );	
	vertical-align: bottom;
	width: 100%;
	height: 100%;
}

#CustomFooterDetails
{
	visibility: visible;
	vertical-align: bottom;
	margin-bottom: 32px;
	z-index: 1;
	color: #cccccc;
	max-height: 1200px;
}

#FrontpageCellDebutArcanaZeus:hover #CustomFooterDetails,
#FrontpageCellDebutArcWarden:hover #CustomFooterDetails
{
	opacity: 1;
}

#DebutBackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/compendium/spring2016/store/bp_large_upsell_psd.vtex");
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
	
	transition-property: brightness, transform;
	transition-duration: .28s; 
	transition-timing-function: ease-in;
	
	border-top: 1px solid #ffffff11;
	border-left: 1px solid #ffffff07;
	border-right: 1px solid #ffffff07;
}

#BPLogo
{
	width: 303px;
	height: 89px;
	background-image: url("s2r://panorama/images/compendium/spring2016/store/bp_logo_large_ti6_no_tag_psd.vtex");
	background-size: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 70px;
	margin-left: 5px;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
}

#DebutBackgroundImage:hover
{
	//brightness: 1.5;
	//transform: scaleX(1.01) scaleY(1.01);
}


#FrontpageCellDebutArcWarden #DebutBackgroundImage
{
	background-size: 120% 53%;
	background-position: 50% 50%;
}


#FrontpageCellDebutArcanaZeus #DebutBackgroundImage
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_zeus/cell_bg_clouds_psd.vtex");
	
	
}

.DebutArcWarden #DebutInformation
{
	background-color: transparent;
	wash-color: white;
	opacity: 1;
	pre-transform-scale2d: 1;
}

.Initialize.DebutArcWarden #DebutInformation
{
	wash-color: #D681B2;
	opacity: 0;
	pre-transform-scale2d: .92;
}



#DebutInformation
{
	width: 600px;
	height: 800px;
	background-color: #000000cc;
	horizontal-align: center;
	margin-top: 150px;
	margin-left: 790px;

	transition-property: wash-color, opacity, pre-transform-scale2d;
	transition-duration: 2.5s, 2s, 3s; 
	transition-timing-function: ease-in;	
}

#HeroName
{
	font-size: 54px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 3px;
	margin-left: 16px;
	margin-top: -16px;

}

#Model,
#ModelBackground
{
	transform: scaleX(-1);
	width: 100%;
	height: 100%;
	pre-transform-scale2d: 1;
	//background-color: black;
	//blur: gaussian( 1, 1, 1);
	vertical-align: middle;
	horizontal-align: center;
	transition-property: width, height, blur;
	transition-duration: .48s; 
	transition-timing-function: ease-in;	
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
}

#FrontpageCellDebutArcanaZeus #Model,
#FrontpageCellDebutArcanaZeus #ModelBackground,
.ArcanaZeus #Model,
.ArcanaZeus #ModelBackground
{
	transform: scaleX(1);

}

#FrontpageCellDebutArcanaZeus #Model
{
	border-radius: 1px;
}

#FrontpageCellDebutArcanaZeus #ModelBackground,
.DebutArcWarden #ModelBackground,
.ArcanaZeus #ModelBackground
{
	width: 25%;
	height: 25%;
	pre-transform-scale2d: 4;
	blur: gaussian (1,1,1);
}

.ArcanaZeus #ModelBackground
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_zeus/bg_clouds_psd.vtex");	
}

.DebutArcWarden #ModelBackground
{
	transform: scaleX(1);
	background-image: url("s2r://panorama/images/leaf_pages/debut_arc_warden/background_psd.vtex");
}



#Model1
{
	width: 1920px;
	height: 1080px;
	pre-transform-scale2d: 1;
	horizontal-align: center;
	transform: translateX(-370px) translateY( 0px );
	transition-property: width, height, transform, pre-transform-scale2d;
	transition-duration: .48s; 
	transition-timing-function: ease-in;
	visibility: collapse;
}

.Compact #Model1
{
	width: 1260px;
	height: 640px;
	transform: translateX(-430px) translateY( 20px );
}

#TakeoverPageLeft.Compact
{
	width: 336px;
	height: 480px;

	transform: translateX( -176px) translateY( 152px);
}

.NotOnTodayPage #TakeoverPageLeft
{
	opacity: 1;
}

#FrontpageCellDebutArcanaZeus:hover #DebutBackgroundImage
{
	brightness: 1.8;
}

#FrontpageCellDebutArcWarden:hover #DebutBackgroundImage
{
	brightness: 3;
}


.DebutCellHeader
{
	color: #528EA5;
	background-color: black;
	font-size: 14px;
	margin: 0px;
	padding: 4px 8px 0px 12px;
	text-shadow: 0px 0px 8px 2.0 #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
	font-weight: medium;

	transition-property: color, opacity;
	transition-duration: 0.15s;
	transition-timing-function: ease-in; 	
	opacity: 0;
}

.DebutCellFooter
{
	background-color: #00000026;
	opacity: 1.0;
	width: 100%;
	vertical-align: bottom;
	height: 134px;
	transform: translateY(0px);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.7, #0000003f  ), color-stop( 0.75, #0000003f  ), to( #000000ff ) );
	transition-property: transform,background-color, opacity;
	transition-duration: 0.25s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	opacity: 0;
}

.DebutCellTitle
{
	color: #cccccc;
	font-size: 16px;
	margin-left: 12px;
	margin-bottom: 6px;
	vertical-align: bottom;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 1px 3px 3.0 #000000;	
	z-index: 1;

}

.Compact .DebutCellFooter, .Compact .DebutCellHeader
{
	opacity: 1;
}

//---------------------------------------------------------------------------------------
#InformationBody
{
	opacity: 0;
	transition-property: wash-color, opacity, pre-transform-scale2d;
	transition-duration: 3s; 
	transition-delay: 2s; 
	transition-timing-function: ease-in;	
}

#InformationBody.Initialize
{
	opacity: 1;
}

#InformationBody Label
{
	//color: white;
}

.HeaderPanel
{
	margin: 0px;
	margin-bottom: 0px;
}

.HeaderPanel Label
{
	font-size: 26px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	margin-bottom: 6px;
}

.NewHero .HeaderPanel
{
	margin-top: 0px;
}

.NewHero .HeaderPanel Label 
{
	font-size: 16px;
	margin-left: 16px;
	color: #777777;
}

#HeroName,
#ItemName
{
	font-weight: semibold;
	text-shadow: 0px 1px 12px 3.0 #68E7E211;
}

#ItemSubtitle
{
	margin-top: -10px;	
	transition-property: wash-color, opacity, pre-transform-scale2d;
	transition-duration: 3s; 
	transition-delay: 2s; 
	transition-timing-function: ease-in;
}

.DebutArcWarden #ItemSubtitle
{
	wash-color: #D681B2;
	opacity: 0;
	pre-transform-scale2d: .99;
}

#InformationBody.Initialize #ItemSubtitle
{
	wash-color: white;
	opacity: 1;
	pre-transform-scale2d: 1;	
}



#ItemSubtitle Label
{
	tooltip-position: bottom;
}

#Rarity
{
	color: #ADE55C;
	margin-right: 6px;
}


#ItemLore
{
	margin-left: 32px;
	margin-right: 32px;
	margin-bottom: 10px;
	font-style: italic;
	color: #A4BABC;
}

.NewHero #ItemLore
{
	margin-top: 32px;
	font-size: 24px;
	font-style: normal;
	max-height: 320px;
	overflow: clip scroll;

}

#InnerPanel
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	height: 570px;
	background-color: #000000bb;
	overflow: clip scroll;
	margin-bottom: 16px;
}

.PromoActive #InnerPanel
{
	height: 550px;
}


.NewHero #InnerPanel
{
	background-color: transparent;
	border: 0px solid transparent;

}

.HeaderLabel
{
	margin-top: 8px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 8px;
	text-transform: uppercase;
	horizontal-align: center;
	color: #dddddd;
}

.BulletList
{
	margin-left: 16px;
}

.BulletList Label
{
	color: #A4BABC;
	font-size: 18px;
	font-weight: light;
}

.Bullet
{
	width: 4px;
	height: 4px;
	background-color: #ADE55C;
	vertical-align: middle;
	margin: 6px;
	margin-top: 3px;
}

.LastBullet
{
	margin-bottom: 64px;
}

.CloseButton
{
	horizontal-align: right;
	background-color: black;
	margin: 12px;
}

#AbilityVideos
{
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 32px;
}

.AbilityIcon
{
	width: 56px;
	height: 56px;
	background-color: #222222;
	background-size: contain;
	border: 2px solid black;
	margin-right: 8px;
	tooltip-position: bottom;
}

.NewHero .AbilityIcon
{
	width: 72px;
	height: 72px;
	margin-right: 16px;
}


.DebutArcWarden #Ability1
{
	background-image: url("s2r://panorama/images/spellicons/arc_warden_flux_png.vtex");

}
.DebutArcWarden #Ability2
{
	background-image: url("s2r://panorama/images/spellicons/arc_warden_magnetic_field_png.vtex");
}
.DebutArcWarden #Ability3
{
	background-image: url("s2r://panorama/images/spellicons/arc_warden_spark_wraith_png.vtex");
}
.DebutArcWarden #Ability4
{
	background-image: url("s2r://panorama/images/spellicons/arc_warden_tempest_double_png.vtex");
}

#AbilityIconContainer
{
	z-index: 1;
	horizontal-align: center;
	width: fit-children;
}

#ExtraInfo
{
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	wash-color: #D681B2;
	opacity: 0;
	pre-transform-scale2d: .99;
	transition-property: wash-color, opacity, pre-transform-scale2d;
	transition-duration: 3s; 
	transition-delay: 2s; 
	transition-timing-function: ease-in;
}

#InformationBody.Initialize #ExtraInfo
{
	wash-color: white;
	opacity: 1;
	pre-transform-scale2d: 1;	
}


#Ability1,
#Ability2,
#Ability3
{
	margin-bottom: 12px;
}

#Ability1
{
	background-image: url("s2r://panorama/images/spellicons/zuus_arc_lightning_png.vtex");

}
#Ability2
{
	background-image: url("s2r://panorama/images/spellicons/zuus_lightning_bolt_png.vtex");
}
#Ability3
{
	background-image: url("s2r://panorama/images/spellicons/zuus_static_field_png.vtex");
}
#Ability4
{
	background-image: url("s2r://panorama/images/spellicons/zuus_thundergods_wrath_png.vtex");
}

.AbilityIcon:hover
{
	//box-shadow: fill #69E9E366 -5px -5px 10px 10px;
	//border: 2px solid #69E9E3;
}

.AbilityVideoImage
{
	width: fill-parent-flow(1.0 );
	margin-right: 32px;
	height: 264px;
	background-color: #222222;
	border: 2px solid black;
}

#FooterPanel
{
	vertical-align: bottom;
	width: 100%;
	height: 64px;
}


.PromoActive #FooterPanel
{
	height: 192px;
}

#Buttons
{
	horizontal-align: right;
}

PurchaseButton
{
	margin-right: 16px;
}

.DemoSpacer 
{
    width: 16px;
}


.DebutArcWarden #Buttons
{
	horizontal-align: left;
    margin-top: 32px;
    margin-left: 32px;
	min-height: 132px;    
}

#BottomGradient
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.7, #0000003f  ), color-stop( 0.75, #0000003f  ), to( #000000ff ) );	
}

.VideoPanel
{
	width: 526px;
	height: 263px;
	border: 1px solid #444444;
	horizontal-align: center;
	margin-top: 8px;
	margin-bottom: 32px;
	margin-left: 8px;
	margin-right: 8px;
}

#CustomStuffContainer
{
	horizontal-align: center;
	width: 390px;
	height: 250px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_zeus/customstuff_psd.vtex");
}

#CustomContainer
{
	width: 100%;
	height: 128px;
	
	margin-top: 8px;
	margin-left: 32px;
	margin-right: 32px;
	margin-bottom: 32px;
}

.CustomSquare
{
	width: 128px;
	height: 128px;
	background-color: #202931aa;
	border: 1px solid #444444;
	margin-left: 8px;
}

.CustomImage
{
	horizontal-align: center;
	vertical-align: middle;
	margin: 8px;
	background-size: cover;
	border: 1px solid black;
	box-shadow: fill #00000066 -4px -4px 8px 8px;
}

.NoLeftMargin
{
	margin-left: 0px;
}
	

#Portrait
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_zeus/customportrait_psd.vtex");	
	width: 96px;
	height: 118px;
}

#HeroIcon
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_zeus/heroicon_psd.vtex");	
	width: 96px;
	height: 54px;
	vertical-align: top;
	margin-top: 16px;
}

#AbilityIcon
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_zeus/abilityicon_psd.vtex");	
	background-size: 100%;
	width: 96px;
	height: 96px;
}

#AbilityIcon2
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_zeus/abilityicon2_psd.vtex");	
	background-size: 100%;
	width: 96px;
	height: 96px;
}

#MinimapIcon
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_zeus/minimapicon_psd.vtex");	
	width: 32px;
	height: 32px;
	vertical-align: bottom;
	margin-bottom: 16px;
	border: 0px solid transparent;
}

.PromoActive .Promo
{
	visibility: visible;
}

.Promo
{
	horizontal-align: right;
	vertical-align: bottom;
	visibility: collapse;
	margin-right: 16px;
	margin-bottom: 16px;
	margin-top: 16px;
}

.Promo Label
{
	color: #CEFF54;
	font-size: 16px;
	text-shadow: 0px 0px 12px 1.0 #8DE343aa;
	font-weight: thin;
}


#Ranged
{
	color: #aeaeae;
}

#Intro
{
	font-size: 32px;
	letter-spacing: 2px;
	margin: 0px;
	margin-left: 16px;
	
	transform: translateX( 60px);
	opacity: 0;
	color: red;
	
	transition-property: opacity, color, transform;
	transition-duration: 5s; 
	transition-timing-function: ease-in;	
}

#DebutInformation.Initialize #Intro
{
	transform: translateX( 0px);
	opacity: 1;
	color: white;
}

#Emoticon
{
	margin-left: 8px;
	margin-top: -10px;
	margin-bottom: -6px;
}

#ToLoadout
{
	width: 100%;
	min-height: 50px;
	margin-top: 16px;
}

#ToLoadout Label
{
font-size: 24px;
}