
.ArcanaMonkeyKing #DebutBackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: none;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
	
	background-color: black;
	
	transition-property: brightness, transform;
	transition-duration: .28s; 
	transition-timing-function: ease-in;
	
	border-top: 1px solid #ffffff11;
	border-left: 1px solid #ffffff07;
	border-right: 1px solid #ffffff07;
}


#ArcanaScene
{
	transform: scaleX(1);
	width: 100%;
	height: 100%;
	pre-transform-scale2d: 1;
	//background-color: black;
	//blur: gaussian( 1, 1, 1);
	vertical-align: middle;
	horizontal-align: center;
	transition-property: width, height, blur, opacity;
	transition-duration: .48s; 
	transition-timing-function: ease-in;	
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
	opacity: 0;
}

#ArcanaScene.SceneLoaded
{
	opacity: 1;
}

#TempButtons
{
	vertical-align: middle;
}

#TempButtons Button
{
	min-width: 0px;
}

#TempButtons2
{
	vertical-align: middle;
	padding-top: 80px;
}

#TempButtons2 Button
{
	min-width: 0px;
}

#InformationBody,
#InnerPanel
{
	opacity: 1;
}

#InformationBody
{
	padding: 24px;

}

.StylesBlock
{
	flow-children: down;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .32s; 
	transition-timing-function: ease-in;
}

.Form1Visible #Form1,
.Form2Visible #Form2,
.Form3Visible #Form3,
.Form4Visible #Form4
{
	opacity: 1;

}

#StyleContainer
{
	width: 500px;
	height: 200px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 170px;
	margin-right: 890px;
}

.FormLabel
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: -6px;
	color: #FFE9CC88;
	text-shadow: 0px 1px 3px 3.0 #000;
}

.FormName
{
	text-transform: uppercase;
	font-size: 32px;
	color: #FFE9CC;
	text-shadow: 0px 0px 13px 1.0 #EF8D2855;
	text-shadow: 0px 1px 3px 3.0 #000;
}

.Form1Visible .FormName { color:#F2BC92;  }
.Form2Visible .FormName { color:#95E2E3;  }
.Form3Visible .FormName { color:#4F9B6F;  }
.Form4Visible .FormName { color:#F0AF42;  }

.FormLore
{
	font-size: 18px;
	color: white;
	text-shadow: 0px 1px 3px 3.0 #000;
}

#StyleButtons
{
	width: 700px;
	height: fit-children; 
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 130px;
	margin-right: 690px;
}

#NextButton
{
	horizontal-align: right;
}

.ButtonBevel:disabled
{
	opacity: 0;
}

#ItemName
{
	width: 552px;
	font-size: 32px;
	text-overflow: shrink;
	height: 42px;
	text-shadow: 0px 0px 7px 1.0 #E07E7C;
}




#Portrait
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_monkey_king/customportrait_psd.vtex");	

}

#HeroIcon
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_monkey_king/heroicon_psd.vtex");	

}

#AbilityIcon
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_monkey_king/abilityicon_psd.vtex");	

}

#AbilityIcon2
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_monkey_king/abilityicon2_psd.vtex");	

}

#MinimapIcon
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_monkey_king/minimapicon_psd.vtex");	

}

.PromoActive #FooterPanel
{
	height: 64px;
	horizontal-align: center;
	padding-right: 24px;
	padding-left: 24px;
	margin-bottom: 24px;
}

.Promo
{
	horizontal-align: center;
	
}

.Promo Label
{
	text-shadow: 0px 0px 7px 1.0 #E07E7C;	
	color: #F4E2AE;
}

#Buttons
{
	horizontal-align: center;
}

.PromoActive #InnerPanel
{
	height: 534px;
	padding-right: 26px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000a ),  to( #0E1919ee ) );
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_wide_psd.vtex") 1.0;	
}	

#MKVid
{
	visibility: collapse;
}

#MKVidTemp
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_monkey_king/video_prev_psd.vtex");
	background-size: 100%;
}
	
	
#DebutInformation
{
	background-color: #000e;
}


#MKComic
{
	width: 180px;
	height: 200px;
	overflow: noclip;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 150px;
	margin-left: 320px;
	pre-transform-scale2d: 1.05;
	opacity: 1;
	
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;	
	
	visibility: collapse;
}


#MKComic.Initialize
{
	pre-transform-scale2d: 1;
	opacity: 1;
}

#MKComic:hover #ComicTable
{
	border-color: #392F2B;
}

#ComicTable
{
	width: 180px;
	height: 190px;
	background-color: #342A26;
	background-color: gradient( radial, 50% 50%, 0% 0%, 300px 300px, from( #39302A ), color-stop( .46, #000 ), to( #000 ) );
	border-radius: 6px;
	border: 2px solid #1F1F1B;
	box-shadow: fill #000000f8 -5px -5px 10px 10px;
}

#ImagePanel
{
	padding-top: 16px;
	transform: translateX( -110px ) translateY( -100px ) rotateZ(-20deg);
	width: 320px;
	height: 320px;

}

.ComicPage,
#MKComicBook
{
	vertical-align: middle;
	
}

#MKComic:hover #ImagePanel
{
	transform: translateX( -64px ) translateY( -72px ) rotateZ(0deg);
}


#MKComic:hover #MKComicBook
{
	transform: rotateY(-165deg) rotateX(25deg) rotateZ(6deg);	
}

#MKComic:hover .ComicPage
{
	pre-transform-scale2d: 1;
}

#MKComic:hover #InsidePanel
{
	wash-color: white;
}

#MKComic:hover #CoverImage
{
	opacity: 0;
	wash-color: black;
}

#MKComic:hover #CoverBackground
{
	wash-color: white;
}



#InsidePage
{
	background-image: url("s2r://panorama/images/banners/comic/comic_mk_inside_right_psd.vtex");
}

#CoverImage
{

	background-image: url("s2r://panorama/images/banners/comic/comic_mk_cover_psd.vtex");

}

#CoverBackground
{

	background-image: url("s2r://panorama/images/banners/comic/comic_mk_inside_left_psd.vtex");
	
}

#ReadComic
{
	width: 100%;
	height: 22px;
	text-overflow: shrink;
	text-align: center;
	vertical-align: bottom;
	horizontal-align: center;
	color: #C29853;
	font-size: 16px;
	letter-spacing: 2px;
	transform: translateY(0px);
	wash-color: black;
	transition-property: transform, wash-color;
	transition-duration: .25s, .45s;
	transition-timing-function: ease-in-out;	
	text-transform: uppercase;
	
}

#MKComic:hover #ReadComic
{
	transform: translateY(20px);
	wash-color: white;
}