#ModelContainer
{
	width: 100%;
	height: 100%;
	background-color: black;
}

#Model
{
	transform: scaleX(1);
	width: 100%;
	height: 100%;
	opacity: 0;
	pre-transform-scale2d: 1;
	vertical-align: middle;
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: 2s;
	transition-timing-function: ease-in;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#Model.SceneLoaded
{
	opacity: 1;
}

#DebutInformation
{
	width: 640px;
	height: 840px;
	horizontal-align: center;
	margin-top: 150px;
	margin-left: 790px;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 1.0s;
}

#DebutInformation.Initialize
{
	transition-duration: 0.0s;
	opacity: 1.0;
}

#InformationBackground
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/paper-bg_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

#InformationBody
{
	margin-top: -45px;
	padding-bottom: 112px;
	width: 100%;
	flow-children: down;
}

#Intro
{
	color: #3c1b18;
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	font-weight: black;
	letter-spacing: 2px;
	margin-top: -30px;
}

#HeroNameContainer
{
	width: 100%;
	/* padding-bottom: 20px; */
	opacity-mask: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/hero-name-mask_psd.vtex");
}

.Title 
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/kidinvoker_title_png.vtex");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	width: 100%;
	height: 270px;
}

.Language_danish .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/danish_png.vtex");
}

.Language_finnish .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/finnish_png.vtex");
}

.Language_french .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/french_png.vtex");
}

.Language_german .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/german_png.vtex");
}

.Language_italian .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/italian_png.vtex");
}

.Language_japanese .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/japanese_png.vtex");
}

.Language_korean .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/korean_png.vtex");
}

.Language_latam .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/latam_png.vtex");
}

.Language_polish .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/polish_png.vtex");
}

.Language_portuguese .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/portuguese_png.vtex");
}

.Language_portuguese-br .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/portuguese-br_png.vtex");
}

.Language_russian .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/russian_png.vtex");
}

.Language_schinese .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/schinese_png.vtex");
}

.Language_spanish .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/spanish_png.vtex");
}

.Language_swedish .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/swedish_png.vtex");
}

.Language_tchinese .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/tchinese_png.vtex");
}

.Language_thai .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/thai_png.vtex");
}

.Language_turkish .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/turkish_png.vtex");
}

.Language_vietnamese .Title {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/vietnamese_png.vtex");
}




#HeroNameTop
{
	font-size: 30px;
	color: gradient( linear, 0% 0%, 100% 0%, from( #b84f0b ), color-stop(0.5, #296868), to( #af4d5b ) );
	text-transform: uppercase;
	font-weight: black;
	letter-spacing: 6px;
	text-align: center;
	width: 100%;
}

#HeroNameBottom
{
	font-size: 84px;
	font-weight: black;
	text-transform: uppercase;
	/* color: #950002; */
	letter-spacing: 4px;
	margin-top: 24px;
	text-align: center;
	text-shadow: none;
	width: 100%;
	color: gradient( linear, 0% 0%, 100% 0%, from( #b84f0b ), color-stop(0.5, #296868), to( #af4d5b ) );
	text-overflow: shrink;
	/* text-shadow: #3c1b18 0px 2px 2px 0px; */
}

#HeroNameGlow
{
	color: transparent;
	text-shadow: 0px 1px 12px 1.0 #490402;
}

#LoreKidInvoker
{
	font-size: 18px;
    color: #3c1b18;
	width: 100%;
	font-weight: semi-bold;
	margin-top: 18px;
	line-height: 21px;

	text-align: left;
}

.intro-text {
	font-weight: bold;
	font-size: 21px;
}

#ScrollPanel 
{
	/* padding-left: 64px;
	padding-right: 64px; */
	height: 490px;
	overflow: clip scroll;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_wide_psd.vtex");
	vertical-align: top;
	overflow: squish scroll;
	padding-bottom: 10px;
	width: 80%;
	padding-right: 20px;
}

#KIVideo1 {
	width: 500px;
	height: 250px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: fill 0px 2px 8px 0px rgba(0, 0, 0, 0.60);
}

#KIVideo2 {
	max-width: 97%;
	height: 220px;
	margin-bottom: 20px;
}

.feature-headline {
	font-weight: bold;
	margin-top: 16px;
}

.BulletList {
	max-width: 460px;
	margin-left: 0px;
}

.BulletList Label {
	font-size: 18px;
	color: #3c1b18;
	font-weight: semi-bold;
}

.BulletDesc {
	flow-children: down;
}

.BulletDesc .Bullet {
	margin-top: 5px;
}

.BulletBold {
	font-weight: bold;
}

#KiImages
{
	flow-children: right;
}


.InlineImage {
	margin-bottom: 20px;
	max-height: 200px;
	margin-right: 10px;
	margin-top: 8px;
}

#Buttons {
	horizontal-align: center;
}

#HeroPortrait {
	width: 95px;
	height: 120px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/ki-portrait_png.vtex");
	background-position: 0% 0%;
	background-size: 100%;
	vertical-align: top;
}

#HeroIcons {
	width: 120px;
	height: 120px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/hero-icon_png.vtex");
	background-position: 0% 0%;
	background-size: 100%;
	vertical-align: top;
	background-repeat: no-repeat;
}

#HeroAbilities {
	width: 186px;
	height: 120px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/ability-icons_png.vtex");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: top;
}


#CloseButton
{
	horizontal-align: right;
	width: 36px;
	height: 36px;
	wash-color: #fff;
	margin-right: -4px;
	margin-top: -4px;
}

#FooterPanel
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 50px;
}

DemoModeButton
{
	margin-right: 40px;
}

.PreviewMode
{
	/* background-color: #af5417; */
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #af5417 ), to( #af5417 ) );
	opacity: 0.9;
	border-top: 1px solid #faa46a;
	box-shadow: #27110250 0px 0px 12px;
}

.PurchaseButton
{
	width: 206px;
	height: 49px;
	box-shadow: #27110250 0px 0px 12px;
}

.BattlePassBrightButton Label {
	padding: 0;
}

.PreviewMode
{
	height: 49px;
}
		   
.PreviewMode.SmallDemoButton .DemoButton
{
	height: 49px;
}
