#ModelContainer
{
	width: 100%;
	height: 100%;
}

#ModelBackground
{
	transform: scaleX(1);
	width: 100%;
	height: 100%;
//	opacity: 0;
	pre-transform-scale2d: 1;
	vertical-align: middle;
	horizontal-align: center;
    saturation: 0;
    contrast: 1.03;
	
	transition-property: opacity, wash-color, saturation, contrast;
	transition-duration: 2s;
	transition-timing-function: ease-in;	
	
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
}

#ModelBackground.Initialize
{
    saturation: 1.0;
    contrast: 1.0;
	transition-duration: 2s;
}

#DebutInformation
{
	background-color: none;
	width: 620px;
	height: 720px;
	opacity: 1;
	margin-left: 920px;
	margin-right: 0px;
	vertical-align: middle;
	pre-transform-scale2d: 1;

    transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: 1.6s;
	transition-timing-function: ease-in;
}


#InformationBody,
#HeroSubtitle,
#AbilityIcons,
#ItemName,
#InnerPanel,
#ItemLore,
#TitleFX,
#CloseButton
{
    transition-delay: 0s;
    transition-duration: 0s;
    opacity: 0;
}

#InformationBody.Initialize,
#HeroSubtitle.Initialize,
#AbilityIcons.Initialize,
#ItemName.Initialize,
#InnerPanel.Initialize,
#ItemLore.Initialize,
#TitleFX.Initialize,
#CloseButton.Initialize
{
    opacity: 1;
    pre-transform-scale2d: 1;
	transition-duration: 0s;
}

#DebutInformation.Initialize
{
    opacity: 1;
    pre-transform-scale2d: 1;
	transition-duration: 0s;
}

#InformationBackground
{
	width: 100%;
	height: 100%;
}

#InformationBody
{
	padding: 0px 32px 32px 5px;
	margin-top: -50px;
    /*padding-bottom: 64px;*/
	horizontal-align: center;
	vertical-align: center;
    width: 600px;
    height: 720px;
	pre-transform-scale2d: 1;
    transition-delay: 0s;

    transition-property: opacity, transform, pre-transform-scale2d;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

#InformationBodyBackground
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/rock_bg_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

#InformationBodyBackground.Initialize
{
    opacity: 1;
	transition-duration: 0s;

}

.CloseButton {
	horizontal-align: right;
	background-color: #000000;
	border: 2px solid #3aa3a6;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	wash-color: #dedede;
	margin-right: 60px;
	margin: 0px;
	box-shadow: 0px 0px 25px #3aa3a6;
}

#TitleFX
{
    width: 380px;
    height: 120px;
	margin-top: 0px;
	horizontal-align: center;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#TitleTextFX
{
	width: 380px;
	height: 120px;
	margin-top: 0px;
	horizontal-align: center;
	border: 1px solid red;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}


#ItemName
{
	font-size: 56px;
	letter-spacing: 10px;
	text-overflow: shrink;
	text-align: center;
	vertical-align: top;
	horizontal-align: center;
	color: #ffffff;
	font-family: 'Goudy Trajan';
	font-weight: bold;
	text-shadow: 1px 1px 12px 3.0 #84e4e520;
	opacity: 0;
	/*padding-top: 90px;*/
	text-transform: uppercase;
}

#ScrollPanel {
	width: 480px;
	height: 450px;
	opacity: .8;
	overflow: scroll;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_wide_psd.vtex");
	vertical-align: top;
}

.BottomBullet {
	margin-bottom: 10px;
}

HorizontalScrollBar {
	visibility: collapse;
}


#ItemName,
#InnerPanel,
#ItemLore
{
    margin-top: 36px;
    pre-transform-scale2d: 0.0;
    transition-property: opacity, transform;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
}

#HeroSubtitle,
#AbilityIcons,
#TitleFX
{
    pre-transform-scale2d: 0.0;
    transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#ItemLore
{
    margin-left: 10px;
    margin-right: 10px;
	width:500px;
	height: 250px;
	visibility: collapse;
	margin-bottom: 20px;
}



#TitleContainer
{
	width: 100%;
	height: 150px;
	horizontal-align: center;
	transition-property: hue-rotation, wash-color, saturation;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

#HeroSubtitle
{
	margin-top: -28px;
	margin-bottom: 12px;
	margin-left: 10px;
	flow-children: right;
}


#AttackType
{
	color: #ccc;
	margin-right: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.RolesContainer
{
	width: 400px;
	height: 54px;
	flow-children: right;
}

.RoleLabel
{
	margin-right: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#AbilityIcons
{
	margin-left: 10px;
	flow-children: right;
}

#AbilityIcons > DOTAAbilityImage
{
	width: 72px;
	height: 72px;
	margin-right: 16px;
}

#Talent
{
	width: 72px;
	height: 72px;
	wash-color: #DD9548;
	margin-left: 0px;
	tooltip-position: bottom;
	tooltip-body-position: 100%;
	transition-property: wash-color;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
	border: 1px solid transparent;
	border-radius: 0px;
	background-size: 90%;
	background-size: 54px 54px;
	background-position: center center;
}

VerticalScrollBar .ScrollThumb
{
	background-color: #245A5E;
}

VerticalScrollBar:hover .ScrollThumb, VerticalScrollBar:active .ScrollThumb
{
	background-color: #31BDAC;
}

#MainContainer
{
	width: 100%;
	height: 100%;
    wash-color: #000;

    transition-property: wash-color;
	transition-duration: 0.4s;
	transition-timing-function: ease-in;
}

#MainContainer.Initialize
{
    wash-color: #fff;
}

#Intro
{
	color: #ffffff90;
	font-size: 18px;
	text-transform: uppercase;
	horizontal-align: center;
	height: 30px;
	width: 100%;
	opacity: 0.6;
	text-align: center;
	margin-top: 110px;
	letter-spacing: 3px;
	font-weight: semi-bold;
	margin-left: 0px;

}

#Intro2
{
	color: #ffffff90;
	font-size: 14px;
	text-transform: uppercase;
	horizontal-align: center;
	height: 30px;
	width: 100%;
	opacity: 0.6;
	text-align: center;
	margin-top: 20px;
	letter-spacing: 3px;
	font-weight: normal;
	margin-left: 0px;

}



#HeroButtons
{
	margin-bottom: 20px;
	flow-children: right;
	horizontal-align: center;
    vertical-align: bottom;
}

#DemoHeroButton
{
	width: 280px;
	height: 36px;
	vertical-align: middle;
}

#ToLoadout
{
	width: 120px;
}


#LoreES
{
	width: 97%;
	height: 220px;
	color: #fefefe;
	font-size: 18px;
	text-align: center;
	margin-top: 2px;
	font-weight: light;
	text-shadow: 2px 1px 1px black;
}

#ESVideo1 {
	max-width: 97%;
	height: 220px;
	margin-bottom: 20px;
}

#ESVideo2 {
	max-width: 97%;
	height: 220px;
	margin-bottom: 20px;
}

.Bullet {
	vertical-align: top;
	margin-top: 9px;
	background-color: #2ce2e2;
}

.BulletList {
	max-width: 460px;
	margin-left: 0px;
}

.BulletList Label {
	font-size: 18px;
	margin-bottom: 8px;
}

.BulletDesc {
	flow-children: down;
}

.BulletDesc .Bullet {
	margin-top: 5px;
}

.BulletBold {
	font-weight: bold;
}

#Buttons {
	horizontal-align: center;
}

#BlinkDagger {
	width: 88px;
	height: 64px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/es_arcana_blink_png.vtex");
}

#HeroPortrait {
	width: 95px;
	height: 120px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/es_portrait_png.vtex");
	background-position: 0% 0%;
	background-size: 100%;
	vertical-align: top;
}

#HeroIcons {
	width: 120px;
	height: 120px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/hero_icon_png.vtex");
	background-position: 0% 0%;
	background-size: 100%;
	vertical-align: top;
	background-repeat: no-repeat;
}

#HeroAbilities {
	width: 120px;
	height: 120px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/ability_icons_png.vtex");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: top;
}


.InlineImage {
	margin-bottom: 20px;
	box-shadow: 0px 0px 15px #000000&33;
	max-height: 200px;
	margin-right: 10px;

}

#ESImages {
	flow-children: right;
}



#FooterPanel 
{
	padding-top: 0px;
	margin-bottom: 20px;
}

.PurchaseButton
{
	width: 206px;
	height: 49px;
}

.PreviewMode
{
	height: 49px;
}
		   
.PreviewMode.SmallDemoButton .DemoButton
{
	height: 49px;
}

VerticalScrollBar .ScrollThumb
{
	background-color: #245A5E;

}

VerticalScrollBar:hover .ScrollThumb, VerticalScrollBar:active .ScrollThumb
{
	background-color: #31BDAC;
}


#ControlButtonsContainer
{
    width: 200px;
    height: 500px;
    vertical-align: middle;
    flow-children: down;

	visibility: collapse;
}

.MainBranch #ControlButtonsContainer
{
	visibility: visible;
}

#ControlButtonsContainer.Hide
{
    opacity: 0;
}

#ControlButtonsContainer .ButtonBevel
{
	width: 300px;
	height: 50px;
}

.SwapStyle {
	width: 200px;
	height: 200px;
	vertical-align: bottom;
	margin: 50px;

	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_7_psd.vtex");
	background-size: contain;

	opacity: 0.0;

	transition-property: opacity, brightness;
	transition-duration: 1.0s, 0.2s;
}

.SwapStyle.Initialize
{
	transition-property: opacity, brightness;
	transition-duration: 0.2s, 0.2s;
}

.DashboardPage.ShowingAlternateStyle #DefaultStyleButton.Initialize,
.DashboardPage:not(.ShowingAlternateStyle) #AlternateStyleButton.Initialize
{
	opacity: 1.0;
}

.SwapStyle Label
{
	horizontal-align: center;
	vertical-align: middle;
	font-size: 16px;
	color: #ffffff;
	text-shadow: 2px 0px 8px 10 rgba(0,0,0,0.4);
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	width: 80%;
	brightness: 1;
	transition-property: text-shadow;
	transition-duration: 0.1s;
}

.SwapStyle:hover Label {
	color: rgb(255, 255, 255);
	brightness: 1;
}

.SwapStyle:hover {
	brightness: 1.5;
}


#DefaultStyleButton {
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_6_psd.vtex");
}

#AlternateStyleButton {
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_7_psd.vtex");
}
