

#FrontpageCellBattlePass #LearnMoreButton,
#FrontpageCellBattlePassPoints #BuyPointsButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 26px;
	brightness: 5;
	saturation: 1.1;
	box-shadow: fill #00000077 -2px -2px 8px 8px;
}

#CustomHeader.BattlePassHeader
{
	background-color: black;
	box-shadow: none;
}

#CustomHeader.BattlePassHeader Label
{
	color: #A9372E;
}

#CompendiumBackgroundScene
{
	hue-rotation: 10deg;
	height: 100%;
	width: 100%;
	brightness: 1;
	transform: translateY(125px) translateX(0px) scaleX(2.5) scaleY(2.5);
	visibility: collapse;
}

#twoflags
{
	height: 100%;
	width: 100%;
	brightness: .3;
	transform: rotateZ(255deg)  translateY(130px) translateX(-50px) scaleX(1.3) scaleY(1.3);
}

