.DashboardPage
{
	width: 100%;
	height: 100%;
}

#DotaPlusBackgroundMap.SceneLoaded
{
	opacity: 1; 
}

#DotaPlusBackgroundMap
{
	width: 100%;
	height: 100%; 
	
	blur: gaussian( 2 );
	
	transition-property: opacity;
	transition-duration: 1.45s;
	transition-timing-function: ease-in;  
	opacity: 0.01; 
}

#BackgroundVignette
{
	background-image: url("s2r://panorama/images/backgrounds/dashboard_vignette_png.vtex"); 
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#PlusLogoPanel
{
	horizontal-align: center;
	margin-top: 121px;
	margin-right: 1355px;
	width: 95px;
	height: 95px;
}

#PlusLogoScene
{
	width: 60%;
	height: 60%;
	horizontal-align: center;
	vertical-align: middle;
}

#DotaPlusLogoBGFX
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}