DOTAPlusPurchasePage
{
    padding-top: 100px;
    background-color: #000000;
    background-image: url("s2r://panorama/images/dota_plus/dota_plus_bg_psd.vtex");
    background-size: cover;
}

#MainContents
{
    width: 1392px;
    height: 1026px;
    horizontal-align: center;
}

#HeroImage
{
    width: 736px;
    height: 1026px;
    background-image: url("s2r://panorama/images/dota_plus/key_art_psd.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 50px;
    transform: scaleX( -1 );
    opacity-mask: url("s2r://panorama/images/masks/top_fade_png.vtex");
}


#LeftControls
{
    margin-bottom: 200px;
    vertical-align: bottom;
    width: 736px;
    flow-children: down;
}

#PlusLogo
{
    horizontal-align: center;
    width: 300px;
    height: 300px;
    margin-bottom: -70px;
}

#PlusTitle
{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    color: gradient( linear, 100% 0%, 0% 0%, from( #fff ), to( #B78946 ) );
    color: gradient( linear, 0% 0%, 100% 0%, from( #F8E8B9 ), color-stop( 0.5, #E4C269), to( #C79123 ) );
    text-shadow: 2px 2px 4px black;
    margin-bottom: 8px;
    horizontal-align: center;
}

#PlusDescription
{
    horizontal-align: center;
    width: 500px;
    color: #ffffff90;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 8px 5.0 black;
}

#SubscribeButton
{
    margin-top: 16px;
    horizontal-align: center;
    ui-scale: 130%;
}


#RightControls
{
    width: 640px;
    horizontal-align: right;
    margin-top: 66px;
    flow-children: down;
    height: 100%;
    margin-bottom: 130px;
}

#FeaturesTitle
{
    horizontal-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: semi-bold;
    color: dotaPlusGoldGradient;
    text-shadow: 0px 0px 10px 5.0 #000000;
    font-size: 20px;
}

#FeatureDetailsContainer
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
    padding: 0px 6px 12px 6px;
    margin-bottom: 0px;
    //border: 1px solid #ffffff05;
    //background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), color-stop( 0.5, #00000050 ), to( #00000000 ) );
}

.FeatureTabContents
{
    width: 100%;
    height: 100%;
    //background-color: #0009;

    opacity: 0.0;

    transition-property: opacity;
    transition-duration: 0.2s;
}

.FeatureTabContents:selected
{
    opacity: 1.0;
}


#FeatureDetailsPicker
{
    height: 150px;
    width: 100%;
    flow-children: right;
    overflow: noclip;
    margin-bottom: 50px;
}

.FeatureTab
{
    width: fill-parent-flow( 1.0 );
    height: 100%;
    margin: 0px 6px;
    background-color: #0009;
    border: 2px solid #0009;
    box-shadow: 0px 0px 10px 5.0 #000000;
    transition-property: transform;
    transition-duration: 0.2s;
    saturation: 0;
    brightness: 0.3;
}

.FeatureTab:hover
{
    brightness: 0.7;
}

.FeatureTab:active
{
    brightness: 1;
}

.FeatureTab:selected
{
    border-bottom: 2px solid dotaPlusGold;
    transform: translateY(-10px);
    box-shadow: 0px 0px 30px 5.0 #000000;
    saturation: 1;
    brightness: 1;
}

.FeatureText {
    flow-children: down;
    vertical-align: bottom;
    horizontal-align: center;
    text-align: center;
    margin-bottom: 30px;
}

.FeatureTitle {
    font-size: 40px;
    text-align: center;
    horizontal-align: center;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: semi-bold;
    color: dotaPlusGoldGradient;
    text-shadow: 0px 0px 3px 5.0 #000000;
}

.FeatureDesc {
    font-size: 20px;
    text-align: center;
    horizontal-align: center;
    font-weight: light;
    color: #ffffff90;
    text-shadow: 0px 0px 8px 5.0 #000000;
}

.ThumbnailTitle {
    font-size: 14px;
    text-align: center;
    horizontal-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: semi-bold;
    color: #ffffff90;
    text-shadow: 0px 0px 3px 5.0 #000000;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.FeatureTab:selected .ThumbnailTitle {
    color: dotaPlusGoldGradient;
}

.FeatureIcon {
    width: 60px;
    height: 60px;
    background-color: #ffffff50;
    horizontal-align: center;
    margin-top: 25px;
}

.FeatureTab:selected .FeatureIcon {
    wash-color: dotaPlusGold;
}

.FeatureImage {
    width: 100%;
    height: 500px;
 
    background-size: contain;
    //opacity-mask: url("s2r://panorama/images/masks/top_fade_png.vtex");
}

.HeroLevelingFeatureImage {
    background-image: url("s2r://panorama/images/dota_plus/upsell_progression_psd.vtex");
}


.PlusAssistantFeatureImage {
    background-image: url("s2r://panorama/images/dota_plus/upsell_assistant_psd.vtex");
}

.GuildsFeatureImage {
    background-image: url("s2r://panorama/images/dota_plus/upsell_guilds_psd.vtex");
}

.PerksFeatureImage {
    background-image: url("s2r://panorama/images/dota_plus/upsell_perks_psd.vtex");
}



.FeatureOverview {
    text-align: center;
    horizontal-align: center;
    color: #ffffff90;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: semi-bold;
    margin: 20px 0px 5px 0px;
    font-size: 14px;

}

.FeatureBreakdown {

    horizontal-align: center;
    min-width: 530px;
    margin-top: 10px;
}

.FeatureBreakdown Label {
    font-size: 15px;
    color: #ffffff90;
    line-height: 20px;
}

.BreakdownLeft, .BreakdownRight {
    flow-children: down;
    width: 250px;
}

.BreakdownLeft {
    horizontal-align: left;
    margin-right: 10px;
}

.BreakdownLeft Label {
    text-align: right;
    horizontal-align: right;
}

.BreakdownRight {
    horizontal-align: right;
}

#HeroLevelingFeatureTab {
    background-image: url("s2r://panorama/images/dota_plus/thumb_progression_psd.vtex");
    background-size: cover;
}

#PlusAssistantFeatureTab {
    background-image: url("s2r://panorama/images/dota_plus/thumb_assistant_psd.vtex");
    background-size: cover;
}

#GuildsFeatureTab {
    background-image: url("s2r://panorama/images/dota_plus/thumb_guilds_psd.vtex");
    background-size: cover;
}

#AdditionalPerksFeatureTab {
    background-image: url("s2r://panorama/images/dota_plus/thumb_perks_psd.vtex");
    background-size: cover;
}

.FeatureTab:selected  {
    saturation: 1;
}