
#MainContents
{
	height: 100%;
	width: 100%;
	flow-children: down;
}

#Body
{
	padding-bottom: 160px;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.AchievementTabContents
{
	margin-top: 12px;
	width: 1390px;
	horizontal-align: center;

	visibility: collapse;
}

.AchievementTabContents:selected
{
	visibility: visible;
}

#WelcomeQuestsTabContents
{
	flow-children: down;
	width: 1410px;
}

#WelcomeQuestsTabContents .AchievementTabContentsHeader
{
	padding: 0px 10px;
}

#WelcomeQuestParts
{
	margin-right: 10px;
	margin-top: 8px;
	flow-children: down;
	width: 100%;
	overflow: squish scroll;
}

.WelcomeQuestPart
{
	width: 100%;
}

.WelcomeQuestPartHeader
{
	flow-children: right;
	padding-left: 8px;
	padding-top: 4px;
	margin-bottom: -8px;
}

.WelcomeQuestPartHeader .LockIcon
{
	width: 20px;
	height: 20px;
	margin-right: 6px;
	vertical-align: middle;
	transform: translateY( -2px );

	wash-color: #ccc;

	background-image: url("s2r://panorama/images/control_icons/lock_small_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	visibility: collapse;
}

.WelcomeQuestPart:disabled .WelcomeQuestPartHeader .LockIcon
{
	visibility: visible;
}

.WelcomeQuestPartTitle
{
	font-size: 20px;
	color: dotaPlusGold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.WelcomeQuestPartContents
{
	width: 100%;
	flow-children: down;
}

.WelcomeQuestPart .LockedOverlay
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.WelcomeQuestPart:disabled .LockedOverlay
{
	visibility: visible;
}

.WelcomeQuestPart .LockedOverlay Label
{
	horizontal-align: center;
	text-align: center;
	width: 1200px;
	margin-top: 88px;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0px 0px 8px dotaPlusLightGold&99;
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.WelcomeQuestList
{
	width: 100%;
	padding-top: 8px;
	padding-left: 10px;
	flow-children: right-wrap;
	margin-bottom: 12px;
}

.WelcomeQuestPart:disabled .WelcomeQuestPartContents
{
	blur: gaussian( 7 );
	brightness: 0.2;
}

.WelcomeQuestList DOTAPlusAchievement
{
	width: 443px;
	margin-right: 14px;
	margin-bottom: 14px;
}

.SeasonTabContents
{
	flow-children: down;
}

.SeasonQuestsList
{
	flow-children: right-wrap;
	horizontal-align: center;
	width: 100%;
}

@define seasonQuestListColumns: 3;

.SeasonQuestListRow
{
	flow-children: right;
	width: 100%;
	margin-bottom: 14px;
}

.SeasonQuestListRow DOTAPlusAchievement,
.SeasonQuestListRow .AchievementPlaceholder 
{
	margin-right: 14px;
	width: fill-parent-flow( 1.0 );
}

.SeasonQuestListRow .FinalColumn
{
	margin-right: 0px;
}

.AchievementTabContentsHeader
{
	margin-top: 20px;
	margin-bottom: 32px;
	flow-children: right;
}

.AchievementTabContentsHeaderLeft
{
	flow-children: down;
}

.AchievementTabContentsHeaderRight
{
	flow-children: down;
}

.SeasonAchievementsTitle
{
	font-size: 24px;
	letter-spacing: 2px;
	color: #999;
	text-transform: uppercase; 
}

.SeasonAchievementsTitle .EventPointsValueIcon
{
	width: 20px;
	height: 20px;
	margin-right: 0px;
	transform: translateY( -4px );
}

.SeasonAchievementsSubtitle
{
	letter-spacing: 1px;
	color: #666;
	font-size: 20px;
}

.SeasonAchievementsProgress
{
	color: dotaPlusGold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	text-align: right;
	horizontal-align: right;
}

.SeasonAchievementsRewards
{
	color: #999;
	text-transform: uppercase;
	horizontal-align: right;
	text-align: right;
	font-size: 20px;
	letter-spacing: 2px;
}

.IsFullyCompleted .SeasonAchievementsRewards
{
	visibility: collapse;
}

.SeasonAchievementsCompleted
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	text-transform: uppercase;
	color: dotaPlusLightGold;
	letter-spacing: 1px;
	font-style: italic;
	text-align: right;
	margin-right: 2px;
	horizontal-align: right;

	visibility: collapse;
}

.IsFullyCompleted .SeasonAchievementsCompleted
{
	visibility: visible;
}