#MainContents
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#BackgroundTinter
{
	width: 100%;
	height: 100%;
	background-color: #00000066;
}



#Center
{
	width: 100%;
	height: 800px;

	/* Force a composition layer so that we can do the frosted glass effect on the FooterBackground */
	opacity: 0.99;
	
}

#CenterMain
{
	flow-children: right;
	width: 1390px;
	horizontal-align: center;
	margin-top: 38px; 
	
}

#CenterBackground
{
	width: 100%;
	horizontal-align: center;
	height: 100%;
	margin-bottom: 60px;
	box-shadow: 0px 0px 40px #000000aa;
}

#CenterLeft
{
	width: 380px;
	flow-children: down;
}

#FooterBackground
{
	height: 250px;
	width: 100%;
	margin-bottom: 60px;
	vertical-align: bottom;
}

#FooterBackgroundImage
{
	width: 100%;
	height: 100%;
	blur: gaussian( 7 );
}

#FooterBackgroundColor
{
	width: 100%;
	height: 100%;

	background-color: #000e;
	background-color: #ffffff02;
	background-color: gradient( radial, 50% 50%, 0% 0%, 100% 100%, from( #ffed5788 ), color-stop( 0.97, #ffed5733 ), to( #f4d71455 ) );
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #ffffff01 ), color-stop( 0.55, #ffffff02 ), color-stop( 0.66, #c0dcff08 ), color-stop( 0.76, #c0dcff12 ), color-stop( 0.86, #c0dcff08 ), to( #ffffff02 ) );
}

#Footer
{
	width: 1390px;
	height: 450px;
	horizontal-align: center;
	flow-children: right;
	vertical-align: bottom;
}

#FooterContents
{
	height: 100%;
	horizontal-align: center;
	flow-children: right;
}

.PlaceholderBox
{
	border: 2px solid #5186ff;
	background-color: black;
}

.PlaceholderBox > Label
{
	horizontal-align: center;
	vertical-align: middle;
}

#WeeklyChallenge
{
	width: 400px;
}

#Currency
{
	//padding-top: 20px;
	width: 300px;
	flow-children: down;
}

#CurrencyTitle
{
	color: dotaPlusGold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	margin-bottom: -4px;
}

#CurrencyAmount
{
	flow-children: right;
	margin-bottom: -3px;
}

#CurrencyAmount .CurrencyIcon
{
	width: 26px;
	height: 26px;
	transform: translateY( 5px );
	margin-right: 6px;
	margin-left: -3px;

	background-image: dotaPlusCurrencySmallIcon;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#CurrencyAmount > Label
{
	font-size: 32px;
	color: dotaPlusLightGold;
	font-weight: bold;
	text-shadow: 0px 0px 8px dotaPlusGold&77;
	letter-spacing: 2px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #f8e7a5 ), to( dotaPlusLightGold ) );

}


#RewardsLink
{
	flow-children: right;
	transition-property: brightness; 
	transition-duration: .2s; 
}

#RewardsLink:hover
{
	brightness: 2.0;
}

#RewardsLink:active
{
	brightness: 1.5;
}

#RewardsLink > Label
{
	color: #cb9a54;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	horizontal-align: center; 
	padding: 4px 6px 4px 12px;
	margin-bottom: 4px;
	border-top: 1px solid #ffffff08;
	border-left: 1px solid #ffffff05; 
	background-color: gradient( linear, 0% 100%, 0% 0%, from( dotaPlusGold&33 ), to( dotaPlusGold&66 ) );
	box-shadow: 0px 0px 10px #00000055; 
	margin-top: 2px;
}

#WeeklyChallenge
{
	margin-top: 24px;
}

#NewFeaturesHeader
{
	margin-left: 78px;
	//margin-top: 20px;
	flow-children: right;
}

#NewFeaturesHeader > Label
{
	color: dotaPlusGold;
	text-shadow: 2px 2px 4px black;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px;
	//margin-top: 4px;
}

#NewFeaturesCarouselNav
{
	margin-left: 4px;
}


#NewFeaturesCarousel
{
	height: 100%;
	width: 1260px;
	margin-left: 540px;
	margin-bottom: 60px;
	margin-top: 2px;
	horizontal-align: center;
	
	flow-children: right;
	overflow: clip;
}

.AspectRatio16x10 #NewFeaturesCarousel
{
	margin-left: 503px;
}

.AspectRatio4x3 #NewFeaturesCarousel
{
	margin-left: 360px;
}

.NewFeature
{
	width: 100%;
	height: 100%;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.2s;
}

.NewFeature.Focused
{
	opacity: 1.0;
}

.NewFeatureBackgroundImage
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_dota_plus_new_feature_png.vtex");

}

.NewFeatureTint
{
	//border: 2px solid black;
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 100% 100%, 0% 0%, 120% 120%, from( transparent ), color-stop( 0.80, transparent ), to( #000c ) );
}

.NewFeatureDetails
{
	margin-top: 59px;
	flow-children: down;
	width: 100%;
	padding-left: 123px;
}

.NewFeatureTitle
{
	color: dotaPlusLightGold;
	color: gradient( linear, 0% 0%, 0% 100%, from( #f8e7a5 ), to( dotaPlusLightGold ) );
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 0px 0px 8px dotaPlusGold&88;
}

.NewFeatureDescription
{
	color: #ffffffaa;
	text-shadow: 2px 2px 4px black;
	width: 400px;
	margin-top: 12px;
}

.NewFeatureLearnMore
{
	margin-top: 12px;

	transition-property: brightness;
	transition-duration: 0.2s;
}

.NewFeatureLearnMore:hover
{
	brightness: 2.0;
}

.NewFeatureLearnMore:active
{
	brightness: 1.5;
}


.NewFeatureLearnMore Label
{
	color: dotaPlusGold;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px black;
}

.FooterSection
{
	flow-children: down;
	height: 100%;
	padding-top: 160px;
}

.FooterSectionHeader
{
	width: 100%;
	flow-children: right;
}

.FooterSectionTitle
{
	color: dotaPlusGold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 4px;
	font-size: 20px; 
}

.FooterViewAllButton
{
	flow-children: right;
	vertical-align: middle;
	margin-bottom: 4px;
}

.FooterViewAllButton Label
{
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #777;
	font-size: 16px;
	vertical-align: middle;
	text-align: right; 
	margin-top: 2px; 
}

.QuestsSection
{
	flow-children: down;
}

.QuestsSection:hover
{
	brightness: 2.0;
}

.QuestsSection:active
{
	brightness: 1.5;
}

.QuestsCompleted
{
	text-transform: uppercase;
	color: #777;
	letter-spacing: 1px;
	font-size: 16px;
	margin-top: 5px;
}

.QuestsProgressBar
{
	width: 100%;
	height: 12px;
	border: 0px solid black;
	border-radius: 0px;
}

.QuestsProgressBar .ProgressBarLeft
{
	background-color: dotaPlusGold&99;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( dotaPlusGold ), to( dotaPlusGold&66 ) );
	box-shadow: 0px 0px 8px dotaPlusGold&22; 
}

.QuestsSectionFooter
{
	flow-children: right;
	margin-top: 5px;
}

.ShardsAvailable
{
	text-transform: uppercase;
	color: #777;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 5px;
}

.ShardsAvailable .EventPointsValueIcon
{
	width: 13px;
	height: 13px;
	margin-right: 1px;
}

.QuestsSection.IsFullyCompleted .ShardsAvailable
{
	visibility: collapse;
}



.AllQuestsCompleted
{
	font-size: 16px;
	text-transform: uppercase;
	color: dotaPlusLightGold;
	letter-spacing: 1px;
	margin-top: 4px;
	font-style: italic;
	text-align: right;
	margin-right: 2px;

	visibility: collapse;
}

.QuestsSection.IsFullyCompleted .AllQuestsCompleted
{
	visibility: visible;
}

.QuestsSection
{
	width: 100%;
	margin-top: 33px;
	transition-property: brightness;
	transition-duration: .2s;
}

#HighestHeroModel
{
	width: 400px;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#HighestHeroBadge
{
	margin: 0px;
	opacity: 0.99;
	horizontal-align: center;
	margin-right: 1344px;
	vertical-align: bottom;
	margin-bottom: 95px;
}

.AspectRatio4x3 #HighestHeroBadge
{
	margin-right: 1260px;
}

#HighestHeroes
{
	width: 535px;
	margin-left: 58px; 
}

#HighestHeroesList
{
	width: 100%;
	height: 100%;
	flow-children: right-wrap;
}

.HeroWithBadge
{
	margin-right: 12px;
	margin-bottom: 2px;
}

.HeroWithBadge:not(.Empty):hover
{
	brightness: 2.0;
}

.HeroWithBadge:not(.Empty):active
{
	brightness: 1.5;
}

.HeroWithBadge #HeroImage
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-bottom: 20px;
	border: 2px solid #222;
	box-shadow: inset 0px 0px 8px black;
}

.HeroWithBadge.Empty #HeroImage
{
	background-color: #0009;
}

.HeroWithBadge #HeroBadge
{
	ui-scale: 45%;
	vertical-align: bottom;
	horizontal-align: center;
}

#HighestRelics
{
	width: 400px;
}

#HighestRelicsList
{
	flow-children: right-wrap;
}

.HighestHeroRelic
{
	width: 60px;
	height: 90px;
	margin-right: 5px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

.HighestHeroRelic #RelicImage
{
	ui-scale: 41%;
	horizontal-align: center;
	vertical-align: middle;
	margin-bottom: 20px;
}

.HighestHeroRelic Label
{
	vertical-align: bottom;
	font-weight: bold;
	color: white;
	text-align: center;
	horizontal-align: center;
	text-shadow: 2px 2px 4px black;
	height: 26px;
	text-overflow: shrink;
	width: 60px;
}

.HighestHeroRelic.Empty Label
{
	visibility: collapse;
}

#RewardLogButton
{
	width:18px;
	height: 18px;
	vertical-align: middle;

	margin-left: 8px;
	wash-color: dotaPlusGold;

    background-image: url("s2r://panorama/images/hud/reborn/icon_combat_log_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

#RewardLogButton:hover
{
	brightness: 2.0;
}

#RewardLogButton:active
{
	brightness: 1.5;
}

#TitleHeader
{
	flow-children: right;
}

.ManageButton_Icon
{
    height: 32px;
    width: 32px;

    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transition-property: wash-color, pre-transform-scale2d;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    pre-transform-scale2d: 0.95;
}

.ManageButton--Avoid .ManageButton_Icon
{
	background-image: url("s2r://panorama/images/control_icons/avoid_player_icon_filled_png.vtex");
	wash-color: dotaPlusGold;
	background-size: 30px 30px;
}

.ManageButton_Icon:hover
{
	brightness: 2.0;
}

.ManageButton_Label
{
	vertical-align: middle;
	margin-left: 8px;
	color: #777;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding-top: 8px;
}

#AvoidPlayerButton
{
	horizontal-align: left;
	flow-children: right;
}


.ToolsSection
{
	horizontal-align: left;
	margin-top: 8px;
}

.LeftColumnHeader
{
	flow-children: down;
}