DOTAPlusWeeklyChallenge
{
	flow-children: down;
}

#MainContents
{
	flow-children: right;
	transition-property: brightness;
	transition-duration: .2s;
}

DOTAPlusMenu #MainContents:hover
{
	brightness: 3.0;
}

DOTAPlusMenu #MainContents:active
{
	brightness: 1.5;
}

#PlusWeeklyChallenge .RefreshTime
{
	color: #999;
	font-size: 15px;
	vertical-align: top;
}

.PlusChallengeDots
{
	horizontal-align: right;
	flow-children: right;
	margin-top: 6px;
}

.PlusChallengeDot
{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid dotaPlusLightGold;
	margin-left: 6px;

	box-shadow: fill #9c763f33 0px 0px 12px 0px;
}

.PlusGamesWon1 #PlusChallengeDot1,
.PlusGamesWon2 #PlusChallengeDot2,
.PlusGamesWon3 #PlusChallengeDot3
{
	background-color: dotaPlusLightGold;
}

#PlusChallengeTimeRemaining
{
	letter-spacing: 2px;
	text-transform: uppercase;
	//opacity: 0.5;
	font-size: 16px;
	color: #777;
}

.PlusRewardClaimed #PlusChallengeTimeRemaining
{
	visibility: collapse;
}

#PlusChallengeTitle, #PlusChallengeCompleteTitle
{
	vertical-align: middle;
	font-size: 20px;
	color: dotaPlusGold;
	letter-spacing: 1px;

	margin-top: 2px;
	text-transform: uppercase;
	letter-spacing: 2px;
}


.PlusRewardClaimed #PlusChallengeTitle
{
	visibility: collapse;
}

#PlusChallengeCompleteTitle
{
	visibility: collapse;
}

.PlusRewardClaimed #PlusChallengeCompleteTitle
{
	visibility: visible;
}

#PlusChallengeLeft
{
	vertical-align: top;
	//padding-left: 2px;
}


#PlusChallengeRight #PlusChallengeCurrency
{
	margin-top: 8px;
	opacity: 1; 
}

#PlusChallengeCurrency
{
	opacity: 0.4;
	margin-top: 4px;
	horizontal-align: right;
	margin-left: -8px;
}

.PlusGamesWon3 #PlusChallengeCurrency
{
	visibility: collapse;
}

#PlusChallengeCurrencyIcon
{
	vertical-align: middle;
	width: 14px;
	height: 14px;
	background-size: 14px 14px;
	margin: 0px;
	margin-bottom: 3px;
	margin-right: 4px;
	brightness: 2.0;
	letter-spacing: 2px;
}

#PlusChallengeCurrencyAmount
{
	vertical-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	brightness: 1.0;
	color: #777;
	text-align: right; 
}

#ClaimButton
{
	horizontal-align: center;
	width: 100%;
	margin-bottom: 6px;
	margin-top: 4px;

	visibility: collapse;
}

.PlusShowRewards #ClaimButton
{
	visibility: visible;
}

#ClaimButton Label
{
	font-size: 18px;
	font-weight: normal;
	height: 41px;
	text-overflow: shrink;
}

