DOTAPlusButton
{
	height: 62px;
	flow-children: right;
}

DOTAPlusButton:hover
{
	brightness: 2.0;
}

DOTAPlusButton:active
{
	brightness: 1.5;
}

#PlusIcon
{
	width: 34px;
	height: 100%;
	margin-right: 4px;

	background-image: dotaPlusLogoSmall;
	background-size: 26px 30px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

#NotificationCount
{
	border-radius: 50%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( dotaPlusLightGold ), to( dotaPlusGold ) );
	width: 21px;
	height: 21px;
	color: white;
	text-align: center;
	font-size: 16px;
	padding: 1px 4px 0px 4px;
	font-weight: bold;
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: 6px;
	margin-right: 2px;
	text-shadow: 1px 1px 4px black;

	visibility: collapse;
}

.HasPlusNotifications #NotificationCount
{
	visibility: visible;
}

.PlusState
{
	visibility: collapse;
}

.PlusSubscriber #PlusOwned
{
	visibility: visible;
}

.AspectRatio4x3.PlusSubscriber #PlusOwned
{
	visibility: collapse;
}

#PlusOwned
{
	flow-children: down;
	vertical-align: middle;
}

#PlusCurrency
{
	color: dotaPlusLightGold;
	font-size: 24px;
	horizontal-align: left;
	vertical-align: center;
	letter-spacing: 2px;
	font-weight: bold;
	text-shadow: 0px 0px 4px dotaPlusGold;
	width: 90px;
	height: 34px;
	text-overflow: shrink;
	margin-top: 3px;
}
