DOTAPlusAchievement
{
	flow-children: right;
	tooltip-body-position: 50% 50%;
}

DOTAPlusAchievement.AlreadyClaimed
{
	opacity: 0.6;
	wash-color: #000000bb;
}

#AchievementImage
{
	padding: 8px;
	width: 80px;
	height: 80px;
	background-color: dotaPlusGold&33;
	z-index: 100;
	box-shadow: 0px 0px 10px #00000055; 
	border-top: 1px solid #ffffff08;
	border-left: 1px solid #ffffff05;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( dotaPlusGold&33 ), to( dotaPlusGold&66 ) );
}

#AchievementDetails
{
	width: fill-parent-flow( 1.0 );
	height: 80px;
	background-color: #000000aa;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( black ), to( #00000044 ) );
	border-top: 1px solid #ffffff04;
	box-shadow: 0px 0px 10px #00000055; 
}

#AchievementName
{
	padding-top: 12px;
	margin-left: 16px;
	font-size: 15px;
	color: #999;
	width: 260px;
	height: 100%;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.HideTiers #AchievementName
{
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Leave room for the claim button */
.Completed #AchievementName
{
	width: 180px;
}

/* Not quite as wide in the menu, and we only show them when there's a claim button */
DOTAPlusMenu .Completed #AchievementName
{
	width: 160px;
}

#AchievementProgress
{
	margin-top: 12px;
	margin-right: 12px;
	horizontal-align: right;
	color: dotaPlusGold&99;
	letter-spacing: 2px;
	text-align: right;
	font-size: 16px;

	visibility: collapse;
}

.ShowProgress #AchievementProgress
{
	visibility: visible;
}

#CompletedCheckbox
{
	horizontal-align: right;
	width: 12px;
	height: 12px;
	margin-right: 13px;
	margin-top: 12px;

	border: 2px solid dotaPlusGold&99;
}

#CompletedCheckmark
{
	horizontal-align: right;

	width: 16px;
	height: 16px;

	margin-top: 7px;
	margin-right: 9px;

	wash-color: dotaPlusLightGold;

	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	visibility: collapse;
}


.Completed #CompletedCheckmark,
.AlreadyClaimed #CompletedCheckmark
{
	visibility: visible;
}

.ShowProgress #CompletedCheckbox,
.ShowProgress #CompletedCheckmark
{
	visibility: collapse;
}


#RewardAmount
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 4px;
	margin-bottom: 8px;
	//background-color: gradient( linear, 100% 0%, 0% 0%, from( #e6721108 ), to( #e6721100 ) );
}

#RewardAmount > .DotaPlusCurrencyIcon
{
	width: 16px;
	height: 16px;
	transform: translateY( 2px );

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#RewardAmount > Label
{
	color: dotaPlusLightGold;
}


#ClaimButton
{
	horizontal-align: right;
	flow-children: right;
	vertical-align: middle;
	padding: 4px 6px 0px 6px;
	margin-right: 12px;

	animation-name: ClaimButtonAnimation;
	animation-duration: 1.0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;

	visibility: collapse;
}

@keyframes 'ClaimButtonAnimation'
{
	0% { box-shadow: 0px 0px 4px dotaPlusGold&66; }
	100% { box-shadow: 0px 0px 8px dotaPlusGold&99; }
}


.Completed #ClaimButton
{
	visibility: visible;
}

#ClaimButton > .DotaPlusCurrencyIcon
{
	width: 16px;
	height: 16px;
	margin-left: 4px;
	transform: translateY( 2px );

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


.Completed #RewardAmount,
.Completed #AchievementProgress,
.Completed #CompletedCheckbox,
.Completed #CompletedCheckmark
{
	visibility: collapse;
}


#Tiers
{
	flow-children: right;
	padding-top: 1px;
	vertical-align: bottom;
	margin-left: 16px;
	margin-bottom: 12px;
}

.HideTiers #Tiers
{
	visibility: collapse;
}

.Tier
{
	width: 14px;
	height: 14px;
	background-color: #616d74;
	border-radius: 50%;
	margin-right: 4px;
	brightness: 0.3;
}

.Tier.TierDisplayed
{
	background-color: #616d74;
	brightness: 1.0;
}

.Tier.TierCompleted
{
	background-color: dotaPlusLightGold;
}