@import url("file://{resources}styles/tooltips/battle_pass_activities/tooltip_battle_pass_shared.css");

.StatsRow
{
	margin-top: 10px;
	margin-bottom: 10px;
	flow-children: right;
	horizontal-align: center;
	width: 100%;
}

.SingleStat
{
	flow-children: down;
	margin: 0px 8px;
	width: fill-parent-flow( 1.0 );
}

.SingleStat .StatLabel
{
	letter-spacing: 1px;
}

.SetRewards
{
	flow-children: right;
}

.SetRewards DOTAUIEconSetPreview
{
	width: 150px;
	height: 200px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

	saturation: 0.0;
	brightness: 0.2;
}

.CarryRewardFound .SetRewards DOTAUIEconSetPreview#CarryReward,
.SupportRewardFound .SetRewards DOTAUIEconSetPreview#SupportReward,
.UtilityRewardFound .SetRewards DOTAUIEconSetPreview#UtilityReward
{
	saturation: 1.0;
	brightness: 1.0;
}
