@import url("file://{resources}styles/tooltips/battle_pass_activities/tooltip_battle_pass_shared.css");

.TokensRow
{
	margin-top: 8px;
	flow-children: right;
	horizontal-align: center;
}

.WagerTotalIcon
{
	margin-top: 0px;
}

.TokensRemainingValue
{
	vertical-align: middle;
}

.TeamWagerTokensRow
{
	margin-left: 20px;
	margin-top: 20px;
	flow-children: right;
	horizontal-align: center;
}

.TeamWagerTokenContainer
{
	margin: 0px;
	flow-children: none;
}

.TeamWagerTokenCount
{
	color: #999;
	letter-spacing: 1px;
}

.TeamWagerTokensRemainingLabel
{
	margin-top: 8px;
}

.TeamWagerTokenLabel
{
	font-size: 14px;
}