@import url("file://{resources}styles/tooltips/battle_pass_activities/tooltip_battle_pass_shared.css");


.MainContents
{
	flow-children: down;
}

.SingleStat
{
	width: 340px;
	flow-children: down;
}

.Earned
{
	margin-top: 8px;
}