@import url("file://{resources}styles/battle_pass/current_battle_pass.css");

#Contents 
{
	flow-children: down;
	background-color: secondaryGradient;
	border: 1px solid bp_color11&aa;
	padding: 0px;
}

.Title
{
	horizontal-align: center;
	text-align: center;
	font-size: 21px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	width: 100%;
	background-color: #00000080;
	padding: 10px 0 6px 0;
}

.MainContents
{
	flow-children: down;
	padding: 16px;
	horizontal-align: center;
}

.StatValue
{
	color: accentColor;
	font-size: 32px;
	text-align: center;
	horizontal-align: center;
}

.StatLabel
{
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	horizontal-align: center;
}

.ResetTime
{
	color: #999;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	text-align: center;
	horizontal-align: center;
}