@import url("file://{resources}styles/tooltips/battle_pass_activities/tooltip_battle_pass_shared.css");

.MainContents
{
    flow-children: right;
}

.SingleStat
{
    flow-children: down;
    margin: 0px 6px;
    width: 250px;
}