@import url("file://{resources}styles/tooltips/battle_pass_activities/tooltip_battle_pass_shared.css");

#TheSideshop
{
	width: 100%;
	height: 54px;
	flow-children: right;
	margin-bottom: 10px;
}

#Currencies
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
	margin-left:20px;
	margin-bottom:20px;
	margin-right:20px;
	margin-top:20px;
}

#GoldBank,
.SithiltBank,
.QuirtBank
{
	flow-children: right;
	vertical-align: middle;
	margin-right: 32px;
}

.CurrencyText,
.GoldText
{
	text-align: right;
	horizontal-align: right;
	color: #F0E6D2;
	margin-right: 8px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#GoldIcon
{
	width: 24px;
	height: 100%;
	background-image: url("s2r://panorama/images/compendium/international2020/underdraft/gold-icon_png.vtex");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
}

.SithiltGem,
.QuirtGem
{
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/* margin-top: 3px; */
	vertical-align: middle;
}

.SithiltGem
{
	background-image: url("s2r://panorama/images/compendium/international2020/underdraft/sithil-gem-small_png.vtex");
}

.QuirtGem
{
	background-image: url("s2r://panorama/images/compendium/international2020/underdraft/quirt-gem-small_png.vtex");
}