Protobufs/google/
.support/
*staged_*
*.dylib
*.dll
*.so
*.so.*
*.vpk
*.vpk.manifest.txt
*.*_c
*.vpcf
*.bin
*.tmp
exceptions.txt
DumpSource2/.stringsignore

# Ignore all translations
**/*_brazilian*.txt
**/*_bulgarian*.txt
**/*_czech*.txt
**/*_danish*.txt
**/*_dutch*.txt
**/*_finnish*.txt
**/*_french*.txt
**/*_german*.txt
**/*_greek*.txt
**/*_hungarian*.txt
**/*_indonesian*.txt
**/*_italian*.txt
**/*_japanese*.txt
**/*_korean*.txt
**/*_koreana*.txt
**/*_latam*.txt
**/*_norwegian*.txt
**/*_polish*.txt
**/*_portuguese*.txt
**/*_romanian*.txt
**/*_russian*.txt
**/*_schinese*.txt
**/*_schinese_pw*.txt
**/*_spanish*.txt
**/*_swedish*.txt
**/*_tchinese*.txt
**/*_thai*.txt
**/*_turkish*.txt
**/*_ukrainian*.txt
**/*_vietnamese*.txt
