Protobufs/google/
.support/
*staged_*
*.dylib
*.dll
*.so
*.so.*
*.vpk
*.vpk.manifest.txt
*.*_c

# used to run dedi and dump stuff
game/bin/linuxsteamrt64/dota2
game/bin/linuxsteamrt64/libsteam.txt
game/bin/linuxsteamrt64/libsteam_strings.txt
game/bin/linuxsteamrt64/libtier0_s.txt
game/bin/linuxsteamrt64/libtier0_s_strings.txt
game/bin/linuxsteamrt64/libvstdlib_s.txt
game/bin/linuxsteamrt64/libvstdlib_s_strings.txt
game/dota/stats.txt

