Protobufs/google/
.support/
*staged_*
*.dylib
*.dll
*.so
*.so.*
*.vpk
*.vpk.manifest.txt
*.*_c
*.vpcf
*.bin
*.tmp
exceptions.txt

# Ignore all translations
**/*_brazilian*.[ht]*
**/*_bulgarian*.[ht]*
**/*_czech*.[ht]*
**/*_danish*.[ht]*
**/*_dutch*.[ht]*
**/*_finnish*.[ht]*
**/*_french*.[ht]*
**/*_german*.[ht]*
**/*_greek*.[ht]*
**/*_hungarian*.[ht]*
**/*_indonesian*.[ht]*
**/*_italian*.[ht]*
**/*_japanese*.[ht]*
**/*_korean*.[ht]*
**/*_koreana*.[ht]*
**/*_latam*.[ht]*
**/*_norwegian*.[ht]*
**/*_polish*.[ht]*
**/*_portuguese*.[ht]*
**/*_romanian*.[ht]*
**/*_russian*.[ht]*
**/*_schinese*.[ht]*
**/*_schinese_pw*.[ht]*
**/*_spanish*.[ht]*
**/*_swedish*.[ht]*
**/*_tchinese*.[ht]*
**/*_thai*.[ht]*
**/*_turkish*.[ht]*
**/*_ukrainian*.[ht]*
**/*_vietnamese*.[ht]*
