.MinigameChairs
{
	flow-children: down;
	horizontal-align: center;
	width: 1000px;
	//border-top: 2px solid dotaPlusGold;
	overflow: noclip;
}

.LocalPlayerEliminated .MinigameChairs
{
	background-color: darkred;
	opacity: 0.3;
}

.ResolutionLabel
{
	horizontal-align:center;
	font-size: 18px;
	opacity:0;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: semi-bold;
	color: #999999;
}

.LocalPlayerEliminated .ResolutionLabel,
.Winner .ResolutionLabel,
.Stopped .ResolutionLabel,
.Chosen .ResolutionLabel
{
	opacity: 1;
}

.Chosen .ResolutionLabel {
	color: #ffffff;
}

.LocalPlayerEliminated .ResolutionLabel {
	color: rgb(255, 157, 157);
}

.GameName
{
	font-size: 36px;
	horizontal-align: center;
	color: white;
	text-shadow: 2px 0px 2px black;
}

.GameDescription
{
	horizontal-align:center;
	color:white;
	text-shadow: 2px 0px 2px black;
}

#DanceContainer
{
	width:400px;
	height:400px;
	horizontal-align:center;
}


.DropDownButton.Activated
{
	animation-name: SettingsButtonAnimation;
	animation-duration: 0.50s;
	animation-delay: 0.15s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.DropDownButton:active
{
	sound: "ui_rollover_micro";
}


@keyframes 'Spinning'
{
	0%
	{
		transform: rotateZ( 0deg );
	}

	50%
	{
		transform: rotateZ( 179deg );
	}
	51%
	{
		transform: rotateZ( 181deg );
	}
	100%
	{
		transform: rotateZ( 360deg );
	}
}

@keyframes 'Jumping'
{
	0%
	{
		transform: translateY( 0px );
	}

	50%
	{
		transform: translateY( -20px );
	}

		100%
		{
			transform: translateY( 0px );
		}

}

.GameOver .Meepo
{
	animation-name: Spinning;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.Meepo
{
	opacity:0;
}

.HasMeepo1 #Meepo1,
.HasMeepo2 #Meepo2,
.HasMeepo3 #Meepo3,
.HasMeepo4 #Meepo4,
.HasMeepo5 #Meepo5,
.HasMeepo6 #Meepo6,
.HasMeepo7 #Meepo7,
.HasMeepo8 #Meepo8,
.HasMeepo9 #Meepo9,
.HasMeepo10 #Meepo10,
.HasMeepo11 #Meepo11,
.HasMeepo12 #Meepo12,
.HasMeepo13 #Meepo13,
.HasMeepo14 #Meepo14,
.HasMeepo15 #Meepo15,
.HasMeepo16 #Meepo16
{
	opacity:1;
}


.ScorePlayer
{
	flow-children:right;	
}
#ScoreContainer
{
	width:00px;
	flow-children:down;
}
#Horizontal
{
	width:100%;
}

#Players, #Observers
{
	padding:10px;
	flow-children: right;
	height: 100px;
	horizontal-align:center;

}

.ObserverScore
{
	flow-children:right;
	max-width:150px;
	horizontal-align:center;
	vertical-align:center;
}
.Circle
{
	width: 30px;
	height: 30px;
	background-color:black;
	opacity:0.7;
	margin-left:20px;
	background-size: cover;
	
}
.NameLabel
{
	margin-top:-1px;
	font-size: 24px;
	height: 30px;
	margin-left: 20px;
	color: white;
	text-align: center;
	font-weight:bold;
}
#Players .PointsLabel
{
	margin-left:20px;
}
.PointsLabel
{
	font-size: 24px;
	width: 30px;
	height: 30px;
	color: white;
	text-align: center;
}

#PlayerPortrait
{
	margin-top:30px;
}

.Winner
{
	animation-name: Jumping;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.ObserverBackground
{
	width:100%;
	height:40px;
	background-color:black;
	opacity:0.7;
}

.Chair
{
	width: 50px;
	height: 50px;
	transition-property: position;
	transition-duration: 0.3s;
}

#Hero
{
	height: 50px;
	width: 50px;
}

.Occupied #Hero
{
	visibility:visible;
}

.Occupied.Chair
{
}