.CustomHudRoot
{
    width: 100%;
    height: 100%;
}

.DemoHud
{
    flow-children: right;
    height: 100%;
    width: 100%;
}


.ControlPanel
{
    transform: translateX( 0% ) translateY( -100px );
    vertical-align: middle;
    horizontal-align: left;
    padding: 4px;
    padding-left: 0px;

    transition-property: background-color, transform;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.ControlPanelContainer
{
    flow-children: right;
    vertical-align: middle;
    horizontal-align: left;
    height: 690px;
    width: 160px;
    font-size: 16;
    background-color: #181818dd;
    border: 2px solid #222222;
   	box-shadow: #000000aa -4px -4px 8px 8px;
}

#ControlPanelSlideThumb
{
	width: 32px;
	height: 96px;
	transform: translateX( 0px );
    background-color: #181818cc;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
   	box-shadow: #00000055 -4px -4px 8px 8px;
	vertical-align: middle;
}

.RightArrowButtonIcon
{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	horizontal-align: right;
	background-image: url("file://{images}/control_icons/double_arrow_left.png");
    background-position: 0% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: #91aba6;

	transform: translateX( -9px );
	
	transition-property: transform, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#ControlPanelSlideThumb:hover
{
	background-color: #383838cc;
}

#ControlPanelSlideThumb:hover .RightArrowButtonIcon
{
	transform: translateX( -12px );
	wash-color: white;
}

.ControlPanel.Minimized .RightArrowButtonIcon
{
	transform: rotateZ(180deg) translateX( -6px );
}

.ControlPanel.Minimized #ControlPanelSlideThumb:hover .RightArrowButtonIcon
{
	transform: translateX( 3px ) rotateZ(180deg);
	wash-color: white;
}

.ControlPanel.Minimized
{
    transform: translateX( -160px ) translateY( -100px );
}


.QuitPausePanel
{
	flow-children: right;
	transform: translateX( 0px ) translateY( 0px );
    vertical-align: top;
    horizontal-align: right;
    height: 45px;
    width: 100%;
    background-color: #181818;
    border: 2px solid #222222;	
}

.QuitPausePanel .DemoButton
{
	height: 100%;
    width: 48%;
}

.Category .QuitPausePanel
{

}

.Category .QuitPausePanel .DemoButton Label
{
	margin-top: 5px;
	margin-left: 5px;

}

.QuitPausePanel .QuitButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #441111), to( #662222 ) );
    height: 100%;
    width: 48%;

	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;

    border-style: solid;
    border-width: 2px;	

    border-top-color: #661111;
    border-left-color: #591111;
    border-bottom-color: #441111;
    border-right-color: #502222;

    transition-property: background-color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.Category .QuitPausePanel .QuitButton Label
{
    margin-top: 5px;
    margin-left: 5px;
    color: #000000;
    font-size: 16;
    vertical-align: middle;
}

.QuitPausePanel .QuitButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #441111), to( #aa2222 ) );
}

.QuitPausePanel.QuitButton:active
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #aa8888 ), to( #ffaaaa ) );
	pre-transform-scale2d: 1.02;
}

.QuitPausePanel .QuitButton:selected
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #777777 ), to( #999999 ) );
}

.ControlPanelContainer Label
{
	flow-children: down;

	horizontal-align: left;
	font-size: 24;	
	color: #444444;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
}

.ControlPanelContainer .Category Label
{
	horizontal-align: left;
	margin-left: 0%;
	margin-top: 2px;
	font-size: 20;
	color: #888888;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: left;
	min-width: 100%;
}

.ControlPanelContainer #Maximized
{
	flow-children: down;
	visibility:visible;
}



.ControlPanelContainer #Maximized #MinimizeButton
{
	flow-children: down;
    transform: translateX( 0% ) translateY( 0% );
    vertical-align: middle;
    horizontal-align: left;
    width: 100%;
    background-color: #181818;
    border: 2px solid #111111;
	visibility:visible;
}


.ControlPanelContainer #Maximized #MinimizeButton Label
{
	font-size: 18;
	color: #666666;
}

#MinimizeButton
{
	horizontal-align: right;
}

#MinimizeButton Label
{
	font-size: 16;
	color: #666666;
}

#MinimizeButton:hover Label
{
	font-size: 16;
	color: #aaaaaa;
}

.Category
{
	flow-children: down;
	border-style: solid;
	border-color: #00000022;
	border-width: 0%;
	//border-radius: 5px;

	box-shadow: fill #00000011 -4px -4px 8px 9px;

	padding: 5px;

	background-color: #11111166;
}

.Row
{
	flow-children: right;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-right: 0%;
	width: 100%;
}

.Category .Row Label
{
	horizontal-align: right;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 18;
	color: #888888;
}

.Row #DemoButton
{
	
}

.Row TextEntry
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );
	border: 1px solid baseBorder;
	
	color: lightgrey;
    font-size: 16;

    margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;

    height: 20px;
	width: 40px;

    padding-top: 5px;
    padding-left: 5px;
}

.Row TextEntry #PlaceholderText
{
    opacity: 1.0;

    transition-property: opacity;
    transition-duration: 0.1s;

    vertical-align: middle;

	color: #444444;
	font-size: 16;
}

.Row TextEntry:focus
{
	padding-left: 10px;
	padding-top: 10px;
}

.Row TextEntry:focus #PlaceholderText, TextEntry.HasInput #PlaceholderText
{
    opacity: 0.0;
}

.DemoButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333), to( #444444 ) );

	height: 36px;
	width: 140px;

	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;

    border-style: solid;
    border-width: 1px;

    border-top-color: #444444;
    border-left-color: #494949;
    border-bottom-color: #111111;
    border-right-color: #404040;

    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

.Category .Row .DemoButton#FieldButton
{
	height: 40px;
	width: 140px;
}

.Category .DemoButton Label
{
    margin-top: 5px;
/*	padding: 6% 12% 6% 3%;*/
    color: #cccccc;
    font-size: 16;
    font-weight: thin;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: 0px;
}

.Category .DemoButton:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #444444 ), to( #555555 ) );
}

.Category .DemoButton:hover Label
{
    //color: #cccccc;
}

.Category .DemoButton:active
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #888888 ), to( #aaaaaa ) );
	pre-transform-scale2d: 1.02;
}

.Category .DemoButton:active Label
{
    //color: #eeeeee;
}

.Category .DemoButton:selected
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #777777 ), to( #999999 ) );
}

.Category ToggleButton.DemoButton:active Label
{
    //color: #eeeeee;
}

.Category ToggleButton:selected Label
{
    //color: #cccccc;
}