
#DungeonHUD #inventory_list, #DungeonHUD #inventory_list2
{
	width: 162px;
	height: 42px;
}


#DungeonHUD .BackpackSlot
{
	height: 24px;
}


#DungeonHUD #inventory_backpack_list
{
	flow-children: down;
	horizontal-align: right;
	
	padding-top: 8px;
	margin-top: 0px;
}

#DungeonHUD #BackPackShadow
{
	width: 48px;
	horizontal-align: right;
	height: 100%;

	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), color-stop( 0.03, #000b ), color-stop( 0.1, #0009 ), color-stop( 0.3, #0007 ), to( #0000 ) );
}

#DungeonHUD #abilities #ButtonWithLevelUpTab
{
	margin-bottom: 10px;
}


.Reborn #DungeonHUD #AbilityLevelContainer
{
	margin-bottom: 3px;
}

.Reborn #DungeonHUD .AbilityMaxLevel7 #AbilityLevelContainer
{
	margin-bottom: 3px;
}


.Reborn #DungeonHUD .InventoryItem #ButtonSize
{
	width: 47px;
	height: 36px;
}

.Reborn #DungeonHUD #inventory_backpack_list .InventoryItem #ButtonSize
{
	width: 40px;
	height: 30px;
}


#DungeonHUD #InvokerSpellCard
{
	margin-top: 6px;
}


.Reborn #DungeonHUD DOTABuff.Hidden
{
	width: 0px;
	margin: 0px;
}

.Reborn #DungeonHUD #HealthManaContainer
{
    margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.Reborn #DungeonHUD #HealthContainer
{
	height: fit-children;
}

.Reborn #DungeonHUD #HealthProgress
{
	height: 18px;
    margin-top: 0px;
}


.Reborn #DungeonHUD #HealthLabel
{
	font-size: 14px;
}


.Reborn #DungeonHUD #ManaContainer
{
	height: 18px;
}


.Reborn #DungeonHUD #ManaLabel
{
	
	font-size: 14px;
    margin-top: 0px;
}

.Reborn #DungeonHUD .MaxHealthLabel
{
	font-size: 14px;
}


.Reborn #DungeonHUD .MaxManaLabel
{
	font-size: 14px;
}



.Reborn #DungeonHUD #InspectButton
{
    width: 26px;
    height: 26px;
    margin-bottom: 8px;
    margin-left: 8px;
}


#DungeonHUD #Aligner
{
	width: fit-children;
}


#DungeonHUD .StatIconLabel
{
	horizontal-align: left;
}


#DungeonHUD #StatContainer
{
    horizontal-align: left;
}


#DungeonHUD .AttrIconContainer
{

	horizontal-align: left;
}

#DungeonHUD #ResLabelContainer
{
	height: 48px;
	width: 100%;
	vertical-align: bottom;
	z-index: 6;
}

#DungeonHUD #BuybackStatusContainer
{
	visibility: collapse;
}


#DungeonHUD .ResLabel
{
	vertical-align: center;
	horizontal-align: center;
	margin-left: 4px;
	margin-right: 4px;
	color: white;
	text-align: center;
	text-overflow: shrink;
	text-transform: uppercase;
	font-size: 18px;
	text-shadow: 1px 1px 0px black;
	visibility: collapse;
}


#DungeonHUD #NoResLeft
{
}


// PREGAME

.dungeon .Slot4,
.dungeon #DireTeamPlayers
{
	visibility: collapse;
}

.dungeon #BottomPanels
{
	horizontal-align: left;
}


.dungeon #BattlePassContainer
{
	visibility: collapse;
}

.dungeon #PreMinimapContainer
{
	visibility: collapse;
}

.dungeon .FillWidth
{
	visibility: collapse;
}

.dungeon #BottomPanels,
.dungeon .TeamPlayers
{
	margin-left: 148px;
}

.dungeon #Chat
{
	width: 800px;
}

.dungeon #PreGameBackgroundImage
{
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url("s2r://panorama/images/battlepass/ti7/campaign/campaignsplash_psd.vtex");
	background-size: cover;
	background-position: 0%;
	transform: scalex(-1);
	opacity:  1;
	
	
	transition-property: opacity;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}

.dungeon #PregameBG.SceneLoaded
{
	visibility: collapse;
	
}

#DungeonHUD #NoBuybackLabel,
#DungeonHUD #BuybackLabel
{
	horizontal-align: left;
	vertical-align: middle;
	margin-left: 42px;
}

#BuybackLifeCost
{
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: left;
	z-index: 5;
	margin-left: 6px;
	margin-bottom: 7px;
}

.dungeon.MapLoadingOutro #PreGameBackgroundImage
{
	opacity: 0;
}