
.HeroSelectOverlayRoot
{
	width: 100%;
	height: 210px;
    margin-top: 20px;
   
}

.HeroSelectTeamRowsContainer
{
	width: 80%;
	height: 210px;
	flow-children: down;
	horizontal-align: center;
}

#HeroSelectTeamsContainer,
#HeroSelectTeamsContainer2
{
    width: 100%;
    flow-children: right;
    margin-bottom: 5px;
}

.HeroSelectOverlayTimer
{
	vertical-align: center;
	margin-left: 200px;
	margin-bottom: 75px;
}


#Timer
{

    font-size: 48px;
    color: #CCCCCC;
	horizontal-align: left;
	vertical-align: center;
	width: 100%;
	text-align: center;
	margin-right: 5px;
	margin-top: 5px;
}

#TimerBg
{
	wash-color: #222222;
	vertical-align: center;
	horizontal-align: center;
}

#TimerBg,
#TimerRing
{
	width: 70px;
	height: 70px;

}

#TimerLabel
{
	visibility: collapse;
    color: #a9aaaa;
    font-size: 16px;
	text-transform: uppercase;
	
}

.HeroSelectTeamRoot
{
    margin-left: 9px;
    margin-right: 9px;
}

.HeroSelectTeamRoot.no_players
{
	visibility: collapse;
}

#PlayersContainer
{
    horizontal-align: center;
    flow-children: right;
    height: 70px;
}

.local_player_team #PlayerPortraitsOverlay
{
	width: 100%;
    height: 50px;
    box-shadow: fill #ffffff80 -3px -3px 3px 6px;
}

#EndSpacer
{
    width: fill-parent-flow(1);
}

#Spacer
{
}

.HeroSelectPlayerRoot
{
    flow-children: down;
}

#TeamHeader
{
    width: 100%;
	height: 52px;
}

#TeamHeaderAndPlayers
{
	horizontal-align: center;
}

#TeamHeaderLogoName
{
	width: 100%;
	flow-children: down;
}

#TeamGradient
{
	width: 100%;
	height: 24px;
	vertical-align: bottom;
	margin-bottom: -5px;
}

#TeamLogo
{
	vertical-align: top;
	margin-top: 2px;
	horizontal-align: center;
}

#PlayerPortrait
{
    background-color: #444444;
    border: 1px solid black;
    width: 90px;
    height: 50px;
}

#PlayerName
{
    color: white;
    font-size: 15px;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
	width: 100%;
	text-overflow: clip;
}

.HeroSelectPlayerRoot.hero_highlighted #PlayerPortrait
{
    saturation: 0.0;
}
