
#UltimateIndicatorBG
{
    background-image: url("s2r://panorama/images/custom_game/ulti_base_png.vtex");
}

.player_ultimate_hidden #UltimateIndicatorBG
{
	opacity: 0;
}

#UltimateIndicator
{
	opacity: 0;
}

.player_ultimate_ready #UltimateIndicator
{
	opacity: 1;
    background-image: url("s2r://panorama/images/custom_game/ulti_achieved_png.vtex");
}

.player_ultimate_no_mana #UltimateIndicator
{
	opacity: 1;
    background-image: url("s2r://panorama/images/custom_game/ulti_achieved_blue_png.vtex");
}

.player_ultimate_not_leveled #UltimateIndicator
{
	opacity: 1;
    background-image: url("s2r://panorama/images/custom_game/ulti_base_png.vtex");
}

.player_ultimate_cooldown #UltimateIndicator
{
	opacity: 1;
    background-image: url("s2r://panorama/images/custom_game/ulti_buildup_png.vtex");
}

