DOTACompTI10Home{width: 100%;height: 100%;background-image: url("s2r://panorama/images/compendium/international2020/compendium/compendium_bg_png.vtex");background-size: 100% 100%;background-repeat: no-repeat;background-position: bottom;horizontal-align: center;}#OverviewBackground{width: 100%;height: 100%;}.MainPanel{width: 90%;height: 100%;horizontal-align: center;}.InfoPanel,
.ButtonsPanel{padding-top: 200px;width: 30%;height: 100%;}.SplashArtPanel{width: 40%;height: 100%;background-image: url("s2r://panorama/images/compendium/international2020/compendium/buy_bg_png.vtex");background-size: 100% 100%;background-repeat: no-repeat;}.CompendiumImage{width: 100%;height: 140px;background-image: url("s2r://panorama/images/compendium/international2020/compendium/dashboard_logo_aegis_png.vtex");background-size: 70% 70%;background-repeat: no-repeat;}.CompendiumButton{width: 100%;height: fit-children;margin-top: 30px;flow-children: down;}.PredictionButtonMainText{font-size: 32px;color: white;}.PredictionButtonSubText{text-transform: uppercase;color: textSecondaryDefaultColor;}.Active .PredictionButtonSubText{color: textAccentColor;}.InfoSubPanel,
.InfoTeamsPanel{margin-top: 20px;horizontal-align: center;}.InfoMainText{font-size: 20px;color: white;horizontal-align: center;}.InfoSubText{font-size: 16px;text-transform: uppercase;color: textSecondaryDefaultColor;horizontal-align: center;}.InfoTop18Text{font-size: 20px;horizontal-align: center;color: textAccentColor;}.TeamLogo{margin-left: 5px;margin-right: 5px;}#QualifierOpen,
#FantasyOpen,
#MainEventOpen,
#BracketOpen,
#QualifierPending,
#FantasyPending,
#MainEventPending,
#BracketPending,
#QualifierLocked,
#FantasyLocked,
#MainEventLocked,
#BracketLocked{visibility: collapse;}.Pending #QualifierPending,
.Pending #MainEventPending,
.Pending #FantasyPending,
.Pending #BracketPending,
.Available #QualifierOpen,
.Available #FantasyOpen,
.Available #MainEventOpen,
.Available #BracketOpen,
.Locked #QualifierLocked,
.Locked #MainEventLocked,
.Locked #FantasyLocked,
.Locked #BracketLocked{visibility: visible;}#QualifierOpen,
#FantasyOpen,
#MainEventOpen,
#BracketOpen{color: textAccentColor;}