.CoinFlipContainer
{
	width: 60%;
	height: 60%;
	vertical-align: middle;
	horizontal-align: center;
	flow-children: none;
}

#CoinContainerEdge,
#CoinContainer
{
	width: 128px;
	height: 128px;

	padding: 16px;
	horizontal-align: center;
	vertical-align: middle;
	perspective: 200px;
	transform-origin: 0px 0px;
}

#CoinContainerEdge
{
//	animation-name: spinCoinEdge;
//	background-color: #A40309;
}

.CoinSide
{
//	border-radius: 50%;
	border: 2px solid black;
	width: 100%;
	height: 100%;
	background-color: red;

	opacity: 1;

	animation-name: spinCoinTails;
	animation-duration: 3.244s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;	
}

.CoinSide.Heads
{
	background-color: blue;
	animation-name: spinCoinHeads;
}

	
@keyframes 'spinCoinTails'
{
	0%
	{
		transform: rotateY( -90deg );
		opacity: 1;
	}

	50%
	{
		transform: rotateY( 90deg );
		opacity: 1;
	}	
	50.1%
	{
		transform: rotateY( 90deg );
		opacity: 0;
	}		

	100%
	{
		transform: rotateY( 90deg );
		opacity: 0;
	}
}

@keyframes 'spinCoinHeads'
{
	0%
	{
		transform: rotateY( 90deg );
		opacity: 1;
	}

	50%
	{
		transform: rotateY( -90deg );
		opacity: 1;
	}	
	50.1%
	{
		transform: rotateY( -90deg );
		opacity: 0;
	}		

	100%
	{
		transform: rotateY( 90deg );
		opacity: 0;
	}
}

.FenceEdge,
.Fence
{
	horizontal-align: center;
	vertical-align: middle;
	z-index: 4;
}

.FenceEdge
{
	z-index: 0;
}



@keyframes 'spinCoinEdge'
{
	0%
	{
		transform: translateX(-16px) rotateY( 0deg );
	}
	50%
	{
		transform: translateX(116px) rotateY( 180deg );
	}
	100%
	{
		transform: translateX(-16px) rotateY( 360deg );
	}

}


.CloseButton
{
	horizontal-align: right;
}



.Test
{
	horizontal-align: center;
	vertical-align: middle;
	font-size: 64px;
}
