/* styles for the friend picker popup */

#AddFriend
{
	background-color: black;
	padding: 8px;
	max-height: 300px;
	width: 350px;
	overflow: squish scroll;
	horizontal-align: center;
}

#FriendIDTextEntry
{
	border: 1px solid #ffffff11;
	background-color: black;
	width: 360px;
	horizontal-align: center;
}

#FriendIDEntry
{
	width: fit-children;
	horizontal-align: center;
}

TextEntry
{
	border: 0px solid #ffffff11;
	width: fit-children;
	height: 64px;

	padding: 5px 7px 3px 7px;
	
	background-color: none;

	color: white;
	font-size: 45px;
	text-align: right;
	text-overflow: clip;
	white-space: nowrap;
}

TextEntry #PlaceholderText
{
	opacity: 1.0;
	width: 360px;
	padding: 10px;
	transition-property: opacity;
	transition-duration: 0.0s;

	margin-top: -2px;

	color: #555555;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
}

TextEntry:focus #PlaceholderText, TextEntry.HasInput #PlaceholderText
{
	opacity: 0.0;
	width: 10px;
}

#FriendIDNumber
{
	color: white;
}

#FriendIDNumberContainer
{
	horizontal-align: center;
	margin-top: 16px;
}