
DOTAArtifactReleasePopup.PopupPanel
{
	width: 100%;
	height: 100%;
	background-color: black;
	border: 0px;
	padding: 0px;
	box-shadow: none;
	animation-name: none;
	flow-children: none;
}

DOTAArtifactReleasePopup.PopupPanel.Hidden
{
	sound: "";
}

#TrailerContainer
{
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
	height: width-percentage( 56.25% );
	max-width: 1920px;
}

#ArtifactTrailer
{
	width: 100%;
	height: 100%;
}

.CloseButton
{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 3px solid white;

	horizontal-align: right;
	margin-top: 40px;
	margin-right: 40px;
	background-color: black;
	background-size: 40px 40px;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
}

.TrailerStopped .CloseButton
{
	opacity: 1.0;
}


.CloseButton:active
{
	wash-color: white;
	background-size: 36px 36px;
	sound: "";
}