/* styles for the broadcaster toast popup */
.FactPopupPanel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
    border: 1px solid #5e6869;
    
	padding-top: 10px;
    padding-bottom: 6px;
	padding-right: 10px;
    padding-left: 10px;
	
	min-width: 1200px;
	min-height: 600px;
	
    vertical-align: middle;
    horizontal-align: center;
    opacity: 1.0;
	box-shadow: black -4px -4px 8px 8px;
	//#FFFFFF66 -4px -4px 8px 8px
			
	animation-name: links-and-more-button-focus; 
	animation-duration: 0.6s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;

    transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

Label
{
	width: fit-children;
	height: 36px;
	background-color: none;

	color: white;
	font-size: 24px;
	text-align: left;
	text-overflow: clip;
	white-space: nowrap;
	vertical-align: middle;
}


.BroadcastImageGroup 
{
	margin-top: 10px;
}

.FactImage
{
	width: 64px;
	height: 64px;
	margin-right: 8px;
}

.SelectionPanel
{
	margin-bottom: 10px;
	margin-left: 4px;
//	border-bottom: 2px;
//	border-top: 0px;
//	border-left: 0px;
//	border-right: 0px;
//	border-color: white;
//	border-style: solid;
}

.SearchBox
{
	width: 400px;
}

.SearchTextEntry
{
	width: 260px;
}

.ClearSearchButton
{
	margin-left: 230px;
}

#SearchResults
{
	width: 260px;
	margin-top: 36px;
	flow-children: down;
	visibility: collapse;
	background-color: #373d3eff;
}

#SearchResults.SearchHeroes
{
	margin-left:608px;
	visibility: visible;
}

#SearchResults.SearchPlayers
{
	margin-left:1112px;
	visibility: visible;
}


#SearchResults.SearchItems
{
	margin-left:104px;
	visibility: visible;
}


.SearchOptionsTitle
{
	width: 100px;
	height: fit-children;
}

.SearchOptionsLabel
{
	width: 100px;
	text-align: right;
}

.PopupButtonRow
{
	margin-top: 550px;
}

#HeroSearch
{
//	visibility: collapse;
}

.StatsAndFacts
{
	margin-top: 50px;
	margin-bottom: 70px;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	height: 100%;
}

.InfoHolder
{
	margin-left: 5px;
	margin-right: 5px;
	width: 50%;
	height: 100%;
}

.InfoContainer
{
	background-color:  #303335ee;
	font-size: 16px;
	width: 100%;
	height: 370px;
	overflow: clip scroll;
}

.SearchResultEntry
{
	margin-left: 6px;
	width: 100%;
}

.SearchResultLabel
{
	width: 100%;
}

.QuickStatText
{
	width: 100%;
	text-overflow: shrink;
	text-shadow: 0px 1px 1px 1 #000000aa;
}

.QuickStatButton
{
	width: 100%;
}

.QuickStatButton.FactSelected
{
	background-color:  #404345ee;
}

Label.InfoHeaderLabel
{
	font-size: 20px;
	height: 24px;
}

#CustomFact,
#CustomStat
{
	vertical-align: top;
	width: 100%;
	height: 80px;
	color: white;
	font-size: 16px;
	text-overflow: clip;
	white-space: normal;
}

.CustomStatHolder
{
	margin-top: 4px;
	width: 100%;
	height: 30%;
}

#CustomStatHeader
{
	margin-top: 4px;
	font-size: 16px;
	vertical-align: top;
}

#AcceptButton
{
	visibility: collapse;
}

.IsBroadcaster #AcceptButton
{
	visibility: visible;
}