DOTAPopupOverwatchConvict.PopupPanel
{
	flow-children: none;
	padding: 0px;
	width: 1000px;
}


#MainContents
{
	flow-children: down;
	padding: 16px;
}


.CloseButton
{
	horizontal-align: right;
	margin-right: 8px;
	margin-top: 8px;
}

.Convictions
{
	flow-children: down;
	width: 100%;
}