
PopupRankCalibration.PopupPanel
{
	width: 800px;
	horizontal-align: center;
	vertical-align: center;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eff ), to( #131617ff ) );

	flow-children: down;
	padding: 0px;
}

#Header
{
	width: 100%;

	flow-children: down;

	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;

	z-index: 2;
}

#RankContent
{
	height: 300px;
	flow-children: right;
}

.MajorHeader
{
	horizontal-align: center;
	font-size: 40px;
	font-weight: bold;
	color: white;
}

.MinorHeader
{
	horizontal-align: center;
	font-size: 24px;
	font-weight: thin;
}

#ButtonContainer
{
	width: 192px;
	height: 80px;
	horizontal-align: center;
}

#RankContent
{
	margin-left: 20px;
	margin-right: 20px;	
	width: 100%;
}

#RankTierContainer
{
	width: height-percentage( 100% );
	height: 250px;
	background-size: 100%;
	z-index: 2;
}

#RankTierContainer #BackgroundFX
{
	width: 100%;
	height: 100%;
}

#EliteFX
{
	width: 100%;
	height: 100%;
}


#RankTierContainer #RankLeaderboard
{
	visibility: collapse;
}

.RankLabelContainer
{
	margin-top: 93px;
	height: fit-children;
	width: 100%;
}

#RankTier, #RankPips
{
	margin: 0;
	margin-right: 1px;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: 50% 50%;
	text-overflow: shrink;
}

.RankTierLabel
{
	color: white;
	font-size: 64px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}
