DOTAPopupOverwatchPrep
{
}

.PopupPanel {
	padding: 0px;
	width: 950px;
	background-color: #000000;
	background-image: url("s2r://panorama/images/conduct/ovw_bg_png.vtex");
	background-size: cover;
	border: 1px solid #333333;

}

.Contents {
	flow-children: down;
	width: 100%;
	height: fit-children;
}

#Header
{	
	width: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(255, 255, 255, 0.00 ) ), color-stop(0.5, #ffffff), to( rgba(255, 255, 255, 0.00) ) );
	background-color: #00000090;
	padding-left: 0px;

	background-image: url("s2r://panorama/images/conduct/ovw_keyart_png.vtex");
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #16587400), to( #16587470) );
	background-size: cover;
	background-position: center bottom;
	flow-children: down;
	height: 300px;
}

.HeaderContent {
	width: 100%;
	flow-children: down;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: -10px;
}

.OverwatchLogoIcon {
	width: 70px;
	height: 70px;
	vertical-align: middle;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/conduct/ovw-icon_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	img-shadow: 0px 0px 30px 8.0 #000000;
	margin-bottom: 10px;

}

#Header Label
{
	font-size: 26px;
	text-align: center;
	width: 100%;
	letter-spacing: 3px;
	font-weight: light;
	color: #ffffff;
}


#CloseButton
{
	horizontal-align: right;
	min-width: 0px;
	border: 0px;
	background-color: none;
	background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex"); 
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	opacity: .2;
	transition-property: opacity;
	transition-duration: .2s;
}

#CloseButton:hover {
	brightness: 1.8;
}

#Body
{
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	padding: 40px 60px 30px 60px;
}

#Description
{
	text-align: center;
	font-size: 20px;
	font-weight: light;
	color: #fcfcfc;
}

#FinePrint {
	font-size: 18px;
	font-weight: light;
	margin-top: 10px;
}

#Buttons
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 30px;
}



#Download 
{
	visibility: visible;
	flow-children: right;
}

#DownloadComplete,
#Downloading,
#Decompressing
{
	visibility: collapse;
	flow-children: right;
}

.Downloaded #Download,
.Downloading #Download,
.Decompressing #Download,
.Downloaded #Decompressing,
.Downloading #Decompressing
{
	visibility: collapse;
}

.Downloaded #DownloadComplete, 
.Decompressing #Decompressing,
.Downloading #Downloading
{
	visibility: visible;
}

.Description, .FinePrint
{
	text-align: center;
	width: 100%;
}

.DownloadIcon {
	width: 18px;
	height: 18px;
	margin-left: 6px;
	vertical-align: middle;
	img-shadow: 0px 0px 10px 3.0 #000000;

}

#OverwatchReviewReplayButton {
	flow-children: right;
}


#OverwatchStatusLabel
{
	horizontal-align: center;
	margin-bottom: 10px;
}
