
DOTAPopupUIPlusRewardLog.PopupPanel
{
	width: 1056px;
    height: 820px;
	vertical-align: center;
	horizontal-align: center;
    flow-children: down;
	margin-top: 50px;
	animation-name: none;
	background-color: black;
	background-color: gradient( linear, 0% 0%, 140% 0%, from( #22282Af4 ), to( #000000 ) );
	border: 0px;
	box-shadow: fill black -8px -8px 20px 16px;
	padding: 0px;
	transition-duration: .35s;
}

#Title
{
	flow-children: right;
	width: 100%;
}

#TitleBackground
{
	width: 100%;
	background-image: url("s2r://panorama/images/dota_plus/plus_wall_header_png.vtex");
	background-size: cover;
	flow-children: none;
	
}

.TitleLabel,
.TitleSubLabel
{
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: top;
	color: white;
	font-size: 40px;
	margin-left: 112px;
	margin-top: 32px;
}

.TitleSubLabel
{
	margin-top: 36px;
	horizontal-align: right;
	margin-right: 50px;
}

#PlusLogoPanel
{
	margin-top: 10px;
	margin-left: 10px;
	width: 96px;
	height: 96px;
}

#PlusLogoScene, #DotaPlusLogoBGFX
{
	width: 100%;
	height: 100%;
}

.TotalShards
{
	font-size: 24px;
	color: textBrightColor;
    margin-right: 48px;
    margin-left: 4px;
    opacity: 0;
	color: dotaPlusLightGold;
	transition-duration: .6s;
	transition-property: opacity; 
	transition-timing-function: ease-in-out;
}

.TotalPlusCurrencyIcon
{
	vertical-align: center;
	width: 20px;
	height: 20px;
	background-size: contain;
}

.ReceivedLog #Body,
DOTAPopupUIPlusRewardLog.ReceivedLog .TotalShards
{
    opacity: 1;
}

#CancelButton
{
	width: 35px;
	height: 35px;
	background-size: 20px;
	background-color: #00000077;
	margin-top: 8px;
	margin-right: 9px;
	horizontal-align: right;
	transition-property: background-color, brightness;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

#CancelButton:hover
{
	background-color: #000000dd;
}



.TitleBar
{
	padding-top: 6px;
    width: 100%;
    flow-children: right;
	height: 32px;
	background-color: black;
}

.TitleBar Label
{
	text-transform: uppercase;
	font-weight: thin;
	letter-spacing: 2px;
	color: textBrightColor;
	text-overflow: shrink;

}

.TitleBar .DateColumn
{
    text-align: center;
}

#Body
{
//    width: 100%;
    flow-children: down;
    overflow: clip scroll;
	padding-right: 8px;
	
	opacity: 0;
	
	transition-duration: .6s;
	transition-property: opacity; 
	transition-timing-function: ease-in-out;
}

