PopupConductScorecard
{
    flow-children: down;
    margin: 0px;
    padding: 0px;
    border: 1px solid #81b27f00;
    background-color: transparent;
    border: 0px solid transparent;
    box-shadow: none;
    animation-name: none;
    transition-property: transform, pre-transform-scale2d, opacity, saturation, background-color, border;
    transition-duration: 0.2s;
	width: 1280px;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
    border: 1px solid #81b27f44;
}

PopupConductScorecard.Hidden
{
    opacity: 0.0;
    pre-transform-scale2d: 1.25;
    border: 1px solid #81b27f00;
    background-color: transparent;
    border: 0px solid transparent;
    box-shadow: none;
}

PopupConductScorecard.PopupPanel
{
	padding: 32px;
}

#Title
{
	width: 100%;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
    font-size: 42px;
    font-weight: thin;
	color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.ReasonIsLowPri #Title, .ReasonIsLowPri #Reason
{
	color: #ff4e16;
}

#Reason
{
    text-align: center;
	width: 100%;
    color: #808080;
}

#Reason.Hidden
{
	visibility: collapse;
}

#MainArea
{
	margin-top: 20px;
	margin-bottom: 20px;
    background-color: black;
	padding-top: 30px;
	padding-bottom: 40px;
	width: 100%;
}

#GreatJobOverall
{
    horizontal-align: center;
    font-size: 30px;
    color: #83eb4a;
    letter-spacing: 2px;

	visibility: collapse;
	margin-bottom: 16px;
    font-weight: thin;
    text-transform: uppercase;
}

.GoodOverall #GreatJobOverall
{
	visibility: visible;
}

#TimePeriod
{
    margin-top: -10px;
    margin-bottom: 6px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #808080;
    horizontal-align: center;
}

#FeeedbackArea
{
	width: 100%;
}

.FeedbackCategory
{
    flow-children: down;
	width: fill-parent-flow( 1.0 );
	margin-bottom: 10px;
}

.CategoryNumberContainer
{
    horizontal-align: center;
    flow-children: right;
}

.CategoryNumber
{
    font-size: 48px;
    font-weight: thin;
    margin-bottom: -8px;
}

.CategoryLabel
{
    font-size: 24px;
    text-transform: uppercase;
    horizontal-align: center;
    color: #a5ada2;
    letter-spacing: 2px;
}

.CategoryDetails
{
	width: 100%;
    text-align: center;
    font-size: 16px;
    color: #6f7171;
}

.PopupButton
{
    width: 228px;
}

#InfoImage
{
    width: 30px;
    height: 30px;
	background-size: 100% 100%;
    background-image: url("s2r://panorama/images/icon_info_png.vtex");
}

.CategoryBlankImage
{
    width: 36px;
}

.CategoryImage
{
	margin-top: 12px;
    width: 36px;
    height: 36px;
	background-size: 100% 100%;
    wash-color: #555859;
}

.FinePrint
{
    font-size: 16px;
    color: #6f7171;
}

#ReportsImage
{
    background-image: url("s2r://panorama/images/conduct/report_flag_png.vtex");
}

#CommendsImage
{
    background-image: url("s2r://panorama/images/conduct/commend_star_png.vtex");
    margin-left: 2px;
}

#AbandonsImage
{
    background-image: url("s2r://panorama/images/conduct/abandon_png.vtex");
    margin-left:3px;
}

#BehaviorImage 
{
    width: 72px;
    height: 72px;	
	margin-bottom: 12px;
    margin-right: 10px;
}

.GradeLevel0 #BehaviorImage 
{
    background-image: url("s2r://panorama/images/conduct/behavior_normal_png.vtex");
}

.GradeLevel1 #BehaviorImage,
.GradeLevel2 #BehaviorImage, 
{
    background-image: url("s2r://panorama/images/conduct/behavior_neutral_png.vtex");
}


.GradeLevel3 #BehaviorImage,
.GradeLevel4 #BehaviorImage,
.GradeLevel5 #BehaviorImage 
{
    background-image: url("s2r://panorama/images/conduct/behavior_bad_png.vtex");
}



#OldDataWarning
{
	visibility: collapse;
}

.OldData #OldDataWarning
{
	width:100%;
	text-align: center;
	visibility: visible;
	margin-top: 20px;
}

.PopupButton
{
	margin-right: 0px;
}

.FeedbackCategory.Good .CategoryNumber, .FeedbackCategory.Good .CategoryLabel
{
    color: #83eb4a;
}

.FeedbackCategory.Good .CategoryDetails,
{
    color: #407224;
}

.FeedbackCategory.Good .CategoryImage
{
    wash-color: #407224;
}

.FeedbackCategory.Bad .CategoryNumber, .FeedbackCategory.Bad .CategoryLabel
{
    color: #ff4e16;
}
.FeedbackCategory.Bad .CategoryDetails
{
    color: #a23310;
}

.FeedbackCategory.Bad .CategoryImage
{
    wash-color: #a23310;
}

#Footer
{
	width: 100%;
}

#OKButton
{
	horizontal-align: right;
}

#FooterNote
{
	vertical-align: bottom;
}

#LearnMoreLink
{
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
}

#GradeSection
{
	margin-bottom: 48px;
}

#GradeSection .CategoryDetails
{
	font-size: 20px;
}

#GradeSection .CategoryLabel
{
	font-size: 38px; 
}

#BehaviorGradeContainer
{
    width: 100%;
}

#BehaviorGradeSubContainer
{
    vertical-align: center;
    horizontal-align: center;
    flow-children: right;
}

#BehaviorScoreLabel.CategoryLabel
{
    margin-top: 10px;
    font-size: 45px; 
    font-weight: bold;
    vertical-align: center;
}

.MissingRawBehaviorScore  #BehaviorScoreLabel
{
    visibility: collapse;
}

.FeedbackCategory.Good #BehaviorImage
{
    wash-color: #40ff24;
}

.FeedbackCategory.Bad #BehaviorImage
{
    wash-color: #dd3310;
}