
PopupPurchaseItemWithEventPoints
{
	width: 1050px;
}

#Header
{
	flow-children: right;
}

.PopupTitle
{
	margin: 0px;
}

#Header .InfoIcon
{
	wash-color: #afb4b4;
	transform: translateY( -2px );
}

#CurrentBalance
{
	font-size: 30px;
	width: 500px;
	text-align: right;
	color: #afb4b4;
	font-weight: thin;
}

#CurrentBalance .EventPointsValueIcon
{
	width: 26px;
	height: 26px;
	transform: translateY( -5px );
}


#PurchaseRowsTable
{
	flow-children: down;
	width: 100%;
	background-color: #000a;
	padding: 16px;
}

#HeaderRow
{
	flow-children: right;
}

.HeaderText
{
	color: #999;
	text-transform: uppercase;
	font-size: 20px;
}

#ItemInfoHeader
{
	width: 536px;
	margin-right: 16px;
}

#ItemQuantityHeader
{
	width: 100px;
	margin-right: 16px;
}

#PurchaseRows
{
	flow-children: down;
	border-top: 1px solid #fff1;
	border-bottom: 1px solid #fff1;
	padding-top: 16px;
	margin-bottom: 8px;
}

.PurchaseRow
{
	flow-children: right;
	margin-bottom: 16px;
}

.PurchaseRow #ItemQuantity
{
	width: 100px;
	margin-right: 16px;
	vertical-align: middle;
}

.PurchaseRow #ItemImage
{
	width: 120px;
	height: 80px;
	margin-right: 16px;
}

.PurchaseRow #ItemName
{
	font-size: 36px;
	color: #ccc;
	width: 400px;
	margin-right: 16px;
	vertical-align: middle;
}

.PurchaseRow #ItemPrice
{
	margin-top: 4px;
	width: 220px;
	font-size: 24px;
	vertical-align: middle;
}

.PurchaseRow #ItemPrice .EventPointsValueIcon
{
	width: 20px;
	height: 20px;
	transform: translateY( -4px );
}


#TotalRow
{
	flow-children: right;
}

#TotalLabel
{
	width: 652px;
	text-align: right;
	margin-right: 16px;
	font-size: 24px;
	color: #999;
	text-transform: uppercase;
	vertical-align: middle;
}

#TotalValue
{
	font-size: 36px;
	width: 220px;
}

#TotalValue .EventPointsValueIcon
{
	width: 30px;
	height: 30px;
	margin-right: 6px;
	transform: translateY( -6px );
}
