/* styles for the simple text tooltip */

DOTABattlePassLogEntry
{                           
	background-color: gradient( linear, 0% 0%, 140% 0%, from( #22282Af4 ), to( #000000 ) );
	//border: 2px solid black;
	box-shadow: none;
    flow-children: right;
	height: 38px;
	
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

.BattlePassLogEntry Label
{
    font-size: 18px;
	vertical-align: middle;
	margin-top: 3px;
	font-weight: thin;
	color: bp_color14;
}

.BattlePassLogEntry:hover
{
	border-bottom: 1px solid #32353A55;
	border-top: 1px solid #32353A55;
}

.BattlePassLogEntry:hover Label
{
	brightness: 2;
}

.DateColumn
{
    width: 108px;
    text-align: center;
}

.TitleBar .DateColumn
{
	padding: 0px;
}

.PointsColumn	
{
    width: 96px;
    text-align: right;
    margin-right: 32px;
}

.TitleBar .PointsColumn
{
	margin-right: 0px;
}

.TotalPointsColumn
{
    width: 96px;
    text-align: right;
    margin-right: 32px;
}

.TitleBar .TotalPointsColumn
{
	horizontal-align: right;
	margin-right: 40px;
}

.BattlePassLogEntry .LevelColumn
{
    width: 112px;
    text-align: center;
    margin-right: 0px;
	color: #64627633;
	font-size: 24px;
}

.TitleBar .LevelColumn
{
    width: 112px;
	text-align: center;
	color: accentColor;
}

.NewLevel .LevelColumn
{
	color: #A9372E;
	font-size: 40px;
	margin-top: -4px;
	color: accentColor;
}

.TitleBar .PointTotalIcon
{
	margin: 0px;
	width: 20px;
	height: 20px;
	background-image: bp_total_points;
	background-size: cover;
}

.TitleBar .PointsColumn	
{
	width: fit-children;
	text-align: right;
	margin-left: 8px;
}

.TitleBar .DescriptionColumn
{
	margin-left: 40px;
	width: 542px;
	margin-right: 0px;
}

.DescriptionColumn 
{
    width: fill-parent-flow( 1.0 );
	width: 532px;
}

.TipGiven .DescriptionColumn
{
	//wash-color: #249DC5;
}

.TipGiven .PointsColumn
{
	color: #737086;
}



DOTABattlePassLogEntry .PointsColumn,
DOTABattlePassLogEntry .DescriptionColumn
{
	color: #BEB9BD;
}

.NewLevel
{
	background-color: gradient( linear, 0% 0%, 110% 0%, from( #292F30 ), to( #000000 ) );
}

.LatestLevel
{
	background-color: #32353A;
}

.LatestLevel Label
{
	text-shadow: 1px 1px 4px 2.0 black;
	brightness: 2;
}

.LatestLevel .LevelColumn
{
	color: white;
}

.NewLevel.LatestLevel .LevelColumn
{
	color: accentColor;
}

.TipGiven
{
	//background-color: #ff000006;
}

.TypeIcon
{
	width: 24px;
	height: 24px;
	background-size: cover;
	vertical-align: middle;
	margin-right: 16px;
}

.TipReceived .TypeIcon
{
	background-image: bp_point_log_tip_received;
}

.TipGiven .TypeIcon
{
	background-image: bp_point_log_tip_given;
}

.ActivatedBattlePass .TypeIcon
{
	background-image: bp_point_log_pass_activated;
}

.CavernCrawl .TypeIcon
{
	background-image: url("s2r://panorama/images/cavern/icon_logo_png.vtex");
	wash-color: accentColor;
}

.WagerWon .TypeIcon
{
	background-image: bp_point_log_wager_won;
}

.InGamePredictionCorrect .TypeIcon
{
	background-image: bp_point_log_prediction_correct;
}

.RecycledItem .TypeIcon
{
	background-image: bp_point_log_recycled_item;
}

.Achievement .TypeIcon
{
	background-image: bp_point_log_achievement;
}

.ReceivedMysteryItem .TypeIcon
{
	background-image: bp_point_log_wheel_reward;
}

.ReceivedCommunityGoalItem .TypeIcon
{
	background-image: bp_point_log_community_goal;
}

.QuestComplete .TypeIcon
{
	background-image: bp_point_log_quest_complete;
}

.BattlePointsConsumed .TypeIcon
{
	background-image: bp_point_log_points_consumed;
}

.CorrectPrediction .TypeIcon
{
	background-image: bp_point_log_prediction_correct;
}

.WeekendTourneyPayout .TypeIcon
{
	wash-color: accentColor;
	background-image: bp_point_log_won_battlecup;
}

.FantasyChallengeWinnings .TypeIcon
{
	wash-color: accentColor;
	background-image: bp_point_log_achievement;
}

.ProPrediction .TypeIcon
{
	background-image: bp_point_log_prediction_tokens;
}

VerticalScrollBar .ScrollThumb,
VerticalScrollBar:active .ScrollThumb,
VerticalScrollBar:hover .ScrollThumb
{
	background-color: #545557;
}

