
.TableToastPanel
{
	padding: 8px 5px 8px 5px;
	width: fit-children;
	width: 500px;
	height: 200px;
	opacity: 1.0;
	horizontal-align: right;
	background-color: #0B183788;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #302929fd ), to( #000000ff ) );
	vertical-align: middle;
}

.TableImageSection
{
	horizontal-align: left;
	width: 100px;
	height: 100px;
}

.TableHeaderSection
{
	height: 100px;
	width: 400px;
	vertical-align: bottom;
}

.TableTextItem
{
	width: 100px;
	font-size: 16px;
	color: white;
	horizontal-align: center;
	text-align: center;
}

.TableTextHeader
{
	height: 70px;
	width: 380px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

.ColumnHeader
{
	border-right-style: solid;
	horizontal-align: middle;
	text-align: center;
	padding: 0px 0px 5px 0px;
	border-bottom-color: #626262;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.RowHeader
{
	border-right-style: solid;
	horizontal-align: right;
	text-align: right;
	padding: 0px 10px 0px 0px;
	border-right-color: #626262;
    border-right-width: 1px;
    border-right-style: solid;
}