/* styles for the broadcaster toast popup */

.ToastTextEntryHeader
{
	border: 2px solid #ffffff11;
	max-width: 500px;
	min-width: 340px;
	height: 120px;

	padding: 1px 1px 1px 1px;
	
	background-color: none;

	color: white;
	font-size: 16px;
	text-overflow: clip;
	vertical-align: middle;
	white-space: normal;
}

.TextEntryNormal
{
	border: 2px solid #ffffff11;
	max-width: 500px;
	min-width: 340px;
	height: 120px;

	padding: 1px 1px 1px 1px;
	
	background-color: none;

	color: white;
	font-size: 16px;
	text-overflow: clip;
	vertical-align: middle;
	white-space: normal;
}

RadioButton
{
	padding: 20px px 5px 5px;
}

TextEntry #PlaceholderText
{
	color: white;
	text-overflow: clip;
	color: #555555;
}

TextEntry:focus #PlaceholderText, TextEntry.HasInput #PlaceholderText
{
	opacity: 0.0;
	width: 10px;
}

#ToastTextEntryHeader
{
	font-size: 18px;
	font-weight: bold;
	color: white;
}

#BroadcastContentsPanel
{
	width: 600px;
}

.TextEntryHeader
{
	font-size: 18px;
	font-weight: bold;
	color: white;
}

#ToastStyleBasic,
#ToastStyleSingleImage,
#ToastStyleDualImage,
#ToastStyleTable,
#ToastStyleMultiline
{
	width: 120px;
	height: 80px;
	background-size: cover;
}

#ToastStyleBasic { background-image: url("s2r://panorama/images/broadcaster/simpletext_png.vtex"); }
#ToastStyleSingleImage { background-image: url("s2r://panorama/images/broadcaster/singleimage_png.vtex"); }
#ToastStyleDualImage { background-image: url("s2r://panorama/images/broadcaster/dualimage_png.vtex"); }
#ToastStyleTable { background-image: url("s2r://panorama/images/broadcaster/table_png.vtex"); }
#ToastStyleMultiline { background-image: url("s2r://panorama/images/broadcaster/multiline_png.vtex"); }

.ToastSelection .RadioBox
{
	visibility: collapse;
}

.ToastSelection:selected
{
	sound: "ui_topmenu_activate";
}

.ImagePlaceholder
{
	width: 94px;
	height: 94px;
	background-image: url("s2r://panorama/images/broadcaster/imageselector_png.vtex");
	horizontal-align: left;
}

.StyleTemplateSingleImage
{
	width: 500px;
}


.TableToastEditPanel
{
	padding: 8px 5px 8px 5px;
	width: fit-children;
	width: 500px;
	height: 300px;
	opacity: 1.0;
	horizontal-align: right;
	background-color: #0B183788;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #302929fd ), to( #000000ff ) );
	vertical-align: middle;
}