/* styles for the broadcaster toast popup */
.FactPopupPanel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
    border: 1px solid #5e6869;
    
	padding-top: 10px;
    padding-bottom: 6px;
	padding-right: 10px;
    padding-left: 10px;
	
	width: 1150px;
	height: 600px;
	
    vertical-align: middle;
    horizontal-align: center;
    opacity: 1.0;
	box-shadow: black -4px -4px 8px 8px;
	//#FFFFFF66 -4px -4px 8px 8px
			
	animation-name: links-and-more-button-focus; 
	animation-duration: 0.6s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;

    transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

.BroadcasterGreenscreen .FactPopupPanel
{
    vertical-align: bottom;
    horizontal-align: left;
	width: 1150px;
	height: 925px;
}

.FactContainer
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

#Preview
{
    horizontal-align: center;
    height: 200px;
    overflow: clip scroll;
    visibility: collapse;
}

.BroadcasterGreenscreen #Preview
{
    visibility: visible;
}

.MainControls
{
    margin-top: 5px;
    margin-bottom: 10px;
    flow-children: right;
}

Label
{
	width: fit-children;
	background-color: none;

	color: white;
	font-size: 24px;
	text-align: left;
	vertical-align: middle;
}


.BroadcastImageGroup 
{
	margin-top: 10px;
}

.FactImage
{
	width: 64px;
	height: 64px;
	margin-right: 8px;
}

.SelectionPanel
{
	margin-left: 4px;
    margin-right: 4px;
    flow-children: right;
//	border-bottom: 2px;
//	border-top: 0px;
//	border-left: 0px;
//	border-right: 0px;
//	border-color: white;
//	border-style: solid;
}

.SearchTextEntry
{
	width: 220px;
    height: 30px;
    font-size: 18px;
}

.ClearSearchButton
{
    horizontal-align: right;
	margin-right: 5px;
}

#Duration
{
    width: 100px;
    height: 30px;
    font-size: 18px;
}

#SearchResults
{
	width: 220px;
	margin-top: 36px;
	flow-children: down;
	visibility: collapse;
	background-color: #373d3eff;
}

.BroadcasterGreenscreen #SearchResults
{
	margin-top: 236px;
}

#SearchResults Label
{
    font-size: 18px;
    height: 24px;
}

#SearchResults.SearchHeroes
{
	margin-left: 398px;
	visibility: visible;
}

#SearchResults.SearchPlayers
{
	margin-left:709px;
	visibility: visible;
}


#SearchResults.SearchItems
{
	margin-left:87px;
	visibility: visible;
}


.SearchOptionsTitle
{
	width: 100px;
	height: fit-children;
}

.SearchOptionsLabel
{
	width: 80px;
	text-align: right;
    font-size: 18px;
    height: 24px;
    vertical-align: center;
    margin-right: 3px;
    margin-top: 1px;
}

.PopupButtonRow
{
    margin-top: 5px;
	margin-bottom: 0px;
}

#HeroSearch
{
//	visibility: collapse;
}

.StatsAndFacts
{
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.InfoHolder
{
	margin-left: 5px;
	margin-right: 5px;
	width: 50%;
	height: 100%;
}

.ItemRow
{
    flow-children: right;
    horizontal-align: center;
	margin-bottom: 3px;
    visibility: collapse;
}

.HasItemMovie .ItemRow
{
    visibility: visible;
}

#ItemImage
{
    height: 52px;
    margin-bottom: 2px;
}

.HeroAbilityRow
{
    flow-children: right;
    horizontal-align: center;
	margin-bottom: 3px;
    visibility: collapse;
}

.HasAbilityMovies .HeroAbilityRow
{
    visibility: visible;
}

.HeroAbilityLabel
{
    margin-right: 3px;
}

#HeroAbilities
{
    flow-children: right;
}

#HeroAbilities > DOTAAbilityImage
{
    margin-right: 10px;
	margin-top: 2px;
    width: 50px;
    height: 52px;
}

#HeroAbilities > DOTAAbilityImage:disabled
{
    wash-color: #333333; 
}

#HeroAbilities > DOTAAbilityImage:hover
{
    brightness: 1.5; 
}

#HeroAbilities > DOTAAbilityImage:active
{
    brightness: 2; 
}

.InfoContainer
{
	background-color:  #303335ee;
	font-size: 16px;
	width: 100%;
	height: fill-parent-flow( 1.0 );
	overflow: clip scroll;
}

.SearchResultEntry
{
	margin-left: 6px;
	width: 100%;
}

.SearchResultLabel
{
	width: 100%;
}

.QuickStatText
{
	width: 100%;
	font-size: 18px;

	margin-top: 8px;
	margin-bottom: 8px;


	text-shadow: 0px 1px 1px 1 #000000aa;
}

.QuickStatButton
{
	width: 100%;
	border-bottom: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: #77777777;
	border-style: solid;
}

.QuickStatButton.FactSelected
{
	background-color:  #404345ee;
}

Label.InfoHeaderLabel
{
	font-size: 20px;
	height: 24px;
}

#CustomFact,
#CustomStat
{
	vertical-align: top;
	width: 100%;
	height: 80px;
	color: white;
	font-size: 16px;
	text-overflow: clip;
	white-space: normal;
}

.CustomStatHolder
{
	margin-top: 4px;
	width: 100%;
}

#CustomStatHeader
{
	margin-top: 4px;
	font-size: 16px;
	vertical-align: top;
}

#AcceptButton
{
	visibility: collapse;
}

.IsBroadcaster #AcceptButton
{
	visibility: visible;
}

.BroadcasterGreenscreen.IsBroadcaster #AcceptButton,
.BroadcasterGreenscreen #AcceptButton
{
	visibility: visible;
}

.BroadcasterGreenscreen.IsBroadcaster #PreviewButton,
.BroadcasterGreenscreen #PreviewButton
{
	visibility: collapse;
}

.BroadcasterGreenscreen .CancelButton
{
    visibility: collapse;
}
