DOTAPopupOverwatchConvict.PopupPanel
{
	flow-children: none;
	padding: 0px;
	width: 1614px;
	height: 883px;
	background-color: black;
	border: 0px solid #000000;
	//border-top: 5px solid #ffffff;
	//border-brush: gradient( linear, 0% 0%, 0% 100%, from( #165874 ), to( #3a60c1) );
	background-image: url("s2r://panorama/images/conduct/ovw_bg_png.vtex");
	background-size: cover;
	//border-right: 0px solid #000000;

}


#MainContents
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

#LeftPanel
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

#OverwatchResolutionArt
{
	width: 100%;
	background-image: url("s2r://panorama/images/conduct/ovw_keyart_png.vtex");
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #16587400), to( #16587470) );
	background-size: cover;
	background-position: center bottom;
	flow-children: down;
	height: 300px;

}

.HeaderArt {
	width: 100%;
	height: 100%;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #16587400), to( #16587470) );
	background-size: cover;
	background-position: center center;
	brightness: 0.5;
	opacity: 0.5;
}

.OverwatchLogoIcon {
	width: 70px;
	height: 70px;
	vertical-align: middle;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/conduct/ovw-icon_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	img-shadow: 0px 0px 30px 8.0 #000000;
	margin-top: 80px;

}

#OverwatchResolutionArt Label
{
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	font-size: 30px;
	color: #ffffffee;
	letter-spacing: 4px;
	font-weight: light;
	text-shadow: 0px 0px 10px 7.0 #000000;
}





#RightPanel
{
	width: 50%;
	height: 100%;
	flow-children: down;
	background-color: #00000070;
}

#Infractions
{
	flow-children: down;
}

.Infraction
{
	padding: 83px;
	flow-children: down;
}

.Infraction .DisruptionSeverity
{
	text-transform: uppercase;
	font-size: 19px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #165874), to( #3a60c1) );
}

.Infraction .Title
{
	font-size: 24px;
	color: #fefefe;
	font-weight: semi-bold;
	margin-bottom: 8px;
}

.InfractionLabel {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #427ec2;
	font-weight: semi-bold;
	font-size: 17px;
	margin-bottom: 5px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #165874), to( #3a60c1) );
}

.Infraction .HelpText
{
	font-size: 20px;
	color: #cfcfcf;
	margin-bottom: 20px;
}

.Divider {
	width: 100%;
	height: 1px;
	background-color: #333333;
	horizontal-align: center;
}

#CloseButton
{
	horizontal-align: right;
	min-width: 0px;
	border: 0px;
	background-color: none;
	background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex"); 
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	opacity: .2;
	transition-property: opacity;
	transition-duration: .2s;
}

#JudgementButtons
{
	width: 100%;
	vertical-align: bottom;
	background-color: #000000;
	border-top: 1px solid #333333;
	padding: 20px 0px;
}

#JudgementButtons TextButton {
	min-width: 250px;
}

RadioButton
{
	margin-right: 25px;
}

RadioButton Label
{
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: semi-bold;
	color: #fefefe;
	letter-spacing: 1px;
	margin-top: -2px;
	margin-left: 5px;
}


.Convictions
{
	flow-children: right-wrap;
	horizontal-align: center;
	width: 100%;
}

.PopupButtonRow
{
	vertical-align: bottom;
	margin-top: 0px;
}

#OverwatchHelpText
{
	padding: 55px;
}

#OverwatchHelpText Label
{
	font-size: 19px;
	font-weight: light;
	color: #dededeaa;
}

.ConvictionIntro {
	font-size: 22px;
	color: #dedede;
}

