/* styles for the generic popup */

PopupAcceptMatch
{

}

.PopupPanelEffects
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	//margin-bottom: 100px;
	perspective: 2000px;
	perspective-origin: 50% 50%;
	transform: translateY( -50px );
}

.Hidden #ModelUIAccept
{
	opacity: 0.0;
	pre-transform-scale2d: 1.1;
	//transform: translateY( -10px );
}

#ModelUIAccept
{
	opacity: 1;
	width: 70%;
	height: 70%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	transform: translateZ( -300px );
	horizontal-align: center;
	vertical-align: center;
	
	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

.BattleCup #ModelUIAccept
{
	hue-rotation: 270deg;
	brightness: .5;
	wash-color: orange;
}

.Minimized #ModelUIAccept
{
	opacity: 0;
}

// this mostly invisible panel is positioned over the decline button and is only active for the first N seconds of the panel's life
#ClickBlocker
{
	width: 50%;
	margin-top: 300px;
	height: 200px;
	opacity: 0.0;

	horizontal-align: right;

	transition-property: opacity;
	transition-duration: 1.5s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

.Hidden #ClickBlocker
{
	opacity: 1.0;
}

.PopupAcceptMatchPanel
{
	horizontal-align: center;
	vertical-align: middle;
	border: 0px solid transparent;
	border-radius: 0px;
	background-color: black;
	padding: 0px;
	
	background-image: url("s2r://panorama/images/textures/popup_rock_bg_psd.vtex");
	background-size: auto 100%;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	
	box-shadow: #83d79500 0px 0px 0px 0px;
	
	pre-transform-scale2d: 1;

	width: 768px;
	height: fit-children;
	min-height: 256px;
	opacity: 1;
	
	transition-property: transform, pre-transform-scale2d, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.0s;
}


.Hidden .PopupAcceptMatchPanel
{
	opacity: 0.0;
	pre-transform-scale2d: 0.75;
	//transform: translateY( -10px );
}

.Minimized .PopupAcceptMatchPanel
{
	opacity: 0.5;

	width: 400px;
	height: fit-children;
	min-height: 120px;

	horizontal-align: right;
	vertical-align: bottom;

	margin-left: 30px;
	margin-top: 50px;
	margin-right: 30px;
	margin-bottom: 10px;

	background-image: none;
	background-color: black;
}

.Minimized .AppearingInHud .PopupAcceptMatchPanel
{
	horizontal-align: left;
	vertical-align: top;
}

#PopupAcceptDeclineMatchPanel
{
	animation-name: accept-match-start; 
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
	box-shadow: #83d79544 -5px -5px 12px 10px;
}

.Minimized #PopupAcceptDeclineMatchPanel
{
	visibility: collapse;
}

.BattleCup #PopupAcceptDeclineMatchPanel
{
	visibility: collapse;

}

#BattleCup
{
	flow-children: down;
	
	overflow: noclip;
	
	visibility: collapse;
	animation-name: battle-cup-start; 
	animation-duration: 3.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
	box-shadow: #d5ad6344 -5px -5px 12px 10px;

	horizontal-align: center;
	vertical-align: middle;
	border: 0px solid transparent;
	border-radius: 0px;
	background-color: black;
	
	border-top: 1px solid #ffd37f77;
	border-left: 1px solid #ffd37f66;
	border-right: 1px solid #b86c24dd;
	border-bottom: 1px solid #b86c24aa;
	
	background-image: url("s2r://panorama/images/textures/popup_rock_bg_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	
	pre-transform-scale2d: 1;

	width: 768px;
	height: fit-children;
	min-height: 256px;
	opacity: 1;
	
	transition-property: transform, pre-transform-scale2d, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.0s;

	
}

.BattleCup #BattleCup
{
	visibility: visible;
}

#BattleCupBody
{
	//margin-top: 22px;
	margin-bottom: 20px;
	width: 100%;
	height: fit-children;
}

.BattleCupTeamContainer
{
	width: 50%;
	flow-children: down;

	height: fit-children;
	vertical-align: center;
}

#BattleCupTeamContainer0
{
	horizontal-align: left;
	
	animation-name: logo-slam-0; 
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
}

#BattleCupTeamContainer1
{
	horizontal-align: right;
	
	animation-name: logo-slam-1; 
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
}

.BattleCupTeamLogo
{
	width: 84px;
	height: 84px;
	border-top: 4px solid #111;
	border-right: 4px solid #444;
	border-bottom: 4px solid #666;
	border-left: 4px solid #1c1c1c;
	box-shadow: inset 4px 4px 12px 12px #000000;
	background-color: black;

	horizontal-align: center;
	
	margin-top: 30px;
}

#LogoCracks0
{
	flow-children: none;
	horizontal-align: center;
}

#LogoCracks1
{
	flow-children: none;
	horizontal-align: center;
}

#TeamLogo0cracks
{
	opacity: 1;
	margin-left: 10px;
	width: 140px;
	height: 140px;
	background-image: url("s2r://panorama/images/weekend_tourney/battlecup_cracks_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 0px;
	
	animation-name: crack-show-0; 
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
}

#TeamLogo1cracks
{
	
	opacity: 1;
	margin-left: 10px;
	width: 140px;
	height: 140px;
	background-image: url("s2r://panorama/images/weekend_tourney/battlecup_cracks_alt_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 0px;
	
	animation-name: crack-show-1; 
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
}

.BattleCupTeamName
{
	font-size: 30px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: -5px;
	color: white;
	text-shadow: 0px 0px 12px 8.0 #000;

	horizontal-align: center;
}

.BattleCupVSLabel
{
	font-size: 40px;
	color: white;
	text-shadow: 0px 0px 6px 1.0 #c1c0ff;

	horizontal-align: center;
	vertical-align: center;

	animation-name: text-slam-vs; 
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
}

#BattleCupHeaderContainer
{
	width: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000033 ), color-stop( 0.4, black ), color-stop( 0.6, black ), to( #00000033 ) );
	padding: 12px;
	overflow: noclip;
	
	
	
}

#BattleCupHeader
{
	flow-children: down;
	width: fit-children;
	horizontal-align: center;
	margin-bottom: 3px;
	overflow: noclip;
	
	animation-name: text-slam; 
	animation-duration: .7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	
}

#BattleCupTitle
{
	font-size: 48px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	horizontal-align: center;
	letter-spacing: 3px;
	
	opacity: 1;
}

#BattleCupTierDivisonContainer
{
	horizontal-align: center;
	width: fit-children;
	margin-top: -16px;
}

#BattleCupTier
{
	color: #f0cf84;
	//color: gradient( linear, 100% 0%, 0% 0%, from( #f0cf84 ), to( #c29339 ) );
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	margin-left: 12px;
}

#BattleCupDivision
{
	color: #a27e37;
	//color: gradient( linear, 100% 0%, 0% 0%, from( #a27e37 ), to( #c8a361 ) );
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	margin-left: 6px;
	text-shadow: 0px 0px 12px 1.0 black;
}



.ReadyUpPlayersVisible #PopupAcceptDeclineMatchPanel
{
	animation-name: accept-match-accepted; 
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
	transform: rotateX( 88deg ) translateY( -132px ) translateZ( -140px );
	box-shadow: #83d79500 0px 0px 0px 0px;
}

@keyframes 'logo-slam-0'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 6.5;
		wash-color: black;
	}

	60%
	{
		wash-color: white;
		pre-transform-scale2d: 6.5;
		opacity: 0;
	}
	
	99%
	{
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
	}
}

@keyframes 'logo-slam-1'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 6.5;
		wash-color: black;
	}

	80%
	{
		wash-color: white;
		pre-transform-scale2d: 6.5;
		opacity: 0;
	}
	
	99%
	{
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
	}
}

@keyframes 'text-slam'
{
	from
	{
		opacity: 0; 
		//pre-transform-scale2d: 1.3;
		wash-color: black;
	}


	
	99%
	{
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
	}
}

@keyframes 'text-slam-vs'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 6.5;
		wash-color: black;
	}

	80%
	{
		wash-color: white;
		pre-transform-scale2d: 6.5;
		opacity: 0;
	}
	
	99%
	{
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
	}
}



@keyframes 'accept-match-start'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 2.5;
		wash-color: black;
		box-shadow: #83d79500 -5px -5px 12px 10px;
	}

	60%
	{
		wash-color: white;
		box-shadow: #83d79500 -5px -5px 12px 10px;
	}
	
	99%
	{
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
		wash-color: white;
		box-shadow: #83d79544 -5px -5px 12px 10px;
	}
}

@keyframes 'crack-show-0'
{
	from
	{
		opacity: 0; 
		
	}

	60%
	{
		opacity: 0; 
		
	}
	
	99%
	{
		opacity: 0; 
		
	}
	to
	{
		opacity: 1; 
		
	}
}

@keyframes 'crack-show-1'
{
	from
	{
		opacity: 0; 
		
	}

	60%
	{
		opacity: 0; 
		
	}
	
	99%
	{
		opacity: 0; 
		
	}
	to
	{
		opacity: 1; 
		
	}
}

@keyframes 'battle-cup-start'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 2.5;
		wash-color: black;
		box-shadow: #d5ad6344 -5px -5px 12px 10px;
	}

	10%
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
		wash-color: white;
		box-shadow: #d5ad6344 -5px -5px 12px 10px;
	}
	
	29%
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
		wash-color: white;
		box-shadow: #d5ad6344 -5px -5px 12px 10px;
	}
	
	32%
	{
		opacity: 1; 
		pre-transform-scale2d: .98;
		wash-color: white;
		box-shadow: #d5ad6344 -5px -5px 12px 10px;
	}
	
	34%
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
		wash-color: white;
		box-shadow: #d5ad6344 -5px -5px 12px 10px;
	}
	
	91%
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
		wash-color: white;
		box-shadow: #d5ad6344 -5px -5px 12px 10px;
	}
	
	94%
	{
		opacity: 1; 
		pre-transform-scale2d: .98;
		wash-color: white;
		box-shadow: #d5ad6344 -5px -5px 12px 10px;
	}
	
	96%
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
		wash-color: white;
		box-shadow: #d5ad6344 -5px -5px 12px 10px;
	}
	
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
		wash-color: white;
		box-shadow: #d5ad6344 -5px -5px 12px 10px;
	}
}

@keyframes 'accept-match-accepted'
{
	from
	{
		transform: rotateX( 0deg ) translateY( 0px ) translateZ( 0px );
		wash-color: #00000000;
		box-shadow: #83d79544 -5px -5px 12px 10px;
	}
	10%
	{
		box-shadow: #83d79500 0px 0px 0px 0px;	
	}
	75%
	{
		transform: rotateX( 74.5deg ) translateY( -115px ) translateZ( -110px );
		wash-color: black;
	}
	99%
	{
		opacity: 1;
	}
	to
	{
		transform: rotateX( 90deg ) translateY( -132px ) translateZ( -140px );
		wash-color: black;
		box-shadow: #83d79500 0px 0px 0px 0px;
		opacity: 0;
	}
}

.HeaderBar
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), to( #31404e ) );
	background-color: #00000088;
}

#TitleLabel
{
	font-size: 24px;
	color: #aaaaaa;
	margin-top: 15px;
	horizontal-align: center;
	text-transform: uppercase;
}

#MessageLabel
{
	font-size: 32px;
	font-weight: bold;
	color: #FFFFFF;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 5px;
}

#ButtonContainer
{
	//flow-children: right;
	horizontal-align: center;
	margin-top: 90px;
	width: 100%;
	height: 150px;
}

.LargeButton
{
	margin-left: 20px;
	margin-right: 20px;

	width: 320px;
	height: 64px;

	padding-top: 2px;
		
	overflow: noclip noclip;
	opacity: 1.0;
	
	transition-property: box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	
	box-shadow: fill #111111aa -4px -4px 8px 9px;
}

.LargeButton Label
{
	font-size: 35;
	font-weight: bold;
	padding: 6px 10px 5px 10px;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 0px 2px 1.0 #ffc0a000;
	
	transition-property: text-shadow;
	transition-delay: 0.0s;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#Button0
{
	background-color: gradient( radial, 50% 30%, 0% 10%, 65% 75%, from( #45715b ), to( #1a423e55 ) );
	box-shadow: fill #48d07d00 -4px -4px 8px 9px;
	
	border-top: 2px solid #48d07d22;
	border-right: 2px solid #00000088;
	border-left: 2px solid #48d07d11;
	border-bottom: 2px solid #00000088;

	horizontal-align: center;
	vertical-align: center;
}

#Button0:hover
{
	background-color: gradient( radial, 50% 30%, 0% 10%, 65% 75%, from( #48d07d ), to( #1a423e55 ) );
	box-shadow: fill #48d07d11 -4px -4px 8px 9px;
	transition-duration: 0.3s;
}

#Button0 Label
{
	color: white;
}

#Button0:hover Label
{
	text-shadow: 0px 0px 6px 1.0 #c1ffa0;
}


#Button0:active
{
	border: 2px solid #66ffaaaa;
	box-shadow: fill #66ffaa11 -4px -4px 8px 9px;
	sound: "ui_match_accept_click";
}

.DeclineContainer
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 20px;
}

.InfoIcon
{
	height: 16px;
	width: 16px;
	border-bottom: 1px solid #ffffff04;
	horizontal-align: right;
	margin: 0px;
	wash-color: #869797;
	margin-right: 8px;
}

.InfoIcon:hover
{
	wash-color: #b3c6cc;

}

#Button1
{
	margin-top: 3px;
	horizontal-align: right;
	vertical-align: bottom;
}

#Button1:hover
{
}

#Button1 Label
{
	color: grey;
}

#Button1:hover Label
{
	text-decoration: underline;
}

#Button1:active
{
	//border: 2px solid #ffaa55aa;
	//box-shadow: fill #ffaa5511 -4px -4px 8px 9px;

	sound: "ui_match_decline_click";
}

#Button1:active Label
{
	wash-color: #ffffff;
}

#ReadyUpPlayers
{
	margin-top: 120px;
}

.ReadyUpPlayersVisible #ReadyUpPlayers
{
	visibility: visible;
}

#PopupReadyUpPlayersPanel
{
	transform: rotateX( -90deg ) translateY( 128px ) translateZ( -140px );
	box-shadow: #83d79500 0px 0px 0px 0px;	
	animation-name: ready-up-start-end; 
	animation-duration: 0.35s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	opacity: 0;
}

.ReadyUpPlayersVisible #PopupReadyUpPlayersPanel
{
	transform: rotateX( 0deg ) translateY( 0px ) translateZ( 0px );
	wash-color: #00000000;
	box-shadow: #83d79544 -5px -5px 12px 10px;
	opacity: 1;
	
	animation-name: ready-up-start; 
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
}

.Minimized #PopupReadyUpPlayersPanel
{
}

@keyframes 'ready-up-start-end'
{
	from
	{
		transform: rotateX( 0deg ) translateY( 0px ) translateZ( 0px );
		wash-color: #00000000;
	}

	to
	{

		
		transform: rotateX( -90deg ) translateY( 132px ) translateZ( -140px );
		wash-color: black;
	}
}

@keyframes 'ready-up-start'
{
	from
	{
		transform: rotateX( -90deg ) translateY( 128px ) translateZ( -140px );
		wash-color: black;
		box-shadow: #83d79500 0px 0px 0px 0px;	
		opacity: 1;
	}
	25%
	{
		transform: rotateX( -76deg ) translateY( 112px ) translateZ( -120px );
		wash-color: #000000dd;
		box-shadow: #83d79500 0px 0px 0px 0px;	
	}
	60%
	{
		wash-color: #000000aa;
		box-shadow: #83d79500 0px 0px 0px 0px;	
	}
	to
	{
		transform: rotateX( 0deg ) translateY( 0px ) translateZ( 0px );
		wash-color: #00000000;
		box-shadow: #83d79544 -5px -5px 12px 10px;
	}
}

#CollapseExpandButton
{
	horizontal-align: right;
	vertical-align: top;
	margin: 5px;
}

.CollapseExpandIcon
{
	width: 35px;
	height: 35px;
	background-image: url("s2r://panorama/images/icon_swap_png.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transform: rotateZ( 90deg );
	wash-color: #aaaaaa;
}

#CollapseExpandButton:hover .CollapseExpandIcon
{
	wash-color: none;
}

.Minimized .HeaderBar
{
	visibility: collapse;
}

#MinimizeClickCatcher
{
	//background-color: red;
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.ReadyUpPlayersVisible #MinimizeClickCatcher
{
	visibility: visible;
}

.Minimized #MinimizeClickCatcher
{
	visibility: collapse;
}