PopupCustomGameJoinFailed
{
	width: 650px;
	vertical-align: center;
    horizontal-align: center;
	opacity: 1.0;
    transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;
    flow-children: down;

	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: linear;

    background-color: black;

	padding: 25px 28px 0px 28px;
}

PopupLobbySettings.Hidden
{
    visibility: collapse;
}

Label
{
    color: white;
}

.JoinErrorTitle
{
    color: #a09b98;
    font-size: 24px;
}

.JoinFailedInnerBlock
{
	flow-children: down;
}

.JoinErrorLabel
{
	color: #cbcbcb;
    font-size: 17px;
}

.JoinPromptLabel
{
	color: #cbcbcb;
    font-size: 17px;
}

.ButtonFooter
{
	margin-top: 8px;
	margin-bottom: 16px;

	flow-children: right;
	horizontal-align: right;
}

#JoinFailedFindLobbyButton
{
    horizontal-align: right;
	width: 154px;
	height: 33px;
	margin: 8px;
	
    overflow: noclip noclip;

	background-image: url("s2r://panorama/images/green_med_button_off_png.vtex");
    background-size: 240px 60px;
    background-position: 50% 50%;
	background-repeat: no-repeat;
}

#JoinFailedFindLobbyButton Label
{
	width: 100%;
    text-align: center;
	vertical-align: center;
	margin-top: 4px;
	font-size: 20px;
}

#JoinFailedFindLobbyButton:hover
{
    background-image: url("s2r://panorama/images/green_med_button_on_png.vtex");
}

#JoinFailedCancelButton
{
    horizontal-align: right;
	width: 154px;
	height: 33px;
	margin: 8px 0px 8px 8px;

	background-image: url("s2r://panorama/images/red_med_button_off_png.vtex");
    background-size: 240px 60px;
    background-position: 50% 50%;
	background-repeat: no-repeat;
}

#JoinFailedCancelButton Label
{
	width: 100%;
    text-align: center;
	vertical-align: center;
	margin-top: 4px;
	font-size: 20px;
}

#JoinFailedCancelButton:hover
{
    background-image: url("s2r://panorama/images/red_med_button_on_png.vtex");
}
