/* styles for the armory tags popup */

DOTAArmoryTagsPopup
{

}

.PopupTagRow
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 8px;
}

#Header
{
	horizontal-align: center;
}

.AcceptCancelButtons
{
	margin-top: 26px;
}

.PopupTagRow ToggleButton
{
	vertical-align: center;

}

ToggleButton .TickBox
{
	margin-left: 6px;
}


ToggleButton.Mixed .TickBox
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #374645 ), to( #475655 ) );
}

ToggleButton
{
	width: 374px;
	font-size: 16px;
	border-radius: 6px;
	background-color: #252B2Dbb;
	border: 1px solid black;
	margin: 2px;
	margin-left: 8px;
	padding-right: 6px;
	padding-left: 8px;
	padding-top: 4px;	
	padding-bottom: 4px;	

}

ToggleButton:selected
{
	background-color: #565E5C44;
}

ToggleButton:selected TextEntry
{
	color: white;
}
TextEntry
{
	background-color: none;
	border: 1px solid transparent;
	margin-left: 6px;
	color: #888888;
}


.NumberList
{
	vertical-align: middle;
	margin-left: 12px;
	font-size: 24px;
	color: #888888;
	margin-top: 4px;
	padding-left: 6px;
}
ToggleButton:selected .NumberList
{
	color: #cccccc;
}