DOTAPopupOverwatchCaseHelp.PopupPanel
{
	padding: 0px;
	width: 1100px;
	background-color: #000000;
	background-image: url("s2r://panorama/images/conduct/ovw_bg_png.vtex");
	background-size: cover;
	border: 1px solid #333333;
}

.Contents {
	flow-children: down;
	width: 100%;
	height: fit-children;
}

.StepContainer {
	flow-children: right;
	width: 100%;
}

.OverwatchHelpSection {
	width: fill-parent-flow( 1.0 );
	margin: 0px 15px;
	flow-children: down;
}

/* .Section1 {
	width: 60%;
}

.Section2 {
	width: 39%;
} */

#Header
{	
	width: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(255, 255, 255, 0.00 ) ), color-stop(0.5, #ffffff), to( rgba(255, 255, 255, 0.00) ) );
	background-color: #00000090;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000090), to( #16587420)) );

	padding-left: 0px;
}


.HeaderArt {
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #16587400), to( #3a60c150) );
	background-size: cover;
	background-position: center center;
	brightness: 0.5;
	opacity: 0.5;
}

#CloseButton
{
	horizontal-align: right;
	min-width: 0px;
	border: 0px;
	background-color: none;
	background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex"); 
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	opacity: .2;
	transition-property: opacity;
	transition-duration: .2s;
}

#Header Label
{
	font-size: 26px;
	text-align: center;
	width: 100%;
	letter-spacing: 3px;
	font-weight: light;
	color: #ffffff;
	margin: 20px 0px;
	text-transform: uppercase;
}

#Body
{
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	padding: 20px 40px 20px 40px;
}

#Description
{
	text-align: center;
	font-size: 20px;
	font-weight: light;
	color: #fcfcfc;
}

.OverwatchHelpTitle {
	font-size: 19px;
	color: #fefefe;
	font-weight: semi-bold;
	margin-bottom: 5px;
}

.OverwatchHelpLabel {
	font-size: 17px;
	color: #fefefeaa;
	font-weight: light;
}

#Buttons
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 30px;
}


.HelpImage {
	width: 100%;
	height: 175px;
	//background-color: #333333;
	margin-bottom: 10px;
}

.Section1 .HelpImage {
	background-image: url("s2r://panorama/images/conduct/ovw-help-1_png.vtex"); 
	background-size: contain;
	background-repeat: no-repeat;
}

.Section2 .HelpImage {
	background-image: url("s2r://panorama/images/conduct/ovw-help-2_png.vtex"); 
	background-size: contain;
	background-repeat: no-repeat;
}

.Section3 .HelpImage {
	background-image: url("s2r://panorama/images/conduct/ovw-help-4_png.vtex"); 
	background-size: contain;
	background-repeat: no-repeat;
}



.Description, .FinePrint
{
	text-align: center;
	width: 100%;
}

.DownloadIcon {
	width: 18px;
	height: 18px;
	margin-left: 6px;
	vertical-align: middle;
	img-shadow: 0px 0px 10px 3.0 #000000;

}

#OverwatchReviewReplayButton {
	flow-children: right;
}


#OverwatchStatusLabel
{
	horizontal-align: center;
	margin-bottom: 10px;
}
