/* styles for the game end quests popup */

DOTAPopupBattleCupWinner.PopupPanel
{
	//width: 1460px;
	width: 100%;
	height: 100%;
	horizontal-align: center;

	border: 0px;
	box-shadow: none;
	padding: 0px;
	animation-name: none;
	
	transition-property: transform;
	transition-duration: 0.5s;	
	transition-timing-function: ease-in-out;

	background-color: #000000aa;
	flow-children: none;
}

#ExplosionsLong
{
	width: 700px;
	height: 700px;
	horizontal-align: center;
	margin-top: -10px;
	opacity: 1;
	//padding: 300px;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-delay: 1.9s;
	transition-duration: 1s;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
	wash-color: orange;
	//saturation: .5;
	brightness: .2;
	
}

#Explosions
{
	width: 700px;
	height: 700px;
	horizontal-align: center;
	margin-top: 50px;
	opacity: 1;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-delay: 1.5s;
	transition-duration: 1s;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
}

#BattleCupTrophy
{
	width: 800px;
	height: 800px;
	horizontal-align: center;
	//padding-top: 20px;
	margin-top: 150px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
	opacity: 1;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-delay: 1.5s;
	transition-duration: .5s;	
}

#LabelContainer
{
	flow-children: down;
	margin-top: 660px;
	horizontal-align: center;
	overflow: noclip;
}

#ChampionTitle
{
	font-size: 66px;
	text-transform: uppercase;
	color: #e9be6f;
	color: gradient( linear, 0% 0%, 100% 100%, from( #e9be6f44 ), color-stop( 0.2, #e9be6f ), color-stop( 0.4, #f0cf84 ), color-stop( 0.6, #f0cf84 ), color-stop( 0.8, #e9be6f ), to( #e9be6f44 ) );
	font-weight: bold;
	horizontal-align: center;
}


#SubtitleContainer
{
	horizontal-align: center;
	flow-children: right;
	margin-top: -20px;
}

#Division,
#Tier,
#Date
{
	font-size: 48px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 8px;
	margin-right: 8px;
}

#Division
{
	color: #9d6802;
	color: gradient( linear, 0% 0%, 100% 100%, from( #9d680244 ), color-stop( 0.5, #9d6802 ), to( #9d6802 ) );
}

#Tier
{
	color: #e9be6f;
}

#Date
{
	color: #9d6802;
	color: gradient( linear, 0% 0%, 100% 100%, from( #9d6802 ), color-stop( 0.5, #9d6802 ), to( #9d680244 ) );
}

#TeamContainer
{
	horizontal-align: center;
	margin-top: 30px;
	flow-children: right;

	opacity: 0;
	pre-transform-scale2d: 6;

	transition-duration: .3s;
	transition-property: opacity, pre-transform-scale2d;
	transition-timing-function: ease-in-out;
	
	overflow: noclip;
}

#TeamContainer.FadeIn
{
	opacity: 1;
	pre-transform-scale2d: 1.0;
}

#BattleCupTeamLogo
{
	width: 80px;
	height: 80px;
	background-color: black;
	margin-right: 20px;
	border-top: 1px solid #ffcf8409;
	border-left: 1px solid #ffffff04;
	border-right: 1px solid #ffcf8406;
	border-bottom: 1px solid #ffffff03;
	box-shadow: -4px -4px 8px 8px #000000;
}

#BattleCupTeamName
{
	font-size: 66px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	vertical-align: center;
}

#Footer
{
	flow-children: right;
	vertical-align: bottom;
}

#Footer Button
{
	vertical-align: top;
}

#Footer
{
	visibility: collapse;	// set to visible to show debug buttons
}