
DOTAPopupUITreasureOddsDetails.PopupPanel
{
	width: 700px;
	vertical-align: center;
	horizontal-align: center;
    flow-children: down;
	animation-name: none;
	background-color: black;
	background-color: gradient( linear, 0% 0%, 140% 0%, from( #22282Af4 ), to( #000000 ) );
	border: 0px;
	box-shadow: fill black -8px -8px 20px 16px;
	padding: 0px;
	transition-duration: .35s;
	opacity: 0;
}

DOTAPopupUITreasureOddsDetails.DetailsLoaded
{
	opacity: 1;
}

#Title
{
	flow-children: right;
	width: 100%;
}

#Title Label
{
	margin: 10px;
	width: 80%;
}

#TitleBackground
{
	width: 100%;
	height: 100px;
	border-top: 0;
	background-image: none;
	background-color: #00000077;
	background-size: cover;
	flow-children: none;
}

.TitleLabel
{
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: top;
	text-align: center;
	horizontal-align:center;
	vertical-align:center;
	color: white;
	font-size: 30px;
}

.ReceivedLog #Body,
DOTAPopupUITreasureOddsDetails.ReceivedLog .TotalShards
{
    opacity: 1;
}

#CancelButton
{
	width: 35px;
	height: 35px;
	background-size: 20px;
	background-color: #00000077;
	margin-top: 8px;
	margin-right: 9px;
	horizontal-align: right;
	transition-property: background-color, brightness;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

#CancelButton:hover
{
	background-color: #000000dd;
}

.TitleBar
{
	padding-top: 6px;
    width: 100%;
    flow-children: right;
	height: 32px;
	background-color: black;
}

.TitleBar Label,
{
	text-transform: uppercase;
	font-weight: thin;
	letter-spacing: 2px;
}

.TitleBar .TreasuresOpenedColumn
{
    text-align: center;
}

#Body
{
    width: 100%;
    max-height: 600px;
    flow-children: down;
    overflow: clip scroll;
	padding-right: 8px;
}

.TreasureOddsDetailsEntry
{ 
	width: 100%;                          
	background-color: gradient( linear, 0% 0%, 140% 0%, from( #32383Af4 ), to( #000000 ) );
	box-shadow: none;
    flow-children: right;
	height: 38px;
}

.TreasureOddsDetailsEntry.EvenRow
{
	background-color: gradient( linear, 0% 0%, 140% 0%, from( #22282Af4 ), to( #000000 ) );
}


.TreasureOddsDetailsEntry.CurrentLevel
{
	wash-color: #e2aa0088;
}

.CurrentLevel #CurrentEntryInfoIcon
{
	visibility: visible;
}

#CurrentEntryInfoIcon
{
	margin-left: 8px;
	margin-right: -24px;
	padding: 4px;
	horizontal-align: left;
	vertical-align: center;
	visibility: collapse;
	z-index: 10;
}

.TreasureOddsDetailsEntry Label
{
    font-size: 18px;
	vertical-align: middle;
	margin-top: 3px;
	font-weight: thin;
}

.TreasuresOpenedColumn
{
	width: 50%;
	horizontal-align: center;
	text-align: center;
}


.TreasuresOpenedColumn > Label
{
	width: 100%;
}

.IndividualOddsColumn
{
	width: 33%;
	horizontal-align: center;
	text-align: center;
}

.CumulativeOddsColumn
{
	margin-left:-20px;
	width: 33%;
	horizontal-align: right;
	text-align: center;
}

.TreasureOddsDetailsEntry:hover
{
}

.TreasureOddsDetailsEntry:hover Label
{
	brightness: 2;
}

.InfoIcon
{
	margin: 2px;
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/status_icons/information_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	tooltip-position: right;
	tooltip-body-position: 50% 10%;
	wash-color: #888888;
	vertical-align: top;
}