
DOTADebutMoviePopup.PopupPanel
{
	width: 100%;
	height: 100%;
	background-color: black;
	border: 0px;
	padding: 0px;
	box-shadow: none;
	animation-name: none;
	flow-children: none;
}

DOTADebutMoviePopup.PopupPanel.Hidden
{
	sound: "";
}

#MovieContainer
{
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
	height: width-percentage( 56.25% );
	max-width: 1920px;
}

#DebutMovie
{
	width: 100%;
	height: 100%;
}

#MoviePlaceholderBg
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/aghanim/trailer_bg_png.vtex");
	background-position: center;
	background-size: cover;

	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.MovieFinished #MoviePlaceholderBg
{
	opacity: 1.0;
}

#CloseButton
{
	horizontal-align: right;
	margin: 16px;
	background-color: #000e;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	wash-color: white;
	border: 2px solid #222;

	opacity: 0.0;

	transition-property: opacity, border;
	transition-duration: 0.2s;
}

#CloseButton:hover
{
	border: 2px solid #666;
}

#CloseButton:active
{
	border: 2px solid #444;
}

.ShowCloseButton #CloseButton
{
	opacity: 1.0;
}


#ReplayButton
{
	horizontal-align: left;
	vertical-align: bottom;
	flow-children: right;

	opacity: 0.0;
	/* wash-color: #999; */

	transition-property: opacity, wash-color;
	transition-duration: 0.5s;

	margin-left: 96px;
	margin-bottom: 72px;
}

#ReplayButton:hover
{
	brightness: 2.0;
}

#ReplayButton:active
{
	brightness: 0.8;
}

.MovieFinished #ReplayButton
{
	opacity: 1.0;
	transform: none;
}

#ReplayIcon
{
	width: 54px;
	height: 54px;
	horizontal-align: center;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/control_icons/aghs_replay_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ButtonText,
#DetailsButton Label
{
	color: white;
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	line-height: 100%;

	letter-spacing: 3px;
	text-transform: uppercase;

	color: #DFE9F2;

	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6), 0px 0px 4px #41A0F2;
}

#FinishedControls
{
	vertical-align: bottom;
	horizontal-align: right;
	/* width: 100%; */
	flow-children: left;
	margin-bottom: 72px;
	margin-right: 96px;

	opacity: 0.0;
	transform: translateY( 20px );

	transition-property: opacity, transform;
	transition-duration: 0.5s;
}

.MovieFinished #FinishedControls
{
	opacity: 1.0;
	transform: none;
}

#FinishedControls TextButton
{
	horizontal-align: center;
}

#FinishedControls TextButton Label
{
	text-align: center;
}

#DetailsButton
{
	border: 1px solid #71CCFF;
	box-shadow: inset 0px 0px 24px #3374ff30;
	background-color: #01121C;

	transition-property: box-shadow;
	transition-duration: 0.2s;
}

#DetailsButton Label
{
	font-size: 17px;
	padding: 16px 54px;
}

#DetailsButton:hover
{
	box-shadow: 0px 0px 24px #3374ff0c;
}

#DetailsButton:active
{
	box-shadow: 0px 0px 24px #3374ff0c;
}

#DashboardButton
{
	vertical-align: middle;
	margin-right: 48px;
}

#DashboardButton Label
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 24px;
	color: #666;
	text-decoration: underline;
	font-size: 16px;
	line-height: 100%;

	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;

	color: rgb(153, 165, 175);
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6), 0px 0px 4px #41A0F2;
}

#DashboardButton:hover
{
	brightness: 2.0;
}

#DashboardButton:active
{
	brightness: 1.5;
}