PopupLobbySettings
{
	width: 1600px;
	height: 1000px;
	vertical-align: center;
	horizontal-align: center;
	//opacity: 1.0;
	//transform: none;
	//perspective-origin: 62% 5% invert;
	//perspective: 1000;
	//flow-children: down;

	transition-property: opacity, transform, pre-transform-scale2d, height;
	transition-duration: 0.2s;
	//transition-delay: 0.0s;
	//transition-timing-function: linear;

	//background-color: gradient( linear, 0% 0%, 0% 5%, from( #232326 ), to( #1c1d20 ) );
	//box-shadow: #00000099 -4px -4px 8px 8px;
	//border: 2px solid #32383622;
	
	//padding: 25px 28px 0px 28px;
}

PopupLobbySettings.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 0.95;
}

PopupLobbySettings.Hidden #PopupContent
{
	opacity: 0.0;
	pre-transform-scale2d: 0.95;
}

#PopupContent
{
	width: 1328px;
	height: 500px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1.0;
	transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;
	flow-children: none;

	transition-property: opacity, transform, pre-transform-scale2d, height;
	transition-duration: 0.5s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;

	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
	box-shadow: #00000099 -4px -4px 8px 8px;
	border: 2px solid #32383677;
	
	padding: 25px 28px 0px 28px;
}

#PopupContent.AdvancedVisible
{
	height: 920px;
}

.TournamentLobby #PopupContent.AdvancedVisible
{
	height: 970px;
}


.AdvancedDivider
{
	visibility: collapse;
}

#PopupContent.AdvancedVisible .AdvancedDivider
{
	visibility: visible;
}

// why oh why can't we make transitions work with height: fit-children

// When EditingLobby, the region dropdown isn't visible and the contents aren't as tall
//PopupLobbySettings.EditingLobby #PopupContent
//{
//	height: 435px;
//}

//PopupLobbySettings.EditingLobby #PopupContent.AdvancedVisible
//{
//	height: 900px;
//}

Label
{
	color: white;
}

.SectionTitle
{
	letter-spacing: 1px;
	color: #a09b98;
	font-size: 28px;
}

.SettingTitle
{
	color: #5c5c5c;
	font-size: 20px;
	margin-top: 8px;
	text-transform: uppercase;
}

.SettingTitle.Spacer
{
	margin-top: 32px;
}

.RequiredSettingLabel
{
	margin-left: 10px;
	color: #bb0000;
	font-size: 16px;
}

#GeneralSection
{
	width: 100%;
	margin-bottom: 20px;
	flow-children: down;
}

#GeneralControls
{
	width: 100%;
	flow-children: right-wrap;
	margin: 20px 60px 0px 60px;
}

.GeneralControlsSection
{
	flow-children: right;
	margin-bottom: 10px;
}

.AdvancedSection
{
    width: 100%;
}

#AdvancedSettingsTitle
{
	margin-top: 2px;
}

#AdvancedSettingsTitle Label:hover
{
	color: white;
}

#AdvancedSettingsTitle Label
{
	// see .SectionTitle
	letter-spacing: 1px;
	color: #a09b98;
	font-size: 28px;
}

 #AdvancedSettingsTitle .TickBox
{
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background-image: url("s2r://panorama/images/control_icons/expand_collapse_png.vtex");
    background-size: 100% 100%;
    background-color: none;
    box-shadow: none;
    border: 0px solid transparent;
	wash-color: #888888;

    transition-property: transform, wash-color;
    transition-duration: 0.3s;

    transform: rotateZ( -90deg );

}

#AdvancedSettingsTitle:hover .TickBox
{
    wash-color: white;
}

#AdvancedSettingsTitle:selected .TickBox
{
    transform: none;
}

#AdvancedControls
{
	width: 100%;
	flow-children: right;
	padding: 15px 30px 20px 30px;
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: 0.5s;
}

#PopupContent.AdvancedVisible #AdvancedControls
{
	width: 100%;
	flow-children: right;
	opacity: 1.0;
	margin-top: -4px;
}

.SettingContainer
{
	flow-children: down;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 0px;
    
}
.SettingContainerHolder
{
    flow-children: down-wrap;
    

}
.AdvancedSettingsColumn
{
	border: 2px solid #000000aa;
	//box-shadow: inset #000000aa 0px 2px 6px 3px;
	flow-children: down-wrap;
	background-color: #151818;
    
	
	height: 380px;

	padding: 8px;
	margin-left: 16px;
	margin-right: 16px;
}

.TournamentLobby .AdvancedSettingsColumn
{
	height: 490px;
}

.AdvancedSettingsColumn DropDown
{
	width: 319px;
}

.AdvancedSettingsColumn DropDown:not(:enabled) Label
{
    opacity: 0.0;
}

.AdvancedSettingsColumn DropDownMenu
{
	width: 319px;
}

.AdvancedSectionHeader
{
	width: 100%;
	text-align: center;
	color: #95b0ab;
	font-size: 18px;
	margin-top: 4px;
	margin-bottom: 2px;
}

.AdvancedSettingsColumn .SettingTitle
{
	font-size: 16px;
}

#AdvancedCheckboxes
{
	width: 100%;
	height: fit-children;
	background-color: #292e2e;
	flow-children: down;
	margin-top: 35px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 8px;
	padding: 6px;
	padding-top: 4px;
}

#AdvancedCheckboxes ToggleButton
{
	margin-bottom: 3px;
}

#HidePasswordToggle
{
	margin-top: 4px;
}

ToggleButton Label
{
	font-size: 20px;
}

DropDown
{
	tooltip-position: right;
	tooltip-body-position: 50% 50%;
}

DropDown Label
{
	margin-top: 0px;
	font-size: 22px;
	text-transform: uppercase;
}

.Divider
{
	height: 1px;
	background-color: #363d3b;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
}

#BottomDivider
{
	//vertical-align: bottom;
	//margin-bottom: 94px;
}

DropDown
{
	width: 350px;
	height: 41px;
}

DropDownMenu
{
	width: 298px;
}

#GameModeDropdownDropdownMenu, #ServerLocationDropdownDropdownMenu
{
	width: 350px;
}

#GameModeDropdownDropDownMenu
{
	max-height: 600px;
}

.ButtonFooter
{
	height: 78px;
	background-color: #1c1d20;
	vertical-align: bottom;
	width: 100%;
	margin-bottom: 16px;
	horizontal-align: right;
}

PopupLobbySettings .PopupButton Label
{
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.OKButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d4881cc ), to( #486ca9cc ) );
	horizontal-align: right;
	vertical-align: bottom;
	width: 154px;
	height: 33px;
	margin: 8px;
	border-top: 1px solid #486ca944;
	border-left: 1px solid #486ca944;
	border-right: 1px solid #486ca944;
	overflow: noclip noclip;
}

.OKButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d4881cc ), to( #82aafc ) );
}

.OKButton Label
{
	font-weight: bold;
	text-align: center;
	vertical-align: center;
}

.OKButton:disabled
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #484848 ), to( #777777 ) );
	border: 1px solid #333333;
}

.OKButton:disabled Label
{
	color: #888888;
}

.RequiredSettingLabel
{
	background-color: #330000;
	border: 1px solid #550000;
	padding: 0px 4px -2px 4px;
	text-align: center;
	vertical-align: top;
	margin-top: 10px;
	
	transition-property: opacity;
	transition-duration: 0.25s;
	opacity: 0.0;
}

.RequiredSettingLabel.RequiredVisible
{
	opacity: 1.0;
}

.SettingsTextEntry
{
	width: 350px;
	height: 41px;
	border: 2px solid #5e686966;
	box-shadow: #00000055 -2px -2px 1px 4px;
}

#CreateButton
{
	width: 312px;
	horizontal-align: center;
	height: 48px;
}

.CreateMsgInFlight .CreateButtonLabel
{
	visibility: collapse;
}

.CreateSpinner
{
	visibility: collapse;
	horizontal-align: center;
}

.CreateMsgInFlight .CreateSpinner
{
	visibility: visible;
}

PopupLobbySettings.CreatingLobby #CancelButton
{
	height: 48px;
}

.TeamNames
{
	color: #888888;
}

#OKButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a6c75 ), to( #3d4a50 ) );
	width: 154px;
	horizontal-align: right;
	height: 38px;
	margin-right: 212px;
	border-top: 1px solid #ffffff44;
	border-right: 1px solid #4e5b60;
	border-left: 1px solid #4e5b60;
	border-bottom: 1px solid #00000088;
}

#OKButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a9c8da ), to( #596b75 ) );
}

#OKButton:active
{
	border: 1px solid black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272f33 ), to( #5a6c75 ) );
	
	border-top: 1px solid #00000088;
	border-right: 1px solid #00000088;
	border-left: 1px solid #00000088;
	border-bottom: 1px solid #aaaaaa44;
}

#OKButton Label
{
	font-weight: normal;
}

PopupLobbySettings.EditingLobby #CreateButton
{
	visibility: collapse;
}

PopupLobbySettings.CreatingLobby #OKButton
{
	visibility: collapse;
}

PopupLobbySettings.EditingLobby #CancelButton
{
	height: 38px;
}

#CancelButton
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 154px;
	height: 33px;
	margin: 8px 0px 8px 8px;
}

#CancelButton Label
{
	width: 100%;
	text-align: center;
	vertical-align: center;
}

#TournamentDropdownContainer
{
	visibility: visible;
}

PopupLobbySettings.TournamentLobby #TournamentDropdownContainer
{
	visibility: visible;
}

//PopupLobbySettings.LocalLobby #ServerLocationDropdown
//{
//	visibility: collapse;
//}

//PopupLobbySettings.EditingLobby #RegionSettingsContainer
//{
//	visibility: collapse;	
//}

.SeriesWinsContainer
{
	flow-children: right;
	margin: 0px 0px 0px 8px;
	background-color: #222222;
	visibility: collapse;
	horizontal-align: center;
}

.SeriesWinsLabel
{
	font-size: 12px;
}

.RadiantSeriesWinsLabel
{
	horizontal-align: right;
	margin-right: 6px;
}

.DireSeriesWinsLabel
{
	margin-left: 8px;
}

#SeriesSettings
{
	flow-children: right;
}
.SeriesWinsVisible .SeriesWinsContainer
{
	visibility: visible;
}

.SeriesWinsVisible #SeriesTypeDropdown
{
	width: 150px;
}

#PreviousMatchContainer
{
	visibility: collapse;
}

.SeriesWinsVisible #PreviousMatchContainer
{
	visibility: visible;
}

#SeriesTypeDropdown
{
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.SeriesWins
{
	background-color: #444444;
	flow-children: right;
	margin-left: 7px;
	margin-right: 7px;
	border-radius: 1px;
	width: 54px;
}

.SeriesWins1, .SeriesWins2, .SeriesWins3
{
	background-color: #666666;
	width: 10px;
	height: 10px;
	margin: 4px;
}

// only show 2 boxes in best of 3 series
.SeriesGames3 .SeriesWins3
{
	opacity: 0.0;
}

.SeriesWinsMoreThan2 .SeriesWins1, .SeriesWinsMoreThan2 .SeriesWins2, .SeriesWinsMoreThan2 .SeriesWins3
{
	background-color: green;
}

.SeriesWinsMoreThan1 .SeriesWins1, .SeriesWinsMoreThan1 .SeriesWins2
{
	background-color: green;
}

.SeriesWinsMoreThan0 .SeriesWins1
{
	background-color: green;
}

.SettingsContainerShaded
{
	padding-top: 12px;
	margin-top: 15px;
	//background-color: #292e2e;
}

#FillWithBotsToggleButton
{
	margin-top: 4px;
    horizontal-align: center;
}

#CheatsToggleButton
{
    padding-top: 12px;

}

.DevScriptOption 
{
    visibility: collapse;
}

.HasDevScript .DevScriptOption
{
    visibility: visible;
}
