DOTAPopupOverwatchCaseHelp.PopupPanel
{
	flow-children: none;
	padding: 0px;
	width: 1614px;
	height: 883px;
	background-color: black;
}


#MainContents
{
	flow-children: right;
	padding: 16px;
	width: 100%;
	height: 100%;
}


.OverwatchHelpSection
{
	width: 33%;
	height: 100%;
}

.OverwatchHelpLabel
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	margin-left: 10px;
	margin-right: 10px;
}