DOTAPopupGuildRoleAdd.PopupPanel
{
}

DOTAPopupGuildRoleModify.PopupPanel
{
}

#PropertiesTable
{
	flow-children: down;
}

.PropertyRow
{
	flow-children: right;
	margin-bottom: 8px;
}

.PropertyName
{
	width: 160px;
	text-align: right;
	padding-right: 8px;
	text-transform: uppercase;
	color: #999;
	letter-spacing: 1px;
	vertical-align: middle;
}

#NameTextEntry
{

}

#TagTextEntry
{
	width: 100px;
}

#SubmitStatusContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 8px;
}

#SubmitSpinner
{
	margin-right: 8px;
	visibility: collapse;
}

.SubmitInProgress #SubmitSpinner
{
	visibility: visible;
}

#SubmitStatus
{
	font-size: 24px;
}

.SubmitFailed #SubmitStatus
{
	color: loserRed;
}
.SubmitSuccess #SubmitStatus
{
	color: winnerGreen;
}

#Permissions
{
	flow-children: down;
}