
/* queried in code */
@define PopupManageTeammates-DeletionTransitionTime: 0.2s;
@define PopupManageTeammates-MinRows: 8;

.PopupManageTeammates
{
	pre-transform-scale2d: 1;
	opacity: 1;

	background-color: gradient( linear, 0% 0%, 0% 25%, from(  #1C1D20 ), to( #230600 ) );

   	width: fit-children;
    height: fit-children;

   	horizontal-align: center;
    vertical-align: center;
	
	transition-property: background-color, transform, pre-transform-scale2d, opacity, wash-color;
	transition-duration: 0.35s;
    

    flow-children: down;
}

.PopupManageTeammates.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
}

.PopupManageTeammates_TitleBar
{
    width: 100%;
    height: 64px;
    margin-bottom: 4px;
    padding: 12px;
    margin-top: 8px;
}

.PopupManageTeammates_TitleBar_Icon
{
    margin: 4px;
    width: 56px;
    height: 56px;
    margin-left: 12px;
    margin-top: 0;

    background-image: url("s2r://panorama/images/conduct/report_flag_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    wash-color: #DD3C1C;
}

.PopupManageTeammates_TitleBar_Title
{
    horizontal-align: left;
    vertical-align: center;
    text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 2px;
	color: #DD3C1C;
    margin-left: 60px;
}


.PopupManageTeammates_TitleBar_Close
{
    horizontal-align: right;
    vertical-align: top;
    width: height-percentage(1.0);
    height: 100%;
}

.PopupManageTeammates_Content
{
    width: 600px;
    height: 512px;
}

.PopupManageTeammates_Content_Players
{
    flow-children: down;
    width: 100%;
}

.PopupManageTeammates--Scroll .PopupManageTeammates_Content_Players
{
    overflow: squish scroll;
}

.ManageTeammatePlayerRow
{
    flow-children: right;
    background-color: #ffffff02;

    height: 64px;
    width: 100%;

    padding-right: 8px; /* scrollbar */

    opacity: 0.0;
}

.ManageTeammatePlayerRow_PlayerAvatar
{
    margin: 8px;
    horizontal-align: left;
    vertical-align: center;
    width: 48px;
    height: 48px;
}

.ManageTeammatePlayerRow_PlayerName
{
    margin-left: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
    horizontal-align: left;
    vertical-align: top;
}

.ManageTeammatePlayerRow--Active
{
    opacity: 1.0;
    transition-property: position, opacity, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: PopupManageTeammates-DeletionTransitionTime;
}

.ManageTeammatePlayerRow--OddRow
{
    background-color: #ffffff06;
}

.ManageTeammatePlayerRow_Profile
{
    width: fill-parent-flow(1.0);
}

.ManageTeammatePlayerRow_MoreData_Padding
{
    width: fill-parent-flow(1.0);
}

.ManageTeammatePlayerRow_Time
{
    horizontal-align: left;
    vertical-align: bottom;
    margin-left: 64px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 12px;
    color: hsv-transform( yellow, 0, 0.9, 0.3 );

    visibility: collapse;
}

.ManageTeammatePlayerRow--ValidCreationTime .ManageTeammatePlayerRow_Time--Added
{
    visibility: visible;
}
.ManageTeammatePlayerRow--ValidExpirationTime .ManageTeammatePlayerRow_Time--Added
{
    /* only show one of these two */
    visibility: collapse;
}
.ManageTeammatePlayerRow--ValidExpirationTime .ManageTeammatePlayerRow_Time--Expires
{
    visibility: visible;
}

.ManageTeammatePlayerRow_Remove
{
    margin: 8px;
    vertical-align: center;
}

.ManageTeammatePlayerRow_MoreData
{
    margin: 8px;
    vertical-align: center;
}

.PopupManageTeammates_Content_Loading
{
    background-color: #00000080;
    visibility: collapse;
    width: 100%;
    height: 100%;
}

.PopupManageTeammates_Content_Loading_Spinner
{
    horizontal-align: center;
    vertical-align: center;
}

.PopupManageTeammates--Loading .PopupManageTeammates_Content_Loading
{
    visibility: visible;
}

.PopupManageTeammates_Content_None
{
    visibility: collapse;
    horizontal-align: center;
    vertical-align: center;
    letter-spacing: 1px;
}
.PopupManageTeammates--Empty .PopupManageTeammates_Content_None
{
     visibility: visible;
     vertical-align: top;
     padding-top: 21px;
}
.PopupManageTeammates--Loading .PopupManageTeammates_Content_None
{
    visibility: collapse;
}
