@define toastExitDuration: 0.3s;

.MainToastPanel
{
    margin-top: 100px;
	padding: 8px 5px 8px 5px;
	width: fit-children;
	min-width: 300px;
	min-height: 60px;
	opacity: 0.8;
	horizontal-align: right;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #404848a0 ), to( #302929a0 ) );
	vertical-align: middle;
}

.BroadcasterGreenscreen .MainToastPanel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #404848FF ), to( #302929FF ) );
}

/* Alpha channel is to render for broadcast overlay */
.AlphaRender
{
    width: 100%;
    height: 100%;
    background-color: white;
    visibility: collapse;
}

.AlphaChannel .AlphaRender
{
    visibility: visible;
}

.BroadcasterGreenscreen .AlphaChannel.MainToastPanel
{
    background-color: white;
}

.ToastHeader
{
	padding: 2px 5px 2px 5px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	max-width: 340px;
	min-width: 240px;
	flow-children: right-wrap;
	text-shadow: 0px 2px 2px 2 #000000;
}

.ToastHeader.NoText
{
	visibility: collapse;
}

.ToastTextLine
{
	padding: 5px 5px 5px 5px;
	font-size: 18px;
	font-weight: medium;
	font-style: normal;
	color: #efefef;
	max-width: 340px;
	min-width: 240px;
	flow-children: right-wrap;
	text-shadow: 0px 1px 1px 1 #000000aa;
}

.BroadcasterGreenscreen .ToastTextLine
{
	max-width: 430px;
	width: 430px;
	font-size: 21px;
}

.ToastTextLine.NoText
{
	visibility: collapse;
}

.ToastImage
{
	horizontal-align: center;
	vertical-align: center;
}

.ToastImageGeneral
{
	padding: 0px 0px 0px 0px;
	width: 94px;
	height: 94px;
	border: 2px solid black;
	vertical-align: middle;
}

.ToastImageHero
{
	padding: 0px 0px 0px 0px;
	width: 71px;
	height: 94px;
	border: 2px solid black;
	vertical-align: middle;
}

.ToastImagePlayer
{
	padding: 0px 0px 0px 0px;
	width: 94px;
	height: 94px;
	border: 2px solid black;
	vertical-align: middle;
}

.ToastImageItem
{
	padding: 0px 0px 0px 0px;
	width: 103px;
	height: 75px;
	border: 2px solid black;
	vertical-align: middle;
}

.ToastImageAbility
{
	padding: 0px 0px 0px 0px;
	width: 94px;
	height: 94px;
	border: 2px solid black;
	vertical-align: middle;
}

.ToastImagePlayer.Hidden
{
	visibility: collapse;
}

.ToastImageTeam.Hidden
{
	visibility: collapse;
}

.ToastImageTeam
{
	padding: 0px 0px 0px 0px;
	width: 94px;
	height: 94px;
	border: 2px solid black;
	vertical-align: middle;
}    

#RightImage
{
    horizontal-align: right;
}