//@define accentColor: #A9372E;

/* Fall 2016 */
@define accentColor: #68a92e;

PopupCompendiumLevel
{
}

.PopupPanel
{
	pre-transform-scale2d: 1;
	opacity: 1;
	width: 1140px;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( black ) );
	background-color: none;
	border: 0px solid #32383677;
	animation-name: none;
	
	box-shadow: none;

	padding: 0px;
	flow-children: none;
	
	transition-property: background-color, transform, pre-transform-scale2d, opacity, wash-color;
	transition-duration: 0.35s;
}

.PopupPanel.Hidden
{
	opacity: 0;
}

.MainBox
{
	width: 660px;
	height: 450px;
	horizontal-align: center;
	margin: 24px;
	flow-children: down;

	//padding-top: 40px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2a2a2a ), to( #191919 ) );
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #303b41 ), to( #20282c ) );
	//border: 1px solid #5e6869;
	box-shadow: #1A0602 -4px -4px 8px 8px;
	
	/* Fall 2016 */
	box-shadow: #071902 -4px -4px 8px 8px;
	
}

#HeaderLabel
{
	color: #ffffff;
	font-size: 32px;
	text-align: center;
	width: 100%;
	padding-top: 28px;
}

#BodyLabel
{
	color: #8b9493;
	font-size: 20px;
	text-align: center;
	width: 100%;
	padding-bottom: 25px;
}

#BlackBanner
{
	width: 100%;
	height: 200px;
	background-image: url("s2r://panorama/images/compendium/spring2016/battlepass_levelup_popup_background_psd.vtex");
	background-size: 100%;
	background-color: black;
	flow-children: right;
}

#LeftSide
{
	vertical-align: center;

	min-width: 350px;
	width: 430px;

	transition-property: width;
	transition-duration: 0.7s;
	transition-timing-function: ease-in-out;
	margin-top: 15px;
}

.LevelingUp #LeftSide
{
	width: 700px;
}

#CompendiumLevelAndNumber
{
	horizontal-align: center;
	min-width: 350px;
}

#CompendiumLevelLabel
{
	color: accentColor;
	brightness: .7;
	font-size: 45px;
	text-align: right;
	width: 170px;
	vertical-align: center;
}

#CompendiumLevelNumber
{
	color: accentColor;
	brightness: 1.7;
	margin-left: 210px;
	font-size: 80px;
	text-align: left;
	vertical-align: center;
	margin-right: 30px;
}

.NumberSlam
{
	animation-name: number-slam;
	animation-duration: 0.25s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in;
}

@keyframes 'number-slam'
{
	0%
	{
		pre-transform-scale2d: 2;
		opacity: 0; 
	}

	100%
	{
		pre-transform-scale2d: 1;
		opacity: 1.0; 
	}
}

#VerticalLine
{
	width: 1px;
	height: 60%;
	vertical-align: center;
	//background-color: #666666; winter 2016 color
	background-color: accentColor;
	opacity: .4;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.LevelingUp #VerticalLine
{
	opacity: 0.0;
}

#RightSide
{
	width: fill-parent-flow( 1.0 );
	padding-top: 68px;
	flow-children: down;

	opacity: 1.0;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.LevelingUp #RightSide
{
	opacity: 0.0;
}

#CompendiumProgress
{
	width: 200px;
	height: 16px;
	horizontal-align: center;
}

#CompendiumProgress .ProgressBarLeft
{
	background-color: accentColor;
}

#CompendiumProgress .ProgressBarRight
{
	background-color: #857769;
	
	/* Fall 2016 */
	background-color: #7c8677;
}

#Points
{
	margin-top: 4px;
	color: accentColor;
	font-size: 20px;
	horizontal-align: center;
}

#PointsRemainingLabel
{
	color: accentColor;
	font-size: 16px;
	horizontal-align: center;
}

.PopupButton
{
	horizontal-align: center;
	margin-top: 40px;
}