DOTAPopupGuildWelcome.PopupPanel:not(.Hidden)
{
    sound: "ui.guild_joined";
}

.GuildWelcomePopup
{
	flow-children: none;
	width: fit-children;
	height: fit-children;
}

.WelcomePopupContainer
{
	flow-children: down;
	height: fit-children;
	width: fit-children;
}

#WelcomeParticleContainer
{
	width: 100%;
	height: 100%;
	//background-color: #ffffff22;
	brightness: 1;
	saturation: .2;
	//overflow: noclip;
}

.GuildPrimaryColor0 #WelcomeParticleContainer { wash-color: guildColor0; }
.GuildPrimaryColor1 #WelcomeParticleContainer { wash-color: guildColor1; }
.GuildPrimaryColor2 #WelcomeParticleContainer { wash-color: guildColor2; }
.GuildPrimaryColor3 #WelcomeParticleContainer { wash-color: guildColor3; }
.GuildPrimaryColor4 #WelcomeParticleContainer { wash-color: guildColor4; }
.GuildPrimaryColor5 #WelcomeParticleContainer { wash-color: guildColor5; }
.GuildPrimaryColor6 #WelcomeParticleContainer { wash-color: guildColor6; }
.GuildPrimaryColor7 #WelcomeParticleContainer { wash-color: guildColor7; }
.GuildPrimaryColor8 #WelcomeParticleContainer { wash-color: guildColor8; }
.GuildPrimaryColor9 #WelcomeParticleContainer { wash-color: guildColor9; }
.GuildPrimaryColor10 #WelcomeParticleContainer { wash-color: guildColor10; }
.GuildPrimaryColor11 #WelcomeParticleContainer { wash-color: guildColor11; }
.GuildPrimaryColor12 #WelcomeParticleContainer { wash-color: guildColor12; }
.GuildPrimaryColor13 #WelcomeParticleContainer { wash-color: guildColor13; }
.GuildPrimaryColor14 #WelcomeParticleContainer { wash-color: guildColor14; }
.GuildPrimaryColor15 #WelcomeParticleContainer { wash-color: guildColor15; }
.GuildPrimaryColor16 #WelcomeParticleContainer { wash-color: guildColor16; }
.GuildPrimaryColor17 #WelcomeParticleContainer { wash-color: guildColor17; }
.GuildPrimaryColor18 #WelcomeParticleContainer { wash-color: guildColor18; }
.GuildPrimaryColor19 #WelcomeParticleContainer { wash-color: guildColor19; }

#ModelTestUIAccept
{
	width: 100%;
	height: 100%;
	brightness: .2;
}


.PopupPanel
{
	border: 0px;
	background-image: url("s2r://panorama/images/guilds/intro/welcome_to_guild_psd.vtex");
	background-size: 100%;
	border-top: 1px solid #ffffff02;
	border-left: 1px solid #ffffff02;
	border-right: 1px solid #ffffff02;
}

.PopupTitle
{
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 0px;
	color: #9b9b9b;
	margin-top: 18px;
	letter-spacing: 1px;
}

#GuildName
{
    color: white;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    horizontal-align: center;
    width: 600px;
	max-height: 100px;
	height: fit-children; 
	
	text-overflow: shrink;
	margin-bottom: 28px;
	margin-top: -8px;
}

.GuildLogoContainer
{
	width: 130px;
	height: 130px;
	flow-children: none;
	horizontal-align: center;
    margin-top: 8px;
	box-shadow: #000000aa -8px -8px 20px 16px;
	border-radius: 12px;
}


#GuildImage
{
    width: 100%;
	height: 100%;
	border-radius: 12px;
	border-top: 1px solid #ffffff44;
	//border-left: 1px solid #ffffff08;
	box-shadow: #000 2px 2px 16px 0px;
	padding: 5px;
}



#GuildLogoGleam
{
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff ), to( #ffffff00 ) );

	animation-name: LogoGleam;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

@keyframes 'LogoGleam'
{
	0% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.01, #ffffff00), color-stop(.2, #ffffff22), color-stop(.4, #ffffff00), to( #ffffff00 ) ); }
	2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(0, #ffffff00), color-stop(.3, #ffffff22), color-stop(.6, #ffffff00), to( #ffffff00 ) ); }
	5% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.3, #ffffff00), color-stop(.5, #ffffff44), color-stop(.7, #ffffff00), to( #ffffff00 ) ); }
	8% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.4, #ffffff00), color-stop(.7, #ffffff22), color-stop(1, #ffffff00), to( #ffffff00 ) ); }
	9% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.6, #ffffff00), color-stop(.8, #ffffff22), color-stop(.99, #ffffff00), to( #ffffff00 ) ); }
	11% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.6, #ffffff00), color-stop(.8, #ffffff00), color-stop(.99, #ffffff00), to( #ffffff00 ) ); }
	100% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.2, #ffffff00), color-stop(.5, #ffffff00), color-stop(.6, #ffffff00), to( #ffffff00 ) ); }
}

#GuildLogoFrame
{
	width: 100%;
	height: 100%;
	background-image: guildTierFrame0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}


#GuildTag
{
    horizontal-align: center;
    margin-top: 4px;
    font-size: 32px;
    font-weight: bold;
	margin-bottom: 10px;
}

#Controls
{
    horizontal-align: center;
    margin-top: 38px;
    height: 60px;
	margin-bottom: 0px;
}

#LoadingContainer
{
    horizontal-align: center;
    flow-children: right;
}

.IsMember #LoadingContainer
{
    visibility: collapse;
}

#LoadingContainer .Spinner
{
    wash-color: #999;
}

#LoadingContainer Label
{
    vertical-align: middle;
    margin-left: 12px;
    color: #999;
}


#ViewHomePageButton
{
    visibility: collapse;
}

.IsMember #ViewHomePageButton
{
    visibility: visible;
}