PopupBroadcastChannelEdit
{
	width: 640px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1.0;
	transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;

	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: linear;

	background-color: black;

	padding: 25px 28px 10px 28px;
}

PopupBroadcastChannelEdit.Hidden
{
	visibility: collapse;
}

.BroadcastPopup
{
	width: 100%;
}

.DialogTitle
{
	horizontal-align: center;
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.ButtonFooter
{
	margin-top: 8px;

	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
}

#OKButton
{
	horizontal-align: right;
	width: 154px;
	height: 33px;
	margin: 8px;

}

#OKButton Label
{
	width: 100%;
	text-align: center;
	vertical-align: center;
	margin-top: -2px;
	font-size: 20px;
}


#OKButton:disabled:hover
{
	background-image: none;
}

#OKButton:disabled
{


}

#CancelButton
{
	horizontal-align: right;
	width: 154px;
	height: 33px;
	margin: 8px 0px 8px 8px;

}

#CancelButton Label
{
	width: 100%;
	text-align: center;
	vertical-align: center;
	margin-top: -2px;
	font-size: 20px;
}

#CancelButton:hover
{

}

#SaveSettingsToggle
{
	margin-top: 16px;
	horizontal-align: center;
}

#LanguageDropdownLabel
{
	margin-top: 16px;
	margin-left: 96px;
	horizontal-align: left;
}

#LanguageDropdown
{
	margin-top: 0px;
	horizontal-align: center;
}


TextEntry
{
	width: 100%;
}

Label
{
	margin-top: 12px;
	margin-bottom: 4px;
	font-size: 22px;
}

#SaveSettingsToggle Label
{
	font-size: 20px;
	margin-left: 16px;
}