/* styles for the report player popup */

.PopupPanel
{
    border: 1px solid #610702;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1C1D20ee ), to( #230600ee ) );
	padding: 0px;
	padding-top: 16px;
    padding-bottom: 32px;
}

.Report--Positive.PopupPanel 
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1C1D20ee ), to( #001707ee ) );
    border: 1px solid #217B07;
}

.Report
{
    flow-children: down;
    min-width: 600px;

    /* override styles from popuppanel*/
    padding: 0px 0px 0px 0px;
}

.Report_Title
{
    height: 86px;
    width: 100%;

    margin-left: 34px;
    margin-right: 34px;
}

.Report_Title_Left
{
    horizontal-align: left;
    vertical-align: center;
    flow-children: right;
}

.Report_Title_Icon
{
	width: 42px;
	height: 42px;
    vertical-align: center;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

    margin-right: 24px;
}
.Report--Negative .Report_Title_Icon
{
   	background-image: url("s2r://panorama/images/conduct/report_flag_png.vtex");
	wash-color: #dd3C1C;
}
.Report--Positive .Report_Title_Icon
{
   	background-image: url("s2r://panorama/images/conduct/commend_star_png.vtex");
    wash-color: #35AA14;
}
.Report--Positive .Report_Title_Label--Negative
{
    visibility: collapse;
}
.Report--Negative .Report_Title_Label--Positive
{
    visibility: collapse;
}

.Report_Title_Label
{
   	text-transform: uppercase;
	font-size: 32px;
	letter-spacing: 2px;
    font-weight: semi-bold;

    vertical-align: center;
}
.Report--Negative .Report_Title_Label
{
	color: #DD3C1C;
}
.Report--Positive .Report_Title_Label
{
    color: #35AA14;
}

.Report_Title_Right
{
    horizontal-align: right;
    vertical-align:center;
    flow-children: down;
}

.ReportInfo
{
    letter-spacing: 2px;
    font-weight: thin;
    text-transform: uppercase;
    horizontal-align: right;
}

.Report--Negative .ReportInfo--Positive
{
    visibility: collapse;
}
.Report--Positive .ReportInfo--Negative
{
    visibility: collapse;
}
.Report--HideReportsRemaining .ReportInfo--ReportsRemaining
{
    visibility: collapse;
}
.Report--HideReportsFiled .ReportInfo--ReportsFiled
{
    visibility: collapse;
}
.Report--HideCommendsRemaining .ReportInfo--CommendsRemaining
{
    visibility: collapse;
}
.Report--HideCommendsFiled .ReportInfo--CommendsFiled
{
    visibility: collapse;
}

.Report_CategoryLabel
{
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: 36px;
}


.Report_Player
{
    width: 100%;

    padding-top: 10px;
    padding-left: 28px;
    padding-bottom: 10px;
    padding-right: 36px;
}
.Report--Negative .Report_Player
{
    background-color: #43211C;
}
.Report--Positive .Report_Player
{
    background-color: #2A361A;
}

.Report_Player_Info
{
    horizontal-align: left;
}

.Report_Options
{
    flow-children: right;
    padding-left: 30px;
    padding-right: 30px;
}

.ReasonButton
{
    flow-children: up;

    width:224px;
    height:391px;
}

.ReasonButton:active
{
    brightness: 1.5;
}

.Report--Negative .ReasonButton--Positive
{
    visibility: collapse;
}

.Report--Positive .ReasonButton--Negative
{
    visibility: collapse;
}

.ReasonButton_Required
{
    horizontal-align: center;
    margin-bottom: -34px;
}

.ReasonButton_Required_Image
{
    horizontal-align:center;
    width: 38px;
    height: 51px;
    z-index: 2;
}
.ReasonButton--BattlePass .ReasonButton_Required_Image
{
    background-image: url("s2r://panorama/images/conduct/bp_shield_icon_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
}

.ReasonButton--BattlePass .ReasonButton_Required_Glow
{
    width: 1px;
    height: 1px;
    horizontal-align: center;
    vertical-align: center;

    /* center visually on shield */
    margin-bottom: 8px;

    z-index: 1;

    box-shadow: -80px -80px 0px 164px #7B00FF44;
}

.ReasonButton_Layout
{
    flow-children: down;
    height:374px;
    width: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #586A7320 ), to( #586A7320 ) );
    padding: 8px;
}

.ReasonButton.ReasonButton--Avoid,
.ReasonButton.ReasonButton--Teammate
{
    margin-left: 20px;
}

.ReasonButton:hover .ReasonButton_Layout
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #586A7340 ), to( #586A7340 ) );
}
.ReasonButton:disabled .ReasonButton_Layout
{
    background-color: #1F2824;
}

.ReasonButton--DidNotPlayRole
{
    visibility: collapse;
}
.Report--EnableDidNotPlayRole .ReasonButton--DidNotPlayRole
{
    visibility: visible;
}

.ReasonButton--Negative:selected .ReasonButton_Layout
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD3C1C ), to( #921800 ) );
}
.ReasonButton--Negative:hover:selected .ReasonButton_Layout
{
    background-color: #FF4620ee;
}
.ReasonButton--Positive:selected .ReasonButton_Layout
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #156100 ), to( #35AA14 ) );
}
.ReasonButton--Positive:hover:selected .ReasonButton_Layout
{
    background-color: #299908 ;
}

.ReasonButton_Icon
{
    width: 72px;
    height: 72px;
    horizontal-align: center;
    margin-top: 72px;
    margin-bottom: 45px;

   	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.ReasonButton--Avoid .ReasonButton_Icon
{
    background-image: url("s2r://panorama/images/conduct/avoid_icon_png.vtex");
}
.ReasonButton--Avoid:selected .ReasonButton_Icon
{
    background-image: url("s2r://panorama/images/conduct/avoid_icon_white_png.vtex");
}


.ReasonButton--Communication .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/conduct/communication_icon_png.vtex");
}
.ReasonButton--Communication:selected .ReasonButton_Icon
{
    background-image: url("s2r://panorama/images/conduct/communication_icon_white_png.vtex");
}

.ReasonButton--AbilityAbuse .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/conduct/ability_icon_png.vtex");
}
.ReasonButton--AbilityAbuse:selected .ReasonButton_Icon
{
    background-image: url("s2r://panorama/images/conduct/ability_icon_white_png.vtex");
}

.ReasonButton--Feeding .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/conduct/feeding_icon_png.vtex");
}
.ReasonButton--Feeding:selected .ReasonButton_Icon
{
    background-image: url("s2r://panorama/images/conduct/feeding_icon_white_png.vtex");
}

.ReasonButton--DidNotPlayRole .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/conduct/lane_icon_png.vtex");
}
.ReasonButton--DidNotPlayRole:selected .ReasonButton_Icon
{
    background-image: url("s2r://panorama/images/conduct/lane_icon_white_png.vtex");
}

.ReasonButton--Friendly .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/commend_icons/communication_icon_png.vtex");
}
.ReasonButton--Friendly:selected .ReasonButton_Icon
{
    background-image: url("s2r://panorama/images/commend_icons/communication_icon_white_png.vtex");
}

.ReasonButton--Forgiving .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/commend_icons/forgiveness_icon_png.vtex");
}
.ReasonButton--Forgiving:selected .ReasonButton_Icon
{
    background-image: url("s2r://panorama/images/commend_icons/forgiveness_icon_white_png.vtex");
}

.ReasonButton--Teaching .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/commend_icons/teaching_icon_png.vtex");
}
.ReasonButton--Teaching:selected .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/commend_icons/teaching_icon_white_png.vtex");
}

.ReasonButton--Leadership .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/commend_icons/leadership_icon_png.vtex");
}
.ReasonButton--Leadership:selected .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/commend_icons/leadership_icon_white_png.vtex");
}

.ReasonButton_Title
{
    horizontal-align: center;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;

    /* override styles from ToggleButton Label */
    margin: 0px;
}

.ReasonButton_Description
{
    horizontal-align: center;
    text-align: center;
    font-weight: thin;

    /* override styles from ToggleButton Label */
    margin: 0px;
}

.ReasonButton_Free
{
    horizontal-align: center;
    text-align: center;
    font-weight: bold;

    /* override styles from ToggleButton Label */
    margin: 0px;
}

.Report_Bottom
{
    margin-top: 10px;
    margin-bottom: 39px;
    flow-children: right;
    width: 100%;
}

.Report_Bottom_Comment
{
    flow-children: down;
    vertical-align: bottom;
    margin-left: 36px;
    margin-right: 29px;
    width: fill-parent-flow(1.0);
}

.Report_Bottom_Comment_Title
{
}

.Report_Bottom_Comment_Entry
{
    width: 100%;
}

.Report_Bottom_Buttons
{
    flow-children: right;
    vertical-align: bottom;
    margin-left: 28px;
    margin-right: 28px;
}

.ReportSectionHeading
{
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 4px;
}

.ReportButton
{
    /* override from PopupButton */
    margin: 0px;
    margin-left: 8px;
    margin-right: 8px;
}

/* ToggleButton automatically creates these */
ToggleButton .TickBox
{
    visibility: collapse;
}