PopupTrophyAchieved
{
}

.BlackBackground
{
	width: 100%;
	height: 100%;
	background-color:#000000EE;
}

.PopupPanel
{
	pre-transform-scale2d: 1;
	opacity: 1;
	height: 100%;
	width: 100%;
	horizontal-align: center;
	background-color: none;
	border: 0px solid #32383677;

	/*background-color: none;
	box-shadow: none;
	border: 0px solid black;*/
	
	box-shadow: none;

	padding: 0px;
	flow-children: none;
}

.PopupPanel.Hidden
{
	opacity: 0;
	pre-transform-scale2d: 1.2;
}

.MainContainer
{
	flow-children: down;
	width: 100%;
	margin-top: 180px;
	margin-bottom: 30px;
}

#CenterContainer
{
	horizontal-align: center;
}

#Title
{
	width: 640px;
	horizontal-align: center;
}

#TrophyUpgradedLabel
{
	font-size: 36px;
	text-transform: uppercase;
    letter-spacing:5px;
    color: #cacaca;
	horizontal-align: center;
	visibility: visible;
}

.NewTrophy #TrophyUpgradedLabel
{
	visibility: collapse;
}

#NewTrophyLabel
{
	font-size: 36px;
	text-transform: uppercase;
    letter-spacing:5px;
    color: #cacaca;
	horizontal-align: center;
	visibility: collapse;
}

.NewTrophy #NewTrophyLabel
{
	visibility: visible;
}

#TrophyImage
{
	width: 256px;
	height: 256px;
	horizontal-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

#TrophyName
{
	font-size: 36px;
	text-transform: uppercase;
    letter-spacing:5px;
    color: #cacaca;
	horizontal-align: center;
}

#ScoreAndTier
{
	font-size: 20px;
	text-transform: uppercase;
	color: #808f8d;
    letter-spacing:2px;
	horizontal-align: center;
}

#BonusProfileXP
{
	font-size: 20px;
	text-transform: uppercase;
	color: #808f8d;
    letter-spacing:2px;
	horizontal-align: center;
}

#ProgressBarContainer
{
	width: 512px;
	horizontal-align: center;
}

#ProfileProgress
{
	width: 490px;
	height: 28px;
	vertical-align: center;
	box-shadow: inset #292B2B 2px 2px 4px 4px;
	background-color: #464748;
	border-width: 2px;
	border-color: #666666;
	padding: 2px;
}

#ProfileProgress .ProgressBarLeft
{
	background-color: dotalevelgradient;
	box-shadow: #61789Caa -2px -2px 4px 4px;
	
	border-radius: 4px;
}

#ProfileProgress .ProgressBarRight
{
	background-color: none;
	
	
	border-radius: 0px;
}

#ProfileProgressLabel
{
	color: black;
	font-size: 16px;
	margin-top: 1px;
	text-align: center;
	width: 100%;
	font-weight: bold;
}

#ProfileBadge
{
	horizontal-align: right;
	margin-right: -60px;
}

#OkButton
{
	horizontal-align: center;
}

#ViewDetailsButton
{
	horizontal-align: center;
}

#ViewDetailsButton:hover Label
{
	color: #ffffff;
}

#ProfileBadgeUpgradedLabel
{
	font-size: 36px;
	text-transform: uppercase;
    letter-spacing:5px;
	color: #cacaca;
	horizontal-align: center;
}

#ProfileBadgeLarge
{
	horizontal-align: center;
	width: 222px;
	height: 222px;
	margin-top: 100px;
	margin-bottom: 100px;
}

#TrophyUpgraded
{
	opacity: 1.0;
	flow-children: down;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.BadgeLeveledUp #TrophyUpgraded
{
	opacity: 0.0;
}

#ProfileBadgeUpgraded
{
	opacity: 0.0;
	width: 640px;
	horizontal-align: center;
	flow-children: down;

	pre-transform-scale2d: 1.3;

	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.BadgeLeveledUp #ProfileBadgeUpgraded
{
	opacity: 1.0;

	pre-transform-scale2d: 1.0;
}



#TrophyAchievedScene
{ 
	opacity: 1;
    width: 100%;
    height: 100%;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

    transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.BadgeLeveledUp #TrophyAchievedScene
{
	opacity: 0;
}

#BadgeLvlUpScene
{ 
	opacity: 0;
	visibility: collapse;
    width: 100%;
    height: 100%;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

    transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.BadgeLeveledUp #BadgeLvlUpScene
{ 
	opacity: 1;
	visibility: visible;
}

.TrophyPointTextSmall {
    font-size:14px;
}