
.InfoRow
{
	flow-children: right;
	margin-bottom: 8px;
}

.InfoLabel
{
	width: 150px;
	margin-right: 8px;
	text-align: right;
	color: #ccc;
}

#SetNameRow > .InfoLabel
{
	vertical-align: middle;
}

#SetNameTextEntry
{
	margin-left: 7px;
}

#SetItems
{
	flow-children: right-wrap;
	width: 430px;
}

.NewSet #DeleteButton,
.NewSet #SaveButton,
.NewSet #EditTitle
{
	visibility: collapse;
}

.ExistingSet #CreateButton,
.ExistingSet #CreateTitle
{
	visibility: collapse;
}