PopupPurchaseRandomHeroRelic.PopupPanel
{
	flow-children: none;
	padding: 0px;
}

#MainContents
{
	flow-children: down;
}

.CloseButton
{
	horizontal-align: right;
	margin-right: 8px;
	margin-top: 8px;
}

#Header
{
	flow-children: right;
	background-color: #111;
	width: 100%;
}

#HeroImage
{
	width: 151px;
	height: 85px;
}

#HeaderDetails
{
	flow-children: down;
	margin-left: 20px;
	vertical-align: middle;
}

#HeaderTitle
{
	flow-children: right;
}

#HeaderHeroName
{
	font-size: 24px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
}

#HeaderRelicsOwned
{
	font-size: 24px;
	letter-spacing: 2px;
	margin-left: 8px;
	color: dotaPlusLightGold;
	font-weight: bold;
}

#HeaderRelicsOwnedLabel
{
	color: #999;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: -3px;
}

#MainCenter
{
	horizontal-align: center;
}

#RightPanel
{
	width: 380px;
	height: 100%;
	margin-left: 8px;
	flow-children: down;
}

#MyShards
{
	horizontal-align: right;
	flow-children: right;
	background-color: #b78946;
	padding-right: 16px;
}

#MyShardsTitle
{
	padding: 6px 12px 2px 12px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	
}

#MyShardsAmountContainer
{
	padding: 6px 12px 2px 12px;
	width: 100%;
	flow-children: right;
}

#MyShards .DotaPlusCurrencyIcon
{
	width: 22px;
	height: 22px;
	margin-right: 4px;
	transform: translateY( -2px );

	vertical-align: middle;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#MyShardsAmount
{
	font-size: 24px;
	color: dotaPlusLightGold;
	text-shadow: 0px 0px 4px 2.0 black;
	font-weight: bold;
}


#Contents
{
	flow-children: down;
	margin: 24px;
	width: 766px;
	margin: 65px 32px;
}

#ContentsTitle
{
	padding-left: 325px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop(0.5, #000000cc), to( #000000 ) );
	width: 100%;
	height: 100px; 
}

#ContentsTitleCenter
{
	horizontal-align: center;
	flow-children: right;
	
}


#RandomRelicContainer
{
	flow-children: none; 

	
	width: 80px; 
	height: 100px;
}

#ContentsTitleIcon
{
	width: 100%;
	height: 100%;
	margin-right: 0px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/hero_relics/hero_relic_random_slot_backer_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#RandomQuestionMark
{
	vertical-align: center; 
	horizontal-align: center;
	margin-right: 0px; 
	margin-top: 10px; 
	font-size: 40px; 
	font-weight: bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( #fff7cf ), to( #dfd28f ) );
	text-shadow: 0px 0px 30px 3 #e89f1f; 
	animation-name: TextShadowGlowPulse;
	animation-duration: 4.1s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
} 

@keyframes 'TextShadowGlowPulse'
{
	0%
	{
		text-shadow: 0px 0px 30px 3 #e66f17;
	}

	50%
	{
		text-shadow: 0px 0px 10px 3 #8f5123;
	}

	100%
	{
		text-shadow: 0px 0px 30px 3 #e66f17;
	}
}

#ContentsTitleCenter > Label
{
	text-transform: uppercase;
	color: #eddcc0;
	color: gradient( linear, 0% 0%, 100% 0%, from( #eddcc0 ), to( #ebc586) );
	font-weight: bold;
	font-size: 30px;
	vertical-align: middle;
	margin-top: 4px;
	letter-spacing: 2px; 
}


#ContentsMain
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), to( #000000cc ) );
	width: 100%;
}

#Controls
{
	width: 370px;
	height: 235px;
	margin-left: 370px;
	margin-right: 34px;
}

.PurchaseStateControls
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.PurchaseStateStart #StartControls,
.PurchaseStateInProgress #InProgressControls,
.PurchaseStateSuccess #SuccessControls,
.PurchaseStateDuplicate #DuplicateControls,
.PurchaseStateFailed #FailedControls
{
	visibility: visible;
}

.PurchaseStateControlsCenter
{
	width: 100%;
	vertical-align: middle;
	flow-children: down;
}

.PurchaseStateTitle
{
	font-size: 20px;
	letter-spacing: 1px; 
	horizontal-align: center;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #999;
}

.PurchseStateMessage
{
	font-size: 20px;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #999;

	margin-bottom: 10px;
}

#StartControls
{
	flow-children: down;
}

#PurchaseButton
{
	min-width: 260px;
	padding: 4px 16px 4px 16px;
	horizontal-align: center;
	margin-top: 24px;
}

#PurchaseButton Label
{
	color: white;
	font-size: 25px;
	font-weight: bold; 
	horizontal-align: center;
	text-align: center;
	margin-top: -1px; 
}

#PurchaseButton .EventPointsValueIcon
{
	width: 24px;
	height: 24px;
	transform: translateY( -2px );
}

#PurchaseButton .EventPointsValue.Season_PlusSubscription
{
	color: white;
}

#PurchaseDescription
{
	margin-top: 0px;
	text-align: center;
	font-size: 17px; 
	width: 360px;
	color: #999; 
}

.RetryButton
{
	horizontal-align: center;
	margin-top: 14px; 
}

.RetryButton Label
{
	font-size: 25px;
	color: white;
	font-weight: bold;
	padding-left: 10px; 
	padding-right: 10px; 
}

#InProgressControls .Spinner
{
	wash-color: #666;
	margin-top: 8px;
	horizontal-align: center;
}

.RelicName
{
	color: white;
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 32px;
	text-align: center;
	margin-bottom: 0px;
	letter-spacing: 1px;
	width: 360px;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
	
	line-height: 28px;
}

.SuccessAnimationComplete #SuccessControls .RelicName
{
	opacity: 1.0;

	transition-duration: 0.0s;
}

#SuccessControls .RetryButton
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-delay: 1.5s;
}

.SuccessAnimationComplete #SuccessControls .RetryButton
{
	opacity: 1.0;

	transition-delay: 0.0s;
	transition-duration: 0.0s;
}

@define duplicateTextAnimationDuration: 2.0s;

.PurchaseStateDuplicate #DuplicateControls
{
	sound: "Relic.Duplicate";
}

.DuplicateAnimationComplete #DuplicateControls .RelicName
{
	opacity: 1.0;

	transition-duration: 0.0s;
}

.DuplicateMessage
{
	margin-bottom: 0px;
	color: #999;
	text-align: center;
	horizontal-align: center;
	font-size: 20px;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-delay: 1.5s;
}

.DuplicateMessage .EventPointsValueIcon
{
	width: 20px;
	height: 20px;
	margin-top: 4px; 
}

.DuplicateAnimationComplete #DuplicateControls .DuplicateMessage
{
	opacity: 1.0;
	transition-delay: 0.0s;
	transition-duration: 0.0s;
}

#DuplicateControls .RetryButton
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
}

.DuplicateRecycleComplete #DuplicateControls .RetryButton
{
	opacity: 1.0;

	transition-duration: 0.0s;
}