/* styles for the simple text tooltip */

DOTAPlusRewardLogEntry
{                           
	background-color: gradient( linear, 0% 0%, 140% 0%, from( #32383Af4 ), to( #000000 ) );
	box-shadow: none;
    flow-children: right;
	height: 38px;
}

DOTAPlusRewardLogEntry.EvenRow
{
	background-color: gradient( linear, 0% 0%, 140% 0%, from( #22282Af4 ), to( #000000 ) );
}


.PlusRewardLogEntry Label
{
    font-size: 18px;
	vertical-align: middle;
	margin-top: 3px;
	font-weight: thin;
}

.PlusRewardLogEntry:hover
{
}

.PlusRewardLogEntry:hover Label
{
	brightness: 2;
}

.DateColumn
{
    width: 108px;
    text-align: center;
}

.TitleBar .DateColumn
{
	padding: 0px;
}

.ShardsColumn	
{
    width: 96px;
    text-align: right;
    margin-right: 32px;
}

.TitleBar .ShardsColumn
{
	margin-right: 0px;
	width: fit-children;
	text-align: right;
	margin-left: 8px;
}

.TotalShardsColumn
{
    width: 200px;
    text-align: right;
    margin-right: 32px;
}

.TitleBar .TotalShardsColumn
{
	horizontal-align: right;
	margin-right: 40px;
}

.TitleBar .DescriptionColumn
{
	margin-left: 40px;
	width: 542px;
	margin-right: 0px;
}

.DescriptionColumn 
{
    width: fill-parent-flow( 1.0 );
	width: 532px;
}

.TipGiven .DescriptionColumn
{
	//wash-color: #249DC5;
}

.TipGiven .PointsColumn
{
	color: #737086;
}



DOTAPlusRewardLogEntry .PointsColumn,
DOTAPlusRewardLogEntry .DescriptionColumn
{
	color: #BEB9BD;
}

.TipGiven
{
	//background-color: #ff000006;
}

.TypeIcon
{
	width: 24px;
	height: 24px;
	background-size: contain;
	vertical-align: middle;
	margin-right: 16px;
}

.ShardsConsumed .TypeIcon
{
	background-image:url("s2r://panorama/images/dota_plus/currency_icon_png.vtex");
}

.SubscriptionActivated .TypeIcon
{
	background-image: url("s2r://panorama/images/dota_plus/dotaplus_logo_small_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}


.TipReceived .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_gottip_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}


.TipGiven .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_gavetip_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}


.WagerWon .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_wonwager_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.InGamePredictionCorrect .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_prediction_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.RecycledItem .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_recycle_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}


.Achievement .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_achievement_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.ReceivedMysteryItem .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_spinwheel_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.ReceivedCommunityGoalItem .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_community_goal_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.QuestComplete .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_questcomplete_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.CorrectPrediction .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_prediction_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.WeekendTourneyPayout .TypeIcon
{
	wash-color: dotaPlusLightGold;
	background-image: url("s2r://panorama/images/weekend_tourney/battlecup_icon_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.FantasyChallengeWinnings .TypeIcon
{
	wash-color: dotaPlusLightGold;
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_achievement_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}


.OtherEvent25 .TypeIcon
{
	background-image: url("s2r://panorama/images/control_icons/battlepass_logo_small_png.vtex");
	wash-color: #B685F7;
}

VerticalScrollBar .ScrollThumb,
VerticalScrollBar:active .ScrollThumb,
VerticalScrollBar:hover .ScrollThumb
{
	background-color: #545557;
}
