DOTAPopupNotifyMVPWinner.PopupPanel
{
	width: 800px;
    height: 800px;
	vertical-align: center;
	horizontal-align: center;
    flow-children: down;
	horizontal-align: center;

	background-color: black;
	border: 0px;
	box-shadow: fill #00000077 -8px -8px 20px 16px;
	padding: 0px;

	background-image: url("s2r://panorama/images/hud/mvp_winner_popup_psd.vtex");
	background-size: 100%;
}

DOTAPopupNotifyMVPWinner Label
{
	horizontal-align: center;
}

DOTAPopupNotifyMVPWinner.PopupPanel.Hidden
{
	visibility: collapse;
}

#ClosePopup
{
	horizontal-align: right;
	margin-top: 20px;
	margin-right: 20px;
}

/*#MVPText {*/
	/*horizontal-align: center;*/
	/*vertical-align: top;*/
	/*height: 100px;*/
/*}*/

#MVPWinner {
	font-weight: bold;
	font-size: 26px;
	color: #ffffff;
	text-shadow: 2px 2px 2px #000000;
}

#MVPWinnerDesc {
	color: #ffffff;
	font-size: 18px;
}


#MVPIcon
{
	horizontal-align: center;
	height: 70px;
	width: 70px;
	background-image: url("s2r://panorama/images/hud/player_mvp_crown_lg_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
}

#MVPWinnerScene
{
	horizontal-align: center;
	width: 550px;
	height: 500px;
}

#ViewMatchDetails
{
	margin-top: 0px;
	horizontal-align: center;
}

.BattlePassButton {
	horizontal-align: center;
}