
PopupBotSelection
{
	width: 1000px;
	height: 700px;
	vertical-align: center;
	horizontal-align: center;

	background-color: #1C1D20;
	border: 1px solid #666666;

	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.2s;
}

PopupBotSelection.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 0.95;
}

PopupBotSelection .CloseButton
{
	horizontal-align: right;
	vertical-align: top;
	margin: 8px;
}

PopupBotSelection #Header
{
	horizontal-align: left;
	vertical-align: top;

	margin: 8px;

	border-bottom: 1px solid #666666;

	width: 100%;

	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFFFFF;
}

#BotScriptContainer
{
	width: 100%;
	height: 640px;

	flow-children: down;

	margin-top: 56px;


	overflow: squish scroll;
}

.BotScript
{
	width: 100%;
	height: 120px;

	border: 1px solid #000000;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c2c2c ), to ( #353535 ) );

	margin: 8px;
	margin-right: 16px;

	flow-children: right;
}

.BotScriptInfo
{
	width: 800px;
	height: 100%;
}

.BotScriptInfo .Title
{
	horizontal-align: left;
	vertical-align: top;

	margin-top: 4px;
	margin-left: 8px;

	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1.8px;
	color: #FFFFFF;
}

.BotScriptInfo .Description
{
	horizontal-align: left;
	vertical-align: top;

	margin-top: 36px;
	margin-left: 8px;

	font-size: 14px;
	color: #a6b0bd;
	height: 60px;

	border-bottom: 1px solid #111111;

	width: 770px;
}

.BotScriptInfo .Updated
{
	horizontal-align: left;
	vertical-align: bottom;

	font-size: 14px;
	color: #AAAAAA;

	margin-bottom: 2px;
	margin-left: 8px;
}

.BotScriptInfo .Subscribers
{
	horizontal-align: left;
	vertical-align: bottom;

	font-size: 14px;
	color: #AAAAAA;

	margin-bottom: 2px;
	margin-left: 340px;
}

.BotScriptInfo .Subscribers .Value,
.BotScriptInfo .Upvotes .Value,
.BotScriptInfo .Updated .Value,
.BotScriptInfo .WorkshopLink
{
	color: #DDDDDD;
}

.BotScriptInfo .Upvotes
{
	horizontal-align: left;
	vertical-align: bottom;

	font-size: 14px;
	color: #AAAAAA;

	margin-bottom: 2px;
	margin-left: 200px;
}

.BotScriptInfo .WorkshopLink
{
	horizontal-align: left;
	vertical-align: bottom;

	font-size: 14px;
	text-decoration: underline;
	color: #AAAAAA;

	margin-bottom: 2px;
	margin-left: 500px;
}

.BotScriptInfo .WorkshopLink:hover
{
	color: #FFFFFF;
}


.Thumb
{
	width: 32px;
	height: 32px;

	horizontal-align: center;
	vertical-align: top;

	margin-top: 4px;
	margin-right: 18px;

	background-image: url("s2r://panorama/images/control_icons/thumbs_up_png.vtex");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	transition-property: wash-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#UnUpvote
{
	wash-color: #888888;
}

#UnUpvote:hover
{
	wash-color: #CCCCCC;
}

#Upvote
{
	wash-color: #00CC00;
}

#Upvote:hover
{
	wash-color: #00FF00;
}

#Upvote,
.IsUpvoted #UnUpvote
{
	visibility: collapse;
}

.IsUpvoted #Upvote
{
	visibility: visible;
}


#SubscribeButton,
#UnsubscribeButton,
#UseButton,
#DownloadProgress,
#Pending
{
	visibility: collapse;

	vertical-align: center;

	margin-right: 20px;
}

.Spinner
{
	visibility: collapse;
	horizontal-align: center;
	vertical-align: center;
}

.QueryPending .Spinner
{
	visibility: visible;
}

.Subscribed.Downloaded #UseButton,
.Subscribed.Downloaded #UnsubscribeButton
{
	visibility: visible;
}

.Unsubscribed #SubscribeButton
{
	visibility: visible;
}

.Downloading #DownloadProgress
{
	visibility: visible;
}

.DownloadPending #Pending
{
	visibility: visible;
}

#UnsubscribeButton
{
	vertical-align: bottom;
}

.ButtonText
{
	horizontal-align: center;
	margin-bottom: 4px;
}

.ButtonText Label
{
	color: #AAAAAA;
	font-size: 16px;
}

.ButtonText:hover Label
{
	color: #FFFFFF;
	text-decoration: underline;
}

.ButtonText:active Label
{
	color: #DDDDDD;
	text-decoration: underline;
}

#SortDropdown
{
	horizontal-align: right;
	vertical-align: top;

	margin-right: 50px;
	margin-top: 6px;

	width: 200px;
	height: 32px;
}

#SortDropdown Label
{
	margin-top: 1px;
	font-size: 16px;
}


.SortDropdownMenu
{
	width: 200px;
}

#SortLabel
{
	horizontal-align: right;
	vertical-align: top;

	width: 200px;

	margin-right: 110px;
	margin-top: 12px;

}
