PopupCustomGameFinishedVote
{
}

.PopupPanel
{
	pre-transform-scale2d: 1;
	opacity: 1;
	width: 500px;
	horizontal-align: center;

	animation-name: none; 
	
	transition-property: background-color, transform, pre-transform-scale2d, opacity, wash-color;
	transition-duration: 0.35s;
}

.PopupPanel.Hidden
{
}

#CloseButton
{
    horizontal-align: right;
    background-color: #333333;
    wash-color: white;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 38px;
    height: 38px;

    box-shadow: #000000 -3px -3px 6px 6px;
    z-index: 1;
}

#CloseButton:hover
{
    background-color: #666666;
}

#VoteTitle
{
	font-size: 32px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ffffff;
	visibility: collapse;
}

#VoteQuestion
{
	font-size: 18px;
	margin-top: 34px;
	margin-bottom: 5px;
	horizontal-align: center;
}

.VoteButtonsRow
{
	flow-children: right;
	horizontal-align: center;
	margin-left: 10px;
	margin-top: 6px;
}

#VoteUpButton
{
	flow-children: right;
	margin-left: 8px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 50% 50%;
}

#VoteDownButton
{
	flow-children: right;
	margin-left: 6px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 50% 50%;
}

.VoteIcon
{
	width: 42px;
	height: 42px;
	wash-color: #7595B5;
	margin-top: 2px;
	background-color: #00000066;
	border-radius: 3px;
	padding: 4px;
	margin-right: 10px;
	
	transition-property: wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.VoteIconFlipped
{
	transform: scaleX(-1) scaleY(-1);
	margin-top: 2px;
	margin-bottom: 0px;
}

#VoteUpButton:hover .VoteIcon
{
	wash-color: #A4E84A;
}

#VoteDownButton:hover .VoteIcon
{
	wash-color: #cc4422;
}

#VoteDownButton:active .VoteIcon, #VoteUpButton:active .VoteIcon
{
	background-color: #000000ff;
}


#Skip
{
	vertical-align: center;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 50% 50%;
	margin-left: 6px;
}

#Skip Image
{
	width: 30px;
	height: 30px;
}

#Skip Label
{
	margin-left: 38px;
	margin-top: 5px;
}