/* styles for the gift dedication popup */

.DedicationDescription
{
	horizontal-align: center;
	font-size: 24px;
	margin-bottom: 16px;
}

.DedicationArea
{
	flow-children: right;
}

#GiftImage
{
	height: 100px;
	width: height-percentage( 150% );
}

.DedicationDetails
{
	flow-children: down;
	margin-left: 8px;
}

#DedicationTextEntry
{
	height: 76px;
	white-space: normal;
}