PopupCustomGameFindPrivate
{
	width: 650px;
	vertical-align: center;
    horizontal-align: center;
	opacity: 1.0;
    transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;
    flow-children: down;

	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: linear;

    background-color: black;

	padding: 25px 28px 0px 28px;
}

PopupLobbySettings.Hidden
{
    visibility: collapse;
}

Label
{
    color: white;
}

.Title
{
    color: #a09b98;
    font-size: 24px;
}

.EnterPasswordDesc
{
	color: #5c5c5c;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 2px;
}

.TextEntryContainer
{
	flow-children: down;
	margin-left: 20px;
	margin-right: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.ButtonFooter
{
	margin-top: 8px;
	margin-bottom: 16px;

	flow-children: right;
	horizontal-align: right;
}

#FindPrivateConfirmButton
{
    horizontal-align: right;
	width: 154px;
	height: 33px;
	margin: 8px;

	background-image: url("s2r://panorama/images/green_med_button_off_png.vtex");
    background-size: 240px 60px;
    background-position: 50% 50%;
	background-repeat: no-repeat;
}

#FindPrivateConfirmButton Label
{
	width: 100%;
    text-align: center;
	vertical-align: center;
	margin-top: 2px;
	font-size: 20px;
}

#FindPrivateConfirmButton:hover
{
    background-image: url("s2r://panorama/images/green_med_button_on_png.vtex");
}

#FindPrivateCancelButton
{
    horizontal-align: right;
	width: 154px;
	height: 33px;
	margin: 8px 0px 8px 8px;

	background-image: url("s2r://panorama/images/red_med_button_off_png.vtex");
    background-size: 240px 60px;
    background-position: 50% 50%;
	background-repeat: no-repeat;
}

#FindPrivateCancelButton Label
{
	width: 100%;
    text-align: center;
	vertical-align: center;
	margin-top: 2px;
	font-size: 20px;
}

#FindPrivateCancelButton:hover
{
    background-image: url("s2r://panorama/images/red_med_button_on_png.vtex");
}

#FindPrivateCancelButton:active
{
    sound: "ui_custom_lobby_dialog_cancel";
}
