PopupCustomGameCreateLobby
{
	width: 650px;
	vertical-align: center;
    horizontal-align: center;
	opacity: 1.0;
    transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;
    flow-children: down;

	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: linear;

    background-color: black;

	padding: 25px 28px 0px 28px;
}

PopupLobbySettings.Hidden
{
    visibility: collapse;
}

Label
{
    color: white;
}

.Title
{
    color: #a09b98;
    font-size: 24px;
}

.SettingTitle
{
	color: #5c5c5c;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 2px;
}

#GeneralSection
{
    width: 100%;
	margin-bottom: 20px;
	flow-children: down;
}

#PrivateSection
{
	width: 100%;
	flow-children: down;
}

.SettingsContainer
{
    flow-children: down;
	margin-left: 20px;
	margin-right: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.PrivateSettingsContainer
{
	flow-children: down;
	margin-left: 20px;
	margin-right: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#AdvancedCheckboxes
{
	width: 100%;
	flow-children: down;
	margin-top: 26px;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 8px;
}

#AdvancedCheckboxes ToggleButton
{
    margin-bottom: 3px;
}

.Divider
{
    height: 1px;
    background-color: #363d3b;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}

DropDown
{
	width: 350px;
	height: 41px;
}

DropDownMenu
{
	width: 350px;
}

.ButtonFooter
{
	margin-top: 8px;
	margin-bottom: 16px;

	flow-children: right;
	horizontal-align: right;
}

#CreateButton
{
    horizontal-align: right;
	width: 154px;
	height: 33px;
	margin: 8px;

	background-image: url("s2r://panorama/images/green_med_button_off_png.vtex");
    background-size: 240px 60px;
    background-position: 50% 50%;
	background-repeat: no-repeat;
}

#CreateButton Label
{
	width: 100%;
    text-align: center;
	vertical-align: center;
	text-transform: uppercase;
	margin-top: 2px;
	font-size: 20px;
}

#CreateButton:hover
{
    background-image: url("s2r://panorama/images/green_med_button_on_png.vtex");
}

#CancelButton
{
    horizontal-align: right;
	width: 154px;
	height: 33px;
	margin: 8px 0px 8px 8px;

	background-image: url("s2r://panorama/images/red_med_button_off_png.vtex");
    background-size: 240px 60px;
    background-position: 50% 50%;
	background-repeat: no-repeat;
}

#CancelButton Label
{
	width: 100%;
    text-align: center;
	vertical-align: center;
	margin-top: 2px;
	font-size: 20px;
}

#CancelButton:hover
{
    background-image: url("s2r://panorama/images/red_med_button_on_png.vtex");
}

#CancelButton:active
{
    sound: "ui_custom_lobby_dialog_cancel";
}

