#PredictionTitle
{
    font-size:30px;
    color:white;
    max-width: 650px;
    
}
DOTAPopupPredictionResults
{
    width:800px;
    flow-children:down;
    max-height:800px;
    background-color: #1e252f;
}
DOTAPopupPredictionResults.PopupPanel
{
    background-color: #1e252f;
    border: 0px;
    transition-duration: 0s;
    animation-duration: 0s;
}
#TopHeader
{
    width:100%;
    flow-children:right;
}
#MainSectionContainer
{
    background-color: #191f27;
    width:100%;
    flow-children:down;
    overflow:clip scroll;
}
#Header
{
    flow-children:right;
    width:100%;
    height: 32px;
}
#Rank
{
    width:10%;
}
#Prediction
{
    width: 50%;
}
#Amount,
#Community
{
    width:20%;
}
#Rank, #Prediction, #Amount, #Community {
    vertical-align: middle;
}

#Rank Label,
#Prediction Label,
#Amount Label,
#Community Label
{
    horizontal-align:center;
    vertical-align: middle;
    color: #375970;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    
}
.ResultText Label
{
    color: #bfd2ee;
}
#Body
{
    flow-children:down;
    width:100%;
}
.BodyRow
{
    flow-children:right;
    height:20px;
    width:100%;
}

i
{
    font-style: normal;
    font-size: 22px;
    color: #375970;
}
