/* styles for the purchase item popup */

.MessagePanel
{
	horizontal-align: center;
	flow-children: right;
}

.MessageLabel
{
    font-size: 24px;
    color: #FFFFFF;
    horizontal-align: center;
    vertical-align: center;
    max-width: 400px;
    text-align: center;
	text-align: left;
}

.ImageContainer
{
    flow-children:down;
    vertical-align: center;
    width: fit-children;
    height: fit-children;
}

#EconItemImage
{
    width: 80px;
    margin-right: 15px;
}

.PurchaseOption
{
	margin: 0px 12px;
}

.PurchaseOption:disabled
{
	visibility: collapse;
}

.CancelPurchase
{
	vertical-align: center;
	flow-children: right;

	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
	padding: 5px 14px 3px 14px;
	min-width: 188px;
	height: 39px;
	
	transition-property: background-color;
	transition-duration: .1s;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD4A2999 ), to( #722217 ) );
}

.CancelPurchase Label
{
    horizontal-align: center;
	color: #FFFFFFFF;
	vertical-align: center;
	font-size: 22px;
    text-transform: uppercase;
}

.CancelPurchase:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD4A29 ), to( #912b1d ) );
}

.CancelPurchase:active
{
	brightness: 1.5;
}