PopupUnderlordsFriendsKeys
{
	width: 700px;
	height: fit-children;
	vertical-align: center;
	horizontal-align: center;

	background-color: #1C1D20;
	border: 1px solid #666666;

	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.2s;
}

PopupUnderlordsFriendsKeys.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 0.95;
}

#Container
{
	padding: 8px;
	padding-top: 72px;
	flow-children: down;
}

PopupUnderlordsFriendsKeys .CloseButton
{
	horizontal-align: right;
	vertical-align: top;
	margin: 8px;
}

#Description
{
	brightness: 0.6;
}

PopupUnderlordsFriendsKeys #Header
{
	horizontal-align: left;
	vertical-align: top;

	margin: 8px;

	border-bottom: 1px solid #666666;

	width: 100%;

	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FFFFFF;
}

#CDKeys
{
	margin-top: 18px;
	flow-children: down;
}

.CDKey
{
	flow-children: right;
}

.CDKey > Label
{
	font-size: 20px;
	width: 584px; /* 700 - 16 - 100 */
	margin: 8px 0px 8px 0px;
	padding: 8px;
	padding-left: 100px;
	text-align: center;
	letter-spacing: 3px;
	background-color: #04100A;
	color: white;
}

.CDKey TextButton Label
{
	margin: 8px;
	margin-left: 0px;
	padding: 8px;
	font-size: 20px;
	background-color: #061412;
	width: 100px;
	text-align: center;
	letter-spacing: 1px;
}

.CDKey TextButton:hover Label
{
	brightness: 1.6;
}

.CDKey TextButton:active Label
{
	brightness: 0.8;
}
