/* styles for the trade request popup */

.TradeRequestSender
{
	flow-children: right;
}

.TradeRequestSenderDetails
{
	flow-children: down;
	margin-left: 14px;
}

#TradeRequestSenderAvatar
{
	width: 96px;
	height: 96px;
}

#TradeRequestSenderName Label
{
	font-size: 28px;
}
