.PopupHudPreGame.PopupPanel
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: none;
	flow-children: none;
	border: 0px solid none;
	box-shadow: none;
}


#TempGameMap
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/temp_game_png.vtex");	
	background-size: cover;
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 1s;
	transition-timing-function: ease-in;	
}

#PreGameContainer
{
	width: 100%;
	height: 100%;
}

#DebugControls
{
	horizontal-align: right;
	flow-children: right;
}

.DebugButton
{
	width: 28px;
	height: 28px;
	margin: 4px 4px 0px 0px;
	vertical-align: middle;

	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	wash-color: #66aadd;
}

.DebugButton:hover
{
	wash-color: #dcdcdc;
}

.DebugButton:active
{
	wash-color: white;
}

.CycleHeroesButton
{
	background-image: url("s2r://panorama/images/control_icons/friends_png.vtex");
}

.CycleBattlePassButton
{
	background-image: url("s2r://panorama/images/control_icons/battlepass_logo_grayscale_small_png.vtex");
	background-size: 19px 24px;
}

.VersusButton > Label
{
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	font-size: 18px;
	margin-top: 3px;
	color: white;
}

.ToggleSides
{
	background-image: url("s2r://panorama/images/control_icons/friends_png.vtex");	
	wash-color: yellow;
}