/* styles for the party invite popup */

PopupLobbyInvite
{
    flow-children: down;
}

#LobbyInviteTitle
{
    margin-bottom: 5px;
}

#LobbyInviteSubtitle
{
    horizontal-align: center;
    margin-bottom: 10px;
}

#LobbyLeader
{
    width: 200px;
    height: fit-children;
    horizontal-align: center;
    margin: 20px;
}

#LobbyLeader #PartyWithFriendButton
{
    visibility: collapse;
}

.LobbyInviteOptions
{
    flow-children: down;
    horizontal-align: center;
    margin-top: 20px;
}

.LobbyInviteOptionDescription
{
    color: #666666;
    margin-left: 30px;
    font-size: 16px;
}

#CustomGameDisplay
{
	visibility: collapse;
}

PopupLobbyInvite.IsCustomGameInvite #CustomGameDisplay
{
	visibility: visible;
}

PopupLobbyInvite.CustomGameNeedSubscribe #AcceptInviteButton
{
	visibility: collapse;
}

PopupLobbyInvite.CustomGameNeedUpdate #AcceptInviteButton
{
	visibility: collapse;
}

#SubscribeToGameModeButton
{
	visibility: collapse;
}

PopupLobbyInvite.CustomGameNeedSubscribe #SubscribeToGameModeButton
{
	visibility: visible;
}

#UpdateGameModeButton
{
	visibility: collapse;
}

PopupLobbyInvite.CustomGameNeedUpdate #UpdateGameModeButton
{
	visibility: visible;
}
