@define InitialSkillFadeoutTime: 0.3s; 

PopupInitialSkill.PopupPanel
{
	width: 100%;
    height: 100%;

	flow-children: down;

    background-color: black;

	padding: 25px 28px 10px 28px;
	border: 0px;

    background-image: url("s2r://panorama/images/backgrounds/dashboard_background_png.vtex");
    background-size: 100% 100%;
    background-position: 50% 50%;
	background-repeat: no-repeat;

	sound: "ui.npd_welcome";
}

#DotaLogo 
{
    horizontal-align: center;
    height: 60px;
    width: 300px;
    margin: 20px;
}

.DialogTitle
{
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 10px;
    horizontal-align: center;
    text-align: center;
    color: white;
}

.DialogText
{
	horizontal-align: center;
	text-align: center;

	margin-bottom: 20px;
}

#SkillOptionsContainer
{
	horizontal-align: center;
}

.SkillOptions
{
	flow-children: down;

	transition-property: opacity, transform;
	transition-duration: 0.2s;
}

.ShowMOBAPanel #NonMOBAPanel
{
	opacity: 0.0;
	transform: translateX( -50px );
}

#MOBAPanel
{
	opacity: 0.0;
	transform: translateX( 50px );
}
.ShowMOBAPanel #MOBAPanel
{
	opacity: 1.0;
	transform: none;
}

#MOBAText
{
	margin-top: 4px;
	horizontal-align: center;
	text-align: center;
}

.SkillSelection
{
	margin-bottom: 12px;
    horizontal-align: center;
    width: 800px;
    height: 54px;
    padding-left: 20px;
    padding-top: 15px;

    background-color: black;
    opacity: .75;
}

.SkillSelection:hover
{
	opacity: 1.0;
}

.SkillSelection:active
{
	opacity: 0.9;
}

.SkillSelection Label
{
    color: white;
    opacity: 1;
    font-size: 20px;
}