/* styles for the broadcaster toast popup */
Label
{
	width: fit-children;
	height: 36px;
	background-color: none;

	color: white;
	font-size: 24px;
	text-align: left;
	text-overflow: clip;
	white-space: nowrap;
	vertical-align: middle;
}

DOTABroadcasterImageSelection.PopupPanel
{
	flow-children: none;
}


.BroadcastImageGroup 
{
	margin-top: 10px;
}


/* Search */

.SearchBox
{
	width: 400px;
}

.SearchTextEntry
{
	width: 260px;
}

.ClearSearchButton
{
	margin-left: 230px;
}

#SearchResults
{
	width: 260px;
	margin-top: 36px;
	flow-children: down;
	visibility: collapse;
	background-color: #373d3eff;
}

#SearchResults.SearchItems
{
	margin-left:104px;
	visibility: visible;
}


.SearchOptionsTitle
{
	width: 100px;
	height: fit-children;
}

.SearchOptionsLabel
{
	width: 100px;
	text-align: right;
}

.SearchResultEntry
{
	margin-left: 6px;
	width: 100%;
}

.SearchResultLabel
{
	width: 100%;
}
