PopupMatchmakingRegion
{
	width: 880px;
    min-height: 666px;
	vertical-align: center;
    horizontal-align: center;
	opacity: 1.0;
    transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;

	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: linear;

    background-color: black;

	padding: 25px 28px 10px 28px;
}

PopupMatchmakingRegion.Hidden
{
    visibility: collapse;
}

#PopupContents
{
	width: 100%;
}

Label
{
    font-size: 24px;
    color: white;
}

.DialogTitle
{
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
}

#AutoRegionToggleButton
{
    margin-bottom: 20px;
}

#ORLabel
{
    horizontal-align: center;
    margin-bottom: 20px;
    color: baseText;
}

.RegionColumn
{
    width: fill-parent-flow( 1.0 );
}

.RegionColumn ToggleButton
{
	width: 100%;
	margin-right: 10px;
}

.RegionColumn ToggleButton Label
{
	width: 195px;
}

.RegionToggleButtons
{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    horizontal-align: center;
    width: 100%;
}

ToggleButton Label
{
    font-size: 24px;
}

#RefreshButton
{
	flow-children: right;
    background-color: none;
    horizontal-align: center;
    margin-bottom: 10px;
    width: 200px;
	height: 36px;
}

#RefreshButton:active
{
    wash-color: #aaaaaa;
}

#RefreshButton:hover Label
{
    color: white;
}

#RefreshButton:hover #RefreshButtonIcon
{
    wash-color: white;
}

#RefreshButton:disabled Label
{
    wash-color: #444444;
}

#RefreshButtonIcon
{
    margin-top: 0px;
}

#RefreshButton Label
{
    color: baseText;
    horizontal-align: left;
    margin-left: 12px;

    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;    
}

.ButtonFooter
{
	margin-top: 8px;

	flow-children: right;
	horizontal-align: center;
    vertical-align: bottom;
}

#RegionSelectHintText
{
    color: baseText;
}

#WarningOrErrorLabel
{
    horizontal-align: center;
    transition-duration: .3s;
    transition-property: opacity;
    color: red;
    height: 64px;
}

#WarningOrErrorLabel.Information
{
    color: white;
}

#WarningOrErrorLabel.Warning
{
    color: yellow;
}

#WarningOrErrorLabel.Hidden
{
    opacity: 0;
}
