PopupLobbyPassword
{
	width: 548px;
	height: 250px;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1.0;
	transform: none;
	perspective-origin: 62% 5% invert;
	perspective: 1000;

	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: linear;

	background-color: black;

	padding: 25px 28px 10px 28px;
}

PopupLobbyPassword.Hidden
{
	visibility: collapse;
}

Label
{
	color: white;
}

.DialogTitle
{
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.ButtonFooter
{
	margin-top: 8px;

	flow-children: right;
	horizontal-align: right;
	vertical-align: bottom;
}

#HidePasswordToggle
{
	horizontal-align: right;
	margin-top: 12px;
}

.PopupButton
{
	width: 100px;
}