/* styles for the game end quests popup */

/* TI6 */
@define initialAnimationDelay: 2.0s;
@define rewardTitleAnimationDuration: 0.5s;
@define levelUpAnimationDuration: 0.5s;
@define segmentAnimationDuration: 2.5s;



/* Fall 2016 
@define accentColorBright: #94d53f;
@define accentColor: #94d53f;
@define bp_battleLevelColor: #88cd4a;
*/

/* Winter 2017 
@define accentColorBright: #3f9ed5;
@define accentColor: #3fa5d5;
@define bp_battleLevelColor: #4aa0cd;

*/

DOTAPopupGameEndQuests.PopupPanel
{
	width: 1152px;
	horizontal-align: center;

	background-color: none;
	border: 0px;
	box-shadow: none;
	padding: 0px;
	animation-name: none;

	transform: translateY( 56px );
	
	transition-property: transform;
	transition-duration: 0.5s;	
	transition-timing-function: ease-in-out;
}

DOTAPopupGameEndQuests.TippingActive
{
	transform: translateY( 0px );
}

#RewardsSection
{
	width: 100%;
	height: 188px;
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #112906 ), to( #3d6f26 ) );
	border-top: 1px solid #355719;
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #061b29 ), to( #26516f ) );
	border-top: 1px solid #193d57;
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( backgroundDimColor ), to( accentColorSectionBG ) );
	border-top: 1px solid bp_color1;
	
	flow-children: down;
}

#RewardTitleContainer
{
	margin: 26px 0px 0px 22px;
	vertical-align: bottom;
}

.RewardTitle
{
	flow-children: right;

	opacity: 0.0;
	transform: translateX( -300px );

	transition-property: transform, opacity;
	transition-duration: rewardTitleAnimationDuration;
	transition-delay: 0.5s;
}

.RewardTitle.ShowTitle
{
	opacity: 1.0;
	transform: none;
	transition-delay: 0.0s;
}
.RewardTitle.HideTitle
{
	opacity: 0.0;
	transform: translateX( 300px );
}

.RewardTitle > Label
{
	vertical-align: middle;
	color: white;
	font-size: 40px;
	margin-top: 2px;
	text-shadow: 0px 0px 8px 1.0 #c0614eaa;
	
	/* Fall 2016 */
	text-shadow: 0px 0px 8px 1.0 #94c04e;
	
	/* Winter 2017 */
	text-shadow: 0px 0px 8px 1.0 #4eb1c0;
	
	/* TI7 */
	text-shadow: 0px 0px 8px 1.0 accentColor&cc;
}

.RewardTitle .RewardTitleIcon
{
	width: 45px;
	height: 45px;
	margin-right: 5px;

	background-repeat: no-repeat;
	background-size: contain;

	visibility: collapse;
	
	/* Fall 2106 */
	//hue-rotation: 110deg;
	
	/* Winter 2017 */
	//hue-rotation: 220deg;
}

.RewardTitle.WagerXP .RewardTitleIcon
{
	visibility: visible;
	background-image: bp_total_tokens;
	
	brightness: 1.5;
}   
						  
.RewardTitle.QuestXP .RewardTitleIcon
{
	visibility: visible;
	background-image: bp_activequestring_endscreen;
}

.RewardTitle .RewardType
{
	text-transform: uppercase;
}
.RewardTitle .RewardAmount
{
	margin-left: 16px;
	color: white;
}
.RewardTitle .PointsIcon
{
	width: 36px;
	height: 40px;
	margin-left: 6px;
	margin-bottom: 6px;
	vertical-align: middle;
}

#RewardControls
{
	flow-children: right;
	width: 100%;
}

#PlayerCompendiumProgress
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
	margin: 0px 20px 0px 0px;
}

#PlayerLevelContainer
{
	flow-children: right;
	margin-top: 20px;
	padding: 2px;
	
	/* Fall 2016 */
	background-color: #88cd4a;
	
	/* Winter 2017 */
	background-color: #4ea2d7;
	
	/* TI7 */
	background-color: bp_battlePassLogoColor;
}

#PlayerLevel
{
	background-image: bp_shield_icon_endscreen;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	z-index: 1;
	margin-right: -21px;
}

#PlayerLevel Label
{
	color: bp_battlePassLogoColor;
	text-align: center;
	text-overflow: shrink;
	vertical-align: middle;
	horizontal-align: center;
	font-size: 32px;
	width: 100%;
	margin: 0px 22px 0px 24px;
}

@keyframes 'LevelChangeAnimation'
{
	0%
	{
		brightness: 4.0;
		pre-transform-scale2d: 1.15;
	}
				
	100%
	{
		brightness: 1.0;
		pre-transform-scale2d: 1.0;
	}
}

#PlayerLevel.SetLevelAnimation
{
	animation-name: LevelChangeAnimation;
	animation-duration: 0.52s;
}

#PlayerLevelHelp
{
	color: bp_color10;
}

#PlayerCompendiumLevelBar
{
	width: fill-parent-flow( 1.0 );
	height: 42px;
	border: 1px solid accentColor;
	background-color: bp_xp_background_color;
	padding: 2px;
}

.XPSegment
{
	transition-duration: segmentAnimationDuration;
}

#PlayerPoints
{
	flow-children: right;
}

#PlayerPointsValue
{
	flow-children: right;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 1.0s;
}
.ShowLocalPlayerXPValue #PlayerPointsValue
{
	opacity: 1.0;
}

.PointsIcon
{
	background-image: bp_total_points;
	background-size: contain;
	background-repeat: no-repeat;
}

#PlayerPointsIcon
{
	width: 22px;
	height: 22px;
	margin-top: 6px;
	margin-right: -2px;
	vertical-align: center;
}

#PlayerPointsLabel
{
	color: white;
	margin-top: 10px;
	letter-spacing: 1px;
}

#Tipping
{
	width: 350px;
	flow-children: down;
}

#TipButtonContainer 
{
	width: 340px;
	padding-top: 20px;
}

#TipButtonContainer:enabled:hover #TipButton 
{
	brightness: 1.5;
}

#TipButtonContainer:active #TipButton 
{
	brightness: 1.5;
}

#TipButtonContainer:disabled
{
	saturation: 0;
}

#TipButtonContainer:enabled:hover #TippingImage 
{
	brightness: 1.5;
}

#TipButtonContainer:active #TippingImage
{
	brightness: 2;
}

#TipButton
{
	background-color: bp_tip_button_background_color;
	box-shadow: #00000055 -2px -2px 4px 4px;
	border-top: bp_tip_button_border_top;
	border-bottom: bp_tip_button_border_bottom;
	border-left: bp_tip_button_border_sides;
	border-right: bp_tip_button_border_sides;
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #63ab2b ), to( #488e0f ) );
	box-shadow: #00000055 -2px -2px 4px 4px;
	border-top: 1px solid #93e255;
	border-bottom: 1px solid #398101;
	border-left: 1px solid #83d048;
	border-right: 1px solid #398101;
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #47a2e2 ), to( #0f5a8e ) );
	box-shadow: #00000055 -2px -2px 4px 4px;
	border-top: 1px solid #68c0f8;
	border-bottom: 1px solid #015581;
	border-left: 1px solid #4898d0;
	border-right: 1px solid #014c81;
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_battlePassLogoColor ), to( accentColorGlow ) );
	box-shadow: #00000055 -2px -2px 4px 4px;
	border-top: 1px solid #ffffff33;
	border-bottom: 1px solid #00000077;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000077;

	width: 260px;
	margin-right: 20px;
	padding: 5px 2px 1px 2px;

	transition-property: box-shadow, background-color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.TippingActive #TipButton
{
	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #B4EFFF ), to( #7DB5E6 ) );
	box-shadow: #528AC6aa -8px -8px 16px 16px;
	border: 1px solid #B5DBEF;*/
	//background-color: bp_tip_button_active_background_color;
	brightness: 2;
}

.TippingActive #TippingImage 
{
	background-image: bp_tip_button_points_hover;
}

#TipButton Label
{
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	margin-right: 6px;
	letter-spacing: 1px;
	text-align: center;
	vertical-align: middle;
	horizontal-align: center;
	text-shadow: 0px 0px 4px 1.0 #00000088;
}

#TipButton:active Label
{
	transform: translateY(0px);
	color: white;
}

#TippingHelp
{
	margin-top: -21px;
	width: 100%;
	margin-right: 92px;
	horizontal-align: center;
}

#TippingHelpCenter
{
	horizontal-align: center;
	flow-children: right;
}


#TippingHelp Label
{
	color: textBrightColor;
	margin-left: 4px;
	padding-top: 4px;
	vertical-align: middle;
	horizontal-align: left;
}

#TippingImage 
{
	background-image: bp_tip_button_points;
	background-size: cover;
	width: 100px;
	height: 100px;
	z-index: 10;
	horizontal-align: right;
	margin-top: -27px;

	transition-property: box-shadow, background-color, wash-color, background-image;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#TippingImage Label 
{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-top: 32px;
	color: white;
	text-shadow: 0px 0px 4px 1.0 #000000ff;
	horizontal-align: center;
}

.InfoIcon
{
	width: 20px;
	height: 20px;
	margin: 0px 2px 0px 0px;
	wash-color: accentColor;
	horizontal-align: left;
	tooltip-position: bottom;
	tooltip-body-position: 0% 0%;
}

#TeamSection
{
	width: 100%;
	height: 359px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #262626), to( #191919 ) );
	border-top: 1px solid accentBorderColor;

	transition-property: height;
	transition-duration: 0.5s;	
	transition-timing-function: ease-in-out;	
}

#EnemySection
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #121212 ), color-stop( 0.06, #191919 ), to( #191919 ) );
	z-index: -1;
	transform: translateY( -314px );
	padding-bottom: 10px;

	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.TippingActive #EnemySection
{
	transform: translateY( 0px );
	wash-color: white;
}

#EnemySection .PlayerSection
{
	wash-color: backgroundDimColor;
}

.TippingActive #EnemySection .PlayerSection
{
	wash-color: white;
}

.PlayerSection
{
	flow-children: down;
}

.PlayerSection,
.SectionHeader
{
	transform: translateY( 10px );
	width: 100%;
	horizontal-align: center;
//	border: 1px solid red;

	transition-property: transform, wash-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.TippingActive .PlayerSection,
.TippingActive .SectionHeader
{
	transform: translateY( 0px );
}

.PlayerSection Label
{
	color: white;
	font-size: 20px;
}

.SectionHeader Label
{
	text-transform: uppercase;
	color: textBrightColor;
	letter-spacing: 2px;
	margin-top: 16px;
	margin-bottom: 4px;
}

.SectionHeader
{
	padding-left: 20px;
	padding-right: 20px;
}

.TipColumn,
.PlayerColumn,
.LevelColumn,
.CampaignColumn,
.WagerColumn
{
	//border: 1px solid red;
}

.TipColumn
{
	horizontal-align: right;
	
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;	
	transition-timing-function: ease-in-out;
}

.TippingActive .TipColumn
{
	opacity: 1;
}

.PlayerColumn
{
	margin-left: 0px;
}

.KillsColumn
{
	margin-left: 440px;
}
.DeathsColumn
{
	margin-left: 480px;
}
.AssistsColumn
{
	margin-left: 520px;
}

.LevelColumn
{
	margin-left: 632px;
}

#EnemySection .LevelColumn
{
	color: #475769;
}

#CompendiumLevel
{
	background-image: url("s2r://panorama/images/compendium/shield_icon_psd.vtex");
	text-align: center;
	height: 40px;
	width: 40px;
	background-size: cover;
	wash-color: bp_battlePassLogoColor;
	visibility: collapse;

	margin-left: 635px;
}
.HasCompendium #CompendiumLevel
{
	visibility: visible;
}

#CompendiumLevel > Label
{
	color: white;
	margin-top: 1px;
	margin-left: 6px;
	margin-right: 7px;
	width: 100%;
	text-align: center;
	text-overflow: shrink;
	vertical-align: middle;
}

.CampaignColumn
{
	margin-left: 752px;
}
#EnemySection .CampaignColumn
{
	visibility: collapse;
}

#CampaignWinnings
{
	visibility: collapse;
}
.HasQuestWinnings #CampaignWinnings
{
	visibility: visible;
}

.WagerColumn
{
	margin-left: 920px;
}
#EnemySection .WagerColumn
{
	color: #475769;
	color: bp_color10;
}

#WagerWinnings
{
	visibility: collapse;
}
.WagerWon #WagerWinnings
{
	visibility: visible;
}

#CampaignWinnings, #WagerWinnings
{
	flow-children: right;
}
#CampaignWinnings .PointsIcon, #WagerWinnings .PointsIcon
{
	width: 22px;
	height: 22px;

	margin-top: 5px;
	margin-left: 2px;
	vertical-align: middle;
}

.NumberStats
{
	//horizontal-align: right;
	transform: translateX(90px);	
	transition-property: transform;
	transition-duration: 0.5s;	
	transition-timing-function: ease-in-out;
}

DOTAGameEndQuestsPlayer .NumberStats Label
{
	margin-top: 8px;
}

.TippingActive .NumberStats
{
	transform: translateX(0px);	
}

DOTAGameEndQuestsPlayer
{
	padding-top: 7px;
	padding-bottom: 1px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

DOTAGameEndQuestsPlayer:hover
{
	background-color: bp_popup_game_end_hovered_player_highlight;
	
	/* Fall 2016 */
	background-color: #25371f;
	
	/* Winter 2017 */
	background-color: #1f2737;
	
	/* TI7 */
	background-color: bp_color2;
}

DOTAGameEndQuestsPlayer.LocalPlayer
{
	background-color: bp_popup_game_end_local_player_highlight;
	
	/* Fall 2016 */
	background-color: #25371f;
	
	/* Winter 2017 */
	background-color: #1f2737;
	
	/* TI7 */
	background-color: bp_color2;
}

.AvatarImage
{
	width: 42px;
	height: 42px;
	background-color: #12181F;
}

#CurrentPlayer .AvatarImage
{
	width: 74px;
	height: 74px;
}

.HeroImage
{
	width: 77px;
	height: 42px;
	background-color: #12181F;
	margin-left: 12px;
}

#CurrentPlayer .HeroImage
{
	width: 136px;
	height: 74px;
}

#TipPlayerButton
{
	margin-top: 4px;
	margin-left: 1072px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: backgroundDimColor;
	border: 2px solid backgroundMediumColor;
	
	/* Fall 2016 */
	background-color: backgroundDimColor;
	border: 2px solid #4c7108;
	
	/* Winter 2017 */
	background-color: backgroundDimColor;
	border: 2px solid #0d5485;
	
	/* TI7 */
	background-color: backgroundDimColor;
	border: 2px solid bp_color11;
	
	pre-transform-scale2d: 0;

	transition-property: pre-transform-scale2d, border, box-shadow;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.TippingActive #TipPlayerButton
{
	pre-transform-scale2d: 1;
}

#TipPlayerButton:disabled
{
	opacity: 0;
}

#TipPlayerButton:selected:disabled
{
	border: 2px solid backgroundMediumColor;
	background-image: bp_single_point_selected;
	opacity: 1.0;
}

#TipPlayerButton:enabled:hover
{
	pre-transform-scale2d: 1.3;
	border: 2px solid backgroundBrightColor;
	box-shadow: backgroundBrightColor -2px -2px 4px 4px;
}

#TipPlayerButton:active
{
	border: 2px solid white;
	box-shadow: backgroundBrightColor -3px -3px 6px 6px;
	background-image: bp_single_point;
}

.LocalPlayer #TipPlayerButton
{
	visibility: collapse;
}

.PlayerDetails
{
	margin-left: 12px;
}

.PlayerSection .PlayerDetails
{
	width: 472px;
}

#PlayerChallengeStatus
{
	flow-children: right;
}

#PlayerChallengeStatus > Label
{
	color: backgroundBrightColor;
	font-size: 16px;
}

.QuestInvalid #PlayerChallengeStatus
{
	opacity: 0;
}

.QuestComplete #PlayerChallengeStatus > Label
{
	color: accentColorBright;
}
	
.QuestUnrankedComplete.QuestComplete .QuestStatus { background-image: bp_activequestring_small; }
.QuestTier1Complete.QuestComplete .QuestStatus { background-image: bp_quest_rank_1; width: 64px; height: 26px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; }
.QuestTier2Complete.QuestComplete .QuestStatus { background-image: bp_quest_rank_2; width: 64px; height: 26px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; }
.QuestTier3Complete.QuestComplete .QuestStatus { background-image: bp_quest_rank_3; width: 64px; height: 26px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; }


.QuestFailed .QuestStatus
{
	opacity: 0.4;
	wash-color: textColoredBrightColor;
	saturation: 0.4;
	background-image: bp_activequestring_small;
}

.QuestStatus
{
	width: 14px;
	height: 14px;
	wash-color: textColoredBrightColor;
	margin: 2px;
	margin-right: 6px;
	background-repeat: no-repeat;
	background-size: cover;

}

#Footer
{
	flow-children: right;
	background-color: #191919;
	width: 100%;
	height: 66px;
	vertical-align: bottom;

	transform: translateY( -340px );
	transition-property: transform;
	transition-duration: 0.55s;
}

.TippingActive #Footer
{
	transform: none;
}

#Footer .ButtonBattlePass
{
	vertical-align: middle;
	margin-right: 32px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #535353 ) );
	border-top-color: #555555;
	border-left-color: #494949;
	border-bottom-color: #333333;
	border-right-color: #404040;
}

#Footer .ButtonBattlePass:hover
{
	brightness: 1.5;
}

#Footer .ButtonBattlePass Label
{
	margin-top: 2px;
	color: #e1e1e1;
	font-weight: bold;
}

#FloatingTip
{
	background-image: bp_single_point;
	background-size: contain;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	horizontal-align: right;
	opacity: 0;
	pre-transform-scale2d: 1;

	transition-property: transform, opacity, pre-transform-scale2d;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

#TipPlayerButton:enabled:hover #FloatingTip
{
	opacity: .25;
	pre-transform-scale2d: .8;
}

#BattleCupVictoryIcon
{
	margin-top: 2px;
	margin-left: 0px;
	margin-right: 6px;
	visibility: collapse;
}

.BattleCupVictory #BattleCupVictoryIcon
{
	visibility: visible;
}



#ContinueButton
{
	margin-right: 20px;
}