
PopupPurchaseBattlePassLevels
{
	width: 800px;
	height: 670px;
	flow-children: down;
}

.PopupPanel,PopupPurchaseBattlePassLevels
{
	padding: 0px;
	border: 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDarkColor ), to( secondaryUltraDarkColor ) );
	box-shadow: secondaryUltraDarkColor -4px 18px 64px 8px;
	border: 1px solid secondaryUltraDarkColor;
}

#HeaderBackgroundAnimationLeft, #HeaderBackgroundAnimationRight
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: .8s;
}

.ShowAfterPurchaseLevel #HeaderBackgroundAnimationRight
{ 
	width: 1000px;
	height: 800px;
	transform: translateY(575px) translateX(400px);
	margin-top: -800px;
	overflow: noclip;
	hue-rotation: 0deg;
	opacity: .09;
	saturation: 1;
    wash-color: accentColor;
	//opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");
	padding-top: 200px;
}

.ShowAfterPurchaseLevel #HeaderBackgroundAnimationleft
{ 
	width: 1000px;
	height: 800px;
	transform: translateY(575px) translateX(-550px);
	margin-top: -800px;
	overflow: noclip;
    hue-rotation: 0deg;
	opacity: .09;
	saturation: 1;
    wash-color: accentColor;
	//opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");
	padding-top: 200px;
}


#Header
{
	horizontal-align: center;
	//flow-children: right;
	margin-bottom: 10px;
	width: 100%;
	background-image: bp_battlepoint_purchase_header;
	background-size: 100%;
    border-top: 1px solid #77849519;
	border-left: 1px solid #77849509;
	border-right: 1px solid #77849509;
	
	//flow-children: down;
	height: fit-children;
}

#HeaderTitleContainer
{
	height: 100px;
	//background-color: #000000aa;
	//background-color: gradient( linear, 0% 100%, 0% 0%, from( #00000000 ), to( #000000aa ) );
	width: 100%;
}

.PopupTitle
{
	margin-bottom: 0px;
	text-transform: uppercase;
	color: textAccentColorBright;
	font-size: 40px;
	text-align: center;
	vertical-align: center;
	margin-top: 5px;
	padding-left: 30px;
	font-weight: medium;
	width: 95%;
    letter-spacing: 3px;
	
}

.PopupMessage
{
	horizontal-align: center;
	margin-bottom: 40px;
}

#Screens
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.WizardScreen
{
	flow-children: down;
	width: 100%;
	height: 100%;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-delay: 0.2s;

	opacity: 0.0;
}
.WizardScreen.ScreenActive
{
	opacity: 1.0;
	transition-delay: 0.0s;
}

.WizardScreenContents
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: down;
	padding: 40px 0px 0px 0px;
}

#PurchaseScreenContents
{
	padding: 0px;

}

.SubHead
{
	horizontal-align: center;
	//text-transform: uppercase;
	font-size: 25px;
	margin-top: 20px;
	color: white;
}

.WizardButtons
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

#PurchasePoolContribution
{
	horizontal-align: center;
	text-align: center;
	margin-bottom: 17px;
	padding: 0px 12px;
	//color: #a93830;
	//color: #a93830;
	//Text-transform: uppercase;
	margin-top: 1px;
	font-size: 16px;
}

.DisableClose .CloseButton
{
	visibility: collapse;
}

#CancelButton
{
	width: 30px;
	height: 30px;
	background-size: 18px;
	background-color: #000000bb;
	margin-top: 8px;
	margin-right: 9px;
	horizontal-align: right;
	transition-property: background-color, brightness;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

#CancelButton:hover
{
	background-color: #000000dd;
}

#LevelsTable
{
	horizontal-align: center;
	margin-top: 20px;
}

DOTAEventLevelShield
{
	horizontal-align: center;

	transition-property: brightness;
	transition-duration: 0.2s;
}

.ShowAfterPurchaseLevel #CurrentLevelShield
{
	brightness: 0.5;
}

#AfterPurchaseLevelShield
{
	brightness: 1;
}

.ShieldBackground
{
	width: 100%;
	height: 100%;
	margin-top: 14px;
	background-color: accentColor;
    opacity: 0.6;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #2A4F7500 ), color-stop( .5, #2A4F7544 ), color-stop( .55, #2A4F7588 ), color-stop( .74, #2A4F7588 ), color-stop( .8, #2A4F7544 ), to( #2A4F7500 ) );
	animation-duration: 2.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite; 
	animation-name: Pulse;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");
}

@keyframes 'Pulse'
{
	0%
	{
		brightness: .5;
	}
	50%
	{
		brightness: 1;
	}

	100%
	{
		brightness: .5;
	}	
}



/* -- StartScreen ------------------------------------------------- */

.EquationLabel
{
	vertical-align: middle;
	font-size: 24px;
	margin: 0px 8px;
}

#EquationArrow
{
	width: 30px;
	height: 30px;
	vertical-align: middle;

	wash-color: accentColor;

	background-image: url("s2r://panorama/images/control_icons/arrow_right_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 15px;
}

#ShieldBackgroundContainer
{
	width: 100%;
	height: 140px;
	margin-top: 80px;
	flow-children: right;
}

#CurrentLevelLabel
{
	color: accentColor;

	margin-top: 15px;
	text-transform: uppercase;
	font-size: 14px;
	horizontal-align: center;
	margin-bottom: 4px;
	text-align: center;
}

.AfterPurchaseLevelsContents
{
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
	flow-children: down;
}

#AfterPurchaseLabel
{
	color: accentColor;
	text-transform: uppercase;
	font-size: 14px;
	horizontal-align: center;
	margin-bottom: 4px;
	brightness: 2.0;
	text-align: center;	
}

#ShieldBackgroundContainer > Panel
{
	transition-property: position, opacity;
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.0s, 0.1s;
}

.AfterPurchaseLevelsContainer
{

}

.AfterPurchaseLevelsContainer, #EquationArrow
{
	opacity: 0.0;
	visibility: collapse;
}
.ShowAfterPurchaseLevel .AfterPurchaseLevelsContainer,
.ShowAfterPurchaseLevel #EquationArrow
{
	opacity: 1.0;
	visibility: visible;
}

#PurchaseEndsLabel
{
	horizontal-align: center;
    color: accentColorBright;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: 1px;
}


/* -- PurchaseInProgressScreen ------------------------------------------------- */

#PurchaseInProgressContents
{
	flow-children: down;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 36px;
}

#PurchaseInProgressContents > .Spinner
{
	horizontal-align: center;
}


/* -- ApplyLevelsScreen ----------------------------------------------- */

.ApplyLevelsOptions
{
	width: 100%;
	flow-children: down;
}

.ApplyLevelsOption
{
	width: 100%;
	margin-bottom: 20px;
	padding: 20px 70px 20px 70px;
}

.ApplyLevelsOption:selected
{
	background-color: #ffffff02;
}

.ApplyLevelOptionsContents
{
	flow-children: down;
	margin-left: 12px;
}
.ApplyLevelOptionsDescription
{
	color: #777;
	font-size: 16px;
	width: 620px;
}

.ApplyLevelOptionsTitle
{
	text-transform: uppercase;
	//color: accentColor;
	brightness: 2;
}





/* -- ApplyLevelsFailedScreen ---------------------------------------------- */

#ApplyLevelsFailedScreen .WizardScreenContents
{
	padding: 30px 50px;
}