Popup
{
	margin: 0px;
	padding: 0px;
}

.Header
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0c1b41), color-stop( 1, #165874) );
	height: 50px;
	width: 100%;
}

.Header Label
{
	font-size: 34px;

	text-transform: uppercase;
	horizontal-align: middle;
	vertical-align: center;
	text-align: center;
}

.CantBeReported
{ 
	saturation: 0;
}

.Subheader
{
	width: 100%;
}

.Subheader Label
{
	font-size: 24px;
	horizontal-align: middle;
	vertical-align: center;
	text-align: center;
}

DOTAPopupOverwatchReport.PopupPanel
{
	flow-children: none;
	padding: 0px;
}


#MainContents
{
	flow-children: down;
}


.Players
{
	horizontal-align: center;
	width: fit-children;
	flow-children: right;
	padding: 25px 20px 20px 20px;
}

#DirePlayers,
#RadiantPlayers
{
	width: fit-children;
	flow-children: down;
}

.RadioButtonContainer
{
	flow-children: right;
	horizontal-align: center;
}

.HorizontalRadioButton
{
	padding-right: 15px;
}

.SubHeader
{
	font-size: 30px;
	padding-left: 30px;
}

.HorizontalRadioButton Label
{
	font-size: 26px;
}

.PlayerSnippet
{
	flow-children: right;
	padding-bottom: 10px;
	width: fit-children;
}

.RadioBox
{
	vertical-align: center;
}

#HeroImage
{
	margin-left: 15px;
	width: 100px;
	height: 57px;
}

#PlayerNameAndIconRow
{
	vertical-align: center;
}

#PlayerNameAndIconRow Label
{
	font-size: 22px;
}

#RadiantPlayers
{
	border-radius: 15px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #226804), color-stop( 0.9, #000000) );
	margin-right: 5px;
}

#ReasonsOuterContainer
{
	width: 600px;
}

#Reasons
{
	flow-children: right-wrap;
	horizontal-align: center;
}

.ReportReasonButton
{
	width: 200px;
	padding-left: 15px;
}

.ReportReasonButton.OnlyForAllies.EnemyIsSelected
{
	visibility: collapse;
}

#DirePlayers
{
	margin-left: 5px;
	border-radius: 15px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #830d0d), color-stop( 0.9, #000000) );
}

.EnemyIsSelected .ValidOnlyForTeammates
{
	visibility: collapse;
}
