/* styles for the gift unwrap popup */

PopupGiftUnwrap Label
{
	color: #afb4b4;
}

#GiftHeader
{
	horizontal-align: center;
	text-align: center;
	font-size: 24px;
}

#SenderUserName
{
	horizontal-align: center;
}

#SenderUserName Label
{
	text-align: center;
	font-size: 36px;
}

#GiftImage
{
	horizontal-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#GiftDedication
{
	flow-children: down;
	horizontal-align: center;
	width: 380px;
}

#DedicationHeader
{
	font-size: 16px;
}

#DedicationText
{
	font-size: 20px;
	color: white;
}