/* styles for the party invite popup */

PopupPartyInvite.PopupPanel
{
    flow-children: down;
    margin: 0px;
    padding: 0px;
    border: 1px solid #81b27f00;
    background-color: transparent;
    border: 0px solid transparent;
    box-shadow: none;
    animation-name: none;
    transition-property: transform, pre-transform-scale2d, opacity, saturation, background-color, border;
    transition-duration: 0.2s;
}


PopupPartyInvite.PopupPanel.Hidden
{
    opacity: 0.0;
    pre-transform-scale2d: 1.25;
    border: 1px solid #81b27f00;
    background-color: transparent;
    border: 0px solid transparent;
    box-shadow: none;
}

#MainSectionContainer
{
    width: fit-children;
    height: fit-children;
}

#Body
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
    border: 1px solid #5e6869;
    
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 64px;
    padding-left: 64px;
    
    width: 792px;
    height: 600px;
    
    vertical-align: middle;
    horizontal-align: center;
    opacity: 1.0;
    box-shadow: black -4px -4px 8px 8px;
    //#FFFFFF66 -4px -4px 8px 8px
            
    transition-property: transform, pre-transform-scale2d, opacity, saturation, background-color, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.0s;

    flow-children: down;
    margin: 0px;
    padding: 0px;
    border: 1px solid #81b27f44;

}

PopupPartyInvite.Expired #PartyInviteTitle, PopupPartyInvite.Expired #PartyInviteSubtitle, PopupPartyInvite.Expired #InvitingParty
{
    saturation: 0;
    wash-color: #888888;
}

PopupPartyInvite.Expired #Body Label
{
}

PopupPartyInvite.PopupPanel.InviteIsLowPri #Body
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #330000ee ), to( #131617ee ) );
    border: 1px solid #c0000080;
}

PopupPartyInvite #Body
{
    flow-children: down;
}

#PartyInviteTitle
{
    margin-top: 22px;
    margin-bottom: 18px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #abeaa8;
}


PopupPartyInvite.PopupPanel.InviteIsLowPri #PartyInviteTitle
{
    color: #ffeaa8;
}

#PartyInviteSubtitle
{
    horizontal-align: center;
    margin-bottom: 10px;
    margin-left: 64px;
    margin-right: 64px;
    font-size: 32px;
    font-weight: thin;
    wash-color: #81b27f;
}

PopupPartyInvite.PopupPanel.InviteIsLowPri #PartyInviteSubtitle
{
    wash-color: #cc2211;
}

#InviteContainer
{
    //min-width: 720px;
    width: 1024px;
}

#InvitingParty
{
    height: 147px;
    background-color: #526f5111;
    horizontal-align: center;
    margin-top: 20px;
    margin-bottom: 53px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    box-shadow: #00000088 -4px -4px 8px 8px;
}

#InvitingParty.HasCoach
{
    height: 192px ;
    margin-bottom: 8px;
}

PopupPartyInvite.PopupPanel.InviteIsLowPri #InvitingParty
{
    background-color: #441213aa;
}

PopupPartyInvite.Expired #InvitingParty
{
    opacity: .5;
}

.PartyInviteOptions
{
    flow-children: down;
    horizontal-align: center;
    margin-top: 32px;
    margin-bottom: 48px;
}

.PartyInviteOptions Label
{
    font-size: 18px;
}

.PartyInviteOptionDescription
{
    color: #666666;
    margin-left: 30px;
    font-size: 16px;
}

.PopupButton
{
    margin-left: 16px;
    margin-right: 16px;
    width: 228px;
}

.PopupButtonRow
{
    margin-top: 18px;
}

ToggleButton
{
    margin-top: 4px;
    margin-bottom: 4px;
}

#WarningMsg
{
}

PopupPartyInvite.Expired #WarningMsg
{
    opacity: 0;
}

#InviteExpiredMsg
{
    width: 100%;
    margin-top: 6px;
    vertical-align: middle;
    text-transform: uppercase;
    box-shadow: #000000dd -4px -4px 8px 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    background-color: #4b674c;
    color: white;
}

PopupPartyInvite.Expired #InviteExpiredMsg
{
    opacity: 1.0;
    font-size: 22px;
//    background-color: #000000e0;
}

PopupPartyInvite.Expired #Body #InviteExpiredMsg
{
    wash-color: none;
}

PopupPartyInvite #InviteIOfNLabel
{
    opacity: 0.0;
    min-width: 132px;
    text-align: center;
    horizontal-align: right;
    font-size: 40px;
    background-color: #4b674c;
    color: white;
    box-shadow: #000000aa -4px -4px 8px 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    border-radius: 6px;
    transform: translateY( 32px ) translateX( -80px );
    z-index: 2;
}
PopupPartyInvite.MultipleInvites #InviteIOfNLabel
{
    opacity: 1.0;
}

#PrevArrowButton, #NextArrowButton
{
	vertical-align: center;
	background-size: 64px 64px;
	width: 72px;
	height: 72px;
	background-color: #272f2b;
    background-color: #4b674c;
    
    wash-color: none;
    border-radius: 50%;
    border: 1px solid #476347;
    margin: 32px;
    box-shadow: #000000aa -4px -4px 8px 8px;

    transition-property: transform, pre-transform-scale2d, opacity, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.0s;
}

#PrevArrowButton:hover, #NextArrowButton:hover
{
    background-color: #739674;
}


#PrevArrowButton
{
	horizontal-align: left;
}
#NextArrowButton
{
	horizontal-align: right;
}

#NextArrowButton:disabled, #PrevArrowButton:disabled
{
	opacity: 0;
}

PopupPartyInvite.Expired #AcceptButton
{
    visibility: collapse;
}

PopupPartyInvite.Expired .PopupButtonRow
{
}

PopupPartyInvite.Expired #DeclineButton
{
}



PopupPartyInvite #OKLabel, PopupPartyInvite.Expired #DeclineLabel
{
    visibility:collapse;
}

PopupPartyInvite.Expired #OKLabel
{
    visibility:visible;
}
