/* styles for the edit chat tab popup */

DOTAPopupFullscreenHTML
{
	width: 100%;
	height: 100%;
}

#HTML
{
	width: 100%;
	height: 100%;
}

#Background
{
	width: 100%;
	height: 100%;
	background-color: black;
}

#CloseButton
{
	vertical-align: top;
	horizontal-align: right;

	width: 32px;
	height: 32px;

	background-image: url("s2r://panorama/images/control_icons/quit_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}