
DOTADebutMoviePopup.PopupPanel
{
	width: 100%;
	height: 100%;
	background-color: black;
	border: 0px;
	padding: 0px;
	box-shadow: none;
	animation-name: none;
	flow-children: none;
}

DOTADebutMoviePopup.PopupPanel.Hidden
{
	sound: "";
}

#MovieContainer
{
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
	height: width-percentage( 56.25% );
	max-width: 1920px;
}

#DebutMovie
{
	width: 100%;
	height: 100%;
}

#MovieBg
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/diretide/2020/overview_bg_psd.vtex");
	background-position: center;
	background-size: cover;

	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

#TintBg
{
	width: 100%;
	height: 100%;
	background-color: #000000cc;

	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.MovieFinished #MovieBg, .MovieFinished #TintBg,
{
	opacity: 1.0;
}

#CloseButton
{
	horizontal-align: right;
	margin: 16px;
	background-color: #000e;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	wash-color: white;
	border: 2px solid #222;

	opacity: 0.0;

	transition-property: opacity, border;
	transition-duration: 0.2s;
}

#CloseButton:hover
{
	border: 2px solid #666;
}

#CloseButton:active
{
	border: 2px solid #444;
}

.ShowCloseButton #CloseButton
{
	opacity: 1.0;
}


#ReplayButton
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;

	opacity: 0.0;
	/* wash-color: #999; */

	transition-property: opacity, wash-color;
	transition-duration: 0.5s;

	margin-top: 60px;
}

#ReplayButton:hover
{
	brightness: 2.0;
}

#ReplayButton:active
{
	brightness: 0.8;
}

.MovieFinished #ReplayButton
{
	opacity: 1.0;
	transform: none;
}

#ArtContainer
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}
.MovieFinished #ArtContainer
{
	visibility: visible;
}

#ReplayIcon
{
	width: 54px;
	height: 54px;
	horizontal-align: center;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/control_icons/aghs_replay_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #cbdda1;
}

.ButtonText,
#DetailsButton Label
{
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	line-height: 100%;

	letter-spacing: 3px;
	text-transform: uppercase;

	color: #cbdda1;

	text-shadow: 0px 0px 3px #d5d33133;
}

#FinishedControls
{
	vertical-align: top;
	horizontal-align: right;
	flow-children: down;
	margin-top: 680px;
	margin-right: 228px;
	width: 600px;

	opacity: 0.0;
	transform: translateY( 20px );

	transition-property: opacity, transform;
	transition-duration: 0.5s;
}

.AspectRatio4x3 #FinishedControls, .AspectRatio21x9 #FinishedControls
{
	horizontal-align: center;
	margin-right: 0px;
	margin-top: 820px;
}

.MovieFinished #FinishedControls
{
	opacity: 1.0;
	transform: none;
}

#FinishedControls TextButton
{
	horizontal-align: center;
}

#FinishedControls TextButton Label
{
	text-align: center;
}

#DetailsButton
{
    visibility: collapse;   // COLLAPSING FOR DIRETIDE

	border: 1px solid #71CCFF;
	box-shadow: inset 0px 0px 24px #3374ff30;
	background-color: #01121C;

	transition-property: box-shadow;
	transition-duration: 0.2s;
}

#DetailsButton Label
{
	font-size: 17px;
	padding: 16px 54px;
}

#DetailsButton:hover
{
	box-shadow: 0px 0px 24px #3374ff0c;
}

#DetailsButton:active
{
	box-shadow: 0px 0px 24px #3374ff0c;
}

#DashboardButton
{

}

#DashboardButton Label
{
	letter-spacing: 1px;
	font-family: titleFont;
	font-weight: semi-bold;
	font-size: 36px;
	line-height: 100%;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ebebeb;
	text-shadow: 0px 0px 6px #44dba588;
	transition-property: brightness;
	transition-duration: 0.25s;
	color: gradient( linear, 0% 0%, 100% 0%, from( #91ebcb), color-stop( 0.5, #FFF8B9  ), to( #91ebcb ) );
	padding: 0px 8px;
}

#DashboardButton Label:hover
{
	brightness: 1.8;
	text-shadow: 0px 0px 8px 1.0 #44dba5aa;
}

#DashboardButton:active
{
	brightness: 1;
}

.parallaxBG
{
	background-size: contain;
	background-repeat: no-repeat;

	animation-duration: 0.6s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

@keyframes 'fadein'
{
	0%
	{
		transform: translateX(-40px);
		brightness: 11;
		wash-color: #A7E4C0;
		
	}
	100%
	{
		transform: translateX(0px);
		wash-color: white;
	}
}

@keyframes 'fadeinCandy'
{
	0%
	{
		transform: translateX(-140px);
		brightness: 12;
		wash-color: #A7E4C0;
	}
	100%
	{
		transform: translateX(0px);
	}
}

#Candy
{
	width: 1200px;
	height: 736px;
	horizontal-align: center;
	vertical-align: top;
	margin-left: 200px;
	margin-top: 80px;
	background-image: url("s2r://panorama/images/events/diretide/2020/overview_candy_psd.vtex");
	opacity: 0.4;
}

.MovieFinished #Candy
{
    animation-name: fadeinCandy;
}

.AspectRatio4x3 #Candy, .AspectRatio21x9 #Candy
{
	width: 1020px;
	height: 626px;
	margin-left: 40px;
	margin-top: 0px;
}

.AspectRatio21x9 #Candy
{
	margin-left: -100px;
	margin-top: -40px;
}

#Roshan
{
	width: 1024px;
	height: 836px;
	background-image: url("s2r://panorama/images/events/diretide/2020/overview_roshan_psd.vtex");
	background-size: 100%;
}

.MovieFinished #Roshan
{
	animation-name: fadein;
}

.AspectRatio16x10 #Roshan
{
	width: 916px;
	height: 748px;	
}

.AspectRatio4x3 #Roshan
{
	width: 700px;
	height: 572px;	
}

#ObjectiveContainer
{
    /* flow-children: down; */
	width: 700px;
	height: 700px;
	vertical-align: middle;
	horizontal-align: right;
	overflow: noclip;
	margin-right: 180px;
	margin-top: 240px;
}

.AspectRatio4x3 #ObjectiveContainer, .AspectRatio21x9 #ObjectiveContainer
{
	horizontal-align: center;
	margin-right: 0px;
	margin-top: 620px;
}

#PopupDiretideLogo
{
	width: 100%;
	height: 50%;
	background-image: url("s2r://panorama/images/events/diretide/2020/diretide_logo_nobg_en_psd.vtex");
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	margin-top: -12px;
	z-index: 1;
	overflow: noclip;
}

#PopupDiretideLogoShadow
{
	width: 100%;
	height: 50%;
	background-image: url("s2r://panorama/images/events/diretide/2020/diretide_logo_nobg_en_psd.vtex");
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	margin-top: -12px;
	wash-color: #006b42;
	blur: gaussian(10px);
	opacity: 1;
	z-index: 0;
	overflow: noclip;
}

#FeatureLogoFX
{
	width: 100%;
	height: 48%;
	opacity-mask: url("s2r://panorama/images/events/diretide/2020/diretide_logo_en_mask_psd.vtex");
	horizontal-align: left;
	hue-rotation: 0deg;
	z-index: 2;
	margin-top: -12px;
	opacity: 1;
	contrast: 1.5;
    brightness: 1.2;
	background-color: rgba(15, 125, 216, .3);
}


.Language_schinese #FeatureLogoFX
{
	opacity-mask: url("s2r://panorama/images/events/diretide/2020/diretide_logo_cn_mask_psd.vtex");
	width: 105%;
	margin-left: -16px;
	margin-top: -10px;
	opacity: 0.6;
}

.Language_russian #FeatureLogoFX
{
	opacity-mask: url("s2r://panorama/images/events/diretide/2020/diretide_logo_ru_mask_psd.vtex");
	width: 103%;
	height: 49%;
	margin-top: -9px;
}


.Language_schinese #PopupDiretideLogo, .Language_schinese #PopupDiretideLogoShadow
{
	background-image: url("s2r://panorama/images/events/diretide/2020/diretide_logo_nobg_cn_psd.vtex");
}

.Language_russian #PopupDiretideLogo, .Language_russian #PopupDiretideLogoShadow 
{
	background-image: url("s2r://panorama/images/events/diretide/2020/diretide_logo_nobg_ru_psd.vtex");
}

