/* styles for the friend picker popup */

#FriendPicker
{
	padding-top: 6px;
	padding-bottom: 6px;
	max-height: 430px;
	width: 450px;
	border: 1px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	overflow: squish scroll;
	horizontal-align: center;
}

#FriendPickerBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000dd ), color-stop( 0.03, #00000011), color-stop( 0.96, #00000033),  to( #000000dd ) );
}

.PopupFooter
{
	font-size: 15px;
	margin-top: 15px;
	max-width: 450px;
	padding-left: 10px;
	padding-right: 10px;
	visibility: collapse;
}

.HasFooter .PopupFooter
{
	visibility: visible;
}

.PopupButtonRow
{
	margin-top: 15px;
}

Label a
{
	color: #7A8CA5;
}