/* styles for the edit chat tab popup */

DOTAPopupBattlePassRollup.PopupPanel
{
	width: 1056px;
	width: 1400px;
    height: 820px;
	vertical-align: center;
	horizontal-align: center;
    flow-children: down;
	margin-top: 50px;
	animation-name: none;
	background-color: black;
	background-color: gradient( linear, 0% 0%, 140% 0%, from( #22282Af4 ), to( #000000 ) );
	border: 0px;
	box-shadow: fill black -8px -8px 20px 16px;
	padding: 0px;
	transition-duration: .35s;
}

#Background
{
	width: 100%;
	height: 100%;
}

#Summary
{
	width: 100%;
	height: 100%;

	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;

	flow-children: down;

	overflow: squish scroll;
}

.Section
{
	flow-children: down;
}

.Section .Thirds
{
	width: 222px;
}

DOTAPopupBattlePassRollup .WagerHeader
{
	margin-top: 0px;
	height: 20px;
	//text-overflow: shrink;
}

#Achievements .WagerValue,
DOTAPopupBattlePassRollup .WagerValue
{
	font-size: 32px;
	margin-bottom: 32px;	
	margin-top: 6px;
}

.HasData #Summary
{
	opacity: 1;
}

.CloseButton
{
	visibility: visible;

	horizontal-align: right;
	vertical-align: top;

	background-color: black;
	margin-right: 10px;
}



#PlayerCardsBody
{
	//height: 2200px;

	horizontal-align: center;

	flow-children: right-wrap;
}

#PlayerCardsBody VerticalScrollBar .ScrollThumb
{
	background-color: #333333;
}

.PlayerContainers
{
	flow-children: right;
}

.PlayerContainers .CardCount
{
	//width: 32px;
	//height: 32px;
	
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;

	horizontal-align: right;
	vertical-align: bottom;

	border-radius: 5px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #374249 ), to( #2A3037 ) );
	border: 1px solid black;
	
	visibility: collapse;
}

.PlayerContainers .CardCount Label
{
	text-transform: none;
	letter-spacing: 0.5px;
	color: #979998;
	horizontal-align: center;
	vertical-align: center;
	font-size: 13px;
	text-align: center;
	text-shadow: 0px 1px 2px 2.0 #000000;
}


.PlayerContainers .HasMultiple .CardCount
{
	visibility: visible;
}

.PlayerContainer Label
{ 
	font-size: 12px;
	//width: 60px;
}


.TeamContainer
{
	width: 654px;
	height: 220px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111 ), to( #202020) );

	padding: 5px;
	margin: 10px 10px;

	border: 1px solid #222222;

	flow-children: down;
}

.TeamContainer Label
{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	horizontal-align: center;
	color: #C3B699;
}



#Title
{
	flow-children: right;
	width: 100%;
}

#TitleBackground
{
	width: 100%;
	background-image: url("s2r://panorama/images/compendium/spring2016/battepointlog_header_psd.vtex");
	background-size: 100%;
    border-top: 1px solid #7A161649;
	flow-children: none;
}

.IsFall2016 #TitleBackground

{
	background-image: url("s2r://panorama/images/compendium/fall2016/battlepointlog_header_fall2016_psd.vtex");
	border-top: 1px solid #47673449;
}

.IsWinter2017 #TitleBackground

{
	background-image: url("s2r://panorama/images/compendium/winter2017/battlepointlog_header_winter2017_psd.vtex");
	border-top: 1px solid #34516749;
}

DOTAPopupBattlePassRollup #LevelWell
{
	horizontal-align: left;
	margin-left: 0px;
	margin-top: 44px;
	margin-bottom: 32px;
	margin-right: 32px;
}

DOTAPopupBattlePassRollup #LevelCircle .TotalLevel
{
	text-overflow: shrink;
	margin: 0px;
	horizontal-align: center;
	//border: 1px solid red;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 132px;
	width: 58px;
	
//	opacity: 0;
	
	transition-duration: .6s;
	transition-property: opacity; 
	transition-timing-function: ease-in-out;
}


DOTAPopupBattlePassRollup .LevelLabel
{
	text-align: right;
	text-transform: uppercase;
	vertical-align: bottom;
	color: #A9372E;
	font-size: 46px;
	letter-spacing: 6px;
	font-weight: thin;
	margin-bottom: 46px;

}

DOTAPopupBattlePassRollup.IsFall2016 .LevelLabel
{
	color: #A9ff2E;
}

DOTAPopupBattlePassRollup.IsWinter2017 .LevelLabel
{
	color: #2e7fff;
}


DOTAPopupBattlePassRollup #LevelCircle
{
	width: 92px;
	height: 92px;
}

DOTAPopupBattlePassRollup.IsFall2016 #LevelCircle
{
	wash-color: #A9FF2E;
}

DOTAPopupBattlePassRollup.IsWinter2017 #LevelCircle
{
	wash-color: #2e79ff;
}

.TotalPoints
{
    margin-right: 48px;
    opacity: 0;
	
	transition-duration: .6s;
	transition-property: opacity; 
	transition-timing-function: ease-in-out;
}

.SummaryLabel,
.AccountNameLabel,
.TitleLabel,
.TitleSubLabel
{
//	margin: 25px 0px 18px 33px;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: top;
	color: white;
	font-size: 32px;
	//text-shadow: 0px 0px 8px 1.0 #81A5C0aa;
	margin-left: 16px;
	margin-top: 90px;
}

.TitleLabel
{
	visibility: collapse;
}

.IsTI6 .TitleLabel.TI6,
.IsFall2016 .TitleLabel.Fall2016,
.IsWinter2017 .TitleLabel.Winter2017
{
	visibility: visible;
}

.SummaryLabel
{
	font-size: 40px;
	color: #A9372E;
	margin-top: 16px;
}

.IsFall2016 .SummaryLabel
{
	color: #A9FF2E;
}

.IsWinter2017 .SummaryLabel
{
	color: #2e85ff;
}

.AccountNameLabel
{
	font-size: 32px;
	margin-top: 56px;
}

.AccountNameLabel .PersonaName
{
	color: #c76a53;
}

.IsFall2016 .AccountNameLabel .PersonaName
{
	color: #82AE18;
}

.IsWinter2016 .AccountNameLabel .PersonaName
{
	color: #1869ae;
}

.TitleSubLabel
{
	font-size: 18px;
	margin-top: 128px;
	color: #9E999D;

	visibility: collapse;
}

.IsTI6 .TitleSubLabel.TI6,
.IsFall2016 .TitleSubLabel.Fall2016,
.IsWinter2017 .TitleSubLabel.Winter2017
{
	visibility: visible;
}




.TitleBar
{
	padding-top: 6px;
    width: 100%;
    flow-children: right;
	height: 42px;
	background-color: black;
	margin-bottom: 8px;
	padding-left: 16px;
}

.RollupColumn .TitleBar
{
	//width: 50%;
	margin-top: 6px;
}

.TitleBar Label
{
	text-transform: uppercase;
	font-weight: thin;
	letter-spacing: 2px;
	color: #C9C4CA;
	text-overflow: shrink;

}

.TitleBar .DateSubtitle
{
	horizontal-align: left;
	letter-spacing: 4px;
	color: #ffffff;
	font-size: 32px;
}

.RollupColumn
{
	width: 49%;
	flow-children: down;
}

#RollUpContent
{
	flow-children: right-wrap;
	//padding: 16px;
	width: 100%;
}

.QuestSection
{
	width: 48%;
	margin: 8px;
	margin-left: 16px;
	margin-right: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid black;
	height: 112px;
	flow-children: none;
}

.QuestStatsContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: gradient( linear, 40% 0%, 100% 0%, from( #251C1E ), to( #2E010000 ) );
	padding: 16px;
}

.IsFall2016 .QuestStatsContainer
{
	background-color: gradient( linear, 40% 0%, 100% 0%, from( #0D2B09ff ), to( #2E010000 ) );
}

.IsWinter2017 .QuestStatsContainer
{
	background-color: gradient( linear, 40% 0%, 100% 0%, from( #091a2bff ), to( #000e2e00 ) );
}

.QuestLineBG
{
	height: 100%;
	width: 387px;
	background-image: url("s2r://panorama/images/compendium/spring2016/rogue_quest_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;	
	horizontal-align: right;
}

#Questline0 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/spring2016/rogue_quest_psd.vtex"); }
#Questline1 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/spring2016/wizard_quest_psd.vtex"); }
#Questline2 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/spring2016/warrior_quest_psd.vtex"); }
#Questline3 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/spring2016/legion_quest_psd.vtex"); }

.IsFall2016 #Questline0 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/fall2016/bane_jpg.vtex"); }
.IsFall2016 #Questline1 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/fall2016/razor_jpg.vtex"); }
.IsFall2016 #Questline2 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/fall2016/bounty_jpg.vtex"); }
.IsFall2016 #Questline3 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/fall2016/halloween_jpg.vtex"); }

.IsWinter2017 #Questline0 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/winter2017/treant1_png.vtex"); }
.IsWinter2017 #Questline1 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/winter2017/zues_questline_png.vtex"); }
.IsWinter2017 #Questline2 .QuestLineBG { 	background-image: url("s2r://panorama/images/compendium/winter2017/antimage1_png.vtex"); }

#Questline3
{
	opacity: 0;
}

#Questline3.AnyCompleted
{
	opacity: 1;
}

.QuestLineName
{
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #bbbbbb;
	margin-top: -4px;
}

.BattleCupValue,
.BattleCupValueLabel,
#Achievements Label,
DOTAPopupBattlePassRollup .WagerHeader,
.QuestLineValue,
.QuestLineValueLabel
{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #bbbbbb;
}

.BattleCupValue,
#Achievements .QuestLineValue,
.QuestLineValue
{
	color: #A9372E;
}

.IsFall2016 .BattleCupValue,
.IsFall2016 #Achievements .QuestLineValue,
.IsFall2016 .QuestLineValue
{
	color: #A9ff2E;
}

.IsWinter2017 .BattleCupValue,
.IsWinter2017 #Achievements .QuestLineValue,
.IsWinter2017 .QuestLineValue
{
	color: #2e7fff;
}

.BattleCupValue,
.BattleCupValueLabel
{
	font-size: 24px;
}

.StarBlock .QuestLineValue
{
	font-size: 16px;
	horizontal-align: center;
	text-align: center;
}

#PersonalWageringContainer
{
	margin: 16px;
	width: 668px;
	height: 196px;
	horizontal-align: center;
}

.StarBlock 
{
	margin-right: 32px;
}

.StarsIcon 
{
	width: 10px;
	height: 10px;
	background-image: url("s2r://panorama/images/status_icons/icon_star_png.vtex");
	background-size: contain;
	wash-color: #80443C;
}

.IsFall2016 .StarsIcon
{
	wash-color: #28551A;
}

.IsWinter2017 .StarsIcon
{
	wash-color: #1a3a55;
}

.LevelContainer
{
	horizontal-align: right;
	margin-right: 24px;
	vertical-align: bottom;
}

#PlayerCards
{
	flow-children: none;
}

.HitBlocker
{
	width: 100%;
	height: 100%;
}

#Bracket,
#Fantasy,
#Predictions,
#BattleCup,
#Achievements
{
	margin-top: 32px;
	horizontal-align: left;
	margin-left: 64px;
	vertical-align: middle;
	height: 190px;
}

#BattleCup
{
	margin-top: 16px;
}

#Bracket,
#Fantasy
{
	margin-top: 16px;
	height: 100px;
}

.AchievementLine
{
	margin-bottom: 16px;
}

.IsTI6 .PointTotalIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/totalpoints_psd.vtex");
}

.IsFall2016 .PointTotalIcon
{
	background-image: url("s2r://panorama/images/compendium/fall2016/totalpoints_psd.vtex");
}

.IsWinter2017 .PointTotalIcon
{
	background-image: url("s2r://panorama/images/compendium/winter2017/totalpoints_psd.vtex");
}

.IsTI6 .WagerTotalIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/totaltokens_psd.vtex");
}

.IsFall2016 .WagerTotalIcon
{
	background-image: url("s2r://panorama/images/compendium/fall2016/totaltokens_psd.vtex");
}

.IsWinter2017 .WagerTotalIcon
{
	background-image: url("s2r://panorama/images/compendium/winter2017/totaltokens_psd.vtex");
}


.IsFall2016 VerticalScrollBar
{
	background-color: #15211388;
	width: 6px;
}

.IsWinter2017 VerticalScrollBar
{
	background-color: #13192188;
	width: 6px;
}

.IsFall2016 VerticalScrollBar .ScrollThumb,
.IsFall2016 VerticalScrollBar:active .ScrollThumb,
.IsFall2016 VerticalScrollBar:hover .ScrollThumb
{
	background-color: #3B542C;
	//border-top: 1px solid #ffffff09;
	border: 1px solid #ffffff02; 
}

.IsWinter2017 VerticalScrollBar .ScrollThumb,
.IsWinter2017 VerticalScrollBar:active .ScrollThumb,
.IsWinter2017 VerticalScrollBar:hover .ScrollThumb
{
	background-color: #2c3e54;
	//border-top: 1px solid #ffffff09;
	border: 1px solid #ffffff02; 
}