PopupPurchaseRandomHeroRelic.PopupPanel
{
	flow-children: none;
	padding: 0px;
}

#MainContents
{
	flow-children: down;
}

.CloseButton
{
	horizontal-align: right;
	margin-right: 8px;
	margin-top: 8px;
}

#Header
{
	flow-children: right;
	background-color: #111;
	width: 100%;
}

#HeroImage
{
	width: 151px;
	height: 85px;
}

#HeaderDetails
{
	flow-children: down;
	margin-left: 20px;
	vertical-align: middle;
}

#HeaderTitle
{
	flow-children: right;
}

#HeaderHeroName
{
	font-size: 24px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
}

#HeaderRelicsOwned
{
	font-size: 24px;
	letter-spacing: 2px;
	margin-left: 8px;
	color: dotaPlusLightGold;
	font-weight: bold;
}

#HeaderRelicsOwnedLabel
{
	color: #999;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: -3px;
}

#MainCenter
{
	horizontal-align: center;
}

#RightPanel
{
	width: 380px;
	height: 100%;
	margin-left: 8px;
	flow-children: down;
}

#MyShards
{
	horizontal-align: right;
	flow-children: right;
	background-color: #b7894622;
	padding-right: 16px;
}

#MyShardsTitle
{
	padding: 6px 12px 2px 12px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	
}

#MyShardsAmountContainer
{
	padding: 6px 12px 2px 12px;
	width: 100%;
	flow-children: right;
}

#MyShards .DotaPlusCurrencyIcon
{
	width: 22px;
	height: 22px;
	margin-right: 4px;
	transform: translateY( -2px );

	vertical-align: middle;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#MyShardsAmount
{
	font-size: 24px;
	color: dotaPlusLightGold;
	text-shadow: 0px 0px 4px 2.0 black;
	text-shadow: 0px 0px 4px dotaPlusGold;
	font-weight: bold;
}


#Contents
{
	flow-children: down;
	margin: 24px;
	width: 766px;
	margin: 65px 32px;
}

#ContentsTitle
{
	padding-left: 325px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop(0.5, #000000cc), to( #000000 ) );
	width: 100%;
	height: 100px; 
}

#ContentsTitleCenter
{
	horizontal-align: center;
	flow-children: right;
	
}

#RandomRelicContainer
{
	flow-children: none; 

	
	width: 80px; 
	height: 100px;
}

#ContentsTitleIcon
{
	width: 100%;
	height: 100%;
	margin-right: 0px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/hero_relics/hero_relic_random_slot_backer_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#RandomQuestionMark
{
	vertical-align: center; 
	horizontal-align: center;
	margin-right: 0px; 
	margin-top: 10px; 
	font-size: 40px; 
	font-weight: bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( #fff7cf ), to( #dfd28f ) );
	text-shadow: 0px 0px 30px 3 #e89f1f; 
	animation-name: TextShadowGlowPulse;
	animation-duration: 4.1s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
} 

@keyframes 'TextShadowGlowPulse'
{
	0%
	{
		text-shadow: 0px 0px 30px 3 #e66f17;
	}

	50%
	{
		text-shadow: 0px 0px 10px 3 #8f5123;
	}

	100%
	{
		text-shadow: 0px 0px 30px 3 #e66f17;
	}
}

.TitleContainer
{
	vertical-align: middle;
	flow-children: down;
}

.Title
{
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 100% 0%, from( #eddcc0 ), to( #ebc586) );
	font-weight: bold;
	font-size: 30px;
	margin-top: -4px;
	letter-spacing: 2px; 
}

.RelicRarity
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	vertical-align: middle;
	letter-spacing: 2px;
	margin-top: -4px;
}

.PurchasingRareRelic #CommonRelicRarity
{
	visibility: collapse;
}

.PrimaryAttributeStrength	#CommonRelicRarity { color:dotaPlusRelicTextStr; }
.PrimaryAttributeAgility	#CommonRelicRarity { color:dotaPlusRelicTextAgi; }
.PrimaryAttributeIntellect	#CommonRelicRarity { color:dotaPlusRelicTextInt; }

#RareRelicRarity
{
	color: dotaPlusRelicTextRare;
	visibility: collapse;
}

.PurchasingRareRelic #RareRelicRarity
{
	visibility: visible;
}


#ContentsMain
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), to( #000000cc ) );
	width: 100%;
}

#Controls
{
	width: 370px;
	height: 235px;
	margin-left: 370px;
	margin-right: 34px;
}

.PurchaseStateControls
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.PurchaseStateStart #StartControls,
.PurchaseStateInProgress #InProgressControls,
.PurchaseStateSuccess #SuccessControls,
.PurchaseStateFailed #FailedControls
{
	visibility: visible;
}

.PurchaseStateControlsCenter
{
	width: 100%;
	vertical-align: middle;
	flow-children: down;
}

.PurchaseStateTitle
{
	font-size: 20px;
	letter-spacing: 1px; 
	horizontal-align: center;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #999;
}

.PurchseStateMessage
{
	font-size: 20px;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #999;

	margin-bottom: 10px;
}

#StartControls
{
	flow-children: down;
}

#PurchaseButton
{
	width: 192px;
	height: 66px;
	padding: 4px 16px 4px 16px;
	horizontal-align: center;
	margin-top: 24px;
	border-radius: 3px;

	background-size: cover;
	background-repeat: no-repeat;

	transition-property: brightness;
	transition-duration: 0.2s;
}

.PrimaryAttributeStrength #PurchaseButton { background-image: url("s2r://panorama/images/dota_plus/relic_str_button_psd.vtex"); }
.PrimaryAttributeAgility #PurchaseButton { background-image: url("s2r://panorama/images/dota_plus/relic_agi_button_psd.vtex"); }
.PrimaryAttributeIntellect #PurchaseButton { background-image: url("s2r://panorama/images/dota_plus/relic_int_button_psd.vtex"); }
.PurchasingRareRelic #PurchaseButton { background-image: url("s2r://panorama/images/dota_plus/relic_rare_button_psd.vtex"); }

#PurchaseButton:hover:enabled
{
	brightness: 1.8;
}

#PurchaseButton:disabled
{
	brightness: 0.2;
	saturation: 0.2;
}

#PurchaseButton Label
{
	font-size: 28px;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	color: dotaPlusLightGold;
	font-weight: bold;
	text-shadow: 0px 0px 4px 2.0 #00000088;
}

#PurchaseButton .EventPointsValueIcon
{
	width: 22px;
	height: 22px;
	margin-bottom: 6px;
	vertical-align: middle;

	img-shadow: 0px 0px 4px 1.0 #00000088;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 2px;
}

#PurchaseButton .EventPointsValue.Season_PlusSubscription
{
	color: white;
}

#PurchaseDescription
{
	margin-top: 0px;
	text-align: center;
	font-size: 16px; 
	width: 380px;
	color: #999; 
}

#AlreadyOwned
{
	horizontal-align: center;
	text-align: center;
	color: dotaPlusGold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	margin-top: 24px;

	visibility: collapse;
}

.AllPurchased #AlreadyOwned
{
	visibility: visible;
}


.RetryButton
{
	horizontal-align: center;
	margin-top: 28px; 
	border-top: 1px solid #fffffff;

	padding: 8px 8px;
	border-radius: 3px;
}

.RetryButton Label
{
	font-size: 18px;
	color: white;
	font-weight: bold;
	padding-left: 10px; 
	padding-right: 10px;
	letter-spacing: 1px; 
}

#InProgressControls .Spinner
{
	wash-color: #666;
	margin-top: 8px;
	horizontal-align: center;
}

.RelicName
{
	color: white;
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 28px;
	text-align: center;
	margin-bottom: 0px;
	letter-spacing: 1px;
	width: 360px;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
	
	line-height: 28px;
}

.SuccessAnimationComplete #SuccessControls .RelicName
{
	opacity: 1.0;

	transition-duration: 0.0s;
}

#SuccessControls .RetryButton
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-delay: 1.5s;
}

.SuccessAnimationComplete #SuccessControls .RetryButton
{
	opacity: 1.0;

	transition-delay: 0.0s;
	transition-duration: 0.0s;
}
