
PopupPurchaseDotaPlus
{
	width: 800px;
	height: fit-children;
}

PopupPurchaseDotaPlus.PopupPanel
{
	vertical-align: top;
	margin-top: 300px;
}

.PlusSubscriber .UnsubOnly
{
	visibility: collapse;
}

.SubOnly
{
	visibility: collapse;
}

.PlusSubscriber .SubOnly
{
	visibility: visible;
}

.PlusSubscriber .RenewalOnly
{
	visibility: collapse;
}

.PlusSubscriber .PlusRenewal .RenewalOnly
{
	visibility: visible;
}

.PlusSubscriber .PlusPrepaid .NotPrepaid
{
	visibility: collapse;
}

.PlusSubscriber .PrepaidOnly
{
	visibility: collapse;
}

.PlusSubscriber .PlusPrepaid .PrepaidOnly
{
	visibility: visible;
}

.ExpiresOnly
{
	visibility: collapse;
}

.PlusSubscriber .ExpiresOnly
{
	visibility: visible;
}

.PlusSubscriber .PlusRenewal .ExpiresOnly
{
	visibility: collapse;
}

.PerfectWorldOnly
{
	visibility: collapse;
}

.PlusRenewal .NotRenewal
{
	visibility: collapse;
}

.PartnerPerfectWorld .PerfectWorldOnly
{
	visibility: visible;
}

.PartnerPerfectWorld .NotPerfectWorld
{
	visibility: collapse;
}
.PartnerPerfectWorld .NotPerfectWorld.PrepaidOnly
{
	visibility: collapse;
}
.PartnerPerfectWorld .NotPerfectWorld.UnsubOnly
{
	visibility: collapse;
}

.PopupPanel,PopupPurchaseDotaPlus
{
	padding: 0px;
	border: 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2e ), to( #121212 ) );
	box-shadow: #172a2f -4px -4px 8px 8px;
	flow-children: none;
}

#BGImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/dota_plus/dotaplus_logo_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 60px;
	opacity: 0.05;
}

.CloseButton
{
	horizontal-align: right;
	margin: 8px;
}

.PopupTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #665a46 ), to( #e4e1aa ) );
	font-size: 36px;
	font-weight: bold;
	width: fill-parent-flow( 1 );
	horizontal-align: center;
	text-align: center;
	margin-top: 30px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 3 black;
}

.BodyText
{
	text-align: center;
	width: 100%;
	color: #cccccc;
	margin: 20px 60px 10px 60px;
	text-shadow: 1px 1px 3 black;
}

#ContentContainer
{
	width: 100%;
	height: fit-children;
}

#BottomContainer
{
	width: 100%;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#ExpandedContainer
{
	width: 100%;
	visibility: collapse;
}

#GiftingExpandedContainer
{
	width: 100%;
	visibility: collapse;
}

.expanded #ExpandedContainer
{
	visibility: visible;
}

.giftingexpanded #GiftingExpandedContainer
{
	visibility: visible;
}


.ExpandButton
{
	flow-children: right;
}


.ExpandButton Label
{
	color: #cccccc;
	font-size: 14px;
	letter-spacing: 1px;
}

.ExpandButton:hover
{
	brightness: 2.0;
}

.ExpandButton:active
{
	brightness: 1.5;
}

#MoreOptions
{
	margin-left: 60px;
}

.PartnerPerfectWorld #MoreOptions
{
	visibility: collapse;
}

#FAQContainer
{
	vertical-align: bottom;
	horizontal-align: right;
	flow-children: right;
}

#FAQContainer:hover
{
	brightness: 2.0;
}

#FAQContainer:active
{
	brightness: 1.5;
}


#FAQContainer Label
{
	color: #999999;
	font-size: 14px;
}

.Arrow
{
	margin-left: 8px;
	vertical-align: center;
	wash-color: #999999;
	width: 8px;
	height: 8px;
	background-image: url("s2r://panorama/images/control_icons/arrow_top_right_png.vtex");
	background-size: cover;
}

.ExpandArrow
{
	margin-left: 2px;
	margin-bottom: 2px;
	vertical-align: center;
	wash-color: #cccccc;
	width: 16px;
	height: 8px;
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_down_png.vtex");
	background-size: 100%;
}

.giftingexpanded #GitftinOptions .ExpandArrow
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_up_png.vtex");
	background-size: 100%;
}

.expanded #MoreOptions .ExpandArrow
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_up_png.vtex");
	background-size: 100%;
}

#DetailsLink:hover
{
	color: #FFFFFF;
}

.PurchaseOptionsContainer
{
	flow-children: down;
	horizontal-align: center;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	width: 100%;
}

.PurchaseOptionsList
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 30px;
}

#ExpandedContainer .PurchaseOptionsList, #GiftingExpandedContainer .PurchaseOptionsList
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.PurchaseOption
{
	flow-children: down;
	margin: 6px;
}

.PurchaseOptionTitle
{
	horizontal-align: left;
	margin-left: 80px;
	vertical-align: top;
	margin-top: 0px;
	color: #a4a586;
}

.PurchaseButton
{
	horizontal-align: center;
	width: 200px;
	height: 40px;
}

.PurchaseButton Label
{
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	vertical-align: center;
	text-overflow: shrink;
}

.PurchaseOptionLabel
{
	horizontal-align: center;
	color: #dddddd;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 12px;
}

.price
{
	color: #a4a586;
}

#FirstTimeBonus
{
	horizontal-align: center;
	margin-top: 30px;
}

#ShardIcon
{
	width: 64px;
	height: 96px;
	margin-right: 12px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/dota_plus/shards_reflective_png.vtex");
	background-size: cover;
}

.BrightText
{
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.DimText
{
	color: #a4a586;	
	letter-spacing: 1px;
	font-size: 14px;
	text-transform: uppercase;
}