/* styles for the simple text tooltip */

DOTABattlePassLogEntry
{                           
	background-color: gradient( linear, 0% 0%, 140% 0%, from( #22282Af4 ), to( #000000 ) );
	//border: 2px solid black;
	box-shadow: none;
    flow-children: right;
	height: 38px;
	
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

.BattlePassLogEntry Label
{
    font-size: 18px;
	vertical-align: middle;
	margin-top: 3px;
	font-weight: thin;
	//letter-spacing: 1px;
	
	/* Fall 2016 */
	color: #737086;
	
	/* Winter 2017 */
	color: #6c879f;
}

.BattlePassLogEntry:hover
{
	border-bottom: 1px solid #32353A55;
	border-top: 1px solid #32353A55;
}

.BattlePassLogEntry:hover Label
{
	brightness: 2;
}

.DateColumn
{
    width: 108px;
    text-align: center;
}

.TitleBar .DateColumn
{
	padding: 0px;
}

.PointsColumn	
{
    width: 96px;
    text-align: right;
    margin-right: 32px;
}

.TitleBar .PointsColumn
{
	margin-right: 0px;
}

.TotalPointsColumn
{
    width: 96px;
    text-align: right;
    margin-right: 32px;
}

.TitleBar .TotalPointsColumn
{
	horizontal-align: right;
	margin-right: 40px;
}

.BattlePassLogEntry .LevelColumn
{
    width: 112px;
    text-align: center;
    margin-right: 0px;
	color: #64627633;
	//font-weight: bold;
	font-size: 24px;
}

.TitleBar .LevelColumn
{
    width: 112px;
	text-align: center;
	//margin-right: 16px;
	color: #A9372E;
	
	/* Fall 2016 */
	color: #5ca92e;
	
	/* Winter 2017 */
	color: #3886bd;
}

.NewLevel .LevelColumn
{
	color: #A9372E;
	font-size: 40px;
	margin-top: -4px;
	
	/* Fall 2016 */
	color: #5ca92e;
	
	/* Winter 2017 */
	color: #3886bd;
}

.TitleBar .PointTotalIcon
{
	margin: 0px;
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/compendium/winter/totalpoints_points_psd.vtex");
}

.TitleBar .PointsColumn	
{
	width: fit-children;
	text-align: right;
	margin-left: 8px;
}

.TitleBar .DescriptionColumn
{
	margin-left: 40px;
	width: 542px;
	margin-right: 0px;
}

.DescriptionColumn 
{
    width: fill-parent-flow( 1.0 );
	width: 532px;
}

.TipGiven .DescriptionColumn
{
	//wash-color: #249DC5;
}

.TipGiven .PointsColumn
{
	color: #737086;
}



DOTABattlePassLogEntry .PointsColumn,
DOTABattlePassLogEntry .DescriptionColumn
{
	color: #BEB9BD;
}

.NewLevel
{
	//border-bottom: 1px solid black;
	//border-top: 1px solid black;
	background-color: #212429;
	background-color: gradient( linear, 0% 0%, 110% 0%, from( #292F30 ), to( #000000 ) );
}

.LatestLevel
{
	background-color: #32353A;
	//height: 56px;
}

.LatestLevel Label
{
	text-shadow: 1px 1px 4px 2.0 black;
	//font-weight: bold;
	//font-size: 20px;
	brightness: 2;
}

.LatestLevel .LevelColumn
{
	color: white;
}

.NewLevel.LatestLevel .LevelColumn
{
	color: #E64E42;
	
	/* Fall 2016 */
	color: #74ce31;
	
	/* Winter 2017 */
	color: #40a6ed;
}

.TipGiven
{
	//background-color: #ff000006;
}

.TypeIcon
{
	width: 24px;
	height: 24px;
	background-size: cover;
	vertical-align: middle;
	margin-right: 16px;
}

.TipReceived .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_gottip_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}


.TipGiven .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_gavetip_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.ActivatedBattlePass .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_activate_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}


.WagerWon .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_wonwager_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.InGamePredictionCorrect .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_prediction_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.RecycledItem .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_recycle_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}


.Achievement .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_achievement_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.ReceivedMysteryItem .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_spinwheel_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.ReceivedCommunityGoalItem .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_community_goal_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.QuestComplete .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_questcomplete_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.BattlePointsConsumed .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/totalpoints_points_psd.vtex");
	
	/* Fall 2016 */
	//hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.CorrectPrediction .TypeIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_prediction_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.WeekendTourneyPayout .TypeIcon
{
	wash-color: accentColor;
	background-image: url("s2r://panorama/images/weekend_tourney/battlecup_icon_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

.FantasyChallengeWinnings .TypeIcon
{
	wash-color: accentColor;
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_achievement_psd.vtex");
	
	/* Fall 2016 */
	hue-rotation: 110deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

VerticalScrollBar .ScrollThumb,
VerticalScrollBar:active .ScrollThumb,
VerticalScrollBar:hover .ScrollThumb
{
	background-color: #545557;
}

