DOTAPopupOverwatchConvict.PopupPanel
{
	flow-children: none;
	padding: 0px;
	width: 1614px;
	height: 883px;
	background-color: black;
}


#MainContents
{
	flow-children: right;
	padding: 16px;
	width: 100%;
	height: 100%;
}

#LeftPanel
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

#OverwatchResolutionArt
{
	width: 100%;
	height: 50%;
	background-image: url("s2r://panorama/images/challenges/challengeimage_tutorial_psd.vtex");
    background-size: cover;
	border-radius: 10px solid black;
}

#RightPanel
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

#Infractions
{
	flow-children: down;
}

.Infraction
{
	padding: 83px;
	flow-children: down;
}

.Infraction .DisruptionSeverity
{
	text-transform: uppercase;
	font-size: 19px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #165874), to( #3a60c1) );
}

.Infraction .Title
{
	font-size: 35px;
	color: white;
}

.Infraction .HelpText
{
	font-size: 18px;
	color: #cfcfcf;
}

.CloseButton
{
	horizontal-align: right;
	margin-right: 8px;
	margin-top: 8px;
}

#JudgementButtons
{
	width: 100%;
	vertical-align: bottom;
}

RadioButton
{
	margin-right: 25px;
}

RadioButton Label
{
	font-size: 28px;
	margin-bottom: 60px;
}

.Convictions
{
	flow-children: right;
	horizontal-align: center;
}

.PopupButtonRow
{
	vertical-align: bottom;
}

#OverwatchHelpText
{
	padding: 55px;
}

#OverwatchHelpText Label
{
	font-size: 19px;
}

#OverwatchResolutionArt Label
{
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	vertical-align: center;
	font-size: 35px;
}

