/* styles for the join chat channel popup */

@define contentsWidth: 512px;

PopupJoinChatChannel
{
    flow-children: down;
}

PopupJoinChatChannel.PopupPanel
{
    width: 920px;
    padding-bottom: 64px;
}

#ChannelListContainer
{
	flow-children: down;
	horizontal-align: right;
	width: 100%;
	padding-top: 16px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333 ), to( #191e1e ) );
	padding-bottom: 24px;
	border: 1px solid black;
	border-top: 0px solid black;
}

#ChannelTabsContainer
{
	flow-children: right;
	horizontal-align: center;
}

.ChannelTabs
{
	width: fill-parent-flow( 1.0 );
	border: 1px solid black;
	border-bottom: 0px solid black;
	height: 42px;

	margin-left: 3px;
	margin-right: 3px;
}

.ChannelTabs.First
{
	margin-left: 0px;
}

.ChannelTabs.Last
{
	margin-right: 0px;
}


.ChannelTabs .RadioBox
{
	visibility: collapse;
}

.ChannelTabs Label
{
	width: fill-parent-flow( 1.0 );
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #222222 ), color-stop( 0.6, #222222 ), to( #111111 ) );
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 42px;
	padding-top: 8px;
	font-size: 18px;
	margin: 0px;
	color: #888888;
}

.ChannelTabs:selected Label
{
	background-color: #333333;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #444444 ), color-stop( 0.4, #333333 ), to( #333333 ) );
}

#JoinChannelDescription
{
    width: contentsWidth;
    text-align: center;
    horizontal-align: center;
    margin-bottom: 18px;
    font-size: 20px;
}

#ChannelSearchTextEntry
{
    width: contentsWidth;
    horizontal-align: center;
}

#ChannelSearchResultsTable
{
	flow-children: down;
	horizontal-align: center;
}

#ChannelSearchResults
{
    overflow: clip scroll;
    height: 300px;
    width: contentsWidth;
    background-color: #00000066;
    flow-children: down;
    padding: 5px;
}

.SortHeaderColumn
{
	flow-children: right;
	padding: 6px 8px 3px 8px;
}

.SortHeaderColumn Label
{
	text-transform: uppercase;
}

.SortArrow
{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	wash-color: baseText;

	background-size: contain;
	background-position: 50% 50%;
}

.SortAscending .SortArrow
{
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
	transform: scaleY( -1.0 );
}

.SortDescending .SortArrow
{
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
}

.SortHeaderColumn:hover Label
{
	color: white;
}

.SortHeaderColumn:hover .SortArrow
{
	wash-color: white;
}

.HideDistance #SortByDistance
{
	visibility: collapse;
}

.HideMemberCount #SortByMemberCount
{
	visibility: collapse;
}

#ChannelSearchResultsHeader
{
	flow-children: right;
	width: contentsWidth;
	margin-top: 10px;
	background-color: black;
}

#SortByName
{
	width: fill-parent-flow( 1.0 );
}

.ChannelResult
{
    width: 100%;
    flow-children: right;
    padding: 3px;
}

.ChannelResult:focus
{
    background-color: #5d82a3;
}

.ChannelResult:focus Label
{
    color: white;
}

.ChannelLocked
{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 4px;

	background-image: url("s2r://panorama/images/control_icons/lock_small_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	wash-color: #A5ADA2;
}

.ChannelName
{
    width: fill-parent-flow( 1.0 );
}

.ChannelMemberCount, .ChannelDistance
{   
	margin-left: 5px;
}


