/* styles for the friend picker popup */

PopupItemReceived
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

PopupItemReceived.PopupPanel 
{
	flow-children: none;
	padding: 0px;
	background-color: none;
	border: 0px solid transparent;
	animation-name: none; 
}

PopupItemReceived.PopupPanel.Hidden
{
	sound: "";
}

.PopupButtonRow
{
	margin-bottom: 32px;
	vertical-align: bottom;
}

.OptionsButtonRow
{
	margin-right: 12px;
	margin-bottom: 70px;
	vertical-align: bottom;
	horizontal-align: right;
}

.ButtonDark
{
	margin: 8px;
}


@keyframes '2dpanelanimation'
{
	0%
	{
		transform: translateZ( 190px ) translateX( 4px ) translateY( 0px ) rotateY( 10deg ) rotateX( 8deg );
		box-shadow: fill #000000aa -12px 8px 12px 12px;
	}
	
	25%
	{
		transform: translateZ( 220px ) translateX( 16px ) translateY( 0px ) rotateY( 6deg ) rotateX( 10deg );
		box-shadow: fill #000000aa -14px 5px 12px 12px;
	}	

	50%
	{
		transform: translateZ( 190px ) translateX( 12px ) translateY( 0px ) rotateY( 12deg ) rotateX( 8deg );
		box-shadow: fill #000000aa -11px 8px 12px 12px;
	}
	
	75%
	{
		transform: translateZ( 220px ) translateX( 8px ) translateY( 0px ) rotateY( 8deg ) rotateX( 10deg );
		box-shadow: fill #000000aa -13px 7px 12px 12px;
	}					
				
	100%
	{
		transform: translateZ( 190px ) translateX( 4px ) translateY( 0px ) rotateY( 10deg ) rotateX( 8deg );
		box-shadow: fill #000000aa -12px 8px 12px 12px;
	}
}


#IconContainer
{
	width: 100%;
	height: 100%;
	z-index: 3;
}

#IconContainer.StartAnim 
{
	animation-name: switchAnim;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}


@keyframes 'switchAnim'
{
	0%
	{
		opacity: 0;
		transform: translateX( -80px );
		pre-transform-scale2d: .75;
		brightness: 8;
	}
	
	50%
	{
		opacity: 1;
	}
	
	
	100%
	{
		opacity: 1;
		transform: translateX( 0px );
		pre-transform-scale2d: 1;
		brightness: 1;
	}
}


.ReceivedItemIcon
{
	width: 180px;
	height: 180px;

	margin-left: 110px;
	margin-top: 42px;

	box-shadow: fill #000000aa -2px -2px 14px 14px;
	border-radius: 0.1px;
	vertical-align: middle;
	horizontal-align: left;
	border: 2px solid black;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292e2e ), to( #191e1e ) );

	animation-name: 2dpanelanimation;
	animation-duration: 21.11s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#MainImage
{
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px;
	border-width: 0px;
	saturation: 1.0;
	transition-duration: 0.0s;
	wash-color: #FFFFFFFF;
}

#MainImage:hover
{
	pre-transform-scale2d: 1.00;
	box-shadow: fill #000000aa -2px -2px 14px 14px;
	border-width: 0px;
	wash-color: #FFFFFFFF;
	saturation: 1.0;
}

#MainImage DOTAEconItem Button
{
	visibility: collapse;
}

#BackgroundFXLarge
{ 
	opacity: 0.1;
	width: 20%;
	height: 20%;
	pre-transform-scale2d: 5;
	vertical-align: middle;
	horizontal-align: center;
}

#BackgroundFXWindow
{ 
	opacity: 0;
	width: 840px;
	height: 840px;
	margin-top: -120px;
	margin-left: -220px;
	hue-rotation: 0deg;
	saturation: 1;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex") 1.0;

}

PopupItemReceived.ItemRarity_unknown #BackgroundFXWindow,
PopupItemReceived.ItemRarity_common #BackgroundFXWindow              { hue-rotation: 160deg; saturation: 0.5; opacity: 0.1; }
PopupItemReceived.ItemRarity_uncommon #BackgroundFXWindow            { saturation: 0.0; wash-color: #5E98D9; opacity: 1; }
PopupItemReceived.ItemRarity_rare #BackgroundFXWindow                { hue-rotation: 190deg; saturation: 0.6; wash-color: #4B69FF; opacity: 1;}
PopupItemReceived.ItemRarity_mythical #BackgroundFXWindow            { hue-rotation: 220deg; wash-color: #5E98D955; opacity: 1;}
PopupItemReceived.ItemRarity_legendary #BackgroundFXWindow           { hue-rotation: 250deg; opacity: 1;}
PopupItemReceived.ItemRarity_ancient #BackgroundFXWindow             { hue-rotation: 330deg; opacity: 1;}
PopupItemReceived.ItemRarity_immortal #BackgroundFXWindow            { hue-rotation: 0deg; opacity: 1;}
PopupItemReceived.ItemRarity_arcana #BackgroundFXWindow              { hue-rotation: 66deg; saturation: 0.6; wash-color: #ADE55C88; opacity: 1;}
PopupItemReceived.Gift #BackgroundFXWindow                           { hue-rotation: 320deg; opacity: 1;}

PopupItemReceived.ItemRarity_unknown #ItemName,
PopupItemReceived.ItemRarity_common #ItemName                        { color: rarity_color_common; }
PopupItemReceived.ItemRarity_uncommon #ItemName                      { color: rarity_color_uncommon; }
PopupItemReceived.ItemRarity_rare #ItemName                          { color: rarity_color_rare; }
PopupItemReceived.ItemRarity_mythical #ItemName                      { color: rarity_color_mythical; }
PopupItemReceived.ItemRarity_legendary #ItemName                     { color: rarity_color_legendary; }
PopupItemReceived.ItemRarity_ancient #ItemName                       { color: rarity_color_ancient; }
PopupItemReceived.ItemRarity_immortal #ItemName                      { color: rarity_color_immortal; }
PopupItemReceived.ItemRarity_arcana #ItemName                        { color: rarity_color_arcana; }
PopupItemReceived.Gift #ItemName                                     { color: #ff4f74ff; }


.PopupPanelEffectsTest
{
	width: 640px;
	height: 480px;
	z-index: -1;
}


#MainSectionContainer
{
	width: fit-children;
	height: fit-children;
	vertical-align: middle;
	horizontal-align: center;
}

#Body
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eff ), to( #131617ff ) );
	border: 1px solid #5e6869;
	overflow: clip;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 64px;
	padding-left: 64px;
	
	width: 1024px;
	height: 600px;
	
	vertical-align: middle;
	horizontal-align: center;
	opacity: 1.0;
			
	transition-property: transform, pre-transform-scale2d, opacity, saturation, background-color, border;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;

	flow-children: none;
	margin: 0px;
	padding: 0px;
	border: 1px solid #9AA1A544;
}

PopupItemReceived #Body
{
	flow-children: none;
}

#ItemPanelTitle
{
	font-size: 42px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	margin-top: 32px;
	text-shadow: 0px 0px 22px 1.0 #98A0A4;
}

#ItemName
{
	horizontal-align: left;
	margin-left: 330px;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #E2AD5E;
}

#ItemDescription
{
	horizontal-align: left;
	margin-left: 330px;
	margin-top: 38px;
	
	font-size: 24px;
	font-weight: thin;
	color: #cccccc;
}

#AddToJunk
{
	vertical-align: bottom;
}

#AddToJunk Label
{
	font-size: 24px;
	font-weight: thin;
	text-transform: uppercase;
	color: white;
	text-shadow: 0px 0px 1px 2.0 black;
}

.InfoIcon
{
	wash-color: white;
}

#ItemContainer
{
	height: 500px;
	width: 100%;
	horizontal-align: center;
}

#HorizontalBand
{
	transform: translateY( 0px );
	height: 147px;
	background-color: #651300;
	background-color: gradient( linear, 0% 0%, 90% 100%, from( #3F4C53 ), to( #191e1e ) );
	horizontal-align: center;
	margin-top: 220px;
	margin-bottom: 53px;
	padding-top: 16px;
	padding-bottom: 16px;
	width: 100%;
	box-shadow: #000000cc -8px -8px 16px 16px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;

	transition-property: transform;
	transition-duration: 0.3s;
}

.PopupPanel.Hidden #HorizontalBand
{
	transform: translateY(-200px );
}

.ItemOptions
{
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 92px;
	margin-left: 42px;
}

.PopupButton
{
	margin-left: 16px;
	margin-right: 16px;
	width: 228px;
}

#OpenTreasureButton
{
	visibility: collapse;
}

.IsTreasure #OpenTreasureButton
{
	visibility: visible;
}

ToggleButton
{
	margin-top: 4px;
	margin-bottom: 4px;
}

#AdditionalMessage
{
	width: 100%;
	margin-top: 96px;
	vertical-align: top;
	text-transform: uppercase;
	box-shadow: #000000dd -4px -4px 8px 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
	opacity: 0;
	background-color: #664E2C;
	color: white;
}

PopupItemReceived #IOfNLabel
{
	opacity: 1.0;
	min-width: 132px;
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
	font-size: 40px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9EA5A9 ), to( #3F4B52 ) );
	color: white;
	box-shadow: #000000aa -4px -4px 8px 8px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 6px;
	border-radius: 12px;
	margin-left: 1000px;
	margin-bottom: 600px;
	border: 2px solid black;
	z-index: 2;
}
PopupItemReceived.MultipleItems #IOfNLabel
{
	opacity: 1.0;
}

#PrevArrowButton, #NextArrowButton
{
	vertical-align: center;
	background-size: 64px 64px;
	width: 72px;
	height: 72px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #445259 ), to( #3F4B52 ) );
	
	wash-color: none;
	border-radius: 50%;
	border: 2px solid black;
	margin: 32px;
	box-shadow: #000000aa -4px -4px 8px 8px;

	transition-property: transform, pre-transform-scale2d, opacity, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

#PrevArrowButton:hover, #NextArrowButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #8B9297 ), to( #71797E ) );
}

#PrevArrowButton
{
	horizontal-align: left;
}
#NextArrowButton
{
	horizontal-align: right;
}

#NextArrowButton:disabled, #PrevArrowButton:disabled
{
	opacity: 0;
}

#AcceptAllButton:disabled
{
	opacity: 0;
	visibility: collapse;
}

