DOTAPopupCavernCrawl
{                           
	background-color: #2c2c2c;
	margin: 0px;
	border: 2px solid black;
	vertical-align:	center;
	horizontal-align: center; 
}

DOTAPopupCavernCrawl.PopupPanel
{
	flow-children: none;
	padding: 8px;
}

#CloseButton
{
	horizontal-align: right;
	width: 32px;
	height: 32px;
	margin: 0px;
	background-color: black;
}

#CavernCrawl
{
	width: 1390px;
	height: 768px;
}
