.PopupPanel
{
	height: 460px;
	width: 1000px;
	background-image: url("s2r://panorama/images/textures/slow_queue_dialog_bg_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eFF ), to( #131617FF ) );
}

.TitleRow
{	
	horizontal-align: center;
}

.TitleRow Label
{
	text-shadow: 1px 3px 3px 2.0 black;
	font-weight: normal;
	font-size: 42px;
	color: #CCCCCC;

	margin-top: 32px;
}

.Description
{
	opacity: 0.75;
	color: gold;
	text-align: center;
	horizontal-align: center;
	width: 60%;
	margin-top: 32px;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 36px;
	text-shadow: 1px 3px 3px 2.0 black;
}

.ButtonRow
{
	flow-children: down;
}

.ButtonRow Label
{
	font-size: 16px;
	/* text-transform: uppercase; */
	/* letter-spacing: 1px; */
	color: #ccc;
	font-weight: normal;
	
	margin-top: 4px;
}

.PopupButtonRow
{
	vertical-align: bottom;
}

.PopupButton
{
	width: 350px;
	height: 60px;

	margin-bottom: 12px;
}

.PopupDescription
{
	width: 100%;
	height: 100%;
}

.PopupButton Label
{
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 22px;
	padding-bottom: 4px;

	font-weight: semibold;
}

.SupplementText
{
	horizontal-align: center;
}

.QueueAllRoles
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) );
}

.QueueAllRoles:enabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) );
	brightness: 2.0;
}

.SlowQueue:enabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #993333 ), to( #AA0000 ) );
	brightness: 2.0;
}