/* styles for the armory filtering popup */

DOTAArmoryFilterPopup.PopupPanel
{
	padding-top: 16px;
    padding-bottom: 16px;
	padding-right: 16px;
    padding-left: 16px;
   	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2efa ), to( #131617f7 ) );
}

.PopupButton Label
{
	text-transform: uppercase;
}

.Header
{
	width: 90%;
	flow-children: down;
	margin-left: 32px;
}


.Body
{
	flow-children: right;
}

.TagsPanel
{
	flow-children: down;
	width: 365px;
	padding-right: 32px;
	padding-left: 32px;
	margin-top: 20px;
}

.Title
{
	font-size: 22px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #cccccc;
}

.InfoIcon
{
	vertical-align: middle;
	margin-bottom: 12px;
	margin-left: 12px;
}



.TagsPanel TextEntry
{
	margin-left: 6px;
}

.TagsPanel .Title
{
	padding-bottom: 8px;
	margin-left: 8px;
}

.TagsPanel ToggleButton
{
	border: 1px solid black;
	background-color: #00000066;
	width: 100%;
	border-radius: 4px;
	background-color: #444C4C22;
	border: 1px solid black;
	margin: 2px;
	margin-left: 8px;
	margin-bottom: 6px;
	padding-right: 6px;
	padding-left: 8px;
	padding-top: 4px;	
	padding-bottom: 4px;	
}

.TagsPanel ToggleButton:hover
{
	border: 1px solid black;
	width: 100%;
	background-color: #565E5C44;
}

.TagsPanel ToggleButton .TickBox
{
//	visibility: collapse;
}

.TagsPanel ToggleButton Label
{
	//horizontal-align: center;
	letter-spacing: 1px;
}

.TagsPanel ToggleButton:selected
{
	width: 100%;
	background-color: #444C4C88;
}

.MidPanel
{
	width: 338px;
	flow-children: down;
	padding-right: 32px;
	padding-left: 32px;
	margin-top: 20px;
}

.MidPanel .Title
{
	padding-bottom: 8px;
	margin-left: 8px;
}

.MidPanel #Quality
{
	margin-top: 8px;
	margin-bottom: 16px;
	width: 240px;
}

#QualityTitle
{
	margin-top: 16px;
}

#QualityDropDownMenu
{
	width: 240px;	
	height: 340px;
}

.MidPanel #Quality Label
{
	text-transform: uppercase;
	color: #66666688;
}

.MidPanel #Quality.ValueSet Label
{
	color: baseText;
}


#QualityDropDownMenu Label
{
	text-transform: uppercase;
}

.MidPanel ToggleButton
{
	padding-left: 8px;
	width: 100%;
	height: 100%;
	background-color: #00000066;
}

.MidPanel ToggleButton:hover
{
	width: 100%;
	background-color: #444C4C22;
}

.MidPanel ToggleButton:selected
{
	width: 100%;
	background-color: #444C4C88;
}

.MidPanel ToggleButton Label
{
	margin-top: 3px;
	margin-left: 12px;
	letter-spacing: 1px;
}

.FilterList
{
	height: 100%;
	flow-children: down;
	padding-right: 32px;
	padding-left: 32px;
	margin-top: 20px;
}


.FilterList .FilterListTitle
{
	width: 100%;
}

.FilterListTitle #LeftItem
{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 223px;
}

.FilterListTitle #RightItem
{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	horizontal-align: right;
	margin-right: 20px;
}

.Language_schinese .FilterListTitle #RightItem, .Language_schinese .FilterListTitle #LeftItem
{
	font-size: 18px;
}

.Language_schinese ToggleButton Label, .Language_schinese DOTASettingsCheckbox Label
{
	font-size: 22px;
}

.Language_schinese .Rarity
{
	height: 34px;
}

.FilterListItem
{
	flow-children: right;
	width: 450px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.FilterListItem Label
{
	width: 200px;
	margin-top: 5px;
	margin-right: 24px;
	text-align: right;
	letter-spacing: 1px;
	font-weight: thin;
	color: #586A73ff;

	transition-property: color;
	transition-duration: 0.34s;
}

.FilterListItem.ValueSet Label
{
	color: #FFFFFFff;
}

.FilterListItem.ValueSet.ValueNo Label
{
	color: #FFFFFFff;
	text-decoration: line-through;
}

.FilterListItem SlottedSlider
{
	width: 200px;
}


SlottedSlider.HorizontalSlider #SliderTrack
{
	height: 4px;
	border: 1px solid black;
	padding-right: 2px;
}

SlottedSlider.HorizontalSlider .SliderNotch
{
	margin-top:-7px;
	border: 1px solid black;
	background-color: black;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	z-index: 2;
}

SlottedSlider.HorizontalSlider #SliderTrackProgress
{
	visibility: collapse;
}

SlottedSlider.HorizontalSlider #SliderThumb
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #91a5b944 ), to( #444f5244 ) );
	margin-top: 3.5px;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	box-shadow: fill black 1px 1px 32px 0px;
	z-index: 4;
}

.ValueSet SlottedSlider.HorizontalSlider #SliderThumb
{
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( white ), to( #444f52 ) );	
}


SlottedSlider.HorizontalSlider .SliderNotch:hover
{
	border: 2px solid #54666E00;
	background-color: gradient( radial, 50% 50%, 0% 0%, 30% 30%, from( #49545E ), to( black ) );	
}


//
// Animations
//
@keyframes 'links-and-more-button-focus'
{
	from
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #a9c8daee ), to( #000000ee ) ); 
	}

	50%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) ); 
	}

	to
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2efa ), to( #131617f7 ) );
	}
}

.PopupButtonRow
{
	margin-top: 60px;
}

.Rarity
{
	width: 100%;
	height: 28px;
	border: 1px solid black;
	margin: 2px;
}

.RarityStripe
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #aaaaaa ), color-stop( .35, white), color-stop( .65, white), to( #aaaaaa ) );
	width: 2px;
	height: 100%;
}

#Seasonal:selected .TickBox	{	wash-color: rarity_color_seasonal;	}
#Arcana:selected .TickBox	{	wash-color: rarity_color_arcana;	}
#Immortal:selected .TickBox	{	wash-color: rarity_color_immortal;	}
#Ancient:selected .TickBox	{	wash-color: rarity_color_ancient;	}
#Legendary:selected .TickBox{	wash-color: rarity_color_legendary;	}
#Mythical:selected .TickBox	{	wash-color: rarity_color_mythical;	}
#Rare:selected .TickBox		{	wash-color: rarity_color_rare;	}
#Uncommon:selected .TickBox	{	wash-color: rarity_color_uncommon;	}
#Common:selected .TickBox	{	wash-color: rarity_color_common;	}

#StripeSeasonal	{ wash-color: rarity_color_seasonal; }
#StripeArcana	{ wash-color: rarity_color_arcana; }
#StripeImmortal	{ wash-color: rarity_color_immortal; }
#StripeAncient	{ wash-color: rarity_color_ancient; }
#StripeLegendary{ wash-color: rarity_color_legendary; }
#StripeMythical	{ wash-color: rarity_color_mythical; }
#StripeRare		{ wash-color: rarity_color_rare; }
#StripeUncommon	{ wash-color: rarity_color_uncommon; }
#StripeCommon	{ wash-color: rarity_color_common; }


.VerticalDivider
{
	vertical-align: middle;
	height: 85%;
	background-color: #444C4C;
}

.RequiredSettingLabel
{
	margin-left: 10px;
	color: #bb0000;
	font-size: 16px;
	background-color: #330000;
	border: 1px solid #550000;
	padding: 0px 4px -2px 4px;
	text-align: center;
	vertical-align: top;
	margin-top: 2px;
	
	transition-property: opacity;
	transition-duration: 0.25s;
	opacity: 0.0;
}

.RequiredSettingLabel.RequiredVisible
{
	opacity: 1.0;
}

#DeleteButton
{
	horizontal-align: left;
	margin: 0px;
	margin-left: 16px;

}

#FilterNameRow
{
	width: 100%;
}

.TagRow
{
	width: 100%;
    flow-children: right;
    horizontal-align: center;
}

.TagRow ToggleButton
{
	vertical-align: center;

}


.NumberList
{
	vertical-align: middle;
	margin-left: 0px;
	font-size: 24px;
	color: #888888;
	margin-top: 4px;
	padding-left: 0px;
}
