
PopupPlusHeroLevelRewards.PopupPanel
{
	padding: 0px;
	width: 1200px;
}

#Header
{
	flow-children: right;
	width: 100%;
	background-color: #161719;
	padding: 16px;
}

#HeroImage
{
	width: 128px;
	height: 72px;
}

#HeaderTitle
{
	font-size: 36px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
}

#HeaderHeroName
{
	font-size: 24px;
	text-transform: uppercase;
	color: #ccc;
	letter-spacing: 2px;
	margin-top: -4px;
}

#HeaderDetails
{
	vertical-align: middle;
	flow-children: down;
	margin-left: 16px;
}

#RewardsList
{
	flow-children: down;
	height: 540px;
	width: 100%;
	overflow: squish scroll;
}

.RewardsTier
{
	flow-children: down;
	width: 100%;
	padding-top: 8px;
	padding-left: 8px;
}

.RewardsTier.BronzeTier		{ background-color: gradient( linear, 0% 0%, 0% 100%, from( #a84d0022 ), color-stop( 0.5, #a84d0000 ), to( #a84d0000 ) ); border-top: 2px solid #a84d00; }
.RewardsTier.SilverTier		{ background-color: gradient( linear, 0% 0%, 0% 100%, from( #addde322 ), color-stop( 0.5, #addde300 ), to( #addde300 ) ); border-top: 2px solid #addde3; }
.RewardsTier.GoldTier		{ background-color: gradient( linear, 0% 0%, 0% 100%, from( #ddb22233 ), color-stop( 0.5, #ddb22200 ), to( #ddb22200 ) ); border-top: 2px solid #ddb222; }
.RewardsTier.PlatinumTier	{ background-color: gradient( linear, 0% 0%, 0% 100%, from( #42658f33 ), color-stop( 0.5, #42658f00 ), to( #42658f00 ) ); border-top: 2px solid #42658f; }
.RewardsTier.MasterTier		{ background-color: gradient( linear, 0% 0%, 0% 100%, from( #6c3d8033 ), color-stop( 0.5, #6c3d8000 ), to( #6c3d8000 ) ); border-top: 2px solid #6c3d80; }

.RewardsTier .TierHeader
{
	flow-children: right;
}
.RewardsTier .TierName
{
	margin-left: 4px;
	margin-top: 8px;
	vertical-align: middle;
	font-size: 32px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px black;
}

.RewardsTier.BronzeTier .TierName { color: #a86a35; }
.RewardsTier.SilverTier .TierName { color: #c8e0e3; }
.RewardsTier.GoldTier .TierName { color: #ddc165; }
.RewardsTier.PlatinumTier .TierName { color: #839ab4; }
.RewardsTier.MasterTier .TierName { color: #9f5abc; }


.RewardsTier #HeroBadge
{
	width: 64px;
	height: 64px;
}

#LevelsList
{
	flow-children: down;
	margin-left: 70px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.LevelRewards
{
	flow-children: right;
	margin-bottom: 12px;
}

.LevelRewardsLabel
{
	width: 120px;
	font-size: 24px;
	text-transform: uppercase;
	vertical-align: middle;
	color: white;
	letter-spacing: 1px;
}

.LevelRewardsDetails
{
	flow-children: down;
}

#LevelRewardsList
{
	flow-children: right;
}

.HeroBadgeLevelUpReward
{
	flow-children: right;
	margin-right: 8px;
}

.HeroBadgeLevelUpRewardImage
{
	width: 42px;
	height: 42px;
	horizontal-align: center;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.HeroBadgeLevelUpRewardDetails
{
	flow-children: down;
	margin-left: 12px;
	vertical-align: middle;
}

.HeroBadgeLevelUpRewardTitle
{
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	width: 240px;
	height: 27px;
	text-overflow: shrink;
	margin-top: -3px;
}

.HeroBadgeLevelUpRewardValue
{	
	color: dotaPlusGold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	width: 240px;
	height: 27px;
	text-overflow: shrink;
}

.HeroBadgeLevelUpRewardChatWheel:hover
{
	brightness: 2.0;
}
.HeroBadgeLevelUpRewardChatWheel:active
{
	brightness: 1.5;
}

.PopupButtonRow
{
	margin-top: 12px;
	margin-bottom: 12px;
}