
PopupSteamChinaInfo
{
	width: 900px;
	height: fit-children;
}

PopupSteamChinaInfo Label
{
	text-align: center;
	horizontal-align: center;
}

PopupSteamChinaInfo.PopupPanel
{
	vertical-align: middle;
	background-color: #0F0F0F;
	padding: 0px;
	border: 1px solid #222;
}

#ContentContainer
{
	width: 100%;
	height: fit-children;

	margin-bottom: 20px;
}

#Header 
{
	width: 100%;
	height: 260px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #100F0F ), to ( #22100E ) );

	flow-children: down;
}

#Header Label
{
	margin-top: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 26px;
	color: #F1F1F1;
	text-shadow: 2px 2px 0px 1.0 #000000;
}

#Header #Logo 
{
	horizontal-align: center;
	margin-top: 40px;
	width: 128px;
	height: 128px;
}

#Inset 
{
	border: 3px solid #26292D;

	margin: 20px 40px;
	padding: 20px;
	flow-children: down;
}

.HeaderText
{
	padding: 0px 60px;
	margin-top: 20px;
	color: #CACACA;
	font-size: 18px;
}

.InsetHeader
{
	color: #BBB;
}

.InsetText
{
	margin-top: 10px;
	font-size: 16px;
}

.MinorHeader
{
	color: #BBB;
}

.MinorText
{
	margin-top: 10px;
	padding: 0px 40px;
	font-size: 16px;
}

#CloseButton
{
	margin-top: 20px;
	horizontal-align: center;

	border: 1px solid #444;
}

#CloseButton Label
{
	margin-top: 0px;
}