
.BindingRow
{
    background-color: none;
    flow-children: right;
    width: 100%;
    height: 28px;
    margin: 4px 0px 4px 0px;
    tooltip-position: bottom;
}

#BasicHotkeysContainer .BindingRow
{
	//margin: 6px 0px 6px 0px;
}

.ExtraTopSpace
{	
	margin-top: 16px;
}

.HeroAbilityBindAbilityButton
{
    flow-children: none;
}

.ItemBindButton
{
    flow-children: none;
}

#BindingLabelContainer
{
//	width: 100px;
	height: 100%;
	horizontal-align: center;
	flow-children: right;
	//border: 1px solid red;
}

#BindingLabelContainer.ActiveBindButton
{
	background-color: #1350a9;
	width: 100%;

	animation-name: BackgroundPulse;
	animation-duration: 1.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
    
.HeroAbilityBindAbilityButton #BindingLabelContainer, .ItemBindButton #BindingLabelContainer
{
	flow-children: none;
	horizontal-align: left;
}

#mod
{
	visibility: collapse;
	margin-right: -2px;
	text-overflow: shrink;
}

#dash
{
	visibility: collapse;
	margin-right: 1px;
}

.ClearKeybinding
{
    width: 24px;
    height: 24px;
    vertical-align: center;
    horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
/*	border: 2px solid #49494999; */
    visibility: collapse;
}

DOTASettingsKeyBinder:selected .ClearKeybinding
{
    visibility: visible;
}

.HeroAbilityBindAbilityButton .ClearKeybinding, .ItemBindButton .ClearKeybinding
{
    vertical-align: top;
}

DOTASettingsKeyBinder:selected .ActiveBindButton #mod, DOTASettingsKeyBinder:selected .ActiveBindButton #dash
{
	visibility: collapse;
}

.Modifier #dash, .Modifier #dash, .Modifier #mod, .Modifier #mod
{
	visibility: visible;
}

.HeroAbilityBindAbilityButton .Modifier #mod, .ItemBindButton .Modifier #mod
{
	visibility: visible;
	margin-top: 14px;
	font-size: 14px;
	opacity: 0.55;
}

.HeroAbilityBindAbilityButton .Modifier #dash, .ItemBindButton .Modifier #dash
{
	visibility: collapse;
}

.BindingRow:hover .BindingRowButton
{
    color: white;
}

.BindingRow:hover Label
{
    color: white;

    transition-property: color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

.BindingRowLabel
{
	letter-spacing: 1px;
	background-color: #141616;
	width: fill-parent-flow( 0.7 );
	margin-right: 8px;

	height: 100%;
	padding-top: 3px;
	padding-left: 8px;
    font-size: 18px;
    color: #7d8688;    
    horizontal-align: left;

    transition-property: color, background-color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

.BindingRow.CannotEdit:hover #LabelFXContainer,
.CannotEdit #LabelFXContainer,
.BindingRow.CannotEdit:hover .BindingRowLabel
{
	background-color: #141616;
}

.CannotEdit:hover Label
{
	color: #7d8688;
}

.CannotEdit:hover #LabelFXContainer Label
{
	color: #8d9698;
}

.HeroAbilityBindAbilityButton .BindingRowLabel, .ItemBindButton .BindingRowLabel
{
    width: 68.1%;
    margin-right: 0px;
}

.BindingRowButton
{
    //width: 100%;
    //height: 100%;
    color: #8d9698;
    horizontal-align: right;
    //text-align: center;
    font-size: 18px;
    padding-top: 3px;
	text-overflow: shrink;
}

#ItemBindingContents .BindingRowButton
{
	color: white;
	text-shadow: 0px 0px 3px 3.0 #000000;
}


.BindingRowButton:hover
{
	color: white;
}

DOTASettingsKeyBinder:disabled .BindingRowButton
{
}

.HeroAbilityBindAbilityButton
{
    width: 84px;
    height: 84px;
    margin: 12px;
	margin-top: 13px;
    background-color: #323836;
	border: 2px solid #414a45;
}
/*
.AspectRatio4x3 .HeroAbilityBindAbilityButton
{
    width: 54px;
    height: 54px;
}
*/

.HeroAbilityBindAbilityButton, .ItemBindButton
{
    background-color: #2B2F30;
    color: #7d8688;
	transition-property: transform, background-color, border, color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

#AbilityBindings_Hero .HeroAbilityBindAbilityButton
{
    background-color: transparent;
}

.HeroAbilityBindAbilityButton:hover, .ItemBindButton:hover
{
    background-color: #424c49;
	border-color: #5b6a62;
	color: white;
}

.HeroAbilityBindAbilityButton:disabled, .ItemBindButton:disabled
{
	opacity: 0.2;
}

.HeroAbilityBindAbilityButton .BindingRowLabel
{
	width: 100%;
	color: #414a45;
    font-size: 40px;
	font-weight: thin;
    background-color: transparent;
    vertical-align: bottom;
    horizontal-align: right;
    text-align: right;
    height: fit-children;
	margin-right: 4px;
    margin-bottom: -12px;
	
	transition-property: color, background-color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

.HeroAbilityBindAbilityButton:hover .BindingRowLabel
{
	color: #7d8688;
	background-color: transparent;
	
}

.HeroAbilityBindAbilityButton .BindingRowButton
{
	color: #879092;
	color: white;
    font-size: 15px;
	vertical-align: top;
    horizontal-align: left;
    text-align: left;
    //width: 74px;
    //height: 74px;
    background-color: transparent;
	padding-left: 4px;
	text-shadow: 0px 0px 3px 3.0 #000000;
	text-overflow: shrink;
}

.PerUnitKeybindsActive .HeroAbilityBindAbilityButton .BindingRowButton
{
	color: #7A7A7A;
}

.IsDefaultHeroKeybinds.PerUnitKeybindsActive .HeroAbilityBindAbilityButton .BindingRowButton
{
	color: white;
}

.PerUnitKeybindsActive.HasPerUnitKeybinds .HeroAbilityBindAbilityButton .BindingRowButton
{
	color: white;
}

#ItemQuickcast .ItemBindButton
{
	border: 2px solid #1d1e21;
}

.ItemBindButton
{
    width: 96px;
    height: 79px;
    width: 84px;
    height: 69px;	
    margin: 14px;
	margin-top: 12px;
	margin-bottom: 12px;
    //padding: 2px;
    font-size: 12px;
	border: 2px solid #414a45;
}

.ItemBindButton .BindingRowLabel
{
    background-color: transparent;
}

.ItemBindButton .BindingRowButton
{
	//width: 100%;
    background-color: transparent;
    vertical-align: top;
    horizontal-align: left;
    text-align: left;
	padding-left: 4px;
	font-size: 15px;
	
	transition-property: color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}



DOTASettingsKeyBinder:selected .ActiveBindButton
{
    background-color: #1350a9;

	animation-name: BackgroundPulse;
	animation-duration: 1.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.BindingRow:selected #LabelFXContainer
{
	border: 2px solid #5c99ff;
	box-shadow: #5c99ff22 -4px -4px 8px 8px;
}

.ItemBindButton.BindingRow:selected #LabelFXContainer, .HeroAbilityBindAbilityButton.BindingRow:selected #LabelFXContainer
{
	border: 0px solid transparent;
}


DOTASettingsKeyBinder:selected .ActiveBindFX
{
    opacity: 1;
	transition-duration: 0.1s;
}


.HeroAbilityBindAbilityButton:selected, .ItemBindButton:selected
{
    background-color: #323836;
	border: 2px solid #5c99ff;
    padding-left: 0px;
	box-shadow: #5c99ff22 -4px -4px 8px 8px;
}

#LabelFXContainer
{
	background-color: #2b2f30;
	width: fill-parent-flow( 0.3 );
	height: 100%;
	horizontal-align: right;
	
	transition-property: box-shadow, background-color;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}


.HeroAbilityBindAbilityButton #LabelFXContainer, .ItemBindButton #LabelFXContainer
{
    width: 30%;
}

.BindingRow:hover #LabelFXContainer
{
	background-color: #393e3f;
}

.BindingRow:hover .BindingRowLabel
{
	background-color: #2B2F30;
}

.BindingRow.HeroAbilityBindAbilityButton:hover .BindingRowLabel, .BindingRow.ItemBindButton:hover .BindingRowLabel
{
	background-color: transparent;
}

.BindingRow.HeroAbilityBindAbilityButton:hover #LabelFXContainer, .BindingRow.ItemBindButton:hover #LabelFXContainer
{
	background-color: transparent;
}


.HeroAbilityBindAbilityButton #LabelFXContainer, .ItemBindButton #LabelFXContainer
{
	width: 100%;
	background-color: none;
}

.ActiveBindFX
{
	width: 100%;
	height: 100%;
	opacity: 0;
	
	transition-property: opacity;
	transition-duration: 0.36s;
	transition-timing-function: ease-in-out;
}


@keyframes 'BackgroundPulse'
{
	0%
	{
		background-color: #1350a9;
	}

	50%
	{
		background-color: #021088;
	}
				
	
	100%
	{
		background-color: #1350a9;
	}
}

.ControlGroupRow .BindingRowLabel
{
	width: 50%;
}
.ControlGroupRow #LabelFXContainer
{
	width: 47%;
}

.DotaPlusSmallIcon
{
	width: 18px;
	height: 18px;

	margin-right: 2px;
	padding-top: 4px;
}

#ItemsTPBindingContainer .ItemBindButton #BindingLabelContainer
{
	padding-left: 6px;
	padding-top: 6px;
}

#ItemsNeutralSlotBindingContainer .ItemBindButton #BindingLabelContainer
{
	padding-left: 6px;
	padding-top: 6px;
}


#ItemsTPBindingContainer .ItemBindButton .ClearKeybinding
{
	width: 18px;
	height: 18px;
	
	margin-right: 8px;
	margin-top: 8px;
}
