DOTASettingsEnum
{
    flow-children: right;
    padding: 4px 4px;
}

DOTASettingsEnum Label
{
	font-size: 18px;
	color: #7d8688;
	margin: 0px;
	padding-top: 0px;
	padding-left: 5px;
	letter-spacing: 1px;
	font-weight: thin;
	margin-bottom: 6px;
}

DOTASettingsEnum #title
{
    margin-right: 8px;
}

DOTASettingsEnum #values
{
    flow-children: down;
}

DOTASettingsEnum.HorizontalEnum #values
{
    flow-children: right;
}

DOTASettingsEnum.HorizontalEnum #values RadioButton
{
    margin-right: 5px;
}

DOTASettingsEnum:disabled Label
{
    color: #333333;
}

DOTASettingsEnum:disabled RadioButton:selected Label
{
    //color: white;
}


.SummonedUnitAutoattack #title
{
	width: 162px;
}