
@define selectedTextBackgroundColor: #66669966;

@define consoleMinWidth: 300px;
@define consoleMinHeight: 300px;
@define consoleDefaultWidth: 1000px;
@define consoleDefaultHeight: 800px;
@define consoleDefaultPositionX: 20px;
@define consoleDefaultPositionY: 20px;

.ConsolePanel
{
    border: 1px solid #333;
    box-shadow: 0px 0px 4px black;
    background-color: #222;
}

#MainContents
{
    width: 100%;
    flow-children: down;
}

#Header
{
    width: 100%;
    background-color: #333;
}

#Title
{
    padding: 3px 4px 3px 4px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

#ConsoleLog
{
    padding: 4px;
    width: 100%;
    height: fill-parent-flow( 1.0 );
    overflow: scroll;
}

#ConsoleText
{
    font-size: 15px; 
    margin: 2px;
}

#ConsoleInput
{
    width: 100%;
    border-top: 1px solid #333;
    background-color: black;
    color: white;
    padding: 4px;
    font-size: 16px;
}


TextEntryAutocomplete
{
    width: 600px;
    max-height: 200px;
    flow-children: down;
    background-color: #3d4448;
    color: #e1e1e1;
    overflow: squish scroll;
    box-shadow: fill #00000066 -3px -3px 6px 6px;
}

TextEntryAutocomplete > Label
{
    width: 100%;
    padding: 2px 8px 2px 8px;
    color: #ffffff99;
    background-color: #3d4448;
    font-size: 15px;
    border-top: 1px solid #00000066;
    border-bottom: 1px solid #00000066;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

TextEntryAutocomplete > Label:hover
{
    background-color: #585e62;
}

TextEntryAutocomplete > Label:focus
{
    background-color: #585e62;
}

#ResizeDragTarget
{
    vertical-align: bottom;
    horizontal-align: right;

    width: 10px;
    height: 10px;

    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
}

#ResizeDragTarget:hover
{
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
}