DOTAApplyInfuser
{
	flow-children: right;

	visibility: collapse;
}
DOTAApplyInfuser.HasInfusers
{
	visibility: visible;
}

#OwnedDetails
{
	flow-children: down;
	width: 80px;
	background-color: #3c6269aa;
	margin-right: 14px;
}

#OwnedCount
{
	horizontal-align: center;
	font-size: 24px;
	color: white;
	text-align: center;
}

#OwnedLabel
{
	margin-top: -6px;
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 14px;
	color: white;
	text-align: center;
}

#ApplyButton
{
	horizontal-align: center;

	background-image: url("s2r://panorama/images/compendium/fall2015_button_1_png.vtex");
	background-size: 100% 100%;
	padding: 8px;
	height: 45px;
	width: fill-parent-flow( 1.0 );
}

#ApplyButton Label
{
	margin-top: 1px;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #ccc5bd;
}

#ApplyButton:hover:enabled
{
	brightness: 1.5;
}

#ApplyButton:active
{
	brightness: 2.0;
}

#ApplyButton:disabled
{
	brightness: 0.5;
}