
#Background
{
	flow-children: right;
}

#ImageBackground
{
	width: 100px;
	height: 100%;
	padding: 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5f6b69cc ), to( #5f6b6911 ) );
	overflow: noclip;
}

#BonusImage
{
	vertical-align: middle;
	width: 210px;
	height: 210px;
	margin-left: -80px;
	
	margin-top: -10px;
}

#BonusImageNested
{
	vertical-align: top;
	width: 210px;
	height: 210px;
	margin-left: -80px;
	
	margin-top: -15px;
}

#Contents
{
	padding: 14px 14px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #424d4fcc ), to( #424d4f22 ) );
	flow-children: down;
}

#Title
{
	font-size: 20px;
	color: #9ede4c;
	font-weight: bold;
	text-transform: uppercase;
}

#SubTitle
{
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: -5px;
	margin-bottom: 3px;
}

#Description
{
	margin-top: 4px;
	width: 400px;
	color: #8d9892;
}

#BonusTreasure
{
	margin-top: 5px;
	horizontal-align: center;

	background-image: url("s2r://panorama/images/compendium/fall2015_button_1_png.vtex");
	background-size: 100% 100%;
	padding: 8px;
	height: 45px;
	width: 280px;
}

#BonusTreasure Label
{
	margin-top: 1px;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #ccc5bd;
}


DOTAEventActionCount Label
{
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #ccc5bd;
	font-size: 16px;
	margin-top: 10px;
}

DOTAEventActionCount
{
    flow-children: right;
}

.TreasureButton:hover:enabled
{
	brightness: 1.5;
}

.TreasureButton:active
{
	brightness: 2.0;
}

#CraftingButton
{
	margin-right: 8px;
}

#TreasureButtonRow 
{
    flow-children: down;
}

.Collapsed
{
    visibility: collapse;
}


.PunchCardCacheCounter
{
	padding-left: 50px;
}

.ProgressButton.Unticked
{
	background-image: url("s2r://panorama/images/punch_card/punch_card_arrow_pip_off_png.vtex");
}

.ProgressButton
{
	width: 100px;
	height: 83px;

	margin-left: -50px;

	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/punch_card/punch_card_arrow_pip_on_png.vtex");
}

#ProgressTick_4 { z-index: 100; }
#ProgressTick_3 { z-index: 99; }
#ProgressTick_2 { z-index: 98; }
#ProgressTick_1 { z-index: 97; }
#ProgressTick_0 { z-index: 96; }

.PunchCardCacheCounter #RewardPanel
{
	height: 83px;
	width: 160px;
	vertical-align: middle;

	margin-left: -50px;
	//margin-right: 20px;
}

.PunchCardCacheCounter #RewardPanelBackground
{
	background-color: black;
	height: 33px;
	width: 140px;
	vertical-align: middle;
}

.PunchCardCacheCounter #RewardPanel Label
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	margin-top: 3px;
	margin-left: 12px;
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 8px 2.0 #00ffff33;
}