.RootPanel
{
	flow-children: down;
	
	//padding: 12px;
	width: 420px;
	//border: BRD;
}

#PanelHeader
{
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( accentColorSectionBG), to( backgroundDimColor ) );
	width: 100%;
	padding: 5px 10px 5px 5px;
	//margin-bottom: 12px;
}


#BattlePassLogo
{
	width: 55px;
	height: 60px;
	background-image: url("s2r://panorama/images/compendium/spring2016/bp_logo_just_shield_ti6_psd.vtex");
	background-size: 100%;
	horizontal-align: center;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-right: 4px;
	hue-rotation: 170deg;
}


#AchievementProgress
{
	flow-children: down;
	horizontal-align: center;
	width: 420px;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #46040055 ), to( #46040055 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( backgroundVeryDimColor ), to( backgroundDimColor  ) );
	padding: 14px 8px 16px 8px;
}

#AchievementTiers
{
	flow-children: right;
	width: 100%;
	margin-bottom: 14px;
	margin-left: 13px;
	horizontal-align: center;
}

.AchievementAmount
{
	flow-children: right;
	width: fill-parent-flow( 1.0 );
	margin-right: 20px;
	
}

.AchievementLevel
{
	//horizontal-align: center;
	vertical-align: center;
	font-size: 24px;
	margin-top: 3px;
	color: #aaa;
}

.AchievementReward
{
	margin-top: 11px;
	color: white;
	font-size: 16px;
	horizontal-align: center;
	text-align: center;
}

.PTS
{
	background-image: url("s2r://panorama/images/compendium/international2018/totalpoints_psd.vtex");
	background-size: cover;
	width: 22px;
	height: 22px;
	margin-top: -6px;
	horizontal-align: center;
}

.HeaderText
{
	horizontal-align: center;
	width: 360px;
	text-transform: uppercase;
	margin-top: 7px;
	color: textBrightColor;
	//text-shadow: 0px 0px 12px #F7DEB555;
}

.FooterText
{
	font-size: 19px;
	text-align: center;
	margin-top: 11px;
	color: #999;
	//text-align: left;
}


.XPCircle
{
	width: 60px;
	height: 60px;
	margin: 0px;
	horizontal-align: center;
}


.CacheCounter
{
	horizontal-align: center;
	flow-children: right;
	//border-right: 1px solid gray;
	//border-top: 1px solid gray;
	//border-bottom: 1px solid gray;
}

.ProgressTick
{
	width: 14px;
	height: 26px;
	margin-right: 2px;
	margin-left: 2px;
	background-color: black;
	transition-property: background-color, brightness;
	transition-duration: .5s;
}

.ProgressTick.Ticked
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color7&66 ), to( bp_color8&66 ) );
}

#ProgressTick_0,
#ProgressTick_6,
#ProgressTick_13
{
	background-color: #444;
	width: 26px;
}

#ProgressTick_0 .Ticked,
#ProgressTick_6 .Ticked,
#ProgressTick_13 .Ticked
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color7 ), to( bp_color8 ) );
}

.TreasureIcon
{
	width: 14px;
	height: 14px;

	background-image: url("s2r://panorama/images/icon_treasure_button_png.vtex");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	vertical-align: middle;
	horizontal-align: center;
}

#ProgressTick_0 .TreasureIcon,
#ProgressTick_6 .TreasureIcon,
#ProgressTick_13 .TreasureIcon
{
	width: 18px;
}
