
.RootPanel
{
	flow-children: down;
	
	//padding: 12px;
	width: 420px;
	//border: BRD;
}

#PanelHeader
{
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #610e01 ), to( #610e0133 ) );
	width: 100%;
	padding: 5px 10px 5px 5px;
	//margin-bottom: 12px;
}


#BattlePassLogo
{
	width: 55px;
	height: 60px;
	background-image: url("s2r://panorama/images/compendium/spring2016/bp_logo_just_shield_ti6_psd.vtex");
	background-size: 100%;
	horizontal-align: center;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-right: 4px;
}


#AchievementProgress
{
	flow-children: down;
	horizontal-align: center;
	width: 420px;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #46040055 ), to( #46040055 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000088 ), to( #46040088 ) );
	padding: 14px 12px 16px 12px;
}

#AchievementTiers
{
	flow-children: right;
	width: 100%;
	margin-bottom: 14px;
	margin-left: 13px;
	horizontal-align: center;
}

.AchievementAmount
{
	flow-children: right;
	width: fill-parent-flow( 1.0 );
	margin-right: 20px;
	
}

.AchievementLevel
{
	//horizontal-align: center;
	vertical-align: center;
	font-size: 24px;
	margin-top: 3px;
}

.AchievementReward
{
	margin-top: 11px;
	color: white;
	font-size: 16px;
	horizontal-align: center;
	text-align: center;
}

.PTS
{
	background-image: url("s2r://panorama/images/compendium/totalpoints_psd.vtex");
	background-size: cover;
	width: 22px;
	height: 22px;
	margin-top: -6px;
	horizontal-align: center;
}

.HeaderText
{
	horizontal-align: center;
	width: 360px;
	text-transform: uppercase;
	margin-top: 7px;
	color: #c1b1aa;
	//text-shadow: 0px 0px 12px #F7DEB555;
}

.FooterText
{
	font-size: 19px;
	text-align: center;
	margin-top: 11px;
	//text-align: left;
}


.XPCircle
{
	width: 60px;
	height: 60px;
	margin: 0px;
	horizontal-align: center;
}

.CacheCounter
{
	horizontal-align: center;
	flow-children: right;
	//border-right: 1px solid gray;
	//border-top: 1px solid gray;
	//border-bottom: 1px solid gray;
}

.ProgressTick
{
	width: 26px;
	height: 34px;
	margin-right: 2px;
	margin-left: 2px;
	background-color: black;
	transition-property: background-color, brightness;
	transition-duration: .5s;
}

#ProgressTick_0
{
	background-color: #444;
}

#ProgressTick_0.Ticked
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6F2926 ), to( #912c24 ) );
	border-left: 1px solid #ffffff05;
	border-top: 1px solid #ffffff11;
	border-bottom: 1px solid #ff780033;
	border-right: 1px solid #ff780007;
	brightness: 3;
}

#ProgressTick_6
{
	background-color: #444;
}

#ProgressTick_6.Ticked
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6F2926 ), to( #912c24 ) );
	border-left: 1px solid #ffffff05;
	border-top: 1px solid #ffffff11;
	border-bottom: 1px solid #ff780033;
	border-right: 1px solid #ff780007;
	brightness: 3;
}

#ProgressTick_12
{
	background-color: #444;
}

#ProgressTick_12.Ticked
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6F2926 ), to( #912c24 ) );
	border-left: 1px solid #ffffff05;
	border-top: 1px solid #ffffff11;
	border-bottom: 1px solid #ff780033;
	border-right: 1px solid #ff780007;
	brightness: 3;
}

.ProgressTick.Ticked
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6F2926 ), to( #912c24 ) );
	border-left: 1px solid #ffffff05;
	border-top: 1px solid #ffffff11;
	border-bottom: 1px solid #ff780033;
	border-right: 1px solid #ff780007;
}

.ProgressTick_0.Ticked
{
	brightness: 2;
}

.TreasureIcon
{
	width: 16px;
	height: 16px;

	background-image: url("s2r://panorama/images/icon_treasure_button_png.vtex");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	vertical-align: middle;
	horizontal-align: center;
}
