/* styles for the open treasure tooltip */

#Contents.OpenTreasureContents
{
	width: 600px;
    flow-children: down;
	padding: 0px;
}

.TreasureItemsCategory
{
	flow-children: down;
	padding: 14px 16px;
	width: 100%;
}

#NormalContents
{
	background-color: #3e454b;
}

#NormalTitle
{
	color: #c3ede9;
	font-size: 20px;
	text-transform: uppercase;
}

.ItemList
{
	flow-children: down;
	margin: 8px 0px;
}

.ItemList > Panel
{
	flow-children: right;
	margin-bottom: 2px;
	padding: 2px 0px 2px 8px;
}

.ItemList .ExtraItems
{
	color: #9b9fa2;
}

.NormalItem
{
	background-color: #535a60;
}

#NormalDescription
{
	color: #9b9fa2;
}

#NormalItems
{
	flow-children: down;
}

.UnitName
{
	color: white;
	text-transform: uppercase;
	margin-top: 2px;
}

.ItemName
{
	color: #cdced3;
	width: fill-parent-flow( 1.0 );
	margin-right: 10px;
	margin-top: 2px;
}

.ReceivedText
{
	color: #d1f4fa;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 2px;
	margin-right: 8px;

	visibility: collapse;
}

.ReceivedItem .ReceivedText
{
	visibility: visible;
}

.ReceivedIcon
{
	height: 30px;
	width: 30px;
	margin: -2px 0px;
	background-color: #686f75;
}

.ReceivedItem .ReceivedIcon
{
	background-color: #bfe6e5;
	box-shadow: #bdeefd66 -2px -2px 4px 4px;
}

.ReceivedItem .ReceivedIconImage
{
	vertical-align: middle;
	horizontal-align: center;
	width: 80%;
	height: 80%;

	background-image: url("s2r://panorama/images/control_icons/check_shadow_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	wash-color: #139dde;
}

#RareContents
{
	background-color: #282d30;
	visibility: collapse;
}

.HasRareDrops #RareContents
{
	visibility: visible;
}

#RareTitle
{
	color: #c3ede9;
	font-size: 20px;
	text-transform: uppercase;
}

.RareItem
{
	background-color: #3b4d4f;
}

.RarityText
{
	text-transform: uppercase;
	color: #e3e4e8;
	margin-top: 2px;
	margin-right: 4px;
	text-align: right;
}

.RarityIcon
{
	height: 30px;
	width: 30px;
	margin: -2px 0px -2px 4px;
	background-color: #556565;
}