.DetailsContainer
{
	flow-children: down;
}

.TitleRow
{
	flow-children: right;
	border-bottom: 1px solid #FFFFFFFF;
	margin-bottom: 4px;
}

.TitleRow > Label
{
	text-transform: uppercase;
	color: white;
}

.DetailsRow
{
	flow-children: right;
}

.DamageType
{
	width: 150px;
}

.DamagePre
{
	width: 100px;
	text-align: right;
}

.ReductionPercent
{
	width: 100px;
	text-align: right;
}
