
#Contents
{
	flow-children: down;
	padding: 0px;
	background-color: gradient( linear, 0% 0%, 80% 50%, from( #191a1c ), to( #191a1c ) );
}

#Header
{
	flow-children: right;
	background-color: black;
	width: 500px;
}

#HeroImage
{
	width: 71px;
	height: 40px;
}

#HeroName
{
	vertical-align: middle;
	margin-left: 12px;
	margin-top: 2px;
	font-size: 22px;
	text-transform: uppercase;
	color: #ccc;
	letter-spacing: 2px;
}


#MainContents
{
	flow-children: right;
	padding: 4px;
	background-color: gradient( linear, 0% 0%, 90% 100%, from( #A0A0A015 ), to( #A0A0A000 ) );
}

.RelicImageContainer
{
	margin: 12px 0px 12px 8px;
	flow-children: down;
}

DOTAHeroRelicImage.RareRelic
{
	margin-top: -8px;
}


.RelicLevelContainer
{
	flow-children: right;
	margin-bottom: 2px;
}

.RelicLevel
{
	horizontal-align: left;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	width: 52px;
	text-shadow: 0px 0px 4px 2.0 #00000066;
	text-overflow: shrink;
	font-family: titleFont;

}

.HeroRelicLevelLabel
{
	horizontal-align: left;
	text-align: left;
	font-size: 13px;
	letter-spacing: 2px;
	font-family: titleFont;
	text-transform: uppercase;
	vertical-align: bottom;
	margin-bottom: 4px;
	margin-right: 4px;
}

.PrimaryAttributeStrength	.HeroRelicLevelLabel { color: dotaPlusRelicTextStr; }
.PrimaryAttributeAgility	.HeroRelicLevelLabel { color: dotaPlusRelicTextAgi; }
.PrimaryAttributeIntellect	.HeroRelicLevelLabel { color: dotaPlusRelicTextInt; }
.RareRelic					.HeroRelicLevelLabel { color: dotaPlusRelicTextRare; }

.PrimaryAttributeStrength	.RelicLevel { color: dotaPlusRelicTextStr; }
.PrimaryAttributeAgility	.RelicLevel { color: dotaPlusRelicTextAgi; }
.PrimaryAttributeIntellect	.RelicLevel { color: dotaPlusRelicTextInt; }
.RareRelic					.RelicLevel { color: dotaPlusRelicTextRare; }

.Empty .RelicLevel, .Empty .HeroRelicLevelLabel
{
	visibility: collapse;
}

#Details
{
	flow-children: down;
	vertical-align: top;
	margin: 14px 16px 16px 18px;
}

#RelicValue
{
	letter-spacing: 2px;
	font-size: 36px;
	color: white;
}

#RelicName
{
	text-transform: uppercase;
	color: #999;
	font-size: 20px;
	letter-spacing: 1px;
	margin-top: -6px;
	margin-bottom: 8px;
	width: 320px;
	line-height: 22px;
}


#RelicLevelProgressBar
{
	height: 4px;
	box-shadow: none;
	background-color: black;
	width: 100%;
}

#RelicLevelProgressBar .ProgressBarLeft
{
	border: 0px solid black;
}

.ProgressBarRight
{
	background-color: #3A474F;
}

.PrimaryAttributeStrength #RelicLevelProgressBar .ProgressBarLeft	{ background-color: dotaPlusRelicProgStr; }
.PrimaryAttributeAgility #RelicLevelProgressBar .ProgressBarLeft	{ background-color: dotaPlusRelicProgAgi; }
.PrimaryAttributeIntellect #RelicLevelProgressBar .ProgressBarLeft	{ background-color: dotaPlusRelicProgInt; }
.RareRelic #RelicLevelProgressBar .ProgressBarLeft					{ background-color: dotaPlusRelicProgRare; }

.RelicLevelProgress
{
	margin-top: 2px;
	color: #666;
	letter-spacing: 1px;
	font-size: 16px;
}

.RelicLevelProgressNumbers
{
	color: #999;
	font-weight: semi-bold;
}



/*
.PrimaryAttributeStrength .RelicLevelProgress	{ color: red; }
.PrimaryAttributeAgility .RelicLevelProgress	{ color: green; }
.PrimaryAttributeIntellect .RelicLevelProgress	{ color: blue; }
.RareRelic .RelicLevelProgress					{ color: yellow; }
*/
