
#LevelProgress
{
    horizontal-align: center;
	box-shadow: inset #1f2020 2px 2px 4px 4px;
	background-color: #464748;
	border: 1px solid #3d4746;
	height: 32px;
	padding: 4px;
    width: 220px;
    margin-top: -2px;
    visibility: visible;
}

.RequestingData #LevelProgress
{
	visibility: collapse;
}

#LevelProgress .ProgressBarLeft
{
	background-color: dotalevelgradient;
	box-shadow: #61789Caa -2px -2px 4px 4px;
	
	border-radius: 2px;

	transition-property: width;
	transition-duration: 1.0s;
	transition-timing-function: linear;
}

#LevelProgress Label
{
	horizontal-align: center;
	vertical-align: center;
	font-weight: bold;
	font-size: 16px;
	color: black;
    text-shadow: 0px 0px 8px 1.0 #C1CEEA88;
    margin-top: 2px;
}

.TrophyPointTextSmall {
    font-size:14px;
}