
.TTPartySearch {
    flow-children: right;
}


#Contents.TTPartySearch
{
    background-color: gradient( linear, 0% 100%, 0% 0%, from(#252b30), to(#060A13) );
    border: 1px solid black;
    padding: 18px 24px;
}


.TTPartySearch_Icon
{
    width: 36px;
    height: 36px;
    opacity-mask: url("s2r://panorama/images/control_icons/party_finder_icon_png.vtex");
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #7836D6 ), to( #B685F7 ) );
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 4px;
}

.TTPartySearch_Layout
{
    flow-children: down;
    max-width: 335px;
}

.TTPartySearch_Title
{
    height: 50px;
    margin-bottom: 5px;
    flow-children: right;
}

.TTPartySearch_Title_Label
{
    font-size: 24px;
    color: gradient( linear, 0% 0%, 100% 0%, from( #B685F7 ), to( #7836D6  ) );
    /* text-shadow: 0px 0px 2px rgba(216, 186, 255, 0.3); */
    vertical-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 12px;
}

.TTPartySearch_Entitlement
{
    flow-children: right;
    margin-bottom: 15px;
}

.SelfEventActive .TTPartySearch_Entitlement
{
    visibility: collapse;
}

.TTPartySearch_Entitlement_Icon
{
    width: 25px;
    height: 25px;

    background-image: url("s2r://panorama/images/conduct/bp_shield_icon_png.vtex");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    vertical-align: center;
}

.TTPartySearch_Entitlement_Label
{
    text-transform: uppercase;
    font-size: 18px;
    color: #9862E9;
    letter-spacing: 2px;
    vertical-align: center;
    margin-top: 3px;
}

.TTPartySearch_Avail
{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: #9862E9;
    letter-spacing: 2px;
}

