/* styles for the trophy tooltip */

.TrophyContents
{
    flow-children: down;
    max-width: 500px;
}

.TrophySeparator
{
    width: 100%;
    height: 2px;
    margin: 6px 0px;
    background-color: #00000066;
}

#TrophyName
{
    font-size: 28px;
}

#TrophyCategory
{
    margin-top: -8px;
    font-size: 20px;
}

.HideScore .ScoreSeparator, .HideScore #TrophyScore
{
    visibility: collapse;
}

#NextTrophy
{
    flow-children: right;
}

#NextTrophyImage
{
    max-width: 200px;
    max-height: 200px;
}

#NextTrophyDetails
{
    flow-children: down;
    vertical-align: middle;
    margin-left: 8px;
}

.HideNextTrophy .NextSeparator, .HideNextTrophy #NextTrophy
{
    visibility: collapse;
}