/* styles for the hero stats tooltip */

#Contents
{
    background-color: gradient( linear, 0% 0%, 0% 40%, from( #413219 ), to( #10191f ) );
    border: 0px solid #000;
    border-top: 2px solid #B78946;
    margin-top: 30px;
    box-shadow: 0px 0px 24px #00000060;
}

#HeroStatsPanel
{
    width: 270px;
    height: 70px;
    flow-children: down;
}

.WinLossStat
{
    margin-left: 10px;
    width: 100%;
    height: fit-children;
}

.IsAllyStat
{
    visibility: visible;
}

.IsEnemyStat
{
    visibility: collapse;
}

.StatLabel
{
    color: white;
}

.StatValue
{
    color: white;
    horizontal-align: right;
    margin-right: 2px;
}

.Header
{
    font-size: 16px;
    margin-left: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;

    padding-bottom: 2px;
}

.HeroIsEnemy .WinLossStat.IsAllyStat,
.HeroIsEnemy .WinLossStat.IsAllyStat,
.HeroIsEnemy .Header.IsAllyStat
{
    visibility: collapse;
}

.HeroIsEnemy .WinLossStat.IsEnemyStat,
.HeroIsEnemy .WinLossStat.IsEnemyStat,
.HeroIsEnemy .Header.IsEnemyStat
{
    visibility: visible;
}
