
#Contents
{
	flow-children: right;
}

#Details
{
	flow-children: down;
	vertical-align: middle;
	margin-left: 16px;
	margin-right: 16px;
}

#RelicValue
{
	letter-spacing: 2px;
	font-size: 48px;
	color: white;
}

#RelicName
{
	text-transform: uppercase;
	color: #999;
	font-size: 24px;
	letter-spacing: 2px;
	margin-top: -8px;
}