/* styles for the trophy tooltip */

DOTAGroupMemberRegionPing
{
    flow-children: right;
}

#Ping
{
    width: 240px;
}

#FriendName
{
    margin-left: 4px;
    width: 200px;
}

#FriendAvatarImage
{
    width: 20px;
    height: 20px;
}