
.HeroStatsHelpContents
{
	flow-children: down;
}

.HeaderText
{
	horizontal-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #ccc;
	margin-bottom: 14px;
	letter-spacing: 2px;
}

.HelpEntry
{
	flow-children: right;
	margin-bottom: 20px;
}

.HelpEntry.PrimaryAttribute
{
	margin-top: -16px;
	margin-bottom: 20px;

	visibility: collapse;
}

.PrimaryAttributeStrength #PrimaryAttributeStrength,
.PrimaryAttributeAgility #PrimaryAttributeAgility,
.PrimaryAttributeIntelligence #PrimaryAttributeIntelligence
{
	visibility: visible;
}

.HelpEntryIcon
{
	width: 24px;
	height: 24px;
	margin-right: 8px;
	vertical-align: center;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.HelpEntry > Label
{
	vertical-align: center;
}

.HelpEntryName
{
	font-weight: bold;
	width: 150px;
	color: #ccc;
}

.HelpEntryDescription
{
	color: #aaa;
	width: 350px;
}

.ResourceHelpEntry
{
	flow-children: down;
	margin-bottom: 20px;
}

.HeroResourceBar
{
	width: 500px;
	border-radius: 4px;
	margin-bottom: 4px;
	box-shadow: 0px 0px 4px black;
}
 
.MaxResource
{
	horizontal-align: center;
	text-shadow: 1px 1px 0px 2.0 #000000;
	font-weight: bold;
	color: white;
	margin-top: 2px;
	text-transform: uppercase;
}

.ResourceRegen
{
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 4px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	horizontal-align: right;
	text-shadow: 1px 1px 0px 1.0 #000000;
	text-transform: uppercase;
}

#HealthEntry .HeroResourceBar
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1A3D1A  ), color-stop( 0.2, #67A163 ), color-stop( .5, #187019), to( #175D17 ) );
}
#HealthEntry .ResourceRegen
{
	color: #3ed038;
}

#ManaEntry .HeroResourceBar
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6A90BA  ), color-stop( 0.4, #144B91 ), to( #2E5187 ) );	
}
#ManaEntry .ResourceRegen
{
	color: #83C2FE;
}

.ResourceHelpEntry .HelpEntryDescription
{
	width: 500px;
}