DOTATooltipRadar #Contents
{
	flow-children: down;
	width: 400px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

#title
{
	color: white;
	font-size: 20px;
}

.Description
{
	color: #CCCCCC;
	font-size: 16px;

	border-top-color: #626262;
    border-top-width: 1px;
    border-top-style: solid;

    width: 100%;
    padding: 5px 0px 2px 0px;
}

.IsLocalPlayerSpectating #description
{
	visibility: collapse;
}

#cooldown
{
	flow-children: right;
}

#cooldown_icon
{
	width: 19px;
	height: 19px;
	background-image: url("s2r://panorama/images/hud/cooldown_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#cooldown_duration
{
	color: white;
	font-size: 16px;
}

#cooldown_timer_label
{
	color: white;
	font-size: 17px;
	font-weight: bold;
	visibility: visible;
	margin-left: 3px;
}

.CooldownReady #cooldown_timer_label
{
	visibility: collapse;
}

#cooldown_ready_label
{
	color: white;
	font-size: 17px;
	font-weight: bold;
	visibility: collapse;
	margin-left: 3px;
}

.CooldownReady #cooldown_ready_label
{
	visibility: visible;
}

.DireTeam,
.RadiantTeam
{
	visibility: collapse;
}

.SpectatorTeam2 .RadiantTeam
{
	visibility: visible;
}

.SpectatorTeam3 .DireTeam
{
	visibility: visible;
}