/* styles for the trophy tooltip */

.TooltipFriendsMenuContents
{
    flow-children: down;
}

.HasFriendsReadyToPlay #NoFriendsReadyToPlayLabel
{
    visibility: collapse;
}
#FriendsReadyToPlayList
{
    visibility: collapse;
    width: 320px;
    flow-children: down;
}
.HasFriendsReadyToPlay #FriendsReadyToPlayList
{
    visibility: visible;
}

DOTATooltipFriendsMenu .ActiveFriendItem
{
    height: 52px;
    width: 100%;
	box-shadow:  fill -2px 1px 4px 0px #00000088;
}
