/* styles for the Buff tooltip */

#Contents.DroppedItemContents
{
	width: 350px;
	background-color: none;
	padding: 0px;
	box-shadow: none;
	border: 0px;
	margin-left: -150px;
}

#ItemNameContainer
{

	horizontal-align: center;
	width: fit-children;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

#ItemName
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 3px;
    font-size: 20px;
    color: white;
	text-align: center;
}

