/* styles for the ability tooltip */
.AghsStatusContents
{
	width: 360px;	
    background-color: #10171c00;
    flow-children: down;
}

#Contents
{
    padding: 0;
    border: 2px solid transparent;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2024fd ), to( #000000fd ) );
    background-color: transparent;
    box-shadow: none;
}

.SectionContent
{
    padding: 8px;
    border: 2px solid black;
    width: 100%;
    //height: 196px;
    flow-children: down;
    padding-bottom: 4px; 
    box-shadow: 0px 0px 16px 1px #0008;
}

.AghsContainer
{
    width: 100%;
    flow-children: down;
    margin-top: 6px;
}

#TopSection
{
    background-color: gradient( linear, 0% 0%, 0% 200%, from( #1c2024fd ), to( #000000fd ) );
    background-color: #10171c;
	background-image: url("s2r://panorama/images/hud/aghs_tooltip_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 0px -2px;
}

#BottomSection
{
    background-color: gradient( linear, 0% -100%, 0% 100%, from( #1c2024fd ), to( #000000fd ) );
    background-image: url("s2r://panorama/images/hud/aghs_tooltip_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 0px -2px;
}

#AghsTooltipConnecter
{
    width: 100%;
    height: 12px;
    margin: 0px 16px;
    background-color: #111416f7;
}

.InsetContainer
{
    width: 100%;
    padding:0;
    //background-color: #26394588;
}

.DetailsContainer
{
    flow-children: right;
    margin-bottom: 4px;
}

.TypeTitle
{
    color: #678FFF;
    color: #596e89;
    text-transform: uppercase;
    text-overflow: shrink;
    text-align: center;
    height: 18px;
    margin-left: 8px;
    margin-top: -1px;
    vertical-align: center;
    color: #9ab0cd;
    background-color: #4160b630;
    border-radius: 3px;
    font-size: 14px;
    padding: 1px 5px;
}

.HeroShard .TypeTitle
{
    margin-left: -2px;
}

.GrantedAbility .TypeTitle
{
    background-color: #4160b660;
    color:#9ab0cd;
}

.AbilityInfo
{
    flow-children: down;
    padding: 4px;
}

.GrantedAbility .DetailsContainer
{
    background-color: #152027;
    background-color: #263945e8;
    border-radius: 4px;
}

.AbilityName
{
    font-family: titleFont;
    color: #c7c7c7;
    text-shadow: 1px 1px 2px 2 black;   
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: semi-bold;
    letter-spacing: 1px;
    font-size: 18px;
}

#DOTAHUDAghsStatusTooltip.HasShard #AghsShardContainer .AbilityName,
#DOTAHUDAghsStatusTooltip.HasScepter #AghsScepterContainer .AbilityName
{
    color: white;
}

.AbilityDescription
{
    color: #9ab0cd;
    font-size: 16px;
}

#ScepterAbilityImage
{
    width: 36px;
    height: 36px;
    border-radius: 3px;
    horizontal-align: right;
    box-shadow: 0px 0px 6px 1px #0008;
    border: 1px solid black;
    margin-right: 4px;
    margin-top: 4px; 
    margin-left: 4px;
}

#ScepterAbilityImage.GrantedImage
{
    //margin-right: 10px;
    //margin-top: 4px;
}

#AghsStatusShardContainer,
#AghsStatusScepterContainer
{
    width: 34px;
    height: 34px;
    margin-right: 4px;
    overflow: noclip;
}
.AbilityTypeTitle
{
    flow-children: right;
}
#AghsStatusScepterIcon
{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/reborn/aghsstatus_scepter_psd.vtex");
    z-index: 2;
    overflow: noclip;
    margin-top: -5px;
}


#AghsStatusShardIcon
{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/reborn/aghsstatus_shard_psd.vtex");
    z-index: 2;
    overflow: noclip;
    margin-top: -5px;
}


#DOTAHUDAghsStatusTooltip.HasScepter #AghsStatusScepterIcon
{
    background-image: url("s2r://panorama/images/hud/reborn/aghsstatus_scepter_on_psd.vtex");
    brightness: 2;
}


#DOTAHUDAghsStatusTooltip.HasShard #AghsStatusShardIcon
{
    background-image: url("s2r://panorama/images/hud/reborn/aghsstatus_shard_on_psd.vtex");
    brightness: 2;
}



#AghsStatusScepterScene
{
	opacity: 0;
	width: 250%;
	height: 250%;
    margin-top: -60%;
    margin-left: -70%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex") 1.0;
}

#AghsStatusScepterScene.SceneLoaded
{
	opacity: 0;
}

#DOTAHUDAghsStatusTooltip.HasScepter #AghsStatusScepterScene.SceneLoaded
{
	opacity: 1;
}

#AghsStatusShardScene
{
	opacity: 0;
	width: 250%;
	height: 250%;
    margin-top: -143%;
    margin-left: -75%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex") 1.0;
}

#AghsStatusShardScene.SceneLoaded
{
	opacity: 0;
}

#DOTAHUDAghsStatusTooltip.HasShard #AghsStatusShardScene.SceneLoaded
{
	opacity: 1;
}

.AghsTitle
{
    font-size: 20px;
    font-weight: semi-bold;
    color: gradient( linear, 0% 0%, 40% 0%, from( #92acf5 ), to(#6378b3 ) );
    text-shadow: 2px 2px 0px #000000;
}

#DOTAHUDAghsStatusTooltip.HasScepter #TopSection .AghsTitle
{
    color: gradient( linear, 0% 0%, 40% 0%, from( #62cdff ), to( #658CF8 ) );
}

#DOTAHUDAghsStatusTooltip.HasShard #BottomSection .AghsTitle
{
    color: gradient( linear, 0% 0%, 40% 0%, from( #62cdff ), to( #658CF8 ) );
}

#HeroImage
{
    width: 36px;
    height: 50px;
    border-radius: 3px;
    horizontal-align: left;
    box-shadow: 0px 0px 6px 1px #0008;
    border: 1px solid black;
    margin-right: 4px;
    margin-top: 1px; 
    margin-left: 4px;
}

.NoChildrenLabel
{
    visibility: collapse;
}

.NoChildrenLabel Label
{
    color: rgb(133, 110, 69);
}

.NoUpgrade .NoChildrenLabel
{
    visibility: visible;
}