/* styles for the simple text tooltip */


#Contents.ADSpells
{
	padding: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#ADAbilityContainer
{
	flow-children: right;
}

.ADAbilityIcon
{
    width: 48px;
    height: 48px;
    flow-children: down;
	margin-left: 6px;
	margin-right: 6px;
	box-shadow: fill #000000a8 -2px 0px 4px 4px;	
	border-radius: 6px;
	border: 1px solid #585858;
}
