DOTATooltipTopBarUltimate #Contents
{
	flow-children: down;
	height: 72px;
	width: 72px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	
}


#TopBarUltimate
{
	height: 64px;
	width: 64px;
	margin: 0px;

	horizontal-align: center;
	vertical-align: middle;
	
	margin-top: -4px;
	
	opacity: 0;
	pre-transform-scale2d: 0.5;
	transform: translateY(-32px);
	
	transition-property: pre-transform-scale2d, opacity, transform;
	transition-duration: .12s;
	transition-timing-function: ease-in-out;
}

.TooltipVisible #TopBarUltimate
{
	opacity: 1;
	pre-transform-scale2d: 1;
	transform: translateY(0px);
}