
.GuildChallengesInfo
{
	flow-children: down;
	max-width: 420px;
}

.Header
{
	flow-children: right;
}

.Title
{
	font-size: 24px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;

}

.Description
{
	color: #999;
}

.RewardsTable
{
	flow-children: down;
	margin-left: 40px;
}

.RewardRow
{
    flow-children: right;
    height: 40px;
}

#StarsContainer
{
	width: 100px;
}

#StarsCenter
{
	horizontal-align: right;
}


.RewardPointsContainer
{
	flow-children: right;
}

.StarsContainer
{
	width: 80px;
	vertical-align: middle;
}

.Rewards
{
	flow-children: right;
	vertical-align: middle;
}

.RewardPointsContainer
{
	margin-left: 12px;
	margin-bottom: -4px;
}