#Contents
{
	flow-children: down;
}

.Header
{
	horizontal-align: center;
}

.CustomChallenge .Header
{
	border-bottom: 1px solid #CCCCCC;
}

.CustomChallengeContainer
{
	flow-children: down;
	margin-top: 4px;
	visibility: collapse;
}

.CustomChallenge .CustomChallengeContainer
{
	visibility: visible;
}

.ChallengeSubtitle
{
	margin-top: 8px;
	font-size: 16px;
	horizontal-align: center;
}

#CustomChallengeList
{
	flow-children: right-wrap;
	max-width: 700px;
}

.CustomChallengeHero
{
	flow-children: right;
}

#Image
{
	margin-top: 1px;
	margin-bottom: 1px;
}

.HeroName
{
	margin-left: 8px;
	width: 120px;
	overflow: clip;
	text-overflow: shrink;
	height: 24px;
	vertical-align: center;
}
