/* styles for the Buff tooltip */

#Contents.RoshanTimerContents
{
    width: 300px;
    flow-children: down;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

#RoshanMainContents
{
    width: 100%;
    flow-children: right;
}

.RoshanStatusLabel
{
    font-size: 19px;
    color: white;
    width: 200px;
    vertical-align: middle;
    text-overflow: shrink;
    max-height: 25px;
}

#RoshanStatusTime
{

}

.RoshanIcon
{
    height: 40px;
    width: 64px;
    background-image: url("s2r://panorama/images/heroes/npc_dota_hero_roshan_png.vtex");
    background-size: 100%;
    horizontal-align: center;
    vertical-align: center;
}

.RoshanTextPanel
{
    margin-left: 10px;
    horizontal-align: center;
}
