/* styles for the simple text tooltip */

.EconItemContents
{
}


#Contents.EconItemContents 
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b2e2f ), to( #212425 ) );
	margin: 0px;
	padding: 0px;
    width: 400px;
	flow-children: none;
	border: 2px solid black;
	box-shadow: none;
}

.EconItemBodyGroup
{
    width: 100%;
    height: fit-children;
}

.EconItemBody
{
    width: 100%;
    height: fit-children;
    flow-children: down;
}

.BackgroundImage
{
	width: height-percentage( 100% );
    height: 100%;
    horizontal-align: center;
    background-image: url("s2r://panorama/images/control_icons/battlepass_logo_png.vtex");
    wash-color: #303030ff;
    saturation: 0;
 	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    visibility: collapse;
}

DOTATooltipEconItem.Seasonal .BackgroundImage
{
    visibility: visible;
}

#EconItemMain
{
	width: 100%;
	flow-children: down;
}

#EconItemOverlayAutograph
{
	horizontal-align: right;
	vertical-align: top;
	margin-top: 42px;
	margin-right: 10px;
	width: 140px;
	height: 130px;
	wash-color: #00000055;
	opacity: .7;
}

#AutographImage
{
	horizontal-align: right;
	vertical-align: middle;
}

.AutographEvent14 #AutographImage
{
	wash-color: #ED5649;
}

#AutographDetails
{
	horizontal-align: right;
	margin-top: 4px;
	margin-right: 16px;
}

#AutographDetails Label
{
	font-weight: thin;
	font-size: 14px;
	text-align: right;
}

#EconItemEquipped
{
	horizontal-align: right;
	vertical-align: top;
	width: 32px;
	height: 32px;
	wash-color: #B3DFDC;
	visibility: collapse;
}

.Equipped #EconItemEquipped
{
	visibility: visible;
}


#EconTooltipHeader
{
	width: 100%;
	flow-children: down;
}

#HeaderTitle
{
	background-color: gradient( linear, 0% 0%, 100% 50%, from( #2b2e2fee ), to( #2b2e2f ) );
	width: 100%;
	height: 77px;
	border-top: 1px solid #ffffff05;
	flow-children: down;
}

#Name 
{
    font-size: 26px;
    margin-top: 10px;
	margin-left: 16px;
    color: white;
    //text-shadow: 2px 2px 2px 2 black;
}

#Set
{
    font-size: 16px;
	margin-left: 16px;
	margin-top: 0px;
}

#RarityStripe
{
	background-color: gradient( linear, 0% 0%, 100% 50%, from( #2b2e2faa ), color-stop( 0.1, #00ff0002 ), to( #2b2e2f ) );
    height: 7px;
    width: 100%;
	border-top: 1px solid #000000aa;
	border-bottom: 1px solid #000000aa;

}

#Rarity
{ 
	font-size: 18px;
}

#Banner
{
    flow-children: right;
	background-color: gradient( linear, 0% 0%, 80% 50%, from( #191a1cf4 ), to( #191a1c ) );
	border-bottom: 1px solid black;
	width: 100%;
	min-height: 57px;
}


#BannerText
{
	margin-left: 16px;
	margin-top: 6px;
    flow-children: down;
}

.SeasonalIcon
{
	width: height-percentage( 100% );
    height: 100%;
    background-image: url("s2r://panorama/images/control_icons/battlepass_logo_png.vtex");
 	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    visibility: collapse;
    wash-color: #e54e42;
	
	/* Fall 2016 */
	wash-color: #8ac267;
}

DOTATooltipEconItem.Seasonal .SeasonalIcon
{
    visibility: visible;
}

#HeroIcon
{
    width: 101px;
    height: 57px;
}

#GemPanel
{
	flow-children: down;
}

.EcontooltipGem
{
	margin-left: 16px;
	margin-bottom: 16px;
}

.GemIcon
{
	width: 44px;
	height: 22px;
	margin-right: 16px;
	opacity-mask: url("s2r://panorama/images/masks/gem_overlay_mask_psd.vtex") 1.0;
}


.BrandIcon
{
	width: 43px;
	height: 43px;
	margin-right: 16px;
	opacity-mask: url("s2r://panorama/images/masks/gem_overlay_mask_psd.vtex") 0.0;
}

#BrandPanel .GemDetails 
{
	vertical-align: center;
}

#EconBrandIcon
{
	//width: 100px;
	//height: 100px;
	opacity-mask: url("s2r://panorama/images/masks/gem_overlay_mask_psd.vtex") 0.0;
}

#GemIconOverlay
{
	width: 100%;
	height: 100%;
}

#GemIconImage
{
	width: 100%;
	height: 100%;
    visibility: collapse;
}

.EcontooltipGem.HasGem #GemIconImage 
{
    visibility: visible;
}

.EmptyGemIconImage
{
	width: 100%;
	height: 100%;
    visibility: visible;
}

.EcontooltipGem.HasGem .EmptyGemIconImage 
{
    visibility: collapse;
}

.GemDetails
{
	margin-top: 0px;
}

#GemCount
{
	margin-right: 6px;
	color: white;
	font-size: 18px;
}

.GemName
{
}

.GemType
{
}

.GemType Label
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	color: #666666;
}

#Modifiers
{
	width: 100%;
	margin-left: 16px;
	margin-right: 16px;
	flow-children: down;
}

.ListContainer
{
	flow-children: right-wrap;
	width: 100%;
}

.ListedModifier
{
	width: 47%;
	flow-children: right;
	margin-left: 6px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.ListedModifier Label
{
	font-size: 16px;
	font-weight: thin;
	vertical-align: middle;
	margin-left: 8px;
}

.EconTooltipSectionTitle
{
	flow-children: right;
}

.EconTooltipSectionTitle Label
{
	color: white;
}

.SectionTitleBar
{
	width: fill-parent-flow( 1.0 );
	background-color: #555757;
	vertical-align: middle;
	margin-left: 6px;
	height: 1px;
}

#Gift
{
	width: 100%;
	margin-top: 8px;
	margin-left: 16px;
	margin-right: 16px;
	flow-children: down;
}

#GiftReceived
{
	horizontal-align: right;
	margin-bottom: 8px;
}

#GiftReceived Label
{
	font-size: 14px;
}

#GifterName
{	
	color: #9bb7e0;
	padding-left: 6px;
}

#GiftDedication
{
    visibility: collapse;
}

#Gift.HasDedication #GiftDedication
{
    visibility: visible;
}

#GiftDedication Label
{	
	//color: #9bb7e0;
	font-style: italics;
	margin-left: 16px;
	margin-right: 16px;
}

#GiftDedicationBody
{
	background-color: #222222;
	border-radius: 6px;
	border: 1px solid black;
	width: 455px;
	background-size: 455px 11px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#Description
{
	width: 100%;
	color: #666666;
	font-weight: thin;
	font-style: italic;
    font-size: 16px;
	margin-top: 12px;
	margin-right: 16px;
	margin-left: 16px;
	padding-top: 16px;
	padding-left: 8px;
	padding-right: 8px;
	border-top: 1px solid #545557;
	text-shadow: 0px 1px 2px 2.0 #000000;
}

#TemporaryRestrictions
{
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	flow-children: down;
}

.RestrictionStrip
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2a2e34 ), to( #1e2329 ) );
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	min-height: 28px;
}

.RestrictionStrip Label
{
	font-weight: thin;
	horizontal-align: center;
	text-transform: uppercase;
	text-align: center;
	margin-top: 3px;
	font-size: 18px;
	text-shadow: 0px 1px 2px 2.0 #000000;
}


#SeasonalRestriction
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #20201C ), color-stop( 0.25, #3D3B20 ), color-stop( 0.9, #3D3B20 ), to( #3D3B20 ) );
	border-left: 3px solid black;
	border-right: 3px solid black;
	visibility: collapse;
}

#SeasonalRestriction Label
{
	font-size: 14px;
	color: #fff34f;
	margin-top: 4px;
}

DOTATooltipEconItem.Seasonal #SeasonalRestriction
{
    visibility: visible;
}

#MarketRestriction, #TradeRestriction
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #210E0E ), color-stop( 0.25, #353A3A ), color-stop( 0.9, #36282A ), to( #361D20 ) );
	border-left: 3px solid black;
	border-right: 3px solid black;
}

DOTATooltipEconItem.Seasonal #MarketRestriction, DOTATooltipEconItem.Seasonal #TradeRestriction
{
    visibility: collapse;
}

#MarketRestriction Label, #TradeRestriction Label
{
	font-size: 14px;
	color: #977A7F;
	margin-top: 4px;
}

#RecycleDescription
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #17202d ), color-stop( 0.25, #1e2938 ), color-stop( 0.9, #263850 ), to( #17202d ) );
	border-left: 3px solid black;
	border-right: 3px solid black;	
    visibility: collapse;
}

DOTATooltipEconItem.CanRecycle #RecycleDescription 
{
    visibility: visible;
}

#RecycleDescription Label
{
	color: #5482b2;
	font-size: 14px;
	margin-top: 4px;
}

#GiftRestriction
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #17202d ), color-stop( 0.25, #1e2938 ), color-stop( 0.9, #263850 ), to( #17202d ) );
	border-left: 3px solid black;
	border-right: 3px solid black;	
}

DOTATooltipEconItem.Seasonal #GiftRestriction
{
    visibility: collapse;
}

#GiftRestriction Label
{
	color: #5482b2;
	font-size: 14px;
	margin-top: 4px;
}

#DeletionRestriction
{
	border-top: 1px solid black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #44484e ), color-stop( 0.09, #2a2e34 ), to( #1d2228 ) );
	height: 38px;
}

DOTATooltipEconItem.Seasonal #DeletionRestriction
{
    visibility: collapse;
}

#DeletionRestriction Label
{
	vertical-align: middle;
	color: #6f7c88;
}

#ExpiryRestriction
{
	border-top: 1px solid black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #44484e ), color-stop( 0.09, #2a2e34 ), to( #1d2228 ) );
	height: 38px;
	visibility: collapse;
}

#ExpiryRestriction Label
{
	vertical-align: middle;
	color: #6f7c88;
}

DOTATooltipEconItem.Seasonal #ExpiryRestriction
{
	visibility: collapse;
}

DOTATooltipEconItem.Expires #ExpiryRestriction
{
	visibility: visible;
}

.ExtraTooltipText
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a05908 ), color-stop( 0.9, #b77d0c ) );
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #210E0E ), color-stop( 0.25, #210E0E ) );
	border-left: 3px solid black;
	border-right: 3px solid black;
    visibility: collapse;
}

.ExtraTooltipText Label
{
	font-size: 14px;
	color: #ddd;
	margin-top: 4px;
	margin-bottom: 3px;
}

DOTATooltipEconItem.HasAdditionalText .ExtraTooltipText 
{
    visibility: visible;
}

/* Styles related to emoticons display */
.EmoticonsPanel
{
    flow-children: down;
   	margin-top: 12px;
	margin-right: 16px;
	margin-left: 16px;
    visibility: collapse;
}

.EconItemContents.HasEmoticons .EmoticonsPanel
{
    visibility: visible;
}

#EmoticonsList
{
    flow-children: right-wrap;
    margin-top: 2px;
    width: 100%;
}

.EmoticonContainer
{
    flow-children: right;
}

#EmoticonImage
{
	width: 32px;
	height: 32px;
}

.EmoticonText 
{
    min-width: 100px;
	font-size: 18px;
    vertical-align: center;
    margin-left: 8px;
    margin-right: 32px;
	color: #aaaaaa;
}

/* Styles related to item styles display */
#Styles
{
    flow-children: right;
   	margin-top: 12px;
	margin-right: 16px;
	margin-left: 16px;
}

#StylesList
{
    flow-children: down;
    margin-top: 2px;
}

#StyleLabel
{
    width: 48px;
}

.Style
{
    font-size: 16px;
}

.Style.Locked
{
    color: #404040;
}

.Style.Active
{
    color: #FFFFFF;
}

#Tags
{
    flow-children: down;
   	margin-top: 12px;
	margin-right: 16px;
	margin-left: 16px;
}

#TagsList
{
    flow-children: right-wrap;
    margin-top: 2px;
}

.Tag
{
    font-size: 16px;
	border-radius: 4px;
	background-color: #565E5C44;
	border: 1px solid black;
	margin: 2px;
	margin-right: 8px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 3px;
}

#LeagueIDBox
{
	margin-bottom: 5px;
	background-color: #00000044;
	width: 100%;
}

#LeagueLogo
{
	width: 160px;
}

#LeagueName
{
	color: white;
}

#LeagueEvent
{
	color: white;
	font-size: 28px;
	margin-top: -4px;
	text-transform: uppercase;
}

#TeamsBox
{
	width: 100%;
}

#Team1
{
	horizontal-align: left;
	width: 45%;
}

#Team1Name
{
	vertical-align: center;
}

#VsLabel
{
	color: white;
	vertical-align: center;
}

#Team2
{
	horizontal-align: right;
	width: 45%;
}

#Team2Name
{
	vertical-align: center;
}

#Team1Image
{
	width: 64px;
	horizontal-align: left;
}

#Team2Image
{
	width: 64px;
	horizontal-align: right;
}

#TournamentEvent
{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#TournamentDetails
{
	width: 100%;
}

#TournamentMatchID
{
	horizontal-align: left;
	font-size: 16px;
	font-weight: thin;
	vertical-align: middle;
	color: #666666;
}

#TournamentMatchDate
{
	horizontal-align: right;
	font-size: 16px;
	font-weight: thin;
	vertical-align: middle;
	color: #666666;
}

.Empty
{
    visibility: collapse;
}

// normal
.QualityColor0
{
    color: #B2B2B2;
}

// genuine
.QualityColor1
{
    color: #4D7455;
}

// vintage
.QualityColor2
{
    color: #476291;
}

// unusual
.QualityColor3
{
    color: #8650AC;
}

// unique
.QualityColor4 
{
    color: #D2D2D2;
}

// community
.QualityColor5 
{
    color: #70B04A;
}

// developer
.QualityColor6
{
    color: #A50F79;
}

// selfmade
.QualityColor7
{
    color: #70B04A;
}

// customized
.QualityColor8
{
    color: #00FF00;
}

// strange
.QualityColor9
{
    color: #CF6A32;
}

// completed
.QualityColor10
{
    color: #8650AC;
}

// haunted
.QualityColor11
{
    color: #8650AC;
}

// tournament
.QualityColor12
{
    color: #8650AC;
}

// favored
.QualityColor13
{
    color: #FFFF00;
}

// ascendant
.QualityColor14
{
    color: #EB4B4B;
}

// autographed
.QualityColor15
{
    color: #ADE55C;
}

// legacy
.QualityColor16
{
    color: #FFFFFF;
}

// exalted
.QualityColor17
{
    color: #CCCCCC;
}

// frozen
.QualityColor18
{
    color: #4682B4;
}

// corrupted
.QualityColor19
{
    color: #A52A2A;
}

// lucky
.QualityColor20
{
    color: #32CD32;
}

// infused
.QualityColor21
{
    color: #8847ff;
}





