Label
{
	width: 750px;
}

.Title
{
	font-size: 24px;
	margin-bottom: 10px;
	color: white;
	text-transform: uppercase;
}

.RankTierImage, .RankPipImage
{
	width: 100px;
	height: 100px;
	background-size: 100%;
}

#RankDisplays
{
	margin-top: 5px;
	margin-bottom: 20px;
}

#PipDisplays
{
	margin-top: 5px;
	margin-bottom: 10px;
}

.RankTier2, .RankTier3
{
	margin-left: 4px;
	margin-right: 4px;
}
 
 .RankTier4, .RankTier5
 {
	margin-left: 6px;
	margin-right: 6px;
 }

 .RankTier6, .RankTier7
 {
	margin-left: 8px;
	margin-right: 8px;
 }