#Contents
{
	flow-children: down;
	border: 0px solid transparent;
	box-shadow: none;
	background-image: url("s2r://panorama/images/hud/ability_tooltip_psd.vtex");
	background-color: #10171c;
}

.Row
{
	flow-children: right;
	height: 60px;
	min-width: 90px;
	border: 2px solid black;
	width: 160px;
}

.Row Label
{
	color: #FFFF62;
	vertical-align: center;
	margin-left: 12px;
}

.PercentContainer
{
	width: 250px;
	margin-top: 24px;
}

#MainPercentLabel
{
	width: 180px;

}

#MainPercent
{
	horizontal-align: right;
	text-align: right;
	color: white;
}