DOTATooltipStatBranch
{
}

#Contents
{ 
    background-color: gradient( linear, 0% 0%, 0% 100%, from ( #181b1d), to ( #22292f ) );
    padding: 12px 12px 8px 12px;
}

#StatBranch
{
	width: fit-children;
	height: fit-children;
}
