/* styles for the ability tooltip */

#Contents.AbilityContents
{
	width: 350px;	
    background-color: #10171c;
}

.IsItem #Contents
{
	background-image: url("s2r://panorama/images/hud/reborn/bg_tooltip_psd.vtex");
	background-repeat: no-repeat;
    padding: 8px;
    background-position: top;
    border: 2px solid black;
}

#Contents
{
    padding: 8px;
    border: 2px solid black;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2024fd ), to( #000000fd ) );
}

Label.TitleFont, TextEntry.TitleFont
{
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-transform: uppercase; 
	letter-spacing: 2px;
	text-shadow: 2px 2px 0px 1.0 #000000;
}
