
#Contents.GuildSummaryContents
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop(.5, #161616 ), to( #000000 ) );
    border-left: 1px solid #ffffff03;
    border-right: 1px solid #ffffff03;
    border-top: 1px solid #ffffff03;
    box-shadow: 0px 0px 16px #000000aa;
}

#SummaryContents
{
    width: 340px;
    height: 72px;
}

.AsyncSuccessContainer
{
    flow-children: right;
}

#GuildLogoContainerStatus
{
    vertical-align: middle;
    border-radius: 4px;
}

#GuildImage
{
    width: 72px;
    height: 72px;
}

#GuildLogoFrame
{
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/guilds/guild_default_icon_frame_psd.vtex");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#GuildText
{
    flow-children: down;
    margin-left: 12px;
    vertical-align: middle;
    width: fill-parent-flow( 1.0 );
	margin-top: -6px;
}

#GuildName
{
    color: white;
    font-size: 24px;
    width: 100%;
    height: 30px;
    text-overflow: shrink;
	font-weight: semi-bold;
}

#GuildTag
{
    margin-top: -2px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.GuildPrimaryColor0 #GuildTag { color: guildColor0; }
.GuildPrimaryColor1 #GuildTag { color: guildColor1; }
.GuildPrimaryColor2 #GuildTag { color: guildColor2; }
.GuildPrimaryColor3 #GuildTag { color: guildColor3; }
.GuildPrimaryColor4 #GuildTag { color: guildColor4; }
.GuildPrimaryColor5 #GuildTag { color: guildColor5; }
.GuildPrimaryColor6 #GuildTag { color: guildColor6; }
.GuildPrimaryColor7 #GuildTag { color: guildColor7; }
.GuildPrimaryColor8 #GuildTag { color: guildColor8; }
.GuildPrimaryColor9 #GuildTag { color: guildColor9; }

#GuildLevel
{
    ui-scale: 54%;
    vertical-align: middle;
    visibility: collapse;
}

.HasGuildLevel #GuildLevel
{
    visibility: visible;
}