/* styles for the simple text tooltip */
@define ChatBubbleHideTime: 2.0f;

DOTATooltipChatBubble #Contents
{
	background-color: #ffffffee;
	border-radius: 5px;
	border: 0px solid #ffffff;
	box-shadow: 0px 0px 10px 10.0 #000000;
	padding: 10px;

}


.TextContents
{
	width: 300px;

}

#TextLabel
{
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: semi-bold;
	//font-weight: normal;
	color: black;
	vertical-align: middle;
	letter-spacing: -1px;
	//padding: 16px;

}


.ChatWheelIcon
{
	width: 20px;
	height: 20px;
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 2px;
	vertical-align: top;
	visibility: collapse;
}


#TextLabel DOTAEmoticon
{
	margin-left: 2px;
	margin-right: 2px;
	width: 26px;
	height: 26px;
}

#TextLabel .CrestIcon
{
	width: 20px;
	height: 20px;
	margin-top: -3px;
	margin-bottom: -3px;
	transform: translateY( 2px );
}

#TextLabel .BattleCupIcon
{
	width: 20px;
	height: 20px;
	margin-top: -3px;
	margin-bottom: -3px;
	transform: translateY( 2px );
	margin-right: 3px;
}

.ChatWheelSpray
{
	width: 120px;
	height: 120px;
}