
.InDemandRoleContents
{
	flow-children: down;
	max-width: 380px;
}

.Header
{
	flow-children: right;
}

.Icon
{
	vertical-align: middle;
	width: 20px;
	height: 20px;
	transform: translateY( -1px );

	background-image: url("s2r://panorama/images/control_icons/star_favorite_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.Title
{
	font-size: 24px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-left: 8px;

}

.Description
{
	color: #999;
}