
@define MaxRows: 19;

DOTATooltipHeroPicker
{
    /* Use padding rather than margin, so we can still mouse over it without it disappearing */
    padding: 8px;

    opacity: 0.0;

    transition-property: opacity;
    transition-duration: 0.1s;
    transition-delay: 0.2s;
}

DOTATooltipHeroPicker.TooltipVisible
{
    opacity: 0.975;
    transition-delay: 0.0s;
}

#HeroGridContainer
{
    background-color: gradient( linear, 0% 0%, 0% 15%, from( #232326 ), to( #101010 ) );
    border: 2px solid #5e686966;
    padding: 5px;
	box-shadow: #000000aa -4px -4px 8px 8px;
}

#HeroGrid
{
    flow-children: right;
}

.HeroColumn
{
    flow-children: down;
}

.HeroCategory
{
    flow-children: down;
}

.HeroSeparator
{
    width: 160px;
    height: 2px;
    margin: 5px 0px;
    background-color: #252525;
}

.HeroCategory.FirstInColumn .HeroSeparator
{
    visibility: collapse;
}

.HeroButton
{
    margin: 2px 4px;
    padding: 1px 4px;
    width: 160px;
}

.HeroButton:hover Label
{
    color: white;
}

.HeroButton:active
{
	sound: "ui_hero_select_slide";
}