
.HighPriorityQueueContents
{
    flow-children: down;
    width: 720px;
}

#Body
{
    flow-children: right;
    padding-top: 8px;
    padding-left: 0;
}

#LeftColumn
{
    flow-children: down;
    width: 400px;
    padding-right: 12px;
}

#RightColumn
{
    width: 300px;
    height: 260px;
    flow-children: none;
    margin: 0 20px;
}

.Title
{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#HighPriorityEnabledTitle
{
	color: hsv-transform( winnerGreen, 0, 1, 0.8 );
	visibility: collapse;
}
.HighPriorityEnabled #HighPriorityEnabledTitle
{
	visibility: visible;
}

#HighPriorityDisabledTitle
{
	color: hsv-transform( loserRed, 0, 1, 0.8 );
}
.HighPriorityEnabled #HighPriorityDisabledTitle
{
	visibility: collapse;
}


#Description
{
	font-size: 16px;
    color: #999;
    line-height: 20px;
}

.Reason
{
	margin-top: 4px;
	font-size: 16px;
    color: #5F6A6C;
    line-height: 20px;
}

.ProgressBarLabels
{
	margin-top: 18px;
	flow-children: right;
}

.ProgressBarLabels Label
{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
}

#GamesChange
{
    visibility: collapse;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 4px;
}

.EarningQP #GamesChange
{
    color: hsv-transform( winnerGreen, 0, 1, 0.8 );
    visibility: visible;
}
.SpendingQP #GamesChange
{
    color: hsv-transform( loserRed, 0, 1, 0.8 );
    visibility: visible;
}

/* progress bar */

#ProgressBar
{
    width: 600px;
    height: 25px;

    border: 3px solid #111617;
    padding: -2px;  /* inner parts have their own border that overlaps this one */
    border-radius: 3px;

    background-color: #3E464A;
    margin-left: -2px;
}

#ProgressBar_Left
{
    border-radius: 2px;
    border: 2px solid black;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #EFF2FA  ), to( #BFCBE7 ) );

    transition-property: position,width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

#ProgressBar_Middle
{
    /* hack: make claimed area look slightly larger, helps with read when we are crossing the 'sectional' areas */
    padding-left: -2px;
    padding-right: -2px;
    overflow: noclip;
    flow-children: right;

    transition-property: position,width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

#ProgressBar_Middle_Content
{
    width: fill-parent-flow(1.0);
    height: 100%;

    /* these prevent an assert due to overflowing composition panel size during
     * initial layout before the progress bar has initialized
     */
    max-width: 300px;
    max-height: 50px;

    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    background-color: gradient( linear, 0% 100%, 0% 0%, from( #AFDF8F ), to( #6BCB6B ) );
    border-radius: 2px;
    border: 2px solid black;

    overflow: clip;
}

@keyframes 'arrow_scroll_right'
{
    0% {
        transform: translateX(-8px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes 'arrow_scroll_left'
{
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-8px);
    }
}

#ProgressBar_Middle_Scrolly
{
    width: 350px;
    height: 100%;

    background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
    background-size: 10px 14px;
    background-repeat: repeat no-repeat;
    background-position: 50% 25%;

    opacity: 0.4;
    wash-color: #d0ffd0;

    animation-name: arrow_scroll_right;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
}
.SpendingQP #ProgressBar_Middle_Scrolly
{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
    animation-name: arrow_scroll_left;
    opacity: 0.35;
    wash-color: #ff9090;
}

.SpendingQP #ProgressBar_Middle
{
}

.SpendingQP #ProgressBar_Middle_Content
{
    background-color: gradient( linear, 0% 100%, 0% 0%, from( #813403 ), to( #DD3C1C ) );
}

#ProgressBar_Right
{
    background-color: #00000000;
}


#RolePerformanceTitle
{
    color: white;
    font-size: 20px;
    padding-top: 16px;
    text-transform: none;
    letter-spacing: 0;
}

#RolePerformanceExplanation
{
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #999;
    margin-top: 4px;
}

#GraphContainer
{
    width: 200px;
    height: 200px;
    horizontal-align: center;
    background-image: url("s2r://panorama/images/rank_tier_icons/handicap/handicap_background_png.vtex");
    background-size: cover;
}

#GraphContainerSupportSoftHandicap, #GraphContainerSupportHardHandicap, #GraphContainerMidlaneHandicap, #GraphContainerOfflaneHandicap, #GraphContainerSafelaneHandicap
{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.SupportSoft1 #GraphContainerSupportSoftHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/support_soft_1_png.vtex"); }
.SupportSoft2 #GraphContainerSupportSoftHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/support_soft_2_png.vtex"); }
.SupportSoft3 #GraphContainerSupportSoftHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/support_soft_3_png.vtex"); }
.SupportSoft4 #GraphContainerSupportSoftHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/support_soft_4_png.vtex"); }

.SupportHard1 #GraphContainerSupportHardHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/support_hard_1_png.vtex"); }
.SupportHard2 #GraphContainerSupportHardHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/support_hard_2_png.vtex"); }
.SupportHard3 #GraphContainerSupportHardHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/support_hard_3_png.vtex"); }
.SupportHard4 #GraphContainerSupportHardHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/support_hard_4_png.vtex"); }

.Midlane1 #GraphContainerMidlaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/midlane_1_png.vtex"); }
.Midlane2 #GraphContainerMidlaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/midlane_2_png.vtex"); }
.Midlane3 #GraphContainerMidlaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/midlane_3_png.vtex"); }
.Midlane4 #GraphContainerMidlaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/midlane_4_png.vtex"); }

.Offlane1 #GraphContainerOfflaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/offlane_1_png.vtex"); }
.Offlane2 #GraphContainerOfflaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/offlane_2_png.vtex"); }
.Offlane3 #GraphContainerOfflaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/offlane_3_png.vtex"); }
.Offlane4 #GraphContainerOfflaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/offlane_4_png.vtex"); }

.Safelane1 #GraphContainerSafelaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/safelane_1_png.vtex"); }
.Safelane2 #GraphContainerSafelaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/safelane_2_png.vtex"); }
.Safelane3 #GraphContainerSafelaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/safelane_3_png.vtex"); }
.Safelane4 #GraphContainerSafelaneHandicap { background-image: url("s2r://panorama/images/rank_tier_icons/handicap/safelane_4_png.vtex"); }

.LaneIcon
{
    width: 32px;
    height: 32px;
    horizontal-align: left;
    vertical-align: top;
    background-size: cover;
    wash-color: #8c9aa6;
}

#HardSupportIcon
{
    background-image: url("s2r://panorama/images/rank_tier_icons/handicap/hardsupporticon_psd.vtex");
    margin-left: 36px;
    margin-top: 8px;
}
.SupportHardSelected #HardSupportIcon
{
    wash-color: white;
    img-shadow: 0px 0px 4px rgb(124, 139, 151);
}


#SoftSupportIcon
{
    background-image: url("s2r://panorama/images/rank_tier_icons/handicap/softsupporticon_psd.vtex");
    margin-left: 8px;
    margin-top: 120px;
}
.SupportSoftSelected #SoftSupportIcon
{
    wash-color: white;
    img-shadow: 0px 0px 4px rgb(124, 139, 151);
}


#OfflaneIcon
{
    background-image: url("s2r://panorama/images/rank_tier_icons/handicap/offlaneicon_psd.vtex");
    margin-left: 112px;
    margin-top: 192px;
}
.OfflaneSelected #OfflaneIcon
{
    wash-color: white;
    img-shadow: 0px 0px 4px rgb(124, 139, 151);
}

#MidlaneIcon
{
    background-image: url("s2r://panorama/images/rank_tier_icons/handicap/midlaneicon_psd.vtex");
    margin-left: 212px;
    margin-top: 124px;
}
.MidlaneSelected #MidlaneIcon
{
    wash-color: white;
    img-shadow: 0px 0px 4px rgb(124, 139, 151);
}

#SafelaneIcon
{
    background-image: url("s2r://panorama/images/rank_tier_icons/handicap/safelaneicon_psd.vtex");
    margin-left: 180px;
    margin-top: 12px;
}
.SafelaneSelected #SafelaneIcon
{
    wash-color: white;
    img-shadow: 0px 0px 4px rgb(124, 139, 151);
}


#RankedRolePerformance
{
    text-transform: uppercase;
    horizontal-align: center;
    vertical-align: bottom;
    font-size: 16px;
    letter-spacing: 1px;
}

