/* styles for the Buff tooltip */

#Contents.DroppedItemContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
	padding: 0px;
	box-shadow: none;
	border: 0px;
}

#ItemName
{
	vertical-align: middle;
	padding: 1px 8px 3px 8px;
    font-size: 20px;
    color: white;
	text-align: center;
}

