#Contents.HeroCardTooltipContents
{
	padding: 0px;
	border: 0px;
	background-color: none;
	box-shadow: none;
}

#MainContents
{
	margin: 30px;
	flow-children: down;
}

#DefaultContents
{
	border: 2px solid black;
	width: 151px;
	height: 200px;
	horizontal-align: center;
}

#ImageContainer
{
	width: 100%;
	height: 100%;
}

#HeroImage,
#HeroMovie
{
	width: 100%;
	height: 100%;
}

#HeroName
{
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	background-color: #000c;
	padding: 5px 4px 2px 4px;
	vertical-align: bottom;
	letter-spacing: 2px;
	font-size: 16px;
	color: white;
}

#HeroBadge
{
	ui-scale: 70%;
}

#HeroBadge.NoTier
{
	visibility: collapse;
}

/* -- Hero Features -------------------------------------------------------- */


#HeroFeatures
{
	horizontal-align: center;
	width: 151px;
	background-color: #000;
	flow-children: down;
}

.HeroFeature
{
	horizontal-align: center;
	flow-children: right;
	padding: 4px;

	visibility: collapse;
}

.HeroFeatureIcon
{
	width: 13px;
	height: 13px;
	margin-right: 4px;

	vertical-align: middle;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.HeroFeature Label
{
	font-size: 14px;
	color: #808fa6;
	height: 18px;
}

#CavernCrawlFeature .HeroFeatureIcon
{
	background-image: bp_cavern_crawl_challenge;
}

.CavernSupportAvailable #CavernCrawlFeature,
.CavernCarryAvailable #CavernCrawlFeature,
.CavernUtilityAvailable #CavernCrawlFeature
{
	visibility: visible;
}

.CavernSupportAvailable #CavernCrawlFeature .HeroFeatureIcon
{
	wash-color: #fff09d;
}
.CavernCarryAvailable #CavernCrawlFeature .HeroFeatureIcon
{
	wash-color: #affeff;
}
.CavernUtilityAvailable #CavernCrawlFeature .HeroFeatureIcon
{
	wash-color: #dfd2ff;
}

#DailyHeroChallengeFeature .HeroFeatureIcon
{
	background-image: bp_point_log_pass_activated;
}
.DailyHeroChallenge #DailyHeroChallengeFeature
{
	visibility: visible;
}

#AllHeroChallengeFeature .HeroFeatureIcon
{
	background-image: url("s2r://panorama/images/control_icons/all_hero_challenge_icon_png.vtex");
	wash-color: #8ccdff;
}

.AllHeroChallenge #AllHeroChallengeFeature
{
	visibility: visible;
}


#SuggestedFeature .HeroFeatureIcon
{
	background-image: url("s2r://panorama/images/control_icons/thumbs_up_png.vtex");
	wash-color: #e849c6;
}
.Suggested #SuggestedFeature
{
	visibility: visible;
}

#SuggestedBanFeature .HeroFeatureIcon
{
	background-image: url("s2r://panorama/images/control_icons/thumbs_down_png.vtex");
	wash-color: #f0211e;
}
.SuggestedBan #SuggestedBanFeature
{
	visibility: visible;
}


#RecommendedFeature .HeroFeatureIcon
{
	background-image: url("s2r://panorama/images/hero_selection/recommended_hero_icon_png.vtex");
}
.Recommend #RecommendedFeature
{
	visibility: visible;
}

#AvoidFeature .HeroFeatureIcon
{
	background-image: url("s2r://panorama/images/hero_selection/avoid_hero_icon_png.vtex");
}
.Avoid #AvoidFeature
{
	visibility: visible;
}

#NewHeroFeature .HeroFeatureIcon
{
	background-image: url("s2r://panorama/images/control_icons/clock_psd.vtex");
	wash-color: #808fa6;
}
.NewHero #NewHeroFeature
{
	visibility: visible;
}

#PlaytestFeature .HeroFeatureIcon
{
	background-image: url("s2r://panorama/images/control_icons/icon_auto_style_png.vtex");
	wash-color: #00cccc;
}

.Playtest #PlaytestFeature
{
	visibility: visible;
}

#GuildContractFeature .HeroFeatureIcon
{
	background-image: url("s2r://panorama/images/guilds/guild_banner_icon_white_psd.vtex");
	wash-color: accentColor;
}

.GuildContract #GuildContractFeature
{
	visibility: visible;
}