/* styles for the simple text tooltip */
@define accentColorBright: #e54e42;
@define accentColor: #A9372E;

.ArcanaVoteContainer
{                           
	background-color: #2c2c2c;
	margin: 0px;
	padding: 0px;
    width: 620px;
	flow-children: none;
	border: 2px solid black;
	box-shadow: none;
}

#ArcanaVoteTooltipHeader
{
	width: 100%;
	flow-children: down;
}

#Contents
{
    background-color: #2c2c2c;
}

/* Title */
.HeaderTitleTop
{
    background-color: none;
	width: 100%;
	height: 32px;
}

.ArcanaVoteContainer.SingleHero .HeaderTitleTop
{
    visibility: collapse;
}

.HeaderTitle
{
    background-color: #131313;
    width: 100%;
    height: 32px;
    flow-children: right;
}

.ArcanaVoteContainer.SingleHero .HeaderTitle
{
    visibility: collapse;
}

.CalibrationTitle
{
	visibility: collapse;
}

.CalibrationTitle Label
{
	vertical-align: center;
	horizontal-align: center;
}

.ArcanaVoteContainer.IsCalibrating .CalibrationTitle
{
    visibility: visible;
}

.TitleLabel
{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.RoundName
{
    font-size: 18px;
    color: white;
}

.ResultTitle 
{
    font-size: 18px;
    color: white;
    horizontal-align: right;
    margin-left: 3px;
}

.ActiveTitle 
{
    font-size: 18px;
    color: accentColorBright;
    horizontal-align: right;
    visibility: collapse;
}

.SingleHeroTitle
{
    color: white;
    horizontal-align: right;
    visibility: collapse;
}

.ArcanaVoteContainer.VotingActive .ResultTitle
{
    visibility: collapse;
}

.ArcanaVoteContainer.SingleHero .ResultTitle
{
    visibility: collapse;
}

.ArcanaVoteContainer.VotingActive .ActiveTitle
{
    visibility: visible;
}

.ArcanaVoteContainer.SingleHero .SingleHeroTitle
{
    visibility: visible;
}

.TotalVoteContainer
{
    flow-children: right;
    horizontal-align: right;
    vertical-align: center;
}

.SeedTitle
{
    vertical-align: center;
    text-align: center;
    min-width: 48px;
    margin-left: 4px;
    visibility: collapse;
}

.HeroTitle
{
    vertical-align: center;
    text-align: center;
    min-width: 48px;
    margin-left: 8px;
    margin-right: 8px;
}

.YourVoteTitle
{
    horizontal-align: right;
    vertical-align: center;
    min-width: 120px;
    text-align: center;
    margin-right: 4px;
    visibility: collapse;
}

.ArcanaVoteContainer.HasVotedOnMatch .YourVoteTitle 
{
    visibility: visible;
}

/* Vote Table */
.VoteTable
{
    flow-children: down;
	background-color: gradient( linear, 0% 0%, 80% 50%, from( #191a1cf4 ), to( #191a1c ) );
	width: 100%;
	min-height: 57px;
    padding-bottom: 8px;
}

.VoteRow
{
    flow-children: right;
    width: 100%;
}

.VoteRow Label
{
    padding-top: 8px;
    vertical-align: center;
    font-size: 18px;
}

.VoteRow .VotePercent
{
    font-size: 18px;
}

.ArcanaVoteContainer.Hero0Winner .VoteRow.Row0 Label
{
    color: white;
    font-weight: bold;
}

.ArcanaVoteContainer.Hero1Winner .VoteRow.Row1 Label
{
    color: white;
    font-weight: bold;
}

.ArcanaVoteContainer.SingleHero .VoteRow.Row1
{
    visibility: collapse;
}

.Seeding
{
    margin-left: 4px;
    min-width: 48px;
    visibility: collapse;
    text-align: center;
}

.HeroIcon
{
    margin: 8px 8px 0px 8px;
    width: height-percentage( 177.78% );
    height: 48px;
}

.SmallHeroImage
{
    margin: 8px 8px 0px 8px;
    width: 48px;
    height: 48px;
    visibility: visible;
    horizontal-align: center;
    visibility: collapse;
}

.HeroName
{
    min-width: 160px;
    margin-left: 8px;
}

.MyVoteCount
{
    min-width: 120px;
    margin-right: 4px;
    horizontal-align: right;
    text-align: center;
    visibility: collapse;
}

.ArcanaVoteContainer.HasVotedOnMatch .MyVoteCount 
{
    visibility: visible;
}

.VoteCount
{
    margin-right: 4px;
    min-width: 110px;
    text-align: center;
}

.VotePercent
{
    min-width: 80px;
    margin-right: 4px;
    margin-left: 4px;
    text-align: center;
}

.ArcanaVoteContainer.SingleHero .VoteCount
{
    visibility: collapse;
}

.ArcanaVoteContainer.SingleHero .VotePercent
{
    visibility: collapse;
}

.ArcanaVoteContainer.HiddenResults .VoteCount
{
    visibility: collapse;
}

/* Logic related to byes */
.Bye
{
    width: 100%;
    margin-top: 6px;
    height: 64px;
    margin-bottom: 6px;
    visibility: collapse;
    flow-children: right;
}

.ByeLabel
{
    horizontal-align: left;
    vertical-align: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    min-width: 85px;
    margin-left: 8px;
}

.ByeDescription
{
    horizontal-align: left;
    vertical-align: center;
    font-size: 16px;
    margin-left: 16px;
}

.ArcanaVoteContainer.HeroBye .ByeRow1
{
    visibility: visible;
}

.ArcanaVoteContainer.HeroBye .Row1
{
    visibility: collapse;
}

.ArcanaVoteContainer.HeroBye .VoteCount 
{
    visibility: collapse;
}

.ArcanaVoteContainer.HeroBye .VotePercent 
{
    visibility: collapse;
}

.ArcanaVoteContainer.HeroBye .Row0 .MyVoteCount
{
    visibility: collapse;
}
