/* styles for the simple text tooltip */


#Contents.TitleImageTextContents
{
    min-width: 200px;
    max-width: 400px;
    flow-children: down;
    padding: 0px;
    padding-bottom: 12px;
    background-color: #1a1a1a;
}

#StatusHeader
{
    width: 100%;
    visibility: collapse;
}


#StatusText
{
    margin-top: 13px;
    background-color: #0E7AD9;
    width: 100%;
}

.CompletedLabel
{
    margin-left: 80px;
    margin-top: 3px;
    color: white;
}

#ChallengeHeader
{
    flow-children: right;
    margin-top: 12px;
    margin-left: 8px;
    
}


#TitleLabel,
#RequiredHeroLabel
{
    margin-top: 10px;
    font-size: 24px;
    color: white;
    horizontal-align: left;
    vertical-align: center;
    text-align: left;
}

#TitleLabel
{
    margin-left: 12px;
}

#RequiredHeroLabel
{
    vertical-align: middle;
}


#Image
{
    horizontal-align: center;
    margin-bottom: 10px;
    width: 100%;
	height: 113px;
}

#TextLabel
{
    
    font-size: 18px;
    color: white;
    horizontal-align: left;
    text-align: left;
    margin-left: 20px;
    margin-right: 40px;
}

#NumGamesLabel
{
    
    font-size: 18px;
    color: white;
    horizontal-align: left;
    text-align: left;
    margin-left: 20px;
    margin-right: 40px;
}

#LoreLabel
{
    
    font-size: 14px;
    font-style: italic;
    color: gray;
    horizontal-align: left;
    text-align: left;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 5px;
}

.SectionTitleBar
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    background-color: #555757;
    vertical-align: middle;
    
    height: 1px;
}

.XPCircle
{
    border-radius: 50%;
    vertical-align: center;
    horizontal-align: center;
  
    box-shadow: -2px -2px 4px 4px #000000;
    
    z-index: 1;
    pre-transform-scale2d: 1;

    background-color: XPCircleGradient;
    border: XPCircleBorder;

    transition-property: brightness, pre-transform-scale2d;
    transition-duration: .25s;
}

#RequiredHero .XPCircle
{
    margin: 20px;
    vertical-align: center;
    horizontal-align: center;
}

#StatusHeader .XPCircle
{
    margin-left: 18px;
}


.XPAmount
{
    margin-top: 6px;
    font-size: 18px;
    color: white;
    horizontal-align: center;
    text-align: center;
    vertical-align: center;
    margin-bottom: -12px;
    text-shadow: -1px 1px 8px 2 #000000bb;
}

.XPLabel
{
    background-image: url("s2r://panorama/images/compendium/totalpoints_psd.vtex");
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    horizontal-align: center;
}

.Completed #ChallengeHeader .XPCircle
{
    opacity: 0;
}

.Completed #StatusHeader  
{
    visibility: visible;
}

.Locked #ChallengeHeader .XPCircle
{
}

.Locked #StatusHeader  
{
}

.Locked #StatusText
{
}

.Locked #StatusHeader .XPCircle
{
}


#ChallengeProgress
{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
	box-shadow: inset #17531a 0px 0px 6px;
    background-color: #000000ff;
    border: BRD;
    height: 12px;
    padding: 4px;
    width: 120px;
    horizontal-align: center;
    vertical-align: bottom;
    width: 420px;
    visibility: collapse;
}

.MultipleGames #ChallengeProgress,
.MultipleGames #ChallengeProgressLabel
{
    visibility: visible;
}

#ChallengeProgress .ProgressBarLeft
{
    background-color: #a2c53a;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #afe01c ), to( #111111 ) );
    box-shadow: inset accentColorGlow 0px 0px 6px;
    border-radius: 2px;  
}

#ChallengeProgressLabel
{
    horizontal-align: center;
    vertical-align: bottom;
	margin-left: 20px;
    font-size: 18px;
    color: #75a92e;
    text-shadow: 0px 0px 8px 1.0 black;
    visibility: collapse;
}

.ChallengeProgressText 
{
    font-size:14px;
}

#HeroInfo
{
    margin-left: 20px;
    width: 100%;
}

#RequiredHeroIcon
{
    horizontal-align: center;
    vertical-align: center;
}

.Unknown #RequiredHeroIcon
{
    visibility: collapse;
}


.HideRequiredHero
{
    visibility: collapse;
}

#Unknown
{
    visibility: collapse;
    horizontal-align: center;
    vertical-align: center;
    font-size: 32px;
}

.Unknown #Unknown
{
    visibility: visible;
}

#CrimsonParcel
{
	width: 38px;
	height: 52px;
	margin-left: 24px;
	//transform: rotateX(-40deg) rotateY(-10deg) rotateZ(20deg) translateZ(120px);
	background-image: url("s2r://panorama/images/compendium/hongbao_psd.vtex");
    background-size: 100%;
}


#NewBloomReward
{
	visibility: collapse;
}

.RewardDesc,
.RewardTitle
{
	margin-left: 18px;
	color: #CB512A;
}

.RewardTitle
{
	color: #F9D163;
}

.HasNewBloomReward #NewBloomReward
{
	visibility: visible;
}

#StarCompletion
{
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
}

#QuestRanks.TooltipStars
{
    horizontal-align: right;
	margin-top: 12px;
    margin-right: 20px;
}

#CompletedBar
{
    width: 75%;
    height: 23px;
    vertical-align: bottom;
	margin-bottom: 4px;
	/* TI6 */
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #AC3C2C ), to( #BD4D3800 ) );
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #487117ff ), to( #48711700 ) );
}

.CompletedBannerText
{
    color: white;
    vertical-align: middle;
	horizontal-align: right;
    margin-right: 72px;
	margin-top: 1px;
	text-align: right;
    text-transform: uppercase;
}

#CompletedBar.Completed
{
    
}