.BuffListRoot
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 400px;
	margin-left: 550px;
	
	flow-children: down;
}

#buffs_list
{
	flow-children: right;
}

.BuffRoot
{
	margin: 3px;
	border-radius: 4px;
}

.no_buff.BuffRoot
{
	visibility: collapse;
}

#BuffFrame
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #52ae21 ), to( #2c6e08 ) );
	padding: 1px;
}

.is_debuff #BuffFrame
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a54518 ), to( #652908 ) );
}

#StackCount
{
	text-shadow: 0px 0px 6px 6 #000000;
	margin: 2px;
	vertical-align: bottom;
	horizontal-align: right;
	font-size: 18px;
	font-family: Goudy Trajan Medium;
	color: white;
	visibility: collapse;
}

.has_stacks #StackCount
{
	visibility: visible;
}

#BuffImage
{
	width: 40px;
	height: 40px;
}

#AbilityImage,
#ItemImage,
#BuffFrame
{
	border-top:		2px solid #000000CC;
	border-bottom:	2px solid #FFFFFF22;
	border-left:	2px solid #000000CC;
	border-right:	2px solid #FFFFFF22;
}

#BuffFrame
{
	border-top:		2px solid #FFFFFF22;
	border-bottom:	2px solid #000000CC;
	border-left:	2px solid #FFFFFF22;
	border-right:	2px solid #000000CC;
}

#AbilityImage
{
	width: 100%;
	height: 100%;
}
.item_buff #AbilityImage
{
	visibility: collapse;
}

#ItemImage
{
	width: 100%;
	height: 100%;
}

.ability_buff #ItemImage
{
	visibility: collapse;
}

