.InventoryOverlayRoot
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 350px;
	margin-right: 20px;
	
	flow-children: down;
}

#inventory_items
{
	flow-children: down;
	border: 2px solid black;
}

#stash_row
{
	flow-children: right;
	background-color: #222222;
	margin-bottom: 32px;
	border: 2px solid black;
}

#inventory_row_1
{
	flow-children: right;
	background-color: #222222;
}

#inventory_row_2
{
	flow-children: right;
	background-color: #222222;
}

.ItemPanel
{
	width: 88px;
	height: 64px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
	margin-right: 4px;
}

.Charges
{
	font-size: 24px;
	text-shadow: 0px 0px 6px 6 #000000;
}

#ChargeCount
{
	visibility: collapse;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 4px;
	margin-bottom: -6px;
}

#AltChargeCount
{
	font-size: 20px;
	visibility: collapse;
	vertical-align: bottom;
	horizontal-align: left;
	margin-left: 4px;
	margin-bottom: -2px;
}

.show_charges #ChargeCount
{
	visibility: visible;
}

.show_alt_charges #AltChargeCount
{
	visibility: visible;
}

#Hotkey
{
	margin-left: -4px;

	vertical-align: top;
	horizontal-align: left;
	min-width: 18px;
	min-height: 18px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
	border: 1px solid #ffffff05;
	box-shadow: fill black 1px 1px 2px 2px;
}

#HotkeyText
{
	color: #bba995;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 14px;
    font-weight: bold;
	vertical-align: center;
	text-align: center;
	width: 100%;
	margin: -2px;
}

.no_hotkey #Hotkey
{
	visibility: collapse;
}

.ItemMenu
{
	flow-children: down;
}

.dragging_from
{
	saturation: 0.5;
	wash-color: #808080;
}

#DropTargetHighlight
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( #FFFFFF ), to( #FFFFFF00 ) );
	opacity: 0;
}

.potential_drop_target #DropTargetHighlight
{
	opacity: 0.3;
}

#Contents
{
	padding: 0px;
	margin: 0px;
}

.ItemMenuButton
{
	visibility: collapse;
	width: 200px;
	height: 40px;
	border: 1px solid black;
	padding: 4px;
	padding-left: 8px;
	background-color: #291818;
}

.ItemMenuButton:hover
{
	background-color: #443837;
}

.ItemMenuButton Label
{
	font-size: 16px;
	vertical-align: center;
	color: #acaaaa;
}

.ItemMenuButton:hover Label
{
	color: #eae9e9;
}

.bSellable #Sell
{
	visibility: visible;
}
.bDisassemble #Disassemble
{
	visibility: visible;
}
.bShowInShop #ShowInShop
{
	visibility: visible;
}
.bDropFromStash #DropFromStash
{
	visibility: visible;
}
.bAlertable #Alert
{
	visibility: visible;
}
.bMoveToStash #MoveToStash
{
	visibility: visible;
}