

DOTACompShanghai2016TeamsPage .CompendiumBody
{
	width: 1392px;
	height: 700px;

	margin-top: 215px;
	border-top: 0;
	border-bottom: 0;
	background-color: transparent;

	horizontal-align: center;
}

.DataPending #TeamSelector,
.DataPending #TeamContainer
{
	visibility: collapse;
}

#TeamContainer,
#TeamSelector
{
	opacity: 0.0;
}

.DisplayTeam #TeamContainer,
.DisplayTeamSelector #TeamSelector
{
	opacity: 1;
}

#TeamSelector
{
	flow-children: down;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.DisplayTeamSelector #TeamSelector
{
	opacity: 1;
}

#TeamSelector #TeamLogo
{
	width: 128px;
	height: 128px;

	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 5px;
}

.LogoMoving #TeamSelector #TeamLogo
{
	visibility: collapse;
}

#TeamSelector .TeamLogoBG
{
	width: 100%;
	height:100%;

	border-bottom: 1px solid #497ca8;
}

#TeamSelector .Team:hover .TeamLogoBG
{
	background-color: #00000000;
}


#TeamSelector .Team
{
	flow-children: down;
	horizontal-align: center;

	margin-left: 40px;
	margin-right: 40px;
}

#TeamSelector Label
{
	width: 100%;
	height: 45px;
	text-align: center;

	margin-top: 3px;

	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1.5px;

	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;

	color: #497ca8;
}

#TeamSelector .Team:hover Label
{
	color: white;
}

#TeamContainer
{
	width: 100%;
	overflow: clip scroll;

	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}


#TeamContainer #Header
{
	width: 100%;

	margin-top: 20px;
	margin-left: 120px;
	margin-right: 120px;

	background-color: #082736;
}

#TeamContainer #Header #NameAndStatusBlock
{
	margin-top: 15px;
	margin-left: 20px;
	width: 600px;
}

#TeamLogoTransition,
#TeamContainer #TeamLogo
{
	width: 128px;
	height: 128px;

	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.LogoMoving #TeamContainer #TeamLogo
{
	visibility: collapse;
}

#TeamLogoTransition
{
	x: 120px;
	y: 20px;
}

.MidTeamTransition #TeamLogoTransition
{
	opacity: 1;
}

#TeamLogoTransition.HomePosition2586976
{
	x: 245px;
	y: -10px;
}

#TeamLogoTransition.HomePosition1838315
{
	x: 483px;
	y: -10px;
}

#TeamLogoTransition.HomePosition39
{
	x: 721px;
	y: -10px;
}

#TeamLogoTransition.HomePosition4
{
	x: 959px;
	y: -10px;
}

#TeamLogoTransition.HomePosition726228
{
	x: 245px;
	y: 173px;
}
#TeamLogoTransition.HomePosition1520578
{
	x: 483px;
	y: 173px;
}
#TeamLogoTransition.HomePosition1883502
{
	x: 721px;
	y: 173px;
}
#TeamLogoTransition.HomePosition111474
{
	x: 959px;
	y: 173px;
}

#TeamLogoTransition.HomePosition15
{
	x: 245px;
	y: 356px;
}
#TeamLogoTransition.HomePosition350190
{
	x: 483px;
	y: 356px;
}
#TeamLogoTransition.HomePosition1375614
{
	x: 721px;
	y: 356px;
}
#TeamLogoTransition.HomePosition3
{
	x: 959px;
	y: 356px;
}

#TeamLogoTransition.HomePosition2163
{
	x: 245px;
	y: 539px;
}
#TeamLogoTransition.HomePosition1148284
{
	x: 483px;
	y: 539px;
}
#TeamLogoTransition.HomePosition2244697
{
	x: 721px;
	y: 539px;
}
#TeamLogoTransition.HomePosition2621843
{
	x: 959px;
	y: 539px;
}

#TeamLogoTransition.LogoMoving
{
	transition-property: position!immediate;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#TeamContainer #Header Label
{
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 4px;
}

#TeamContainer #Header .InfoIcon
{
	width: 12px;
	margin-left: 0px;
}

#TeamContainer Label#TeamName
{
	color: #CCCCCC;
	letter-spacing: 2px;

	text-shadow: 2px 2px 4px 1.0 #000000;

	font-size: 48px;
}

.SecondaryBlueColor
{
	color: #3F759B;
}

#TeamContainer #InvitedTeam
{
	margin-left: 2px;
	visibility: collapse;
}

.IsInvitedTeam #TeamContainer #InvitedTeam
{
	visibility: visible;
}

#TeamContainer #Header Label
{
	letter-spacing: 1.4px;
}


#TeamContainer #FirstAppearance
{
	margin-left: 2px;
	visibility: collapse;
}

.IsFirstAppearanceTeam #TeamContainer #FirstAppearance
{
	visibility: visible;
}

#TeamContainer #FavoriteButton
{
	width: 200px;
}

#TeamContainer #FavoriteButton:hover
{
	brightness: 3;
}

#TeamContainer #FavoriteButton:active
{
	brightness: 2;
}

#TeamContainer #LiveBlock 
{
	width: 300px;
	height: 60px;

	margin-right: 60px;

	background-color: black;

	visibility: collapse;
}

.HasLiveGame #TeamContainer #LiveBlock 
{
	visibility: visible;
}

#TeamContainer #Roster
{
	width: 100%;
	height: 240px;

	margin-top: 20px;

	margin-left: 140px;
	margin-right: 140px;
}

#TeamContainer .PlayerContainer
{
	width: fill-parent-flow( 0.14 );
	height: 100%;

	flow-children: down;

	opacity: 0;
}

#TeamContainer .PlayerContainer.ShowPlayer 
{
	opacity: 1;
}


#TeamContainer #PlayerImage
{
	width: 100%;
	height: width-percentage( 100% );

	margin-left: 5px;
	margin-right: 5px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from(#444444), to(#888888) );

	box-shadow: -1px -1px 8px 2px black;
}

#TeamContainer #PlayerFlag
{
	width: 18px;
	height: 13px;

	margin-left: 7px;
	margin-top: 10px;
	margin-bottom: 5px;

	border: 1px solid black;


	background-color: black;
}

#TeamContainer #PlayerName
{
	margin-left: 5px;
}

#TeamContainer #PlayerNew,
#TeamContainer #PlayerSub
{
	color: #666666;

	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 14px;

	margin-left: 5px;

	visibility: collapse;
}

#TeamContainer .ShowNewPlayer #PlayerNew
{
	visibility: visible;
}

#TeamContainer .ShowSub #PlayerSub
{
	visibility: visible;
}

#PreviousTournaments
{
	width: 100%;
	height: 150px;

	margin-left: 120px;
	margin-right: 120px;

	background-color: #0C151C;
}

#PreviousTournaments Label
{
	font-size: 14px;

	text-transform: uppercase;
	color: #3F759B;
}

#PreviousTournaments #PreviousMajor
{
	width: 370px;
	height: 100%;

	visibility: collapse;
}

.WasInPreviousMajor #PreviousTournaments #PreviousMajor
{
	visibility: visible;
}

#PreviousTournaments .TournamentsTitle
{
	vertical-align: top;
	horizontal-align: left;

	margin-top: 10px;
	margin-left: 20px;

	letter-spacing: 1.5px;
}

#PreviousTournaments #PrevousMajorBody
{
	margin-top: 20px;
}

#PreviousTournaments #FallMajorLogo
{
	width: 200px;
	height: 80px;

	margin-left: 20px;
	margin-right: 20px;

	background-color: black;
}

#PreviousTournaments #Separator
{
	border: 1px solid #28445C;

	margin-top: 10px;
	margin-bottom: 10px;

	height: 100%;

	visibility: collapse;
}

.WasInPreviousMajor #PreviousTournaments #Separator
{
	visibility: visible;
}

#PreviousTournaments #OtherTournaments
{
	height: 100%;
	width: 100%;

	padding-left: 10px;
	padding-right: 10px;
}

#PreviousTournaments #OtherTournamentsList
{
	height: 100%;
	margin-top: 20px;
}

.WasInPreviousMajor #PreviousTournaments #OtherTournamentsList
{
	margin-top: 10px;
}

#PreviousTournaments .OtherTournament #TournamentLogo
{
	height: width-percentage( 40% );
}

#PreviousTournaments .OtherTournament
{
	width: fill-parent-flow( 1.0 );

	margin-left: 20px;
	margin-right: 20px;

	visibility: collapse;
}

#PreviousTournaments .OtherTournament.TournamentEnable 
{
	visibility: visible;
}

.WasInPreviousMajor #PreviousTournaments #OtherTournament3,
.WasInPreviousMajor #PreviousTournaments #OtherTournament4
{
	visibility: collapse;
}


#PreviousTournaments #OtherTournaments .TournamentFinish
{
	horizontal-align: center;
	margin-top: 4px;

	color: #185179;

	visibility: collapse;
}

#PreviousTournaments #OtherTournaments .HasTournamentFinish .TournamentFinish
{
	visibility: visible;
}

#Footer
{
	margin-top: 20px;
	margin-left: 120px;
	margin-right: 120px;

	width: 100%;

	flow-children: down;
}

#Footer #GameHistorySelector
{
	margin-left: 20px;
	margin-bottom: 5px;
}

#Footer #GameHistorySelector Label
{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1.8px;

	color: #3F759B;
}

.ShowTopGames #Footer #GameHistorySelector TextButton:hover Label
{
	color: #5F95BB;
}

.ShowTopGames #Footer #GameHistorySelector #TopGames Label
{
	color: #cccccc;
}

.ShowRecentGames #Footer #GameHistorySelector #RecentGames Label
{
	color: #cccccc;
}

#Footer #GameHistoryHeader
{
	width: 100%;
	height: 40px;

	background-color: #0C151C;
	
}

#Footer #GameHistoryHeader Label
{
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1.8px;

	vertical-align: center;

	color: #3F759B;

}


DOTACompendiumTeamsGameRow .DateColumn,
#Footer .DateColumn
{
	margin-left: 20px;
	width: 100px;
}

DOTACompendiumTeamsGameRow .TimeColumn,
#Footer .TimeColumn
{
	width: 100px;
	font-size: 13px;
}

DOTACompendiumTeamsGameRow .ResultColumn,
#Footer .ResultColumn
{
	width: 120px;
}

DOTACompendiumTeamsGameRow .TournamentColumn,
#Footer .TournamentColumn
{
	width: 280px;
	height: 24px;
	margin-right: 20px;
}

DOTACompendiumTeamsGameRow .DurationColumn,
#Footer .DurationColumn
{
	width: 180px;
}

DOTACompendiumTeamsGameRow .TypeColumn,
#Footer .TypeColumn
{
	width: 150px;

}

DOTACompendiumTeamsGameRow .ButtonsColumn,
#Footer .ButtonsColumn
{
	width: 180px;
	vertical-align: middle;

}

#Footer #GameHistoryList
{
	width: 100%;
	flow-children: right;
}

#Footer #PanelNavContainer
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
}

#Footer .TransportControls
{
	horizontal-align: right;
}

#Footer #GameHistoryList .GameHistoryPage
{
	width: 100%;
	flow-children: down;

	margin-top: 2px;

}


DOTACompendiumTeamsGameRow
{
	width: 100%;
	height: 40px;

	margin-top: 2px;
	margin-bottom: 2px;

	flow-children: right;

	opacity: 0;
	background-color: #00000044;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	transition-delay: 0s;
}

DOTACompendiumTeamsGameRow Label
{
	color: #bbbbbb;

	vertical-align: middle;

	font-size: 16px;

	margin-top: 3px;
}

.G0.G1.G2.G3.G4.G5.G6.G7.G8.G9 DOTACompendiumTeamsGameRow
{
	opacity: 1;
}

DOTACompendiumTeamsGameRow.Match0  { transition-delay: 0.02s; }
DOTACompendiumTeamsGameRow.Match1  { transition-delay: 0.04s; }
DOTACompendiumTeamsGameRow.Match2  { transition-delay: 0.06s; }
DOTACompendiumTeamsGameRow.Match3  { transition-delay: 0.08s; }
DOTACompendiumTeamsGameRow.Match4  { transition-delay: 0.10s; }
DOTACompendiumTeamsGameRow.Match5  { transition-delay: 0.12s; }
DOTACompendiumTeamsGameRow.Match6  { transition-delay: 0.14s; }
DOTACompendiumTeamsGameRow.Match7  { transition-delay: 0.16s; }
DOTACompendiumTeamsGameRow.Match8  { transition-delay: 0.18s; }
DOTACompendiumTeamsGameRow.Match9  { transition-delay: 0.20s; }

#Footer #GameHistoryList .CarouselItem
{
	opacity: 1;

	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#Footer #GameHistoryList .CarouselItem.Offscreen
{
	opacity: 0;
}



.FlatBlueButton
{
	background-color: #1c3142;

	height: 28px;

	margin-left: 4px;
	margin-right: 4px;

	vertical-align: center;

	transition-property: background-color;
	transition-duration: 0.05s;
	transition-timing-function: ease-in-out;
}

.FlatBlueButton Label
{
	transition-property: color;
	transition-duration: 0.05s;
	transition-timing-function: ease-in-out;

	color: #cccccc;

	margin-left: 10px;
	margin-right: 10px;
	min-width: 80px;

	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1.5px;
}

.FlatBlueButton:hover
{
	background-color: #315674;
}

.FlatBlueButton:hover Label
{
	color: #eeeeee;
}

.FlatBlueButton:active
{
	background-color: #254259;
}

.FlatBlueButton:active Label
{
	color: #cccccc;
}
