

DOTACompShanghai2016CastersPage .CompendiumBody
{
	width: 1392px;
	height: 700px;

	margin-top: 215px;
	border-top: 0;
	border-bottom: 0;
	background-color: transparent;
	

	horizontal-align: center;
}

#Header Label
{
	color: white;
	margin-bottom: 20px;
}

#LanguageSelection Label
{
	vertical-align: center;
	color: #A2B7CD;
	text-transform: uppercase;

	margin-top: 2px;
	margin-right: 16px;
}

#LanguageSelection DropDown Label
{
	color: white;
}

.LanguageMenu Label
{
	background-color: #222222;
}

.LanguageMenu .DropDownChild 
{
	width: 100%;
}


#TalentWell
{
	margin-top: 10px;

	flow-children: right-wrap;
	overflow: clip scroll;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_wide_psd.vtex");
	padding-left: 16px;
	padding-right: 16px;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.FadeOut #TalentWell
{
	opacity: 0;
}

DOTACompendiumCaster
{
	width: 202px;
	height: 250px;

	margin: 12px 12px;

	flow-children: down;
}

#CasterImage
{
	box-shadow: #000000aa -4px -4px 8px 8px;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

DOTACompendiumCaster .Name
{
	margin-top: 6px;

	color: white;
	letter-spacing: 1.3px;
}

DOTACompendiumCaster .RealName
{
	color: #a2b7cd;
	color: #c3b699;
}

DOTACompendiumCaster .Title
{
	margin-top: 2px;

	color: #2f7eb1;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1.5px;

	visibility: collapse;
}