/* styles for the main DOTA dashboard */

DOTAWagering
{
	opacity: 0;
	transform: translateY( -20px );
	width: 866px;

	padding-top: 44px;

	horizontal-align: center;
	transition-property: opacity, transform;
	transition-delay: 2s;
	transition-duration: 1s;
}

DOTAWagering.WageringActive,
DOTAWagering.WageringComplete
{
	opacity: 1;
	transition-delay: 0s;
	transform: translateY( 0px );
}

#CenterPanel
{
	horizontal-align: center;

	margin-top: 20px;
	width: 840px;
	height: 134px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000ff), color-stop( 0.05, #000000cc ), to( #ff000000 ) );

	transition-property: opacity, transform, background-color;
	transition-duration: 0.32s;	
}

#BackgroundStrip,
#YourWagerPanel,
#YourCoins,
#YourWinnings,
#WagerTitle
{
	transition-property: opacity;
	transition-duration: 0.32s;	
}


.Collapse #BackgroundStrip,
.Collapse #YourWagerPanel,
.Collapse #YourCoins,
.Collapse #YourWinnings,
.Collapse #WagerTitle
{
	opacity: 0;
}

#CenterPanel.Collapse
{
	transform: translateY(-100px);
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #00000000), color-stop( 0.05, #00000000 ), to( #ff000000 ) );	
}

#CenterPanel Label
{
	//horizontal-align: center;
}

#YourCoins
{
	width: 255px;

	horizontal-align: left;
	vertical-align: center;
	margin-top: 4px;

}

#YourCoinsText
{
	text-transform: uppercase;
	color: #aaaaaa;
	letter-spacing: 1px;
	text-shadow: 0px 0px 6px 4.0 black;	

	horizontal-align: right;

	tooltip-position: left;
}

#YourWagerPanel
{
	padding-top: 8px;
	padding-bottom: 8px;
	horizontal-align: center;
	vertical-align: center;
}

#BackgroundStrip
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #62C2F400 ), color-stop( 0.3, #62C2F455 ),color-stop( 0.7, #62C2F455 ), to( #62C2F400 ) );
	width: 100%;
	height: 36px;
	vertical-align: center;
}

.WageringActive #WagerButtons .PopupButton
{
	pre-transform-scale2d: 1;
	opacity: 1;
	transition-delay: 0s;
}

#WagerButtons
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

#WagerButtons .PopupButton
{
	min-width: 58px;
	min-height: 58px;
	width: 58px;
	padding: 0px;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: none;
	box-shadow: #00000055 -2px -2px 1px 4px;
	opacity: 0;
	pre-transform-scale2d: 0.2;
	vertical-align: center;
	transition-delay: 0.0s;
	transition-property: opacity, pre-transform-scale2d, saturation, brightness, transform;
	transition-duration: 0.3s, 0.3s, 0.2s, 0.2s, 0.3s;	
}

#WagerButtons .PopupButton:hover
{
	transform: translateY(-2px);
	pre-transform-scale2d: 1.05;
	transition-duration: 0.3s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;		
}

.Wager0Unavailable #WagerButtonSmall.PopupButton:hover,
.Wager1Unavailable #WagerButtonMedium.PopupButton:hover,
.Wager2Unavailable #WagerButtonLarge.PopupButton:hover,
.Wager3Unavailable #WagerButtonPremium.PopupButton:hover,
.Unowned #WagerButtonSmall.PopupButton:hover,
.Unowned #WagerButtonMedium.PopupButton:hover,
.Unowned #WagerButtonLarge.PopupButton:hover,
.Unowned #WagerButtonPremium.PopupButton:hover
{
	transform: none;
	pre-transform-scale2d: 1;
}

.Wager0Unavailable #WagerButtonSmall.PopupButton:hover .TokenImage,
.Wager1Unavailable #WagerButtonMedium.PopupButton:hover .TokenImage,
.Wager2Unavailable #WagerButtonLarge.PopupButton:hover .TokenImage,
.Wager3Unavailable #WagerButtonPremium.PopupButton:hover .TokenImage,
.Unowned #WagerButtonSmall.PopupButton:hover .TokenImage,
.Unowned #WagerButtonMedium.PopupButton:hover .TokenImage,
.Unowned #WagerButtonLarge.PopupButton:hover .TokenImage,
.Unowned #WagerButtonPremium.PopupButton:hover .TokenImage
{
	brightness: 1;
}

#WagerButtons .PopupButton:hover .TokenImage
{
	brightness: 2;
}

.PopupButton:active Label
{
	transform: translateY(0px);
}

#WagerButtons .PopupButton:active
{
	transform: translateY(2px);
	pre-transform-scale2d: 1;
}

.Wager0Unavailable #WagerButtonSmall,
.Wager1Unavailable #WagerButtonMedium,
.Wager2Unavailable #WagerButtonLarge,
.Wager3Unavailable #WagerButtonPremium,
.Unowned #WagerButtonSmall,
.Unowned #WagerButtonMedium,
.Unowned #WagerButtonLarge,
.Unowned #WagerButtonPremium
{
	brightness: 0.1;
}

.TokenImage
{
	width: 58px;
	height: 58px;
	
	border-radius: 50%;
	wash-color: #62C2F4;
	background-image: url("s2r://panorama/images/control_icons/wagertoken_psd.vtex");
	
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

	transition-property: width, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}


#WagerButtons .PopupButton Label
{
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 2px;
	text-align: center;
}

#TimeContainer
{
	padding: 3px;

	flow-children: right;
	horizontal-align: center;
	margin-top: 106px;

}

#TimeContainer:hover Label
{
	color: white;
}

#TimeContainer:hover .CloseButton
{
	wash-color: white;
	transform: translateY( -3px );
}

.Collapse #TimeContainer:hover .CloseButton
{
	wash-color: white;
	transform: translateY( -3px ) rotateX( 180deg );
}

#TimeLeft,
#WagerTitle,
#WagerTitleUnowned,
#TimeLeftLabel
{
	text-transform: uppercase;
	color: #aaaaaa;
	letter-spacing: 1px;
	text-shadow: 0px 0px 6px 4.0 black;	
}

#WagerTitle,
#WagerTitleUnowned
{
	font-size: 20px;
	margin-top: 4px;
	color: white;
	horizontal-align: center;
}

.Unowned #WagerTitle,
#WagerTitleUnowned
{
	visibility: collapse;
}

.Unowned #WagerTitleUnowned
{
	visibility: visible;
}

#TimeLeft
{
	color: white;
	text-transform: none;
}

#YourWinnings
{
	width: 245px;
	horizontal-align: right;
	vertical-align: center;
}

#YourWinningsText,
#YourWinningsTextComplete
{
	text-transform: uppercase;
	color: #aaaaaa;
	letter-spacing: 1px;
	text-shadow: 0px 0px 6px 4.0 black;	
	margin-top: 4px;

}

#RadiantWagers
{
	horizontal-align: left;
}

#DireWagers
{
	horizontal-align: right;
}

.TeamWagers
{
	width: 329px;
	height: 60px;
	margin-top: -24px;
	flow-children: right;
}

.OneFifth
{
	width: 20%;
}

.PlayerWager
{
	width: 45px;
	height: 45px;
	horizontal-align: center;

	border-radius: 50%;
	border: 1px solid #62C2F4;	

	box-shadow: #000000dd -5px -5px 10px 10px;

	opacity: 0.0;
}

@keyframes 'WagerChangedAnimation'
{
	40%
	{
		brightness: 10;
	}
	60%
	{
		brightness: 10;
	}
}

#Player0Wager.Wager0Changed,
#Player1Wager.Wager1Changed,
#Player2Wager.Wager2Changed,
#Player3Wager.Wager3Changed,
#Player4Wager.Wager4Changed,
#Player5Wager.Wager5Changed,
#Player6Wager.Wager6Changed,
#Player7Wager.Wager7Changed,
#Player8Wager.Wager8Changed,
#Player9Wager.Wager9Changed
{
	animation-name: WagerChangedAnimation;
	animation-duration: 0.50s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.PlayerWager .TokenImage
{
	height: 45px;
	width: 45px;

	padding: 0px;
	margin: 0px;
	border: 0px solid transparent;
	wash-color: #305E77;
	background-size: 105% 105%;
}

.PlayerWager.Enemy
{
	wash-color: red;
}

.PlayerWager Label
{
	width: 100%;
	text-align: center;
	color: white;
	vertical-align: middle;
	font-size: 14px;
}

.Player0Wagered #Player0Wager,
.Player1Wagered #Player1Wager,
.Player2Wagered #Player2Wager,
.Player3Wagered #Player3Wager,
.Player4Wagered #Player4Wager,
.Player5Wagered #Player5Wager,
.Player6Wagered #Player6Wager,
.Player7Wagered #Player7Wager,
.Player8Wagered #Player8Wager,
.Player9Wagered #Player9Wager
{
	opacity: 1.0;
}

.CloseButton
{
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_up_png.vtex");

	transition-property: transform;
	transition-duration: 0.15s;
	margin-left: 12px;
	margin-right: 12px;
	wash-color: white;
}

.CloseButton:hover
{
	wash-color: white;
}

.Collapse .CloseButton
{
	transform: rotateX( 180deg );
}

.WageringComplete #CenterPanel,
.WageringHidden #CenterPanel
{
	opacity: 0;
}

#WagerCompletePanel
{
	horizontal-align: center;

	transition-property: opacity;
	transition-duration: 1s;

	margin-top: 20px;

	opacity: 0;
}

#WagerCompletePanel Label
{
	color: white;
}


.WageringComplete #WagerCompletePanel
{
	opacity: 1;
}