body
{
    background-color: #eee;
}

.SelectedHeroImage,
.PickImage
{
    width: 80px;
    height: 45px;
}

.BanImage
{
    -webkit-filter: grayscale(90%);
    width: 59px;
    height: 33px;
}

#Draft
{
    background-color: #ddd;
    padding: 20px;
    padding-top: 5px;
    margin-bottom: 10px;
}

#GameInProgress
{
    background-color: #ddd;
    padding: 20px;
}