ClientUIDialogPanel
{
	width: 100%;
	height: 100%;
	background-color: #0000FF88;
	flow-children: right;
}

.Column
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

Label
{
	font-size: 60px;
	color: white;
	horizontal-align: center;
}

Button
{
	background-color: #999999;
	horizontal-align: center;
	border: 4px solid black;
	margin: 40px;
	padding: 40px;
}

Button:hover
{
	border: 4px solid white;
}

Button:active
{
	background-color: #cccccc;
}

