DOTAVRHeroLoadoutHeroDetails
{
	width: 100%;
	height: 100%;
}

#Contents
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

#ContextMenuManager
{
	width: 100%;
	height: 100%;
}

#LeftColumn
{
	width: 140px;
	margin-right: 30px;
}

#PrimaryAttributeImage
{
	height: 140px;
	width: 140px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

DOTAVRHeroLoadoutHeroDetails.Strength		#PrimaryAttributeImage { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");}
DOTAVRHeroLoadoutHeroDetails.Agility		#PrimaryAttributeImage { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex"); }
DOTAVRHeroLoadoutHeroDetails.Intelligence	#PrimaryAttributeImage { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex"); }

#MainColumn
{
	width: fill-parent-flow( 1.0 );
	flow-children: down;
}

#HeroName
{
	font-size: 120px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

#HeroAbilities
{
	flow-children: right;
}

#HeroAbilities > DOTAAbilityImage
{
	margin-right: 20px;
	width: 128px;
	height: 128px;
}

#Loadout
{
	width: 100%;
	margin-top: 40px;
	flow-children: down;
}

#HeroSlots
{
	flow-children: right;
}

#HeroSlots DOTAHeroSlotItemPicker
{
	width: 260px;
	margin-right: 15px;
}

#Store
{
	width: 100%;
	margin-top: 60px;
	flow-children: down;
}

#StoreHeader
{
	flow-children: right;
}

.SectionTitle
{
	color: white;
	font-size: 80px;
	text-transform: uppercase;
	margin-right: 40px;
}


#AvailableItemsCarousel
{
	flow-children: right;
	width: 100%;
	height: 540px;
}

#AvailableItemsCarousel .CarouselPage
{
	flow-children: right;
	width: 100%;
	height: 100%;

	transition-property: position;
	transition-duration: 0.3s;
}

#AvailableItemsCarousel DOTAStoreItem
{
	width: 423px;
	margin-right: 10px;
}

#AvailableItemsCarouselNav
{
	margin-right: 62px;
}