DOTAVRPopupEnterLobbyPassword.PopupPanel
{
	flow-children: down;
	padding: 20px 8px;
}

.PopupTitle
{
    font-weight: normal;
    font-size: 48px;
    width: 600px;
    text-align: center;
}

#PasswordEntry
{
    flow-children: right;
    horizontal-align: center;
    width: 300px;
    border: 2px solid baseBorder;

    padding: 5px 10px 3px 12px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );

}

#PasswordTextEntry
{
    height: 64px;
    width: fill-parent-flow( 1.0 );
    font-size: 50px;
    font-weight: bold;
    background-color: none;
    padding: 0px;
    border: 0px solid transparent;
}

#ClearButton
{
    height: 50px;
    width: 50px;

    vertical-align: middle;

    background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    wash-color: #888;
}
#ClearButton:hover
{
   wash-color: #fff;
}
#ClearButton:active
{
    wash-color: #ccc;
}



#NumberGrid
{
    flow-children: down;
    width: 500px;
    margin: 24px 20px 10px 20px;
    horizontal-align: center;
}

.NumberGridRow
{
    flow-children: right;
}

#NumberGrid .PopupButton
{
    width: fill-parent-flow( 1.0 );
    margin: 6px;
    padding: 6px 0px 0px 0px;
}

#NumberGrid .PopupButton.Activated
{
    sound: "ui_generic_button_click";
}

#NumberGrid .PopupButton Label
{
    color: white;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    horizontal-align: center;
}

.EmptyGridCell
{
    width: fill-parent-flow( 1.0 );
}