DOTAVRPopupWatch.PopupPanel
{
	flow-children: down;
	padding: 20px 8px;
}

#Contents
{
	flow-children: right;
}

.WatchColumn
{
	background-color: #000000ff;
	margin: 0px 8px;
	padding: 8px;
	width: 340px;
	flow-children: down;
}

.WatchColumnTitle
{
	color: white;
	font-size: 30px;
	horizontal-align: center;
}


.WatchList
{
	flow-children: down;
	width: 100%;
	overflow: squish scroll;
	height: 440px;
	padding: 8px;
}

.WatchList VerticalScrollBar
{
	width: 14px;
}

#LiveMatchList > DOTAWatchLiveGameRow
{
	margin-bottom: 8px;
}

#FriendMatchList > DOTAWatchReplayGameElement
{
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	border: 1px solid #333;
}

.WatchLeague
{
	margin-bottom: 8px;
	horizontal-align: center;
	border: 1px solid transparent;

	transition-property: border;
	transition-duration: 0.2s;
}

.WatchLeague #LogoImage
{
	width: 252px;
	height: 99px;
}

.WatchLeague:hover
{
	border: 1px solid white;
	brightness: 2.0;
}

.WatchLeague:active
{
	brightness: 1.5;
}