DOTAVRPopupSettings.PopupPanel
{
	flow-children: down;
	padding: 20px 8px;
	width: 800px;
}

#Contents
{   
	flow-children: down;
}

#Columns
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 30px;
}

#LeftColumn
{
    width: 300px;
    flow-children: down;
    margin-right: 25px;
}

#RightColumn
{
    width: 300px;
    flow-children: down;
    margin-left: 25px;
}

.title
{
    color: white;
    font-size: 26px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.Divider
{
	height: 1px;
	background-color: #363d3b;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
}

.ButtonFooter
{
	background-color: #1c1d20;
	vertical-align: bottom;
	width: 100%;
	margin-bottom: 0px;
	horizontal-align: right;
}

PopupLobbySettings .PopupButton Label
{
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 2px;
}


.OKButton
{
	horizontal-align: center;
	margin-top: 30px;
}