DOTAVRPopupAppearance.PopupPanel
{
	flow-children: down;
	padding: 20px 8px;
}

#HatContainer
{
	flow-children: down;
	width: 640px;
}

#HatList
{
	flow-children: right-wrap;
	width: 100%;
	padding: 8px;
}

#HatTitle
{
	color: white;
	font-size: 30px;
	horizontal-align: center;
}

.HatPanel #HatImage
{
	width: 128px;
	height: 85px;
}

.HatPanel
{
	margin-bottom: 8px;
	margin-left: 4px;
	margin-right: 4px;
	border: 1px solid transparent;

	transition-property: border;
	transition-duration: 0.2s;
}

.HatPanel:hover
{
	border: 1px solid white;
	brightness: 2.0;
}

.HatPanel:active
{
	brightness: 1.5;
}


/* Awful hack to force compile these images. */
#ForceCompileImages
{
	background-image: url("s2r://panorama/images/vr/dendi_head_png.vtex");
	background-image: url("s2r://panorama/images/vr/merlini_head_png.vtex");
	background-image: url("s2r://panorama/images/vr/arteezy_head_png.vtex");
	background-image: url("s2r://panorama/images/vr/puppey_head_png.vtex");
	background-image: url("s2r://panorama/images/vr/iceiceice_head_png.vtex");
	background-image: url("s2r://panorama/images/vr/bulldog_master_png.vtex");
	background-image: url("s2r://panorama/images/vr/tiny_head_png.vtex");
	background-image: url("s2r://panorama/images/vr/rubick_head_png.vtex");
	background-image: url("s2r://panorama/images/vr/bane_head_png.vtex");
	background-image: url("s2r://panorama/images/vr/sf_head_png.vtex");
	background-image: url("s2r://panorama/images/vr/antimage_head_png.vtex");
    background-image: url("s2r://panorama/images/vr/lina_head_png.vtex");
    background-image: url("s2r://panorama/images/vr/windranger_head_png.vtex");
}