DOTAVRTrackpadGripRight
{
	width: 100%;
	height: 100%;
	//background-color: #ffff0099;
}

#LeftSection
{
	width: 200px;
	height: 82px;

	//background-color: black;

	transform-origin: 0% 0%;
	transform: rotateZ( -94deg ) translateY( 200px );
}

.LeftSection Label
{
	horizontal-align: right;
	text-align: right;
}

.GripText
{
	color: white;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 24px;

	max-height: 68px;

	vertical-align: bottom;
	horizontal-align: center;

	visibility: collapse;
}

#RightSection
{
	horizontal-align: right;
	height: 100%;
}

#SelfVoice
{
	width: 80px;
	height: 80px;

	vertical-align: middle;
	margin-bottom: 40px;

	background-size: 100%;
	background-position: center;

	visibility: collapse;
}

.Transmitting #SelfVoice
{
	background-image: url("s2r://panorama/images/hud/voiceicon_regular_png.vtex");
}

.NotTransmitting #SelfVoice
{
	background-image: url("s2r://panorama/images/hud/voiceicon_mute_png.vtex");
}

.Loud #SelfVoice
{
	background-image: url("s2r://panorama/images/hud/voiceicon_loud_png.vtex");
}


.CurrentScene_hero #RotateHero,
.CurrentScene_command.PushToTalkEnabled #PushToTalk,
.CurrentScene_game.PushToTalkEnabled #PushToTalk,
.CurrentScene_command:not(.PushToTalkEnabled) #OpenMic,
.CurrentScene_game:not(.PushToTalkEnabled) #OpenMic,
.CurrentScene_command.ShowSelf #SelfVoice,
.CurrentScene_game.ShowSelf #SelfVoice
{
	visibility: visible;
}
