DOTAVRTrackpadRight
{
	width: 100%;
	height: 100%;
	//background-color: #ffff0033;
}

DOTAVRTrackpadRight.InGame .OnlyNotInGame
{
    visibility: collapse;
}

.OnlyInGame
{
	visibility: collapse;
}

DOTAVRTrackpadRight.InGame .OnlyInGame
{
	visibility: visible;
}

.OnlyCommandRoom
{
	visibility: collapse;
}

DOTAVRTrackpadRight.CommandRoom .OnlyCommandRoom
{
	visibility: visible;
}

.OnlyLeaderInCommandRoom
{
	visibility: collapse;
}

DOTAVRTrackpadRight.Leader.CommandRoom .OnlyLeaderInCommandRoom
{
	visibility: visible;
}

#MenuRow
{
	width: 100%;
	height: 30%;
}

#TrackpadRow
{
	width: 100%;
	height: 70%;
	vertical-align: bottom;
}

.LeftSide
{
	margin-right: 50%;
}

.RightSide
{
	margin-left: 50%;
}

#TeleportHint
{
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	vertical-align: center;
	margin-left: 49%;
}

#Trackpad
{
	width: height-percentage( 100% );
	height: 100%;
	margin-bottom: 5px;
	margin-left: 2px;
	//background-color: #0000ff33;
	horizontal-align: left;
}

#TouchPoint
{
	width: 10%;
	height: 10%;
	background-color: white;
	visibility: collapse;
	border-radius: 50%;
	overflow: noclip noclip;
	margin-left: -5%;
	margin-top: -5%;
}

.Touched #TouchPoint
{
	visibility: visible;
}

#TeleportArrow
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/control_icons/arrow_recycling_png.vtex");
	horizontal-align: center;
	vertical-align: center;
	width: 60%;
	height: 60%;
	transform: rotateZ( -90deg );
	wash-color: #999999;
}

.Touched #TeleportArrow
{
	wash-color: white;
}

#DirectedCamHint
{
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	vertical-align: center;
	overflow: noclip noclip;
	margin-left: 40%;
	horizontal-align: left;
}

#DirectedCamIcon
{
	margin-right: 53%;
	horizontal-align: center;
	vertical-align: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/control_icons/eye_png.vtex");
	width: height-percentage( 100% );
	height: 70%;
	wash-color: #ffffff;
	border-radius: 50%;
	border: 2px solid white;
}

#RecenterCamera
{
    color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	vertical-align: center;
	margin-left: 30%;
}

#HatIcon
{
    margin-left: 17%;
	horizontal-align: left;
	vertical-align: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/custom_game/first_place_icon_png.vtex");
	width: height-percentage( 100% );
	height: 70%;
	wash-color: #CCCCCC;
	border-radius: 50%;
	border: 2px solid white;
}