DOTAVRTrackpadLeft
{
	width: 100%;
	height: 100%;
	//background-color: #ffff0033;
}

.OnlyInGame
{
	visibility: collapse;
}

DOTAVRTrackpadLeft.InGame .OnlyInGame
{
	visibility: visible;
}

.OnlyCommandRoom
{
	visibility: collapse;
}

DOTAVRTrackpadLeft.CommandRoom .OnlyCommandRoom
{
	visibility: visible;
}

.OnlyLeader
{
	visibility: collapse;
}

DOTAVRTrackpadRight.Leader .OnlyLeader
{
	visibility: visible;
}

#MenuRow
{
	width: 100%;
	height: 30%;
}

#TrackpadRow
{
	width: 100%;
	height: 70%;
	vertical-align: bottom;
}

.LeftSide
{
	margin-right: 50%;
	horizontal-align: left;
}

.RightSide
{
	margin-left: 50%;
	horizontal-align: center;
}

#LobbyHint
{
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	vertical-align: center;
	overflow: noclip noclip;
	margin-right: 40%;
	horizontal-align: right;
}

#LobbyIcon
{
	horizontal-align: center;
	vertical-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/control_icons/spectator_large_png.vtex");
	width: height-percentage( 100% );
	height: 50%;
	wash-color: #999999;
}

#HatHint
{
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	vertical-align: center;
	overflow: noclip noclip;
	margin-right: 40%;
	horizontal-align: right;
}

#HatIcon
{
	margin-left: 47%;
	horizontal-align: center;
	vertical-align: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/custom_game/first_place_icon_png.vtex");
	width: height-percentage( 100% );
	height: 70%;
	wash-color: #CCCCCC;
	border-radius: 50%;
	border: 2px solid white;
}

#ScaleHint
{
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	vertical-align: center;
}

#Trackpad
{
	width: height-percentage( 100% );
	height: 100%;
	margin-bottom: 5px;
	margin-right: 5px;
	//background-color: #0000ff33;
	horizontal-align: right;
}

#TouchPoint
{
	width: 10%;
	height: 10%;
	background-color: white;
	visibility: collapse;
	border-radius: 50%;
	overflow: noclip noclip;
	margin-left: -5%;
	margin-top: -5%;
}

.Touched #TouchPoint
{
	visibility: visible;
}

#ZoomIcons
{
	width: 90%;
	height: 90%;
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
}

#ZoomOut
{
	width: 100%;
	height: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/control_icons/icon_zoom_out_psd.vtex");
	wash-color: #999999;
}

.Touched.UpperHalf #ZoomOut
{
	wash-color: #ffffff;
}

#ZoomIn
{
	width: 100%;
	height: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/control_icons/icon_zoom_in_psd.vtex");
	wash-color: #999999;
}

.Touched.LowerHalf #ZoomIn
{
	wash-color: #ffffff;
}
