DOTAVRWatchReplays
{
	width: 100%;
	height: 100%;
}

#title
{
	margin-top: 5px;
	color: white;
	font-size: 45px;
	width: 100%;
	text-align: center;
 	//font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}

