DOTAVRControllerPalette
{
	width: 100%;
	height: 100%;
	background-color: #0000FF88;
	flow-children: down;
	margin-bottom: 110px;
}

.Columns
{
	flow-children: right;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.Column
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

Label
{
	font-size: 60px;
	color: white;
	horizontal-align: center;
}

Button
{
	background-color: #999999AA;
	horizontal-align: center;
	border: 4px solid black;
	margin: 0px;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

Button:hover
{
	border: 4px solid white;
}

Button:active
{
	background-color: #ccccccAA;
}

Button Label
{
	vertical-align: center;
	width: 100%;
	text-align: center;
	font-size: 60px;
}

#LeaveLobbyButton
{
	height: 200px;

	visibility: collapse;
}

.InSpectatorLobby #LeaveLobbyButton
{
	visibility: visible;
}

#ScaleColumn
{
	visibility: collapse;
}

.InGame #ScaleColumn
{
	visibility: visible;
}