
.DPCGameDetailsLive
{
    flow-children: right;
    background-color: dpcPanelBG;
}

.DPCLabel
{
    font-size: 16px;
	font-weight: semi-bold;
	color: bluegreyTextReg;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.DPCGameDetailsLive_Infobox_Live
{
    font-size: 16px;
	font-weight: semi-bold;
	color: liveTextGreen;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 8px;
}

.DPCGameDetailsLive_Infobox_Live,
.DPCGameDetailsLive_Infobox_Division,
.DPCGameDetailsLive_Infobox_GameTime,
.DPCGameDetailsLive_Infobox_Upcoming
{
    margin-left: 8px;
}

.GDL__Upcoming .DPCGameDetailsLive_Infobox_Live
{
    visibility: collapse;
}
.DPCGameDetailsLive_Infobox_Upcoming
{
    visibility: collapse;
}
.GDL__Upcoming .DPCGameDetailsLive_Infobox_Upcoming
{
    visibility: visible;
}
.GDL__Upcoming .DPCGameDetailsLive_Infobox_GameTime
{
    opacity: 0;
}


.DPCGameDetailsLive_StreamContainer
{
    width: 761px;
    //height: 428px;
    flow-children: down;
    background-color: black;
}
.GameDetails__Fullscreen .DPCGameDetailsLive_StreamContainer
{
    width: 100%;
    height: 100%;
}

.DPCGameDetailsLive_Stream
{
    //width: 688px;
    //height: 385px;
    width: 761px;
    height: 428px;
}
.GameDetails__Fullscreen .DPCGameDetailsLive_Stream
{
    width: 1488px;
    height: 837px;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 131px;
    border: 1px solid grey;
}
.AspectRatio4x3 .GameDetails__Fullscreen .DPCGameDetailsLive_Stream
{
    width: 1440px;
    height: 813px;
    vertical-align: center;
    margin-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}



.DPCGameDetailsLive_Stream_Live
{
    width: 100%;
    height: 100%;
}

.DPCGameDetailsLive_Stream_Overlay
{
    width: 100%;
    height: 100%;
    visibility: collapse;
}
.GDL__StreamLive .DPCGameDetailsLive_Stream_Overlay
{
    visibility: visible;
}

.DPCGameDetailsLive_Stream_FullscreenButton
{
    width: 25px;
    height: 20px;

    horizontal-align: right;
    margin-right: 0px;

    vertical-align: bottom;
    margin-bottom: 18px;

    //background-color: #ff000040;
}
.GDL__StreamTwitch .DPCGameDetailsLive_Stream_FullscreenButton
{
    margin-right: 79px;
    margin-bottom: 9px;
    width: 31px;
    height: 31px;
}

.DPCGameDetailsLive_Stream_Loading
{
    width: 100%;
    height: 100%;
    background-color: black;
    visibility: visible;
}
.GDL__StreamLive .DPCGameDetailsLive_Stream_Loading
{
    visibility: collapse;
}

.DPCGameDetailsLive_Stream_Loading_Spinner
{
    width: 50px;
    height: 50px;
    horizontal-align: center;
    vertical-align: center;
}

.DPCGameDetailsLive_Stream_None
{
    width: 100%;
    height: 100%;
    background-color: black;
    visibility: collapse;
}
.GDL__StreamNone .DPCGameDetailsLive_Stream_None
{
    visibility: visible;
}

.DPCGameDetailsLive_Stream_None_Label
{
    horizontal-align: center;
    vertical-align: center;
    color: #505050;
    font-size: 14px;
}

.DPCGameDetailsLive_StreamViewers
{
    horizontal-align: right;
}

.DPCGameDetailsLive_Infobox
{
    width: 279px; // fill-parent-flow(1.0);
    height: 100%;
    flow-children: down;

    margin: 16px 8px 8px 8px;
}

.DPCGameDetailsLive_Infobox_Team
{
    margin-top: 20px;
    flow-children: right;
}

.DPCGameDetailsLive_Infobox_Team_Logo
{
    width: 40px;
    height: 40px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
}

.DPCGameDetailsLive_Infobox_Team_Details
{
    flow-children: down;
    width: 180px;
    margin-left: 6px;
}

.DPCGameDetailsLive_Infobox_Team_Details_Container
{
    flow-children: right;
}

.DPCGameDetailsLive_Infobox_Team_Details_Name
{
    font-size: 20px;
    color: bluegreyTextBright;
    font-weight: semi-bold;
    text-transform: uppercase;
    text-overflow: shrink;
    max-width: 172px;
    height: 24px;
}

.DPCGameDetailsLive_Infobox_Team_Details_Standings
{
    font-size: 16px;
	font-weight: semi-bold;
    color: bluegreyTextReg;
    margin-top: -2px;
}

.DPCGameDetailsLive_Infobox_Team_Details_Favorite
{
    vertical-align: center;
    visibility: collapse;
}
.GDLTeam__Favorite .DPCGameDetailsLive_Infobox_Team_Details_Favorite
{
    visibility: visible;
    margin-left: 2px;
}

.DPCGameDetailsLive_Infobox_Team_Data
{
    flow-children: down;
    vertical-align: center;
    horizontal-align: right;
    margin-bottom: 10px;
    margin-right: 6px;
}

.DPCGameDetailsLive_Infobox_Team_Score
{
    font-size: 24px;
	font-weight: semi-bold;
	color: bluegreyTextBright;
    width: 32px;
    text-overflow: shrink;
    text-align: right;
    vertical-align: top;
    margin-top: -4px;
}

.DPCGameDetailsLive_Infobox_Team_Games
{
    width: 9px;
    height: 15px;
    vertical-align: top;
    horizontal-align: right;
}

.PipContainer
{
    flow-children: right;
    width: fit-children;
    height: fit-children;
    horizontal-align: right;
}

.GDLPip
{
    background-image: url("s2r://panorama/images/dpc/game_pip_off_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
    margin: 2px 1px 1px 1px;
    brightness: 0.5;
}

.GDLPip__Hidden
{
    visibility: collapse;
}

.GDLPip__Highlighted
{
    background-image: url("s2r://panorama/images/dpc/game_pip_on_psd.vtex");
    img-shadow: 0px 0px 4px 1 #3382ff;
    brightness: 0.8;
    overflow: noclip;
}

.DPCGameDetailsLive_Infobox_Team_Games_Win
{
    background-image: url("s2r://panorama/images/dpc/game_pip_on_psd.vtex");
}

.DPCGameDetailsLive_Infobox_Pad
{
    height: fill-parent-flow(1.0);
}

.DPCGameDetailsLive_Infobox_Watch
{
    width: 100%;
    height: 36px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #4E8656 ), to( #2D4937 )  );
    //margin-bottom: 28px;
    border-radius: 3px;
    
    transition-property: brightness, saturation;
    transition-duration: 0.2s;
    brightness: 1;
    saturation: 1;

    margin: 8px;
}

.DPCGameDetailsLive_Infobox_Watch_Label
{
    horizontal-align: center;
    vertical-align: center;
    text-align: center;
    color: #ADEBAA;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: semi-bold;
    text-transform: uppercase;
}

.DPCGameDetailsLive_Infobox_Watch:disabled, .DPCGameDetailsLive_Infobox_Watch:disabled:hover
{
    saturation: 0;
    brightness: 0.1;
}

.DPCGameDetailsLive_Infobox_Watch:enabled:hover
{
    brightness: 1.4;
}

.DPCGameDetailsLive_Infobox_Watch:enabled:active
{
    brightness: 0.8;
}

