
.DPCStandings
{
    flow-children: down;
}

#StandingsHeader
{
    height: 22px;
}
.Header
{
    width: 100%;
    flow-children: right;
    padding-bottom: 6px;
    margin-top: 6px;
}
#LeftHeader
{
    width: fit-children;
    flow-children: right;
}
.StandingsButtonText
{
	font-size: 16px;
	font-weight: light;
	color: bluegreyTextReg;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.StandingsButton
{
    transition-property: brightness;
    transition-duration: 0.2s;
}

.StandingsButton:hover
{
    brightness: 2.0;
}

.StandingsButton:active
{
    brightness: 1;
}

.LinkArrow
{
	width: 12px;
    height: 12px;

	background-image: url("s2r://panorama/images/control_icons/arrow_top_right_psd.vtex");
	background-repeat: no-repeat;
	background-size: 90%;
	margin-top: 4px;
    margin-left: 2px;
    wash-color: #748B8B;
}

.DivisionSelector
{
    vertical-align: bottom;
    flow-children: right;
    margin-right: 3px;
}

.DivisionSelector RadioButton
{
    margin-left: 6px;
}

.DivisionSelector RadioButton .RadioBox
{
    visibility: collapse;
}

.DivisionSelector RadioButton Label
{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: light;
    text-shadow: 0px 0px 12px black;
    color: bluegreyTextReg;
}

.DivisionSelector RadioButton:selected  Label
{
	color: bluegreyTextBright;
	text-shadow: 0px 0px 6px 1 #79adff88;
}

#RegionsDataPanel
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
}

#RegionsList
{
    width: 100%;
    height: 100%;
    flow-children: right;
}

.RegionStandings
{
    width: fill-parent-flow( 1.0 );
    height: 100%;
    flow-children: down;
    margin-right: 12px;
    background-color: dpcPanelBGLightFade;
}

#Region6
{
    margin-right: 0px;
}

.RegionName
{
    width: 100%;
    font-size: 16px;
	font-weight: semi-bold;
	color: bluegreyTextReg;
    letter-spacing: 1px;
    padding: 4px 0px 0px 8px;
    text-transform: uppercase;
}

#RegionStandingsList
{
    width: 100%;
    flow-children: down;
}

.TeamStandings
{
    height: 26px;
    font-size: 12px;
    flow-children: right;
    width: 100%;
    padding: 2px 8px;
    transition-property: brightness;
    transition-duration: 0.2s;
}

.TeamStandings:hover
{
    //brightness: 2.0;
}

.TeamStandings:active
{
    brightness: 1.5;
}

.TeamStandings.HasTeam .TeamMissing
{
    visibility: collapse;
}

.TeamMissing
{
    color: #485959;
}

.TeamStandings.HasTeam #TeamImage,
.TeamStandings.HasTeam .TeamName,
.TeamStandings.HasTeam .TeamRecord
{
    visibility: visible;
}

.TeamStandings.Odd
{

}

.TeamStandings.Even
{
    //background-color: #11111144;
}

.TeamStandings #TeamImage
{
    width: 22px;
    height: 22px;
    margin-right: 6px;
    visibility: collapse;
    brightness: 0.55;
}

.TeamName, .TeamRecord
{
    vertical-align: center;
    font-size: 16px;
	font-weight: semi-bold;
	color: bluegreyTextDim;
    text-overflow: shrink;
    visibility: collapse;
    text-transform: uppercase;
}

.TeamRecord
{
    margin-right: 2px;
    text-align: right;
    //font-family: monospaceNumbersFont;
    letter-spacing: 0px;
}

.TeamName
{
    letter-spacing: 1px;
}

.TeamNameContainer
{
    flow-children: right;
    width: fill-parent-flow( 1.0 );
    vertical-align: center;
}

.FavoriteStar
{
    margin-top: 1px;
    margin-left: 2px;
    visibility: collapse;
}

.TeamStandingsBubble
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #61232550 ), to( #36202500 )  );
}

.TeamStandingsBubble .TeamName, .TeamStandingsBubble .TeamRecord
{
    color: #71605E;
}

.TeamFavorite
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #8AA8A80c ), to( #8AA8A800 )  );
}

.TeamFavorite #TeamImage
{
    brightness: 1;
}

.TeamFavorite .TeamName
{
    color: bluegreyTextBright;
}

.TeamFavorite .TeamRecord
{
    color: bluegreyTextReg;
}

.TeamFavorite .FavoriteStar
{
    visibility: visible;
}