
DotaDPCTeamWidget
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #0e1318fc), color-stop( 0.5, #151c24ed), to( #0e1318ee ) );
}

#AsyncContainer
{
    width: 100%;
    height: 100%;
}

.AsyncSuccessContainer
{
    flow-children: down;
}

.Header
{
    width: 100%;
    flow-children: right;
    border-bottom: 2px solid #2e384288;
    height: 40px;
}

.TeamsTabButton
{
    width: fill-parent-flow( 1.0 );
    height: 100%;
}

.TeamsTabButtonContents
{
    horizontal-align: center;
    vertical-align: middle;
    flow-children: right;
}

.TeamsTabButton Label
{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    color: bluegreyTextReg;
    font-weight: light;

    margin-top: 2px;
    transition-property: color;
    transition-duration: 0.2s;
}

.TeamsTabButton:selected Label
{
    color: bluegreyTextBright;
	text-shadow: 0px 0px 6px 1 #79adff88;
}

.TeamsTabButton:hover Label
{
    color: bluegreyTextBright;
}

.TeamsTabButton .DPCFavoriteStar
{
    width: 15px;
    height: 15px;
    margin-right: 4px;
    vertical-align: middle;
}


.TeamsContainer
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
}

#TeamsList
{
    width: 100%;
    height: 100%;
    flow-children: down;
    overflow: squish scroll;

}

.NoFavoritesText
{
    vertical-align: top;
    horizontal-align: center;
    color: bluegreyTextReg;
    text-align: center;
    padding: 0px 16px;
    margin-top: 60px;

    visibility: collapse;
}

.ShowingFavorites:not(.HasTeams) .NoFavoritesText
{
    visibility: visible;
}

.TeamInfo
{
    width: 100%;
    flow-children: down;
    border-bottom: 2px solid #2e384288;
    background-color: dpcPanelBGLightFade;
}

.TeamHeader
{
    flow-children: right;
    padding: 12px;
}

.TeamInfo #TeamImage
{
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.TeamName
{
    color: bluegreyTextBright;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: semi-bold;
    font-size: 18px;
    height: 20px;
    text-overflow: shrink;
}

.TeamRank
{
    color: bluegreyTextReg;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: semi-bold;
}

.TeamDetails
{
    flow-children: down;
    vertical-align: middle;
    width: fill-parent-flow( 1.0 );
}

.TeamRecord
{
    color: bluegreyTextReg;
    vertical-align: top;
    font-size: 18px;
    font-weight: semi-bold;
    margin-top: 4px;
}

.TeamBody
{
    width: 100%;
    flow-children: right;
}

.TeamSeriesSummary
{
    flow-children: down;
    width: fill-parent-flow( 1.0 );
    padding: 0px 12px 4px 12px;
}

.TeamSeries
{
    width: 100%;
    height: 20px;
    flow-children: right;
    margin-bottom: 4px;
    font-weight: semi-bold;
    color: bluegreyTextReg;
    font-size: 16px;
    letter-spacing: 1px;
}

.TeamSeries Label
{
    text-transform: uppercase;
    color: bluegreyTextReg;
    font-size: 16px;
    vertical-align: middle;
}

.MissingSeries
{
    letter-spacing: 2px;
}

.TeamInfo.HasNextSeries .TeamNextSeries .MissingSeries,
.TeamInfo.HasLastSeries .TeamLastSeries .MissingSeries
{
    visibility: collapse;
}

.HasSeries
{
    flow-children: right;

    visibility: collapse;
}

.TeamInfo.HasNextSeries .TeamNextSeries .HasSeries,
.TeamInfo.HasLastSeries .TeamLastSeries .HasSeries
{
    visibility: visible;
}


.TeamSeriesLabel
{
    width: 60px;
    text-align: right;
    margin-right: 12px;
    letter-spacing: 1px;
}

.TeamSeriesImage
{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    transform: translateY( -2px );
}

.TeamSeries .TeamLastSeriesOutcome
{
    color: white;
}


.TeamInfo #TeamFavoriteButton
{
    height: 58px;
    width: 56px;
	background-image: url("s2r://panorama/images/dpc/ticker_bg_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
    transition-duration: 0.2s;
    transition-property: background-image, brightness;
}
.TeamInfo #TeamFavoriteButton:hover
{
    brightness: 1.2;
}
.TeamInfo #TeamFavoriteButton:active
{
    brightness: 1.0;
}

.TeamInfo #TeamFavoriteButton .DPCFavoriteStar
{
    horizontal-align: right;
    vertical-align: bottom;

    width: 20px;
    height: 20px;
    margin-right: 12px;
    margin-bottom: 12px;

    transition-property: background-image;
    //transition-duration: 0.2s;
    background-image: url("s2r://panorama/images/dpc/favorite_star_off_psd.vtex");
}

.TeamInfo.TeamFavorite #TeamFavoriteButton .DPCFavoriteStar
{
    background-image: url("s2r://panorama/images/dpc/favorite_star_psd.vtex");
}

VerticalScrollBar:active .ScrollThumb, HTMLVerticalScrollBar:active  .ScrollThumb
{
    background-color: #3A444488;
}