#MainContents
{
    horizontal-align:center;
	width: fill-parent-flow( 1.0 );
	height:100%;
	opacity-mask: url("s2r://panorama/images/dpc/ticker_mask_psd.vtex");
	padding-left: 30px;
}

.WatchDPCHomeSchedule
{
	flow-children: right;
}

#LeftArrow,
#InvisibleLeftArrow,
#RightArrow,
#LeftArrow4x3,
#RightArrow4x3
{
	height: 100%;
	width: 110px;

	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
	img-shadow: 1px 1px 8px 1.0 #333333;
	brightness: 0.9;

	transition-property: brightness;
	transition-duration: 0.2s;
}

#LeftArrow.Activated,
#InvisibleLeftArrow.Activated,
#RightArrow.Activated,
#LeftArrow4x3.Activated,
#RightArrow4x3.Activated
{
	sound: "ui_topmenu_swt";
}

#InvisibleLeftArrow
{
	width: 92px;
}

#LeftArrow:hover,
#RightArrow:hover,
#LeftArrow4x3:hover,
#RightArrow4x3:hover
{
	brightness: 1.2;
}

#LeftArrow,
#LeftArrow4x3
{
	background-image: url("s2r://panorama/images/dpc/ticker_arrow_left_psd.vtex");
}

#RightArrow,
#RightArrow4x3
{
	background-image: url("s2r://panorama/images/dpc/ticker_arrow_right_psd.vtex");

	width: 220px;
	background-size: contain;
	background-position: 100% 50%;

	horizontal-align: right;
}

#CarouselContainer
{
	height: 100%;
	width: 100%;
}

#DivisionInvisibleButtonContainer
{
	height: 100%;
	width: fit-children;
}

#Schedule
{
	overflow: noclip;
}

#ScheduleDescriptor
{
	width: 288px;
	height: 100%;

	background-image: url("s2r://panorama/images/dpc/ticker_title_bg_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: -36px;
	//img-shadow: 1px 1px 8px 1.0 #333333;

	flow-children: down;

	brightness: 0.9;

	transition-property: brightness;
	transition-duration: 0.2s;

	z-index: 1;
}

#ScheduleDescriptor:hover
{
	brightness: 1.2;
}

.ScheduleWidgetContainer
{
	height: 100%;
	width: 340px;

	transition-property: position, opacity, background-image;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier( 0.785, 0.385, 0.555, 1.505 );

	background-image: url("s2r://panorama/images/dpc/ticker_bg_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: -24px;
}

.ScheduleWidgetContainer:hover
{
	//background-image: url("s2r://panorama/images/dpc/ticker_bg_hover_psd.vtex");
}

.HightlightedMatch.ScheduleWidgetContainer
{
	background-image: url("s2r://panorama/images/dpc/ticker_bg_selected_psd.vtex");
}
.LiveGame.ScheduleWidgetContainer
{
	background-image: url("s2r://panorama/images/dpc/ticker_bg_live_psd.vtex");
}
.LiveGame.HightlightedMatch.ScheduleWidgetContainer
{
	background-image: url("s2r://panorama/images/dpc/ticker_bg_selected_live_psd.vtex");
}
.ScheduleWidgetContainer.Offscreen
{
	opacity: 0.0;
}

.ShowFullScheduleContainer,
.CarouselInitialItemContainer
{
	width: 340px;
	height: 100%;

	background-image: url("s2r://panorama/images/dpc/ticker_bg_endcap_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	img-shadow: 1px 1px 8px 1.0 #333333;

	brightness: 0.9;

	transition-property: position, opacity, brightness;
	transition-duration: 0.2s;
	overflow: noclip;
	margin-left: -36px;
}

.ShowFullScheduleContainer.Offscreen,
.CarouselInitialItemContainer.Offscreen
{
	opacity: 0.0;
}

.ShowFullScheduleContainer:hover
{
	brightness: 1.2;
}


.ScheduleWidget
{
    height: 100%;
	width: 250px;
	margin-left: 48px;
}

.ScheduleWidget.Offscreen
{
	opacity: 0.0;
}

.DayBreak
{
	visibility: collapse;

	height: 100%;
	width: 40px;
	margin-left: 11px;

	//background-color: blue;

	background-image: url("s2r://panorama/images/dpc/ticker_divide_psd.vtex");
	background-size: cover;
	transition-property: position, opacity;
	transition-duration: 0.2s;
	overflow: noclip;
	opacity: 0.2;
}

.HasDayBreak .DayBreak
{
	visibility: visible;
}


#Team1, #Team2
{
    width:32px;
    height:32px;
    background-color:#000D;
    horizontal-align:center;
}

.VersusLabel
{
    vertical-align:center;
}

.ScheduleUpcoming
{
    width:150px;
}

#DPCLogo
{
	//background-image: url("s2r://panorama/images/dpc/dpc_logo_text_psd.vtex");
	//background-repeat: no-repeat;
	//background-size: cover;
	//width: 112px;
	//height: 38px;
	horizontal-align: center;
	margin-top: 24px;
}

#ScheduleHeader
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 6px;
}

#DivisionCycleHeader
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 6px;
	
	transition-property: brightness;
	transition-duration: 0.2s;
}

#DivisionCycleDescriptor:hover #DivisionCycleHeader
{
	brightness: 2.5;
}

#DivisionCycleDescriptor:active #DivisionCycleHeader
{
	brightness: 3.0;
}

#DivisionCycleDescriptor
{
	width: 288px;
	height: 100%;

	background-image: url("s2r://panorama/images/dpc/ticker_title_bg_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: -36px;
	//img-shadow: 1px 1px 8px 1.0 #333333;

	flow-children: down;

	brightness: 0.9;

	transition-property: brightness;
	transition-duration: 0.2s;

	z-index: 1;
}

#DivisionCycleDescriptor:hover
{
	//brightness: 1.2;
}


#ScheduleDescriptor:hover #ScheduleHeader
{
	brightness: 1.5;
}

#Division1Link,
#Division2Link,
#DivisionAllLink
{
	visibility: collapse;
}

.DivisionFilter1 #Division1Link
{
	visibility: visible;
}

.DivisionFilter2 #Division2Link
{
	visibility: visible;
}

.DivisionFilterAll #DivisionAllLink
{
	visibility: visible;
}


.DivisionCycleLink,
.ScheduleLink
{
	font-size: 16px;
	/* font-weight: light; */
	color: bluegreyTextReg;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin-left: 4px;
}

.ShowFullScheduleContainer #ScheduleHeader
{
	margin-top: 44px;
	text-overflow: shrink;
}

.LinkArrow
{
	width: 12px;
	height: 12px;

	background-image: url("s2r://panorama/images/control_icons/arrow_minimal_dropdown_psd.vtex");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;
	margin-top: 3px;
	margin-left: 1px;
	wash-color: #485959;
}

.Match
{
    horizontal-align:center;
}

.MatchStatus
{
    height: 20px;
    width: 100%;

	margin-top: 8px;
	margin-bottom: 2px;
}

.MatchStatusText,
.MatchStatusFutureGameContainer
{
	height: 100%;
	width: fit-children;
	max-width: 180px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: semi-bold;
	color: bluegreyTextReg;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.MatchStatusFutureGame
{
	font-size: 16px;
	font-weight: semi-bold;
	color: bluegreyTextReg;
	text-overflow: shrink;
}

.MatchStatusPastGame,
.MatchStatusLiveGame,
.MatchStatusFutureGameContainer
{
	visibility: collapse;
}

.PastGame .MatchStatusPastGame
{
	visibility: visible;
}

.LiveGame .MatchStatusLiveGame
{
	visibility: visible;
}

.FutureGame .MatchStatusFutureGameContainer
{
	visibility: visible;
}

.MatchStatusFutureGameContainer
{
	flow-children: right;
}

.FutureMatchIsToday .MatchStatusFutureGame_Day
{
	visibility: collapse;
}

.MatchStatusDivision
{
    height: 100%;
    width: fill-parent-flow( 1.0 );

	text-align: right;
	font-size: 16px;
	font-weight: bold;
	color: bluegreyTextReg;
	letter-spacing: 1px;
	text-overflow: shrink;
}

.TeamRow
{
	height: 32px;
	margin-top: 4px;
    width: 100%;
}

.TeamDetails
{
    height: 100%;
    width: 212px;
}

.TeamWins,
.TeamRecord
{
	visibility: collapse;
	
    width: fill-parent-flow( 1.0 );
    text-align: right;
	vertical-align: center;
	font-weight: semi-bold;
}

.TeamRecord
{
	color: bluegreyTextDim;
	font-size: 16px;
}

.TeamWins
{
	color: bluegreyTextReg;
}

.Team1Winner #TeamName_1, .Team2Winner #TeamName_2
{
	color: bluegreyTextBright;
}

.PastGame .TeamName
{
	color: bluegreyTextReg;
}

.TeamFavorite
{
	visibility: collapse;

	margin-left: 2px;
	vertical-align: center;
}

.Team1Favorite #TeamFavorite_1
{
	visibility: visible;
}

.Team2Favorite #TeamFavorite_2
{
	visibility: visible;
}

.Team1Winner.PastGame #TeamWins_1.TeamWins, .Team2Winner.PastGame #TeamWins_2.TeamWins
{
	color: bluegreyTextBright;
}

.PastGame .TeamWins,
.LiveGame .TeamWins
{
	visibility: visible;

	font-size: 20px;
}

.FutureGame .TeamRecord
{
	visibility: visible;
}


// 16x10
.AspectRatio16x10 #MainContents
{
	padding-left: 0px;
	margin-left: -20px;
}

.AspectRatio16x10 #InvisibleLeftArrow
{
	visibility: collapse;
}

.AspectRatio16x10 #RightArrow
{
	width: 110px;
}

// 4x3
.AspectRatio4x3 #MainContents
{
	padding-left: 0px;
	margin-left: -20px;
}

.AspectRatio4x3 #InvisibleLeftArrow
{
	visibility: collapse;
}

#LeftArrow4x3,
#RightArrow4x3
{
	visibility: collapse;
}

.AspectRatio4x3 #LeftArrow,
.AspectRatio4x3 #RightArrow
{
	visibility: collapse;
}

.AspectRatio4x3 #LeftArrow4x3,
.AspectRatio4x3 #RightArrow4x3
{
	visibility: visible;
}

.AspectRatio4x3 #RightArrow4x3
{
	width: 110px;
}
