
#VideoPanel
{
	width: 100%;
	height: 100%;
}

.FrontpageCellTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #df090d ), to( #ff8244 ) );
}

.FrontpageCellFooter
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.7, #000000dd ), to( #000000dd ) );
}
