.UnderlordsEarlyAccessCell
{
	flow-children: down;
	background-color: black;

	background-image: url("s2r://panorama/images/underlords/underlords_bg_png.vtex");
	background-size: cover;
	background-position: center;
}

#Title
{
	width: 100%;
	text-align: center;
	font-size: 32px;
	letter-spacing: 1px;
	font-weight: bold;
	margin-top: 12px;
	text-transform: uppercase;
	color: white;
}

#Subtitle
{
	/*width: 100%;*/
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 108px;
	background-color: #000000;
	font-weight: black;
	font-size: 16px;
	horizontal-align: center;
	padding: 2px 20px 2px 20px;
}

#Description {
	color: #ffffff;
	font-weight: semi-bold;
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 0px 3px #000000;
	font-size: 16px;
	margin-top: 10px;
}

#Logo
{
	horizontal-align: center;
	width: 100px;
	height: 100px;

	background-image: url("s2r://panorama/images/underlords/underlords_logo_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#SteamLogo {
	background-image: url("s2r://panorama/images/icon_steamlogo_small_psd.vtex");
	margin-left: 30px;
}

#BlogLink {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 3px;
	text-decoration: underline;
	horizontal-align: center;
	margin-bottom: 16px;
	color: #ffffff;
}

#BlogLink:hover {
	color: accentColor;
}

#ActionStatus
{
	width: 100%;
	visibility: collapse;
}

#ActionStatus.HasEventData.HasActionData 
{
	visibility: visible;
}

.ActionState
{
	width: 100%;
	visibility: collapse;
	color: #ffffff;
}

.ActionState Label {
	color: grey;
	text-transform: uppercase;
	horizontal-align: center;
	font-weight: bold;
	margin-bottom: 15px;
	letter-spacing: 3px;
}

.UnderlordsButton {
	width: 300px;
	border: 1px solid #ffffff;
	/*height: 60px;*/
}

.UnderlordsButton:hover {
	background-color: #ffffff10;
}

.UnderlordsButton Label {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 0px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	horizontal-align: center;
	margin-bottom: 0px;
}

#ActionStatus:not(.OwnsEvent) #NotEligible,
#ActionStatus.OwnsEvent:not(.HasActionScore) #Claimable,
#ActionStatus.OwnsEvent.HasActionScore #AlreadyClaimed
{
	visibility: visible;
}


/*#NotEligibleDesc*/
/*{*/
	/*text-align: center;*/
	/*horizontal-align: center;*/
	/*color: #999;*/
	/*font-size: 16px;*/
	/*margin-bottom: 8px;*/
/*}*/

#ClaimButton,
#FriendKeysButton,
#SteamButton
{
	horizontal-align: center;
	margin-bottom: 12px;
}

#AlreadyClaimed
{
	flow-children: down;
}

/*#AlreadyClaimedTitle*/
/*{*/
	/*text-align: center;*/
	/*horizontal-align: center;*/
	/*text-transform: uppercase;*/
	/*letter-spacing: 2px;*/
	/*color: textAccentColor;*/
/*}*/

/*#AlreadyClaimedDesc*/
/*{*/
	/*text-align: center;*/
	/*horizontal-align: center;*/
	/*color: #999;*/
	/*font-size: 16px;*/
/*}*/