
#FrontpageCompendiumUpSale
{
}

#FrontpageCompendiumUpSale > Panel
{
	perspective: 130px;
	perspective-origin: 40% 70%;

	transition-property: perspective, perspective-origin;
	transition-duration: 0.9s;
	transition-timing-function: ease-in-out;
}

#FrontpageCompendiumUpSale:hover #UpsellBackgroundImage
{
 	brightness: 2;
}


#UpsellBackgroundImage
{
	width: 100%;
	height: 100%;
	transform: translateZ( -700px ) translateY( -50px );
	pre-transform-scale2d: 2;
	background-image: url("s2r://panorama/images/banners/layeredcell/upsell_background_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	
	transition-property: brightness;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	
}


.UpsellLayer
{
	width: 336px;
	height: 232px;
	
	
	background-image: url("s2r://panorama/images/banners/layeredcell/layer1_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	
	
	animation-name: SingleItemBillboardMotion;
	animation-duration:13s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#Layer1
{
	overflow: noclip;
	background-image: url("s2r://panorama/images/banners/layeredcell/layer1_png.vtex");
	animation-name: SingleItemBillboardMotion1;
}
#Layer2
{
	overflow: noclip;
	background-image: url("s2r://panorama/images/banners/layeredcell/layer2_png.vtex");
	animation-name: SingleItemBillboardMotion2;
}
#Layer3
{
	overflow: noclip;
	background-image: url("s2r://panorama/images/banners/layeredcell/layer3_png.vtex");
	animation-name: SingleItemBillboardMotion3;
}
#Layer4
{
	overflow: noclip;
	background-image: url("s2r://panorama/images/banners/layeredcell/layer4_png.vtex");
	animation-name: SingleItemBillboardMotion4;
}


.SingleItemBillboard
{
	width: 720px;
	height: 480px;
//	border: 2px solid black;
	border-radius: 0.1px;

	animation-name: SingleItemBillboardMotion;
	animation-delay: 0s;
	animation-duration: 13s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	
	opacity: 0;
	//transform: translateZ( 0px ) translateX( 0px ) translateY( 0px ) rotateY( 0deg ) rotateX( 0deg );
}

.ItemImage
{
	width: 75px;
	height: 105px;
	vertical-align: middle;
	horizontal-align: center;
	border: 1px solid black;
	border-radius: 0.1px;
	box-shadow: fill #00000099 -6px -6px 12px 12px;

	animation-name: none;
	animation-delay: 0s;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

	background-image: url("s2r://panorama/images/banners/singleitemtreasure/item01_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

@keyframes 'SingleItemBillboardMotion1'
{
	0%	{	transform: translateZ( -60px ) translateX( -0px ) translateY( -20px ) rotateY( 10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -60px ) translateX( -3px ) translateY( -20px ) rotateY( 10deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -60px ) translateX( -0px ) translateY( -20px ) rotateY( 10deg ) rotateX( 3deg ); }
}

@keyframes 'SingleItemBillboardMotion2'
{
	0%	{	transform: translateZ( -30px ) translateX( -0px ) translateY( -20px ) rotateY( 10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -30px ) translateX( -1px ) translateY( -20px ) rotateY( 10deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -30px ) translateX( -0px ) translateY( -20px ) rotateY( 10deg ) rotateX( 3deg ); }
}

@keyframes 'SingleItemBillboardMotion3'
{
	0%	{	transform: translateZ( -0px ) translateX( -0px ) translateY( -20px ) rotateY( 10deg ) rotateX( 3deg ); }
	40%	{	transform: translateZ( 8px ) translateX( -5px ) translateY( -22px ) rotateY( 10deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -0px ) translateX( -0px ) translateY( -20px ) rotateY( 10deg ) rotateX( 3deg ); }
}

@keyframes 'SingleItemBillboardMotion4'
{
	0%	{	transform: translateZ( 30px ) translateX( -20px ) translateY( -20px ) rotateY( 10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( 40px ) translateX( -10px ) translateY( -10px ) rotateY( 7deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( 30px ) translateX( -20px ) translateY( -20px ) rotateY( 10deg ) rotateX( 3deg ); }
}

#Item01.SingleItemBillboard { animation-name: SingleItemBillboardMotion1; }
#Item02.SingleItemBillboard { animation-name: SingleItemBillboardMotion2; }
#Item03.SingleItemBillboard { animation-name: SingleItemBillboardMotion3; }
#Item04.SingleItemBillboard { animation-name: SingleItemBillboardMotion4; }
#Item05.SingleItemBillboard { animation-name: SingleItemBillboardMotion5; }
#Item06.SingleItemBillboard { animation-name: SingleItemBillboardMotion6; }
#Item07.SingleItemBillboard { animation-name: SingleItemBillboardMotion7; }
#Item08.SingleItemBillboard { animation-name: SingleItemBillboardMotion8; }
#Item09.SingleItemBillboard { animation-name: SingleItemBillboardMotion9; }
#Item10.SingleItemBillboard { animation-name: SingleItemBillboardMotion10; }
#Item11.SingleItemBillboard { animation-name: SingleItemBillboardMotion11; }


#SingleTreasureIcon
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 22px;
	margin-right: 6px;
	overflow: noclip;
	width: 40%;
	height: 40%;
	background-image: url("s2r://panorama/images/banners/singleitemtreasure/singletreasure_icon_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

}
