
#BackgroundImage
{
	background-image: url("s2r://panorama/images/front_page/dota_plus_debut_tall_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
}

#Contents
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
}

#PlusLogoPanel
{
	width: 128px;
	height: 100px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
	horizontal-align: center;
	overflow: clip;
}

#PlusLogoScene
{
	width: 128px;
	height: 100px;
	horizontal-align: center;
	vertical-align: center;
}

#Title
{
	font-size: 44px;
	letter-spacing: 2px;
	text-transform: uppercase;
	horizontal-align: center;
	font-weight: bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( #987346 ), to( #d8d6d6 ) );
}

#Subtitle
{
	color: dotaPlusGold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	horizontal-align: center;
	text-align: center;
	margin-bottom: 12px;

}

#SubscribeButton
{
	width: 100%;
	background-color: dotaPlusGoldGradient;
}

#SubscribeButton Label
{
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding: 6px 8px 6px 8px;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
	horizontal-align: center;
}

#SubscribeButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #d8a253 ), to( #ecdf90 ) );
}

#SubscribeButton:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ca974d ), to( #dfd388 ) );
}
