
.FrontpageTakeover
{
}

.FrontpageTakeover:hover
{
}

#MainContents
{
	flow-children: down;
	width: 100%;
	height: 100%;

	margin-top: 30px;
	margin-right: 16px;

	box-shadow: 0px 0px 12px backgroundBrightColor&88;

	transition-property: box-shadow;
	transition-duration: 0.28s;
	transition-timing-function: ease-in-out;
}

#MainContents:hover
{
	box-shadow: 0px 0px 16px backgroundBrightColor&88;
}

#Header
{
	width: 100%;
	flow-children: right;
	background-color: black;
	padding: 8px 8px 0px 8px;
	
	
	background-image: url("s2r://panorama/images/front_page/ti9_front_bar_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

.Title
{
	text-transform: uppercase;
	font-size: 48px;
	color: #ccc;
	margin-left: 8px;
	margin-bottom: 8px;

	background-image: url("s2r://panorama/images/compendium/international2019/compendium/international_logo_text_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	width: 400px;
	height: 47px;

}

#Countdown
{
	flow-children: down;
	vertical-align: middle;
	transform: translateY( -3px );
}

#Countdown.CountdownAfterEnd
{
	visibility: collapse;
}

.CountdownHeader
{
	text-transform: uppercase;
	letter-spacing: 4px;
	color: accentColorBright;
	font-size: 16px;
}

.CountdownTime
{
	
	horizontal-align: center;
	letter-spacing: 4px;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

#Contents
{
	width: 100%;
	height: 100%;
	padding-top: 16px;
	padding-left: 16px;
	background-color: #000000BA;
}

#FrontpageContents
{
	ui-scale: 80.7%;
}

#Overlay
{
	width: 100%;
	height: 100%;
	overflow: clip;
}

#Aegis
{
	width: 300px;
	height: 300px;
	transform: translateX( 794px ) translateY( 70px );

	transition-property: opacity;
	transition-duration: 0.4s;
}

.TriviaVisible .FrontpageTakeover
{
	width: 688px;
}

.TriviaVisible #VideoStreamTwitch
{
	margin-left: 52px;
}

.TriviaVisible #Aegis,
.TriviaVisible #Countdown,
.TriviaVisible #Blog,
.TriviaVisible #NewsCarousel,
.TriviaVisible #NewPlayers
{
	visibility: collapse;
}

.TriviaVisible #Contents .FrontpageCell
{
	width: 210px;
}


#FirstCell
{
	width: 268px;
	height: 188px;

	margin-right: 16px;
}

#TeamScene
{
	width: 100%;
	height: 100%;
	z-index: -1;
}


#EventDetails
{
	vertical-align: bottom;
	flow-children: down;
	horizontal-align: right;
	width: 200px;
	padding-bottom: 20px;

	transition-property: opacity;
	transition-duration: 0.4s;
}

.EventDetailsTitle
{
	margin-top: 20px;
	color: white;
	text-shadow: 1px 1px 0px black;
	text-transform: uppercase;
	letter-spacing: 1px;
	horizontal-align: center;
}

.EventDetailsText
{
	font-size: 17px;
	color: #999;
	text-shadow: 1px 1px 0px black;
	horizontal-align: center;
}

#GrimstrokeBackground
{
	width: 420px;
	height: 391px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 39px;
	margin-bottom: 16px;
	border: 2px solid black;

	transition-property: opacity;
	transition-duration: 0.4s;

	opacity: 0.0;
}

#GrimstrokeHitTarget
{
	width: 420px;
	height: 391px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 39px;
	margin-bottom: 16px;

	visibility: collapse;
}

#GrimstrokeModel
{
	width: 440px;
	height: 665px;
	horizontal-align: right;
	margin-right: 24px;
	pre-transform-scale2d: .9;
	brightness: 0.95;

//	transform:translate(15,-190);
    transform:translateY(-190px);
	opacity-mask: url("s2r://panorama/images/masks/softedge_sharper_bottom_png.vtex");

	transition-property: opacity, pre-transform-scale2d, brightness;
	transition-duration: 0.4s;

	opacity: 0.0;
}

.GrimstrokeHighlighted #GrimstrokeModel
{
	pre-transform-scale2d: 1;
	brightness: 1.5;
}

#GrimstrokeTitle
{
	width: 499px;
	height: 100px;

	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 40px;
	margin-bottom: 28px;
	ui-scale: 86%;

	background-image: url("s2r://panorama/images/front_page/grimstroke_title_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	transition-property: opacity, pre-transform-scale2d, brightness;
	transition-duration: 0.4s;

	opacity: 0.0;
}

.GrimstrokeHighlighted #GrimstrokeTitle
{
	pre-transform-scale2d: 1.05;
	brightness: 1.5;
}


.Language_schinese #GrimstrokeTitle,
.Language_tchinese #GrimstrokeTitle
{
	background-image: url("s2r://panorama/images/front_page/grimstroke_title_chinese_png.vtex");
	margin-right: 34px;
}

#CarouselDots
{
	flow-children: right;
	horizontal-align: right;
	margin-top: 120px;
	margin-right: 44px;
}

.CarouselDot
{
	width: 20px;
	height: 20px;
	margin-right: 6px;
	border: 3px solid black;
	box-shadow: 0px 0px 4px black;

	background-color: black;
	border-radius: 50%;

	transition-property: background;
	transition-duration: 0.2s;
}

.CarouselDot:hover
{
	brightness: 2.0;
}

.CarouselDot:active
{
	brightness: 1.5;
}

.GrimstrokeVisible #GrimstrokeCarouselDot
{
	background-color: #aa0000;
}

#InternationalTakeover:not(.GrimstrokeVisible) #NormalCarouselDot
{
	background-color: #aa0000;
}

.GrimstrokeVisible #GrimstrokeBackground,
.GrimstrokeVisible #GrimstrokeModel,
.GrimstrokeVisible #GrimstrokeTitle
{
	opacity: 1.0;
}

.GrimstrokeVisible #Aegis,
.GrimstrokeVisible #EventDetails
{
	opacity: 0.0;
}

.GrimstrokeVisible #GrimstrokeHitTarget
{
	visibility: visible;
}