

.UnderhollowCell
{

}

#BackgroundImage
{

	background-size: cover;
}

#Model,
#Model_FG
{
	width: 100%;
	height: 100%;
	
	transition-property: opacity, wash-color;
	transition-duration: 1s;
	transition-delay: 0s, 1s;
	transition-timing-function: ease-in;	
}

#Model
{
	wash-color: black;	
	background-color: black;
}

#Model_FG
{
	wash-color: black;	
}

#Model.SceneLoaded,
#Model_FG.SceneLoaded
{
	opacity: 1;
	wash-color: white;
}

.TitleFx
{
	horizontal-align: center;
	margin-top: 350px;
}

.CampaignTitle
{
	font-size: 30px;
	font-family: defaultFont;
	text-transform: uppercase;
	font-weight: black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #000 ), to( #1b2f2d ) );
	padding: 30px 24px 0 24px;
	text-shadow: 0px 0px 10px 1.5 #5fa39d;
	letter-spacing: 1px;
	horizontal-align: center;
	text-align: center;
	letter-spacing: 6px;
	width: 336px;
	text-overflow: shrink;
}

.CampaignTitle.Rim
{
	transform: translateX(-1px) translateY(1px);
	text-shadow: 0px 0px 2px 2.0 #000;
	color: gradient( linear, 0% 0%, 0% 100%, from( #d9bee6 ), color-stop( .2, #615d74 ), to( #d9bee6 ) );
}

.CampaignTitle.Glow
{
	color: transparent;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

.CampaignTitle.Glow1 { text-shadow: 0px -2px 6px 2 #0008; }
.CampaignTitle.Glow2 { text-shadow: 0px -6px 12px 2 #0008; }
.CampaignTitle.Glow3 { text-shadow: 0px -12px 18px 2 #0006; }
.CampaignTitle.Glow4 { text-shadow: 0px -18px 26px 2 #0004; }

.ComingSoon
{
	font-size: 20px;
	padding: 2px 8px 2px 8px;
	text-transform: uppercase;
	color: accentColorBright;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0px 2 #000000;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 24px;
}



DOTABPInternational2018HomePage .FrontpageCellHeader
{
	height: 30px;
	background-color: accentColorSectionBG;
	text-align: center;
	color: white;
	font-size: 16px;
	padding: 6px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-overflow: shrink;
}


DOTABPInternational2018HomePage .TitleFx
{
	margin-top: 30px;
}

DOTABPInternational2018HomePage .CampaignTitle
{
	font-size: 20px;
	width: 250px;
    padding-top: 270px;
}

DOTABPInternational2018HomePage .ComingSoon
{
	margin-bottom: 12px;
}

.Gradient
{
    height: 250px;
    width: 100%;
    margin-bottom: 0px;
	vertical-align: bottom;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.6, #000000AA  ), to( #000000ff ) );

}