@define arcana_color: #4C0903;
@define arcana_color_transparent: #4C090333;
@define arcana_color_dark: #4C0903;

#BackgroundScene
{
	width: 400px;
	height: 600px;

	opacity: 0.01;

	transition-property: opacity;
	transition-duration: 2s;
}

#BackgroundScene.SceneLoaded
{
	opacity: 1.0;
}


#SkeletonKingBackground
{
	width: 200%;
	height: 60%;
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_queen_of_pain/logo-bg_psd.vtex");
	background-size: 80% 80%;
	background-position: bottom;
	background-repeat: no-repeat;
	margin-left: -50%;
	margin-top: 130px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#SkeletonKingDetailsContainer
{
	width: 322px;
	vertical-align: bottom;
	horizontal-align: center;
	
	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #0000 ), to( #000f ) ); */

    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

#SkeletonKingDetails,
#TitleFXContainer
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
    background-size: 120% 100%;
    background-repeat: no-repeat;
	background-position: bottom;
	horizontal-align: center;

	margin-bottom: 12px;
}

.EarthshakerTitle
{
	width: 100%;
}

#TitleFX
{
    width: 100%;
    height: 200px;
	padding-bottom: 30px;
}
.ArcanaTitle
{

}

.EarthshakerIntroducing
{
	color: white;
	letter-spacing: 2px;
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
    letter-spacing: 7px;
    opacity: 0.7;
}

.EarthshakerName
{
	horizontal-align: center;
	color: #000000;
	width: 300px;
	height: 90px;
	background-size: contain;
	text-shadow: none;
	text-overflow: shrink;
    margin-bottom: 3px;
	margin-top: 3px;
}

.EarthshakerNowAvailable
{
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
	color: white;
	letter-spacing: 2px;
}

.SkeletonKingFooter
{
	horizontal-align: center;
	flow-children: right;
	padding-left: 10px;
}

.SkeletonKingDebutButton
{
	margin-right: 10px;
	/* height: 49px; */
}

.SkeletonKingDebutButton Label
{
	font-size: 14px;
	height: 21px;
	text-overflow: shrink;
}

.SkeletonKingDebutButton:hover
{
    background-color: rgba(0,0,0,1.0);
    border: 2px solid arcana_color_dark;
	box-shadow: arcana_color_transparent 0px 0px 10px;
}

.SkeletonKingDebutButton:active Label
{
    opacity: 0.6;
}

#TitleContainer
{
	width: 100%;
	horizontal-align: center;
	transition-property: hue-rotation, wash-color, saturation;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
	flow-children: down;
}

#ItemName
{
	font-size: 46px;
	letter-spacing: 4px;
	text-overflow: shrink;
	text-align: center;
	vertical-align: top;
	horizontal-align: center;
	color: #ffffff;
	font-family: titleFont;
	font-weight: bold;
	text-shadow: 1px 1px 12px 3.0 arcana_color;
	/*padding-top: 90px;*/
	text-transform: uppercase;
	/* text-overflow: shrink; */

	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_queen_of_pain/logo_queen_of_pain_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	width: 420px;
	height: 127px;
}

.Language_schinese #ItemName, .Language_tchinese #ItemName
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_queen_of_pain/logo_queen_of_pain_cn_psd.vtex");
}

#TitleFX
{
    width: 380px;
    height: 120px;
	margin-top: 0px;
	horizontal-align: center;
	opacity: 0.25;
    opacity-mask: url("s2r://panorama/images/masks/softedge_earthshaker_arcana_debut_png.vtex");
}

#Intro
{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
	height: fit-children;
	width: 100%;
	text-align: center;
	letter-spacing: 3px;
	font-weight: semi-bold;
	margin-left: 0px;
}

#Intro2
{
	color: #E4C269;
	font-size: 12px;
	text-transform: uppercase;
	horizontal-align: center;
	/* height: 30px; */
	width: 100%;
	opacity: 1;
	text-align: center;
	letter-spacing: 3px;
	/* font-weight: bold; */
	margin-left: 0px;
	margin-bottom: 16px;
	text-shadow: 2px 2px 2px #000000&33;

}


.PurchaseButton
{
	width: 160px;
	height: 45px;
}

.HasClaimableHeroes .NoneToClaim.PurchaseButton
{
	visibility: collapse;
}

.SomeToClaim.PurchaseButton
{
	visibility: collapse;
}
		  
.HasClaimableHeroes .SomeToClaim.PurchaseButton
{
	visibility: visible;
}
			 
@keyframes 'SomeToClaimGlow'
{
	0%
{
	box-shadow: #F8E8B9cc -4px -4px 12px 8px;
}

50%
{
	box-shadow: #F8E8B9cc -2px -2px 4px 4px;
}

100%
{
	box-shadow: #F8E8B9cc -4px -4px 12px 8px;
}
}

.SomeToClaim.PurchaseButton
{
	animation-name: SomeToClaimGlow;
	animation-duration: 2.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.ButtonTeal
{
	padding: 8px 15px;
	border: 2px solid #30313D;
	background-color: #03020290;
	transition-property: background-color, opacity, border;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	box-shadow: #00000055 -2px -2px 4px 4px;
}

.ButtonTeal:hover
{
	background-color: #1B1B2190;
	border: 2px solid #30313D;
	box-shadow: #1B1B21 -2px -2px 4px 4px;

}

.ButtonTeal:active
{
    background-color: #1B1B21;
    opacity: 1;
    border-color: arcana_color;
    sound: "ui_generic_button_click";
}

.ButtonTeal Label
{
    margin-top: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    horizontal-align: center;
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.9);

    transition-property: color;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

.ButtonTeal:active Label
{
    opacity: 0.8;
}