
.FrontpageTakeover
{
}

#MainContents
{
	flow-children: down;
	width: 100%;
	height: 100%;
}

#Header
{
	width: 100%;
	flow-children: right;
	background-color: black;
	padding: 8px 8px 0px 8px;
	
	
	background-image: url("s2r://panorama/images/front_page/ti7_front_bar_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	
}

.Title
{
	text-transform: uppercase;
	font-size: 48px;
	color: #ccc;
	margin-left: 8px;
	margin-bottom: 8px;

	background-image: url("s2r://panorama/images/compendium/international2017/compendium/2017_international_logo_text_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	width: 400px;
	height: 47px;

}

#Countdown
{
	flow-children: down;
	vertical-align: middle;
}

#Countdown.CountdownAfterEnd
{
	visibility: collapse;
}

.CountdownHeader
{
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #ccc;
	font-size: 16px;
}

.CountdownTime
{
	
	horizontal-align: center;
	letter-spacing: 4px;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

#Contents
{
	height: 100%;
	padding-top: 16px;
	padding-left: 16px;

	flow-children: down;
}

#Contents .FrontpageCell
{
	width: 268px;
	height: 188px;

	margin-right: 16px;
}

.ContentsRow
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 16px;
}

#Overlay
{
	width: 100%;
	height: 100%;
	overflow: clip;
}

#Aegis
{
	width: 400px;
	height: 400px;
	transform: translateX( 730px ) translateY( 80px );
}

.TriviaVisible .FrontpageTakeover
{
	width: 688px;
}

.TriviaVisible #Aegis,
.TriviaVisible #Countdown
{
	visibility: collapse;
}

.TriviaVisible #Contents .FrontpageCell
{
	width: 210px;
}


#FirstCell
{
	width: 268px;
	height: 188px;

	margin-right: 16px;
}

#TeamScene
{
	width: 100%;
	height: 100%;
	z-index: -1;
}

