@define ultraBrightColor: #D8BAFF;
@define accentColorBright: #B685F7;
@define accentColor: #9862E9;
@define defaultColor: #7836D6;
@define shadeColor: #552F9A;
@define darkColor: #34156B;
@define ultraDarkColor: #0B0119;

@define secondaryUltraBrightColor: #747b8c;
@define secondaryBrightColor: #485677;
@define secondaryDefaultColor: #253646;
@define secondaryDarkColor: #162034;
@define secondaryUltraDarkColor: #04070c;

@define BRD: 1px solid darkColor;


.BattlePassCell
{
	transition-property: brightness;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	background-image: url("s2r://panorama/images/front_page/ads/ti10_aghs_2cell_jpg.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	//background-color: black;
}

.BattlePassCell:hover
{
	brightness: 1.5;
}

/*#BackgroundImage*/
/*{*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*!*background-image: url("s2r://panorama/images/front_page/ads/ti8_bp_home_page_upsell_large_psd.vtex");*!*/
	/*background-size: cover;*/
	/*background-position: 50% 50%;*/
	/*background-repeat: no-repeat;	*/
	/**/
	/*border-top: 1px solid #ffffff11;*/
	/*border-left: 1px solid #ffffff07;*/
	/*border-right: 1px solid #ffffff07;*/
/*}*/

.BattlePassCell:hover #BackgroundImage
{
	pre-transform-scale2d: 1.02;
}

.LeftContent
{
	horizontal-align: left;
	vertical-align: bottom;
	width: 350px;
	margin-bottom: 25px;
	background-color: gradient (linear, 100% 0%, 0% 0%, from(#00000060), to(#00000000));
}

.RightContent 
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 450px;
	overflow: noclip;
	//height: 100%;
	background-color: gradient (linear, 100% 0%, 0% 0%, from(#00000060), to(#00000000));
}

#ButtonFooter {
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 10px;
	height: 50px;

}

#BPLogo
{
	width: 203px;
	height: 42px;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/logo_sm_png.vtex");
	background-size: contain;
	horizontal-align: center;
	img-shadow: 0px 0px 10px 3.0 #000000;
	vertical-align: bottom;
	margin-bottom: -20px;
	margin-top: 20px;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
	//hue-rotation: 200deg;
}

#BottomShader
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000bb ), color-stop(0.3, #00000000), to( #00000000 ) );
}

#twoflags
{
	height: 100%;
	width: 100%;
	brightness: 1;
	opacity: 0.01;
	
	transition-property: opacity;
	transition-duration: 1s; 
	transition-timing-function: ease-in;
	brightness: 0.5;
}

#twoflags.SceneLoaded
{
	opacity: 1;
}

.PopupAghs {
	//background-color: red;
	background-image: url("s2r://panorama/images/front_page/ads/ti10_aghs_2cell_jpg.vtex");
	background-size: contain;
	width: 860px;
	height: 860px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	margin-left: -150px;
}

.aghs-subtitle {
	text-align: center;
	horizontal-align: center;
	margin-top: 12px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #DFE9F2;
	text-shadow: 0px 0px 5px 3.0 rgb(24, 94, 155);
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
}

.aghs-feature {
	text-align: center;
	horizontal-align: center;
	//margin-top: 20px;
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #DFE9F2;
	text-shadow: 0px 0px 5px 5.0 #000000;
	font-size: 12px;
	letter-spacing: 2px;
	max-width: 340px;
	font-weight: semi-bold;

}

#PopupAghanimsLogo
{
	width: 450px;
	height: 250px;
	/* margin-bottom: 16px; */
	/* margin-top: 24px; */

	background-image: url("s2r://panorama/images/events/aghanim/aghamins_logo_en_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	//margin-top: 16px;
	/* margin-bottom: -30px; */
	pre-transform-scale2d: 0.8;
	margin-bottom: -28px;

}

#PopupAghanimsLogoFX
{
	visibility: visible;
	width: 89.25%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/events/aghanim/aghamins_logo_en_mask_psd.vtex");
	horizontal-align: center;
	hue-rotation: 20deg;
	opacity: 1;
	background-color: rgba(15, 125, 216, .3);
}

.Language_schinese #PopupAghanimsLogo, .Language_tchinese #PopupAghanimsLogo {
	background-image: url("s2r://panorama/images/events/aghanim/aghamins_logo_cn_psd.vtex");
}

.Language_russian #PopupAghanimsLogo {
	background-image: url("s2r://panorama/images/events/aghanim/aghamins_logo_ru_psd.vtex");
}

.Language_schinese #PopupAghanimsLogoFX, .Language_tchinese #PopupAghanimsLogoFX {
	opacity-mask: url("s2r://panorama/images/events/aghanim/aghamins_logo_cn_mask_psd.vtex");
}

.Language_russian #PopupAghanimsLogoFX {
	opacity-mask: url("s2r://panorama/images/events/aghanim/aghamins_logo_ru_mask_psd.vtex");
}


/* -- Battle Pass Stroke Button -------------------------------------------- */

.BattlePassButton
{
	padding: 0px 15px 0px 15px;
	border-top: 1px solid #999999;
	//border: 2px solid #B28948;
	//margin-right: 10px;
	margin-top: 8px;
	//width: 100%;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333 ), to( secondaryUltraDarkColor ) );


	transition-property: background-color;
	transition-duration: .2s;
}

.BuyBattlePassButton {
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #B28948 ), to( #3A1803 ) );
	border: 0px solid #000000;
	border-top: 1px solid #D9B86340;
	/* box-shadow: 0px 0px 20px #D9B86320; */
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #E8CF8D ), to( #503712 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #B28948 ), to( #3A1803 ) );
}

.BattlePassButton Label
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	text-align: center;
	horizontal-align: center;
	padding: 9px 10px 9px 10px;

	color: white;
	font-weight: bold;
}

.BattlePassButton:disabled
{
	saturation: 0.0;
	wash-color: #000c;
}

.BattlePassButton:hover:enabled
{
	brightness: 1.2;
}

.BattlePassButton:active
{
	brightness: 0.8;
}

#LearnMoreLink {
	horizontal-align: center;
	margin-top: 8px;
	margin-bottom: 20px;
	text-decoration: underline;
	font-size: 18px;
	letter-spacing: 1px;
	transition-property: brightness;

}

#LearnMoreLink:hover {
	brightness: 1.2;
}

