@define ultraBrightColor: #D8BAFF;
@define accentColorBright: #B685F7;
@define accentColor: #9862E9;
@define defaultColor: #7836D6;
@define shadeColor: #552F9A;
@define darkColor: #34156B;
@define ultraDarkColor: #0B0119;

@define secondaryUltraBrightColor: #747b8c;
@define secondaryBrightColor: #485677;
@define secondaryDefaultColor: #253646;
@define secondaryDarkColor: #162034;
@define secondaryUltraDarkColor: #04070c;

@define BRD: 1px solid darkColor;


.BattlePassCell
{
	transition-property: brightness;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;

	/*background-color: black;*/
}

.BattlePassCell:hover
{
	brightness: 1.5;
}

/*#BackgroundImage*/
/*{*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*!*background-image: url("s2r://panorama/images/front_page/ads/ti8_bp_home_page_upsell_large_psd.vtex");*!*/
	/*background-size: cover;*/
	/*background-position: 50% 50%;*/
	/*background-repeat: no-repeat;	*/
	/**/
	/*border-top: 1px solid #ffffff11;*/
	/*border-left: 1px solid #ffffff07;*/
	/*border-right: 1px solid #ffffff07;*/
/*}*/

.BattlePassCell:hover #BackgroundImage
{
	pre-transform-scale2d: 1.02;
}

#ButtonFooter {
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: down;
	height: fit-children;
	margin-bottom: 20px;
	text-align: center;

}

#PromoTitle
{
	font-size: 40px;
	font-weight: black;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: -5px;
	text-shadow: 2px 2px 4px 3 black;
	horizontal-align: center;
}

#PromoDesc
{
	font-size: 20px;
	width: 100%;
	margin-bottom: 15px;
	text-shadow: 0px 0px 5px 1.0 #000000;
	text-shadow: 2px 2px 4px 3 black;
	color: ultraBrightColor;
	horizontal-align: center;
	text-align: center;
	margin-top: -35px;
	font-weight: semi-bold;
}

#PromoLabel {
	font-size: 14px;
	font-weight: black;
	color: #ffffff;
	letter-spacing: 2px;
	margin-bottom: -5px;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px 3 black;
	horizontal-align: center;
}

#MorokaiLogo
{
	width: 600px;
	height: 165px;
	background-image: url("s2r://panorama/images/compendium/international2019/morokai_logo_png.vtex");
	background-size: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	margin-left: 5px;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
	//hue-rotation: 200deg;
	margin-top: -30px;
	brightness: 2.0;
	transition-property: brightness;
	transition-duration: 0.3s;
}


#DarkWillow
{
	width: 350px;
	height: 420px;
	background-image: url("s2r://panorama/images/banners/dw_mo_psd.vtex");
	background-size: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	margin-left: 200px;
	margin-bottom: 100px;
	background-repeat: no-repeat;
	//hue-rotation: 200deg;
	animation-name: Float;
	animation-duration: 10.0s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	brightness: 1.3;
	transition-property: brightness;
	transition-duration: 0.3s;
}

#MorokaiFrontpageCell:hover #DarkWillow
{
	brightness: 2.5;
}

#MorokaiFrontpageCell:hover #MorokaiLogo
{
	brightness: 3.0;
}


CustomLayoutPanel:hover #DarkWillow {
	transform: translateX(-30px);
}

@keyframes 'Float'
{
	0%
	{
		transform: translateY(10px) translateX(15px);
	}


	50%
	{
		transform: translateY(-5px) translateX(0px);
	}

	100%
	{
		transform: translateY(10px) translateX(15px);
	}
}


/*#BottomShader*/
/*{*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000bb ), color-stop(0.3, #00000000), to( #00000000 ) );*/
/*}*/

.BattlePassPurchaseLevelsButton
{
	horizontal-align: center;
	vertical-align: top;
	border-top: 2px solid textUltraBrightColor;
	box-shadow: 0px 0px 16px accentColorSectionBG;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( defaultColor ), to( shadeColor ) );
}

.BattlePassPurchaseLevelsButton:hover
{
	brightness: 1.2;
}

.BattlePassPurchaseLevelsButton:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDefaultColor ), to( defaultColor ) );
}

.BattlePassPurchaseLevelsButton Label
{
	color: white;
	font-weight: semi-bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 48px 8px 48px;
	text-align: center;
	font-size: 18px;
}

#twoflags
{
	height: 100%;
	width: 100%;
	brightness: 1;
	opacity: 0.01;
	
	transition-property: opacity;
	transition-duration: 1s; 
	transition-timing-function: ease-in;
	brightness: 0.5;
}

#twoflags.SceneLoaded
{
	opacity: 1;
}

#MorokaiButton {
	horizontal-align: center;
}

/* -- Battle Pass Stroke Button -------------------------------------------- */

.BattlePassButton
{
	padding: 8px 18px 5px 18px;

	border: 2px solid accentColor;
	margin-right: 10px;


	transition-property: background-color;
	transition-duration: .2s;
}

.BattlePassButton Label
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	text-align: center;
	horizontal-align: center;

	color: white;
	font-weight: bold;
}

.BattlePassButton:disabled
{
	saturation: 0.0;
	wash-color: #000c;
}

.BattlePassButton:hover:enabled
{
	background-color: accentColor;
}

.BattlePassButton:active
{
	background-color: accentColor;
}

