.background
{
	background-image: url("s2r://panorama/images/compendium/international2020/cache_voting/collectors-cache-front-cell_png.vtex");
	background-position: Center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.content
{
	vertical-align: bottom;
	flow-children: down;
	padding: 12px 12px;
	width: 100%;
	/* background-color: gradient ( linear, 0%, 0%, 0% 100%, from (transparent), color-stop(0.3, #000c), to (#000c)); */
}

.treasure-vote-title
{
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	text-shadow: 2px 2px 4px black;

}

.treasure-vote-desc
{
	color: #999;
	font-size: 16px;
	text-shadow: 2px 2px 4px black;
}

#Countdown
{
	width: 100%;
	vertical-align: top;
	flow-children: down;
	margin-top: 40px;
	background-color: gradient (linear, 0% 0%, 100% 0%, from (ultraDarkColor), to (transparent) );
	padding: 8px 12px;
}

.time-left
{
	font-weight: semi-bold;
	font-size: 42px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px black;
	color: gradient (linear, 0% 100%, 0% 0%, from (defaultColor), to ( #fff) );
}

.remaining
{
	color: #fff;
	font-weight: semi-bold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 2px 2px black;
	brightness: 1.4;
	margin-top: -4px;
}

#Countdown.CountdownActive .finished
{
	visibility: collapse;
}

#Countdown.CountdownAfterEnd .time-left,
#Countdown.CountdownAfterEnd .remaining
{
	visibility: collapse;
}

.finished
{
	font-weight: semi-bold;
	font-size: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px black;
	color: gradient (linear, 0% 100%, 0% 0%, from (#D8BAFF), to ( #fff) );
	margin-bottom: -4px;
}

#Countdown.CountdownActive .finished
{
	visibility: collapse;
}
