
.SinglesDayCell
{

}

.FrontpageCellImage
{
	background-image: url("s2r://panorama/images/front_page/singles_day_treasure_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
}

.FrontpageCellTitle
{
	font-size: 28px;
	margin-bottom: 0px;
	font-weight: bold;
}

.FrontpageCellText
{
	margin-bottom: -3px;
	margin-top: 10px;
}

.FrontpageCellHeader
{
	margin-top: 10px;
	font-size: 20px;
}