#LastMatch {
	visibility: collapse;
}

.DPC_app .FrontpageCellHeader
{
	color: dotaPlusGold;
}


.DPC_app .FrontpageCellTitle {
	font-size: 24px;
	margin-left: 130px;
	margin-bottom: 20px;
	line-height: 26px;
	vertical-align: top;
}

#Footer
{
	z-index: 100;
	flow-children: down;
	vertical-align: bottom;
}


#DPC_content {
	width: 290px;
	flow-children: right;
	horizontal-align: left;
	margin-left: 28px;
}

#DPC_title {
	width: 220px;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 1px;
	vertical-align: bottom;
	color: #ffffff;
	text-transform: uppercase;
	margin-left: 15px;
}

#DPC_desc {
	font-size: 14px;
	color: #9a9a9a;
	width: 290px;
	horizontal-align: center;
	margin-bottom: 12px;
	margin-top: 4px;
	vertical-align: bottom;
	z-index: 100;
	text-align: left;
	/*line-height: 18px;*/
	/*text-overflow: shrink;*/
}

#DPC_icon {
	background-image: url("s2r://panorama/images/front_page/dpc_icon_png.vtex");
	width: 50px;
	height: 50px;
	background-size: 100%;
	margin-top: 2px;
}

.DPC_app:hover > .FrontpageCellFooter
{
	background-color: rgba(0,0,0,0);
}

.FrontpageCellPhone {
	background-image: url("s2r://panorama/images/front_page/dpc_phone_png.vtex");

	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 120px;
	z-index: 2;
	margin-left: 8px;
}


.FrontpageCellImage
{
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/front_page/dpc-bg2_png.vtex");
	background-size: cover;
}

#Header
{
	width: 100%;
	vertical-align: top;
	flow-children: down;
	background-image: url("s2r://panorama/images/front_page/plus_header_bg_png.vtex");
	background-size: cover;
	padding-bottom: 130px;
}

#TitleImage
{
	width: 100%;
	height: 190px;
	margin-right: 12px;
	background-image: url("s2r://panorama/images/front_page/artifact_front_cell_logo_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#Subtitle
{
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	color: #6e7c91;
	text-shadow: 2px 2px 4px black;
}

#Footer
{
	width: 100%;
	vertical-align: bottom;
	flow-children: down;
}



#DotaPlusSubLabel
{
	width: 100%;
	text-align: center;
	padding-top: 4px;
	margin-top: 2px;
	font-family: defaultFont;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #CB931B ), to( #FFFFFF ) );
	letter-spacing: 2px;	
	text-transform: uppercase;
	text-shadow: 0px 4px 12px black;
}

#DotaPlusLabel
{
	width: 100%;
	text-align: center;
	font-family: defaultFont;
	line-height: 48px;
	font-weight: bold;
	font-size: 48px;
	margin-top: -10px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #CB931B ), to( #FFFFFF ) );
	text-transform: uppercase;
	text-shadow: 0px 8px 34px black;
}

#LearnMoreButton:hover #DotaPlusLabel
{
	color: white;
}

#LearnMoreButton:active #DotaPlusLabel
{
	color: #ccc;
}