
.ValentinesDayCell
{

}

.FrontpageCellImage
{
	background-image: url("s2r://panorama/images/splash_ads/february2019_valentinesday_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
}

.FrontpageCellTitle
{
	font-size: 28px;
	margin-bottom: 0px;
	font-weight: bold;
}

.FrontpageCellText
{
	margin-bottom: -3px;
	margin-top: 10px;
}

.FrontpageCellHeader
{
	font-size: 20px;
	padding: 4px 10px 0px 12px;
}