
.FrontpageCellImage
{
	background-image: url("s2r://panorama/images/plus/features/exclusive_sets_jan_2019_jpg.vtex");
}

#PlusLogoScene
{
	horizontal-align: right;
	width: 95px;
	height: 95px;
	opacity: 0.99;
	transform: translate3d( 13px, -10px, 0px );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}
