.FrontpageCell
{
	background-color: black;
	transition-property: brightness, pre-transform-scale2d, box-shadow;
	transition-duration: 0.2s;
}

.FrontpageCell:hover {
	brightness: 1.3;
	//pre-transform-scale2d: 1.01;
	box-shadow: fill shadeColor -4px -4px 8px 8px;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/levelbundle_bg_png.vtex");
	background-size: 100% 100%;
	background-position: center;
}

.2CellVersion .BackgroundImage {
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/levelbundle_bg_png.vtex");

}

.BundleImage {
	background-image: url("s2r://panorama/images/compendium/international2020/level_bundle_items_png.vtex");
	//opacity-mask: url("s2r://panorama/images/masks/top_fade_png.vtex");
	background-size: 100% 100%;
	background-position: center;
	width: 520px;
	height: 330px;
	horizontal-align: center;
	vertical-align: middle;
	transition-property: ui-scale;
	transition-duration: 0.2s;
	ui-scale: 100%;
	margin-top: -10px;
}

.2CellVersion .BundleImage {
	ui-scale: 100%;
	//margin-top: -18px;
	width: 520px;
	height: 550px;
	background-position: center;
	background-size:contain;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/levelbundle_points_psd.vtex");
	visibility: collapse;
}
/* 
.FrontpageCell:hover .BundleImage {
	ui-scale: 105%;
} */



#TitleContainer
{
	width: 100%;
	flow-children: down;
	padding-top: 25px;
}

.2CellVersion #TitleContainer {
	padding-top: 20px;
}

#BundleWeekendOnly
{
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 0px 5px 3.0 #000000aa;
	horizontal-align: center;
	font-size: 16px;
	font-weight: semi-bold;
	text-overflow: shrink;
	text-align: center;
}

.2CellVersion #BundleWeekendOnly {
	color: accentColor;
	color: white;
	//color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( accentColorBright ) );
	font-size: 14px;
	font-weight: normal;
}

#BundleWeekendOnly .BundleDate {
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( accentColorBright ) );
	font-weight: semi-bold;
}

#BundleTitle
{
	margin-top: -4px;
	margin-bottom: -3px;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( accentColorBright ) );
	text-shadow: 2px 2px 4px black;
	font-weight: bold;
	horizontal-align: center;
}

.2CellVersion #BundleTitle {
	text-align: center;
	font-size: 36px;
	line-height: 36px;
	height: 40px;
	font-weight: bold;
	margin-bottom: 3px;
}

#BundleTitleIntro {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	color: #ffffff;
	color: gradient( linear, 0% 50%, 0% 100%, from( white ), to( accentColorBright ) );
	letter-spacing: 2px;
	horizontal-align: center;
	margin-top: 10px;
	text-shadow: 2px 2px 4px black;

}

#PercentOffLabel
{
	font-size: 16px;
	letter-spacing: 2px;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-weight: semi-bold;
	background-color: #59B673;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #B28948 ), to( rgb(105, 83, 22) ) );
	box-shadow: 0px 0px 10px 3.0 #00CC39;
	font-weight: semi-bold;
	padding: 2px 8px 1px 8px;
	//font-size: 16px;
	horizontal-align: center;

}

.2CellVersion #PercentOffLabel {
	visibility: collapse;
}

#TwoLimit
{
	font-size: 22px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffffee;
	//color: accentColor;
	text-shadow: 0px 0px 5px 3.0 #000000aa;
	//font-weight: semi-bold;
	horizontal-align: center;
	text-align: center;
	text-overflow: shrink;
	height: 30px;
}

.2CellVersion #TwoLimit {
	font-size: 14px;
	height: 60px;
	margin-top: 5px;
	//max-width: 95%;
	
}

#Footer
{
	vertical-align: bottom;
	width: 100%;
	flow-children: down;
	margin-bottom: 12px;
}

.BundleAmount {
	font-weight: bold;
	//color: accentColor;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( accentColorBright ) );
}

#LevelShieldContents
{
	flow-children: down;
	margin-top: 199px;
	margin-left: 180px;
	width: 78px;
}

#LevelsAmount
{
	horizontal-align: center;
	text-align: center;
	font-size: 44px;
	font-weight: semi-bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( accentColorBright ) );
	text-shadow: 2px 2px 4px black;
}

#LevelsLabel
{
	color: ultraBrightColor;
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
	margin-top: -5px;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px black;
	font-size: 16px;
	font-weight: bold;
}

#BundleContents
{
	flow-children: down;
	horizontal-align: center;
	margin-top: -10px;
}

.2CellVersion #BundleContents {
	visibility: collapse;
}

#BundleContents Label
{
	//font-size: 30px;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	margin-bottom: 5px;
	font-weight: semi-bold;
}

.BundleLevels { 
	font-size: 30px;
}



#ImmortalsContent {
	flow-children: right;
	height: 30px;
	text-overflow: shrink;
	margin-bottom: 0px;
}

#ImmortalsContent Label {
	font-size: 13px;
	font-weight: normal;
}

#ImmortalsContent .Divider {
	color: #ffffff30;
	font-weight: light;
	margin: 0px 5px;
}


#PurchaseContainer
{
	flow-children: down;
	width: 100%;
}

.PurchaseButtonsRow
{
	horizontal-align: center;
	flow-children: down;
	margin-bottom: 6px;
}

.2CellVersion .PurchaseButtonsRow {
	flow-children: down;
	//margin: 0px 20px;
	ui-scale: 105%;
}

.PurchaseButton
{
	flow-children: right;
	margin: 0px 8px;

	transition-property: brightness;
	transition-duration: 0.2s;
}

.2CellVersion .PurchaseButton {
	margin-bottom: 8px;
}

.PurchaseButton Label
{
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 0px 4px black;
}

.PurchaseButton .PurchaseLabel
{
	padding: 8px 6px 8px 12px;
	//height: 37px;
	min-width: 180px;
	//max-width: 400px;
	//margin-bottom: 5px;
	text-align: center;
	font-weight: semi-bold;
	text-overflow: shrink;
	width: 180px;
}

.2CellVersion .PurchaseButton .PurchaseLabel {
	max-width: 100%;
}

.PurchaseButton .PurchasePrice
{
	padding: 8px 12px 8px 6px;
	text-align: right;
}

#PurchaseOneButton .PurchaseLabel
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #333333 ), to( #111111 ));
}
#PurchaseOneButton .PurchasePrice
{
	background-color: #000000;
}

#PurchaseTwoButton
{
	//box-shadow: 0px 0px 8px accentColorBright&33;
}

#PurchaseTwoButton .PurchaseLabel
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( accentColor ), to( defaultColor ) );
}
#PurchaseTwoButton .PurchasePrice
{
	background-color: shadeColor;
}

.PurchaseButton:hover:enabled
{
	brightness: 1.3;
}

.PurchaseButton:active
{
	brightness: 0.5;
}

.PurchaseButton:disabled
{
	brightness: 0.2;
	saturation: 0.0;
}

.PurchaseStateTitle
{
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
	letter-spacing: 2px;
	color: gradient( linear, 0% 0%, 100% 0%, from( ultraBrightColor ), to( defaultColor ) );
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.2CellVersion .PurchaseStateTitle {
	font-size: 14px;
}

.PurchaseNeedsOwnership
{
	horizontal-align: center;
}

.SelfEventActive .PurchaseNeedsOwnership
{
	visibility: collapse;
}

.AlreadyPurchased2 .PurchaseButtonsRow
{
	visibility: collapse;
}

.PurchaseAvailable
{
	visibility: collapse;
}
.AlreadyPurchased1 .PurchaseAvailable
{
	visibility: visible;
}

.PurchaseComplete 
{
	visibility: collapse;
}
.AlreadyPurchased2 .PurchaseComplete
{
	visibility: visible;
}

.PurchaseStatus
{
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
	letter-spacing: 2px;
	color: #666;
	font-size: 16px;
	margin-bottom: 10px;
}

.2CellVersion .PurchaseStatus {
	font-size: 12px;
}


