.FrontpageCell
{
	background-color: black;
}

.FrontpageCellImage
{
	background-image: url("s2r://panorama/images/splash_ads/ti8_weekend_sale_frontpage_png.vtex");
	background-size: cover;
	background-position: center;
}

#MainContents
{
	width: 344px;
	flow-children: down;
	padding: 0px 16px;
}

#BundleTitle
{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
	text-shadow: 0px 0px 4px black;
	color: gradient( linear, 0% 0%, 0% 100%, from( textAccentColorBright ), to( textDefaultColor ) );
	font-weight: bold;
	horizontal-align: center;
}

#BundleWeekendOnly
{
	margin-top: -2px;
	color: #aaa;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 0px 4px black;
	horizontal-align: center;
}


.PercentOffLabel
{
	font-size: 32px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 4px 3.0 #000000;
	background-color: accentColor;
	padding: 0px 12px -6px 16px;
	box-shadow: #000000 -2px -2px 4px 4px;
	//border-radius: 8px;
	//border: 2px solid #1A424Dde;
	margin-bottom: 4px;
	horizontal-align: center;

	visibility: collapse;
}

#BundleContents
{
	flow-children: down;
	horizontal-align: center;
}

.BundleContentsRow
{
	flow-children: right;
	horizontal-align: center;
}

.BundleContentsQuantity
{
	text-align: right;
	font-weight: bold;
	color: accentColor;
}

.BundleContentsItem
{
	margin-left: 8px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: middle;
	color: #ccc;
}

#Levels .BundleContentsQuantity
{
	font-size: 23px;
}

#Levels .BundleContentsItem
{
	font-size: 24px;
	margin-left: 2px;
	margin-bottom: 4px;
	width: fit-children;
}

#LevelShield
{
	width: 80px;
	height: 80px;
	horizontal-align: center;
}

#LevelShieldBackground
{
	width: 100%;
	height: 100%;
	wash-color: textAccentColorBright;
	background-image: url("s2r://panorama/images/compendium/shield_icon_shadowed_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#LevelShield .BattleLevelsQuantity
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 5px;
	margin-right: 1px;
	color: textAccentColorBright;
	font-size: 30px;
}

.BattleLevelsLabel
{
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #ccc;
	margin-top: 8px;
}

#BundleRestriction
{
	color: #666;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 0px 4px black;
	horizontal-align: left;
	margin-top: 6px;
	text-align: center;
	horizontal-align: center;
}

#BundlePurchaseButton
{
	horizontal-align: center;
}
