.FrontpageCellImage
{
	background-image: url("s2r://panorama/images/front_page/collectors-cache-bg_png.vtex");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.content
{
	vertical-align: bottom;
	flow-children: down;
	padding: 12px 12px;
	width: 100%;
}

.treasure-vote-title
{
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	text-shadow: 2px 2px 4px black;

}

.treasure-vote-desc
{
	color: #999;
	font-size: 16px;
	text-shadow: 2px 2px 4px black;
}

#Countdown
{
	width: 100%;
	vertical-align: top;
	flow-children: down;
	margin-top: 40px;
	background-color: gradient (linear, 0% 0%, 100% 0%, from (#9862E940), to (transparent) );
	padding: 8px 12px;
}

#LevelBadge {
	width: 108px;
	height: 122px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 80px;
	flow-children: down;
	font-weight: bold;
	text-transform: uppercase;
}

#BadgeLabel {
	font-size: 14px;
	color: #ffffff;
	text-shadow: 1px 1px 3px #000000;
	horizontal-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#BadgeContent {
	background-image: url("s2r://panorama/images/cache_voting/badge-bg_png.vtex");
	width: 108px;
	height: 122px;
	margin-top: -15px;
}

#36Label {
	 font-size: 40px;
	 font-weight: semi-bold;
	 color: gradient (linear, 0% 100%, 0% 0%, from (#D8BAFF), to ( #fff) );
	 horizontal-align: center;
	 margin-top: 23px;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px #000000;
	/*animation-name: PurchaseButtonGlow;*/
	/*animation-duration: 2.35s;*/
	/*animation-timing-function: linear;*/
	/*animation-iteration-count: infinite;*/
 }

#LevelLabel {
	font-size: 14px;
	horizontal-align: center;
	color: #ffffff;
	margin-top: 65px;
	letter-spacing: 1px;
	margin-left: 5px;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px #000000;
}

.time-left
{
	font-weight: semi-bold;
	font-size: 42px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px black;
	color: gradient (linear, 0% 100%, 0% 0%, from (#D8BAFF), to ( #fff) );
}

.remaining
{
	color: #86ADC6;
	font-weight: semi-bold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 2px 2px black;
	brightness: 1.4;
	margin-top: -12px;
}

#Countdown.CountdownActive .finished
{
	visibility: collapse;
}

#Countdown.CountdownAfterEnd .time-left,
#Countdown.CountdownAfterEnd .remaining
{
	visibility: collapse;
}

.finished
{
	font-weight: semi-bold;
	font-size: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px black;
	color: gradient (linear, 0% 100%, 0% 0%, from (#D8BAFF), to ( #fff) );
	margin-bottom: -4px;
}

#Countdown.CountdownActive .finished
{
	visibility: collapse;
}


/*@keyframes 'PurchaseButtonGlow'*/
/*{*/
	/*0%*/
	/*{*/
		/*text-shadow: ultraBrightColor&33 -2px -2px 6px 4px;*/
	/*}*/


	/*50%*/
	/*{*/
		/*text-shadow: ultraBrightColor&33 -1px -1px 2px 2px;*/
	/*}*/

	/*100%*/
	/*{*/
		/*text-shadow: ultraBrightColor&33 -2px -2px 6px 4px;*/
	/*}*/
/*}*/