
.FrontpageTakeover
{
}

.FrontpageTakeover:hover
{
}

#MainContents
{
	flow-children: down;
	width: 100%;
	height: 100%;

	margin-top: 30px;
	margin-right: 16px;

	/*box-shadow: 0px 0px 12px backgroundBrightColor&88;*/

	transition-property: box-shadow;
	transition-duration: 0.28s;
	transition-timing-function: ease-in-out;
}

#MainContents:hover
{
	/*box-shadow: 0px 0px 16px backgroundBrightColor&88;*/
}

#Header
{
	width: 100%;
	height: 90px;
	/*background-color: black;*/
	/*padding: 8px 8px 0px 8px;*/
	flow-children: right;
	
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/section_bg_lg_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
}

#HeaderLeft
{
	flow-children: right;
	margin-left: 8px;
	height: 100%;
}

.HeaderRight {
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
	margin-top: 10px;
}

.HeaderItem
{
	flow-children: down;
	vertical-align: middle;
	margin-bottom: 8px;
	margin-right: 50px;
	horizontal-align: right;
}

.HeaderItemTitle
{
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	color: #aad3eb;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px black;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 2px 2px 5px #00000030;
}

.HeaderItemText
{
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	text-shadow: 2px 2px 4px black;
	font-size: 16px;
	color: #ffffff;
	letter-spacing: 2px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #000000;
}

#GroupStageHeaderItem
{
	margin-right: 50px;
}

#VenueHeaderItem
{
	horizontal-align: right;
	margin-right: 80px;
}

.Title
{
	/*horizontal-align: center;*/
	vertical-align: middle;
	margin-left: 80px;

	background-image: url("s2r://panorama/images/compendium/international2019/compendium/ti_logo_simple_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	width: 300px;
	height: 70px;

}

#Contents
{
	width: 100%;
	height: 100%;
	padding-top: 12px;
	/*padding-left: 12px;*/
	/*background-color: #000000BA;*/
	flow-children: right;
}

#FrontpageContents
{
	ui-scale: 81.7%;
}

#Activities
{
	flow-children: down;
	margin-left: 12px;
	width: fill-parent-flow( 1.0 );
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDarkColor), to( secondaryUltraDarkColor&70));
}

.ActivitySpacer
{
	border-top: 1px solid #575757;
	width: 100%;
	height: 15px;
	horizontal-align: center;
	opacity: 0.3;

}

.Activity
{
	width: 100%;
	vertical-align: middle;
}

.Promo {
	height: 200px;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.Promo:hover {
	brightness: 1.5;
}

.ActivityContents
{
	vertical-align: middle;
	horizontal-align: center;
	flow-children: down;
	width: 100%;
}

.ActivityButton
{
	horizontal-align: center;
}

.ActivityButton Label
{
	letter-spacing: 1px;
}

#PromoButtonContainer {
	vertical-align: bottom;
	horizontal-align: center;
	width: 100%;
	padding: 5px 0px;
	margin-bottom: 10px;
}

.PromoButton {
	horizontal-align: center;
}

.ActivityTitle
{
	font-size: 14px;
	horizontal-align: center;
	text-transform: uppercase;
	margin-bottom: 2px;
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
}

.PromoTitle {
	font-size: 12px;
	horizontal-align: left;
	vertical-align: top;
	text-transform: uppercase;
	padding: 2px 5px 1px 5px;
	color: accentColor;
	letter-spacing: 1px;
	background-color: #000000;
}

.InactiveActivity {
	opacity: 0.6;
	font-size: 12px;
}

.ActivityCountdown
{
	width: 100%;
	/*height: fill-parent-flow( 1.0 );*/
	margin-top: 12px;
}

.ActivityUpcoming,
.ActivityActive,
.ActivityFinished
{
	width: 100%;
	visibility: collapse;
}

.ActivityCountdown.CountdownBeforeStart .ActivityUpcoming,
.ActivityCountdown.CountdownActive .ActivityActive,
.ActivityCountdown.CountdownAfterEnd .ActivityFinished
{
	visibility: visible;
}

.ActivityUpcoming Label
{
	horizontal-align: center;
	text-align: center;
	font-size: 14px;
}

.ActivityIcon {
	width: 25px;
	height: 25px;
	/*background-color: #999999;*/
	horizontal-align: center;
	margin-bottom: 5px;
}

.BracketPredictionsIcon {
	background-image: url("s2r://panorama/images/compendium/international2019/icon_bracket_png.vtex");
	background-size: 100%;
	wash-color: ultraBrightColor;
}

.AllStarIcon {
	background-image: url("s2r://panorama/images/compendium/international2019/icon_allstar_png.vtex");
	background-size: 100%;
	wash-color: ultraBrightColor;
	height: 24px;
}

#ShortFilmImage {
	background-image: url("s2r://panorama/images/front_page/ti9_shortfilm_jpg.vtex");
	background-size: 100%;
	width: 100%;
	height: 200px;
	/*margin-bottom: 10px;*/
}

#FlowersLeft
{
	width: 200px;
	height: 182px;
	horizontal-align: left;
	vertical-align: top;
	y: -8px;
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/flowers_bottom_left_png.vtex");
	background-size: 100%;


}

#FlowersRight
{
	width: 200px;
	height: 182px;
	horizontal-align: right;
	vertical-align: top;
	y: -35px;
	x: -10px;
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/flowers_bottom_right_simple_png.vtex");
	background-size: 100%;


}
