.DuelingFatesCell
{
	ui-scale: 50%;
}

#Model,
#Model_FG
{
	width: 100%;
	height: 100%;
	
	transition-property: opacity, wash-color;
	transition-duration: 1s;
	transition-delay: 0s, 1s;
	transition-timing-function: ease-in;	
}

#Model
{
	wash-color: black;	
	background-color: black;
}

#Model_FG
{
	wash-color: black;	
}

#Model.SceneLoaded,
#Model_FG.SceneLoaded
{
	opacity: 1;
	wash-color: white;
}

#Title
{
	width: 100%;
	font-size: 64px;
	text-align: center;
	margin-top: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( #f0e897 ), to( #897d54 ) );
	text-shadow: 1px 1px 2px black;
	text-shadow: 2px 2px 6px 3 black;
	letter-spacing: 5px;
}

#UpdateVersion
{
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
	color: #fff;
	text-shadow: 2px 2px 6px 3 black;
	font-weight: bold;
	text-align: left;
	margin-top: 94px;
	margin-right: 48px;
	horizontal-align: right;
}

#UpdateButton
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-right: 16px;
	margin-bottom: 16px;
	flow-children: down;
	padding-top: 4px;
	padding-left: 12px;
	padding-right: 12px;

	background-color: #000000dd;

	transition-property: brightness, background-color;
	transition-duration: 0.2s;
}

#UpdateButton:hover
{
	brightness: 1.8;
	background-color: #1a2328;
}

#UpdateButton:active
{
	brightness: 1.5;
}

#UpdateButton > Label
{
	horizontal-align: center;
}

.UpdateButtonTitle
{
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 3px;
	color: #ccc;
	text-shadow: 2px 2px 0px black;
	font-weight: bold;
	text-align: center;
}

.UpdateButtonDetails
{
	color: #999;
	text-shadow: 2px 2px 0px black;
	text-align: center;
}

#HeroButtons
{
	flow-children: right;
	width: 100%;
	margin-top: 100px;
}

.HeroButton
{
	width: fill-parent-flow( 1.0 );
	margin: 0px 4px;
	height: 280px;

	transition-property: brightness;
	transition-duration: 0.2s;
}

.HeroButton:hover
{
	brightness: 2.0;
}

.HeroButton:active
{
	brightness: 1.5;
}

.HeroButton > Label
{
	vertical-align: bottom;
}

.HeroTitleWillow
{
	margin-bottom: 20px;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ccc;
	letter-spacing: 3px;
	text-shadow: 2px 2px 0px black;
}

.HeroTitlePangolier
{
	margin-bottom: 20px;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ccc;
	letter-spacing: 3px;
	text-shadow: 2px 2px 0px black;
}


.HeroSubtitle
{
	color: #ccc;
	letter-spacing: 2px;
	font-size: 24px;
	text-shadow: 2px 2px 0px black;
}

#FairyButton > Label
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 16px;
	text-align: right;
}

#ArmadilloButton > Label
{
	margin-left: 16px;
}


#HeroChooseContainer
{
	width: 1000px;
	height: 700px;
    margin-top: 0px;
//	border: 1px solid red;
	horizontal-align: center;
	vertical-align: middle;
}

#PangolierChoice,
#DarkWillowChoice
{
	width: 50%;
	height: 100%;
//	border: 1px solid red;
	vertical-align: middle;

}
#PangolierChoice
{
    horizontal-align: right;
	background-color: #00f0;
}

#DarkWillowChoice
{
    horizontal-align: left;
	background-color: #f000;
}

