.FeaturedTournamentCell
{
	flow-children: down;
	background-color: black;
}

.FrontPageCellImage 
{	
	background-image: url("s2r://panorama/images/front_page/ads/featured_tournament/weplay-pushka-2020_jpg.vtex");
	background-size: 100%;
	background-position: center;
}

#TournamentInfo
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
	width: 100%;
	margin-top: 24px;
}

#Name
{
	font-weight: semibold;
	font-size: 16px;
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;

	/* background-color: #000; */
	color: #fff;

	padding: 6px 12px;
}

#Date
{
    width: 100%;
	font-size: 40px;
	text-align: center;
	letter-spacing: -1px;
	font-weight: black;
	color: #F4BD7F;
	text-transform: uppercase;
	margin-top: 4px;
}

#Desc
{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	horizontal-align: center;

	color: #F4BD7F90;

	margin-top: -4px;
}

.WatchButton
{
	padding: 0px 32px;
	background-color: #F4BD7F;
	/* border: 1px solid #167DAA90; */
	/* box-shadow: inset 0px 0px 12px rgba(22, 125, 170, 0.3); */
	margin-bottom: 24px;
	horizontal-align: center;
	
	transition-property: background-color;
	transition-duration: 0.2s;
}

.WatchButton Label
{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 0px;
	/* color: gradient( linear, 0% 0%, 0% 100%, from( #FFFF09 ), to( #E3FF09 ) ); */
	color: #02081F;
	font-weight: semibold;
	text-align: center;
	horizontal-align: center;
    margin-bottom: 0px;
	vertical-align: middle;
	
	transition-property: color;
	transition-duration: 0.2s;
}

.WatchButton:hover
{
	background-color: #FFf;
}

.WatchButton:hover Label
{
	color: #000;
}

.WatchButton:active
{
	brightness: 0.5;
}

#Stream_Cn,
.Language_schinese #Stream_En,
.Language_tchinese #Stream_En
{
	visibility: collapse;
}

.Language_schinese #Stream_Cn,
.Language_tchinese #Stream_Cn
{
	visibility: visible;
}
