
.FrontpageCellImage
{
	background-image: url("s2r://panorama/images/front_page/true_sight_jpg.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#Countdown
{
	width: 100%;
	height: 100%;
}

.CountdownState
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.CountdownBeforeStart #BeforeEvent,
.CountdownActive #DuringEvent,
DOTADashboard:not(.IsSteamChina) .CountdownAfterEnd #AfterEvent,
DOTADashboard.IsSteamChina .CountdownAfterEnd #AfterEventPerfectWorld
{
	visibility: visible;
}

#LiveText
{
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: down;
	margin-bottom: 16px;
	padding: 4px 8px 2px 8px;
	border-radius: 4px;
	background-color: #64c390;

	animation-name: LivePulse;
	animation-duration: 1.0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes 'LivePulse'
{
	0% { box-shadow: 0px 0px 8px #64c39066; }
	100% { box-shadow: 0px 0px 16px #64c390ff; }
}

#LiveTitle
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	color: black;
	margin-top: -6px;
}

#LiveLabel
{
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
}
