@define arcana_teal: #7fc4cc;
@define arcana_teal_transparent: #7fc4cc33;
@define arcana_teal_dark: #74c0ee;

#BackgroundScene
{
	width: 400px;
	height: 600px;

	opacity: 0.01;

	transition-property: opacity;
	transition-duration: 2s;
}

#BackgroundScene.SceneLoaded
{
	opacity: 1.0;
}

#KidInvokerDetailsContainer
{
	width: 100%;
	vertical-align: bottom;
	horizontal-align: center;
	padding-bottom: 10px;
	
	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #0000 ), to( #000f ) ); */

    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

#KidInvokerDetails,
#TitleFXContainer
{
	flow-children: down;
	vertical-align: bottom;
	width: 356px;
    background-size: 120% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#KidInvokerDetails
{
}

.KidInvokerTitle
{
	width: 100%;
}

#TitleFX
{
    width: 100%;
    height: 200px;
	padding-bottom: 30px;
}

.KidInvokerIntroducing
{
	color: white;
	letter-spacing: 2px;
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
    letter-spacing: 7px;
    opacity: 0.7;
}

.KidInvokerName
{
	horizontal-align: center;
	color: #000000;
	width: 300px;
	height: 90px;
	background-size: contain;
	text-shadow: none;
	text-overflow: shrink;
    margin-bottom: 3px;
	margin-top: 3px;
}

.Language_schinese .KidInvokerName, .Language_tchinese .KidInvokerName
{
}

.KidInvokerNowAvailable
{
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
	color: white;
	letter-spacing: 2px;
}

.KidInvokerFooter
{
	horizontal-align: center;
	flow-children: right;
	padding-left: 10px;
}

.KidInvokerDebutButton
{
	margin-right: 10px;
	height: 49px;
}

.KidInvokerDebutButton Label
{
	font-size: 14px;
	height: 21px;
	text-overflow: shrink;
}

.KidInvokerDebutButton:hover
{
    background-color: rgba(0,0,0,1.0);
    border: 2px solid #7a216d;
	box-shadow: #d14ebd30 0px 0px 10px;
}

.KidInvokerDebutButton:active Label
{
    opacity: 0.6;
}

#TitleContainer
{
	width: 100%;
	horizontal-align: center;
	transition-property: hue-rotation, wash-color, saturation;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
	flow-children:down;
	margin-bottom: 15px;
}

#TitleImage
{
	vertical-align: top;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/kidinvoker_title_png.vtex");
	background-size: 576px 157.6px;
	background-position: bottom;
	background-repeat: no-repeat;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	width: 100%;
	height: 135px;
}

.Language_danish #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/danish_png.vtex");
}

.Language_finnish #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/finnish_png.vtex");
}

.Language_french #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/french_png.vtex");
}

.Language_german #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/german_png.vtex");
}

.Language_italian #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/italian_png.vtex");
}

.Language_japanese #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/japanese_png.vtex");
}

.Language_korean #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/korean_png.vtex");
}

.Language_latam #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/latam_png.vtex");
}

.Language_polish #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/polish_png.vtex");
}

.Language_portuguese #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/portuguese_png.vtex");
}

.Language_portuguese-br #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/portuguese-br_png.vtex");
}

.Language_russian #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/russian_png.vtex");
}

.Language_schinese #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/schinese_png.vtex");
}

.Language_spanish #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/spanish_png.vtex");
}

.Language_swedish #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/swedish_png.vtex");
}

.Language_tchinese #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/tchinese_png.vtex");
}

.Language_thai #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/thai_png.vtex");
}

.Language_turkish #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/turkish_png.vtex");
}

.Language_vietnamese #TitleImage {
    background-image: url("s2r://panorama/images/leaf_pages/debut_kid_invoker/loc/vietnamese_png.vtex");
}


#ItemName
{
	font-size: 56px;
	letter-spacing: 10px;
	text-overflow: shrink;
	text-align: center;
	vertical-align: top;
	horizontal-align: center;
	color: #ffffff;
	font-family: titleFont;
	font-weight: bold;
	text-shadow: 1px 1px 12px 3.0 #84e4e520;
	/*padding-top: 90px;*/
	text-transform: uppercase;
	text-overflow: shrink;
	max-height: 60px;
}

#TitleFX
{
    width: 380px;
    height: 120px;
	margin-top: 0px;
	horizontal-align: center;
	opacity: 0.25;
    opacity-mask: url("s2r://panorama/images/masks/softedge_earthshaker_arcana_debut_png.vtex");
}

#Intro
{
	color: #ffffffff;
	font-size: 14px;
	text-transform: uppercase;
	horizontal-align: center;
	height: 20px;
	width: 100%;
	opacity: 0.6;
	text-align: center;
	letter-spacing: 3px;
	font-weight: semi-bold;
	margin-left: 0px;
	margin-top: -20px;
}

.PurchaseButton
{
	width: 160px;
	height: 49px;
}

.ButtonTeal
{
    padding: 6px 15px;

    border: 2px solid #d14ebe;

    transition-property: background-color, opacity, border;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    box-shadow: #00000055 -2px -2px 4px 4px;
    opacity: 0.9;

}

.ButtonTeal:enabled:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #d14ebe ), to( #7a216d ));
    //box-shadow: fill #d14ebe20 0px 4px 14px 0px;
    opacity: 1;
}

.ButtonTeal:active
{
    background-color: #d14ebe;
    opacity: 1;
    border-color: #d14ebe;
    sound: "ui_generic_button_click";
}

.ButtonTeal Label
{
    margin-top: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    horizontal-align: center;
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.9);

    transition-property: color;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

.ButtonTeal:active Label
{
    opacity: 0.8;
}