

#ZooContents
{
	padding: 30px;
}

#ButtonsZoo
{
	flow-children: down;
}

#ButtonsZoo > .BattlePassCellContents
{
	flow-children: down;
}

#ButtonsZoo > .BattlePassCellContents > TextButton
{
	margin-bottom: 12px;
}
