/* TI6 
@define textMediumColor: #666464;
@define XPCircleGradient: gradient( linear, 0% 0%, 0% 100%, from( #270705 ), to( #912c24 ) );
@define XPCircleBorder: 1px solid #9a3128;
*/

/* Fall 2016 */
@define textMediumColor: #656664;
@define XPCircleGradient: gradient( linear, 0% 0%, 0% 100%, from( #182705 ), to( #6c9124 ) );
@define XPCircleBorder: 1px solid #7e9a28;

DOTABPSpring2016QuestsPage
{
	width: 100%;
	height: 100%;	
	flow-children: none;
}

#BackgroundScene
{
	width: 12.5%;
	height: 12.5%;		
	vertical-align: middle;
	horizontal-align: center;
	pre-transform-scale2d: 8;
	//visibility: collapse;
}

.FullScreenBackground
{
	width: 100%;
	height: 100%;
	background-color: #344862cc;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #192331aa ), color-stop( 0.2, #344862cc ), color-stop( 0.8, #344862cc), to( #192331aa ) );
}

#CompendiumBG
{
}

.QuestLineContainer
{
	horizontal-align: right;
	width: fit-children;
	margin: 0px 72px;
	height: 100%;

}

.Overview DOTAQuest:not(.ActiveQuestLine) .QuestLineContainer DOTAQuestPath
{
	opacity: .2;
}

.Overview DOTAQuest:not(.ActiveQuestLine) .QuestLineContainer DOTAQuestNode
{
	//border-color: #304484;
}

.Overview DOTAQuest:not(.ActiveQuestLine) .QuestLineContainer DOTAQuestNode.NodeComplete .QuestNodeCenter
{
	background-color: transparent;
}

.QuestLineBackground
{
	width: 100%;
	height: 100%;

	flow-children: right;

	//opacity: 0.75;
	//wash-color: #194689ff;

	transition-property: opacity, wash-color, brightness;
	transition-duration: .5s;
}

.QuestLineBackgroundCenter
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	margin: 0px -20px;
	background-image: url("s2r://panorama/images/compendium/winter/scroll_texture_psd.vtex");
	background-size: 35% 100%;	
}


#QuestPickerQuestMap .QuestLineBackground
{
	visibility: collapse;
}

#QuestLineOptions .QuestLineBackground
{
	opacity-mask: none;	
}

DOTABPSpring2016Page .QuestLineBackground
{
	visibility: collapse;
}

.ActiveQuestLine .QuestLineBackground
{
	opacity: 1;	
	wash-color: #19468900;
}

.CompendiumContainer
{
	width: 100%;
	height: 762px;
	border: 1px solid red;
	margin-top: 170px;
}

.CompendiumBody
{
	background-color: #000000aa;
	border-top: 1px solid #484848;
	border-bottom: 1px solid #484848;
	width: 100%;
	height: 770px;
	margin-top: 180px;
	
	/* Winter 2017 */
	border-top: 1px solid #487098;
	border-bottom: 1px solid #487098;
	
}

.CompendiumHeader
{
	width: 1392px;
	height: 72px;
	//border: 1px solid yellow;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 100px;
}

.SecondaryNavTabs
{
	vertical-align: bottom;
}

.CompendiumHeaderTitle
{
	//border: 1px solid green;
	horizontal-align: right;
}

.CompendiumHeaderTitle Label
{
	text-align: right;
	vertical-align: middle;
	text-transform: uppercase;
	margin: 0px;
	letter-spacing: 3px;
}

#CompendiumID
{
	font-size: 20px;
	color: #768e8d;
	horizontal-align: right;
}

#CompendiumTitleText
{
	color: white;
	font-size: 40px;
	horizontal-align: right;
	font-weight: thin;
	letter-spacing: 5px;
}



.SecondaryTabButton Label
{
	color: #768e8d;
	vertical-align: middle;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0px;
	letter-spacing: 3px;
}

#CampaignContainer
{
	width: 100%;
	height: 100%;
	//padding-top: 82px;
	//background-color: #00000088;
	//pre-transform-scale2d: 1.2;
	background-image: url("s2r://panorama/images/textures/papergrain_psd.vtex");
	background-position: 50% 50%;
	transition-property: pre-transform-scale2d, transform;
	transition-duration: .25s;
	
	overflow: clip scroll;
}

#CampaignPanelContainer,
#CampaignPanel
{
	width: 100%;
	height: 100%;	
	transition-property: transform, opacity, blur, wash-color, background-color;
	transition-duration: .45s;
}

.ShowingIntroPanel #CampaignPanel
{
	transform: translateX( 430px )  translateZ( -200px );
	wash-color: #555555aa;
	blur: gaussian( 3, 3, 3 );
	opacity: 1;
}

.ShowingIntroPanel #CampaignPanelContainer
{
    background-color: #000000de;
}

 
#QuestBlock
{

	height: 768px;
	horizontal-align: center;
	width: 100%;
}

.Overview #QuestBlock
{
	//height: 896px;
}

.Overview #CampaignContainer
{
//	transform: rotateX(12deg);
}

#CampaignContainer VerticalScrollBar
{
	horizontal-align: center;
	vertical-align: middle;
	width: 16px;
	margin-left: 1400px;
	margin-top: 64px;
	margin-bottom: 64px;
}


#CampaignContainer VerticalScrollBar .ScrollThumb
{
	margin: 4px;
}

#CampaignMenuContainer
{
	width: 1392px;
	height: 100%;
	horizontal-align: center;
	overflow: noclip;
}

DOTAQuest
{
	height: 200px;
	horizontal-align: center;
	//vertical-align: middle;
	     //padding-left: 50px;
	//padding-right: 50px;
	//margin-top: 20px;
	transform: rotateX(35deg);
	overflow: noclip;	
	opacity: 0;
	transition-property: height, transform, opacity, border, pre-transform-scale2d, brightness;
	transition-duration: .25s;	
}

DOTABPSpring2016Page DOTAQuest.ActiveQuestLine
{
	transform: rotateX(0deg);
	height: 264px;
}

DOTAQuest.ActiveQuestLine
{
	opacity: 1;
	height: 432px;
}

.Overview DOTAQuest
{
	height: 172px;
	transform: rotateX(0deg);		
	opacity: 1;
}


.red
{
	wash-color: red;
}

DOTAQuestPicker DOTAQuest
{
	margin: 0px;
}

DOTAQuest:hover DOTAQuestPath,
DOTAQuest:hover DOTAQuestNode
{
	//brightness: 3;
}

DOTAQuestPath
{
	width: 64px; 
	height: 6px;
	margin-bottom: 18px;
	//background-color: #aaaaaa66;
	//background-color: red;
	background-image: url("s2r://panorama/images/compendium/pathdots_psd.vtex");
	wash-color: #3B669C;
	wash-color: #3182F7;
	wash-color: #6A2815;
	
	/* Fall 2016 */
	wash-color: #3b6a15;
	
	/* Winter 2017 */
	wash-color: #274c8f;


	opacity-mask: url("s2r://panorama/images/compendium/pathmask_horizontal_psd.vtex") 1.0;

	
	
	background-position: 55% 55%;
	background-size: 120px 120px;
	background-repeat: no-repeat;
	vertical-align: middle;
	//box-shadow: #00000088 -4px -4px 8px 8px;
	z-index: 0;
	//margin-left: -1px;	
	transition-property: width, brightness, height, opacity, transform, background-color;
	transition-duration: .25s;
	opacity: .4;
	
	animation-duration: .6s;
	animation-delay: 0.15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	
	
}


DOTAQuestPath.PathSelected
{
	animation-name: PathSelected;
	opacity: 1;
}


DOTABPSpring2016Page DOTAQuestPath.PathSelected
{
	opacity: 1;
}



@keyframes 'PathSelected'
{
	0%
	{
		brightness: 1;
		background-color: #aaaaaa00;
	}
	50%
	{
		brightness: 6;
		background-color: #aaaaaa22;
	}
	100%
	{
		brightness: 1;
		background-color: #aaaaaa00;
	}
}


.QuestPathBranch
{
	width: 50%;
	horizontal-align: left;
}

.Overview DOTAQuestPath
{
	background-size: 120px 120px;
	//background-color: #000000;
	height: 6px;
	opacity: 0.15;	
}

.Overview DOTAQuestPath
{
	transform: translateY(10px);
}

.Overview DOTAQuestPath.PathAvailable,
.Overview DOTAQuestPath.PathComplete
{
	height: 6px;
}


.Overview .ActiveQuestLine DOTAQuestPath
{
	opacity: 0.75;
}

DOTAQuestPath.QuestPathDown.PathComplete,
DOTAQuestPath.QuestPathUp.PathComplete
{
	background-color: white;
	width: 8px;
	height: 25%;
}

.Overview DOTAQuestPath.QuestPathDown.PathComplete,
.Overview DOTAQuestPath.QuestPathUp.PathComplete
{
	height: 28%;
}

.Overview DOTAQuestPath.QuestPathDown
{
	transform: translateY(58px);
}

.Overview DOTAQuestPath.QuestPathUp
{
	transform: translateY(-48px);
}

DOTAQuestPath.QuestPathDown.PathAvailable,
DOTAQuestPath.QuestPathUp.PathAvailable
{
	width: 8px;
	height: 20%;	
}

.Overview DOTAQuestPath.QuestPathDown.PathAvailable,
.Overview DOTAQuestPath.QuestPathUp.PathAvailable
{
	width: 8px;
	height: 25%;	
}

DOTAQuestPath.QuestPathDown.PathSelected,
DOTAQuestPath.QuestPathUp.PathSelected
{
	width: 8px;
}

DOTAQuestPath.PathComplete
{
	background-color: white;
	wash-color: #9BD7FF;
	wash-color: #5C99E9;
	wash-color: #81362B;
	
	/* Fall 2016 */
	wash-color: #49812b;
	
	/* Winter 2017 */
	wash-color: #427ab8;
	
	
	height: 8px;
	opacity: 1;
}

DOTAQuestPath.PathAvailable
{
	background-color: #ffffff22;
	wash-color: #C55B47;
	
	/* Fall 2016 */
	wash-color: #68c547;
	opacity: 1;
	
	/* Winter 2017 */
	wash-color: #50abda;
	opacity: 1;
}


#QuestPickerQuestMap .RightScroll,
#QuestPickerQuestMap .LeftScroll
{
	opacity: .01;
}

#QuestPickerQuestMap DOTAQuestPath
{
	background-size: 92px 92px;
	width: 26px;
}

#QuestPickerQuestMap DOTAQuestPath
{
	opacity: .2;
}


#QuestPickerQuestMap DOTAQuestPath.PathComplete,
#QuestPickerQuestMap DOTAQuestPath.PathAvailable
{
	opacity: 1;
}


#QuestPickerQuestMap DOTAQuestPath.QuestPathBranch,
#QuestPickerQuestMap DOTAQuestPath.QuestPathUpRight,
#QuestPickerQuestMap DOTAQuestPath.QuestPathUpLeft,
#QuestPickerQuestMap DOTAQuestPath.QuestPathDownRight,
#QuestPickerQuestMap DOTAQuestPath.QuestPathDownLeft
{
	width: 50%;
}

#QuestPickerQuestMap DOTAQuestPath.QuestPathDown.PathAvailable,
#QuestPickerQuestMap DOTAQuestPath.QuestPathUp.PathAvailable
{
	height: 50px;
}

#QuestPickerQuestMap DOTAQuestPath.QuestPathUp,
#QuestPickerQuestMap DOTAQuestPath.QuestPathDown
{
	width: 6px;
	height: 50px;
}

#QuestPickerQuestMap .ActiveQuestNodeCenter.QuestNodeMiddle,
#QuestPickerQuestMap .ActiveQuestNodeCenter.QuestNodeTop,
#QuestPickerQuestMap .ActiveQuestNodeCenter.QuestNodeBottom
{
	margin-left:-8px;
	
}


.RightScroll,
.LeftScroll
{
	background-image: url("s2r://panorama/images/compendium/winter/scroll_left_texture_psd.vtex");
	background-size: 100% 100%;	
	width: 72px;
	height: 100%;	
	transition-property: width;
	transition-duration: .25s;
	z-index: 1;
}

.RightScroll
{
	transform: scaleX(-1);
}

.Overview .RightScroll,
.Overview .LeftScroll
{
	width: 48px;
}

.QuestLineBG
{
//	border: 1px solid #32568400;
	transition-duration: 0.34s;
}


.Overview .QuestLineBG
{	
	brightness: 0.75;
}

.Overview .QuestLineBG.ActiveQuestLine
{
	brightness: 2;

}

.Overview .QuestLineBG:hover
{
	pre-transform-scale2d: 1.03;
}

.Overview DOTAQuest:hover .QuestLineBackground
{
	brightness: 1.5;
}

.Overview DOTAQuest.ActiveQuestLine:hover .QuestLineBackground
{
	//wash-color: #19468900;
}


DOTAQuestNode
{
	width: 86px; 
	height: 108px;
	vertical-align: middle;
	horizontal-align: center;
	margin: -1px;
	margin-top: 24px;
	margin-bottom: 24px;
	z-index: 1;
	pre-transform-scale2d: 1;
	//overflow: noclip;

	transition-property: brightness, pre-transform-scale2d, width, height, box-shadow, border, transform;
	transition-duration: .25s;

}

.QuestNodeCircle
{
	width: 64px; 
	height: 64px;
	transform: translateY(12px);
	
	background-color: black;	
	border: 2px solid #863C3744;
	//border: 2px solid #17428A;	
	border-radius: 50%;
	vertical-align: top;
	horizontal-align: center;
	box-shadow: fill #00000077 -3px -1px 6px 6px;
	
	/* Fall 2016 */
	border: 2px solid #27431b;
	
	/* Winter 2017 */
	border: 2px solid #213d51;

		
	z-index: 1;
	pre-transform-scale2d: 1;

	transition-property: brightness, pre-transform-scale2d, width, height, box-shadow, border, transform;
	transition-duration: .25s;
}

.Overview .QuestNodeCircle
{
	transform: translateY(0px);
	border-width: 1px;
}

#QuestPickerQuestMap.NewBloomSelected .ActiveQuestLine DOTAQuestNode,
.NewBloomSelected .Overview DOTAQuestNode
{
	border-color: #624511;
	background-color: #291210;		
}



.ActiveQuestNodeCenter.QuestNodeBottom.NodeSelected
{
	margin-bottom: 56px;
	margin-left: -3px;
}

.AspectRatio16x10 .ActiveQuestNodeCenter.QuestNodeTop.NodeSelected,
.AspectRatio16x10 .ActiveQuestNodeCenter.QuestNodeMiddle.NodeSelected,
.AspectRatio16x10 .ActiveQuestNodeCenter.QuestNodeBottom.NodeSelected
{
	margin-left: -8px;
}

.AspectRatio4x3 .ActiveQuestNodeCenter.QuestNodeTop.NodeSelected,
.AspectRatio4x3 .ActiveQuestNodeCenter.QuestNodeMiddle.NodeSelected,
.AspectRatio4x3 .ActiveQuestNodeCenter.QuestNodeBottom.NodeSelected
{
	margin-left: -12px;
}

.AspectRatio4x3 .Overview .ActiveQuestNodeCenter.NodeSelected
{
	margin-left: 3px;
	margin-bottom: 2px;
}


.ActiveQuestNodeCenter.QuestNodeTop.NodeSelected
{
	margin-top: 50px;
	margin-left: -3px;
}

DOTABPSpring2016Page .NewBloomSelected .Overview .ActiveQuestNodeCenter.NodeSelected
{
	margin-left: -16px;
}


.Overview DOTAQuestNode
{		
	//border: 1px solid #17428A;
	width: 32px; 
	height: 32px;	
	width: 36px; 
	height: 36px;	
	box-shadow: fill #00000077 -6px -6px 12px 12px;
	box-shadow: none;
}

.Overview DOTAQuestNode.QuestNodeBottom
{
	transform: translateY(26px);
}

.Overview DOTAQuestNode.QuestNodeTop
{
	transform: translateY(-26px);
}

.Overview .ActiveQuestLine DOTAQuestNode
{		
	//border: 1px solid #2462C5;
}

.Overview .ActiveQuestLine DOTAQuestNode.NodeComplete,
.Overview .ActiveQuestLine DOTAQuestNode.NodeAvailable,
.Overview .ActiveQuestLine DOTAQuestNode.NodeSelected
{		
	//border: 2px solid #5E9DEC;
}


.Overview .ActiveQuestLine DOTAQuestNode.NodeComplete
{
	border-color: transparent;
}

.HeroQuest .QuestNodeCircle
{
	transform: rotateZ(45deg);
	width: 60px; 
	height: 60px;
	border-radius: 10%;
}

.QuestNodeMiddle.HeroQuest .QuestNodeCircle,
.QuestNodeBottom.HeroQuest .QuestNodeCircle,
.QuestNodeTop.HeroQuest .QuestNodeCircle
{
	transform: rotateZ(45deg) translateY(12px);
}

.Overview .HeroQuest .QuestNodeCircle
{
	transform: rotateZ(45deg) translateY(0px);
	width: 32px;
	height: 32px;
}

DOTABPSpring2016Page .HeroQuest
{
	width: 56px; 
	height: 56px;
}

.Overview DOTAQuestNode.HeroQuest
{
	width: 32px; 
	height: 32px;
	overflow: noclip;
}

.Reward
{
	width: 96px; 
	height: 96px;
	border-radius: 15%;
}

.HeroQuest DOTAHeroImage
{
	width: 150%;
	transform: rotateZ(-45deg);
	pre-transform-scale2d: 1.28;
}

.Overview .HeroQuest DOTAHeroImage
{
	pre-transform-scale2d: 1;
}


DOTAQuestNode.NodeComplete:hover
{
//	border: 2px solid white;
	pre-transform-scale2d: 1;
}

DOTAQuestNode.NodeAvailable:hover
{
//	border: 2px solid white;
	pre-transform-scale2d: 1.2;
}

DOTAQuestNode.NodeAvailable:active .QuestNodeCircle
{
	background-color: #621101;

	/* Fall 2016 */
	background-color: #2c6201;
	
	/* Winter 2017 */
	background-color: #013a62;
}

DOTAQuestNode.NodeAvailable .QuestNodeCircle
{
	border: 2px solid #4488ff;
	border: 3px solid #B64B37;
	
	/* Fall 2016 */
	border: 3px solid #58a934;
	
	/* Winter 2017 */
	border: 1px solid #3479a9;
}

.Overview DOTAQuestNode.NodeAvailable .QuestNodeCircle
{
	border: 1px solid #B64B37;
	
	/* Fall 2016 */
	border: 1px solid #58a934;
	
	/* Winter 2017 */
	border: 1px solid #3479a9;
}


DOTAQuestNode.NodeAvailable:hover
{
//	border: 2px solid white;
}

DOTAQuestNode.NodeSelected .QuestNodeCircle
{
	border: 4px solid #66aaff;
	border: 4px solid #F7B67F;
	
	//box-shadow: #BA4B36dd -9px -9px 18px 18px;
	
	/* Fall 2016 */
	box-shadow: #84ba36dd -9px -9px 18px 18px;
	border: 4px solid #b5f77f;
	
	/* Winter 2017 */
	box-shadow: #3684badd -9px -9px 18px 18px;
	border: 4px solid #7fc8f7;
	
	animation-name: SelectedGlowWinter;
	animation-duration: 1.60s;
	animation-delay: 0.15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

DOTABPSpring2016Page DOTAQuestNode.NodeSelected
{
	border: 4px solid #B2E0FF;
}

DOTAQuestNode.NodeSelected .QuestNodeCenter
{
	background-color: #823426;
	
	/* Fall 2016 */
	background-color: #428226;
	background-color: gradient( radial, 50% 50%, 0% 0%,100% 100%, from( #00c009cc ), to( #023a05cc ) );
	
	/* Winter 2017 */
	background-color: #265c82;
	background-color: gradient( radial, 50% 50%, 0% 0%,100% 100%, from( #007fc0cc ), to( #021b3aff ) );
}

DOTAQuestNode.NodeSelected:hover .QuestNodeCircle
{
	//box-shadow: #ffffff77 -9px -9px 18px 18px;
//	border: 2px solid white;
}

@keyframes 'SelectedGlow'
{
	0%
	{
		box-shadow: #84ba36dd -3px -3px 6px 6px;
	}
	50%
	{
		box-shadow: #84ba3622 -2px -2px 4px 4px;
	}
	100%
	{
		box-shadow: #84ba36dd -3px -3px 6px 6px;
	}
}

@keyframes 'SelectedGlowWinter'
{
	0%
	{
		box-shadow: #3684badd -3px -3px 6px 6px;
	}
	50%
	{
		box-shadow: #3684ba22 -2px -2px 4px 4px;
	}
	100%
	{
		box-shadow: #3684badd -3px -3px 6px 6px;
	}
}

@keyframes 'SelectedGlowNewBloom'
{
	0%
	{
		box-shadow: #ffaa5577 -9px -9px 18px 18px;
	}
	50%
	{
		box-shadow: #ffaa5522 -7px -7px 14px 14px;
	}
	100%
	{
		box-shadow: #ffaa5577 -9px -9px 18px 18px;
	}
}



DOTAQuestNode.NodeComplete
{
	//border: 2px solid #153D80;
	//border: 2px solid #000000;
}

DOTAQuestNode.NodeComplete .QuestNodeCircle
{
	/* Fall 2016 */
	border: 2px solid #58a934;
	
	/* Winter 2017 */
	border: 2px solid #3984b9;
	
	//border: 2px solid #000000;
}

DOTAQuestNode.NodeComplete .QuestNodeCenter
{
	/* Fall 2016 */
	background-color: #58a934;
	
	/* Winter 2017 */
	background-color: #3983b6;
	border: 2px solid #3984b9;
	
	margin: 1px;
}

.QuestNodeCenter
{
	width: 100%; 
	height: 100%;
	margin: 8px;
	background-color: #321D1D88;
	
	/* Fall 2016*/
	background-color: #132322;
	
	/* Winter 2017*/
	background-color: #131a23;
	
	border-radius: 50%;
}

.HeroQuest .QuestNodeCenter
{
	border-radius: 15%;
}

.NodeComplete .QuestNodeCenter,
.NodeSelected .QuestNodeCenter,
.NodeAvailable .QuestNodeCenter
{
	margin: 4px;	
}


.ActiveQuestNodeCenter
{
	width: 72px; 
	height: 72px;
	
	//background-color: red;
	//border-radius: 50%;
	
	background-image: url("s2r://panorama/images/compendium/winter/activequestring_psd.vtex");
	background-position: 50% 50%;
	background-size: cover;
	z-index: 0;
	wash-color: #66AAFF;
	
	/* Fall 2016 */
	wash-color: #9cff66;
	
	/* Winter 2017 */
	wash-color: #66c4ff;
	
	brightness: 3;	
	pre-transform-scale2d: 1.45;

	opacity: 0;

	transition-property: opacity, pre-transform-scale2d, width, height;
	transition-duration: 0.24s;
	transition-timing-function: ease-in-out;
	
	animation-name: ActiveQuestRingWinter;
	animation-duration: 5.4s;
	animation-delay: 0.15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;	
}

DOTABPSpring2016Page .Overview .ActiveQuestNodeCenter.NodeSelected
{
	width: 64px; 
	height: 64px;	
	margin: 0px;
	margin-left: -10px;
}

DOTABPSpring2016Page .Overview .ActiveQuestNodeCenter:not(.NodeSelected)
{
	pre-transform-scale2d: 1.2;	
}

DOTABPSpring2016Page .Overview .ActiveQuestNodeCenter.QuestNodeBottom
{
	margin: 0px;
	margin-bottom: 16px;
	margin-left: -10px;
}

DOTABPSpring2016Page .Overview .ActiveQuestNodeCenter.QuestNodeTop
{
	margin: 0px;
	margin-top: 16px;
	margin-left: -10px;
}

.Overview .ActiveQuestNodeCenter.NodeSelected
{
	width: 42px; 
	height: 42px;
}

.AspectRatio16x10 .Overview .ActiveQuestNodeCenter.NodeSelected
{
	margin-left: 2px;
}

.ActiveQuestNodeCenter.NodeSelected
{
	pre-transform-scale2d: 1.2;
	opacity: 1;
}

.ActiveQuestNodeCenter.QuestNodeMiddle
{
	vertical-align: middle;
	margin-top: -9px;
	margin-left: -4px;	
}

.Overview .ActiveQuestNodeCenter.QuestNodeMiddle
{
	margin-left: 3px;	
	margin-top: 3px;	
}

.ActiveQuestNodeCenter.QuestNodeBottom
{
	vertical-align: bottom;
	margin-bottom: 10px;
	margin-left: -16px;
}

#CampaignPanelContainer .ActiveQuestNodeCenter.QuestNodeBottom
{
//	transform: translateY(34px); /*abc*/
}



.Overview .ActiveQuestNodeCenter.QuestNodeBottom
{
	margin-left: 2px;	
	margin-bottom: 13px;	
}


.ActiveQuestNodeCenter.QuestNodeTop
{
	vertical-align: top;
	margin-top: 10px;
	margin-left: -16px;
}

.Overview .ActiveQuestNodeCenter.QuestNodeTop
{
	margin-left: 3px;	
	margin-top: 13px;	
}


@keyframes 'ActiveQuestRing'
{
	0%	{		transform: rotateZ(0deg);		wash-color: #B34A35ff; 	}
	10%	{										wash-color: #B34A3500;	}
	20%	{										wash-color: #B34A35ff;	}
	30%	{										wash-color: #B34A3500;	}
	40%	{										wash-color: #B34A35ff;	}	
	50%	{		transform: rotateZ(180deg);		wash-color: #B34A3500;	}
	60%	{										wash-color: #B34A35ff;	}
	70%	{										wash-color: #B34A3500;	}
	80%	{										wash-color: #B34A35ff;	}
	90%	{										wash-color: #B34A3500;	}
	100%{		transform: rotateZ(360deg);		wash-color: #B34A35ff;	}
}

@keyframes 'ActiveQuestRingWinter'
{
	0%	{		transform: rotateZ(0deg);		wash-color: #3535b3ff; 	}
	10%	{										wash-color: #3535b300;	}
	20%	{										wash-color: #3535b3ff;	}
	30%	{										wash-color: #3535b300;	}
	40%	{										wash-color: #3535b3ff;	}	
	50%	{		transform: rotateZ(180deg);		wash-color: #3535b300;	}
	60%	{										wash-color: #3535b3ff;	}
	70%	{										wash-color: #3535b300;	}
	80%	{										wash-color: #3535b3ff;	}
	90%	{										wash-color: #3535b300;	}
	100%{		transform: rotateZ(360deg);		wash-color: #3535b3ff;	}
}

DOTAHeroImage 
{
	vertical-align: middle;
	horizontal-align: center;
	width: 62px;
}

#BottomQuestBlock DOTAHeroImage 
{
	width: 24px;
}


DOTAQuestNode:hover .QuestNodeCenter
{
	//background-color: #444444ff;
}

.BossQuest .QuestNodeCenter
{
	border-radius: 15%;
}

.Reward .QuestNodeCenter
{
	border-radius: 10%;
}

.QuestColumn
{
	height: 100%;
	width: 66px;
	//margin-left: -1px;
	overflow: noclip;
	z-index: 1;
	transition-property: width;
	transition-duration: .25s;
}

.AspectRatio16x10 .QuestColumn
{
	width: 58px;
}

.AspectRatio4x3 .QuestColumn
{
	width: 48px;
}


#QuestPickerQuestMap .QuestColumn
{
	width: 26px;	
}

#QuestPickerQuestMap.NewBloomSelected .QuestColumn
{
	width: 96px;	
}

#QuestPickerQuestMap #Completion
{
	visibility: collapse;
}



DOTABPSpring2016Page .QuestColumn
{
	width: 56px;
}

.Overview .QuestColumn
{
	width: 48px;
}


DOTABPSpring2016Page .NewBloomSelected .Overview .QuestColumn
{
	width: 146px;
}

DOTABPSpring2016Page .NewBloomSelected .Overview .QuestColumn.NodeColumn
{
	width: 32px;
}

#QuestPickerQuestMap.NewBloomSelected .QuestColumn.NodeColumn
{
	width: 32px;
}


DOTAQuestPicker #QuestPickerQuestMap .QuestColumn
{
	height: 182px;
}

.QuestColumn.RewardColumn
{
	width: 96px;
}

.QuestNodeTop
{
	vertical-align: top;
	margin-top: 42px;
}

#CampaignPanelContainer .QuestNodeTop
{
	//transform: translateY(32px);
}


.QuestNodeBottom
{
	vertical-align: bottom;
	margin-bottom: 42px;
}

#CampaignPanelContainer .QuestNodeBottom
{
	transform: translateY( 14px);
}

.Overview #CampaignPanelContainer .QuestNodeBottom
{
	transform: translateY( 24px);
}

.QuestPathDown
{
	opacity-mask: url("s2r://panorama/images/compendium/pathmask_vertical_psd.vtex") 1.0;
	horizontal-align: center;
	vertical-align: bottom;
	width: 6px; 
	height: 30%;
	margin-bottom: 16px;
	margin-bottom: 92px;
}

#QuestWell .QuestPathDown
{
	height: 32%;
}

.QuestPathUp
{
	opacity-mask: url("s2r://panorama/images/compendium/pathmask_vertical_psd.vtex") 1.0;
	horizontal-align: center;
	vertical-align: top;
	width: 6px; 
	height: 25%;
	margin-top: 16px;
	margin-top: 84px;
}

#QuestWell .QuestPathUp
{
	height: 35%;
}

.QuestPathUpRight
{
	horizontal-align: right;
	vertical-align: top;
	width: 50%; 
	height: 6px;
	margin-top: 16px;
	margin-top: 80px;
}


.QuestPathUpLeft
{
	horizontal-align: left;
	vertical-align: top;
	width: 50%; 
	height: 6px;
	margin-top: 16px;
	margin-top: 80px;
}


.Overview .QuestPathUpLeft
{
	height: 6px; 
}


.QuestPathDownRight
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 50%; 
	height: 6px;
	margin-bottom: 16px;
	margin-bottom: 90px;
}

.Overview .QuestPathUpRight
{
	height: 6px; 
	transform: translateY(-8px);
}
.Overview .QuestPathDownRight
{
	height: 6px; 
}


DOTABPSpring2016Page .Overview DOTAQuestNode.NodeAvailable
{
	border: 3px solid #4777B7;
}

DOTABPSpring2016Page .NewBloomSelected .Overview DOTAQuestNode.NodeAvailable
{
	border: 3px solid #F4AF08;
}

DOTABPSpring2016Page .Overview DOTAQuestNode.NodeComplete
{
	border: 3px solid #9AD4FD11;

}

DOTABPSpring2016Page .Overview .QuestPathDown,
DOTABPSpring2016Page .Overview .QuestPathUp
{
	width: 8px;
}

DOTABPSpring2016Page .Overview DOTAQuestNode.HeroQuest
{
	width: 45px;
	height: 45px;
}

DOTABPSpring2016Page .Overview DOTAQuestNode
{
	width: 50px;
	height: 50px;
}

DOTABPSpring2016Page .Overview DOTAQuestPath.PathAvailable
{
	background-color: transparent;
	opacity: .5;
}

DOTABPSpring2016Page .Overview DOTAQuestPath.QuestPathDown.PathComplete,
DOTABPSpring2016Page .Overview DOTAQuestPath.QuestPathUp.PathComplete
{
	background-color: white;
}

DOTABPSpring2016Page .Overview DOTAQuestPath,
DOTABPSpring2016Page .Overview .QuestPathBottom,
DOTABPSpring2016Page .Overview .QuestPathUpper,
DOTABPSpring2016Page .Overview .QuestPathDownRight,
DOTABPSpring2016Page .Overview .QuestPathUpLeft,
DOTABPSpring2016Page .Overview .QuestPathDownLeft,
DOTABPSpring2016Page .Overview .QuestPathUpRight,
DOTABPSpring2016Page .Overview .QuestPathDownRight
{
	height: 8px;
}

DOTABPSpring2016Page .Overview .QuestColumn
{
	width: 44px;
}

DOTABPSpring2016Page .Overview .RightScroll,
DOTABPSpring2016Page .Overview .LeftScroll
{
	opacity: 0;
}

.QuestPathDownLeft
{
	horizontal-align: left;
	vertical-align: bottom;
	width: 50%; 
	height: 6px;
	margin-bottom: 16px;
	margin-bottom: 90px;
}


.Overview .QuestPathDownRight,
.Overview .QuestPathDownLeft
{
	transform: translateY(8px);
}

.Overview .QuestPathDown
{
	transform: translateY(6px);
	width: 6px; 
	height: 44px;
}

.Overview .QuestPathUp
{
	transform: translateY(-6px);
	width: 6px; 
	height: 44px;
}



.QuestPathUpper
{
	vertical-align: top;
	width: 100%; 
	height: 10px;
	margin-top: 16px;
	margin-top: 80px;
}

.Overview .QuestPathUpLeft,
.Overview .QuestPathUpper
{
	transform: translateY(-8px);
}

.QuestPathBottom
{
	vertical-align: bottom;
	width: 100%; 
	height: 6px;
	margin-bottom: 16px;
	margin-bottom: 90px;
}


.QuestPathUpRight.PathAvailable,
.QuestPathUpRight.PathAvailable,
.QuestPathDownRight.PathAvailable,
.QuestPathUpLeft.PathAvailable,
.QuestPathDownLeft.PathAvailable,
.QuestPathUpper.PathAvailable,
.QuestPathBottom.PathAvailable
{
	height: 10px;
}

.QuestPathUp.PathAvailable,
.QuestPathDown.PathAvailable
{
	width: 10px;
}


.Overview .QuestPathBottom
{
	height: 6px; 
}

.Overview .QuestPathDownRight,
.Overview .QuestPathDownLeft,
.Overview .QuestPathBottom
{
	//margin-bottom: 40px;
	transform: translateY(58px);
}


.Overview .QuestPathUpRight,
.Overview .QuestPathUpLeft,
.Overview .QuestPathUpper
{
	//margin-bottom: 40px;
	transform: translateY(-48px);
}

#CampaignVignette
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000aa ), color-stop( 0.2, #00000000 ), color-stop( 0.8, #00000000), to( #000000aa ) );
	z-index: 0;
}

#LeftNavContainer
{
	background-color: #000000aa;
	width: 254px;
	height: 100%;
	z-index: 3;
	visibility: collapse;
}

#ActiveQuestChallenge
{
	
	width: 800px;
	height: 212px;
	margin-bottom: 56px;
	margin-left: 16px;
	vertical-align: bottom;
	z-index: 3;

	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 32px;
	margin-right: 16px;

	padding: 0px;
	padding-bottom: 8px;
	padding-top: 12px;

	animation-duration: 0.51s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;	
	
}

#ActiveQuestContainer.QuestChanged #ActiveQuestChallenge
{
	animation-name: QuestChangeStatus;
}


@keyframes 'QuestChangeStatus'
{
	0%
	{
		transform: translateX(30px);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
}


#SelectorArrow
{
	width: 42px;
	height: 42px;
	background-image: url("s2r://panorama/images/compendium/selector_fill_psd.vtex");
	background-position: 50% 50%;
	background-size: cover;	
	margin-top: 210px;
	margin-left: 16px;
	opacity: 0;

	transition-property: transform, opacity;
	transition-duration: 0.14s;
	transition-timing-function: linear;

	visibility: collapse;	
}


#SelectorArrowWell
{
	width: 42px;
	height: 42px;
	background-image: url("s2r://panorama/images/compendium/selector_psd.vtex");
	background-position: 50% 50%;
	background-size: cover;	
	margin-top: 210px;
	margin-left: 16px;
	opacity: 0;

	transition-property: transform, opacity;
	transition-duration: 0.14s;
	transition-delay: 0.25s, 0s;
	transition-timing-function: linear;

	visibility: collapse;	
}

.Overview #SelectorArrowWell,
.Overview #SelectorArrow
{
	opacity: 1;
	transform: translateX(0px);
}

#SelectorArrow.Quest1 { transform: translateY(8px)  translateX(0px);}
#SelectorArrow.Quest2 { transform: translateY(200px)  translateX(0px);}
#SelectorArrow.Quest3 { transform: translateY(390px)  translateX(0px);}


#SelectorArrowWell.Quest1 { transform: translateY(8px)  translateX(0px);}
#SelectorArrowWell.Quest2 { transform: translateY(200px)  translateX(0px);}
#SelectorArrowWell.Quest3 { transform: translateY(390px)  translateX(0px);}

#QuestNumGames
{
	margin-top: 62px;	
	margin-left: 16px;
}

.QuestDesc
{
	margin-top: 92px;	
	margin-left: 16px;
	color: textMediumColor;
	font-size: 22px;
	text-shadow: 1px 1px 1px 2 #000000;
	width: 520px;
}

#Completion
{
	text-align: right;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 12px;
	font-size: 24px;
	color: #4495F6;	
	transform: translateX(0px) translateY(0px);
	transition-property: pre-transform-scale2d, transform, color;
	transition-duration: 0.24s;
	transition-timing-function: linear;	
}

#QuestWell #Completion
{
	visibility: collapse;
}

#QuestXP
{
	margin-bottom: 6px;
	margin-left:  16px;
}

DOTAQuest #Completion
{
	horizontal-align: right;
	margin-bottom: 32px;
	margin-right: 36px;
	font-size: 24px;
	color: #708b2e;	
	
	/* Winter 2017 */
	color: #36769a;	
}

DOTAQuest.ActiveQuestLine #Completion
{
	color: #708b2e;	
	
	/* Winter 2017 */
	color: #36769a;	
}

.Overview DOTAQuest #Completion
{
	pre-transform-scale2d: .6;
	transform: translateX(14px) translateY(12px);
}


.QuestLore,
.QuestTitle
{
	color: #566477;
	font-size: 20px;
	margin: 0px;
	vertical-align: bottom;
	margin-bottom: 7px;
	margin-left: 16px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px 2 #000000;
}

#QuestLoreContainer
{
	height: 158px;
	width: 1090px;
	visibility: collapse;

	horizontal-align: left;
	vertical-align: top;
	pre-transform-scale2d: 1;
	margin-left: 16px;

	transform: translateY(0px);
	transition-property: opacity, pre-transform-scale2d, transform;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;	
}

.Overview #QuestLoreContainer
{	
	transform: translateY(50px);
	pre-transform-scale2d: .5;
	opacity: 0;
}

.QuestTitle
{
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.QuestLore
{
	font-style: italic;
	vertical-align: bottom;
	font-weight: thin;
	font-size: 18px;
	color: #3986E2;
}

#Reward1
{
	background-image: url("s2r://panorama/images/econ/loading_screens/twilights_rest_loading_screen_png.vtex");
	background-position: 50% 50%;
	background-size: cover;
}


#Reward2
{
	background-image: url("s2r://panorama/images/econ/courier/seekling_gold/seekling_gold_png.vtex");
	background-position: 50% 50%;
	background-size: cover;
}


#Reward3
{
	background-image: url("s2r://panorama/images/econ/loading_screens/phantasmal_disruptions_loading_screen_png.vtex");
	background-position: 50% 50%;
	background-size: cover;
}

.MaxIt
{
	width: 100%;
	height: 100%;
}

.QuestlineLabel
{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #a1a199;
}

#ChallengesTitle
{
	horizontal-align: center;
	padding-top: 12px;
}

.QuestlineName
{
	background-color: #183148;
	font-size: 32px;
	
	/* TI6 */
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #BD4D38ff ), to( #BD4D3800 ) );	
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #487117ff ), to( #48711700 ) );	
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #122b5aff ), to( #122b5a00 ) );	
	
	
	
	
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: thin;
	width: 428px;
	height: 46px;
	text-overflow: shrink;
	color: white;
	margin-top: 0px;
	padding-left: 16px;
	padding-top: 4px;
}

#Quest1 { transform: translateY(20px) rotateX(35deg);}
#Quest2 { transform: translateY(234px) rotateX(35deg);}
#Quest3 { transform: translateY(450px) rotateX(35deg);}
#Quest4 { transform: translateY(20px) rotateX(35deg); visibility: collapse; }

.HasHalloweenQuest #Quest1 { transform: translateY(20px) rotateX(35deg);}
.HasHalloweenQuest #Quest2 { transform: translateY(234px) rotateX(35deg);}
.HasHalloweenQuest #Quest3 { transform: translateY(450px) rotateX(35deg);}
.HasHalloweenQuest #Quest4 { transform: translateY(20px) rotateX(35deg); visibility: visible;}

#Quest1.ActiveQuestLine { transform: translateY(0px) rotateX(35deg);}
#Quest2.ActiveQuestLine { transform: translateY(0px) rotateX(35deg);}
#Quest3.ActiveQuestLine { transform: translateY(0px) rotateX(35deg);}
#Quest4.ActiveQuestLine { transform: translateY(0px) rotateX(35deg);}

.Overview #Quest1 { transform: translateY(30px); }
.Overview #Quest2 { transform: translateY(240px); }
.Overview #Quest3 { transform: translateY(450px); }
.Overview #Quest4 { transform: translateY(660px); }

.HasHalloweenQuest.Overview #Quest4 { transform: translateY(30px); }
.HasHalloweenQuest.Overview #Quest1 { transform: translateY(240px); }
.HasHalloweenQuest.Overview #Quest2 { transform: translateY(450px); }
.HasHalloweenQuest.Overview #Quest3 { transform: translateY(660px); }

#QuestContainer
{
	width: 100%;
	padding: 16px;
	padding-top: 95px;
	padding-bottom: 128px;
	horizontal-align: center;
	height: 768px;
	overflow: noclip;
	//border: 1px solid red;
}

#HeightExtender
{	
	width: 2px;
	height: 0px;
}

.HasHalloweenQuest #HeightExtender
{
	height: 760px;
}

.Overview #QuestContainer
{
	overflow: clip scroll;
}

#QuestChallengeProgress
{
	/* TI6 */
    box-shadow: inset #1f2020 2px 2px 4px 4px;
    background-color: #464748;
    border: 1px solid #3d4746;
	
	/* Fall 2016 */
    box-shadow: inset #17531a 2px 2px 4px 4px;
    background-color: #464748;
    border: 1px solid #393e38;
	
	/* Winter 2017 */
    box-shadow: inset #183e59 2px 2px 4px 4px;
    background-color: #464748;
    border: 1px solid #383c3e;
	
    height: 12px;
    padding: 4px;
    width: 420px;
    visibility: collapse;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 20px;
}

.MultipleGames #QuestChallengeProgress
{
    visibility: visible;
}

#QuestChallengeProgress .ProgressBarLeft
{
    /* TI6 */
	background-color: dotalevelgradient;
    box-shadow: #61789Caa -2px -2px 4px 4px;
	
	 /* Fall 2016 */
	background-color: dotalevelgradient;
    box-shadow: #17531aaa -2px -2px 4px 4px;
	
	 /* Fall 2016 */
	background-color: dotalevelgradient;
    box-shadow: #19405baa -2px -2px 4px 4px;
    
    border-radius: 2px;

    transition-property: width;
    transition-duration: 1.0s;
    transition-timing-function: linear;
}

#QuestChallengeProgress Label
{
    horizontal-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-shadow: 0px 0px 8px 1.0 #C1CEEA88;
    margin-top: 2px;
}

.ChallengeProgressText 
{
    font-size:14px;
}


#RequiredHeroIcon
{
   horizontal-align: center;
   vertical-align: center;
   margin: 0px;
   pre-transform-scale2d: 1.2;
}

.HideRequiredHero
{
    visibility: collapse;
}

.ModelHitTest
{
	width: 192px;
	height: 210px;
	horizontal-align: center;
	margin-top: 48px;
	margin-left: 1220px;		
	visibility: collapse;
}


.Overview .Quest1Active #Questline1Reward,
.Overview .Quest2Active #Questline2Reward,
.Overview .Quest3Active #Questline3Reward,
.Overview .Quest4Active #Questline4Reward,
.Overview #Questline1Reward,
.Overview #Questline2Reward,
.Overview #Questline3Reward,
.Overview #Questline4Reward

.AspectRatio16x10 .ModelHitTest
{
	margin-left: 1040px;	
}

.AspectRatio4x3 .ModelHitTest
{
	margin-left: 860px;
}



.AspectRatio16x9 .Quest4Active .ModelHitTest
{
	margin-left: 0px;
	margin-top: 50px;
}

.AspectRatio16x10 .Quest4Active .ModelHitTest
{
	margin-left: 0px;
	margin-top: 56px;
}

.AspectRatio4x3 .Quest4Active .ModelHitTest
{
	margin-left: 0px;
	margin-top: 76px;	
}


.Quest1Active #Questline1Reward { visibility: visible; }
.Quest2Active #Questline2Reward { visibility: visible; }
.Quest3Active #Questline3Reward { visibility: visible; }
.Quest4Active #Questline4Reward { visibility: visible; }

#InspectIcon
{
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/icon_search_png.vtex");
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	wash-color: #7FC8F7;
	
	/* Fall 2016 */
	
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 120px;
	margin-bottom: 32px;
	
	
	border-radius: 50%;
	border: 1px solid #76221C;
	
	/* Fall 2016 */
	border: 1px solid #42761c;
	
	/* Winter 2017 */
	border: 1px solid #205880;
	
	background-color: black;
	opacity: 0;
	

	transition-property: opacity;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;	
}

.RewardModel.Hovered #InspectIcon
{
	opacity: 0.85;
}

.RewardModel
{
	margin-top: 80px;
	width: 270px;
	height: 270px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	horizontal-align: right;
	pre-transform-scale2d: 0.95;
	margin-right: 126px;	
	contrast: 1;
	brightness: 1;
	opacity: 0;
	transition-property: opacity, wash-color, pre-transform-scale2d, transform, brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#Halloween
{
	horizontal-align: center;
	margin-right: 0px;
}

.AspectRatio16x10 #Halloween
{
	transform: translateY(-20px) translateX(0px);
}

.AspectRatio4x3 #Halloween
{
	transform: translateY(0px) translateX(0px);
}


.RewardModel.Hovered
{
	pre-transform-scale2d: 1;
	brightness: 2.5;
}

#ActiveQuestBackgroundGlow
{
	width: 740px;
	height: 280px;
	background-image: url("s2r://panorama/images/compendium/spring2016/quests/questglowbg_psd.vtex");
	background-size: 100%;	
	vertical-align: bottom;
	margin-left: -120px;
	margin-bottom: 0px;
	
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.Overview #ActiveQuestBackgroundGlow
{
	opacity: 0;
}

.RewardModel:hover
{
	wash-color:white;
}

.ActiveQuestLine .RewardModel.SceneLoaded
{
	opacity: 1;
}


.Quest2Active #Zeus.SceneLoaded
{
	margin-right: 170px;
	margin-top: 40px;
	opacity: 1;
}

.Quest4Active #Halloween.SceneLoaded
{
	margin-top: 90px;
	opacity: 1;
}


.Quest2Active #Zeus #InspectIcon
{
	margin-right: 182px;
}

.Quest3Active #Antimage #InspectIcon
{
	margin-right: 162px;
}

.Quest4Active #Halloween #InspectIcon
{
	margin-bottom: 70px;
}

.AspectRatio4x3 .Quest2Active #Zeus.SceneLoaded
{
	margin-right: 160px;
	margin-top: 20px;
}

.AspectRatio4x3 .Quest3Active #Antimage.SceneLoaded
{
	margin-right: 130px;
}

.AspectRatio4x3 .Quest1Active #Treant.SceneLoaded
{
	margin-right: 150px;
	margin-top: 40px;
}


.Quest3Active #Antimage.SceneLoaded
{
	margin-right: 180px;
	margin-top: 40px;
	opacity: 1;
}

.Quest1Active #Treant.SceneLoaded
{
	margin-right: 180px;
	margin-top: 29px;
	opacity: 1;
}

.Quest4Active #Halloween
{
	margin-top: -0px;
	vertical-align: top;
	opacity: 1;
	
}

.AspectRatio16x10 .Quest4Active #Halloween
{
}

.AspectRatio4x3 .Quest4Active #Halloween
{
}


.Overview #Zeus.SceneLoaded,
.Overview #Antimage.SceneLoaded,
.Overview #Treant.SceneLoaded,
.Overview #Halloween.SceneLoaded
{
	opacity: 0;	
	pre-transform-scale2d: .5;
	transform: translateY(110px);
	transition-duration: 0.3s;
	transition-delay: 0.2s;
}

.XPCircle
{
    margin-left: 10px;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    flow-children: down;

    background-color: XPCircleGradient;
    border: XPCircleBorder;

    box-shadow: -2px -2px 4px 4px #000000;
    
    z-index: 1;

    transition-property: brightness, pre-transform-scale2d;
    transition-duration: .25s;
}
.ChallengeTime
{
	margin-right: 4px;
}

#ActiveQuestChallenge .XPCircle
{
    width: 64px; 
    height: 64px;
	margin: 0px;	
    margin-left: 24px;
	margin-top: -8px;
}

#QuestHeader
{
	//width: 100%;
}

#ActiveQuestChallenge #QuestXP
{
	font-size: 24px;
}

#ActiveQuestChallenge #PTS
{
	font-size: 14px;
}

#SideQuestContainer .XPCircle
{
	margin: 12px;
	pre-transform-scale2d: 0.8;
	vertical-align: bottom;
	horizontal-align: right;
	
}

#SideQuestContainer .XPCircle #QuestXP {
    margin-top: 6px;
}

#SideQuestContainer .ChallengeCompleted .XPCircle
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #09372F ), to( #095342 ) );
}

#SideQuestContainer .ChallengeCompleted .XPCircle #PTS
{
	visibility:	collapse;
}

#SideQuestContainer .ChallengeCompleted .XPCircle #QuestXP 
{
	margin-bottom: -18px;
}


.XPCircle #QuestXP
{
	margin: 0px;
	margin-top: 10px;
	margin-left: 3px;
	font-size: 18px;

    text-shadow: -1px 1px 8px 2 #000000bb;

	color: white;
	horizontal-align: center;
	vertical-align: middle;
}

#PTS
{
    background-image: url("s2r://panorama/images/compendium/winter2017/totalpoints_psd.vtex");
    background-size: cover;
    width: 22px;
    height: 22px;
    margin-top: -8px;
    horizontal-align: center;
}

#QuestTitles
{
	width: 1392px;
	horizontal-align: center;
}

.OverviewTitles
{
	opacity: 0;
	font-size: 22px;
	
	/* TI6 */
	border: 1px solid #62312D;
	color: #996850;
	
	/* Fall 2016 */
	border: 1px solid #32480f;
	color: #8c9950;
	
	/* Winter 2017 */
	color: #a5ccf7;
	border: 1px solid #203e60;
	
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-left: 132px;
	background-color: black;
	padding-left: 12px;
	padding-right: 12px;
    transition-property: opacity;
    transition-duration: .25s;	
	transition-delay: .28s;	
	box-shadow: black -4px -4px 8px 8px;
}


.Overview .OverviewTitles
{
	opacity: 1;
	transition-duration: .1s;	
	transition-delay: 0s;	
}


#Quest1Title {  margin-top: 16px; }
#Quest2Title {	margin-top: 226px; }
#Quest3Title {	margin-top: 436px; }

/* TI6
.Quest1Active #Quest1Title { color: white; background-color: #691301;}
.Quest2Active #Quest2Title { color: white; background-color: #691301;}
.Quest3Active #Quest3Title { color: white; background-color: #691301;}
.Quest4Active #Quest4Title { color: white; background-color: #691301;}
*/

/* Fall 2016 */
.Quest1Active #Quest1Title { color: white; background-color: #416901;}
.Quest2Active #Quest2Title { color: white; background-color: #416901;}
.Quest3Active #Quest3Title { color: white; background-color: #416901;}
.Quest4Active #Quest4Title { color: white; background-color: #416901;}

/* Winter 2017 */
.Quest1Active #Quest1Title { color: white; background-color: #014169;}
.Quest2Active #Quest2Title { color: white; background-color: #014169;}
.Quest3Active #Quest3Title { color: white; background-color: #014169;}
.Quest4Active #Quest4Title { color: white; background-color: #014169;}

#QuestChallengeProgress,
#WeeklyChallenge1Progress,
#WeeklyChallenge2Progress
{
	/* TI6 */
	box-shadow: inset black 2px 2px 4px 4px;
    background-color: #430804;
    border: 1px solid #713027;
	
	/* Fall 2016 */
    box-shadow: inset #426e24 1px 1px 2px 2px;
    background-color: #2f462b;
    border: 1px solid #6a9147;
	
	/* Winter 2017 */
    box-shadow: inset #29597b 1px 1px 2px 2px;
    background-color: #2b3b46;
    border: 1px solid #4d7d9e;
	
    height: 12px;
    padding: 4px;
    width: 120px;
    margin-left: 25px;
    margin-bottom: 44px;
    horizontal-align: left;
    vertical-align: bottom;
	
}

#QuestChallengeProgress
{
	width: 200px;
	margin: 0px;
	horizontal-align: center;
}

#QuestPickerCurrentQuest #QuestChallengeProgress
{
	horizontal-align: right;
	margin-right: 16px;
	margin-bottom: 12px;
	width: 120px;
}

#QuestPickerCurrentQuest .QuestChallengeProgressLabel
{
	horizontal-align: right;
	margin-right: 16px;
	margin-bottom: 22px;	
}


#WeeklyChallenge1Progress .ProgressBarLeft,
#WeeklyChallenge2Progress .ProgressBarLeft
{
	/* TI6 */
	background-color: #F7B67F;
	
	/* Fall 2016 */
	background-color: #baf77f;
	box-shadow: none;
	
	/* Winter 2017 */
	background-color: #7fcef7;
	box-shadow: none;
}

#WeeklyChallenge1Progress .ProgressBarRight,
#WeeklyChallenge2Progress .ProgressBarRight,
{
	background-color: black;
}


.WeeklyChallengeProgressLabel
{
    horizontal-align: left;
    vertical-align: bottom;
    font-weight: thin;
    font-size: 16px;
    color: #9E9E97;
 //   text-shadow: 0px 0px 8px 1.0 #C1CEEA88;
    margin-top: 2px;
    margin-left: 45px;
    margin-bottom: 20px;
}

.QuestChallengeProgressLabel
{
    horizontal-align: center;
    vertical-align: bottom;
    font-size: 18px;
   
	/* Fall 2016 */
	color: #75a92e;
	
	/* Winter 2017 */
	color: #4d96f0;

    text-shadow: 0px 0px 8px 1.0 black;
    visibility: collapse;
	
}

.MultipleGames .QuestChallengeProgressLabel
{
	visibility: visible;
}

#ProgressChallengeBlock
{
	vertical-align: bottom;
	//width: 464px;
	horizontal-align: left;
	margin-left: 14px;
	
}


#IntroPanel
{
	width: 1392px;
	height: 100%;
	horizontal-align: center;
	overflow: noclip;
	flow-children: right;
	transform: translateX( -280px )  translateZ( 200px );
	transition-property: transform, opacity, blur, wash-color;
	transition-duration: .45s;	
	opacity: 0;
}

#IntroPanelBackground
{
	background-color: #00000099;
	width: 692px;
	height: 100%;
	border: 2px solid black;
	background-image: url("s2r://panorama/images/compendium/winter2017/campaigncoverart_psd.vtex");
	background-size: 692px 324px;
	background-position: 0px 40px;
	background-repeat: no-repeat;
	overflow: noclip;	
}

#IntroHeader
{
	width: 100%;
	width: 692px;
	height: 344px;
}

#CoverArtGlow
{
	width: 750px;
	height: 750px;
	background-image: url("s2r://panorama/images/compendium/campaigncoverart_glow_psd.vtex");
	background-size: cover;		
	transform: translateX(-220px) translateY(-180px);
	opacity: .4;
	
	/* Winter 2017 */
	hue-rotation: 140deg;

	animation-name: CoverGlow;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}


@keyframes 'CoverGlow'
{
	0%
	{
		opacity: .4;
	}
	50%
	{
		opacity: .2;
	}
	100%
	{
		opacity: .4;
	}
}



#IntroCampaignTitle
{
	width: 300px;
	font-size: 40px;
	text-align: left;
	color: black;
	font-weight: bold;
	margin-top: 32px;
	/* TI6 */
	text-shadow: 0px 0px 12px 2 #D92A32;	
	
	/* Fall 2016 */
	text-shadow: 0px 0px 12px 2 #68d92a;	
	margin-left: 52px;
	
	/* Winter 2017 */
	text-shadow: 0px 0px 12px 2 #2a91d9;	
	margin-left: 52px;
}


.IntroTitleLabel
{
	text-align: center;
	/* TI6 */
	background-color: #42282F77;
	color: #941303;
	
	/* Fall 2016 */
	background-color: #32422877;
	color: #90ae03;
	
	/* Winter 2017 */
	background-color: #28374277;
	color: #036cae;
	
	width: 690px;
	padding-top: 8px;
	padding-bottom: 6px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#IntroHeaderCover
{
	width: 100%;
	height: 420px;
}

.LoreBlock
{
	width: 690px;
	padding: 16px;
	padding-left: 32px;
	padding-right: 32px;
	margin-bottom: -20px;
	font-style: italic;
	vertical-align: bottom;
	background-color: #000000ee;

}

.LoreBlock Label
{
	font-size: 20px;
	/* Ti6 */
	color: #C14E3A;
	
	/* Fall 2016 */
	color: #9cc13a;
	
	/* Winter 2017 */
	color: #4b9ed8;
	
	font-weight: thin;
	opacity-mask: url("s2r://panorama/images/masks/textvignette_psd.vtex");	
}


#IntroInformationPanel
{
	width: 658px;
	height: 372px;

	horizontal-align: center;
	vertical-align: bottom;
	background-color: #00000066;
	margin-bottom: 16px;
	border: 1px solid #43597833;
	padding: 8px;
}


.DetailsQuad
{
	width: 100%;
	height: 29%;
	margin: 8px;
	//border: 1px solid #43597866;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #0E151D ), to( #331F25 ) );	
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #171412 ), to( #4D211A) );
	
	/* Fall 2016 */
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #121712 ), to( #3a4d1a) );
	
	/* Winter 2017 */
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #121517 ), to( #1a384d) );
}



.DetailsQuad:hover .DetailsTextContainer
{
	opacity: 1;
}

.DetailsQuad:hover .DetailsTitle
{
	color: #ffffff00;
}

.DetailsText
{
	opacity: 1;
	background-color: none;
	vertical-align: middle;
	horizontal-align: center;
	padding: 0px;
	padding-left: 16px;
	padding-right: 16px;
	width: fit-children;
}

.DetailsTextContainer
{
	width: 100%;
	height: 100%;
	/* TI6 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #321F25aa ), color-stop( 0.5, #321F25ee), to( #321F25ee) );
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4e6425aa ), color-stop( 0.5, #4e6425ee), to( #4e6425ee) );
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #254a64aa ), color-stop( 0.5, #254f64ee), to( #254f64ee) );
	
	opacity: 0;	
	transition-property: opacity;
	transition-timing-function: ease-in;
	transition-duration: 0.2s;	
}


.DetailsTitle
{
	margin: 0;
	vertical-align: middle;
	horizontal-align: center;
}

.DetailsNext
{
	transform: rotateZ(90deg);
	width: 53px;
	height: 64px;
	
	/* Fall 2016 */
	hue-rotation: 90deg;
	
	/* Winter 2017 */
	hue-rotation: 200deg;
}

#DetailNext1
{
	margin-top: 82px;
}

#DetailNext2
{
	margin-top: 198px;
}

.DetailsQuad .InfoIcon
{
	horizontal-align: right;
	margin: 8px;
	opacity: .1;
}


.IntroCommunityDesc
{
	margin: 32px;
	font-size: 18px;
	color: #ABCBD2;
	font-weight: thin;
	visibility: collapse;
}

#CommunityGoalContainer
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.CommunityGoal
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 16px;
	visibility: collapse;
}



#CampaignQuestEventGoal.InvalidData
{
	visibility: visible;
}

#CampaignQuestEventGoal
{
	border: 0px solid transparent;
}

#CampaignQuestEventGoal:hover
{
	background-color: none;
}

#CampaignQuestEventGoal #TitleText
{
	color: #66C1DA;
}


#CommunityGoalContainer .OverviewTitles
{
	opacity: 1;
	font-size: 18px;
	margin: 0px;
	background-color: none;
	horizontal-align: left;
	margin-left: 6px;
	border: 0px solid transparent;
}

#IntroToggle
{
	horizontal-align: right;
	height: 100%;
	//background-color: #ff000022;
	width: 1000px;
	z-index: 5;
	//hue-rotation: 80deg;
}

#StartFX
{
	width: 712px;
	height: 712px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");	
	vertical-align: middle;
	margin-left: 6px;
}

#IntroToggleOverview
{
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
	background-size: 32px 32px;	
	background-repeat: no-repeat;
	background-position: 50% 60%;
	horizontal-align: left;
	vertical-align: middle;
	height: 200px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0B183788 ), to( #00000088 ) );
	border: 1px solid white;
	width: 64px;
	border-top-right-radius: 32px;
	border-bottom-right-radius: 32px;
	z-index: 5;
	transform: translateX(-2px);
	
	/* TI6 */
	wash-color: #5B1405;
	
	/* Fall 2016 */
	wash-color: #3a4c04;
	
	/* Winter 2017 */
	wash-color: #0b4569;
	

	opacity: 0;

	transition-property: opacity, wash-color;
	transition-duration: .25s;

}

.ShowingIntroPanel .Overview #IntroToggleOverview,
.ShowingIntroPanel #IntroToggleOverview
{
	opacity: 0;
}

#IntroToggleOverview .HelpIcon
{
	width: 32px;
	height: 32px;
	margin-bottom: 48px;
	horizontal-align: center;
	wash-color: white;
}

#IntroToggleOverview:hover
{
	/* TI6 */
	wash-color: #B64B37;
	
	/* Fall 2016 */
	wash-color: #8cb11b;
	
	/* Winter 2017 */
	wash-color: #1b7ab1;
}

.Overview #IntroToggleOverview
{
	opacity: 1;
}

.ShowingIntroPanel #IntroPanel
{
	transform: translateX( 0px );
	opacity: 1;
}

#GoToQuests
{
	vertical-align: middle;
	margin-left: 284px;
	width: 158px;
	height: 264px;
	opacity: 0;
	pre-transform-scale2d: 2.5;
	wash-color: #C04E39;

	transition-property: pre-transform-scale2d, opacity, wash-color;
	transition-duration: .4s, .4s, .12s;		
}

#GoLabel
{
	horizontal-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: #89F8F9;
	font-size: 22px;
	
	transition-property: color;
	transition-duration: .25s;		
}

#GoToQuestsIcon
{
	horizontal-align: center;
	width: 156px;
	height: 156px;
	border-radius: 50%;
	border: 1px solid #89F8F9;
	background-color: #000000;
	margin-top: 62px;
	box-shadow: #5FABE755 -9px -9px 18px 18px;	

	transition-property: box-shadow, border, background-color;
	transition-duration: .25s;	
}

#GoToQuestsIcon:hover
{
	box-shadow: #5FABE755 -8px -8px 16px 16px;
	border: 1px solid white;	
	background-color: #5D96C9;	
}

#GoToQuestsIcon:hover #GoLabel
{
	color: white;
}

.ShowingIntroPanel #GoToQuests
{
	pre-transform-scale2d: 1;
	opacity: 1;
	wash-color: white;
}

.WagerValue
{
	font-size: 14px;
	color: #A7BFD7;
}

.WagerTime
{
	//text-transform: uppercase;
	font-size: 14px;
	color: #667788;
	vertical-align: bottom;
	margin-right: 8px;
	margin-left: 2px;
}


#DailyHeroTimer Label,
#Weekly1Timer Label,
#Weekly2Timer Label,
{
	color: #6B8DAD;
}

#SideQuestContainer #Weekly1Timer,
#SideQuestContainer #Weekly2Timer,
#SideQuestContainer #DailyHeroTimer
{
	vertical-align: bottom;
	horizontal-align: left;
	margin: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 3px;
	padding-left: 8px;
	padding-right: 6px;
	background-color: #1A468B;
	background-color: #713027;
	
	/* Fall 2016 */
	background-color: #5c7f1f;
	
	/* Winter 2017 */
	background-color: #24638f;
	
    tooltip-body-position: 50% 50%;
	
	
	border-top-right-radius: 10px;
	
}
#SideQuestContainer #Weekly1Timer Label,
#SideQuestContainer #Weekly2Timer Label,
#SideQuestContainer #DailyHeroTimer Label
{
	font-size: 14px;
	color: #8899aa;
	color: white;
	font-weight: thin;
}


#Weekly1Timer
{
	margin-left: 166px;
	margin-right: 80px;
	horizontal-align: center;


}

.CheckMark
{
    background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
    background-size: cover;
    width: 32px;
    height: 32px;
    wash-color: #22ff77;
    vertical-align: top;
    z-index: 2;
    transition-property: opacity;
    transition-duration: 0.32s;
    horizontal-align: center;
	vertical-align: middle;
    margin-top: 0px; 
    visibility: collapse;     
}

.ChallengeCompleted .CheckMark
{
    visibility: visible;
}

.QuestPageActiveQuest
{
	width: 700px;
}

.FirstTimeUser #ActiveQuestContainer
{
	visibility: collapse;
}

#CampaignBody.QuestsComplete #AllQuestsComplete
{
	//visibility: visible;
}

#AllQuestsComplete
{
	width: 520px;	
	height: 520px;	
	background-image: url("s2r://panorama/images/compendium/spring2016/underlord_tease_png.vtex");
    background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	horizontal-align: center;
	vertical-align: middle;
	margin-right: 564px;
	margin-top: 24px;
	z-index: 5;
	padding: 84px;
	
	visibility: collapse;
	
    transition-property: transform, opacity, pre-transform-scale2d, blur;
    transition-duration: 0.42s;
	transition-timing-function: ease-in-out;
}

#TeaseContainer
{
	width: 100%;
	height: 100%;
	background-color: #000000f5;	
	//background-color: #00000000;
	opacity: 0;
    
	transition-property: opacity, transform, pre-transform-scale2d, blur;
    transition-duration: 0.32s;
	transition-timing-function: ease-in-out;	
}

#TeaseContainer.ShowTease
{
	opacity: 1;
}

#NoteWritingContainer
{
	width: 550px;
	//height: 600px;
	horizontal-align: center;
	vertical-align: middle;
	margin-left: 420px;
}

#NoteWriting
{
	horizontal-align: right;
	color: #FF5511;
	text-shadow: 1px 1px 6px 2 #7BE82D22;
	letter-spacing: 0px;
	font-size: 18px;
	font-weight: thin;
	font-style: italics;
	text-align: left;
	pre-transform-scale2d: 0.5;
	transform: translateY(-28px) translateX(-28px);
	opacity: 0;
	
	opacity-mask: url("s2r://panorama/images/masks/textvignette_psd.vtex")0.75;
	horizontal-align: center;
	transition-property: opacity, transform, pre-transform-scale2d, color;
    transition-duration: 1.22s, 0.82s;
	transition-timing-function: ease-in-out;		
}

.ShowTease #NoteWriting
{
	opacity: 1;
	pre-transform-scale2d: 1;		
	color: white;
	transform: translateY(0px) translateX(0px);
}

.Language_tchinese #NoteWriting,
.Language_schinese #NoteWriting
{
	width: 300px;
	height: 50%;	
	font-size: 30px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}

#Scratch
{
	width: 120px;	
	height: 120px;	
	background-image: url("s2r://panorama/images/compendium/scratch_psd.vtex");
    background-size: contain;
	horizontal-align: center;
	vertical-align: bottom;	
	margin-bottom: 62px;
	margin-left: 12px;
}

#AllQuestsComplete.CollapseNote
{
	pre-transform-scale2d: .15;
	transform: translateY(-328px) translateX(700px);
	blur: gaussian( 2 );
}

#AllQuestsComplete.CollapseNote:hover
{
	pre-transform-scale2d: .17;	
}


#AllQuestsComplete:hover
{
	pre-transform-scale2d: 1.03;	
}

.QuestNodeNewBloomReward
{
	width: 38px;
	height: 52px;
	vertical-align: middle;
	z-index: 3;
	margin-top: 92px;
	margin-left: 62px;
	//transform: rotateX(-40deg) rotateY(-10deg) rotateZ(20deg) translateZ(120px);
	background-image: url("s2r://panorama/images/compendium/hongbao_psd.vtex");
    background-size: 100%;
	box-shadow: fill #000000aa -4px 0px 8px 8px;
}

.QuestNodeNewBloomReward.RewardTop
{
	margin-top: 80px;
	vertical-align: top;
}

.QuestNodeNewBloomReward.RewardBottom
{
	margin-bottom: 20px;
	vertical-align: bottom;
}

#QuestLineArt
{
	width: 25%;
	height: 25%;

	vertical-align: middle;
	horizontal-align: center;

	background-color: black;
	background-image: url("s2r://panorama/images/compendium/winter/tabletop_psd.vtex");
    background-size: 100%;
	blur: gaussian( 2 );

	pre-transform-scale2d: 5.2;
	transition-property: pre-transform-scale2d;
    transition-duration: 0.32s;
	transition-timing-function: ease-in-out;	
	
	//hue-rotation: 100deg;
}

.Overview #QuestLineArt
{
	pre-transform-scale2d: 4;
}


.QuestStarCompletion
{
	width: 120px;
	height: 26px;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/status_icons/3star_empty_psd.vtex");
    background-size: 100%;		
	//wash-color: #702E1B;
	//wash-color: #451D1A;
	z-index: 5;
	margin-bottom: 4px;
	
	transition-property: wash-color, opacity;
    transition-duration: 0.32s;
	transition-timing-function: ease-in-out;	
}

.Overview .QuestStarCompletion
{
	opacity: 0;
}

.QuestTier1Complete .QuestStarCompletion { background-image: url("s2r://panorama/images/status_icons/3star_1_psd.vtex"); }
.QuestTier2Complete .QuestStarCompletion { background-image: url("s2r://panorama/images/status_icons/3star_2_psd.vtex"); }
.QuestTier3Complete .QuestStarCompletion { background-image: url("s2r://panorama/images/status_icons/3star_3_psd.vtex"); }

.NodeAvailable.NodeSelected .QuestStarCompletion,
.NodeSelected .QuestStarCompletion
{
	/* TI6 */
	wash-color: #F7B67F;
	
	/* Fall 2016 */
	wash-color: #e7f77f;
	
	/* Winter 2017 */
	wash-color: #7fe2f7;
}

.QuestTier3Complete .QuestStarCompletion
{
	/* TI6 */
	wash-color: #7B352B;
	
	/* Fall 2016 */
	wash-color: #7a7b2b;
	
	/* Winter 2017 */
	wash-color: #2b5c7b;
}

.Quest4Active .QuestTier3Complete .QuestStarCompletion
{
	/* TI6 */
	wash-color: #B28701;
	
	/* Fall 2016 */
	wash-color: #acb201;
	
	/* Winter 2017 */
	wash-color: #0171b2;
}

.NodeAvailable .QuestStarCompletion
{
	/* TI6 */
	wash-color: #B64B37;
	
	/* Fall 2016 */
	wash-color: #94aa2b;
	
	/* Winter 2017 */
	wash-color: #2b7faa;
}

.Quest4Active .NodeAvailable .QuestStarCompletion
{
	/* TI6 */
	wash-color: #F6B54E;
	
	/* Fall 2016 */
	wash-color: #d8f64e;
	
	/* Winter 2017 */
	wash-color: #4ebdf6;
}

.NodeLocked .QuestStarCompletion
{
	opacity: 0;
}

#Choose,
#QuestLineName
{
 	font-size: 42px;
	
	padding: 0px;

	overflow: noclip;
	margin: 0px;
	
	transition-property: transform, opacity, color;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;	
}

#Choose
{
	transform: translateX( -300px ) translateY(-38px);
	opacity: 0;
	horizontal-align: center;
}

#ChooseDisclaimer
{
	color: accentColor;
}

#QuestPickerHeaderDB
{
	width: 100%;
	height: 132px;
	overflow: noclip;
	margin-top: 32px;
}


.Overview #QuestLineName
{
	transform: translateX( 300px );
	opacity: 0;
}

.Overview #Choose
{
	transform: translateX( 0px ) translateY(-38px);
	opacity: 1;
}

	
#OverviewButton:hover
{
	color: white;
	border: 1px solid #F9BC80;
}
	
#QuestRanks.QuestPageQuestRanks
{
	margin-top: -12px;
}