.PredictionsBody
{
    flow-children:down;
}
#InvitesCentered
 {
    horizontal-align: center;
    margin-left: 40px;
    flow-children:right;
    margin-top:20px;
}

.Invite
{
    width:125px;
    height:125px;
    margin-right:30px;
    margin-bottom:30px;
    border:0px solid backgroundBrightColor;
	background-image: url("s2r://panorama/images/compendium/winter2017/compendium/invites_backer_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	transition-property: background-image;
	transition-duration: .2s;
}

.Invite.Revealed
{
    width:125px;
    height:125px;
	border: 0px;
	background-image: url("s2r://panorama/images/compendium/winter2017/compendium/invites_backer_revealed_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	animation-name: revealed-slam;
	animation-duration: .3s;
	
}

@keyframes 'revealed-slam'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 6.5;
		wash-color: black;
	}

	60%
	{
		wash-color: white;
	}
	
	99%
	{
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
	}
}

.Invite.ComingSoon
{
    width:125px;
    height:125px;
    margin-right:45px;
    margin-bottom:30px;
	border: 0px;
	background-image: url("s2r://panorama/images/compendium/winter2017/compendium/invites_backer_coming_soon_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	animation-name: backerglow;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'backerglow'
{
	0%
	{
		box-shadow: #30567000 0px 0px 0px;
	}
	

	50%
	{
		box-shadow: #305670 0px 0px 24px;
	}
	
	100%
	{
		box-shadow: #30567000 0px 0px 0px;
	}
}

.TeamName
{
    width:100%;
    text-align:center;
    vertical-align:bottom;
    font-size:20px;
    visibility:collapse;
}

.Countdown
{
    width:100%;
    text-align:center;
    vertical-align:middle;
    font-size:24px;
	font-family: RadianceM;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 20px;
	color: textBrightColor;
	margin-top: 6px;
}

.Invite.ComingSoon .Countdown
{
	color: white;
	text-shadow: 0px 0px 5px 1.0 backgroundMediumColor;
}

#TeamLogo
{
    width:100px;
    height:100px;
    margin-top:12px;
    margin-left:13px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .5s;
	
}

.Revealed #TeamLogo
{
    visibility:visible;
	opacity: 1;
}
.Revealed #TeamName
{
    visibility:visible;
}
.Revealed .Countdown
{
    visibility:collapse;
}
.Title 
{
    color: white;
    font-size: 36px;
    text-align: center;
    width:100%;
    text-transform:uppercase;
    margin-top:60px;
	text-shadow: 0px 0px 30px textColoredVeryBrightColor;
	letter-spacing: 3px;
}

#RegionalInvites
{
    width:100%;
    height:fit-children;
    flow-children:down;
     
}
#RegionalFrames
{
    flow-children:right;
	overflow: scroll squish;
	padding-bottom: 20px;
	margin-left: 16px;
    
    horizontal-align:center;
    margin-top:15px;
}

#RegionalHeader
{
	margin-top: 30px;
}

.RegionalTeam
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: textBrightColor;
}


.RegionalFrame
{
    width:220px;
    margin-right:20px;
    height:300px;
    border:0px solid white;
    flow-children:down;
	background-image: url("s2r://panorama/images/compendium/winter2017/compendium/invites_regional_backer_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: black 0px 0px 12px;	
}
.RegionalTitle
{
    width:100%;
    text-align:center;
    margin-top:5px;
    margin-bottom:10px;
    color:white;
    font-size:24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 8px;
}
.RegionalTeamContainer
{
    flow-children:down;
    width:100%;
	height: 100%;
    margin-top: 10px;
}
.RegionalFrame Label
{
    text-align:center;
    width:100%;
}
.TeamContainer
{
    width:100%;
    height:22px;
}


/* Make NA/SA next to each other, and EU/CIS next to each other */
#RegionNA, #RegionEU
{
	margin-right: 0px;
}

.BattleCupColor
{
	color: #e7bf70; 
}

.OpenQualifier
{
	color: #88b0cc;
}