.DotaLoadingRoot
{
    width: 100%;
    height: 100%;
	background-color: #212226;
}

.DotaLoadingIcon
{
	horizontal-align: center;
	vertical-align: center;
	animation-name: LoadingIconAnim;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'LoadingIconAnim'
{
	0%
	{
	    pre-transform-scale2d: 1;
		opacity: 0;
	}

	40%
	{
	    pre-transform-scale2d: 1;
		opacity: 1;
	}

	60%
	{
	    pre-transform-scale2d: 1;
		opacity: 1;
	}

	80%
	{
	    pre-transform-scale2d: 4;
		opacity: 0;
	}

	100%
	{
	    pre-transform-scale2d: 1;
		opacity: 0;
	}
}


