
.HeroSelectOverlayRoot
{
	width: 100%;
	height: 210px;
    margin-top: 50px;
    flow-children: right;
}

#HeroSelectTeamsContainer
{
    width: 100%;
    flow-children: right;
}

.HeroSelectOverlayTimer
{
	width: 80px;
	height: 100%;
	margin-right: 9px;
}

#Timer
{
	margin-top: 8px;
    font-size: 48px;
    color: #CCCCCC;
	horizontal-align: center;
}

#TimerBg
{
	wash-color: #222222;
}

#TimerBg,
#TimerRing
{
	width: 70px;
	height: 70px;
	margin-top: 2px;
	horizontal-align: center;
}

#TimerLabel
{
	margin-top: 76px;
    color: #a9aaaa;
    font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
}

.HeroSelectTeamRoot
{
    margin-left: 9px;
    margin-right: 9px;
}

.HeroSelectTeamRoot.no_players
{
	visibility: collapse;
}

#PlayersContainer
{
    horizontal-align: center;
    flow-children: right;
    height: 50px;
}

.local_player_team #PlayerPortraitsOverlay
{
	width: 100%;
    height: 50px;
    box-shadow: fill #ffffff80 -3px -3px 3px 6px;
}

#EndSpacer
{
    width: fill-parent-flow(1);
}

#Spacer
{
}

.HeroSelectPlayerRoot
{
    flow-children: down;
}

#TeamHeader
{
    width: 100%;
	height: 48px;
}

#TeamHeaderAndPlayers
{
	horizontal-align: center;
    flow-children: down;
}

#TeamHeaderLogoName
{
	width: 100%;
	flow-children: down;
}

#TeamGradient
{
	width: 100%;
	height: 24px;
}

#TeamLogo
{
	vertical-align: top;
	margin-top: 2px;
	horizontal-align: center;
}

#PlayerPortrait
{
    background-color: #444444;
    border: 1px solid black;
    width: 90px;
    height: 50px;
}

#PlayerName
{
    color: #a9aaaa;
    font-size: 16px;
    text-align: center;
	width: 90px;
	white-space: nowrap;
}

.HeroSelectPlayerRoot.hero_highlighted #PlayerPortrait
{
    saturation: 0.0;
}
