.TeamIcon
{
	width: 32px;
	height: 32px;
}

.TeamIcon Image
{
	width: 32px;
	height: 32px;
}

.TeamIcon #IconShadow
{
	width: 32px;
	height: 32px;
}

.TeamIconLarge
{
	width: 64px;
	height: 64px;
}

.TeamIconLarge Image
{
	width: 64px;
	height: 64px;
}

.TeamIconLarge #IconShadow
{
    opacity: 0.5;
	width: 64px;
	height: 64px;
}
