.OverthrowNotification
{
    width: 100%;
    height: 100%;
}

#InstructionsPanel
{
    width: 640px;
    height: 360px;

    border: 0px solid black;
    background-color: #111111;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #42494e ), to( #252525 ) );
    border-radius: 5px;

    vertical-align: middle;
    horizontal-align: center;

    padding: 10px;

    flow-children: right;
}

.hidden_instructions#InstructionsPanel
{
    visibility: collapse;
}

.InstructionsTitle
{
    color: white;
    font-size: 18px;
    font-weight: bold;
    horizontal-align: center;
}

.InstructionsHeading
{
    color: white;
    font-size: 14px;
    font-weight: bold;
    horizontal-align: left;
}

.InstructionsText
{
    color: white;
    font-size: 14px;
    horizontal-align: left;
}

#InstructionsPanel_Left
{
    width: 176px;

    border: 0px solid blue;

    vertical-align: top;
    horizontal-align: center;

    padding: 10px;

    flow-children: down;
}

#InstructionsPanel_LeftImage
{
    horizontal-align: center;
    margin: 0px;
}

#InstructionsPanel_Symbol
{
    horizontal-align: center;
    height: 44px;
    width: 44px;
    margin: 0px;
    margin-top: 16px;
}

#InstructionsPanel_Right
{
    width: 464px;

    border: 0px solid red;

    vertical-align: middle;
    horizontal-align: right;

    padding: 4px;

    flow-children: down;
}

#InstructionsPanel_RightBox
{
    width: 464px;

    border: 0px solid green;
    background-color: #111111;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c3034 ), to( #1b1b1d ) );
    padding: 10px;
    vertical-align: top;
    horizontal-align: center;
    flow-children: down;
}

#InstructionsPanel_Objective
{
    width: 464px;

    border: 0px solid green;
    vertical-align: top;
    horizontal-align: center;
    flow-children: down;
}

#InstructionsPanel_HowToPlay
{
    width: 464px;
    margin-top: 14px;
    border: 0px solid green;
    vertical-align: top;
    horizontal-align: center;
    flow-children: down;
}

#InstructionsPanel_RightText
{
    width: 464px;
    height: 224px;

    vertical-align: top;
    horizontal-align: left;
    flow-children: down;
}

#InstructionsPanel Button
{
    horizontal-align: right;
    width: 112px;
    border: 2px solid black;
    border: 2px solid #5e686966;
    box-shadow: #00000055 -2px -2px 1px 4px;
    background-color: #222222;
    margin: 16px;
}

#InstructionsPanel Button:hover
{
    border: 2px solid white;
    background-color: #666666;
}

#InstructionsPanel Button Label
{
    horizontal-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.OverthrowItemNotification
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

#AlertMessage
{
    flow-children: down;
    horizontal-align: center;
    opacity: 0;
    transform: scaleX(2) scaleY(2);
    margin-top: 64px;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    visibility: collapse;
    border: 0px solid blue;
}

#AlertMessage_Chest
{
    color: white;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
    font-size: 48px;
    font-weight: bold;
}

#AlertMessage_Delivery
{
    color: white;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
    font-size: 24px;
    font-weight: bold;
}

.item_has_spawned #AlertMessage
{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

.item_will_spawn #AlertMessage
{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

#PickupMessage
{
	flow-children: down;

    horizontal-align: center;
    margin-top: 64px;
    opacity: 0;
    transform: scaleX(2) scaleY(2);
    visibility: collapse;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    border: 0px solid green;
}

.recent_item_drop #PickupMessage
{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

#PickupImages
{
    flow-children: right;
    horizontal-align: center;
    border: 2px solid #5e686966;
    background-color: #292e2e;
    margin: 0px;
}

#PickupMessage_Item
{
	height: 32px;
	width: 44px;
	margin: 4px;
}

#PickupMessage_Chest
{
    height: 32px;
    width: 56px;
    margin: 4px;
}

#PickupMessage_Hero
{
	height: 32px;
	width: 56px;
	margin: 4px;
}

#PickupMessage_Hero_Text
{
    color: red;
    font-size: 48px;
    font-weight: bold;
	margin: 0px;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
}

#PickupMessage_Text
{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
}

#PickupMessage_Item_Text
{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
}


#AlertTimer
{
    flow-children: down;

    color: white;
    horizontal-align: center;
    margin: 0px;
    margin-top: 64px;
    
    font-size: 96px;
    font-weight: bold;
    opacity: 0;
    visibility: collapse;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    border: 0px solid white;
    transform: scaleX(2) scaleY(2);
}

.time_notification #AlertTimer
{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

#AlertTimer_Text
{
    text-shadow: 4px 4px 4px #121212;
    color: red;
    horizontal-align: center;
    font-size: 48px;
}

#AlertTimer_Remaining
{
    text-shadow: 4px 4px 4px #121212;
    horizontal-align: center;
    font-size: 24px;
}

.time_countdown #AlertTimer_Remaining
{
    opacity: 0;
}

#Overtime
{
    flow-children: down;

    color: white;
    horizontal-align: center;
    margin: 0px;
    margin-top: 64px;
    
    font-size: 96px;
    font-weight: bold;
    opacity: 0;
    visibility: collapse;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    border: 0px solid white;
    transform: scaleX(2) scaleY(2);
}

#Overtime_Text
{
    text-shadow: 4px 4px 4px #121212;
    color: red;
    horizontal-align: center;
    font-size: 48px;
}

#Overtime_Goal
{
    text-shadow: 4px 4px 4px #121212;
    horizontal-align: center;
    font-size: 24px;
}

#Overtime_Instructions
{
    text-shadow: 4px 4px 4px #121212;
    horizontal-align: center;
    font-size: 24px;
}

.overtime_visible #Overtime
{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}

#KillMessage
{
    flow-children: down;
    horizontal-align: center;
    opacity: 0;
    transform: scaleX(2) scaleY(2);
    margin-top: 64px;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    visibility: collapse;
    border: 0px solid blue;
}

#KillMessage_Hero
{
    color: white;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
    font-size: 48px;
    font-weight: bold;
}

#KillMessage_Text
{
    color: white;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
    font-size: 24px;
    font-weight: bold;
}

#KillMessage_Bounty
{
    color: white;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
    font-size: 24px;
    font-weight: bold;
}

.leader_has_been_killed #KillMessage
{
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    visibility: visible;
}
