.FullScreenBackground
{
	width: 100%;
	height: 100%;

	/* Ti7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0c222e ), color-stop( 0.2, #0d1112 ), color-stop( 0.8, #000000cc), to( #020507aa ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #113d52 ), color-stop( 0.2, #0d1112 ), color-stop( 0.8, #000000cc), to( #020507aa ) );
	transition-property: background-color;
	transition-duration: .5s;

	//hue-rotation: 30deg;
}


#CompendiumBackgroundScene
{
	width: 100%;
	height: 120px;
	height: 100%;
	horizontal-align: center;
	pre-transform-scale2d: 1;
	margin-top: 60px;
	blur: gaussian ( 3 );
	transition-property: transform, opacity;
	transition-duration: 1.8s;
	transition-timing-function: ease-in-out;

}

#SlantGraphic
{
	saturation: .7;
	contrast: 1;
	brightness: 1;

	transform: translateX( 0px );
	width: 542px;
	horizontal-align: right;
	flow-children: right;
	height: 100px;
	margin-top: 60px;
	transition-property: transform, saturation, contrast, brightness;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.ViewingCompendium #SlantGraphic
{
	transform: translateX( -1300px );
}

.WhiteBox
{
	width: 132px;
	height: 290px;
	background-color: #344862aa;
	margin-top: -60px;
	margin-left: 32px;
	transform: rotateZ( 20deg ) translateY( 12px );

	background-image: url("s2r://panorama/images/compendium/whitebox_glass_psd.vtex");
	background-size: cover;

	border-radius: 1px;
	overflow: noclip;

	animation-name: SlantMotion;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}


#WhiteBox1 { animation-duration: 31.3s; }
#WhiteBox2 { animation-duration: 21.161s; }
#WhiteBox3 { animation-duration: 26.7s; }

@keyframes 'SlantMotion'
{
	0%
	{
		transform: rotateZ( 20deg ) translateY( 12px ) translateX( 0px );
	}
	50%
	{
		transform: rotateZ( 20deg ) translateY( 12px ) translateX( -22px );
	}
	100%
	{
		transform: rotateZ( 20deg ) translateY( 12px ) translateX( 0px );
	}
}

.Reflection
{
	width: 428px;
	height: 72px;
	border-radius: 1px;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #65AFF755 ), color-stop( 0.2, #65AFF700 ), color-stop( 0.3, #65AFF700), to( #65AFF744 ) );
	background-image: url("s2r://panorama/images/compendium/whitebox_glass_psd.vtex");
	background-size: cover;
	transform: rotateZ(-215deg) translateX(-40px) translateY(-50px);
	opacity: .2;

	animation-duration: 18s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}


.SelfEventTierSilver #SlantGraphic
{
	contrast: 1;
	brightness: 1;
	saturation: 1;
}

.SelfEventTierGold #SlantGraphic
{
	saturation: 0.9;
	contrast: 1;
	brightness: 4;
}

.SelfEventTierPlatinum #SlantGraphic
{
	saturation: 1.1;
	brightness: 2;
	contrast: 1.1;
	opacity: 1;
}

.SelfEventTierPlatinum .WhiteBox
{
	background-color: black;
}

.SelfEventTierPlatinum .Reflection
{
	opacity: 0.04;
	//wash-color: black;
}

#TierGlow
{
	opacity: 0;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 0px;
	margin-left: 1080px;
	width: 1250px;
	height: 320px;
	wash-color: white;
	background-image: url("s2r://panorama/images/compendium/campaigncoverart_glow_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	//border: 1px solid red;

	transition-property: transform, saturation, opacity, wash-color, pre-transform-scale2d;
	transition-duration: 1.2s;
	transition-timing-function: ease-in-out;
}

.ViewingCompendium #TierGlow
{
	transform: translateX(-1180px);
	//wash-color: #000000aa;
	transition-duration: 0.9s;
}

.SelfEventTierSilver #TierGlow
{
	hue-rotation: 190deg;

	/* Fall 2016 */
	hue-rotation: 80deg;

	saturation: .4;
	opacity: 0.1;
}

.SelfEventTierGold #TierGlow
{
	hue-rotation: -10deg;

	/* Fall 2016 */
	hue-rotation: -60deg;

	saturation: .7;
	opacity: 0.1;
}

.SelfEventTierPlatinum #TierGlow
{
	opacity: 0.3;
	wash-color: accentColor;
	pre-transform-scale2d: 2.3;
}

.ViewingCompendium #TierMax
{
	opacity: .6;
	transform: translateX(0px);
}

#TierMax
{
	transform: translateX(1300px);
	opacity: 0;
	width: 1280px;
	height: 120px;
	margin-top: 60px;
	vertical-align: top;
	horizontal-align: left;

	transition-property: transform, opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;

	/* Fall 2016 */
	//hue-rotation: 270deg;
}


#WhiteBox1 .Reflection { animation-name: ReflectionMotion1; }
#WhiteBox2 .Reflection { animation-name: ReflectionMotion2; }
#WhiteBox3 .Reflection { animation-name: ReflectionMotion3; }

@keyframes 'ReflectionMotion1'
{
	0%
	{
		transform: rotateZ(-210deg) translateX(-20px) translateY(-20px);
	}
	50%
	{
		transform: rotateZ(-205deg) translateX(-20px) translateY(-30px);
	}
	100%
	{
		transform: rotateZ(-210deg) translateX(-20px) translateY(-20px);
	}
}

@keyframes 'ReflectionMotion2'
{
	0%
	{
		transform: rotateZ(-209deg) translateX(-110px) translateY( 2px);
	}
	50%
	{
		transform: rotateZ(-204deg) translateX(-110px) translateY( 2px);
	}
	100%
	{
		transform: rotateZ(-209deg) translateX(-110px) translateY( 2px);
	}
}

@keyframes 'ReflectionMotion3'
{
	0%
	{
		transform: rotateZ(-208deg) translateX(-180px) translateY( 14px);
	}
	50%
	{
		transform: rotateZ(-203deg) translateX(-180px) translateY( 19px);
	}
	100%
	{
		transform: rotateZ(-208deg) translateX(-180px) translateY( 14px);
	}
}

.CompendiumHeader
{
	width: 1392px;
	height: 80px;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 80px;
}

.CompendiumHeaderTitle
{
	horizontal-align: right;
	//visibility: collapse;
	transition-property: transform, opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	opacity: 0;
}

.ViewingCompendium .CompendiumHeaderTitle
{
	transform: translateX(-1078px);
	opacity: 1;
}

.SelfEventNotActive.GlobalEventPurchasable .CompendiumHeaderTitle,
.SelfEventNeedsActivate .CompendiumHeaderTitle,
.SelfEventActive .CompendiumHeaderTitle
{
	visibility: visible;
}


.CompendiumHeaderTitle Label
{
	text-transform: uppercase;
	margin: 0px;
	margin-bottom: 10px;
	margin-left: 3px;
	letter-spacing: 3px;
	color: #b9cfb4;
}

#PreviewInfo
{
	vertical-align: bottom;
}
			 
#BackToBattleHome
{
	width: 23px;
	height: 23px;
	margin: 0px;
	margin-top: 6px;
	margin-left: 9px;
	wash-color: #C7E4E7;
	vertical-align: top;
	opacity: 1;
	transition-property: opacity, brightness, transform;
	transition-duration: .5s, 0.12s;

	background-image: url("s2r://panorama/images/control_icons/arrow_left_png.vtex");
}

#BackToBattleHome.Hovered,
#BackToBattleHome:hover
{
	brightness: 2;
}

.ViewingCompendium #BackToBattleHome
{
	opacity: 1;
}

.CompendiumTextContainer
{
	vertical-align: bottom;
}

#CompendiumTitleText
{
	color: white;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 5px;
	text-shadow: 0px 0px 8px 1.0 #C14F39;

	/* Fall 2016 */
	text-shadow: 0px 0px 8px 1.0 #93c139;

	/* Winter 2017 */
	text-shadow: 0px 0px 8px 1.0 #398fc1;

	/* TI9 */
	text-shadow: 0px 0px 8px 1.0 #9862E9;

	//margin-top: 48px;
	margin-bottom: 0px;
	padding-left: 6px;

	opacity: 1;
	transition-property: opacity, text-shadow;
	transition-duration: .5s, 0.2s;
}

.CompendiumHeaderTitle:hover #CompendiumTitleText
{
	text-shadow: 0px 0px 8px 4.0 #9862E980;
}

.ViewingCompendium #CompendiumTitleText
{
	opacity: 1;
}

.BattlePassTitle
{
	background-image: url("s2r://panorama/images/compendium/international2019/battlepasslogo_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	width: 300px;
	height: 60px;
	margin-bottom: 8px;

//	horizontal-align: right;
	margin-top: 10px;
	vertical-align: bottom;
	//margin-right: -20px;

	opacity: 1;

	transition-property: opacity, brightness;
	transition-duration: .5s, 0.12s;
}

.ViewingCompendium .BattlePassTitle
{
	opacity: 0;
}

#CompendiumVersion.BattlePassTitle
{
	margin-top: 10px;
	margin-left: 4px;
	pre-transform-scale2d: .5;
	transform: translateX(-48px) translateY(-26px);
	opacity: 1;

	horizontal-align: left;
}


#CompendiumVersion.Hovered,
#CompendiumVersion.BattlePassTitle:hover
{
	brightness: 2;
}

.ViewingCompendium #CompendiumVersion.BattlePassTitle
{
	opacity: 1;
}

.SelfEventNotActive.GlobalEventPurchasable .BattlePassTitle,
.SelfEventNeedsActivate .BattlePassTitle
{
	opacity: 1;
}

.ViewingCompendium.SelfEventNotActive.GlobalEventPurchasable .BattlePassTitle,
.ViewingCompendium.SelfEventNeedsActivate .BattlePassTitle
{
	opacity: 0;
}



#ActivationRequired,
#PreviewModeMessage
{
	font-size: 26px;
	horizontal-align: center;
	margin-top: 76px;
	background-color: #222222aa;
	border: 1px solid accentColor;
	color: accentColor;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 6px;
	font-weight: bold;
	border-radius: 12px;
	text-shadow: 0px 0px 8px 2.0 #000000aa;
	text-transform: uppercase;

	visibility: collapse;
}

#ActivationRequired
{
	border-radius: 0px;

}

#ActivationRequired:hover
{
	brightness: 2;
}

#ActivationRequired Label
{
	font-size: 32px;
	horizontal-align: center;
	color: accentColor;
	font-weight: bold;
	text-shadow: 0px 0px 8px 2.0 #000000aa;
}

.SelfEventNotActive.GlobalEventPurchasable #PreviewModeMessage
{
	visibility: visible;
}

.SelfEventNeedsActivate #ActivationRequired
{
	visibility: visible;
}


#flag1
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#flag1.SceneLoaded
{
	opacity: 1;
}
