@define mouseWheelScroll: 150px;
@define asyncDestroyDelay: 0.2s;
@define scrollPaddingMin: 16px; /* padding at 4x3 and taller */
@define scrollPaddingMax: 253px; /* padding at 16x9 and wider */

International2019RewardList
{
	overflow: clip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_horizontal_png.vtex");
}

/* This is used purely so that the z-ordering for RewardPath and RewardItems works the way we want. */
.RewardListContainer
{
	width: 100%;
	height: 100%;
}

#RewardItems, #RewardPath
{
	width: 100%;
	height: 100%;
}

#RewardPath
{
	transform: rotateX( 55deg ) translateY(48px) translateZ( 0px);
}

#RewardItems
{
	margin-bottom: 94px;
	transform: translateZ( 0px );
}

#LevelNumber2 {
}

#RewardPath > .PathNode, #RewardItems > .ItemNode
{
	opacity: 0.0;

	transition-property: opacity, brightness;
	transition-duration: 0.2s;
}

#RewardPath > .PathNode.LevelActive, #RewardItems > .ItemNode.LevelActive
{
	opacity: 1.0;

	transition-property: transform, opacity, brightness;
	transition-duration: 0.3s, 0.2s;
}

.Dragging #RewardPath > .PathNode.LevelActive, .Dragging #RewardItems > .ItemNode.LevelActive
{
	transition-property: transform, opacity, brightness;
	transition-duration: 0.0s, 0.2s;
}

@keyframes 'HighlightLevelPulse'
{
	0%   { pre-transform-scale2d: 1.0; brightness: 1.0; }
	40%  { pre-transform-scale2d: 1.1; brightness: 2.0; }
	100% { pre-transform-scale2d: 1.0; brightness: 1.0; }
}

#RewardPath > .PathNode.LevelActive.Destroying, #RewardItems > .ItemNode.LevelActive.Destroying
{
	opacity: 0.0;
}

#RewardPath > .PathNode.HighlightLevel, #RewardItems > .ItemNode.HighlightLevel
{
	animation-name: HighlightLevelPulse;
	animation-duration: 1.0s;
	animation-delay: 0.3s;
	animation-timing-function: ease-in-out;
}

.PathNodeDefault
{
	height: 100%;
}

.PathNodeDefault .PathNodeContents
{
	vertical-align: bottom;
	margin: 0px 4px;
	/*padding: 4px;*/
	width: 100%;
	height: 50px;
	margin-bottom: 92px;
	margin-right: 4px;
	margin-left: 4px;


	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( defaultColor ) );
	border: 2px solid #552F9A;
}

.ImportantLevel.PathNodeDefault .PathNodeContents
{
	brightness: 1.7;
//	border: 2px solid white;
}

.AlreadyClaimed.ImportantLevel.PathNodeDefault .PathNodeContents
{
	brightness: 1;
}

.PathNodeDefault.Achieved:not(.AlreadyClaimed) .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( shadeColor ), to( accentColorBright ) );

	border: 2px solid accentColor&10;

	animation-name: ClaimBorderPulse;
	animation-duration: 0.64s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}



@keyframes 'ClaimBorderPulse'
{
	from
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( accentColorBright ) );
		border: 2px solid accentColorBright;
	}
	50%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColor ), to( accentColorBright ) );
		border: 2px solid secondaryBrightColor;
	}
	to
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( accentColorBright ) );
		border: 2px solid accentColorBright;
	}
}


.PathNodeDefault:not(.Achieved) .PathNodeContents
{
	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( defaultColor ) );*/
	/*border: 2px solid #552F9A;*/

	background-color: secondaryGradient;
	border: 2px solid #1C2A39;
}


.ImportantLevel.PathNodeDefault:not(.Achieved) .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDarkColor&50 ), to( shadeColor&10 ) );
	border: 2px solid accentColor&10;
}


.ImportantLevel.PathNodeDefault:not(.Achieved) .PathNodeContents > Label
{
	/* TI9 UPDATE! */
	color: shadeColor;
}

.PathNodeDefault .PathNodeContents > Label
{
	color: #ffffff50;
	font-size: 22px;
	text-overflow: shrink;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	margin-top: 5px;
	font-weight: bold;
}

#LevelNumber1
{
	transform: translateY(4px);
	color: black;
	text-shadow: 0px 0px 8px 3.0 #000000;
	visibility: collapse;
}

.NoRewardType #LevelNumber2
{
	visibility: collapse;
}

.PathNodeDefault.Achieved
{
	visibility: visible;
}

.PathNodeDefault.Achieved .PathNodeContents > Label
{
	color: white;
}


.PathNodeDefault.Achieved  .PathNodeContents > Label
{
	color: #ffffff50;
}

.PathNodeTile
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor&00 ), color-stop( .5, darkColor&aa ), color-stop( .55, darkColor&dd ), color-stop( .74, darkColor&10 ), color-stop( .8, ultraDarkColor&aa ), to( ultraDarkColor&00 ) );

	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-left: 4px;
}

.Achieved .AlreadyClaimed .PathNodeTile
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor&DD ), color-stop( .5, darkColor&aa ), color-stop( .55, darkColor&dd ), color-stop( .74, secondaryDarkColor&dd ), color-stop( .8, secondaryDarkColor&aa ), to( darkColor&00 ) );
}

.Achieved .PathNodeTile
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor&00 ), color-stop( .5, secondaryDarkColor&aa ), color-stop( .55, secondaryDarkColor&aa ), color-stop( .74, secondaryDarkColor&aa ), to( secondaryDarkColor&00 ) );
}


.PathNodePlusRequired .DotaPlusIconLarge
{
	width: 60px;
	height: 60px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	vertical-align: middle;
	horizontal-align: center;
}


.ItemNodeDefault
{
	height: 100%;
}

.ItemNodeDefault #ItemContainer
{
	flow-children: up;
	width: 100%;
	margin-bottom: 6px;
	height: 100%;
	horizontal-align: center;


	transition-property: wash-color, saturation;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.EconItemReward {
	horizontal-align: center;
}

#Item150.ItemNodeDefault #ItemContainer Image
{
	border-radius: 16px;
	border: 2px solid black;
	height: 78px;
	width: 98px;
}

.ItemGlow
{
	width: 100%;
	height: 100%;
	margin-right: 6px;
	margin-left: 6px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #B9434A00 ), color-stop( .65, #B9434A66 ), color-stop( .90, #B9434A00 ), to( #B9434A00 ) );
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");
	opacity: 0;

	animation-name: GlowPulse;
	animation-duration: 1.64s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

	transition-property: opacity;
	transition-duration: 0.33s;
}




@keyframes 'GlowPulse'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColor&00 ), color-stop( .25, accentColor&11 ), color-stop( .65, accentColor&66 ), color-stop( .90, accentColor&00 ), to( accentColor&00 ) );
	}

	50%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColor&00 ), color-stop( .65, accentColor&33 ), color-stop( .75, accentColor&aa ), color-stop( .90, accentColor&00 ), to( accentColor&00 ) );
	}
	100%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColor&00 ), color-stop( .25, accentColor&11 ), color-stop( .65, accentColor&66 ), color-stop( .90, accentColor&00 ), to( accentColor&00 ) );
	}
}



.Achieved.ItemNodeDefault:not(.AlreadyClaimed) .ItemGlow
{
	opacity: 1;
}

.NoRewardType .ItemGlow
{
	opacity: 0;
}

.ItemNodeDefault:not(.Achieved) #ItemContainer
{
	//saturation: 0;
	//wash-color: #776868;
}

.ItemNodeDefault:not(.Achieved) #ItemContainer:hover
{
//	saturation: 0.5;
//	wash-color: #00000088;
}

.ItemNodeDefault #ItemContainer DOTAEconItem,
.ItemNodeDefault #ItemContainer Image
{
	horizontal-align: center;
	tooltip-body-position: 50% 50%;
	max-width: 80px;
	width: 80px;
	height: 80px;
}

#ResourceCompilerFood
{
	background-image: url("s2r://panorama/images/compendium/international2019/prestigerewards/mmr_wager_increase_png.vtex");
}

.EconItemReward > Label
{
	horizontal-align: right;
	vertical-align: bottom;

	margin-right: 11px;
	margin-bottom: 7px;

	font-size: 24px;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 0px black;

	visibility: collapse;
}

.EconItemReward.ShowQuantity > Label
{
	visibility: visible;
}

/* Chat wheel rewards need some extra space */
@define rewardChatWheelWidth: 350px;
@define level100Width: 320px;

.ChatWheelReward
{
	flow-children: down;

	width: 100%;
	margin: 5px 8px 0px 8px;
	horizontal-align: center;
	padding: 8px 8px 0px 8px;


	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDarkColor ), to( secondaryDarkColor&00 ) );
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
}

.ChatWheelRewardHeader
{
	flow-children: right;
}

.ChatWheelIcon
{
	width: 50px;
	height: 50px;
	margin-right: 8px;
	horizontal-align: center;
	wash-color: defaultColor;

	vertical-align: middle;

	background-image: url("s2r://panorama/images/settings_chatwheel_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.EvolvingWheelRewardTitle,
.ChatWheelRewardTitle
{
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	color: textUltraBrightColor;
}

.EvolvingWheelRewardDesc
{
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	text-align:center;
	color: textAccentColorBright;
}

.EvolvingWheelRewardDesc,
.EvolvingWheelRewardTitle
{
	visibility:collapse;
}

.ChatWheelRewardContents
{
	flow-children: right;
	horizontal-align: center;
	text-overflow: clip;
	padding: 0px 10px;
}

#ChatWheelMessages
{
	vertical-align: middle;
	flow-children: down;
	margin-top: 4px;
}

.ChatWheelMessage
{
	flow-children: right;
	height: 22px;
}

.ChatWheelMessageIsSpray.ChatWheelMessage
{
	height: fit-children;
}


.ChatWheelMessageIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/chat_wheel_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ChatWheelMessageIsSpray .ChatWheelMessageIcon
{
	margin-top: 40px;
}

.ChatWheelMessageAll
{
	visibility: collapse;
}
.ChatWheelMessage.ChatWheelMessageSendToAll .ChatWheelMessageAll
{
	visibility: visible;
}

#ChatWheelMessageSoundButton
{
	width: 16px;
	height: 16px;

	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;

	visibility: collapse;
}

.ChatWheelMessageIsSpray #ChatWheelMessageSoundButton
{
	margin-top: 54px;
	width: 30px;
	height: 30px;
}

.ChatWheelMessage.ChatWheelMessageHasSound:not(.ChatWheelMessageIsSpray) #ChatWheelMessageSoundButton
{
	visibility: visible;
}

#ChatWheelMessageSoundButton:hover
{
	brightness: 2.0;
}
#ChatWheelMessageSoundButton:active
{
	brightness: 1.5;
}

.ChatWheelMessage > Label
{
	font-size: 16px;
	color: white;
	margin-left: 4px;
	text-shadow: 2px 2px 0px black;
}


/* Spray wheel rewards need some extra space */
@define rewardSprayWheelWidth: 220px;

.SprayWheelReward
{
	flow-children: down;

	width: 100%;
	margin: 0px 8px 6px 8px;
	horizontal-align: center;
	padding: 8px;


	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor&80 ), color-stop( .80, darkColor&dd ), color-stop( .95, darkColor&00 ), to( darkColor&00 ) )	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.SprayWheelRewardHeader
{
	flow-children: right;
}

.SprayWheelImage
{
	width: 128px;
	height: 128px;
	margin-right: 4px;
	horizontal-align: center;

	vertical-align: middle;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: collapse;
}

.ChatWheelMessageIsSpray .SprayWheelImage
{
	visibility: visible;
}

.SprayWheelRewardTitle
{
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	color: textUltraBrightColor;
}

.SprayWheelRewardContents
{
	width: 100%;
	flow-children: right;
}

#SprayWheelImages
{
	vertical-align: middle;
	width: 100%;
	flow-children: down;
	margin-top: 4px;
}

.SprayWheelImage
{
	flow-children: right;
	margin-bottom: 4px;
}

.SprayWheelImageIcon
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/chat_wheel_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#SprayWheelImage
{
	width: 128px;
	height: 128px;
	margin-right: 8px;
}

#SprayWheelImage:hover
{
	brightness: 2.0;
}
#SprayWheelImage:active
{
	brightness: 1.5;
}


#SprayWheelImageSoundButton
{
	width: 20px;
	height: 20px;
	vertical-align: center;

	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;

	visibility: collapse;
}

.SprayWheelImage.SprayWheelImageHasSound #SprayWheelImageSoundButton
{
	visibility: visible;
}

#SprayWheelImageSoundButton:hover
{
	brightness: 2.0;
}
#SprayWheelImageSoundButton:active
{
	brightness: 1.5;
}

.SprayWheelImage > Label
{
	font-size: 18px;
	color: white;
	margin-left: 4px;
	text-shadow: 2px 2px 0px black;
}

.MysteryWheelRewardType #ItemContainer > Image
{
	height: 92px;
    width: 92px;
    margin-left: -4px;
	margin-bottom: 6px;

	pre-transform-scale2d: 0.8;
	brightness: .8;
	transform-origin: 50% 70%;

	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	animation-duration: 1.8s;
	animation-delay: 1.15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.MysteryWheelRewardType.Achieved:not(.AlreadyClaimed) #ItemContainer > Image
{
	animation-name: HeadShake;
}

.MysteryWheelRewardType.Achieved:not(.AlreadyClaimed) #ItemContainer > Image:hover
{
    border:1px solid transparent;
    brightness: 1.1;
    pre-transform-scale2d: 1;
}

@keyframes 'HeadShake'
{
	0%
	{
		transform: rotateZ( 0deg );
	}
	10%
	{
		transform: rotateZ( 10deg );
	}
	20%
	{
		transform: rotateZ( -10deg );
	}
	30%
	{
		transform: rotateZ( 5deg );
	}
	40%
	{
		transform: rotateZ( -5deg );
	}

	50%
	{
		transform: rotateZ( 0deg );
	}
	100%
	{
		transform: rotateZ( 0deg );
	}
}


@define rewardEconItemModelWidth: 220px;

.EconItemModelReward
{
	width: 100%;
	height: 100%;
	overflow: clip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.EconItemModelReward #EconItemModelPreview
{
	width: 300px;
	height: 300px;

	horizontal-align: center;
	vertical-align: middle;

	/*transform: translateY( -28px );*/

	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
.EconItemModelReward #EconItemModelPreview.EconSetLoaded
{
	opacity: 1.0;
}

.ShardsReward
{
	width: 89px;
	height: 96px;
	margin: 6px;

	tooltip-body-position: 50% 50%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ShardsReward Label
{
	vertical-align: bottom;
	horizontal-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 0px black;
}


#ClaimButton
{
	vertical-align: bottom;
	margin: 0px 4px;
	visibility: collapse;
	margin-bottom: 45px;
	height: 140px;
	width: 100%;
	/*opacity: 0;*/

}

#ClaimButton Label
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	vertical-align: middle;
	margin-top: 70px;
	text-overflow: shrink;

	letter-spacing: 2px;
	color: ultraBrightColor;
	text-shadow: 0px 0px 8px 2.0 ultraDarkColor;
	font-weight: bold;
	animation-name: ClaimLabelGlow;
	animation-duration: 0.65s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}




@keyframes 'ClaimLabelGlow'
{
	from
	{
		color: white;
		text-shadow: 0px 0px 18px 2.0 darkColor5&ff;
	}
	50%
	{
		color: ultraBrightColor;
		text-shadow: 0px 0px 18px 2.0 darkColor5&ff;
	}
	to
	{
		color: white;
		text-shadow: 0px 0px 18px 2.0 darkColor5&ff;
	}
}

.Achieved:not(.AlreadyClaimed):hover
{
	brightness: 2;
}


#ClaimButton:hover
{
	brightness: 1.2;
}

.Achieved:not(.AlreadyClaimed) #ClaimButton
{
	visibility: visible;
}

.Achieved:not(.AlreadyClaimed):hover #ClaimButton
{
	opacity: 1;
}


#ClaimButton:active
{
	brightness: 1.0;
}

#ClaimButton:active Label
{
	animation-name: none;
	color: white;
	text-shadow: 0px 0px 18px 2.0 darkColor5;
}


.MultipleItemRewardAmount
{
    color: white;
    vertical-align: bottom;
    horizontal-align: right;
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 0px 18px 2.0 black;
}


/* --- Normal Item Widths -------------------------------------------- */

@define rewardEmptyWidth: 20px;
@define rewardDefaultWidth: 100px;

/* --- Level 1 Custom Layout ----------------------------------------------- */

@define level1Width: 620px;

#Path1.PathNode
{
	height: 100%;
}

#Path1.PathNode .PathNodeContents
{
	vertical-align: bottom;
	margin: 0px 4px;
	padding: 4px;
	width: 100%;
	height: 50px;
	flow-children: right;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( defaultColor ) );
	border: 2px solid #552F9A;

	brightness: 1;

	margin-bottom: 92px;
	margin-right: 4px;
	margin-left: 4px;


}

.SelfEventNeedsActivate #Path1.PathNode .PathNodeContents,
.SelfEventUpsell #Path1.PathNode .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( shadeColor ), to( accentColorBright ) );
	border: 2px solid accentColorBright;
}

.SelfEventNeedsActivate #Path1.PathNode .PathNodeContents Label,
.SelfEventUpsell #Path1.PathNode .PathNodeContents Label
{
	color: white;
}

#Path1.PathNode .PathNodeContents Label
{
	vertical-align: middle;
	horizontal-align: center;
	color: white;
	/*font-size: 36px;*/
	text-shadow: 0px 0px 8px 3.0 #000000;
}

#Item1.ItemNode
{
	height: 100%;
}

#Item1 .EconItemReward {
	width: 70px;
	height: 70px;
}

.TILogo {
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/bp_logo_noti_ti9_psd.vtex");
	width: 200px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.Lv1Content {
	vertical-align: middle;
	horizontal-align: center;
	flow-children: right;
}

.Lv1Content Label {
	margin-top: 5px;
	letter-spacing: 2px;
}

#Item1.ItemNode .Level1Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-left: 26px;
	margin-top: 10px;

	horizontal-align: center;
	flow-children: right-wrap;

	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor&00 ), color-stop( .80, darkColor&dd ), color-stop( .95, darkColor&00 ), to( darkColor&00 ) );*/
}

#Item1.ItemNode .Level1Contents > Label
{
	color: white;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
}

#Item1.ItemNode .Level1Contents > Image
{
	width: 60px;
	height: 60px;
	margin: 6px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}


#BigDealItem
{
	background-image: url("s2r://panorama/images/control_icons/starfilled_psd.vtex");
	background-size: contain;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	horizontal-align: center;
	margin-bottom: 82px;
	visibility: collapse;
	opacity: .5;

	wash-color: accentColor;
}

.ImportantLevel #BigDealItem
{
	visibility: collapse;
}

.AlreadyClaimed.ImportantLevel #BigDealItem
{
	visibility: collapse;
}


/* --- Level 335 Custom Layout ----------------------------------------------- */

@define level335Width: 400px;

#CustomTowersPanels
{
	flow-children: right;
}

#CustomTowersScene
{
	width: 100%;
	height: 100%;
}

#CustomTowersPanels
{
	width: 100%;
	height: 100%;
}

#RadiantCustomTowers
{
	width: 50%;
	height: 100%;
}

#DireCustomTowers
{
	horizontal-align: right;
	width: 50%;
	height: 100%;
}



/* --- Level 182 Custom Layout ----------------------------------------------- */
/* TEMPORARILY DISABLING CUSTOM CREEPS SCENE, USING 2D ART
@define level182Width: 600px;

#CustomCreepPanels
{
	flow-children: right;
}

#CustomCreepsScene
{
	width: 100%;
	height: 100%;
}

#CustomCreepPanels
{
	width: 100%;
	height: 100%;
}

#RadiantCustomCreeps
{
	width: 50%;
	height: 100%;
}

#DireCustomCreeps
{
	horizontal-align: right;
	width: 50%;
	height: 100%;
}
*/
/* --- Level 225 Custom Layout ----------------------------------------------- */


#TierGold
{
	horizontal-align: right; 
	background-image: url("s2r://panorama/images/badges/international_2019_battle_pass_badge_3_png.vtex");
	/*transform: translateY( -8px ) translateX( 16px );*/
}

#Path255 #TierGold
{
	pre-transform-scale2d: .9;
}

#Path255 #TierLabel
{
	horizontal-align: right;
	margin-right: 12px;
	color: #ffe56e;
}

#Path255 #LevelNumber1, #Path255 #LevelNumber2
{
	margin-right: 40px;
}

/* --- Level 255 Custom Layout ----------------------------------------------- */
/*
@define level255Width: 300px;

#Item255.ItemNode
{
	height: 100%;
}

.Level255Contents
{
	tooltip-position: bottom;
	tooltip-body-position: 50%;

}

#Item255.ItemNode .Level255Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-bottom: 0px;
	//padding: 20px;
}

#Item255.ItemNode .Level255Contents > DOTAUIEconSetPreview:hover
{
	brightness: 2.0;
}

#Item255.ItemNode .Level255Contents > DOTAUIEconSetPreview:active
{
	brightness: 1.5;
}

#Item255.ItemNode .Level255Contents > DOTAUIEconSetPreview
{
	transform: translateY(8px);
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

	transition-property: brightness;
	transition-duration: .2s;
}
*/
/*
#Item255.ItemNode #BigDealItem
{
	vertical-align: top;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 200px;
	width: 100%;
	height: 100%;
}

#Path255.PathNode .PathNodeContents
{
	border-color: secondaryBrightColor;
}


#Path255 .PathNodeTile
{
	wash-color: defaultColor;
}


#Path255 #QuestUnlockLabel
{
	font-size: 19px;
	vertical-align: bottom;
	padding: 6px;
	text-transform: uppercase;
	text-overflow: shrink;
	margin-bottom: 4px;
	margin-left: 8px;
	horizontal-align: center;
	text-align: center;
}

#Path255 Label
{
	color: accentColor;
}

#Path255.PathNodeDefault.Achieved:not(.AlreadyClaimed) Label
{
	color: white;
}

#Path255.PathNodeDefault.AlreadyClaimed Label
{
	color: white;
}
*/
/* ======Level 140===================== */

@define level140Width: 280px;

#Item140.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 5px;
}

#Item140.ItemNode .Level140Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

#Item140 .EconItemReward {
	width: 90px;
	height: 90px;
}


/* ======Level 375=====================*/

@define level375Width: 360px;

#Item375.ItemNode
{
	vertical-align: bottom;
	/*margin-bottom: 32px;*/
}

#Item375.ItemNode .Level375Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}


#Item375 .EconItemReward {
	width: 70px;
	height: 70px;
}

/* ======Level 1230=====================*/

@define level1230Width: 400px;

#Item1230.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 5px;
}

#Item1230.ItemNode .Level1230Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

#Item1230 .EconItemReward {
	width: 90px;
	height: 90px;
}

/* ======Level 615=====================*/

@define level615Width: 285px;

#Item615.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 5px;
}

#Item615.ItemNode .Level615Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

#Item615 .EconItemReward {
	width: 90px;
	height: 90px;
}

/* ======Level 160=====================*/

@define level160Width: 260px;

#Item160.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 0px;
}

#Item160.ItemNode .Level160Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right-wrap;
}

#Item160 #EconItem.ItemRarity_immortal.ItemSlot_terrain
{
	visibility: collapse;
}

#Item160 .EconItemReward
{
	horizontal-align: right;
	margin-right: 12px;
}


/* ======Level 313 Caster Pack 2017=====================*/

@define level313Width: 1100px;

#Item313 #ItemContainer
{
	flow-children: right;
}

#Item313 #ItemContainer .ChatWheelReward
{
	width: fill-parent-flow( 1.0 );
	vertical-align: bottom;
}

/* ======Level 785 Caster Pack 2017=====================*/

@define level785Width: 600px;

#Item785 #ItemContainer
{
	flow-children: right;
}

#Item785 #ItemContainer .ChatWheelReward
{
	width: fill-parent-flow( 1.0 );
	vertical-align: bottom;
}

/* ======Level 1205 Caster Pack 2017=====================*/

@define level1205Width: 600px;

#Item1205 #ItemContainer
{
	flow-children: right;
}

#Item1205 #ItemContainer .ChatWheelReward
{
	width: fill-parent-flow( 1.0 );
	vertical-align: bottom;
}

/* ======Level 392 Caster Pack 2018 =====================*/

@define level392Width: 1100px;

#Item392 #ItemContainer
{
	flow-children: right;
}

#Item392 #ItemContainer .ChatWheelReward
{
	width: fill-parent-flow( 1.0 );
	vertical-align: bottom;
}


/* ======Level 150=====================*/

@define level150Width: 140px;



#Item150.ItemNode .EventBonusImage
{
	width: 100%;
	height: 100%;
    vertical-align: bottom;
	margin-right: 18px;
    margin-left: 22px;
    margin-top: 110px;
    margin-bottom: 30px;
    background-image: url("s2r://panorama/images/compendium/international2019/prestigerewards/eventbonus_png.vtex");
    background-repeat: no-repeat;
    border: 2px solid black;
	
}

#Path150 #Level150Label
{
	font-size: 16px;
	vertical-align: bottom;
	padding: 0px;
	text-transform: uppercase;
	text-overflow: shrink;
	text-align: center;
	margin-bottom: 4px;
	margin-left: 0px;
	horizontal-align: left;
	
}

/* ======Level 252=====================*/

@define level252Width: 140px;



#Item252.ItemNode .EventBonusImage
{
	width: 100%;
	height: 100%;
    vertical-align: bottom;
	margin-right: 18px;
    margin-left: 22px;
    margin-top: 110px;
    margin-bottom: 30px;
    background-image: url("s2r://panorama/images/compendium/international2019/prestigerewards/eventbonus_png.vtex");
    background-repeat: no-repeat;
    border: 2px solid black;
}

#Path252 #Level252Label
{
	font-size: 16px;
	vertical-align: bottom;
	padding: 0px;
	text-transform: uppercase;
	text-overflow: shrink;
	text-align: center;
	margin-bottom: 4px;
	margin-left: 0px;
	horizontal-align: left;
}

/* ======Level 1245=====================*/

@define level1245Width: 200px;

#Item1245.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 5px;
}

#Item1245.ItemNodeDefault #ItemContainer {
	flow-children: right;
	vertical-align: bottom;
	height: 90px;

}

#Item1245.ItemNode .Level1245Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

#Item1245 .EconItemReward {
	width: 90px;
	height: 90px;
}


#Item100 #ItemContainer
{
	
    background-image: url("s2r://panorama/images/compendium/international2019/prestigerewards/chat_wheel_bg_png.vtex");
    background-repeat: no-repeat;	
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	background-size: 100%;
	background-position: 0px 15px;
}


#Item100 #ItemContainer .ChatWheelReward
{
	
	width: fill-parent-flow( 1.0 );
	height:100%;
}

#Item100 #ItemContainer .ChatWheelRewardTitle
{
	visibility: collapse;
}
#Item100 #ItemContainer .EvolvingWheelRewardTitle
{
	visibility: visible;

	
}
#Item100 #ItemContainer .ChatWheelMessageIcon
{
	vertical-align: center;
}

#Item100 #ItemContainer .ChatWheelIcon
{
	brightness: 2;
}

#Item100 #ItemContainer .EvolvingWheelRewardDesc
{
	visibility: visible;
	padding: 0px 10px;
	
}
#Item100 #ItemContainer .ChatWheelRewardContents
{
	flow-children: right;
	horizontal-align: center;
	padding: 0px 10px;
	margin-left: 30px;
	margin-top: 5px;
}
#Item100 #ItemContainer .ChatWheelMessage
{
	flow-children: right;
	height: 28px;
}

#Item100 #ItemContainer .ChatWheelMessage > Label
{
	font-size: 24px;
	vertical-align: middle;
	horizontal-align: left;
	height: 100%;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 0px black;
}

#Item100 #ItemContainer #ChatWheelMessageSoundButton
{
	width: 30px;
	height: 100%;

	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;

	visibility: visible;
}


/* ======Level 487 =====================*/
/*
@define level487Width: 320px;

#Item487.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item487.ItemNode .Level487Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}
*/
/* ======Level 555=====================*/
/*
@define level555Width: 320px;

#Item555.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item555.ItemNode .Level555Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

*/
/* ======Level 1000=====================*/

@define level1000Width: 300px;

#Item1000.ItemNode .Level1000Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-bottom: 0px;
	//padding: 20px;
}

#Aegis
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel
{
	width: 380px;
	height: 380px;

	transition-property: brightness;
	transition-duration: .2s;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel:hover
{
	brightness: 3.0;
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel:active
{
	brightness: 1.5;
}

#RegisterLvl1000
{
	vertical-align: middle;
	horizontal-align: center;
	margin-top: 114px;
	margin-left: 10px;
}

#RegisterLvl1000 Label
{
	color: textDefaultColor;
	font-size: 24px;
	letter-spacing: -1px;
	text-decoration: underline;
	text-overflow: shrink;
	horizontal-align: center;
}


#RegisterLvl1000:hover Label
{
	color: textAccentColor;
}


.Achieved #RegisterLvl1000
{
	visibility: visible;
}

#Path1000.Achieved #LevelNumber2
{
}

/* ======Level 2000=====================*/

@define level2000Width: 300px;

#Item2000.ItemNode .Level2000Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-bottom: 0px;
	//padding: 20px;
}

#Roshan
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
}

#Item2000.ItemNode .Level2000Contents > DOTAScenePanel
{
	width: 380px;
	height: 380px;

	transition-property: brightness;
	transition-duration: .2s;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#Item2000.ItemNode .Level2000Contents > DOTAScenePanel:hover
{
	brightness: 3.0;
}

#Item2000.ItemNode .Level2000Contents > DOTAScenePanel:active
{
	brightness: 1.5;
}

#RegisterLvl2000
{
	vertical-align: middle;
    horizontal-align: center;
	margin-top: 114px;
	margin-left: 10px;
}

#RegisterLvl2000 Label
{
	color: textDefaultColor;
	font-size: 24px;
	letter-spacing: -1px;
	text-decoration: underline;
	text-overflow: shrink;
}

#RegisterLvl2000:hover Label
{
	color: textAccentColor;
}

.Achieved #RegisterLvl2000
{
	visibility: visible;
}

#Path2000.Achieved #LevelNumber2
{
}

/* ======Level 425=====================*/

@define level425Width: 300px;

#Item425.ItemNode .Level425Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-bottom: 0px;
	//padding: 20px;
	brightness: 3.0;
}

#Axe
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
}

#Item425.ItemNode .Level425Contents > DOTAScenePanel
{
	width: 380px;
	height: 380px;

	transition-property: brightness;
	transition-duration: .2s;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#Item425.ItemNode .Level425Contents > DOTAScenePanel:hover
{
	brightness: 1.5;
}

#Item425.ItemNode .Level425Contents > DOTAScenePanel:active
{
	brightness: 1.5;
}

/* ======Level 365=====================*/

@define level365Width: 300px;

#Item365.ItemNode .Level365Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-bottom: 0px;
	//padding: 20px;
	brightness: 3.0;
}

#EarthShakerArcana
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
}

#Item365.ItemNode .Level365Contents > DOTAScenePanel
{
	width: 380px;
	height: 380px;

	transition-property: brightness;
	transition-duration: .2s;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#Item365.ItemNode .Level365Contents > DOTAScenePanel:hover
{
	brightness: 1.5;
}

#Item365.ItemNode .Level365Contents > DOTAScenePanel:active
{
	brightness: 1.5;
}




/* --- Level 75 Custom Layout ----------------------------------------------- */

@define level75Width: 275px;
@define level182Width: 225px; /*Custom Creeps*/
@define level255Width: 275px; /*Tiny Prestige*/
@define level305Width: 225px; /*Invoker*/


#Path182.Achieved .PathNodeContents,
#Path255.Achieved .PathNodeContents,
#Path305.Achieved .PathNodeContents,
#Path365.Achieved .PathNodeContents,
#Path75.Achieved .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(darkColor ), to( accentColorBright ) );
}

#Path182.PathNode .PathNodeContents,
#Path255.PathNode .PathNodeContents,
#Path305.PathNode .PathNodeContents,
#Path365.PathNode .PathNodeContents,
#Path75.PathNode .PathNodeContents
{
	border-color: secondaryBrightColor;
}

#Item75.ItemNode .Level75Contents
{
	width: 100%;
	height: 100%;
	background-position: bottom;
    background-image: url("s2r://panorama/images/compendium/international2019/prestigerewards/ti9_meepo_announcer_psd.vtex");
    background-repeat: no-repeat;
	/*margin-bottom: 20px;*/
	background-size: contain;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

}

#Item182.ItemNode .Level1182Contents
{
	width: 100%;
	height: 100%;
	background-position: bottom;
    background-image: url("s2r://panorama/images/compendium/international2019/prestigerewards/customcreeps_psd.vtex");
    background-repeat: no-repeat;
	background-size: contain;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#Item255.ItemNode .Level1255Contents
{
	width: 100%;
	height: 100%;
	background-position: bottom;
    background-image: url("s2r://panorama/images/compendium/international2019/prestigerewards/ti9_tinyprestigeitem_psd.vtex");
    background-repeat: no-repeat;
	/*margin-bottom: 20px;*/
	background-size: contain;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#Item305.ItemNode .Level1305Contents
{
	width: 100%;
	height: 100%;
	background-position: bottom;
    background-image: url("s2r://panorama/images/compendium/international2019/prestigerewards/ti9_kidinvoker_psd.vtex");
    background-repeat: no-repeat;
	/*margin-bottom: 20px;*/
	background-size: contain;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

}


#Path182.PathNode  #ComingSoonLabel,
#Path255.PathNode  #ComingSoonLabel,
#Path305.PathNode  #ComingSoonLabel,
#Path365.PathNode  #ComingSoonLabel,
#Path75.PathNode  #ComingSoonLabel
{
	vertical-align: bottom;
	padding: 2px;
	text-transform: uppercase;
	color: ultraBrightColor;
	margin-bottom: 0px;
	horizontal-align: center;
	text-align: center;
}

#Path255.PathNode  #ComingSoonLabel,
#Path75.PathNode  #ComingSoonLabel
{
	margin-right: 45px;
}

#TierSilver
{
	horizontal-align: right;
	pre-transform-scale2d: .8;
}


#Path75 #TierLabel
{
	horizontal-align: right;
	margin-right: 12px;
	color: #9BADA6;
}

.LevelTierBadge
{
	width: 40px;
	height: 98px;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 3px;
	background-image: url("s2r://panorama/images/badges/international_2019_battle_pass_badge_2_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	margin-right: 10px;
}


#TierLabel
{
	color: #9BADA6;
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	margin-top: 272px;
	text-shadow: 0px 2px 4px 3.0 #000000;
}

.PathNode.Achieved:not(.AlreadyClaimed) #TierLabel
{
	visibility:collapse;
}

#Path75 #LevelNumber2
{
	color: white;
	text-shadow: 0px 2px 4px 3.0 #000000;
}

/*--- Level 615 Custom Layout -----------------------------------------------*/

@define level615Width: 225px;

#Path615.Achieved .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(darkColor ), to( accentColorBright ) );
}

#Path615.PathNode .PathNodeContents
{
	border-color: secondaryBrightColor;
}

#Item615.ItemNode .Level615Contents
{
	width: 100%;
	/*height: 100%;*/
	background-position: bottom;
    background-repeat: no-repeat;
	/*margin-bottom: 20px;*/
	background-size: contain;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

}

#Item615.ItemNode .Level615Contents Image
{
	width: 70px;
	height: 70px;


}

#Path615.PathNode  #ComingSoonLabel {
	vertical-align: bottom;
	padding: 2px;
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-right: 4px;
	horizontal-align: left;
	text-align: center;
}

#TierMax
{
	horizontal-align: right;
	background-image: url("s2r://panorama/images/badges/international_2019_battle_pass_badge_4_png.vtex");
	transform: translateY( 0px );
}

#Path1000 #TierGold
{
	pre-transform-scale2d: .9;
}


#Path1000 #TierLabel
{
	horizontal-align: right;
	margin-right: 12px;
	color: accentColor;
}

#TerrainGlobe,
#KunkkaGlobe
{
	width: 130px;
	height: 130px;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 26px;
	border-radius: 50%;
	background-color: #000b;
	border: 2px solid black;

	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

#TerrainGlobe
{
	background-color: #2A6668;
}

#TerrainGlobe:hover
{
	brightness: 2;
}

#TerrainScene,
#KunkkaShadow
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .8s;
	transition-timing-function: ease-in-out;
}

#TerrainScene.SceneLoaded,
#KunkkaShadow.SceneLoaded
{
	opacity: 1;
}



#LCComingSoon
{
	font-size: 20px;
	text-transform: uppercase;
	color: black;
	background-color: #A9372E;
	padding: 8px 12px 4px 12px;
	font-weight: bold;
	border-radius: 6px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 12px;
	box-shadow: fill #00000088 -2px -2px 4px 4px;
}

/* --- Ellipsis Custom Layout ----------------------------------------------- */

@define rewardEllipsisWidth: 350px;

.ItemNodeEllipsis
{
    height: 100%;
}

.ItemNodeEllipsis .EllipsisContents
{
    padding: 20px;
    margin-left: 4px;
	margin-top: 13px;
	width: 100%;
    height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor&80 ), color-stop( .80, darkColor&dd ), color-stop( .95, darkColor&00 ), to( darkColor&00 ) );
	border-top-left-radius: 16px;
}

.ItemNodeEllipsis .EllipsisTextContents
{
    vertical-align: middle;
    width: 100%;
    flow-children: down;
}

.ItemNodeEllipsis .EllipsisTextContents > Label
{
    text-align: center;
    horizontal-align: center;
}

.ItemNodeEllipsis .EllipsisTitle
{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    margin-bottom: 4px;
}

.ItemNodeEllipsis .EllipsisDescription
{
    color: #999;
}

#RewardPath .MysteryWheelRewardType .PathNodeContents
{
	background-image: url("s2r://panorama/images/compendium/international2019/spinwheel_icon_psd.vtex");
	background-size: contain;
	background-position: 50% 60%;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 100%;
	height: 96px;
	wash-color: accentColor;

	margin-bottom: 94px;
	brightness: .3;

	animation-duration: 1.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;



}

#RewardPath .MysteryWheelRewardType.Achieved .PathNodeContents
{
	saturation: 1;
	brightness: 1.5;
	wash-color: accentColor;

}

.Vignette
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 70% 70%, from( #00000000 ), color-stop( .2,  #00000000 ), color-stop( 0.7,  #34156Bbb ),to( #34156Bbb ) );
}


/* Recurring rewards for 615 + 615n. The styling only goes up to 10k,
   though the rewards can be granted even for later in the list */

@define level1230Width: 310px;
@define level1845Width: level1230Width;
@define level2460Width: level1230Width;
@define level3075Width: level1230Width;
@define level3690Width: level1230Width;
@define level4305Width: level1230Width;
@define level4920Width: level1230Width;
@define level5535Width: level1230Width;
@define level6150Width: level1230Width;
@define level6765Width: level1230Width;
@define level7380Width: level1230Width;
@define level7995Width: level1230Width;
@define level8610Width: level1230Width;
@define level9225Width: level1230Width;
@define level9840Width: level1230Width;

#Item1230 #ItemContainer,
#Item1845 #ItemContainer,
#Item2460 #ItemContainer,
#Item3075 #ItemContainer,
#Item3690 #ItemContainer,
#Item4305 #ItemContainer,
#Item4920 #ItemContainer,
#Item5535 #ItemContainer,
#Item6150 #ItemContainer,
#Item6765 #ItemContainer,
#Item7380 #ItemContainer,
#Item7995 #ItemContainer,
#Item8610 #ItemContainer,
#Item9225 #ItemContainer,
#Item9840 #ItemContainer
{
	flow-children: right;
	vertical-align: bottom;
	width: fit-children;
	horizontal-align: center;
}
#Item1230 #ItemContainer .EconItemReward,
#Item1845 #ItemContainer .EconItemReward,
#Item2460 #ItemContainer .EconItemReward,
#Item3075 #ItemContainer .EconItemReward,
#Item3690 #ItemContainer .EconItemReward,
#Item4305 #ItemContainer .EconItemReward,
#Item4920 #ItemContainer .EconItemReward,
#Item5535 #ItemContainer .EconItemReward,
#Item6150 #ItemContainer .EconItemReward,
#Item6765 #ItemContainer .EconItemReward,
#Item7380 #ItemContainer .EconItemReward,
#Item7995 #ItemContainer .EconItemReward,
#Item8610 #ItemContainer .EconItemReward,
#Item9225 #ItemContainer .EconItemReward,
#Item9840 #ItemContainer .EconItemReward
{
	vertical-align: bottom;
}