
.CompendiumBody
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000dd ), to( #000000aa ) );
}

#MainContents
{
	padding: 16px 0px;
	width: 1440px;
	height: 100%;
	horizontal-align: center;
	flow-children: right;
}

.BattlePassCell
{
	border: BRD;
	
}

#LeftColumn
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
}

#LeftFooter
{
	flow-children: right;
	height: 200px;
	margin-top: 8px;
}

#LeftColumn
{
	flow-children: down;
	width: 326px;
	margin-right: 8px;
}

#TipsGraphCell
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
}

#TipsGraphContents
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

#TipsGraphCellText
{
	margin-top: 38px;
	margin-left: 8px;
	width: 300px;
	height: 100%;
}

#TipsGraph
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	horizontal-align: right;
	
}

#AboutCell
{
	width: 326px;
	height: 100%;
	margin-left: 8px;
}

#AboutCell > .BattlePassCellContents
{
	margin-top: 38px;
	flow-children: down;
}

.AboutLine
{
	flow-children: right;
}

.AboutLine > .Bullet
{
	width: 7px;
	height: 7px;
	background-color: #999;
	margin-right: 8px;
	margin-top: 6px;
}

.AboutLine > Label
{
	color: #999;
	width: 284px;
}

#AboutCellArt
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/compendium/international2019/splashart_tipping_psd.vtex");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

#MyScoreCell
{
	width: 100%;
	
}

#MyScoreContents
{
	flow-children: down;
	horizontal-align: center;
}

#MyScore
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 40px;
}

#MyScoreValue
{
	horizontal-align: center;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	color: white;
}

#MyScoreLabel
{
	color: #999;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: -18px;
	horizontal-align: center;
	text-align: center;
}

#ThisWeek
{
	flow-children: down;
	margin-top: 40px;
	margin-bottom: 40px;
}

#TipsGivenValue
{
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
	color: #ccc;
	horizontal-align: center;
	text-align: center;
	letter-spacing: 3px;
}

#TipsGivenLabel
{
	color: #999;
	letter-spacing: 1px;
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
	margin-bottom: 8px;
	margin-top: -4px;
}

#ResetTimer
{
	color: textSecondaryDefaultColor;
	letter-spacing: 2px;
	font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
	margin-right: 4px;
	margin-top: -8px;

	visibility: collapse;
}

.TipsAvailableTimerValid #ResetTimer
{
	visibility: visible;
}


#LeaderboardCell
{
	width: 100%;
	margin-top: 8px;
	height: fill-parent-flow( 1.0 );
}

#LeaderboardScoreTitle
{
	horizontal-align: right;
	color: textSecondaryBrightColor;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 8px;
	margin-right: 4px;
	font-size: 16px;
}

#LeaderboardPlayerList
{
	padding: 0px 8px;
	margin-top: 36px;
	width: 100%;
	flow-children: down;
	overflow: squish scroll;
}