DOTABPInternational2019CollectorsCacheVotePage
{
	width: 100%;
	height: 100%;
}

#CompendiumBody
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDarkColor ), to( black ) );
}

#LargeModelPreview
{
	width: 1000px;
	height: 740px;
	horizontal-align: center;
	margin-right: 680px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

	transition-property: opacity;
	transition-duration: 0.5s;
}

@define justVotedAnimationDuration: 0.5s;

@keyframes 'JustUpvotedAnimation'
{
	0%		{ transform: none; opacity: 1.0; }
	100%	{ transform: rotateZ( 179deg ) translateY( -50px ) translateX( 300px ); opacity: 0.0; }
}

.JustUpvoted #LargeModelPreview
{
	sound: "contest_upvote";
	opacity: 0.0;
	transition-delay: 0.5s;
	animation-name: JustUpvotedAnimation;
	animation-duration: justVotedAnimationDuration;
	animation-timing-function: ease-in;
}

@keyframes 'JustDownvotedAnimation'
{
	0%		{ transform: none; opacity: 1.0; }
	100%	{ transform: rotateZ( -179deg ) translateY( -50px ) translateX( -300px ); opacity: 0.0; }
}

.JustDownvoted #LargeModelPreview
{
	sound: "contest_downvote";
	opacity: 0.0;
	transition-delay: 0.5s;
	animation-name: JustDownvotedAnimation;
	animation-duration: justVotedAnimationDuration;
	animation-timing-function: ease-in;
}


.CenterContents
{
	width: 1440px;
	height: 100%;
	horizontal-align: center;
}

#ModelControls
{
	width: 700px;
	vertical-align: bottom;
	flow-children: down;
}

#ButtonsContainer
{
	horizontal-align: center;
	flow-children: right;
}

.NavigateButton
{
	width: 48px;
	height: 48px;
	margin: 0px 4px;
	border-top: 1px solid #485677;
	background-color: #253646;
	vertical-align: middle;
	box-shadow: 0px 0px 96px #00000030;
}

.NavigateButton:hover:enabled
{
	brightness: 2.0;
}
.NavigateButton:active
{
	brightness: 1.5;
}

.NavigateButton Label
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 24px;
}

.VoteButton
{
	width: 72px;
	height: 72px;
	margin: 0px 12px;
	border-top: 1px solid #485677;
	background-color: #253646;
	vertical-align: middle;
	box-shadow: 0px 0px 18px #00000025;

	visibility: collapse;
}

.OwnsContestEvent .VoteButton
{
	visibility: visible;
}

.VoteButton:hover:enabled
{
	brightness: 2.0;
}

.VoteButton:active
{
	brightness: 1.5;
}

.VoteButton Label
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 32px;
}

#UpvoteButton
{
	background-image: url("s2r://panorama/images/control_icons/thumbs-up-voting_png.vtex");
	background-position: 50% 50%;
	background-size: 45%;
	background-repeat: no-repeat;
	z-index: 10;
}

#DownvoteButton
{
	background-image: url("s2r://panorama/images/control_icons/thumbs-down-voting_png.vtex");
	background-position: 50% 60%;
	background-size: 45%;
	background-repeat: no-repeat;
}

.Downvoted
{
	wash-color: #485677EE;
}

#NextButton
{
	background-image: url("s2r://panorama/images/control_icons/arrow_right_png.vtex");
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
}

#PreviousButton
{
	background-image: url("s2r://panorama/images/control_icons/arrow_left_png.vtex");
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
}

#ItemNumber
{
	margin-top: 10px;
	margin-bottom: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: semi-bold;
	color: textSecondaryBrightColor;
	horizontal-align: center;
	font-size: 18px;
}

#RightPanel
{
	horizontal-align: right;
	flow-children: down;
	width: 700px;
	height: 100%;
}

#VotingTimeCountdown
{
	margin-bottom: -4px;
}

#VotingTimeRemaining,
#VotingFinished
{
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 2px;
	color: #7C8FB6;
	text-shadow: 0px 2px 4px black;
	visibility: collapse;
}

#VotingTimeCountdown.CountdownActive #VotingTimeRemaining,
#VotingTimeCountdown.CountdownAfterEnd #VotingFinished
{
	visibility: visible;
}


#ContestSubtitle
{
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 3px;
	color: #D8BAFF;
	text-shadow: 2px 2px 4px black;
	margin-top: -12px;
}

#ContestTitle
{
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 4px;
	font-size: 42px;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( accentColor ) );
	text-shadow: 0px 0px 6px #9862E970;
	margin-top: 4px;
}

#ContestDescription
{
	margin-top: 4px;
	color: textSecondaryUltraBrightColor;
	text-shadow: 2px 2px 4px #000;
}

#HeroInfo
{
	flow-children: right;
	margin-top: 64px;
	margin-left: 6px;
}

#HeroImage
{
	height: 60px;
	width: 107px;
	margin-right: 12px;
	box-shadow: 0px 0px 12px #00000050;
}

#HeroName
{
	font-size: 36px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	vertical-align: middle;
	margin-top: 8px;
	text-shadow: 0px 2px 8px #000;
}

.header-bg
{
	height: 166px;
	width: 55%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( transparent ), to( #48567730 ) );
	horizontal-align: right;
	margin-top: 184px;
	z-index: 9999;
}

.header
{
	margin-top: 40px;
	flow-children: down;
}

.InfoSection
{
	margin-top: 24px;
	width: 100%;
	flow-children: down;
}

.InfoSectionHeader
{
	width: 100%;
	flow-children: right;
}

.InfoSectionLabel
{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: textSecondaryBrightColor;
	margin-bottom: 2px;
}

#CreatorsContainer
{
	width: 100%;
	height: 100px;
}

.CreatorsState
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.CreatorsState_Loaded #CreatorsList,
.CreatorsState_Loading #CreatorsLoading,
.CreatorsState_FailedToLoad #CreatorsFailedToLoad
{
	visibility: visible;
}

#CreatorsFailedToLoad Label
{
	color: #666;
}

#CreatorsList
{
	flow-children: right-wrap;
	overflow: squish scroll;
}

.Creator
{
	width: 224px;
	margin-right: 8px;
	margin-bottom: 8px;
	flow-children: right;
	margin-top: 4px;
}

.Creator #CreatorAvatarImage
{
	width: 36px;
	height: 36px;
	margin-right: 12px;
}

.Creator #CreatorName
{
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding-top: 4px;
}


#IncludedItemsList
{
	flow-children: right;
	height: 140px;
}

#IncludedItemsSection
{
	margin-top: 16px;
}

.IncludedItem
{
	width: 130px;
	height: 140px;
	border-bottom: 2px solid #485677;
	background-color: #060A13;
	margin-right: 8px;
}

.IncludedItem:selected
{
	border-bottom: 4px solid #A1B5D8;
}

.IncludedItem:hover
{
	brightness: 2.0;
}
.IncludedItem:active
{
	brightness: 1.5;
}

#InGamePreviewSection
{
	width: 640px;
}

#InGamePreviewScene
{
	width: 100%;
	height: 228px;
	background-color: black;
}

.status
{
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	horizontal-align: center;

	margin-bottom: 8px;
	margin-left: 10px;

	visibility: collapse;
}

#status-liked
{
	color: #46AF25;
}

#status-disliked
{
	color: #EF0D08;
}

.Upvoted:not(.JustUpvoted) #status-liked,
.Downvoted:not(.JustDownvoted) #status-disliked
{
	visibility: visible;
}

.DefaultButton
{
	width: 280px;
	height: 84px;
	margin: 0px 12px;
	border-top: 1px solid #485677;
	background-color: #253646;
	vertical-align: middle;
	box-shadow: 0px 0px 18px #00000025;
}

.DefaultButton:hover:enabled
{
	brightness: 2.0;
}
.DefaultButton:active
{
	brightness: 1.5;
}



#NoBpButton
{
	flow-children: right;
}

.OwnsContestEvent #NoBpButton
{
	visibility: collapse;
}


.bp-shield
{
	width: 84px;
	height: 84px;
	background-color: #162034;
	background-image: url("s2r://panorama/images/cache_voting/bp-shield_png.vtex");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 10;
}

.bp-text
{
	width: 208px;
	height: 100%;
	flow-children: down;
}

.needs-battle-pass,
.buy-battle-pass-link
{
	width: 100%;
	text-align: center;
	font-size: 14px;
}
.needs-battle-pass
{
	color: #fff;
	padding: 4px 12px;
	padding-top: 12px;
	line-height: 14px;
}

.buy-battle-pass-link
{
	color: #A1B5D8;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: underline;
}
