
.CompendiumBody
{
	background-color: secondaryGradient;
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/morokai_bg_darker_jpg.vtex");
	background-position: center top -150px;
	background-size: 150% 150%;
}

@keyframes 'Float'
{
	0%
	{
		transform: translateY(0px) translateX(40px);
		brightness: 1;
	}


	50%
	{
		transform: translateY(60px) translateX(-20px);
		brightness: 1.6;
	}

	100%
	{
		transform: translateY(100px) translateX(20px);
		brightness: 1;
	}
}


#DarkWillow {
	width: 400px;
	height: 480px;
	background-image: url("s2r://panorama/images/banners/dw_mo_psd.vtex");
	background-size: 100%;
	margin-left: 0px;
	margin-top: -140px;
	animation-name: Float;
	animation-duration: 10.0s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#Beast {
	width: 650px;
	height: 650px;
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/mo_beast_png.vtex");
	background-size: 100%;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: -250px;
	margin-bottom: 00px;

}


#MainContents
{
	flow-children: down;
	width: 1440px;
	height: fit-children;
	horizontal-align: center;
	vertical-align: middle;
	margin-bottom: 50px;
	margin-top: 0px;

}

.MorokaiLogoContainer
{
	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000bb ), to( #000000aa ) );*/
	width: 100%;
	flow-children: down;
	vertical-align: top;
	margin-top: -130px;
}

.MorokaiLogo
{
	background-size: 100%;
	background-image: url("s2r://panorama/images/compendium/international2019/morokai_logo_png.vtex");
    width: 1000px;
    height: 318.5px;
    horizontal-align: center;
	
	transform: translateY(20px);
	brightness: 1.6;
	margin-top: -0px;
}


.Language_russian .MorokaiLogo {
	background-image: url("s2r://panorama/images/compendium/international2019/morokai_logo_ru_png.vtex");
}

.Language_schinese .MorokaiLogo, .Language_tchinese .MorokaiLogo {
	background-image: url("s2r://panorama/images/compendium/international2019/morokai_logo_cn_png.vtex");
}

.EventGameDescription
{
	height: 100%;
	flow-children: down;
	margin-top: 0px;
	text-shadow: 1px 1px 2px #000000;
}

#IntroText {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 20px;
	color: #dedede;
	/*line-height: 30px;*/
	text-shadow: 0px 0px 10px accentColor;
	margin-bottom: 40px;
	margin-top: -40px;
	font-weight: semi-bold;
	width: 80%;
}

.MorokaiDescriptionText
{
	font-size: 18px;
	color: #fefefe;
	text-align: center;
	width: 1000px;
	font-weight: semi-bold;
	horizontal-align: center;
	vertical-align: bottom;
}



.EventGameTeasers
{
	
	width: 1300px;
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 10px;
	margin: 0px 15px;
	horizontal-align: center;
}

.EventGameTeaser
{
	width: fill-parent-flow(1.0);
	/*margin-left: 25px;*/
	/*margin-right: 25px;*/
	flow-children: down;
}

.EventGameThumbnail
{
	width: 200px;
	height: 110px;
	background-size: 100%;
	horizontal-align: center;
	margin-bottom: 10px;
	horizontal-align: center;
	box-shadow: 0px 0px 50px #00000050;
}

.EventGameThumbnailDesc
{
	height: 140px;
	width: 310px;
	text-align: center;
	color: #fefefe;
	font-size: 18px;
	horizontal-align: center;
	text-overflow: shrink;
}

.EventGameThumbnailTitle
{
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #dedede;
	/*line-height: 30px;*/
	text-shadow: 0px 0px 10px accentColor;
	letter-spacing: 2px;
	vertical-align: bottom;
	margin: 5px;
	horizontal-align: center;
}

.ComingSoon
{
	font-size: 16px;
	horizontal-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	margin-top: 0px;
}

.Teaser1
{
	background-image: url("s2r://panorama/images/compendium/international2019/morokai_teaser2_png.vtex");
}

.Teaser2
{
	background-image: url("s2r://panorama/images/compendium/international2019/morokai_teaser1_png.vtex");
}

.Teaser3
{
	background-image: url("s2r://panorama/images/compendium/international2019/morokai_teaser3_png.vtex");
}

.BattlePassCell
{
	border: BRD;
	
}

.EventGameTitle
{
	font-size: 36px;
	font-weight: black;
	text-transform: uppercase;
	vertical-align: center;
	margin-top: 4px;
	padding-bottom: 10px;
	padding-left: 16px;
	font-family: defaultFont;
	font-weight: black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #000 ), to( #1b2f2d ) );
	text-shadow: 0px 0px 10px 1.5 #5fa39d;
	letter-spacing: 6px;
}




#LeftColumn
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
}

#LeftFooter
{
	flow-children: right;
	height: 200px;
	margin-top: 8px;
}

#LeftColumn
{
	flow-children: down;
	width: 326px;
	margin-right: 8px;
}

.Buttons
{
	horizontal-align: center;
	flow-children: right;
}


.CenterColumn
{
	margin-left: 0px;	
	width: 800px;
	height: 90%;
	border-radius: 15px;
	padding: 12px;
}

#StartMatchContainer
{
}


#FindingMatchLabel
{
	visibility: collapse;
	padding: 10px;
}

#StartMatchContainer
{
	horizontal-align: center;
}

#StartMatchButton:enabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d695 ) );
}

.PlayButton
{
	max-width: 500px;
	max-height: 50px;
	padding: 4px 22px 4px 22px;
	margin: 5px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) );
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	background-size: 450px 60px;
    //background-repeat: no-repeat;


	box-shadow: fill #002a6644 -4px -4px 8px 9px;

	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;

	opacity: 1.0;

	transition-property: box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

}


.PlayButton Label
{
	margin-top: 2px;
	horizontal-align: center;
	font-size:38px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	height: 50px;
	text-overflow: shrink;

	transition-property: color;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
}

#PlaySection {
	flow-children: down;
	margin-top: 20px;
}


#PointsEarnedSection Label
{
	color: white;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	horizontal-align: center;
	margin-right: 4px;
	text-align: center;
	vertical-align: bottom;
}


#ResetTimer, #BattlePointsEarnedDesc
{
	color: ultraBrightColor;
	letter-spacing: 2px;
	font-size: 14px;
	text-transform: uppercase;

}

#ResetTimer {
	margin-bottom: 10px;
}

#BattlePointsEarnedDesc
{
	color: #dedede;
	/*line-height: 30px;*/
	text-shadow: 0px 0px 10px accentColor;
	font-weight: bold;
}

#BattlePointsEarnedValue {
	font-weight: bold;
	color: ultraBrightColor;
	text-shadow: 0px 0px 10px accentColor;
}

#BattlePointsDailyBonusTokens {
	margin-right: 15px;
	font-weight: bold;
}

.PlayButton,#ResetTimer,#PointsEarnedSection,#PointMultiplierSection
{
	horizontal-align: center;
	text-align: center;
}

.ResetTimerValid #ResetTimer
{
	visibility: visible;
}

#PlayGame
{
	horizontal-align: center;
	background-color: black;
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/section_bg_lg_png.vtex");
	background-size: auto 100%;
	width: 100%;
	height: 130px;
	vertical-align: bottom;
	margin-top: 100px;
	box-shadow: 0px 0px 70px #00000050;
}

#Points {
	vertical-align: middle;
	margin-top: 22px;
	margin-right: 100px;
}

#PointsSection {
	horizontal-align: center;
	margin-bottom: 20px;
	flow-children: down;
}

#LowerContent {
	width: 1000px;
	horizontal-align: center;
	flow-children: right;
	vertical-align: middle;
	/*border: 1px solid red;*/
}

.SelfEventNotActive #PlayGame
{
	visibility: collapse;
}

#Emoticon {
	width: 60px;
	height: 60px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( ultraBrightColor ), to( accentColor ) );
	/*margin-left: 70px;*/
	margin-right: 80px;
	margin-top: -65px;
	margin-bottom: 5px;
	border-radius: 30px;
	padding: 8px 10px 15px 10px;
	box-shadow: 0px 0px 30px #000000;
	horizontal-align: right;
}

#Points
{
	horizontal-align: center;
}

#PointsProgressBar
{
	border-radius: 50px;
	height: 12px;
	width: 330px;

	box-shadow: 1px 1px 0px #000000dd;
	horizontal-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

#PointsProgressBar .ProgressBarLeft
{
	border-radius: 50px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( defaultColor ), to( accentColorBright ) );
}

#PointsProgressBar .ProgressBarRight
{
	border-radius: 50px;
	background-color: #333333;
}

#PointMultiplierSection
{
	vertical-align: bottom;
	margin-top: 5px;
	flow-children: right;
}

#DailyBonusCountdown
{
	horizontal-align: center;
}

#PointMultiplierSection Label, #DailyBonusCountdown Label
{
	color: #ffffff;
	letter-spacing: 2px;
	font-size: 14px;
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;

}

.DailyBonusNotReady
{

}