
.CompendiumBody
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000dd ), to( #000000aa ) );
}

#Background
{
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/coaching/tiny_coach_dashboard_background_png.vtex");
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.6;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #060A13 ), to( #162034 ) );
}

#BottomSectionBackground
{
	width: 100%;
	height: 392px;
	background-color: secondaryBrightColor&11;
	vertical-align: bottom;
}

#MainContents
{
	width: 1440px;
	height: 100%;
	horizontal-align: center;
	flow-children: down;
}

#TopSection
{
	margin-top: 16px;
	flow-children: right;
}

#BadgeContainer
{
	flow-children: down;
	width: 315px;
	margin-right: 44px;
	margin-left: 24px;
	vertical-align: middle;
}

#CoachRating
{
	horizontal-align: center;
	ui-scale: 130%;
}

#CoachRatingTier
{
	margin-top: 8px;
	horizontal-align: center;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.CoachTier_None #CoachRatingTier
{
	visibility: collapse;
}
.CoachTier_Bronze #CoachRatingTier
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #f1ddac ), to( #984e30 ) );
	text-shadow: 0px 0px 8px #984e3099;
}
.CoachTier_Silver #CoachRatingTier
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #b1b9cc ), to( #313c52 ) );
	text-shadow: 0px 0px 8px #313c5299;
}
.CoachTier_Gold #CoachRatingTier
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #fff699 ), to( #d3730e ) );
	text-shadow: 0px 0px 8px #d3730e99;
}

#ProgressToNextTier
{
	horizontal-align: center;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 2px 2px 4px black;

	visibility: collapse;
}
.HasNextTierInfo #ProgressToNextTier
{
	visibility: visible;
}

.CoachTier_None #ProgressToNextTier
{
	margin-top: 12px;
}

#RecentMatchesContainer
{
	flow-children: down;
	width: 674px;
}

.SectionTitle
{
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
}

.RecentMatchesState
{
	visibility: collapse;
}

.HistoryLoading #RecentMatchesLoading,
.HistoryLoaded #RecentMatchesLoaded,
.HistoryFailedToLoad #RecentMatchesFailedToLoad
{
	visibility: visible;
}

#NoRecentMatches
{
	color: textSecondaryBrightColor;
}
.HasMatches #NoRecentMatches
{
	visibility: collapse;
}

#RecentMatchesTable
{
	flow-children: down;

	visibility: collapse;
}
.HasMatches #RecentMatchesTable
{
	visibility: visible;
}

#RecentMatchesHeader
{
	flow-children: right;
	padding: 6px 8px 2px 8px;
}

#RecentMatchesHeader > Label
{
	text-transform: uppercase;
	color: textSecondaryBrightColor;
	letter-spacing: 1px;
}


.RecentMatchTimestamp { width: 200px; }
.RecentMatchResult { width: 100px; }
.RecentMatchDuration { width: 130px; }
.RecentMatchVotes { width: 120px; }
.RecentMatchRating { width: 100px; }

.WonMatch .RecentMatchResult { color: winnerGreen; }
.LostMatch .RecentMatchResult { color: loserRed; }
.NotScoredMatch .RecentMatchResult { color: #666; }

#RecentMatchesList
{
	flow-children: down;
	overflow: squish scroll;
	height: 320px;
}

.RecentMatchRow
{
	flow-children: right;
	background-color: #111;
	padding: 8px 8px 4px 8px;
	width: 700px;
}

.RecentMatchRow:hover
{
	brightness: 2.0;
}

.RecentMatchRow:active
{
	brightness: 1.5;
}

.RecentMatchRow.Even
{
	background-color: #222;
}

.RecentMatchRow .RecentMatchTimestamp
{
	flow-children: right;
}

.RecentMatchTime
{
	margin-left: 12px;
}

#RecentMatchVotes
{
	flow-children: right;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 8px;
}

.MatchVote
{
	width: 20px;
	height: 20px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.MatchVote.NoVote
{
	background-image: url("s2r://panorama/images/control_icons/thumbs_up_png.vtex");
	wash-color: #666;
}

.MatchVote.PositiveVote
{
	background-image: url("s2r://panorama/images/control_icons/thumbs_up_png.vtex");
	wash-color: winnerGreen;
}

.MatchVote.NegativeVote,
.MatchVote.AbusiveVote
{
	background-image: url("s2r://panorama/images/control_icons/thumbs_down_png.vtex");
	wash-color: loserRed;
}

.PositiveRatingChange .RecentMatchRating { color: winnerGreen; }
.NegativeRatingChange .RecentMatchRating { color: loserRed; }
.NoRatingChange .RecentMatchRating { color: #666; }

#RightSection
{
	flow-children: down;
	margin-left: 16px;
	width: 315px;
	margin-left: 44px;
}

#LeaderboardContainer
{
	flow-children: down;
}

#LeaderboardHeader
{
	flow-children: right;
	width: 100%;
}

.LeaderboardHeaderTitle
{
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.LeaderboardHeaderRating
{
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#LeaderboardEntryList
{
	width: 348px;
	height: 302px;
	overflow: squish scroll;
}

.LeaderboardEntry
{
	flow-children: right;
	width: 348px;
	margin-bottom: 8px;
	background-color: secondaryDarkColor;
	padding: 8px;
	margin-bottom: 2px;
}

.LeaderboardEntry #LeaderboardAvatarImage
{
	width: 32px;
	height: 32px;
	margin-right: 8px;
}

.LeaderboardEntry #LeaderboardCoachRating
{
	width: 24px;
	height: 24px;
	margin-right: 4px;
	vertical-align: middle;
}

.LeaderboardEntry .LeaderboardPlayerName
{
	vertical-align: middle;
	margin-top: 4px;
}

.LeaderboardEntry.IsCurrentUser .LeaderboardPlayerName
{
	font-weight: bold;
}

.LeaderboardEntry .LeaderboardValue
{
	vertical-align: middle;
	font-size: 20px;
	color: textAccentColor;
	letter-spacing: 1px;
	text-align: right;
	margin-top: 2px;
}

#PointsContainer
{
	flow-children: right;
	width: 348px;
}

#PointsContainer:hover
{
	brightness: 2.0;
}

#PointsContainer:active
{
	brightness: 1.5;
}

.PointsSection
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
	margin-top: 8px;
}

.PointsSectionValue
{
	color: textAccentColor;
	text-shadow: 0px 0px 4px textDefaultColor;
	font-size: 36px;
	text-align: center;
	horizontal-align: center;
	font-weight: bold;
	letter-spacing: 2px;
}

.PointsSectionLabel
{
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	font-size: 16px;
	margin-top: -8px;
	color: textSecondaryBrightColor;
	letter-spacing: 1px;
}

#BottomSection
{
	flow-children: right;
	margin-bottom: 16px;
	padding-left: 24px;
}

.InstructionCell
{
	width: 315px;
	height: 360px;
	border: BRD;
	margin: 0px 22px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDarkColor ), to( ultraDarkColor ) );
}

.InstructionCellImage
{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#QueueAsCoachCell .InstructionCellImage { background-image: url("s2r://panorama/images/coaching/instructions_queue_as_coach_png.vtex"); }
#CoachTeamCell .InstructionCellImage { background-image: url("s2r://panorama/images/coaching/instructions_coach_team_png.vtex"); }
#TeamVoteCell .InstructionCellImage { background-image: url("s2r://panorama/images/coaching/instructions_team_rating_png.vtex"); }
#EarnRewardsCell .InstructionCellImage { background-image: url("s2r://panorama/images/coaching/instructions_rewards_png.vtex"); }

#QueueAsCoachCell
{
	margin-left: 0px;
}
#EarnRewardsCell
{
	margin-right: 0px;
}

.InstructionCellDetails
{
	vertical-align: bottom;
	flow-children: down;
}

.InstructionCellTitle
{
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	horizontal-align: center;
	text-align: center;
	font-size: 20px;
	padding: 0px 8px;
}

.InstructionCellDesc
{
	color: white;
	horizontal-align: center;
	text-align: center;
	font-size: 18px;
	padding: 0px 16px;
	margin-bottom: 16px;
}

