/*  COLORS */

@define ultraBrightColor: #D8BAFF;
@define accentColorBright: #B685F7;
@define accentColor: #9862E9;
@define defaultColor: #7836D6;
@define shadeColor: #552F9A;
@define darkColor: #34156B;
@define ultraDarkColor: #0B0119;

@define secondaryUltraBrightColor: #747b8c;
@define secondaryBrightColor: #485677;
@define secondaryDefaultColor: #253646;
@define secondaryDarkColor: #162034;
@define secondaryUltraDarkColor: #04070c;

@define BRD: 1px solid darkColor;

/* GRADIENTS */

@define defaultGradient: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( ultraDarkColor ) );
@define secondaryGradient: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( secondaryDarkColor, 0, 1, 0.8 ) ), to( secondaryUltraDarkColor ) );

/* TEXT COLORS */

@define textUltraBrightColor: #D8BAFF;
@define textAccentColorBright: #B685F7;
@define textAccentColor: #9862E9;
@define textDefaultColor: #7836D6;
@define textShadeColor: #552F9A;
@define textDarkColor: #34156B;
@define textUltraDarkColor: #0B0119;

@define textSecondaryUltraBrightColor: #747b8c;
@define textSecondaryBrightColor: #485677;
@define textSecondaryDefaultColor: #253646;
@define textSecondaryDarkColor: #162034;
@define textSecondaryUltraDarkColor: #04070c;


/* -----------------------------------------------

@define textShadeColor: #36694d; 

*/

@define defaultColor: #8e37da;
@define bp_wagerTokenColor: #8e37da;

@define XPCircleGradient: gradient( linear, 0% 0%, 0% 100%, from( ultraDarkColor ), to( darkColor ) );
@define XPCircleBorder: 1px solid accentColor;

@define XPRequiredHeroCircleGradient: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( defaultColor ) );
@define XPRequiredHeroCircleBorder: 1px solid accentColor;

@define bp_battleLevelColor: #88fcbd;

@define bp_logo_small: url("s2r://panorama/images/control_icons/battlepass_logo_small_png.vtex");

@define bp_single_point: url("s2r://panorama/images/compendium/international2019/single_point_psd.vtex");
@define bp_single_point_selected: url("s2r://panorama/images/compendium/international2019/single_point_selected_psd.vtex");
@define bp_activequestring_small: url("s2r://panorama/images/compendium/international2019/activequestring_small_psd.vtex");
@define bp_activequestring_endscreen: url("s2r://panorama/images/compendium/international2019/activequestring_endscreen_psd.vtex");
@define bp_shield_icon_endscreen: url("s2r://panorama/images/compendium/international2019/shield_icon_end_screen_psd.vtex");
@define bp_tip_button_points: url("s2r://panorama/images/compendium/international2019/tip_button_points_psd.vtex");
@define bp_tip_button_points_hover: url("s2r://panorama/images/compendium/international2019/tip_button_points_hover_psd.vtex");
@define bp_total_tokens: url("s2r://panorama/images/compendium/international2019/totaltokens_psd.vtex");
@define bp_total_points: url("s2r://panorama/images/compendium/international2019/totalpoints_psd.vtex");

@define bp_cavern_crawl_logo: url("s2r://panorama/images/cavern/icon_logo_ti2019_png.vtex");
@define bp_cavern_crawl_challenge: url("s2r://panorama/images/cavern/icon_challenge_available_ti2019_png.vtex");
@define bp_cavern_crawl_challenge_wounded: url("s2r://panorama/images/cavern/icon_challenge_wounded_ti2019_png.vtex");
@define bp_cavern_crawl_post_game: url("s2r://panorama/images/compendium/international2019/cavern_icon_png.vtex");

@define bp_quest_rank_empty: url("s2r://panorama/images/status_icons/3star_empty_psd.vtex");
@define bp_quest_rank_1: url("s2r://panorama/images/status_icons/3star_1_psd.vtex");
@define bp_quest_rank_2: url("s2r://panorama/images/status_icons/3star_2_psd.vtex");
@define bp_quest_rank_3: url("s2r://panorama/images/status_icons/3star_3_psd.vtex");

@define bp_quest_tabletop: url("s2r://panorama/images/compendium/international2019/tabletop_psd.vtex");
@define bp_quest_scroll_left_texture: url("s2r://panorama/images/compendium/international2019/scroll_left_texture_psd.vtex");
@define bp_quest_scroll_texture: url("s2r://panorama/images/compendium/international2019/scroll_texture_psd.vtex");

@define bp_profile_tooltip_max: url("s2r://panorama/images/compendium/international2019/profiletooltip_max_psd.vtex");
@define bp_platinum_backer: url("s2r://panorama/images/compendium/international2019/platinum_backer_psd.vtex");

@define bp_avatar_border_default: url("s2r://panorama/images/compendium/international2019/avatarborder_default_psd.vtex");
@define bp_avatar_border_max: url("s2r://panorama/images/compendium/international2019/avatarborder_max_psd.vtex");

/* Battle Point Log */
@define bp_point_log_tip_received: url("s2r://panorama/images/compendium/international2019/logicon_gottip_psd.vtex");
@define bp_point_log_tip_given: url("s2r://panorama/images/compendium/international2019/logicon_gavetip_psd.vtex");
@define bp_point_log_pass_activated: url("s2r://panorama/images/compendium/international2019/logicon_activate_psd.vtex");
@define bp_point_log_wager_won: url("s2r://panorama/images/compendium/international2019/logicon_wonwager_psd.vtex");
@define bp_point_log_prediction_correct: url("s2r://panorama/images/compendium/international2019/logicon_prediction_psd.vtex");
@define bp_point_log_recycled_item: url("s2r://panorama/images/compendium/international2019/logicon_recycle_psd.vtex");
@define bp_point_log_achievement: url("s2r://panorama/images/compendium/international2019/logicon_achievement_psd.vtex");
@define bp_point_log_wheel_reward: url("s2r://panorama/images/compendium/international2019/logicon_spinwheel_psd.vtex");
@define bp_point_log_community_goal: url("s2r://panorama/images/compendium/international2019/logicon_community_goal_psd.vtex");
@define bp_point_log_quest_complete: url("s2r://panorama/images/compendium/international2019/logicon_questcomplete_psd.vtex");
@define bp_point_log_points_consumed: url("s2r://panorama/images/compendium/international2019/totalpoints_psd.vtex");
@define bp_point_log_won_battlecup: url("s2r://panorama/images/weekend_tourney/battlecup_icon_psd.vtex");
@define bp_point_log_prediction_tokens: url("s2r://panorama/images/compendium/international2019/prediction_tokens_psd.vtex");
@define bp_point_log_event_game: url("s2r://panorama/images/hud/reborn/morokai_icon_psd.vtex");
@define bp_point_log_shovel: url("s2r://panorama/images/compendium/international2019/shovel_icon_psd.vtex");

/* Rewards List Styling */
@define bp_rewardsList_LevelContainer_background_color: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( #000000FF ) );

@define bp_rewardsList_LevelContainer_StatSub_silverTier_Label_color: ultraDarkColor;
@define bp_rewardsList_pointLog_silverTier_Label_color: #e9faff;
@define bp_rewardsList_LevelContainer_LevelLabel_PrizePoolNumber_silverTier_color: defaultColor;
@define bp_rewardsList_LevelContainer_LevelLabel_PrizePoolNumber_silverTier_text_shadow: 1px 1px 6px 5 #000000;
@define bp_rewardsList_LevelContainer_LevelCircle_silverTier_Label_color: defaultColor;
@define bp_rewardsList_LevelContainer_LevelCircle_Label_silverTier_wash_color: accentColorBright;

@define bp_rewardsList_LevelContainer_StatSub_goldTier_Label_color: #A5744A;
@define bp_rewardsList_pointLog_goldTier_Label_color: #FFFFE9;
@define bp_rewardsList_LevelContainer_LevelCircle_Label_goldTier_wash_color: #F9BE2D;

@define bp_rewardsList_LevelContainer_StatSub_platinumTier_Label_color: secondaryBrightColor;
@define bp_rewardsList_pointLog_platinumTier_Label_color: #e9faff;
@define bp_rewardsList_LevelContainer_LevelCircle_Label_platinumTier_wash_color: shadeColor;

@define bp_LevelCircle_wash_color: accentColor;

@define bp_levelup_popup_background: url("s2r://panorama/images/compendium/international2019/battlepass_levelup_popup_background_psd.vtex");
@define bp_battlepoint_popup_header: url("s2r://panorama/images/compendium/international2019/battlepointlog_header_psd.vtex");
@define bp_battlepoint_purchase_header: url("s2r://panorama/images/compendium/international2019/battepointlog_purchase_header_psd.vtex");

@define chatWheelCategoryIcon: url("s2r://panorama/images/badges/international_2019_battle_pass_badge_1_png.vtex");


/* Generic text color */
.bp_text_accent_color
{
    color: accentColor;
}

/* Endscreen Tipping popup icons */
.bp_tip_button_points
{
	background-image: bp_tip_button_points;
	background-size: cover;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}

.bp_tip_button_points_hover
{
	background-image: bp_tip_button_points_hover;
	background-size: cover;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}

.bp_single_point
{
	background-image: bp_single_point;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.bp_single_point_selected
{
	background-image: bp_single_point_selected;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.bp_activequestring_small
{
	background-image: bp_activequestring_small;
	background-size: cover;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.bp_activequestring_endscreen
{
	background-image: bp_activequestring_endscreen;
	background-size: cover;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.bp_shield_icon_endscreen
{
	background-image: bp_shield_icon_endscreen;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

/* Seen in the help on the bracket prediction page */
@define bp_bracket_help_header_image: url("s2r://panorama/images/compendium/international2019/bracket_info_header_psd.vtex");
@define bp_bracket_help_footer_image: url("s2r://panorama/images/compendium/international2019/bracket_info_footer_psd.vtex");

.bp_bracket_help_header_image
{
	background-image: bp_bracket_help_header_image;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.bp_bracket_help_footer_image
{
	background-image: bp_bracket_help_footer_image;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}


/* transition between pages color wash*/
.BattlePassPage
{
	width: 100%;
	height: 100%;
	flow-children: none;
	wash-color: darkColor;

}

/* -- Battle Pass Default Button -------------------------------------------- */

/*.BattlePassButton*/
/*{*/
	/*background-color: darkColor;*/
	/*border: 1px solid defaultColor;*/

	/*transition-property: brightness;*/
	/*transition-duration: 0.2s;*/
	/*transition-timing-function: linear;*/
/*}*/

/*.BattlePassButton:enabled:hover*/
/*{*/
	/*brightness: 3;*/
/*}*/

/*.BattlePassButton:hover Label*/
/*{*/
	/*color: white;*/
/*}*/

/*.BattlePassButton:active*/
/*{*/
	/*border: 1px solid ultraDarkColor;*/

	/*sound: "ui_generic_button_click";*/
/*}*/

/*.BattlePassButton Label*/
/*{*/
	/*margin-top: 2px;*/
	/*text-transform: uppercase;*/

	/*horizontal-align: center;*/
	/*font-weight: thin;*/
	/*font-size: 13px;*/
	/*letter-spacing: 2px;*/
	/*text-align: center;*/
	/*vertical-align: middle;*/
	/*text-shadow: 0px 0px 6px 1.0 #000000;*/
	/*padding: 8px 12px 6px 12px;*/

	/*color: #ffffffdd;*/

	/*transition-property: color;*/
	/*transition-duration: 0.1s;*/
	/*transition-timing-function: linear;*/
/*}*/

/*.BattlePassButton:active Label*/
/*{*/
	/*transform: translateY(1px);*/
/*}*/

/*.BattlePassButton:disabled*/
/*{*/
	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #191e1e ), to( #292e2e ) );*/
	/*border: 1px solid #111111;*/
/*}*/

/*.BattlePassButton:disabled Label*/
/*{*/
	/*color: #5d676933;*/
/*}*/

/* -- Battle Pass Bright Button -------------------------------------------- */

.BattlePassBrightButton
{
	background-color: defaultColor;
	padding: 7px 18px 7px 18px;

	border-top: 1px solid ultraBrightColor;
	border-bottom: 1px solid #00000055;
	border-right: 1px solid #00000088;

	transition-property: brightness;
	transition-duration: .2s;
}

.BattlePassBrightButton Label
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	text-align: center;
	horizontal-align: center;

	color: white;
	font-weight: bold;
}

.BattlePassBrightButton:disabled
{
	saturation: 0.0;
	wash-color: #000c;
}

.BattlePassBrightButton:hover:enabled
{
	brightness: 2.0;
}

.BattlePassBrightButton:active
{
	brightness: 1.5;
}

/* -- Battle Pass Stroke Button -------------------------------------------- */

.BattlePassButton
{
	padding: 7px 10px 7px 10px;
	border: 2px solid accentColor;
	background-color: transparent;

	transition-property: border, background-color;
	transition-duration: .2s;
}

.BattlePassButton Label
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	text-align: center;
	horizontal-align: center;

	color: white;
	font-weight: bold;
}

.BattlePassButton:disabled
{
	saturation: 0.0;
	wash-color: #000c;
}

.BattlePassButton:hover:enabled
{
	/*border: 2px solid hsv-transform( accentColor, 0, 1, 2.0 );*/
	background-color: accentColor;
}

.BattlePassButton:active
{
	border: 2px solid hsv-transform( shadeColor, 0, 1, 1.5 );
	background-color: shadeColor;
}

/* -- Battle Pass Dark Link -------------------------------------------- */

.BattlePassLargeBrightButton
{
	background-color: accentColor;
	padding: 5px 10px 2px 10px;

	border-top: 1px solid accentColor;
	border-bottom: 1px solid #00000055;
	border-left: 1px solid accentColor;
	border-right: 1px solid #00000088;

	transition-property: brightness;
	transition-duration: .2s;
    
    background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDefaultColor ), to( defaultColor ) );
}

.BattlePassLargeBrightButton Label
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 21px;
	text-align: center;
	horizontal-align: center;
    
    color: white;
    font-weight: normal;
	text-shadow: 0px 2px 2px black;
	padding: 8px 0px;
	text-align: center;
}

.BattlePassLargeBrightButton:hover:enabled
{
	brightness: 1.5;
}

.BattlePassLargeBrightButton:active
{
	brightness: 1.25;
}

/* -- Battle Pass Dark Link -------------------------------------------- */

.BattlePassDarkLink > Label
{
	color: textAccentColorBright;

	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
	text-align: center;

	transition-property: color;
	transition-duration: .2s;
}

.BattlePassDarkLink:hover > Label
{
	color: accentColor;
}

/* -- Battle Pass Cell -------------------------------------------- */

.BattlePassCell
{
	/*border: BRD;*/
	background-color: secondaryGradient;
	box-shadow: 0px 0px 10px #000000;
}

.BattlePassCellContents
{
	margin: 12px;
}

.BattlePassCellTitle
{
	/*height: 30px;*/
	/*background-color: darkColor;*/
	text-align: center;
	color: accentColor;
	font-size: 12px;
	padding: 10px 12px;
	font-weight: bold;
	letter-spacing: 2.25px;
	text-transform: uppercase;
	z-index: 2;
	text-overflow: shrink;

	transition-property: border, background-color, color;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

/* --- Battle Pass Secondary Tab Button ----------------------------- */

.textAccentColorBright Label
{
	color: textAccentColorBright;
	vertical-align: middle;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0px;
	letter-spacing: 3px;
}

/* --- Battle Pass Secondary Tab Button ----------------------------- */

.BattlePassQuestLineDropDown
{
	width: 24px;
	height: 24px;
	transform: rotateZ( 0deg ) translateY(0px);
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
	wash-color: defaultColor&dd;

	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 2px;
	transition-property: transform;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}

.WagerValue
{
	font-size: 42px;
	color: textSecondaryUltraBrightColor;
}

.PointTotalIcon, .WagerTotalIcon
{
	width: 30px;
	height: 36px;
	background-image: url("s2r://panorama/images/compendium/international2019/totaltokens_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 12px;
	margin-top: 6px;
}

.PointTotalIcon
{
	background-image: url("s2r://panorama/images/compendium/international2019/totalpoints_psd.vtex");
}

.DetailsQuad
{
	width: 327px;
	height: 336px;
	background-color: #243244;
	border: 1px solid darkColor;
	margin: 8px;
	margin-bottom: 8px;
	background-color: secondaryGradient;
}

.DetailsQuad .InfoIcon
{
	vertical-align: bottom;
	horizontal-align: left;
	margin: 16px;
	wash-color: textAccentColor;
	opacity: .4;

	transition-property: opacity;
	transition-timing-function: ease-in;
	transition-duration: 0.2s;
}

.DetailsText
{
	vertical-align: bottom;
	color: textAccentColorBright;

	text-shadow: 0px 1px 2px 3.0 #000000;
	opacity: 0;
	background-color: #000000aa;
	width: 100%;
	padding-top: 84px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor&00 ), color-stop( 0.5, darkColor&dd), to( darkColor&dd) );

	transition-property: opacity;
	transition-timing-function: ease-in;
	transition-duration: 0.2s;
}

.DetailsTitle
{
	vertical-align: top;
	text-transform: uppercase;
	font-size: 24px;
	horizontal-align: center;
	letter-spacing: 1px;
	color: textAccentColorBright;
	margin-top: 16px;

	transition-property: color;
	transition-timing-function: ease-in;
	transition-duration: 0.2s;

}

.DetailsQuad:hover .DetailsTitle
{
	color: white;
}

.DetailsQuad:hover .DetailsText
{
	opacity: 1;
}

.DetailsQuad:hover .InfoIcon
{
	opacity: 0;
}

.DetailsNext
{
	width: 72px;
	height: 87px;
	horizontal-align: center;
	margin-top: 64px;
	background-image: url("s2r://panorama/images/compendium/international2019/wagerdesc_next_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	hue-rotation: 00deg;
}


#BPLeaderBoard .LeaderListRow
{
	margin-left: 4px;
	background-color: transparent;
	margin-bottom: 0px;
	padding: 0px 15px 0px 5px;
	border-bottom: 1px solid shadeColor;
}

.LeaderListRow
{
	margin-top: 2px;
	margin-bottom: 2px;
	padding-right: 6px;

	background-color: #151515;
}

.LeaderListRow.IsCurrentUser
{
	background-color: darkColor&55;
}

.LeaderListRow.IsCurrentUser Label
{
	color: white;
}

.LeaderListRow:hover Label
{
	brightness: 2;
}

.LeaderListRow.IsCurrentUser:hover Label
{
	color: white;
}

#LeaderList
{
	padding-right: 16px;
	overflow: clip scroll;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_psd.vtex") 1.0;
	padding-top: 4px;
	width: 100%;
}

.LeaderListAvatar
{
	width: 24px;
	height: 24px;
	background-color: #333333;
	border: 1px solid black;
	vertical-align: middle;
	margin-left: 2px;
}

.LeaderListName
{
	margin-left: 32px;
	width: 220px;
	height: 24px;
    padding-top: 2px;
}

#FriendsLeaderboardPanel .LeaderListName
{
    margin-left: 32px;
    width: 220px;
    height: 24px;
    padding-top: 2px;

}
.LeaderListName Label
{
    color: white;
}
.LeaderListTier
{
    height: 24px;
    width: 24px;
    text-align: center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #925b1f ), to( #a27e37 ) );
    color: white;
    padding-top: 2px;
}
.LeaderListName .PersonaName
{
	color: textAccentColorBright;
}

.IsCurrentUser .LeaderListName .PersonaName
{
	color: white;
}

.LeaderListName:hover
{
	brightness: 2;
}

.LeaderListValue,
.LeaderListValueString
{
	color: #666262;
	horizontal-align: right;
	text-align: right;
    padding-top: 2px;
	margin-right: 10px;
}

.UseStringValue .LeaderListValue,
.LeaderListValueString
{
	visibility: collapse;
}

.UseStringValue .LeaderListValueString
{
	visibility: visible;
}


.BattlePassPage VerticalScrollBar
{
	background-color: ultraDarkColor;
	width: 6px;
}

.BattlePassPage VerticalScrollBar .ScrollThumb,
.BattlePassPage VerticalScrollBar:active .ScrollThumb,
.BattlePassPage VerticalScrollBar:hover .ScrollThumb
{
	background-color: darkColor;
	border: 1px solid #ffffff02;
}

.XPCircle
{
	margin-left: 10px;
	width: 48px;
	height: 48px;
    border-radius: 50%;
	horizontal-align: left;
	flow-children: down;
	margin-right: 16px;
	margin-top: 16px;
	padding-left: 0px;

    background-color: defaultGradient;
    border: 1px solid defaultColor;

	box-shadow: 0px 0px 4px 4px #00000066;

	transition-property: brightness, pre-transform-scale2d;
	transition-duration: .25s;
}

#RequiredHero.XPCircle
{
	border: 1px solid darkColor;
	visibility: visible;
}

#RequiredHero.HideRequiredHero
{
	visibility: collapse;
}


#RequiredHeroIcon
{
	vertical-align: center;
	horizontal-align: center;
}

.XPCircle #QuestXP
{
	margin: 0px;
	margin-top: 6px;
	margin-left: 3px;
	font-size: 18px;
	text-overflow: shrink;
	color: white;
	horizontal-align: center;
	vertical-align: middle;
}



#PTS
{
    background-image: url("s2r://panorama/images/compendium/international2019/totalpoints_psd.vtex");
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: -2px;
    horizontal-align: center;
}

.PointsEarned #PTS
{
    background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	wash-color: #C59D79;
}

.PointsIcon
{
    background-image: url("s2r://panorama/images/compendium/international2019/totalpoints_psd.vtex");
    background-size: cover;
    width: 16px;
    height: 16px;
	margin-top: -2px;
	margin-right: 5px;
    horizontal-align: center;
	vertical-align: center;
	//opacity: .45;
	opacity: 1;
}

.BattlePassButton:disabled .PointsIcon
{
	saturation: 0;
	brightness: 0.5;
}

#TitleBackground
{
	width: 100%;
	background-image: url("s2r://panorama/images/compendium/international2019/battlepointlog_header_psd.vtex");
	background-size: 100%;
    border-top: 1px solid #b3ff9f09;
	flow-children: none;
}


.bp_total_tokens
{
	width: 30px;
	height: 36px;
	background-image: bp_total_tokens;
	background-repeat: no-repeat;
	background-size: cover;
}

.bp_total_points
{
	width: 30px;
	height: 36px;
	background-image: bp_total_points;
	background-repeat: no-repeat;
	background-size: cover;
}

.CompendiumBody
{
	width: 100%;
	height: 820px;
	margin-top: 160px;
	background-color: #00000000;

	/* background-color: gradient( linear, 0% 0%, 0% 100%, from( #060A1350 ), to( #16203450 ) ); */

	border-top: 1px solid shadeColor&66;
	border-bottom: 1px solid darkColor&00;
}

#CampaignVignette
{
	width: 100%;
	height: 800px;
	z-index: -3;
}

@define battlecup_current_season_icon: url("s2r://panorama/images/icon_trophy_battle_cup_summer_psd.vtex");
@define battlecup_current_season_champions_icon: url("s2r://panorama/images/icon_trophy_champions_cup_psd.vtex");
@define battlecup_current_season_champions_animation_icon: url("s2r://panorama/images/icon_trophy_champions_cup_animation_png.vtex");

.WagerToken
{
	width: 58px;
	height: 58px;

	border-radius: 50%;
	wash-color: bp_wagerTokenColor;
	background-image: url("s2r://panorama/images/control_icons/wagertoken_psd.vtex");

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.TeamWagerToken
{
	width: 58px;
	height: 58px;

	border-radius: 50%;
	wash-color: #D69600;
	background-image: url("s2r://panorama/images/control_icons/wagertoken_psd.vtex");

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.TeamWagerTokenContainer
{
	vertical-align: bottom;
	horizontal-align: center;

	margin-right: 64px;
	margin-bottom: 20px;

	flow-children: down;
}

.TeamWagerTokenLabel
{
	color: white;

	horizontal-align: center;
	vertical-align: center;

	text-align: center;
	width: 58px;

	margin-top: 3px;
}

.TeamWagerTokenCount
{
	vertical-align: center;
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 20px;
	font-size: 24px;
}
#BackgroundGradient
{
    width: 100%;
    height: 100px;
    vertical-align:bottom;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.7, #0000003f  ), color-stop( 0.75, #0000003f  ), to( #000000ff ) );	
//    background-color: black;
}

