.CompendiumBody
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000dd ), to( #000000aa ) );
}

#MainContents
{
	padding: 16px 0px;
	width: 1440px;
	height: 100%;
	horizontal-align: center;
	flow-children: right;
}

#TicketsBackgroundArena,
#TicketsBackground
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/compendium_bg_jpg.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	horizontal-align: center;
	//background-color: black;
}

#LeftBlock
{
	horizontal-align: left;
	width: 800px;
	height: 100%;
	margin-top: 60px;
	padding-left: 30px;
}

#Header 
{
	flow-children: down;
}

.Spinner
{
	margin-top: 100px;
	margin-left: 240px;
	vertical-align: center;
	width: 80px;
	height: 80px;
	visibility: collapse;
}

.Loading .Spinner
{
	visibility: visible;
}

#Code
{
	flow-children: down;
	margin-top: 50px;
	visibility: collapse;
}

.IsEligible #Code
{
	visibility: visible;
}


#NotEligible
{
	margin-top: 60px;
}

.Loading #NotEligible
{
	visibility: collapse;
}

#NotEligible > Label
{
	font-size: 22px;
	font-weight: normal;
	color: #485677;
	line-height: 30px;
}

.TimedOut #NotEligible
{
	visibility: collapse;
}

.IsEligible #NotEligible
{
	visibility: collapse;
}

#TimedOut
{
	margin-top: 60px;
	flow-children: down;
	width: 520px;
	visibility: collapse;
}

.TimedOut #TimedOut
{
	visibility: visible;
}

#TimedOut > Label
{
	font-size: 22px;
	font-weight: normal;
	color: #fff;
	line-height: 26px;
}

#TicketRetryButton
{
	margin-top: 20px;
	width: 200px;
	/* padding: 2px 10px 2px 10px; */
}

#TicketRetryButton Label
{
	font-size: 26px;
	letter-spacing: 3px;
	/* height: 48px; */
}

#TicketRetryButton:disabled
{
	opacity: 0.5;
}

.Loading #TimedOut
{
	visibility: collapse;
}

.Loading #Code
{
	visibility: collapse;
}

#Instructions
{
	flow-children: right;
	width: 100%;
}

.Footer
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 160px;
}


.damai,
.universe
{
	width: 50%;
	flow-children: down;
}

.personal-code
{
	flow-children: down;
}

.title-xs
{
	font-size: 16px;
	font-weight: normal;
	color: #CCCCCC;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 18px;
}

.title-sm
{
	font-size: 18px;
	font-weight: normal;
	color: #CCCCCC;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 18px;
}

.title-md
{
	font-size: 21px;
	font-weight: normal;
	color: #CCCCCC;
	text-transform: uppercase;
	letter-spacing: 2px;
	/* height: 21px; */
}

.title
{
	font-weight: semi-bold;
	font-size: 72px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	height: 84px;
}

.body
{
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color: #CCCCCC;
}

#Link
{
	flow-children: right;
}

.link-text
{
	color: #9862E9;
	margin-top: 24px;
}

.arrow-icon
{
	background-image: url("s2r://panorama/images/control_icons/arrow_right_png.vtex");
	background-size: 24px 24px;
}

.code-container
{
	height: 92px;
	width: 570px;
	border: 1px solid #9862E9;
	padding: 12px 24px;
	margin-top: 12px;
	margin-bottom: 12px;
	box-shadow: inset 0px 0px 120px #D8BAFF05;
}

.ticket-code
{
	font-family: defaultFont;
	font-weight: bold;
	font-size: 54px;
	line-height: 54px;
	width: 100%;
	color: gradient( linear, 0% 100%, 0% 0%, from( #D8BAFF ), to( #fff ) );

	text-align: center;
	/* letter-spacing: 2px;
	text-transform: uppercase; */

	text-shadow: 0px 0px 12px #D8BAFF20, 0px 0px 2px #000000;
}

.clipboard
{
	color: #6b7da5;
}

.CopyToClipboardButton:hover
{
	brightness: 1.5;
}

#FaqLink
{
	flow-children: right;
	margin-top: 40px;
}

#FaqLink .body,
#FaqLink .link
{
	vertical-align: bottom;
}

.link Label
{
	color: #9862E9;
	text-decoration: underline;
}