.PredictionsBody
{
    flow-children:down;
}

.DPCStandingsContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.HasInvites .DPCStandingsContainer
{
	visibility: collapse;
}

.DPCStandingsTitleBar
{
	margin-top: 20px;
	width: 700px;
	flow-children: right;
	horizontal-align: center;
}

.DPCStandingsTitleBar Label
{
	font-size: 16px;
	text-transform: uppercase;
	text-overflow: shrink;
	text-align: center;
}

.TitleRank
{
	width: 90px;
}

.TitleTeam
{
	width: fill-parent-flow( 1.0 );
}

.TitlePoints
{
	width: 164px;
}

#DPCStandings
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 8px;
	margin-bottom: 100px;
	overflow: clip scroll;
}

.RowType1
{
	background-color: textSecondaryDarkColor;
	width: 100%;
}

.DirectInvitesContainer
{
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	visibility: collapse;
}

.HasInvites .DirectInvitesContainer
{
	visibility: visible;
}

.SubTitle
{
	color: grey;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	horizontal-align: center;
}

#InvitesCentered
{
	horizontal-align: center;
	max-width: 1300px;
	flow-children: right-wrap;
	margin-top: 20px;
}

.DPCTeamStanding
{
	flow-children: right;
	margin-bottom: 3px;
}

.Rank
{
	width: 40px;
	font-size: 14px;
	vertical-align: center;
	text-align: center;
	margin-right: 8px;
	margin-top: 1px;
}

#DPCTeamLogo
{
	width: 50px;
	height: width-percentage( 60% );
}

.DPCTeamName
{
	margin-left: 12px;
	margin-top: 3px;
	color: white;
	width: 460px;
	text-overflow: shrink;
	vertical-align: center;
//	text-transform: uppercase;
}

.Points
{
	margin-top: 3px;
	vertical-align: center;
	margin-right: 32px;
}

.InviteCutoff
{
	width: 100%;
	height: 1px;
	margin-top: 4px;
	margin-bottom: 8px;
	background-color: accentColor;
}

.Invite
{
	width: 180px;
	height: width-percentage( 60% );
	margin-right: 30px;
	margin-bottom: 30px;
	tooltip-position: bottom;
	tooltip-body-position: 50% 50%;
	border: 0px solid secondaryBrightColor;
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/invites_backer_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition-property: background-image;
	transition-duration: .2s;
}

.Invite.Revealed
{
	border: 0px;
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/invites_backer_revealed_psd.vtex");
	animation-name: revealed-slam;
	animation-duration: .3s;
}

@keyframes 'revealed-slam'
{
	from
	{
		opacity: 0; 
		pre-transform-scale2d: 6.5;
		wash-color: black;
	}

	60%
	{
		wash-color: white;
	}
	
	99%
	{
		wash-color: white;
	}
	to
	{
		opacity: 1; 
		pre-transform-scale2d: 1;
	}
}

.Invite.ComingSoon
{
    width:125px;
    height:125px;
    margin-right:45px;
    margin-bottom:30px;
	border: 0px;
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/invites_backer_coming_soon_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	animation-name: backerglow;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'backerglow'
{
	0%
	{
		box-shadow: #30567000 0px 0px 0px;
	}
	

	50%
	{
		box-shadow: #305670 0px 0px 24px;
	}
	
	100%
	{
		box-shadow: #30567000 0px 0px 0px;
	}
}

.TeamName
{
    width:100%;
    text-align:center;
    vertical-align:bottom;
    font-size:20px;
    visibility:collapse;
}

.Countdown
{
    width:100%;
    text-align:center;
    vertical-align:middle;
    font-size:24px;
	font-family: RadianceM;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 20px;
	color: textAccentColorBright;
	margin-top: 6px;
}

.Invite.ComingSoon .Countdown
{
	color: white;
	text-shadow: 0px 0px 5px 1.0 secondaryDefaultColor;
}

#TeamLogo
{
	width: 156px;
	height: width-percentage( 60% );
	margin-top: 7px;
	margin-left: 12px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .5s;
}

.Revealed #TeamLogo
{
    visibility:visible;
	opacity: 1;
}
.Revealed #TeamName
{
    visibility:visible;
}
.Revealed .Countdown
{
    visibility:collapse;
}

.Title
{
	color: white;
	font-size: 36px;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	margin-top: 30px;
	text-shadow: 0px 0px 30px textUltraBrightColor;
	letter-spacing: 3px;
}

#RegionalInvites
{
    width:100%;
    height:fit-children;
    flow-children:down;
	visibility: collapse;
}

.HasInvites #RegionalInvites
{
	visibility: visible;
}

#RegionalFrames
{
	flow-children: right;
	overflow: scroll squish;
	padding-bottom: 20px;
	margin-left: 16px;
	horizontal-align: center;
	margin-top: 22px;
}

#RegionalHeader
{
	margin-top: 10px;
}

.RegionalTeam
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: textAccentColorBright;
}


.RegionalFrame
{
    width:220px;
    margin-right:20px;
    height:300px;
    border:0px solid white;
    flow-children:down;
	background-image: url("s2r://panorama/images/compendium/international2019/compendium/invites_regional_backer_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: black 0px 0px 12px;	
}
.RegionalTitle
{
    width:100%;
    text-align:center;
    margin-top:5px;
    margin-bottom:10px;
    color:white;
    font-size:24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 8px;
}

.RegionalTeamContainer
{
    flow-children:down;
    width:100%;
	height: 100%;
    margin-top: 10px;
}
.TeamContainer
{
	horizontal-align: center;
	flow-children: right;
    height:22px;
	padding: 0px 5px;
}

.QualifierWinner .RegionalTeam
{
	font-weight: bold;
	color: textUltraBrightColor;
}

.QualifierWinner .WinnerIcon
{
	width: 18px;
	height: 18px;
	margin-left: 2px;
	margin-right: -18px;

	wash-color: #0f0;

	background-image: url("s2r://panorama/images/icon_checkdefault_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.ChampionsCupInvite .RegionalTeam,
#BattleCupChampionsLegend Label
{
	color: #e7bf70; 
}

.RegionalDirectInvite .RegionalTeam,
#DirectInviteLegend Label
{
	color: #88b0cc;
}

.OpenQualifierInvite .RegionalTeam,
#OpenQualifierLegend Label
{
	color: textAccentColorBright;
}

.ChampionsCupInvite .InviteTypeIcon,
.RegionalDirectInvite .InviteTypeIcon
{
	margin-right: 3px;
}

.ChampionsCupInvite .InviteTypeIcon,
#BattleCupChampionsLegend .LegendIcon
{
	width: 18px;
	height: 18px;

	background-image: url("s2r://panorama/images/icon_trophy_battle_cup_winter_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.RegionalDirectInvite .InviteTypeIcon,
#DirectInviteLegend .LegendIcon
{
	width: 18px;
	height: 18px;
	margin-right: 4px;

	wash-color: #88b0cc;

	background-image: url("s2r://panorama/images/status_icons/icon_star_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#RegionalLegend
{
	horizontal-align: center;
	flow-children: right;
}

.LegendEntry
{
	flow-children: right;
	margin: 0px 20px;
}

.LegendEquals
{
	margin: 0px 2px 0px 4px;
}
