

#ZooContents
{
	padding: 10px;
	flow-children: right;
}

#ZooContents .BattlePassCell
{
	margin-right: 10px;
	flow-children: down;
}

#ZooContents .BattlePassCellContents
{
	flow-children: down;
}

#ButtonsZoo > .BattlePassCellContents > TextButton
{
	margin-bottom: 12px;
}

.ImageContainer
{
	flow-children: right;
}

.ImageContainer Label
{
	vertical-align: middle;
	margin-top: 2px;
	margin-left: 8px;
	color: #ccc;
}


.TestColorContainer
{
	flow-children: right;
	margin-bottom: 8px;
}

.TestColorContainer > Label
{
	vertical-align: middle;
	margin-right: 9px;
}

#TestColorTextEntry
{
	width: 100px;
}

#ColorDisplay
{
	flow-children: right;
}

#TestColorSwatch
{
	height: 100%;
	width: 80px;
}

#ColorPreviews
{
	flow-children: down;
}

.ColorPreview
{
	flow-children: right;
}

.ColorSwatch
{
	width: 80px;
	height: 24px;
	margin-right: 8px;
}

.ColorPreview > Label
{
	color: #ccc;
	vertical-align: middle;
	margin-top: 2px;
	font-size: 16px;
}

.ImageContainer .DetailsNext
{
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

.ImageContainer #TitleBackground
{
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

.ImageContainer #bp_quest_tabletop
{
	background-image: bp_quest_tabletop;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

.ImageContainer #bp_quest_scroll_left_texture
{
	background-image: bp_quest_scroll_left_texture;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

.ImageContainer #bp_quest_scroll_texture
{
	background-image: bp_quest_scroll_texture;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

.ImageContainer #bp_profile_tooltip_max
{
	background-image: bp_profile_tooltip_max;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

.ImageContainer #bp_platinum_backer
{
	background-image: bp_platinum_backer;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

.ImageContainer #bp_avatar_border_default
{
	background-image: bp_avatar_border_default;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-top: 0px;
}

.ImageContainer #bp_avatar_border_max
{
	background-image: bp_avatar_border_max;
	background-size: cover;
	width: 30px;
	height: 30px;
	margin-top: 0px;
}
			  
.ImageContainer #bp_point_log_tip_received
{
	background-image: bp_point_log_tip_received;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_tip_given
{
	background-image: bp_point_log_tip_given;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_pass_activated
{
	background-image: bp_point_log_pass_activated;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_wager_won
{
	background-image: bp_point_log_wager_won;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_prediction_correct
{
	background-image: bp_point_log_prediction_correct;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_recycled_item
{
	background-image: bp_point_log_recycled_item;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_achievement
{
	background-image: bp_point_log_achievement;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_wheel_reward
{
	background-image: bp_point_log_wheel_reward;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_community_goal
{
	background-image: bp_point_log_community_goal;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_quest_complete
{
	background-image: bp_point_log_quest_complete;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_points_consumed
{
	background-image: bp_point_log_points_consumed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.ImageContainer #bp_point_log_won_battlecup
{
	background-image: bp_point_log_won_battlecup;
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	wash-color: accentColor;
}

.EventCrestContainer
{
	flow-children: right;
}

.EventCrestContainer > Label
{
	vertical-align: middle;
	color: #ccc;
	margin-left: 4px;
}