@define mouseWheelScroll: 150px;
@define asyncDestroyDelay: 0.2s;
@define scrollPaddingMin: 16px; /* padding at 4x3 and taller */
@define scrollPaddingMax: 253px; /* padding at 16x9 and wider */

International2018RewardList
{
	overflow: clip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_horizontal_png.vtex");
}

/* This is used purely so that the z-ordering for RewardPath and RewardItems works the way we want. */
.RewardListContainer
{
	width: 100%;
	height: 100%;
}

#RewardItems, #RewardPath
{
	width: 100%;
	height: 100%;
}

#RewardPath
{
	transform: rotateX( 55deg ) translateY(48px) translateZ( 0px);
}

#RewardItems
{
	margin-bottom: 124px;
	transform: translateZ( 0px );
}

#RewardPath > .PathNode, #RewardItems > .ItemNode
{
	opacity: 0.0;

	transition-property: opacity, brightness;
	transition-duration: 0.2s;
}

#RewardPath > .PathNode.LevelActive, #RewardItems > .ItemNode.LevelActive
{
	opacity: 1.0;

	transition-property: transform, opacity, brightness;
	transition-duration: 0.3s, 0.2s;
}

.Dragging #RewardPath > .PathNode.LevelActive, .Dragging #RewardItems > .ItemNode.LevelActive
{
	transition-property: transform, opacity, brightness;
	transition-duration: 0.0s, 0.2s;
}

@keyframes 'HighlightLevelPulse'
{
	0%   { pre-transform-scale2d: 1.0; brightness: 1.0; }
	40%  { pre-transform-scale2d: 1.1; brightness: 2.0; }
	100% { pre-transform-scale2d: 1.0; brightness: 1.0; }
}

#RewardPath > .PathNode.LevelActive.Destroying, #RewardItems > .ItemNode.LevelActive.Destroying
{
	opacity: 0.0;
}

#RewardPath > .PathNode.HighlightLevel, #RewardItems > .ItemNode.HighlightLevel
{
	animation-name: HighlightLevelPulse;
	animation-duration: 1.0s;
	animation-delay: 0.3s;
	animation-timing-function: ease-in-out;
}

.PathNodeDefault
{
	height: 100%;
}

.PathNodeDefault .PathNodeContents
{
	vertical-align: bottom;
	margin: 0px 4px;
	padding: 4px;
	width: 100%;
	height: 100px;
	margin-bottom: 92px;
	margin-right: 4px;
	margin-left: 4px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color13 ), to( bp_color14 ) );
	border: 2px solid bp_color9;
}

.ImportantLevel.PathNodeDefault .PathNodeContents
{
	brightness: 1.7;
//	border: 2px solid white;
}

.AlreadyClaimed.ImportantLevel.PathNodeDefault .PathNodeContents
{
	brightness: 1;
}

.PathNodeDefault.Achieved:not(.AlreadyClaimed) .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color13 ), to( bp_color9 ) );
	border: 2px solid bp_color9;

	animation-name: ClaimBorderPulse;
	animation-duration: 0.64s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}



@keyframes 'ClaimBorderPulse'
{
	from
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColorSectionBG ), to( bp_color14 ) );
		border: 2px solid bp_color9;
	}
	50%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color7 ), to( bp_color9 ) );
		border: 2px solid backgroundVeryBrightColor;
	}
	to
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColorSectionBG ), to( bp_color14 ) );
		border: 2px solid bp_color9;
	}
}


.PathNodeDefault:not(.Achieved) .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&22 ), to( accentColorSectionBG&22 ) );
	border: 2px solid bp_color10&55;
}


.ImportantLevel.PathNodeDefault:not(.Achieved) .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&44 ), to( accentColorSectionBG&44 ) );
	border: 2px solid bp_color7&02;
}


.ImportantLevel.PathNodeDefault:not(.Achieved) .PathNodeContents > Label
{
	/* TI8 UPDATE! */
	color: bp_color11&cc;
}

.PathNodeDefault .PathNodeContents > Label
{
	color: black;
	font-size: 52px;
	text-overflow: shrink;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	margin-top: 12px;
	padding: 6px;
}

#LevelNumber1
{
	transform: translateY(4px);
	color: black;
	text-shadow: 0px 0px 8px 3.0 #000000;
	visibility: collapse;
}

.NoRewardType #LevelNumber2
{
	visibility: collapse;
}

.PathNodeDefault.Achieved
{
	visibility: visible;
}

.PathNodeDefault.Achieved .PathNodeContents > Label
{
	color: white;
}


.PathNodeTile
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color3&00 ), color-stop( .5, bp_color3&aa ), color-stop( .55, bp_color3&dd ), color-stop( .74, bp_color3&dd ), color-stop( .8, bp_color3&aa ), to( bp_color3&00 ) );

	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-left: 4px;
}

.Achieved .PathNodeTile
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&00 ), color-stop( .5, bp_color1&aa ), color-stop( .55, bp_color1&dd ), color-stop( .74, bp_color1&dd ), color-stop( .8, bp_color1&aa ), to( bp_color1&00 ) );
}

.PathNodePlusRequired .DotaPlusIconLarge
{
	width: 60px;
	height: 60px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	vertical-align: middle;
	horizontal-align: center;
}


.ItemNodeDefault
{
	height: 100%;
}

.ItemNodeDefault #ItemContainer
{
	flow-children: up;
	width: 100%;
	margin-bottom: 26px;
	height: 100%;

	transition-property: wash-color, saturation;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#Item150.ItemNodeDefault #ItemContainer Image
{
	border-radius: 16px;
	border: 2px solid black;
	height: 78px;
	width: 98px;
}

.ItemGlow
{
	width: 100%;
	height: 100%;
	margin-right: 6px;
	margin-left: 6px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #B9434A00 ), color-stop( .65, #B9434A66 ), color-stop( .90, #B9434A00 ), to( #B9434A00 ) );
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");
	opacity: 0;

	animation-name: GlowPulse;
	animation-duration: 1.64s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

	transition-property: opacity;
	transition-duration: 0.33s;
}




@keyframes 'GlowPulse'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color7&00 ), color-stop( .25, bp_color7&11 ), color-stop( .65, bp_color7&66 ), color-stop( .90, bp_color7&00 ), to( bp_color7&00 ) );
	}

	50%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color7&00 ), color-stop( .65, bp_color7&33 ), color-stop( .75, bp_color7&aa ), color-stop( .90, bp_color7&00 ), to( bp_color7&00 ) );
	}
	100%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color7&00 ), color-stop( .25, bp_color7&11 ), color-stop( .65, bp_color7&66 ), color-stop( .90, bp_color7&00 ), to( bp_color7&00 ) );
	}
}



.Achieved.ItemNodeDefault:not(.AlreadyClaimed) .ItemGlow
{
	opacity: 1;
}

.NoRewardType .ItemGlow
{
	opacity: 0;
}

.ItemNodeDefault:not(.Achieved) #ItemContainer
{
	//saturation: 0;
	//wash-color: #776868;
}

.ItemNodeDefault:not(.Achieved) #ItemContainer:hover
{
//	saturation: 0.5;
//	wash-color: #00000088;
}

.ItemNodeDefault #ItemContainer DOTAEconItem,
.ItemNodeDefault #ItemContainer Image
{
	horizontal-align: center;
	tooltip-body-position: 50% 50%;
	max-width: 128px;
}

#ResourceCompilerFood
{
	background-image: url("s2r://panorama/images/compendium/international2018/prestigerewards/mmr_wager_increase_png.vtex");
}

.EconItemReward > Label
{
	horizontal-align: right;
	vertical-align: bottom;

	margin-right: 11px;
	margin-bottom: 7px;

	font-size: 24px;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 0px black;

	visibility: collapse;
}

.EconItemReward.ShowQuantity > Label
{
	visibility: visible;
}

/* Chat wheel rewards need some extra space */
@define rewardChatWheelWidth: 350px;

.ChatWheelReward
{
	flow-children: down;

	width: 100%;
	margin: 0px 8px 6px 8px;
	horizontal-align: center;
	padding: 8px;


	background-color: gradient( linear, 0% 0%, 0% 100%, from( #044c2f ), to( #02713600 ) );
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
}

.ChatWheelRewardHeader
{
	flow-children: right;
}

.ChatWheelIcon
{
	width: 64px;
	height: 64px;
	margin-right: 4px;
	horizontal-align: center;
	wash-color: bp_battlePassLogoColor;

	vertical-align: middle;

	background-image: url("s2r://panorama/images/settings_chatwheel_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ChatWheelRewardTitle
{
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	color: textColoredVeryBrightColor;
}

.ChatWheelRewardContents
{
	width: 100%;
	flow-children: right;
}

#ChatWheelMessages
{
	vertical-align: middle;
	width: 100%;
	flow-children: down;
	margin-top: 4px;
}

.ChatWheelMessage
{
	flow-children: right;
	height: 25px;
}

.ChatWheelMessageIsSpray.ChatWheelMessage
{
	height: fit-children;
}


.ChatWheelMessageIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/chat_wheel_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ChatWheelMessageIsSpray .ChatWheelMessageIcon
{
	margin-top: 54px;
}

.ChatWheelMessageAll
{
	visibility: collapse;
}
.ChatWheelMessage.ChatWheelMessageSendToAll .ChatWheelMessageAll
{
	visibility: visible;
}

#ChatWheelMessageSoundButton
{
	width: 20px;
	height: 20px;

	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;

	visibility: collapse;
}

.ChatWheelMessageIsSpray #ChatWheelMessageSoundButton
{
	margin-top: 54px;
	width: 30px;
	height: 30px;
}

.ChatWheelMessage.ChatWheelMessageHasSound:not(.ChatWheelMessageIsSpray) #ChatWheelMessageSoundButton
{
	visibility: visible;
}

#ChatWheelMessageSoundButton:hover
{
	brightness: 2.0;
}
#ChatWheelMessageSoundButton:active
{
	brightness: 1.5;
}

.ChatWheelMessage > Label
{
	font-size: 18px;
	color: white;
	margin-left: 4px;
	text-shadow: 2px 2px 0px black;
}


/* Spray wheel rewards need some extra space */
@define rewardSprayWheelWidth: 250px;

.SprayWheelReward
{
	flow-children: down;

	width: 100%;
	margin: 0px 8px 6px 8px;
	horizontal-align: center;
	padding: 8px;


	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&80 ), color-stop( .80, bp_color1&dd ), color-stop( .95, bp_color1&00 ), to( bp_color1&00 ) )	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.SprayWheelRewardHeader
{
	flow-children: right;
}

.SprayWheelImage
{
	width: 128px;
	height: 128px;
	margin-right: 4px;
	horizontal-align: center;

	vertical-align: middle;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: collapse;
}

.ChatWheelMessageIsSpray .SprayWheelImage
{
	visibility: visible;
}

.SprayWheelRewardTitle
{
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	color: textColoredVeryBrightColor;
}

.SprayWheelRewardContents
{
	width: 100%;
	flow-children: right;
}

#SprayWheelImages
{
	vertical-align: middle;
	width: 100%;
	flow-children: down;
	margin-top: 4px;
}

.SprayWheelImage
{
	flow-children: right;
	margin-bottom: 4px;
}

.SprayWheelImageIcon
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/chat_wheel_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#SprayWheelImage
{
	width: 128px;
	height: 128px;
	margin-right: 8px;
}

#SprayWheelImage:hover
{
	brightness: 2.0;
}
#SprayWheelImage:active
{
	brightness: 1.5;
}


#SprayWheelImageSoundButton
{
	width: 20px;
	height: 20px;
	vertical-align: center;

	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;

	visibility: collapse;
}

.SprayWheelImage.SprayWheelImageHasSound #SprayWheelImageSoundButton
{
	visibility: visible;
}

#SprayWheelImageSoundButton:hover
{
	brightness: 2.0;
}
#SprayWheelImageSoundButton:active
{
	brightness: 1.5;
}

.SprayWheelImage > Label
{
	font-size: 18px;
	color: white;
	margin-left: 4px;
	text-shadow: 2px 2px 0px black;
}

.MysteryWheelRewardType #ItemContainer > Image
{
	height: 92px;
    width: 92px;
    margin-left: -4px;
	margin-bottom: 6px;

	pre-transform-scale2d: 0.8;
	brightness: .8;
	transform-origin: 50% 70%;

	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	animation-duration: 1.8s;
	animation-delay: 1.15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.MysteryWheelRewardType.Achieved:not(.AlreadyClaimed) #ItemContainer > Image
{
	animation-name: HeadShake;
}

.MysteryWheelRewardType.Achieved:not(.AlreadyClaimed) #ItemContainer > Image:hover
{
    border:1px solid transparent;
    brightness: 1.1;
    pre-transform-scale2d: 1;
}

@keyframes 'HeadShake'
{
	0%
	{
		transform: rotateZ( 0deg );
	}
	10%
	{
		transform: rotateZ( 10deg );
	}
	20%
	{
		transform: rotateZ( -10deg );
	}
	30%
	{
		transform: rotateZ( 5deg );
	}
	40%
	{
		transform: rotateZ( -5deg );
	}

	50%
	{
		transform: rotateZ( 0deg );
	}
	100%
	{
		transform: rotateZ( 0deg );
	}
}


@define rewardEconItemModelWidth: 220px;

.EconItemModelReward
{
	width: 100%;
	height: 100%;
	overflow: clip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.EconItemModelReward #EconItemModelPreview
{
	width: 500px;
	height: 300px;

	horizontal-align: center;
	vertical-align: middle;

	transform: translateY( -28px );

	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
.EconItemModelReward #EconItemModelPreview.EconSetLoaded
{
	opacity: 1.0;
}

.ShardsReward
{
	width: 89px;
	height: 96px;
	margin: 6px;

	tooltip-body-position: 50% 50%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ShardsReward Label
{
	vertical-align: bottom;
	horizontal-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 0px black;
}

#ClaimButton
{
	vertical-align: bottom;
	margin: 0px 4px;
	visibility: collapse;
	margin-bottom: 52px;
	height: 140px;
	width: 100%;
}

#ClaimButton Label
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	vertical-align: middle;
	margin-top: 92px;
	text-overflow: shrink;

	letter-spacing: 2px;
	color: white;
	text-shadow: 0px 0px 8px 2.0 #ff0000;
	font-weight: bold;
	animation-name: ClaimLabelGlow;
	animation-duration: 0.65s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}


@keyframes 'ClaimLabelGlow'
{
	from
	{
		color: backgroundVeryBrightColor;
		text-shadow: 0px 0px 18px 2.0 bp_color15&ff;
	}
	50%
	{
		color: white;
		text-shadow: 0px 0px 18px 2.0 bp_color15;
	}
	to
	{
		color: #8ceef5;
		text-shadow: 0px 0px 18px 2.0 bp_color15&ff;
	}
}

.Achieved:not(.AlreadyClaimed):hover
{
	brightness: 2;
}


#ClaimButton:hover
{
	brightness: 1.2;
}

.Achieved:not(.AlreadyClaimed) #ClaimButton
{
	visibility: visible;
}

#ClaimButton:active
{
	brightness: 1.0;
}

#ClaimButton:active Label
{
	animation-name: none;
	color: white;
	text-shadow: 0px 0px 18px 2.0 bp_color15;
}


.MultipleItemRewardAmount
{
    color: white;
    vertical-align: bottom;
    horizontal-align: right;
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 0px 18px 2.0 black;
}


/* --- Normal Item Widths -------------------------------------------- */

@define rewardEmptyWidth: 20px;
@define rewardDefaultWidth: 100px;

/* --- Level 1 Custom Layout ----------------------------------------------- */

@define level1Width: 720px;

#Path1.PathNode
{
	height: 100%;
}

#Path1.PathNode .PathNodeContents
{
	vertical-align: bottom;
	margin: 0px 4px;
	padding: 4px;
	width: 100%;
	height: 100px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color13 ), to( bp_color14 ) );
	border: 2px solid bp_color9;

	brightness: 1;

	margin-bottom: 92px;
	margin-right: 4px;
	margin-left: 4px;


}

.SelfEventNeedsActivate #Path1.PathNode .PathNodeContents,
.SelfEventUpsell #Path1.PathNode .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color13 ), to( bp_color9 ) );
	border: 2px solid bp_color9;
}

.SelfEventNeedsActivate #Path1.PathNode .PathNodeContents Label,
.SelfEventUpsell #Path1.PathNode .PathNodeContents Label
{
	color: white;
}

#Path1.PathNode .PathNodeContents Label
{
	vertical-align: middle;
	horizontal-align: center;
	color: white;
	font-size: 36px;
	text-shadow: 0px 0px 8px 3.0 #000000;
}

#Item1.ItemNode
{
	height: 100%;
}

#Item1.ItemNode .Level1Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&00 ), color-stop( .80, bp_color1&dd ), color-stop( .95, bp_color1&00 ), to( bp_color1&00 ) );
}

#Item1.ItemNode .Level1Contents > Label
{
	color: white;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
}

#Item1.ItemNode .Level1Contents > Image
{
	width: 89px;
	height: 96px;
	margin: 6px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}


#BigDealItem
{
	background-image: url("s2r://panorama/images/control_icons/starfilled_psd.vtex");
	background-size: contain;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	horizontal-align: center;
	margin-bottom: 82px;
	visibility: collapse;
	opacity: .5;

	wash-color: bp_color7;
}

.ImportantLevel #BigDealItem
{
	visibility: collapse;
}

.AlreadyClaimed.ImportantLevel #BigDealItem
{
	visibility: collapse;
}

/* --- Level 190 Custom Layout ----------------------------------------------- */

@define level190Width: 600px;

#CustomCreepPanels
{
	flow-children: right;
}

#CustomCreepsScene
{
	width: 100%;
	height: 100%;
}

#CustomCreepPanels
{
	width: 100%;
	height: 100%;
}

#RadiantCustomCreeps
{
	width: 50%;
	height: 100%;
}

#DireCustomCreeps
{
	horizontal-align: right;
	width: 50%;
	height: 100%;
}

/* --- Level 225 Custom Layout ----------------------------------------------- */


@define level225Width: 250px;


#TierGold
{
	horizontal-align: right; 
	background-image: url("s2r://panorama/images/badges/international_2018_battle_pass_badge_3_png.vtex");
	transform: translateY( -8px ) translateX( 16px );
}

#Path225 #TierGold
{
	pre-transform-scale2d: .8;
}

#Path225 #TierLabel
{
	horizontal-align: right;
	margin-right: 12px;
	color: #ffe56e;
}

#Path225 #LevelNumber1, #Path225 #LevelNumber2
{
	margin-right: 40px;
}

/* --- Level 255 Custom Layout ----------------------------------------------- */

@define level255Width: 300px;

#Item255.ItemNode
{
	height: 100%;
}

.Level255Contents
{
	tooltip-position: bottom;
	tooltip-body-position: 50%;

}

#Item255.ItemNode .Level255Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-bottom: 0px;
	//padding: 20px;
}

#Item255.ItemNode .Level255Contents > DOTAUIEconSetPreview:hover
{
	brightness: 2.0;
}

#Item255.ItemNode .Level255Contents > DOTAUIEconSetPreview:active
{
	brightness: 1.5;
}

#Item255.ItemNode .Level255Contents > DOTAUIEconSetPreview
{
	transform: translateY(8px);
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

	transition-property: brightness;
	transition-duration: .2s;
}

#Item255.ItemNode #BigDealItem
{
	vertical-align: top;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 200px;
	width: 100%;
	height: 100%;
}

#Path255.PathNode .PathNodeContents
{
	border-color: backgroundBrightColor;
}


#Path255 .PathNodeTile
{
	wash-color: bp_battlePassLogoColor;
}


#Path255 #QuestUnlockLabel
{
	font-size: 19px;
	vertical-align: bottom;
	padding: 6px;
	text-transform: uppercase;
	text-overflow: shrink;
	margin-bottom: 4px;
	margin-left: 8px;
	horizontal-align: center;
	text-align: center;
}

#Path255 Label
{
	color: bp_color7;
}

#Path255.PathNodeDefault.Achieved:not(.AlreadyClaimed) Label
{
	color: white;
}

#Path255.PathNodeDefault.AlreadyClaimed Label
{
	color: white;
}

/* ======Level 140===================== */

@define level140Width: 320px;

#Item140.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item140.ItemNode .Level140Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

/* ======Level 375=====================*/

@define level375Width: 520px;

#Item375.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item375.ItemNode .Level375Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

/* ======Level 375=====================*/

@define level615Width: 700px;

#Item615.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item615.ItemNode .Level615Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

/* ======Level 755=====================*/
@define level755Width: 405px;

#Item755.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item755.ItemNode .Level755Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

/* ======Level 160=====================*/

@define level160Width: 260px;

#Item160.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 0px;
}

#Item160.ItemNode .Level160Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right-wrap;
}

#Item160 #EconItem.ItemRarity_immortal.ItemSlot_terrain
{
	visibility: collapse;
}

#Item160 .EconItemReward
{
	horizontal-align: right;
	margin-right: 12px;
}

/* ======Level 392 =====================*/

@define level392Width: 1100px;

#Item392 #ItemContainer
{
	flow-children: right;
}

#Item392 #ItemContainer .ChatWheelReward
{
	width: fill-parent-flow( 1.0 );
	vertical-align: bottom;
}

/* ======Level 150=====================*/

@define level150Width: 140px;



#Item150.ItemNode .EventBonusImage
{
	width: 100%;
	height: 100%;
    vertical-align: bottom;
	margin-right: 18px;
    margin-left: 22px;
    margin-top: 110px;
    margin-bottom: 30px;
    background-image: url("s2r://panorama/images/compendium/international2018/prestigerewards/eventbonus_png.vtex");
    background-repeat: no-repeat;
    border: 2px solid black;
	
}

#Path150 #Level150Label
{
	font-size: 16px;
	vertical-align: bottom;
	padding: 0px;
	text-transform: uppercase;
	text-overflow: shrink;
	text-align: center;
	margin-bottom: 4px;
	margin-left: 0px;
	horizontal-align: left;
	
}

/* ======Level 252=====================*/

@define level252Width: 140px;



#Item252.ItemNode .EventBonusImage
{
	width: 100%;
	height: 100%;
    vertical-align: bottom;
	margin-right: 18px;
    margin-left: 22px;
    margin-top: 110px;
    margin-bottom: 30px;
    background-image: url("s2r://panorama/images/compendium/international2018/prestigerewards/eventbonus_png.vtex");
    background-repeat: no-repeat;
    border: 2px solid black;
}

#Path252 #Level252Label
{
	font-size: 16px;
	vertical-align: bottom;
	padding: 0px;
	text-transform: uppercase;
	text-overflow: shrink;
	text-align: center;
	margin-bottom: 4px;
	margin-left: 0px;
	horizontal-align: left;
}



/* ======Level 487 =====================*/
/*
@define level487Width: 320px;

#Item487.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item487.ItemNode .Level487Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}
*/
/* ======Level 555=====================*/
/*
@define level555Width: 320px;

#Item555.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item555.ItemNode .Level555Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

*/
/* ======Level 1000=====================*/

@define level1000Width: 300px;

#Item1000.ItemNode .Level1000Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-bottom: 0px;
	//padding: 20px;
}

#Aegis
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel
{
	width: 380px;
	height: 380px;

	transition-property: brightness;
	transition-duration: .2s;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel:hover
{
	brightness: 3.0;
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel:active
{
	brightness: 1.5;
}

#RegisterLvl1000
{
	vertical-align: middle;
	margin-top: 140px;
	margin-left: 10px;
	visibility: collapse;
}

#RegisterLvl1000 Label
{
	color: black;
	font-size: 24px;
	letter-spacing: -1px;
	text-decoration: underline;
	text-overflow: shrink;
}


#RegisterLvl1000:hover Label
{
	color: textColoredMediumColor;
}


.Achieved #RegisterLvl1000
{
	visibility: visible;
}

#Path1000.Achieved #LevelNumber2
{
	margin-top: -16px;
}

/* ======Level 2000=====================*/

@define level2000Width: 300px;

#Item2000.ItemNode .Level2000Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-bottom: 0px;
	//padding: 20px;
}

#Roshan
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
}

#Item2000.ItemNode .Level2000Contents > DOTAScenePanel
{
	width: 380px;
	height: 380px;

	transition-property: brightness;
	transition-duration: .2s;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#Item2000.ItemNode .Level2000Contents > DOTAScenePanel:hover
{
	brightness: 3.0;
}

#Item2000.ItemNode .Level2000Contents > DOTAScenePanel:active
{
	brightness: 1.5;
}

#RegisterLvl2000
{
	vertical-align: middle;
    horizontal-align: center;
	margin-top: 140px;
	margin-left: 10px;
	visibility: collapse;
}

#RegisterLvl2000 Label
{
	color: black;
	font-size: 24px;
	letter-spacing: -1px;
	text-decoration: underline;
	text-overflow: shrink;
}

#RegisterLvl2000:hover Label
{
	color: textColoredMediumColor;
}

.Achieved #RegisterLvl2000
{
	visibility: visible;
}

#Path2000.Achieved #LevelNumber2
{
	margin-top: -16px;
}


/* --- Level 75 Custom Layout ----------------------------------------------- */

@define level75Width: 225px;

#Path75.Achieved .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(bp_color11 ), to( bp_color14 ) );
}

#Path75.PathNode .PathNodeContents
{
	border-color: backgroundBrightColor;
}

#Item75.ItemNode .Level175Contents
{
	width: 100%;
	height: 100%;
	background-position: bottom;
    background-image: url("s2r://panorama/images/compendium/international2018/prestigerewards/ti8_meepo_announcer_psd.vtex");
    background-repeat: no-repeat;
	margin-bottom: 20px;
	background-size: contain;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

}

#Path75.PathNode  #ComingSoonLabel
{
	vertical-align: bottom;
	padding: 2px;
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-right: 45px;
	horizontal-align: left;
	text-align: center;
}

#TierSilver
{
	horizontal-align: right;
	transform: translateY( -8px ) translateX( 16px );
	pre-transform-scale2d: .8;
}


#Path75 #TierLabel
{
	horizontal-align: right;
	margin-right: 12px;
	color: #9BADA6;
}

.LevelTierBadge
{
	width: 74px;
	height: 98px;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/badges/international_2018_battle_pass_badge_2_png.vtex");
	background-size: cover;
	background-position: 60% -6px;
	background-repeat: no-repeat;
	z-index: -1;
	transform: translateY(10px) translateX(2px);
}


#TierLabel
{
	color: #9BADA6;
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	margin-top: 272px;
	text-shadow: 0px 2px 4px 3.0 #000000;
}

.PathNode.Achieved:not(.AlreadyClaimed) #TierLabel
{
	visibility:collapse;
}

#Path75 #LevelNumber2
{
	color: white;
	text-shadow: 0px 2px 4px 3.0 #000000;
}

/* --- Level 615 Custom Layout ----------------------------------------------- 

@define level615Width: 225px;

#Path615.Achieved .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(bp_color11 ), to( bp_color14 ) );
}

#Path615.PathNode .PathNodeContents
{
	border-color: backgroundBrightColor;
}

#Item615.ItemNode .Level615Contents
{
	width: 100%;
	height: 100%;
	background-position: bottom;
    background-image: url("s2r://panorama/images/compendium/international2018/prestigerewards/ti8_retro_immortals_psd.vtex");
    background-repeat: no-repeat;
	margin-bottom: 20px;
	background-size: contain;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

}

#Path615.PathNode  #ComingSoonLabel
{
	vertical-align: bottom;
	padding: 2px;
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-right: 4px;
	horizontal-align: left;
	text-align: center;
}
*/

#TierMax
{
	horizontal-align: right;
	background-image: url("s2r://panorama/images/badges/international_2018_battle_pass_badge_4_png.vtex");
	transform: translateY( 0px );
}

#Path1000 #TierGold
{
	pre-transform-scale2d: .8;
}


#Path1000 #TierLabel
{
	horizontal-align: right;
	margin-right: 12px;

	/* TI6 */
	color: #923029;

	/* TI8 */
	color: accentColor;
}

#TerrainGlobe,
#KunkkaGlobe
{
	width: 200px;
	height: 200px;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 26px;
	border-radius: 50%;
	background-color: #000b;
	border: 2px solid black;

	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

#TerrainGlobe
{
	background-color: #2A6668;
}

#TerrainGlobe:hover
{
	brightness: 2;
}

#TerrainScene,
#KunkkaShadow
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .8s;
	transition-timing-function: ease-in-out;
}

#TerrainScene.SceneLoaded,
#KunkkaShadow.SceneLoaded
{
	opacity: 1;
}



#LCComingSoon
{
	font-size: 20px;
	text-transform: uppercase;
	color: black;
	background-color: #A9372E;
	padding: 8px 12px 4px 12px;
	font-weight: bold;
	border-radius: 6px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 12px;
	box-shadow: fill #00000088 -2px -2px 4px 4px;
}

/* --- Ellipsis Custom Layout ----------------------------------------------- */

@define rewardEllipsisWidth: 350px;

.ItemNodeEllipsis
{
    height: 100%;
}

.ItemNodeEllipsis .EllipsisContents
{
    padding: 20px;
    margin-left: 4px;
	margin-top: 13px;
	width: 100%;
    height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&80 ), color-stop( .80, bp_color1&dd ), color-stop( .95, bp_color1&00 ), to( bp_color1&00 ) );
	border-top-left-radius: 16px;
}

.ItemNodeEllipsis .EllipsisTextContents
{
    vertical-align: middle;
    width: 100%;
    flow-children: down;
}

.ItemNodeEllipsis .EllipsisTextContents > Label
{
    text-align: center;
    horizontal-align: center;
}

.ItemNodeEllipsis .EllipsisTitle
{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    margin-bottom: 4px;
}

.ItemNodeEllipsis .EllipsisDescription
{
    color: #999;
}

#RewardPath .MysteryWheelRewardType .PathNodeContents
{
	background-image: url("s2r://panorama/images/compendium/international2018/spinwheel_icon_psd.vtex");
	background-size: contain;
	background-position: 50% 60%;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 100%;
	height: 96px;
	wash-color: bp_color7;

	margin-bottom: 94px;
	brightness: .2;

	animation-duration: 1.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;



}

#RewardPath .MysteryWheelRewardType.Achieved .PathNodeContents
{
	saturation: 1;
	brightness: 1.5;
	wash-color: accentColor;

}

.Vignette
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 70% 70%, from( #00000000 ), color-stop( .2,  #00000000 ), color-stop( 0.7,  #156439bb ),to( #156439bb ) );
}