
.PopupPanel
{
	width: 1100px;
    height: 640px;
	padding: 0px;
	overflow: clip;
	flow-children: none;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #333f ), to( #222f ) );
}

.Contents
{
	flow-children: down;
}

.CloseButton
{
	horizontal-align: right;
	width: 30px;
	height: 30px;
	background-size: 60%;
	background-color: #444;
	margin-top: 8px;
	margin-right: 8px;
}

.OverlayText
{
	flow-children: down;
	margin-left: 20px;
	margin-top: 20px;
}

.OverlayHeader
{
	text-transform: uppercase;
    color: gradient( linear, 0% 0%, 0% 100%, from( #ffe9c0 ), to( #9e8364 ) );
	font-size: 20px;
	text-shadow: 0px 3px 4px #000000;
}

#CachePrice
{
    color: white;
    font-size: 28px;
    vertical-align: bottom;
    margin-bottom: 60px;
    margin-left: 20px;
}

.OverlayDetails
{
	max-width: 300px;
	color: #aaa;
	text-shadow: 0px 0px 4px 2.0 black;
	font-size: 16px;
}

#SplashImage
{
	horizontal-align: center;
	width: 1100px;
	height: 640px;
	background-image: url("s2r://panorama/images/splash_ads/ti8_collectors_cache_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
}

.SplashImageShading
{
	vertical-align: bottom;
	width: 700px;
	height: 500px;
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #000f ), to( #0000 ) );
}

.SplashImageOverlay
{
	flow-children: down;
	margin-top: 100px;
}

#Contents
{
	flow-children: down;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #000e;
	padding: 16px 20px 20px 20px;
}

#Title
{
	width: 100%;
	height: 100px;
	text-align: center;
	horizontal-align: center;
	padding-top: 28px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffe9c0 ), to( #9e8364 ) );
	font-size: 40px;
	text-transform: uppercase;
	text-shadow: 0px 3px 4px #000000;
	//text-shadow: 0px 0px 30px  black;
	//margin-top: 16px;
	//background-color: #000000aa;
    letter-spacing: 2px;
}

#Message
{
	color: #ccc;
	vertical-align: bottom;
	max-width: 640px;
	font-size: 20px;
	padding: 8px;
}

#DetailsButton
{
	horizontal-align: left;
	margin-left: 20px;
	vertical-align: bottom;
	margin-bottom: 20px;
	box-shadow: black -4px -4px 8px 8px;
    width: 220px;
}
