
.PopupTI6LegionCommander
{
	width: 1107px;
	padding: 0px;
	overflow: clip;
	flow-children: none;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #333f ), to( #222f ) );
}

.Contents
{
	flow-children: down;
}

.CloseButton
{
	horizontal-align: right;
	width: 30px;
	height: 30px;
	background-size: 60%;
	background-color: #444;
	margin-top: 8px;
	margin-right: 8px;
}

.OverlayText
{
	flow-children: down;
	margin-left: 20px;
	margin-top: 20px;
}

.OverlayHeader
{
	text-transform: uppercase;
	color: #f7deb5;
	font-size: 20px;
	text-shadow: 0px 0px 4px 2.0 black;
}

.OverlayDetails
{
	max-width: 300px;
	color: #aaa;
	text-shadow: 0px 0px 4px 2.0 black;
	font-size: 16px;
}

#SplashImage
{
	horizontal-align: center;
	width: 1128px;
	height: 780px;
	background-image: url("s2r://panorama/images/splash_ads/ti6_legion_commander_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
}

.SplashImageOverlay
{
	flow-children: down;
	margin-top: 100px;
}

#Contents
{
	flow-children: down;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #000e;
	padding: 16px 20px 20px 20px;
}

#Title
{
	width: 100%;
	height: 100px;
	text-align: left;
	vertical-align: top;
	padding-top: 26px;
	color: white;
	font-size: 40px;
    letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0px 0px 12px #f7deb533;
	//text-shadow: 0px 0px 30px  black;
	margin-left: 156px;
	//margin-bottom: 6px;
	//background-color: #000000aa;
}

#Title_Support
{
	margin-left: 158px;
	padding-top: 74px;
	color: #999999;
}

#Message
{
	color: #ccc;
	vertical-align: bottom;
	max-width: 640px;
	font-size: 20px;
	padding: 8px;
}

#LevelRewardContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 90px;
	brightness: 1.5;
}

.RewardText
{
	text-transform: uppercase;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	color: #9a332c;
	font-size: 19px;
    letter-spacing: 1px;
}

#ItemName
{
	text-transform: uppercase;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-size: 19px;
    letter-spacing: 1px;
}

#SheildContainer
{
	width: 50px;
	height: 60px;
	background-image: url("s2r://panorama/images/splash_ads/level_225_badge_png.vtex");
}


#PurchaseLevelsButton, #PurchaseBattlePassButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 22px;
}

.ButtonBattlePass
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b211c ), to( #8e2b19 ) );
	border: 1px solid #bc4539;
	
	transition-property: border, brightness;
	transition-duration: 0.1s;
	transition-timing-function: linear;

	min-width: 300px;
	min-height: 45px;
}

.PointsIcon
{
    background-image: url("s2r://panorama/images/compendium/totalpoints_psd.vtex");
    background-size: cover;
    width: 26px;
    height: 26px;
	margin-top: 3px;
    horizontal-align: center;	
	opacity: .45;
	brightness: 3;
}

.BattlePassIcon
{
    background-image: url("s2r://panorama/images/compendium/spring2016/logicon_activate_psd.vtex");
    background-size: contain;
    width: 26px;
    height: 26px;
	margin-top: 4px;
	margin-right: 4px;
    horizontal-align: center;	
	vertical-align: middle;
}

.PurchaseContents
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
	margin: 0px 20px;
}

.ButtonBattlePass:enabled:hover
{
	brightness: 2;
}

.ButtonBattlePass:hover Label
{
	color: white;	
}

.ButtonBattlePass:active
{
	brightness: 3;
	border: 1px solid #501F18;
	
	sound: "ui_generic_button_click";
}

.ButtonBattlePass Label
{
	margin-top: 2px;
	text-transform: uppercase;
	color: white;
	horizontal-align: center;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 2px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0px 0px 6px 1.0 #000000;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	
	
	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.ButtonBattlePass:active Label 
{
	transform: translateY(1px);
}


#PurchaseLevelsButton, .SelfEventActive #PurchaseBattlePassButton
{
	visibility: collapse;
}
.SelfEventActive #PurchaseLevelsButton
{
	visibility: visible;
}
