
.PopupTI6ImmortalGardens
{
	width: 1107px;
	padding: 0px;
	overflow: clip;
	flow-children: none;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #333f ), to( #222f ) );
}

.Contents
{
	flow-children: down;
}

.CloseButton
{
	horizontal-align: right;
	width: 30px;
	height: 30px;
	background-size: 60%;
	background-color: #444;
	margin-top: 8px;
	margin-right: 8px;
}

.OverlayText
{
	flow-children: down;
	margin-left: 20px;
	margin-top: 20px;
}

.OverlayHeader
{
	text-transform: uppercase;
	color: #f7deb5;
	font-size: 20px;
	text-shadow: 0px 0px 4px 2.0 black;
}

.OverlayDetails
{
	max-width: 300px;
	color: #aaa;
	text-shadow: 0px 0px 4px 2.0 black;
	font-size: 16px;
}

#SplashImage
{
	horizontal-align: center;
	width: 1107px;
	//height: 701px;
	background-image: url("s2r://panorama/images/splash_ads/immortal_gardens_splash_backer_psd.vtex");
	background-repeat: no-repeat;
	background-size: cover;
}

#SplashImage.EndingReminder
{
	background-image: url("s2r://panorama/images/front_page/ti6_video_bg_psd.vtex");
}

.SplashImageOverlay
{
	flow-children: down;
	margin-top: 100px;
}

#Contents
{
	flow-children: down;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #000e;
	padding: 16px 20px 20px 20px;
}

#Title1,
#Title2,
#Title
{
	width: 100%;
	height: 100px;
	text-align: left;
	vertical-align: top;
	padding-top: 15px;
	color: white;
	font-size: 40px;
	text-transform: uppercase;
	text-shadow: 0px 0px 12px #f7deb533;
	//text-shadow: 0px 0px 30px  black;
	margin-left: 150px;
	//margin-bottom: 6px;
	//background-color: #000000aa;
}

#Title_Support
{
	margin-left: 151px;
	padding-top: 63px;
	color: #999999;
}

#Message
{
	color: #ccc;
	vertical-align: bottom;
	max-width: 640px;
	font-size: 20px;
	padding: 8px;
}

#LevelRewardContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 80px;
	brightness: 1.5;
}

.ArtPanel #LevelRewardContainer
{
	vertical-align: bottom;
	margin: 0px;
	padding-top: 18px;
	padding-bottom: 48px;	
}

.RewardText
{
	text-transform: uppercase;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	color: #9a332c;
	font-size: 19px;
}

#ItemName
{
	text-transform: uppercase;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-size: 19px;
}

.ArtPanel #ItemName
{
	margin: 0px;
	height: 24px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 16px;
	text-overflow: shrink;
	padding-left: 16px;
	padding-right: 16px;
}

#CacheTreasure #ItemName
{
	height: 48px;
	width: 300px;
	text-align: center;
}

#SheildContainer
{
	width: 50px;
	height: 60px;
	background-image: url("s2r://panorama/images/splash_ads/level_125_badge_png.vtex");
}

#LegionCommander #SheildContainer
{
	background-image: url("s2r://panorama/images/splash_ads/level_225_badge_png.vtex");
}


#PurchaseLevelsButton, #PurchaseBattlePassButton, #PurchaseCacheButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 22px;
}

#PurchaseCacheButton
{
	horizontal-align: right;
	margin-right: 64px;
}

.EndingReminder #PurchaseCacheButton,
.EndingReminder #PurchaseLevelsButton
{
	horizontal-align: left;
	margin: 0px;
	
}

.EndingReminder #PurchaseLevelsButton
{
	margin-right: 32px;
}

.ButtonBattlePass
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b211c ), to( #8e2b19 ) );
	border: 1px solid #bc4539;
	
	transition-property: border, brightness;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	overflow: noclip;

	min-width: 300px;
	min-height: 45px;
}

.PointsIcon
{
    background-image: url("s2r://panorama/images/compendium/totalpoints_psd.vtex");
    background-size: cover;
    width: 26px;
    height: 26px;
	margin-top: 3px;
    horizontal-align: center;	
	opacity: .45;
	brightness: 3;
}

.BattlePassIcon	
{
    background-image: url("s2r://panorama/images/compendium/spring2016/logicon_activate_psd.vtex");
    background-size: contain;
    width: 26px;
    height: 26px;
	margin-top: 4px;
	margin-right: 4px;
    horizontal-align: center;	
	vertical-align: middle;
}

.PurchaseContents
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
	margin: 0px 20px;
}

.ButtonBattlePass:enabled:hover
{
	brightness: 2;
}

.ButtonBattlePass:hover Label
{
	color: white;	
}

.ButtonBattlePass:active
{
	brightness: 3;
	border: 1px solid #501F18;
	
	sound: "ui_generic_button_click";
}

.ButtonBattlePass Label
{
	margin-top: 2px;
	text-transform: uppercase;
	color: white;
	horizontal-align: center;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 2px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0px 0px 6px 1.0 #000000;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	
	
	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.ButtonBattlePass:active Label 
{
	transform: translateY(1px);
}


#PurchaseLevelsButton, .SelfEventActive #PurchaseBattlePassButton
{
	visibility: collapse;
}
.SelfEventActive #PurchaseLevelsButton
{
	visibility: visible;
}

.ArtPanel
{
	border-radius: 0.1px;
	vertical-align: middle;
    background-size: contain;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
	margin-top: 12px;
	margin-bottom: 12px;
	
	horizontal-align: center;
}

#LegionCommander
{
	background-image: url("s2r://panorama/images/splash_ads/reminder_lc_psd.vtex");
	transform: translateX( -34px ) rotateY(15deg);
}

#ImmortalGardens
{
	background-image: url("s2r://panorama/images/splash_ads/reminder_gardens_psd.vtex");
	
	transform: translateZ(-200px) translateX(-334px) rotateY(15deg);
}

#CacheTreasure
{	width: 350px;
	height: 466px;
	//border: 1px solid red;
	background-image: url("s2r://panorama/images/splash_ads/reminder_cache_psd.vtex");
	
	transform: translateZ(-100px) translateX(284px) rotateY(-15deg);
}


.EndingReminder #Title1,
.EndingReminder #Title2
{
	height: fit-children;
	margin: 0px;
	text-align: center;
	padding: 0px;
	horizontal-align: center;
	letter-spacing: 6px;
}

.EndingReminder #Title1
{
	margin-top: 32px;
}

.EndingReminder #Title2
{
	font-size: 24px;
	margin-bottom: 32px;
	color: #B1876E;
	text-shadow: 0px 0px 12px #C64F3A55;
}
	

.EndingReminder #Title_Support
{
	margin: 16px;
	margin-left: 64px;
	margin-right: 64px;
	padding: 0px;
	margin-top: 0px;
}

#ArtPanelContainer
{
	width: 100%;
	overflow: noclip;
}

#PurchaseButtons
{
	margin-top: 32px;
	margin-bottom: 48px;
	horizontal-align: center;
	flow-children: right;

}

#ReminderFX
{ 
	width: 2000px;
	height: 400px;
	transform: translateY(120px) translateX(-420px) translateZ(-120px);
	hue-rotation: 250deg;
	opacity: 0px;

	saturation: 1;
	wash-color: #cc3300dd;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");
	
	transition-property: opacity ;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;	
}

#ReminderFX.SceneLoaded
{
	opacity: 1;
}
