
.PopupPanel
{
	width: 810px;
	padding: 0px;
	overflow: clip;
	flow-children: none;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #322b36 ), to( #000000EF ) );
}

.Contents
{
	flow-children: down;
	background-image: url("s2r://panorama/images/splash_ads/underhollow_splash_png.vtex");  
	background-repeat: no-repeat;
	background-size: cover;

}

.CloseButton
{
	horizontal-align: right;
	width: 30px;
	height: 30px;
	background-size: 60%;
	background-color: #444;
	margin-top: 8px;
	margin-right: 8px;
}

.OverlayText
{
	flow-children: down;
    text-align: center;
    horizontal-align: center;
}

#CenterText
{
    horizontal-align: center;
    flow-children: right;
    height: 32px;
    margin-bottom: 4px;
}

#SplashImage
{
	horizontal-align: center;
	width: 810px;
	height: 520px;
	//background-image: url("s2r://panorama/images/splash_ads/underhollow_splash_png.vtex");  
	background-repeat: no-repeat;
	background-size: cover;
	transition-property: brightness;
    transition-duration: 0.22s;
	transition-timing-function: ease-in-out;	
}

#SplashImage:hover
{
	brightness: 1.4;
}

#Contents
{
	flow-children: down;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #000e;
	padding: 16px 20px 20px 20px;
}

#TitleBox
{
    width: 100%;
}

#Title
{
	width: 100%;
	margin-top: 20px;
	text-align: center;
	vertical-align: center;
	text-shadow: 0px 0px 12px #d9bee620;
	font-size: 48px;
	font-family: defaultFont;
	text-transform: uppercase;
	font-weight: black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #000 ), to( #1b2f2d ) );
	text-shadow: 0px 0px 24px #5fa39d;
	letter-spacing: 14px;
}

#SubTitle
{
    width: 100%;
    text-align: center;
    horizontal-align: center;
    color: white;
    margin-top: 120px;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 0px 0px 12px #d9bee6;
    letter-spacing: 2px;
}

#Message
{
	color: #ccc;
	text-align: center;
	width: 680px;

	horizontal-align: center;
	font-size: 20px;
	padding: 24px;
	margin-top: 4px;
}

.Buttons
{
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 50px;
}

.Buttons > TextButton
{
	horizontal-align: center;
	vertical-align: bottom;
	box-shadow: #00000077 -4px -4px 8px 8px;
	margin: 0px 10px;
    width: 298px;
    height: 48px;
}

#PurchaseBattlePassButton,
#PlayNowButton
{
	visibility: collapse;
}

.SelfEventNotActive #PurchaseBattlePassButton,
.SelfEventActive #PlayNowButton
{
	visibility: visible;
}