
.PopupPanel
{
	width: 810px;
    height: 550px;
	padding: 0px;
	overflow: clip;
	flow-children: none;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #333f ), to( #222f ) );
}

.Contents
{
	flow-children: down;
}

.CloseButton
{
	horizontal-align: right;
	width: 30px;
	height: 30px;
	background-size: 60%;
	background-color: #444;
	margin-top: 8px;
	margin-right: 8px;
}

.OverlayText
{
	flow-children: down;
	margin-left: 20px;
	margin-top: 30px;
}


.OverlayHeader
{
	text-transform: uppercase;
    color: #EBDBFF;
	font-size: 20px;
	font-weight: semi-bold;
	letter-spacing: 1px;
	text-shadow: 0px 3px 4px #000000;
}

#CachePrice
{
    color: white;
    font-size: 28px;
    vertical-align: bottom;
    margin-bottom: 60px;
    margin-left: 20px;
    visibility: collapse;
}

.OverlayDetails
{
	max-width: 330px;
	color: #ccc;
	text-shadow: 0px 0px 4px 2.0 black;
	font-size: 16px;
}

#SplashImage
{
	horizontal-align: center;
	width: 810px;
	height: 550px;
	background-image: url("s2r://panorama/images/splash_ads/treasure3_splash_png.vtex");
	background-repeat: no-repeat;
	background-size: cover;
}

.SplashImageShading
{
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000f ), to( #0000 ) );
}

.SplashImageOverlay
{
	flow-children: down;
	margin-top: 140px;
	margin-left: 20px;
}

#Contents
{
	flow-children: down;
	margin-left: 20px;
	margin-top: 20px;
	background-color: #000e;
	padding: 16px 20px 20px 20px;
}

#SubTitle
{
	width: 100%;
	height: 100px;
	text-align: center;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 35px;
	color: #fff;
	font-size: 18px;
	font-weight: semi-bold;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #CD6BFB;
    letter-spacing: 2px;
}

#Title
{
	width: 100%;
	height: 100px;
	text-align: center;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 10px;
	font-weight: semi-bold;
	color: gradient (linear, 0% 100%, 0% 0%, from (#D8BAFF), to ( #fff) );
	font-size: 40px;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px black;
    letter-spacing: 2px;
}

#TitleArea {
	width: 100%;
	height: fit-children;
	background-color: #00000099;
	vertical-align: bottom;
	padding: 20px 0px;
}

#Desc {
	font-size: 20px;
	horizontal-align: center;
	margin-bottom: 60px;
	vertical-align: bottom;
}

#Message
{
	color: #ccc;
	vertical-align: bottom;
	max-width: 640px;
	font-size: 20px;
	padding: 8px;
}

#DetailsButton
{
	horizontal-align: center;
	margin-left: 40px;
	vertical-align: bottom;
	margin-bottom: 10px;
	box-shadow: black 0px 0px 0px 0px;
	width: 220px;
	height: 42px;
}

#Countdown
{
	width: 100%;
	vertical-align: top;
	flow-children: down;
	margin-top: 40px;
	background-color: gradient (linear, 0% 0%, 100% 0%, from (#9862E940), to (transparent) );
	padding: 8px 12px;
	padding-left: 40px;
	margin-left: -20px;
}

.time-left
{
	font-weight: semi-bold;
	font-size: 42px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px black;
	color: gradient (linear, 0% 100%, 0% 0%, from (#D8BAFF), to ( #fff) );
}

.remaining
{
	color: #86ADC6;
	font-weight: semi-bold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 2px 2px black;
	brightness: 1.4;
	margin-top: -12px;
}

#Countdown.CountdownActive .finished
{
	visibility: collapse;
}

#Countdown.CountdownAfterEnd .time-left,
#Countdown.CountdownAfterEnd .remaining
{
	visibility: collapse;
}

.finished
{
	font-weight: semi-bold;
	font-size: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px black;
	color: gradient (linear, 0% 100%, 0% 0%, from (#D8BAFF), to ( #fff) );
	margin-bottom: -4px;
}

#Countdown.CountdownActive .finished
{
	visibility: collapse;
}