@define mouseWheelScroll: 150px;
@define asyncDestroyDelay: 0.2s;
@define scrollPaddingMin: 16px; /* padding at 4x3 and taller */
@define scrollPaddingMax: 253px; /* padding at 16x9 and wider */

International2017RewardList
{
	overflow: clip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_horizontal_png.vtex");
}

/* This is used purely so that the z-ordering for RewardPath and RewardItems works the way we want. */
.RewardListContainer
{
	width: 100%;
	height: 100%;
}

#RewardItems, #RewardPath
{
	width: 100%;
	height: 100%;
}

#RewardPath
{
	transform: rotateX( 55deg ) translateY(48px) translateZ( 0px);
}

#RewardItems
{
	margin-bottom: 124px;
	transform: translateZ( 0px );
}

#RewardPath > .PathNode, #RewardItems > .ItemNode
{
	opacity: 0.0;

	transition-property: opacity, brightness;
	transition-duration: 0.2s;
}

#RewardPath > .PathNode.LevelActive, #RewardItems > .ItemNode.LevelActive
{
	opacity: 1.0;

	transition-property: transform, opacity, brightness;
	transition-duration: 0.3s, 0.2s;
}

.Dragging #RewardPath > .PathNode.LevelActive, .Dragging #RewardItems > .ItemNode.LevelActive
{
	transition-property: transform, opacity, brightness;
	transition-duration: 0.0s, 0.2s;
}

@keyframes 'HighlightLevelPulse'
{
	0%   { pre-transform-scale2d: 1.0; brightness: 1.0; }
	40%  { pre-transform-scale2d: 1.1; brightness: 2.0; }
	100% { pre-transform-scale2d: 1.0; brightness: 1.0; }
}

#RewardPath > .PathNode.LevelActive.Destroying, #RewardItems > .ItemNode.LevelActive.Destroying
{
	opacity: 0.0;
}

#RewardPath > .PathNode.HighlightLevel, #RewardItems > .ItemNode.HighlightLevel
{
	animation-name: HighlightLevelPulse;
	animation-duration: 2.0s;
	animation-delay: 0.3s;
	animation-timing-function: ease-in-out; 	
}

.PathNodeDefault
{
	height: 100%;
}

.PathNodeDefault .PathNodeContents
{
	vertical-align: bottom;
	margin: 0px 4px;
	padding: 4px;
	width: 100%;
	height: 100px;
	margin-bottom: 92px;
	margin-right: 4px;
	margin-left: 4px;
	
	/* TI6 */
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #541B1D ), to( #872A2E ) );
	//border: 2px solid #8B3E42;
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b9526 ), to( #3b5d07 ) );
	//border: 2px solid #77a73e;
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b5c7d ), to( #92c0e4 ) );
	border: 2px solid #92c0e4;
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color13 ), to( bp_color14 ) );
	border: 2px solid bp_color9;
	
}

.ImportantLevel.PathNodeDefault .PathNodeContents
{
	brightness: 1.7;
//	border: 2px solid white;
}

.AlreadyClaimed.ImportantLevel.PathNodeDefault .PathNodeContents
{
	brightness: 1;
}

.PathNodeDefault.Achieved:not(.AlreadyClaimed) .PathNodeContents
{
	/* TI6 */
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #66281F ), to( #A6352B ) );
	//border: 6px solid #BF686D;	
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #66281F ), to( #A6352B ) );
	border: 6px solid #8cc44a;	
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b5c7d ), to( #92c0e4 ) );
	border: 2px solid #92c0e4;
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color13 ), to( bp_color9 ) );
	border: 2px solid bp_color9;
	
	animation-name: ClaimBorderPulse;
	animation-duration: 0.64s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;    	
}



@keyframes 'ClaimBorderPulse'
{
	from
	{
		/* TI6 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #66281F ), to( #BF686D ) );
		border: 2px solid #BF686Dff;
		
		/* Fall 2016 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #34541b ), to( #aee56d ) );
		border: 2px solid #8cc44aff;
		
		/* Winter 2017 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #2a435b ), to( #7a9fbd ) );
		border: 2px solid #82aaca;
		
		/* TI7 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColorSectionBG ), to( bp_color14 ) );
		border: 2px solid bp_color9;
	}
	50%
	{
		/* TI6 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #66281F ), to( #A6352B ) );
		border: 2px solid #BF686D00;
		
		/* Fall 2016 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #34541b ), to( #719a40 ) );
		border: 2px solid #8cc44a00;
		
		/* Winter 2017 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #5d92c7 ), to( #9fd0f7 ) );
		border: 2px solid #b2daf9;
		
		/* TI7 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color7 ), to( bp_color9 ) );
		border: 2px solid backgroundVeryBrightColor;
	}
	to
	{
		/* TI6 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #66281F ), to( #BF686D ) );
		border: 2px solid #BF686Dff;
		
		/* Fall 2016 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #34541b ), to( #aee56d ) );
		border: 2px solid #8cc44aff;
		
		/* Winter 2017 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #2a435b ), to( #7a9fbd ) );
		border: 2px solid #82aaca;
		
		/* TI7 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColorSectionBG ), to( bp_color14 ) );
		border: 2px solid bp_color9;
	}	
}


.PathNodeDefault:not(.Achieved) .PathNodeContents
{
	/* TI6 */
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #351D1A22 ), to( #582E2A22 ) );
	//border: 2px solid #4A2C2C22;
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a351d22 ), to( #3b582a22 ) );
	border: 2px solid #41593322;
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a2d3522 ), to( #2a405822 ) );
	border: 2px solid #33455955;
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&22 ), to( accentColorSectionBG&22 ) );
	border: 2px solid bp_color10&55;
}


.ImportantLevel.PathNodeDefault:not(.Achieved) .PathNodeContents
{
	/* TI6 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #351D1A55 ), to( #582E2A55 ) );
	border: 2px solid #A7362D55;
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a351d44 ), to( #3b582a44 ) );
	border: 2px solid #8cc44a02;
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a2d3544 ), to( #2a405844 ) );
	border: 2px solid #4a86c402;
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&44 ), to( accentColorSectionBG&44 ) );
	border: 2px solid bp_color7&02;
}


.ImportantLevel.PathNodeDefault:not(.Achieved) .PathNodeContents > Label
{
	/* TI6 */
	color: #A7362D;
	
	/* Fall 2016 */
	color: #567f1fcc;
	
	/* Winter 2017 */
	color: #1f517fcc;
	
	/* TI7 UPDATE! */
	color: bp_color11&cc;
}

.PathNodeDefault .PathNodeContents > Label
{
	color: black;
	font-size: 52px;
	text-overflow: shrink;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	margin-top: 12px;
	padding: 6px;
}

#LevelNumber1
{
	transform: translateY(4px);
	color: black;
	text-shadow: 0px 0px 8px 3.0 #000000;
	visibility: collapse;
}

.NoRewardType #LevelNumber2
{
	visibility: collapse;
}

.PathNodeDefault.Achieved
{
	visibility: visible;
}


.PathNodeDefault.Achieved .PathNodeContents > Label
{
	color: white;
}

.PathNodeTile
{
	/* TI6 */
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #2A242200 ), color-stop( .5, #2A2422aa ), color-stop( .55, #2A2422dd ), color-stop( .74, #2A2422dd ), color-stop( .8, #2A2422aa ), to( #2A242200 ) );
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #282a2900 ), color-stop( .5, #282a29aa ), color-stop( .55, #282a29dd ), color-stop( .74, #282a29dd ), color-stop( .8, #282a29aa ), to( #282a2900 ) );
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #191e2300 ), color-stop( .5, #191e23aa ), color-stop( .55, #191e23dd ), color-stop( .74, #191e23dd ), color-stop( .8, #191e23aa ), to( #191e2300 ) );
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color3&00 ), color-stop( .5, bp_color3&aa ), color-stop( .55, bp_color3&dd ), color-stop( .74, bp_color3&dd ), color-stop( .8, bp_color3&aa ), to( bp_color3&00 ) );
	
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-left: 4px;
}

.Achieved .PathNodeTile
{
	/* TI6 */
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #6F383600 ), color-stop( .5, #6F3836aa ), color-stop( .55, #6F3836dd ), color-stop( .74, #6F3836dd ), color-stop( .8, #6F3836aa ), to( #6F383600 ) );	

	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #31534400 ), color-stop( .5, #334e2588 ), color-stop( .55, #334e25dd ), color-stop( .74, #334e25dd ), color-stop( .8, #334e2588 ), to( #31534400 ) );
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1d365100 ), color-stop( .5, #1d3651aa ), color-stop( .55, #1d3651dd ), color-stop( .74, #1d3651dd ), color-stop( .8, #1d3651aa ), to( #1d365100 ) );
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&00 ), color-stop( .5, bp_color1&aa ), color-stop( .55, bp_color1&dd ), color-stop( .74, bp_color1&dd ), color-stop( .8, bp_color1&aa ), to( bp_color1&00 ) );
}

.ItemNodeDefault
{
	height: 100%;
}

.ItemNodeDefault #ItemContainer
{
	flow-children: up;
	width: 100%;
	margin-bottom: 26px;
	height: 100%;
	
	transition-property: wash-color, saturation;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.ItemGlow
{
	width: 100%;
	height: 100%;
	margin-right: 6px;
	margin-left: 6px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #B9434A00 ), color-stop( .65, #B9434A66 ), color-stop( .90, #B9434A00 ), to( #B9434A00 ) );
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");	
	opacity: 0;

	animation-name: GlowPulse;
	animation-duration: 1.64s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;    
	
	transition-property: opacity;
	transition-duration: 0.33s;
}




@keyframes 'GlowPulse'
{
	0%
	{
		/* TI6 */
		//background-color: gradient( linear, 0% 0%, 0% 100%, from( #B9434A00 ), color-stop( .25, #B9434A11 ), color-stop( .65, #B9434A66 ), color-stop( .90, #B9434A00 ), to( #B9434A00 ) );
		
		/* Fall 2016 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b971e00 ), color-stop( .25, #6b971e11 ), color-stop( .65, #6b971e66 ), color-stop( .90, #6b971e00 ), to( #6b971e00 ) );
		
		/* Winter 2017 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #3d80c400 ), color-stop( .25, #3d80c411 ), color-stop( .65, #3d80c466 ), color-stop( .90, #3d80c400 ), to( #3d80c400 ) );
		
		/* TI7 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color7&00 ), color-stop( .25, bp_color7&11 ), color-stop( .65, bp_color7&66 ), color-stop( .90, bp_color7&00 ), to( bp_color7&00 ) );
	}
				
	50%
	{
		/* TI6 */
		//background-color: gradient( linear, 0% 0%, 0% 100%, from( #B9434A00 ), color-stop( .65, #B9434A33 ), color-stop( .75, #B9434Aaa ), color-stop( .90, #B9434A00 ), to( #B9434A00 ) );
		
		/* Fall 2016 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b971e00 ), color-stop( .65, #6b971e33 ), color-stop( .75, #6b971eaa ), color-stop( .90, #6b971e00 ), to( #6b971e00 ) );
		
		/* Winter 2017 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #3d80c400 ), color-stop( .65, #3d80c433 ), color-stop( .75, #3d80c4aa ), color-stop( .90, #3d80c400 ), to( #3d80c400 ) );
		
		/* TI7 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color7&00 ), color-stop( .65, bp_color7&33 ), color-stop( .75, bp_color7&aa ), color-stop( .90, bp_color7&00 ), to( bp_color7&00 ) );
	}
	100%
	{
		/* TI6 */
		//background-color: gradient( linear, 0% 0%, 0% 100%, from( #B9434A00 ), color-stop( .25, #B9434A11 ), color-stop( .65, #B9434A66 ), color-stop( .90, #B9434A00 ), to( #B9434A00 ) );
		
		/* Fall 2016 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b971e00 ), color-stop( .25, #6b971e11 ), color-stop( .65, #6b971e66 ), color-stop( .90, #6b971e00 ), to( #6b971e00 ) );
		
		/* Winter 2017 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #3d80c400 ), color-stop( .25, #3d80c411 ), color-stop( .65, #3d80c466 ), color-stop( .90, #3d80c400 ), to( #3d80c400 ) );
		
		/* TI7 */
		background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color7&00 ), color-stop( .25, bp_color7&11 ), color-stop( .65, bp_color7&66 ), color-stop( .90, bp_color7&00 ), to( bp_color7&00 ) );
	}	
}



.Achieved.ItemNodeDefault:not(.AlreadyClaimed) .ItemGlow
{
	opacity: 1;
}

.NoRewardType .ItemGlow
{
	opacity: 0;
}

.ItemNodeDefault:not(.Achieved) #ItemContainer
{
	//saturation: 0;
	//wash-color: #776868;
}

.ItemNodeDefault:not(.Achieved) #ItemContainer:hover
{
//	saturation: 0.5;
//	wash-color: #00000088;
}

.ItemNodeDefault #ItemContainer DOTAEconItem,
.ItemNodeDefault #ItemContainer Image
{
	horizontal-align: center;
	tooltip-body-position: 50% 50%;
}

#ResourceCompilerFood
{
	background-image: url("s2r://panorama/images/compendium/international2017/prestigerewards/mmr_wager_increase_png.vtex");
}

.EconItemReward > Label
{
	horizontal-align: right;
	vertical-align: bottom;

	margin-right: 11px;
	margin-bottom: 7px;

	font-size: 24px;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 0px black;

	visibility: collapse;
}

.EconItemReward.ShowQuantity > Label
{
	visibility: visible;
}

/* Chat wheel rewards need some extra space */
@define rewardChatWheelWidth: 350px;

.ChatWheelReward
{
	flow-children: down;

	width: 100%;
	margin: 0px 8px 6px 8px;
	horizontal-align: center;
	padding: 8px;


	background-color: gradient( linear, 0% 0%, 0% 100%, from( #27536F ), to( #2220 ) );
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
}

.ChatWheelRewardHeader
{
	flow-children: right;
}

.ChatWheelIcon
{
	width: 64px;
	height: 64px;
	margin-right: 4px;
	horizontal-align: center;
	wash-color: bp_battlePassLogoColor;

	vertical-align: middle;

	background-image: url("s2r://panorama/images/settings_chatwheel_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ChatWheelRewardTitle
{
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	color: textColoredVeryBrightColor;
}

.ChatWheelRewardContents
{
	width: 100%;
	flow-children: right;
}

#ChatWheelMessages
{
	vertical-align: middle;
	width: 100%;
	flow-children: down;
	margin-top: 4px;
}

.ChatWheelMessage
{
	flow-children: right;
}

.ChatWheelMessageIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/chat_wheel_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ChatWheelMessageAll
{
	visibility: collapse;
}
.ChatWheelMessage.ChatWheelMessageSendToAll .ChatWheelMessageAll
{
	visibility: visible;
}

#ChatWheelMessageSoundButton
{
	width: 20px;
	height: 20px;

	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;

	visibility: collapse;
}

.ChatWheelMessage.ChatWheelMessageHasSound #ChatWheelMessageSoundButton
{
	visibility: visible;
}

#ChatWheelMessageSoundButton:hover
{
	brightness: 2.0;
}
#ChatWheelMessageSoundButton:active
{
	brightness: 1.5;
}

.ChatWheelMessage > Label
{
	font-size: 18px;
	color: white;
	margin-left: 4px;
	text-shadow: 2px 2px 0px black;
}

.MysteryWheelRewardType #ItemContainer > Image
{
	height: 92px;
    width: 92px;
    margin-left: -4px;
	margin-bottom: 6px;

	pre-transform-scale2d: 0.8;
	brightness: .8;
	transform-origin: 50% 70%;

	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	animation-duration: 1.8s;
	animation-delay: 1.15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;    
}

.MysteryWheelRewardType.Achieved:not(.AlreadyClaimed) #ItemContainer > Image
{
	animation-name: HeadShake;
}

.MysteryWheelRewardType.Achieved:not(.AlreadyClaimed) #ItemContainer > Image:hover
{
    border:1px solid transparent;
    brightness: 1.1;
    pre-transform-scale2d: 1;
}

@keyframes 'HeadShake'
{
	0%
	{
		transform: rotateZ( 0deg );
	}
	10%
	{
		transform: rotateZ( 10deg );
	}
	20%
	{
		transform: rotateZ( -10deg );
	}
	30%
	{
		transform: rotateZ( 5deg );
	}
	40%
	{
		transform: rotateZ( -5deg );
	}
				
	50%
	{
		transform: rotateZ( 0deg );
	}
	100%
	{
		transform: rotateZ( 0deg );
	}	
}


@define rewardEconItemModelWidth: 220px;

.EconItemModelReward
{
	width: 100%;
	height: 100%;
	overflow: clip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.EconItemModelReward #EconItemModelPreview
{
	width: 500px;
	height: 300px;

	horizontal-align: center;
	vertical-align: middle;

	transform: translateY( -28px );

	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
.EconItemModelReward #EconItemModelPreview.EconSetLoaded
{
	opacity: 1.0;
}


#ClaimButton
{
	vertical-align: bottom;
	margin: 0px 4px;
	visibility: collapse;
	margin-bottom: 52px;
	height: 140px;
	width: 100%;
	
}

#ClaimButton Label
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	vertical-align: middle;
	margin-top: 92px;
	text-overflow: shrink;
	
	letter-spacing: 2px;
	color: white;
	text-shadow: 0px 0px 8px 2.0 #ff0000;	
	font-weight: bold;
	animation-name: ClaimLabelGlow;
	animation-duration: 0.65s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;    
}


@keyframes 'ClaimLabelGlow'
{
	from
	{
		/* TI6 */
		color: #BF686D;
		text-shadow: 0px 0px 18px 2.0 #ff0000ff;	
		
		/* Fall 2016 */
		color: #8adcf4;
		text-shadow: 0px 0px 18px 2.0 #7eff00ff;	
		
		/* Winter 2017 */
		color: #8adcf4;
		text-shadow: 0px 0px 18px 2.0 #61f9ffff;

		/* TI7 */
		color: backgroundVeryBrightColor;
		text-shadow: 0px 0px 18px 2.0 bp_color15&ff;			
	}
	50%
	{
		/* TI6 */
		color: white;
		text-shadow: 0px 0px 18px 2.0 #ff000033;

		/* Fall 2016 */
		color: white;
		text-shadow: 0px 0px 18px 2.0 #7eff0033;

		/* Winter 2017 */
		color: white;
		text-shadow: 0px 0px 18px 2.0 #61f9ff;	

		/* TI7 */
		color: white;
		text-shadow: 0px 0px 18px 2.0 bp_color15;			
	}
	to
	{
		/* TI6 */
		color: #BF686D;
		text-shadow: 0px 0px 18px 2.0 #ff0000ff;

		/* Fall 2016 */
		color: #adf48a;
		text-shadow: 0px 0px 18px 2.0 #7eff00ff;	

		/* Winter 2017 */
		color: #8adcf4;
		text-shadow: 0px 0px 18px 2.0 #61f9ffff;

		/* TI7 */
		color: #8ceef5;
		text-shadow: 0px 0px 18px 2.0 bp_color15&ff;		
	}	
}

.Achieved:not(.AlreadyClaimed):hover
{
	brightness: 2;
}


#ClaimButton:hover
{
	brightness: 1.2;
}

.Achieved:not(.AlreadyClaimed) #ClaimButton
{
	visibility: visible;
}

#ClaimButton:active
{
	brightness: 1.0;
}

#ClaimButton:active Label
{
	animation-name: none;
	color: white;
	
	/* TI6 */
	text-shadow: 0px 0px 18px 2.0 #ff6861;
	
	/* Fall 2016 */
	text-shadow: 0px 0px 18px 2.0 #abff61;
	
	/* Winter 2017 */
	text-shadow: 0px 0px 18px 2.0 #61f9ff;
	
	/* TI7 */
	text-shadow: 0px 0px 18px 2.0 bp_color15;
}


.MultipleItemRewardAmount
{
    color: white;
    vertical-align: bottom;
    horizontal-align: right;
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 0px 18px 2.0 black;
}


/* --- Normal Item Widths -------------------------------------------- */

@define rewardEmptyWidth: 20px;
@define rewardDefaultWidth: 100px;

/* --- Level 1 Custom Layout ----------------------------------------------- */

@define level1Width: 620px;

#Path1.PathNode
{
	height: 100%;
}

#Path1.PathNode .PathNodeContents
{
	vertical-align: bottom;
	margin: 0px 4px;
	padding: 4px;
	width: 100%;
	height: 100px;
	/* TI6 */
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #541B1D ), to( #872A2E ) );
	//border: 2px solid #8B3E42;
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b9526 ), to( #3b5d07 ) );
	border: 2px solid #77a73e;
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b5c7d ), to( #92c0e4 ) );
	border: 2px solid #92c0e4;
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color13 ), to( bp_color14 ) );
	border: 2px solid bp_color9;
	
	brightness: 1;
	
	margin-bottom: 92px;
	margin-right: 4px;
	margin-left: 4px;
	
	
}

.SelfEventNeedsActivate #Path1.PathNode .PathNodeContents,
.SelfEventUpsell #Path1.PathNode .PathNodeContents
{
	/* Fall 2016 */
	border-color: #77a73e;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b9526 ), to( #3b5d07 ) );
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b5c7d ), to( #92c0e4 ) );
	border: 2px solid #92c0e4;
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color13 ), to( bp_color9 ) );
	border: 2px solid bp_color9;
}

.SelfEventNeedsActivate #Path1.PathNode .PathNodeContents Label,
.SelfEventUpsell #Path1.PathNode .PathNodeContents Label
{
	color: white;
}

#Path1.PathNode .PathNodeContents Label
{
	vertical-align: middle;
	horizontal-align: center;
	color: white;
	font-size: 36px;
	text-shadow: 0px 0px 8px 3.0 #000000;	
}

#Item1.ItemNode
{
	height: 100%;
}

#Item1.ItemNode .Level1Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;

	/* TI6 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #B9434A00 ), color-stop( .85, #B9434A11 ), color-stop( .95, #B9434A00 ), to( #B9434A00 ) );
	
	/* Fall 2016 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #72b94300 ), color-stop( .85, #72b94315 ), color-stop( .95, #72b94300 ), to( #72b94300 ) );
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1d365100 ), color-stop( .80, #1d3651dd ), color-stop( .95, #1d365100 ), to( #1d365100 ) );
	
	/* TI7 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&00 ), color-stop( .80, bp_color1&dd ), color-stop( .95, bp_color1&00 ), to( bp_color1&00 ) );
}

#Item1.ItemNode .Level1Contents > Label
{
	color: white;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
}

.Level1Icon
{
	width: 78px;
	height: 84px;
}



#BigDealItem
{
	background-image: url("s2r://panorama/images/control_icons/starfilled_psd.vtex");	
	background-size: contain;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	horizontal-align: center;
	margin-bottom: 82px;
	visibility: collapse;
	opacity: .5;
	
	/* TI6 */
	wash-color: #A9372E;
	
	/* TI7 */
	wash-color: bp_color7;
}

.ImportantLevel #BigDealItem
{
	visibility: collapse;
}

.AlreadyClaimed.ImportantLevel #BigDealItem
{
	visibility: collapse;
}

/* --- Level 225 Custom Layout ----------------------------------------------- */

@define level225Width: 300px;

#Item225.ItemNode
{
	height: 100%;
}

.Level225Contents
{
	tooltip-position: bottom;
	tooltip-body-position: 50%;
	
}

#Item225.ItemNode .Level225Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-bottom: 0px;
	//padding: 20px;
}

#Item225.ItemNode .Level225Contents > DOTAUIEconSetPreview:hover
{
	brightness: 2.0;
}

#Item225.ItemNode .Level225Contents > DOTAUIEconSetPreview:active
{
	brightness: 1.5;
}

#Item225.ItemNode .Level225Contents > DOTAUIEconSetPreview
{
	transform: translateY(8px);
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	
	transition-property: brightness;
	transition-duration: .2s;	
}

#Item225.ItemNode #BigDealItem
{
	vertical-align: top;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 200px;
	width: 100%;
	height: 100%;
}

#Path225.PathNode .PathNodeContents
{
	/* TI6 */
	border-color: #9C3329;
	
	/* TI7 */
	border-color: backgroundBrightColor;
}


#Path225 .PathNodeTile
{
	/* TI6 */
	wash-color: red;
	
	/* TI7 */
	wash-color: bp_battlePassLogoColor;
}

#Path225 .PathNodeContents
{
}

#Path225 #QuestUnlockLabel
{
	font-size: 16px;
	vertical-align: bottom;
	padding: 0px;
	text-transform: uppercase;
	text-overflow: shrink;
	margin-bottom: 4px;
	margin-left: 6px;
	horizontal-align: left;
	color: #256076;
	text-align: left;
}

#Path225 Label
{
	/* TI6 */
	color: #A9372E;
	
	/* TI7 */
	color: bp_color7;
}

#Path225.PathNodeDefault.Achieved:not(.AlreadyClaimed) Label 

{
	color: white;
}

#Path225.PathNodeDefault.AlreadyClaimed Label 

{
	color: white;
}


/* --- Level 245 Custom Layout ----------------------------------------------- */

#Item245
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

.Level245Contents
{
	
	width: 94px;
	height: 94px;
	horizontal-align: center;
}

@define level245Width: 94px;

/* ======Level 125=====================*/

@define level125Width: 320px;

#Item125.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item125.ItemNode .Level125Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}
    
/* ======Level 375=====================*/

@define level375Width: 500px;

#Item375.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item375.ItemNode .Level375Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}
    
/* ======Level 150=====================*/

@define level150Width: 260px;

#Item150.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 0px;
}

#Item150.ItemNode .Level150Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right-wrap;
}

#Item150 #EconItem.ItemRarity_immortal.ItemSlot_terrain 
{
	visibility: collapse;
}

#Item150 .EconItemReward
{
	horizontal-align: right;
	margin-right: 12px;
}

/* ======Level 165=====================*/

@define level165Width: 140px;



#Item165.ItemNode .EventBonusImage
{
	width: 100%;
	height: 100%;
    vertical-align: bottom;
	margin-right: 18px;
    margin-left: 22px;
    margin-top: 110px;
    margin-bottom: 30px;
    background-image: url("s2r://panorama/images/compendium/international2017/prestigerewards/eventbonus_png.vtex");
    background-repeat: no-repeat;
    border: 2px solid black;
	
}

#Path165 #Level165Label
{
	font-size: 16px;
	vertical-align: bottom;
	padding: 0px;
	text-transform: uppercase;
	text-overflow: shrink;
	margin-bottom: 4px;
	margin-left: 6px;
	horizontal-align: left;
	color: #256076;
	text-align: left;
	
}

/* ======Level 487 =====================*/

@define level487Width: 320px;

#Item487.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item487.ItemNode .Level487Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}

/* ======Level 555=====================*/

@define level555Width: 320px;

#Item555.ItemNode
{
	vertical-align: bottom;
	margin-bottom: 32px;
}

#Item555.ItemNode .Level555Contents
{
	width: 100%;
	margin-right: 4px;
	margin-left: 4px;

	horizontal-align: center;
	flow-children: right-wrap;
}


/* ======Level 1000=====================*/

@define level1000Width: 300px;

#Item1000.ItemNode .Level1000Contents
{
	width: 100%;
	height: 100%;
	margin-right: 4px;
	margin-bottom: 0px;
	//padding: 20px;
}

#Aegis
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel
{
	width: 380px;
	height: 380px;
	
	transition-property: brightness;
	transition-duration: .2s;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");		
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel:hover
{
	brightness: 3.0;
}

#Item1000.ItemNode .Level1000Contents > DOTAScenePanel:active
{
	brightness: 1.5;
}

#RegisterLvl1000
{
	vertical-align: middle;
	margin-top: 140px;
	margin-left: 10px;
	visibility: collapse;
}

#RegisterLvl1000 Label
{
	color: textColoredBrightColor;	
	font-size: 24px;
	letter-spacing: -1px;
	text-decoration: underline;
}

#RegisterLvl1000:hover Label
{
	color: textColoredVeryBrightColor;	
}

.Achieved #RegisterLvl1000
{
	visibility: visible;
}

#Path1000.Achieved #LevelNumber2
{
	margin-top: -16px;
}

/* --- Level 2000 Custom Layout ----------------------------------------------- */


@define level2000Width: 20px;

#Item2000.ItemNode
{
	height: 100%;
}

#Item2000.ItemNode .Level2000Contents
{
}

#Item2000.ItemGlow
{
    visibility: collapse;
}

/* --- Level 75 Custom Layout ----------------------------------------------- */

@define level75Width: 108px;

#Path75 .PathNodeContents
{

}

#Path75.Achieved .PathNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from(bp_color11 ), to( bp_color14 ) );
	border: 2px solid #3e788b;	
}

.LevelTierBadge
{
	width: 74px;
	height: 98px;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/badges/international_2017_battle_pass_badge_2_png.vtex");
	background-size: cover;
	background-position: 60% -6px;
	background-repeat: no-repeat;
	z-index: -1;
	transform: translateY(10px) translateX(2px);
}

#TierLabel
{
	color: #9BADA6;
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	margin-top: 272px;
	text-shadow: 0px 2px 4px 3.0 #000000;
}

.PathNode.Achieved:not(.AlreadyClaimed) #TierLabel
{
	visibility:collapse;
}

#Path75 #LevelNumber2
{
	color: white;
	text-shadow: 0px 2px 4px 3.0 #000000;
}

#TierGold
{
	horizontal-align: right;
	background-image: url("s2r://panorama/images/compendium/spring2016/home_block_backgrounds/shield_gold_psd.vtex");
	transform: translateY( -8px ) translateX( 16px );
}

#Path225 #TierGold
{
	pre-transform-scale2d: .8;
}

#Path225 #TierLabel
{
	horizontal-align: right;
	margin-right: 12px;
	color: #D4AB77;
}



#TierMax
{
	horizontal-align: right;
	background-image: url("s2r://panorama/images/badges/international_2017_battle_pass_badge_4_png.vtex");
	transform: translateY( 0px );
}

#Path1000 #TierGold
{
	pre-transform-scale2d: .8;
}


#Path1000 #TierLabel
{
	horizontal-align: right;
	margin-right: 12px;
	
	/* TI6 */
	color: #923029;
	
	/* TI7 */
	color: accentColor;
}

#TerrainGlobe,
#KunkkaGlobe
{
	width: 200px;
	height: 200px;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 26px;
	border-radius: 50%;
	background-color: #000b;
	border: 2px solid black;
	
	transition-property: brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

#TerrainGlobe
{
	background-color: #2A6668;
}

#TerrainGlobe:hover
{
	brightness: 2;
}

#TerrainScene,
#KunkkaShadow
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .8s;
	transition-timing-function: ease-in-out;
}

#TerrainScene.SceneLoaded,
#KunkkaShadow.SceneLoaded
{
	opacity: 1;
}

#LCComingSoon
{
	font-size: 20px;
	text-transform: uppercase;
	color: black;
	background-color: #A9372E;
	padding: 8px 12px 4px 12px;
	font-weight: bold;
	border-radius: 6px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 12px;
	box-shadow: fill #00000088 -2px -2px 4px 4px;	
}

/* --- Ellipsis Custom Layout ----------------------------------------------- */

@define rewardEllipsisWidth: 350px;

.ItemNodeEllipsis
{
    height: 100%;
}

.ItemNodeEllipsis .EllipsisContents
{
    padding: 20px;
    margin-left: 4px;
	width: 100%;
    height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColor&00 ), color-stop( .85, accentColor&11 ), color-stop( .95, accentColor&00 ), to( accentColor&00 ) );
}

.ItemNodeEllipsis .EllipsisTextContents 
{
    vertical-align: middle;
    width: 100%;
    flow-children: down;
}

.ItemNodeEllipsis .EllipsisTextContents > Label
{
    text-align: center;
    horizontal-align: center;
}

.ItemNodeEllipsis .EllipsisTitle
{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    margin-bottom: 4px;
}

.ItemNodeEllipsis .EllipsisDescription
{
    color: #999;
}

#RewardPath .MysteryWheelRewardType .PathNodeContents
{
	background-image: url("s2r://panorama/images/compendium/international2017/spinwheel_icon_psd.vtex");
	background-size: contain;
	background-position: 50% 60%;
	background-repeat: no-repeat;	
	border-radius: 50%;
	width: 100%;
	height: 96px;
	wash-color: bp_color7;
	
	margin-bottom: 94px;
	brightness: .2;

	animation-duration: 1.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite; 

	
	
}

#RewardPath .MysteryWheelRewardType.Achieved .PathNodeContents
{
	saturation: 1;
	brightness: 1.5;
	wash-color: accentColor;
 
}