
@define backgroundVeryDimColor: #1C0803;
@define backgroundDimColor: #270705;
@define backgroundMediumColor: #6F2926;
@define backgroundBrightColor: #912c24;
@define backgroundVeryBrightColor: #ffd6a5;

@define bp_battleLevelColor: #CD5A4A;


.PredictionsBody
{
    flow-children:down;
}
#PredictionsCentered {
    width: 1392px;
    horizontal-align: center;
    margin-left: 40px;
}
#HeroPredictions,
#TeamPredictions,
#PlayerPredictions,
#MiscPredictions
{
    margin-top: 100px;
    flow-children:down;
    visibility:collapse;
}
#MiscPredictionContainer,
#TeamPredictionContainer,
#PlayerPredictionContainer,
#HeroPredictionContainer
{
    flow-children:right-wrap;
    overflow:clip scroll;
}


.HeroPredictions #HeroPredictions,
.PlayerPredictions #PlayerPredictions,
.TeamPredictions #TeamPredictions,
.MiscPredictions #MiscPredictions
{
    visibility:visible;
}
#Header
{
    margin-top:32px;
    margin-bottom:20px;
    width: 100%;
}
#HeaderNav
{
    flow-children:right;
}

.SecondaryTabButton{
    margin:0px;
    vertical-align:middle;
    wash-color:white;
    transition-property:wash-color;
    transition-duration:0.6s;
}
.SecondaryTabSeparator
{
    color:#768e8d;
    margin-left:15px;
    margin-right:15px;
    vertical-align:middle;
}
.SecondaryTabButton Label{
    color:#768e8d;
    vertical-align:middle;
    font-size:20px;
    text-transform:uppercase;
    margin:0px;
    letter-spacing:3px;
    text-align:center;
}
.RadioBox
{
    visibility:collapse;
}
.LockTime
{
    flow-children:right;
    horizontal-align: right;
    text-align: right;
    margin-right: 40px;
}
.Locked .TimeRemaining,
.Timeout
{
    visibility:collapse;
}

.Locked .Timeout,
.TimeRemaining
{
    visibility:visible;
}

.LockTimeText {
    text-transform: uppercase;
    color: backgroundBrightColor;
    letter-spacing: 2px;
    vertical-align: middle;
    margin-right: 6px;
}
.Countdown {
    color: backgroundVeryBrightColor;
    font-size: 36px;
    text-align: right;
}
.Title {
    color: white;
    font-size: 32px;
    margin-bottom: 2px;
}

#Header .PopupButton {
    background-color: backgroundDimColor;
    border: 1px solid backgroundBrightColor;

    margin: 0px 8px 0px 0px;
    min-width: 160px;
    padding: 5px 10px 5px 10px;


    transition-property: background-color, wash-color;
    transition-delay: 0.0s;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

#Header .PopupButton:selected {
    background-color: backgroundMediumColor;
}


#Header .PopupButton Label {
    font-size: 16px;
    color: bp_battleLevelColor;
    margin-top: 4px;
}

#Header .PopupButton:selected Label {
    color: white;
}

#BracketButton
{

    horizontal-align: right;
    vertical-align: top;

    padding: 6px 20px 6px 20px;
    background-color: #37597011;
    border: 1px solid #2a4557;

    margin-right: 42px;
    margin-top: 94px;

    width: 254px;
    z-index:5;

	visibility: collapse; // for now until we get the featured tournament page in
}

#BracketButtonContainer {
    flow-children:right;
    horizontal-align: center;
}

#BracketButton:hover
{
    background-color: #37597033;
}

#BracketButton:hover Label
{
    color: #ffffff;
}

#BracketButton:hover #TopRightArrowControl
{
    wash-color: none;
}

Label#BracketLabel
{
    font-size: 16px;
    color: #436488;

    margin-right: 4px;
    margin-top: 4px;
    letter-spacing: 2px;

    text-transform: uppercase;
    horizontal-align: left;
}

#TopRightArrowControl
{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    wash-color: #436488;
    horizontal-align: left;
    margin-top: 1px;
}