/*
   Styles for the base DOTA context menu.

   This handles the arrows and background for a context menu. Individual xml/css
   files provide the contents for specific types of context menus
*/

#Contents
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #303030fc ), to( #333333fc ) );
    padding: 7px 10px 10px 10px;
    border: 2px solid black;
    margin: 5px;
}


#Contents.PlayerMenuContents
{
    border-top: 4px solid #50505055; 
    border-right: 4px solid #35314755;
    border-bottom: 4px solid #2e2a4955;
    border-left: 4px solid #35363755;

    background-color: #222222ee;

		width: 1000px;
		padding: 24px 24px 24px 24px;

		vertical-align: middle;
		horizontal-align: center;


	transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

#ChatLineContextMenu #Contents.PlayerMenuContents
{
    width: 500px;
    horizontal-align: right;
    margin-right: 20px;
}

.IsLayoutSmallScreen #ChatLineContextMenu #Contents.PlayerMenuContents
{
    ui-scale: 150%;
    margin-bottom: 75px;
}

.IsLayoutSmallScreen.AspectRatio21x9 #ChatLineContextMenu #Contents.PlayerMenuContents
{
    ui-scale: 175%;
    margin-right: 100px;
    margin-bottom: 75px;
    //doesn't work - need help moving the menu around
}


.GameMode_Duos #ChatLineContextMenu #Contents.PlayerMenuContents
{
    width: 1000px;
}



.IsPlatformMobile #Contents.PlayerMenuContents
{
		padding: 6px 6px 6px 6px;	
}

#LeftArrow, #RightArrow, #TopArrow, #BottomArrow
{
    background-repeat: no-repeat;
    background-position: 0px 0px;
   	background-size: contain;

   /* The arrows sit at a higher z-index than the body of the tooltip.
      This is so that the arrow can overlap on top of the border to
      give it a more seamless look */
    z-index: 1;
    
    /* Not visible by default */
    visibility: collapse;
}

#LeftArrow, #RightArrow
{
    /* Closely matches the actual image file contents, with a slightly
       smaller width so that it overlaps the body correctly. */
    width: 24px;
    height: 24px;

    /* Include a margin at the top and bottom*/
    margin-top: 4px;
    margin-bottom: 4px;
	margin-right: 4px;
}
#LeftArrow
{
  wash-color: #666666;
	margin-right: -5px;
	visibility: collapse;
}

#ChatLineContextMenu #LeftArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_left_png.vtex");
	
	width: 24px;
	height: 24px;
	wash-color: #2b2a2c;
	margin-right: -3px;
}

.IsPlatformMobile #ChatLineContextMenu #LeftArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_left_png.vtex");
	
	width: 60px;
	height: 60px;
	wash-color: #2b2a2c;
	margin-right: -8px;
}






#RightArrow
{
    background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_right_png.vtex");
	wash-color: #252b30;
	margin-left: -2px;
}

#TopArrow, #BottomArrow
{
    width: 24px;
    height: 21px;
    margin-left: 12px;
    margin-right: 12px;
}
#TopArrow
{
    background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_top_png.vtex");
	wash-color: #252b30;
	margin-bottom: -2px;
}
#BottomArrow
{
    background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_bottom_png.vtex");
	wash-color: #252b30;
	margin-top: -2px;
}

/* The code will automatically set these styles on the tooltip body, so we just need to adjust the visibility */
#ContextMenuBody.LeftArrowVisible #LeftArrow
{
    visibility: visible;
}
#ContextMenuBody.RightArrowVisible #RightArrow
{
    visibility: visible;
}
#ContextMenuBody.TopArrowVisible #TopArrow
{
    visibility: visible;
}
#ContextMenuBody.BottomArrowVisible #BottomArrow
{
    visibility: visible;
}

.ContextMenu_NoArrow #ContextMenuBody.LeftArrowVisible #LeftArrow
{
    visibility: collapse;
}
.ContextMenu_NoArrow #ContextMenuBody.RightArrowVisible #RightArrow
{
    visibility: collapse;
}
.ContextMenu_NoArrow #ContextMenuBody.TopArrowVisible #TopArrow
{
    visibility: collapse;
}
.ContextMenu_NoArrow #ContextMenuBody.BottomArrowVisible #BottomArrow
{
    visibility: collapse;
}

/* When an arrow is visible, remove the margin from that side 
   and make sure the side is big enough that the arrow doesn't look silly */
#ContextMenuBody.LeftArrowVisible #Contents
{
    margin-left: 0px;
    min-height: 60px;
}
#ContextMenuBody.RightArrowVisible #Contents
{
    margin-right: 0px;
    min-height: 60px;
}
#ContextMenuBody.BottomArrowVisible #Contents
{
    margin-bottom: 0px;
    min-width: 60px;
}
#ContextMenuBody.TopArrowVisible #Contents
{
    margin-top: 0px;
    min-width: 60px;
}


/* Flow the contents properly */
#ContextMenuBody
{
    flow-children: down;
}
.ContextMenuBodyRow
{
    flow-children: right;
}
