
#CardPackModelTexture
{
	width: 800px;
	height: 800px;
    background-image: url("s2r://panorama/images/models/playercardpack/playercardpack_color_ti7_psd.vtex");
	background-size: contain;

}

#CardTitle
{
	font-size: 32px;
	text-transform: uppercase;
	horizontal-align: center;
}

#Background
{
	width: 640px;
	height: 122px;

	margin-top: 131px;
	margin-left: 80px;

	background-color: gradient( linear, 0% 0%, 100% 0%, from( #92794f ), color-stop( 0.07, #caa466 ), color-stop( 0.93, #caa466 ), to( #92794f ) );

	border-top: 4px solid #987c4e;
	border-bottom: 6px solid #987c4e;
}

.Premium #Title,
.Premium #PackCount
{
	color: black;
	font-weight: bold;
}

#Title
{
	text-transform: uppercase;
	text-align: center;
	width: 540px;
	horizontal-align: center;	
	margin-top: 140px;
	color: #7C7C7C;
	letter-spacing: 4px;
	font-size: 22px;
	font-weight: thin;
	text-overflow: shrink;	

}

.Language_tchinese #Title,
.Language_schinese #Title
{
	font-size: 32px;
	margin-top: 132px;
}

#PackCount
{
	text-transform: uppercase;
	horizontal-align: center;
	margin-top: 168px;
	color: #7C7C7C;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: thin;
	text-align: center;
}

.Language_tchinese #PackCount,
.Language_schinese #PackCount
{
	font-size: 22px;
	horizontal-align: right;
	margin-top: 100px;
	margin-right: 172px;
	color: #96220E;
}


#MainTitle
{
	text-transform: uppercase;
	width: 540px;
	text-align: center;
	horizontal-align: center;
	margin-top: 186px;
	color: #CCCCCC;
	letter-spacing: 10px;
	font-size: 44px;
	font-weight: thin;
	text-overflow: shrink;		
	text-shadow: 0px 2px 1px 4.0 #000000ff;
}

.Language_tchinese #MainTitle,
.Language_schinese #MainTitle
{
	font-size: 70px;
	letter-spacing: 22px;
	margin-top: 168px;
}

#FantasySub
{
	text-transform: uppercase;
	horizontal-align: center;
	width: 450px;
	text-align: center;
	margin-top: 580px;
	color: #FFFFFF;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: thin;
	text-overflow: shrink;	

	text-shadow: 0px 0px 4px 4.0 #000000;
}

.Language_tchinese #FantasySub,
.Language_schinese #FantasySub
{
	font-size: 32px;
	letter-spacing: 6px;
}

#MoreInfo
{
	vertical-align: middle;
	horizontal-align: center;
	text-transform: uppercase;
	text-align: center;
	color: #7C7C7C;
	letter-spacing: 2px;
	font-size: 11px;
	font-weight: thin;
	horizontal-align: right;
	text-overflow: shrink;	
}
			

.Language_tchinese #MoreInfo,
.Language_schinese #MoreInfo
{
	font-size: 16px;
	letter-spacing: 6px;
}

	
#Circle
{
	margin-top: 610px;
	margin-right: 154px;
	width: 122px;
	height: 122px;
	padding: 11px;
	horizontal-align: right;

}


			
		