#ContentsContainer
{
    width: 100%;
    height: 100%;
    //flow-children: down;
}

#MessageContainer
{
    vertical-align: center;
    horizontal-align: center;
    z-index: 2;
    flow-children: right;
}

#PreviousResultsPanel
{
    width: 100%;
    flow-children: down;
    vertical-align: center;
    visibility: collapse;
    height: 100%;
    padding-top: 22px;
}

#CurrentResultsPanel
{
    width: 100%;
    height: 100%;
}

.ShowingPreviousResults #CurrentResultsPanel
{
    visibility: collapse;
}

.ShowingPreviousResults #PreviousResultsPanel,
.ForceShowPreviousMatchUntilDismissed #PreviousResultsPanel
{
    visibility: visible;
}

.VotedTeamLabel
{
    margin-top: 10px;
}

#TopContainer
{
    flow-children: none;
    width: 100%;
    vertical-align: top;
    z-index: 10;
}

#RankTierContainer
{
    width: 58px;
    height: 58px;
    horizontal-align: center;
    z-index: 10;
    background-size: 100% 100%;
    //margin-top: 35px;
}

.ShowingPreviousResults #RankTierContainer,
.AwaitingData.ShowingPreviousResults #PreviousResultsPanel,
.AwaitingData #PreviousResultsPanel
{
    visibility: collapse;
}

#RankTier
{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

#RankTierContainer #BackgroundFX,
#RankTierContainer #EliteFX,
#RankTierContainer #LevelUpFX
{
    width: 100%;
    height: 100%;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}

#RightInfo 
{
    width: 200px;
    //border: 1px solid red;
    flow-children: down;
    horizontal-align: right;
    margin-top: 6px;
    margin-right: 12px;
}

.AwaitingData #RightInfo,
.ErrorLoadingData #RightInfo
{
    visibility: collapse;
}

.CurrentStreak
{
    text-align: right;
    width: 100%;
    text-transform: uppercase;
    color: #ffffffaa;
    font-size: 16px;
    font-weight: semi-bold;
    letter-spacing: 2px;
    margin-top: 5px;
    text-align: center;
}

.PrevResult
{
    text-align: right;
    //width: 100%;
    color: #ffffff50;
    font-size: 16px;
    max-width: 200px;
    text-overflow: shrink;
    font-weight: light;
    //text-decoration: underline;
    margin-top: 5px;
    border: 1px solid #ffffff10;
    horizontal-align: right;
    padding: 5px;
    transition-property: background-color, color;
    transition-duration: 0.2s;

}

.PrevResult:hover {
    background-color: #333333;
    color: white;
}

.ShowingPreviousResults .PrevResult {
    color: #ffffffaa;
}



.ShowingPreviousResults #ViewPreviousResults,
.ForceShowPreviousMatchUntilDismissed #ViewPreviousResults,
#ViewCurrentResults,
.ForceShowPreviousMatchUntilDismissed.ShowingPreviousResults #ViewCurrentResults,
.NoPreviousResult #ViewPreviousResults,
#DismissPreviousResults
{
    visibility: collapse;
}

.ShowingPreviousResults #ViewCurrentResults,
.ForceShowPreviousMatchUntilDismissed #DismissPreviousResults
{
    visibility: visible;
}

#MiddleContainer
{
    flow-children: down;
    horizontal-align: center;
    margin-top: 42px;
    width: 100%;
}

#PreviousResultsPanel.DireWinner #RadiantContainer,
#PreviousResultsPanel.RadiantWinner #DireContainer
{
    visibility: collapse;
}

.TeamNames
{
    color: #ffffffaa;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    visibility: visible;
}

.ShowingPreviousResults .TeamNames,
.ForceShowPreviousMatchUntilDismissed .TeamNames
{
    visibility: collapse;
}

#DireTitle
{
    horizontal-align: left;
    text-shadow: 0px 0px 5px 1.0 #a3424f;
    margin-left: 15px;
    margin-top: 2px;
}

#RadiantTitle
{
    text-shadow: 0px 0px 5px 1.0 #31866a;
    margin-left: 15px;
    margin-bottom: 2px;
}

#ButtonsContainer
{
    horizontal-align: center;
    flow-children: right;
    vertical-align: bottom;
    margin-bottom: 53px;
}


#GuessWhoWonLabel
{
    horizontal-align: center;
    vertical-align: bottom;
    //text-transform: uppercase;
    color: #ffffffaa;
    font-size: 17px;
    //font-weight: semi-bold;
    //letter-spacing: 2px;
    margin-bottom: 25px;
    color: #999999;
    //visibility: collapse;
}

.ShowingPreviousResults #ButtonsContainer
{
    visibility: collapse;
}

#PreviousResultVotesContainer
{
    flow-children: right;
    horizontal-align: center;
}

.VotesContainer
{
    horizontal-align: center;
    flow-children: right;
    vertical-align: bottom;
    visibility: collapse;
    margin-bottom: 33px;
    margin-top: 5px;
}

#PreviousResultsPanel .VotesContainer
{
    margin-bottom: 0px;
    visibility: visible;
    flow-children: right;
}

.ShowingPreviousResults .VotesContainer
{
    visibility: collapse;
}

.DraftTriviaTimeLeftContainer
{
    horizontal-align: left;
    //flow-children: righ;
    //margin-top: -23px;
    vertical-align: bottom;
    width: 100%;
    height: 25px;
}

.InfoIcon {
    horizontal-align: right;
    vertical-align: bottom;
}

#DraftTrivia .InfoIcon
{
    vertical-align: bottom;
    margin-bottom: 3px;
    margin-right: 3px;
    wash-color: accentColor;
    width: 18px;
    height: 18px;
    margin-left: 3px;
}

.ForceShowPreviousMatchUntilDismissed .SideQuestTimer
{
    visibility: collapse;
}

#PreviousResultsPanel .TeamContainer
{
    margin-top: -8px;
}

.TeamContainer
{
    flow-children: down;
    horizontal-align: center;
}

.HerosContainer
{
    flow-children: right;
}

#DireContainer
{
    flow-children: up;
    //margin-top: 8px;
}

#PreviousResultsPanel #DireContainer
{
    flow-children: down;
}

DOTAHeroImage
{
    height: 50px;
    width: 92px;
}

#RoleContainer {
    flow-children: right;
    width: 100%;
    height: 20px;
    background-color: #111111;
}

.NoLaneSelection #RoleContainer
{
    opacity: 0;
}

.Role
{
    width: 92px;
    text-overflow: shrink;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #111111 ), color-stop( 0.5, #333333 ), to( #111111 ) );
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    //letter-spacing: 1px;
    color: #ffffff90;
    //text-transform: uppercase;
    //border: 1px solid red;
    
}

.Role.Even {
    
}

.BattlePassButton
{
    margin-left: 5px;
    margin-right: 5px;
}

#VoteRadiant
{
    background-color: #1A1A1A;
    border-top: 1.5px solid #31866a;

    transition-property: background-color;
}

#VoteRadiant:hover {
    background-color: #31866a;
}

#VoteDire
{
    background-color: #1A1A1A;
    border-top: 1.5px solid #a3424f;

    transition-property: background-color;
}

#VoteDire:hover {
    background-color: #a3424f;
}

#OutcomeLabelsContainer
{
    horizontal-align: center;
    flow-children: down;
    vertical-align: bottom;
    margin-bottom: 58px;
}

.ShowingPreviousResults #ButtonsContainer,
.ShowingPreviousResults #MatchPredictionTitle,
.ForceShowPreviousMatchUntilDismissed #MatchPredictionTitle
{
    visibility: collapse;
}

.VotesLabelDefault
{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    opacity: 0.6;
    text-align: center;
    horizontal-align: center;
}

#PreviousResultsPanel .VotesLabelDefault
{
    margin-top: 1px;
}

.AlreadyVoted .VotesContainer
{
    visibility: visible;
}

.VotesContainer Label
{
    vertical-align: center;
}

.VotesSeperator
{
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3c;
    visibility: collapse;
}

#PreviousResultsPanel .VotesSeperator
{
    visibility: visible;
}

.TotalVoteWhite
{
    color: #FFFFFF;
    font-weight: semi-bold;
}

#PreviousMatchPredictionTitle,
#NewMatchPredictionTitle,
.ForceShowPreviousMatchUntilDismissed.ShowingPreviousResults #PreviousMatchPredictionTitle
{
    visibility: collapse;
}

.ShowingPreviousResults #PreviousMatchPredictionTitle,
.ForceShowPreviousMatchUntilDismissed #NewMatchPredictionTitle
{
    visibility: visible;
}

#MatchPredictionDescription {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 17px;
    color: #ffffff90;
}

#VoteRadiant,
#VoteDire
{
    vertical-align: center;
}

.AlreadyVoted #VoteDire,
.AlreadyVoted #VoteRadiant,
.VotedRadiantLabel,
.VotedDireLabel,
.RadiantVotesLabel,
.DireVotesLabel
{
    visibility: collapse;
}

.ShowingPreviousResults .RadiantVotesLabel,
.ShowingPreviousResults .DireVotesLabel,
.ForceShowPreviousMatchUntilDismissed .RadiantVotesLabel,
.ForceShowPreviousMatchUntilDismissed .DireVotesLabel
{
    visibility: visible;
}

.RadiantVotesLabel,
.VotedRadiantColor
{
    color: #43b992;

}

.DireVotesLabel,
.VotedDireColor
{
    color: #c94444;
}

#WaitingForNextMatch
{
    margin-right: 5px;
}

#Spinner,
.AwaitingData.ErrorLoadingData #Spinner
{
    visibility: collapse;
}

.AwaitingData #Spinner
{
    visibility: visible;
}

.AwaitingData .DataLoadedPanel,
.ErrorLoadingData .DataLoadedPanel,
.ErrorLoadingData.AwaitingData #WaitingForNextMatch,
.AwaitingData .CurrentStreak,
.AwaitingData #ViewPreviousResults,
.AwaitingData #ViewCurrentResults,
.AwaitingData #PreviousResultsPanel,
.AwaitingData #CurrentResultsPanel,
.ForceShowPreviousMatchUntilDismissed #CurrentResultsPanel
{
    visibility: collapse;
}

#WaitingForNextMatch,
#ErrorLoadingDataLabel
{
    visibility: collapse;
    vertical-align: center;
    horizontal-align: center;
}

#PreviousResultsPanel .VotedRadiantLabel,
#PreviousResultsPanel .VotedDireLabel
{
    margin-top: 10px;
}

.VotedRadiant .VotedRadiantLabel,
.VotedDire .VotedDireLabel
{
    visibility: visible;
}

.AwaitingData #WaitingForNextMatch,
.ErrorLoadingData #ErrorLoadingDataLabel
{
    visibility: visible;
}

.RadiantWinner #RadiantHeroes
{
    //border: 1px solid red;
    box-shadow: fill 0px 0px 30px #31866a20;
    margin: 0px;
}

#PreviousResultsPanel.RadiantWinner #RadiantHeroes,
#PreviousResultsPanel.DireWinner #DireHeroes
{
    margin-top: 10px;
}

.RadiantWinner #DireHeroes
{
    opacity: 1;
    saturation: 0;
    wash-color: #8d4343;
    brightness: 0.5;
}

.RadiantHero 
{
    opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_left_psd.vtex");
    margin-left: -2px;
    margin-right: -2px;
}

.DireHero 
{
    opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_right_psd.vtex");
    margin-left: -2px;
    margin-right: -2px;
}

.RadiantWinner #DireTitle
{
    opacity: 0.3;
}

.DireWinner #DireHeroes
{
    //border: 1px solid red;
    box-shadow: fill 0px 0px 30px #a3424f20;
    margin: 0px;
}

.DireWinner #RadiantHeroes
{
    opacity: 1;
    saturation: 0;
    wash-color: #5a8d43;
    brightness: 0.5;
}

.DireWinner #RadiantTitle
{
    opacity: 0.3;
}

#ReloadDraftTriviaMatch
{
    width: 28px;
    height: 28px;
    wash-color: #888888;
    background-size: 100% 100%;
    margin: 4px;
    visibility: collapse;
}

#ReloadDraftTriviaMatch:hover
{
    brightness: 2.0;
}

.ErrorLoadingData #ReloadDraftTriviaMatch
{
    visibility: visible;
}


#MatchDetailsLabel
{
    horizontal-align: center;
    vertical-align: bottom;
    color: #ffffff50;
    font-size: 18px;
    font-weight: light;
    //text-decoration: underline;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: #000000;
    border: 1px solid #333333;
    border-radius: 5px;
    margin-top: -8px;
    letter-spacing: 1px;
}

#MatchDetailsLabel
{
    visibility: collapse;
}

.ShowingPreviousResults #MatchDetailsLabel,
.ForceShowPreviousMatchUntilDismissed #MatchDetailsLabel
{
    visibility: visible;
}

#MatchDetailsLabel:hover
{
    color: white;
}

.AlreadyVoted #GuessWhoWonLabel,
.ShowingPreviousResults #GuessWhoWonLabel,
.ErrorLoadingData #GuessWhoWonLabel
{
    visibility: collapse;
}

#ResultsRadiantWon,
#ResultsDireWon
{
    visibility: collapse;
    font-size: 28px;
    padding-top: 30px;
    margin-bottom: 5px;
}

#ResultsRadiantWon {
    color: #ffffff;
    text-shadow: 0px 0px 15px 2.0 #43b992;
    width: 100%;
}

#ResultsDireWon {
    color: #ffffff;
    text-shadow: 0px 0px 15px 2.0 #8d4343;
    width: 100%;
}

.RadiantWinner #ResultsRadiantWon,
.DireWinner #ResultsDireWon
{
    visibility: visible;
}