
.CompendiumBody
{
	background-color: secondaryGradient;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/special_summer_event_bg_psd.vtex");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.GateGlow
{
	horizontal-align: center;
	margin-top: 192px;
	width: 200px;
	height: 290px;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/special_summer_event_glow_png.vtex");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	animation-name: GateGlowPulse;
	animation-duration: 2.4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform-origin: 50% 40%;
}


@keyframes 'GateGlowPulse'
{
	0%
	{
		transform: scale3d(0.8,0.8, 1);
		opacity: 0;
		wash-color: white;
	}

	50%
	{
		transform: scale3d(0.9,0.9,1);
		opacity: .8;
	}

	100%
	{
		transform: scale3d(1, 1, 1);
		opacity: 0;
		wash-color: #3A4BAF;
	}
}



#MainContents
{
	flow-children: down;
	width: 1440px;
	height: 100%;
	horizontal-align: center;
	vertical-align: middle;
	margin-bottom: 32px;
	margin-top: 0px;

}

.SummerEventHeader
{
	vertical-align: top;
	horizontal-align: center;
	height: fit-children;
	width: fit-children;
	flow-children: down;

	margin-top: 32px;
}

#Overline,
#Title,
#IntroText
{
	text-align: center;
	horizontal-align: center;
}

#Overline
{
	font-size: 20px;
	color: #C79123;
	text-transform: uppercase;
	letter-spacing: 4px;

	text-shadow: 0 1px 3px #000;
}

#Title
{
	font-size: 48px;
	font-weight: normal;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ECD393 ), to( #EBEAEB ) );
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-top: -2px;

	text-shadow: 0px 0px 3px #C79123;
}

#IntroText
{
	font-size: 17px;
	color: #BBB8BB;
	letter-spacing: 0.25px;
	line-height: 25px;
	text-align: center;
	width: 720px;
	horizontal-align: center;
	vertical-align: bottom;

	text-shadow: 0 2px 3px #000;
}

.EventGameTeasers
{
	width: 1200px;
	height: fit-children;
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 0px;
	margin: 0px 24px;
	vertical-align: bottom;
}

.EventGameTeaser
{
	width: fill-parent-flow(1.0);
	height: fit-children;
	margin: 0 16px;
	flow-children: down;
}

.EventGameThumbnail
{
	width: 100%;
	height: 200px;
	horizontal-align: center;
	margin-bottom: 12px;
	box-shadow: 0px 0px 50px #00000050;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.EventGameThumbnailDesc
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	font-size: 16px;
	color: #BBB8BB;
	letter-spacing: 0.25px;
	text-shadow: 0 1px 3px #000;
}

.EventGameThumbnailTitle
{
	width: 100%;
	text-align: center;
	font-size: 17px;
	font-weight: Semibold;
	text-transform: uppercase;
	color: #F8E8B9;
	letter-spacing: 2px;
	vertical-align: bottom;
	margin: 5px;
	horizontal-align: center;

	text-shadow: 0 1px 3px #000;
}

.ComingSoon
{
	font-size: 16px;
	horizontal-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	margin-top: 0px;
}

#Teaser1
{
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/summer_event_teaser_1_png.vtex");
}

#Teaser2
{
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/summer_event_teaser_2_png.vtex");
}

#Teaser3
{
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/summer_event_teaser_3_png.vtex");
}

.BattlePassCell
{
	border: BRD;
	
}

.EventGameTitle
{
	font-size: 36px;
	font-weight: black;
	text-transform: uppercase;
	vertical-align: center;
	margin-top: 4px;
	padding-bottom: 10px;
	padding-left: 16px;
	font-family: defaultFont;
	font-weight: black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #000 ), to( #1b2f2d ) );
	text-shadow: 0px 0px 10px 1.5 #5fa39d;
	letter-spacing: 6px;
}




#LeftColumn
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
}

#LeftFooter
{
	flow-children: right;
	height: 200px;
	margin-top: 8px;
}

#LeftColumn
{
	flow-children: down;
	width: 326px;
	margin-right: 8px;
}

.Buttons
{
	horizontal-align: center;
	flow-children: right;
}


.CenterColumn
{
	margin-left: 0px;	
	width: 800px;
	height: 90%;
	border-radius: 15px;
	padding: 12px;
}

#StartMatchContainer
{
	width: 400px;
	margin: 5px;
}


#FindingMatchLabel
{
	visibility: collapse;
	padding: 10px;
}

#StartMatchContainer
{
	horizontal-align: center;
}

#StartMatchButton:enabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d695 ) );
}

.PlayButton
{
	max-width: 500px;
	max-height: 50px;
	padding: 4px 22px 4px 22px;
	margin: 5px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) );
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	background-size: 450px 60px;
    //background-repeat: no-repeat;


	box-shadow: fill #002a6644 -4px -4px 8px 9px;

	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;

	opacity: 1.0;

	transition-property: box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

}


.PlayButton Label
{
	margin-top: 2px;
	horizontal-align: center;
	font-size:38px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	height: 50px;
	text-overflow: shrink;

	transition-property: color;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
}

#PlaySection {
	horizontal-align: right;
	flow-children: down;
	margin-top: 20px;
}


#PointsEarnedSection Label
{
	color: white;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	horizontal-align: center;
	margin-right: 4px;
	text-align: center;
	vertical-align: bottom;
}


#ResetTimer, #BattlePointsEarnedDesc
{
	color: ultraBrightColor;
	letter-spacing: 2px;
	font-size: 14px;
	text-transform: uppercase;

}

#ResetTimer {
	margin-bottom: 10px;
}

#BattlePointsEarnedDesc
{
	color: #dedede;
	/*line-height: 30px;*/
	text-shadow: 0px 0px 10px accentColor;
	font-weight: bold;
}

#BattlePointsEarnedValue {
	font-weight: bold;
	color: ultraBrightColor;
	text-shadow: 0px 0px 10px accentColor;
}

#BattlePointsDailyBonusTokens {
	margin-right: 15px;
	font-weight: bold;
}

.PlayButton,#ResetTimer,#PointsEarnedSection,#DailyBonusUsed,#DailyBonusActive
{
	horizontal-align: center;
	text-align: center;
}

.ResetTimerValid #ResetTimer
{
	visibility: visible;
}

#PlayGame
{
	horizontal-align: center;
	background-color: black;
	/* background-image: url("s2r://panorama/images/compendium/international2020/compendium/section_bg_lg_png.vtex"); */
	background-size: auto 100%;
	width: 100%;
	height: 130px;
	vertical-align: bottom;
	margin-top: 100px;
	box-shadow: 0px 0px 70px #00000050;

	visibility: collapse;
}

.GlobalEventEnded #PlayGame
{
	visibility: collapse;
}

#Points
{
	vertical-align: middle;
	margin-top: 22px;
}

#PointsSection {
	horizontal-align: center;
	margin-bottom: 20px;
	flow-children: down;
}

#LowerContent {
	width: 1000px;
	horizontal-align: center;
	flow-children: right;
	vertical-align: middle;
	/*border: 1px solid red;*/
}

.SelfEventNotActive #PlayGame
{
	visibility: collapse;
}

#Emoticon {
	width: 60px;
	height: 60px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( ultraBrightColor ), to( accentColor ) );
	/*margin-left: 70px;*/
	margin-right: 80px;
	margin-top: -65px;
	margin-bottom: 5px;
	border-radius: 30px;
	padding: 8px 10px 15px 10px;
	box-shadow: 0px 0px 30px #000000;
	horizontal-align: right;
}

#Points
{
	horizontal-align: center;
}

#PointsProgressBar
{
	border-radius: 50px;
	height: 12px;
	width: 330px;

	box-shadow: 1px 1px 0px #000000dd;
	horizontal-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

#PointsProgressBar .ProgressBarLeft
{
	border-radius: 50px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( defaultColor ), to( accentColorBright ) );
}

#PointsProgressBar .ProgressBarRight
{
	border-radius: 50px;
	background-color: #333333;
}

#DailyBonusUsed
{
	visibility: collapse;
}

.DailyBonusNotReady #DailyBonusUsed
{
	visibility: visible;
}


.DailyBonusNotReady #DailyBonusActive 
{
	visibility: collapse;
}

#DailyBonusUsed,#DailyBonusActive
{
	vertical-align: bottom;
	margin-top: 5px;
	flow-children: right;
}

#DailyBonusActive Label
{

	color: #dedede;
	/*line-height: 30px;*/
	text-shadow: 0px 0px 10px accentColor;
	font-weight: bold;

	color: ultraBrightColor;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
}

#DailyBonusCountdown
{
	horizontal-align: center;
}

#DailyBonusUsed Label, #DailyBonusCountdown Label
{
	color: #ffffff;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
}