

.CompendiumBody
{
	background-color: secondaryGradient;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/special_summer_event_bg_psd.vtex");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex"); */
}

.GateGlow
{
	horizontal-align: center;
	margin-top: 192px;
	width: 200px;
	height: 290px;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/special_summer_event_glow_png.vtex");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	animation-name: GateGlowPulse;
	animation-duration: 2.4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform-origin: 50% 40%;
}


@keyframes 'GateGlowPulse'
{
	0%
	{
		transform: scale3d(0.8,0.8, 1);
		opacity: 0;
		wash-color: white;
	}

	50%
	{
		transform: scale3d(0.9,0.9,1);
		opacity: .4;
	}

	100%
	{
		transform: scale3d(1, 1, 1);
		opacity: 0;
		wash-color: #3A4BAF;
	}
}

#MainContents
{
	//flow-children: down;
	width: 1390px;
	height: 100%;
	horizontal-align: center;
	vertical-align: middle;
	margin-bottom: 32px;
	margin-top: 0px;

}



.SummerEventHeader
{
	vertical-align: top;
	horizontal-align: center;
	height: fit-children;
	width: fit-children;
	flow-children: down;

	margin-top: 32px;
}

#Overline,
#Title,
#IntroText
{
	text-align: center;
	horizontal-align: center;
}

#Overline
{
	font-size: 20px;
	color: #C79123;
	text-transform: uppercase;
	letter-spacing: 4px;

	text-shadow: 0 1px 3px #000;
}

#Title
{
	font-size: 48px;
	font-weight: normal;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ECD393 ), to( #EBEAEB ) );
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-top: -2px;

	text-shadow: 0px 0px 3px #C79123;
}

#IntroText
{
	font-size: 17px;
	color: #BBB8BB;
	letter-spacing: 0.25px;
	line-height: 25px;
	text-align: center;
	width: 720px;
	horizontal-align: center;
	vertical-align: bottom;

	text-shadow: 0 2px 3px #000;
}

.EventGameTeasers
{
	width: 1200px;
	height: fit-children;
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 0px;
	margin: 0px 24px;
	vertical-align: bottom;
	visibility: collapse;
}

.EventGameTeaser
{
	width: fill-parent-flow(1.0);
	height: fit-children;
	margin: 0 16px;
	flow-children: down;
}

.EventGameThumbnail
{
	width: 100%;
	height: 200px;
	horizontal-align: center;
	margin-bottom: 12px;
	box-shadow: 0px 0px 50px #00000050;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.EventGameThumbnailDesc
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	font-size: 16px;
	color: #BBB8BB;
	letter-spacing: 0.25px;
	text-shadow: 0 1px 3px #000;
}

.EventGameThumbnailTitle
{
	width: 100%;
	text-align: center;
	font-size: 17px;
	font-weight: Semibold;
	text-transform: uppercase;
	color: #F8E8B9;
	letter-spacing: 2px;
	vertical-align: bottom;
	margin: 5px;
	horizontal-align: center;

	text-shadow: 0 1px 3px #000;
}

.ComingSoon
{
	font-size: 16px;
	horizontal-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	margin-top: 0px;
}

.EventPreReleaseTease {
	vertical-align: bottom;
	width: 100%;
	height: 200px;
	flow-children: down;
}

.GrunchQuote {
	text-align: center;
	font-size: 32px;
	font-family: titleFont;
	horizontal-align: center;
	color: #ffffff;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-shadow: 0px 0px 20px #35D3A4;
	line-height: 36px;
}

.GrunchCredit {
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	horizontal-align: center;
	font-weight: semi-bold;
	font-style: italic;
	text-shadow: 0px 0px 10px 2.0 #000000;
}

#Teaser1
{
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/summer_event_teaser_1_png.vtex");
}

#Teaser2
{
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/summer_event_teaser_2_png.vtex");
}

#Teaser3
{
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/summer_event_teaser_3_png.vtex");
}

.BattlePassCell
{
	border: BRD;
	
}

.EventGameTitle
{
	font-size: 36px;
	font-weight: black;
	text-transform: uppercase;
	vertical-align: center;
	margin-top: 4px;
	padding-bottom: 10px;
	padding-left: 16px;
	font-family: defaultFont;
	font-weight: black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #000 ), to( #1b2f2d ) );
	text-shadow: 0px 0px 10px 1.5 #5fa39d;
	letter-spacing: 6px;
}




#LeftColumn
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
}

#LeftFooter
{
	flow-children: right;
	height: 200px;
	margin-top: 8px;
}

#LeftColumn
{
	flow-children: down;
	width: 326px;
	margin-right: 8px;
}

.Buttons
{
	horizontal-align: center;
	flow-children: right;
}


.CenterColumn
{
	margin-left: 0px;	
	width: 800px;
	height: 90%;
	border-radius: 15px;
	padding: 12px;
}


#PlaySection 
{
	horizontal-align: right;
	flow-children: down;
	margin-top: 20px;
}



#PlayGame
{
	horizontal-align: center;
	background-color: black;
	/* background-image: url("s2r://panorama/images/compendium/international2020/compendium/section_bg_lg_png.vtex"); */
	background-size: auto 100%;
	width: 100%;
	height: 130px;
	vertical-align: bottom;
	margin-top: 100px;
	box-shadow: 0px 0px 70px #00000050;

	visibility: collapse;
}



#LowerContent {
	width: 1000px;
	horizontal-align: center;
	flow-children: right;
	vertical-align: middle;
	/*border: 1px solid red;*/
}


.SectionText
{
	horizontal-align: left;
	vertical-align: middle;
	text-align: left;

	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: #6F8484;
}


.ValueText
{
	font-weight: bold;
	font-size: 19px;
	line-height: 132%;

	text-align: right;
	letter-spacing: 2px;
	text-transform: uppercase;
	vertical-align: middle;

	color: #DFE9F2;

	text-shadow: 0px 0px 3px #419ff2aa;
}

.ValueText.Ti10
{
	color: #FFFDF4;
	text-shadow: 0px 0px 4px #C79123aa;
}

.ValueText,
.SecondaryValueText
{
	horizontal-align: right;
	text-align: right;
}

.SecondaryValueText
{
	font-size: 15px;
	line-height: 132%;
	/* identical to box height, or 20px */

	text-align: right;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: #FEE2E9;

	text-shadow: 0px 0px 4px #B94461;
}


 


.SectionFootnoteText
{
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 16px;
	margin-top: -2px;

	color: #41A0F2aa;
}

