.CompendiumBody
{
	background-color: black;
	background-image: url("s2r://panorama/images/compendium/international2020/underdraft/sideshop-bg_psd.vtex");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.AspectRatio4x3 .CompendiumBody
{
	background-size: 116% 106%;
}

.AspectRatio4x3 #SideShopOwners
{
	z-index: 2;
}

.AspectRatio4x3 .SideShopLeft
{
	margin-right: 0;
	width: 180px;
	height: 40%;
	vertical-align: middle;
}

.AspectRatio4x3 .SideShopRight
{
	margin-right: 0;
	width: 220px;
	height: 50%;
	vertical-align: middle;
}


.AspectRatio16x10 .SideShopLeft
{
	margin-right: 0;
	width: 260px;
	height: 70%;
	vertical-align: middle;
}

.AspectRatio16x10 .SideShopRight
{
	margin-right: 0;
	width: 320px;
	height: 80%;
	vertical-align: middle;
}


#SideShopOwners
{
	width: 100%;
	height: 100%;
}

.SideShopLeft
{
	background-image: url("s2r://panorama/images/compendium/international2020/underdraft/quirt_psd.vtex");
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	horizontal-align: left;
	width: 320px;
	height: 100%;
}

.SideShopRight
{
	background-image: url("s2r://panorama/images/compendium/international2020/underdraft/sithil_psd.vtex");
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	horizontal-align: right;
	width: 377px;
	height: 100%;
	vertical-align: bottom;

	margin-right: -16px;

	z-index: 2;
}


#MainContents
{
	padding: 24px 0px 16px 0;
	width: 1390px;
	height: 100%;
	horizontal-align: center;
	flow-children: down;
}

.BattlePassCell
{
	border: BRD;
	
}

.Header {
	width: fill-parent-flow( 1.0 );
	flow-children: right;
	horizontal-align: left;
	height: 210px;
}

.HeaderText
{
	width: fill-parent-flow(1);
	flow-children: down;
	padding: 0 16px;
	height: 100%;
}


.HideoutTitle
{
	//font-family: Ravenhook;
	color:white;
	horizontal-align: left;
	font-size: 54px;
	letter-spacing: 4px;
	text-transform:uppercase;
	color: gradient( linear, 0% 100%, 0% 0%, from( rgb(214, 214, 214)), to( #EBEAEB ) );
	color: gradient( linear, 0% 100%, 0% 0%, from( rgb(255, 214, 102) ), to( #996F0D ) );
	font-weight: semi-bold;
	text-shadow: 0px 1px 0px rgb(141, 92, 0);
	horizontal-align: left;
	letter-spacing: 1px;

	horizontal-align: center;
	font-size: 54px;
	letter-spacing: 4px;
}

.HideoutText
{
	text-align: center;
	width: 700px;
	horizontal-align: center;
	font-size: 16px;
}

.PlusContainer
{
	horizontal-align: center;
	flow-children: right;
}

.PlusLogo
{
	width: 22px;
	height: 22px;
	background-image: url("s2r://panorama/images/dota_plus/dotaplus_logo_png.vtex");
	background-size: contain;	
	background-repeat: no-repeat;
	margin-right: 2px;
}

.PlusHeader
{
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	color: gradient( linear, 100% 0%, 0% 0%, from( #fff ), to( #B78946 ) );
	margin-bottom: 8px;
}

.PlusText
{
	font-size: 13px;
	margin: 0 25px;
	border: 1px solid #BA905755;
	padding: 4px 10px;
	margin-top: -8px;
	color: #BA9057;
	background-color: #0009;
	margin-right: 0;
	text-overflow:shrink;
}

#PlusBonusContainer
{
	flow-children: down; 
	margin-top: 0px;
	vertical-align: bottom;
	margin-bottom: 10px;
	width: 700px;
}

#CurrencyPanel
{
	horizontal-align: left;
	flow-children: down;
	vertical-align: middle;
	height: 52px;
	width: 88%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(121, 65, 1, 0.575) ), to( #42310D00 ) );
	overflow: noclip;
	margin-top: -20px;
}
.GoldChestIcon
{
	width: 119px;
	height: 119px;
	pre-transform-scale2d: 0.9;
	background-image: url("s2r://panorama/images/compendium/international2020/underdraft/gem_exchange_treasurechest_png.vtex");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	vertical-align: middle;
	horizontal-align: right;
	margin-right: -42px;
	margin-top: 8px;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.BackButtonContainer,
.CurrencyPanelContainer
{
	width: 25%;
	height: 100%;
}

.SithilBank,
.QuirtBank
{
	flow-children: right;
	vertical-align: middle;
	horizontal-align: right;
	margin-top: -2px;
}

#CurrencyPanel .PopupButton
{
	horizontal-align: right;
}

.GoldText,
.CurrencyText
{
	vertical-align: middle;
	text-align: right;
	horizontal-align: center;
	color: #F0E6D2;
	
	margin-left: 4px;

	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.CurrencyText
{
	text-align: center;
	margin-left: 0;
}


#BackButton
{
	height: 65%;
	horizontal-align: left;
}

.ExchangeButton
{
	overflow: noclip;
	flow-children: right;
	width: 100%;
	height: 38px;
}


.Banks
{
	flow-children: right;
	width: 100%;
	padding-right: 82px;
	margin-top: -30px;
}

.ExchangeButton > Label 
{
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 2px 1px rgba(27, 27, 33, 0.5);
	color: gradient( linear, 0% 100%, 0% 0%, from( accentColor), to( ultraBrightColor ) );
	text-align: right;
	width: fill-parent-flow(1);
	margin-right: 0px;
	vertical-align: middle;
	transition-property: color;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
}

.RewardPanel .SithilGem,
.RewardPanel .QuirtGem
{
	width: 36px;
	height: 36px;
	margin: 0;
}


.SithilGem,
.QuirtGem
{
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/* margin-right: 12px; */
	vertical-align: middle;
	horizontal-align: center;
	margin-right: -4px;
	margin-left: 12px;
}

.SithilGem
{
	background-image: url("s2r://panorama/images/compendium/international2020/underdraft/sithil-gem_png.vtex");
	visibility: collapse;
}

.QuirtGem
{
	background-image: url("s2r://panorama/images/compendium/international2020/underdraft/quirt-gem_png.vtex");
}

.SithilBank .SithilGem
{
	visibility: visible;
}

.UsesSithilGems .SithilGem
{
	visibility:visible;
	margin-top:0px;
	margin-right:5px;
}

.UsesSithilGems .QuirtGem
{
	visibility:collapse;
}

.Spacer
{
	width: fill-parent-flow(1);
}

.CostLabel > .QuirtGem
{
	margin-top: 0;
	margin-right: 8px;
}

#CurrencyPanel > .SithilGem,
#CurrencyPanel .QuirtGem
{
	margin-right: 0;
}

#RewardsCell > .QuirtGem
{
	horizontal-align: center;
}

#LeftColumn
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
}
#RightColumn
{
	width: 326px;
	height: 100%;
	flow-children: down;
	margin-left: 8px;
}
#LeftFooter
{
	flow-children: right;
	height: 200px;
	margin-top: 8px;
}

#LeftColumn
{
	flow-children: down;
	width: 326px;
	margin-right: 8px;
}

#RewardsCell
{
	flow-children: right;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #03020200 ), color-stop( 0.1, #03020290 ), color-stop( 0.9, #03020290 ), to( #03020200 ) );
	/* background-color: gradient( linear, 100% 0%, 0% 0%, from( #03020201 ), color-stop( 0.55, #03020202 ), color-stop( 0.66, #03020208 ), color-stop( 0.76, #03020212 ), color-stop( 0.86, #03020208 ), to( #03020202 ) ) */
	padding: 48px 0 36px 0;
	ui-scale:90%;
}

.AspectRatio4x3 #RewardsCell
{
	width: fit-children;
	horizontal-align: center;
}

#RewardsCellHeader
{
	flow-children: right;
	width: 100%;
	margin-top: 0;
}

.AspectRatio4x3 #RewardsCellHeader
{
	margin-top: 26px;
}


#SithilHeader
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #26438F00 ), color-stop( 0.4, #26438F ), color-stop( 0.6, #26438F ), to( #26438F00 ) );
}

#QuirtHeader
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #97251300 ), color-stop( 0.4, #972513 ), color-stop( 0.6, #972513 ), to( #97251300 ) );
}

.SubHeaderText,
.CrewText
{
	horizontal-align: center;
	text-transform: uppercase;
	color: white;
	padding: 6px 0;
	width: fill-parent-flow( 1.0 );
	text-align: center;
	letter-spacing: 2px;
}

#LeaderboardCell
{
	width: 100%;
	margin-top: 8px;
	height: fill-parent-flow( 1.0 );
	flow-children:down;
}

#LeaderboardCell
{
	width: 100%;
	margin-top: 8px;
	height: fill-parent-flow( 1.0 );
	flow-children: down;
}

.RewardPanel
{
	width: 220px;
	height: fit-children;
	/* margin: 0 24px; */
	/* margin-bottom: 36px; */
	overflow: noclip;
}

.AspectRatio4x3 .RewardPanel
{
	width: 190px;
}

#RewardButton
{
	width: 100%;
	height: fit-children;
	flow-children: down;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;

}

#RewardImage
{
	horizontal-align:center;
	width:124px;
	height:124px;
}

.RewardTitle
{
	font-weight: normal;
	font-size: 16px;
	margin-top: 24px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	horizontal-align: center;
	vertical-align:top;
	width: 100%;
	color: 	gradient( linear, 0% 0%, 0% 100%, from( #BBB8BB ), to( #fff ) );
	text-overflow:shrink;
	height:18px;
}

.RewardButton
{
	horizontal-align:center;
	/* vertical-align:bottom; */
	margin-top: 8px;
	width: 100%;
}

.CostLabel
{
	flow-children: right;
	horizontal-align: center;
	margin-top: -10px;
	margin-right: 10px;
}

#RewardButton:hover
{
	brightness: 1.5;
	pre-transform-scale2d: 1.05;
}

#RewardButton:active
{
	brightness: 0.8;
	pre-transform-scale2d: 1.0;
}

.CostLabel > Label
{
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;

	color: #F48471;
	margin-top: 5px;
	margin-left: -8px;
}

.UsesSithilGems .CostLabel > Label
{
	color: #48D2ED;
}



.RewardsTitle
{
	font-size: 36px;
	horizontal-align: center;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	text-align:center;
}

.RewardSubtitle
{
	padding-left:5px;
	padding-right:5px;
	horizontal-align: center;
	text-align: center;
}

.TicketTitle
{
	width:100%;
	font-size: 24px;
	text-align: center;
	text-transform:uppercase;
	vertical-align:center;
}

.BackImage
{
	width: 64px;
	height: 64px;
	horizontal-align: left;
	vertical-align: bottom;
	margin-right: 24px;
	margin-top: 12px;
	pre-transform-scale2d: 0.8;
}

.BackImage:hover
{
	pre-transform-scale2d: 1;
	transform: translateX(-6px);
}


#BonusTreasureContainer
{
	width: 100%;
	flow-children: right;
	vertical-align: bottom;
	padding: 40px 220px 40px 270px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( ultraDarkColor&00 ), color-stop( 0.1, ultraDarkColor&dd ), color-stop( 0.9, ultraDarkColor&dd ), to( ultraDarkColor&00 ) );
	visibility: collapse;
}

#BonusTreasureText
{
	flow-children: down;
	width: fill-parent-flow(1.0);
	vertical-align: middle;
}

#BonusTreasureProgressBarContainer
{
	flow-children: down;
	vertical-align: middle;
	horizontal-align: right;
	width: fill-parent-flow(1.0);
}


.BonusTreasureTitle
{
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;

	color: accentColor;
	text-shadow: 0px 2px 1px rgba(27, 27, 33, 0.5);
}

.BonusTreasureDesc
{
	font-size: 16px;
	color: #BBB8BB;
	padding-right: 64px;
	margin-top: 4px;

}

.ProgressBarText
{
	text-align: right;
	horizontal-align: right;
	margin-right: 30px;
	margin-bottom: 4px;

	font-size: 15px;
	text-align: right;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #C79123;
	text-shadow: 0px 2px 1px #00000030;
}

ProgressBar
{
	horizontal-align: right;
	width: 400px;
	height: 12px;
	border: 1px solid darkColor;
	background-color: #030202;
	box-shadow: inset 0 0 6px darkColor&90;
}

.ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( shadeColor ), to( accentColor ) );
}

#BonusTreasureImage
{
	vertical-align: middle;
	horizontal-align: right;
	transform: translateX(-30px);
}

#BonusTreasureProgress
{
	flow-children: right;
	width: fill-parent-flow(1.0);
	vertical-align: bottom;
}

#BonusTreasureImage
{
	img-shadow: 0 0 64px shadeColor;
}

.ProgressBarTextUnclaimed .BonusTreasureUnclaimed
{
	visibility: visible;
}

.ProgressBarText .BonusTreasureUnclaimed
{
	visibility: collapse;
}

.ProgressBarTextUnclaimed 
{
	text-align: right;
	horizontal-align: right;
	margin-right: 36px;
	margin-bottom: 4px;

	font-size: 15px;
	text-align: right;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #C79123;
	text-shadow: 0 0 4px shadeColor;
	visibility: collapse;
}

ProgressBar .BonusTreasureUnclaimed{
	visibility: collapse;
}


.EmblemTitle
{
	margin-bottom: 12px;
}

.EmblemContents
{
	flow-children: right;
	horizontal-align: center;

	margin-top: -24px;
}

.EmblemExplain
{
	flow-children: down;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	width: 600px;
	margin-top: 40px;
}

.EmblemContainer
{
	width: fit-children;
	horizontal-align: center;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	/* visibility: collapse; */
}

.EmblemContainer:hover
{
	pre-transform-scale2d:1.1;
}
.ShopMovie
{
	width: 340px;
	height: 260px;
	background-color: transparent;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.PreviewEmoticonsContainer 
{
	background-color: transparent;
}

#EmblemMovie
{
	horizontal-align:center;
}

.HeaderLabel
{
	font-size: 22px;
	horizontal-align: center;
	text-transform: uppercase;
	font-weight: Semibold;
	letter-spacing: 4px;
	margin: 0 0 12px 0;
	text-align: center;

	color: #ECD393;
}

.EmblemDesc
{
	margin-left: 20px;
	margin-right: 20px;
	horizontal-align:center;
	text-align: center;

	font-size: 20px;
	color: #ccc;
}
.DotaPlusShard
{
	background-image: dotaPlusCurrencyIcon;
	background-size: cover;
	width:46px;
	height:46px;
	margin-left:80px;
	margin-top:80px;
}

.DotaPlusRewardLabel
{
	vertical-align: bottom;
	text-align: right;
	horizontal-align: right;
	color: gradient( linear, 0% 0%, 0% 100%, from( #f8e7a5 ), to( dotaPlusLightGold ) );
	margin-right: 24px;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 0 0 1px 5 black;
}