@define prizeRewardMeterLength: 600px; 
@define prizeRewardPerPixel: 73000.0; 
@define prizeReward: 34330068;
@define stretchPrizeReward: 40000000; 


#CompendiumBody {
	background-color: #161213;
}

#OverviewBackgroundArena,
#OverviewBackground
{
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/prize_pool_bg_jpg.vtex");
	background-size: 1600px 900px;
	background-repeat: no-repeat;
	background-position: 0px bottom;
	horizontal-align: center;
	//background-color: black;
}

.AspectRatio4x3 #OverviewBackgroundArena, .AspectRatio16x10 #OverviewBackgroundArena  {
    background-size: cover;
}

#LeftBlock
{
	horizontal-align: left;
	width: 620px;
	height: 100%;
	margin-top: 30px;
}

#MajorLogo
{
	width: 400px;
	height: 176px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/ti_logo_gold_psd.vtex");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;

}


.BattlePassPurchaseButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( shadeColor ), to( accentColorBright ) );
	box-shadow: -4px -4px 8px 8px accentColor;
	animation-name: PurchaseButtonGlow;
	animation-duration: 2.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'PurchaseButtonGlow'
{
	0%
	{
		box-shadow: accentColor&33 -2px -2px 12px 4px;
	}

	50%
	{
		box-shadow: accentColor&33 -1px -1px 2px 2px;
	}

	100%
	{
		box-shadow: accentColor&33 -2px -2px 12px 4px;
	}
}

.BattlePassButton.BattlePassPurchaseButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( defaultColor ), to( accentColorBright ) );
}

.BattlePassButton.BattlePassPurchaseButton:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( shadeColor ), to( accentColorBright ) );
}


#VenueDate {
	flow-children: down;
	horizontal-align: center;
	margin-top: 20px;
}

.VenueDateLabel {
	font-weight: semi-bold;
	color: #F8E8B9;
	letter-spacing: 1px;
	font-size: 22px;
	text-align: center;
	horizontal-align: center;
	margin-bottom: 5px;
}


.TournamentDesc {
	text-align: center;
	margin-bottom: 40px;
	color: #ffffff;
}
#TIContent {
	horizontal-align: center;
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 100px;
}

#LeftBlock .BlueButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1AA1CF ), to( #14729E ) );
	box-shadow: fill -8px -8px 16px 16px #199BC810;
}

#ScheduleButtonContents
{
	horizontal-align: center;
	vertical-align: middle;
	margin-bottom: 3px;
}

#PopOut
{
	width: 16px;
    height: 16px;

    background-image: url("s2r://panorama/images/control_icons/arrow_top_right_png.vtex");
	background-size: contain;
    background-repeat: no-repeat;
	vertical-align: middle;
	margin-top: 4px;
}

#ScheduleButton
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 90%;
	height: 52px;
	visibility: collapse;
}

#ScheduleButton:hover
{
	brightness: 1.5;
}

#ScheduleButton Label
{
	font-size: 22px;
	letter-spacing: 2px;
	color: white;
	text-shadow: none;
}


.CompendiumTopSection
{
	width: 1392px;
	height: 800px;
	horizontal-align: center;
}

#VideoStream
{
    width:800px;
    height:545px;
    horizontal-align:center;
    vertical-align:bottom;
    padding-bottom:10px;
    visibility:collapse;
}
.NotLive #VideoStream
{
    height:500px;
}
#MovieUpsell
{
    visibility:collapse;
}
#MovieCountdown
{
    visibility:collapse;
}
#MovieOver
{
    visibility:collapse;
}
.SelfEventActive .Ended #MovieOver
{
    visibility:visible;
    width:100%;
    margin-top:220px;
    horizontal-align: center;
}
.SelfEventActive .NotLive #MovieCountdown 
{
    visibility:visible;
    width:100%;
    margin-top:220px;
    horizontal-align: center;
}
.SelfEventNotActive #MovieUpsell
{
    visibility:visible;
    width:75%;
    horizontal-align: center;
    vertical-align:middle;
}
.SelfEventActive #VideoStream
{
    visibility:visible;
}
.SelfEventActive .Ended #VideoStream
{
    visibility:collapse;
}
.CompendiumBottomSection
{
	width: 1392px;
	height: 800px;
	horizontal-align: center;
}

#OverviewContent
{
	width: 100%;
	height: 100%;
	margin-top: 32px;
}

.OverviewBlock
{
	margin-bottom: 10px;
}

.OverviewColumn
{
	margin-top: 14px;
	width: 400px;
	height: 100%;
	horizontal-align: center;

}

.OverviewHeading
{
	text-transform: uppercase;
	font-weight: semi-bold;
	color: #ffffff;
	letter-spacing: 1px;
	font-size: 22px;
	font-weight: semi-bold;
	horizontal-align: center;
}

.OverviewDetails
{
	//color: #ffffff80;
	horizontal-align: center;
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
	color: #ffffff;
}

.OverviewDetailBtns {
	flow-children: right;
	height: 60px;
	horizontal-align: center;
}

.OverviewDetailBtns Button {
	margin-right: 10px;
}

#Beam
{
	width: 100%;
	height: 100%;

    transform: scaleY(-1) scaleX(.25);
}


.SpotlightContainer
{
	width: 20%;
	height: 100%;
	transform-origin: 50% 100%;
	vertical-align: bottom;
//	hue-rotation: 180deg;
	//wash-color: #B64B37;
	visibility: collapse;

	animation-duration: 7.11s; 
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;   	    
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex") 1.0;
}

@keyframes 'Spotlight1'
{
	0%
	{
		transform: rotateZ( 45deg )  translateY( -50px );
	}
	50%
	{
		transform: rotateZ( -15deg )  translateY( -50px );
	}	
	100%
	{
		transform: rotateZ( 45deg )  translateY( -50px );
	}
}


@keyframes 'Spotlight2'
{
	0%
	{
		transform: rotateZ( -37deg ) ;
	}
	50%
	{
		transform: rotateZ( 5deg ) ;
	}	
	100%
	{
		transform: rotateZ( -37deg ) ;
	}
}


@keyframes 'Spotlight3'
{
	0%
	{
		transform: rotateZ( 45deg ) ;
	}
	50%
	{
		transform: rotateZ( 15deg ) ;
	}	
	100%
	{
		transform: rotateZ( 45deg ) ;
	}
}


@keyframes 'Spotlight4'
{
	0%
	{
		transform: rotateZ( 5deg ) translateX( 200px ) translateY( -100px );
	}
	50%
	{
		transform: rotateZ( -55deg ) translateX( 200px ) translateY( -100px );
	}	
	100%
	{
		transform: rotateZ( 5deg ) translateX( 200px ) translateY( -100px );
	}
}

#Spot1
{
	animation-name: Spotlight1;
	margin-left: -130px;
}

#Spot1 #Beam
{
	transform: scaleY(-1) scaleX(0.35);	
}

#Spot2
{
	animation-name: Spotlight2;	
	animation-duration: 8.21s;
	horizontal-align: right;
}

#Spot3
{
	animation-name: Spotlight3;	
	animation-duration: 9.4s;
	horizontal-align: left;
	margin-left: -100px;
}

#Spot3 #Beam
{
	transform: scaleY(-1) scaleX(0.4);	
}

#Spot4
{
	animation-name: Spotlight4;	
	animation-duration: 9.21s;
	horizontal-align: right;
	pre-transform-scale2d: 1.4; 	
	transform-origin: 50% 110%;
}

#Spot4 #Beam
{
	transform: scaleY(-1) scaleX(0.6);	
}

#PrizePool
{
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 10px;
	width: 100%;

	transition-property: opacity!immediate;
	transition-duration: 0.0s;
	transition-timing-function: ease-in;

	opacity: 1;
}

.PrizePoolReceived #PrizePool
{
	transition-property: opacity!immediate;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;

	opacity: 1;
}

#PrizePoolBG
{
	width: 95%;
	height: 72px;
	vertical-align: middle;
	horizontal-align: center;
	margin-top: 12px;
	/*background-color: gradient( linear, 0% 0%, 100% 0%, from( darkColor&00 ), color-stop( 0.5, darkColor&ff ), to( darkColor&00 ) );	*/
	/*transform: translateZ(-40px);	*/
}

#PrizePoolLabel
{
	horizontal-align: center;
	text-shadow: 0px 1px 2px 2.0 #000000;
	color: #F8E8B9;
	font-size: 14px;
	font-weight: semi-bold;
	letter-spacing: 2px;
}


#PrizePoolAmount
{
	//color: #fff;
	text-shadow: 0px 0px 25px 0.3 #aad3eb50;
}

.LabelDepth
{
	font-size: 75px;
	font-weight: thin;
	margin-top: 0px;
	color: #162B40;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( rgba(252, 237, 208, 0) ) );
	color: #ffffff;
	horizontal-align: center;
	text-shadow: 0px 0px 20px 3.0 #C79123;
	text-align: center;
	font-weight: bold;
	letter-spacing: 4px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: -15px;
}

#PrizeInfo
{
	height: 13px;
	margin-bottom: 4px;
	margin-left: 0px;
}

#LeftDetails
{
	visibility: visible;
    horizontal-align:left;
}

#RightDetails
{
	horizontal-align:right;
	vertical-align: middle;
	width: 500px;
	height: fit-children;
	margin-right: 150px;
	margin-top: -20px;
	//margin-top: 130px;
}

#Dates
{
	horizontal-align: center;
}

#Dates .OverviewDetails
{
	text-transform: uppercase;
	color: #A19994;
	margin-left: 8px;
	letter-spacing: 2px;
	font-size: 16px;
	
	visibility: collapse;

}

.InfoIcon
{
	wash-color: #A19994;
	opacity: .6;
}

.PrizeRewardMeter
{
	margin-top: 0px;
	horizontal-align: center;
	flow-children: down;
}

#PreviousPrizePoolLabel
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
	horizontal-align: center;
	font-weight: semi-bold;
	margin-bottom: 12px;
	text-shadow: 0px 0px 5px 3.0 #000000;
	color: #ffffff;
}

.PrizePoolRewardDesc
{
	margin-top: 10px;
	horizontal-align: center;
	width: 700px;
	color: #fefefe;
	text-align: center;
	text-shadow: 0px 1px 2px 3.0 #000000;
}

.ProgressMeterContainer
{
	margin-top: 12px;
	margin-left: 20px;
	width: prizeRewardMeterLength;
	horizontal-align: center;
}

.ProgressBackgroundContainer
{
	width: 100%;
	height: 36px;
	margin-top: 2px;
	opacity-mask: url("s2r://panorama/images/masks/softeredge_right_png.vtex");
}

.ProgressMeterBackground
{
	width: 100%;
	height: 100%;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	border: 6px solid black;
	background-color: #000c;
	
}

.ProgressMeterBackground2
{
	width: 100%;
	height: 100%;
	margin: 2px;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	border: 2px solid white;
	
}
		  
#ProgressMeter
{
	//width: 100%;
	height: 100%;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	background-color: secondaryBrightColor;
    width: 350px;
}

.MarkerContainer
{
	flow-children: down;
}

.Marker
{
	background-color: white;
	border: 1px solid black;
	width: 4px;
	height: 40px;
}

.MarkerYear {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-top: -18px;
	margin-left: -13px;
}


.MarkerHighlight {
	color: #aad3eb;
	margin-left: -17px;
}

.MarkerDesc
{
	margin-top: 4px;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	text-shadow: 0px 1px 2px 3 #000000;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.RewardDesc
{
	width: 100px;
	margin-left: -50px;
	font-size: 12px;
	text-align: center;
	text-shadow: 0px 1px 2px 3 #000000;
	color: #F8E8B9;
	letter-spacing: 0px;
	font-style: italic;
	font-weight: semi-bold;
	text-transform: uppercase;
}

/* NOTE: 600px = 43.8M So 1px = 73k */
.FirstPrizeMark
{
	margin-left: 470px;	
}

.SecondPrizeMark
{
	margin-left: 548px;
}


#PurchaseLevelsButton
{
	visibility: collapse;
}

#ActivateBattlePassButton
{
	visibility: collapse;
}

#GiftBattlePassButton
{
	visibility: collapse;
}

#PurchaseBattlePassButton
{
	visibility: collapse;
}

.CurrentSeason.Season_International2020.SelfEventActive.GlobalEventPurchasable #PurchaseLevelsButton
{
	visibility: visible;
}

.CurrentSeason.Season_International2020.GlobalEventPurchasable #GiftBattlePassButton
{
	visibility: visible;
}

.CurrentSeason.Season_International2020.SelfEventNeedsActivate #ActivateBattlePassButton
{
	visibility: visible;
}

.CurrentSeason.Season_International2020.GlobalEventPurchasable.SelfEventNotActive #PurchaseBattlePassButton
{
    visibility: visible;
}
