DOTAGauntletDetailsPopup
{
	width: 100%;
	height: 100%;
}

#HeroesLeft {
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/gauntlet_left_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	//border: 1px solid red;
	margin-left: -200px;
	vertical-align: bottom;
	width: 500px;
	height: 600px;
	z-index: 100;
}


#HeroesRight {
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/gauntlet_right_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	horizontal-align: right;
	//border: 1px solid red;
	margin-right: -450px;
	vertical-align: bottom;
	width: 700px;
	height: 500px;
	z-index: 100;
}



#MainContents
{
	//flow-children: down;
	width: 1200px;
	height: 630px;
	//padding-bottom: 32px;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	background-color: defaultGradient;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #696249 ), to( #2D2E2B ) );
}

#InnerContent { 
	width: 100%;
	height: 100%;
	flow-children: down;
	
}

#TitleBar
{
	color: #fff;
	padding: 8px;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #503712 ), to( #E8CF8D ) );
	box-shadow: 0px 2px 10px 3.0 #000000;
	//margin-bottom: 16px;
}

#Contents
{
	flow-children: down;
	width: 800px;
	horizontal-align: center;
	height: fit-children;
	vertical-align: middle;
}


#TitleIcon
{
	horizontal-align: right;
	width: 28px;
	height: 28px;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: 100% 100%;
	wash-color: #000000;
	opacity: 0.6;
	transition-property: opacity;
}

#TitleIcon:hover {
	brightness: 0.8;
}

.TitleBarLabel
{
	text-transform: uppercase;
	margin-left: 8px;
	font-size: 24px;
	color: #fff;
	letter-spacing: 2px;
	text-shadow: 2px 2px 5px 1.0 #000000;
}

.Contents > Label
{
	horizontal-align: center;
	color: #ffffffee;
	font-size: 20px;
	text-align: center;
}

#TitleText
{
	text-transform: uppercase;
	font-size: 30px;
	color: #fff;
	color: gradient( linear, 0% 0%, 100% 0%, from( #E8CF8D ), to( #ffffff ) );
	margin-bottom: 8px;
	font-weight: semi-bold;
	letter-spacing: 2px;
	text-shadow: 0px 0px 10px 4.0 #000000;
}

#TextBlock1
{
	padding-bottom: 10px;
}

#GauntletDivisionSelect
{
	horizontal-align: center;	
}

.PopupButton
{
	horizontal-align: center;	
}

#RedeemButton
{
	visibility: visible;
}

.GauntletHasActiveTicket.GauntletOwnsTicket #RedeemButton
{
	visibility: collapse;
}

#GauntletDivisionSelect #default
{
}

.DropDownMenuVisible #default
{
	visibility: collapse;
}

#ExplainBox
{
	width: 90%;
	padding-top: 20px;
	padding-bottom: 16px;
	horizontal-align: center;
}

#ExplainBox Label
{
	text-align: center;
	horizontal-align: center;
}

#ExplainBoxWin, #ExplainBoxLose
{
	width: 50%;
	padding: 16px;
	flow-children: down;
	background-color: #000000ee;
	min-height: 180px;
}

#ExplainBoxWin
{
	horizontal-align: left;
	margin-right: 5px;
}

#WinIcons
{
	flow-children: right;
	horizontal-align: center;
	overflow: noclip;
}

.WinIcon
{
	width: 35px;
	height: 35px;
	background-color: #666666;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: center;
	border-radius: 50px;
	box-shadow: 0px 0px 10px 10.0 #000000;
	border: 1px solid #5B5B5B;
	overflow: noclip;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #245128 ), to( #2B322B ) );
}

.WinCheckmark {
	width: 35px;
	height: 35px;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/gauntlet_check_png.vtex");
	background-size: contain;
	//transform: translateY(-5px);
	//margin-left: -5px;
}

.LoseX {
	width: 35px;
	height: 35px;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/gauntlet_x_png.vtex");
	background-size: contain;
	//transform: translateY(-5px);
	//margin-left: -5px;
}

#ExplainBoxLose
{
	horizontal-align: right;
	margin-left: 5px;
}

#LoseIcons
{
	flow-children: right;
	horizontal-align: center;
}

.LoseIcon
{
	width: 35px;
	height: 35px;
	background-color: #666666;
	margin-left: 4px;
	margin-right: 4px;
	vertical-align: center;
	border-radius: 50px;
	box-shadow: 0px 0px 10px 10.0 #000000;
	border: 1px solid #5B5B5B;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #512424 ), to( #2B322B ) );
}

#WinText1
{
	color: #7EE8A5;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 1px;
	margin: 5px 0px;
}

#LoseText1
{
	color: #E05E5E;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 1px;
	margin: 5px 0px;
}

.DisabledButtonEventEater
{
    horizontal-align: center;
    vertical-align: bottom;
}

.GauntletTicketButton {
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/gauntlet_btn_bg_png.vtex");
	background-size: contain;
	horizontal-align: center;
	box-shadow: 0px 0px 5px #00000030;
	vertical-align: bottom;
	margin-top: 10px;
	width: 320px;
	height: 45px;
	transition-property: brightness, transform;
	transition-duration: 0.3s;
}

.GauntletTicketButton Label {
	color: #ffffff;
	width: 100%;
	text-align: center;
	height: 20px;
	font-weight: semi-bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	vertical-align: middle;
	//padding: 10px 15px;
	font-size: 18px;
	horizontal-align: center;
}

.GauntletTicketButton:enabled:hover {
	brightness: 1.4;
	transform: translateY(-1px);
}

.GauntletTicketButton:disabled {
	saturation: 0.2;
	opacity: 0.5;
}

#GauntletClose {
	font-size: 18px;
	color: #ffffff80;
	text-decoration: underline;
	margin-top: 10px;
}