DOTACompTI10ScheduleWidget{width: 100%;height: fill-parent-flow( 1.0 );border: 1px solid black;background-color: #000a;}.CountdownHeader,
.CountdownMain,
.CountdownTimer,
.CountdownFinished,
.ScheduleContents{visibility: collapse;}.CountdownActive .CountdownHeader,
.CountdownActive .CountdownMain,
.CountdownActive .CountdownTimer,
.CountdownAfterEnd .CountdownFinished{visibility: visible;}.ScheduleContents{padding: 16px;background-color: #0009;}.ScheduleTitle{font-size: 12px;text-transform: uppercase;horizontal-align: center;color: colorTI10Gold;font-family: titleFont;text-shadow: 1px 1px 12px 2 #00000066;letter-spacing: 2px;font-weight: bold;padding-bottom: 8px;}