DOTASpectatorListener
{
	horizontal-align: right;
	height: fit-children;
	transition-property: transform;
	transition-timing-function: ease-out;
	transition-duration: 0.51s;
}

DOTASpecItemRow
{
	background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");
    background-size: cover;
	height: 56px;
	width: 198px;
	flow-children: right;
    margin-bottom: 8px;
	horizontal-align: right;
}

#HeroImage
{
	width: 72px;
	height: 40px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#CoinImage
{
	height: 36px;
	width: 36px;
	margin: 10px;
}

#ItemPurchased
{
	width: 54px;
	height: 40px;

    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
