/* Don't change the name - referenced from code */
DOTAHUDWRArcana
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: visible;
	overflow: noclip;
}

DOTAHUDWRArcana.Hidden
{
	visibility: collapse;
}

.IsArcanaLevel2
{
	visibility: collapse;
}

.ArcanaLevel2 .IsArcanaLevel2
{
	visibility: visible;
}

.ArcanaLevel2 .IsArcanaLevel1
{
	visibility: collapse;
}

.WRArcanaProgress
{
	horizontal-align: center;
	overflow: noclip;
}

#ProgressContainer
{
	padding: 8px;
	border-radius: 8px;
	overflow: noclip;
	horizontal-align: center;

	width: 900px;

	transition-property: opacity; 
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#ArrowFX
{
	transition-property: opacity; 
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#ProgressLabel,#DamageDealtLabel,#TargetHealthLabel,#AddedDamageLabel
{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: semi-bold;
	horizontal-align: center;
}

#DamageDealtLabel {
	color: gradient( linear, 0% 100%, 0% 0%, color-stop(0.0, #7ac0b5 ), color-stop(1.0, #ffffff ) );
	text-shadow: 0px 0px 5px 3.0 #000000;
	font-size: 16px;
	//margin-top: 10px;
}

.ArcanaLevel2 #DamageDealtLabel
{
	color: gradient( linear, 0% 100%, 0% 0%, color-stop(0.0, #ff9630 ), color-stop(1.0, #ffffff ) );
}


.Success #ProgressContainer,
{
	opacity: 0;
}

.Failure #ProgressContainer,
.ProgressFailure #ProgressContainer
{
	opacity: 0;
}

#SuccessLabel, #FailureLabel
{
	visibility: collapse;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-style: italic;
	font-weight: semi-bold;
	color: #ffffff;
	color: gradient( linear, 0% 100%, 0% 0%, color-stop(0.0, #7ac0b5 ), color-stop(1.0, #ffffff ) );
	text-align: center;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 25px;
	margin-left: 10px;
}

.ArcanaLevel2 #SuccessLabel, 
.ArcanaLevel2 #FailureLabel
{
	color: gradient( linear, 0% 100%, 0% 0%, color-stop(0.0, #ff9630 ), color-stop(1.0, #ffffff ) );
}

.ProgressSuccess #SuccessLabel {
	visibility: visible;
}

.ProgressFailure #FailureLabel {
	visibility: visible;
}

#DamageContainer 
{
	horizontal-align: center;
	margin-top: 3px;
}

.ProgressBarContainer
{
	horizontal-align: center;
	overflow: noclip;
	height: 120px;
}

.TargetContainer
{
	vertical-align: center;
	horizontal-align: center;
	overflow: noclip;
}

#PersonaLabel
{
	color: white;
	margin-top: -10px;
	horizontal-align: center;
	vertical-align: top;
	margin-left: 10px;
	
	text-shadow: 1px 1px 0px 3.0 #00000088;

	font-size: 17px;
	font-weight: semi-bold;
}

#TargetHealthLabel
{
	margin-top: 42px;
	horizontal-align: center;
	vertical-align: top;
	text-shadow: 0px 0px 5px 2.0 #000000;
	background-color: #33333390;
	padding: 0px 5px;
	border-radius: 5px;
	font-size: 14px;
}

#ProgressLabel
{
	margin-top: 68px;
	horizontal-align: center;
	vertical-align: top;
	font-weight: semi-bold;
	letter-spacing: 2px;
	margin-left: 10px;
	font-size: 14px;
	font-style: italic;
	opacity: 0.6;
}

#TargetHeroIcon
{
	width: 45px;
	height: 45px;
	vertical-align: center;
	horizontal-align: center;
	z-index: 10;
	margin-left: 3px;
	margin-top: 0px;
	img-shadow: 0px 0px 15px 3.0 #000000;
	//border: 1px solid red;
	
}

.TargetBlademail
{
	width: 120px;
	height: 187px;
	vertical-align: center;
	horizontal-align: center;
	z-index: -1;
	margin-left: 12px;
	opacity: 1;
	//background-image: url("s2r://panorama/images/hud/arcana/wr/blade-mail_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	transition-property: opacity; 
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}


.Blademail .TargetBlademail
{
	opacity: 0.8;
}

.TargetBG
{
	height: 180px;
	width: 180px;
	vertical-align: center;
	horizontal-align: left;
	//background-image: url("s2r://panorama/images/hud/arcana/wr/hero_target_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 10px;
	z-index: -1;
	opacity: 0.25;
}

#WRTarget {
	width: 120px;
	height: 187px;
	horizontal-align: center;
	//margin-left: 10px;
	margin-top: -5px;
	overflow: noclip;
	transition-property: background-image;
	transition-duration: 0.3s;
}



.WRTargetPiece {
	transition-property: transform, pre-transform-scale2d, opacity;
}

.ProgressSuccess:not(.Success) .WRTargetPiece {
	transition-duration: 1s;
	animation-name: WRTargetScale;	
	animation-duration: 2.1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;

}

.WRTarget1 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/target-1_png.vtex");
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	horizontal-align: center;
	vertical-align: middle;
	transform: translateY(0px) translateX(0px);
	opacity: 1;
	transition-property: background-image;
	transition-duration: 0.3s;
}


.ProgressSuccess:not(.Success) .WRTarget1 {
	transform: translateY(0px) translateX(-19px) rotateZ(-15deg);
	opacity: 0;
}

.WRTarget2 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/target-2_png.vtex");
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	horizontal-align: center;
	vertical-align: middle;
	transition-property: background-image;
	transition-duration: 0.3s;
}

.ProgressSuccess:not(.Success) .WRTarget2 {
	transform: translateY(-10px) translateX(-0px);
	opacity: 0;
}

.WRTarget3 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/target-3_png.vtex");
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	horizontal-align: center;
	vertical-align: middle;
	transition-property: background-image;
	transition-duration: 0.3s;
}


.ProgressSuccess:not(.Success) .WRTarget3 {
	transform: translateY(0px) translateX(19px) rotateZ(10deg);
	opacity: 0;
}

.ArcanaLevel2 .WRTarget1 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/alt-target-1_png.vtex");
}

.ArcanaLevel2 .WRTarget2 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/alt-target-2_png.vtex");
}

.ArcanaLevel2 .WRTarget3 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/alt-target-3_png.vtex");
}

.Blademail .WRTarget1 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/target-bm-1_psd.vtex");
}

.Blademail .WRTarget2 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/target-bm-2_psd.vtex");
}

.Blademail .WRTarget3 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/target-bm-3_psd.vtex");
}

@keyframes 'WRTargetScale' {
	0% {
		pre-transform-scale2d: 1;
		opacity: 1;
	}
	100% {
		pre-transform-scale2d: 1.4;
		opacity: 0;
	}
}


#TargetRadialBG
{
	height: 180px;
	width: 180px;
	vertical-align: center;
	horizontal-align: left;
	//background-image: url("s2r://panorama/images/hud/arcana/wr/hero_target_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
	margin-left: 10px;
	opacity: 1;
	brightness: 1.2;

	clip: radial( 50% 50%, 0deg, 180deg );
}

.TargetFX, 
.TargetKillFX
{
	margin-top: -25px;
	margin-left: 0px;
	height: 170px;
	width: 170px;
	vertical-align: center;
	horizontal-align: center;

	transition-property: opacity; 
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.TargetFX
{
	opacity: 1;
	margin-left: 5px;
}

.ProgressSuccess .TargetKillFX
{
	opacity: 1;
}

// FOR TESTING ARROW FX WITHOUT ADDITONAL STUFF
.TargetFX,.TargetBG,.TargetRadialBG,.ProgressBarContainer
{
	//visibility: collapse;
}


#ArrowFX
{
	margin-left: 10px;
	margin-top: -50px;
	width: 800px;
	height: 800px;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	opacity: 1;

	transition-property: opacity; 
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.ProgressSuccess:not(.Success) #ArrowFX
{
	opacity: 0;
}


.DamageBar {
	width: 300px;
	height: 25px;
	overflow: noclip;
	vertical-align: center;
	margin-left: 60px;
}

.DamageBar
{
	border: 1px solid #222222;
	margin-left: 40px;
	z-index: 0;
}

.DamageBar .ProgressBarLeft
{
	background-color: #b52a00;
	background-color: gradient( linear, 0% 50%, 100% 50%, color-stop(0.0, #BB2D00 ), color-stop(1.0, #FE8B37 ) );
}

.DamageBar .ProgressBarRight
{
	background-color: none;
}

#BarBack {
	width: 380px;
	height: 30px;
	background-size: cover;
	background-image: url("s2r://panorama/images/hud/arcana/wr/bar_back_png.vtex");
	vertical-align: middle;
	horizontal-align: middle;

}

#BarFill {
	width: 380px;
	height: 30px;
	background-size: cover;
	background-image: url("s2r://panorama/images/hud/arcana/wr/bar_fill_png.vtex");
	vertical-align: middle;
	horizontal-align: middle;
}

#BarTop {
	width: 400px;
	height: 40px;
	background-image: url("s2r://panorama/images/hud/arcana/wr/bar_top_png.vtex");
	vertical-align: middle;
	horizontal-align: middle;
	background-position: center;
	background-repeat: no-repeat;
}

#SummaryContainer
{
	margin: 20px;
	horizontal-align: center;
	opacity: 0;

	transition-property: opacity; 
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#SummaryContents {
	flow-children: down;
	height: 100%;
	horizontal-align: center;
}


.SummaryHidden #SummaryContainer
{
	visibility: collapse;
}

.Success #SummaryContainer
{
	opacity: 1.0;
}

.SummaryFade #SummaryContainer
{
	opacity: 0.0;
}

.Success .ProgressContainer,
.Failure .ProgressContainer,
{
	opacity: 0;
}

#AddedDamageLabel
{
	margin: 0px 8px 8px 8px;
	font-size: 14px;
	opacity: 0.8;
	text-shadow: 0px 0px 5px 3.0 #000000;
	margin-top: -5px;
}

.SummaryFX {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.ProgressSuccess .SummaryFX {
	opacity: 1;
	margin-top: -25px;
	margin-left: 5px;
	height: 170px;
	width: 170px;
	vertical-align: center;
	horizontal-align: center;
}


// DIGIT STUFF

.ComboDigits
{
	margin-right: 90px;
	horizontal-align: center;
	
}

.DigitContainer
{
	vertical-align: center;
	flow-children: left;
	horizontal-align: center;
	margin-top: 10px;
	padding: 5px;
}

.WRDigit
{
	width: 38px;
	height: 59px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_1_png.vtex");
	
}

.WRDigitHidden
{
	visibility: collapse;
}

.ProgressDigit
{
	margin-top: -3px;
}

.WRDigit.digit_0 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_0_png.vtex");
	width: 28px;
}
.WRDigit.digit_1 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_1_png.vtex");
	width: 25px;
}
.WRDigit.digit_2 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_2_png.vtex");
	width: 34px;
}

.WRDigit.digit_3 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_3_png.vtex");
	width: 38px;
}

.WRDigit.digit_4 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_4_png.vtex");
	width: 34px;
}

.WRDigit.digit_5 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_5_png.vtex");
	width: 40px;
	margin-left: -2px;
}

.WRDigit.digit_6 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_6_png.vtex");
	width: 33px;
}

.WRDigit.digit_7 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_7_png.vtex");
	width: 35px;
}

.WRDigit.digit_8 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_8_png.vtex");
	width: 30px;
}

.WRDigit.digit_9 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_9_png.vtex");
	width: 30px;
}


.ArcanaLevel2 .WRDigit.digit_0 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_0_v2_png.vtex");
	width: 28px;
}
.ArcanaLevel2 .WRDigit.digit_1 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_1_v2_png.vtex");
	width: 25px;
}
.ArcanaLevel2 .WRDigit.digit_2 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_2_v2_png.vtex");
	width: 34px;
}

.ArcanaLevel2 .WRDigit.digit_3 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_3_v2_png.vtex");
	width: 38px;
}

.ArcanaLevel2 .WRDigit.digit_4 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_4_v2_png.vtex");
	width: 34px;
}

.ArcanaLevel2 .WRDigit.digit_5 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_5_v2_png.vtex");
	width: 40px;
	margin-left: -2px;
}

.ArcanaLevel2 .WRDigit.digit_6 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_6_v2_png.vtex");
	width: 33px;
}

.ArcanaLevel2 .WRDigit.digit_7 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_7_v2_png.vtex");
	width: 35px;
}

.ArcanaLevel2 .WRDigit.digit_8 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_8_v2_png.vtex");
	width: 30px;
}

.ArcanaLevel2 .WRDigit.digit_9 {
	background-image: url("s2r://panorama/images/hud/arcana/wr/numbers/combo_9_v2_png.vtex");
	width: 30px;
}