DOTABuff
{
	opacity: 1;
	width: 45px;
	pre-transform-scale2d: 1;
	transition-property: opacity, pre-transform-scale2d, width;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;		
}

DOTABuff.Hidden
{
	pre-transform-scale2d: 0;
	opacity: 0;
	width: 0px;
}

.BuffBorder
{
	background-image: url("s2r://panorama/images/hud/buff_friendly_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.is_debuff .BuffBorder
{
	background-image: url("s2r://panorama/images/hud/buff_enemy_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#Wipe
{
	wash-color: #606060;
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.show_wipe #Wipe
{
	visibility: visible;
}

#StackCount
{
	text-shadow: 0px 0px 6px 6 #000000;
	margin: 2px;
	vertical-align: bottom;
	horizontal-align: right;
	font-size: 18px;
	font-family: Goudy Trajan Medium;
	color: white;
	visibility: collapse;
}

.has_stacks #StackCount
{
	visibility: visible;
}

#BuffImage
{
	width: 30px;
	height: 30px;
	margin: 7px 8px 8px 7px;
}

#AbilityImage
{
	width: 100%;
	height: 100%;
}
.item_buff #AbilityImage
{
	visibility: collapse;
}

#ItemImage
{
	width: 100%;
	height: 100%;
}

.ability_buff #ItemImage
{
	visibility: collapse;
}

#CircularDuration
{
	visibility: collapse;
}

//----------------------------------------------------------------------
// Reborn

.Reborn DOTABuff
{
	width: 40px;
	height: 40px;
	margin-left: 2px;
	margin-right: 2px;
}

.Reborn .BuffBorder
{
	background-image: none;
}

.Reborn .is_debuff .BuffBorder
{
	background-image: none;
}

.Reborn #Wipe.BuffBorder
{
	visibility: collapse;
}

.Reborn .BuffBorder
{
	
}

.Reborn Button
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: fill #00000099 -2px -2px 4px 4px;
}

.Reborn #BuffImage
{
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset #000000aa 2px 2px 4px 4px;
}

.Reborn #CircularDuration
{
	visibility: visible;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	//background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #00000000 ), color-stop( 0.76, #00000000 ), color-stop( 0.77, #000000ff ), color-stop( 0.80, #000000ff ), color-stop( 0.81, #8bc34fff ), color-stop( 0.90, #8bc34fff ), color-stop( 0.93, #000000ff ), to( #000000ff ) );
	border: 3px solid #8bc34f;
}

.Reborn .is_debuff #CircularDuration
{
	//background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #00000000 ), color-stop( 0.76, #00000000 ), color-stop( 0.77, #000000ff ), color-stop( 0.80, #000000ff ), color-stop( 0.81, #ff5253ff ), color-stop( 0.90, #ff5253ff ), color-stop( 0.93, #000000ff ), to( #000000ff ) );
	border: 3px solid #943c10;
}

DOTAStunBar .is_debuff #CircularDuration
{
	border: 3px solid #c24f15;
}

DOTAStunBar .is_debuff #BuffImage
{
	visibility: visible;
	border: 3px solid #3d1908;
	margin: 0px;
}

.Reborn #StackCount
{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	horizontal-align: center;
	vertical-align: center;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 20px;
	overflow: noclip noclip;
}

//----------------------------------------------------------------------
// Reborn Query

.QueryUnit DOTABuff
{
	width: 36px;
	height: 36px;
}

.QueryUnit #BuffImage
{
	width: 36px;
	height: 36px;
	margin: 2px;
}

.Reborn .QueryUnit #CircularDuration
{
    border: 2px solid #8bc34f;
}

.Reborn .QueryUnit .is_debuff #CircularDuration
{
    border: 2px solid #ff6263;
}