/* Don't change the name - referenced from code */
DOTAHUDWKArcana
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: visible;
	z-index: 2;
}

DOTAHUDWKArcana.Hidden
{
	visibility: collapse;
}

#HeroesPanel
{
	opacity: 0;
	vertical-align: top;
	horizontal-align: left;

	margin-top: 200px;

	width: 600px;
	height: 469px;
	/* padding: 24px 42px 42px 42px; */
	padding-top: 190px;
	padding-left: 40px;

	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/seal-left_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;

	transform: translateX(-200px);

	transition-duration: 0.21s;
	transition-property: transform, opacity;
	transition-timing-function: ease-in-out;
}

.CloseButton
{
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	horizontal-align: right;
	vertical-align: top;
	z-index: 10;
	margin-top: -20px;
	margin-right: 60px;
	wash-color: white;
	opacity: 0.8;
	background-color: rgba(41, 35, 30, 0.8);
	border-radius: 50%;
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
	background-size: 55%;
	background-position: 40% 50%;
	transition-property: background-position, wash-color;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
}

.CloseButton:hover
{
	wash-color: white;
	pre-transform-scale2d: 1.1;
}

.CloseButton:active
{
	pre-transform-scale2d: 0.9;
	background-size: 60%;
}

.GameEnd .CloseButton {
	visibility: collapse;
}

.ToggledOff .CloseButton
{
	visibility: collapse;
}

.ExpandButton
{
	margin-top: -20px;
	width: 60px;
	height: 200px;
	horizontal-align: right;
	vertical-align: top;
	z-index: 10;
	/*background-color: black;*/
	transition-property: opacity;
	transition-duration: 0.1s;
	opacity: 0.0;
}

.ExpandButtonIcon
{
	width: 64px;
	height: 64px;
	horizontal-align: right;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/seal-solo_png.vtex");
	transition-property: transform,brightness;
	transition-duration: 0.25s;
	vertical-align: middle;
}

.ExpandButtonIcon:hover
{
	brightness: 2;
	transform: translateX(4px);
}

.ToggledOff .ExpandButton
{
	opacity: 1.0;
}

.GameEnd.ToggledOff .ExpandButton
{
	opacity: 0;
}

.ShowHeroesPanel.ToggledOff #HeroesPanel
{
	transform: translateX(-538px);
}


.ShowHeroesPanel.ToggledOff #HeroesPanel #Contents
{
	opacity: 0;
}

.ShowHeroesPanel.ToggledOff.GameEnd #HeroesPanel
{
	transform: translateX(0px);
}

.GameEnd #HeroesPanel
{
	visibility: collapse;
	transition-duration: 1s;
}

.ShowHeroesPanel #HeroesPanel
{
	opacity: 1;
	transform: translateX(0);
}

.GameEnd #Contents
{
	width: 100%;
}

.GameLost #HeroesPanel
{
	visibility: collapse;
}

.GameEnd #HeroesPanel
{
	horizontal-align: center;
	margin-top: 230px;
	padding-top: 300px;
	padding-left: 0;
	horizontal-align: center;

	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/seal-main_psd.vtex");
	background-position: right;
	width: 900px;
	height: 577px;
}

#Contents
{
	flow-children: down;
	transition-property: opacity;
	transition-duration: .21s;
	transition-timing-function: ease-in-out;
}

.WkArcana_Header
{
	flow-children: down;
}

.WkArcana_HeaderSeal
{
	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/seal-solo_png.vtex");
	background-position: right;
	background-size: contain;
	width: 150px;
	height: 77px;
}


#SealScene
{
	width: 316px;
	height: 276px;
	margin-top: -184px;
	margin-left: -86px;
	opacity-mask: url("s2r://panorama/images/masks/wk_arc_seal_psd.vtex");
	vertical-align: top;
	horizontal-align: left;

	transition-property: brightness, hue-rotation;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;	
}

.GameEnd #SealScene {
	width: 416px;
	height: 376px;
	margin-top: -260px;
	margin-left: -4px;	
	horizontal-align: center;
}


.GameEnd .WkArcana_Header
{
	horizontal-align: center;
}

.WkArcana_Title
{
	font-family: Goudy Trajan;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 6px;
	color: #FFFFFF;
	text-shadow: 0px 2px 4px 2.0 #000;
}

.GameEnd .WkArcana_Title,
.GameEnd .WkArcana_Desc
{
	text-align: center;
	horizontal-align: center;
}

.WkArcana_Desc
{
	font-size: 18px;
	color: #ffffff90;

	margin-top: 4px;
	padding-right: 96px;
}

.GameEnd .WkArcana_Desc
{
	padding-right: 0;
	padding: 0 220px;
}

.PreGame
{
	visibility: visible;
}

.PostGame
{
	visibility: collapse;
}

.GameEnd .PreGame
{
	visibility: collapse;
}

.GameEnd .PostGame
{
	visibility: visible;
}

#WkHeroKillList
{
	flow-children: right;
	margin-top: 8px;
}

.GameEnd #WkHeroKillList
{
	horizontal-align: center;
}

.WkHeroes
{	
	visibility: collapse;
}

.HeroImageContainer
{
	vertical-align: center;
	flow-children: down;
}

.WkHeroes .HeroImage
{
	opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_right_psd.vtex");
	vertical-align: center;
}

.WkSlash
{
	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/large-slash_png.vtex");
	opacity: 0.0;
	width: 100%;
	height:100px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
    transition-property: transform, opacity;
    transition-duration: 0.75s;
    margin-bottom: 10px;
}

.WkHeroes.AvailableForKill.HasBeenKilled > .WkSlash
{
	opacity: 1.0;
}


.WkHeroes.AvailableForKill 
{
	visibility: visible;
}

.WkHeroes.AvailableForKill.HasBeenKilled .HeroImage
{
	wash-color: #880000F1;
}

.HeroImage
{
	width: 112px;
	height: 63px;
	background-color: black;
}

.HeroName
{
	margin-left: 0px;
	margin-right: 12px;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	color: #FBF8E7;
	text-align: center;
	horizontal-align: left;
	margin-top: 4px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-overflow: shrink;
	text-shadow: 1px 1px 4px black;
}


// Progress Panel
#ProgressPanel
{
	width: fit-children;
	opacity: 0;
	vertical-align: top;
	horizontal-align: left;

	margin-top: 275px;
	flow-children: right;

	height: 100px;
	padding-right: 32px;

    transition-property: transform, opacity,wash-color;
    transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #28050200 ), color-stop( 0.1, #280502ee ), color-stop( 0.7, #280502bb ), to( #28050200 ) );


	transform: translateX(-400px);
	
	overflow: noclip;
}

.ProgressPanelContent
{
	width: fit-children;
	height: 100%;
	flow-children: right;

	padding-left: 64px;
	margin-left: -64px;

	z-index: 1;
}

.ShowProgressPanel #ProgressPanel
{
    transform: translateX(0px);
	opacity: 1;
}

.ProgressLabel
{
	vertical-align: middle;
	font-size: 18px;
	font-weight: normal;
	color: #F8F3ED;

	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}

#ProgressVictim
{
	visibility: collapse;
}

.IsVictim #ProgressVictim
{
	visibility: visible;
}

.IsVictim #ProgressWK
{
	visibility: collapse;
}

#SealEmblem
{
	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/emblem_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	width: 151px;
	height: 200px;
	margin-left: -30px;
	margin-top: -90px;
	opacity: 0.9;

	z-index: 2;
}

.KingText
{
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFD393;
}

.WinText
{
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ECD393;
}

#VictimHero.WkHeroes
{
	visibility: visible;
	horizontal-align: center;
	vertical-align: middle;
	margin-right: 16px;
	margin-left: 12px;
	/* margin: 10px;
	margin-bottom: 20px; */
}