
DOTAFightRecap
{
	width: 830px;
	height: 740px;

	horizontal-align: center;
	vertical-align: top;
}

#AlertPanel
{
	horizontal-align: center;
	vertical-align: top;

	margin-top: 70px;
}

.FightRecapButton
{
	background-color: #00000066;
	border-radius: 6px;

	width: 150px;
}

.FightRecapButton Label
{
	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;

	horizontal-align: center;

	color: #CCCCCC;
	padding: 7px;
}

.FightRecapButton:hover Label
{
	color: #FFFFFF;
}

.FightRecapButton:active
{
	margin-left: 2px;
	margin-top: 1px;
}

#ShowFightRecapButton
{
	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#HideFightRecapButton
{
	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.ShowAvailableRecap #ShowFightRecapButton,
.ShowFightRecap #HideFightRecapButton
{
	opacity: 1;
}

#MainPanel
{
	width: 100%;
	height: 100%;
}

.Segment
{
	transform: translateY(-300px );

	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.RadiantContainer
{
	width: 310px;

	horizontal-align: left;
	margin-left: 1px;

	flow-children: right;
}

.DireContainer
{
	width: 310px;

	horizontal-align: right;
	margin-right: 2px;

	flow-children: right;
}

.TopHalfClipper
{
	width: 100%;
	height: 35px;

	overflow: clip clip;

	vertical-align: top;
}

.BottomHalfClipper
{
	width: 100%;
	height: 35px;

	overflow: clip clip;

	vertical-align: bottom;
}

.FullClipper
{
	width: 100%;
	height: 70px;

	overflow: clip clip;

	vertical-align: bottom;
}

.RecapArrow
{
	width: 60px;
	height: 100%;

	margin-left: 2px;
	margin-right: 2px;

	flow-children: down;

	horizontal-align: center;
}

.RecapBar
{
	width: 60px;
	height: 100%;

	margin-left: 2px;
	margin-right: 2px;

	horizontal-align: center;
}

.RecapArrow .Triangle
{
	width: 100%;
	height: 8px;

	opacity-mask: url("s2r://panorama/images/masks/triangle_psd.vtex");

	background-color: gradient( linear, 0% 0%, 0% 100%, from ( #888888 ), to ( #AAAAAA ) );
}

.RecapArrow .Body
{
	width: 100%;
	height: 27px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from ( #AAAAAA ), color-stop( 0.5, #DDDDDD), to ( #FFFFFF )  );
}

.RecapBar .Body
{
	width: 100%;
	height: 64px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from ( #666666 ), color-stop( 0.7, #AAAAAA ), to ( #FFFFFF )  );

	vertical-align: bottom;
}


.RecapArrow.Up
{
}

.RecapArrow.Down
{
	transform: scaleY( -1.0 );
}

.RecapArrowEntry
{
	width: 100%;

	text-align: center;

	color: white;
	text-shadow: 0px 0px 4px 4.0 #000000;
	font-size: 14px;

	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;

	opacity: 0;
}

.SectionHeader
{
	vertical-align: top;
	horizontal-align: center;

	color: #999999;

	margin-top: 12px;
}

.SectionHeader.Centered
{
	vertical-align:center;
}

.SectionValues
{
	vertical-align: bottom;
	horizontal-align: center;

	width: 240px;

	flow-children: right;

	margin-bottom: 4px;
}

.SectionValue
{
	width: fill-parent-flow( 0.5 );
	color: #BBBBBB;

	text-align: center;

	font-size: 24px;
}

.AbilityEntry
{
	opacity: 0;
}

.AbilityEntry.SlotVisible
{
	opacity: 1;
}

#DeathSegment
{
	width: 100%;
	height: 80px;

	background-color: #000000EE;
}

.ShowFightRecap #DeathSegment
{
	transform: translateY( 38px );
}


.DeathEntry 
{
	width: 62px;
	height: 70px;
}

.DeathIcon
{
	width: 40px;
	height: 40px;

	background-image: url("s2r://panorama/images/textures/fightrecap_skull_red_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;

	vertical-align: center;
	horizontal-align: center;

	margin-top: 20px;

	visibility: collapse;
}

.DeathBuybackIcon
{
	width: 40px;
	height: 40px;

	background-image: url("s2r://panorama/images/textures/fightrecap_skull_buyback_red_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;

	vertical-align: center;
	horizontal-align: center;

	margin-top: 20px;

	visibility: collapse;
}

.Died .DeathIcon,
.DiedBuyback .DeathBuybackIcon
{
	visibility: visible;
}

#GoldSegment
{
	width: 100%;
	height: 70px;

	background-color: #000000E4;
}

.ShowFightRecap #GoldSegment
{
	transform: translateY( 118px );
}

.GoldEntry
{
	width: 62px;
	height: 70px;

	opacity: 0;
}

.GoldEntry.SlotVisible
{
	opacity: 1;
}

.GoldEntry:hover Label
{
	opacity: 1;
}

.Gold.RecapArrow
{
	wash-color: #caba40;
}

.Gold.RecapArrow.Down
{
	visibility: collapse;
}

#XPSegment
{
	width: 100%;
	height: 70px;

	background-color: #000000EE;

}

.ShowFightRecap #XPSegment
{
	transform: translateY( 188px );
}

.XPEntry
{
	width: 62px;
	height: 70px;

	opacity: 0;
}

.XPEntry.SlotVisible
{
	opacity: 1;
}

.XPEntry:hover Label
{
	opacity: 1;
}

.XP.RecapBar
{
	wash-color: #319ed3;
}


#DamageSegment
{
	width: 100%;
	height: 70px;

	background-color: #000000E4;
}

.ShowFightRecap #DamageSegment
{
	transform: translateY( 258px );
}


.DamageEntry
{
	width: 62px;
	height: 70px;

	opacity: 0;
}

.DamageEntry.SlotVisible
{
	opacity: 1;
}

.DamageEntry:hover Label
{
	opacity: 1;
}

.Damage.RecapBar
{
	wash-color: #de5041;
}

#AbilitiesSegment
{
	width: 100%;

	background-color: #000000EE;
}


#RadiantAbilities1 { margin-top: 4px; }
#RadiantAbilities2 { margin-top: 60px; }
#RadiantAbilities3 { margin-top: 116px; }
#RadiantAbilities4 { margin-top: 172px; }

#DireAbilities1 { margin-top: 4px; }
#DireAbilities2 { margin-top: 60px; }
#DireAbilities3 { margin-top: 116px; }
#DireAbilities4 { margin-top: 172px; }

.AbilityContainer
{
	visibility: collapse;
}

.OneAbility #RadiantAbilities1,
.TwoAbility #RadiantAbilities1,
.ThreeAbility #RadiantAbilities1,
.FourAbility #RadiantAbilities1,
.OneAbility #DireAbilities1,
.TwoAbility #DireAbilities1,
.ThreeAbility #DireAbilities1,
.FourAbility #DireAbilities1
{
	visibility: visible;
}

.TwoAbility #RadiantAbilities2,
.ThreeAbility #RadiantAbilities2,
.FourAbility #RadiantAbilities2,
.TwoAbility #DireAbilities2,
.ThreeAbility #DireAbilities2,
.FourAbility #DireAbilities2
{
	visibility: visible;
}

.ThreeAbility #RadiantAbilities3,
.FourAbility #RadiantAbilities3,
.ThreeAbility #DireAbilities3,
.FourAbility #DireAbilities3
{
	visibility: visible;
}

.FourAbility #RadiantAbilities4,
.FourAbility #DireAbilities4
{
	visibility: visible;
}

.ShowFightRecap #AbilitiesSegment
{
	transform: translateY( 328px );
}

.OneAbility #AbilitiesSegment
{
	height: 62px;
}

.TwoAbility #AbilitiesSegment
{
	height: 120px;
}

.ThreeAbility #AbilitiesSegment
{
	height: 176px;
}

.FourAbility #AbilitiesSegment
{
	height: 230px;
}

#RadiantItems1 { margin-top: 4px; }
#RadiantItems2 { margin-top: 60px; }
#RadiantItems3 { margin-top: 116px; }

#DireItems1 { margin-top: 4px; }
#DireItems2 { margin-top: 60px; }
#DireItems3 { margin-top: 116px; }

.ItemContainer
{
	visibility: collapse;
}

.OneItem #RadiantItems1,
.TwoItem #RadiantItems1,
.ThreeItem #RadiantItems1,
.FourItem #RadiantItems1,
.OneItem #DireItems1,
.TwoItem #DireItems1,
.ThreeItem #DireItems1,
.FourItem #DireItems1
{
	visibility: visible;
}

.TwoItem #RadiantItems2,
.ThreeItem #RadiantItems2,
.FourItem #RadiantItems2,
.TwoItem #DireItems2,
.ThreeItem #DireItems2,
.FourItem #DireItems2
{
	visibility: visible;
}

.ThreeItem #RadiantItems3,
.FourItem #RadiantItems3,
.ThreeItem #DireItems3,
.FourItem #DireItems3
{
	visibility: visible;
}

#ItemsSegment
{
	width: 100%;

	background-color: #000000E4;
}

.OneItem #ItemsSegment
{
	height: 62px;
}

.TwoItem #ItemsSegment
{
	height: 120px;
}

.ThreeItem #ItemsSegment
{
	height: 176px;
}

.OneAbility.ShowFightRecap #ItemsSegment
{
	transform: translateY( 390px );
}

.TwoAbility.ShowFightRecap #ItemsSegment
{
	transform: translateY( 448px );
}

.ThreeAbility.ShowFightRecap #ItemsSegment
{
	transform: translateY( 504px );
}

.FourAbility.ShowFightRecap #ItemsSegment
{
	transform: translateY( 558px );
}

.UsageCount
{
	horizontal-align: right;
	vertical-align: bottom;

	margin-right: 2px;
	margin-bottom: 2px;

	text-shadow: 0px 0px 2px 4.0 #000000;

	color: white;
	font-size: 14px;
}

.Single .UsageCount
{
	visibility: collapse;
}