@define smallPlayerWidth: 589px;
@define largePlayerWidth: 670px;


DOTAHUDBattlePassTowersTeam
{
	width: 100%;
	height: 100%;
	opacity: 1;

	transition-property: background-color;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
}

#CurrentTowerLevelIcons
{
	
	margin-top: 0px;
	width: 640px;
	height: fit-children;
	
	horizontal-align: center;
}

.MarkerLevel 
{
	width: fill-parent-flow(1);
	height: 24px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 40%;
}

.TeamInfo
{
	vertical-align: bottom;
	flow-children: down;
	width: largePlayerWidth;
	horizontal-align: center;
	height: fit-children;
	transform: rotateX(90deg) translateY(200px);
	opacity: 0;
	
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
}

.TowerShowcase .TeamInfo
{
	opacity: 1;
	transform: rotateZ(0deg) translateY(0px);
}
#RadiantAmbient
{
	z-index: -5;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: middle;
    opacity: 1;	
	visibility: collapse;
//	background-color: gradient( radial, 50% 0%, 0% 0%, 70% 70%, from( #9B582400 ), color-stop( .15, #5E371100 ), color-stop( .35, #44290800 ), color-stop( .65, #32200100 ), to( #20130100 ) );
//	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( .25, reserveTimeBackgroundColor ), color-stop( .65, reserveTimeBackgroundColor ), to( #00000000 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #010e05 ), to( #04270e ) );
	transform: scaleX(1) scaleY(2.5);
}

.RadiantVisible #RadiantAmbient
{
	visibility: visible;
}

#DireAmbient
{
	z-index: -5;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: middle;
    opacity: 1;	
	visibility: collapse;
	background-color: gradient( radial, 50% 100%, 0% 0%, 70% 70%, from( #9B582400 ), color-stop( .15, #5E371100 ), color-stop( .35, #44290800 ), color-stop( .65, #32200100 ), to( #20130100 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #230601 ), to( #0f0301 ) );
	transform: scaleX(1) scaleY(2.5);
}

.DireVisible #DireAmbient
{
	visibility: visible;
}


#LevelMarker1 {background-image: url("s2r://panorama/images/hud/towers/marker1_png.vtex");}
#LevelMarker2 {background-image: url("s2r://panorama/images/hud/towers/marker2_png.vtex");}
#LevelMarker3 {background-image: url("s2r://panorama/images/hud/towers/marker3_png.vtex");}
#LevelMarker4 {background-image: url("s2r://panorama/images/hud/towers/marker4_png.vtex");}
#LevelMarker5 {background-image: url("s2r://panorama/images/hud/towers/marker5_png.vtex");}
#LevelMarker6 {background-image: url("s2r://panorama/images/hud/towers/marker6_png.vtex");}
#LevelMarker7 {background-image: url("s2r://panorama/images/hud/towers/marker7_png.vtex");}
#LevelMarker8 {background-image: url("s2r://panorama/images/hud/towers/marker8_png.vtex");}
#LevelMarker9 {background-image: url("s2r://panorama/images/hud/towers/marker9_png.vtex");}
#LevelMarker10 {background-image: url("s2r://panorama/images/hud/towers/marker10_png.vtex");}
#LevelMarker11 {background-image: url("s2r://panorama/images/hud/towers/marker11_png.vtex");}
#LevelMarker12 {background-image: url("s2r://panorama/images/hud/towers/marker12_png.vtex");}
#LevelMarker13 {background-image: url("s2r://panorama/images/hud/towers/marker13_png.vtex");}
#LevelMarker14 {background-image: url("s2r://panorama/images/hud/towers/marker14_png.vtex");}
#LevelMarker15 {background-image: url("s2r://panorama/images/hud/towers/marker15_png.vtex");}
#LevelMarker16 {background-image: url("s2r://panorama/images/hud/towers/marker16_png.vtex");}
#LevelMarker17 {background-image: url("s2r://panorama/images/hud/towers/marker17_png.vtex");}
#LevelMarker18 {background-image: url("s2r://panorama/images/hud/towers/marker18_png.vtex");}
#LevelMarker19 {background-image: url("s2r://panorama/images/hud/towers/marker19_png.vtex");}
#LevelMarker20 {background-image: url("s2r://panorama/images/hud/towers/marker20_png.vtex");}


#CurrentTowerLevelBar
{
	margin-top: 8px;
	width: smallPlayerWidth;
	height: fit-children;
	horizontal-align: center;
}


#DividerContainer
{
	width: 100%;
	margin-left: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 4px;
}

.DividerMarker
{
	tooltip-position: bottom;
	tooltip-body-position: 50%;
	width: fill-parent-flow(1);
	height: 16px;
	border-left: 1px solid #043A3A;
	border-right: 1px solid #043A3A;
	
	transition-property: background-color;
	transition-duration: 0.18s;
	transition-timing-function: ease-in-out;
}

.DividerMarker:hover
{
	background-color: #42EDF012;
}

#TeamInfoPanel
{
	width: 100%;
	height: 40%;
	vertical-align: bottom;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 0px;
}

#CurrentTowerInfo
{
	height: fit-children;
	margin-left: 42px;
}

#CurrentTowerLevel
{
	font-size: 56px;
	font-weight: bold; 
	vertical-align: bottom;
	margin-bottom: -10px;
	color: white;
}

#CurrentTowerText
{
	font-size: 20px;
	font-weight: bold;
	vertical-align: bottom;
	margin-left: 10px;
	margin-bottom: 6px;
	color: white;
}


#ProgressBar
{
	height: 16px;
	width: smallPlayerWidth;
	horizontal-align: center;

    background-size: cover;
}

#TowerProgressBar
{
	height: 16px;
	width: smallPlayerWidth;
	background-color: #1c1c1c;
	horizontal-align: right;
	transition-property: width;
	transition-duration: 0.5s, 0.5s;
	transition-timing-function: ease-out;
	border: 1px solid black;
	
}

#TowerProgressBar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/hud/towers/progress_bar_png.vtex");
	background-size: 100%;
	
	border-radius: 4px;
	
	//transform-origin: 0px 0px;
	//transform: scaleX( 0.92 );
	
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;	
}

	


#PlayerList
{
	margin-top: 24px;
	width: 100%;
	height: fit-children;
	margin-bottom: 16px;
}

.PlayerMarker
{
	width: smallPlayerWidth;
	height: 60px;
	margin-bottom: 6px;
	background-color: #151716;
	horizontal-align: center;
	
	background-color: gradient( radial, 65% 50%, 0% 0%, 300px 300px, from( #ff1010 ), to( #212726 ) );
	
	transition-property: width, pre-transform-scale2d, background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;	
}

#Player1 {	background-color: gradient( radial, 65%    0px, 0% 0%, 360px 360px, from( #212726 ), to( #101010 ) ); }
#Player2 {	background-color: gradient( radial, 65%  -70px, 0% 0%, 360px 360px, from( #212726 ), to( #101010 ) ); }
#Player3 {	background-color: gradient( radial, 65% -140px, 0% 0%, 360px 360px, from( #212726 ), to( #101010 ) ); }
#Player4 {	background-color: gradient( radial, 65% -210px, 0% 0%, 360px 360px, from( #212726 ), to( #101010 ) ); }
#Player5 {	background-color: gradient( radial, 65% -280px, 0% 0%, 360px 360px, from( #212726 ), to( #101010 ) ); }

#DireTeam #Player1 { background-color: gradient( radial, 35%    0px, 0% 0%, 360px 360px, from( #212726 ), to( #101010 ) ); }
#DireTeam #Player2 { background-color: gradient( radial, 35%  -70px, 0% 0%, 360px 360px, from( #212726 ), to( #101010 ) ); }
#DireTeam #Player3 { background-color: gradient( radial, 35% -140px, 0% 0%, 360px 360px, from( #212726 ), to( #101010 ) ); }
#DireTeam #Player4 { background-color: gradient( radial, 35% -210px, 0% 0%, 360px 360px, from( #212726 ), to( #101010 ) ); }
#DireTeam #Player5 { background-color: gradient( radial, 35% -280px, 0% 0%, 360px 360px, from( #212726 ), to( #101010 ) ); }

.PlayerMarker.IsCalloutPlayer
{
	width: largePlayerWidth;
	background-color: #333333;
	transition-duration: 0.6s;

}


#Player1.IsCalloutPlayer {	background-color: gradient( radial, 65%    0px, 0% 0%, 360px 360px, from( #4C5E5B ), to( #101010 ) ); }
#Player2.IsCalloutPlayer {	background-color: gradient( radial, 65%  -70px, 0% 0%, 360px 360px, from( #4C5E5B ), to( #101010 ) ); }
#Player3.IsCalloutPlayer {	background-color: gradient( radial, 65% -140px, 0% 0%, 360px 360px, from( #4C5E5B ), to( #101010 ) ); }
#Player4.IsCalloutPlayer {	background-color: gradient( radial, 65% -210px, 0% 0%, 360px 360px, from( #4C5E5B ), to( #101010 ) ); }
#Player5.IsCalloutPlayer {	background-color: gradient( radial, 65% -280px, 0% 0%, 360px 360px, from( #4C5E5B ), to( #101010 ) ); }

#DireTeam #Player1.IsCalloutPlayer { background-color: gradient( radial, 35%    0px, 0% 0%, 360px 360px, from( #4C5E5B ), to( #101010 ) ); }
#DireTeam #Player2.IsCalloutPlayer { background-color: gradient( radial, 35%  -70px, 0% 0%, 360px 360px, from( #4C5E5B ), to( #101010 ) ); }
#DireTeam #Player3.IsCalloutPlayer { background-color: gradient( radial, 35% -140px, 0% 0%, 360px 360px, from( #4C5E5B ), to( #101010 ) ); }
#DireTeam #Player4.IsCalloutPlayer { background-color: gradient( radial, 35% -210px, 0% 0%, 360px 360px, from( #4C5E5B ), to( #101010 ) ); }
#DireTeam #Player5.IsCalloutPlayer { background-color: gradient( radial, 35% -280px, 0% 0%, 360px 360px, from( #4C5E5B ), to( #101010 ) ); }

#AvatarImage
{
	horizontal-align: left;
	vertical-align: center;
	width: 60px;
	height: 60px;
}

.PlayerName
{
	text-shadow: 2px 2px 1px 3.0 #000;
	font-size: 26px;
	margin-left: 72px;
	width: fit-children;
	max-width: 220px;
	height: 36px;
	vertical-align: center;
	color: #aaa;
	transition-property: color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;		
}

.IsCalloutPlayer .PlayerName
{
	color: white;
}
 
.BattlepassLevelText
{
	letter-spacing: 2px;
	font-size: 15px;
	margin-right: 100px;
	width: fit-children;
	height: fit-children;
	vertical-align: center;
	color: #787878;

	horizontal-align: right;
}

.BattlepassBGBase
{
	font-size: 20px;
	margin-right: 5px;
	width: 82px;
	height: 50px;
	vertical-align: center;
	horizontal-align: right;
	box-shadow: #000 -1px -1px 4px 4px;	

	transition-property: background-color, brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;		
}

.EventPointTierNone.BattlepassBGBase
{
	background-color: #333333cc;
	background-color: gradient( radial, 50% 20%, 0% 0%, 150% 120%, from( #2E2E2E ), to( #063B3B00 ) );	
}

.IsCalloutPlayer .BattlepassBGBase
{
	brightness: 3;
}

.BattlepassBGBase.EventPointTierBronze
{
	background-color: gradient( radial, 50% 20%, 0% 0%, 150% 120%, from( #063B3B ), to( #063B3B00 ) );
}

.BattlepassBGBase.EventPointTierSilver
{
 	border: 3px solid #808080cc;
	background-color: gradient( radial, 120% 100%, 0% 0%, 150% 120%, from( #AAB7B9 ), to( #434E33 ) );
	border: 1px solid #9AA7AA;
}


.BattlepassBGBase.EventPointTierGold
{
	background-color: gradient( radial, 110% 90%, 0% 0%, 190% 140%, from( #FFD77C ),  color-stop ( .4, #91683A), to( #3B1607 ) );
	border: 1px solid #C68E4E88;
}


.BattlepassBGBase.EventPointTierPlatinum
{
	background-color: gradient( radial, 110% 90%, 0% 0%, 190% 140%, from( #08E6EC ),  color-stop ( .4, #002127), to( #002329 ) );
	border: 1px solid #15BFD046;
}


.BattlePassLevel
{
	font-size: 28px;
	width: fit-children;
	height: fit-children;
	color: white;
	text-align: center;
	margin-top: 2px;

	horizontal-align: center;
	vertical-align: center;
}

#EventLevelIcon
{
	vertical-align: center;
	height: 26px;
	width: 26px;
	visibility: visible;
	horizontal-align: right;
	margin-right: 74px;
}

.CrestShadow
{
	box-shadow: fill #000c -7px -7px 14px 14px;	
	border-radius: 50%;
	vertical-align: center;
	height: 10px;
	width: 6px;
	visibility: visible;
	horizontal-align: left;
	z-index: 2;
}

.EventPointTierNone .CrestShadow
{
	visibility: collapse;
}

.TowerDisplay
{
	vertical-align: top;
	horizontal-align: center;
	width: 100%;
	height: 100%;
    visibility: collapse;
	z-index: -1;
	opacity: 0;
	saturation: 0;
	contrast: 1.3;

	transition-property: opacity, wash-color, saturation, contrast;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;		
}

.WillShowcaseTowers:not(.TowerShowcase) .TowerDisplay
{
	opacity: 0.0001;
}

.TowerShowcase .TowerDisplay
{
	opacity: 1;
	saturation: 1;
	contrast: 1;
}


 .RadiantVisible #TowerDisplayRadiant
{
	visibility: visible;
}

.DireVisible #TowerDisplayDire
{
	visibility: visible;
}

.BattlePassLevelIconBGBase { background-image: url("s2r://panorama/images/trophies/international2017_battle_pass_level_1_png.vtex");}
.BattlePassLevelIconBGTier1 { background-image: url("s2r://panorama/images/trophies/international2017_battle_pass_level_1_png.vtex");}
.BattlePassLevelIconBGTier2 { background-image: url("s2r://panorama/images/trophies/international2017_battle_pass_level_2_png.vtex");}
.BattlePassLevelIconBGTier3 { background-image: url("s2r://panorama/images/trophies/international2017_battle_pass_level_3_png.vtex");}
.BattlePassLevelIconBGTier4 { background-image: url("s2r://panorama/images/trophies/international2017_battle_pass_level_4_png.vtex");}

