DOTASpecCourierKilledToast
{
	height: fit-children;
	width: 280px;
	flow-children: right;
	margin-bottom: 8px;
	horizontal-align: right;
	flow-children: down;
}

#CourierDeadBG
{
	background-size: cover;
	height: 56px;
	width: 56px;
	horizontal-align: center;
	vertical-align: middle;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	flow-children: down;
}

#CourierDeadHeader
{
	vertical-align: top;
	flow-children: right;
	background-color: #191a1bee;
    border-left: 1px solid #ffffff08;
    border-top: 1px solid #ffffff07;
	width: 100%;
	//background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");
	background-size: cover;
}

#CourierDeadIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_courier_dead_psd.vtex");
	background-size: cover;
	height: 36px;
	width: 36px;
	horizontal-align: center;
	vertical-align: middle;
	margin: 6px 8px 6px 8px;
}

.CourierKillContentPanel
{
	width: 280px;
	horizontal-align: center;
	vertical-align: middle;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d3340dd ), to( #0c0d10aa ) );
	background-size: cover;
    background-position: bottom;
    border-bottom: 1px solid #00000044;
    border-left: 1px solid #ffffff07;
}

.PlayerCourierKilledText
{
	margin-top: 6px;
	height: fit-children;
	font-size: 16px;
	text-shadow: 2px 2px 0px 1.0 #00000066;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	vertical-align: center;
	text-align: center;
}

.CourierTeamKillText
{
	visibility: collapse;
	margin-top: 6px;
	height: 24px;
	font-size: 16px;
	text-shadow: 2px 2px 0px 1.0 #00000066;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	vertical-align: center;
}

.HasNoItems .CourierTeamKillText
{
	margin-top: 10px;
	height: 48px;
	horizontal-align: center;
}

.RadiantTeam.HasItems #CourierKilledRadiant
{
	visibility: visible;
}

.DireTeam.HasItems #CourierKilledDire 
{
	visibility: visible;
}

.RadiantTeam.HasNoItems #CourierKilledRadiantNoItems
{
	visibility: visible;
	height: 50px;
}

.DireTeam.HasNoItems #CourierKilledDireNoItems 
{
	visibility: visible;
}

.LostItemIcon
{
	width: 59px;
	height: 45px;
	margin-right: 4px;
	background-color: #00000000;
}

.LostItemIcon.NoItemValid
{
	visibility: collapse;
}

#CourierKilledItemsContent
{
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 8px;
	margin-left: 4px;
	margin-bottom: 4px;
}

.HasNoItems #CourierKilledItemsContent
{
	visibility: collapse;
}

.ItemsRow
{
	margin-bottom: 4px;
}

.ItemQuantity
{
	color: #F4D769;
	text-shadow: 1px 1px 0px 1.0 #000000;

	width: 20px;
	vertical-align: bottom;
	horizontal-align: right;
	text-align: right;
	margin-right: 2px;
	margin-bottom: -4px;
}

.ItemQuantityInvalid .ItemQuantity
{
	visibility: collapse;
}