DOTAFoundNeutralItemToast
{
	margin-bottom: 8px;
	horizontal-align: right;
	flow-children: right;
	width: 380px;
	background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");
	background-size: cover;
	padding: 8px;
	tooltip-position: left;

	transition-property: brightness;
	transition-duration: 0.2s;
}

DOTANeutralTierToast
{
	margin-bottom: 8px;
	horizontal-align: right;
	flow-children: right;
	width: 380px;
	background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");
	background-size: cover;
	padding: 8px;
	tooltip-position: left;

	transition-property: brightness;
	transition-duration: 0.2s;
}

DOTAFoundNeutralItemToast:hover
{
	brightness: 2.0;
}

#ItemImage
{
	width: 88px;
	height: 64px;
	vertical-align: middle;
	horizontal-align: center;
}

#ItemDetails
{
	flow-children: down;
	vertical-align: middle;
	margin-left: 8px;
	width: fill-parent-flow( 1.0 );
}

#ItemName,
#TierToastHeader
{
	text-transform: uppercase;
	font-size: 18px;
	color: #dedede;

	text-shadow: 2px 2px 4px black;
	letter-spacing: 2px;
	font-weight: semi-bold;
}


.InfoIcon
{
	width: 16px;
	height: 16px;
	wash-color: #ccc;
	margin: 0px 0px 0px 4px;
}

#TierName,
#TierToastFoundLine
{
	font-size: 16px;
	color: #dedede;
	text-shadow: 2px 2px 4px black;
}

#TierToastFoundLine {
	/* font-weight: semi-bold; */
}


#HeroImage
{
	vertical-align: middle;
	width: 32px;
	height: 32px;
	margin-left: 5px;
	margin-bottom: -6px;
	margin-top: -6px;
}

#FoundBy
{
	vertical-align: middle;
	font-size: 16px;
	color: #999;
	text-shadow: 2px 2px 4px black;
	width: 230px;
	height: 20px;
	text-overflow: ellipsis;
}

.TierFound {
	font-size: 12px;
	color: #999;
	text-shadow: 2px 2px 4px black;
	padding-left: 5px;
}

#TierToastFooter {
	font-size: 16px;
	font-style: italic;
	//color: #666;
	text-shadow: 2px 2px 4px black;
}

.TierLabel {
	color: #7F93FC;
	/* color: #ffffff; */
}
