DOTAInternationalHallOfFame
{
	visibility: collapse;
	width: 664px;
	height: 340px;

}

DOTAInternationalHallOfFame.Visible
{
	visibility: visible;
	
}

#StatueBackground
{
	background-image: url("s2r://panorama/images/hud/international_bg_psd.vtex");
	background-size: 100%;	
	width: 332px;
	height: 100%;
	z-index: 1;
	box-shadow: #000000d8 -4px -4px 8px 8px;	
	horizontal-align: right;
}


.HUDFlipped #StatueBackground
{
	horizontal-align: left;
}

#TopBar
{
	width: 100%;
	height: 3%;
	background-image: url("s2r://panorama/images/hud/international_topbar_png.vtex");
	background-size: 100%;
	z-index: 1;
	visibility: collapse;
}

#TopLeftCorner
{
	width: 112px;
	height: 53px;
	background-image: url("s2r://panorama/images/hud/international_topcorner_png.vtex");
	background-size: 100%;
}

#BottomLeftCorner
{
	width: height-percentage( 78.57% );
	height: 142px;
	background-image: url("s2r://panorama/images/hud/international_btmcorner_png.vtex");
	background-size: 100%;
	vertical-align: bottom;
	z-index: -1;
}

#TopRightCorner
{
	width: 112px;
	height: 53px;
	transform: ScaleX(-1);
	background-image: url("s2r://panorama/images/hud/international_topcorner_png.vtex");
	background-size: 100%;
	horizontal-align: right;
}

#BottomRightCorner
{
	width: height-percentage( 78.57% );
	height: 142px;
	transform: ScaleX(-1);
	background-image: url("s2r://panorama/images/hud/international_btmcorner_png.vtex");
	background-size: 100%;
	horizontal-align: right;
	vertical-align: bottom;
	z-index: -1;
}

#BottomCenter
{
	width: height-percentage( 223.16% );
	height: 72px;
	transform: ScaleX(-1);
	background-image: url("s2r://panorama/images/hud/international_btmcenter_png.vtex");
	background-size: 100%;
	horizontal-align: center;
	vertical-align: bottom;
}

#Columns
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#LogoContainer
{
	width: 100%;
	height: 100px;
}


#InternationalLogo
{
	width: height-percentage( 225.70% );
	height: 60%;
	background-image: url("s2r://panorama/images/hud/international_title_png.vtex");
	background-size: 100%;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 16px;
}

#Champions
{
	horizontal-align: center;
	flow-children: down;
	width: 100%;
	//border: 1px solid red;
}

#Year,
#Title
{
	horizontal-align: center;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 16px;
	text-align: center;
	color: #667F85;
	text-shadow: 0px 1px 3px 3.0 #000000;
	//text-overflow: shrink;
	height: 38px;
	letter-spacing: 2px;

}

#Title
{
	margin-left: 4px;
}

.AspectRatio4x3 #Year
{
	font-size: 20px;
}

.AspectRatio4x3 #Title
{
	font-size: 18px;
}


#CurrentChampion
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #222b2e ), to( #141c1f ) );
	text-align: center;
}

#CurrentChampionName
{
	color: #ffffff;
	font-size: 32px;
	font-weight: thin;
	text-align: center;
	horizontal-align: right;
	text-align: right;
	margin-top: 130px;
	padding-right: 16px;
	background-color: gradient( linear, 0% 0%, 90% 0%, from( #00000000 ), to( #000000ff ) );
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #888888 ) );
	padding-left: 16px;
	text-shadow: 0px 1px 8px 8.0 #000000;
}


.AspectRatio4x3 #CurrentChampionName
{
	font-size: 20px;
}

#Country
{
	horizontal-align: right;
	margin-top: 178px;	
}

#CurrentChampionFlag
{
	background-image: url("s2r://panorama/images/hud/winner_flag_cn_psd.vtex");
	background-size: cover;
	width: 28px;
	height: 18px;
}

#CurrentChampionCountry
{
	color: #999999;
	font-size: 16px;
	font-weight: thin;
	text-transform: uppercase;
	margin-left: 8px;
	margin-right: 16px;
}

.AspectRatio4x3 #CurrentChampionCountry
{
	font-size: 14px;
}

#PreviousChampions
{
	vertical-align: bottom;
	width: 100%;
	flow-children: right-wrap;
	horizontal-align: center;
	margin-bottom: 52px;
}

.PreviousChampionLabel
{
	width: 49%;
	color: #667F85;
	padding-left: 20px;
	margin-bottom: -1px;
	text-shadow: 0px 1px 3px 3.0 #000000;
}

.PreviousChampionLabel:hover
{
	color: white;
}

.AspectRatio4x3 .PreviousChampionLabel
{
	font-size: 14px;
	margin-bottom: 0px;
}

.PreviousYear
{
	color: #A0AFB5;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	text-shadow: 0px 1px 3px 3.0 #000000;
}

#DarkStrip
{
	width: 100%;
	height: 100px;
	background-color: #00000066;
	margin-top: 102px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #141c1fce ), to( #070808ce ) );
	border-top: 1px solid #67676755;
	border-bottom: 1px solid #121212;	
}

#3DLogo
{
	width: 250px;
	height: 250px;
	horizontal-align: left;	
	vertical-align: top;	
	margin-top: 48px;
	margin-left: -48px;
}

#HeadTitle
{
	margin-top: 80px;
	horizontal-align: center;
	width: fit-children;
}

#TooltipBackground
{
	width: 332px;
	height: 340px;
	margin-left: 0px;
	background-color: #162024f8;
	//box-shadow: #000000d8 -4px -4px 8px 8px;	
	transform: translateX(62px);
	horizontal-align: left;
	opacity: 0;
	
	transition-property: opacity, transform;
	transition-duration: .18s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

.HUDFlipped #TooltipBackground
{
	margin-left: 332px;
	transform: translateX(-62px);
}

#TooltipBackground.ShowTooltip
{
	transform: translateX(0px);
	transition-duration: .18s;
	opacity: 1;
	transition-delay: .1s;
}

.PlayerNames
{
	vertical-align: middle;
	margin-left: 8px; 
}

.PlayerNames Label
{
	text-align: left;
	horizontal-align: left;
	margin-bottom: 12px;
	font-weight: thin;
}

.PlayerAliases
{
	vertical-align: middle;
	margin-right: 8px; 
}

.PlayerAliases Label
{
	text-align: right;
	horizontal-align: right;
	color: #F1F1F1;
	margin-bottom: 12px;
	font-style: italic;
}

.NameContainer
{
	//height: 100%;
	vertical-align: middle;
	margin-top: 26px;
	flow-children: right;
	opacity: 0;
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: .18s;
	transition-delay: 0s;		
	
}

.TI6 #TI6Winners,
.TI5 #TI5Winners,
.TI4 #TI4Winners,
.TI3 #TI3Winners,
.TI2 #TI2Winners,
.TI1 #TI1Winners
{
	opacity: 1;
}

#TeamLogo
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: height-percentage( 113.63% );
	height: 60px;
	horizontal-align: center;
	margin-top: 10px;

	transition-property: background-image;
	transition-duration: .18s;
}

.TI6 #TeamLogo { background-image: url("s2r://panorama/images/hud/ti_team_wings_psd.vtex"); }
.TI5 #TeamLogo { background-image: url("s2r://panorama/images/hud/ti_team_eg_psd.vtex"); }
.TI4 #TeamLogo { background-image: url("s2r://panorama/images/hud/ti_team_newbee_psd.vtex"); }
.TI3 #TeamLogo { background-image: url("s2r://panorama/images/hud/ti_team_alliance_psd.vtex"); }
.TI2 #TeamLogo { background-image: url("s2r://panorama/images/hud/ti_team_ig_psd.vtex"); }
.TI1 #TeamLogo { background-image: url("s2r://panorama/images/hud/ti_team_navi_psd.vtex"); }

#TooltipCountry
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 32px;
}

#TooltipFlag
{
	background-size: cover;
	width: 28px;
	height: 14px;	
	transition-property: background-image;
	transition-duration: .18s;	
}


.TI6 #TooltipFlag { background-image: url("s2r://panorama/images/hud/winner_flag_cn_psd.vtex"); }
.TI5 #TooltipFlag { background-image: url("s2r://panorama/images/hud/winner_flag_usa_psd.vtex"); }
.TI4 #TooltipFlag { background-image: url("s2r://panorama/images/hud/winner_flag_cn_psd.vtex"); }
.TI3 #TooltipFlag { background-image: url("s2r://panorama/images/hud/winner_flag_sweden_psd.vtex"); }
.TI2 #TooltipFlag { background-image: url("s2r://panorama/images/hud/winner_flag_cn_psd.vtex"); }
.TI1 #TooltipFlag { background-image: url("s2r://panorama/images/hud/winner_flag_ukraine_psd.vtex"); }

.CountryName
{
	visibility: collapse;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 0px;
	margin-left: 4px;
	color: #667F85;
}

.TI6 #TI6Country,
.TI5 #TI5Country,
.TI4 #TI4Country,
.TI3 #TI3Country,
.TI2 #TI2Country,
.TI1 #TI1Country
{
	visibility: visible;
}