DOTAHUDNeutralCampPullTimes
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: visible;	
	flow-children: none;
	z-index: -1;
}

#NeutralCampTextContainer
{
	width: 400px;
	height: 70px;
	flow-children: down;
}

#NeutralCampPullTimes
{
	visibility: collapse;
}

#NeutralCampPullTimes, #NeutralCampPullCountdown, #NeutralCampPullNow
{
	width: 100%;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	horizontal-align: center;	
	text-overflow: shrink;
	color: #f3ff2f;
	text-shadow: 0px 0px 0px 2.5 #00000066;	
}

#NeutralCampPullNow
{
	color: red;
	visibility: collapse;
}

.PullNow #NeutralCampPullNow
{
	visibility: visible;
}

.PullNow #NeutralCampPullCountdown
{
	visibility: collapse;
}

@keyframes 'PullNowPopout'
{
    0%   { pre-transform-scale2d: 1; }
    50%  { pre-transform-scale2d: 1.3; }
    100% { pre-transform-scale2d: 1; }
}