DOTAScoreboardCoaches
{
	margin-left: 10px;
	horizontal-align: left;
	width: 250px;
	height: 680px;
	background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
	background-size: cover;
	flow-children: down;
	opacity: 0;
	visibility: collapse;
	background-color: #000000ff;
	box-shadow: #00000000 -4px -4px 8px 8px;
	transition-property: position, transform, opacity, box-shadow;
	transition-duration: 0.18s;
}

.ScoreboardCoaches DOTAScoreboardCoaches
{
	visibility: visible;
	opacity: 1;
	box-shadow: #000000ff -4px -4px 8px 8px;
}

.TeamCoaches
{
	flow-children: down;
}

.TeamCoachesHeader
{
	flow-children: right;
	background-color: #ffffff06;
}
#RadiantCoaches .TeamCoachesHeader
{
	height: 35px;
}
#DireCoaches .TeamCoachesHeader
{
	height: 38px;
}

.TeamCoachesHeader > Label
{
	vertical-align: middle;
	padding-left: 16px;
	color: #afd2e3;
	font-size: 15px;
	font-weight: bold;
	margin-top: 4px;
	text-align: center;
	text-transform: uppercase;
}

.NoCoachesContainer
{
	width: 100%;
	height: 280px;

	visibility: collapse;
}
.NoCoaches .NoCoachesContainer
{
	visibility: visible;
}

.NoCoachesLabel
{
	vertical-align: middle;
	horizontal-align: center;
	text-transform: uppercase;
	color: #666;
	letter-spacing: 2px;
	font-size: 18px;
}

.TeamCoachesCarousel
{
	height: 280px;
	width: 100%;
}
.NoCoaches .TeamCoachesCarousel
{
	visibility: collapse;
}

.TeamCoachesCarouselNav
{
	vertical-align: middle;
}

.ScoreboardCoach
{
	width: 100%;
	height: 100%;
	flow-children: down;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.ScoreboardCoach.Focused
{
	opacity: 1.0;
}

.BadgeContainer
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	padding-top: 12px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.CoachTier_None .BadgeContainer		{ background-image: url("s2r://panorama/images/coaching/null_coach_popout_bg_png.vtex"); }
.CoachTier_Bronze .BadgeContainer	{ background-image: url("s2r://panorama/images/coaching/bronze_coach_popout_bg_png.vtex"); }
.CoachTier_Silver .BadgeContainer	{ background-image: url("s2r://panorama/images/coaching/silver_coach_popout_bg_png.vtex"); }
.CoachTier_Gold .BadgeContainer		{ background-image: url("s2r://panorama/images/coaching/gold_coach_popout_bg_png.vtex"); }

#CoachRating
{
	horizontal-align: center;
	ui-scale: 110%;
}

.CoachFooter
{
	height: 54px;
	width: 100%;
	flow-children: right;
	background-color: #0009;
}

#PlayerAndHeroNameContainer
{
	width: 122px;
}

#ScoreboardMuteButtons
{
	margin-left: 8px;
}