DOTASpectatorListener
{
	horizontal-align: right;
	height: fit-children;
	transition-property: transform;
	transition-timing-function: ease-out;
	transition-duration: 0.51s;
}

DOTASpecItemRow
{
	background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");
    background-size: cover;
	height: 56px;
	width: 198px;
	flow-children: right;
    margin-bottom: 8px;
	horizontal-align: right;
}

DOTASpecItemGiftRow
{
	background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");
    background-size: cover;
	height: 56px;
	width: 238px;
	flow-children: right;
    margin-bottom: 8px;
	horizontal-align: right;
}

#HeroImage
{
	width: 72px;
	height: 40px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

DOTASpecItemGiftRow #HeroImage
{
	margin-left: 0px;
}

 #SourceHeroImage
 {
	width: 72px;
	height: 40px;
    margin-left: 8px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 8px; 	
 }

#ArrowContainer
{
	width: 54px;
	height: 40px;
    margin: 8px;
}

#ArrowImage
{
	width : 24px;
	height: 24px;
	background-size: 36px 36px;
	background-position: 20% 0%;
	horizontal-align: right;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/hud/reborn/toast_neutral_item_transfer_arrow_png.vtex");
}

#CoinImage
{
	height: 36px;
	width: 36px;
	margin: 10px;
}

#ItemPurchased
{
	width: 54px;
	height: 40px;

    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#ArrowContainer #ItemPurchased
{
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    height: 36px;
    width: 50px;
}