DOTAHUDHeroHealthBars
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: visible;	
}
.Hidden
{
	visibility: collapse;
}

.HeroHealthBar
{
	width: 140px;
	height: 70px;
}

#NameLabel
{
	width: 100%;
	font-family: defaultFont;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	text-overflow: shrink;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffffFF ), to( #222222FF ) );
	text-shadow: 1px 1px 0px 3 #00000066;	
}

.StatusShown #NameLabel
{
	visibility: collapse;
}

#StatusLabel
{
	width: 100%;
	font-family: defaultFont;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 2px;
	text-align: center;
	text-overflow: shrink;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffffff ), to( #bbdaffff ) );
	text-shadow: 2px 2px 0px 3 #00000066;	
	visibility: collapse;
	text-transform: uppercase;
}

.StatusShown #StatusLabel
{
	visibility: visible;
}

#StatusProgress
{
	margin-top: 20px;
	visibility: collapse;
	width: 105px;
	horizontal-align: center;
	height: 3px;
	background-color: #000000ff;
	border-radius: 0px;
	border-width: 0px;
}

.StatusShown #StatusProgress.Hidden
{
	visibility: collapse;
}


.StatusShown #StatusProgress
{
	visibility: visible;
}

#StatusProgress .ProgressBarLeft
{
	background-color: white;
}

#StatusProgress .ProgressBarRight
{
	background-color: #00000000;
}


.HideNameLabel #NameLabel
{
	visibility: collapse;
} 

#HealthBarBG
{
	width: 100%;
	height: 100%;
}

#HealthBarFG
{
	flow-children: down;
	margin-top: 24px;
	border: 1px solid black;
	horizontal-align: center;
	background-color: black;
}

.LocalPlayer #HealthBarFG
{
	border-width: 3px;
	border-top: 0px;
	border-bottom: 0px;
	border-color: yellow;
}

DOTAHeroHealthBarTicks
{
	background-color: #00000000;
	width: 100%;
	height: 100%;
}

.EnemyTeam #HealthBarFG 
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #110000FF ), to( #440000FF ) );
}

.FriendlyTeam #HealthBarFG 
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #001100FF ), to( #004400FF ) );
}


.LocalPlayer #HealthBarFG
{
	margin-top: 0px;
}

#HPBarContainer
{
	width: 105px;
	horizontal-align: center;
	height: 10px;
}

#HPBar
{
	width: 100%;
	height: 100%;
	border-width: 0px;
	border-radius: 0px;
	background-color: #00000000;
	margin-bottom: 0px;
}

#HPBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #79ac43FF ), to( #689339FF ) );
}

.Highlighted #HPBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffffFF ), to( #689339FF ) );
}


.EnemyTeam #HPBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #da3700FF ), to( #921a00FF ) );
}

.Highlighted.EnemyTeam #HPBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffffFF ), to( #689339FF ) );
}

#HPBar .ProgressBarRight
{
	background-color: #00000000;
}

#HPDamageBar
{
	width: 100%;
	height: 100%;
	border-width: 0px;
	border-radius: 0px;
	background-color: #00000000;
	margin-bottom: 0px;
}

#HPDamageBar .ProgressBarLeft
{
	background-color: white;
}

#HPDamageBar .ProgressBarRight
{
	background-color: #00000000;
}


#ManaBar
{
	width: 105px;
	horizontal-align: center;
	height: 6px;
	border-width: 0px;
	border-top-width: 2px;
	border-radius: 0px;
	margin-top: -1px;
}

.EnemyTeam #ManaBar
{
	visibility: collapse;
}

#ManaBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5555FFFF ), to( #444455FF ) );
}

#ManaBar .ProgressBarRight
{
	background-color: black;
}

