DOTAAbilityList
{
	flow-children: right;
	width: 430px;
	min-height: 118px;
	padding-left: 8px;
}

DOTAAbilityPanel
{
	width: fill-parent-flow( 1.0 );
	margin-left: -4px;
	margin-right: -4px;
}

.FiveAbilities DOTAAbilityPanel
{
	margin-top: 8px;
}

DOTAAbilityList.FiveAbilities
{
	transform: translateX( -4px );
}

.SixAbilities DOTAAbilityPanel
{
	margin-top: 10px;
}

DOTAAbilityList.SixAbilities
{
	transform: translateX( -5px );
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn DOTAAbilityList
{
	flow-children: right;
	width: fit-children;
	min-height: 80px;
	padding-left: -2px;
    padding-right: -2px;
	
}

.Reborn #abilities
{
	margin-bottom: 56px;
	margin-bottom: 46px;
	margin-bottom: 40px;
}

.Reborn #QueryUnit #abilities
{
	margin: 0px;
	margin-bottom: 8px;
	horizontal-align: center;
	
}


.Reborn DOTAAbilityPanel
{
	width: 72px;
	margin-left: 0px;
	margin-right: 0px;	
}

.AspectRatio5x4.SixAbilities.Reborn DOTAAbilityPanel,
.AspectRatio4x3.SixAbilities.Reborn DOTAAbilityPanel
{
	width: 64px;
}

.AspectRatio5x4.FiveAbilities.Reborn DOTAAbilityPanel,
.AspectRatio4x3.FiveAbilities.Reborn DOTAAbilityPanel
{
	width: 68px;
}



.Reborn .npc_dota_hero_morphling.HasMorph #Ability2,
.Reborn .npc_dota_hero_morphling.HasMorph #Ability3
{
	width: 44px;
}

.Reborn .npc_dota_hero_rubick.HasMorph #Ability3,
.Reborn .npc_dota_hero_rubick.HasMorph #Ability4
{
	width: 44px;
}


.Reborn.FiveAbilities DOTAAbilityPanel
{
	margin-top: 0px;
}

.Reborn.SixAbilities DOTAAbilityPanel
{
	margin-top: 0px;
}

//----------------------------------------------------------------------
// Reborn Query

.Reborn .QueryUnit DOTAAbilityList
{
	min-height: 28px;
	padding-left: 0px;
    padding-right: 0px;
    margin-right: 4px;
    margin-bottom: 8px;

}

.Reborn .QueryUnit DOTAAbilityPanel
{
	width: 39px;
	height: 39px;
	margin-left: 3px;
	margin-right: 3px;
}

.Reborn .QueryUnit DOTAAbilityPanel.Hidden
{
	width: 0px;
	margin: 0px;
}
