DOTAHUDNeutralCampPullTimes
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: collapse;	
	flow-children: none;
	z-index: -1;
}

DOTAHUDNeutralCampPullTimes.AltPressed
{
	visibility: visible;
}

.Hidden
{
	visibility: collapse;
}

.NeutralCampTextContainer
{
	width: 500px;
	height: 270px;
	flow-children: down;
}

#PullTimers
{
	width: fit-children;
	height: 200px;
	flow-children: right;
	horizontal-align: center;
}

.FlipStackAndPull #PullTimers
{
	flow-children: left;
}

#NeutralCampName,
#NeutralCampPullCountdown,
#NeutralCampPullNow,
#NeutralCampStackCountdown,
#NeutralCampStackNow
{
	width: 100%;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	horizontal-align: center;	
	text-overflow: shrink;
	color: #f3ff2f;
	text-shadow: 0px 0px 0px 2.5 #00000066;	
}

.TitleLabel
{
	font-size: 18px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	horizontal-align: center;
}

.TimeLabel,
.NowLabel
{
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-shadow: 0px 0px 0px 2.0 white;

	vertical-align: bottom;
	horizontal-align: center;
}

#NeutralCampName
{
	visibility: collapse;
}

.ShowSpawnCampNames #NeutralCampName
{
	visibility: visible;
}

#NeutralCampStackNow,
#NeutralCampPullNow
{
	color: red;
	visibility: collapse;
}

.StackNow #NeutralCampStackNow
{
	visibility: visible;
}

.StackNow #NeutralCampStackCountdown,
.PullNow #NeutralCampPullCountdown
{
	visibility: collapse;
}

@keyframes 'PullNowPopout'
{
	0%		{ pre-transform-scale2d: 1; }
	50%		{ pre-transform-scale2d: 1.3; }
	100%	{ pre-transform-scale2d: 1; }
}

.Timer
{
	width: 100px;
	height: 110px;
	margin: 10px;
}

.Timer.StackTimer
{
}

.Timer.PullTimer
{
	visibility: collapse;
}

.CanPullCamp .Timer.PullTimer
{
	visibility: visible;
}

.ProgressBar
{
	width: 80px;
	height: 80px;
	horizontal-align: center;
	vertical-align: top;

	margin-top: 20px;
}

.BackgroundImage
{
	width: 55px;
	height: 55px;
	horizontal-align: center;
	vertical-align: top;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 32px;
}

.PullTimer .BackgroundImage
{
	background-image: url("s2r://panorama/images/hud/icon_pull_png.vtex");
}

.StackTimer .BackgroundImage
{
	background-image: url("s2r://panorama/images/hud/icon_stack_png.vtex");
}

.NowLabel
{
	visibility: collapse;
}

.PullNow .PullTimer .NowLabel,
.StackNow .StackTimer .NowLabel
{
	visibility: visible;
}

.TimeLabel
{
	visibility: visible;
}

.PullNow .PullTimer .TimeLabel,
.StackNow .StackTimer .TimeLabel
{
	visibility: collapse;
}

#StackProgressBar_FG,
#PullProgressBar_FG
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 5px solid #ffd952;
	z-index: 50;
	transition-property: clip;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

#PullProgressBar_FG
{
	border: 5px solid #87ff5c;
}

#StackProgressBar_BG,
#PullProgressBar_BG
{
	width: 100%;
	height: 100%;
	width: 96%;
	height: 96%;
	border-radius: 50%;
	border: 2px solid #FFFFFF2F;
	z-index: 40;
	background-color: #FFFFFF0A;
	horizontal-align: center;
	vertical-align: center;
}