DOTARiverVial
{
	flow-children: down;
	width: 270px;
    height: 110px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .5s;
    transform: scaleX( -1.0 );
}

.HUDFlipped DOTARiverVial
{
    transform: scaleX( 1.0 );
}

DOTARiverVial.RiverVialsActive
{
    opacity: 1;
}

#RiverVialSlideout
{
    width: 100%;
    height: 100%;
    flow-children: right;

    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transform: translateX( 0px );
}

#RiverVialSlideout.DrawerClosed
{
    transform: translateX( -246px );
}

.RiverVialContents
{
    width: fill-parent-flow( 1.0 );
    height: 100%;
    transform:scaleX( -1.0 );
	background-color: backgroundMediumColor;
    flow-children: down;
}

.HUDFlipped .RiverVialContents
{
    transform: scaleX( 1.0 );
}

.RiverVialThumb
{
    width: 24px;
    height: 60px;
    vertical-align: center;
	background-color: accentColorSectionBG;
}

.PanelSlideThumbArrow
{
	wash-color: black;
}

.RiverVialThumb:hover
{
	/* TI7*/
	background-color: accentColor&dd;
}


.RiverVialButtonContainer
{
    width: fit-children;
    horizontal-align: center;
    height : 40px;
    flow-children: right;   
    margin-bottom: 4px; 
}

.RiverVialTitle
{
    margin-top: 3px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	text-overflow: shrink;
	color: white;
    font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
    font-weight: bold;
    font-size: 14px;
	text-shadow: 1px 1px 0px 3 #00000066;
    letter-spacing: 2px;
}

/* Buttons */
.RiverVialButton
{
    width: height-percentage( 100% );
    brightness: 1.01;   /* force a composition layer */
    height: 100%;
    margin-left: 3px;
    margin-right: 3px;   
	transition-property: brightness;
 	transition-duration: .3s;
    tooltip-position: bottom;
}

.RiverVialButton:disabled
{
	saturation: 0;
	wash-color: #999999;
}

.RiverVialButton:enabled:hover
{
    brightness: 1.6;
}

#VialImage
{
    width: 160%;
    height: 100%;
    overflow: noclip;
    horizontal-align: center;
}

.VialLockIcon
{
    vertical-align: center;
    horizontal-align: center;
    width: 75%;
    height: 75%;
	background-image: url("s2r://panorama/images/control_icons/lock_small_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
    visibility: collapse;
}

.VialLocked .VialLockIcon
{
    visibility: visible;
}

.VialBevel
{
	width: 100%;
	height: 100%;	
	background-image: url("s2r://panorama/images/hud/reborn/ability_bevel_psd.vtex");	
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 1;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00FF0000 ), to( #00FF0000 ) );	
	visibility: visible;	
	
	transition-property: brightness, background-color;
	transition-duration: .12s;
	transition-timing-function: ease-in;	
}
