DOTAHUDCommonItems
{
    padding: 6px 5px 8px 9px;
	flow-children: down;
    background-color: #181818;
}

#CommonItemTitleContainer
{
	width: 100%;
}

.CommonItemsTitle
{
	text-transform: uppercase;
	font-size: 15px;
	color: #5b6872;
	margin-bottom: 3px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	width: fill-parent-flow(1.0);
}

#ItemList
{
	flow-children: right-wrap;
	horizontal-align: center;
}

DOTAShopItem
{
	width: 42px;
	height: width-percentage( 72.7% );
	margin-bottom: 6px;
	margin-right: 6px;
}

#CommonItemTitleContainer
{
	flow-children: right;
	margin-bottom: 3px;
}

#EditButton
{
    width: 22px;
    height: 22px;
    horizontal-align: right;
    vertical-align: center;
    background-image: url("s2r://panorama/images/control_icons/edit_pencil_psd.vtex");
    background-size: 72%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    wash-color: #798b99;
    tooltip-position: top;
}

#EditButton:hover
{
	wash-color: none;
}

.EditCommonItemsMode DOTAHUDCommonItems
{
	box-shadow: inset #0B93BE44 6px 6px 12px 12px;
}


DOTAShopItem.EditModeDestination
{
    background-color: #00000066;
    border: 1px solid #ffffff66;
}
