DOTAStatsRegion
{
	opacity: 1;
    visibility: collapse;
    background-color: black;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;	
}


DOTAStatsRegion.ShowDamageArmorMovement
{
    visibility: visible;
}

#Aligner
{
    flow-children: down;
    width: 100%;
	height: 100%;
	vertical-align: bottom;
}

#StatDrawerTopRight #Aligner
{
	flow-children: right;
}


#ArmorLabelContainer
{
	width: 100%;
}




.StatRegionLabel.StatPositive
{
	color: #45DD3B;
}

.AnimatingUp .StatRegionLabel.StatPositive
{
	color: #A5FF9B;
}

.StatRegionLabel.StatNegative
{
	color: #FF3300;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn DOTAStatsRegion
{
	width: 100%;
	height: fit-children;
	opacity: 1;
	background-color: none;
}

.Reborn.CustomHUDSkin DOTAStatsRegion
{
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #0000 ), color-stop( 0.8, #000c ), to( #000f ) );		
}

.HUDFlipped DOTAStatsRegion
{
    transform: ScaleX(-1);
}
.Reborn #Aligner
{
    flow-children: down;
    horizontal-align: right;
    min-width: 208px;
	margin-left: 0px;
	//margin-right: 2px;
	//border: 1px solid green;
	margin-right: 5px;
	margin-top: 4px;
}

.StatIcon
{
	background-repeat: no-repeat;
    background-size: cover;
	horizontal-align: left;
	opacity: 0.5;
}

#DamageIcon 
{
    width: 14px;
    height: 14px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_damage_psd.vtex");
    vertical-align: top;
	margin-top: 4px;    
}

#AttackSpeedIcon
{
    width: 14px;
    height: 14px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_attack_speed_psd.vtex");
    vertical-align: top;
	margin-top: 4px;    
}

#Damage
{
	margin-bottom: 2px;
}

#Armor
{
	margin-bottom: 2px;
}

#MoveSpeed
{
	margin-bottom: 2px;
}

.Reborn #ArmorIcon
{
    width: 14px;
    height: 14px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex");
    margin-top: 4px;
}

.Reborn #MagicResistanceIcon
{
    width: 14px;
    height: 14px;	
	background-image: url("s2r://panorama/images/hud/reborn/icon_magic_resist_psd.vtex");
	margin-top: 4px;
}	

.Reborn #MoveSpeedIcon
{
    width: 14px;
    height: 16px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_speed_psd.vtex");
    vertical-align: middle;
	horizontal-align: center;
    margin-top: 0px;
	//margin-right: 1.5px;
}



.StatRegionLabel
{
    font-size: 14px;
    font-weight: medium;
	letter-spacing: 0px;
    color: #ccc;
	text-align: left;
    horizontal-align: right;
    margin-top: 3px;
    text-shadow: 0px 0px 4px 4 #00000088;
	
    font-family: RadianceM;
	
	transition-property: transform, opacity, width, pre-transform-scale2d;
	transition-duration: 0.12s;
	transition-timing-function: ease-in-out;	

	color: #ccc;	
}

.StatModifier
{
	width: 0px;
	opacity: 0;
	transition-duration: 0.12s;	
	font-weight: normal;
	pre-transform-scale2d: 1;
}

.AnimatingUp.StatModifier
{
	pre-transform-scale2d: 1.25;
	text-shadow: 0px 0px 2px 3 #33993366;
}

.BaseLabel
{
	opacity: 0;
	width: 0px;
}

.ShowSplitLabels .BaseLabel,
.ShowSplitLabels .StatModifier
{
	opacity: 1;
}

.ShowSplitLabels .StatModifier
{
//	transform: translateY(14px);
	width: fit-children;
	text-align: left;
	margin-left: 2px;
}

.ShowSplitLabels .BaseLabel
{
//	transform: translateY(14px);
	width: fit-children;
	text-align: right;
}

.ShowSplitLabels .CombinedLabel
{
	opacity: 0;
	width: 0px;
}


.LabelColumn
{
	height: 36px;
	height: fit-children;
    //padding-left: 2px;
	flow-children: right;
}

.StatIconLabel
{
	height: fill-parent-flow( 1.0 );
	//border: 1px solid red;
	flow-children: right;
	padding-left: 0px;
	horizontal-align: right;

	transition-property: width;
	transition-duration: 0.22s;
	transition-timing-function: ease-in-out;		
	
}

.Reborn #ArmorLabelContainer
{
    flow-children: none;
    horizontal-align: left;
    width: fit-children;
    font-family: RadianceM;
}

#StatContainer
{
    horizontal-align: right;
    flow-children: down;
}

.HUDFlipped #StatContainer
{
    transform: ScaleX(-1);
	horizontal-align: left;
}

.DamageLabelContainer
{
	
}

#PhysicalDamageResist
{
	visibility: collapse;
}

.AltPressed #PhysicalDamageResist
{
	visibility: visible;
}

.AltPressed #DamageLabelContainer, .AltPressed #ArmorModifierLabel, .AltPressed #ArmorLabelBase
{
	visibility: collapse;
}