DOTASpectatorGraph
{
	visibility: visible;
	background-color: #000000dd;
}

DOTASpectatorGraph.Hidden
{
	visibility: collapse;
}

#GraphContainer
{
	width: 100%;
	height: 100%;
	
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 65px;
	margin-bottom: 190px;
	background-color: black;
}

#GraphCanvas
{
	width: 100%;
	height: 100%;
	opacity: 1.0;
}

#EventsContainer
{
	background-color: #262626;
	width: 100%;
	height: 30px;
	margin-bottom: 160px;
	vertical-align: bottom;
	margin-left: 25px;
	margin-right: 25px;
}

#Title
{
	font-size: 35px;
	color: white;
	text-transform: uppercase;
	margin-left: 25px;
	margin-top: 15px;
}

#TeamTotalsTitle
{
	font-size: 32px;
	color: white;
	text-transform: uppercase;
	margin-left: 25px;
	vertical-align: bottom;
	margin-bottom: 70px;
}

#TeamTotals
{
	flow-children: right;
	vertical-align: bottom;
	margin-left: 25px;
	margin-bottom: 15px;
}

.TeamTotalColumn
{
	flow-children: down;
	min-width: 150px;
}

#RadiantTotalHeader
{
	color: #9BE40CFF;
	font-size: 20px;
}

#DireTotalHeader
{
	color: #E74D08FF;
	font-size: 20px;
}

.TeamTotalValueRow
{
	flow-children: right;
}

.GoldIcon
{
	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
	background-size: 100% 100%;
	width: 25px;
	height: 25px;
	visibility: collapse;
	margin-right: 5px;
}

.ShowingGoldGraph .GoldIcon
{
	visibility: visible;
}

.TeamTotalValueLabel
{
	font-size: 20px;
	margin-top: 2px;
	color: #accdda;
}

.ShowingGoldGraph .TeamTotalValueLabel
{
	color: #FFCC00;
}

.GraphYAxisLabel
{
	width: 100%;
	color: #505050;
	text-align: right;
	visibility: collapse;
	padding-top: 1px;
	padding-bottom: -2px;
}

DOTASpectatorGraph .DotaPlusIconSmall
{
	width: 32px;
	height: 37px;
	
	background-size: 100%;

	margin-left: 28px;
	margin-top: 16px;

	visibility: collapse;
}

DOTASpectatorGraph.IsWinChance .DotaPlusIconSmall
{
	visibility: visible;
}

.DetailsBasicGraphsLines1 #DetailsBasicGraphsTopY1,
.DetailsBasicGraphsLines2 #DetailsBasicGraphsTopY1,
.DetailsBasicGraphsLines3 #DetailsBasicGraphsTopY1,
.DetailsBasicGraphsLines1 #DetailsBasicGraphsBottomY1,
.DetailsBasicGraphsLines2 #DetailsBasicGraphsBottomY1,
.DetailsBasicGraphsLines3 #DetailsBasicGraphsBottomY1
{
	visibility: visible;
}

.DetailsBasicGraphsLines2 #DetailsBasicGraphsTopY2,
.DetailsBasicGraphsLines3 #DetailsBasicGraphsTopY2,
.DetailsBasicGraphsLines2 #DetailsBasicGraphsBottomY2,
.DetailsBasicGraphsLines3 #DetailsBasicGraphsBottomY2
{
	visibility: visible;
}

.DetailsBasicGraphsLines3 #DetailsBasicGraphsTopY3,
.DetailsBasicGraphsLines3 #DetailsBasicGraphsBottomY3
{
	visibility: visible;
}

#DetailsBasicGraphsTopTeam, #DetailsBasicGraphsBottomTeam
{
	font-size: 20px;
	margin-left: 7px;
	font-weight: bold;
	letter-spacing: 1px;
}

#DetailsBasicGraphsTopTeam
{
	color: #9BE40CFF;
	margin-top: 7px;
}

#DetailsBasicGraphsBottomTeam
{
	color: #E74D08FF;
	margin-bottom: 7px;
	vertical-align: bottom;
}

#GraphTimeline
{
	width: 100%;
	flow-children: right;
	vertical-align: bottom;
	margin-bottom: 120px;
	height: 30px;
	margin-left: 12px;
	margin-right: 12px;
}

.TimelineLabel
{
	font-size: 16px;
	color: white;
	min-width: 45px;
	text-align: center;
}

.TimelineSpacer
{
	width: fill-parent-flow( 1.0 );
}

#CloseButton
{
	width: 20px;
	height: 20px;
	horizontal-align: right;
	vertical-align: top;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 8px;
    margin-right: 8px;
    wash-color: #888888;
}

#CloseButton:hover
{
	wash-color: #bbbbbb;
}

#CloseButton:active
{
	wash-color: #666666;
}

.RadiantEvent
{
	width: 12px;
	height: 12px;
	margin-left: -6px;
	margin-top: 2px;
	background-color: #9BE40CFF;
	border-radius: 1px;
	border: 1px solid black;
	tooltip-position: top;
	tooltip-body-position: 50% 100%;
}

.DireEvent
{
	width: 12px;
	height: 12px;
	margin-left: -6px;
	margin-top: 15px;
	background-color: #E74D08FF;
	border-radius: 1px;
	border: 1px solid black;
	tooltip-position: top;
	tooltip-body-position: 50% 100%;
}
