@import url("file://{resources}styles/battle_pass/current_battle_pass.css");

DOTAPlayerSaluteToast
{
	flow-children: none;
    margin-bottom: 8px;
	horizontal-align: right;
	flow-children: right;
}

.ToastPlayer
{
	margin: 8px 8px 4px 8px;
	flow-children: down;
}

.ToastPlayer > Label
{
	width: 107px;
	height: 22px;
	text-align: center;
	font-size: 16px;
	text-shadow: 1px 1px 0px black;
	margin-top: 2px;
}

DOTAHeroImage
{
	width: 107px;
	height: 60px;
	border: 1px solid black;	
}

#SaluteAction
{
	flow-children: down;
	vertical-align: middle;
	margin-bottom: 24px;
}

#SaluteText
{
	vertical-align: middle;
	text-align: center;
	color: textColoredBrightColor;
	text-transform: uppercase;
	margin-top: 4px;
	letter-spacing: 1px;
}

.PlusShardTipping #SaluteText
{
	color: white;
}

#TipAmount
{
	flow-children: right;
	horizontal-align: center;
	margin: 0px 8px;
}

#TipIcon
{
	width: 24px;
	height: 24px;
	margin-right: 2px;
	vertical-align: middle;

	background-image: bp_total_points;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.PlusShardTipping #TipIcon
{
	background-image: url("s2r://panorama/images/dota_plus/currency_icon_png.vtex");
}

#TipValue
{
	color: textColoredVeryBrightColor;
	vertical-align: middle;
	font-weight: bold;
}

.PlusShardTipping #TipValue
{
	color: white;
}