DOTASharedContent
{
	horizontal-align: left;
	vertical-align: center;
	width: 340px;
	height: 900px;
	margin-left: 342px;
	background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
    background-size: cover;
	
	opacity: 0;
	
	padding: 12px;
	padding-left: 16px;

	background-color: #000000e8;
	box-shadow: #00000000 -4px -4px 8px 8px;
	
	transform: translateX( 0 );
	transition-property: position, transform, opacity, box-shadow;
	transition-duration: 0.18s;
}

.SharedContent DOTASharedContent
{
	opacity: 1;
	transform: translateX( 340px );
	box-shadow: #000000ff -4px -4px 8px 8px;
}

#SharedContentHeader
{
	width: 100%;
	height: 30px;
}

#SharedContentTitle
{
	color: white;
	font-size: 22px;
	letter-spacing: 1.5px;
	vertical-align: center;
	margin-top: 4px;
}

#SharedContentCloseButton
{
	horizontal-align: right;
	margin: 0px;
}

#SharedContentContents
{
	height: 100%;
	width: 100%;
	overflow: clip scroll;
}

.SharedContentCategoryHeader
{
	color: white;
	font-size: 16px;
	letter-spacing: 1.5px;
	vertical-align: center;
}

.SelectItem
{
	margin: 5px;
	horizontal-align: center;
	vertical-align: center;
}

.SharedContentItemImage
{
	width: 61px;
	height: 40px;
	margin: 5px;
	background-color: #00000066;
	background-image: url("s2r://panorama/images/textures/dota_logo_small_psd.vtex");
    background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}

.SharedContentItemLabel
{
	color: white;
	font-size: 16px;
	margin-left: 5px;
	margin-top: 5px;
	horizontal-align: left;
	vertical-align: top;
}


#SharedContentCredit
{
	color: #fff4;
	font-size: 12px;
	vertical-align: bottom;
	margin-bottom: 10px;
	margin-left: 5px;
	horizontal-align: left;
}

.Default #SharedContentCredit
{
	opacity: 0;
}