
DOTAKillGraph
{
	width: 700px;
	height: 370px;

	horizontal-align: center;
	vertical-align: top;

	margin-top: 200px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from ( #373737 ), to ( #171717 ) );
	border-radius: 8px;
	border: 2px solid #000000;

	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

DOTAKillGraph.ShowGraph
{
	opacity: 1.0;
}

#CloseButton
{
	horizontal-align: right;
	vertical-align: top;
}

#Title
{
	vertical-align: top;
	horizontal-align: left;

	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	color: white;

	margin-left: 14px;
	margin-top: 4px;
}

#GraphContainer
{
	width: 680px;
	height: 254px;

	vertical-align: top;
	horizontal-align: center;

	margin-top: 34px;

	background-color: black;
	border: 1px solid #222222;

	overflow: scroll squish;

}

#Details
{
	width: 680px;
	height: 60px;

	vertical-align: bottom;
	horizontal-align: center;

	margin-bottom: 8px;

	background-color: black;
	border: 1px solid #222222;

	flow-children: right;
}

#Details #Hero
{
	height: 100%;
	width: height-percentage( 170% );
}

#Details #Content
{
	height: 100%;

	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;

	flow-children: right;
}

.NoHover #Details #Content
{
	opacity: 0;
}

#Details #Ability
{
	margin-left: 22px;
	margin-right: 2px;

	height: 100%;
	width: height-percentage( 100% );
}

#Details #Numbers
{
	vertical-align: center;
}

#Details .Value
{
	margin-left: 20px;
	vertical-align: center;

	text-transform: uppercase;
	color: #DDDDDD;
}

#Details #Damage,
#Details #Healing
{
	visibility: collapse;

}

.IsDamage #Details #Damage,
.IsHeal #Details #Healing
{
	visibility: visible;
}

.HealthPanel
{
	background-color: #3b902e44;
	
	border-top: 1px solid #72d06444;
}

.HealthBorder
{
	background-color: #72d06444;
}

.MouseoverPanel:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.4, #FF000000 ), color-stop( 0.5, #FFFFFFFF ), color-stop( 0.6, #FF000000 ), to( #FFFFFF00 ) );
}

.MajorLine
{
	background-color: #272727;
}

.MinorLine
{
	background-color: #171717;
}