@keyframes 'ShrinkAnimation'
{
    0%   { pre-transform-scale2d: 1; }
	50%   { pre-transform-scale2d: 0.5; }
    100% { pre-transform-scale2d: 0.5; }
}

DOTAPaused
{
	width: 850px;
	height: 850px;
	horizontal-align: center;
	margin-top: 350px;
	margin-bottom: 30px;
	z-index: -1;
}

DOTAPaused.MinigameVisible
{
	margin-top: 50px;
	width: 1200px;
}
#PausedContainer
{
	width: 400px;
	height: 100px;
	vertical-align: top;
	horizontal-align: center;
	background-color: #000000cc;
	//background-color: #9F000070;
	border-radius: 5px;
	flow-children: right;
}

.Hidden
{
	visibility: collapse;
}

#PausedCountdownLabel
{
	horizontal-align: center;
	margin-top: -70px;
	margin-right: 285px;
	font-size: 200px;
	color: white;
	overflow: noclip;
}

#PausedCountdownLabel.ShrinkCountdown
{
	animation-name: ShrinkAnimation;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

#PausedLabel
{
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	font-size: 28px;
	color: white;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.PausedTextMoved
{
	transform: translateX(25px) translateY(0px);
}

#TipContainer
{
	margin-top: 120px;
	width: 100%;
	height: 110px;
	//background-color: #000022dd;
	background-color: gradient( linear, 0% 50%, 100% 50%, color-stop(0.0, #0000 ), color-stop(0.15, #000022dd), color-stop(0.85, #000022dd), color-stop(1.0, #00000000 ) );

	border-radius: 5px;
	padding: 8px;
	horizontal-align: center;
}

.IsLocalPlayerSpectating #PrevTip,
.IsLocalPlayerSpectating #NextTip,
.IsLocalPlayerSpectating #TipContainer
{
	visibility: collapse;
}

.IsLocalPlayerLiveSpectating #TipContainer
{
	visibility: visible;
}

.HideTips #TipContainer
{
	visibility: collapse;
}

#TipText
{
	margin-right: 10px;
	margin-left: 10px;
	max-width: 750px;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	text-overflow: shrink;
	color: #ffffff;
	font-size: 21px;
}

.TipButton
{
	width: 36px;
	height: 36px;
	min-width: 0px;
	min-height: 0px;
	background-size: 80% 80%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	wash-color: white;
}

.TipButton:hover
{
	wash-color: #aaaaaa;
}

.TipButton:active
{
	wash-color: white;
	pre-transform-scale2d: 0.9;
}

#PrevTip
{
	margin-top: 156px;
	margin-left: 5px;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
}


#NextTip
{
	margin-top: 156px;
	margin-right: 5px;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
}

.HideTips #PrevTip, .HideTips #NextTip
{
	visibility: collapse;
}

#PausedGameContainer
{
	visibility:collapse;
}

.MinigameVisible #PausedGameContainer
{
	visibility:visible;
	margin-top:120px;
	horizontal-align:center;	
	width:100%;
	
}
#PausedBackground
{
	width:1000px;
	height:100%;
	background-color: black;
	opacity:0.8;
}
.MinigameVisible #TipContainer,
.MinigameVisible #PrevTip,
.MinigameVisible #NextTip
{
	visibility: collapse;
}

#PausedInfo.MinigameVisible
{
	width:100%;
}
