@import url("file://{resources}styles/battle_pass/current_battle_pass.css");

DOTABountyToast
{
	margin-bottom: 8px;
	horizontal-align: right;
	flow-children: right;
	width: 450px;
	background-image: url("s2r://panorama/images/hud/reborn/bounty_bg_psd.vtex");
	background-size: cover;
	padding: 8px;
	tooltip-position: left;
	height: 84px;

	transition-property: brightness;
	transition-duration: 0.2s;
}

.HeroSection #HeroImage
{
	vertical-align: middle;
	width: 114px;
	height: 64px;
	margin-top: 2px;
	margin-left: 2px;
	box-shadow: 0px 0px 8px #00000088;
}

.IsExpired .HeroSection #HeroImage,
.IsExpired .HeroSection .BountyAmountContainer
{
	brightness: 0.2;
}

.HeroSection .BountyAmountContainer
{
	width: 38px;
	height: 38px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: -4px;
	margin-bottom: -4px;
	border-radius: 50%;
	border: 1px solid #E5C56F;
	background-color: black;
	flow-children: down;
}

.HeroSection .BountyAmountContainer .BountyAmount
{
	horizontal-align: center;
	margin-top: 4px;
	font-size: 13px;
	color: white;
}

.HeroSection .BountyAmountContainer #BattlePointsIcon
{
	width: 16px;
	height: 16px;
	transform: translateY( -4px );
	overflow: clip;
	background-image: bp_total_points;
	background-size: cover;
	horizontal-align: center;
}

.BountyText 
{
	width: fill-parent-flow( 1.0 );
	flow-children: down;
	margin-left: 14px;
	vertical-align: center;
}

.BountyText .Top
{
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 5px black;
	vertical-align: bottom;
	margin-bottom: 4px;
	text-overflow: shrink;
}

.BountyText .Bottom
{
	font-size: 20px;
	color: white;
	text-shadow: 0px 0px 5px black;
}

.BountyText .BountyIcon
{
	width: 24px;
	height: 24px;
	margin-bottom: -3px;
	margin-top: 0px;
	margin-bottom: -6px;
	margin-right: 4px;
	transform: translateY( 2px );
}

.BountyText .BountyTypeStart,
.BountyText .BountyTypeReminder,
.BountyText .BountyTypeExpired,
.BountyText .BountyTypeCompletedSelf,
.BountyText .BountyTypeCompletedOther
{
	visibility: collapse;
}

.IsStart .BountyText .BountyTypeStart,
.IsReminder .BountyText .BountyTypeReminder,
.IsExpired .BountyText .BountyTypeExpired,
.IsCompletedSelf .BountyText .BountyTypeCompletedSelf,
.IsCompletedOther .BountyText .BountyTypeCompletedOther
{
	visibility: visible;
}

