DOTAHeroPickingHeroIcon
{
	overflow: noclip;
}


#ForegroundHeroImage
{
	width: 95%;
	height: 95%;
}

DOTAHeroPickingHeroIcon.HeroPlacedOnMap #ForegroundHeroImage
{
	wash-color: #440000ff;
	saturation: 0;
}

DOTAHeroPickingHeroIcon.HeroPlacedOnMap.AllyHero #ForegroundHeroImage
{
	wash-color: #004400ff;
	saturation: 0;
}

#BackgroundHeroImage
{
	width: 95%;
	height: 95%;
	texture-sampling: alpha-only;
	blur: gaussian( 1 );
	pre-transform-scale2d: 1.05;
    opacity: 0.6;
	padding: 0px;
}

.AllyHero #BackgroundHeroImage
{
	wash-color: #00ff00;
}

.AllyHero.LocalPlayerHero #BackgroundHeroImage
{
	//wash-color: white;
	blur: gaussian( 0.5 );
	pre-transform-scale2d: 1.01;
	opacity: 2;
}

.EnemyHero #BackgroundHeroImage
{
	wash-color: #ff0000;
}

.HeroPickTentative #BackgroundHeroImage
{
	wash-color: black;
	blur: gaussian( 2 );
	margin-top: 3px;
}

#AllyHeroes #BackgroundHeroImage
{
	visibility: collapse;
}

#AllyHeroes .LocalPlayerHero #BackgroundHeroImage
{
	visibility: visible;
}