
DOTASecondaryAbility
{
	width: 60px;
	height: 60px;
	margin-right: 5px;

	saturation: 1.0;
	brightness: 1.0;

	tooltip-position: top;

	visibility: collapse;
}

.FiveAbilities DOTASecondaryAbility,
.SixAbilities DOTASecondaryAbility
{
	width: 56px;
	height: 56px;
	margin-right: 2px;
}


DOTASecondaryAbility.ShowAbility
{
	visibility: visible;
}

DOTASecondaryAbility.RequiresCharges.NotAssignedHero
{
	visibility: collapse;
}

DOTASecondaryAbility.RequiresCharges:not(.HasCharges)
{
	saturation: 0.0;
	brightness: 0.3;
}

DOTASecondaryAbility.RequiresCharges.HasCharges:hover
{
	brightness: 2.0;
}

DOTASecondaryAbility.RequiresCharges.HasCharges:active
{
	brightness: 1.5;
}

DOTASecondaryAbility.RequiresUnlockedEffects:not(.HasUnlockedEffects)
{
	saturation: 0.0;
	brightness: 0.3;
}


#AbilityImageContainer
{
	width: 100%;
	height: 100%;
	padding-left: 2px;
	padding-top: 2px;
}

#AbilityImage
{
	width: 100%;
	height: 100%;
}

.is_active #AbilityImage
{
	brightness: 2.0;
}

#ChargeCount
{
	font-size: 17px;
	font-weight: bold;
	color: white;
	horizontal-align: right;
	vertical-align: bottom;
	transform: translateY( 5px );
	margin-right: 1px;
	text-shadow: 2px 2px 2px black;

	visibility: collapse;
}

.RequiresCharges #ChargeCount
{
	visibility: visible;
}

#AbilityButtonMain
{
	vertical-align: bottom;
	width: 100%;
	height: 34px;
}

#Cooldown
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.CooldownActive #Cooldown
{
	visibility: visible;
}

#CooldownBackground
{
	width: 100%;
	height: 100%;

	background-color: #000000e0;
}

#CooldownSeconds
{
	vertical-align: bottom;
	color: white;
	text-align: center;
	padding: 0px 2px;
	text-overflow: shrink;
	text-shadow: 2px 2px 4px 2 black;
	transform: translateY( 4px );
	font-size: 16px;
	color: #999;
}

.no_hotkey #HotkeyContainer
{
	visibility: collapse;
}

#HotkeyContainer
{
	margin-top: 20px;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.2s;
}

DOTASecondaryAbility:hover #HotkeyContainer
{
	opacity: 1.0;
}

#HotkeyModifiers
{
	flow-children: right;
}

#Hotkey
{
	vertical-align: top;
	horizontal-align: left;

	margin-top: 10px;
	min-height: 14px;
	max-width: 70px;
	max-height: 15px;

	background-color: #212726;
	box-shadow: fill #000000dd 0px 0px 2px 2px;
	border-radius: 4px;
	border: 1px solid black;
}

#HotkeyText
{
	color: white;
 	text-shadow: 1px 1px 0px 2 #000000;
    font-size: 12px;
    font-weight: normal;
	text-align: center;
	horizontal-align: center;
	margin: 0px 0px -2px 0px;
}

#HotkeyModifier, #HotkeyCtrlModifier
{
	box-shadow: fill #000000dd 0px 0px 2px 2px;
	border-radius: 2px;

	visibility: collapse;
}

.hotkey_alt #HotkeyModifier,
.hotkey_ctrl #HotkeyCtrlModifier
{
	visibility: visible;
}

#AltText, #CtrlText
{
	color: white;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 10px;
	padding-left: 2px;
	padding-top: 1px;
    font-weight: thin;
	visibility: visible;
}

#DiretideCandyIcon
{
	visibility: collapse;
}

// hack styles form the candy bucket in diretide
.Diretide2020 #ConsumableAbility1 
{
	width: 200px;
	background-size: 100%;
	transition-property: brightness, background-image;
	transition-duration: 0.2s;
	background-image: url("s2r://panorama/images/events/diretide/2020/hud_candy_button_on_psd.vtex");
	brightness: 1.0;
}

.Diretide2020 #ConsumableAbility1:hover
{
	brightness: 1.4;
}

.Diretide2020 #ConsumableAbility1 #AbilityButtonMain
{
    height: 100%;
	width: 100%;
}

.Diretide2020 #ConsumableAbility1.RequiresCharges:not(.HasCharges) 
{
	saturation: 1.0;
	brightness: 0.8;
	background-image: url("s2r://panorama/images/events/diretide/2020/hud_candy_button_off_psd.vtex");
}

.Diretide2020 #ConsumableAbility1.RequiresCharges:not(.HasCharges):hover
{
	brightness: 0.8;
}

.Diretide2020 #ConsumableAbility1.RequiresCharges:not(.HasCharges) #CandySparkle
{
	visibility: collapse;
}

.Diretide2020 #ConsumableAbility1 #AbilityImageContainer
{
	visibility: collapse;
}

.Diretide2020 #ConsumableAbility0 #DiretideCandyIcon
{
	visibility: collapse;
}

.Diretide2020 #DiretideCandyIcon
{
    width: 32px;
    height: 32px;

	horizontal-align: left;
	margin-left: 28px;
    vertical-align: center;
	background-image: url("s2r://panorama/images/events/diretide/2020/candy_icon_small_psd.vtex");
	img-shadow: 1px 1px 4px #000;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	visibility: visible;
}

.Diretide2020 #ConsumableAbility1 #CandySparkle
{
	width: 80%;
	height: 80%;
	margin-left: -20px;
	margin-top: 6px;
	visibility: visible;
	opacity: 0.6;
}

.Diretide2020 #ConsumableAbility1 #ChargeCount
{
	font-size: 36px;
	font-family: diretideFont;
	vertical-align: center;
	text-align: center;
	width: 60px;
	margin-right: 16px;

	color: white;
	horizontal-align: right;
	transform: translateY( 0px );
	text-shadow: 0px 0px 12px 4.0 #00000099;
}

.Diretide2020 #ConsumableAbility1.RequiresCharges:not(.HasCharges) #ChargeCount
{
	saturation: 0.4;
	brightness: 0.4;
}