DOTAHUDInspect
{
	width: 1440px;
	height: 1060px;
	overflow: noclip;
	horizontal-align: center;
	pre-transform-scale2d: 1;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.37s;
	opacity: 1;
}

DOTAHUDInspect.Hidden
{
	pre-transform-scale2d: 0.8;
	opacity: 0;
}

#HeroInspectBackground
{
	horizontal-align: center;
	margin-top: 200px;
	width: 1040px;
	height: 660px;
	background-color: black;
	background-image: url("s2r://panorama/images/hud/reborn/bg_hud_inspect_psd.vtex");
	background-repeat: no-repeat;
	box-shadow: #000000 -12px -12px 24px 24px;
	z-index: -10;
}

#CloseButton
{
	horizontal-align: right;
	margin-right: 210px;
	margin-top: 210px;
	z-index: 2;
}

.PlayerContainer
{
	flow-children: down;
	margin-top: 200px;
	margin-left: 200px;
}

.ProfileContainer
{
	flow-children: right;
}

#UserName
{
	vertical-align: center;
}

#UserName Label
{
	font-size: 48px;
	color: white;
	white-space: nowrap;
	height: fit-children;
	margin-top: 18px;
	margin-left: 16px;
}

.FakeClient #UserName,
.FakeClient #AvatarImage
{
	visibility: collapse;
}

#BotName
{
	visibility: collapse;
}

.FakeClient #BotName
{
	visibility: visible;
	font-size: 42px;
	color: white;
	white-space: nowrap;
	margin-top: 16px;
	margin-left: 2px;
	margin-left: 15px;
}

#AvatarImage
{
	width: 84px;
	height: 84px;
	border: 2px solid transparent;
	margin-top: -2px;
	margin-left: -2px;
	margin: 16px 0px 0px 16px;
	horizontal-align: right;
	vertical-align: center;
	transition-property: border;
	transition-duration: 0.1s;
	box-shadow: #000000aa 0px 0px 5px 0px;
}

.RelicsContainer
{
	margin-left: 16px;
	margin-top: 8px;
	flow-children: down;
	visibility: collapse;
}

.HasRelics .RelicsContainer
{
	visibility: visible;
}

#HeroRelics
{
	ui-scale: 68%;
}

#EconItemContainer
{
	max-width: 520px;
	height: 220px;
	flow-children: right-wrap;
	z-index: 10;
	margin-bottom: 216px;
	margin-left: 210px;
	vertical-align: bottom;
}

#EconItemContainer DOTAEconItem
{
	width: 84px;
	height: 84px;
	tooltip-position: left;
}

.EconItemSlot
{
	flow-children: down;
}

.EconItemSlot > Label
{
	text-transform: uppercase;
	margin-left: 7px;
	font-size: 14px;
	color: #999;
	margin-bottom: -6px;
	margin-top: 2px;
	text-overflow: ellipsis;
	width: 84px;
	height: 20px;
}

#HeroModel
{
	width: 1060px;
	height: 1060px;
	transform: translateX( 230px ) translateY( -90px );
	opacity-mask: url("s2r://panorama/images/masks/hud_hero_inspect_psd.vtex");
	opacity: 0;
	z-index: -1;
	horizontal-align: center;
	vertical-align: center;
	transition-property: opacity;
	transition-duration: 0.37s;
	transition-timing-function: linear;
}

#InspectHeroModelEffect
{
	//background-color: red;
	width: 800px;
	height: 800px;
	margin-right: 100px;
	margin-bottom: -10px;
	vertical-align: bottom;
	horizontal-align: right;
	opacity: 0.7;
	//transform: translateX( 230px ) translateY( -90px );
}

#HeroNameContainer
{
	vertical-align: bottom;
	horizontal-align: right;
	flow-children: right;
	margin-right: 222px;
	margin-bottom: 200px;
}

#HeroBadge
{
	ui-scale: 80%;
	margin-right: 2px;
}

#HeroBadge.NoTier
{
	visibility: collapse;
}

#HeroName
{
	color: white;
	font-size: 48px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
	vertical-align: bottom;
}

@define HeroTransitionDuration: 0.46s;

#HeroModel.SceneLoaded
{
	opacity: 1;
}

// Custom Portrait Position Modifiers
#HeroModel.npc_dota_hero_abyssal_underlord { margin-top: -20px; margin-left: -54px; }
#HeroModel.npc_dota_hero_arc_warden { margin-left: 50px; }
#HeroModel.npc_dota_hero_abaddon { margin-top: 20px; margin-left: -20px; }
#HeroModel.npc_dota_hero_alchemist { margin-top: 0px; margin-left: -30px; }
#HeroModel.npc_dota_hero_axe { margin-top: 20px; margin-left: 40px; }
#HeroModel.npc_dota_hero_bane { margin-top: 10px; margin-left: -20px; }
#HeroModel.npc_dota_hero_batrider { margin-top: -60px; margin-left: -30px; }
#HeroModel.npc_dota_hero_beastmaster { margin-top: 10px; margin-left: -10px; }
#HeroModel.npc_dota_hero_bloodseeker { margin-top: -30px; margin-left: -20px; }
#HeroModel.npc_dota_hero_broodmother { margin-top: -80px; margin-left: -25px; }
#HeroModel.npc_dota_hero_bristleback { margin-top: -10px; margin-left: 15px; }
#HeroModel.npc_dota_hero_brewmaster { margin-top: 0px; margin-left: 10px; }
#HeroModel.npc_dota_hero_bounty_hunter { margin-top: -10px; margin-left: -15px; }
#HeroModel.npc_dota_hero_crystal_maiden { margin-top: 0px; margin-left: 12px; }
#HeroModel.npc_dota_hero_clinkz { margin-top: -10px; margin-left: 0px; }
#HeroModel.npc_dota_hero_chen { margin-top: -40px; margin-left: 16px; }
#HeroModel.npc_dota_hero_dazzle { margin-top: -10px; margin-left: 8px; }
#HeroModel.npc_dota_hero_dark_seer { margin-top: -10px; margin-left: -40px; }
#HeroModel.npc_dota_hero_disruptor { margin-top: 0px; margin-left: 18px; }
#HeroModel.npc_dota_hero_drow_ranger { margin-top: 0px; margin-left: 18px; }
#HeroModel.npc_dota_hero_doom_bringer { margin-top: 0px; margin-left: -10px; }
#HeroModel.npc_dota_hero_dragon_knight { margin-top: 10px; margin-left: 34px; }
#HeroModel.npc_dota_hero_death_prophet { margin-top: 30px; margin-left: 14px; }
#HeroModel.npc_dota_hero_earthshaker { margin-top: -30px; margin-left: -24px; }
#HeroModel.npc_dota_hero_elder_titan { margin-top: -30px; margin-left: -10px; }
#HeroModel.npc_dota_hero_ember_spirit { margin-top: -30px; margin-left: 30px; }
#HeroModel.npc_dota_hero_furion { margin-top: -30px; margin-left: 20px; }
#HeroModel.npc_dota_hero_faceless_void { margin-top: 10px; margin-left: 0px; }
#HeroModel.npc_dota_hero_gyrocopter { margin-top: -50px; margin-left: -34px; }
#HeroModel.npc_dota_hero_huskar { margin-top: -40px; margin-left: -50px; }
#HeroModel.npc_dota_hero_jakiro { margin-top: 80px; margin-left: -60px; }
#HeroModel.npc_dota_hero_juggernaut { margin-left: 20px; }
#HeroModel.npc_dota_hero_leshrac { margin-top: 10px; margin-left: -34px; }
#HeroModel.npc_dota_hero_life_stealer { margin-top: -60px; margin-left: -44px; }
#HeroModel.npc_dota_hero_lina { margin-left: 10px; }
#HeroModel.npc_dota_hero_lion { margin-left: 22px; }
#HeroModel.npc_dota_hero_lich { margin-top: 20px; margin-left: 22px; }
#HeroModel.npc_dota_hero_luna { margin-top: -30px; margin-left: -42px; }
#HeroModel.npc_dota_hero_lone_druid { margin-top: -10px; margin-left: -20px; }
#HeroModel.npc_dota_hero_lycan { margin-top: -30px; margin-left: -22px; }
#HeroModel.npc_dota_hero_mirana { margin-top: -40px; margin-left: -10px; }
#HeroModel.npc_dota_hero_meepo { margin-top: -60px; margin-left: 0px; }
#HeroModel.npc_dota_hero_morphling { margin-left: -30px; }
#HeroModel.npc_dota_hero_magnataur { margin-top: 0px; margin-left: -35px; }
#HeroModel.npc_dota_hero_nevermore { margin-top: 20px; margin-left: 0px; }
#HeroModel.npc_dota_hero_nyx_assassin { margin-top: -40px; margin-left: -10px; }
#HeroModel.npc_dota_hero_naga_siren { margin-top: -10px; margin-left: 20px; }
#HeroModel.npc_dota_hero_night_stalker { margin-top: 10px; margin-left: 10px; }
#HeroModel.npc_dota_hero_necrolyte { margin-top: -30px; margin-left: 10px; }
#HeroModel.npc_dota_hero_ogre_magi { margin-top: 0px; margin-left: -20px; }
#HeroModel.npc_dota_hero_oracle { margin-top: -40px; margin-left: -40px; }
#HeroModel.npc_dota_hero_omniknight { margin-top: -10px; margin-left: 10px; }
#HeroModel.npc_dota_hero_obsidian_destroyer { margin-top: -30px; margin-left: -16px; }
#HeroModel.npc_dota_hero_phoenix { margin-top: 0px; margin-left: -50px; }
#HeroModel.npc_dota_hero_phantom_lancer { margin-top: 0px; margin-left: -30px; }
#HeroModel.npc_dota_hero_phantom_assassin { margin-top: -10px; margin-left: -10px; }
#HeroModel.npc_dota_hero_pudge { margin-top: -40px; margin-left: -50px; }
#HeroModel.npc_dota_hero_pugna { margin-top: 10px; margin-left: 6px; }
#HeroModel.npc_dota_hero_queenofpain { margin-top: 0px; margin-left: 16px; }
#HeroModel.npc_dota_hero_razor { margin-top: 0px; margin-left: 10px; }
#HeroModel.npc_dota_hero_rattletrap { margin-top: -20px; margin-left: 8px; }
#HeroModel.npc_dota_hero_riki { margin-top: -40px; margin-left: -20px; }
#HeroModel.npc_dota_hero_sand_king { margin-top: -60px; margin-left: -20px; }
#HeroModel.npc_dota_hero_sven { margin-top: 0px; margin-left: 16px; }
#HeroModel.npc_dota_hero_silencer { margin-top: 0px; margin-left: 12px; }
#HeroModel.npc_dota_hero_slark { margin-top: -60px; margin-left: -20px; }
#HeroModel.npc_dota_hero_skywrath_mage { margin-top: -60px; margin-left: 0px; }
#HeroModel.npc_dota_hero_spirit_breaker { margin-top: -60px; margin-left: -20px; }
#HeroModel.npc_dota_hero_shredder { margin-top: -40px; margin-left: -22px; }
#HeroModel.npc_dota_hero_shadow_demon { margin-top: 20px; margin-left: 0px; }
#HeroModel.npc_dota_hero_shadow_shaman { margin-top: -60px; margin-left: 10px; }
#HeroModel.npc_dota_hero_sniper { margin-top: -30px; margin-left: 6px; }
#HeroModel.npc_dota_hero_skeleton_king { margin-top: 20px; margin-left: 14px; }
#HeroModel.npc_dota_hero_shadow_shaman { margin-top: -50px; margin-left: 10px; }
#HeroModel.npc_dota_hero_techies { margin-top: -60px; margin-left: 10px; }
#HeroModel.npc_dota_hero_templar_assassin { margin-top: -10px; margin-left: 30px; }
#HeroModel.npc_dota_hero_tiny { margin-top: -40px; margin-left: -22px; }
#HeroModel.npc_dota_hero_treant { margin-top: 0px; margin-left: -60px; }
#HeroModel.npc_dota_hero_tinker { margin-top: -40px; margin-left: -20px; }
#HeroModel.npc_dota_hero_tidehunter { margin-top: -40px; margin-left: -50px; }
#HeroModel.npc_dota_hero_troll_warlord { margin-top: 0px; margin-left: -50px; }
#HeroModel.npc_dota_hero_tusk { margin-top: 0px; margin-left: 25px; }
#HeroModel.npc_dota_hero_ursa { margin-top: 0px; margin-left: -60px; }
#HeroModel.npc_dota_hero_undying { margin-top: 20px; margin-left: -20px; }
#HeroModel.npc_dota_hero_vengefulspirit { margin-top: -10px; margin-left: 30px; }
#HeroModel.npc_dota_hero_venomancer { margin-top: -60px; margin-left: -32px; }
#HeroModel.npc_dota_hero_viper { margin-top: -60px; margin-left: -42px; }
#HeroModel.npc_dota_hero_visage { margin-top: -50px; margin-left: -26px; }
#HeroModel.npc_dota_hero_wisp { margin-top: 50px; margin-left: 10px; }
#HeroModel.npc_dota_hero_winter_wyvern { margin-top: -60px; margin-left: -20px; }
#HeroModel.npc_dota_hero_weaver { margin-top: -80px; margin-left: -50px; }
#HeroModel.npc_dota_hero_warlock { margin-top: -80px; margin-left: 0px; }
#HeroModel.npc_dota_hero_witch_doctor { margin-top: -30px; margin-left: -40px; }
#HeroModel.npc_dota_hero_zuus { margin-top: -20px; margin-left: 0px; }
