/* Don't change the name - referenced from code */
DOTAHUDOMArcanaCombo
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: visible;
}

DOTAHUDOMArcanaCombo.Hidden
{
	visibility: collapse;
}

#ComboCountContainer
{
	margin-top: -10px;
	vertical-align: top;
	width: 250px;

	horizontal-align: center;
	opacity: 0;
	height: 119px;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.ShowComboCount.ShowComboSummary #ComboCountContainer
{
	opacity: 0;
}

.ShowComboCount #ComboCountContainer
{
	opacity: 1;
}


#ComboCountContents
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
	height: 80px;
	margin-left: 0px;
	margin-bottom: 16px;
}

#TitleFX
{
	width: 200px;
	height: 240px;
	margin-top: 30px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	horizontal-align: center;
	z-index: 10;
}

.ComboCountText
{
	color: #fefefe;
	font-size: 46px;
	font-weight: bolder;
	text-align: left;
	z-index: 10;
	margin-bottom: 10px;
	margin-left: 5px;
	text-shadow: 2px 2px 3px #be180c;
}

#ComboContain 
{
	horizontal-align: center;
	margin-top: 4px;
	height: 100%;
}


#GemIncrementContain 
{
	horizontal-align: center;
}


.ComboDigits
{
	margin-right: 90px;
	horizontal-align: center;
}

.DigitContainer
{
	width: 100%;
	vertical-align: center;
	flow-children: left;
	horizontal-align: center;
	margin-left: 10px;
}

.ComboSummary > .DigitContainer
{
	width: 40%;
	horizontal-align: center;
}

.GemIncrementSummary > .DigitContainer
{
	width: fit-children;
	horizontal-align: center;
}

.OMDigit
{
	width: 38px;
	height: 59px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_1_png.vtex");
}

.ArcanaLevel2 .OMDigit
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_1_v2_png.vtex");
}

.OMDigitHidden
{
	visibility: collapse;
}

.ComboSummaryDigit
{
	/*width: 19px;*/
	height: 28px;
}

.GemIncrementSummaryDigit
{
	margin-top: -3px;
}

.OMDecimal
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_decimal_png.vtex");
	width: 9px;
	height: 52px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	vertical-align: bottom;
}

.ArcanaLevel2 .OMDecimal
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_decimal_v2_png.vtex");
}

.OMDigit.digit_0
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_0_png.vtex");
	width: 40px;
}
.OMDigit.digit_1 
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_1_png.vtex");
	width: 30px;
}
.OMDigit.digit_2 
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_2_png.vtex");
	width: 40px;
}

.OMDigit.digit_3
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_3_png.vtex");
	width: 40px;
}

.OMDigit.digit_4 
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_4_png.vtex");
	width: 40px;
}

.OMDigit.digit_5 
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_5_png.vtex");
	width: 40px;
	margin-left: -2px;
}

.OMDigit.digit_6 
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_6_png.vtex");
	width: 40px;
}

.OMDigit.digit_7 
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_7_png.vtex");
	width: 40px;
}

.OMDigit.digit_8 
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_8_png.vtex");
	width: 40px;
}

.OMDigit.digit_9
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_9_png.vtex");
	width: 40px;
}

.ArcanaLevel2 .OMDigit.digit_0 {
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_0_v2_png.vtex");
}
.ArcanaLevel2 .OMDigit.digit_1 {
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_1_v2_png.vtex");
}
.ArcanaLevel2 .OMDigit.digit_2 {
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_2_v2_png.vtex");
}
.ArcanaLevel2 .OMDigit.digit_3 {
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_3_v2_png.vtex");
}
.ArcanaLevel2 .OMDigit.digit_4 {
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_4_v2_png.vtex");
}
.ArcanaLevel2 .OMDigit.digit_5 {
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_5_v2_png.vtex");
}
.ArcanaLevel2 .OMDigit.digit_6 {
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_6_v2_png.vtex");
}
.ArcanaLevel2 .OMDigit.digit_7 {
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_7_v2_png.vtex");
}
.ArcanaLevel2 .OMDigit.digit_8 {
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_8_v2_png.vtex");
}
.ArcanaLevel2 .OMDigit.digit_9 {
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_9_v2_png.vtex");
}

.ComboSummaryDigit.digit_0 {
	width: 13px;
}

.ComboSummaryDigit.digit_1 {
	width: 12px;
}

.ComboSummaryDigit.digit_2 {
	width: 16px;
}

.ComboSummaryDigit.digit_3 {
	width: 18px;
}

.ComboSummaryDigit.digit_4 {
	width: 18px;
}

.ComboSummaryDigit.digit_5 {
	width: 19px;
	margin-left: -2px;
}

.ComboSummaryDigit.digit_6 {
	width: 16px;
}

.ComboSummaryDigit.digit_7 {
	width: 17px;
}

.ComboSummaryDigit.digit_8 {
	width: 14px;
}

.ComboSummaryDigit.digit_9 {
	width: 14px;
}

.ComboX
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_x_png.vtex");
	width: 22px;
}

.ArcanaLevel2 .ComboX
{
	background-image: url("s2r://panorama/images/hud/arcana/om/numbers/multicast_x_v2_png.vtex");
}

.ComboCountX
{
	vertical-align: bottom;
	margin-left: -4px;
	margin-bottom: 0px;
	width: 29px;
	height: 44.25px;
}

.ComboSummaryX
{
	vertical-align: bottom;
	margin-left: 0px;
	margin-bottom: 0px;
	width: 10px;
	height: 22.125px;
}

.ComboCountValue
{
	vertical-align: center;
	horizontal-align: left;
}

.ComboCountDigit
{
	pre-transform-scale2d: 0.9;

	transition-property: pre-transform-scale2d, background-image;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.CounterBump .ComboCountDigit
{
	pre-transform-scale2d: 1.2;
}

#ComboCountDigit2 {
	margin-right: -10px;
}

.ComboCountLabel 
{
	font-size: 13px;
	horizontal-align: center;
	margin-top: 0px;
	color: #fef4d5;
	letter-spacing: 2.5px;
	font-weight: bold;
	font-style: italic;
	z-index: 10;
	text-shadow: 2px 2px 0px #be180c;
	text-align: center;
	line-height: 13px;
	text-transform: uppercase;
	margin-left: 4px;
}

.StreakOddsLabel
{
	font-size: 13px;
	horizontal-align: center;
	vertical-align: bottom;
	color: #fef4d5;
	letter-spacing: 2.5px;
	font-weight: bold;
	font-style: italic;
	z-index: 10;
	text-shadow: 2px 2px 0px #be180c;
	text-align: center;
	line-height: 13px;
	text-transform: uppercase;
	visibility: collapse;
}

.ArcanaLevel2 .StreakOddsLabel,
.ArcanaLevel2 .ComboCountLabel  {
	color: #CFF7F1;
	text-shadow: 2px 2px 0px #45447B;
}

.EarningPoints .StreakOddsLabel
{
	visibility: visible;
}

.ComboSummaryText
{
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#ComboSummaryContainer
{
	vertical-align: top;
	width: 275px;

	horizontal-align: center;
	opacity: 0;
	height: 120px;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#ComboDetail {

	background-image: url("s2r://panorama/images/hud/arcana/om/om_arcana_summary_bg_png.vtex");
	background-size: 100%;
	width: 191px;
	height: 129px;
	horizontal-align: center;
	z-index: 0;
}

.ArcanaLevel2 #ComboDetail 
{
	background-image: url("s2r://panorama/images/hud/arcana/om/om_arcana_summary_bg_v2_png.vtex");
}


#ComboAmbientFX
{
	width: 100%;
	height: 100%;
}

.SummaryComboLabel
{
	font-size: 13px;
	text-shadow: 2px 2px 0px #be180c;
	color: #ffffff;
	opacity: 1;
	margin-left: 5px;
	vertical-align: center;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.SummaryGemIncrementLabel
{
	font-size: 13px;
	text-shadow: 2px 2px 0px #be180c;
	color: #ffffff;
	opacity: 1;
	margin-left: 20px;
	margin-top: -5px;
	vertical-align: center;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 2px;
	text-transform: uppercase;
	horizontal-align: center;
}

#ComboDetail2 
{
	background-image: url("s2r://panorama/images/hud/arcana/om/om_arcana_summary_bg_png.vtex");
	width: 191px;
	height: 129px;
	background-size: 100%;
	horizontal-align: center;
	vertical-align: top;
	z-index: 0;
}


.ArcanaLevel2 #ComboDetail2
{
	background-image: url("s2r://panorama/images/hud/arcana/om/om_arcana_summary_bg_v2_png.vtex");
}

#ComboSummaryFX
{
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	width: 100%;
	height: 100%;
	z-index: 100;
}


.ComboSummary
{
	flow-children: right;
	horizontal-align: center;
	width: 100%;
}

.GemIncrementSummary
{
	flow-children: down;
	width: 100%;
}

#ComboSummaryContents
{
	width: 100%;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
}

.ShowComboSummary #ComboSummaryContainer
{
	opacity: 1;
}
