DOTAStash
{
}

#stash_row
{
	flow-children: right;
	margin-top: 32px;
	horizontal-align: right;
	margin-right: 10px;
	visibility: collapse;
}

.StashVisible #stash_row
{
	visibility: visible;
	margin-right: 6px;
}

.HUDFlipped #stash_row
{
	transform: scaleX(-1);
}


#stash_bg
{
	horizontal-align: right;
	vertical-align: bottom;
	z-index: -2;
	width: 363px;
	height: 105px;
	visibility: collapse;
}

.StashVisible #stash_bg
{
	visibility: visible;
}

.HUDFlipped #stash_bg
{
	transform: scaleX(-1);
}

#stash_upper
{
	background-image: url("s2r://panorama/images/hud/default/inventory/stash_upper_png.vtex");
	background-size: 100%;
	width: 358px;
	height: 34px;
	margin-top: 0px;
	margin-left: 0px;
}

#stash_lower
{
	background-image: url("s2r://panorama/images/hud/default/inventory/stash_lower_png.vtex");
	background-size: 100%;
	width: 358px;
	height: 32px;
	margin-top: 71px;
	margin-left: 0px;
	visibility: visible;
}

.StashActive #stash_lower
{
	visibility: collapse;
}

#stash_active_lower
{
	background-image: url("s2r://panorama/images/hud/default/inventory/stash_active_lower_png.vtex");
	background-size: 100%;
	width: 358px;
	height: 32px;
	margin-top: 71px;
	margin-left: 0px;
	visibility: collapse;
}

.StashActive #stash_active_lower
{
	visibility: visible;
}

#grab_all_button
{
	horizontal-align: right;
	margin-right: 30px;
	visibility: collapse;
	background-image: url("s2r://panorama/images/hud/button_thin_secondary_png.vtex");
	background-size: 100% 100%;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
	width: 90px;
	height: 19px;
	margin-top: 76px;
	visibility: collapse;
}

.StashActive.StashVisible #grab_all_button
{
	visibility: visible;
}

#grab_all_button:hover
{
	brightness: 2.0;
}

#grab_all_button Label
{
	font-size: 14px;
	color: white;
	horizontal-align: center;
	margin-top: 2px;
}

#stash_middle
{
	margin-left: 5px;
	margin-top: 30px;
}

.stash_cell_bg
{
	background-image: url("s2r://panorama/images/hud/stash_cell_png.vtex");
	background-size: 100%;
	width: 58px;
	height: 45px;
}

#title
{
	font-size: 18;
	color: white;
	horizontal-align: center;
	margin-top: 5px;
	margin-left: 7px;
	letter-spacing: 1px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn DOTAStash
{
	height: 100px;
}

.Reborn #stash_bg
{
    background-image: url("s2r://panorama/images/hud/reborn/bg_item_build_psd.vtex");
    background-repeat: no-repeat;
	width: 262px;
	height: 72px;
    vertical-align:top;
    background-position: top;
}

.Reborn #grab_all_button
{
	background-image: url("s2r://panorama/images/hud/reborn/stash_grab_all_button_psd.vtex");
	z-index: 2;
	margin-right: 186px;
	horizontal-align: right;
	width: 102px;
	height: 26px;
    margin-top: 3px;
    transition-property: brightness, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.Reborn #grab_all_button:hover
{
    brightness: 1.7;
}

.Reborn #grab_all_button:active
{
    brightness: 1.7;
    transform: translateX(-6px);
}

.HUDFlipped.Reborn #grab_all_button Label
{
	transform: ScaleX(-1);
}

.Reborn #grab_all_button Label
{
	margin-top: 5px;
	font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #222b32;
    text-align: center;
    margin-left: 4px;
    transition-property: color;
    transition-duration: 0.15s;
}

.Reborn #grab_all_button:active Label
{
    color: #256394;
}

.Reborn #stash_upper
{
	visibility: collapse;
}

.Reborn #stash_lower
{
	visibility: collapse;
}

.Reborn #stash_active_lower
{
	visibility: collapse;
}

.Reborn #stash_middle
{
	margin-right: 10px;
	horizontal-align: right;
	margin-top: 26px;
}

.Reborn .stash_cell_bg
{
	background-image: none;
	background-size: 100%;
	box-shadow: inset #000000aa 0px 0px 3px 3px;
	background-color: #00000066;
	border-radius: 3px;

	width: 40px;
	height: 31px;
}

.Reborn .StashVisible #stash_row,
.Reborn #stash_row
{
	margin-right: 7px;
	margin-top: 31px;
	opacity: 1.0;
}

.Reborn #title
{
    text-transform: uppercase;
    font-size: 15px;
    color: #8da1b1;
    margin-top: 6px;
    font-weight: bold;
    width: 206px;
    text-align: center;
    letter-spacing: 2px;
    font-family: Radiance;
}
.Reborn .StashActive #title
{
	visibility: visible;
}