DOTAHUDDeathPanel
{
	width: 100%;
	height: 186px;
	visibility: collapse;
	flow-children: none;
    visibility: collapse;
    vertical-align: bottom;
	z-index: 3;
}

DOTAHUDDeathPanel.Dead.ValidUnit
{
	visibility: visible;
}

.BuybackVisible #BuybackButton
{
	visibility: visible;
}

.BuybackDisabled #BuybackButton
{
	
}

#BuybackCost
{
	vertical-align: center;
	visibility: visible;
	margin-left: 20px;
}

#BuybackCostIconCooldown,
#BuybackCostIcon
{
	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin-right: 4px;
	tooltip-position: top;
	
}

#BuybackCostIconCooldown
{
	visibility: collapse;
	background-image: url("s2r://panorama/images/status_icons/clock_psd.vtex");
	wash-color: red;
}

.BuybackOnCooldown #BuybackCostIconCooldown
{
	visibility: visible;
	width: 16px;
    height: 16px;
}

.BuybackOnCooldown #BuybackCostIcon
{
	visibility: collapse;

}


#BuybackCostLabel
{
	tooltip-position: top;
	vertical-align: center;
	color: #EFDB63;
	text-shadow: 1px 1px 4px 2 #000000;
	font-size: 18px;
	padding-left: 22px;
	padding-top: 4px;
	margin-top: -1px;
	letter-spacing: 1px;
}

.BuybackDisabled #BuybackCostLabel
{
	color: red;
}

.BuybackOnCooldown #BuybackCostLabel
{
	visibility: collapse;
}

#SkullAndTimer
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	margin-left: 50px;
}

.DeathPanelSpacer
{
    width: 100%;
	height: 100%;
}

#NoBuybackLabel,
#BuybackLabel
{
	vertical-align: top;
	color: white;
	text-shadow: 1px 1px 4px 2 #000000;
	font-size: 15px;
	horizontal-align: center;
	text-transform: uppercase;
}

#NoBuybackLabel
{
	margin-top: 4px;
}

.BuybackDisabled #BuybackLabel,
#NoBuybackLabel
{
	visibility: collapse;
}

.BuybackDisabled #NoBuybackLabel,
.BuybackDisabled #BuybackLabel
{
	color: #ff2020;
	margin-left: 5px;
}

.AltPressed.BuybackDisabled #BuybackStatusContainer,
.AltPressed.BuybackOnCooldown #BuybackStatusContainer,
.AltPressed.BuybackDisabled #BuybackLabel,
.AltPressed.BuybackOnCooldown #NoBuybackLabel
{
	opacity: 0.05;
}



.BuybackDisabled #NoBuybackLabel
{
	visibility: visible;
}

#SkullIcon
{
	background-image: url("s2r://panorama/images/hud/skull_stroke_png.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    width: 25px;
    height: 22px;
    margin-right: 8px;
}

#RespawnLabel
{
	font-size: 64px;
	font-weight: thin;
	padding-top: 28px;
	color: #C25559;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ff5522ee ), to( #cc0000dd ) );	
	z-index: 5;
	vertical-align: bottom;
	horizontal-align: center;
	text-shadow: 0px 0px 6px 5 #350000dd ;
	opacity: 1;	
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #680000dd ) );	
	visibility: collapse;
}


#DeathTimer
{
	
}


.ShowRespawnLabel #RespawnLabel
{
	visibility: visible;
}

#BuybackCooldownIcon
{
	background-image: url("s2r://panorama/images/hud/cooldown_png.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    vertical-align: center;

}

#BuybackCooldownLabel
{
	tooltip-position: top;
	vertical-align: center;
	color: red;
	font-size: 15px;
	margin-left: 22px;
	visibility: collapse;
	text-shadow: 1px 1px 4px 2 #000000;
}

.BuybackOnCooldown #BuybackCooldownLabel
{
	visibility: visible;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn #DeathPanel
{
	margin-bottom: 8px;
    margin-left: 264px;
    margin-right: 264px;
}

.DeathPanelSpacer
{
    width: 70%;
    height: 100%;
}


.Reborn #SkullAndTimer
{
	horizontal-align: left;
	margin-left: 0px;
	margin-right: 0px;
}

.Reborn #BuybackLabel
{
	font-size: 20px;
	margin-left: 0px;
}

.Reborn #BuybackCostIconCooldown,
.Reborn #BuybackCostIcon
{
	width: 18px;
	height: 20px;
	margin-top: 2px;
}

.Reborn .BuybackOnCooldown #BuybackCostIconCooldown,
.Reborn .BuybackOnCooldown #BuybackCostIcon
{
	width: 16px;
	height: 16px;
	margin-bottom: 5px;
}

.Reborn #BuybackCost
{
	margin-left: 0px;	
}


.Reborn #SkullIcon
{
	margin-right: 1px;
}

#BuybackButton
{
	width: 100%;
	height: 48px;
	background-image: url("s2r://panorama/images/hud/reborn/buyback_button_psd.vtex");
	background-image: none;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #4DA18B ), to( #494137 ) );
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
	visibility: collapse;
	vertical-align: top;
	brightness: 1;
	z-index: 5;
	margin-top: 62px;
	transform: translateY(-50px);
	border-top: 2px solid #78d7bF;
	border-bottom: 2px solid #4C4136;
	border-left: 2px solid #4C8D79;
	border-right: 2px solid #4C8D79;
	box-shadow: -4px -4px 8px 8px #00000089;

	transition-property: opacity, pre-transform-scale2d, transform;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	
}

.BuybackDisabled #BuybackButton
{
	background-image: none;
	background-color: none;
	border: 0px solid transparent;
	box-shadow: none;
	transform: translateY(0px);
}

#BuybackButton:hover
{
	brightness: 2;
}

.BuybackDisabled #BuybackButton:hover
{
	brightness: 1;
}

#BBMainLabel
{
	transform: translateY(-6px);
	color: #ff000088;
}

#BBStatus
{
	font-size: 14px;
	margin-top: 8px;
	transform: translateY(4px);
	color: #ff000088;
	letter-spacing: 1px;
}

#BuybackStatusContainer
{
	horizontal-align: center;
	//vertical-align: bottom;
	margin-top: 20px;

}

.TooltipHit
{
	height: 100%;
	width: 100%;
	tooltip-position: top;
	tooltip-body-position: 50%;
	visibility: collapse;
}

.BuybackDisabled #Cost,
.BuybackOnCooldown #Cooldown
{
	visibility: visible;
}

.AltPressed.BuybackDisabled #Cost,
.AltPressed.BuybackOnCooldown #Cooldown
{
	visibility: collapse;
}

#death_panel_buyback #RespawnLabel
{
	visibility: collapse;
}



#death_panel #BuybackButton
{
	visibility: collapse;
}