DOTASpecSpellStealToast
{
	background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");
    background-size: cover;
	height: 56px;
	width: 232px;
	flow-children: none;
    margin-bottom: 8px;
	horizontal-align: right;
}

#HeroImage
{
	width: 72px;
	height: 56px;
	margin: 8px;
	border: 1px solid black;	
}

#StealImage
{
	background-image: url("s2r://panorama/images/hud/reborn/spell_steal_psd.vtex");
    background-size: cover;
	height: 48px;
	width: 96px;
	horizontal-align: center;
	vertical-align: middle;
	margin-left: 16px;
	margin-top: -1px;
}

#SpellStolen
{
	width: 52px;
	height: 52px;
	border: 1px solid #50555B;
	horizontal-align: right;
	vertical-align: middle;
	margin: 4px;
	border-radius: 4px;
	box-shadow: fill #000000ff -2px -1px 4px 4px;
	margin-right: 16px;
}
