DOTAHUDStrAgiInt
{
	visibility: collapse;
	background-color: black;
	padding-top: 5px;
	padding-left: 5px;
	flow-children: down;
}

DOTAHUDStrAgiInt.ShowStrAgiInt
{
	visibility: visible;
}

.Reborn DOTAHUDStrAgiInt.QueryUnit
{
	flow-children: down;
}

.AspectRatio4x3 DOTAHUDStrAgiInt
{
	padding-left: 1px;
}

.HighlightStatIcon
{
	width: 34px;
	height: 34px;
	background-image: url("s2r://panorama/images/hud/hudv2_stat_icon_border_png.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
    visibility: collapse;
}

.AspectRatio4x3 .HighlightStatIcon
{
	background-image: url("s2r://panorama/images/hud/hudv2_stat_icon_cropped_border_png.vtex");
	horizontal-align: center;
	width: 35px;
	height: 35px;
	margin-top: -2px;
}

.HighlightStrength #Strength .HighlightStatIcon,
.HighlightAgility #Agility .HighlightStatIcon,
.HighlightIntelligence #Intelligence .HighlightStatIcon
{
	visibility: visible;
}

.StatIcon
{
	width: 34px;
	height: 34px;
	background-repeat: no-repeat;
    background-size: 100%;
}

.AspectRatio4x3 .StatIcon
{
	width: 38px;
	height: 25px;
	background-size: 100% 150%;
	margin-top: 0px;
}

.StatLabel
{
	margin-left: 34px;
	font-size: 16px;
	color: offWhite;
	width: 60px;
	text-align: center;
	vertical-align: center;
	font-weight: thin;
	text-overflow: shrink;
}

.AspectRatio4x3 .StatLabel
{
	margin-left: 0px;
	width: 38px;
	height: 16px;
	margin-top: 24px;
	font-size: 14px;
}

#Strength
{
	margin-top: 2px;
	margin-bottom: 2px;
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
	horizontal-align: center;
}

.AspectRatio4x3 #Strength
{
	margin-top: -7px;
}

#StrengthIcon
{
	background-image: url("s2r://panorama/images/hud/pip_str_png.vtex");
    brightness: 1.3;
}

#Agility
{
	margin-top: 2px;
	margin-bottom: 2px;
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
	horizontal-align: center;
}

.AspectRatio4x3 #Agility
{
	margin-top: -4px;
}

#AgilityIcon
{
	background-image: url("s2r://panorama/images/hud/pip_agi_png.vtex");
    brightness: 1.6;
}

#Intelligence
{
	margin-top: 2px;
	margin-bottom: 2px;
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
	horizontal-align: center;
}

.AspectRatio4x3 #Intelligence
{
	margin-top: -4px;
}

#IntelligenceIcon
{
	background-image: url("s2r://panorama/images/hud/pip_int_png.vtex");
    brightness: 1.3;
}

.StatPositive
{
	color: #8bc64e;
}

.StatNegative
{
	color: #FF3300;
}

#StrAgiIntHotkey
{
	visibility: collapse;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn DOTAHUDStrAgiInt
{
	opacity: 1;
    flow-children: down;
    margin-left: 0px;
    margin-bottom: 0px;
    horizontal-align: center;
    width: 64px;
    background-color: none;
    padding-top: 0px;
    padding-left: 0px;
    z-index: 60;
}

.Reborn DOTAHUDStrAgiInt.QueryUnit
{
	width: 48px;
}

.Reborn .StatIcon
{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100%;
    horizontal-align: center;
}

.Reborn .HighlightStatIcon
{
    width: 32px;
    height: 32px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;
    visibility: collapse;
    horizontal-align: center;
}

.Reborn  .StatLabel
{
    font-size: 15px;
    color: White;
    font-weight: bold;
    width: 58px;
    text-align: center;
    vertical-align: center;
    text-shadow: 0px 0px 3px 2.0 #000000;
    margin-left: 0px;
    margin-top: 2px;
    font-family: RadianceM;
}

.Reborn #Intelligence,
.Reborn #Agility,
.Reborn #Strength,
.AttrIconContainer
{
	tooltip-position: top;
    tooltip-body-position: 50% 50%;
	margin: 0px;	
	opacity: 0;
	pre-transform-scale2d: 1;
	
	transition-property: transform, opacity, pre-transform-scale2d;
	
	transition-duration: 0.09s;
	transition-timing-function: ease-in-out;		
}

.Reborn.AltPressed #Intelligence,
.Reborn.AltPressed #Agility,
.Reborn.AltPressed #Strength,
.AltPressed .AttrIconContainer
{
	pre-transform-scale2d: 1;
	opacity: 1;
}

.Reborn DOTAHUDStrAgiInt.QueryUnit #Intelligence,
.Reborn DOTAHUDStrAgiInt.QueryUnit #Agility,
.Reborn DOTAHUDStrAgiInt.QueryUnit #Strength
{
	margin-top: 3px;
	margin-bottom: 3px;
}

.Reborn #Strength
{
}

.Reborn #StrengthIcon
{
    border-radius: 50%;
    border: 0px solid #ec3d06;
    background-image: none;
	background-color: #9F2325;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%,  from( #9F2325 ), to( #5F1410 ) );
}

.Reborn #Agility
{
}

.Reborn #AgilityIcon
{
    border-radius: 50%;
    border: 0px solid #26e030;
    background-image: none;
	background-color: #388734;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%,  from( #37AB3D ), to( #2D5725 ) );
}

.Reborn #Intelligence
{
}

.Reborn #IntelligenceIcon
{
    border: 0px solid #00d9ec;
    border-radius: 50%;	
    background-image: none;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%,  from( #2A5EFF ), to( #163777 ) );
}

.Reborn .HighlightStrength #StrengthIcon
{
    //background-color: #ec3d0615;
	border-width: 2px;
}

.Reborn .HighlightAgility #AgilityIcon
{
    //background-color: #26e03015;
	border-width: 2px;
}

.Reborn .HighlightIntelligence #IntelligenceIcon
{
    //background-color: #00d9ec15;
	border-width: 2px;
}