DOTAHUDLevelStatsFrame
{
	visibility: collapse;
	flow-children: none;
}

DOTAHUDLevelStatsFrame.CanLevelStats
{
	visibility: visible;
	//background-color: #97B1DD;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-top: 1px;
}

@keyframes 'levelupstatspulseglow'
{
	0%
	{
		background-color: #97B1DD;
	}
	

	50%
	{
		background-color: #6783AB;
	}
	
	100%
	{
		background-color: #97B1DD;
	}
}

#LevelUpTab
{
	width: 100%;
	height: 156px;
	
	//margin-left:8px;
	margin-right: 3px;

	margin-bottom: 20px;
	vertical-align: bottom;
	
	opacity: 1;
	
	z-index: 2;
	transition-property: opacity, brightness;
	transition-timing-function: ease-in-out;
	transition-duration: .12s;	

}

.FiveAbilities #LevelUpTab,
.SixAbilities #LevelUpTab
{
	margin-bottom: 22px;
}

#LevelUpButton
{
	width: 100%;
	height: 36px;

	background-image: url("s2r://panorama/images/hud/reborn/levelup_button_1_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	transition-property: opacity, brightness, pre-transform-scale2d;
	transition-timing-function: ease-in-out;
	transition-duration: .12s;	
	
	margin-top: 1px;

	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

#LevelUpTab:hover #LevelUpButton
{
	brightness: 1.4;
}

#LevelUpTab:active #LevelUpButton
{
	pre-transform-scale2d: .9;
}


#LevelUpIcon
{
	horizontal-align: center;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/hud/reborn/levelup_plus_well_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition-property: background-image;
	transition-duration: .12s;
	
}

#LevelUpTab:hover #LevelUpIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/levelup_plus_fill_psd.vtex");
}

#LevelUpBurstFX
{
	width: 100%;
	height: 62px;
	margin-top: 14px;
	//visibility: collapse;
	//border: 1px solid black;
}

#abilities .show_level_up_tab #LevelUpBurstFX
{
	visibility: visible;
}

#LevelUpGlow
{
	width: 62px;
	height: 62px;
	
	margin-top: 91px;
	horizontal-align: center;
	//margin-left: 7px;
	
	vertical-align: top;
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_button_lvlup_psd.vtex");
	background-size: 100% 100%;
	
	background-position: 50% 50%;	
	opacity: 0;
	
	transition-property: opacity;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
	brightness: 1.5;
	
	animation-name: OpacityPulse;
	animation-duration: .82s;
	animation-iteration-count: infinite;	
}

.CanLevelStats #LevelUpGlow
{
	opacity: 1;
}

.AbilityLearnMode #LevelUpButton
{
	background-color: none;
}


#LearnModeButton
{
	background-image: url("s2r://panorama/images/hud/reborn/levelup_stat_button_learnmode_psd.vtex");
	height: 92px;
	width: 72px;
	
	horizontal-align: center;
	margin-top: 14px;
	z-index: 6;
	
	background-size: 100% 100%;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	
	opacity: 0;
	
	transition-property: opacity, brightness, pre-transform-scale2d;
	transition-timing-function: ease-in-out;
	transition-duration: .12s;		
	
}

.AbilityLearnMode #LearnModeButton
{
	opacity: 1;
}