@keyframes 'TextGlowPulse'
{
	0%
	{
		text-shadow: 0px 0px 6px 1.0 #AAE9A700;
	}
	
	50%
	{
		text-shadow: 0px 0px 6px 1.0 #AAE9A7dd;
	}

	100%
	{
		text-shadow: 0px 0px 6px 1.0 #AAE9A700;
	}
}

@define wheel-horizontal-margin: 57%;
@define wheel-vertical-margin: 30%;
@define wheel-top-bot-margin: 20%;
@define wheel-left-right-margin: 63%;

@define wheel-arrow-margin: 79px;
@define wheel-arrow-side-margin: 121px;

@define wheel-wheel-top-margin: 11px;
@define wheel-wheel-left-margin: 4px;


DOTAChatWheel
{
	width: 850px;
	height: 450px;
	horizontal-align: center;
	vertical-align: middle;
}

.Hidden
{
	visibility: collapse;
}

.Phrase
{
	color: #FFFFFF;
	font-size: 26px;
	font-weight: bold;
	pre-transform-scale2d: 1.0;
}

.Selected
{
	pre-transform-scale2d: 1.3;
	animation-name: TextGlowPulse;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#Phrase6
{
	vertical-align: top;
	horizontal-align: center;
	margin-top: wheel-top-bot-margin;
	text-align: center;
}

#Phrase7
{
	vertical-align: top;
	horizontal-align: left;
	margin-top: wheel-vertical-margin;
	margin-left: wheel-horizontal-margin;
	text-align: left;
	padding-top: 5px;
}

#Phrase0
{
	vertical-align: middle;
	horizontal-align: left;
	margin-left: wheel-left-right-margin;
	text-align: left;
}

#Phrase1
{
	vertical-align: bottom;
	horizontal-align: left;
	margin-bottom: wheel-vertical-margin;
	margin-left: wheel-horizontal-margin;
	text-align: left;
	padding-bottom: 5px;
}

#Phrase2
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: wheel-top-bot-margin;
	text-align: center;
}

#Phrase3
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: wheel-vertical-margin;
	margin-right: wheel-horizontal-margin;
	text-align: right;
	padding-bottom: 5px;
}

#Phrase4
{
	vertical-align: middle;
	horizontal-align: right;
	margin-right: wheel-left-right-margin;
	text-align: right;
}

#Phrase5
{
	vertical-align: top;
	horizontal-align: right;
	margin-top: wheel-vertical-margin;
	margin-right: wheel-horizontal-margin;
	text-align: right;
	padding-top: 5px;
}

.ChatWheelSoundIcon
{
	width: 22px;
	height: 22px;

	margin-right: 4px;
	transform: translateY( 4px );

	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
}

#Wheel
{
	horizontal-align: center;
	vertical-align: middle;
	height: 164px;
	width: 164px;
}

#WheelBG
{
	background-image: url("s2r://panorama/images/chat_wheel/circle_bg_png.vtex");
    background-size: contain;
	horizontal-align: center;
	vertical-align: middle;
	height: 128px;
	width: 128px;
	margin-top:wheel-wheel-top-margin;
	margin-left:wheel-wheel-left-margin;
}

#WheelCenter
{
	background-image: url("s2r://panorama/images/chat_wheel/circle_png.vtex");
    background-size: contain;
	horizontal-align: center;
	vertical-align: middle;
	height: 128px;
	width: 128px;
}

#WheelBG2
{
	background-image: url("s2r://panorama/images/chat_wheel/circle_bg2_png.vtex");
    background-size: contain;
	horizontal-align: center;
	vertical-align: middle;
	height: 128px;
	width: 128px;
}

#WheelPointer
{
	background-image: url("s2r://panorama/images/chat_wheel/circle_pointer_png.vtex");
    background-size: contain;
	horizontal-align: center;
	vertical-align: middle;
	height: 128px;
	width: 128px;
}

#PointerContainer
{
	height: 164px;
	width: 164px;
	horizontal-align: center;
	vertical-align: middle;
	margin-left: 2px;
}

#Bubble
{
	background-image: url("s2r://panorama/images/chat_wheel/cursor_png.vtex");
	horizontal-align: center;
	vertical-align: middle;
	padding-top: wheel-wheel-top-margin;
	padding-left: wheel-wheel-left-margin;
	height: 46px;
	width: 46px;
}

.Arrow
{
	horizontal-align: center;
	vertical-align: middle;
	height: 46px;
	width: 46px;
	wash-color: white;
	brightness: 3.0;
}

#Arrow0
{
	background-image: url("s2r://panorama/images/chat_wheel/arrow_1_png.vtex");
	margin-left: wheel-arrow-side-margin;
	margin-bottom: 3px;
}

#Arrow1
{
	background-image: url("s2r://panorama/images/chat_wheel/arrow_2_png.vtex");
	margin-left: wheel-arrow-margin;
	margin-top: wheel-arrow-margin;

}

#Arrow2
{
	background-image: url("s2r://panorama/images/chat_wheel/arrow_3_png.vtex");
	margin-top: wheel-arrow-side-margin;

}

#Arrow3
{
	background-image: url("s2r://panorama/images/chat_wheel/arrow_4_png.vtex");
	margin-right: wheel-arrow-margin;
	margin-top: wheel-arrow-margin;

}

#Arrow4
{
	background-image: url("s2r://panorama/images/chat_wheel/arrow_5_png.vtex");
	margin-right: wheel-arrow-side-margin;
	margin-top: 3px;
}

#Arrow5
{
	background-image: url("s2r://panorama/images/chat_wheel/arrow_6_png.vtex");
	margin-right: wheel-arrow-margin;
	margin-bottom: wheel-arrow-margin;

}

#Arrow6
{
	background-image: url("s2r://panorama/images/chat_wheel/arrow_7_png.vtex");
	margin-bottom: wheel-arrow-side-margin;

}

#Arrow7
{
	background-image: url("s2r://panorama/images/chat_wheel/arrow_8_png.vtex");
	margin-bottom: wheel-arrow-margin;
	margin-left: wheel-arrow-margin;

}