DOTAKillStreak
{
	width: 800px;

	horizontal-align: center;
	vertical-align: top;

	margin-top: 100px;

	flow-children: down;
}

DOTAKillStreak.Hidden
{
	visibility: collapse;
}

#StreakContainer
{
	width: 100%;

	flow-children: down;
}

.KillStreak,
.FirstBlood
{
	horizontal-align: center;

	font-size: 26px;
	font-weight: bold;

	color: #FFFFFF;

	text-shadow: 0px 0px 2px 2.0 #000000;

	transition-property: position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.KillStreak
{
	animation-name: KillStreakReveal;
}

.FirstBlood
{
	animation-name: FirstBloodReveal;
}


@keyframes 'KillStreakReveal'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 1.0;
	}

	50%
	{
		pre-transform-scale2d: 1.6;
	}

	100%
	{
		pre-transform-scale2d: 1.0;
		opacity: 1;
	}
}


@keyframes 'FirstBloodReveal'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: 1.0;
	}

	50%
	{
		pre-transform-scale2d: 3.0;
	}

	100%
	{
		pre-transform-scale2d: 1.0;
		opacity: 1;
	}
}

.KillStreak.Expired,
.KillStreak.Rampage.Expired,
.FirstBlood.Expired
{
	animation-name: KillStreakExpire;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'KillStreakExpire'
{
	0%
	{
		opacity: 1;
	}
				
	100%
	{
		opacity: 0;
	}
}

.HeroIcon
{
	width: 32px;
	height: 32px;
	margin-bottom: -3px;
	margin-top: 0px;
	margin-bottom: -6px;
	margin-right: 4px;
	transform: translateY( 2px );
}

.KillStreak.Rampage
{
	animation-name: KillStreakRampage;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;

	padding: 60px;
	margin-top: -60px;

	color: #FF0000;
}

@keyframes 'KillStreakRampage'
{
	0%
	{
		pre-transform-scale2d: 3.0;
		transform: rotateZ( 5.0deg );
	}

	5%
	{
		transform: rotateZ( -5.0deg );
	}

	10%
	{
		transform: rotateZ( 4.0deg );
	}

	15%
	{
		transform: rotateZ( -4.0deg );
	}
				
	20%
	{
		transform: rotateZ( 3.0deg );
	}

	25%
	{
		transform: rotateZ( -3.0deg );
	}

	30%
	{
		transform: rotateZ( 2.0deg );
	}

	35%
	{
		transform: rotateZ( -2.0deg );
	}
				
	40%
	{
		transform: rotateZ( 1.0deg );
	}

	45%
	{
		transform: rotateZ( -1.0deg );
	}
				
	100%
	{
		pre-transform-scale2d: 1.0;
		transform: rotateZ( 0.0deg );
	}
}