
@define toastExitDuration: 0.2s;

DOTACombatEventRow
{
	horizontal-align: left;
	flow-children: left;
	height: 30px;
	margin-top: 5px;
	overflow: noclip;
}

DOTACombatEventRow.LocalPlayerInvolved
{
	//background-color: #00000055;
}

.HUDFlipped DOTACombatEventRow
{
	horizontal-align: right;
	flow-children: right;
}

.EventListLabel
{
	color: #ffffff;
	font-size: 18px;
    font-weight: bold;
	text-shadow: 2px 1px 0px 2 black;
	vertical-align: center;
    padding-top: -9px;
	height: 30px;
    padding-left: 18px;
    padding-right: 0px;
}

.HUDFlipped .EventListLabel
{
    padding-right: 18px;
    padding-left: 0px;
}


.CombatEventGoldIcon
{
	width: 20px;
	height: 20px;
	margin-left: 2px;
	margin-right: 2px;
	transform: translateY( 14px );
	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
	background-size: 100%;
}

.CombatEventKillIcon
{
	width: 48px;
	height: 30px;
	margin-left: 2px;
	margin-right: 2px;
	transform: translateY( 9px );
	background-image: url("s2r://panorama/images/hud/icon_kill_enemy_psd.vtex");
	background-size: 100%;
}

.AllyEvent .CombatEventKillIcon
{
	background-image: url("s2r://panorama/images/hud/icon_kill_ally_psd.vtex");
}

.CombatEventCourierIcon
{
	width: 24px;
	height: 24px;
	margin-left: 2px;
	margin-right: 2px;
    margin-top: 4px;
	transform: translateY( 7px );
	background-image: url("s2r://panorama/images/hud/icon_courier_event_psd.vtex");
	background-size: 100%;
}

.GlyphIcon
{
	width: 30px;
	height: 30px;
	margin-left: 2px;
	margin-right: 2px;
	transform: translateY( 9px );
	background-image: url("s2r://panorama/images/hud/icon_glyph_small_psd.vtex");
	background-size: 100%;
}

.CombatEventHeroIcon
{
	width: 24px;
	height: 100%;
    vertical-align: center;
    padding-bottom: 3px;
    margin-right: 4px;
    transform: translateY( 11px );
}

.RoshanIcon
{
	width: 24px;
	height: 24px;
	transform: translateY( 12px );
	wash-color: #ff0000;
	background-image: url("s2r://panorama/images/hud/icon_roshan_psd.vtex");
	background-size: 100%;
}

.RadarIcon
{
	width: 24px;
	height: 30px;
	transform: translateY( 12px );
	background-image: url("s2r://panorama/images/hud/reborn/icon_scan_on_psd.vtex");
	background-size: 24px 24px;
	background-repeat: no-repeat;
}

.AegisIcon
{
	width: 34px;
	height: 25px;
	transform: translateY( 8px );
	background-image: url("s2r://panorama/images/items/aegis_png.vtex");
	background-size: 100%;
}

.DeniedIcon
{
    width: 48px;
    height: 30px;
	transform: translateY( 8px );
	background-size: 100%;
	background-image: url("s2r://panorama/images/hud/icon_suicide_enemy_psd.vtex");
}

.AllyEvent .DeniedIcon
{
	background-image: url("s2r://panorama/images/hud/icon_suicide_ally_psd.vtex");
}

#RuneIcon
{
	margin-top: 3px;
    width: 24px;
	height: 24px;
	transform: translateY( 10px );
	margin-left: 2px;
	margin-right: 2px;
}

#SlashContainer
{
	width: 18px;
	height: 100%;
    opacity-mask: url("s2r://panorama/images/masks/combat_event_slant_left_psd.vtex");
	overflow: clip;
}

.HUDFlipped #SlashContainer
{
    opacity-mask: url("s2r://panorama/images/masks/combat_event_slant_right_psd.vtex");
}

.AllyEvent.LocalPlayerInvolved #SlashContainer { background-color: #00000088; }
.EnemyEvent.LocalPlayerInvolved #SlashContainer { background-color: #00000088; }
.AllyEvent #SlashContainer 			 { background-color: #00000088; }
.EnemyEvent #SlashContainer			 { background-color: #00000088; }

.AllyEvent.LocalPlayerInvolved .EventListLabel { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #2E4826cc ) ); }
.EnemyEvent.LocalPlayerInvolved .EventListLabel { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #5B3525cc ) ); }
.AllyEvent .EventListLabel			 { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #2E4826cc ) ); }
.EnemyEvent .EventListLabel			 { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #5B3525cc ) ); }

.HUDFlipped .AllyEvent.LocalPlayerInvolved #SlashContainer { background-color: #2E4826cc ; }
.HUDFlipped .EnemyEvent.LocalPlayerInvolved #SlashContainer { background-color: #5B3525cc; }
.HUDFlipped .AllyEvent #SlashContainer 			 { background-color: #2E4826cc; }
.HUDFlipped .EnemyEvent #SlashContainer			 { background-color: #5B3525cc; }

.HUDFlipped .AllyEvent.LocalPlayerInvolved .EventListLabel { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #2E4826cc ) ); }
.HUDFlipped .EnemyEvent.LocalPlayerInvolved .EventListLabel { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #5B3525cc ) ); }
.HUDFlipped .AllyEvent .EventListLabel			 { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #2E4826cc ) ); }
.HUDFlipped .EnemyEvent .EventListLabel			 { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #5B3525cc ) ); }

#TeamColorBar
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #666666 ), color-stop( 0.5, #ffffff ), to( #666666 ) );
	width: 12px;
	margin-top: -6px;
	height: 44px;
    margin-left: 7px;
    margin-right: 0px;
	visibility: collapse;
	transform: rotateZ(25deg);
	border-radius: 0.1px;
}

.HUDFlipped #TeamColorBar
{
    margin-left: -2px;
}

.AllyEvent #TeamColorBar
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #629f52 ), to( #436e38 ) );
}

.EnemyEvent #TeamColorBar
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #d1471f ), to( #a43819 ) );
}

.AllyEvent #TeamColorBar,
.EnemyEvent #TeamColorBar
{
	visibility: visible;
}

@keyframes 'CombatEvent'
{
    0%
    {
        pre-transform-scale2d: .2;
        opacity: 0;
    }

    50%
    {
        pre-transform-scale2d: 1.5;
        opacity: 1;
    }

    100%
    {
        pre-transform-scale2d: 1;
        opacity: 1;
    }
}

.TimeOfDay
{
	color: #ccc;
}


/* Add some special styling to make the Buyback notification more noticable */
.event_bought_back
{
	height: 34px;
}

.event_bought_back	.EventListLabel
{
	padding-left: 9px;
}

.event_bought_back #EventIcon
{
	width: 9px;
	height: 100%;

	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( goldColor ), to( #b28e24 ) );
}

.HUDFlipped .event_bought_back #EventIcon
{
	border-right: 0px solid black;
	border-left: 2px solid black;
}

.event_bought_back #SlashContainer
{
	vertical-align: middle;
	height: 30px;
}