DOTAScoreboard
{
	width: 1082px;
	height: 660px;
	height: 770px;
	vertical-align: top;
	margin-top: 54px;
	flow-children: none;

	transform: translateX( 0 );
	transition-property: position, transform, opacity, height;
	transition-duration: 0.16s;
	
	z-index: 3;
}

.ScoreboardClosed
{
	transform: translateX( -160px );
	opacity: 0;
}

// Custom game SetHUDVisible support
.HIDE_TOP_SCOREBOARD DOTAScoreboard
{
	visibility: collapse;
}

#Background
{
	height: 680px;
	width: 682px;
    background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
    background-size: cover;
	background-color: #000000da;
	
	transition-property: box-shadow, height;
	transition-duration: .36s, .18s;
	transition-delay: .16s, 0s;
	transition-timing-function: ease-in-out;
	box-shadow: #000000f5 -4px -4px 8px 8px;
}

#Background.ShowItems
{
	height: 800px;
}

.ScoreboardClosed #Background
{
	box-shadow: #00000000 -4px -4px 8px 8px;
	transition-delay: 0s;
}


#RadiantHeader,
#DireHeader
{
	height: 32px;
	vertical-align: top;
}

#RadiantScoreLabel,
#DireScoreLabel
{
	color: white;
	font-size: 30px;
	font-weight: normal;
	margin-left: 12px;
	margin-bottom: 0px;
	width: 36px;
	vertical-align: bottom;
	text-align: center;
}

#RadiantScoreLabel
{
	text-shadow: 0px 0px 6px 1.0 #9BE40C8F;
}
#DireScoreLabel
{
	text-shadow: 0px 0px 6px 1.0 #E74D088F;
}


#RadiantTeamLabel,
#DireTeamLabel
{
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin-left: 10px;
	vertical-align: bottom;
	letter-spacing: 1.5px;
	width: 248px;
}

#RadiantTeamLabel
{
	text-shadow: 0px 0px 6px 1.0 #9BE40C8F;
}

#DireTeamLabel
{
	text-shadow: 0px 0px 6px 1.0 #E74D088F;
	margin-bottom: 2px;
}


.SubheaderDesc
{
	color: #afd2e3;
	font-size: 15px;
    font-weight: bold;
	margin-top: 0px;
	margin-bottom: 2px;
	vertical-align: bottom;
	text-align: center;
	text-transform: uppercase;
}

#LvlLabel
{
	width: 32px;
}

#GoldLabel
{
	width: 90px;
	margin-left: 15px;
}

.KDALabel
{
	width: 35px;
}

#UltLabel
{
	width: 40px;
}

#MuteLabel
{
	width: 100px;
}

#RadiantTeamContainer,
#DireTeamContainer
{
	height: 286px;
	width: 682px;

	transition-property: height;
	transition-duration: .18s;
	transition-timing-function: ease-in-out;
}

.ShowItems #RadiantTeamContainer,
.ShowItems #DireTeamContainer
{
	height:336px;
}


DOTAScoreboardPlayer
{
	height: 54px;
	width: 878px;
	margin-top: 2px;
	margin-bottom: 1px;
	background-color: #111920bb;
	border-top: 1px solid #ffffff05;
	border-bottom: 1px solid #ffffff03;	
}

.ShowItems DOTAScoreboardPlayer
{
	height: 64px;

	transition-property: height;
	transition-duration: .18s;
	transition-timing-function: ease-in-out;
}

.ScoreboardAvatar
{
	height: 38px;
	width: 38px;
	vertical-align: center;
	margin-left: 6px;
	margin-right: 10px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #88888822 ), to( #44444433 ) );
	background-size: 100%;
}

.ScoreboardHeroImage
{
	width: 67px;
	height: 38px;
	vertical-align: center;
	border: 1px solid black;
}

.EmptyPlayerRow .ScoreboardHeroImage
{
	opacity: 0;
}

#PlayerAndHeroNameContainer
{
	width: 170px;
	height: 100%;
}

.PlayerNameLabel
{
	font-size: 20px;
	height: 60%;
	color: #b9d3d3;
	font-weight: thin;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: -4px;
	text-overflow: ellipsis;
}

.LocalPlayer .PlayerNameLabel
{
	color: white;
	font-weight: bold;
}



.HeroNameLabel
{
	font-size: 14px;
	font-weight: thin;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 10px;
    color: #6D726B;
    margin-top: -8px;
}

.EmptyPlayerRow .HeroNameLabel
{
	visibility: collapse;
}

.LocalPlayer .HeroNameLabel
{
	color: #a9a6aa;
}



.ScoreboardXP
{
	width: 50px;
	height: 100%;
	horizontal-align: left;
	vertical-align: center;
	margin-left: 7px;
	margin-bottom: 2px;
}

.EmptyPlayerRow .ScoreboardXP
{
	opacity: 0;
}

#LevelLabel
{
    font-size: 2px;
}

#ScoreboardXP.EnemyTeam
{
	visibility: collapse;
}

#GoldContainer
{
	horizontal-align: center;
	vertical-align: middle;
	margin-left: 14px;
	margin-right: 16px;
}

.ScoreboardGold
{
	width: 60px;
	horizontal-align: left;
	vertical-align: middle;
	font-weight: bold;
	text-align: center;
	color: #ffcc33;
	padding-top: 2px;
}



.KDANumbers
{
	width: 35px;
    height: 100%;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	font-weight: thin;
	color: #acacac;
	padding-top: 20px;
}

DOTAScoreboardPlayer.LocalPlayer .KDANumbers
{
    color: white;

}

.KDAKills
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #ffffff00 ), color-stop( 0.1, #00000033), color-stop( 0.9, #00000033), to( #ffffff00 ) );
	font-weight: bold;
}

.EmptyPlayerRow .KDANumbers
{
	opacity: 0;
}

#UltIcon
{
	vertical-align: center;
	horizontal-align: center;
    width: 20px;
    height: 20px;
    background-size: contain;
	z-index: 20;

	opacity: 0;
}

.UltOnCooldown #UltIcon
{
    background-image: url("s2r://panorama/images/hud/reborn/ult_cooldown_psd.vtex");
}

#ScoreboardUltIndicator
{
    width: 28px;
    height: 40px;
    vertical-align: center;
    horizontal-align: center;
    margin-left: 6px;
}

.UltLearned #UltIcon
{
	opacity: 1;
}

.UltReady #UltIcon
{
    background-image: url("s2r://panorama/images/hud/reborn/ult_ready_psd.vtex");
}

.UltReadyNoMana #UltIcon
{
    background-image: url("s2r://panorama/images/hud/reborn/ult_no_mana_psd.vtex");
}

#UltCooldownSeconds,
#BuybackCooldown
{
	color: #8a878d;
	font-size: 14px;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
    padding-top: 1px;
    padding-right: 1px;
    font-family: RadianceM;
    font-weight: bold;
    z-index: 40;
    width: 100%;
}

#UltCooldownSeconds
{
    margin-top: 25px;
}

.UltOnCooldown #UltCooldownSeconds
{
	visibility: visible;
}

#ScoreboardMuteButtons
{
	vertical-align: center;
	horizontal-align: center;
	margin-left: 20px;
	margin-right: 10px;
    width: 200px;
}

ToggleButton.ScoreboardMuteButton
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	z-index: 20;
    box-shadow: #00000055 -2px -2px 4px 4px;
	vertical-align: center;
	horizontal-align: center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from ( #373d45 ), to ( #4d5860 ) );
}

ToggleButton#VoiceMute .TickBox,
ToggleButton#TextMute .TickBox
{
	visibility: collapse;
}

ToggleButton#VoiceMute
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
}

ToggleButton#TextMute
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_text_psd.vtex");
}

ToggleButton#VoiceMute:selected
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_on_psd.vtex");
}

ToggleButton#TextMute:selected
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_text_on_psd.vtex");
}


ToggleButton#VoiceMute:hover,
ToggleButton#TextMute:hover
{
	
}



.EnemyTeam .ScoreboardGold,
.EnemyTeam #UltIcon,
.EnemyTeam .ScoreboardBuybackIndicator,
.EnemyTeam #UltCooldownSeconds
{
	opacity: 0;
}

.HideElement
{
	opacity: 0;
}

.CollapseElement
{
	visibility: collapse;
}

#EnemyPlayerLevel
{
	font-weight: normal;
	color: #E7D291;
	width: 50px;
	text-align: center;
	vertical-align: bottom;
	margin-bottom: 11px;
	margin-top: 5px;
	margin-left: 2px;
	font-size: 18px;
	z-index: -50;
	padding-right: 5px;
	margin-right: 5px;

}

DOTASharedControlPlayer
{
	height: 64px;
	width: 200px;
	margin-top: 2px;
	margin-bottom: 1px;
	background-color: #00000084;
	visibility: collapse;
}

DOTAScoreboardPlayer.LocalPlayer
{
	background-color: #4c5c63;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #373C3B ), color-stop( 0.4, #505959 ), color-stop( 0.6, #505959 ), to( #2F3535 ) );
	border-top: 1px solid #5C616A;
	border-bottom: 1px solid #232323;
}

#PlayersContainer
{
	margin-top: 32px;
}

#SharedUnitControl
{
	horizontal-align: left;
	margin-left: 450px;
	margin-right: 200px;
	width: 210px;
	height: 400px;
	margin-top: 0px;
	flow-children: none;
	z-index: 0;

	background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
    background-size: 240% 240%;
	background-color: #000000ff;
	
	
	opacity: 0;
	border-color: black;
	box-shadow: #00000000 -2px -2px 4px 4px;
	transform: translateX( 0 );
	transition-property: position, transform, opacity, box-shadow;
	transition-duration: 0.18s;
	transition-timing-function: ease-in-out;
}

#SharedUnitControl.Dire
{
	margin-top: 364px;
    height: 410px;
	background-position: 0% 52%;
	background-color: #000000da;
	background-color: black;
}

.Dire #PlayersContainer
{
	margin-top: 36px;
}

.SharedUnitControl #SharedUnitControl
{
	transform: translateX( 231px );
	opacity: 1;
	box-shadow: #000000ff -2px -2px 4px 4px;
}

#SharedUnitControlButton
{
	vertical-align: bottom;
	horizontal-align: center;
    margin-bottom: 10px;
    margin-left: 30px;
}

.SharedUnitControl #SharedUnitControlButton
{
	margin-right: 30px;
	margin-left: 0px;
}

#SharedUnitControlLabel
{
	font-size: 15px;
    font-weight: bold;
	text-align: center;
	color: #afd2e3;
}


#UnitControlButton,
#HeroControlButton,
#DisableHelpButton
{
	width: 33%;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

#UnitControlButton .TickBox,
#HeroControlButton .TickBox,
#DisableHelpButton .TickBox
{
	border-color: #8E8566;
}

#UnitControlButton:selected .TickBox,
#HeroControlButton:selected .TickBox,
#DisableHelpButton:selected .TickBox
{
	border-color: black;
	background-color: #CEBC83;
	box-shadow: #CEBC8311 -4px -4px 8px 8px;
}

.LocalPlayer #UnitControlButton,
.LocalPlayer #HeroControlButton,
.LocalPlayer #DisableHelpButton
{
	opacity: 0;
}

#UnitControlButton
{
	margin-left: 22px;
}

#SharedUnitHeaders
{
	margin-top: 10px;
	visibility: collapse;
}

.Dire #SharedUnitHeaders
{
	margin-top: 16px;
}

.SharedUnitLabels
{
	text-align: center;
	text-transform: uppercase;
    color: #CEBC83;
    font-size: 15px;
    font-weight: bold;
}

#UnitLabel
{
	margin-left: 18px;
}

#HeroLabel
{
	margin-left: 27px;
}

#DisableHelpLabel
{
	margin-left: 27px;
}

.SharedUnitControl DOTASharedControlPlayer,
.SharedUnitControl #UnitControlButton,
.SharedUnitControl #HeroControlButton,
.SharedUnitControl #DisableHelpButton,
.SharedUnitControl #SharedUnitHeaders
{
	visibility: visible;
}

.ScoreboardBuybackIndicator
{
	vertical-align: center;
	horizontal-align: center;

	width: 100%;
	height: 24px;
	background-image: url("s2r://panorama/images/hud/reborn/scoreboard_buyback_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;

	z-index: 20;

	opacity: 0;
}

.BuybackReady
{
	opacity: 1;
}

.BuybackNotEnoughGold.BuybackReady
{
	opacity: 0;
}

.BuybackOnCooldown #BuybackCooldown
{
	visibility: visible;
}

#PlayerColor
{
	width: 4px;
	height: 100%;
	background-color: green;
	background-image: url("s2r://panorama/images/hud/reborn/scoreboard_playerslot_vignette_psd.vtex");
	background-size: 92% 100%;
	background-repeat: no-repeat;
}

.EmptyPlayerRow #PlayerColor
{
	wash-color: black;
}

#NestedMenuButtons Button
{
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;
    horizontal-align: left;
    background-position: center;
    opacity: 0.2;
	tooltip-position: bottom;
	tooltip-body-position: 50% 50%;

    transition-property: opacity;
    transition-duration: 0.2s;
}

#NestedMenuButtons Button:hover
{
    opacity: 1.0;
}

#NestedMenuButtons Button:active
{
    opacity: 1.0;
}

#NestedMenuButtons
{
	width: 100%;
	height: 30px;
	margin: 5px;
}

.ShowItems #NestedMenuButtons
{
	margin-top: 1px;
}

#CombatLogButton
{
    background-image: url("s2r://panorama/images/hud/reborn/icon_combat_log_psd.vtex");
    width: 26px;
    height: 26px;
    margin-top: 2px;
}

#SharedContentButton
{
	background-image: url("s2r://panorama/images/hud/reborn/shared_content_rest_psd.vtex");
    width: 32px;
    height: 32px;
}

#SharedUnitsButton
{
	background-image: url("s2r://panorama/images/hud/reborn/sharedunit_rest_png.vtex");
    width: 32px;
    height: 32px;
}

#ShowItemsButton
{
	background-image: url("s2r://panorama/images/control_icons/brackets_png.vtex");
    width: 32px;
    height: 32px;
}

.ShowItems #ShowItemsButton
{
	brightness: 2;
}

#CoachMuteContainer
{
	horizontal-align: left;
	vertical-align: bottom;

	visibility: collapse;
}

.HasCoach #CoachMuteContainer
{
	visibility: visible;
}

#NestContainer
{
	horizontal-align: right;
	flow-children: right;
}

/* Scoreboard Local Team Inventory */
DOTAScoreboardPlayerInventory
{
	height: 48px;
	height: 64px;
	width: 200px;
	
	width: 206px;
	

	margin-top: 2px;
	margin-bottom: 1px;
	padding-left: 8px;
	background-color: #000000ff;
	
	border-top: 1px solid #ffffff05;
	border-bottom: 1px solid #ffffff03;		
	border-right: 1px solid black;		
}

#TeamInventories
{
	margin-left: 450px;

	transition-property: transform, opacity;
	transition-duration: 0.18s;
	transition-timing-function: ease-in-out;

	opacity: 0.0;
	transform: none;
	//border: 1px solid red;
}

#TeamInventories.ShowItems 
{
	opacity: 1.0;
	transform: translateX( 231px );
}

#RadiantTeamInventory,
#DireTeamInventory
{
	horizontal-align: left;

	width: 400px;
	height: 370px;
	flow-children: none;
	z-index: 0;
}

#DireTeamInventory
{
	margin-top: 364px;
	height: 410px;
	background-position: 0% 52%;
}

#TeamInventoryBackground
{
	horizontal-align: right;
	margin-right: 191px;
	width: 218px;
	height: 370px;
	margin-top: 0px;
	flow-children: none;
	z-index: 0;
	//padding-left: 10px;

	background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
	background-size: 240% 240%;
	background-color: #000000da;
	
	border-color: black;
	box-shadow: #00000000 -2px -2px 4px 4px;
	transition-property: position, transform, opacity, box-shadow;
	transition-duration: 0.18s;
	transition-timing-function: ease-in-out;

	box-shadow: #000000ff -2px -2px 4px 4px;
}


#DireTeamInventory #TeamInventoryBackground
{
	height: 410px;
}

#RadiantTeamInventoryContainer
{
	margin-top: 32px;
}

#DireTeamInventoryContainer
{
	margin-top: 36px;
}

#RadiantTeamInventoryHeaders,
#DireTeamInventoryHeaders
{
	margin-top: 10px;
	padding-left: 10px;
}

#DireTeamInventoryHeaders
{
	margin-top: 10px;
}

.LocalTeamInventoryLabels
{
	text-align: center;
	text-transform: uppercase;
	color: #CEBC83;
	font-size: 15px;
	font-weight: bold;
}

#RadiantTeamContainer DOTAScoreboardPlayer
{
//	height: 64px;
}

DOTAScoreboardPlayerInventory DOTAAbilityPanel
{
	width: 36px;
	height: 20px;

	width: 32px;
	height: 24px;
	
	width: 47px;
	height: 32px;	
	
}

DOTAScoreboardPlayerInventory #ScoreboardBackpack DOTAAbilityPanel
{
	width: 47px;
	border: 1px solid black;
	height: 21px;	
}


DOTAScoreboardPlayerInventory.Empty
{
	opacity: 0.0;
}

DOTAScoreboardPlayerInventory #ScoreboardInventory
{
}

DOTAScoreboardPlayerInventory #ScoreboardStash
{
	margin-left: 20px;
	visibility: collapse;
}
