DOTAHUDLevelStatsFrame
{
	visibility: collapse;
	flow-children: none;
}

DOTAHUDLevelStatsFrame.CanLevelStats
{
	visibility: visible;
	//background-color: #97B1DD;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-top: 1px;
}

@keyframes 'levelupstatspulseglow'
{
	0%
	{
		background-color: #97B1DD;
	}
	

	50%
	{
		background-color: #6783AB;
	}
	
	100%
	{
		background-color: #97B1DD;
	}
}

#LevelUpTab
{
	width: 100%;
	height: 36px;

	margin-top: 70px;
	
	opacity: 1;
	
	z-index: 2;
	transition-property: opacity, brightness;
	transition-timing-function: ease-in-out;
	transition-duration: .12s;	

}

#LevelUpButton
{
	width: 100%;
	height: 36px;

	background-image: url("s2r://panorama/images/hud/reborn/levelup_button_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	transition-property: opacity, brightness, pre-transform-scale2d;
	transition-timing-function: ease-in-out;
	transition-duration: .12s;	
	
	margin-bottom: -4px;
}

#LevelUpTab:hover #LevelUpButton
{
	brightness: 1.4;
}

#LevelUpTab:active #LevelUpButton
{
	pre-transform-scale2d: .9;
}


#LevelUpIcon
{
	horizontal-align: center;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background-image: url("s2r://panorama/images/hud/reborn/levelup_plus_well_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition-property: background-image;
	transition-duration: .12s;
	
}

#LevelUpTab:hover #LevelUpIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/levelup_plus_fill_psd.vtex");
}

#LevelUpBurstFX
{
	width: 100%;
	height: 62px;
	margin-top: 14px;
	//visibility: collapse;
	//border: 1px solid black;
}

#abilities .show_level_up_tab #LevelUpBurstFX
{
	visibility: visible;
}

#LevelUpGlow
{
	width: 100%;
	height: 146px;
	height: 126px;
	
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_bg_lvlup_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;	
	opacity: 0;
	
	transition-property: opacity;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
	brightness: 3;
	
	animation-name: OpacityPulse;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;	
}

.CanLevelStats #LevelUpGlow
{
	opacity: 1;
}