DOTAQuickStats
{
	visibility: visible;
	flow-children: down;
	transition-property: opacity;
	transition-duration: .2s;
	height: 70px;
	width: 200px;
}

DOTAQuickStats.Hidden
{
	opacity: 0;
}

.GameModeLabel
{
	color: #A3B5D0cc;
	font-size: 16px;
	text-shadow: 1px 1px 1px 2 #00000099;
	width: fit-children;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#QuickStatsContainer
{
	flow-children: down;
	horizontal-align: left;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.12s;
	transition-timing-function: ease-in-out;	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );		
	padding-left: 10px;
	padding-right: 10px;
}

.AltPressed #QuickStatsContainer
{
	opacity: 1;
}

#spectator_quickstats #QuickStatsContainer
{
	padding-top: 6px;
	padding-bottom: 2px;
	padding-right: 32px;
	padding-left: 16px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), color-stop( .1, #000c ),  color-stop( .9, #000c ), to( #0000 ) );		
}

#GameModeRow
{
	flow-children: down;
	vertical-align: top;
	margin-left: 7px;
}

#KDARow
{
	margin-top: -6px;
	flow-children: down;
	horizontal-align: left;
	vertical-align: top;
}

#LHDRow
{
	flow-children: down;
	horizontal-align: left;
}

.QuickStatLabel
{
	width: 60px;
	font-size: 12px;
	color: #5F5F5F;
}

.QuickStatValue
{
	flow-children: down;
	width: 85px;
	font-size: 13px;
	color: #ABABAB;
}

.AspectRatio4x3 .QuickStatLabel
{
	width: 65px;
	font-size: 15px;
}

.AspectRatio4x3 .QuickStatValue
{
	font-size: 15px;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn DOTAQuickStats
{
	flow-children: none;
	min-width: 126px;
	margin-top: 60px;
	//height: 136px;
	width: 250px;
	min-width: 106px;
}

.Reborn .QuickStatLabel
{
	color: #b2b2b2;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 1px 1px 1px 2 #00000099;
	width: fit-children;
	horizontal-align: center;
}

.Reborn .QuickStatValue
{
	color: #fffa;
	font-weight: thin;
	font-size: 16px;
	text-shadow: 1px 1px 1px 2 #00000099;
	width: fit-children;
	text-align: center;
	//margin-right: 10px;
    font-family: RadianceM;
	margin-right: 4px;
	horizontal-align: center;
}

.Reborn .QuickStatLabelHeader
{
	color: #A3B5D0cc;
	font-weight: thin;
	text-align: left;
	horizontal-align: left;
	margin-right: 3px;
	margin-right: 12px;
}


.Reborn #LHDRow .HeaderContainer
{
	padding-top: 0px;
	margin-top: -4px;
}


.Reborn #LHDRow .QuickStatLabelHeader
{
	color: #A3B5D0cc;
	font-weight: normal;
	text-align: center;
	width: fit-children;
	margin-right: 47px;
	margin-left: 0px;

}

.Reborn #LHDRow .QuickStatValue
{
	width: fit-children;
}

.HeaderContainer
{
	flow-children: none;
	padding-top: 4px;
	padding-left: 8px;
}

#LHDRow .ValueContainer
{
	background-color: none;
	flow-children: right;
	width: 180px;
	visibility: collapse;
}

.ValueContainer
{
	flow-children: none;
	padding-top: 4px;
	padding-left: 8px;	
}

.DenyContainer
{
}

#DeathsValue
{
	margin-left: 0px;
}

#KillsValue
{
	color: white;
	
}

.SlashLabel
{
	color: #9DAFCB;
	font-size: 16px;
	margin-left: 0px;
	text-shadow: 1px 1px 1px 2 #00000033;
	margin-right: 2px;
}

.QuickStatContainerMargin
{
	margin-left: 68px;
}

.HIDE_QUICK_STATS DOTAQuickStats
{
	visibility: collapse;
}
