DOTAHudGuildStatus
{
	flow-children: down;
}

DOTAHudGuildStatus.ChallengesHidden
{
	visibility: collapse;
}

.ChallengeSummaryContainer
{
	margin-left: 8px;
	flow-children: right;
	margin-bottom: 2px;
	transition-property: brightness;
	transition-duration: .2s;
}

.ChallengeSummaryContainer:hover
{
	brightness: 1.5;
}

.Expand .ChallengeSummaryContainer
{
	brightness: 1.5;
}


#ChallengeSummaryLabel
{
	margin: 2px;
	margin-right: 0px;
	margin-top: 4px;
	margin-left: 5px; 
	transition-property: opacity, visibility;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-delay: 0s;
	opacity: 1;
	vertical-align: center;
	color: white;
}

.Expand #ChallengeSummaryLabel
{
	//opacity: 0;
	//visibility: collapse;
}

#CollapseArrow
{
	width: 13px;
	height: 13px;
	margin: 2px;
	margin-top: 7px;
	margin-left: 4px;
	opacity: 0;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: 100%;
	img-shadow:  1px 1px 2px #000;
	transition-property: opacity;
	transition-duration: .2s;
}

.Expand #CollapseArrow
{
	opacity: 1;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
}

.ChallengeExpandButton
{
	width: 24px;
	height: 24px;
	background-color: black;

	vertical-align: top;
	margin: 2px;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	
	box-shadow:  -2px -2px 4px 4px #000000aa;
}


#ChallengeContainer
{
	margin-left: 2px;

	transform: translateX(-350px);
	transition-property: transform, opacity, visibility;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	opacity: 0;
	visibility: collapse;
}

.Expand #ChallengeContainer
{
	visibility: visible;
	opacity: 1;
	transform: translateX(0px);
}

.GuildChallengeEntry
{
	margin: 3px;
}

.Hidden.GuildChallengeEntry
{
	visibility: collapse;
}

#ChallengeCompleteCheck
{
	width: 40px;
	height: 40px;
	margin-left: 4px;
	//background-image: url("s2r://panorama/images/guilds/contracts/check_mark_no_glow_no_shadow_psd.vtex");
	background-image: url("s2r://panorama/images/guilds/contracts/check_mark_psd.vtex");
	background-size: 100%;
	opacity: 0;
	margin-top: 1px;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: .3s;
	pre-transform-scale2d: 1.5;
	
	//wash-color: #dcf9ff;
}

.FullyComplete #ChallengeCompleteCheck
{
	opacity: 1;
	pre-transform-scale2d: 1;
}

.ChallengeCompleteOverlay
{
	width: 100%;
	height: 2px;
	margin-left: 50px;
	background-color: #FFFFFF66;
	opacity: 0;
	vertical-align: center;

	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;	
	transition-delay: 0.5s;
}

.FullyComplete .ChallengeCompleteOverlay
{
	//opacity: 1.0;
}

.FullyComplete #ChallengeHeader
{
	opacity: .7;
	
	background-image: none; 
	
	background-image: url("s2r://panorama/images/glows/soft_blue_glow_psd.vtex");
	background-size: 90% 100%;
	background-position: 30% 50%;
	background-repeat: no-repeat;
}

#ChallengeHeader
{
	transition-property: opacity, transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;	
	transition-delay: 0.5s;
	vertical-align: center;
}

.ChallengeInfoContainer
{
	vertical-align: center;
}

#ChallengeIcon
{
	width: 40px;
	height: 40px;
	margin: 1px;
	margin-left: 4px;
	flow-children: none;
}

#ContractImage
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.ContractChallenge #ContractImage
{
	visibility: visible;
}

.HudContractImage > #ContractImageContainer
{
	width: 100%;
	height: 100%;
	
}

#GuildChallengeImage
{
	width: 100%;
	height: 100%;
	
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: center;
	background-color: black;

	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

	visibility: collapse;
}


.CooperativeChallenge #GuildChallengeImage
{
	visibility: visible;
}

.ProgressNumbers
{
	color: white;
	z-index: 0;
	letter-spacing: 0px;
    font-family: RadianceM, Radiance;
    font-size: 14px;
  
    text-shadow: 1px 1px 2px 2.0 #00000077;

	transition-property: opacity, transform, visibility;
	transition-duration: 0.25s;
	transition-delay: 0.25s;
	transition-timing-function: ease-in-out;	
	margin-left: 6px;
	vertical-align: center;
}

.ProgressNumbers.NoProgress,    
{
	opacity: 0;
	visibility: collapse;
}

.ChallengeDesc
{
	color: white;
	margin-top: -2px;
	margin-left: 6px;

	letter-spacing: 0px;
    font-family: RadianceM, Radiance;
    font-size: 13px;
	//font-weight: semi-bold;
    text-shadow: 1px 1px 2px 2.0 #00000077;

	transition-property: opacity, transform, font-size, visibility;
	transition-duration: 0.25s;
	transition-delay: 0.5s;
	transition-timing-function: ease-in-out;	
	
	//color: #bbb;
	
}

.FullyComplete .ChallengeDesc
{
    font-size: 13px;
	font-weight: light;
    margin-left: 6px;
    margin-top: 3px;
    vertical-align: center;
	color: #acd8ff;
}

.NoGoal #ChallengeProgress,
.FullyComplete #ChallengeProgress
{
	visibility: collapse;
}
