DOTAXP
{
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
	//vertical-align: bottom;
	//height: 33px;
	//margin-left: 3px;
}

#LevelCircle
{
	width: 36px;
	height: 35px;
	background-image: url("s2r://panorama/images/hud/element_xp_orb_png.vtex");
	background-size: 36px 35px;
	z-index: -1;
	margin-left: 0px;
	margin-top: 0px;
	vertical-align: bottom;
}

#LevelLabel
{
	opacity-mask: url("s2r://panorama/images/masks/vertical_gradient_small_psd.vtex").6;
    font-weight: normal;
    text-shadow: 0px 0px 3px 3.7 #000000;
    color: #E7D291;
    width: 30px;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 9px;
    font-size: 24px;
    horizontal-align: center;
    z-index: 50;
    font-family: RadianceM;
}

.ShowLevel #LevelLabel
{
	opacity: 1.0;
}

#XPProgress
{
	margin-left: 35px;
	margin-bottom: 7px;
	vertical-align: bottom;
	width:124px;
	height:13px;
	border: 0px;
	opacity: 0;
}

.ShowXPBar #XPProgress
{
	opacity: 1.0;
}

#CircularXPProgressBlur,
#CircularXPProgress
{
	visibility: collapse;
}

#CircularXPProgressBlur
{
	blur: gaussian ( 5 );
	z-index: -1;
	//wash-color: red;
	opacity: .8;
}

#scoreboard #CircularXPProgressBlur
{
	visibility: collapse;
}

#XPProgress_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #efaf1b  ), color-stop( 0.2, #e9c70f ), color-stop( .5, #b47202), to( #c18104 ) );
}

#XPLabel
{
	font-size: 13px;
	color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: top;
	margin-top: -1px;
	opacity: 0;
	text-shadow: 0px 0px 3px 3.7 #000000;
}

.ShowXPLabel #XPLabel
{
	opacity: 1.0;
}

#LifetimeProgress
{
	width:124px;
	height:14px;
	margin: 0px;
	opacity: 0;
	text-align: center;
}

.ShowLifetimeBar:not(.ShowXPBar) #LifetimeProgress
{
	opacity: 1.0;
}

.ShowLifetimeBar #LifetimeProgress
{
	opacity: 1.0;
}

.Reborn .ShowLifetimeBar #LevelLabel
{
	opacity: 0;
}


.Reborn .ShowLifetimeBar.ShowXPBar #CircularXPProgressBlur,
.Reborn .ShowLifetimeBar.ShowXPBar #CircularXPProgress
{
	visibility: collapse;
}

.Reborn .ShowLifetimeBar.ShowXPBar #StatBranchChannel
{
	visibility: collapse;
}




//----------------------------------------------------------------------
// Reborn HUD


.Reborn #LevelAndBar
{
	vertical-align: bottom;
	height: 158px;
	margin-left: 0px;
    width: 196px;
}

.Reborn #LevelBackground
{
    width: 84px;
    height: 66px;
    background-image: url("s2r://panorama/images/hud/reborn/level_bg_fade_png.vtex");
    margin-bottom: 16px;
    margin-left: 0px;
    vertical-align: bottom;
    visibility: collapse;
}


.Reborn #XPProgress
{
	margin-left: 0px;
	margin-bottom: 0px;
    vertical-align: bottom;
	horizontal-align: center;
	width:124px;
	height:18px;
	border-radius: 0px;
    visibility: collapse;
    background-color: none;
    box-shadow: none;
    z-index: 1000;
}

.Reborn DOTAScoreboardPlayer #XPProgress
{
	margin-bottom: 10px;
    margin-left: 40px;
	horizontal-align: left;
	height: 16px;
}

.Reborn .AltPressed #XPProgress 
{
    visibility: visible;
}

.Reborn .AltPressed DOTAScoreboardPlayer #XPProgress 
{
    visibility: collapse;
}


.Reborn #XPLabel
{
	visibility: visible;
    font-size: 15px;
    color: #dce0e4;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: top;
    margin-top: 0px;
    text-shadow: none;
	background-color: black;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000f  ), color-stop( .65, #000f ), to( #0000 ) );
}

.Reborn DOTAScoreboardPlayer #XPLabel
{
	margin-top: -1px;
}

.Reborn #XPProgress_Left
 {
    background-color: none;
    //background-color: gradient( linear, 0% 100%, 0% 0%, from( #7b98ce  ), color-stop( .25, #c3d3ef), color-stop( .75, #c3d3ef), to( #7b98ce ) );
 }

.Reborn #XPProgress_Right
{
    background-color: none;
    //background-color: gradient( linear, 0% 100%, 0% 0%, from( #272f32 ), color-stop( .25, #3e4a50), color-stop( .75, #3e4a50), to( #272f32 ) );
}

.Reborn #LevelCircle
{
	width: 36px;
	height: 36px;
	background-image: none;
	background-size: 36px 36px;
    border: 2px solid #dce0e4;
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #7b98ce  ), color-stop( .5, #c3d3ef), to( #ededef ) );
	//background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #eff4fc ), to( #9cb2d7 ) );
	background-color: #1e2020ef;
    border-radius: 18px;
	margin-bottom: 16px;
    margin-left: 72px;
}

.Reborn #LevelLabel
{
	font-weight: normal;
    text-shadow: 0px 0px 3px 3.7 #EC780E24;
    color: #E7D291;
    width: 30px;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 9px;
    margin-left: 0px;
	padding-right: 1px;
    font-size: 24px;
	font-size: 20px;
	horizontal-align: center;
    z-index: 50;
	
	margin-bottom: 13px;
}

.Reborn .NonHero #LevelLabel
{
	width: 40px;
	margin-bottom: 86px;
	text-align: center;
	font-size: 24px;
	font-weight: thin;
	color: #C7AD51;
	text-shadow: 0px 0px 3px 3.7 #ffffff04;
}

.Reborn DOTAScoreboardPlayer #LevelLabel
{
    width: 32px;
    margin-bottom: 18px;
    margin-left: 5.5px;
    font-size: 18px;
    z-index: 50;
    horizontal-align: left;
	text-shadow: none;
	font-weight: normal;
}

.Reborn .ShowXPBar #CircularXPProgressBlur,
.Reborn .ShowXPBar #CircularXPProgress
{
	visibility: visible;
	vertical-align: bottom;
	horizontal-align: center;
	padding: 6px;
	padding-left: 6px;
    width: 54px;
    height: 54px;
	
	margin-bottom: 4px;
	
    width: 48px;
    height: 48px;	
}

.Reborn DOTAScoreboardPlayer .ShowXPBar #CircularXPProgress
{
    width: 32px;
    height: 32px;
    horizontal-align: left;
	padding: 0px;
	margin-top: 2px;
	margin-left: 5px;
	vertical-align: middle;
	opacity-mask: url("s2r://panorama/images/masks/vertical_gradient_small_psd.vtex");
}

#CircularXPProgressBlur_FG,
#CircularXPProgress_FG
{
	width: 100%;
	height: 100%;
    border-radius: 50%;
    border: 1.5px solid #E7D291;
    z-index: 50;
	transition-property: clip;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

#CircularXPProgressBlur_BG,
#CircularXPProgress_BG
{
	width: 100%;
	height: 100%;
    border-radius: 50%;
    border: 2px solid #393939;
    z-index: 40;
    background-color: #00000088;
    //box-shadow: #00000055 -2px -2px 4px 4px;
}


.HasAbilityToSpend #CircularXPProgress_BG
{

}

#CircularXPProgressBlur_FG
{
	border: 2px solid #DA6F00;
}


#CircularXPProgressBlur_BG
{
	border-color: #000000;
}

.Reborn #LevelUpHotkey
{
    margin-left: 26px;
}

.Reborn #LifetimeProgress
{
	vertical-align: bottom;
	horizontal-align: left;
	width: 100%;
	margin-right: 5px;
	margin-left: 6px;
	margin-bottom: 6px;
	height: 6px;
	transform: rotateZ( 0deg );
	border-radius: 4px;
	border: 0px;
    //visibility: collapse;
}

.Reborn #LifetimeLabel
{
	visibility: collapse;
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
	horizontal-align: center;
	vertical-align: bottom;
	color: #D5A409;
	font-weight: thin;
	text-shadow: 0px 0px 2px 2.5 #000000;
}

.ShowLifetimeBar #LifetimeLabel
{
	visibility: visible;
}

.Reborn #LifetimeProgress_Left
 {
     background-color: gradient( linear, 0% 0%, 0% 100%, from( #efaf1b  ), color-stop( 0.2, #e9c70f ), color-stop( .5, #e9c70f), to( #c18104 ) );
 }

.Reborn #LifetimeProgress_Right
{
    background-color: gradient( linear, 0% 100%, 0% 0%, from( #272f32 ), color-stop( .25, #3e4a50), color-stop( .75, #3e4a50), to( #272f32 ) );
}
