
DOTAMutations
{                           
	width: 400px;

	flow-children: down;
	box-shadow: none;

	margin-top: 120px;

	visibility: collapse;
}

.DOTA_GAMEMODE_MUTATION DOTAMutations
{
	visibility: visible;
}

DOTAMutations .Name
{
	margin-top: 4px;
	margin-left: 8px;

	font-size: 14px;
	color: #A3FDCC;
}

