DOTAPlusChallengeSelector
{
	width: 376px;
	height: 440px;
	margin-left: 20px;

	transform: translateY(246px);

	flow-children: down;

	background-color: #0009;
	border: 1px solid black;
	vertical-align: bottom;


	transition-property: transform;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;

	visibility: collapse;
}

.PlusHeroChallengesMatch DOTAPlusChallengeSelector
{
	visibility: visible;
}


DOTAPlusChallengeSelector.Expanded
{
	transform: translateY(0px);
	box-shadow: #000000fc fill 0px 0px 30px 0px;
}

#Header
{
	width: 100%;
	height: 55px;
	margin-left: 15px;
}

#HeaderText
{
	vertical-align: center;
	horizontal-align: left;
	font-weight: normal;
	color: #fff;
	letter-spacing: 2px;
	margin: 5px;
	margin-top: 8px;
	font-size: 21px;
}

#HeaderLogo
{
	height: 24px;
	width: 21px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("s2r://panorama/images/control_icons/hero_progress_icon_png.vtex");
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: center;
	margin-right: 5px;
}

#ChooseHeader
{
	color: white;
	horizontal-align: center;
}

DOTAPlusHeroChallenge
{
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
}

.Expanded DOTAPlusHeroChallenge,
.Preview DOTAPlusHeroChallenge,
DOTAPlusHeroChallenge.Selected,
{
	visibility: visible;
	opacity: 1;
}

.NeedsRefresh DOTAPlusHeroChallenge
{
	opacity: 0;
}

.NoChallenges DOTAPlusHeroChallenge
{
	opacity: 0;
}

.Expanded DOTAPlusHeroChallenge:hover
{
	background-color: #65502d80;
}

#DropDownCarrot
{
	width: 18px;
	height: 18px;
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_down_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	transform: scaleY(-1);
	horizontal-align: right;
	vertical-align: center;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 15px;
}

.Expanded #DropDownCarrot
{
	transform: scaleY(1);
	margin-top: 15px;
}

#SelectInstructions
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	width: 375px;
	margin: 5px;
	margin-bottom: 10px;
	margin-top: 0px;
	font-size: 17px;
}


.HasSelectedHero #SelectInstructions,
.Expanded #SelectInstructions,
.NeedsRefresh #SelectInstructions
{
	visibility: collapse;
}

#ChallengeContainer
{
	flow-children: down;
}

#ChallengeContainer.Preview
{
	flow-children: right;
}

#RefreshButton
{
	opacity: 0;
	visibility: collapse;
	horizontal-align: center;
}

.NeedsRefresh #RefreshButton
{
	opacity: 1;
	visibility: visible;
	
}