#DOTAStatBranch
{
	horizontal-align: center;
	vertical-align: bottom;
	z-index: 2;
	width: 420px;
	height: 270px;
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_background_psd.vtex");
    background-size: contain;
	background-repeat: no-repeat;	
	visibility: collapse;
}

.ShowStatBranchAsTooltip #DOTAStatBranch
{
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_background_tooltip_psd.vtex");
}

#BranchTitle,
#TooltipBranchTitle
{
    color: #e1e1e1;
    text-transform: uppercase;
    letter-spacing: 2px;
    horizontal-align: center;
    margin-top: 15px;
    text-shadow: 0px 0px 4px 2.0 #000000;
    height: 24px;
    vertical-align: top;
}

#BranchTitle,
.ShowStatBranchAsTooltip #TooltipBranchTitle
{
	opacity: 1;
}

.ShowStatBranchAsTooltip #BranchTitle,
#TooltipBranchTitle
{
	opacity: 0;
}

.HUDFlipped #DOTAStatBranch
{
    transform: translateX(0px);
}
.ShowStatBranch #DOTAStatBranch,
.ShowStatBranchAsTooltip #DOTAStatBranch
{
	visibility: visible;
}

#StatBranchColumn
{
	horizontal-align: center;
	margin-top: 40px;
}

.BranchChoice
{
	width: 190px;
	height: 48px;
	margin-bottom: 4px;
	margin-right: 16px;
	padding: 4px;	
//	padding-left: 12px;
	padding-top: 6px;
	
	
}

.BranchActive .BranchChoice:hover
{

}

.BranchActive .BranchChoice:active
{

}

.BranchActive .BranchChoice:hover Label
{
    text-shadow: 0px 0px 3px 3.7 #EC780E24;
    color: #E7D291;
}

#StatBranch Label
{
	text-shadow: 0px 0px 4px 2.0 #000000;
}

.BranchPair
{
	//background-color: #000000aa;
    animation-name: none;
    animation-duration: 2.02s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

DOTAStatBranch:not(.ShowStatBranchAsTooltip) .BranchPair.BranchActive
{
    background-image: url("s2r://panorama/images/hud/reborn/statbranch_select_bg_psd.vtex");
    background-size: 98% 88%;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: TalentSelect;
}

@keyframes 'TalentSelect'
{
    0%
    {
        opacity: 1.0;
    }

    50%
    {
        opacity: 0.5;
    }

    100%
    {
        opacity: 1.0;
    }
}

.RightBranch
{
	tooltip-position: right;
	margin-left: 14px;
	margin-right: 0px;
}

.LeftBranch
{
	tooltip-position: left;
}

.StatBonusLabel
{
	color: #e1e1e1;
	font-size: 15px;
    line-height: 16px;
	width: 170px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
    vertical-align: middle;
}

.BranchChoice:disabled
{

}

.BranchChoice:disabled Label
{
	color: #676E70;
	text-shadow: 1px 1px 2px 2.0 #00000066;		
}

 .BranchChoice.BranchChosen
 {

 }
 
.BranchChoice.BranchChosen:disabled Label
{
    text-shadow: 0px 0px 1px 1.3 #EC780E24;
    color: #E7D29188;
}

.ReqLabel
{

    font-family: RadianceM;
    font-weight: normal;
    text-shadow: 0px 0px 3px 3.7 #EC780E24;
    color: #E7D291;
    vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
    color: #E7D291;
	margin-top: 4px;
	margin-right: 1px;
}

DOTAStatBranch:not(.ShowStatBranchAsTooltip) .BranchActive .ReqLabel
{
	color: #ffffff;
}

.LevelBG
{
	width: 54px;
	height: 54px;
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_levelbg_psd.vtex");
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
	margin-bottom: -1px;

}

#LevelColumn
{
	horizontal-align: center;
	margin-top: 36px;
}

#CloseButton
{
    horizontal-align: right;
    background-color: #333333;
    wash-color: white;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 38px;
    height: 38px;

    box-shadow: #00000066 -3px -3px 6px 6px;
    z-index: 3;

    visibility: collapse;
    margin-right: -2px;
}

#CloseButton:hover
{
    background-color: #666666;
}

.ShowStatBranch #CloseButton
{
	visibility: visible;
}