
DOTAHUDBattlePassTowers
{
	width: 100%;
	height: 100%;
	opacity: 1;

	transition-property: background-color;
	transition-duration: 0.5s;
	transition-delay: toGameTransitionDelay;

	background-color: transparent;
}

.Header
{
	horizontal-align: center;
	vertical-align: top;
	width: 100%;
	height: 400px;
	z-index: 0;
	
	opacity: 0;
	transform: translateY(-64px);

	transition-property: transform, opacity;
	transition-duration: 1s;
}


.TowerShowcase .Header
{
	opacity: 1;
	transform: translateY(0px);
}

.VersusOutro.TowerShowcase .Header
{
	transform: translateY(-64px);
}


#HeaderGradient
{
	horizontal-align: center;
	vertical-align: top;
	width: 100%;
	height: 110px;
	background-color: gradient( linear, 0% 50%, 0% 90%, from( #000000FF ), to( #00000000 ) );
	background-color: gradient( radial, 50% -50px, 0% 0%, 40% 160px, from( #000000 ), to( #10101000 ) );
 }

.HeaderLabel
{
	margin-top: 20px;
	z-index: 6;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 7px;
	color: white;
	horizontal-align: center;
	vertical-align: top;
	text-shadow: 0px 0px 6px 1.0 #000000;
	text-overflow: shrink;
	
	color: gradient( linear, 0% 100%, 0% 30%, from( #FFFC70 ), to( #782C1C ) );
	color: gradient( radial, 50% -50px, 0% 0%, 60% 260px, from( #FFE174 ), to( #101010 ) );
}

.HeaderLabel.RightRim
{
	margin-left: 3px;
	margin-top: 22px;
	color: red;
	color: gradient( linear, 100% 0%, 0% 0%, from( #FF9E61 ), to( #00000000 ) );
}

.HeaderLabel.LeftRim
{
	margin-right: 3px;
	margin-top: 22px;
	color: #0f0;
	color: gradient( linear, 0% 0%, 100% 0%, from( #81EEFF ), to( #00000000 ) );
}

#HeaderImage
{
}

.VsDivider
{
}

.VsBackground
{
	background-image: url("s2r://panorama/images/textures/dota_logo_background_psd.vtex");	
	height: 64px;
	width: 64px;
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
    background-size: cover;
	border-radius: 50%;
	
}

.VsText
{
	background-image: url("s2r://panorama/images/textures/versus_logo_psd.vtex");	
	height: 64px;
	width: 64px;
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
    background-size: cover;
}

#RadiantTeamPanel
{
	opacity: 1;
	width: 50%;
	height: 100%;
	horizontal-align: left;
	z-index: -2;
}

#DireTeamPanel
{
	opacity: 1;
	width: 50%;
	height: 100%;
	horizontal-align: right;
	z-index: -2;
}