DOTAPingWheel
{
	width: 100%;
	height: 100%;
}

.Hidden
{
	visibility: collapse;
}


#Root
{
	width: 600px;
	height: 600px;
	border-radius: 50%;
}

.PingWheelBG
{
	width: 100%;
	height: 100%;
	/*background-image: url("s2r://panorama/images/hud/reborn/ping_wheel_bg_psd.vtex");*/
	background-position: 50% 50%;
	background-size: 40%;
	background-repeat: no-repeat;
	opacity: 0.25;
}

.PingWheelOption
{
	opacity: 0.5;
	saturation: 0;
	transition-property: opacity, saturation;
	transition-duration: 0.1s;
	z-index: 2;
}

.PingWheelOption:hover
{
	opacity: 1;
	saturation: 1;
}


#Waypoint
{
	width: 100px;
	height: 45%;
	vertical-align: top;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_waypoint_psd.vtex");
	background-position: 50% 90%;
	background-repeat: no-repeat;
}

#Attack:hover
{
  	background-color: gradient( radial, 20% 50%, 0% 0%, 50px 50px, from( #ffff00dd ), to( #00000000 ) ); 
}


#Waypoint:hover
{
  	background-color: gradient( radial, 50% 83%, 0% 0%, 50px 50px, from( #ffff00dd ), to( #00000000 ) ); 
}


#Retreat:hover
{
  	background-color: gradient( radial, 83% 50%, 0% 0%, 50px 50px, from( #ffff00dd ), to( #00000000 ) ); 
}


#EnemyWard:hover
{
   	background-color: gradient( radial, 50% 17%, 0% 0%, 30px 30px, from( #ffff00dd ), to( #00000000 ) ); 
}

#FriendlyWard:hover
{
   	background-color: gradient( radial, 50% 17%, 0% 0%, 30px 30px, from( #ffff00dd ), to( #00000000 ) ); 
}

#DefaultPing:hover
{
   	background-color: gradient( radial, 50% 50%, 0% 0%, 50px 50px, from( #ffff00dd ), to( #00000000 ) ); 
}

#Retreat
{
	width: 45%;
	height: 150px;
	vertical-align: center;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_retreat_psd.vtex");
	background-position: 90% 50%;
	background-repeat: no-repeat;
}

#Attack
{
	width: 45%;
	height: 150px;
	vertical-align: center;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_attack_psd.vtex");
	background-position: 15% 50%;
	background-repeat: no-repeat;
}

#EnemyWard
{
	width: 70px;
	height: 45%;
	vertical-align: bottom;
	horizontal-align: center;
	margin-right: 70px;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_enemyward_psd.vtex");
	background-position: 50% 10%;
	background-repeat: no-repeat;
}

#FriendlyWard
{
	width: 70px;
	height: 45%;
	vertical-align: bottom;
	horizontal-align: center;
	margin-left: 70px;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_friendlyward_psd.vtex");
	background-position: 50% 10%;
	background-repeat: no-repeat;
}

#DefaultPing
{
	width: 140px;
	height: 140px;
	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_default_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 50%;
	z-index: 0;
}
