DOTASpecItem
{
	horizontal-align: right;
	margin-top: 480px;
	height: fit-children;
	transition-property: transform;
	transition-timing-function: ease-out;
	transition-duration: 0.51s;
}

#ToastManager
{
	flow-children: down;
	height: 336px;
    overflow: noclip;
}

.Hidden
{
	visibility: collapse;
}

@define toastExitDuration: 0.3s;

#ToastManager > .ToastPanel
{
	opacity: 0.0;
	transform: translateX( 198px );

	transition-property: position, opacity, transform;
	transition-duration: toastExitDuration;
}

#ToastManager > .ToastPanel.ToastVisible
{
	opacity: 1.0;
	transform: none;
}




DOTASpecItemRow
{
	background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");
    background-size: cover;
	height: 56px;
	width: 198px;
	flow-children: right;
    margin-bottom: 8px;
}

#HeroImage
{
	width: 72px;
	height: 40px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#CoinImage
{
	height: 36px;
	width: 36px;
	margin: 10px;
}

#ItemPurchased
{
	width: 54px;
	height: 40px;

    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
