#EconItemContainer
{
	background-image: url("s2r://panorama/images/hud/killcam_econ_item_slot_png.vtex");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.ShowEconItemContainer #EconItemContainer
{
	visibility: visible;
}

#EconItem
{
	width: 100%;
	height: 100%;
	margin: 5px;
	visibility: collapse;
}

.ShowEconItem #EconItem
{
	visibility: visible;
}