DOTAHUDSKArcanaPregameBanner
{
	visibility: visible;

	vertical-align: top;
	horizontal-align: left;

	margin-top: 40px;

	width: fit-children;
	height: fit-children;
	padding: 24px 42px 42px 42px;

	background-color: #280502dd;
}

DOTAHUDSKArcanaPregameBanner.Hidden
{
	visibility: collapse;
}

#Contents
{
	flow-children: down;
}

.WkArcana_Header
{
	flow-children: down;
}

.WkArcana_Title
{
	font-size: 48px;
	color: #E8A85E;
	letter-spacing: 0px;
}

.WkArcana_Desc
{
	font-size: 16px;
	color: #F2D4A9;
}

#WkHeroKillList
{
	flow-children: right;
	margin-top: 24px;
}

.WkHeroes
{
	flow-children: down;
	margin-right: 4px;
}

.HeroImage
{
	width: 112px;
	height: 63px;
	background-color: black;
}

.HeroName
{
	font-size: 12px;
	font-weight: bold;
	color: #FBF8E7;
	text-align: left;
	margin-top: 4px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

