#UnitNameLabel{width: 100%;text-align: center;text-transform: uppercase;color: white;text-shadow: 1px 1px 0px 3 #00000066;font-weight: bold;letter-spacing: 2px;font-size: 14px;text-overflow: shrink;}DOTAUnitName.BronzeTier #UnitNameLabel{color: #edb96e;}DOTAUnitName.SilverTier #UnitNameLabel{color: #d5edf3;}DOTAUnitName.GoldTier #UnitNameLabel{color: #feeb44;}DOTAUnitName.PlatinumTier #UnitNameLabel{color: #c4eaff;}DOTAUnitName.MasterTier #UnitNameLabel{color: #ffff9a;}DOTAUnitName.GrandmasterTier #UnitNameLabel{color: #ffe8aa;}DOTAUnitName.BronzeTier #UnitNameLabel,
DOTAUnitName.SilverTier #UnitNameLabel,
DOTAUnitName.GoldTier #UnitNameLabel,
DOTAUnitName.PlatinumTier #UnitNameLabel,
DOTAUnitName.MasterTier #UnitNameLabel,
DOTAUnitName.GrandmasterTier #UnitNameLabel{padding-left: 14px;padding-right: 14px;}.CustomHUDSkin DOTAUnitName.BronzeTier #UnitNameLabel,
.CustomHUDSkin DOTAUnitName.SilverTier #UnitNameLabel,
.CustomHUDSkin DOTAUnitName.GoldTier #UnitNameLabel,
.CustomHUDSkin DOTAUnitName.PlatinumTier #UnitNameLabel,
.CustomHUDSkin DOTAUnitName.MasterTier #UnitNameLabel,
.CustomHUDSkin DOTAUnitName.GrandmasterTier #UnitNameLabel{padding-left: 14px;}