@define minorTickColor: #00000000;
@define majorTickColor: #00000000;
@define minorTickWidth: 1.0;
@define majorTickWidth: 2.0;

DOTAHealthMana
{
	
}

#HealthManaContainer
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
}

.ValidUnit #HealthManaContainer
{
	visibility: visible;
}

.Dead.ValidUnit #HealthManaContainer
{
}

#HealthContainer
{
	width: 100%;
	height: 24px;
}

#HealthProgress
{
	width: 100%;
	height: 100%;
	border: 0px;
    z-index: 2;
}

#HealthTicks
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	border: 0px;
    z-index: 3;	
}

#HealthProgress .ProgressBarLeft
{
	background-color: #339933;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1A3D1A  ), color-stop( 0.2, #67A163 ), color-stop( .5, #187019), to( #175D17 ) );
	border-radius: 6px;
}

.ColorBlindModeEnabled #HealthProgress .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #658fdf  ), color-stop( 0.2, #a4caff ), color-stop( .5, #3f6fcb), to( #2c56ab ) );
	
}

#HealthProgress .ProgressBarRight
{
	
}

#HealthLabel
{
	width: 100%;
	margin-top: 2px;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	text-shadow: 0px 0px 3px 3.7 #000000;
    z-index: 4;
}

.MaxHealthLabel
{
	width: 100%;
	margin-top: 2px;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	text-shadow: 0px 0px 3px 3.7 #000000;
    z-index: 4;
}

#HealthRegenLabel
{
	color: white;
	text-align: right;
	vertical-align: center;
	font-size: 14px;
	padding-right: 2px;
    horizontal-align: right;
    z-index: 4;
}

#ManaContainer
{
	width: 100%;
	height: 14px;
	opacity: 0;
}

.ShowMana #ManaContainer
{
	opacity: 1.0;
}

#ManaProgress
{
	width: 100%;
	height: 100%;
	border: 0px;
}

#ManaTicks
{
	width: 100%;
	height: 100%;
	border: 0px;
	visibility: collapse;
}

#ManaProgress .ProgressBarLeft
{
	background-color: #0000FF;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6A90BA  ), color-stop( 0.4, #144B91 ), to( #2E5187 ) );	
	border-radius: 5px;
}

#ManaProgress .ProgressBarRight
{
	
}

#ManaLabel
{
	width: 100%;
	color: white;
	font-size: 14px;
    font-weight: bold;
	text-align: center;
	vertical-align: center;
	text-shadow: 2px 2px 3px #000000;
    z-index: 4;
}

.MaxManaLabel
{
	width: 100%;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	text-shadow: 2px 2px 3px #000000;
    z-index: 4;
}

#ManaRegenLabel
{
	width: 100%;
	color: white;
	font-size: 14px;
	text-align: right;
	vertical-align: center;
    z-index: 4;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn #HealthManaContainer
{
	flow-children: down;
    margin-bottom: 8px;
    margin-left: 264px;
	margin-left: 244px;
    margin-right: 188px;
	margin-right: 264px;
	margin-right: 316px;
}

.Reborn.FiveAbilities #HealthManaContainer
{

}


.Reborn #HealthContainer
{
    width: 100%;
	height: 20px;
//	height: 16px;
    //flow-children: right;
}

.Reborn #HealthProgress
{
	border-radius: 0px;
	height: 100%;
    width: 100%;
    margin-top: -2px;
	background-color: none;
}

.Reborn #HealthProgress .ProgressBarLeft
{
	border-radius: 3px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #425d25  ), color-stop( 0.2, #5BA539 ), color-stop( .5, #4D9030), to( #425d25) );
}

.Reborn #HealthProgress .ProgressBarRight
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #17200d  ), color-stop( 0.2, #222e13 ), color-stop( .5, #1e2911), to( #17200d) );
}

.Reborn .Dead.ValidUnit #HealthRegenLabel,
.Reborn .Dead.ValidUnit #HealthLabel
{
    color: #C23339;
}

.Reborn #HealthLabel
{
    text-align: center;
	font-weight: bold;
	font-size: 18px;
	//font-size: 14px;
	color: white;
    width: 332px;
    margin-top: 1px;
	margin-bottom: 2px;
    horizontal-align: center;
    text-shadow: 1px 1px 2px 2.0 #000000;
    overflow: noclip;
}

.Reborn.FiveAbilities #HealthLabel
{

}

.Reborn.SixAbilities #HealthLabel
{

}

.Reborn #ManaContainer
{
    width: 100%;
	height: 20px;
//	height: 16px;
}

.Reborn #ManaProgress
{
	height: 100%;
	border-radius: 0px;
    width: 100%;
	background-color: none;	
}

.Reborn .UnitDead #ManaProgress
{
	wash-color: #ff0000a6;
}

.Reborn #ManaProgress .ProgressBarLeft
{
	border-radius: 3px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4287 ), color-stop( 0.2, #4165ce ), color-stop( .5, #4a73ea), to( #2b4287 ) );
}

.Reborn #ManaProgress .ProgressBarRight
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #101932 ), color-stop( 0.2, #172447 ), color-stop( .5, #162244), to( #101932 ) );
}

.Reborn #ManaLabel
{
	text-align: center;
	vertical-align: top;
	font-weight: bold;
	font-size: 18px;
	//font-size: 14px;
	margin-left: 0px;
    width: 332px;
	margin-top: 1px;
    color: white;
    horizontal-align: center;
    margin-top: -1px;
    text-shadow: 1px 1px 2px 2.0 #000000;
    overflow: noclip;
}

.Reborn .UnitDead #ManaRegenLabel,
.Reborn .UnitDead .MaxManaLabel,
.Reborn .UnitDead #ManaLabel
{
	color: #CB1F08;
}

.Reborn.FiveAbilities #ManaLabel
{

}

.Reborn.SixAbilities #ManaLabel
{

}


.Reborn .MaxHealthLabel
{
	color: white;
	font-size: 18px;
}


.Reborn .QueryUnit .MaxManaLabel,
.Reborn .QueryUnit .MaxHealthLabel
{
	font-size: 13px;
	font-weight: normal;
}


.Reborn .Dead.ValidUnit .MaxHealthLabel
{
	color: #C23339;
	font-size: 18px;
}


.Reborn .QueryUnit .Dead.ValidUnit .MaxHealthLabel
{
	font-size: 11px;
}


.Reborn .MaxManaLabel
{
    color: #ffffff;
	font-size: 18px;
}

.Reborn #HealthRegenLabel
{
	color: #3ED038;
    font-size: 14px;
    text-shadow: 2px 2px 4px 1.0 #000000;
    font-weight: bold;
    margin-top: -1px;
    margin-right: 4px;
}

.Reborn #ManaRegenLabel
{
	color: #83C2FE;
    margin-top: 1px;
    font-size: 14px;
    text-shadow: 2px 2px 4px 1.0 #000000;
    font-weight: bold;
    margin-right: 4px;
}

#BarSpacer
{
	visibility: collapse;
}

.Reborn #BarSpacer
{
	visibility: visible;
	opacity: 0;
    width: 100%;
}


// ------------------------------------------------
// Query

.Reborn .QueryUnit DOTAHealthMana
{
	width: 100%;
	min-width: 265px;
	height: fit-children;
}

.Reborn .QueryUnit #HealthManaContainer
{
    padding-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: fit-children;
	visibility: visible;
}

.Reborn.FiveAbilities .QueryUnit #HealthManaContainer
{

}


.Reborn .QueryUnit #HealthContainer
{
    width: 100%;
	height: 20px;
	height: 14px;
}

.Reborn .QueryUnit.IsEnemy #HealthContainer
{
	hue-rotation: 245deg;
	saturation: 2;
}

.Reborn .QueryUnit #HealthProgress
{
	height: 100%;
    margin-left: 0px;
    margin-top: 0px;
}

.Reborn .QueryUnit #HealthLabel
{
    width: 100%;
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 13px;
	font-weight: normal;
	
}

.Reborn .QueryUnit.IsDead #HealthLabel
{
	wash-color: red;
}

.Reborn .QueryUnit.IsDead.IsEnemy #HealthLabel
{
	wash-color: #00ff00;
	hue-rotation: 180deg;
}

.Reborn.FiveAbilities .QueryUnit #HealthLabel
{
    width: 100%;
}

.Reborn.SixAbilities .QueryUnit #HealthLabel
{
    width: 100%;
}

.Reborn .QueryUnit #ManaContainer
{
    width: 100%;
	height: 20px;
	height: 14px;
    margin-top: 2px;
    opacity: 1.0;
    visibility: collapse;
}

.Reborn .QueryUnit.ShowMana #ManaContainer
{
	visibility: visible;
}

.Reborn .QueryUnit #ManaProgress
{
	height: 100%;
    margin-left: 0px;
}

.Reborn .QueryUnit #ManaLabel
{
	margin-left: 0px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;

    margin-bottom: 0px;
    font-size: 13px;
	font-weight: normal;
}

.Reborn.FiveAbilities .QueryUnit #ManaLabel
{
    width: 100%;
}

.Reborn.SixAbilities .QueryUnit #ManaLabel
{
    width: 100%;
}

.Reborn .QueryUnit #HealthRegenLabel
{
	font-size: 12px;
    font-weight: normal;
    margin-top: 0px;
}

.Reborn .QueryUnit #ManaRegenLabel
{
	font-size: 12px;
    font-weight: normal;
    margin-top: 0px;
}

.Reborn .QueryUnit #DeathPanel
{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.Reborn #HealthTicks
{
	// Ticks aren't currently used (tick colors are set to 00000000)
    // so collapse them to turn off the render callbacks.
	visibility: collapse;
	margin-top: -2px;
}

.Reborn .QueryUnit #HealthTicks
{
	margin-top: 0px;
}

.Reborn #ManaTicks
{
	// Ticks aren't currently used (tick colors are set to 00000000)
    // so collapse them to turn off the render callbacks.
	visibility: collapse;
}

.DotaSceneContainer
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

#ManaBurner,
#HealthBurner
{
	width: 276px;
	height: 100%;
}

.SixAbilities #ManaBurner,
.SixAbilities #HealthBurner
{
	width: 422px;
}

.LowVisualQuality #ManaBurner,
.LowVisualQuality #HealthBurner
{
	visibility: collapse;
}

.LowVisualQuality #HealthLabel
{
	text-shadow: 1px 1px 0px 2.0 #000000;
}

.LowVisualQuality #ManaLabel
{
	text-shadow: 1px 1px 0px 2.0 #000000;
}

.LowVisualQuality #HealthRegenLabel,
.LowVisualQuality #ManaRegenLabel
{
	text-shadow: 1px 1px 0px 1.0 #000000;
}

#ManaBurner
{
	hue-rotation: 50deg;
	opacity: .4;
}