DOTAHUDNeutralCampNames
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: visible;	
	z-index: -1;
}

#NeutralCampName
{
	width: 300px;
	height: 70px;
	font-family: defaultFont;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	text-overflow: shrink;
	color: #f3ff2f;
}