@keyframes 'PopOutErrorMsg'
{
    0%   { pre-transform-scale2d: 1; }
    50%  { pre-transform-scale2d: 1.2; }
    100% { pre-transform-scale2d: 1; }
}


DOTAErrorMsg
{
	margin-top: 70%;
	horizontal-align: middle;
	//background-color: #18191caa;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #780000aa ), to( #590000aa ) );
    padding-left: 15px;
	padding-right: 15px;
	opacity: 0.0;
	visibility: visible;
	border-radius: 5px;
}

#ErrorMsg
{
	margin-top: 4px;
	color: white;
	font-size: 28px;
	horizontal-align: middle;
    text-shadow: 0px 0px 3px 2.0 #590000;
}

.PopOutEffect
{
	animation-name: PopOutErrorMsg;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.ShowErrorMsg
{
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.Hidden
{
	visibility: collapse;
}