DOTAHUDNeutralCampArrow
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: visible;	
	z-index: -1;
}

#NeutralCampArrow
{
	width: 300px;
	height: 300px;
	background-image: url("s2r://panorama/images/control_icons/camp_pull_arrow_png.vtex");
	background-size: 73px 73px;
	background-position: 50% 0%;
	background-repeat: no-repeat;
}