DOTAKillCamDamageRow
{
	flow-children: right;
	height: 36px;
	width: 100%;
//	width: fit-children;
}

.HUDFlipped DOTAKillCamDamageRow
{
	flow-children: none;
}

.Hidden
{
	visibility: collapse;
}

#SpellDamageContainer
{
	width: 210px;
	width: fit-children;
	height: 100%;
	flow-children: right;
}

.HUDFlipped #SpellDamageContainer
{
	horizontal-align: right;
	margin-right: 57px;
	flow-children: left;
}

#HeroDamageImg
{
	width: 57px;
	height: 32px;
	horizontal-align: left;
}

#HeroImageContainer
{
	//padding-left: 10px;
	flow-children: none;
	height: 100%;
}

.HUDFlipped #HeroImageContainer
{
	horizontal-align: right;
}

#TotalDamageColumn
{
	height: 100%;
	background-color: #330000;
	width: 64px;
	horizontal-align: right;
	border-bottom: 2px solid black;
}

.HUDFlipped #TotalDamageColumn
{
	horizontal-align: left;
}

#TotalDamage
{
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
	color: #FE1100;
	color: white;
	horizontal-align: center;
	margin-right: 4px;
	text-align: center;
	//width: 100%;
	//border: 1px solid red;
	
}

.BuffContainer
{
	height: 100%;
	width: fit-children;
	visibility: collapse;
	
	text-align: center;
	flow-children: none;
}

.HasAttackDamage #AttackDamageContainer
{
	visibility: visible;
}

.HasAbilityDamage1 #BuffContainer1
{
	visibility: visible;
}

.HasAbilityDamage2 #BuffContainer2
{
	visibility: visible;
}

.HasAbilityDamage3 #BuffContainer3
{
	visibility: visible;
}

.HasAbilityDamage4 #BuffContainer4
{
	visibility: visible;
}

.HasAbilityDamage5 #BuffContainer5
{
	visibility: visible;
}

.BuffIcon
{
	margin-left: 2px;
	margin-right: 2px;
}

.BuffLabel
{
	color: #BB1109;
	font-size: 14px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 3px;
	text-align: center;
	margin-top: 2px;
	vertical-align: bottom;
	horizontal-align: right;
	background-color: #121212fa;
}