DOTAAbilityDraft
{
	width: 100%;
	height: 100%;
	background-color: #333333FF;
	visibility: collapse;
}

DOTAReferencePage.PageVisible #MainContainer
{
	visibility: visible;
}


#FullScreen
{
	width: 100%;
	height: 100%;
}


#MainContainer
{
	width: 100%;
	height: 100%;
	background-color: #182027fa;
}

#AbilityDraftAbilitiesHitbox
{
	width: 1024px;
	height: 1024px;
	horizontal-align: center;
	vertical-align: middle;

	flow-children: right-wrap;
	transform: rotateX(15deg) translateZ(60px) translateY(18px);
	pre-transform-scale2d: .6;
}

.Ability DOTAAbilityImage
{
	visibility: collapse;
}

#CenterBlock
{
	horizontal-align:center;
	vertical-align: middle;
	flow-children: right-wrap;
}

.AbilitiesSet
{
	flow-children: down;
	//visibility: collapse;
}

.Ability
{
	width: 134px;
	height: 134px;
	margin: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	//background-color: #FF000044;
	//border: 2px solid black;
	//border: 2px solid #ff0000f5;
}

.Ability.AbilityChosen
{
	background-color: #FF000044;
	visibility: visible;
}

.Ability.UltimatesLocked
{
	background-color: #44444444;
	visibility: visible;
}

#AbilityDraftUltimatesHitbox .Ability
{
	width: 86px;
	height: 86px;
	margin: 4px;
	margin-right: 6px;
	margin-left: 6px;
}

#AbilityDraftUltimatesHitbox
{
	horizontal-align: center;
	//border: 2px solid yellow;
	transform: rotateX(-15deg) translateZ(60px) translateY(128px);
	
}

#AbilityDraftUltimatesHitbox .AbilitiesSet
{
	margin: 0px;
}

.Ability:hover
{
	//border: 1px solid white;
}


#UltimateAbilities
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 82px;
	visibility: collapse;
}

#UltimateAbilities .Ability
{
	//border-color: #ba0;
	width: 76px;
	height: 76px;	
	margin: 10px;
}

.BottomLeftSet,
.TopLeftSet
{
	margin-right: 48px;
}

.TopRightSet,
.TopLeftSet
{
	margin-bottom: 48px;
}

.BottomRightSet,
.BottomLeftSet
{
	margin-bottom: -16px;
}

#AbilitiesScene
{
//	opacity: 0.5;
	width: 100%;
	height: 100%;
	wash-color: white;
	transition-property: wash-color;
	transition-duration: 2s;
	transition-timing-function: ease-out;
}


#AbilitiesScene.Dark
{
	wash-color: black;
	transition-delay: 0.2s;
}

#UIElements
{
	width: 1392px;
	width: 100%;
	margin-right: 128px;
	margin-left: 128px;
	height: 820px;
	height: 100%;
	
	horizontal-align: center;
	//transform: rotateX(15deg) translateZ(60px) translateY(5px);
	//border: 1px solid red;
	opacity: 0;
	
	transition-property: opacity;
	transition-duration: 3s;
	transition-delay: 4.3s;
}

#UIElements.MakeVisible
{
	opacity: 1;
}

.TeamContainer
{
	height: 100%;
//	border: 2px solid black;
	flow-children: down;
	margin-top: 146px;
}

#DireHeroes
{
	horizontal-align: right;
	
}

.HeroContainer
{
	width: 320px;
	height: 146px;
	//background-color: #0000009a;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.5, #0000005f  ), color-stop( 0.55, #0000006f  ), to( #000000ff ) );
	margin-bottom: 16px;
	border-radius: 12px;
}

.HeroContainer.CurrentPicker
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.5, #0000005f  ), color-stop( 0.55, #0000006f  ), to( #ffffffff ) );
}

#DireHeroes .HeroContainer.CurrentPicker
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.5, #0000005f  ), color-stop( 0.55, #0000006f  ), to( #ffffffff ) );
}

.HeroContainer.LocalPlayer
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.5, #0000005f  ), color-stop( 0.55, #0000006f  ), to( #00ff00ff ) );
}

#DireHeroes .HeroContainer.LocalPlayer
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.5, #0000005f  ), color-stop( 0.55, #0000006f  ), to( #00ff00ff ) );
}



#DireHeroes .HeroContainer
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.5, #0000005f  ), color-stop( 0.55, #0000006f  ), to( #000000ff ) );
}

.HeroImage
{
	width: 106px;
	height: 100%;
	//border: 1px solid red;
	horizontal-align: left;
	opacity-mask: url("s2r://panorama/images/masks/killcammask_left_psd.vtex");
}

.HeroAbilityContainer
{
	vertical-align: bottom;
	flow-children: right;
	horizontal-align: right;
	margin: 4px;
}

#DireHeroes .HeroAbilityContainer
{
	horizontal-align: left;
}

#DireHeroes .HeroImage
{
	horizontal-align: right;
	opacity-mask: url("s2r://panorama/images/masks/killcammask_right_psd.vtex");
}

.HeroAbility
{
	width: 56px;
	height: 56px;
	margin: 2px;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: #000000ff -3px -3px 6px 6px;
}

#Header
{
	width: 100%;
	height: 200px;
}

#HeroStripClipPanel
{
	margin-top: 12px;
	margin-left: 300px;
	overflow: clip;
	opacity-mask: url("s2r://panorama/images/masks/gradient_leftright_tight_psd.vtex");
}

#HeroStrip
{
	height: 72px;
	horizontal-align: left;
}

#HeroStrip .HeroImage
{
	width: 50px;
	opacity-mask: none;
	border-radius: 5px;
	margin-top: 4px;
	margin-bottom: 4px;
}

#HeroStrip .HeroImage.LocalPlayer
{
	border: 2px solid #0f0;
}

.StripHeroImage
{
	border: 2px solid black;
}

.CurrentPicker .StripHeroImage
{
	border: 2px solid #fff;
}


.NextPicker .StripHeroImage
{
	border: 2px solid #00f;
}

.DraftEntryContainer
{
	height: 100%;
	width: 58px;
	margin-left: 8px;
}

.NameContainer
{
	margin-left: 86px;
	vertical-align: bottom;
	margin-bottom: 64px;
	flow-children: down;
}

#DireHeroes .NameContainer
{
	margin-left: 0px;
	margin-right: 86px;
	horizontal-align: right;
}

.AvatarImage
{
	height: 32px;
	width: 32px;
}

.HeroName
{
	text-transform: uppercase;
	font-size: 16px;
	margin-top: -6px;
	color: #888;
	horizontal-align: left;
	text-align: left;
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px 3.0 #000;
	text-shadow: 1px 1px 0px 2.0 #000;
}

#DireHeroes .PlayerName,
#DireHeroes .HeroName
{
	horizontal-align: right;
	text-align: right;
}

.PlayerName
{
	font-size: 24px;
	color: white;
	text-shadow: 1px 1px 0px 2.0 #000;
}

.CloseButton:hover,
.ReloadButton:hover Label
{
	color: white;
	wash-color: white;
}

.CloseButton,
.ReloadButton
{
	margin-top: 70px;
}

#ADTitle
{
	font-size: 42px;
	font-weight: thin;
	text-transform: uppercase;
	margin-top: 16px;
	color: white;
}

#TimerContainer
{
	flow-children: down;
	margin-top: 64px;
}

#Timer
{
	color: white;
	font-size: 46px;
}

.StatBranch
{
	width: 36px;
	height: 36px;
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 6px;
	margin-left: 6px;
	wash-color: #708D9F;
	tooltip-position: right;
	background-color: #000000d8;
	border-radius: 50%;
	background-size: 90%;
	background-position: 50%;
}

#DireHeroes .StatBranch
{
	horizontal-align: right;
	margin-right: 6px;
	margin-left: 0px;
	tooltip-position: left;
}

#Chat
{
	width: 620px;
	height: 160px;
	border: 1px solid #333;
	background-color: #000000a8;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 20px;

}

#Chat Label
{
	horizontal-align: center;
	vertical-align: middle;
	text-align: center;
	font-size: 22px;
	letter-spacing: 2px;
}