DOTATopBar
{
	vertical-align: top;
	horizontal-align: center;
	height: 80px;
	width: 940px;

	transform: translateY(0px);
	transition-property: transform;
	transition-duration: 1s;
	transition-delay: 2s;
	transition-timing-function: ease-in-out;
}

DOTAHud.HideTopBar #topbar
{
	visibility: collapse;
}

DOTATopBar.TournamentGame
{
	width: 1072px;
}

DOTAHeroImage
{
    transition-property: wash-color, saturation, brightness, contrast;
    transition-duration: 0.4s;
    z-index: 3;
}

#Pips
{
	horizontal-align: center;
	vertical-align: center;
	z-index: 50;
	visibility: collapse;
}

#RadiantPips
{
	margin-right: 80px;
	transform: scaleX(-1);
}

.TournamentGame.BestOf3 #Pips,
.TournamentGame.BestOf5 #Pips
{
	visibility: visible;
}

.TournamentGame ToggleButton .TickBox
{
	width: 12px;
	height: 12px;
	box-shadow: none;
	background-color: none;
	border: 0px;
	background-image: url("s2r://panorama/images/hud/reborn/tournament_pip_off_psd.vtex");
}

.TournamentGame ToggleButton:selected .TickBox
{
	background-image: url("s2r://panorama/images/hud/reborn/tournament_pip_on_psd.vtex");
}


DOTAUGCImage
{
	height: 40px;
	width: 66px;
	horizontal-align: center;
	background-color: #131517;
	visibility: collapse;
}

.TournamentGame DOTAUGCImage
{
	visibility: visible;
}



.BestOf3 #RadiantGamePip3,
.BestOf3 #DireGamePip3
{
	visibility: collapse;
}

#TopBarLeftFlare,
#TopBarRightFlare
{
	background-size: 100%;
	background-repeat: no-repeat;
    width: 16px;
    height: 40px;

}
#TopBarLeftFlare
{
    background-image: url("s2r://panorama/images/hud/reborn/header_endcap_psd.vtex");
    margin-left: 36px;
    transform: scaleX(-1);
	visibility: collapse;
}
#TopBarRightFlare
{
    background-image: url("s2r://panorama/images/hud/reborn/header_endcap_psd.vtex");
	horizontal-align: right;
    margin-right: 36px;
    z-index: -80;
	visibility: collapse;
}

#TopBarRadiantTeam,
#TopBarDireTeam
{
	width: 380px;
	height: 100%;
}

.TournamentGame #TopBarRadiantTeam,
.TournamentGame #TopBarDireTeam
{
	width: 460px;
}

#TopBarRadiantTeam
{
	margin-left: 52px;
}

#TopBarDireTeam .TopBarBackground
{
    transform: scaleX(-1);
}

#TopBarDireTeam
{
	horizontal-align: right;
	margin-right: 52px;
}

#TopBarDirePlayers
{
	horizontal-align: right;
}

.TeamBackground
{
	width: 100%;
	height: 40px;
}

.PlayerContainer
{
	width: 100%;
	height: 100%;
}


.TopBarHeroImage
{
	background-color: #222;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333  ), color-stop( 0.2, #444 ), color-stop( .5, #333), to( #111 ) );
	width: 66px;
	height: 36px;
	margin-top: 4px;
	vertical-align: top;
	transition-duration: 0.1s;
	saturation: 1;
	brightness: 1;
	contrast: 1;
}

.HIDE_TOP_BAR_BACKGROUND .TopBarHeroImage
{
	background-color: none;
}

#BuybackIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/buyback_topbar_alive_psd.vtex");
    background-size: 100%;
    background-repeat: no-repeat;

	width: 100%;
	height: 11px;
	opacity: 0;
	horizontal-align: left;
	vertical-align: bottom;
	z-index: 3;
	margin-bottom: 10px;
	margin-left: 6px;
	transform: translateY(-13px);

	transition-property: opacity, pre-transform-scale2d, transform;
	transition-duration: .12s;
	transition-timing-function: ease-out;	
}

#TopBarDirePlayers #BuybackIcon
{
	margin-left: 0px;
	margin-right:6px;
}

.AltPressed .BuybackReady #BuybackIcon
{
	transform: translateY(0px);
	opacity: 1;
}

.AltPressed .Dead.BuybackReady #BuybackIcon
{
	opacity: 0;
}

#TopBarRadiantPlayersContainer .SlantedContainer
{
	opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_left_psd.vtex");
}


#TopBarDirePlayersContainer .SlantedContainer
{
	opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_right_psd.vtex");
}

#TopBarRadiantPlayersContainer,
#TopBarDirePlayersContainer
{
	height: 100%;
	width: 316px;
	z-index: 2;
}

.TopBarBackground
{
	background-image: url("s2r://panorama/images/hud/reborn/top_bar_team_bg_psd.vtex");
    background-size: cover;
    background-repeat: no-repeat;
	width: 98%;
    height: 80px;
    z-index: -1;
}

#TopBarRadiantTeam .TopBarBackground
{
    horizontal-align: right;
}

.TopBarPlayerSlot
{
    height: 66px;
}

#TopBarRadiantPlayersContainer .TopBarPlayerSlot
{
    margin-left: -4px;
}

#TopBarDirePlayersContainer .TopBarPlayerSlot
{
    margin-right: -4px;
}


#TopBarRadiantScore,
#TopBarDireScore
{
	color: white;
	font-size: 22px;
	font-weight: bold;
    font-family: RadianceM;
	height: 38px;
	width: 50px;
	text-align: center;
	margin-top: 7px;
	z-index: 5;
}
#TopBarRadiantScore
{
    horizontal-align: left;
    margin-left: 4px;
}
#TopBarDireScore
{
    horizontal-align: right;
    margin-right: 4px;
}

#DireTeamScorePlayers
{
    horizontal-align: right;
    height: 100%;
}
#RadiantTeamScorePlayers
{
    height: 100%;
    overflow: noclip;
}


.TopBarHealthBar .ProgressBarLeft
{
	background-color: #339933;
    background-image: url("s2r://panorama/images/hud/reborn/topbar_health_psd.vtex");
	background-size: cover;
    border-radius: 0px;
}

.ColorBlindModeEnabled .TopBarHealthBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #658fdf  ), color-stop( 0.2, #a4caff ), color-stop( .5, #3f6fcb), to( #2c56ab ) );
	// This should be a proper image matching the non-color-blind one but
	// that doesn't exist at the moment.  Turn off the green image to
	// let the blue background show.
	background-image: none;
}

.TopBarHealthBar .ProgressBarRight
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #17200d  ), color-stop( 0.2, #222e13 ), color-stop( .5, #1e2911), to( #17200d) );
}

.TopBarUltIndicator
{
	vertical-align: top;
	horizontal-align: center;

	width: 38px;
	height: 20px;
    
	background-size: 18px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	
	z-index: 500;

	opacity: 0;
	margin-top: 28px;
	tooltip-position: bottom;
	tooltip-body-position: 50% 50%;
}

#AbilityDraftHitBox
{
	visibility: collapse;
	width: 58px;
	height: 30px;
	
	vertical-align: top;
	horizontal-align: center;
	
	tooltip-position: bottom;
	tooltip-body-position: 50% 50%;
	
	opacity: 1;
}

.IsAbilityDraft #AbilityDraftHitBox
{
	visibility: visible;
}

.UltLearned
{
	opacity: 1;
}

.UltReady
{
    background-image: url("s2r://panorama/images/hud/reborn/ult_ready_psd.vtex");
}

.UltReadyNoMana
{
    background-image: url("s2r://panorama/images/hud/reborn/ult_no_mana_psd.vtex");
}

.UltOnCooldown
{
    background-image: url("s2r://panorama/images/hud/reborn/ult_cooldown_psd.vtex");
}

#TimeOfDay
{
	width: 80px;
	height: 50px;
	horizontal-align: center;
	vertical-align: top;
	z-index: 2;
    background-size: cover;
}

#TimeOfDayContent
{
	height: 100%;
	width: 100%;
}

#DayGlow
{
    height: 46px;
    width: 90px;
    horizontal-align: center;
    vertical-align: top;
    z-index: 2;
    background-size: cover;
    background-image: url("s2r://panorama/images/hud/reborn/glow_day_psd.vtex");
    background-repeat: no-repeat;

    animation-name: DayNightPulse;
    animation-duration: 2.94s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    visibility: collapse;
}

#NightGlow
{
    height: 46px;
    width: 90px;
    horizontal-align: center;
    vertical-align: top;
    z-index: 2;
    background-size: cover;
    background-image: url("s2r://panorama/images/hud/reborn/glow_night_psd.vtex");
    background-repeat: no-repeat;

    animation-name: DayNightPulse;
    animation-duration: 2.94s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    visibility: collapse;
}

.NightTime #NightGlow
{
    visibility: visible;
}

.DayTime #DayGlow
{
    visibility: visible;
}

@keyframes 'DayNightPulse'
{
    0%
    {
        opacity: 0.1;
    }

    50%
    {
        opacity: 0.3;
    }

    100%
    {
        opacity: 0.1;
    }
}

#GameTime
{
	color: white;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 9px;
	letter-spacing: 1px;
    font-family: RadianceM;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    text-align: center;
}

.LowVisualQuality #GameTime
{
    text-shadow: 1px 1px 0px 2.0 #00000011;
}

.TimeOfDayIcon
{
	width: 23px;
	height: 23px;
	horizontal-align: center;
    background-size: cover;
	z-index: 50;
	margin-top: 2px;
    margin-right: 1px;
}

.DayIcon
{
    background-image: url("s2r://panorama/images/hud/reborn/icon_sun_psd.vtex");
}

.NightIcon
{
    transform: scaleX(-1);
    background-image: url("s2r://panorama/images/hud/reborn/icon_moon_psd.vtex");
}

#RespawnTimer
{
	width: 100%;
	height: 26px;
	z-index: -1;
	vertical-align: bottom;
	horizontal-align: center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from ( #181b1d), to ( #22292f ) );
	opacity: 0;
	transform: translateY(-28px) translateX(4px);
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	
	transition-property: transform, opacity;
	transition-duration: .2s;
	transition-timing-function: ease-out;
}

#RadiantTeamScorePlayers #RespawnTimer
{
	transform: translateY(-28px) translateX(-4px);
}

#RespawnTimerLabel
{
	color: white;
	font-size: 16px;
	text-align: center;
	opacity: 1;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 4px;
	width: 100%;
	height: 100%;
    font-family: RadianceM;
    font-weight: bold;
}

.LowVisualQuality #RespawnTimerLabel
{
    text-shadow: 0px 0px 0px 2.0 #000000;
}

.BuybackReady #RespawnTimer
{
    background-image: url("s2r://panorama/images/hud/reborn/top_bar_buyback_bg_psd.vtex");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.BuybackReady #RespawnTimerLabel
{
	//color: #ffd825;
}


#AliveBuybackStatus,
#TopBarBuybackStatus
{
	background-image: url("s2r://panorama/images/hud/reborn/topbar_buyback_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .18s;
	transition-timing-function: ease-in-out;	
}

.BuybackReady.Dead #TopBarBuybackStatus
{
	opacity: 1;
}

#RadiantTeamScorePlayers .Dead #RespawnTimer,
.Dead #RespawnTimer
{
	opacity: 1;
	transform: translateY(0px);
}



.Dead DOTAHeroImage
{
    wash-color: #898989;
    saturation: 0.0;
}

#DeadLayer
{
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0;
}

#TopBarRadiantPlayersContainer #DeadLayer
{
	transform: scaleX(-1);
} 

.Dead #DeadLayer
{
	opacity: 1;
}

.EnemyHeroMissing DOTAHeroImage
{
	opacity: 1.0;
}

.HideElement
{
	opacity: 0;
}

.EnemyTeam #TopBarUltIndicator,
.EnemyTeam #HealthBar,
{
	opacity: 0;
}

.AltPressed .EnemyTeam #ManaBar
{
    opacity: 0;
}

.Spectating #ManaBar
{
	opacity: 1;
	transform: translateY(11px);
}

#GoldIcon
{
	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	horizontal-align: center;
	vertical-align: bottom;
	opacity: 0;
	margin-top: 4px;
}

.BuybackUsed #GoldIcon
{
	z-index: 500;
	opacity: 1;
}

#PlayerColor
{
	width: 100%;
	height: 4px;
	z-index: 5;
	background-image: url("s2r://panorama/images/hud/reborn/topbar_playerslot_vignette_psd.vtex");
	background-size: 92% 100%;
	background-repeat: no-repeat;
}

#PlayerColorShadow
{
	width: 100%;
	height: 100%;
	margin-top: 4px;
	z-index: 4;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000 ), color-stop( 0.03, #000a ), color-stop( 0.1, #0000 ), color-stop( 0.91, #0000 ), color-stop( 0.95, #0006 ),  to( #000a ) );
}

.HIDE_TOP_BAR_BACKGROUND #PlayerColorShadow
{
	visibility: collapse;
}

#TopBarDirePlayersContainer #PlayerColor
{
	background-size: 93% 100%;
	background-position: 5px 0px;
}

.Disconnected DOTAHeroImage
{
	opacity: 0.5;
}

#DisconnectIcon
{
	width: 67px;
	height: 20px;
	margin-top: 12px;
	vertical-align: top;
	background-image: url("s2r://panorama/images/hud/reborn/icon_disconnect_png.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 20;
	opacity: 0;
}

.Disconnected #DisconnectIcon
{
	opacity: 1;
}

.TopBarHealthBar
{
     width: 60px;
     height: 8px;
     border: 0px;
     z-index: 2;
     margin-bottom: 30px;
     vertical-align: bottom;
     border-radius: 0px;
     opacity: 0;
     z-index: -500;

     transition-property: transform, opacity;
     transition-duration: 0.12s;
     transition-timing-function: ease-in-out;
}

.AltPressed .TopBarHealthBar, .IsLocalPlayerSpectating .TopBarHealthBar
{
    opacity: 1;
    transform: translateY( 11px );
}

#ManaBar
{
    width: 60px;
	height: 8px;
	border: 0px;
    z-index: 1;
    margin-bottom: 22px;
    vertical-align: bottom;
    box-shadow: none;
    border-radius: 0px;
    opacity: 0;

    transition-property: transform, opacity;
	transition-duration: 0.12s;
    transition-timing-function: ease-in-out;
}

.AltPressed #ManaBar
{
	opacity: 1;
	transform: translateY(11px);
}

.Dead #HealthBar,
.Dead #ManaBar
{
    opacity: 0;
}

#ManaBar .ProgressBarLeft
{
	border-radius: 0px;
    background-image: url("s2r://panorama/images/hud/reborn/topbar_mana_psd.vtex");
    background-size: cover;
}

#ManaBar .ProgressBarRight
{
	border-radius: 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #101932 ), color-stop( 0.2, #172447 ), color-stop( .5, #162244), to( #101932 ) );
}

#TopBarRadiantPlayersContainer .TopBarHealthBar,
#TopBarRadiantPlayersContainer .TopBarUltIndicator,
#TopBarRadiantPlayersContainer #ManaBar,
#TopBarRadiantPlayersContainer #GoldIcon,
#TopBarRadiantPlayersContainer #RespawnTimer
{
	margin-left: 6px;
}

#TopBarDirePlayersContainer .TopBarHealthBar,
#TopBarDirePlayersContainer .TopBarUltIndicator,
#TopBarDirePlayersContainer #ManaBar,
#TopBarDirePlayersContainer #GoldIcon,
#TopBarDirePlayersContainer #RespawnTimer
{
	margin-right: 6px;
}

// Custom game SetHUDVisible support
.HIDE_TOP_TIMEOFDAY #TimeOfDayLeftFlare,
.HIDE_TOP_TIMEOFDAY #TimeOfDay,
.HIDE_TOP_TIMEOFDAY #TimeOfDayRightFlare,
.HIDE_TOP_TIMEOFDAY #TimeOfDayBG,
.HIDE_TOP_TIMEOFDAY #TimeUntil
{
	visibility: collapse;
}

.HIDE_TOP_HEROES #TopBarRadiantTeam,
.HIDE_TOP_HEROES #TopBarDireTeam,
.HIDE_TOP_HEROES #TopBarLeftFlare,
.HIDE_TOP_HEROES #TopBarRightFlare
{
	visibility: collapse;
}

.HIDE_TOP_BAR_BACKGROUND #TimeOfDayLeftFlare,
.HIDE_TOP_BAR_BACKGROUND #TimeOfDayRightFlare,
.HIDE_TOP_BAR_BACKGROUND #TopBarLeftFlare,
.HIDE_TOP_BAR_BACKGROUND #TopBarRightFlare,
.HIDE_TOP_BAR_BACKGROUND .TeamBackground
{
	visibility: collapse;
}

.HIDE_TOP_BAR_RADIANT_TEAM
{
	visibility: collapse;
}

.HIDE_TOP_BAR_DIRE_TEAM #TopBarDireTeam,
.HIDE_TOP_BAR_DIRE_TEAM #TopBarRightFlare,
.HIDE_TOP_BAR_DIRE_TEAM #TopBarDireScore
{
	visibility: collapse;
}

.HIDE_TOP_BAR_SCORE #TopBarRadiantScore,
.HIDE_TOP_BAR_SCORE #TopBarDireScore
{
	visibility: collapse;
}

#TimeOfDayBG
{
	horizontal-align: center;
	visibility: visible;
	z-index: 2;
    background-image: url("s2r://panorama/images/hud/reborn/bg_timer_psd.vtex");
    background-size: 100%;
    height: 46px;
    width: 90px;
}

#TimeUntil
{
	color: white;
	vertical-align: bottom;
	horizontal-align: center;
	letter-spacing: 1px;
    font-family: RadianceM, Radiance;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
    margin-bottom: 14px;
    text-shadow: 1px 1px 0px 2.0 #00000044;

    transition-property: transform, opacity;
	transition-duration: 0.18s;
    transition-timing-function: ease-in-out;
    transform: translateY(-4px);
}

.LowVisualQuality #TimeUntil
{
    text-shadow: 1px 1px 0px 2.0 #00000044;
}


#TimeUntil.ShowTimeUntil,
.AltPressed #TimeUntil
{
	opacity: 1;
	transform: translateY(0px);
}

#HUDSkinTopBarBG
{
	height: 40px;
	width: 86%;
	background-size: 200% 100%;
	background-position: 50% 50%;
	horizontal-align: center;
	visibility: collapse;
	opacity: 1;
	overflow: clip;
}

.Reborn.CustomHUDSkin:not(.HIDE_TOP_BAR_BACKGROUND) #HUDSkinTopBarBG
{
	visibility: visible;
}

.Reborn.CustomHUDSkin .TopBarBackground
{
	opacity: 0;
}