.potential_drop_target #QuickBuyRows
{
	box-shadow: inset #0B93BE44 6px 6px 12px 12px;
}

.GoldActive #GoldLabel
{
//	color: #D58A17;
}

.AspectRatio4x3 .Legacy #GoldIcon
{
	width: 26px;
	height: 26px;
	margin-left: 3px;
}

.AspectRatio4x3 .Legacy #GoldLabel
{
	font-size: 16px;
	min-width: 48px;
	margin-top: 3px;
}

#ShopButton
{
	margin-left: 0px;
	background-image: url("s2r://panorama/images/hud/hudv2_shopbutton_png.vtex");
	background-size: 100% 100%;
	width: 120px;
	height: 36px;
	vertical-align: bottom;
	horizontal-align: left;
	margin-bottom: 12px;
	margin-left: 15px;
}

.ShopInRange #ShopButton
{
	background-image: url("s2r://panorama/images/hud/hudv2_shopbutton_lit_png.vtex");
}

#ShopButton:hover
{
	brightness: 2.0;
}

#ShopButton #GoldLabel
{
	
}

#GoldIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/gold_small_psd.vtex");
	background-size: 100% 100%;
	width: 26px;
	height: 26px;
	horizontal-align: right;
	margin-right: 8px;
	vertical-align: center;
	margin-bottom: 2px;
}

#GoldLabel
{
	
}

#ShopHotkey
{
	background-color: #000000CF;
	white-space: nowrap;
	vertical-align: top;
	horizontal-align: left;
	padding: 1px 2px 0px 2px;
}

#ShopHotkeyLabel
{
	font-size: 14px;
	horizontal-align: center;
	text-align: center;
	margin: 0px 0px -2px 0px;
	font-weight: normal;
	color: white;
	text-shadow: 1px 1px 2px 2 #000000;
	letter-spacing: 1px;
}

.AspectRatio4x3 .Legacy #ShopButton Label
{
	font-size: 17px;
	margin-top: 3px;
}

.AspectRatio4x3 .Legacy #ShopButton
{
	width: 80px;
	height: 26px;
	margin-left: 0px;
	margin-top: 31px;
}

.HUDFlipped .Legacy #ShopButton
{
	margin-left: 0px;
}

.AspectRatio4x3.HUDFlipped .Legacy #ShopButton
{
	margin-left: 187px;
}

#courier
{
	vertical-align: center;
	width: 132px;
	height: 60px;
	margin-left: 134px;
}

#QuickBuyRows
{
	margin-bottom: 60px;
	width: 100%;
}

// Custom game SetHUDVisible support
.HIDE_INVENTORY_QUICKBUY #QuickBuyRows
{
	visibility: collapse;
}

.HIDE_INVENTORY_COURIER #courier
{
	visibility: collapse;
}

.HIDE_INVENTORY_GOLD #GoldLabel,
.HIDE_INVENTORY_GOLD #GoldIcon
{
	visibility: collapse;
}

.AspectRatio4x3 .Legacy #QuickBuyRows
{
	margin-top: 10px;
	horizontal-align: right;
	margin-right: 9px;
}

.AspectRatio4x3.HUDFlipped .Legacy #QuickBuyRows
{
	margin-right: 0px;
	margin-left: 22px;
	horizontal-align: left;
}

.QuickBuyRow.Empty
{
	// I don't know that we want this, it means the UI moves around when you're
	// right clicking through a bunch of items. --dkj
	visibility: collapse;
}

.ShowHint .QuickBuyRow
{
	visibility: collapse;
}

#Hint
{
	font-size: 14px;
	color: white;
	width: 138px;
	vertical-align: middle;
	text-align: center;
	margin-left: 40px;
    margin-right: 40px;
	padding-top: 4px;
	padding-bottom: 0px;
	opacity: 0;
    line-height: 14px;
    height: 40px;
}

.HUDFlipped #Hint
{
    horizontal-align: right;
}

.ShowHint:not(.ShowingQueryUnit) #Hint
{
	opacity: 1;
}

.ShowHint #ClearQuickBuy
{
	visibility: collapse;
}

.ShowingQueryUnit #ClearQuickBuy
{
	visibility: collapse;
}

.AspectRatio4x3 .Legacy #Hint
{
	font-size: 12px;
	font-weight: thin;
	margin-top: 6px;
	width: 120px;
}

DOTAShopItem
{
	width: 37px;
	height: 29px;
	margin-right: 3px;
}

.AspectRatio4x3 .Legacy DOTAShopItem
{
	width: 28px;
	height: 22px;
	margin-right: 3px;
}

.AspectRatio4x3 .Legacy #Row1
{
	margin-top: 20px;
}

#ClearQuickBuy
{
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: cover;
	background-position: 50% 50%;
	width: 16px;
	height: 16px;
    horizontal-align: right;
    margin-top: 8px;
    margin-right: 68px;
    brightness: 0.4;
    transition-property: brightness;
    transition-duration: 0.15s;
}

#ClearQuickBuy:hover
{
	brightness: 1.0;
}

#ClearQuickBuy:active
{
	brightness: 0.6;
}

.HUDFlipped #ClearQuickBuy
{
    horizontal-align: left;
    margin-left: 68px;
}

.AspectRatio4x3 .Legacy #ClearQuickBuy
{
	width: 28px;
	height: 22px;
}

#Row0
{
	padding-left: 9px;
	padding-top: 6px;
    flow-children: right;
}

#Row1
{
    margin-top: 30px;
	padding-left: 9px;
	padding-top: 10px;
	padding-bottom: 6px;
    flow-children: right;

}

.HUDFlipped #Row0
{
    margin-right: 6px;
    horizontal-align: right;
}

.HUDFlipped #Row1
{
    margin-right: 6px;
    horizontal-align: right;
}

#StickyItemSlotContainer
{
	horizontal-align: right;
	width: 60px;
	background-color: #0000006F;
	height: 100%;
}

.HUDFlipped #StickyItemSlotContainer
{
    horizontal-align: left;
}
#QuickBuySlot8
{
    vertical-align: center;
    horizontal-align: center;
    margin-right: 0px;
}


//----------------------------------------------------------------------
// Reborn HUD

.Reborn #ShopButton
{
	height: 36px;
	background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_psd.vtex");
	brightness: 1.0;
	z-index: -1;
    box-shadow: #000000aa 0px 0px 2px 2px;
    margin-left: 134px;
	margin-left: 12px;
	transition-property: background-image;
	transition-duration: .18s;
	transition-timing-function: ease-in-out;
	tooltip-position: top;
}

.Reborn #ShopButton Label
{
    text-shadow: 0px 1px 0px 2.0 #00000077;
	transition-property: color;
	transition-duration: .1811s;
	transition-timing-function: ease-in-out;	
}

.Reborn #ShopButton:hover
{
	background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_hover_psd.vtex");
}

.Reborn .ShopInRange #ShopButton
{
	background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_inrange_psd.vtex");
}


.Reborn .ShopInRange .ShopButtonValueLabel
{
	color: white;
}

.Reborn .ShopInRange #ShopButton:hover
{
	background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_inrange_hover_psd.vtex");
}

.Reborn #GoldLabel
{
}

.Reborn #QuickBuyRows
{
    background-image: url("s2r://panorama/images/hud/reborn/quickbuy_bg_psd.vtex");
}

.Reborn DOTAShopItem
{
	width: 38px;
	height: 28px;
}

.Reborn #ShopCourierControls
{
	vertical-align: bottom;
}

.HUDFlipped #courier
{
	margin-left: 135px;
}

.HUDFlipped #ShopButton
{
	margin-left: 8px;
}

.ShopButtonValueLabel
{
	font-size: 22px;
	font-weight: bold;
	color: #ffcc33;
	text-align: right;
	horizontal-align: right;
	min-width: 60px;
	vertical-align: center;
	margin-right: 40px;
	width: 100%;
	letter-spacing: 1px;
	text-shadow: 0px 1px 2px 3.0 #00000066;
	text-overflow: shrink;
	opacity: 0;
	text-shadow: 0px 0px 1px 2.0 #000000;
    color: #ffcc33;

}

#GoldLabel.ShopButtonValueLabel 
{
	opacity: 1;
}

#BuybackDelta
{
	opacity: 1;
	horizontal-align: right;
	wash-color: #af2;
	height: 14px;
	margin-top: 1px;
}

.BuybackDisabled #BuybackDelta
{
	wash-color: #f41;
}

#BuybackDelta Label
{
	margin-top: 1px;
}

.BuybackDisabled.ShopInRange #BuybackDelta
{
	wash-color: #f62;
}

#Plus
{
	font-size: 12px;

	font-weight: normal;
	color: white;
	text-align: right;
	horizontal-align: right;
	vertical-align: center;	
}

.BuybackDisabled #Plus
{
	visibility: collapse;
}

.BuybackValueFont
{
	opacity: 1;
	color: white;
	height: 14px;
	font-size: 12px;
}

#BuybackGoldSurplus
{
	margin-right: 2px;
}

.HasBuybackCooldown #Plus,
.HasBuybackCooldown #NoPlus,
.HasBuybackCooldown #BuybackGoldSurplus
{
	visibility: collapse;
}

#BuybackCooldown
{
	visibility: collapse;
}

.HasBuybackCooldown #BuybackCooldown
{
	visibility: visible;
}

#NoPlus
{
	visibility: collapse;
}

.BuybackDisabled.HasBuybackCost:not(.HasBuybackCooldown) #NoPlus
{
	visibility: visible;
}

DOTAQuickBuy.UnitDead.BuybackDisabled.HasBuybackCost:not(.HasBuybackCooldown) #BuybackCost
{
	visibility: visible;
}

#BuybackHeader
{
	background-image: none;
	background-size: 100% 18px;
	background-position: 50% 90%;
	
	background-repeat: no-repeat;
	
	margin-top: -12px;
	horizontal-align: center;	
	background-color: #4C5059;
	//border: 1px solid #818592;
	box-shadow: #000f -2px -2px 4px 4px;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: .12s;
	transition-timing-function: ease-in-out;	
	opacity: 0;		
	pre-transform-scale2d: 0;
}

DOTAQuickBuy:not(.BuybackDisabled) #BuybackHeader
{
	background-image: url("s2r://panorama/images/hud/reborn/buyback_header_psd.vtex");
}

#BuybackCost,
#NoBuybackLabel,
#BuybackLabel
{
	text-transform: uppercase;
	font-size: 12px;

	color: #a6aBb1;
	
	padding-left: 5px;
	padding-top: 2px;
	//padding-bottom: -2px;
}

.BuybackDisabled #BuybackLabel,
#NoBuybackLabel
{
	visibility: collapse;
}


.BuybackDisabled #NoBuybackLabel
{
	visibility: visible;
}

.BuybackDisabled #BuybackDelta
{
	wash-color: red;
}

DOTAQuickBuy:not(.BuybackDisabled) #BuybackHeader Label
{
	color: #FFCC33;
}

.AltPressed #BuybackHeader
{
	opacity: 1;
	pre-transform-scale2d: 1;
}
