DOTAHudPromo
{
	visibility: collapse;
	width: 664px;
	height: 340px;
}

DOTAHudPromo.Visible
{
	visibility: visible;
}

#Background
{
	background-image: url("s2r://panorama/images/hud/promo_artifact_card_bg_psd.vtex");
	background-size: 100%;	
	width: 332px;
	height: 100%;
	z-index: 1;
	horizontal-align: right;
}


.HUDFlipped #Background
{
	horizontal-align: left;
}

#Background Label
{
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 18px;
	color: #ccaa00ff;
	font-family: titleFont;
	letter-spacing: 2px;
}

#Background .Title
{
	font-family: defaultFont;
	margin-top: 185px;
	color: grey;
}

.Detail
{
	margin-top: 246px;
}

.Date
{
	margin-top: 270px;
}

#Background .LearnMore
{
	margin-top: 300px;
	color: grey;
	font-size: 14px;
}

#Background:hover .LearnMore
{
	text-decoration: underline;
}

#Background:active .LearnMore
{
	color: white;
}