
#PingConfirmationContainer Label
{
	color: white;
}

#PingTypeImage
{
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	horizontal-align: center;
	vertical-align: bottom;
}

.AgreeDisagreeButton:active
{
	opacity: 1;
	color: yellow;
}

.AgreeDisagreeButton:hover
{
	opacity: .75;
}

.AgreeDisagreeButton
{
	opacity: 0.5;
	background-size: 100% 100%;
	flow-children: right;
}

/* temp hack: removing disagree button */
#DisagreeButton
{
	visibility: collapse;
}

.AgreeDisagreeButton Label
{
	margin-left: 3px;
}

.Image
{
	opacity: 0.5;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	horizontal-align: center;
	vertical-align: bottom;
}

#AgreeImage
{
	background-image: url("s2r://panorama/images/icon_thumb_up_png.vtex");
}

#DisagreeImage
{
	background-image: url("s2r://panorama/images/icon_thumb_down_png.vtex");
}

DOTATopBarPlayerPingConfirmation #PingConfirmationContainer
{
	width: 51px;
	vertical-align: bottom;
	margin-top: 44px;
	margin-bottom: 98px;
	margin-left: 9px;
	flow-children: down;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

DOTATopBarPlayerPingConfirmation #PingConfirmationContainer.show
{
	opacity: 1;
}
