DOTASpectatorOverwatch
{
	flow-children: down;
	padding-left: 25px;
	opacity: 0;
}
#OverwatchControls
{
	opacity: 0;
	vertical-align: bottom;
	margin-bottom: 5px;
}

.IsLocalPlayerSpectatingOverwatch DOTASpectatorOverwatch.ForceVisible #OverwatchControls
{
	transform: translateY(0px);
	opacity: 1;
}

#MarkerNavigation
{
	flow-children: right;
}

#PreviousMarker, #NextMarker
{
	width: 38px;
	height: 28px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 5px;
	background-size: 100%;
	vertical-align: middle;
}

#PreviousMarker
{
	transform: rotateZ(180deg);
	background-image: url("s2r://panorama/images/hud/dvr_play_png.vtex");
}

#NextMarker
{
	background-image: url("s2r://panorama/images/hud/dvr_play_png.vtex");
}

#ReviewOverwatchCaseUI
{
	flow-children: down;
}

#HeaderDetails
{
	flow-children: down;
	padding-left: 20px;
}

#OverwatchControls
{
	flow-children: down;
}

#ReviewOverwatchCaseUI
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), color-stop( .65, #121212) );
}

#ReviewOverwatchCaseUI .Header
{
	padding-left: 20px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0c1b41), color-stop( 1, #165874) );
	height: 44px;
	width: 100%;
	vertical-align: center;
}

#ReviewOverwatchCaseUI .Header Label
{
	text-transform: uppercase;
	vertical-align: center;
	margin-left: 5px;
	font-size: 20px;
}

#HeaderDetailsSubHeader
{
	padding-top: 5px;
	flow-children: right;
}

#HeaderDetails #OverwatchHeroName
{
	color: #f985c0;
	text-align: left;
	font-size: 20px;
}

#Infractions
{
	padding-left: 13px;
}

.Infraction
{
	min-width: 78px;
	height: 26px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #141e22), color-stop( 1, #090c14) );
}

.Infraction .InfractionText
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
}
#SubmitButton
{
	margin-left: 0px;
	background-color: gradient( linear, 50% 0%, 50% 100%, from( #135f13), color-stop( 1, #69f269) );
}

#HelpText
{
	margin-top: 5px;
	margin-bottom: 2px;
}
