DOTAHUDStrAgiInt
{
	visibility: collapse;
	background-color: black;
	padding-top: 5px;
	padding-left: 5px;
	flow-children: down;
}

DOTAHUDStrAgiInt.ShowStrAgiInt
{
	visibility: visible;
}

.Reborn DOTAHUDStrAgiInt.QueryUnit
{
	flow-children: down;
}

.HighlightStatIcon
{
	width: 34px;
	height: 34px;
	background-image: url("s2r://panorama/images/hud/hudv2_stat_icon_border_png.vtex");
    background-repeat: no-repeat;
    background-size: 100%;
    visibility: collapse;
    vertical-align: center;
}

.AspectRatio4x3 .HighlightStatIcon
{
	//background-image: url("s2r://panorama/images/hud/hudv2_stat_icon_cropped_border_png.vtex");}
}

.HighlightStrength #Strength .HighlightStatIcon,
.HighlightAgility #Agility .HighlightStatIcon,
.HighlightIntelligence #Intelligence .HighlightStatIcon
{
	visibility: collapse;
}

.StatIcon
{
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
    background-size: 100%;
}

.StatLabel
{
	font-size: 16px;
	color: offWhite;
	font-weight: thin;
	text-overflow: shrink;
	vertical-align: center;
}

#Strength
{
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
}

#StrengthIcon
{
	background-image: url("s2r://panorama/images/hud/pip_str_png.vtex");
    brightness: 1.3;
}

#Agility
{
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
}

#AgilityIcon
{
	background-image: url("s2r://panorama/images/hud/pip_agi_png.vtex");
    brightness: 1.6;
}

#Intelligence
{
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
}

#IntelligenceIcon
{
	background-image: url("s2r://panorama/images/hud/pip_int_png.vtex");
    brightness: 1.3;
}

.Reborn .StatModifier.StatPositive
{
	color: #45DD3B;
}

.ColorBlindModeEnabled.Reborn .StatModifier.StatPositive
{
	color: #45CBFF;
}

.Reborn .AnimatingUp .StatModifier.StatPositive
{
	color: #A5FF9B;
}

.Reborn .StatModifier.StatNegative
{
	color: #FF3300;
}

#StrAgiIntHotkey
{
	visibility: collapse;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn DOTAHUDStrAgiInt
{
	opacity: 1;
    flow-children: down;
    margin-left: 0px;
    margin-bottom: 0px;
    horizontal-align: right;
    width: 100%;
    background-color: none;
    padding-top: 0px;
    padding-left: 0px;
    z-index: 6;
	//vertical-align: bottom;
	//margin-bottom: 32px;
}

.Reborn DOTAHUDStrAgiInt.QueryUnit
{
	margin-top: 16px;
	width: 48px;
	height: 80px;
}

.Reborn DOTAHUDStrAgiInt.QueryUnit .StatIcon
{
	horizontal-align: center;
}

.Reborn .StatIcon
{
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: center;
    transform: translateY(-1px);
}

.Reborn DOTAHUDStrAgiInt.QueryUnit .HighlightStatIcon
{
    horizontal-align: center;
}

.Reborn .HighlightStatIcon
{
    width: 14px;
    height: 14px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;
    visibility: collapse;
}

.Reborn .StatLabel
{
    font-size: 14px;
    font-weight: medium;
	letter-spacing: 0px;
    color: #ccc;
	vertical-align: center;
    margin-top: 0px;
	margin-bottom: 2px;
//    margin-left: 3px;
    text-shadow: 0px 0px 4px 4 #00000088;
    font-family: monospaceNumbersFont;
    text-align: right;
}

.Reborn .StatModifier
{
    font-size: 14px;
    font-weight: medium;
	letter-spacing: 0px;
    color: #A1A1A2;
    margin-top: 0px;
    margin-left: 1px;
    text-shadow: 1px 1px 2px 3 #00000066;
    font-family: monospaceNumbersFont;
    text-align: left;
    vertical-align: center;
    pre-transform-scale2d: 1;
    transition-property: transform, opacity, width, pre-transform-scale2d;
	transition-duration: 0.12s;
	transition-timing-function: ease-in-out;
}

.Reborn .AnimatingUp.StatModifier
{
	pre-transform-scale2d: 1.25;
	text-shadow: 0px 0px 2px 3 #33993366;
}

.Reborn .QueryUnit .StatLabel
{
	margin: 0px;
	horizontal-align: center;
	text-align: center;
	margin-left: 1px;
	margin-top: 0px;
}


.Reborn #StrengthIcon,
.Reborn #AgilityIcon,
.Reborn #IntelligenceIcon,
.Reborn .StatIcon
{
	margin: 0px;
	horizontal-align: center;
	background-image: none;
}

.Reborn .QueryUnit #StrengthIcon,
.Reborn .QueryUnit #AgilityIcon,
.Reborn .QueryUnit #IntelligenceIcon,
.Reborn .QueryUnit .StatIcon
{
	margin-top: 0px;
	opacity: 1.0;
}

.Reborn #StrengthIcon,
.Reborn .QueryUnit #StrengthIcon
{
	//background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%,  from( #9F2325 ), to( #5F1410 ) );
	
}

.Reborn #AgilityIcon,
.Reborn .QueryUnit #AgilityIcon
{
	//background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%,  from( #37AB3D ), to( #2D5725 ) );
}

.Reborn #IntelligenceIcon,
.Reborn .QueryUnit #IntelligenceIcon
{
	//background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%,  from( #2A5EFF ), to( #163777 ) );
}

.Reborn #Intelligence,
.Reborn #Agility,
.Reborn #Strength,
.AttrIconContainer
{
	tooltip-position: top;
    tooltip-body-position: 50% 50%;
}

.AttrIconContainer
{
	width: fit-children;
	height: fill-parent-flow( 1.0 );
	horizontal-align: right;
	vertical-align: center;
	flow-children: right;
	margin-right: 3px;
	margin-right: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.Reborn DOTAHUDStrAgiInt.QueryUnit #Intelligence,
.Reborn DOTAHUDStrAgiInt.QueryUnit #Agility,
.Reborn DOTAHUDStrAgiInt.QueryUnit #Strength
{
	margin-top: 3px;
	margin-bottom: 3px;
}

.Reborn #Strength
{
}

.Reborn #StrengthIcon
{
    //border-radius: 50%;
	//box-shadow: fill #000000d8 -2px -2px 4px 4px;
    border: 0px solid #ec3d06;
	//background-color: #9F2325;
	//background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%,  from( #9F2325 ), to( #5F1410 ) );
	
	background-image: url("s2r://panorama/images/hud/reborn/mini_strength_icon_psd.vtex");
	
	width: 13px;
	height: 13px;
	
	opacity: .75;
	
	margin-left: 3px;
}

.Reborn #Agility
{
}

.Reborn #AgilityIcon
{
    //border-radius: 50%;
	//box-shadow: fill #000000d8 -2px -2px 4px 4px;
    //border: 0px solid #26e030;
    //background-image: none;
	//background-color: #388734;
	//background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%,  from( #37AB3D ), to( #2D5725 ) );
	
	background-image: url("s2r://panorama/images/hud/reborn/mini_agi_icon_psd.vtex");
	
	width: 13px;
	height: 13px;
	
	opacity: .75;
	
	margin-left: 3px;
}

.ColorBlindModeEnabled.Reborn #AgilityIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/mini_agi_icon_colorblind_psd.vtex");
}

.Reborn #Intelligence
{
}

.Reborn #IntelligenceIcon
{
    border: 0px solid #00d9ec;
	//box-shadow: fill #000000d8 -2px -2px 4px 4px;
    //border-radius: 50%;	
    //background-image: none;
	//background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%,  from( #2A5EFF ), to( #163777 ) );
	
	background-image: url("s2r://panorama/images/hud/reborn/mini_int_icon_psd.vtex");
	
	width: 13px;
	height: 13px;
	
	opacity: .75;
	
	margin-left: 3px;
}

.Reborn .HighlightStrength #StrengthIcon
{
    //border-radius: 50%;
	//background-color: #ec3d0615;
	border-width: 0px;

}

.Reborn .HighlightAgility #AgilityIcon
{
    //border-radius: 50%;
	//background-color: #26e03015;
	border-width: 0px;
}

.Reborn .HighlightIntelligence #IntelligenceIcon
{
    //border-radius: 50%;
	//background-color: #00d9ec15;
	border-width: 0px;
}