DOTAMultiUnit
{
	opacity: 0;
	background-color: #162034aa;
}

DOTAMultiUnit.ShowMultiUnit
{
	opacity: 1;
}

.Hidden
{
	visibility: collapse;
}

#UnitFrames
{
	flow-children: right-wrap;
}

#PageButtons
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
	padding-bottom: 1px;
}

DOTAMultiUnitFrame
{
	width: 42px;
	height: 45px;
	margin-right: 0px;
}

#canvas
{
	width: 126px;
	height: 146px;
}

#PageButtons Button
{
	background-image: url("s2r://panorama/images/hud/multiunit_page_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 23px;
	height: 19px;
	margin-right: 2px;
	visibility: collapse;
}

#PageButtons Button:hover
{
	brightness: 2.0;
}

#PageButtons Button:active
{
	brightness: 3.0;
}

#PageButtons Button:selected
{
	background-image: url("s2r://panorama/images/hud/multiunit_page_active_png.vtex");
}

#PageButtons Button.ShowButton
{
	visibility: visible;
}