@keyframes 'ShrinkAnimation'
{
    0%   { pre-transform-scale2d: 1; }
	50%   { pre-transform-scale2d: 0.5; }
    100% { pre-transform-scale2d: 0.5; }
}

DOTAPaused
{
	width: 350px;
	height: 150px;
	horizontal-align: center;
	margin-top: 350px;
	margin-bottom: 30px;
}

#PausedContainer
{
	width: 100%;
	height: 100px;
	vertical-align: middle;
	background-color: #000000cc;
	border-radius: 5px;
}

.Hidden
{
	visibility: collapse;
}

#PausedCountdownLabel
{
	margin-top: -55px;
	margin-left: -5px;
	font-size: 200px;
	color: white;
	overflow: noclip;
}

#PausedCountdownLabel.ShrinkCountdown
{
	animation-name: ShrinkAnimation;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

#PausedLabel
{
	margin-top: 7px;
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	font-size: 28px;
	color: white;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.PausedTextMoved
{
	transform: translateX(35px) translateY(0px);
}