#GlyphButton
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_glyph_on_psd.vtex");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	tooltip-position: left;
	tooltip-body-position: 0% 100%;

    transition-property: brightness;
    transition-duration: 0.25s;
}

// Custom game SetHUDVisible support
.HIDE_INVENTORY_PROTECT #GlyphButton
{
	visibility: collapse;
}

.CoolingDown #GlyphButton
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_glyph_off_psd.vtex");
}

.HUDFlipped #GlyphButton
{
	tooltip-position: right;
}

#GlyphCooldown
{
	width: 38px;
	height: 38px;
	horizontal-align: center;
	vertical-align: middle;
	margin-right: 0px;
	margin-bottom: 0px;
	border-radius: 50%;
    background-color: #000000dd;
	background-size: 100% 100%;
	visibility: collapse;
}

#GlyphButton:hover
{
    brightness: 1.7;
}

.CoolingDown #GlyphButton:hover
{
    brightness: 1.0;
}


.CoolingDown #GlyphCooldown
{
	visibility: visible;
}

.HUDFlipped #GlyphCooldown
{
	transform: scaleX(-1);
}