DOTACameraman
{
	height: 100%;
	width: 100%;
}

.Hidden
{
	visibility: collapse;
}

DOTACameramanCursor
{
	height: 100%;
	width: 100%;
}

#CursorImage
{
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/cursor/cursor_default_png.vtex");
}

#CursorImage.MoveCursor
{
	background-image: url("s2r://panorama/images/cursor/cursor_move_png.vtex");
}

#CursorImage.AttackCursor
{
	background-image: url("s2r://panorama/images/cursor/cursor_attack_png.vtex");
}

.CastCursor
{
	background-image: url("s2r://panorama/images/cursor/cursor_cast_png.vtex");
}
