@define headerHeight: 47px;
@define itemCombinesHeight: 102px;

DOTAHUDShop
{
	transform: translateX( 262px );

	transition-property: position, transform;
	transition-duration: 0.1s;
}

#Main
{
	width: 262px;
	background-color: #000000ee;
	flow-children: up;
	horizontal-align: right;
}

.HUDFlipped #Main
{
	horizontal-align: left;
}

#EditModeFlyout
{
	width: 262px;
	z-index: -1;
	opacity: 0;

	background-color: #000000ee;
	flow-children: down;

	margin-right: 262px;
	margin-top: 40px;
	padding-bottom: 14px;
	transform: translateX( 262px );

	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.HUDFlipped #EditModeFlyout
{
	margin-right: 0px;
	margin-left: 262px;
	transform: translateX( -262px );
}

#EditModeHint
{
	color: white;
	font-size: 15px;
	width: 100%;
	text-align: center;
	margin-top: 14px;
}

DOTAHUDShop.ShopOpen.EditMode #EditModeFlyout
{
	transform: translateX( 0px );
	opacity: 1;
}

DOTAHUDShop.ShopOpen
{
	transform: translateX( 0px );
	sound: "Shop.PanelUp";
}

DOTAHUDShop.ShopClosing
{
	sound: "Shop.PanelDown";
}

.HUDFlipped DOTAHUDShop
{
	transform: translateX( -262px );
}

.HUDFlipped DOTAHUDShop.ShopOpen
{
	transform: translateX( 0px );
}

#header
{
	width: 100%;
	height: headerHeight;
    //background-color: black;
    background-image: url("s2r://panorama/images/hud/reborn/bg_item_breakdown_psd.vtex");
    //background-position: top;
    //background-image: url("s2r://panorama/images/hud/reborn/bg_item_build_psd.vtex");
}

#ShopTabs
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: center;
}

#GridButton
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 8px;
	width: 28px;
	height: 28px;
	background-image: url("s2r://panorama/images/control_icons/grid_3x3_png.vtex");
	background-size: 18px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	wash-color: #57646d;
    transition-property: wash-color, brightness;
    transition-duration: 0.2s;
    padding: 4px;
}

#GridButton:hover
{
    brightness: 2.0;
}

#GridButton:active
{
	wash-color: #999999;
}

// active tab
.ShowItemGrid #GridButton
{
	wash-color: white;
    background-color: #57646d77;
    border-radius: 3px;
}

.ShowItemGrid #GridButton:hover
{
    brightness: 1.0;
}

#SuggestedButton
{
	vertical-align: center;
    width: 28px;
    height: 28px;
	background-image: url("s2r://panorama/images/hud/reborn/icon_shop_suggested_items_psd.vtex");
	background-size: 18px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	wash-color: #57646d;
    transition-property: wash-color, brightness;
    transition-duration: 0.2s;
}

#SuggestedButton:hover
{
	brightness: 2.0;
}

#SuggestedButton:active
{
	wash-color: #999999;
}

// active tab
DOTAHUDShop.ShowSuggested #SuggestedButton
{
	wash-color: white;
    background-color: #57646d77;
    border-radius: 3px;
}

DOTAHUDShop.ShowSuggested #SuggestedButton:hover
{
    brightness: 1.0;
}

// side shop button
#SideShopButton
{
	vertical-align: center;
    width: 28px;
    height: 28px;
	background-image: url("s2r://panorama/images/control_icons/shop_icon_side_psd.vtex");
	background-size: 28px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	wash-color: #57646d;
    transition-property: wash-color, brightness;
    transition-duration: 0.2s;
    visibility: collapse;
}

.ShowSideShopButton #SideShopButton
{
	visibility: visible;
}

#SideShopButton:hover
{
	brightness: 2.0;
}

#SideShopButton:active
{
	wash-color: #999999;
}

DOTAHUDShop.ShowSideShop #SideShopButton
{
	wash-color: white;
    background-color: #57646d77;
    border-radius: 3px;
}

DOTAHUDShop.ShowSideShop #SideShopButton:hover
{
    brightness: 1.0;
}

// secret shop button
#SecretShopButton
{
	vertical-align: center;
    width: 28px;
    height: 28px;
	background-image: url("s2r://panorama/images/control_icons/shop_icon_secret_psd.vtex");
	background-size: 28px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	wash-color: #57646d;
    transition-property: wash-color, brightness;
    transition-duration: 0.2s;
    visibility: collapse;
}

.ShowSecretShopButton #SecretShopButton
{
	visibility: visible;
}

#SecretShopButton:hover
{
	brightness: 2.0;
}

#SecretShopButton:active
{
	wash-color: #999999;
}

DOTAHUDShop.ShowSecretShop #SecretShopButton
{
	wash-color: white;
    background-color: #57646d77;
    border-radius: 3px;
}

DOTAHUDShop.ShowSecretShop #SecretShopButton:hover
{
    brightness: 1.0;
}

#titles
{
	width: 100%;
}

#title,
#side_title,
#secret_title
{
 	font-size: 18px;
	font-weight: bold;
	color: #57646d;
	width: 100%;
	text-align: left;
	text-transform: uppercase;
	margin-top: 14px;
    margin-left: 12px;
    letter-spacing: 1px;
    opacity: 0;
}

.ShowSuggested #title,
.ShowItemGrid #title,
.ShowSecretShop #secret_title,
.ShowSideShop #side_title
{
	opacity: 1;
}


#HeightLimiter
{
	width: 100%;
	height: 670px;
	flow-children: up;
	z-index: 2;
    background-color: #181818;
}

#CommonItems
{
	width: 100%;
}

.ShowItemGrid #CommonItems,
.ShowSearchResults #CommonItems
{
	visibility: collapse;
}

#ItemsArea
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	overflow: clip clip;
}

#ItemBuildContainer
{
	width: 100%;
	height: 100%;
	flow-children: up;
	opacity: 0;
}

.ShowSuggested #ItemBuildContainer
{
	opacity: 1;
}

// Custom game SetHUDVisible support
.HIDE_SHOP_SUGGESTEDITEMS #ItemBuildContainer
{
	visibility: collapse;
}

#ItemBuildSpacer
{
	height: fill-parent-flow( 1.0 );
}

#ItemBuild
{
	width: 100%;
	visibility: visible;
	overflow: clip squish;
    background-color: #1b242d;
    background-image: url("s2r://panorama/images/hud/reborn/bg_item_build_psd.vtex");
    background-repeat: no-repeat;
    min-height: 447px;
}

.ShowItemGrid #ItemBuild
{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#ItemGrid
{
	width: 100%;
	height: 553px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.ShowItemGrid #ItemGrid
{
	opacity: 1.0;
}

#MainShop
{
	flow-children: down;
    background-image: url("s2r://panorama/images/hud/reborn/main_shop_bg_psd.vtex");
    background-repeat: no-repeat;
    width: 100%;
}

#SideShop,
#SecretShop
{
	width: 100%;
	visibility: collapse;
}

#SecretShop,
#SideShop
{
	margin-top: 30px;
}

.ShowSideShop #SideShop
{
	visibility: visible;
}

.ShowSecretShop #SecretShop
{
	visibility: visible;
}

#SideShopItems,
#SecretShopItems
{
	horizontal-align: center;
}

.ShowSearchResults #SearchContainer
{
    background-image: url("s2r://panorama/images/hud/reborn/bg_search_results_psd.vtex");
    box-shadow: #00000055 -2px -2px 4px 4px;
    border-top: 1px solid #373f45;
}

#SearchShadow
{
    background-image: url("s2r://panorama/images/hud/reborn/shop_search_shadow_psd.vtex");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 12px;
    visibility: collapse;
    vertical-align: top;
    z-index: 1000;
    margin-top: -12px;
}

.ShowSearchResults #SearchShadow
{
    visibility: visible;
}

#SearchContainer
{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 12px;
	background-color: #181818;
	z-index: -1;
	flow-children: up;
	vertical-align: bottom;
}

#SearchBox
{
	flow-children: right;
	background-color: black;
    border-radius: 3px;
    border: 1px solid #3d464c;
}

#SearchTextEntry
{
	background-color: black;
	border: 0px;
	width: fill-parent-flow( 1.0 );
}

#SearchTextEntry #PlaceholderText
{
	margin-top: 2px;
}

#ClearSearchButton
{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	visibility: collapse;
	margin-right: 10px;
}

.ShowSearchResults #ClearSearchButton
{
	visibility: visible;
}

#SearchResults
{
	width: 100%;
	margin-bottom: 5px;
}

#ItemCombines
{
	width: 100%;
	height: itemCombinesHeight;
	background-color: #1c262fb2;
	vertical-align: bottom;
	z-index: 5;
}

#ShopContents,
#EditModeShopContents
{
	horizontal-align: center;
    margin-left: 2px;
}

.ShopItemsCategory
{
	flow-children: down;
	horizontal-align: center;
}

#BasicItemsCategory,
#EditModeBasicItemsCategory
{
	opacity: 1.0;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.ShowUpgradeItemsTab #BasicItemsCategory,
.EditModeShowUpgradeItemsTab #EditModeBasicItemsCategory
{
    opacity: 0.0;
}

#UpgradesCategory,
#EditModeUpgradesCategory
{
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.ShowUpgradeItemsTab #UpgradesCategory,
.EditModeShowUpgradeItemsTab #EditModeUpgradesCategory,
{
    opacity: 1.0;
}

#GridTabs,
#EditModeGridTabs
{
	margin-top: 12px;
	margin-bottom: 12px;
	flow-children: right;
	horizontal-align: center;
	border: 1px solid #5b687277;
	border-radius: 5px;
}

#GridTabs .RadioBox,
#EditModeGridTabs .RadioBox
{
	visibility: collapse;
}

#GridTabs Label,
#EditModeGridTabs Label
{
	color: #5b6872;
	horizontal-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
}

#GridTabs RadioButton:hover Label,
#EditModeGridTabs RadioButton:hover Label
{
	color: white;
}

#ItemGrid:not(.ShowUpgradeItemsTab) #BasicTab Label,
#EditModeFlyout:not(.EditModeShowUpgradeItemsTab) #EditModeBasicTab Label
{
	color: white;
}

#ItemGrid.ShowUpgradeItemsTab #UpgradesTab Label,
#EditModeFlyout.EditModeShowUpgradeItemsTab #EditModeUpgradesTab Label
{
	color: white;
}

#ItemGrid:not(.ShowUpgradeItemsTab) #BasicTab,
#EditModeFlyout:not(.EditModeShowUpgradeItemsTab) #EditModeBasicTab
{
    background-color: #57646d77;
}

#ItemGrid.ShowUpgradeItemsTab #UpgradesTab,
#EditModeFlyout.EditModeShowUpgradeItemsTab #EditModeUpgradesTab
{
    background-color: #57646d77;
}

#BasicTab,
#UpgradesTab,
#EditModeBasicTab,
#EditModeUpgradesTab
{
	width: 121px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 3px;
	background-color: black;
}

.ShopItemsColumns
{
	flow-children: right;
}

.ShopItemsColumn
{
	flow-children: down;
	margin-right: 0px;
}

.ShopItemsColumn DOTAShopItem
{
	width: 38px;
	height: width-percentage( 72.7% );
	margin-bottom: 6px;
    margin-right: 3px;
}

#ShopSearchIcon
{
	background-image: url("s2r://panorama/images/control_icons/icon_search_shadow_psd.vtex");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 26px;
	width: 26px;
	vertical-align: center;
	margin-left: 4px;
    wash-color: #8da1b1;
}

DOTAHUDShopTextEntry
{
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;

	border: 1px solid baseBorder;
	width: 352px;
	height: 36px;

	padding: 5px 7px 3px 7px;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );

	color: white;
	font-size: 20px;

	text-overflow: clip;
	white-space: nowrap;
}

DOTAHUDShopTextEntry:disabled
{
	border-color: #44444440;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #11111140 ), to( #22222240 ) );
	color: #999999ff;
}

DOTAHUDShopTextEntry #PlaceholderText
{
	opacity: 1.0;

	transition-property: opacity;
	transition-duration: 0.2s;

	margin-top: -2px;

	color: #57646d;
	font-size: 18px;
}

DOTAHUDShopTextEntry:focus #PlaceholderText, DOTAHUDShopTextEntry.HasInput #PlaceholderText
{
	opacity: 0.0;
}

