DOTAPlusStatus
{
}

DOTAPlusStatus.QuestStatusHidden
{
	opacity: 0;
}

#QuestHeader
{
	vertical-align: center;

}

#QuestStatusContainer
{
	margin-top: 10px;
	margin-left: 10px;
}

DOTAQuestStatusRow
{
	opacity: 0;
}

.QuestExpandButton
{
	width: 22px;
	height: 22px;
	vertical-align: center;
	
	background-image: url("s2r://panorama/images/dota_plus/dotaplus_logo_small_png.vtex");
    background-size: 100%;
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d, opacity, border, background-color;
	transition-duration: .24s, .24s , .1s, .24s;
	transition-delay: 0s, 0s, 0s, 0s;
	transition-timing-function: ease-in-out;
	z-index: -1;
	overflow: noclip;
	wash-color: #d6c37b;
	brightness: 1.5;
}

.ProgressNumbers
{
	color: white;
	z-index: 0;
	letter-spacing: 0px;
    font-family: monospaceNumbersFont;
    font-size: 14px;
  
    text-shadow: 1px 1px 2px 2.0 #00000044;

	transition-property: pre-transform-scale2d, opacity, transform;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;	
	margin-left: 6px;
	vertical-align: center;
}

.Expand .ProgressNumbers
{
	pre-transform-scale2d: 1;
}

.ProgressNumbers.NoProgress,    
{
	visibility: collapse;
}

.FullyComplete .CheckIcon
{
	opacity: 1;
}

.QuestExpandButton.Fail .XIcon
{
	wash-color: #330000dd;
	background-image: url("s2r://panorama/images/hud/reborn/icon_quest_failed_psd.vtex");
    background-size: 100%;
	opacity: 1;
}

#QuestStatusContainer:not(.Expand) .QuestExpandButton.Success
{

}

#QuestStatusContainer:not(.Expand) .QuestExpandButton.Fail
{

}

.QuestListItem.QuestExpandSecondary .QuestExpandButton
{
	opacity: 0;
}


#QuestStatusContainer.Expand  .QuestListItem.QuestExpandSecondary .QuestExpandButton
{
	opacity: 1;
}

#QuestStatusContainer.Expand .QuestExpandButton:hover,
.QuestExpandButton:hover
{
	brightness: 2.0;
}

#QuestStatusContainer.Expand .QuestExpandButton
{
	transition-delay: 0.0s;
}

.QuestStatusPanel
{
	transition-property: opacity, background-color, transform;
	transition-duration: .14s;
	transition-timing-function: ease-in-out;
}

.QuestStatusIcon
{
	width: 32px;
	height: 32px;
	horizontal-align: center;
	vertical-align: middle;

	background-size: cover;
	background-position: 50% 60%;
	background-repeat: no-repeat;
	opacity: 0;
}

.CheckIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	transition-property: opacity;
	transition-duration: .14s;
	transition-timing-function: ease-in-out;
}

.XIcon
{
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	wash-color: red;
}

.QuestStatusPanel.QuestExpandSecondary
{
	transform: translateY(-48px);
	opacity: 0;
}

#QuestStatus2.HiddenQuest,
#QuestStatus2.QuestExpandSecondary.HiddenQuest
{
	opacity: 0;
}
#QuestStatus3.HiddenQuest,
#QuestStatus3.QuestExpandSecondary.HiddenQuest
{
	opacity: 0;
}

#Quest2 .NoQuest
{
	visibility: collapse;
}
#Quest3 .NoQuest
{
	visibility: collapse;
}

.Expand #Quest1Status .QuestListItem
{
	margin-top: 5px;
}


.Quest2 {	transform: translateY(-48px);	transition-delay: .05s;  }
.Quest3 {	transform: translateY(-88px);	transition-delay: .1s;  }
.Quest4 {	transform: translateY(-88px);	transition-delay: .15s;  }
.Quest5 {	transform: translateY(-108px);	transition-delay: .2s;  }
.Quest6 {	transform: translateY(-128px);	transition-delay: .25s;  }
.Quest7 {	transform: translateY(-148px);	transition-delay: .3s;  }
.Quest8 {	transform: translateY(-168px);	transition-delay: .35s;  }

#QuestStatusContainer.Expand .Quest2 {	transform: translateY(-48px);	transition-delay: .3s;  }
#QuestStatusContainer.Expand .Quest3 {	transform: translateY(-88px);	transition-delay: .25s;  }
#QuestStatusContainer.Expand .Quest4 {	transform: translateY(-88px);	transition-delay: .2s;  }
#QuestStatusContainer.Expand .Quest5 {	transform: translateY(-108px);	transition-delay: .15s;  }
#QuestStatusContainer.Expand .Quest6 {	transform: translateY(-128px);	transition-delay: .1s;  }
#QuestStatusContainer.Expand .Quest7 {	transform: translateY(-148px);	transition-delay: .05s;  }
#QuestStatusContainer.Expand .Quest8 {	transform: translateY(-168px);	transition-delay: .0s;  }

.Quest1 .QuestStatusDesc {	transition-delay: .1s;  }
.Quest2 .QuestStatusDesc {	transition-delay: .15s;  }
.Quest3 .QuestStatusDesc {	transition-delay: .2s;  }
.Quest4 .QuestStatusDesc {	transition-delay: .25s;  }
.Quest5 .QuestStatusDesc {	transition-delay: .3s;  }
.Quest6 .QuestStatusDesc {	transition-delay: .35s;  }
.Quest7 .QuestStatusDesc {	transition-delay: .4s;  }
.Quest8 .QuestStatusDesc {	transition-delay: .45s;  }

#QuestStatusContainer.Expand .QuestStatusDesc
{
	transition-delay: 0s;
}

.QuestStatusPanel:not(.QuestExpandSecondary)
{
	opacity: 1;
}

#QuestStatusContainer.Expand .QuestStatusPanel
{
	opacity: 1;
	transform: translateY( 0px );	
}

#QuestStatusContainer.Expand .QuestStatusPanel.HiddenQuest
{
	opacity: 0;
}

#QuestStatusContainer.Expand .QuestStatusDesc
{
	opacity: 1;
	transform: translateX( 0px );	
}

.QuestListItem
{
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration: 1.24s;
	transition-timing-function: ease-in-out;
}

.QuestStatusDesc
{
	horizontal-align: left;
	vertical-align: bottom;
	
	opacity: 0;
	transform: translateX( -20px );	
	transition-property: opacity, color, transform;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;	
}

.QuestStatusDesc Label
{
	color: white;
	margin-top: 1px;
	margin-left: 2px;

	z-index: 0;
	letter-spacing: 0px;
    font-family: monospaceNumbersFont;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 2px 2.0 #00000077;

}

.QuestExpandButton Label
{
	letter-spacing: 1px;
    font-family: monospaceNumbersFont;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 2px 2.0 #00000044;

	horizontal-align: center;
	vertical-align: middle;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;	
	pre-transform-scale2d: 1;
	opacity: 1;
}

#QuestStatusContainer.Expand .QuestExpandButton Label
{
	letter-spacing: 1px;
    font-family: monospaceNumbersFont;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 2px 2.0 #00000044;

	pre-transform-scale2d: 0.1;
	opacity: 0;
}

.QuestStatusStars
{
	vertical-align: top;
	margin-top: 105px;
	margin-left: 6px;
	width: 66px;
	height: 22px;

	background-image: url("s2r://panorama/images/status_icons/icon_star_png.vtex");
    background-size: 100%;		
	
	transition-property: wash-color, opacity;
    transition-duration: 0.32s;
	transition-timing-function: ease-in-out;
	opacity: 0;
}

.QuestStatusStars.HideStars
{
	opacity: 0;
}

.QuestStatusStars.QuestTier1Complete  { background-image: url("s2r://panorama/images/status_icons/3star_1_psd.vtex"); }
.QuestStatusStars.QuestTier2Complete  { background-image: url("s2r://panorama/images/status_icons/3star_2_psd.vtex"); }
.QuestStatusStars.QuestTier3Complete  { background-image: url("s2r://panorama/images/status_icons/3star_3_psd.vtex"); }

#PrimaryProgress
{
	margin-left: 8px;
}

.Expand #PrimaryProgress
{
	//visibility: collapse;
}

#ChallengeDesc
{
	visibility: collapse;
	opacity: 0;
	margin-left: 32px;
	margin-top: 6px;
	width: 250px;
	transform: translateX(-282px);

	transition-property: opacity, transform, visibility;
    transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.Expand #ChallengeDesc
{
	visibility: visible;
	opacity: 1;
	transform: translateX(0px);
}

.QuestTier1Complete .Rank1,
.QuestTier2Complete .Rank1,
.QuestTier2Complete .Rank2,
.QuestTier3Complete .Rank1,
.QuestTier3Complete .Rank2,
.QuestTier3Complete .Rank3,
{
	wash-color: #b98d4a;
	transition-property: wash-color;
    transition-duration: 0.32s;
	transition-timing-function: ease-in-out;
}

.FullyComplete #Progress
{
}

.FullyComplete #PrimaryProgress
{
	visibility: collapse;
}

DOTAPlusStatus .Star
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/status_icons/icon_star_png.vtex");
    background-size: 100%;	
    wash-color: #909996;
    margin: 1px;	
}

#ChallengeStars
{
	opacity: 0;
	vertical-align: center;
	height: 100%;
	transition-property: opacity;
    transition-duration: 0.32s;
	transition-timing-function: ease-in-out;
	margin-left: 10px;
}

.Expand #ChallengeStars
{
	opacity: 1;
}