DOTASpectatorDVR
{
}

#DVRControls
{
    horizontal-align: center;
    width: 850px;
	background-color: #222222;
	border: 1px solid #555555;
	padding: 8px;
	margin: 0px 32px 10px 20px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
	flow-children: right;
}

DOTASpectatorDVR.ForceVisible #DVRControls
{
	opacity: 1;
}

DOTASpectatorDVR #ExpandButton
{
	background-color: #222222;
	border: 1px solid #444444;

    transition-property: position;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    y: 0px;
    x: 30px;

	width: 32px;
	height: 32px;

	horizontal-align: left;
	vertical-align: bottom;
}

#ExpandButtonIcon
{
    width: 100%;
    height: 100%;

    background-image: url( 'file://{images}/control_icons/arrow_solid_up.png' );
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50% 50%;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.ForceVisible #ExpandButtonIcon
{
    transform: rotateZ( 180deg );
}

DOTASpectatorDVR.ForceVisible #ExpandButton
{
    y: -18px;
}

#TimeDisplay
{
	flow-children: right;
	vertical-align: middle;
	margin-top: 2px;
}

#CurrentTime
{
	color: white;
	text-align: right;
}

#CurrentTime, #TotalTime
{
	width: 70px;
}

#TimeSeparator
{
	margin-left: 5px;
	margin-right: 1px;
}

#TimeScrubSlider
{
	width: fill-parent-flow( 1.0 );
	margin-bottom: 0px;
}

#TimeScrubSlider #SliderThumb
{
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

#PlaybackSpeedScrubSlider
{
	width: 60px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 0px;
}
DOTASpectatorDVR.InstantReplay #PlaybackSpeedScrubSlider
{
	visibility: collapse;
}

#PlaybackSpeedLabel
{
	width: 50px;
	margin-top: 2px;
	vertical-align: middle;
}
DOTASpectatorDVR.InstantReplay #PlaybackSpeedLabel
{
	visibility: collapse;
}


#SkipBackButton
{
	width: 28px;
	height: 28px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
	background-image: url("s2r://panorama/images/hud/10sec_rewind_rest_png.vtex");
	background-size: 100%;
}
DOTASpectatorDVR.DemoFile #SkipBackButton
{
	visibility: collapse;
}

#GoLiveButton
{
	height: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
	border: 1px solid #3366aa55;
	background-color: #3366aa11;
	padding: 2px 8px;
	vertical-align: middle;
}
DOTASpectatorDVR.DemoFile #GoLiveButton
{
	visibility: collapse;
}

#GoLiveLabel
{
	font-size: 12px;
	vertical-align: center;	
	text-align: center;
	color: #66aadd;
}

#PlayButton
{
	width: 38px;
	height: 28px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 10px;
	background-size: 100%;
	vertical-align: middle;
}

#PlayButton.Play
{
	background-image: url("s2r://panorama/images/hud/dvr_play_png.vtex");
}

#PlayButton.Pause
{
	background-image: url("s2r://panorama/images/hud/dvr_pause_png.vtex");
}


//----------------------------------------------------------------------
// VR

ClientUIDialogPanel DOTASpectatorDVR
{
	width: 100%;
	height: 100%;
}

ClientUIDialogPanel DOTASpectatorDVR #DVRControls
{
	margin: 15px 20px 0px 20px;
	opacity: 1;
	transition-duration: 2s;
	horizontal-align: center;
}

/* Pausing doesn't work right in VR right now, so just hide the button */
ClientUIDialogPanel #PlayButton
{
	visibility: collapse;
}

/* In VR, if you speed up too fast, you'll overload the CPU and your framerate will drop way too low. Just disable this for now. */
ClientUIDialogPanel #PlaybackSpeedScrubSlider,
ClientUIDialogPanel #PlaybackSpeedLabel
{
	visibility: collapse;
}

ClientUIDialogPanel .DemoFile #TimeScrubSlider
{
	margin-right: 10px;
}