DOTAKillCam
{
	
	width: 508px;
	height: 242px;
	
	height: 262px;
	
	margin-top: 138px;
	
	
	padding-bottom: 20px;
	flow-children: none;
    horizontal-align: right;
	opacity: 1;
	
	
	transform: translateX(0px);	
	transition-property: transform, opacity;
	transition-duration: .32s;
	transition-delay: 0s, .4s;
	transition-timing-function: ease-in-out;

}

.KillCamOnLeft.HeroDisplayVisible DOTAKillCam
{
	margin-left: 131px;
}

#MainKillerContainer
{
	transform: translateX(0px);	
	transition-property: transform;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
	vertical-align: bottom;
}

.KillCamOnLeft #HeroImageContainer
{
	horizontal-align: right;
}

DOTAKillCam.KillcamAbilities5.Collapsed #MainKillerContainer,
DOTAKillCam.KillcamAbilities4.Collapsed #MainKillerContainer,
DOTAKillCam.KillcamAbilities3.Collapsed #MainKillerContainer,
DOTAKillCam.KillcamAbilities2.Collapsed #MainKillerContainer,
DOTAKillCam.KillcamAbilities1.Collapsed #MainKillerContainer,
DOTAKillCam.Collapsed #MainKillerContainer
{
	transform: translateX(218px);
	
}

.KillCamOnLeft DOTAKillCam.KillcamAbilities5.Collapsed #MainKillerContainer,
.KillCamOnLeft DOTAKillCam.KillcamAbilities4.Collapsed #MainKillerContainer,
.KillCamOnLeft DOTAKillCam.KillcamAbilities3.Collapsed #MainKillerContainer,
.KillCamOnLeft DOTAKillCam.KillcamAbilities2.Collapsed #MainKillerContainer,
.KillCamOnLeft DOTAKillCam.KillcamAbilities1.Collapsed #MainKillerContainer,
.KillCamOnLeft DOTAKillCam.Collapsed #MainKillerContainer
{
	transform: translateX(-46px);
}

DOTAKillCam.KillcamAbilities1 #MainKillerContainer {	transform: translateX(173px); }
DOTAKillCam.KillcamAbilities2 #MainKillerContainer {	transform: translateX(129px); }
DOTAKillCam.KillcamAbilities3 #MainKillerContainer { transform: translateX(83px); }
DOTAKillCam.KillcamAbilities4 #MainKillerContainer { transform: translateX(39px); }
DOTAKillCam.KillcamAbilities5 #MainKillerContainer { transform: translateX(0px); }

.KillCamOnLeft DOTAKillCam.KillcamAbilities5 #MainKillerContainer,
.KillCamOnLeft DOTAKillCam.KillcamAbilities4 #MainKillerContainer, 
.KillCamOnLeft DOTAKillCam.KillcamAbilities3 #MainKillerContainer, 
.KillCamOnLeft DOTAKillCam.KillcamAbilities1 #MainKillerContainer,
.KillCamOnLeft DOTAKillCam.KillcamAbilities2 #MainKillerContainer
{
	transform: translateX(0px); 
}


.KillCamOnLeft DOTAKillCam
{
    horizontal-align: left;
}

DOTAKillCam.Hidden
{
	transform: translateX(508px);	
	opacity: 0;
	transition-delay: 0s, 0s;
}

.KillCamOnLeft DOTAKillCam.Hidden
{
	transform: translateX(-508px);	
	opacity: 0;
	transition-delay: 0s, 0s;
}

#HeroDmgContainer
{
	width: 428px;
	//width: fit-children;
	height: fit-children;
	height: 218px;
	flow-children: down;
	transform-origin: 50% 0%;
	background-color: #000000ef;
	margin-left: 166px;
	//padding-top: 10px;
	transition-property: transform;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;	
}

.KillCamOnLeft #HeroDmgContainer
{
	margin-left: 0px;
	margin-right: 166px;
	
}

.Collapsed #HeroDmgContainer
{
	transform: translateX( 122px );
}


.KillCamOnLeft DOTAKillCam.KillcamAbilities1.Collapsed #HeroDmgContainer { transform: translateX( -212px ); }
.KillCamOnLeft DOTAKillCam.KillcamAbilities2.Collapsed #HeroDmgContainer { transform: translateX( -212px ); }
.KillCamOnLeft DOTAKillCam.KillcamAbilities3.Collapsed #HeroDmgContainer { transform: translateX( -294px ); }
.KillCamOnLeft DOTAKillCam.KillcamAbilities4.Collapsed #HeroDmgContainer { transform: translateX( -256px ); }
.KillCamOnLeft DOTAKillCam.KillcamAbilities5.Collapsed #HeroDmgContainer { transform: translateX( -294px ); }


.KillCamOnLeft .Collapsed #HeroDmgContainer
{
	transform: translateX( -212px );
}

DOTAKillCam.KillcamAbilities1 #HeroDmgContainer { width: 168px;	}
DOTAKillCam.KillcamAbilities2 #HeroDmgContainer { width: 212px;	}
DOTAKillCam.KillcamAbilities3 #HeroDmgContainer { width: 258px;	}
DOTAKillCam.KillcamAbilities4 #HeroDmgContainer { width: 302px;	}
DOTAKillCam.KillcamAbilities5 #HeroDmgContainer { width: 428px;	}

#KillerInfo
{
	//flow-children: right;
	width: 290px;
	z-index: 2;
	transition-property: transform;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;	
}

.KillCamOnLeft #KillerInfo
{
	transform: translateX(46px);
}

.KillCamOnLeft DOTAKillCam.KillcamAbilities1 #KillerInfo { transform: translateX(46px); }
.KillCamOnLeft DOTAKillCam.KillcamAbilities2 #KillerInfo { transform: translateX(90px); }
.KillCamOnLeft DOTAKillCam.KillcamAbilities3 #KillerInfo { transform: translateX(136px); } 
.KillCamOnLeft DOTAKillCam.KillcamAbilities4 #KillerInfo { transform: translateX(180px); }
.KillCamOnLeft DOTAKillCam.KillcamAbilities5 #KillerInfo { transform: translateX(216px); }


.KillCamOnLeft DOTAKillCam.KillcamAbilities1.Collapsed #KillerInfo { transform: translateX(46px); }
.KillCamOnLeft DOTAKillCam.KillcamAbilities2.Collapsed #KillerInfo { transform: translateX(46px); }
.KillCamOnLeft DOTAKillCam.KillcamAbilities3.Collapsed #KillerInfo { transform: translateX(46px); } 
.KillCamOnLeft DOTAKillCam.KillcamAbilities4.Collapsed #KillerInfo { transform: translateX(46px); }
.KillCamOnLeft DOTAKillCam.KillcamAbilities5.Collapsed #KillerInfo { transform: translateX(46px); }


#KillCamHeroImage
{
	width: 100%;
	height: 100%;
}

#KillCamHeroMovie
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	padding: 7px;
	margin-bottom: 25px;
	horizontal-align: left;
	opacity-mask: url("s2r://panorama/images/masks/killcammask_right_psd.vtex") 1;	
}

.KillCamOnLeft #KillCamHeroMovie
{
	opacity-mask: url("s2r://panorama/images/masks/killcammask_left_psd.vtex") 1;	
}

#KillerInfoRight
{
	width: 100%;
	height: 100%;
	flow-children: none;
	

}

#KilledByLabel,
#KilledByPlayerName
{
	margin-bottom: 0px;
	margin-left: 32px;
	font-size: 24px;
//	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 3px 3.0  #000000ff;
	vertical-align: bottom;
	horizontal-align: left;
	z-index: 2;	
	max-width: 136px;
	
	max-height: 32px;
}

#KilledByLabel
{
	margin-bottom: 0px;
	font-size: 14px;
	text-transform: uppercase;
	color: #DE0F00;
}

#KilledBy
{
	margin-bottom: 64px;
}

#PlayerName
{
	margin-bottom: 38px;
	vertical-align: bottom;
}

.Collapsed #KilledByPlayerName
{
	max-width: 246px;
}

#KilledByHeroName
{
	horizontal-align: left;
	font-size: 30px;
	font-weight: black;
	text-overflow: shrink;
	color: black;
	text-shadow: 0px 0px 2px 3.0  #aa0000aa;
	padding-left: 32px;
	padding-right: 64px;
	padding-top: 8px;
	margin-bottom: 0px;
	height: 50px;


	vertical-align: bottom;
	horizontal-align: left;
	letter-spacing: -3px;
	text-transform: uppercase;	
	transition-property: opacity-mask;
	transition-duration: .3s;
	
	background-color: gradient( radial, 50% 50%, 0% 0%, 300px 300px, from( #822222 ), color-stop( .76, #1B3020 ), to( #9FE09500 ) );
	opacity-mask: url("s2r://panorama/images/masks/brush_horizontal_psd.vtex")1;
}

.KillCamOnLeft #KilledByHeroName
{
	padding-left: 20px;
	padding-right: 42px;
}


#ExpandButton
{
	horizontal-align: left;
	margin-left: 468px;
	z-index: 2;
	vertical-align: bottom;
	margin-bottom: -20px;
	width: 32px;
	height: 32px;
	background-size: 60%;
	background-position: 60% 50%;
	background-repeat: no-repeat;
    background-image: url("s2r://panorama/images/control_icons/double_arrow_right_png.vtex");
	background-color: #000000ea;
	padding: 8px;
	border-radius: 50%;
	border: 2px solid #722320;
	transform: rotateZ(0deg);
	
	transition-property: transform, background-color, border, wash-color;
	transition-duration: .32s, .2s, .2s,;
	transition-timing-function: ease-in-out;	
}

#ExpandButton:hover
{
	transform: rotateZ(0deg) translateX(-2px);
	background-color: #750400;
	wash-color: #DE0F00;
	border-color: white;
}

.Collapsed #ExpandButton:hover
{
	transform: rotateZ(180deg) translateX(2px);
	background-color: #750400;
	wash-color: #DE0F00;
	border-color: white;
}

.Collapsed #ExpandButton
{
	background-image: url("s2r://panorama/images/control_icons/double_arrow_right_png.vtex");
	transform: rotateZ(180deg) translateX(0px);
}

.KillCamOnLeft #ExpandButton
{
	margin-left: 12px;
	transform: rotateZ(180deg);
}

.KillCamOnLeft #ExpandButton:hover
{
	margin-left: 12px;
	transform: rotateZ(180deg) translateX(-2px);
}


.KillCamOnLeft .Collapsed #ExpandButton
{
	margin-left: 12px;
	transform: rotateZ(0deg);
}

.KillCamOnLeft .Collapsed #ExpandButton:hover
{
	margin-left: 12px;
	transform: rotateZ(0deg) translateX(2px);
}

#TimelineButton
{
	margin-left: 18px;
	margin-top: 24px;
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/status_icons/information_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.AlignmentContainer
{
	vertical-align: bottom;
	horizontal-align: right;
	width: 290px;
}

#KillCamHeroImageOrMovie
{
	width: 168px;
	height: 218px;	
	//background-color: gradient( linear, 100% 0%, 60% 0%, from( #000000f6 ), to( #00000000 ) );
	
	transform: translateX(-122px);
	transition-property: transform, background-color;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;	
	horizontal-align: right;
}

.KillCamOnLeft #KillCamHeroImageOrMovie
{
	horizontal-align: left;
	transform: translateX(122px);
}

#KillCam.Collapsed #KillCamHeroImageOrMovie
{
	transform: translateX(0px);	
}

.KillCamOnLeft #KillCam.Collapsed #KillCamHeroImageOrMovie
{
	transform: translateX(0px);
}

.KillCamOnLeft .Collapsed #KillerInfoContainer Label
{
	horizontal-align: left;
}

#KillerInfoContainer
{
	horizontal-align: left;
	vertical-align: bottom;
}


.KillCamOnLeft #KillerInfoContainer Label
{
	horizontal-align: left;
	margin-left: 0px;
}

.KillCamOnLeft #KillerInfoContainer
{
	min-width: 170px;
}

.KillCamOnLeft #KilledByHeroName
{
	horizontal-align: right;
}

.CenterBuffer.BufferLeft
{
	width: fill-parent-flow( 0.0 );
}

.CenterBuffer
{
	width: fill-parent-flow( 1.0 );
	transition-duration: .32s;
}

.Collapsed .CenterBuffer.BufferLeft
{
	width: fill-parent-flow( 1 );
}

.Collapsed .CenterBuffer
{
	width: fill-parent-flow( 0.3 );
}



.KillCamOnLeft .CenterBuffer.BufferLeft
{
	width: fill-parent-flow( 1.0 );
}
.KillCamOnLeft .CenterBuffer.BufferRight
{
	width: fill-parent-flow( 0.0 );
}

.KillCamOnLeft .Collapsed .CenterBuffer.BufferLeft
{
	width: fill-parent-flow( 0.3 );
}

.KillCamOnLeft .Collapsed .CenterBuffer.BufferRight
{
	width: fill-parent-flow( 1 );
}

#KillerHeroGradient
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 60% 0%, from( #000000ef ), to( #00000000 ) );	
	transition-property: background-color;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;		
}

.KillCamOnLeft #KillerHeroGradient
{
	transform: scaleX(-1);
}

.Collapsed #KillerHeroGradient
{
	background-color: gradient( linear, 100% 0%, 60% 0%, from( #00000000 ), to( #00000000 ) );	
}

.KillCamHeroRender
{
	width: 100%;
	height: 100%;
	horizontal-align: left;
	opacity-mask: url("s2r://panorama/images/masks/killcammask_right_psd.vtex") 1;	
}

.KillCamOnLeft .KillCamHeroRender
{
	opacity-mask: url("s2r://panorama/images/masks/killcammask_left_psd.vtex") 1;	
}

#TotalDamageLabel
{
	horizontal-align: right;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	color: red;
	text-shadow: 1px 1px 3px 3.0  #000000ff;
	background-color: #330000;
	width: 64px;
	horizontal-align: right;	
	padding-top: 4px;
	border-top-left-radius: 6px;
	transform: translateY(0px);
	
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration: .2s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;			
}

.KillCamOnLeft #TotalDamageLabel
{
	horizontal-align: left;
	border-top-right-radius: 6px;
	border-top-left-radius: 0px;
}

.Collapsed #TotalDamageLabel
{
	opacity: 0;
	transform: translateY(20px);
	transition-delay: .28s;
}

#TotalDamageColumnBG
{
	width: 64px;
	height: 100%;
	horizontal-align: right;	
	background-color: #330000;
	transform: translateX(0px);
	
	transition-property: opacity, transform;
	transition-duration: .2s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;			
}

.Collapsed #TotalDamageColumnBG
{
	transform: translateX(18px);
	opacity: 0;
}

.KillCamOnLeft #TotalDamageColumnBG
{
	horizontal-align: left;
}

.LabelBuffer
{
	visibility: collapse;
	width: fill-parent-flow( 0.0 );
	transition-property: width;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;	
	height: 32px;
}

.LabelContainer
{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.KillCamOnLeft .LabelContainer
{
	margin-left: 16px;
	margin-right: 16px;
}

.KillCamOnLeft .LabelBuffer
{
	visibility: visible;
}

.KillCamOnLeft .LabelBuffer.LabelBufferLeft
{
	width: fill-parent-flow( 1 );
}

.KillCamOnLeft .Collapsed .LabelBuffer
{
	width: fill-parent-flow( 1 );
}

.KillCamOnLeft .Collapsed .LabelBuffer.LabelBufferLeft
{
	width: fill-parent-flow( 0 );
}