#DOTAStatBranch
{
	horizontal-align: center;
	vertical-align: bottom;
	z-index: 2;
	flow-children: right;
	visibility: collapse;
}

.StatBranchCenter
{
	width: 420px;
	height: 280px;
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_background_psd.vtex");
	background-size: 420px 270px;
	background-position: 50%;
	background-repeat: no-repeat;
	horizontal-align: center;
}

#StatBranchOuter
{
	width: 1220px;
	height: 280px;
	horizontal-align: center;
	vertical-align: center;
}

#TalentDescriptions
{
	width: 100%;
	height: 220px;
	margin-top: 28px;
	horizontal-align: center;
	vertical-align: center;
	z-index: -2;
}

.ShowStatBranchAsTooltip .StatBranchCenter
{
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_background_tooltip_psd.vtex");
}

#BranchTitle,
#TooltipBranchTitle
{
	color: #e1e1e1;
	text-transform: uppercase;
	letter-spacing: 2px;
	horizontal-align: center;
	margin-top: 15px;
	text-shadow: 0px 0px 4px 2.0 #000000;
	height: 24px;
	vertical-align: top;
}

#BranchTitle,
.ShowStatBranchAsTooltip #TooltipBranchTitle
{
	opacity: 1;
}

.ShowStatBranchAsTooltip #BranchTitle,
#TooltipBranchTitle
{
	opacity: 0;
}

.HUDFlipped #DOTAStatBranch
{
	transform: translateX(0px);
}


.ShowStatBranch #DOTAStatBranch,
.ShowStatBranchAsTooltip #DOTAStatBranch
{
	visibility: visible;
}

.TalentGuideContainer
{
	margin-top: 10px;
	width: 280px;
	height: 236px;
	flow-children: down;
	background-color: #141617;
	visibility: collapse;
	opacity: 0.96;
	padding: 4px 8px 10px 8px;
}

.TalentGuideContainer.Talent0
{
	margin-left: -21px;
}

.TalentGuideContainer.Talent1
{
	margin-right: -21px;
}

DOTAStatBranch.HasTalentComments .TalentGuideContainer
{
	visibility: visible;
}

.TalentTitle
{
	margin-left: 3px;
	color: #ff9900;
	font-size: 18px;
	margin-top: 5px;
	padding-bottom: 2px;
	width: 100%;
	border-bottom-color: #626262;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 5px;
}

.TalentDescription
{
	color: #ffffff;
	padding-right: 6px;
	padding-left: 6px;
	font-size: 15px;
	width: 100%;
	white-space: normal;
	overflow: squish scroll;
}

#StatBranchColumn
{
	horizontal-align: center;
	margin-top: 40px;
	width: 100%;
}

.BranchChoice
{
	width: 190px;
	height: 47px;
	margin-top: 5px;
	horizontal-align: center;
}

.BranchChoice.LeftBranch
{
	margin-right: 205px;
}

.BranchChoice.RightBranch
{
	margin-left: 217px;
}

.BranchDescription,
{
	width: 389px;
	height: 47px;
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_background_description_psd.vtex");
	background-size: 389px 47px;
	vertical-align: center;
	transition-property: opacity;
	transition-duration: 0.4s;
	
	transition-timing-function: ease-in;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.AspectRatio4x3 .BranchDescription
{
	width: 315px;
	
}

.AspectRatio4x3 .BranchDescription.RightBranch
{
	margin-left: 87px;
}

.AltPressed .HasDescription .BranchDescription,
.HasDescription.DescriptionVisible .BranchDescription,
{

}

.UpgradeContainer
{
	height: 51px;
	width: 100%;
	margin-top: 2px;
	horizontal-align: center;
}

.DescriptionDrawer
{
	width: 425px;
	margin-bottom: 2px;
	margin-right: 13.5px;
	horizontal-align: center;
	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	visibility: collapse;
}

.DescriptionDrawer.RightDrawer
{
	margin-left: 25px;
	margin-right: 0px;
}

.DescriptionDrawer.HasDescription 
{
	visibility: visible;
}


.EndCap
{
	width: 20px;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333), to( #444444 ) );
	visibility: collapse;
	
}

.RightBranch .EndCap
{	
}

.HasDescription .EndCap
{
	visibility: visible;
}

.BranchDescription.RightBranch
{
	transform: scaleX(-1);
}

.AltPressed .DescriptionDrawer.HasDescription,
.DescriptionDrawer.HasDescription.DescriptionVisible
{

	transform: translateX(-390px);
}

.AltPressed .DescriptionDrawer.RightDrawer.HasDescription,
.DescriptionDrawer.RightDrawer.HasDescription.DescriptionVisible
{
	transform: translateX( 386.5px);
}


.AspectRatio4x3 .AltPressed .DescriptionDrawer.HasDescription,
.AspectRatio4x3 .DescriptionDrawer.HasDescription.DescriptionVisible
{
	transform: translateX(-315px);
}

.AspectRatio4x3 .AltPressed  .DescriptionDrawer.RightDrawer.HasDescription,
.AspectRatio4x3 .DescriptionDrawer.RightDrawer.HasDescription.DescriptionVisible
{
	transform: translateX( 307px);
}


.BranchActive .BranchChoice:hover
{
}

.BranchActive .BranchChoice:active
{
}

.BranchActive .BranchChoice:hover Label
{
	text-shadow: 0px 0px 3px 3.7 #EC780E24;
	color: #E7D291;
}

#StatBranch Label
{
	text-shadow: 0px 0px 4px 2.0 #000000;
}

.BranchPair
{
	//background-color: #000000aa;
	animation-name: none;
	animation-duration: 2.02s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	width: 100%;
}

DOTAStatBranch:not(.ShowStatBranchAsTooltip) .BranchPair.BranchActive
{
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_select_bg_psd.vtex");
	background-size: 401px 88%;
	background-position: center;
	background-repeat: no-repeat;
	animation-name: TalentSelect;
}

@keyframes 'TalentSelect'
{
	0%
	{
		opacity: 1.0;
	}

	50%
	{
		opacity: 0.5;
	}

	100%
	{
		opacity: 1.0;
	}
}

.RightBranch
{
	tooltip-position: right;
	margin-left: 14px;
	margin-right: 0px;
}

.LeftBranch
{
	tooltip-position: left;
}

.StatBonusLabel,
.StatBonusDescription
{
	color: #e1e1e1;
	font-size: 15px;
	line-height: 15px;
	width: 170px;
	text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	vertical-align: middle;
	padding-top: 1px;
}

.StatBonusDescription
{
	width: 100%;
	text-overflow: shrink;
	margin: 3px;
}

.RightBranch .StatBonusDescription
{
	transform: scaleX(-1);
}


.LeftBranch .StatBonusLabel
{
	margin-right: 5px;
	margin-left: 5px;
}

.RightBranch .StatBonusLabel
{
	margin-right: 5px;
	margin-left: 5px;
}

.BranchChoice:disabled
{
}

.BranchChoice:disabled Label
{
	color: #676E70;
	text-shadow: 1px 1px 2px 2.0 #00000066;
}

.BranchChoice.BranchChosen
{
}

.BranchChoice.BranchChosen:disabled Label
{
	text-shadow: 0px 0px 1px 1.3 #EC780E24;
	color: #E7D29188;
}

.ReqLabel
{
	font-family: RadianceM;
	font-weight: normal;
	text-shadow: 0px 0px 3px 3.7 #EC780E24;
	color: #E7D291;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	color: #E7D291;
	margin-top: 4px;
	margin-right: 1px;
}

DOTAStatBranch:not(.ShowStatBranchAsTooltip) .BranchActive .ReqLabel
{
	color: #ffffff;
}

.LevelBG
{
	width: 54px;
	height: 54px;
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_levelbg_psd.vtex");
	background-size: 80% 80%;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 1px;
}

#LevelColumn
{
	horizontal-align: center;
	margin-top: 36px;
}

#CloseButton
{
	horizontal-align: right;
	background-color: #333333;
	wash-color: white;
	border-radius: 50%;
	border: 1px solid #333333;
	width: 30px;
	height: 30px;
	box-shadow: #00000066 -3px -3px 6px 6px;
	z-index: 3;
	visibility: collapse;
	margin-right: -12px;
}

#CloseButton:hover
{
	background-color: #666666;
}

.ShowStatBranch #CloseButton
{
	visibility: visible;
}

.BranchChoice #RecommendedUpgradeOverlay
{
	width: 100%;
	height: 100%;
	margin: 1px;
	opacity: 0;
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
}

.BranchChoice.RecommendedUpgrade #RecommendedUpgradeOverlay
{
	opacity: 1.0;
}

.StatHotkey
{
	min-width: 17px;
	min-height: 17px;
	background-color: #212726;
	visibility: collapse;
	border-radius: 4px;
	border: 1px solid black;
}

DOTAStatBranch:not(.ShowStatBranchAsTooltip) .BranchActive .StatHotkey
{
	visibility: visible;
}

.RightBranch .StatHotkey
{
	horizontal-align: right;
	margin-right: 2px;
}

.LeftBranch .StatHotkey
{
	horizontal-align: left;
	margin-left: 2px;
}

.StatHotkey Label
{
	color: white;
	text-shadow: 1px 1px 2px 2 #000000;
	font-size: 14px;
	font-weight: normal;
	vertical-align: center;
	text-align: center;
	margin-bottom: -2px;
	width: 100%;
}

.RecommendedUpgradePct 
{
	margin-top: 4px;
	width: 100%;
	font-size: 15px;
	color: #FF9900;
	opacity: 0;
	text-shadow: 0px 0px 6px 6 #000000;
}

.LeftBranch .RecommendedUpgradePct
{
	margin-top: 24px;
	margin-left: 6px;
	text-align: left;
}

.RightBranch .RecommendedUpgradePct {
	margin-top: 24px;
	margin-right: 6px;
	text-align: right;
}

.ShowSuggestion .RecommendedUpgradePct
{
	opacity: 1.0;
}


.InfoIcon
{
	width: 14px;
	height: 14px;
	background-image: url("s2r://panorama/images/status_icons/information_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	wash-color: #888888;
	visibility: collapse;
	vertical-align: center;
	margin: 2px;
}

.HasDescription .InfoIcon
{
	visibility: visible;
}

.RightBranch .InfoIcon
{

}

