DOTAHeroPickingMinimap
{
	background-color: black;
	background-image: url("s2r://panorama/images/minimap/dotamap_psd.vtex");
	background-size: 110%;
	background-position: 50%;
}

#LaneGlows, #LaneHitBoxes, #HeroImages, #WardPlacements
{
	width: 100%;
	height: 100%;
}

#HeroImages, #WardPlacements
{
	overflow: clip;
}

.LaneGlow
{	
	width: 100%;
	height: 100%;
	opacity: 1;
	background-image: url("s2r://panorama/images/minimap/minimaplaneglow_botdire_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;

	background-size: 110%;
	background-position: 50%;
	
	opacity: 0;
	
	transition-property: opacity;
	transition-duration: .113s;
	transition-timing-function: ease-in-out;
}

.LaneGlow.Highlighted
{
	opacity: .4;
}

.MinimapHitBox
{
	//background-color: #df111111;
}

#BottomRadiant
{
	x: 29%;
	y: 82%;
	width: 65%;
	height: 16%;	
	//border: 1px solid blue;
}

#TopDire
{
	x: 6%;
	y: 0%;
	width: 63%;
	height: 17%;	
	//border: 1px solid blue;
}


#JungleDire
{
	x: 16%;
	y: 19%;
	width: 53%;
	height: 13%;	
	//border: 1px solid green;
}

#JungleDire2
{
	x: 36%;
	y: 31%;
	width: 21%;
	height: 7%;	
	//border: 1px solid green;
}

#JungleRadiant
{
	x: 36%;
	y: 70%;
	width: 49%;
	height: 12%;	
	//border: 1px solid green;
}

#MidRadiant
{
	x: 25%;
	y: 52%;
	width: 21%;
	height: 21%;	
	//border: 1px solid yellow;
}

#MidDire
{
	x: 47%;
	y: 31%;
	width: 21%;
	height: 21%;	
	//border: 1px solid yellow;
}

#BottomDire
{
	x: 85%;
	y: 35%;
	width: 10%;
	height: 47%;	
	//border: 1px solid yellow;
}

#TopRadiant
{
	x: 3%;
	y: 19%;
	width: 10%;
	height: 47%;
	//border: 1px solid yellow;
}

#BottomDire2
{
	x: 68%;
	y: 39%;
	width: 17%;
	height: 23%;	
	//border: 1px solid yellow;
}

#TopRadiant2
{
	x: 12%;
	y: 37%;
	width: 20%;
	height: 27%;	
	//border: 1px solid yellow;
}

#TopDireGlow 		{ background-image: url("s2r://panorama/images/minimap/minimaplaneglow_topdire_psd.vtex"); }
#JungleDireGlow		{ background-image: url("s2r://panorama/images/minimap/minimaplaneglow_jungledire_psd.vtex"); }
#BottomDireGlow		{ background-image: url("s2r://panorama/images/minimap/minimaplaneglow_botdire_psd.vtex"); }
#MidDireGlow		{ background-image: url("s2r://panorama/images/minimap/minimaplaneglow_middire_psd.vtex"); }

#TopRadiantGlow		{ background-image: url("s2r://panorama/images/minimap/minimaplaneglow_topradiant_psd.vtex"); }
#JungleRadiantGlow	{ background-image: url("s2r://panorama/images/minimap/minimaplaneglow_jungleradiant_psd.vtex"); }
#BottomRadiantGlow	{ background-image: url("s2r://panorama/images/minimap/minimaplaneglow_botradiant_psd.vtex"); }
#MidRadiantGlow		{ background-image: url("s2r://panorama/images/minimap/minimaplaneglow_midradiant_psd.vtex"); }


#HeroImages > DOTAHeroPickingHeroIcon,
#WardPlacements > .DesiredWardPlacement
{
	width: 34px;
	height: 34px;
	padding: 1px;

	opacity: 0.0;

	transition-property: position, opacity;
	transition-duration: 0.5s;
}

#HeroImages > DOTAHeroPickingHeroIcon.Visible,
#WardPlacements > .DesiredWardPlacement.Visible
{
	opacity: 1.0;
}
#HeroImages > DOTAHeroPickingHeroIcon.Destroying,
#WardPlacements > .DesiredWardPlacement.Destroying
{
	opacity: 0.0;
}

#HeroImages > DOTAHeroPickingHeroIcon.HeroPickTentative
{
	brightness: 1.4;
	saturation: 0.0;
	contrast: 1;
	wash-color: #ACBFDD;
}

#PreGame:not(.StrategyVisible) #HeroImages > DOTAHeroPickingHeroIcon
{
	transform: rotateX(50deg) scaleY(2);
}

#WardPlacements > .DesiredWardPlacement, .DesiredWardPlacement.DragOverMinimap
{
	background-image: url("s2r://panorama/images/hero_selection/minimap_ward_obs_png.vtex");
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
	
	wash-color: #00ff00;

}

.DesiredWardPlacement
{
	background-image: url("s2r://panorama/images/hero_selection/desired_ward_placement_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}


#LaneNames
{
	width: 100%;
	height: 100%;
}

#LaneNames > Panel
{
	flow-children: down;

	background-color: #0009;
	padding: 4px 8px;
	border-radius: 4px;

	opacity: 0.0;
	transform: translateX( -10px );

	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
}

#LaneNames > Panel.Highlighted
{
	opacity: 1.0;
	transform: none;
	transition-delay: 0.0s;
}

.LaneName
{
	color: white;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black;
	font-size: 20px;
}

.LaneSecondaryName
{
	color: #ccc;
	font-style: italic;
	font-size: 16px;
	margin-top: -4px;
	text-shadow: 1px 1px 2px black;
}

.RightAlignName > Label
{
	horizontal-align: right;
	text-align: right;
}

#TopDireName
{
	margin-left: 20%;
	margin-top: 14%;
}
#MidDireName
{
	horizontal-align: right;
	margin-right: 40%;
	margin-top: 22%;
}
#BottomDireName
{
	horizontal-align: right;
	margin-top: 45%;
	margin-right: 15%;
}
#JungleDireName
{
	horizontal-align: right;
	margin-top: 26%;
	margin-right: 55%;
}
#TopRadiantName
{
	margin-left: 13%;
	margin-top: 44%;
}
#MidRadiantName
{
	margin-left: 36%;
	margin-top: 68%;
}
#BottomRadiantName
{
	vertical-align: bottom;
	margin-bottom: 14%;
	margin-left: 42%;
}
#JungleRadiantName
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: 27%;
	margin-right: 24%;
}

.MinimapBuildings
{
	height: 100%;
	width: 100%;
	opacity: 1;
	
	background-size: 110%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-position: center;	
	border: 4px solid black;	
	
	transition-property: opacity;
	transition-duration: 0.8s;
	transition-timing-function: ease-in-out;	
}

.Hidden .MinimapBuildings,
.PreLoad .MinimapBuildings
{
	opacity: 0;
}

.LocalPlayerIsDire .MinimapBuildings
{
	background-color: gradient( radial, 100% 0%, 0% 0%, 50% 50%, from( #11ff2212 ), color-stop( .15, #11ff2210 ), color-stop( .35, #11ff2208 ), color-stop( .65, #11ff2204 ), to( #11ff2200 ) );
}

.LocalPlayerIsRadiant .MinimapBuildings
{
	background-color: gradient( radial, 0% 100%, 0% 0%, 50% 50%, from( #11ff2212 ), color-stop( .15, #11ff2210 ), color-stop( .35, #11ff2208 ), color-stop( .65, #11ff2204 ), to( #11ff2200 ) );
}

#RadiantBuildings
{
	background-image: url("s2r://panorama/images/minimap/dotamap_radiant_buildings_psd.vtex");
}

.LocalPlayerIsRadiant #RadiantBuildings
{
	wash-color: #11cc22;
}

.LocalPlayerIsDire #DireBuildings
{
	wash-color: #11ff22;
}

.LocalPlayerIsRadiant #DireBuildings
{
	wash-color: #cc2211;
}

.LocalPlayerIsDire #RadiantBuildings
{
	wash-color: #aa2211;
}


#DireBuildings
{
	background-image: url("s2r://panorama/images/minimap/dotamap_dire_buildings_psd.vtex");
}
