@import url("file://{resources}styles/battle_pass/current_battle_pass.css");

DOTAPlayerAllStarToast
{
	flow-children: none;
    margin-bottom: 8px;
	horizontal-align: right;
	flow-children: right;
	width: 400px;
}

#SaluteAction
{
	width: 100%;
	margin-bottom: 0px;
}

#TargetPlayer
{
	visibility: collapse;
}

#SaluteAction
{
	height: 72px;
}

#SaluteText
{
	height: 30px;
	margin-top: 8px;
	font-size: 24px;
	margin-bottom: 4px;
	text-overflow: shrink;
	vertical-align: top;
}

.SaluteBody
{
	height: 30px;
	width: 100%;
	text-overflow: shrink;
	font-size: 16px;
}

.BPIcon
{
	width: 24px;
	height: 24px;
	margin-right: 2px;
	vertical-align: middle;

	background-image: bp_total_points;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}