DOTAStatsRegion
{
	opacity: 1;
    visibility: collapse;
    background-color: black;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;	
}

DOTAStatsRegion.ShowDamageArmorMovement
{
    visibility: visible;
}

#Aligner
{
    flow-children: down;
    width: 100%;
	//height: 100%;
	vertical-align: bottom;
}

#StatDrawerTopRight #Aligner
{
	flow-children: right;
}


#ArmorLabelContainer
{
	width: 100%;
}




.StatPositive
{
	color: #8bc64e;
	color: #45DD3B;
}

.StatNegative
{
	color: #FF3300;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn DOTAStatsRegion
{
	width: 256px;
	height: 112px;
	opacity: 1;
	background-color: none;
}
.HUDFlipped DOTAStatsRegion
{
    transform: ScaleX(-1);
}
.Reborn #Aligner
{
    flow-children: down;
    horizontal-align: center;
    //width: 200px;
	//border: 1px solid green;
	//margin-right: 10px;
}

.StatIcon
{
	background-repeat: no-repeat;
    background-size: cover;
	horizontal-align: left;
}

#DamageIcon 
{
    width: 19px;
    height: 19px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_damage_psd.vtex");
    vertical-align: top;
}

#Damage
{
    padding-left: 0px;
}

.Reborn #ArmorIcon
{
    width: 19px;
    height: 19px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex");
    margin-top: 1px;
}

.Reborn #MoveSpeedIcon
{
    width: 20px;
    height: 20px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_speed_psd.vtex");
    vertical-align: middle;
	horizontal-align: center;
    margin-top: -1px;
}


.StatRegionLabel
{
    font-size: 14px;
    font-weight: medium;
	letter-spacing: 1px;
    color: #A1A1A2;
	color: white;
    width: fit-children;
    text-align: right;
    horizontal-align: left;
    margin-top: 3px;
    text-shadow: 1px 1px 2px 3 #00000066;
	
    font-family: RadianceM;
	
	transition-property: transform, opacity, width;
	transition-duration: 0.12s;
	transition-timing-function: ease-in-out;		
}

.StatModifier
{
	transform: translateY(0px);
	width: 0px;
	opacity: 0;
	transition-duration: 0.12s;	
	font-weight: normal;
}

.BaseLabel
{
	opacity: 0;
	width: 0px;
}

.AltPressed .BaseLabel,
.AltPressed .StatModifier
{
	opacity: 1;
}

.AltPressed .StatModifier
{
//	transform: translateY(14px);
	width: fit-children;
	text-align: left;
}

.AltPressed .BaseLabel
{
//	transform: translateY(14px);
	width: fit-children;
	text-align: left;
}

.AltPressed .CombinedLabel
{
	opacity: 0;
	width: 0px;
}


.LabelColumn
{
	height: 36px;
    padding-left: 2px;
	flow-children: right;
}

.StatIconLabel
{
	//border: 1px solid red;
	flow-children: right;
	padding-left: 10px;

	transition-property: width;
	transition-duration: 0.22s;
	transition-timing-function: ease-in-out;		
	
}

.Reborn #ArmorLabelContainer
{
    flow-children: none;
    horizontal-align: left;
    width: fit-children;
    font-family: RadianceM;
}

#StatContainer
{
    horizontal-align: center;
    flow-children: right;

}


.DamageLabelContainer
{
	
}