DOTAHudMenuButtons
{
	width: 100%;
}

DOTAHudMenuButtons Button
{
	tooltip-position: bottom;
	width: 30px;
	height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
    horizontal-align: center;
    background-position: center;
    opacity: 0.5;
	wash-color: #CDF;

    transition-property: opacity;
    transition-duration: 0.2s;
}

DOTAHudMenuButtons Button:hover
{
    opacity: 1.0;
}

DOTAHudMenuButtons Button:active
{
    opacity: 1.0;
}

#ButtonBar
{
	flow-children: right;
}

#SpectatorButtonBar
{
	horizontal-align: right;
	flow-children: right;
	visibility: collapse;
}

.LocalUserSpectating #SpectatorButtonBar
{
	visibility: visible;
}

#Flyout
{
	flow-children: right;
	margin-top: 0px;
	margin-left: 150px;
	background-color: #00000099;
	visibility: collapse;
}


.ShowFlyout #Flyout
{
	visibility: collapse;
}

#DashboardButton
{
	background-image: url("s2r://panorama/images/control_icons/return_to_game_png.vtex");
	transform: scaleY(-1);
}

#ToggleScoreboardButton
{
	background-image: url("s2r://panorama/images/control_icons/hamburger_png.vtex");
    background-size: 26px;
}

#SettingsButton
{
	background-image: url("s2r://panorama/images/control_icons/gear_png.vtex");
    background-size: 27px;
    margin-top: 2px;
}

#GuideButton
{
	background-image: url("s2r://panorama/images/hud/reborn/guide_rest_png.vtex");
}

#CombatLogButton
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_combat_log_psd.vtex");
    background-size: 27px;
}

#SharedUnitsButton
{
	background-image: url("s2r://panorama/images/hud/reborn/sharedunit_rest_png.vtex");
}

#SharedContentButton
{
	background-image: url("s2r://panorama/images/hud/reborn/shared_content_rest_png.vtex");
}

#AntiAddictionWarning
{
	visibility: collapse;
}

.ShowAddictionWarning #AntiAddictionWarning
{
	visibility: visible;
}

#SpectatorOptionsButton
{
	background-image: url("s2r://panorama/images/control_icons/eye_png.vtex");
}

#DisconnectButton
{
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
}

#GoldGraphButton
{
	background-image: url("s2r://panorama/images/hud/gold_graph_icon_png.vtex");
}

#XPGraphButton
{
	background-image: url("s2r://panorama/images/hud/xp_graph_icon_png.vtex");
}

#SpectatorItemsButton
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex");
}

.HIDE_TOP_MENU_BUTTONS #SettingsButton,
.HIDE_TOP_MENU_BUTTONS #ToggleScoreboardButton
{
	visibility: collapse;
}
