DOTACameraman
{
	height: 100%;
	width: 100%;
}

.Hidden
{
	visibility: collapse;
}

DOTACameramanCursor
{
	height: 32px;
	width: 32px;
}

#CursorImage
{
	width: 100%;
	height: 100%;
	background-image: url("file://{images}/cursor/cursor_default.bmp");
}

.MoveCursor
{
	background-image: url("file://{images}/cursor/cursor_move.bmp");
}

.AttackCursor
{
	background-image: url("file://{images}/cursor/cursor_attack_default.bmp");
}

.CastCursor
{
	background-image: url("file://{images}/cursor/cursor_spell_default.bmp");
}
