#CourierControlsTopRow
{
	flow-children: right;
}

#CourierControls
{
	width: 100%;
	height: 100%;
    margin-left: 7px;
	visibility: visible;
	flow-children: right;
}

.AspectRatio4x3 #CourierControls
{

}

.HUDFlipped #CourierControls
{
    margin-left: 4px;
}

.CourierDead #CourierControls
{
	visibility: collapse;
}

#DeadCourierPanel
{
	visibility: collapse;
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	overflow: noclip noclip;
}

.CourierDead:not(.NoCourier) #DeadCourierPanel
{
	visibility: visible;
}

.CourierButton
{
    height: 34px;
    width: 34px;
	background-size: 100% 100%;
	overflow: noclip noclip;
}

#SelectCourierButton
{
	tooltip-position: top;
	context-menu-position: top;
    margin-top: 13px;
	background-image: url("s2r://panorama/images/hud/reborn/icon_courier_standard_psd.vtex");
}

.NoCourier #SelectCourierButton
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_courier_purchase_psd.vtex");
}

.HUDFlipped #DeliverItemsButton
{
    margin-left: -3px;
}

.CourierReturning #SelectCourierButton
{
}

.CourierSelected #SelectCourierButton
{
}

.CourierReturning.CourierSelected #SelectCourierButton
{
}

.CourierFlying #SelectCourierButton
{
}

.CourierFlying.CourierSelected #SelectCourierButton
{
}

.CourierFlying.CourierReturning #SelectCourierButton
{
}

.CourierFlying.CourierReturning.CourierSelected #SelectCourierButton
{
}

#SelectCourierButton:hover
{
	brightness: 1.7;
}

.AspectRatio4x3 #SelectCourierButton,
.AspectRatio4x3 #CourierHasteButton
{
}

.AspectRatio4x3 #SelectCourierButton
{
}

.AspectRatio4x3 .CourierFlying #SelectCourierButton
{
}


#DeliverItemsButton
{
	height: 60px;
    width: 58px;
    background-image: url("s2r://panorama/images/hud/reborn/icon_courier_deliver_on_psd.vtex");
	background-size: 48px 48px;
	background-position: 0px 6px;
	background-repeat: no-repeat;
	tooltip-position: top;
	context-menu-position: top;
//    margin-left: -1px;
    //margin-top: 4px;
}

.NoCourier #DeliverItemsButton
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_courier_deliver_off_psd.vtex");
}

.DeliveringToHero #DeliverItemsButton
{
	background-image: none;
	padding-top: 4px;
	padding-left: -2px;
}

.DeliveringToHero #Spinner
{
	visibility: visible;
    width: 48px;
    height: 48px;
    margin-top: 2px;
	margin-left: 2px;
	background-image: url("s2r://panorama/images/hud/reborn/icon_courier_inuse_psd.vtex");
	animation-name: SpinnerRotate;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#DeliverItemsButton:hover
{
	brightness: 2.0;
}

.AspectRatio4x3 #DeliverItemsButton
{
}

.AspectRatio16x10 .CourierFlying #DeliverItemsButton
{
}

#DeliverArrowIcon
{
}

.DeliveringToHero #DeliverArrowIcon
{
}

.AspectRatio4x3 #DeliverArrowIcon
{
}

#CourierHasteButton
{
	tooltip-position: top;
    margin-top: 13px;
    margin-left: -2px;
    visibility: collapse;
	background-image: url("s2r://panorama/images/hud/reborn/icon_courier_shield_on_psd.vtex");
}

.HasHasteAbility #CourierHasteButton
{
	visibility: visible;
}

.HasHasteAbility:not(.HasteReady) #CourierHasteButton
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_courier_shield_off_psd.vtex");
}

#CourierHasteButton:hover
{
	brightness: 2.0;
}

#CourierUpgradeButton
{
	tooltip-position: top;
    margin-top: 13px;
    margin-left: -2px;
    visibility: visible;
    background-image: url("s2r://panorama/images/hud/reborn/icon_courier_upgrade_off_psd.vtex");
}


#CourierUpgradeButton:hover
{
	brightness: 2.0;
}


#UpgradeCooldownLabel,
#HasteCooldownLabel
{
	color: white;
	font-size: 14px;
    font-weight: bold;
    font-family: RadianceM;
	letter-spacing: 1px;
    width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 9px;
	padding-right: 2px;
	visibility: visible;
}

#UpgradeCooldownLabel
{
	visibility: collapse;
}

.NoCourier #UpgradeCooldownLabel
{
	visibility: collapse;
}

.CourierUpgradeOutOfStock #UpgradeCooldownLabel
{
	visibility: visible;
}

.HasHasteAbility #CourierUpgradeButton,
.HasHasteAbility #UpgradeCooldownLabel
{
	visibility: collapse;
}

.CourierUpgradeAvailable #UpgradeCooldownLabel
{
	visibility: collapse;
}

.HasteReady #HasteCooldownLabel
{
	visibility: collapse;
}

#HeroImage
{
	width: 26px;
	height: 26px;
	visibility: collapse;
	z-index: 2;
	margin-left: 13px;
	margin-top: 13px;
}

.DeliveringToHero #HeroImage
{
	visibility: visible;
}

#CourierDeadIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_courier_dead_psd.vtex");
	background-size: 100% 100%;
	width: 26px;
	height: 26px;
	margin-right: 10px;
	vertical-align: center;
}

#CourierRespawnTimer
{
	color: #dc3535;
	font-size: 26px;
	margin-top: 3px;
	min-width: 55px;
    font-family: RadianceM;
    text-shadow: 1px 1px 2px 3 #00000033;
}

.NoCourier #CourierRespawnTimer
{
	visibility: collapse;
}

#ItemsOnCourierBackground
{
	margin-top: 6px;
	margin-left: -22px;
	height: 22px;
	width: 22px;
	border-radius: 50%;
    background-color: #bf481e;
//	background-color: gradient( linear, 0% 0%, 100% 0%, from( #aa0000 ), to( #440000 ) );
// background-color: gradient( radial, 50% 50%, 0% 0%, 40% 40%, from( #FF0000 ), to( #110000 ) );
border: 1px solid #300;
	horizontal-align: right;
	vertical-align: top;
	pre-transform-scale2d: 0;
	opacity: 0;
	
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: .28s;
	transition-timing-function: ease-in-out;
}

#ItemsOnCourier
{
	margin-top: 1px;
	font-size: 16px;
	height: 22px;
	width: 22px;
	color: white;
	horizontal-align: right;
	vertical-align: top;
	text-align: center;
}

.HasItemsOnCourier #ItemsOnCourierBackground
{
	pre-transform-scale2d: 1;
	opacity: 1;
}

.NoItemsOnCourier #ItemsOnCourierBackground
{
	pre-transform-scale2d: 0;
	opacity: 0;
}

#OtherHeroDeliver
{
	width: 24px;
	height: 24px;
	z-index: 100;
	horizontal-align: right;
	vertical-align: bottom;
	margin: 4px;
	saturation: 0.7;
	brightness: 0.4;

	transition-property: saturation, brightness, opacity;
	transition-duration: 0.05s;
	transition-timing-function: ease-in-out;

	opacity: 0.0;
}

.HasOtherHeroItems #OtherHeroDeliver
{
	opacity: 1.0;
}

#OtherHeroDeliver:hover
{
	saturation: 1.0;
	brightness: 1.0;
}
