DOTAHUDCommonItems
{
    padding: 6px 5px 8px 9px;
	flow-children: down;
    background-color: #181818;
}

.CommonItemsTitle
{
	text-transform: uppercase;
	font-size: 15px;
	color: #5b6872;
	margin-bottom: 3px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
}

#ItemList
{
	width: 100%;
	flow-children: right-wrap;
	width: 260px;
}

DOTAShopItem
{
	width: 38px;
	height: width-percentage( 72.7% );
	margin-bottom: 6px;
	margin-right: 3px;
}
