DOTAUnitName
{
}

#UnitNameLabel
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
    font-weight: bold;
	font-size: 16px;
	text-overflow: shrink;
	text-shadow: 1px 1px 2px 3 #00000066;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn #UnitNameLabel
{
    font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
    font-size: 14px;
    letter-spacing: 2px;
    text-overflow: clip;
	text-overflow: shrink;
	text-align: center;
}

.LowVisualQuality #UnitNameLabel
{
	text-shadow: 1px 1px 0px 3 #00000066;
}


.Reborn.CustomHUDSkin #UnitNameLabel
{
	text-align: center;
}