DOTATalentChangedItem
{
	horizontal-align: right;
	height: fit-children;
	transition-property: transform;
	transition-timing-function: ease-out;
	transition-duration: 0.51s;
}

/* BEGIN simple version */
DOTATalentChangedItemToast
{
	background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");
    background-size: cover;
	height: 50px;
	width: fit-children;
	flow-children: right;
    margin-bottom: 8px;
    horizontal-align: right;
}

.HeroImageLandscape
{
	width: 64px;
	height: 36px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: center;
}

#TalentLabel
{
	margin-top: 6px;
	width: fit-children;
	min-width: 150px;
}

#MainPanel
{
	width: fit-children;
	height: fit-children;
}

.StatLabelText
{
	font-size: 16px;
	width: fit-children; 
	height: fit-children;
	horizontal-align: center;
	margin-right: 10px;
	text-overflow: shrink;
}

#TalentLabelSelected
{
    text-shadow: 0px 0px 3px 3.7 #EC780E24;
    color: #E7D291; 
}

#TalentLabelRejected
{
	font-size: 14px;
}

.LevelBG
{
	width: 49px;
	height: 49px;
    background-image: url("s2r://panorama/images/hud/reborn/statbranch_levelbg_psd.vtex");
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.ReqLabel
{
    font-weight: normal;
    text-shadow: 0px 0px 3px 3.7 #EC780E24;
    color: #E7D291;
    width: 30px;
    text-align: center;
    font-size: 20px;
    horizontal-align: center;
    z-index: 50;
    font-family: monospaceNumbersFont;
	margin-top: 14px;
	margin-right: 1px;
}


