DOTAGameEnd
{
	width: 100%;
	height: 95%;

	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;

	background-color: #00000000;
}

#WinLabelContainer
{
	horizontal-align: center;
	margin-top: -120px;
	width: 1024px;
	height: 640px;
}


#VictoryLabel
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 90px;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 8px 5.0 #A1FFAC11;	
	
	pre-transform-scale2d: 1;
	opacity: 0.0;
	padding-left: 16px;
	padding-right: 16px;

	transition-property: opacity, transform, pre-transform-scale2d;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in;

	animation-duration: 5.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.DireWin #VictoryLabel
{
	color: black;
	text-shadow: 0px 0px 8px 5.0 #FF3300ff;		
}

@keyframes 'LabelGrowDire'
{
	0%
	{
		pre-transform-scale2d: 1.8;
		text-shadow: 0px 0px 8px 5.0 #FF330099;	
	}
	
	10%
	{
		pre-transform-scale2d: 0.92;
		text-shadow: 0px 0px 8px 5.0 #FF3300ff;	
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		text-shadow: 0px 0px 8px 5.0 #FF3300ff;	
	}
}

@keyframes 'LabelGrow'
{
	0%
	{
		pre-transform-scale2d: 1.8;
		text-shadow: 0px 0px 8px 5.0 #A1FFAC99;	
	}
	
	10%
	{
		pre-transform-scale2d: 0.92;
		text-shadow: 0px 0px 8px 5.0 #A1FFACff;	
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		text-shadow: 0px 0px 8px 5.0 #A1FFAC11;	
	}
}
		

.ShowVictory #VictoryLabel,
.ShowVictory #VictoryBackgroundScene
{
	pre-transform-scale2d: 1;
	opacity: 1;
}

.ShowVictory.RadiantWin #VictoryLabel
{
	animation-name: LabelGrow;
}

.ShowVictory.DireWin #VictoryLabel
{
	animation-name: LabelGrowDire;
}

#VictoryBackgroundScene
{ 
	background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( #000000ff ), to( #00000000 ) );
	width: 100%;
	height: 100%;

	horizontal-align: center;
	vertical-align: top;
	wash-color: #2FCDaF;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

	opacity: 0.0;
	pre-transform-scale2d: .2;

	transition-property: opacity, transform, pre-transform-scale2d;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in;
}

/* Turn off the background particle effect when running on a low-end machine. */
.LowVisualQuality #VictoryBackgroundScene
{
	visibility: collapse;
}

.DireWin #VictoryBackgroundScene
{
	wash-color: #aa3000;
	hue-rotation: 90deg;
}

#ContinueButton
{
	padding: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	//background-color: #FFFFFF33;

	horizontal-align: center;
	vertical-align: bottom;

	margin-bottom: 94px;

	opacity: 0.0;

	transition-property: opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.ContinueVisible #ContinueButton
{
	opacity: 1.0;
}

#ContinueButton Label
{
	margin-top: 4px;
	font-size: 30px;
	color: #FFFFFF;
}

.RadiantWin #ContinueButton
{
	wash-color: #A0F1AB;
}

.DireWin #ContinueButton
{
	wash-color: #E1330E;
}

DOTAGameEnd.FadeDown
{
	background-color: #000000FF;
}

#MatchSignoutDelayedLabel
{
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
	color: #d03030;
	width: 100%;
	text-align: center;
	horizontal-align: center;
	vertical-align: top;
	padding-top: 20px;
}

.MatchSignoutDelayed #MatchSignoutDelayedLabel
{
	opacity: 1.0;
}

#TeamChallengeImage
{
	opacity: 0.0;
	background-image: url("s2r://panorama/images/compendium/international2018/compendium/2017_international_logo_psd.vtex");
	background-size: 100% 100%;
	width: 300px;
	height: 140px;
	margin-top: 380px;
	horizontal-align: center;

	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in;
}


#TeamChallengeTitle
{
	opacity: 0.0;
	margin-top: 520px;
	font-size: 40px;
	letter-spacing: 2px;
	color: white;
	text-shadow: 2px 2px black;
	horizontal-align: center;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in;
}

#TeamChallengeLabel
{
	opacity: 0.0;
	margin-top: 550px;
	font-size: 128px;
	letter-spacing: 2px;
	color: white;
	horizontal-align: center;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in;
}

.TeamChallengeFailure #TeamChallengeLabel
{
	text-shadow: 0px 0px 8px 5.0 #FFA1A111;
}

.TeamChallengeSuccess #TeamChallengeLabel
{
	text-shadow: 0px 0px 8px 5.0 #A1FFAC11;
}

#TeamChallengeReward
{
	opacity: 0.0;
	margin-top: 690px;
	horizontal-align: center;
	color: white;
	font-size: 24px;
	text-shadow: 1px 1px black;
	transition-property: opacity, transform;
	transition-delay: 0.8s;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.ShowVictory.TeamChallengeActive #TeamChallengeImage,
.ShowVictory.TeamChallengeActive #TeamChallengeTitle,
.ShowVictory.TeamChallengeActive #TeamChallengeLabel
{
	opacity: 1.0;
}

.ShowVictory.TeamChallengeSuccess #TeamChallengeReward
{
	transform: translateY(16px);
	opacity: 1.0;
}