DOTASpectatorOptions
{
	background-color: #000000dd;
}

DOTASpectatorOptions.Hidden
{
	visibility: collapse;
}

.CloseButton
{
	height: 16px;
	width: 16px;
	background-size: 16px 16px;
	horizontal-align: right;
	margin-right: 6px;
	margin-top: 6px;
}
.CloseButton:active
{
	background-size: 14px 14px;
}

#Contents
{
	padding: 12px 12px 6px 12px;
	flow-children: down;
}

#Contents > Panel,
#Contents > Label,
#Contents > DropDown,
#Contents > TextButton,
#Contents > DOTAMatchVoting
{
	margin-bottom: 6px;
}

#Contents > TextButton
{
	width: 100%;
}

#Contents > DropDown
{
	height: 30px;
	background-size: 26px 26px;
	background-position: right 30px 20%;
}
#Contents > DropDown > Label
{
	font-size: 16px;
	margin-top: 0px;
}

#Contents .ButtonBevel
{
	min-height: 0px;
	min-width: 0px;
	padding: 3px 10px;
}
#Contents .ButtonBevel > Label
{
	font-size: 14px;
	letter-spacing: 1px;
}

#SpectatorCount,
#LiveSpectatorLabel
{
	horizontal-align: center;
	text-align: center;
	color: white;
	font-size: 14px;
	margin-top: -2px;
}

#LiveSpectatorLabel
{
	visibility: collapse;
}

#SkipControls
{
	flow-children: right;
}
#SkipControls > Button
{
	width: fill-parent-flow( 1.0 );
	height: 28px;
}
#SkipBackward
{
	margin-right: 6px;
}
#SkipForward
{
	margin-left: 6px;
}
.SkipIcon
{
	width: 22px;
	height: 22px;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#SkipBackward > .SkipIcon
{
	background-image: url("s2r://panorama/images/control_icons/10sec_rewind_png.vtex");
}
#SkipForward > .SkipIcon
{
	background-image: url("s2r://panorama/images/control_icons/10sec_forward_png.vtex");
}



.WatchingReplay #SpectatorCount,
.WatchingReplay #SpectatorChatToggleButton,
.WatchingReplay .CloseButton
{
	visibility: collapse;
}

.WatchingLive #SkipControls,
.WatchingLive #JumpAheadButton,
.WatchingLive #CopyToClipboardButton
{
	visibility: collapse;
}


/* VR */
ClientUIDialogPanel #CopyToClipboardButton,
ClientUIDialogPanel #SpectatorChatToggleButton
{
	visibility: collapse;
}

#CameraDropDownDropDownMenu,
#AudioDropDownDropDownMenu,
#FogDropDownDropDownMenu
{
	width: 176px;
}

DOTAHud:not(.IsLocalPlayerSpectatingAllTeams) #LiveSpectatorLabel
{
	visibility: visible;
}

DOTAHud:not(.IsLocalPlayerSpectatingAllTeams) #SpectatorCount,
DOTAHud:not(.IsLocalPlayerSpectatingAllTeams) #AudioDropDown,
DOTAHud:not(.IsLocalPlayerSpectatingAllTeams) #FogDropDown,
DOTAHud:not(.IsLocalPlayerSpectatingAllTeams) #SpectatorChatToggleButton
{
	visibility: collapse;
}