DOTASecondaryAbilitiesBar
{
}

#Contents
{
	height: 60px;
	opacity: 0.0;
	transform: translateY( 10px );

	transition-property: opacity, transform;
	transition-duration: 0.2s;
}

.FiveAbilities #Contents,
.SixAbilities #Contents
{
	height: 56px;
	margin-top: 2px;
}

.ShowSecondaryAbilitiesBar #Contents
{
	opacity: 1.0;
	transform: none;
}

.HasAbilityToSpend .HideWhenCanLevelAbilities #Contents
{
	opacity: 0.0;
	transform: none;
}

#AbilityButtons
{
	height: 100%;
	flow-children: right;
}

.FiveAbilities #ConsumableAbility3
{
	margin-left: 57px;
}

.SixAbilities #ConsumableAbility3
{
	margin-left: 115px;
}

.SixAbilities .HasMorph #ConsumableAbility3
{
	margin-left: 87px;
}

.SixAbilities .npc_dota_hero_invoker #ConsumableAbility3
{
	margin-left: 58px;
}