@import url("file://{resources}styles/battle_pass/current_battle_pass.css");

DOTAPlayerSaluteToast
{
	margin-bottom: 8px;
	horizontal-align: right;
	flow-children: right;
	border: BRD;
	background-color: secondaryGradient;
	box-shadow: 0px 0px 10px #000000;
}

.ToastPlayer
{
	margin: 8px 8px 4px 8px;
	flow-children: down;
}

.ToastPlayerName
{
	width: 107px;
	height: 22px;
	text-align: center;
	font-size: 16px;
	text-shadow: 1px 1px 0px black;
	margin-top: 2px;
}

DOTAHeroImage
{
	width: 107px;
	height: 60px;
	border: 1px solid black;	
}

#SaluteAction
{
	flow-children: down;
	vertical-align: middle;
	margin-bottom: 24px;
}

#SaluteText
{
	vertical-align: middle;
	text-align: center;
	color: accentColorBright;
	text-transform: uppercase;
	margin-top: 4px;
	letter-spacing: 1px;
    max-width: 80px;
}

DOTAPlayerSaluteToast.Season_PlusSubscription #SaluteText
{
	color: white;
}

#TipAmount
{
	flow-children: right;
	horizontal-align: center;
	margin: 0px 8px;
}

#TipIcon
{
	width: 24px;
	height: 24px;
	margin-right: 2px;
	vertical-align: middle;

	background-image: bp_total_points;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

DOTAPlayerSaluteToast.Season_PlusSubscription #TipIcon
{
	background-image: url("s2r://panorama/images/dota_plus/currency_icon_png.vtex");
}

DOTAPlayerSaluteToast.Season_Frostivus #TipIcon
{
    visibility: collapse;
}

#TipValue
{
	color: textAccentColorBright;
	vertical-align: middle;
	font-weight: bold;
}

DOTAPlayerSaluteToast.Season_PlusSubscription #TipValue
{
	color: white;
}

DOTAPlayerSaluteToast.Season_Frostivus #TipValue
{
    visibility: collapse;
}

