
#LevelUpButton
{
	margin-top: 8px;
	margin-left: 18px;
	background-image: url("s2r://panorama/images/hud/hudv2_portrait_levelup_2_png.vtex");
	background-size: 100% 100%;
	width: 139px;
	height: 34px;
	visibility: collapse;
	animation-name: leveluppulseglow;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'leveluppulseglow'
{
	0%
	{
		box-shadow: #9f9037ff -5px -5px 10px 10px;
	}
	

	50%
	{
		box-shadow: #9f903700 -5px -5px 10px 10px;
	}
	
	100%
	{
		box-shadow: #9f9037ff -5px -5px 10px 10px;
	}
}

.ShowLevelUpButton #LevelUpButton
{
	visibility: visible;
}

#LevelUpLabel
{
	width: 100%;
	text-align: center;
	letter-spacing: 1px;
	vertical-align: center;
	text-transform: uppercase;
	color: white;
	font-family: titleFont;
	text-shadow: 0px 0px 3px 3.0 #000000;
}

#LevelUpHotkey
{
	margin-left: 10px;
	margin-top: 0px;
	visibility: collapse;
}

.ShowLevelUpButton #LevelUpHotkey
{
	visibility: visible;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn #LevelUpButton
{
	width: 138px;
	margin-top: 8px;
	margin-left: 34px;
}

.Reborn #LevelUpLabel
{
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    vertical-align: center;
    text-transform: uppercase;
    color: white;
    font-family: titleFont;
    text-shadow: 0px 0px 3px 3.0 #000000bb;
}

.Reborn #XPProgress_Left
 {
    background-color: none;
    //background-color: gradient( linear, 0% 100%, 0% 0%, from( #7b98ce  ), color-stop( .25, #c3d3ef), color-stop( .75, #c3d3ef), to( #7b98ce ) );
 }

.Reborn #XPProgress_Right
{
    background-color: none;
    //background-color: gradient( linear, 0% 100%, 0% 0%, from( #272f32 ), color-stop( .25, #3e4a50), color-stop( .75, #3e4a50), to( #272f32 ) );
}

.Reborn #LevelCircle
{
	width: 36px;
	height: 36px;
	background-image: none;
	background-size: 36px 36px;
    border: 2px solid #dce0e4;
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #7b98ce  ), color-stop( .5, #c3d3ef), to( #ededef ) );
	//background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #eff4fc ), to( #9cb2d7 ) );
	background-color: #1e2020ef;
    border-radius: 18px;
	margin-bottom: 16px;
    margin-left: 72px;
}

.Reborn #LevelLabel
{
	font-weight: bold;
    text-shadow: 0px 0px 3px 3.7 #000000;
    color: #c5daff;
    width: 32px;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 7px;
    margin-left: 4px;
    font-size: 20px;
    z-index: 50;
}



.Reborn .ShowXPBar #CircularXPProgress
{
	visibility: visible;
	vertical-align: bottom;
	margin-bottom: 6px;
    margin-left: 4px;
	margin-top: 5px;
    width: 32px;
    height: 32px;
}

#CircularXPProgress_FG
{
	width: 100%;
	height: 100%;
    border-radius: 50%;
    border: 2px solid #c5daff;
    z-index: 50;
}

#CircularXPProgress_BG
{
	width: 100%;
	height: 100%;
    border-radius: 50%;
    border: 2px solid #393939;
    z-index: 40;
    background-color: #00000088;
    box-shadow: #00000055 -2px -2px 4px 4px;
}

.Reborn #LevelUpHotkey
{
    margin-left: 26px;
}

.Reborn #LifetimeProgress
{
	margin-left: -62px;
	margin-bottom: 73px;
	vertical-align: bottom;
	horizontal-align: left;
	width:158px;
	height:12px;
	transform: rotateZ( -90deg );
	border-radius: 0px;
	border: 0px;
    visibility: collapse;
}

.Reborn #LifetimeLabel
{
	visibility: visible;
	font-size: 15px;
	margin-top: -3px;
	margin-left: 3px;
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 2px 2.5 #000000;
}

.Reborn #LifetimeProgress_Left
 {
     background-color: gradient( linear, 0% 0%, 0% 100%, from( #efaf1b  ), color-stop( 0.2, #e9c70f ), color-stop( .5, #e9c70f), to( #c18104 ) );
 }

.Reborn #LifetimeProgress_Right
{
    background-color: gradient( linear, 0% 100%, 0% 0%, from( #272f32 ), color-stop( .25, #3e4a50), color-stop( .75, #3e4a50), to( #272f32 ) );
}