@define maxSearchResults: 12;

DOTAHUDShopSearchResults
{
    flow-children: down;
}

DOTAHUDShopSearchResults.Hidden
{
	visibility: collapse;
}

#SearchResultsTitle
{
    color: white;
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 6px;
    letter-spacing: 2px;
}

#SearchResultsContents
{
    flow-children: down;
    width: 100%;
}

.SearchResultsNoMatches
{
    color: #dc3535;
    visibility: collapse;
    font-size: 15px;
    padding-left: 2px;
}

.Empty .SearchResultsNoMatches
{
	visibility: visible;
}

.SearchResult
{
	flow-children: right;
	width: 100%;
}

.SearchResult DOTAShopItem
{
	width: 36px;
	height: width-percentage( 72.7% );
	margin-bottom: 2px;
}

.SearchResult #ItemName
{
	width: fill-parent-flow( 2.5 );
	max-height: 36px;
}

.SearchResult #ItemCost
{
	width: fill-parent-flow( 1.0 );
	text-align: right;
}

.SearchResult Label
{
	color: #888888;
	font-size: 16px;
	margin-left: 5px;
	vertical-align: center;
}

.SearchResult:hover Label
{
	color: #dddddd;
}

.SearchResult:focus Label
{
	color: #ffffff;
}

.SearchResult.Hidden
{
	opacity: 0;
}