DOTASpectatorItems
{
	margin-top: 100px;
	width: 100%;
}

.Hidden
{
	visibility: collapse;
}

#MainContainer
{
	width: 100%;
	flow-children: down;
	padding-left: 15px;
	overflow: noclip;
}

#BackgroundContainer
{
	width: 600px;
	background-color: #16203484;
	height: 100%;
}

#ItemsLabel
{
	letter-spacing: 3px;
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #FFFFFF;
	padding-top: 5px;
}

#RadiantItemsContainer, #DireItemsContainer
{
	height: fit-children;
	width: 100%;
	flow-children: down;
}

#RadiantTeamLabel, #DireTeamLabel
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

#RadiantTeamLabel
{
	color: #9BE40CFF;
}

#DireTeamLabel
{
	margin-top: 10px;
	color: #E74D08FF;
}

#SpectatorItemsCloseButton
{
	width: 20px;
	height: 20px;
	horizontal-align: right;
	vertical-align: top;
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 8px;
    margin-right: 8px;
    wash-color: #888888;
}

#SpectatorItemsCloseButton:hover
{
	wash-color: #bbbbbb;
}

#SpectatorItemsCloseButton:active
{
	wash-color: #666666;
}