
DOTAMutations
{                           
	width: 400px;

	flow-children: down;
	box-shadow: none;

	margin-top: 120px;

	visibility: collapse;
}

.DOTA_GAMEMODE_MUTATION DOTAMutations
{
	visibility: visible;
}

DOTAMutations .Name
{
	margin-top: 4px;
	margin-left: 8px;

	font-size: 14px;
	color: #A3FDCC;
}


#Name0,
#Name1,
#Name2,
#Name3,
#Name4,
#Name5,
#Name6,
#Name7,
#Name8,
#Name9,
{
	visibility: collapse;
}

.HasMutation0 #Name0,
.HasMutation1 #Name1,
.HasMutation2 #Name2,
.HasMutation3 #Name3,
.HasMutation4 #Name4,
.HasMutation5 #Name5,
.HasMutation6 #Name6,
.HasMutation7 #Name7,
.HasMutation8 #Name8,
.HasMutation9 #Name9,
{
	visibility: visible;
}