/* Don't change the name - referenced from code */
DOTAHUDESArcanaCombo
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: visible;
}

DOTAHUDESArcanaCombo.Hidden
{
	visibility: collapse;
}

#ComboCountContainer
{
	margin-top: -10px;
	vertical-align: top;
	width: 250px;

	horizontal-align: center;
	opacity: 0;
	height: 119px;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.ShowComboCount.ShowComboSummary #ComboCountContainer
{
	opacity: 0;
}

.ShowComboCount #ComboCountContainer
{

	opacity: 1;
}


#ComboCountContents
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
	height: 90px;
	margin-left: 0px;
	margin-bottom: 10px;
}

#TitleFX
{
	width: 200px;
	height: 240px;
	margin-top: 30px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	horizontal-align: center;
	z-index: 10;
}

.ComboCountText
{
	color: #fefefe;
	font-size: 46px;
	font-weight: bolder;
	text-align: left;
	z-index: 10;
	margin-bottom: 10px;
	margin-left: 5px;
	text-shadow: 2px 2px 3px #1b4c44;
}

#ComboContain {
	horizontal-align: center;
	height: 100%;
}


#DamageContain {
	horizontal-align: right;
	margin-right: 60px;
}


.ComboDigits
{
	margin-right: 90px;
	horizontal-align: center;
}

.DigitContainer
{
	width: 100%;
	vertical-align: center;
	flow-children: left;
	horizontal-align: center;
	margin-left: 20px;
}

.ComboSummary > .DigitContainer
{
	width: 40%;
	horizontal-align: center;
}

.DamageSummary > .DigitContainer
{
	width: 70%;
	horizontal-align: center;
}

.ESDigit
{
	width: 38px;
	height: 59px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_1_png.vtex");
}

.ArcanaLevel2 .ESDigit
{
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_1_v2_png.vtex");
}

.ESDigitHidden
{
	visibility: collapse;
}

.ComboSummaryDigit
{
	/*width: 19px;*/
	height: 28px;
}

.DamageSummaryDigit
{
	margin-top: -3px;
}

.ESDigit.digit_0 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_0_png.vtex");
	width: 28px;
}
.ESDigit.digit_1 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_1_png.vtex");
	width: 25px;
}
.ESDigit.digit_2 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_2_png.vtex");
	width: 34px;
}

.ESDigit.digit_3 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_3_png.vtex");
	width: 38px;
}

.ESDigit.digit_4 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_4_png.vtex");
	width: 34px;
}

.ESDigit.digit_5 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_5_png.vtex");
	width: 40px;
	margin-left: -2px;
}

.ESDigit.digit_6 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_6_png.vtex");
	width: 33px;
}

.ESDigit.digit_7 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_7_png.vtex");
	width: 35px;
}

.ESDigit.digit_8 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_8_png.vtex");
	width: 30px;
}

.ESDigit.digit_9 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_9_png.vtex");
	width: 30px;
}

.ArcanaLevel2 .ESDigit.digit_0 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_0_v2_png.vtex");
}
.ArcanaLevel2 .ESDigit.digit_1 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_1_v2_png.vtex");
}
.ArcanaLevel2 .ESDigit.digit_2 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_2_v2_png.vtex");
}
.ArcanaLevel2 .ESDigit.digit_3 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_3_v2_png.vtex");
}
.ArcanaLevel2 .ESDigit.digit_4 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_4_v2_png.vtex");
}
.ArcanaLevel2 .ESDigit.digit_5 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_5_v2_png.vtex");
}
.ArcanaLevel2 .ESDigit.digit_6 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_6_v2_png.vtex");
}
.ArcanaLevel2 .ESDigit.digit_7 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_7_v2_png.vtex");
}
.ArcanaLevel2 .ESDigit.digit_8 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_8_v2_png.vtex");
}
.ArcanaLevel2 .ESDigit.digit_9 {
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_9_v2_png.vtex");
}

.ComboSummaryDigit.digit_0 {
	width: 13px;
}

.ComboSummaryDigit.digit_1 {
	width: 12px;
}

.ComboSummaryDigit.digit_2 {
	width: 16px;
}

.ComboSummaryDigit.digit_3 {
	width: 18px;
}

.ComboSummaryDigit.digit_4 {
	width: 18px;
}

.ComboSummaryDigit.digit_5 {
	width: 19px;
	margin-left: -2px;
}

.ComboSummaryDigit.digit_6 {
	width: 16px;
}

.ComboSummaryDigit.digit_7 {
	width: 17px;
}

.ComboSummaryDigit.digit_8 {
	width: 14px;
}

.ComboSummaryDigit.digit_9 {
	width: 14px;
}

.ComboX
{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_x_png.vtex");
	width: 22px;
}

.ArcanaLevel2 .ComboX
{
	background-image: url("s2r://panorama/images/hud/arcana/es/numbers/combo_x_v2_png.vtex");
}

.ComboCountX
{
	vertical-align: bottom;
	margin-left: -2px;
	margin-bottom: 0px;
	width: 29px;
	height: 44.25px;
}

.ComboSummaryX
{
	vertical-align: bottom;
	margin-left: 0px;
	margin-bottom: 0px;
	width: 10px;
	height: 22.125px;
}

.ComboCountValue
{
	vertical-align: center;
	horizontal-align: left;
}

.ComboCountDigit
{
	pre-transform-scale2d: 0.9;

	transition-property: pre-transform-scale2d, background-image;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.CounterBump .ComboCountDigit
{
	pre-transform-scale2d: 1.2;
}


.ComboCountLabel {
	font-size: 13px;
	horizontal-align: center;
	margin-top: 65px;
	vertical-align: bottom;
	color: #d5f9fe;
	letter-spacing: 2.5px;
	font-weight: bold;
	font-style: italic;
	z-index: 10;
	text-shadow: 2px 2px 0px #1b4c44;
	text-align: center;
	line-height: 13px;
	text-transform: uppercase;
}

.ComboSummaryText
{
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#ComboSummaryContainer
{
	vertical-align: top;
	width: 275px;

	horizontal-align: center;
	opacity: 0;
	height: 120px;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#ComboDetail {

	background-image: url("s2r://panorama/images/hud/arcana/es/es_arcana_summary_bg_png.vtex");
	background-size: 100%;
	width: 191px;
	height: 129px;
	horizontal-align: center;
	z-index: 0;
}

.ArcanaLevel2 #ComboDetail {
	background-image: url("s2r://panorama/images/hud/arcana/es/es_arcana_summary_bg_v2_png.vtex");
}


#ComboAmbientFX
{
	width: 100%;
	height: 100%;
}

#TitleFX2
{
	width: 150px;
	height: 240px;
	margin-top: -150px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	horizontal-align: center;
	z-index: 10;
}

.ComboDamageContainer
{
	horizontal-align: center;
	color: #ffffff;
}

.ESDamageCount {
	font-size: 46px;
	line-height: 30px;
	font-weight: bolder;
	letter-spacing: -0.2px;
	height: 50px;
	horizontal-align: center;
	color: #ffffff;
	text-shadow: 2px 2px 3px #000000;
}

.SummaryComboLabel
{
	font-size: 13px;
	text-shadow: 2px 2px 0px #1b4c44;
	color: #ffffff;
	opacity: 1;
	margin-left: 5px;
	vertical-align: center;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.SummaryDamageLabel {
	font-size: 13px;
	text-shadow: 2px 2px 0px #1b4c44;
	color: #ffffff;
	opacity: 1;
	margin-left: 0px;
	margin-top: -5px;
	vertical-align: center;
	text-align: center;
	font-weight: bolder;
	letter-spacing: 2px;
	text-transform: uppercase;
	horizontal-align: center;
}


.ESComboCount {
	font-size: 12px;
	font-style: italic;
	color: #ffffff;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 0px;
	font-weight: bolder;
	letter-spacing: 2px;
	text-transform: uppercase;
	transform: translateY(10px);
	text-shadow: 2px 2px 0px #1b4c44;
}

#ComboDetail2 {
	background-image: url("s2r://panorama/images/hud/arcana/es/es_arcana_summary_bg_png.vtex");
	width: 191px;
	height: 129px;
	background-size: 100%;
	horizontal-align: center;
	vertical-align: top;
	z-index: 0;
}


.ArcanaLevel2 #ComboDetail2
{
	background-image: url("s2r://panorama/images/hud/arcana/es/es_arcana_summary_bg_v2_png.vtex");
}

#ComboSummaryFX
{
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	width: 100%;
	height: 100%;
	z-index: 100;
}


.ComboSummary
{
	flow-children: right;
	horizontal-align: center;
	width: 100%;
}

.DamageSummary
{
	flow-children: down;
	width: 100%;
}

#ComboSummaryContents
{
	width: 100%;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
}

.ShowComboSummary #ComboSummaryContainer
{
	opacity: 1;
}
