DOTASpectatorGameStats
{
	flow-children: down;
}

DOTASpectatorGameStats.Hidden
{
	visibility: collapse;
}

#Header
{
	margin-top: 24px;
	flow-children: right;
}

.IsLocalPlayerSpectatingOverwatch #Header
{
	visibility: collapse;
}

#StatsDropDown
{
	width: fill-parent-flow( 1.0 );
}

#StatSortingButton
{
	margin-left: 8px;
	min-width: 0px;
	width: 60px;
	height: 42px;
	padding: 0px;

	visibility: collapse;
}
.ShowRows #StatSortingButton
{
	visibility: visible;
}

#StatSortingButton .SortingIcon
{
	width: 40px;
	height: 40px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	horizontal-align: center;
}
.NoSort #StatSortingButton .SortingIcon			{ background-image: url("s2r://panorama/images/hud/stats_sort_none_png.vtex"); }
.SortWithinTeam #StatSortingButton .SortingIcon	{ background-image: url("s2r://panorama/images/hud/stats_sort_team_png.vtex"); }
.SortAll #StatSortingButton .SortingIcon		{ background-image: url("s2r://panorama/images/hud/stats_sort_all_png.vtex"); }

#PlayerRows
{
	margin-top: 3px;
	flow-children: down;
	width: 100%;

	visibility: collapse;
}

.ShowRows #PlayerRows
{
	visibility: visible;
}

/* ------------------------------------------------------------------*/

DOTASpectatorGameStatsPlayerRow
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0009 ), to( #0000 ) );
	margin-bottom: 3px;
	flow-children: right;
}

DOTASpectatorGameStatsPlayerRow:not(.HasPickedHero)
{
	visibility: collapse;
}

DOTASpectatorGameStatsPlayerRow.Radiant
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #2f3d17 ), to( #0800 ) );
}

DOTASpectatorGameStatsPlayerRow.Dire
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #8006 ), to( #8000 ) );
}

DOTASpectatorGameStatsPlayerRow #HeroImage
{
	border: 1px solid black;
	width: 57px;
	height: 32px;
}
DOTASpectatorGameStatsPlayerRow #HeroImage:hover
{
	brightness: 2.0;
}
DOTASpectatorGameStatsPlayerRow #HeroImage:active
{
	brightness: 1.5;
}

DOTASpectatorGameStatsPlayerRow .Contents
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
}

DOTASpectatorGameStatsPlayerRow #StatValue, DOTASpectatorGameStatsPlayerRow #PlayerName
{
	vertical-align: middle;
	margin-left: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 0px 2 #000000;
	color: white;
	font-size: 20px;
	margin-top: 2px;
}

DOTASpectatorGameStatsPlayerRow #PlayerName,
DOTASpectatorGameStatsPlayerRow:hover #StatValue
{
	visibility: collapse;
}

DOTASpectatorGameStatsPlayerRow:hover #PlayerName
{
	visibility: visible;
}

DOTASpectatorGameStatsPlayerRow #StatValueBar
{
	width: 150px;
	vertical-align: middle;
}
DOTASpectatorGameStatsPlayerRow #StatValueBarContents
{
	height: 6px;
	width: 100%;
	border: 1px solid black;
	border-left: 0px solid black;
	vertical-align: middle;
	margin-right: 4px;
}
DOTASpectatorGameStatsPlayerRow #StatValueBarEnd
{
	width: 14px;
	height: 14px;
	border: 1px solid black;
	border-radius: 50%;
	horizontal-align: right;
}

DOTASpectatorGameStatsPlayerRow #StatValueBarEndCenter
{
	width: 7px;
	height: 7px;
	border-radius: 50%;
	horizontal-align: center;
	vertical-align: middle;
}


DOTASpectatorGameStatsPlayerRow.Radiant #StatValueBarContents
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #162e04 ), to( #67a424 ) );
}
DOTASpectatorGameStatsPlayerRow.Dire #StatValueBarContents
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #3f130c ), to( #a7221b ) );
}

DOTASpectatorGameStatsPlayerRow.Radiant #StatValueBarEnd
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #ffffff ), color-stop( 0.5, #67a424 ), to( #5a8f22 ) );
}
DOTASpectatorGameStatsPlayerRow.Dire #StatValueBarEnd
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #ffffff ), color-stop( 0.5, #a7221b ), to( #601e18 ) );
}
