@define revealDuration: 1s;
@define cooldownThreshold: 5.0s;			// panel will only appear if cooldown is this close to finishing
@define followCursor: 0;

DOTAHUDCursorCooldown
{
	width: 68px;
	height: 48px;
	opacity: 0;
	margin-left: 18px;
}

@keyframes 'cursorcooldown-show-and-fade'
{
	0%
	{
		opacity: 1.0;
	}


	10%
	{
		opacity: 1.0;
	}

	100%
	{
		opacity: 0.0;
	}
}

DOTAHUDCursorCooldown.ShowCooldown
{
	animation-name: cursorcooldown-show-and-fade; 
	animation-duration: revealDuration;
	animation-timing-function: linear;
}


#CursorCooldownValue
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	font-size: 21px;
	text-shadow: 0px 0px 6px 2.0 #000000ff;
	font-weight: bold;
	color: white;
	margin-top: 2px;
	visibility: collapse;
}

.InCooldown #CursorCooldownValue
{
	visibility: visible;
}

#NotEnoughManaLabel
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	line-height: 12px;
	text-shadow: 0px 0px 6px 2.0 #000000ff;
	font-weight: bold;
	color: #87e7ff;
	margin-top: 2px;
	visibility: collapse;
	margin-left: 8px;
	margin-right: 8px;
}

DOTAHUDCursorCooldown.NotEnoughMana:not(.InCooldown) #NotEnoughManaLabel
{
	visibility: visible;
}

#CursorCooldownBackground
{
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	height: 100%;
	background-color: #004400a3;
	border-radius: 50%;
	background-image: url("s2r://panorama/images/hud/reborn/cursor_cooldown_bg_psd.vtex");	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #000000dd;	
}

.NotEnoughMana #CursorCooldownBackground
{
	background-color: #0000ffa3;
}

#CursorCooldownRadialSweep
{
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	height: 100%;

	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	wash-color: #22ff33;

	background-image: url("s2r://panorama/images/hud/reborn/cursor_cooldown_bg_psd.vtex");

	transition-property: background-image, clip;
	transition-duration: 0.05s;

	//animation-name: cursorcooldown-radial-clip-loop; 
	//animation-duration: 3.0s;
	//animation-timing-function: linear;
	//animation-iteration-count: infinite;
}

.OverCooldownThreshold #CursorCooldownRadialSweep
{
	visibility: collapse;
}

.NotEnoughMana #CursorCooldownRadialSweep
{
	wash-color: #57b7ff;
}

@keyframes 'cursorcooldown-radial-clip-loop'
{
	0%
	{
		clip: radial( 50% 50%, 0deg, 0deg );
	}


	50%
	{
		clip: radial( 50% 50%, 0deg, 180deg );
	}

	100%
	{
		clip: radial( 50% 50%, 0deg, 360deg );
	}
}
