DOTAHUDItemBuild
{
	flow-children: down;
}

.BuildHeaderContainer
{
    width: 100%;
    flow-children: right;
}

.BuildHeader
{
    text-transform: uppercase;
    font-size: 15px;
    color: #8da1b1;
    margin-top: 8px;
    font-weight: bold;
    width: fill-parent-flow( 1.0 );
    text-align: center;
    letter-spacing: 2px;
}

#RightColumn .BuildHeader
{
    visibility: collapse;
}

.BuildTitle
{
    font-size: 14px;
    color: #47515a;
    margin-bottom: 4px;
    margin-top: -6px;
    font-weight: semi-bold;
    text-align: center;
    horizontal-align: center;
    width: 92%;
    text-overflow: ellipsis;
}

#GuidesButton
{
    vertical-align: center;
    margin-top: 4px;
    margin-left: 11px;
    width: 26px;
    height: 26px;
    background-image: url("s2r://panorama/images/hud/reborn/guide_icon_psd.vtex");
    background-size: 72%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    wash-color: #798b99;
    transition-property: wash-color, brightness;
    transition-duration: 0.2s;
    visibility: collapse;
    tooltip-position: top;
    tooltip-body-position: 50% 0%;
}

DOTAHUDShop #GuidesButton
{
	visibility: visible;
}

#GuidesButton:hover
{
    brightness: 2.0;
}

#GuidesButton:active
{
    wash-color: #999999;
}

#RightColumn #GuidesButton
{
    visibility: collapse;
}

#EditButton
{
    vertical-align: center;
    margin-top: 4px;
    margin-right: 11px;
    width: 22px;
    height: 22px;
    background-image: url("s2r://panorama/images/control_icons/gear_small_png.vtex");
    background-size: 72%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    wash-color: #798b99;
    transition-property: wash-color, brightness;
    transition-duration: 0.2s;
    visibility: collapse;
    tooltip-position: top;
}

DOTAHUDShop #EditButton
{
	visibility: visible;
}

DOTAHUDShop.EditMode #EditButton
{
	background-color: #57646d77;
    border-radius: 3px;
    wash-color: #ffffff;
}

#EditButton:hover
{
    brightness: 2.0;
}

#EditButton:active
{
    wash-color: #999999;
}

#GridFlyoutButton
{
    vertical-align: center;
    margin-top: 4px;
    margin-left: 11px;
    width: 28px;
    height: 28px;
    background-image: url("s2r://panorama/images/control_icons/grid_3x3_png.vtex");
    background-size: 72%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    wash-color: #798b99;
    transition-property: wash-color, brightness;
    transition-duration: 0.2s;
    visibility: collapse;
    tooltip-position: top;
}

DOTAHUDShop #GridFlyoutButton
{
	visibility: visible;
}

DOTAHUDShop.ShowGridFlyout #GridFlyoutButton
{
	background-color: #57646d77;
    border-radius: 3px;
    wash-color: #ffffff; 
}

#GridFlyoutButton:hover
{
    brightness: 2.0;
}

#GridFlyoutButton:active
{
    wash-color: #999999;
}

DOTAGuideBrowser .BuildTitle
{
	visibility: collapse;
}

#Categories
{
	flow-children: down;
	width: 100%;
    padding: 8px 0px 0px 12px;
    overflow: clip scroll;
}

DOTAHUDShop #Categories
{
	height: fill-parent-flow( 1.0 );
}

.EditMode #Categories
{
	box-shadow: inset #0B93BE33 6px 6px 12px 12px;
}

#FooterCategories
{
    flow-children: down;
	width: 100%;
    padding: 0px 0px 0px 12px;
    vertical-align: bottom;
    background-image: url("s2r://panorama/images/hud/reborn/common_items_bg_psd.vtex");
    background-repeat: no-repeat;
}

.ItemBuildCategory
{
	width: 100%;
	flow-children: down;
	margin-bottom: 8px;
}

.CategoryName
{
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	margin-bottom: 3px;
    letter-spacing: 2px;
}

#ItemList
{
	width: 100%;
	flow-children: right-wrap;
	width: 260px;
}

DOTAShopItem
{
	width: 38px;
	height: width-percentage( 72.7% );
	margin-bottom: 5px;
	margin-right: 3px;
}

//--------------------------------

#FooterCategories .CategoryName
{
    text-transform: uppercase;
    font-size: 15px;
    color: #5b6872;
    margin-bottom: 3px;
    margin-right: 12px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 6px;
}

.ItemBuildCategory.FooterCategory
{
    margin-bottom: 0px;
}

#GuideArea #FooterCategories .CategoryName
{
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    margin-bottom: 3px;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: left;
    padding-top: 0px;
}

#GuideArea #FooterCategories
{
    background-image: none;
}

#EditModeDestination
{
	width: 38px;
	height: width-percentage( 72.7% );
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
    margin-right: 3px;
    background-color: #00000066;
    border: 1px solid #ffffff66;
}
