DOTAHeroPickingTeamComposition
{
	flow-children: down;
}

Label.Title
{
	text-transform: uppercase;
	color: white;
	padding-left: 12px;
    padding-top: 8px;
	margin-bottom: 4px;
    font-size: 16px;
    letter-spacing: 2px;
}

.OneColumn Label.Title
{
	visibility: collapse;
}

#RoleColumnContainer
{
	flow-children: down;
	width: 100%;
	height: fill-parent-flow(1);
}

#TypeCountContainer
{
	flow-children: right;
}

.TwoColumn #TypeCountContainer
{
	horizontal-align: right;
}

#StrategyTab #TypeCountContainer
{
    horizontal-align: center;
	width: 100%;
	margin: 0px 16px 16px 16px;
}

#StrategyTeamComposition
{
    margin-top: 16px;
}

#TypeCountContainer Label
{
	color: #445C84;
	font-size: 20px;
	horizontal-align: center;
}

#StrategyTab #TypeCountContainer Label
{
    width: fill-parent-flow( 1.0 );
    text-align: center;
}

#TypeCountContainer Label:hover
{
	color: #798CAD;
}


.RoleColumn
{
	width: 100%;
}

#StrategyTab .RoleColumn
{
	padding-right: 56px;
}

.AspectRatio4x3 #StrategyTab .RoleColumn
{
	padding-right: 30px;
}

.TwoColumn #RoleColumnContainer
{
	flow-children: right;
}

.TwoColumn .RoleColumn
{
	width: fill-parent-flow( 1.0 );
}

.TwoColumn #TypeCountContainer
{
	flow-children: right;
	height: 40px;
    margin-top: -6px;
}

.TwoColumn #MeleeLabel
{
	font-size: 18px;
    horizontal-align: left;
	margin-right: 20px;
}

.TwoColumn #RangedLabel
{
    font-size: 18px;
    horizontal-align: right;
	margin-right: 20px;
}

.RoleRow > Label
{
	color: #445C84;
	width: fill-parent-flow( 1.0 );
}

.RoleRow > Label:hover
{
	color: #798CAD;
}

.RowPip
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #363F5755 ), to( #20242655 ));	
	height: 10px;
	width: 10px;
    margin-left: 1px;
}

.PersonalSelectedRoleLevel1 .RowPip1,
.PersonalSelectedRoleLevel2 .RowPip1, .PersonalSelectedRoleLevel2 .RowPip2, 
.PersonalSelectedRoleLevel3 .RowPip1, .PersonalSelectedRoleLevel3 .RowPip2, .PersonalSelectedRoleLevel3 .RowPip3, 
.PersonalSelectedRoleLevel4 .RowPip1, .PersonalSelectedRoleLevel4 .RowPip2, .PersonalSelectedRoleLevel4 .RowPip3, .PersonalSelectedRoleLevel4 .RowPip4, 
.PersonalSelectedRoleLevel5 .RowPip1, .PersonalSelectedRoleLevel5 .RowPip2, .PersonalSelectedRoleLevel5 .RowPip3, .PersonalSelectedRoleLevel5 .RowPip4, .PersonalSelectedRoleLevel5 .RowPip5, 
.PersonalSelectedRoleLevel6 .RowPip1, .PersonalSelectedRoleLevel6 .RowPip2, .PersonalSelectedRoleLevel6 .RowPip3, .PersonalSelectedRoleLevel6 .RowPip4, .PersonalSelectedRoleLevel6 .RowPip5, .PersonalSelectedRoleLevel6 .RowPip6, 
.PersonalSelectedRoleLevel7 .RowPip1, .PersonalSelectedRoleLevel7 .RowPip2, .PersonalSelectedRoleLevel7 .RowPip3, .PersonalSelectedRoleLevel7 .RowPip4, .PersonalSelectedRoleLevel7 .RowPip5, .PersonalSelectedRoleLevel7 .RowPip6, .PersonalSelectedRoleLevel7 .RowPip7,   
.PersonalSelectedRoleLevel8 .RowPip1, .PersonalSelectedRoleLevel8 .RowPip2, .PersonalSelectedRoleLevel8 .RowPip3, .PersonalSelectedRoleLevel8 .RowPip4, .PersonalSelectedRoleLevel8 .RowPip5, .PersonalSelectedRoleLevel8 .RowPip6, .PersonalSelectedRoleLevel8 .RowPip7, .PersonalSelectedRoleLevel8 .RowPip8,
.PersonalSelectedRoleLevel9 .RowPip1, .PersonalSelectedRoleLevel9 .RowPip2, .PersonalSelectedRoleLevel9 .RowPip3, .PersonalSelectedRoleLevel9 .RowPip4, .PersonalSelectedRoleLevel9 .RowPip5, .PersonalSelectedRoleLevel9 .RowPip6, .PersonalSelectedRoleLevel9 .RowPip7, .PersonalSelectedRoleLevel9 .RowPip8
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #363F5722 ), to( #6E9EE322 ));
	border: 1px solid #5F89C5;
}

.SelectedRoleLevel1 .RowPip1,
.SelectedRoleLevel2 .RowPip1, .SelectedRoleLevel2 .RowPip2, 
.SelectedRoleLevel3 .RowPip1, .SelectedRoleLevel3 .RowPip2, .SelectedRoleLevel3 .RowPip3, 
.SelectedRoleLevel4 .RowPip1, .SelectedRoleLevel4 .RowPip2, .SelectedRoleLevel4 .RowPip3, .SelectedRoleLevel4 .RowPip4, 
.SelectedRoleLevel5 .RowPip1, .SelectedRoleLevel5 .RowPip2, .SelectedRoleLevel5 .RowPip3, .SelectedRoleLevel5 .RowPip4, .SelectedRoleLevel5 .RowPip5, 
.SelectedRoleLevel6 .RowPip1, .SelectedRoleLevel6 .RowPip2, .SelectedRoleLevel6 .RowPip3, .SelectedRoleLevel6 .RowPip4, .SelectedRoleLevel6 .RowPip5, .SelectedRoleLevel6 .RowPip6, 
.SelectedRoleLevel7 .RowPip1, .SelectedRoleLevel7 .RowPip2, .SelectedRoleLevel7 .RowPip3, .SelectedRoleLevel7 .RowPip4, .SelectedRoleLevel7 .RowPip5, .SelectedRoleLevel7 .RowPip6, .SelectedRoleLevel7 .RowPip7,   
.SelectedRoleLevel8 .RowPip1, .SelectedRoleLevel8 .RowPip2, .SelectedRoleLevel8 .RowPip3, .SelectedRoleLevel8 .RowPip4, .SelectedRoleLevel8 .RowPip5, .SelectedRoleLevel8 .RowPip6, .SelectedRoleLevel8 .RowPip7, .SelectedRoleLevel8 .RowPip8,
.SelectedRoleLevel9 .RowPip1, .SelectedRoleLevel9 .RowPip2, .SelectedRoleLevel9 .RowPip3, .SelectedRoleLevel9 .RowPip4, .SelectedRoleLevel9 .RowPip5, .SelectedRoleLevel9 .RowPip6, .SelectedRoleLevel9 .RowPip7, .SelectedRoleLevel9 .RowPip8
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #363F5722 ), to( #6E9EE322 ));
	border: 1px solid #5F89C5;
}

.PersonalRoleLevel1 .RowPip1,
.PersonalRoleLevel2 .RowPip1, .PersonalRoleLevel2 .RowPip2, 
.PersonalRoleLevel3 .RowPip1, .PersonalRoleLevel3 .RowPip2, .PersonalRoleLevel3 .RowPip3, 
.PersonalRoleLevel4 .RowPip1, .PersonalRoleLevel4 .RowPip2, .PersonalRoleLevel4 .RowPip3, .PersonalRoleLevel4 .RowPip4, 
.PersonalRoleLevel5 .RowPip1, .PersonalRoleLevel5 .RowPip2, .PersonalRoleLevel5 .RowPip3, .PersonalRoleLevel5 .RowPip4, .PersonalRoleLevel5 .RowPip5, 
.PersonalRoleLevel6 .RowPip1, .PersonalRoleLevel6 .RowPip2, .PersonalRoleLevel6 .RowPip3, .PersonalRoleLevel6 .RowPip4, .PersonalRoleLevel6 .RowPip5, .PersonalRoleLevel6 .RowPip6, 
.PersonalRoleLevel7 .RowPip1, .PersonalRoleLevel7 .RowPip2, .PersonalRoleLevel7 .RowPip3, .PersonalRoleLevel7 .RowPip4, .PersonalRoleLevel7 .RowPip5, .PersonalRoleLevel7 .RowPip6, .PersonalRoleLevel7 .RowPip7,   
.PersonalRoleLevel8 .RowPip1, .PersonalRoleLevel8 .RowPip2, .PersonalRoleLevel8 .RowPip3, .PersonalRoleLevel8 .RowPip4, .PersonalRoleLevel8 .RowPip5, .PersonalRoleLevel8 .RowPip6, .PersonalRoleLevel8 .RowPip7, .PersonalRoleLevel8 .RowPip8,
.PersonalRoleLevel9 .RowPip1, .PersonalRoleLevel9 .RowPip2, .PersonalRoleLevel9 .RowPip3, .PersonalRoleLevel9 .RowPip4, .PersonalRoleLevel9 .RowPip5, .PersonalRoleLevel9 .RowPip6, .PersonalRoleLevel9 .RowPip7, .PersonalRoleLevel9 .RowPip8
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #363F57cc ), to( #6E9EE3cc ));
	border: 0px solid #5F89C500;
}

.RoleLevel1 .RowPip1,
.RoleLevel2 .RowPip1, .RoleLevel2 .RowPip2, 
.RoleLevel3 .RowPip1, .RoleLevel3 .RowPip2, .RoleLevel3 .RowPip3, 
.RoleLevel4 .RowPip1, .RoleLevel4 .RowPip2, .RoleLevel4 .RowPip3, .RoleLevel4 .RowPip4, 
.RoleLevel5 .RowPip1, .RoleLevel5 .RowPip2, .RoleLevel5 .RowPip3, .RoleLevel5 .RowPip4, .RoleLevel5 .RowPip5, 
.RoleLevel6 .RowPip1, .RoleLevel6 .RowPip2, .RoleLevel6 .RowPip3, .RoleLevel6 .RowPip4, .RoleLevel6 .RowPip5, .RoleLevel6 .RowPip6, 
.RoleLevel7 .RowPip1, .RoleLevel7 .RowPip2, .RoleLevel7 .RowPip3, .RoleLevel7 .RowPip4, .RoleLevel7 .RowPip5, .RoleLevel7 .RowPip6, .RoleLevel7 .RowPip7,   
.RoleLevel8 .RowPip1, .RoleLevel8 .RowPip2, .RoleLevel8 .RowPip3, .RoleLevel8 .RowPip4, .RoleLevel8 .RowPip5, .RoleLevel8 .RowPip6, .RoleLevel8 .RowPip7, .RoleLevel8 .RowPip8,     
.RoleLevel9 .RowPip1, .RoleLevel9 .RowPip2, .RoleLevel9 .RowPip3, .RoleLevel9 .RowPip4, .RoleLevel9 .RowPip5, .RoleLevel9 .RowPip6, .RoleLevel9 .RowPip7, .RoleLevel9 .RowPip8
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #363F57cc ), to( #6E9EE3cc ));
	border: 0px solid #5F89C500;
}


@keyframes 'PersonalGlow'
{
	0%
	{
		background-color: gradient( linear, 0% 100%, 0% 0%, from( #363F57cc ), to( #6E9EE3cc ));
	}
	50%
	{
		background-color: gradient( linear, 0% 100%, 0% 0%, from( #363F57cc ), to( #FFFFFFcc ));
	}
	100%
	{
		background-color: gradient( linear, 0% 100%, 0% 0%, from( #363F57cc ), to( #6E9EE3cc ));
	}
}

Label.RowPipExtra
{
	width: 10px;
	text-align: left;
	margin-left: 3px;
	opacity: 0;
	color: #5F89C5;
}

.RoleLevel9 .RowPipExtra
{
	opacity: 1;
}

.SelectedRoleLevel9 .RowPipExtra
{
	opacity: 1;
	color: #444444;
}

.PersonalSelectedRoleLevel9 .RowPipExtra, .PersonalRoleLevel9 .RowPipExtra
{
	opacity: 1;
	color: #5F89C5;
}

.AttackStyle
{
    color: #5d85be;
    font-size: 24px;
}

.TwoColumn .AttackStyle
{
    font-size: 24px;
}