DOTAPingWheel
{
	width: 100%;
	height: 100%;
}

.Hidden
{
	visibility: collapse;
}


#Root
{
	width: 200px;
	height: 200px;
}

.PingWheelBG
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/reborn/ping_wheel_bg_psd.vtex");
	background-position: 50% 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.25;
}

.PingWheelOption
{
	opacity: 0.5;
	saturation: 0;
	transition-property: opacity, saturation;
	transition-duration: 0.1s;
}

.PingWheelOption:hover
{
	opacity: 1;
	saturation: 1;
}

#Waypoint
{
	width: 100px;
	height: 70px;
	vertical-align: top;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_waypoint_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#Retreat
{
	width: 75px;
	height: 150px;
	vertical-align: center;
	horizontal-align: left;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_retreat_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#Attack
{
	width: 75px;
	height: 150px;
	vertical-align: center;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_attack_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#EnemyWard
{
	width: 50px;
	height: 70px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-right: 50px;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_enemyward_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#FriendlyWard
{
	width: 50px;
	height: 70px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-left: 50px;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_friendlyward_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#DefaultPing
{
	width: 50px;
	height: 50px;
	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/hud/reborn/ping_icon_default_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100%;

}