DOTAQueryUnit
{
	flow-children: none;
	visibility: visible;
    transform: translateX(0px);
	opacity: 1;
    transition-property: transform, opacity;
    transition-duration: .18s;
	transition-timing-function: ease-in-out;

    padding-right: 0px;
    padding-left: 16px;
	padding-bottom: 16px;
	
	brightness: 1;
	saturation: 1;
	wash-color: #ffffff;
	contrast: 1;
	
	animation-name: none;
	animation-duration: 0.81s;
	animation-timing-function: linear;
	//animation-timing-function: ease-in-out;
	animation-iteration-count: 1;	
}

.HUDFlipped DOTAQueryUnit
{
    padding-right: 16px;
    padding-left: 0px;
}

DOTAQueryUnit.IsDead
{
	animation-name: QueryDeathPulse;
	brightness: 0.6;
	saturation: 1;
}

DOTAQueryUnit.IsDead Label
{
	color: red;
}

#QueryContainer
{
	flow-children: left;
}

.HUDFlipped #QueryContainer
{
	flow-children: right;
}

DOTAQueryUnit.HallOfFame #QueryContainer,
DOTAQueryUnit.HeroStatue #QueryContainer,
DOTAQueryUnit.PAGrave #QueryContainer
{
	visibility: collapse;
}

@keyframes 'QueryDeathPulse'
{
	0%
	{
		brightness: 0.1;
		saturation: 0.5;
		wash-color: #ff0000;
	}
	100%
	{
		brightness: 0.6;
		saturation: 1;
		wash-color: #ffffff;
	}
}

DOTAQueryUnit.Hidden
{
    visibility: visible;
    transform: translateX(500px);
	opacity: 0;
}

.HUDFlipped DOTAQueryUnit.Hidden
{
	transform: translateX(-500px);
}

#QueryInfo
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
}

#stragiint
{
	margin-top: 44px;
	vertical-align: top;
}

#MidSection
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
	box-shadow: fill #000000d8 -2px -2px 8px 8px;	
}

#BuffList
{
	width: 100%;
	height: 44px;
    flow-children: right;
    margin: 0px 6px 0px 6px;
}

#Header
{
	width: 100%;
	min-width: 1300px;
	height: 54px;
	background-color: #000000ee;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #001100aa ), color-stop( 0.95, #203E05 ), to( #002200dd ) );
	border-top: 1px solid #99999933;
	flow-children: none;
}


.IsDead #PortraitContainer,
.IsDead #Header
{
	border-top: 1px solid #ff3333aa;
}


.IsEnemy #Header
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #110000aa ), color-stop( 0.95, #550000 ), to( #220000dd ) );
}

#NameAndGold
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#UnitName
{
	vertical-align: center;
	horizontal-align: left;
	color: #59B428;
	text-transform: uppercase;
	margin-left: 8px;
	margin-top: 4px;
    //margin-bottom: -4px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
	text-overflow: shrink;
	height: 24px;
	margin-right: 42px;
}

.IsEnemy #UnitName
{
	color: #B30E07;
}

#Gold
{
	flow-children: right;
	visibility: collapse;
	margin-left: 8px;
}

.ShowGold #Gold
{
	visibility: visible;
}

#GoldIcon
{
	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
}

#GoldLabel
{
	font-size: 16px;
	font-weight: bold;
	color: #ffd825;
	text-align: left;
	min-width: 60px;
	margin-left: 4px;
    letter-spacing: 1px;
}

#UnitLevel
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 8px;
	visibility: collapse;
}

.Hero #UnitLevel
{
	margin-right: 18px;
}

.ShowLevel #UnitLevel
{
	visibility: visible;
}

#CircularXPProgress
{
	width: 36px;
	height: 36px;
	vertical-align: center;
	horizontal-align: center;
}

#CircularXPProgress_FG
{
	width: 100%;
	height: 100%;
    border-radius: 50%;
    border: 2px solid #E7D291;
    z-index: 50;
}

#CircularXPProgress_BG
{
	width: 100%;
	height: 100%;
    border-radius: 50%;
    border: 2px solid #393939;
    z-index: 40;
    background-color: #00000088;
    box-shadow: #00000055 -2px -2px 4px 4px;
}

.IsAlly #CircularXPProgress_BG
{
	border-color: #1F460B;
}

.IsEnemy #CircularXPProgress_BG
{
	border-color: #630000;
}

.IsAlly #CircularXPProgress_FG
{
	border-color: #B4C469;
}

#UnitLevelLabel
{
	vertical-align: center;
	horizontal-align: right;
	color: #E7D291;
	margin-top: 3px;
    margin-right: 1px;
    font-weight: medium;
    text-align: center;
    horizontal-align: center;
    font-size: 20px;
    font-family: RadianceM;
}

#Body
{
	flow-children: down;
	width: fit-children;
    background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
    border-right: 1px solid #00000033;
    border-bottom: 1px solid #00000033;
}

#MiddleBlock
{
	width: fit-children;
	flow-children: right;
	min-width: 320px;

}

#AbilitiesHealthMana
{
	margin-top: 6px;
	width: fit-children;
	//min-width: 210px;
	flow-children: down;
	padding: 0px 4px 4px 4px;
}

.Building #AbilitiesHealthMana,
.CreepWithMana #AbilitiesHealthMana,
.CreepWithoutMana #AbilitiesHealthMana
{
	width: 100%;
}

#Stats
{
	height: 28px;
	width: 160px;
	flow-children: right;
    vertical-align: bottom;
	horizontal-align: left;
	margin-bottom: 1px;
	margin-left: -6px;
}

.ShowGold #Stats
{
	horizontal-align: right;
    margin-right: 56px;	
	margin-left: 0px;
}


#Abilities
{
	vertical-align: bottom;
	margin-left: 8px;
}


.Building #Abilities,
.CreepWithoutMana #Abilities
{
	height: 54px;
}
.CreepWithMana:not(.IsNeutral) #Abilities
{
	height: 40px;
}

#PlayerColorBar
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #666666 ), color-stop( 0.5, #ffffff ), to( #666666 ) );
	width: 8px;
	height: 54px;
	visibility: collapse;
	horizontal-align: right;
}

#PortraitContainer
{
	width: 84px;
    height: 139px;
	border-top: 1px solid #47474788;
}

#QueryUnitHeroPortrait
{
    width: 100%;
    height: 100%;
}

.Hero #PlayerColorBar
{
	visibility: visible;
}

DOTAInventory
{
	width: 133px;
	height: 100%;
	visibility: collapse;
    //margin-bottom: 4px;
}

.HasInventory DOTAInventory
{
	visibility: visible;
}

DOTAQueryUnit:not(.Hero) #StatBranchContainer
{
	visibility: collapse;
}

#StatBranchContainer
{
    background-image: url("s2r://panorama/images/hud/reborn/query_statbranch_gradient_hudflipped_psd.vtex");
    background-size: 100%;
	width: 100%;
	//min-height: 100px;
	flow-children: right;
	padding-top: 6px;
	padding-left: 6px;
	tooltip-position: bottom;
}

.HUDFlipped #StatBranchContainer
{
	horizontal-align: left;
	margin-right: 5px;
	//flow-children: left;
    background-image: url("s2r://panorama/images/hud/reborn/query_statbranch_gradient_psd.vtex");
}

#HeroViewButton,
#StatBranchIcon
{
	width: 26px;
	height: 26px;
	vertical-align: bottom;
	horizontal-align: right;
	tooltip-position: bottom;
	margin-bottom: 6px;
	margin-right: 4px;
//	wash-color: #AF9F6F;
}

#StatBranchIcon
{
    visibility: collapse;
}

.Hero #StatBranchIcon
{
    visibility: visible;
}

#HeroViewButton
{
	horizontal-align: left;
	
	background-image: url("s2r://panorama/images/hud/heroview_icon_png.vtex");
	background-size: contain;
	margin-left: 4px;
	margin-bottom: 2px;
	opacity: .5;
}

#HeroViewButton:hover
{
	opacity: 1;
}

#StatBranchDesc
{
	width: 100%;
	font-size: 14px;
	color: #dcdcdc;
	margin-right: 5px;
	line-height: 14px;
	text-shadow: 1px 1px 2px 2.0 #000000;
	text-align: right;
}

.HUDFlipped #StatBranchDesc
{
	text-align: left;
	margin-left: 5px;
	margin-right: 0px;
}

#QueryUnit .Vignette
{
	background-size: 100%;
	opacity: .5;
}