DOTAHudHeroPickingPlayer
{
	flow-children: none;
	margin-left: -2px;
	margin-right: -2px;
	padding-bottom: 24px;
	transform: translateY(-90px) translateX(-20px);
	transition-property: transform, saturation, contrast, brightness, wash-color, pre-transform-scale2d;
	transition-duration: .3s;
	transition-timing-function: ease-out;	
	context-menu-position: bottom;
	context-menu-body-position: 50% 50%;
}

.AspectRatio4x3 DOTAHudHeroPickingPlayer, .AspectRatio5x4 DOTAHudHeroPickingPlayer
{
	margin-left: -4px;
	margin-right: -4px;
}

DOTAHudHeroPickingPlayer
{
	transform: translateY(-90px) translateX(-20px);
	transition-duration: .3s;
	transition-timing-function: ease-out;	
}

#DireTeamPlayers DOTAHudHeroPickingPlayer
{
	transform: translateY(-90px) translateX(20px);
	transition-duration: .3s;
	transition-timing-function: ease-in;	
}

DOTAHudPreGame.StartPregameIntro #DireTeamPlayers DOTAHudHeroPickingPlayer,
DOTAHudPreGame.StartPregameIntro DOTAHudHeroPickingPlayer
{
	transform: translateY(0px);
}

DOTAHudPreGame.EndPregameIntro #DireTeamPlayers DOTAHudHeroPickingPlayer,
DOTAHudPreGame.EndPregameIntro DOTAHudHeroPickingPlayer
{
	transform: translateY(0px);
}

DOTAHudPreGame.WaitingForPlayers DOTAHudHeroPickingPlayer.PlayerConnecting
{
	//transform: translateY(-20px) translateX(-6px);
}

#HeroImage
{
	background-color: gradient( radial, 50% 90%, 0% 0%, 80% 90%, from( #444D5A ), to( #161B23 ) );
	width: 118px;
	height: width-percentage( 56.25% );
	transform: translateY(6px) translateX(-1px);

	saturation: 1.0;
	brightness: 1.0;
	contrast: 1.0;
	wash-color: white;
	pre-transform-scale2d: 1;
	
	transition-property: transform, saturation, contrast, brightness, wash-color, pre-transform-scale2d;
	transition-duration: .12s;
	transition-timing-function: ease-in-out;
}

.AspectRatio4x3 #HeroImage, .AspectRatio5x4 #HeroImage
{
	width: 100px;
}

.StrategyVisible #HeroImageContainer:hover #HeroImage
{
	pre-transform-scale2d: 1.2;
}

.HeroPickNone #HeroImageContainer:hover #HeroImage
{
	pre-transform-scale2d: 1;
}

#HeroImageBorder
{
	width: 128px;
	height: 76px;
	
	background-image: url("s2r://panorama/images/masks/topbar_heroslant_left_inset_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.3;
	wash-color: black;
}

.AspectRatio4x3 #HeroImageBorder, .AspectRatio5x4 #HeroImageBorder
{
	width: 110px;
	height: 66px;
}


#HeroImagePickBar
{
	width: 118px;
	height: 14px;
	
	vertical-align: bottom;
	margin-bottom: 30px;
	transform: translateX(14px);
	visibility: collapse;
	
	background-image: url("s2r://panorama/images/masks/topbar_heropick_left_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 1;
	wash-color: black;
	wash-color: #99f; 
	blur: gaussian ( 8 );
}

.IsInBanPhase .PlayerInControl #HeroImagePickBar,
.IsInBanPhase #HeroImagePickBar
{
	opacity: 0;
	visibility: collapse;
}

#DireTeamPlayers #HeroImageBorder
{
	background-image: url("s2r://panorama/images/masks/topbar_heroslant_right_inset_psd.vtex");
}


.PlayerInControl #HeroImagePickBar
{
	visibility: visible;
	animation-name: PlayerInControlBorderPulse;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	//animation-direction: alternate-reverse;
}

#DireTeamPlayers .PlayerInControl #HeroImagePickBar
{
	animation-name: PlayerInControlBorderPulseDire;
	animation-duration: 1.1s;
	transform: translateX(5px);
}



@keyframes 'PlayerInControlBorderPulse'
{
	0%
	{
		transform: translateY(0px)  translateX(14px);
		opacity: 2;
		pre-transform-scale2d: 1, 0.5;
	}
	100%	
	{
		transform: translateY(44px)  translateX(24px);
		opacity: 0;
		pre-transform-scale2d: 1, 1;
	}
}


@keyframes 'PlayerInControlBorderPulseDire'
{
	0%
	{
		transform: translateY(0px)  translateX(5px);
		opacity: 2;
		pre-transform-scale2d: 1, 0.5;
	}
	100%	
	{
		transform: translateY(44px)  translateX(-5px);
		opacity: 0;
		pre-transform-scale2d: 1, 1;
	}
}

.Slot0 #HeroImagePickBar { wash-color: HeroSlot0Color;  }
.Slot1 #HeroImagePickBar { wash-color: HeroSlot1Color; }
.Slot2 #HeroImagePickBar { wash-color: HeroSlot2Color; }
.Slot3 #HeroImagePickBar { wash-color: HeroSlot3Color; }
.Slot4 #HeroImagePickBar { wash-color: HeroSlot4Color; }

.Slot5 #HeroImagePickBar { wash-color: HeroSlot5Color; }
.Slot6 #HeroImagePickBar { wash-color: HeroSlot6Color; }
.Slot7 #HeroImagePickBar { wash-color: HeroSlot7Color; }
.Slot8 #HeroImagePickBar { wash-color: HeroSlot8Color; }
.Slot9 #HeroImagePickBar { wash-color: HeroSlot9Color; }

.DOTA_GAMEMODE_AP .PlayerInControl #HeroImagePickBar
{
	visibility: collapse;
}

#HeroImageContainer
{
	height: 72px;
	opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_left_psd.vtex");
	flow-children: none;
	background-color: #555;
	margin-left: 4px;
	pre-transform-scale2d: 1;

	animation-duration: 0.82s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;	
	
	transition-property: wash-color, pre-transform-scale2d, background-color;
	transition-duration: .2s;
}

.AspectRatio5x4 #HeroImageContainer, .AspectRatio4x3 #HeroImageContainer
{
	height: 62px;
}

.WaitingForPlayers .HeroPickNone.PlayerConnecting #HeroImageContainer
{
	background-color: #ff8800;
	animation-name: PlayerConnecting;

	transition-duration: 0.2s;
}

.WaitingForPlayers .HeroPickNone.PlayerConnected #HeroImageContainer
{
	animation-name: none;
	background-color: #00ff00;
}

.WaitingForPlayers .HeroPickNone.PlayerFailedToConnect  #HeroImageContainer
{
	animation-name: PlayerFailed;
	background-color: #ff2200;
	animation-duration: .11s;	
}



@keyframes 'PlayerConnecting'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #221100 ), color-stop( .15, #ff8800), to( #221100 ) );
	}
	100%	
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #221100 ), color-stop( .95, #ff8800), to( #221100 ) );
	}
}


@keyframes 'PlayerFailed'
{
	0%
	{
		background-color: #ff2200;
	}
	100%	
	{
		background-color: #aa1100;
	}
}


DOTAHudPreGame.BecomeActive #HeroImageContainer
{
	wash-color: black;
}

DOTAHudPreGame.StartPregameIntro #HeroImageContainer
{
	wash-color: white;
}

.Slot0 #HeroImageContainer { background-color: HeroSlot0Color; transition-delay: 0s;}
.Slot1 #HeroImageContainer { background-color: HeroSlot1Color; transition-delay: 0s;}
.Slot2 #HeroImageContainer { background-color: HeroSlot2Color; transition-delay: 0s;}
.Slot3 #HeroImageContainer { background-color: HeroSlot3Color; transition-delay: 0s;}
.Slot4 #HeroImageContainer { background-color: HeroSlot4Color; transition-delay: 0s;}

.Slot5 #HeroImageContainer { background-color: HeroSlot5Color; transition-delay: 0s;}
.Slot6 #HeroImageContainer { background-color: HeroSlot6Color; transition-delay: 0s;}
.Slot7 #HeroImageContainer { background-color: HeroSlot7Color; transition-delay: 0s;}
.Slot8 #HeroImageContainer { background-color: HeroSlot8Color; transition-delay: 0s;}
.Slot9 #HeroImageContainer { background-color: HeroSlot9Color; transition-delay: 0s;}

.BecomeActive .Slot0 #HeroImageContainer { background-color: HeroSlot0Color; transition-delay: 1.8s;}
.BecomeActive .Slot1 #HeroImageContainer { background-color: HeroSlot1Color; transition-delay: 1.9s;}
.BecomeActive .Slot2 #HeroImageContainer { background-color: HeroSlot2Color; transition-delay: 2.0s;}
.BecomeActive .Slot3 #HeroImageContainer { background-color: HeroSlot3Color; transition-delay: 2.1s;}
.BecomeActive .Slot4 #HeroImageContainer { background-color: HeroSlot4Color; transition-delay: 2.2s;}

.BecomeActive .Slot5 #HeroImageContainer { background-color: HeroSlot5Color; transition-delay: 2.2s;}
.BecomeActive .Slot6 #HeroImageContainer { background-color: HeroSlot6Color; transition-delay: 2.1s;}
.BecomeActive .Slot7 #HeroImageContainer { background-color: HeroSlot7Color; transition-delay: 2.0s;}
.BecomeActive .Slot8 #HeroImageContainer { background-color: HeroSlot8Color; transition-delay: 1.9s;}
.BecomeActive .Slot9 #HeroImageContainer { background-color: HeroSlot9Color; transition-delay: 1.8s;}


#DireTeamPlayers #HeroImageContainer
{
	opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_right_psd.vtex");
	margin-left: 6px;
}

.HeroPickTentative #HeroImage
{
	saturation: 0.0;
	
	contrast: 0.85;
	brightness: .3;
	wash-color: #ACBFDD;
}

.HeroPickNone #HeroImage
{
	transition-duration: 0s;
}

.HeroPickNone #HeroImage,
.HeroPickTentative #HeroImage
{
	transform: translateY(0px) translateX(1px);
}

#DireTeamPlayers .HeroPickTentative
{
	transform: translateY(0px) translateX(2px);
}

#DireTeamPlayers .HeroPickTentative #HeroImage
{
	//margin-left: -2px;
	//margin-top: -8px;
	//margin-bottom: 8px;
}

#NameContainer
{
	width: 100%;
	height: 27px;
	margin-top: 78px;

	transition-property: opacity;
	transition-duration: 0.3s;
}

.AspectRatio5x4 #NameContainer, .AspectRatio4x3 #NameContainer
{
	margin-top: 68px;
}

DOTAHudPreGame.BecomeActive #NameContainer
{
	opacity: 0;
}

DOTAHudPreGame.StartPregameIntro #NameContainer
{
	opacity: 1;
}

#NameContainer > Label
{
	width: 100px;
	height: 100%;
	text-align: center;
	horizontal-align: center;
	font-weight: thin;
	font-size: 20px;
	color: #7a8a9d;
	transform: translateX( 6px );
	text-shadow: 0px 0px 0px 1 transparent;
	
	transition-property: color, opacity, text-shadow, wash-color;
	transition-duration: 0.3s;
	
	text-shadow: 1px 1px 3px 2.0 #000000;

	tooltip-position: bottom;
	tooltip-body-position: 50% 50%;
	context-menu-position: bottom;
	context-menu-body-position: 50% 50%;
}


.PlayerInControl ##NameContainer > Label
{
	color: #dddddd;
}

.Slot0.PlayerInControl #NameContainer > Label  { text-shadow: 0px 0px 12px 2 HeroSlot0ColorHalf; }
.Slot1.PlayerInControl #NameContainer > Label { text-shadow: 0px 0px 12px 1 HeroSlot1ColorHalf; }
.Slot2.PlayerInControl #NameContainer > Label { text-shadow: 0px 0px 12px 1 HeroSlot2ColorHalf; }
.Slot3.PlayerInControl #NameContainer > Label { text-shadow: 0px 0px 12px 1 HeroSlot3ColorHalf; }
.Slot4.PlayerInControl #NameContainer > Label { text-shadow: 0px 0px 12px 1 HeroSlot4ColorHalf; }

.Slot5.PlayerInControl #NameContainer > Label { text-shadow: 0px 0px 12px 1 HeroSlot5ColorHalf; }
.Slot6.PlayerInControl #NameContainer > Label { text-shadow: 0px 0px 12px 1 HeroSlot6ColorHalf; }
.Slot7.PlayerInControl #NameContainer > Label { text-shadow: 0px 0px 12px 1 HeroSlot7ColorHalf; }
.Slot8.PlayerInControl #NameContainer > Label { text-shadow: 0px 0px 12px 2 HeroSlot8ColorHalf; }
.Slot9.PlayerInControl #NameContainer > Label { text-shadow: 0px 0px 12px 2 HeroSlot9ColorHalf; }

.DOTA_GAMEMODE_AP .IsLocalPlayer.PlayerInControl #NameContainer > Label,
.IsLocalPlayer #NameContainer > Label
{
	color: white;
	font-weight: bold;
}

.DOTA_GAMEMODE_AP .PlayerInControl #NameContainer > Label
{
	text-shadow: none;
	color: #7a8a9d;
}

.WaitingForPlayers .PlayerConnecting #NameContainer > Label
{
	wash-color: #000000e3;
	text-shadow: 0px 0px 2px 2 black;
}

.WaitingForPlayers .PlayerConnected #NameContainer
{
	opacity: 1;
}

#RadiantTeamPlayers #NameContainer
{
	margin-right: 4px;
}

#DireTeamPlayers #NameContainer
{
	margin-right: 20px;
}

#HeroName
{
	text-overflow: shrink;
}

/* When told to, swap out the PlayerName for the hero name */
#HeroName,
.ShowHeroName #PlayerName
{
	opacity: 0.0;
}
.ShowHeroName #HeroName
{
	opacity: 1.0;
}

.SlotColor
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000aa ), color-stop( .35, #00000000), color-stop( .65, #00000000), to( #000000aa ) );
	height: 100%;
	width: 100%;
}

#GoldChange
{
	flow-children: right;

	opacity: 0.0;

	horizontal-align: center;
	margin-top: 13px;
}

@keyframes 'GoldChangeAnim'
{
	0%
	{
		transform: translateY( 0px ) scale3d( 0.66, 0.66, 1.0 );
		opacity: 0.5;
	}
	15%
	{
		transform: translateY( 0px );
		opacity: 1.0;
	}
	100%
	{
		transform: translateY( 13px );
		opacity: 0.0;
	}
}

#GoldChange.AnimateGoldChange
{
	animation-name: GoldChangeAnim;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}

#RadiantTeamPlayers #GoldChange
{
	margin-right: 4px;
}
#DireTeamPlayers #GoldChange
{
	margin-right: 20px;
}

#GoldChangeAmount
{
	color: goldColor;
	font-size: 36px;
	vertical-align: middle;
	margin-top: 2px;
}

#GoldChangeIcon
{
	width: 30px;
	height: 30px;

	margin-left: 4px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
	background-size: contain;
}

#DisconnectedIcon
{
	width: 90px;
	height: 30px;
	margin-top: 24px;
	margin-left: 18px;

	background-image: url("s2r://panorama/images/hud/reborn/icon_disconnect_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;

	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.3s;
}

.Disconnected #DisconnectedIcon
{
	opacity: 1;
}

.AspectRatio4x3 #DisconnectedIcon, .AspectRatio5x4 #DisconnectedIcon
{
	width: 80px;
	margin-left: 14px;
	margin-top: 20px;
}

#PlayerMMR
{
	horizontal-align: center;
	padding: 2px 4px 0px 4px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( .25, #532E35f4), color-stop( .75, #532E35f4 ), to( #00000000 ) );
	color: #C5A97A;
	color: gradient( linear, 0% 0%, 0% 100%, from( #C5A97A ), to( #C5A97A44 ) );
	font-size: 14px;
	margin-top: 46px;
	margin-left: 4px;
	margin-right: 4px;
	width: 100%;

	text-align: center;

	visibility: collapse;
}

#DireTeamPlayers #PlayerMMR
{
	margin-right: 6px;
}

.ShowMMR #PlayerMMR
{
	visibility: visible;
}

.AspectRatio4x3 #PlayerMMR, .AspectRatio5x4 #PlayerMMR
{
	margin-top: 36px;
}
