/* styles for the main DOTA dashboard */

DOTAHud
{
	width: 100%;
	height: 100%;
}

DOTACustomUIRoot
{
	width: 100%;
	height: 100%;
}

#HUDElements
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

DOTAHud.IsInGame:not(.IsBeforeGameplay) #HUDElements
{
	visibility: visible;
}

#MenuButtons
{
	vertical-align: top;
	horizontal-align: left;
	margin-left: 8px;
	margin-right: 10px;
	margin-top: 12px;
}

#NetGraph
{
	margin-bottom: 0px;
	//margin-right: 32px;
	horizontal-align: right;
	vertical-align: top;
}

.AspectRatio16x10 #NetGraph
{
}

.AspectRatio4x3 #NetGraph
{
	margin-top: 40px;
}

.AspectRatio5x4 #NetGraph
{
	margin-top: 40px;
}

#topbar
{

}


#lower_hud
{
	vertical-align: bottom;
	visibility: collapse;
	width: 100%;
	//margin-bottom: 256px;
	
	transform: translateY(0px);
	transition-property: transform;
	transition-duration: 0s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

DOTAHud.IsBeforeGameplay #lower_hud
{
	transform: translateY(230px);
	transition-duration: 1s;
	transition-delay: 2s;	
}

DOTAHud.IsBeforeGameplay.HUDFlipped #lower_hud
{
	transform: translateY(230px) scaleX(-1);
}

.ShowLowerHUD #lower_hud
{
	visibility: visible;
}

.HUDFlipped #lower_hud
{
	transform: scaleX(-1);
}

.ActionPanelDev #lower_hud,
{
	margin-bottom: 400px;
}

.ActionPanelDev:not(.AspectRatio4x3) #quickstats
{
	margin-bottom: 406px;
}

#minimap_block
{
    width: 216px;
    height: 216px;
    background-image: url("s2r://panorama/images/hud/reborn/bg_minimap_psd.vtex");
    background-size: contain;
    z-index: -1;
    vertical-align: bottom;
}

#minimap
{
	width: 300px;
	height: 300px;
	vertical-align: bottom;
    horizontal-align: left;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    margin-bottom: -8px;
}

#HUDSkinInventoryBG
{
	width: 235px;
	height: 275px;
	background-size: 100%;
	vertical-align: bottom;
	visibility: collapse;
	//z-index: -1;
}

#HUDSkinMinimap
{
	width: 235px;
	height: 275px;
	background-size: 100%;
	vertical-align: bottom;
	visibility: collapse;
	z-index: 1;
}

.Reborn.CustomHUDSkin #HUDSkinMinimap
{
	visibility: visible;
}

#HUDSkinStatBranchGlow
{
	background-color: gradient( radial, 50% 60%, 0% 0%, 80% 70%, from( #222f ), to( #161B2300 ) );
	width: 89px;
	height: 180px;
	visibility: collapse;
}

#HUDSkinStatBranchBG
{
	width: 89px;
	height: 180px;
	height: 200px;
	margin-top: -76px;
	margin-left: -7px;
	//overflow: noclip;
	background-size: 100%;
	vertical-align: bottom;
	visibility: collapse;
	z-index: 0;
}

.Reborn.CustomHUDSkin #HUDSkinStatBranchGlow,
.Reborn.CustomHUDSkin #HUDSkinStatBranchBG
{
	visibility: visible;
}

// for dota_hud_minimap convar
.MinimapSmall #minimap_block { width: 180px; height: 180px; }
.MinimapLarge #minimap_block { width: 244px; height: 244px; }
.MinimapExtraLarge #minimap_block { width: 280px; height: 280px; }
.MinimapSmall #GlyphScanContainer { margin-left: 180px; }
.MinimapLarge #GlyphScanContainer { margin-left: 244px; }
.MinimapExtraLarge #GlyphScanContainer { margin-left: 280px; }
.MinimapSmall #HUDSkinMinimap { width: 196px; height: 229px; }
.MinimapLarge #HUDSkinMinimap { width: 265px; height: 311px; }
.MinimapExtraLarge #HUDSkinMinimap { width: 305px; height: 356px; }

.HUDFlipped #minimap
{
	transform: scaleX( -1.0 );
}

#GlyphScanContainer
{
    margin-left: 216px;
    height: 280px;
    width: 74px;
    background-image: url("s2r://panorama/images/hud/reborn/glyph_scan_bg_psd.vtex");
    vertical-align: bottom;
    background-size: cover;
}

#RadarButton
{
    vertical-align: bottom;
    horizontal-align: right;
    width: 44px;
    height: 44px;
    margin-right: 24px;
    margin-bottom: 50px;
}

#glyph
{
    vertical-align: bottom;
    horizontal-align: right;
    width: 44px;
    height: 44px;
    margin-right: 24px;
    margin-bottom: 6px;
}

.HUDFlipped #RadarButton
{
	transform: scaleX( -1.0 );
}

#predictions_button
{
	margin-top: 50px;
}

.HUDFlipped #predictions_button
{
	transform: scaleX(-1);
}

#center_with_stats
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
	z-index: -2;
}

// Custom game SetHUDVisible support
.HIDE_ACTION_PANEL #center_with_stats,
.HIDE_ACTION_PANEL #buffs,
.HIDE_ACTION_PANEL #debuffs,
.HIDE_ACTION_PANEL #StatDrawerTopRight,
.HIDE_ACTION_MINIMAP #minimap_block,
.Reborn.CustomHUDSkin.HIDE_ACTION_MINIMAP #HUDSkinMinimap,
.HIDE_ACTION_MINIMAP #GlyphScanContainer
{
	visibility: collapse;
}

.HUDFlipped #center_with_stats
{
	transform: ScaleX(-1);
}

#center_block
{
	height: 236px;
	transition-duration: .32s;
	transition-property: transform, pre-transform-scale2d;
	transition-timing-function: ease-in-out;
	animation-duration: 0.181s;
	animation-timing-function: linear;
}

#center_block.UnitStunned
{
	animation-name: ScreenShake;
}

#center_block.UnitStunned.UnitMiniStunned
{
	animation-name: none;
}

@keyframes 'ScreenShake'
{
    0%
    {
        pre-transform-scale2d: 1;
		transform: rotateZ(0deg) rotateX(0deg) translateY(0px);
    }
    30%
    {
        pre-transform-scale2d: 0.975;
		transform: rotateZ(2deg) rotateX(-1deg) translateY(12px);
    }               
    60%
    {
        pre-transform-scale2d: 0.975;
		transform: rotateZ(-2deg) rotateX(1deg) translateY(7px);
    }               	
    100%
    {
        pre-transform-scale2d: 1;
		transform: rotateZ(0deg) rotateX(0deg) translateY(0px);
    }
}


#center_block.UnitDead
{
	//wash-color: #00000088;
	animation-name: DeathHUDPulse;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	//animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	brightness: 1;
	saturation: 1;
	wash-color: #ffffff;
	contrast: 1;	
}

.UnitDead #StatBranchBG
{
		brightness: 2;
		saturation: 1;
		wash-color: #64aa9Daa;
}


#DeathTimer
{
	font-size: 64px;
	font-weight: thin;
	padding-top: 28px;
	color: #C23339;
	z-index: 5;
	vertical-align: bottom;
	horizontal-align: center;
	text-shadow: 0px 0px 6px 5 #350000dd ;
	opacity: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #680000dd ) );	
}

.UnitDead #DeathTimer
{
	opacity: 1;
}

@keyframes 'DeathHUDPulse'
{
	0%
	{
		brightness: 1;
		saturation: 1;
		wash-color: #ffffff;
		contrast: 1;
	}
				
	5%
	{
		brightness: 6;
		saturation: 1;
		wash-color: #64FF9D;
		contrast: 1.32;
	}

	100%
	{
		brightness: 1;
		saturation: 1;
		wash-color: #ffffff;
		contrast: 1;
	}
}

#center_bg
{
	width: 100%;
	height: 126px;

	margin-left: 252px;
	margin-right: 252px;
	
	transition-duration: .05s;
	transition-property: background-image;
	transition-timing-function: ease-in-out;
	
	//background-color: #16203484;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #25282acc ), color-stop( .5, #25282acc), to( #000000dd ) );
    background-image: url("s2r://panorama/images/hud/reborn/ability_bg_psd.vtex");
	background-size: 100%;	
    vertical-align: bottom;
	
}

.Reborn.CustomHUDSkin #center_bg
{
	background-image: none;
}

.UnitDead #center_bg
{
	background-image: url("s2r://panorama/images/hud/reborn/ability_bg_dead_psd.vtex");
}

#PortraitContainer
{
	width: 126px;
	width: 108px;
	margin-left: 72px;
	vertical-align: bottom;
	overflow: clip;
	z-index: 2;
	border-right: 2px solid black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ff000000 ), color-stop( .5, #ff000000 ), to( #000000 ) );
}

.PortraitLocation
{
	vertical-align: bottom;
}


#portraitHUDOverlay,
#multiunit,
#portraitHUD
{
	z-index: 3;
	width: 126px;
	width: 106px;
	height: 146px;
	height: 126px;
	opacity: 1;	
	blur: gaussian( 0 );
	animation-name: none;
	animation-duration: 0.92s;
	//animation-timing-function: linear;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	transition-property: blur;
	transition-duration: .02s;
}

#portraitHUDOverlay
{
	opacity: 0;
}


.UnitSilenced #portraitHUD
{
	blur: gaussian(2);
}

.UnitStunned #portraitHUD
{
	animation-name: StunPortrait;
}


.UnitStunned #portraitHUDOverlay
{
	opacity: .5;
	animation-name: StunPortraitReverse;
}


.UnitDead #portraitHUD
{
	saturation: .5;
	brightness: 2;
	wash-color: #5Bddcc;
}

.UnitDead #portraitHUDOverlay
{
	blur: gaussian( 6 );
	opacity: 0.5;
	brightness: 1;
	saturation: 0;
	wash-color: #98FFc3;
}

#SilenceIcon
{
	width: 77px;
	height: 100px;
	background-image: url("s2r://panorama/images/hud/portrait_silenced_png.vtex");
	background-size: 100%;
	background-position: 50%;
	//margin-top: -3px;
	horizontal-align: center;
	vertical-align: middle;
	opacity: 0;
	pre-transform-scale2d: 0.15;
	z-index: 4;
	
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	
	animation-name: SilenceTaunt; 
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}


@keyframes 'SilenceTaunt'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	25%
	{
		transform: rotateZ(-15deg);
	}
	
	75%
	{
		transform: rotateZ(15deg);
	}

	100%
	{
		transform: rotateZ(0deg);
	}
}

.UnitSilenced #SilenceIcon
{
	opacity: 1;
	pre-transform-scale2d: 1;
}

#StatBranch
{
	overflow: noclip;
	width: 74px;
	height: 146px;
	height: 126px;
	vertical-align: bottom;
	margin-left: 178px;
	background-color: #353A3C;

	z-index: 3;
	//visibility: collapse;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

#StatBranchBGBranchWellGlow,
#StatBranchBGBranchWell,
#StatBranchBG
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_bg_psd.vtex");
	background-size: cover;
}

.NonHero #StatBranchBG
{
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_bg_nonhero_psd.vtex");
}

.NonHero #StatBranchBGBranchWellGlow,
.NonHero #StatBranchBGBranchWell
{
	visibility: collapse;
}

#StatBranchBGBranchWell
{
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_bg_branchwell_psd.vtex");
}

#StatBranchBGBranchWellGlow
{
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_bg_wellglow_psd.vtex");
	transition-property: brightness, saturation;
	transition-duration: .14s;
	transition-timing-function: ease-in-out;	
}

#StatBranch:hover #StatBranchBGBranchWellGlow
{
	brightness: 3;
	saturation: 2;
}


#StatBranchChannel
{
	width: 100%;
	height: 78px;	

	vertical-align: top;
	
	horizontal-align: center;
	overflow: noclip;
	z-index: 21;
}

.LevelProgressBlur,
.LevelProgress
{
	border-radius: 0px;
	width: 88px;
	width: 62px;
	height: 4px;
	transform: rotateZ(-90deg) translateX(-6px) translateY(54px);
	opacity-mask: url("s2r://panorama/images/hud/reborn/statbranch_progress_mask_psd.vtex") 1.0;	
	horizontal-align: right;
    //visibility: collapse;
}

.LevelProgressBlur
{
	height: 12px;
	blur: gaussian( 3 );
	z-index: -1;
	transform: rotateZ(-90deg) translateX(-6px) translateY(53px);
}

#StatLevelProgressBarBlur
{
	//visibility: collapse;
	width: 100%;
	height: 14px;
	background-color: none;
	box-shadow: none;
	border: 0px solid transparent;
	padding: 4px;
	vertical-align: middle;
	border-radius: 0px;
}

.LevelProgress .ProgressBarLeft,
.LevelProgressBlur .ProgressBarLeft
{
	transition-property: width;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}

.LevelProgressBlur #StatLevelProgressBarBlur .ProgressBarLeft
{
	background-color: #FF6F0066;
}

.LevelProgressBlur #StatLevelProgressBarBlur .ProgressBarRight
{
	background-color: transparent;
}


#StatLevelProgressBar
{
	
	width: 100%;
	height: 100%;
	border: 0px solid transparent;
	height: 3px;
	height: 6px;
	vertical-align: middle;

	border-radius: 1px;
	background-color: none;
	box-shadow: none;
}

.StatBranchRow
{
	flow-children: right;
	horizontal-align: center;
	overflow: noclip;
}

.StatBranchPip
{
	width: 37px;
	height: 26px;
	
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_pip_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0;
	//wash-color: #E7D291;
	transition-property: opacity;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}

#StatRow25 .StatBranchPip
{
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_pip25_psd.vtex");
	background-size: 100% 20px;
}

#StatRow20 .StatBranchPip
{
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_pip20_psd.vtex");
	background-size: 100% 26px;
}

#StatRow15 .StatBranchPip
{
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_pip15_psd.vtex");
	background-size: 100% 30px;
}

#StatRow10 .StatBranchPip
{
	background-image: url("s2r://panorama/images/hud/reborn/statbranch_pip10_psd.vtex");
	background-size: 100% 26px;
}

#StatRow25 { transform: translateY(6px) translateX(0px); }
#StatRow20 { transform: translateY(18px); }
#StatRow15 { transform: translateY(33px); }
#StatRow10 { transform: translateY(46px); }

#StatRow25 .LeftBranchPip { transform: scaleX(-1) translateX(1px); }

.RightBranchSelected .RightBranchPip,
.LeftBranchSelected .LeftBranchPip
{
	opacity: 1;
}

.LeftBranchPip.StatBranchPip
{
	horizontal-align: left;
	transform: scaleX(-1);	
}



.RightBranchPip.StatBranchPip
{
	horizontal-align: right;
}

#StatPipContainer
{
	width: 100%;
	height: 100%;
}

#StatLevelProgressBar .ProgressBarLeft
{
	background-color: #E7D291;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #E7D291 ), color-stop( .35, #E7D291 ), to( #f36f1d ) );	
}

#level_stats_frame
{
	margin-left: 178px;
	vertical-align: bottom;
	width: 74px;
	height: 172px;
	height: 232px;
	z-index: 3;
}

#xp
{
	width: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	z-index: 6;
}

#unitname
{
	width: 220px;
	height: 18px;
	margin-left: 16px;
	margin-bottom: 148px;
	margin-bottom: 126px;
	vertical-align: bottom;
	z-index: 3;
	transition-property: opacity;
	transition-duration: 0.18s;
	transition-timing-function: ease-in-out;	
}

.BuybackYes .UnitDead.LocalHeroDead #unitname
{
	opacity: 0;
}

#levelup
{
	margin-left: 10px;
	margin-bottom: 170px;
	vertical-align: bottom;
	z-index: 5;
	visibility: collapse;
}

#StatDrawerTopRight
{
	vertical-align: bottom;
	horizontal-align: center;	
	flow-children: down;
	//border: 1px solid red;
	background-color: #00000000;
//	transform: translateY(12px);
//	border-top-right-radius: 12px;
//	border-top-left-radius: 12px;		
	margin-bottom: 132px; 
	margin-bottom: 112px; 
	margin-left: 484px;

	transition-property: transform, opacity, background-color;
	transition-duration: 0.12s;
	transition-timing-function: ease-in-out;	
}

.FiveAbilities #StatDrawerTopRight
{
    margin-left: 552px;
}

.SixAbilities #StatDrawerTopRight
{
	margin-left: 628px;
}

.HUDFlipped #StatDrawerTopRight
{
    margin-left: -242px;
}

.HUDFlipped.FiveAbilities.HUDFlipped #StatDrawerTopRight
{
    margin-left: -276px;
}

.HUDFlipped.SixAbilities #StatDrawerTopRight
{
    margin-left: -310px;
}

#StatDrawerTopRight.AltPressed 
{
//	transform: translateY(0px);
	//background-color: #000000aa;	

}

#stats
{
    width: 130px;
    height: 122px;
    //background-color: #00000088;
	z-index: 1;
}

#StatDrawerTopRight #stats
{
	width: 252px;
	height: 42px;
}

#stragiint
{
	vertical-align: bottom;
	flow-children: right;
    horizontal-align: center;
    z-index: 5;
	opacity: 0;
	pre-transform-scale2d: 1;
	transform: translateY(32px);
	width: fit-children;

	transition-property: transform, opacity, pre-transform-scale2d;
	
	transition-duration: 0.09s;
	transition-timing-function: ease-in-out;	
}

.AltPressed #stragiint
{
	opacity: 1;
	pre-transform-scale2d: 1;
	transform: translateY(0px);
}

.HUDFlipped #stragiint
{
	transform: scaleX(-1) translateY(32px);
}

.HUDFlipped .AltPressed #stragiint
{
	transform: scaleX(-1) translateY(0px);
}

#econ_item
{
	margin-left: 85px;
	margin-bottom: 35px;
	width: 97px;
	height: 69px;
	vertical-align: bottom;
	visibility: collapse;
}

#hero_statue
{
	margin-left: 246px;
	vertical-align: bottom;
	z-index: 1;
	width: 715px;
	height: 136px;
	background-image: url("s2r://panorama/images/hud/international_bg_png.vtex");
	background-size: 100%;
}

#international_hall_of_fame
{
	margin-left: 246px;
	vertical-align: bottom;
	z-index: 1;
	width: 715px;
	height: 165px;
	background-image: url("s2r://panorama/images/hud/international_bg_png.vtex");
	background-size: 100%;
}

#pa_gravestone
{
	margin-left: 246px;
	vertical-align: bottom;
	z-index: 1;
	width: 715px;
	height: 178px;
}

#health_mana
{
	vertical-align: bottom;
    width: 100%;
}

.FiveAbilities #health_mana
{

}

.SixAbilities #health_mana
{

}

#abilities
{
	margin-left: 184px;
	margin-left: 260px;
	margin-right: 184px;
    margin-bottom: 64px;
	margin-right: 260px;
    vertical-align: bottom;
    horizontal-align: center;
    min-width: 200px;
}

.FiveAbilities #abilities {

}

#buffs
{

    margin-bottom: 134px;
	margin-left: 50%;
	horizontal-align: left;
	vertical-align: bottom;
	flow-children: right;
	transform: translateY(0px);
	transition-property: opacity, transform;
	transition-duration: 0.12s;
	
}

.HasAbilityToSpend #debuffs,
.HasAbilityToSpend #buffs
{
	transform: translateY(-32px);
}

.HUDFlipped .HasAbilityToSpend #debuffs,
.HUDFlipped .HasAbilityToSpend #buffs
{
	transform: translateY(-32px) ScaleX(-1);
}

#debuffs
{
	margin-bottom: 134px;
	margin-right: 50%;
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: left;
	transform: translateY(0px);	
	transition-property: opacity, transform;
	transition-duration: 0.12s;
}

.HUDFlipped #buffs
{
    flow-children: right;
	horizontal-align: right;
	margin-left: 0%;
	margin-right: 50%;
	transform: ScaleX(-1);
}

.HUDFlipped #debuffs
{
	flow-children: left;
	horizontal-align: left;
	margin-right: 0%;
	margin-left: 50%;
	transform: ScaleX(-1);
}

#spacer_right
{
	margin-left: 1353px;
	vertical-align: bottom;
	z-index: 2;
	width: 110px;
	height: 235px;
	background-image: url("s2r://panorama/images/hud/default/inventory/spacer_png.vtex");
	background-size: 100%;
}

#shop_launcher_block
{
	vertical-align: bottom;
	horizontal-align: right;
}

// Custom game SetHUDVisible support
.HIDE_INVENTORY_SHOP #shop_launcher_block,
.HIDE_INVENTORY_SHOP #shop
{
	visibility: collapse;
}

#shop_launcher_bg
{
	margin-right: 0px;
	margin-bottom: 0px;
	horizontal-align: right;
	vertical-align: bottom;
	z-index: -2;
	width: 278px;
	height: 60px;
	background-image: url("s2r://panorama/images/hud/reborn/courier_gold_bg_262_psd.vtex");
	background-size: 100%;	
}

#BuybackStatus
{
	tooltip-position: top;
	tooltip-body-position: 100% 0%;
	width: 32px;
	height: 32px;
	margin-left: 20px;
	vertical-align: bottom;	
	background-image: url("s2r://panorama/images/hud/reborn/portrait_buyback_status_no_psd.vtex");
}

#BuybackReady
{
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/hud/reborn/portrait_buyback_status_yes_psd.vtex");
	visibility: collapse;
}

.BuybackYes #BuybackReady
{
	visibility: visible;
	
}

#inventory
{
	margin-right: 52px;
	margin-right: 72px;
    margin-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	vertical-align: bottom;
	horizontal-align: right;
    //background-image: url("s2r://panorama/images/hud/reborn/inventory_bg_psd.vtex");
	//background-size: 100%;
	height: 146px;
	height: 126px;
    width: 124px;
	width: 200px;
	width: 180px;
}

// Custom game SetHUDVisible support
.HIDE_INVENTORY_PANEL #inventory,
.HIDE_INVENTORY_PANEL #right_flare,
.HIDE_INVENTORY_PANEL #StatDrawerTopRight
{
	visibility: collapse;
}

.Reborn #stash
{
	horizontal-align: right;
	margin-right: 0px;
	margin-bottom: 72px;
	vertical-align: top;
	width: 750px;

	transform: translateX( 0px );

	transition-property: transform;
	transition-duration: 0.05s;
}

.Reborn #stash.QuickBuyRows2
{
	margin-bottom: 106px;
}

.Reborn #shop.QuickBuyRows2
{
	margin-bottom: 201px;
}


#stash.ShopOpen
{
//	transform: translateX( -371px );
}

#quickstats
{
	//margin-bottom: 5px;
	vertical-align: bottom;
	text-shadow: 0px 0px 6px 6 #000000;
	z-index: 4;	
}

#quickbuy
{
	margin-right: 0px;
	width: 262px;

	horizontal-align: right;
	vertical-align: bottom;
}

#spectator_dvr
{
	width: 870px;
	//margin-bottom: 20px;
	horizontal-align: center;
	vertical-align: bottom;	
}

.HUDFlipped #quickbuy
{
	transform: scaleX(-1);
}

#VoiceChat
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 280px;
}

#left_flare
{
	background-image: url("s2r://panorama/images/hud/reborn/side_flare_tall_psd.vtex");
	background-size: 100%;
    width: 52px;
    height: 146px;
	height: 128px;
	margin-left: 20px;
	vertical-align: bottom;
}

#right_flare
{
	background-image: url("s2r://panorama/images/hud/reborn/side_flare_tall_psd.vtex");
	background-size: 100%;
	transform: scaleX(-1);
	width: 52px;
    height: 146px;
	height: 128px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 20px;
}

#GameEndContainer
{
	width: 100%;
	height: 100%;
}

#QueryUnit
{
	horizontal-align: left;
	vertical-align: center;
	vertical-align: top;
	margin-top: 510px;
	min-width: 285px;
	//pre-transform-scale2d: 2;
	//horizontal-align: center;	
	
}

#QueryUnit.HallOfFame
{
	margin-top: 320px;
}

.HUDFlipped #QueryUnit
{
	horizontal-align: right;
}

@define toastExitDuration: 0.3s;

#PredictionToastManager
{
	margin-top: 450px;
	height: fit-children;
	horizontal-align: right;
	flow-children: down;
}

#PredictionToastManager > .ToastPanel
{
	opacity: 0.0;
	transform: translateX( -40px );

	transition-property: position, opacity, transform;
	transition-duration: toastExitDuration;
}

#PredictionToastManager > .ToastPanel.ToastVisible
{
	opacity: 1.0;
	transform: none;
}

#PredictionToastManager Label
{
    font-size: 14px;
}

#SpectatorGraph
{
	horizontal-align: left;
	margin-left: 0px;
	margin-top: 85px;
	width: 910px;
	height: 700px;
	opacity: 1.0;
}

#spectator_game_stats
{
	width: 300px;
	margin-left: 6px;
	margin-top: 50px;
	z-index: -1;

	/* For debugging next to old version */
	/* margin-left: 340px; */
}

#spectator_options
{
	width: 200px;
	horizontal-align: right;
	margin-top: 52px;
	margin-right: 8px;

	/* For debugging next to old version */
	/* margin-right: 200px; */
}

#combat_events
{
	horizontal-align: right;
	margin-top: 320px;
}

.HUDFlipped #combat_events
{
	horizontal-align: left;
}

#shop
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 172px;
	z-index: 8;
}

.HUDFlipped #shop
{
	horizontal-align: left;
}

#HUDSkinPortrait
{
	width: 230px;
	height: 230px;
	transform: translateY(30px) translateX(6px);
	visibility: collapse;

	background-size: 100%;
	vertical-align: bottom;
	z-index: 3;
}

.Reborn.CustomHUDSkin #HUDSkinPortrait
{
	visibility: visible;
}

#HUDSkinXPBackground
{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: black;
	z-index: 1;
	vertical-align: bottom;
	margin-left: 43px;
	transform: translateY(6px);
    visibility: collapse;
}

.Reborn.CustomHUDSkin #XP
{
	//transform: translateX(27px) translateY(12px);
}

.Reborn.CustomHUDSkin #unitname
{
	transform: translateY(-6px);
}

.Reborn.CustomHUDSkin #HUDSkinPortrait
{
	visibility: visible;
}


.Reborn.CustomHUDSkin #center_bg
{
	//transform: translateX(14px);
	//background-size: 300px 400px;
	//background-position: 0px -90px;
}


.Reborn.CustomHUDSkin #inventory,
.Reborn.CustomHUDSkin #health_mana,
.Reborn.CustomHUDSkin DOTAAbilityList
{
	//transform: translateX(14px);

}

.Reborn.CustomHUDSkin #right_flare
{
	//transform: translateX(-14px) scaleX(-1);	
}


#HUDSkinAbilityContainerBG
{
	width: 314px;
	height: 126px;
	margin-left: 252px;
	vertical-align: bottom;
	//transform: translateY(18px) translateX(-12px);
	visibility: collapse;
	overflow: clip;

	background-size: 230% 142%;
	background-position: 0% -53px;
	z-index: -1;
	//z-index: 11;
}

.FiveAbilities #HUDSkinAbilityContainerBG
{
	width: 374px;
}

.SixAbilities #HUDSkinAbilityContainerBG
{
	width: 445px;
}

.Reborn.CustomHUDSkin #HUDSkinAbilityContainerBG
{
	visibility: visible;
}

#GuideBrowser
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 50px;
}

#AltKeyHint
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 210px;
	color: white;
	font-size: 17px;
	opacity: 0.0;
}

@keyframes 'ShowTemporaryAltKeyHint'
{
	0%
	{
		opacity: 0.0;
	}
				
	10%
	{
		opacity: 1.0;
	}

	80%
	{
		opacity: 1.0;
	}

	100%
	{
		opacity: 0.0;
	}
}

#AltKeyHint.ShowAltKeyHint
{
	animation-name: ShowTemporaryAltKeyHint;
	animation-duration: 8.00s;
	animation-delay: 3.00s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

#StatBranchDrawer
{
	width: 512px;
	height: 320px;
	//border: 1px solid red;
	horizontal-align: center;
	vertical-align: bottom;
    margin-right: 278px;
	margin-bottom: 98px;
	z-index: 2;
	visibility: visible;
}
.FiveAbilities #StatBranchDrawer
{
    margin-left: -68px;
}
.SixAbilities #StatBranchDrawer
{
    margin-left: -146px;
}

#StatBranchGraphics
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/hud/reborn/statbranch_mask_psd.vtex") 1;	
}

.NonHero #StatBranchGraphics
{
	opacity-mask: none;	
}

#MorphProgress
{
	visibility: collapse;
	border: 1px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-radius: 0px;
	width: 88px;
	height: 10px;
	vertical-align: bottom;
	horizontal-align: center;
	
	margin-bottom: 60px;
	margin-left: 72px;
}

.HasMorph.HasScepter #MorphProgress
{
	margin-left: 0px;
}

.HasMorph #MorphProgress
{
	visibility: visible;
}

.HasMorph.npc_dota_hero_rubick #MorphProgress
{
	margin-left: 144px;
}

#MorphProgress .ProgressBarLeft
{
	background-color: #509431;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), color-stop( .35, #509431 ), color-stop( .65, #509431aa ), to( #000000 ) );	
	//margin-right: 3px;
}

#MorphProgress .ProgressBarRight
{
	background-color: #880000;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000 ), color-stop( .35, #880000 ), color-stop( .65, #880000aa ), to( #000000 ) );	
	//margin-left: 3px;
}


#MorphProgress .ProgressBarLeft,
#MorphProgress .ProgressBarRight
{
//	border-radius: 2px;
}


.MorphAgiWeighted #MorphProgress .ProgressBarLeft
{

	border-right: 2px solid #00ff00;
}

.MorphStrWeighted #MorphProgress .ProgressBarRight
{
	border-left: 2px solid #ff0000;
}

.AbilityInsetShadowLeft
{
    background-image: url("s2r://panorama/images/hud/reborn/ability_inset_shadow_psd.vtex");
    background-size: 100%;
    background-repeat: no-repeat;
    //transform: scaleX(-1);
    width: 10px;
    height: 126px;
    vertical-align: bottom;
    margin-left: 252px;
    z-index: 800;
}

.AbilityInsetShadowRight
{
    background-image: url("s2r://panorama/images/hud/reborn/ability_inset_shadow_psd.vtex");
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    width: 10px;
    height: 126px;
    vertical-align: bottom;
    horizontal-align: right;
    margin-right: 252px;
    z-index: 800;
}

#death_panel_buyback
{
	width: 106px;
	margin-left: 72px;
}


#death_panel_buyback.AltPressed 
{
	opacity: .05;
}
