DOTATooltipUnitDamageArmor #Contents
{
	background-color: black;
	flow-children: down;
	padding: 0px;
	border: 0px;
}

DOTAHudUnitDamageArmor
{
	visibility: collapse;
}

#AttackDefenseContainer
{
	width: 540px;
	height: 160px;
    flow-children: right;
}

.QueryUnit #AttackDefenseContainer
{
    flow-children: down;
    width: 270px;
    height: 288px;
}

#AttackContainer
{
	width: 50%;
	height: 100%;
	border-top: 4px solid black;
	border-right: 3px solid black;
	border-bottom: 5px solid black;
	border-left: 6px solid black;
	padding: 8px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #1b1b1b ), to( #000 ) );
}

#DefenseContainer
{
	width: 50%;
	height: 100%;
	border-top: 4px solid black;
	border-right: 6px solid black;
	border-bottom: 5px solid black;
	border-left: 3px solid black;
	padding: 8px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #1b1b1b ), to( #000 ) );
	
}

.QueryUnit #AttackContainer,
.QueryUnit #DefenseContainer
{
    width: 100%;
    height: 50%;
}

#AttackHeader,
#DefenseHeader
{
	font-size: 20px;
	horizontal-align: center;
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
	color: #656565;
	margin-bottom: 5px;
}

.StatName
{
	font-weight: normal;
	horizontal-align: left;
	font-size: 16px;
	margin-left: 8px;
	color: #a2a2a2;
}

.BaseValue,
#AttacksPerSecond
{
	color: white;
	text-align: left;
	margin-left: 120px;
	font-size: 16px;
}

#AttacksPerSecond
{
	margin-left: 5px;
}

.BonusValue
{
	color: #3ed038;
	font-size: 16px;
}

.NegativeValue .BonusValue
{
	color: red;
}

.NoBonus .BonusValue
{
	visibility: collapse;
}


#AttributesContainer
{
	height: 240px;
	width: 100%;
	visibility: collapse;
}

.QueryUnit.Hero #AttributesContainer
{
    visibility: collapse;
}

.Hero #AttributesContainer
{
	visibility: visible;
}

.AttributeRow
{
	height: fill-parent-flow( 32.0 );
	width: 100%;
	padding: 5px;
}

.AttributeRow.PrimaryAttribute
{
	height: fill-parent-flow( 36.0 );
}

#StrengthContainer.AttributeRow.PrimaryAttribute
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #000 ), to( #380f01 ) );
	margin-left: 6px;
}

#AgilityContainer.AttributeRow.PrimaryAttribute
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #000 ), to( #09360b ) );
	margin-left: 6px;
}

#IntelligenceContainer.AttributeRow.PrimaryAttribute
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #000 ), to( #003237 ) );
	margin-left: 6px;
	margin-bottom: 6px;
}

.AttributeIcon
{
	width: 32px;
	height: 32px;
	horizontal-align: left;
	vertical-align: top;
	margin-left: 70px;
	background-size: 100%;
	margin-top: 2px;
}

#StrengthIcon
{
	background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");
}

#AgilityIcon
{
	background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex");
}

#IntelligenceIcon
{
	background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex");
}

.AttributeDetails
{
	padding-top: 8px;
	margin-left: 8px;
}

.BaseAttributeValue
{
	font-size: 18px;
	color: white;
	font-weight: bold;
	
}

.BonusAttributeValue
{
	color: #3ed038;
	font-size: 18px;
	font-weight: bold;
}

.NegativeValue .BonusAttributeValue
{
	color: #ec3d06;
	font-size: 18px;
	font-weight: bold;
}

.NoBonus .BonusAttributeValue
{
	visibility: collapse;
}

.AttributeGain
{
	font-size: 16px;
	margin-top: 2px;
	margin-left: 5px;
}

.PrimaryAttributeBonus
{
	color: #ec3d06;
	visibility: collapse;
	font-size: 16px;
}


#AgilityContainer .PrimaryAttributeBonus
{
	color: #3ed038;
}

#IntelligenceContainer .PrimaryAttributeBonus
{
	color: #00d9ec;
}


.PrimaryAttribute .PrimaryAttributeBonus
{
	visibility: visible;
}

.StatBreakdownLabel
{
	font-size: 16px;
}

.ShowBonusDamage #DamageBonus,
.ShowBonusAttackSpeed #AttackSpeedBonus,
.ShowBonusAttackRange #RangeBonus,
.ShowBonusSpellAmp #SpellAmpBonus,
.ShowBonusManaRegen #ManaRegenBonus,
.ShowBonusHealthRegen #HealthRegenBonus,
.ShowBonusArmor #ArmorBonus,
.ShowBonusPhysicalResistance #PhysicalResistBonus,
.ShowBonusMagicResistance #MagicResistBonus
{
	visibility: visible;
}

#BottomArrow
{
    wash-color: black;
}


#AbilityDraftHeroStatsTooltip #AttackSpeedRow
{
	flow-children: right;
}