DOTATooltipGold #Contents
{
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

Label
{
	color: white;
	font-weight: thin;
	font-size: 17px;
}

#BuybackGold
{
	flow-children: right;
}

#BuybackGoldNeeded
{
	visibility: collapse;
	color: #FF0000;
	text-overflow: shrink;
}

.BuybackGoldRequired #BuybackGoldNeeded
{
	visibility: visible;
}

#BuybackGoldSurplus
{
	visibility: visible;
	color: #aaff22;
	text-overflow: shrink;
}

.BuybackGoldRequired #BuybackGoldSurplus
{
	visibility: collapse;
}


#GoldIcon
{
	width: 19px;
	height: 19px;
	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#CooldownReady
{
	visibility: collapse;
}

.CooldownReady #CooldownReady
{
	visibility: visible;
}

#CooldownNotReady
{
	visibility: visible;
}

.CooldownReady #CooldownNotReady
{
	visibility: collapse;
}

#DeathCost
{
	visibility: collapse;
}

.ShowDeathCost #DeathCost
{
	visibility: visible;
}

#DeathTime
{
	visibility: collapse;
}

.ShowDeathTime #DeathTime
{
	visibility: visible;
}

#BuybackCost
{
	visibility: collapse;
}

.ShowBuybackCost #BuybackCost
{
	visibility: visible;
}
