/* styles for the ability tooltip */

DOTAAbilityDetails
{
    width: 100%;
    flow-children: down;
}
DOTAAbilityDetails.NoAbilityData
{
	visibility: collapse;
}

Label
{
	font-size: 15px;
	font-weight: normal;
}

.Hidden
{
	visibility: collapse;
}

#ItemImage
{
	visibility: collapse;
}

.Item #ItemImage
{
	visibility: visible;
	width: 67px;
	height: 53px;
	margin-right: 8px;
	margin-bottom: 4px;
}

#Header
{
	flow-children: right;
}

#HeaderLabels
{
	flow-children: down;
}

#AbilityHeader
{
    flow-children: right;
}

#AbilitySubHeader
{
	width: 100%;
	flow-children: right;
}

#AbilityName
{
    font-size: 19px;
    color: white;
    width: fill-parent-flow( 1.0 );
    vertical-align: middle;
    text-overflow: shrink;
}

#AbilityLevel
{
    horizontal-align: right;
    margin-left: 8px;
    vertical-align: middle;
    color: white;
}

#AbilityTarget
{
    border-top-color: #626262;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-color: #626262;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    width: 100%;
    padding: 5px 0px 2px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    flow-children: down;
}

#AbilityTarget Label
{
    color: white;
    font-size: 16px;
}

.Item #AbilityTarget
{
	visibility: collapse;
}

#AbilityCoreDetails
{
	flow-children: down;
}

DOTAGameItemsPage #AbilityCoreDetails
{
	max-height: 440px;
	padding-right: 10px;
	overflow: squish scroll;
}

#ItemSubtitle
{
	visibility: collapse;
}

.ShowItemSubtitle #ItemSubtitle
{
	visibility: visible;
}

#ItemCost
{
	flow-children: right;
	visibility: collapse;
}

.ShowItemCost #ItemCost
{
	visibility: visible;
}

#ItemCostIcon
{
	width: 23px;
	height: 23px;
	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
	background-size: 100%;
	margin-right: 5px;
}

#BuyCostLabel
{
	color: #FFCC33;
	font-size: 16px;
	font-weight: bold;
	margin-top: 3px;
}

#RestockTime
{
	font-size: 16px;
	color: red;
	margin-top: 4px;
	margin-left: 25px;
}

#OutOfStockFooter
{
	font-size: 17px;
	color: red;
}

#RestockTime,
#OutOfStockFooter
{
	visibility: collapse;
}

.OutOfStock #RestockTime,
.OutOfStock #OutOfStockFooter
{
	visibility: visible;
}

#StockAmount
{
	font-size: 16px;
    color: white;
	horizontal-align: right;
	visibility: collapse;
	margin-top: 4px;
	margin-left: 25px;
}

.ShowStockAmount #StockAmount
{
	visibility: visible;
}

#NotEnoughGoldlabel
{
	font-size: 17px;
	color: red;
	visibility: collapse;
}

.NotEnoughGold #NotEnoughGoldLabel
{
	visibility: visible;
}

#CostToComplete
{
	color: #FFCC33;
	font-size: 16px;
	font-weight: bold;
	visibility: collapse;
}

.ShowCostToComplete #CostToComplete
{
	visibility: visible;
}

#OwnedBy
{
	font-size: 15px;
	font-weight: bold;
	visibility: collapse;
}

.ShowOwnedBy #OwnedBy
{
	visibility: visible;
}

#SellPriceLabel
{
	visibility: collapse;
	color: #D58A17;
	font-size: 15px;
	font-weight: bold;
}

.ShowSellPrice #SellPriceLabel
{
	visibility: visible;
}

#SellPriceTimeLabel
{
	visibility: collapse;
	color: #D58A17;
	font-size: 15px;
	font-weight: bold;
}

.ShowSellPriceTime #SellPriceTimeLabel
{
	visibility: visible;
}

#DisassembleLabel
{
	visibility: collapse;
	color: #D58A17;
	font-size: 15px;
	font-weight: bold;
}

.ShowDisassemble #DisassembleLabel
{
	visibility: visible;
}

#DisassembleTimeLabel
{
	visibility: collapse;
	color: #D58A17;
	font-size: 15px;
	font-weight: bold;
}

.ShowDisassembleTime #DisassembleTimeLabel
{
	visibility: visible;
}

#AbilityDescription
{
    color: #CCCCCC;
    font-size: 16px;
}

#AbilityExtraDescription, #AbilityScepterDescription, #ItemScepterDescription
{
    font-size: 16px;
    color: #70EA72;
}

#ItemScepterDescription
{
	margin-top: 13px;
}

#AbilityExtraDescription
{
	visibility: collapse;
}

.ShowExtraDescription #AbilityExtraDescription:not(.Hidden)
{
	visibility: visible;
}

#AbilityCosts
{
    flow-children: right;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#AbilityCosts Label
{
    color: #7d7d7d;
    font-size: 16px;
    width: 50%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
}

#AbilityCosts #AbilityCooldown
{
    background-image: url("s2r://panorama/images/status_icons/ability_cooldown_icon_psd.vtex");
	text-overflow: shrink;
}

#AbilityCosts #AbilityManaCost
{
    background-image: url("s2r://panorama/images/status_icons/ability_manacost_icon_psd.vtex");
}

#AbilityLore
{
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    color: #CCCCCC;
    font-weight: thin;
}

#AbilityUpgradeLevel
{
    color: #ffcc33;
}

#AbilityBuildHeader
{
    color: #ff9900;
    font-size: 18px;
    margin-top: 5px;
    width: 100%;
    border-bottom-color: #626262;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 5px;
}

#AbilityBuildComment
{
    color: #ffffff;
}

// DOTA_ITEM_QUALITY_CONSUMABLE
// DOTA_ITEM_QUALITY_PLAIN
.ItemColor0, .ItemColor1    
{
}

// DOTA_ITEM_QUALITY_COMMON
.ItemColor2
{
    wash-color: #2BAD00;
}

// DOTA_ITEM_QUALITY_RARE   Color( 26, 137, 253, 255 );  // rare blue
.ItemColor3
{
    wash-color: #1A89FD;
}

// DOTA_ITEM_QUALITY_EPIC   Color( 187, 17, 254, 255 );  // epic purpz
.ItemColor4
{
    wash-color: #BB11FE;
}

// DOTA_ITEM_QUALITY_ARTIFACT   Color( 230, 158, 0, 255 );   // orange artifact/orb
.ItemColor5
{
    wash-color: #E69E00;
}
    
// DOTA_ITEM_QUALITY_SECRET_SHOP    Color( 48, 207, 207, 255 );      // teal secret shop
.ItemColor6
{
    wash-color: #30CFCF;
}

.ItemAvailabilityRow
{
	flow-children: right;
	visibility: collapse;
}

.ItemAvailabilityIcon
{
	width: 30px;
	height: 30px;

	wash-color: #ccc;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ItemAvailabilityRow > Label
{
	vertical-align: middle;
	margin-top: 4px;
	color: #ccc;
	margin-left: 3px;
}

.AvailableAtMainShop:not(.InventoryItem) #ItemAvailibilityMainShop,
.AvailableAtSideShop:not(.InventoryItem) #ItemAvailibilitySideShop,
.AvailableAtSecretShop:not(.InventoryItem) #ItemAvailibilitySecretShop
{
	visibility: visible;
}

.SecretShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_secret_psd.vtex");
}
.SideShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_side_psd.vtex");
}

