/* styles for the ability tooltip */

DOTAAbilityDetails
{
	width: 100%;
	flow-children: down;
}

DOTAAbilityDetails.NoAbilityData
{
	visibility: collapse;
}

Label
{
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0px;
}

.Hidden
{
	visibility: collapse;
}

#ItemImage
{
	width: 66px;
	height: 48px;
	margin-top: 4px;
	margin-right: 8px;
	margin-bottom: 6px;
	margin-left: 4px;
	box-shadow: 0px 0px 4px black;
	visibility: collapse;
}

.Item #ItemImage
{
	visibility: visible;
}

#AbilityImage
{
	width: 66px;
	height: 48px;
	margin-top: 4px;
	margin-right: 8px;
	margin-bottom: 6px;
	margin-left: 4px;
	box-shadow: 0px 0px 4px black;
}

.Item #AbilityImage
{
	visibility: collapse;
}

#Header
{
	flow-children: right;
}

.DescriptionOnly #Header
{
	visibility: collapse;
}

#HeaderLabels
{
	flow-children: down;
}

#AbilityHeader
{
	flow-children: right;
}

#AbilitySubHeader
{
	width: 100%;
	margin-top: -4px;
	flow-children: right;
}

#AbilityName
{
	font-size: 18px;
	color: #e1e1e1;
	width: fill-parent-flow( 1.0 );
	vertical-align: middle;
	padding-left: 4px;
	text-overflow: shrink;
	letter-spacing: 0.5px;
	text-shadow: 2px 2px 0px 1.0 #00000090;
	margin-top: 2px;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-transform: uppercase;
	font-weight: semi-bold;
}

.IsAbility #AbilityName
{
	padding-left: 8px;
}

#AbilityLevel
{
	horizontal-align: right;
	margin-left: 8px;
	/* margin-top: 6px; */
	vertical-align: middle;
	color: white;
	font-size: 15px;
}

#AbilityTarget
{
	border-top-color: #29353b;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-color: #29353b;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	width: 100%;
	padding: 5px 0px 2px 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	flow-children: down;
}

#AbilityTarget Label
{
	color: #596e89;
	font-size: 16px;
}

.BuildCommentEditMode #AbilityTarget
{
	visibility: collapse;
}

.GameplayVariable
{
	font-weight: semibold;
	color: #e1e1e1;
}

.Item #AbilityTarget
{
	visibility: collapse;
}

#AbilityCoreDetails
{
	flow-children: down;
}

.IsItem #AbilityCoreDetails
{
	margin-top: 16px;
}

.BuildCommentEditMode #AbilityCoreDetails
{
	visibility: collapse;
}

#AbilityAttributes
{
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 4px;
	font-size: 17px;
	width: 400px;
}

.ShowScepterOnly #AbilityAttributes
{
	visibility: collapse;
}

DOTAGameItemsPage #AbilityCoreDetails,
DOTAAbilityGuideBuilder #AbilityCoreDetails
{
	max-height: 440px;
	padding-right: 10px;
	overflow: squish scroll;
}

#ItemSubtitle
{
	visibility: collapse;
}

.ShowItemSubtitle #ItemSubtitle
{
	visibility: visible;
	vertical-align: center;
	padding-left: 4px;
}

#NeutralItemTier
{
	color: #666;
	font-size: 16px;
	padding-left: 4px;
	margin-top: 2px;
	visibility: collapse;
}

.IsNeutralItem #NeutralItemTier
{
	visibility: visible;
}

#ItemCost
{
	flow-children: right;
	visibility: collapse;
}

.ShowItemCost:not(.IsNeutralItem) #ItemCost
{
	visibility: visible;
}

#ItemCostIcon
{
	width: 23px;
	height: 23px;
	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
	background-size: 100%;
	margin-right: 5px;
	margin-left: 4px;
}

#BuyCostLabel
{
	color: #FFCC33;
	font-size: 16px;
	font-weight: bold;
	margin-top: 3px;
	text-shadow: 2px 2px 0px 1.0 #00000088;
	font-family: RadianceM;
}

.ShowScepterOnly #ItemCost
{
	visibility: collapse;
}

#BuyCostDeficit
{
	visibility: collapse;
	color: #e03e2e;
	font-size: 16px;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 4px;
	text-shadow: 2px 2px 0px 1.0 #00000088;
	font-family: RadianceM;
}

.NotEnoughGold #BuyCostDeficit
{
	visibility: visible;
}



#RestockTime
{
	font-size: 16px;
	color: #e03e2e;
	margin-top: 3px;
	margin-left: 6px;
	text-shadow: 2px 2px 0px 1.0 #00000090;
}

#OutOfStockFooter
{
	font-size: 17px;
	color: #e03e2e;
	visibility: collapse;
}

#RestockTime,
#OutOfStockFooter
{
	visibility: collapse;
}

.OutOfStock #RestockTime,
.OutOfStock #OutOfStockFooter
{
	visibility: visible;
}

#StockAmount
{
	font-size: 16px;
	color: #e1e1e1;
	horizontal-align: right;
	visibility: collapse;
	margin-top: 3px;
	margin-left: 6px;
	text-shadow: 2px 2px 0px 1.0 #00000090;
}

.ShowStockAmount #StockAmount
{
	visibility: visible;
}

#NotEnoughGoldLabel
{
	font-size: 17px;
	color: red;
	visibility: collapse;
}

.NotEnoughGold #NotEnoughGoldLabel
{
	visibility: collapse;
}

#CostToComplete
{
	color: #FFCC33;
	font-size: 16px;
	font-weight: bold;
	visibility: collapse;
}

.ShowCostToComplete #CostToComplete
{
	visibility: visible;
}

#OwnedBy
{
	font-size: 15px;
	font-weight: bold;
	visibility: collapse;
}

.ShowOwnedBy #OwnedBy
{
	visibility: visible;
}

#SellPriceLabel
{
	visibility: collapse;
	color: #D58A17;
	font-size: 15px;
	font-weight: bold;
}

.ShowSellPrice #SellPriceLabel
{
	visibility: visible;
}

#SellPriceTimeLabel
{
	visibility: collapse;
	color: #D58A17;
	font-size: 15px;
	font-weight: bold;
}

.ShowSellPriceTime #SellPriceTimeLabel
{
	visibility: visible;
}

#DisassembleLabel
{
	visibility: collapse;
	color: #D58A17;
	font-size: 15px;
	font-weight: bold;
}

.ShowDisassemble #DisassembleLabel
{
	visibility: visible;
}

#DisassembleTimeLabel
{
	visibility: collapse;
	color: #D58A17;
	font-size: 15px;
	font-weight: bold;
}

.ShowDisassembleTime #DisassembleTimeLabel
{
	visibility: visible;
}

#AbilityDescriptionContainer
{
	flow-children: down;
	width: 320px;
}

#AbilityDescriptionContainer Label
{
	color: #9ab0cd;
	font-size: 16px;
	width: 320px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	padding-bottom: 8px;
	margin-bottom: 12px;
}

#AbilityDescriptionContainer Label.Header
{
	margin-bottom: 0px;
	padding-top: 4px;
	height: 28px;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url("s2r://panorama/images/hud/item_tooltip_passive_psd.vtex");
}

.ShowScepterOnly #AbilityDescriptionContainer
{
	visibility: collapse;
}

.IsItem #AbilityDescriptionContainer Label
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c262f ), to( #1b262f ) );
	color: #626d7b;
	text-shadow: 2px 2px 0px 1.0 #00000090;
}

.IsItem #AbilityDescriptionContainer .GameplayValues
{
	color: #474a61;
}

.IsItem #AbilityDescriptionContainer .GameplayValues.GameplayVariable
{
	color: #7e8c9d;
}

.IsItem #AbilityDescriptionContainer Label.Active.Header
{
	background-image: url("s2r://panorama/images/hud/item_tooltip_active_psd.vtex");
}

.IsItem #AbilityDescriptionContainer Label.Active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #171d2f ), to( #1b2437 ) );
	color: #7a80a7;
}

.IsItem #AbilityDescriptionContainer Label.Active h1
{
	color: #b0b0ff;
}

.IsItem #AbilityDescriptionContainer Label.Active .GameplayVariable
{
	color: #9f9fcf;
}

.IsItem.Consumable #AbilityDescriptionContainer Label.Active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #15221f ), to( #1a2926 ) );
	color: #7b8a72;
	text-shadow: 2px 2px 0px 1.0 #00000090;
}

.IsItem.Consumable #AbilityDescriptionContainer Label.Active.Header
{
	background-image: url("s2r://panorama/images/hud/item_tooltip_use_psd.vtex");
	color: #95c07a;
}

.IsItem.Consumable #AbilityDescriptionContainer Label.Active .GameplayVariable
{
	color: #95c07a;
}

.IsItem.Consumable #AbilityDescriptionContainer Label.Active h1
{
	color: #95c07a;
}

#AbilityAttributes
{
	color: #748090;
	text-shadow: 2px 2px 0px 1.0 #00000088;
}

#AbilityGameplayChanges
{
	background-color: #18212a;
	margin-top: 6px;
	margin-bottom: 6px;
	width: 320px;
	flow-children: down;
	visibility: collapse;
}

.VersionedNoteContainer
{
	padding-left: 8px;
	padding-right: 8px;
	flow-children: right;
}

.VersionedNoteContainer Label
{
	font-size: 14px;
}

.HasGameplayChanges #AbilityGameplayChanges
{
	visibility: visible;
}

.Version
{
	color: #a09259;
}

.NoteLine
{
	color: grey;
	width: 275px;
}

#AbilityExtraAttributes
{
	padding-left: 8px;
	color: #596e89;
}

Label .GameplayValues
{
	color: #4d5560;
}

Label .GameplayValues.GameplayVariable
{
	color: #e1e1e1;
}

Label .ScepterUpgrade
{
	color: #70EA72;
}

h1
{
	font-size: 16px;
	font-weight: semi-bold;
	color: #91a0b4;
}

#AbilityExtraDescription, #AbilityScepterDescription, #ItemScepterDescription, #AbilityScepterDescriptionContainer
{
	font-size: 16px;
	color: rgb(158, 182, 197);
	background-color: rgb(37, 56, 68);
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 8px;
	margin-bottom: 12px;
	margin-left: 8px;
	margin-right: 8px;
	width: 320px;
}

#ItemScepterDescription
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c262f ), to( #1b262f ) );
	color: #91a0b4;
}

#AbilityScepterDescriptionContainer
{
	flow-children: down;
	visibility: collapse;
}


.ScepterUpgradable #AbilityScepterDescriptionContainer
{
	visibility: visible;
}

#ScepterUpgradeHeader
{
	flow-children: right;
	width: 100%;
	height: fit-children;
	vertical-align: center;
	padding-top: 10px;
}

.Scepter
{
	color: #748090;
}

#AbilityExtraDescription
{
	visibility: collapse;
}

.ShowExtraDescription #AbilityExtraDescription:not(.Hidden)
{
	visibility: visible;
}

#AbilityDescriptionOuterContainer
{
	flow-children: down;
}

.IsItem #AbilityDescriptionOuterContainer
{
	flow-children: none;
}

#CurrentItemCosts
{
	flow-children: left;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 5px;
	visibility: collapse;
	z-index: 1;
}

.IsItem #CurrentItemCosts
{
	visibility: visible;
	flow-children: left;
	z-index: 1;
	margin-right: 8px;
}

#CurrentItemCosts Label
{
	color: #e1e1e1;
	font-size: 16px;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	padding-left: 25px;
	margin-left: 10px;
	text-shadow: 2px 2px 0px 1.0 #00000088;
	padding-top: 2px;
	font-weight: semi-bold;
}

#CurrentItemCosts .Cooldown, #CurrentItemCosts .ManaCost
{
	visibility: collapse;
}

.HasCooldown #CurrentItemCosts .Cooldown
{
	visibility: visible;
}

.HasManaCost #CurrentItemCosts .ManaCost
{
	visibility: visible;
}

.IsItem #AbilityCosts
{
	visibility: collapse;
}

.IsItem #CurrentAbilityCosts
{
	visibility: collapse;
}

.Cooldown
{
	background-image: url("s2r://panorama/images/status_icons/ability_cooldown_icon_psd.vtex");
	text-overflow: shrink;
	margin-left: 5px;
	margin-right: 2px;
}

.ManaCost
{
	margin-left: 5px;
	margin-right: 2px;
	text-overflow: shrink;
	background-image: url("s2r://panorama/images/status_icons/ability_manacost_icon_psd.vtex");
}

#AbilityLore
{
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	color: #3d4e5b;
	font-style: italic;
	background-color: #0b1215;
	width: 330px;
	margin-top: 12px;
}

DOTAGameItemsPage .IsRecipe #AbilityLore,
.ShowScepterOnly #AbilityLore
{
	visibility: collapse;
}

#AbilityUpgradeLevel
{
	color: #ffcc33;
}

.AbilityBuildHeader
{
	color: #ff9900;
	font-size: 18px;
	margin-top: 5px;
	width: 100%;
	border-bottom-color: #626262;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 5px;
	visibility: collapse;
}

.HasBuildComment:not(.DescriptionOnly) .AbilityBuildHeader:not(.Edit)
{
	visibility: visible;
}

.HasBuildComment:not(.DescriptionOnly) #AbilityBuildComment
{
	visibility: visible;
}

.BuildCommentEditMode .AbilityBuildHeader.Edit
{
	visibility: visible;
}

#AbilityBuildComment
{
	color: #ffffff;
	visibility: collapse;
}


#AbilityBuildCommentEdit
{
	height: fill-parent-flow( 1.0 );
	font-size: 16px;
	width: 100%;
	height: 250px;
	white-space: normal;
	overflow: squish scroll;
	visibility: collapse;
}

DOTAItemGuideBuilder #AbilityBuildCommentEdit
{
	height: 150px;
}

DOTAAbilityGuideBuilder #AbilityBuildCommentEdit
{
	height: 150px;
}

.BuildCommentEditMode #AbilityBuildCommentEdit
{
	visibility: visible;
}

#ItemCost
{
	vertical-align: center;
}

#AbilityName.Consumable
{
	//wash-color: #2BAD00;
}

#AbilityName..SimpleItem
{
}

#AbilityName..Recipe
{
	wash-color: #BBBBBB;
}


#AbilityName..FinishedItem
{
	wash-color: #E69E00;
}

#AbilityName..ComplexItem
{
	wash-color: #BB11FE;
}

.ItemAvailabilityRow
{
	flow-children: right;
	visibility: collapse;
}

.ItemAvailabilityIcon
{
	width: 30px;
	height: 30px;
	wash-color: #748090;
	margin-right: -2px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ItemAvailabilityRow > Label
{
	vertical-align: middle;
	margin-top: 4px;
	color: #ccc;
	margin-left: 3px;
}

.AvailableAtMainShop:not(.InventoryItem) #ItemAvailibilityMainShop,
.AvailableAtSideShop:not(.InventoryItem) #ItemAvailibilitySideShop,
.AvailableAtSecretShop:not(.InventoryItem) #ItemAvailibilitySecretShop
{
	visibility: visible;
}

.MainShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_main_psd.vtex");
	width: 24px;
	height: 24px;
	//background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 120%;
}

.SecretShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_secret_psd.vtex");
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: 120%;
}

.SideShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_side_psd.vtex");
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: 130%;
}

#AbilityTopRowContainer
{
	width: 100%;
}

#CurrentAbilityCosts
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: center;
}


#CurrentAbilityCosts Label
{
	color: #596e89;
	font-size: 16px;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	padding-left: 25px;
	margin-left: 10px;
}

#CurrentAbilityCosts #CurrentAbilityCooldown
{
	background-image: url("s2r://panorama/images/status_icons/ability_cooldown_icon_psd.vtex");
	text-overflow: shrink;
}

#CurrentAbilityCosts #CurrentAbilityManaCost
{
	background-image: url("s2r://panorama/images/status_icons/ability_manacost_icon_psd.vtex");
}

#AbilityCosts
{
	flow-children: right;
}

#AbilityCosts Label
{
	color: #7D7D7D;
	font-size: 16px;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	padding-left: 25px;
	margin-right: 10px;
}


#ConsumableAbilityInfo
{
	margin-top: 4px;
	width: 100%;
	font-size: 16px;
	background-color: #233154;
	padding: 5px 10px 5px 10px;
	color: #ccc;

	visibility: collapse;
}

.IsConsumableAbility #ConsumableAbilityInfo
{
	visibility: visible;
}


.ScepterSpecialAbilityDataIcon
{
	background-image: url("s2r://panorama/images/spellicons/aghsicon_psd.vtex");
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	wash-color: #a1b5d6;
	margin: 5px;
	margin-top: 0px;
	transform: rotateZ(-45deg);
	
}

.ScepterUpgradeHeaderLabel
{
	color: #a1b5d6;
	vertical-align: center;
	margin-bottom: 6px;
}

.ScepterUpgradeBodyLabel
{
	color: white;
	font-size: 14px;
	width: 320px;
	font-weight: light;
}

.IsRecipe #CurrentItemCosts
{
	visibility: collapse;
}

#AbilityDescriptionContainer .ComponentRow
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 8px;
	padding: 4px;
	width: 100%;
	background-color: #0B1215FF;
}

#AbilityDescriptionContainer .ComponentRow .PlusIcon
{
	vertical-align: top;
	margin-top: 12px;
	width: fit-children;
	background-color: #00000000;
	padding: 4px;
	margin: 0px;
}

#AbilityDescriptionContainer .ItemContainer
{
	flow-children: down;
	width: 65px;
}

#AbilityDescriptionContainer .ItemContainer .ComponentName
{
	background-color: #00000000;
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-size: 14px;
	text-overflow: shrink;
}

#AbilityDescriptionContainer DOTAItemImage
{
	width: 34px;
	height: 26px;
	vertical-align: top;
	margin: 0px;
	background-color: #00000066;
	border: 1px solid black;
}

#AbilityDescriptionContainer .ItemContainer DOTAItemImage
{
	horizontal-align: center;
}

.MissingComponent DOTAItemImage
{
	brightness: 0.3;
}