
.AchievementToast
{
	width: 100%;

	background-color: black;
	border: 1px solid #333;
	box-shadow: black 2px 2px;

	margin-bottom: 5px;
	padding: 10px 10px;

	flow-children: right;

	transition-property: background-color; 
	transition-duration: 0.2s;
}

#AchievementImage
{
	vertical-align: middle;
	width: 100px;
	height: 57px;
}

.TextContainer
{
	flow-children: down;
}

.AchievementToast .Title
{
	width: 220px;
	margin-left: 10px;
	font-size: 16px;
	color: white;
	text-transform: uppercase;
}

.AchievementToast .Text
{
	width: 220px;
	margin-left: 10px;
	font-size: 16px;
	color: #ccc;
}

.AchievementToast:hover
{
	background-color: #222;
}

.AchievementToast:active
{
	background-color: #111;
}

