
DOTAActiveFriends
{
	width: 100%;
	//background-color: #111111;
	flow-children: down;
	box-shadow:  -1px 1px 4px -2px #00000000;
	
}

#AvatarRow
{
	flow-children: right;
}
#CurrentFriendsGames DOTAActiveFriends
{
	box-shadow: none;
}

DOTAActiveFriendLobby.FriendMenu #AvatarRow
{
	flow-children: right-wrap;
	vertical-align: middle;
	margin-top: 8px;
	margin-left: 6px;
    width: 340px;
    height: fit-children;
}


DOTAActiveFriends .ActiveFriendItem
{
	flow-children: down;
	pre-transform-scale2d: .95;
    width: 100%;
    opacity: 1.0;
    height: 0px;
	wash-color: black;
	transition-property: height, opacity, pre-transform-scale2d, wash-color, transform;
	transition-duration: 0.35s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

DOTAActiveFriends .ActiveFriendItem.Visible
{
    opacity: 1.0;
	pre-transform-scale2d: 1;
    height: 52px;
	wash-color: white;
	box-shadow:  fill -2px 1px 4px 0px #00000088;
}


#CurrentFriendsGames DOTAActiveFriends .ActiveFriendItem.Visible
{
	box-shadow: none;
}


DOTAAvatarImage
{
	height: 36px;
	width: 36px;
	margin: 0px 8px 0px 0px;
	box-shadow: fill #00000088 -4px -4px 8px 8px;
	vertical-align: middle;
}

//.MultipleFriends
//{
//	height: 36px;
//	width: 36px;
//	margin: 0px 8px 0px 0px;
//	vertical-align: middle;
//	border: 1px solid #aaaaaa22;
//	visibility: collapse;
//}
//
//#FriendCount
//{
//	font-size: 14px;
//	color: #aaaaaaCC;
//	vertical-align: center;
//	horizontal-align: center;
//	text-align: center;
//	margin-top: 3px;
//}

#JoinButton
{
	height: 30px;
	vertical-align: middle;
	horizontal-align: right;
	margin-right: 24px;
	margin-bottom: 8px;
	padding-right: 26px;
	padding-left: 10px;
	
	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 18px 18px;
	wash-color: #cccccc;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b7879 ), to( #484e51 ) );
    border: 1px solid black;
	border-radius: 3px;
	
	transition-property: wash-color;
	transition-duration: 0.12s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

#FriendsOpenParties DOTAActiveFriendLobby #JoinButton,
#FriendOpenLobbiesArea DOTAActiveFriendLobby #JoinButton
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
	wash-color: #abeaa8;
	margin-top: 3px;
}

#FriendsOpenParties DOTAActiveFriendLobby #JoinButton:hover,
#FriendOpenLobbiesArea DOTAActiveFriendLobby #JoinButton:hover
{
	wash-color: white;
}

.FriendMenu #JoinButton
{
	min-width: 136px;
}

DOTAActiveFriendLobby.FriendMenu.ShowWatchButton #JoinButton
{
	background-position: 200% 100%;
	padding-right: 10px;
}

.ActiveFriendItem DOTAActiveFriendLobby #JoinButton
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
	background-position: 50% 50%;
	wash-color: #abeaa8;
	width: 26px;
	height: 26px;
	margin-right: 13px;
	margin-top: 6px;
	padding: 0px;
	vertical-align: middle;
	horizontal-align: right;
}

.CustomGameDetailPage #JoinButton
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
	background-position: 50% 50%;
	wash-color: #abeaa8;
	width: 26px;
	height: 26px;
	margin-right: 13px;
	margin-top: 6px;
	padding: 0px;
	vertical-align: middle;
	horizontal-align: right;
}

.CustomGameDetailPage #JoinButton Label
{
	visibility: collapse;
}

.ActiveFriendItem DOTAActiveFriendLobby #JoinButton:hover
{
	wash-color: white;
}

.ActiveFriendItem DOTAActiveFriendLobby #JoinButton Label
{
	visibility: collapse;
}

#FriendMenuTooltip #JoinButton,
{
	visibility: collapse;
}

.NotFullyInstalled .CustomGameDetailPage #JoinButton
{
	visibility: collapse;
}

#JoinButton:hover
{
	wash-color: white;
}

#JoinButton Label
{
	horizontal-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	padding-top: 4px;
}
	
	
#JoinButton:disabled
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #646666 ), to( #646666 ) );
}

#JoinButton:disabled Label
{
	color: #888888;
}

a
{
	color: white;
}
