
DOTAActiveFriendParty
{
	flow-children: none;
	width: 100%;
	padding: 2px;
	height: 100%;
    padding-left: 16px;
	padding-right: 13px;
	border-top: 1px solid #000000aa;
	border-bottom: 1px solid #000000aa;
	border-right: 16px solid transparent;
	//overflow: noclip;

	background-color: gradient( linear, 100% 0%, 0% 0%, from( #4b786500 ), color-stop( 0.025, #64c39033 ), color-stop( 0.025, #64c390 ), color-stop( 0.035, #64c390 ), color-stop( 0.35, #64c390 ), color-stop( 0.75, #64c390 ), to( #64c390 ) );
	
	transition-property: background-color, pre-transform-scale2d;
	transition-duration: 0.65s;
	transition-delay: 0.2s;
	transition-timing-function: ease-in-out;
	
}

.FriendMenuItem DOTAActiveFriendParty.PartyIsLowPri, .Visible DOTAActiveFriendParty.PartyIsLowPri DOTAActiveFriendParty.PartyIsLowPri
{
	//background-color: #800000aa;
}

.Visible DOTAActiveFriendParty
{
	//background-color: gradient( linear, 100% 0%, 0% 0%, from( #bf481e00 ), color-stop( 0.025, #bf481e33 ), color-stop( 0.025, #bf481e ), color-stop( 0.035, #bf481e ), color-stop( 0.035, #632824 ), color-stop( 0.055, #272e31 ), to( #272e31 ) );
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #4b786500 ), color-stop( 0.025, #64c39033 ), color-stop( 0.025, #64c390 ), color-stop( 0.035, #64c390 ), color-stop( 0.035, #416f5b ), color-stop( 0.055, #272e31 ), to( #272e31 ) );
	
	transition-delay: 0.5s;
	sound: "ui_player_beacon_appear";
}

#FriendOpenLobbiesArea DOTAActiveFriendParty, DOTATooltipFriendsMenu DOTAActiveFriendParty
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #64c390 ), color-stop( 0.01, #64c390 ), color-stop( 0.01, #416f5b ), color-stop( 0.035, #272e31 ), to( #272e31 ) );
	transition-delay: 0.5s;
	border-right: 0px solid transparent;
}

DOTAActiveFriendParty.FriendMenu
{
	flow-children: none;
	background-color: none;
	border: 1px solid transparent;
}


DOTAActiveFriendParty.ShowInviteInProgress.FriendMenu:hover #InviteButtonContainer #InviteOrMergeButton
{
	opacity: 0.3;
}

.FriendMenuItem DOTAActiveFriendParty
{
	background-color: none;
	padding: 8px;
}

DOTAActiveFriendParty.FriendMenu #AvatarRow
{
	flow-children: right;
	vertical-align: middle;
	margin-top: 8px;
	margin-left: 5px;
}

#HomeFriendsList #AvatarRow
{
    margin: 0px;
}

.FeedExpanded DOTAActiveFriendParty
{
	background-color: transparent;
	transition-duration: 0s;
}


DOTAActiveFriendParty.FriendMenu #AvatarRow:hover
{
	//background-color: #00000022;
}

#FriendInfoContainer
{
	width: 100%;
}

#StatusLabelContainer
{
	height: 100%;
	//margin-right: 36px;
	//background-color: #ff000011;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	
}

#StatusLabel
{
	vertical-align: middle;
	color: baseText;
	font-size: 16px;
}

.StateFindingMatch #StatusLabel
{
	color: #CDFFC9;
	text-shadow: 0px 0px 6px 2.0 #6A9561;
}


DOTAActiveFriendParty.FriendMenu #StatusLabelContainer
{
	height: 84%;
	width: 264px;
	horizontal-align: right;
	opacity: 0.0;
}
DOTAActiveFriendParty.FriendMenu.StateFindingMatch #StatusLabelContainer,
DOTAActiveFriendParty.FriendMenu.StateInGame #StatusLabelContainer
{
	opacity: 1.0;
}

DOTAActiveFriendParty.FriendMenu.StateFindingMatch #StatusLabel,
DOTAActiveFriendParty.FriendMenu.StateInGame #StatusLabel
{
    font-size: 16px;
	font-weight: thin;
    color: #AAE9A7;
	text-align: right;
	//text-shadow: 0px 0px 6px 1.0 #c1c0ff;
	//text-transform: uppercase;
	margin-top: 8px;
	margin-right: 24px;
}

#FindingMatchOverlay
{
	opacity: 0;
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/findingmatchscroll_png.vtex");
	transition-property: opacity;
	transition-duration: 0.4s;
}

#HomeFriendsList DOTAActiveFriendParty.FriendMenu.StateFindingMatch #FindingMatchOverlay
{
	opacity: 1;
}

#FindingMatchScroll
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-top: 0px;
	margin-bottom: 0px;
}

#FindingMatchScroll Label
{
	color: #CDFFC9;
	text-shadow: 0px 0px 5px 1.0 #6A9561;
    font-size: 14px;
    padding: 0px;
    margin-bottom: 6px;
	text-align: center;	
	animation-name: TextHScroll;
	animation-duration: 4s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'TextHScroll'
{
	0%
	{
		transform: translateX( 0px) translateY(4px);
	}
	
	50%
	{
		transform: translateX(-100px) translateY(4px);
	}
	50.001%
	{
		transform: translateX( 100px) translateY(4px);
	}

	100%
	{
		transform: translateX( 0px) translateY(4px);
	}
}

#HomeFriendsList DOTAActiveFriendParty.FriendMenu.StateFindingMatch #StatusLabel,
#HomeFriendsList DOTAActiveFriendParty.FriendMenu.StateInGame #StatusLabel
{
	visibility: collapse;
}

DOTAActiveFriendParty.FriendMenu.StateFindingMatch #StatusLabel
{
	animation-name: TextGlowPulse;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#CurrentUserStatus DOTAActiveFriendParty.FriendMenu.StateFindingMatch #StatusLabel
{
	text-transform: none;
	font-size: 16px;
	text-shadow: none;
	letter-spacing: 0px;
}

DOTAActiveFriendParty.FriendMenu.StateFindingMatch #FXSearching
{
	visibility: collapse;
}

DOTAActiveFriendParty.FriendMenu.StateFindingMatch #InviteOrMergeButton,
DOTAActiveFriendParty.FriendMenu.StateInGame #InviteOrMergeButton
{
	vertical-align: top;
	margin-top: 18px;
	margin-top: 0px;
}


DOTAActiveFriendParty.FriendMenu #InviteButtonContainer
{
	margin-top: 18px;
}

DOTAActiveFriendParty.FriendMenu #StatusLabel
{
	horizontal-align: right;
	vertical-align: bottom;
//	margin-bottom: 10px;
	width: 240px;
	color: #abeaa8;
	text-align: center;
	font-size: 16px;
}

#CurrentUserStatus #FXSearching
{
	visibility: collapse;
}

#InviteLabel
{
	horizontal-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	visibility: collapse;
}

DOTAActiveFriendParty.FriendMenu #InviteLabel
{
	visibility: visible;
	padding-top: 3px;
}

#HomeFriendsList DOTAActiveFriendParty #InviteOrMergeButton,
DOTAActiveFriendParty #InviteOrMergeButton
{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	horizontal-align: right;
	
	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70% 70%;
	wash-color: #ABEAA8;

    background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
    border: 1px solid black;
	border-radius: 3px;
	
	transition-property: width, height, background-color, wash-color, transform, opacity-mask, opacity;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

DOTAActiveFriendParty.FriendMenu.PartyIsLowPri #InviteOrMergeButton
{
    background-color: gradient( linear, 0% 100%, 0% 0%, from( #423c32 ), to( #774549 ) );
	wash-color: #ff0000aa;
}

DOTAActiveFriendParty.FriendMenu.PartyIsLowPri #InviteOrMergeButton:hover
{
	wash-color: white;
}


DOTAActiveFriendParty.FriendMenu.ShowWatchButton #InviteOrMergeButton
{
	background-position: 200% 100%;
	padding-right: 10px;
}


DOTAActiveFriendParty.FriendMenu #InviteOrMergeButton
{
	width: fit-children;
	min-width: 136px;
	height: 30px;
	vertical-align: middle;
	horizontal-align: right;
	margin-right: 24px;
	padding-right: 26px;
	padding-left: 10px;
	wash-color: #cccccc;
	
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 18px 18px;

	transition-property: opacity, background-color, wash-color;
	transition-duration: 0.12s;
	
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b7879 ), to( #484e51 ) );
    border: 1px solid black;
	border-radius: 3px;
}

#HomeFriendsList DOTAActiveFriendParty.ShowWatchButton #InviteOrMergeButton
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3B4142 ), to( #535B5C ) );
	background-image: url("s2r://panorama/images/control_icons/eye_png.vtex");
	wash-color: #CBCBCB;
}

#HomeFriendsList DOTAActiveFriendParty.FriendMenu #InviteOrMergeButton
{
	min-width: 30px;
	width: 30px;
	height: 30px;
	margin-top: 3px;
	margin-right: 16px;
}

#HomeFriendsList DOTAActiveFriendParty.FriendMenu #InviteOrMergeButton:hover
{
	wash-color: white;
}

.FriendMenuTooltip #InviteOrMergeButton
{
	visibility: collapse;
}

#FriendsOpenParties DOTAActiveFriendParty.FriendMenu #InviteOrMergeButton
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
	wash-color: #abeaa8;
}

#FriendsOpenParties DOTAActiveFriendParty.FriendMenu #InviteOrMergeButton:hover
{
    wash-color: #ffffff;
}

DOTAActiveFriendParty.HomePage.ShowInviteInProgress #InviteOrMergeButton,
DOTAActiveFriendParty.FriendMenu.ShowInviteInProgress #InviteOrMergeButton
{
	width: 30px;
	min-width: 30px;
	height: 30px;
	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
    opacity-mask: url("s2r://panorama/images/masks/plus_to_x_png.vtex")0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;


	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B5100 ), to( #5C9C6800 ) );
    opacity: 0.05;
    pre-transform-scale2d: 1;
    border: 1px solid transparent;
    wash-color: #93ff8f;
	//margin: 0px;

    transition-property: width, height, background-color, wash-color, transform, opacity-mask, opacity;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

DOTAActiveFriendParty.FriendMenu.ShowInviteInProgress #InviteOrMergeButton Label
{
	opacity: 0;
}

DOTAActiveFriendParty.FriendMenu #InviteOrMergeButton Label
{
	opacity: 1;
    transition-property: opacity;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

#CurrentFriendsGames DOTAActiveFriendParty.ShowInviteInProgress:hover #InviteOrMergeButton
{
    opacity: 0.35;
    pre-transform-scale2d: 1;
    transition-duration: 0.35s;
}

#CurrentFriendsGames DOTAActiveFriendParty 
{
	height: 100%;	
	border-left: 16px solid transparent;
	border-right: 0px solid transparent;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #4b786500 ), color-stop( 0.025, #64c39033 ), color-stop( 0.025, #64c390 ), color-stop( 0.035, #64c390 ), color-stop( 0.035, #416f5b ), color-stop( 0.055, #272e31 ), to( #272e31 ) );
	box-shadow: none;
}

.RadialSweep
{
    width: 150%;
    height: 150%;
	
	background-image: url("s2r://panorama/images/textures/radialsweep_psd.vtex");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;

}

#PendingInvitesRadialSweepContainer
{
    width: 130px;
    height: 30px;
    border-radius: 3px;
	opacity-mask: url("s2r://panorama/images/masks/roundedbox_outline_psd.vtex");
	overflow: noclip;
	wash-color: #93ff8f;
	opacity: 0.0;
	horizontal-align: right;
	margin-right: 24px;

    transition-property: opacity, width, height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#CurrentFriendsGames #PendingInvitesRadialSweepContainer
{
	margin-right: 0px;
	width: 30px;
    height: 30px;
}

#CurrentFriendsGames #InviteButtonContainer
{
	margin-top: 6px;
}

#HomeFriendsList #InviteButtonContainer
{
	margin-top: 3px;
}

#PendingInvitesRadialSweep
{
    background-size: 1200%;
}

DOTAActiveFriendParty.ShowInviteInProgress #PendingInvitesRadialSweepContainer
{
	opacity: 0.5;
	width: 30px;
    height: 30px;
}
#HomeFriendsList DOTAActiveFriendParty.ShowInviteInProgress #PendingInvitesRadialSweepContainer
{
	margin-right: 16px;
	margin-top: 4px;
}

#InviteButtonContainer
{
	horizontal-align: right;
    vertical-align: top;
}

.PendingInviteItem #InviteButtonContainer
{
    visibility: collapse;
}

.ShowInviteInProgress #InviteButtonContainer:hover #InviteOrMergeButton
{
	opacity-mask: url("s2r://panorama/images/masks/plus_to_x_png.vtex")1;
    transform: rotateZ( 135deg );
	wash-color: red;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

DOTAActiveFriendParty #InviteOrMergeButton:hover
{
    wash-color: #ffffff;
}

DOTAActiveFriendParty #InviteOrMergeButton:active
{
    wash-color: #cccccc;
}

#FXSearching
{
	visibility: collapse;
	width: 100%;
	height: 110%;
	margin-top: -16px;
	horizontal-align: right;
	vertical-align: bottom;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	opacity: 1;
	
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}
#FXSearchingParticles
{
  	width: 100%;
	height: 100%;
	blur: gaussian( 2, 2, 1 );
	wash-color: #AAE9A7;
}

DOTAActiveFriendParty.ShowWatchButton
{
//	background-color: #00000033;
//	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000044 ), color-stop( 0.05, #64c39000 ), color-stop( 0.025, #64c39000 ), color-stop( 0.035, #64c39000 ), color-stop( 0.35, #64c39000 ), color-stop( 0.95, #64c39000 ), to( #00000044 ) );
}

DOTAActiveFriendParty.PartyIsLowPri
{
	background-color: #ff000003;
	border-top: 1px solid #ff000007;
	border-bottom: 1px solid #ff000007;
}