/* styles for an instance of a lobby in the lobby browser */

DOTAAntiAddictionBadge
{
	width: fit-children;
	height: fit-children;
	visibility: visible;
	margin-left: 8px;
	margin-right: 8px;

	tooltip-position: bottom;
}

DOTAAntiAddictionBadge Label
{
	text-shadow: 1px 1px 2px #000000; 
	color: #3f4a4e;
	font-size: 14px;
	font-weight: thin;
	text-transform: uppercase;
}

DOTAAntiAddictionBadge:hover Label
{
	color: #525d61;
}

DOTAAntiAddictionBadge.NotVisible
{
	visibility: collapse;
}

.StateImage
{
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	margin-right: 4px;
	margin-top: 1px;
}

#GreenState .StateImage
{
	background-image: url("s2r://panorama/images/topbar/anti_addiction_green_png.vtex");
}

#YellowState .StateImage
{
	background-image: url("s2r://panorama/images/topbar/anti_addiction_yellow_png.vtex");
}

#RedState .StateImage
{
	background-image: url("s2r://panorama/images/topbar/anti_addiction_red_png.vtex");
}

.StateContainer
{
	flow-children: right;
	visibility: collapse;
}

.GreenState #GreenState
{
	visibility: visible;
}

.YellowState #YellowState
{
	visibility: visible;
}

.RedState #RedState
{
	visibility: visible;
}