/* styles for an instance of a lobby in the lobby browser */

DOTAAntiAddictionBadge
{
	width: fit-children;
	height: fit-children;
	visibility: visible;
	margin-left: 8px;
	margin-right: 8px;

	tooltip-position: bottom;
}

DOTAAntiAddictionBadge Label
{
	text-shadow: 1px 1px 2px #000000; 
	color: #3f4a4e;
	font-size: 14px;
	font-weight: thin;
	text-transform: uppercase;
}

DOTAAntiAddictionBadge:hover Label
{
	color: #525d61;
}

DOTAAntiAddictionBadge.NotVisible
{
	visibility: collapse;
}

.AA_New
{
    visibility: collapse;
}
.SteamDurationControl .AA_New
{
    visibility: visible;
}

.AA_Old
{
    visibility: visible;
}
.SteamDurationControl .AA_Old
{
    visibility: collapse;
}

.StateImage
{
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	margin-right: 4px;
	margin-top: 1px;
}

.StateImage__Green
{
	background-image: url("s2r://panorama/images/topbar/anti_addiction_green_png.vtex");
}

.StateImage__Yellow
{
	background-image: url("s2r://panorama/images/topbar/anti_addiction_yellow_png.vtex");
}

.StateImage__Red
{
	background-image: url("s2r://panorama/images/topbar/anti_addiction_red_png.vtex");
}

.AA_New .StateImage
{
    visibility: collapse;
}
.GreenState .AA_New .StateImage__Green
{
    visibility: visible;
}
.YellowState .AA_New .StateImage__Yellow
{
    visibility: visible;
}
.RedState .AA_New .StateImage__Red
{
    visibility: visible;
}

.AA_State
{
	flow-children: right;
	visibility: collapse;
}

.GreenState .AA_State__Green
{
	visibility: visible;
}

.YellowState .AA_State__Yellow
{
	visibility: visible;
}

.RedState .AA_State__Red
{
	visibility: visible;
}

.AA_State_Remaining
{
    visibility: visible;
}