ArcanaVoteTournamentNode
{                          
}

ArcanaVoteTournamentNode.VotingActive
{
    visibility: collapse;
}

ArcanaVoteTournamentNode.HeroLostThisRound
{
    saturation: 0.0;
    brightness: 0.2;
}

.HiddenResult
{
    width: 50%;
    height: 100%;
    horizontal-align: center;
    background-image: url("s2r://panorama/images/compendium/spring2016/arcana_vote_in_progress_png.vtex");
    brightness: 0.7;
    background-size: cover;
    margin-top: -3px;
    wash-color: accentColorBright;
    margin-right: 32px;
}

#SmallHeroImage
{
    width: 100%;
    height: 100%;
    visibility: collapse;
    brightness: 1.0;
    saturation: 1.0;
}

.HeroInActiveVote #SmallHeroImage 
{
    brightness: 1.0;
    saturation: 1.0;
}

#HeroMovieContainer
{
    width: height-percentage( 100% );
	margin-top: 20px;
    height: 65%;
    horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharper_png.vtex");

	overflow: clip;
}

#HeroMovieContainer.ScenePanel
{
    height: 85%;
	margin-bottom: 15%;
	opacity-mask: none;
}

.HeroMovie
{
 	width: 100%;
	height: 140%;
}

.HeroScenePanel
{
 	width: 100%;
	height: 100%;
}

ArcanaVoteTournamentNode.Depth0 #SmallHeroImage
{
    visibility: visible;
}

ArcanaVoteTournamentNode.Depth1 #SmallHeroImage
{
    visibility: visible;
}

ArcanaVoteTournamentNode.Depth2 #SmallHeroImage
{
    visibility: visible;
}

ArcanaVoteTournamentNode.Depth3 #SmallHeroImage
{
    visibility: visible;
}

ArcanaVoteTournamentNode.Depth4 #SmallHeroImage
{
    visibility: visible;
}
