DOTAAvatarRankTier #AvatarImage
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

DOTAAvatarRankTier.NoRank #AvatarImage
{
	visibility: visible;
}


DOTAAvatarRankTier #RankLabel
{
	horizontal-align: center;
	margin-top: 20%;
	color: white;
	text-shadow: 1.5px 1.5px 3px #000000;
	z-index: 3;
}

DOTAAvatarRankTier #RankImage
{
	width: 100%;
	height: 100%;
	background-size: 100%;
}

DOTAAvatarRankTier.RankTier0 #RankImage
{
	background-image: url("s2r://panorama/images/rank_tier_icons/rank0_psd.vtex");
}

DOTAAvatarRankTier.RankTier1 #RankImage
{
	background-image: url("s2r://panorama/images/rank_tier_icons/rank1_psd.vtex");
}

DOTAAvatarRankTier.RankTier2 #RankImage
{
	background-image: url("s2r://panorama/images/rank_tier_icons/rank2_psd.vtex");
}

DOTAAvatarRankTier.RankTier3 #RankImage
{
	background-image: url("s2r://panorama/images/rank_tier_icons/rank3_psd.vtex");
}

DOTAAvatarRankTier.RankTier4 #RankImage
{
	background-image: url("s2r://panorama/images/rank_tier_icons/rank4_psd.vtex");
}

DOTAAvatarRankTier.RankTier5 #RankImage
{
	background-image: url("s2r://panorama/images/rank_tier_icons/rank5_psd.vtex");
}

DOTAAvatarRankTier.RankTier6 #RankImage
{
	background-image: url("s2r://panorama/images/rank_tier_icons/rank6_psd.vtex");
}

DOTAAvatarRankTier.RankTier7 #RankImage
{
	background-image: url("s2r://panorama/images/rank_tier_icons/rank7_psd.vtex");
}
