
DOTABroadcastVideoStream
{
	flow-children: down;
}

#Header
{
	width: 100%;
	height: 32px;
	flow-children: right;

	background-color: black;
}
.NotLive #Header
{
    background-color:transparent;
}
#Live
{
	margin-top: 5px;
	margin-left: 5px;

	vertical-align: top;
	horizontal-align: right;

	text-transform: uppercase;

	color: #64c390;
	font-weight: bold;
	letter-spacing: 1px;

	visibility: collapse;
}

.BroadcastLive #Live
{
	visibility: visible;
}

#LeagueName
{
	margin-top: 5px;
	margin-left: 12px;

	vertical-align: top;
	horizontal-align: left;

	text-transform: uppercase;

	color: white;
	letter-spacing: 1px;

	transition-property: text-shadow;
	transition-duration: 0.1s;
}
#LeagueName:hover
{
	text-shadow: 0px 0px 6px #1990b9;
}
#LeagueName:active
{
	text-shadow: 0px 0px 6px 2.0 #1990b9;
}


#HeaderFiller
{
	width: fill-parent-flow( 1.0 );
}

#HideButton
{
	flow-children: right;
	background-color: #1c1c1c;
	height: 100%;
	width: 160px;
	padding: 0px 16px;

	visibility: collapse;
}

.CanStreamVideo.AllowLiveVideo.BroadcastLive #HideButton
{
	visibility: visible;
}

#HideButtonContents
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
}

#HideButtonIcon
{
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/control_icons/eye_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	wash-color: #82807e;
}

#HideButton Label
{
	margin: 4px 0px 0px 0px;
	letter-spacing: 2px;
	text-transform: uppercase;
	vertical-align: middle;
	color: #82807e;
}
#HideButton .ShowText
{
	visibility: collapse;
}

.UserHideVideo #HideButton .ShowText
{
	visibility: visible;
}
.UserHideVideo #HideButton .HideText
{
	visibility: collapse;
}

#HideButton:hover
{
	brightness: 1.5;
}
#HideButton:active
{
	brightness: 2.0;
}



#MainContents
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.ContentsPanel
{
	width: 100%;
	height: 100%;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.ShowingStream #StreamingContainer
{
	opacity: 1.0;
}

#InlineVideoPanel
{
	width: 100%;
	height: 100%;

	border: -3px solid white;
}

#NotStreamingContainer
{
	
	background-size: cover;
    
}

DOTABroadcastVideoStream:not(.ShowingStream) #NotStreamingContainer
{
	opacity: 1.0;
}

#NotStreamingContents
{
	flow-children: down;
	vertical-align: bottom;
	horizontal-align: center;
}

#LogoImage
{
	width: 500px;
	height: 200px;

	margin-left: -10px;
	background-image: url("s2r://panorama/images/front_page/ads/movie_series_jpg.vtex");

	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	horizontal-align: center;
	margin-bottom: 16px;

	transition-property: brightness;
	transition-duration: 0.1s;
}

#LogoImage:hover
{
	brightness: 1.5;
}
#LogoImage:active
{
	brightness: 2.0;
}


#NotStreamingStatus
{
	horizontal-align: center;
}

#WatchLiveStatus, #WatchUpcomingStatus
{
	flow-children: down;
	background-color: black;
	padding: 12px;

	visibility: collapse;
}

.BroadcastLive #WatchLiveStatus
{
	visibility: visible;
}

.BroadcastUpcoming #WatchUpcomingStatus
{
	//visibility: visible;
}

#BroadcastInProgress
{
	color: #1990b9;
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	letter-spacing: 4px;
}

#WatchInGameButton
{
	horizontal-align: center;
}

#WatchInBrowserButton
{
	horizontal-align: center;
	margin-top: 2px;
	flow-children: right;
}

#WatchInBrowserButton Label
{
	vertical-align: middle;
	color: #aaa;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 1px;
}

#WatchInBrowserButton:hover Label
{
	color: #ccc;
}
#WatchInBrowserButton:active Label
{
	color: #fff;
}


#WatchInBrowserButton .WatchInBrowserIcon
{
	width: 15px;
	height: 15px;
	vertical-align: middle;
	wash-color: #aaa;
	margin-bottom: 5px;
	margin-left: 2px;

	background-image: url("s2r://panorama/images/control_icons/arrow_popout_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#WatchInBrowserButton:hover .WatchInBrowserIcon
{
	wash-color: #ccc;
}
#WatchInBrowserButton:active .WatchInBrowserIcon
{
	wash-color: #fff;
}

#BroadcastUpcoming
{
	margin-top: 4px;
	color: #989898;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	horizontal-align: center;
}

#BroadcastUpcomingTime
{
	color: #cccccc;
	horizontal-align: center;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#OfflineMessage
{
	horizontal-align: center;
	vertical-align: middle;
	
	font-size: 28px;
}

#Footer
{
	width: 100%;
	background-color: black;
}

#StreamingFooter
{
	width: 100%;
	padding: 8px 12px;

	visibility: collapse;
}

.ShowingStream #StreamingFooter
{
	visibility: visible;
}

#LeftBlock
{
	vertical-align: middle;
	flow-children: down;
}

#Teams
{
	color: #cccccc;
}

#Game
{
	color: #999999;
}

.FooterFiller
{
	width: fill-parent-flow( 1.0 );
	margin-left: 8px;
}

#Watch
{
	vertical-align: middle;
}

#Watch Label
{
	font-size: 20px;
}

#WatchExternal
{
	horizontal-align: right;
	flow-children: right;
	margin-right: 8px;
}
#WatchExternal:hover
{
	brightness: 2.0;
}
#WatchExternal:active
{
	brightness: 1.5;
}

#WatchExternal > Label
{
	color: #999;
	vertical-align: middle;
	font-size: 24px;
	margin-top: 4px;
	text-transform: uppercase;
}

#WatchExternalIcon
{
	width: 41px;
	height: 41px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/control_icons/arrow_popout_png.vtex");
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position: 50% 50%;

	wash-color: #aaa;
}


#UpcomingFooter
{
	width: 100%;
	padding: 8px 8px 8px 12px;
	flow-children: right;

	visibility: collapse;
}

.BroadcastUpcoming #UpcomingFooter
{
	visibility: visible;
}

.UpcomingMatchPrefix
{
	color: #cccccc;
}

#UpcomingMatch
{
	vertical-align: middle;
	color: #999999;
}


/* We mostly just reuse the PopupButton style, but override a few small bits */
.PopupButton
{
	padding-left: 20px;
	padding-right: 20px;
}
.PopupButton Label
{
	font-size: 18px;
	margin-top: 2px;
	text-transform: uppercase;
}


