/* Styles used by crafting */

CarouselNav
{
	flow-children: right;
}

CarouselNav:disabled
{
	visibility: collapse;
}

#ItemPips
{
	flow-children: right;
	vertical-align: middle;
	margin-right: 12px;
	margin-bottom: 12px;
}

DOTABPInternational2020HomePage #ItemPips {
	margin-right: 5px;
}

		 
DOTABattlePassReward #ItemPips
{
	vertical-align: top;
	horizontal-align: center;
	flow-children: right-wrap;
}


DOTABattlePassReward .SmallPips #ItemPips
{
	margin-bottom: 0px;
}

DOTABattlePassReward .PaginationButton
{
	vertical-align: top;
}

DOTABattlePassReward .OverlayPips.SmallPips .PaginationButton
{
	margin-bottom: 2px;
}

DOTABattlePassReward CarouselNav
{
	flow-children: none;
}

.OverMaxPips #ItemButtons
{
	visibility: collapse;
}

#ItemCount
{
	visibility: collapse;
	margin-right: 4px;
	margin-top: 1px;
	text-align: right;
	color: #aaa;
}
.OverMaxPips #ItemCount
{
	visibility: visible;
}


/* Styling for .OverlayPips, which just shows the pips themselves overlaying some image */
.OverlayPips #PreviousItemButton, .OverlayPips #NextItemButton
{
	visibility: collapse;
}

.OverlayPips .PaginationButton
{
	background-color: black;
	border: 2px solid bluegreyTextReg;
	box-shadow: -1px -1px 3px 3px fill #00000088;
	margin: 8px 2px 8px 8px;

	transition-property: background-color;
	transition-duration: 0.2s;
}

.TI10Features .OverlayPips .PaginationButton {
	margin: 8px 2px 8px 3px;
}

.OverlayPips .PaginationButton:selected
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, color-stop(0.0, #c3e9f8 ), color-stop(0.5, #c3e9f8), color-stop(0.6, #00000000 ) );
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( bluegreyTextReg  ), to( bluegreyTextReg ) );
	background-color: #528EA5;
	border: 2px solid #7e8f9300;
}

/* SmallPips style that just shrinks down the pip size */
.OverlayPips.SmallPips
{
	margin: 3px;
}

.OverlayPips.SmallPips .PaginationButton
{
	width: 10px;
	height: 10px;
	border-width: 1px;
	margin: 1px 1px 1px 1px;
}

.OverlayPips.LockedPips .PaginationButton.Locked
{
	background-color: #222222;
}

.OverlayPips.LockedPips .PaginationButton.Unlocked
{
	background-color: #999999;
}

.OverlayPips .PaginationButton.Unlocked:selected
{
	background-color: #63adc8;
}


/* Styling for .OnlyPips, which just shows the pips themselves but is otherwise normal*/
.OnlyPips #PreviousItemButton, .OnlyPips #NextItemButton
{
	visibility: collapse;
}


/* -- FullWidthCarouselNav -------------------------------------------------- */

.FullWidthCarouselNav .LeftSpacer
{
	margin-left: 58px;
	width: fill-parent-flow( 1.0 );
}

.FullWidthCarouselNav .CenterSpacer
{
	width: fill-parent-flow( 1.0 );
}

/* -- DotaPlusPips -------------------------------------------------- */

.OverlayPips.DotaPlusPips .PaginationButton
{
	border: 2px solid dotaPlusLightGold;
}

.OverlayPips.DotaPlusPips .PaginationButton:selected
{
	background-color: dotaPlusLightGold;
}

.OverlayPips.DotaPlusPips.SmallPips .PaginationButton
{
	border: 2px solid dotaPlusLightGold;
	width: 14px;
	height: 14px;
	border-width: 1px;
	margin: 2px 3px 2px 3px;
}

.OverlayPips.DotaPlusPips.SmallPips .PaginationButton:selected
{
	background-color: dotaPlusLightGold;
	width: 14px;
	height: 14px;
	border-width: 1px;
	margin: 2px 3px 2px 3px;
}


.DisableNav .PaginationArrow
{
	visibility: collapse;
}

#Charms #ItemPips
{
	horizontal-align: right;
	vertical-align: top;
	margin-right: 30px;
}