/* Styles used by crafting */

CarouselNav
{
	flow-children: right;
}

CarouselNav:disabled
{
	visibility: collapse;
}

#ItemPips
{
	flow-children: right;
	vertical-align: middle;
	margin-right: 5px;
}

		 
DOTABattlePassReward #ItemPips
{
	vertical-align: top;
	horizontal-align: center;
	flow-children: right-wrap;
}

DOTABattlePassReward .PaginationButton
{
	vertical-align: top;
}

DOTABattlePassReward .OverlayPips.SmallPips .PaginationButton
{
	margin-bottom: 2px;
}

DOTABattlePassReward CarouselNav
{
	flow-children: none;
}

.OverMaxPips #ItemButtons
{
	visibility: collapse;
}

#ItemCount
{
	visibility: collapse;
	margin-right: 4px;
	margin-top: 1px;
	text-align: right;
	color: #aaa;
}
.OverMaxPips #ItemCount
{
	visibility: visible;
}


/* Styling for .OverlayPips, which just shows the pips themselves overlaying some image */
.OverlayPips #PreviousItemButton, .OverlayPips #NextItemButton
{
	visibility: collapse;
}

.OverlayPips .PaginationButton
{
	background-color: black;
	border: 2px solid #7836D6;
	box-shadow: -1px -1px 3px 3px fill #000;
	margin: 8px 2px 8px 8px;

	transition-property: background-color;
	transition-duration: 0.2s;
}

.OverlayPips .PaginationButton:selected
{
	background-color: #B685F7;
}

/* SmallPips style that just shrinks down the pip size */
.OverlayPips.SmallPips
{
	margin: 3px;
}

.OverlayPips.SmallPips .PaginationButton
{
	width: 10px;
	height: 10px;
	border-width: 1px;
	margin: 1px 1px 1px 1px;
}

.OverlayPips.LockedPips .PaginationButton.Locked
{
	background-color: #222222;
}

.OverlayPips.LockedPips .PaginationButton.Unlocked
{
	background-color: #999999;
}

.OverlayPips .PaginationButton.Unlocked:selected
{
	background-color: #63adc8;
}


/* Styling for .OnlyPips, which just shows the pips themselves but is otherwise normal*/
.OnlyPips #PreviousItemButton, .OnlyPips #NextItemButton
{
	visibility: collapse;
}


/* -- FullWidthCarouselNav -------------------------------------------------- */

.FullWidthCarouselNav .LeftSpacer
{
	margin-left: 58px;
	width: fill-parent-flow( 1.0 );
}

.FullWidthCarouselNav .CenterSpacer
{
	width: fill-parent-flow( 1.0 );
}

/* -- DotaPlusPips -------------------------------------------------- */

.OverlayPips.DotaPlusPips .PaginationButton
{
	border: 2px solid dotaPlusLightGold;
}

.OverlayPips.DotaPlusPips .PaginationButton:selected
{
	background-color: dotaPlusLightGold;
}

.OverlayPips.DotaPlusPips.SmallPips .PaginationButton
{
	border: 2px solid dotaPlusLightGold;
	width: 14px;
	height: 14px;
	border-width: 1px;
	margin: 2px 3px 2px 3px;
}

.OverlayPips.DotaPlusPips.SmallPips .PaginationButton:selected
{
	background-color: dotaPlusLightGold;
	width: 14px;
	height: 14px;
	border-width: 1px;
	margin: 2px 3px 2px 3px;
}


/* -- VRMode -------------------------------------------------- */

.VRMode .PaginationArrow
{
	width: 100px;
	height: 100px;
	background-size: 64px 64px;
	margin-right: 20px;

	opacity: 1;
}

.VRMode .PaginationArrow:hover:enabled
{
	brightness: 1.6;
}
.VRMode .PaginationArrow:active
{
	brightness: 1.3;
}

.VRMode .PaginationArrow:disabled
{
	brightness: 0.2;
}

.VRMode .PaginationButton
{
	width: 100px;
	height: 100px;

	opacity: 1;
}

.VRMode .PaginationButton:not(:selected)
{
	brightness: 0.5;
}

.VRMode .PaginationButton:hover
{
	brightness: 1.5;
}

.DisableNav .PaginationArrow
{
	visibility: collapse;
}

#Charms #ItemPips
{
	horizontal-align: right;
	vertical-align: top;
	margin-right: 30px;
}