
DOTACarouselList
{
    flow-children: right;
}

#ListContainer
{
    width: fit-children;
    height: 100%;    
}

#TopGamesHeader
{
    width: 100%;
    height: 36px;
}

#TopGamesHeader Label
{
    vertical-align: top;
    horizontal-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    color: #cccccc;
    margin-left: 8px;
}

#ListColumn
{
    flow-children: down;
    width: 264px;
    height: 100%;
	margin-right: 4px;
}

#carousel
{
    width: 608px;
    width: 100%;
    height: 100%;
    box-shadow: inset #000000bb 4px 4px 8px 8px;
    background-color: black;
}

.carotest
{
    transition-property: transform, blur;
    transition-duration: 0.3s;
    transition-delay: 0.0s;
    transition-timing-function: ease-in;
}

.carotest.Focused
{
    transform: translatex(0px);
}

.carotest.LeftOfFocus1,
.carotest.LeftOfFocus2,
.carotest.LeftOfFocus3,
.carotest.LeftOfFocus4
{       
    transform: translatex(-200px);
}

.carotest.RightOfFocus1,
.carotest.RightOfFocus2,
.carotest.RightOfFocus3,
.carotest.RightOfFocus4
{       
    transform: translatex(200px);
}

.CarouselListButton
{
    height: 37px;
    width: 100%;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #d8efee00 ), color-stop( 0.0, #b1dddd00 ), color-stop( 0.0, #3e474b00 ), to( #3e474b00 ) );
    margin-right: 8px;

    transition-property: background-color;
    transition-duration: 0.2s;
    transition-delay: 0.0s;
    transition-timing-function: ease-in-out;
}

.CarouselListButton:selected
{
    background-color: black;
	margin-right: 8px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #d8efee ), color-stop( 0.015, #b1dddd ), color-stop( 0.02, #3e474b ), to( #3e474b ) );
}

.CarouselListButton:selected Label
{
	color: white;
    transform: translateX( 10px );
}

.CarouselListButton:hover Label
{
    color: white;
}

.CarouselListButton Label
{
    color: #808f8d;
    //vertical-align: middle;
    text-transform: uppercase;
    font-size: 18px;
	//font-weight: bold;
    height: 100%;
    margin: 8px 8px 6px 8px;
    transform: translateX( 0px );
    background-color: none;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-delay: 0.0s;
    transition-timing-function: ease-in;
}