/* Color coding for different chat targets */
.WhisperChat, .WhisperChat a						{ color: #7e5a9f; }
.WhisperChat.ChatPersona							{ color: #907fac; }
.PartyChat, .PartyChat a							{ color: #749ab8; }
.PartyChat.ChatPersona								{ color: #8bb7db; }
.LobbyChat, .LobbyChat a							{ color: #92e4e5; }
.LobbyChat.ChatPersona								{ color: #abe4e5; }
.GuildChat, .GuildChat a							{ color: #a4e9a7; }
.GuildChat.ChatPersona								{ color: #c0e9c2; }
.TeamChat, .TeamChat a								{ color: #d7848c; }
.TeamChat.ChatPersona								{ color: #d79da2; }
.ChannelChat, .ChannelChat a						{ color: #8c9a9f; }
.ChannelChat.ChatPersona							{ color: #c0d4db; }
.RegionalChannelChat, .RegionalChannelChat a		{ color: #9C9383; }
.RegionalChannelChat.ChatPersona					{ color: #C5B8AA; }
.CustomGameChannelChat, .CustomGameChannelChat a	{ color: #6D9788; }
.CustomGameChannelChat.ChatPersona					{ color: #93CCB7; }
.PostGameChannelChat, .PostGameChannelChat a		{ color: #4C96bE; }
.PostGameChannelChat.ChatPersona					{ color: #7EBCDE; }
.PrivateChannelChat, .PrivateChannelChat a			{ color: #95b899; }
.PrivateChannelChat.ChatPersona						{ color: #c1d8c4; }
.ConsoleChat, .ConsoleChat a						{ color: #a5ada2; }
.ConsoleChat.ChatPersona							{ color: #a5ada2; } /* not used */
.TabChat, .TabChat a								{ color: #a5ada2; }
.TabChat.ChatPersona								{ color: #a5ada2; } /* not used */
.InvalidChat, .InvalidChat a						{ color: #FFFFFF; } /* shouldn't ever be visible */
.InvalidChat.ChatPersona							{ color: #FFFFFF; } /* not used */
.GameAllChat, .GameAllChat a						{ color: #FFFFFF; }
.GameAllChat.ChatPersona							{ color: #FFFFFF; }
.GameAlliesChat, .GameAlliesChat a					{ color: #FFFFFF; }
.GameAlliesChat.ChatPersona							{ color: #FFFFFF; }
.GameCoachingChat, .GameCoachingChat a				{ color: #FFFFFF; }
.GameCoachingChat.ChatPersona						{ color: #FFFFFF; }
.GameSpectatorChat, .GameSpectatorChat a			{ color: #FFFFFF; }
.GameSpectatorChat.ChatPersona						{ color: #FFFFFF; }
.HLTVSpectatorChannelChat, .HLTVSpectatorChannelChat a { color: #FFFFFF; }
.HLTVSpectatorChannelChat.ChatPersona				{ color: #FFFFFF; }


.PrivateChannelChat.UserMessageType					{ color: #999999; }
.PrivateChannelChat.UserMessage						{ color: #777777; }
.PrivateChannelChat.UserMessageUser					{ color: #DDDDDD; }

.PartyChat.Visitor.ChatPersona										{ color: #6A8EAA; }
.PartyChat.Visitor													{ color: #516C82; }


.ChannelChat.Visitor, .ChannelChat.Visitor a						{ color: #576065; }
.ChannelChat.Visitor.ChatPersona									{ color: #606B70; }

.RegionalChannelChat.Visitor, .RegionalChannelChat.Visitor a		{ color: #5E594F; }
.RegionalChannelChat.Visitor.ChatPersona							{ color: #7A7168; }

.LobbyChat.Visitor, .LobbyChat.Visitor a							{ color: #678E8F; }
.LobbyChat.Visitor.ChatPersona										{ color: #779192; }

.CustomGameChannelChat.Visitor, .CustomGameChannelChat.Visitor a	{ color: #435850; }
.CustomGameChannelChat.Visitor.ChatPersona							{ color: #59796E; }

.PostGameChannelChat.Visitor, .PostGameChannelChat.Visitor a		{ color: #226C94; }
.PostGameChannelChat.Visitor.ChatPersona							{ color: #4C96D5; }

//.WhisperChat.Received, 											{ color: red; }
//.WhisperChat.Received.ChatPersona									{ color: green; }

.BattleCupChat, .BattleCupChat										{ color: #8b6f4e; }
.BattleCupChat.ChatPersona											{ color: #896338; }
.BattleCupChat.Visitor, .BattleCupChat.Visitor a 					{ color: #8b6f4e; }
.BattleCupChat.Visitor.ChatPersona				 					{ color: #896338; }