/* styles for the social widgets */

#ChatAutocompletePanel
{
    flow-children: down;
    background-color: #2d2d2d;
    border: 1px solid black;
    padding: 5px;
}

#ChatAutocompleteTitle
{
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 4px;
}

#ChatAutocompleteContents
{
    flow-children: down;
    max-height: 300px;
    padding-right: 14px;
    overflow: clip scroll;
}

.AutocompleteNoMatches
{
    color: #CCCCCC;
}

/* Styles for all autocomplete entry types*/
.AutocompleteEntry
{
}


.AutocompleteEntry:focus
{
    background-color: blue;
}

.AutocompleteEntryLabel .Match
{
    color: #FFFF00;
}

/* Chat Command */
DOTAChatAutocompleteEntryChatCommand
{
    flow-children: right;
    width: 350px;

	border-bottom: 1px solid #444444;
}


DOTAChatAutocompleteEntryChatCommand .AutocompleteEntryLabel
{
    vertical-align: middle;
    width: fill-parent-flow( 0.5 );
}

DOTAChatAutocompleteEntryChatCommand .AutocompleteCommandDescription
{
    vertical-align: middle;
    font-size: 13px;
    margin-left: 5px;
    width: 175px;
}


/* Steam Friend */
DOTAChatAutocompleteEntrySteamFriend
{
    flow-children: right;
    padding: 2px 3px;
    width: 250px;
}

DOTAChatAutocompleteEntrySteamFriend DOTAAvatarImage
{
    width: 26px;
    height: 26px;
}

DOTAChatAutocompleteEntrySteamFriend Label
{
    margin-left: 5px;
    vertical-align: middle;
}



/* Custom Channel */
DOTAChatAutocompleteEntryCustomChannel
{
    flow-children: right;
    width: 350px;
}

DOTAChatAutocompleteEntryCustomChannel .AutocompleteEntryLabel
{
    vertical-align: middle;
    width: fill-parent-flow( 0.5 );
}

DOTAChatAutocompleteEntryCustomChannel .AutocompleteEntryChannelMemberCount
{
    vertical-align: middle;
    font-size: 14px;
    margin-left: 5px;
}
