/* styles for the social widgets */

@define chatBorderColor: #000000; //#3e444677
@define chatBorderWidth: 1px;
@define chatBorderStyle: solid;

@define chatBackgroundColor: #161E24;

@define chatTransitionDuration: 0.3s;

.ChatIconButton        { wash-color: #737f83; }
.ChatIconButton:hover  { wash-color: #b3c6cc; }
.ChatIconButton:active { wash-color: #ffffff; }

DOTAChat
{
    flow-children: right;
    vertical-align: bottom;
}

DOTAChat.Hidden
{
	visibility: collapse;
}

.ChatLeftPanel
{
    vertical-align: bottom;
}

.HudChat .ChatLeftPanel
{
	visibility: collapse;
}

.ChatMissedMessages
{
    border-radius: 50%;
    background-color: #bf481e;
    width: 20px;
    height: 20px;
    margin-right: 2px;	
    vertical-align: middle;
    horizontal-align: right;
}

.ChatMissedMessagesCount
{
    width: 100%;
    vertical-align: middle;
    horizontal-align: center;
    text-align: center;
	opacity: 1;

    color: white;
    font-weight: bold;
    font-size: 14px;
	
	transition-property: opacity;
    transition-duration: .3s;
}

#ChatMissed.HasMissedMessages .ChatMissedMessagesCount, #ChatMissed.HasMissedMessages .ChatMissedMessages
{
	opacity: 1;
}

@keyframes 'PulseMissedMessages'
{
	0%
	{
	    pre-transform-scale2d: 1.0;
	}

    50%
    {
        pre-transform-scale2d: 1.2;
    }
				
	100%
	{
		pre-transform-scale2d: 1.0;
	}
}

.ChatMissedMessages.MissedMessageCountChanged
{
    animation-name: PulseMissedMessages;
    animation-duration: 0.2s;
}

#ChatTotalMissed
{
    margin-right: 8px;
    margin-bottom: 8px;

	transition-property: opacity;
    transition-duration: chatTransitionDuration;
	transition-timing-function: ease-in-out;
	
    opacity: 0.0;
}

#ChatTotalMissed.HasMissedMessages
{
    opacity: 1.0;
}

#ChatTotalMissed.HasMissedMessages.MissedMessagesAcknowledged
{
    opacity: 1.0;
}

#ChatTotalMissed:hover
{
    box-shadow: -1px -1px 2px 2px #ffffff66;
}

#ChatTotalMissed:active
{
    box-shadow: -1px -1px 2px 2px #ffffff99;
}

.ChatCorePanel
{
	width: fill-parent-flow( 1.0 );
    vertical-align: bottom;

    transition-property: width, transform;
    transition-duration: chatTransitionDuration;
	transition-timing-function: ease-in-out;
}

#ChatMainPanel
{
    width: 100%;
    flow-children: down;
    vertical-align: bottom;
}

#ChatHeaderPanel
{
    padding: 5px 5px 0px 0px;
    width: 100%;
    opacity: 0.0;
    flow-children: right;
    transition-property: opacity;
    transition-duration: chatTransitionDuration;
    background-color: chatBackgroundColor;
	background-color: #2e3736fd;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #262d32fd ), color-stop( 0.9, #262d32fa ), to( #000000 ) );
	background-color: #000000f8;

    border-top: chatBorderWidth chatBorderStyle chatBorderColor;
    border-left: chatBorderWidth chatBorderStyle chatBorderColor;
    border-right: chatBorderWidth chatBorderStyle chatBorderColor;
}

.HudChat #ChatHeaderPanel
{
    visibility: collapse;
}

#ChatHeaderPanel Button, #ChatHeaderPanel Label
{
    vertical-align: middle;
}

#ChatHeaderSpacer
{
    width: fill-parent-flow( 1.0 );
}

#ChatChannelArea
{
	flow-children: right;		
}

.HudChat #ChatChannelArea
{
	width: 100%;
}

#ChatLinesArea
{
	width: 100%;
}

#ParticipantArea
{
	flow-children: down;
	height: 100%;
	width: fill-parent-flow( 1.0 );
	opacity: 0;
	border-left: 1px solid black;
	background-color: #0F161A;
    transition-property: opacity;
    transition-duration: chatTransitionDuration;	
	border-right: chatBorderWidth chatBorderStyle chatBorderColor;
}

.OnTodayPage #ParticipantArea
{
	background-color: #0F161Add;
	background-color: #000000bb;
}

#CountContainer
{
	height: 18px;
	border-bottom: 1px solid #ffffff04;
}

#ParticipantCount
{
	width: 80%;
	background-color: none;
	color: #687477;
	font-weight: thin;
	letter-spacing: 1px;
	font-size: 12px;
	padding: 2px 6px 0px 7px;
	text-transform: uppercase;
	text-align: left;
}

.InfoIcon
{
	height: 12px;
	border-bottom: 1px solid #ffffff04;
	horizontal-align: right;
	margin: 0px;
	wash-color: #869797;
	pre-transform-scale2d: 0.25;
	opacity: 0;
	
	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.2s;
}

.CurrentChannelIsRegional .InfoIcon
{
	pre-transform-scale2d: 1;
	opacity: 1;
}

#ParticipantCount.NoMembers
{
	visibility: collapse;
}

#ParticipantList
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: down;
	padding: 1px 8px 0px 5px;
	overflow: squish scroll;
}

DOTAChat.ChatExpanded #ParticipantArea
{
	opacity: 1;
}

.HudChat #ParticipantArea
{
	visibility: collapse;
}

/* Referenced in code */
@define participantTransitionDuration: 0.2s;

#ParticipantList Label
{
	font-size: 14px;
	color: #8c9a9f;
	width: 100%;
	margin-top: 4px;
	margin-left: 2px;
	font-weight: thin;
	opacity: 0.0;
	transform: translateX( -30px );

	transition-property: position, opacity, transform;
	transition-duration: participantTransitionDuration;
}

#ParticipantList Label.ChatParticipantActive
{
	opacity: 1.0;
	transform: none;
}

#ParticipantList Label.ChatParticipantActive.Admin
{
	opacity: 1.0;
	transform: none;

	color: white;
}

#ParticipantList Label:hover
{
	color: white;
}

#LeaveChannelButton
{
	width: 100%;
	padding: 5px 8px 2px 8px;
	background-color: #2F373D6f;
	//background-color: #2128287f;
	height: 0px;
	
	transform: translateY( 30px );

	transition-property: position, opacity, transform, height;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
}

#LeaveChannelButton Label
{
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: thin;
	color: #A3ABB1;
}

#LeaveChannelButton:hover
{
	brightness: 1.5;
}

#LeaveChannelButton:active
{
	brightness: 2.0;
}

.CurrentChannelIsPublic #LeaveChannelButton,
.CurrentChannelIsPostGame #LeaveChannelButton
{
	transform: translateY( 0px );
	height: 25px;
}

#ChatLinesOverlay
{
    background-color: gradient( linear, 100% 0%, 100% 100%, from( #161E24ff ), color-stop( 0.02, #161E24ff ), color-stop( 0.2, #161E2400 ), to( #161E2400 ) );
	opacity: 0;
	width: 73.9%;
	height: 100%;
    border-left: chatBorderWidth chatBorderStyle chatBorderColor;
	
	transition-property: opacity;
    transition-duration: chatTransitionDuration;
}

.HudChat #ChatLinesOverlay
{
	width: 100%;
}

#ChatLinesContainer
{
    width: 516px;
    height: 75px;
    overflow: squish scroll;
	opacity-mask: url("s2r://panorama/images/masks/chat_preview_opacity_mask_png.vtex") 1.0;
    border-left: chatBorderWidth chatBorderStyle transparent;
    border-right: chatBorderWidth chatBorderStyle transparent;
    border-bottom: chatBorderWidth chatBorderStyle transparent;

	/* Flip the container vertically so that the scroll offset is measured from the bottom,
	   not the top. This is so that it remains constant when a new chat line is added or
	   the container grows/shrinks. */
    transform: scaleY( -1.0 );

    transition-property: background-color, height, opacity-mask;
    transition-duration: chatTransitionDuration;
}

.AspectRatio4x3.NotOnTodayPage #ChatLinesContainer
{
	width: 450px;
}

.HudChat #ChatLinesContainer
{
	width: 100%;
}

#ChatLinesWrapper
{
    overflow: squish noclip;
    width: 100%;

}

#ChatLinesPanel 
{
    width: 100%;
    flow-children: down;
    vertical-align: top;
    overflow: squish noclip;
	padding-right: 14px;

	/* Reverse the transform done in #ChatLinesContainer so the text is rightside up */
    transform: scaleY( -1.0 );
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), color-stop( 0.01, #0000 ), color-stop( 0.1, #0000 ), to( #0000 ) );
	
	
	transition-property: background-color;
	transition-duration: .23s;
	transition-timing-function: ease-in-out;
}

#HudChat.Active #ChatLinesPanel 
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), color-stop( 0.01, #000a ), color-stop( 0.5, #000a ), to( #0000 ) );
}

#ChatLinesPanel VerticalScrollBar
{
    opacity: 0.0;
}

.ChatLinePersonaLabel
{
	min-width: 35px;
	min-height: 20px;
	font-weight: thin;
	font-size: 16px;
	border-radius: 4px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: -8px;
}

.ChatLinePersonaLabel:hover
{
	text-decoration: underline;
	background-color: #6F777D6f;
}

.ChatLine
{
    vertical-align: bottom;
    color: white;
	font-size: 16px;
	font-weight: thin;
	margin-top: -2px;
	margin-left: 5px;
	padding-top: 2px;
}

.ChatLine DOTAEmoticon
{
	margin-top: -4px;
	margin-bottom: -8px;
	margin-left: 2px;
	margin-right: 2px;
    width: 28px;
    height: 28px;
}

.ChatLine .CrestIcon
{
	width: 20px;
	height: 20px;
	margin-top: -3px;
	margin-bottom: -3px;
	transform: translateY( 2px );
}

.ChatLine .BattleCupIcon
{
	width: 20px;
	height: 20px;
	margin-top: -3px;
	margin-bottom: -3px;
	transform: translateY( 2px );
	margin-right: 3px;
}

#ChatTabOptions
{
	/* No clue why this is necessary, but it makes it line up */
	transform: translateX( -1px );
}

#ChatTabOptionsContents
{
	flow-children: right;
	border: 2px solid black;
	border-top: -1px solid black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #1c2124;
	padding: 4px;
	min-width: 64px;

	opacity: 0.99999; /* shouldn't be necessary, but force proper clipping */

	transform: translateY( -100% );

	transition-property: transform;
	transition-duration: 0.2s;
}

#ChatTabOptions .ToggleOptionButton .TickBox
{
	border: 0px solid transparent;
	background-color: none;
	box-shadow: none;
}


#ToggleTabGlobalButton
{
	background-image: url("s2r://panorama/images/control_icons/broadcast_nolines_psd.vtex");
	background-size: 22px 22px;
}

#ToggleTabGlobalButton:selected
{
	background-image: url("s2r://panorama/images/control_icons/broadcast_psd.vtex");
}

#ToggleWhispersGlobalButton
{
	background-image: url("s2r://panorama/images/control_icons/whisper_off_psd.vtex");
	background-size: 22px 22px;
}

#ToggleWhispersGlobalButton:selected
{
	background-image: url("s2r://panorama/images/control_icons/whisper_on_psd.vtex");
}

#ToggleTabSoundsButton
{
	background-image: url("s2r://panorama/images/control_icons/bell_psd.vtex");
	background-size: 16px 16px;
}

.ToggleOptionButton
{
	wash-color: #555555;
	transition-property: wash-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	background-repeat: no-repeat;
    background-position: 50% 50%;
	transform-origin: 50% 10%;
}
	
.ToggleOptionButton:hover
{
	wash-color: #888888;
}	

.ToggleOptionButton:selected, .ToggleOptionButton:selected
{
	wash-color: #AFDEE2;
}

.ToggleOptionButton:selected:hover, .ToggleOptionButton:selected:hover
{
	wash-color: white;
}

#ToggleTabSoundsButton.Activated
{
	animation-name: BellButtonAnimation;
	animation-duration: 0.50s;
	animation-delay: 0.15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'BellButtonAnimation'
{
	0%
	{
		transform: rotateZ( 0deg );
	}
	20%
	{
		transform: rotateZ( 25deg );
	}
	40%
	{
		transform: rotateZ( -25deg );
	}
	60%
	{
		transform: rotateZ( 15deg );
	}
	80%
	{
		transform: rotateZ( -15deg );
	}
				
	100%
	{
		transform: rotateZ( 0deg );
	}
}

#ChatTabOptionsContents ToggleButton, #ChatTabOptionsContents Button
{
	vertical-align: middle;
}

#ChatTabOptions.TabOptionsVisible #ChatTabOptionsContents
{
	transform: translateY( 0% );
}

#ChatTabOptions.TabOptionsVisible
{
	visibility: visible;
}

#CloseTabButton, .ToggleOptionButton
{
	visibility: collapse;

	tooltip-position: bottom;
}

#ChatTabOptions.CanClose #CloseTabButton
{
	visibility: visible;
}
#ChatTabOptions.CanToggleGlobal #ToggleTabGlobalButton
{
	visibility: visible;
}
#ChatTabOptions.CanToggleWhispersGlobal #ToggleWhispersGlobalButton
{
	visibility: visible;
}
#ChatTabOptions.CanToggleSounds #ToggleTabSoundsButton
{
	visibility: visible;
}

DOTAChat.ChatExpanded
{
    sound: "ui_chat_slide_in";
    sound-out: "ui_chat_slide_out";
}

DOTAChat.PreGameChat #ChatLinesContainer,
DOTAChat.ChatExpanded #ChatLinesContainer
{
    height: 249px;
    background-color: chatBackgroundColor;
  	opacity-mask: url("s2r://panorama/images/masks/chat_preview_opacity_mask_png.vtex") 0.0;
    border-left: chatBorderWidth chatBorderStyle chatBorderColor;
    border-right: chatBorderWidth chatBorderStyle chatBorderColor;
    border-bottom: 0px chatBorderStyle transparent;
}
.SideChat DOTAChat.PreGameChat #ChatLinesContainer,
.SideChat DOTAChat.ChatExpanded #ChatLinesContainer
{
    height:900px;
}

.SideChat .ChatCorePanel
{
    vertical-align:top;
    height:100%;
}

.SideChat #ChatMainPanel
{
    height:100%;
}
.SideChat #ChatHelpPanel
{
    visibility:collapse;
    height:0px;
}
.SideChat #ChatLinesArea
{
    height:700px;
}
DOTAChat.PreGameChat #ChatLinesContainer
{
	height: 160px;
	background-color: #000000ca;
}

.OnTodayPage DOTAChat.ChatExpanded #ChatLinesContainer
{
    background-color: #00000099;
}


.OnTodayPage DOTAChat.ChatExpanded #ChatHeaderPanel
{
    border: 1px solid black;
	border-bottom: 0px chatBorderStyle transparent;
}


DOTAChat.PreGameChat #ChatHeaderPanel,
DOTAChat.ChatExpanded #ChatHeaderPanel
{
    opacity: 1.0;
}

DOTAChat.PreGameChat #ChatLinesPanel VerticalScrollBar,
DOTAChat.ChatExpanded #ChatLinesPanel VerticalScrollBar
{
	opacity: 1.0;
}

DOTAChat.ChatExpanded #ChatLinesOverlay
{
	opacity: 1.0;
}

DOTAChat.PreGameChat #ChatLinesOverlay
{
	opacity: 0;
}

DOTAChat.PreGameChat #ChatTotalMissed,
DOTAChat.ChatExpanded #ChatTotalMissed
{
	opacity: 0.0;
}

DOTAChat.PreGameChat #ChatTotalMissed.HasMissedMessages.MissedMessagesAcknowledged,
DOTAChat.ChatExpanded #ChatTotalMissed.HasMissedMessages.MissedMessagesAcknowledged
{
	opacity: 0.0;
}


#ChatControls
{
    flow-children: right;
    border: chatBorderWidth chatBorderStyle chatBorderColor;
    background-color: chatBackgroundColor;
	background-color: black;
}

#ChatTabsPanel
{
    flow-children: right;
    vertical-align: bottom;
	max-width: 516px;
	overflow: scroll squish;
}

#ChatTabsPanel.CanScrollHorizontal
{
	padding-left: 17px;
	padding-right: 20px;
}

#ChatTab#ChatTabsPanel #HorizontalScrollBar
{
	margin-bottom: 5px;
}

#NewChatTabButton
{
    vertical-align: top;
	horizontal-align: right;
    height: 24px;
    margin-left: 5px;
	background-color: transparent;
	border: 1px solid transparent;
	wash-color: #cccccc;

    background-image: url("s2r://panorama/images/control_icons/plus_thin_png.vtex");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

#ChatHeaderPanel Button
{
	vertical-align: top;
	margin: 0px;
}

#ChatHeaderPanel Button:hover
{
	border: 1px solid #454D53;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #3B4745 ), color-stop( 0.4, #232F37 ), to( #202B34 ) );
}

#NewChatTabButton Label
{
	color: #A3ABB1;
	margin-top: 2px;
	margin-left: 16px;
	margin-right: 32px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

#NewChatTabButton:hover Label
{
	color: white;
}
#NewChatTabButton:hover
{
	background-color: #363D3E;
}

#ChatTabHelpButton
{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 31px;
	height: 31px;
	background-color: #2c3434;
	border: 1px solid black;
	wash-color: #cccccc;

    width: 31px;
    margin-left: 1px;
    margin-right: 1px;
	transition-duration: 0s;
}

#ChatTabHelpButton:hover
{
	background-color: #363D3E;
	wash-color: white;
}

#ChatTabHelpButton:active
{
	wash-color: #999999;
}

.HelpButton:hover Label
{
	wash-color: white;
}

#ChatTabHelpButton Label
{
	text-align: center;
	margin-top: 0px;
	margin-left: 1px;
	font-size: 24px;
	font-weight: thin;
	transition-duration: 0s;
}

.HelpButton Label
{
    wash-color: none;
}

#ChatScrollUpButton,
#ChatScrollDownButton
{
	visibility: collapse;
	wash-color: #303435;
}

DOTAChat#HudChat.CanScrollDown #ChatScrollUpButton,
DOTAChat#HudChat.CanScrollUp #ChatScrollDownButton
{
	wash-color: #737f83;
}

DOTAChat#HudChat.CanScrollDown #ChatScrollUpButton:hover,
DOTAChat#HudChat.CanScrollUp #ChatScrollDownButton:hover
{
	wash-color: #b3c6cc;
}

DOTAChat#HudChat #ChatScrollUpButton,
DOTAChat#HudChat #ChatScrollDownButton
{
	visibility: visible;
	wash-color: #565f62;
}

DOTAChat#HudChat #ChatScrollUpButton:hover,
DOTAChat#HudChat #ChatScrollDownButton:hover
{
	wash-color: #707C8044;
}

.ChatTimestamp
{
	width: 100%;
	flow-children: right;
}

.ChatTimestamp Label
{
    font-size: 12px;
    color: #596b75;
}

.ChatTimestampFiller
{
	width: fill-parent-flow( 1.0 );
	height: 1px;
	margin: 0px 6px;
	vertical-align: middle;
}

.ChatTimestampFillerLeft
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #596b7511 ), to( #596b7533 ) );
}

.ChatTimestampFillerRight
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #596b7511 ), to( #596b7533 ) );
}
		
.ChatTarget
{
    font-size: 14px;
	font-style: italic;
}

.ChatPersona
{
    font-size: 16px;
}

.CoinFlipResult
{
	font-weight: bold;
	font-style: italic;
}

.ShareChatPersona
{
	font-weight: bold;
}

DOTAChatTab
{
    flow-children: right;
    vertical-align: bottom;
    height: 30px;
    margin-left: 5px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #363d3e ), color-stop( 0.6, #363d3e ), color-stop( 0.9, chatBackgroundColor ), to( black ) );
	background-color: transparent;
	box-shadow: -2px -2px 4px 4px #00000066;
	border-top: chatBorderWidth chatBorderStyle transparent;
    border-left: chatBorderWidth chatBorderStyle transparent;
    border-right: chatBorderWidth chatBorderStyle transparent;

}

DOTAChatTab Label
{
	background-color: black;
	margin: 0px;
}

#ChatMissed.HasMissedMessages Label
{
	background-color: transparent;
	margin: 1px;
}

DOTAChatTab:selected Label
{
	background-color: transparent;
	margin: 1px;
}

DOTAChatTab:hover
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #454b49 ), color-stop( 0.6, #363d3e ), color-stop( 0.9, chatBackgroundColor ), to( black ) );
}

DOTAChatTab:hover Label
{
	brightness: 2.5;
}

DOTAChatTab:selected:hover Label
{
	brightness: 1;
}


DOTAChatTab:selected
{
    background-color: chatBackgroundColor;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #2a3231 ), color-stop( 0.4, chatBackgroundColor ), to( chatBackgroundColor ) );
	border-top: chatBorderWidth chatBorderStyle black;
    border-left: chatBorderWidth chatBorderStyle black;
    border-right: chatBorderWidth chatBorderStyle black;
	box-shadow: -2px -2px 4px 4px #000000;
}

#ChatTabName
{
    font-size: 16px;
    vertical-align: middle;
    padding: 3px 10px 5px 10px;
    text-align: center;
	horizontal-align: center;
}

DOTAChatTab:selected #ChatTabName
{
    padding: 3px 4px 5px 10px;
}

#ChatMissedContainer
{
	background-color: black;
	width: fit-children;
	height: 100%;
	vertical-align: bottom;
}

#ChatMissed
{
    margin-right: 0px;
	margin-bottom: 4px;
    width: 0px;
	height: 0px;
	opacity: 0;
	
	transition-property: width, opacity, height;
    transition-duration: 0.3s;
}

#ChatMissed.HasMissedMessages
{
    width: 20px;
	height: 20px;
	margin-right: 5px;
	opacity: 1;
}

#ChatTargetLabel, #ChatEmoticonButton, #ChatScrollUpButton, #ChatScrollDownButton
{
    height: 100%;
    vertical-align: middle;
}

#ChatTargetLabel, #ChatInput
{
    font-size: 16px;
    padding: 6px 3px 5px 3px;
    vertical-align: middle;
}

#ChatTargetLabel
{
    padding-right: 0px;
	padding-left: 5px;
}

.ChatTargetHidden #ChatTargetLabel
{
	visibility: collapse;
}

.ChatTargetHidden #ChatInput
{
	padding-left: 6px;
}

#ChatInput
{
    vertical-align: bottom;
    width: fill-parent-flow( 1.0 );
	height: 32px;
    border: 0px solid black;
	background-color: rgba(0,0,0,0);
	white-space: nowrap;
}

#ChatInput #PlaceholderText
{
    font-size: 16px;
	margin-top: 0px;
    margin-bottom: -5px;
}

#ChatEmoticonButton
{
    background-image: url("s2r://panorama/images/control_icons/emoticon_icon_psd.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 5px;
    width: 30px;
}


#ChatScrollUpButton
{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_up_png.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 5px;
    width: 30px;
}


#ChatScrollDownButton
{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_down_png.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 5px;
    width: 30px;
}

#ChatTabShareButton
{
    background-image: url("s2r://panorama/images/control_icons/share_profile_psd.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 31px;
	height: 31px;
	background-color: #2c3434;
	border: 1px solid black;
	wash-color: #cccccc;

	context-menu-position: top;
	context-menu-body-position: 100% 100%;

	visibility: collapse;
}

.DashboardChat #ChatTabShareButton
{
	visibility: visible;
}

#ChatTabShareButton:hover
{
	background-color: #363D3E;
	wash-color: white;
}

#ChatTabShareButton:active
{
	wash-color: #999999;
}


#ChatTabReadyCheckButton
{
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 18px;
	width: 31px;
	height: 31px;
	background-color: #2c3434;
	border: 1px solid black;
	wash-color: #cccccc;

	tooltip-position: top;
	tooltip-body-position: 50% 50%;

	visibility: collapse;
}

.DashboardChat.ReadyCheckAvailable #ChatTabReadyCheckButton
{
	visibility: visible;
}

#ChatTabReadyCheckButton:hover
{
	background-color: #363D3E;
	wash-color: white;
}
#ChatTabReadyCheckButton:active
{
	wash-color: #999999;
}



#ChatOverlayPanel
{
    vertical-align: bottom;
    margin-bottom: 35px;
    width: 100%;
}

#ChatAutocompletePanel
{
    vertical-align: bottom;
}

#ChatEmoticonPicker
{
    vertical-align: bottom;

    margin-bottom: 4px;
    box-shadow: -2px -2px 4px 4px #000000;

	transform: translateY( 128px );
    opacity: 0.0;

    transition-property: opacity, transform;
    transition-duration: 0.3s;
}

#ChatEmoticonPicker.Visible
{
    opacity: 1.0;
	transform: translateY( 0px );
}

#ChatEmoticonPicker
{
    margin-right: 5px;
    horizontal-align: right;
}

/* Help Panel */
#ChatHelpPanel
{
    background-color: #000000f6;
    flow-children: right;
    padding: 8px;

    border-left: chatBorderWidth solid chatBorderColor;
    border-right: chatBorderWidth solid chatBorderColor;
    border-top: chatBorderWidth solid chatBorderColor;

    width: 100%;
    
    opacity: 0.0;
    transform: translateY( 142px );

    transition-property: opacity, transform;
    transition-duration: 0.2s;
}

.ChatExpanded #ChatHelpPanel
{
    transform: translateY( 18px );
}


.ChatExpanded #ChatHelpPanel.Visible
{
    opacity: 1.0;
    transform: translateY( 0px );
}

#ChatHelpPanel.Visible
{
    opacity: 1.0;
    transform: translateY( 112px );
}

.ChatHelpColumn
{
    flow-children: down;
    width: fill-parent-flow( 1.0 );
}

#HelpTargetCommands, #HelpActionCommands
{
    flow-children: down;
    horizontal-align: center;
}

.ChatHelpHeader
{
    font-weight: bold;
    horizontal-align: center;
    text-align: center;
    color: white;
    font-size: 20px;
}

.ChatCommandHelp
{
    flow-children: right;
    tooltip-position: right;
    tooltip-body-position: 50% 50%;
}

.ChatCommandHelp:hover
{
    background-color: #ffffff08;
}

.ChatCommandHelpName
{
    width: fill-parent-flow( 1.0 );
    text-align: right;
    margin-right: 3px;
    font-size: 16px;
}

.ChatCommandHelpCommand
{
    width: fill-parent-flow( 1.0 );
    margin-left: 3px;
    font-size: 16px;
}

a.InviteButton
{
    
}

#ChatDialogVariablePanel, #ChatMessageTempLabel
{
	visibility: collapse;
}


#ChatTabMenu
{
    background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    vertical-align: middle;
    horizontal-align: left;
    height: 100%;
    width: 20px;
    margin-right: 2px;
    wash-color: #888888;
    border: 0px solid black;
    visibility: collapse;
}

#ChatTabMenu:hover
{
	wash-color: white;
	border: 0px solid black;
}


#ChatTabMenu:active
{
	wash-color: #666666;
    border: 0px solid black;	
}

DOTAChatTab:selected #ChatTabMenu
{
	visibility: visible;
}

.CloseButton
{
	width: 18px;
	height: 18px;
	background-size: 18px;
	horizontal-align: right;
	margin-right: 0px;
	padding: 2px;
}

ToggleButton:hover .TickBox
{
	border: 0px solid transparent;
}


.DiceRoll
{
	flow-children: right;
	transform: translateY( 6px );
}

.HudChat .DiceRoll
{
	background-color: black;
	padding-top: 4px;
	padding-right: 4px;
	transform: translateY( 4px );
}

.DiceRollColumn
{
	width: 24px;
	height: 24px;
	margin-top: -10px;
	margin-left: -4px;
	margin-right: -8px;
	pre-transform-scale2d: .6;

	// Background properties set through code
	//background-image: url("s2r://panorama/images/emoticons/dice_roll_png.vtex");
	//background-size: 24px 240px;
	//background-repeat: repeat-y;
	//background-color: #FFFFFF00;
}
.MatchLink, 
.TournamentLink
{
    color:#6A8EAA;
}


.SuggestedHero
{
	font-weight: bold;
}
.SuggestedHeroRole
{
	font-weight: bold;
}

.RequestedAbility
{
	font-weight: bold;
}

DOTAChat#HudChat
{
	horizontal-align: center;
	vertical-align: bottom;

	y: -240px;

	width: 800px;
	height: 420px;

	transition-property: position;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

DOTAChat#HudChat.Channeling
{
	y: -340px;
}

DOTAChat#HudChat #ChatLinesContainer,
DOTAChat#HudChat #ChatHeaderPanel
{
	border: 0px solid black;

	height: 162px;
	margin-bottom: 0px;

	background-color: #00000000;

	opacity-mask: url("s2r://panorama/images/masks/hudchat_mask_psd.vtex") 1.0;
}

DOTAChat#HudChat #ChatControls
{
	opacity: 0;
	background-color: #000c;
	text-shadow: 1px 1.5px 0px 2 #000000;
	border-radius: 6px;
	margin-top: -1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000f ), color-stop( 0.8, #000d ), to( #000a ) );
}

DOTAChat#HudChat.Active #ChatControls
{
	opacity: 1;
}

DOTAChat#HudChat #ChatLinesOverlay
{
	background-color: #00000000;
	border-left: 0px solid black;
}


DOTAChat#HudChat .ChatLine
{
	font-size: 18px;
	width: 750px;
	max-width: 750px;
	font-weight: bold;

	text-shadow: 1px 1.5px 0px 2 #000000;
}

DOTAChat#HudChat .ChatTarget
{
    font-size: 18px;
	font-style: normal;
	font-weight: bold;
}

DOTAChat#HudChat .WhisperChat .ChatTarget,
DOTAChat#HudChat .GameAllChat .ChatTarget,
DOTAChat#HudChat .GameAlliesChat .ChatTarget
{
	color: #fbe6b9;
}

DOTAChat#HudChat .ChatPersona
{
    font-size: 20px;
}

DOTAChat .ChatLine .HeroIcon
{
	width: 40px;
	height: 23px;

	margin-bottom: -3px;
	margin-top: 0px;
	margin-bottom: -6px;
	margin-right: 4px;
	transform: translateY( 2px );
	border: 1px solid black;
}

DOTAChat .ChatLine .HeroBadge
{
	width: 32px;
	height: 32px;

	margin-bottom: -12px;
	margin-top: -4px;
}

DOTAChat#HudChat .ChatLine.Expired
{
	transition-property: opacity!immediate;
	transition-duration: 0.3s;

	opacity: 0;
}

DOTAChat#HudChat.Active .ChatLine.Expired
{
	transition-property: opacity!immediate;
	transition-duration: 0.1s;

	opacity: 1;
}

DOTAChat#HudChat #ChatLinesContainer #VerticalScrollBar
{
	opacity: 0;
}

DOTAChat#HudChat .ChatTimestamp
{
    visibility: collapse;
}

DOTAChat#HudChat .PlayerColor0 { color: HeroSlot0Color; }
DOTAChat#HudChat .PlayerColor1 { color: HeroSlot1Color; }
DOTAChat#HudChat .PlayerColor2 { color: HeroSlot2Color; }
DOTAChat#HudChat .PlayerColor3 { color: HeroSlot3Color; }
DOTAChat#HudChat .PlayerColor4 { color: HeroSlot4Color; }
DOTAChat#HudChat .PlayerColor5 { color: HeroSlot5Color; }
DOTAChat#HudChat .PlayerColor6 { color: HeroSlot6Color; }
DOTAChat#HudChat .PlayerColor7 { color: HeroSlot7Color; }
DOTAChat#HudChat .PlayerColor8 { color: HeroSlot8Color; }
DOTAChat#HudChat .PlayerColor9 { color: HeroSlot9Color; }

DOTAChat#HudChat .RuneDD { color: RuneDDColor; font-weight: bold; }
DOTAChat#HudChat .RuneHaste { color: RuneHasteColor; font-weight: bold; }
DOTAChat#HudChat .RuneIllus { color: RuneIllusionColor; font-weight: bold; }
DOTAChat#HudChat .RuneInvis { color: RuneInvisColor; font-weight: bold; }
DOTAChat#HudChat .RuneRegen { color: RuneRegenColor; font-weight: bold; }
DOTAChat#HudChat .RuneArcane { color: RuneArcaneColor; font-weight: bold; }
DOTAChat#HudChat .RuneBounty { color: RuneBountyColor; font-weight: bold; }

.ChatWheelIcon
{
	width: 20px;
	height: 20px;
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 2px;

	vertical-align: top;
}


DOTAChat#HudChat .GameAllChat,
DOTAChat#HudChat .GameAlliesChat
{
	font-weight: bold;
	font-size: 18px;
}

DOTAChat#HudChat #ChatMissedContainer
{
	visibility: collapse;
}