/* Compendium styles */
/*   Styles used to recreate the visuals of SF elements. */

.Button
{
	border: 2px solid grey;
    padding: 4px 8px 4px 8px;
    z-index: 9999;
}

.Button:hover
{
    border: 2px solid white;
}

.Button:hover .ButtonLabel
{
    color: white;
}

.ButtonLabel
{
	text-align: center;
	font-family: platformfont;
	font-size: 13;
    color: grey;
}

.Button_Close
{
    border: 0px solid white;
    padding: 0px 0px 0px 0px;
       
	width: 18px;
	height: 18px;
	wash-color: #888888;
	
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 4px;
	
	transition-property: wash-color, pre-transform-scale2d, background-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
}

.Button_Close:hover
{
    border: 0px solid white;
	wash-color: #bbbbbb;
}

.Button_Close:active
{
	wash-color: white;
	background-size: 14px 14px;
	sound: "ui_friends_slide_in";
}


@keyframes 'SelectionHighlightAnimation'
{
	0%
	{
		box-shadow: #00FF00FF -5px -5px 10px 10px;
	}
	50%
	{
        box-shadow: #00BB00FF -5px -5px 10px 10px;
	}
    100%
    {
        box-shadow: #00FF00FF -5px -5px 10px 10px;
    }
}

.SelectionHighlight
{
    animation-name: SelectionHighlightAnimation;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    margin: 0px 5px 5px 0px;
}

.ProgressBar
{
	background-color: #00000000;
    border: 0px solid black;
    box-shadow: #00000000 0px 0px 0px 0px;
}

.ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFFFF ), to( #FFFFFFFF ) );
}

.DropDownLabel
{
    width: 100%;
}

.TimerTitleLabel
{
    horizontal-align: center;
    font-size: 15;
    margin-top: 2px;
}

.TimerLabelContainer
{
    margin-top: 20px;
    flow-children: right;
}

.TimerTimeContainer
{
    width: 65px;
    padding-left: 5px;
    padding-right: 5px;
    flow-children: down;
}

.TimerTimeLabel
{
    horizontal-align: center;
	font-size: 30;
    font-weight: bold;
    height: 32px;
}

.TimerTimeLabelSubtext
{
    vertical-align: top;
    horizontal-align: center;
	font-size: 12;
    font-weight: bold;
}

.ActiveContainer
{
    width:100%;
}

.ExpiredContainer
{
    margin-top: 8px;
    width:100%;
}

.TimerLockedImage
{
    horizontal-align: center;
    margin-top: 20px;
    width: 30px;
    height: 30px;
}
