/* Styles used by crafting */

DOTACraftingInputSlot
{
	margin-right: 6px;
	margin-top: 3px;
}

DOTACraftingInputSlot #EmptyContainer
{
	width: 100%;
	height: 100%;
	background-color: #1a1a1a;
}

DOTACraftingInputSlot #SlotNumberLabel
{
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	font-size: 40px;
	opacity: 0.1;
	padding-top: 3px;
}

DOTACraftingInputSlot #ItemContainer
{
	width: 100%;
	height: 100%;
}

DOTACraftingInputSlot #SlotItem
{
	width: 100%;
	height: 100%;
}

DOTACraftingInputSlot.DragHover
{
	border: 2px solid yellow;
}

DOTACraftingInputSlot #ItemContainer DOTAEconItem
{
	margin: 0px;
}