@define CrateTierZero_textcolor: gradient( linear, 0% 0%, 0% 100%, from( #F1FA90 ), to( #FCC22D ) );
@define CrateTierOne_textcolor: gradient( linear, 0% 0%, 0% 100%, from( #C7EAE3 ), to( #749C95 ) );
@define CrateTierTwo_textcolor: gradient( linear, 0% 0%, 0% 100%, from( #86EA63 ), to( #00AD6F ) );
@define CrateTierThree_textcolor: gradient( linear, 0% 0%, 0% 100%, from( #70E5FF ), to( #0EA1F3 ) );
@define CrateTierFour_textcolor: gradient( linear, 0% 0%, 0% 100%, from( #D39AFF ), to( #A378FF ) );
@define CrateTierFive_textcolor: gradient( linear, 0% 0%, 0% 100%, from( #FFC062 ), to( #FC782D ) );


DOTACrateRecyclePage,
DOTACrateSellPage
{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    background-color: #00000077;
}

.PageContentContainer
{
	width: fit-children;
	horizontal-align: right;
	margin-right: 160px;
}

.AspectRatio16x10 .PageContentContainer
{
	margin-right: 90px;
}

.AspectRatio4x3 .PageContentContainer
{
	margin-right: 30px;
}

.AspectRatio21x9 .PageContentContainer
{
	margin-right: 400px;
}

.AspectRatio16x9 .PageContentContainer
{
	margin-right: 160px;
}

.LeftContainer
{
    margin-top:80px;
	margin-top:120px;
    background-color: #000000cc;
    height:775px;
    width: 691px;
    horizontal-align:left;
    //margin-left:575px;
	//margin-left:775px;
    flow-children:down;
	
	padding: 18px 24px 18px 24px;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000ee ), color-stop(.5, #000000cc ), to( #000000cc ) );
	border-left: 1px solid #ffffff03;
	border-right: 1px solid #ffffff03;
	border-top: 1px solid #ffffff03;
	border-bottom: 1px solid #ffffff03;
	box-shadow: 0px 0px 16px #000000aa;
	margin-right: 20px;
}

.RightContainer {
    
    height:775px;
    width: 337px;
    horizontal-align: left;
    flow-children: down;
	
	margin-top:80px;
	margin-top:120px;
	//margin-left: 1283px;
    background-color: #000000cc;
    
	padding: 18px 24px 18px 24px;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000cc ), color-stop(.5, #000000cc ), to( #000000ee ) );
	border-left: 1px solid #ffffff03;
	border-right: 1px solid #ffffff03;
	border-top: 1px solid #ffffff03;
	border-bottom: 1px solid #ffffff03;
	box-shadow: 0px 0px 16px #000000aa;
}

.Title
{
    flow-children:down;
    width:100%;
}

.OwnedText
{
	vertical-align: top;
	horizontal-align: left;
	font-size: 30px;
	color: white;
	//color: #ffffff33;
	
	font-family: titleFont;
	font-weight: semi-bold;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.HorizontalLine {
    width: 100%;
    height: 1px;
    background-color: #ffffff22;
}

.TierSelector {
    flow-children: down;
    width: 100%;
}

.TierSelectorTextContainer
{
    height:45px;
    flow-children:right;
}

.SelectTierText
{
    color:white;
    font-size:14px;
    vertical-align:center;
    margin-right: 23px;
	
	font-family: titleFont;
}

.TierTab
{
    flow-children:right;
    vertical-align:center;
    margin-right:40px;
}

.HexIcon
{    
    height:40px;
    width:40px;
    margin-right:7px;
    background-size:cover;
}

.MenuTier1 .HexIcon
{
    background-image: url("s2r://panorama/images/treasures/tier1_png.vtex");
}

.MenuTier2 .HexIcon
{
    background-image: url("s2r://panorama/images/treasures/tier2_png.vtex");
}

.MenuTier3 .HexIcon
{
    background-image: url("s2r://panorama/images/treasures/tier3_png.vtex");
}

.MenuTier4 .HexIcon
{
    background-image: url("s2r://panorama/images/treasures/tier4_png.vtex");
}

.MenuTier5 .HexIcon
{
    background-image: url("s2r://panorama/images/treasures/tier5_png.vtex");
}
.TierMenu
{
    flow-children: right;
}
.TierMenuColumn
{
    flow-children: down;
}
.TierText 
{
    horizontal-align: center;
    vertical-align: center;
    font-size: 24px;
    font-weight: bold;
}

.GenericTierText 
{
    vertical-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: semi-bold;
	margin-left: 6px;
	color: baseText;
}

.CurrentCategory 
{
    flow-children:right;
    margin-top:16px;
    height:32px;
}

.CurrentCategory Label
{
	margin-left: 3px;
	vertical-align: top;
	horizontal-align: left;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: semi-bold;
	letter-spacing: 1px;
	font-size: 24px;
    color: baseText;
}

.FilterCrate_None .CurrentCategory Label { color: CrateTierZero_textcolor; }
.FilterCrate_Tier1 .CurrentCategory Label { color: CrateTierOne_textcolor; }
.FilterCrate_Tier2 .CurrentCategory Label { color: CrateTierTwo_textcolor; }
.FilterCrate_Tier3 .CurrentCategory Label { color: CrateTierThree_textcolor; }
.FilterCrate_Tier4 .CurrentCategory Label { color: CrateTierFour_textcolor; }

.CategoryAmount
{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left:5px; 
	vertical-align: center;
	margin-top: 9px;
	color: #666666;
}

.CategoryName
{
	margin-left: 3px;
	vertical-align: top;
	horizontal-align: left;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: semi-bold;
	letter-spacing: 1px;
	font-size: 24px;
    color: baseText;
}

.FilterCrate_None .CategoryName { color: CrateTierZero_textcolor; }
.FilterCrate_Tier1 .CategoryName { color: CrateTierOne_textcolor; }
.FilterCrate_Tier2 .CategoryName { color: CrateTierTwo_textcolor; }
.FilterCrate_Tier3 .CategoryName { color: CrateTierThree_textcolor; }
.FilterCrate_Tier4 .CategoryName { color: CrateTierFour_textcolor; }

#RecyclableItemList,
#InventoryItemList
{
    flow-children: down;
    width: 100%;
    overflow: clip scroll;
    opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_wide_psd.vtex");
    height: 616px;
}

#ItemImage
{
	margin-left: -24px;
	pre-transform-scale2d: .78;
}

VerticalScrollBar
{
	background-color: #ffffff02;
	width: 6px;
}


.RecyclableItem,
.SellableItem
{
    height: 160px;
    margin-bottom: -30px;
    margin-top: -10px;
    width: 100%;
    margin-right: 20px;
    transition-duration: .2s;
    transition-property: brightness;
}

.RecyclableItem:hover .RecyclableItemBackground,
.SellableItem:hover .SellableItemBackground
{
    brightness: 1.7;
}

.RecyclableItemContent,
.SellableItemContent
{
    flow-children: right;
    width:100%;
}

.RecyclableItemBackground,
.SellableItemBackground
{
    height: 120px;
    height: 80px;
    width: 100%;
    margin-left: 30px;
    background-color: gray;
    vertical-align: center;
    opacity: 0.2;
    transition-property: brightness;
    transition-duration: .2s;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop(.16, #749C9577 ), to( #749C9528 ) );
}

.FilterCrate_None .RecyclableItemBackground,
.FilterCrate_None .SellableItemBackground
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop(.16, #FCC22D40 ), to( #FCC22D18 ) );
}

.FilterCrate_Tier1 .RecyclableItemBackground,
.FilterCrate_Tier1 .SellableItemBackground
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop(.16, #749C9577 ), to( #749C9528 ) );
}

.FilterCrate_Tier2 .RecyclableItemBackground,
.FilterCrate_Tier2 .SellableItemBackground
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop(.16, #0FA77077 ), to( #0FA77022 ) );
}

.FilterCrate_Tier3 .RecyclableItemBackground,
.FilterCrate_Tier3 .SellableItemBackground
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop(.16, #4C7C9777 ), to( #4C7C9730 ) );
}
.FilterCrate_Tier4 .RecyclableItemBackground,
.FilterCrate_Tier4 .SellableItemBackground
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop(.16, #7F4C9777 ), to( #7F4C9730 ) );
}

.ItemAvailableState
{
    flow-children:right;
}

.AddToListButton .Owned
{
    font-weight: medium;
    text-transform:uppercase;
    margin-right:0px;
    vertical-align:center;
	font-size: 12px;
	margin-top: -2px;
	color: #6B6F73;
	transition-duration: .2s;
	transition-property: color;
}

.FilterCrate_Tier1 .RecyclableItem:hover .AddToListButton .Owned,
.FilterCrate_Tier2 .RecyclableItem:hover .AddToListButton .Owned,
.FilterCrate_Tier3 .RecyclableItem:hover .AddToListButton .Owned,
.FilterCrate_Tier4 .RecyclableItem:hover .AddToListButton .Owned,
.FilterCrate_None .SellableItem:hover .AddToListButton .Owned,
.FilterCrate_Tier1 .SellableItem:hover .AddToListButton .Owned,
.FilterCrate_Tier2 .SellableItem:hover .AddToListButton .Owned,
.FilterCrate_Tier3 .SellableItem:hover .AddToListButton .Owned
.FilterCrate_Tier4 .SellableItem:hover .AddToListButton .Owned
{
    color: #6B6F73;
}

.FilterCrate_Tier1 .RecyclableItem:hover .AddToListButton:hover .Owned,
.FilterCrate_Tier2 .RecyclableItem:hover .AddToListButton:hover .Owned,
.FilterCrate_Tier3 .RecyclableItem:hover .AddToListButton:hover .Owned,
.FilterCrate_Tier4 .RecyclableItem:hover .AddToListButton:hover .Owned,
.FilterCrate_None .SellableItem:hover .AddToListButton:hover .Owned,
.FilterCrate_Tier1 .SellableItem:hover .AddToListButton:hover .Owned,
.FilterCrate_Tier2 .SellableItem:hover .AddToListButton:hover .Owned,
.FilterCrate_Tier3 .SellableItem:hover .AddToListButton:hover .Owned
.FilterCrate_Tier4 .SellableItem:hover .AddToListButton:hover .Owned
{
    color: #C4C9CEaa;
}

.FilterCrate_None .RecyclableItem:hover .AddToListButton:hover,
.FilterCrate_None .SellableItem:hover .AddToListButton:hover
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #FCC22D10 ), to( #FCC22D40) );
}
.FilterCrate_Tier1 .RecyclableItem:hover .AddToListButton:hover,
.FilterCrate_Tier1 .SellableItem:hover .AddToListButton:hover
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #47807210 ), to( #47807240) );
}
.FilterCrate_Tier1 .RecyclableItem:hover .AddToListButton:hover,
.FilterCrate_Tier1 .SellableItem:hover .AddToListButton:hover
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #47807210 ), to( #47807240) );
}
.FilterCrate_Tier2 .RecyclableItem:hover .AddToListButton:hover,
.FilterCrate_Tier2 .SellableItem:hover .AddToListButton:hover
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #48804710 ), to( #48804750) );
}
.FilterCrate_Tier3 .RecyclableItem:hover .AddToListButton:hover,
.FilterCrate_Tier3 .SellableItem:hover .AddToListButton:hover
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #475A8010 ), to( #475A8050) );
}
.FilterCrate_Tier4 .RecyclableItem:hover .AddToListButton:hover,
.FilterCrate_Tier4 .SellableItem:hover .AddToListButton:hover
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #60478010 ), to( #60478050) );
}

.RecyclableItem:hover .AddToListButton,
.SellableItem:hover .AddToListButton,
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #47807210 ), to( #47807220) );
    border: 1px solid white;
    border-brush: gradient( linear, 0% 0%, 0% 100%, from( #77ADA4 ), to( #7BCEBA) );
}

.FilterCrate_None .RecyclableItem:hover .AddToListButton,
.FilterCrate_None .SellableItem:hover .AddToListButton
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #FCC22D10 ), to( #FCC22D20) );
    border: 1px solid white;
    border-brush: gradient( linear, 0% 0%, 0% 100%, from( #F1FA90 ), to( #FCC22D) );
}

.FilterCrate_Tier1 .RecyclableItem:hover .AddToListButton,
.FilterCrate_Tier1 .SellableItem:hover .AddToListButton
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #47807210 ), to( #47807220) );
    border: 1px solid white;
    border-brush: gradient( linear, 0% 0%, 0% 100%, from( #77ADA4 ), to( #7BCEBA) );
}

.FilterCrate_Tier2 .RecyclableItem:hover .AddToListButton,
.FilterCrate_Tier2 .SellableItem:hover .AddToListButton
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #48804710 ), to( #48804730) );
    border: 1px solid white;
    border-brush: gradient( linear, 0% 0%, 0% 100%, from( #0FA770 ), to( #71CF50) );
}

.FilterCrate_Tier3 .RecyclableItem:hover .AddToListButton,
.FilterCrate_Tier3 .SellableItem:hover .AddToListButton
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #475A8010 ), to( #475A8030) );
    border: 1px solid white;
    border-brush: gradient( linear, 0% 0%, 0% 100%, from( #3189BA ), to( #44BBD4) );
}

.FilterCrate_Tier4 .RecyclableItem:hover .AddToListButton,
.FilterCrate_Tier4 .SellableItem:hover .AddToListButton
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #75478010 ), to( #75478030) );
    border: 1px solid white;
    border-brush: gradient( linear, 0% 0%, 0% 100%, from( #9631BA ), to( #AF44D4) );
}

.AddToListButton
{
    width: 153px;
    height:44px;
    background-color:#00000033;
    margin-right: 0px;
    border-radius:5px;
    border: 1px solid #ffffff09;
	
	flow-children: down;
	
	transition-duration: .2s;
	transition-property: brightness, background-color, border;
}
.SellableItem .AddToListButton
{
    flow-children:right;
    width:fit-children;
}

.FilterCrate_None .SellableItem:hover .AddToListButton .PriceLabelSellContainer
{
	border-left: 1px solid #FCC22D;
}

.FilterCrate_Tier1 .SellableItem:hover .AddToListButton .PriceLabelSellContainer
{
	border-left: 1px solid #77ADA4;
}

.FilterCrate_Tier2 .SellableItem:hover .AddToListButton .PriceLabelSellContainer
{
	border-left: 1px solid #0FA770;
}

.FilterCrate_Tier3 .SellableItem:hover .AddToListButton .PriceLabelSellContainer
{
	border-left: 1px solid #3189BA;
}

.FilterCrate_Tier4 .SellableItem:hover .AddToListButton .PriceLabelSellContainer
{
	border-left: 1px solid #9631BA;
}

.PriceLabelSellContainer
{
    flow-children: down;
    border-left: 1px solid #3f3f3f;
    width: 68px;
    height: 100%;
}

.PriceLabelSellContainer .PriceLabel
{
    horizontal-align: center;
    text-align: center;
    color: #ABB1B7;
    text-transform: uppercase;
    font-weight: semi-bold;
    text-shadow: 0px 0px 10px 3.0 #000000;
    font-size: 16px;
    margin-top: 5px;

}

.PriceLabelSellContainer .PriceLabelDisclaimer
{
    horizontal-align: center;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #ABB1B7;
    font-weight: light;
    text-shadow: 0px 0px 10px 3.0 #000000;
    margin-top: -9px;
}
.AddToListButton Label
{
    font-weight: bold;
    text-transform: uppercase;
    vertical-align:center;
    horizontal-align:center;
	margin-top: 5px;
	font-size: 16px;
	color: #6B6F73;
	text-shadow: 0px 0px 10px 3.0 #000000;
}

.FilterCrate_None .RecyclableItem:hover .AddToListButton Label { color: CrateTierZero_textcolor; }
.FilterCrate_Tier1 .RecyclableItem:hover .AddToListButton Label { color: CrateTierOne_textcolor; }
.FilterCrate_Tier2 .RecyclableItem:hover .AddToListButton Label { color: CrateTierTwo_textcolor; }
.FilterCrate_Tier3 .RecyclableItem:hover .AddToListButton Label { color: CrateTierThree_textcolor; }
.FilterCrate_Tier4 .RecyclableItem:hover .AddToListButton Label { color: CrateTierFour_textcolor; }

.FilterCrate_None .SellableItem:hover .AddToListButton Label { color: CrateTierZero_textcolor; }
.FilterCrate_Tier1 .SellableItem:hover .AddToListButton Label { color: CrateTierOne_textcolor; }
.FilterCrate_Tier2 .SellableItem:hover .AddToListButton Label { color: CrateTierTwo_textcolor; }
.FilterCrate_Tier3 .SellableItem:hover .AddToListButton Label { color: CrateTierThree_textcolor; }
.FilterCrate_Tier4 .SellableItem:hover .AddToListButton Label { color: CrateTierFour_textcolor; }

.AddToListButton:hover
{
	brightness: 2;
}

.AddToListButton:active
{
    transform: translateX(1px) translateY(1px);
}

.Available .ItemAvailableState
{
    visibility:visible;
}

.Available .ItemAddedState
{
    visibility:collapse;
}

.Tier2.Available .SellableItemBackground
{
    background-color:#221b2b;
}

.RecyclableItemHex
{
    width: 135px;
    height: 155px;
    background-image: url("s2r://panorama/images/treasures/bighex_png.vtex");
    background-position: center;
}

.SellableItemHex .HexIcon
{
    horizontal-align:center;    
    height:50px;
    width:50px;
    margin-top:-15px;
    margin-left:10px;
}

.ItemDescription
{
    flow-children: none;
    vertical-align:middle;
    margin-left: -10px;
	width: 498px;
}

.ItemDetailsLeft
{
	flow-children: down;
	width: 310px;
	height: fit-children;
	vertical-align: center;
}

.ItemDescriptionTop
{
    //height:80px;
    //flow-children:right;
}

.ItemName
{
    font-size: 20px;
    width: 300px;
    height:fit-children;
    color:white;
    text-overflow:shrink;
	
	font-family: titleFont;
	font-weight: semi-bold;
	line-height: 102%;
}

.ItemDescriptionBottom
{
    flow-children:right;
}

.ItemDescriptionBottom Label
{
    text-transform:uppercase;
    font-weight: semi-bold;
	font-size: 14px;
	color: #6B6F73;
}


.HeroName, .ItemSlot
{
    margin-right: 10px;
	font-size: 14px;
	text-overflow: shrink;
}

.RightContainer .ItemSlot
{
	visibility: collapse;
}

.FilterCrate_None .TreasureRarityFilterButton
{
    brightness: 0.3;
}
.FilterCrate_None .ItemDescriptionBottom .ItemSlot   { color: CrateTierZero_textcolor; }
.FilterCrate_Tier1 .HeroName { color: CrateTierOne_textcolor; }
.FilterCrate_Tier2 .HeroName { color: CrateTierTwo_textcolor; }
.FilterCrate_Tier3 .HeroName { color: CrateTierThree_textcolor; }
.FilterCrate_Tier4 .HeroName { color: CrateTierFour_textcolor; }

.ItemTier0 .ItemDescriptionBottom .ItemSlott { color: CrateTierOne_textcolor; }
.ItemTier1 .HeroName { color: CrateTierOne_textcolor; }
.ItemTier2 .HeroName { color: CrateTierTwo_textcolor; }
.ItemTier3 .HeroName { color: CrateTierThree_textcolor; }
.ItemTier4 .HeroName { color: CrateTierFour_textcolor; }

.HideHeroName .HeroName
{
    visibility: collapse;
}

.ItemDetails
{
    flow-children:right;
    margin-right: 1px;
}

.ItemDetails:hover
{
    brightness:1.5;
}

.ItemDetails:active
{
    transform: translateX(1px) translateY(1px);
}

.UpRightArrow
{
    background-image: url("s2r://panorama/images/treasures/arrowupright_png.vtex");
    height: 9px;
    width: 9px;
    background-size: cover;
    vertical-align:center;
    margin-left:5px;
}

.ItemRecycleStatus,
.ItemSellStatus
{
    horizontal-align: right;
    vertical-align: center;
}
.ItemAvailableState
{
    visibility:collapse;
}

.ItemAddedState
{
    width: fill-parent-flow(1.0);
	width: 153px;
	horizontal-align: right;
    //margin-right:35px;
}

.SellableItemContent .ItemAddedState
{
	width: 183px;
}

.ItemAddedState Label
{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    horizontal-align: center;
	text-overflow: shrink;
	color: #6B6F73;
}

.Description
{
    margin-top:5px;
    //margin-left:29px;
    //margin-right:29px;
	height: 36px;
}

.Description Label
{
	font-size: 14px;
	color: white;
	text-overflow: shrink; 
}

.RecyclingList,
.SellItemList
{
    flow-children: down;
    width: 378px;
    horizontal-align: center;
    margin-top: 5px;
    height: fit-children;
}

.SellItemList
{
	height: 603px;
}

.RecyclingItemContainer
{
    height:55px;
    width:100%;
}

.Active .ActiveContainer
{
    visibility: visible;
    sound: "underdraft_drafted";

    /* need a sound event with a "block_time" here or else it's 
     * too noisy when you change categories with lots of items
     * and it removes all the old items at once.
     * (or we could move the sfx into code?)
     */
    //sound-out: "underdraft_reroll";
    sound-out: "ui_chat_slide_out";
}

.ActiveContainer
{
    visibility: collapse;
    flow-children:right;
    height:100%;
    width:100%;
}

.Active .EmptyContainer
{
    visibility: collapse;
}

.RecyclingItemHex
{
    width:height-percentage( 88.7%);
    height:47px;
    vertical-align: center;
    margin-left: 8px;
	margin-top: -1px;
}

.RecyclingItemInfo
{
    flow-children:down;
    vertical-align:center;
    margin-left:10px;
    width:48%;
}

.RecyclingItemDetails
{
    flow-children:right;
}

.RecyclingItemName
{
    color:white;
    font-weight:bold;
    font-size:18px;
    width:100%;
    text-overflow: shrink;
	font-family: titleFont;
	height: 20px;
	margin-top: -1px;
}
.RecyclingItemDetails Label
{
    text-transform: uppercase;
    font-weight: semi-bold;
    font-size: 12px;
    margin-top:0px;
	color: #6B6F73;
}

.MarketItemPrice
{
	color: white;
	vertical-align: center;
	width:50px;
	text-align: right;
	font-size: 16px;
	text-overflow: shrink;
	padding-right: 3px;
}

.ItemTier0 .MarketItemPrice { color: CrateTierZero_textcolor; }
.ItemTier1 .MarketItemPrice { color: CrateTierOne_textcolor; }
.ItemTier2 .MarketItemPrice { color: CrateTierTwo_textcolor; }
.ItemTier3 .MarketItemPrice { color: CrateTierThree_textcolor; }
.ItemTier4 .MarketItemPrice { color: CrateTierFour_textcolor; }

.RemoveRecyclingItem
{
    height: 25px;
    width: 25px;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    vertical-align: middle;
    horizontal-align: right;
    margin-right: 12px;
    background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex");
    background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
	transition-property: background-color, brightness;
	transition-duration: .2s;
}

.RemoveRecyclingItem:hover
{
	background-color: #ffffff04;
	brightness: 1.5;
}

.RemoveRecyclingItem:active
{
    transform: translateX(1px) translateY(1px);
}

.HorizontalPadding
{
    width: fill-parent-flow(1.0);
}

.HexIconMini
{
    width: 39px;
    height: 55px;
    background-image: url("s2r://panorama/images/treasures/bighex_png.vtex");
    background-position: center;
    background-size:cover;
    margin-left:10px;
    vertical-align:center;
}

.BuyRemainingButton
{
    width: 321px;
    height: 44px;
    //border: 1px solid #3f3f3f;
    //border-radius: 5px;
    horizontal-align: center;
    margin-top: 13px;
	
	transition-property: brightness;
	transition-duration: .2s;
}
.RecyclingReady .BuyRemainingButton
{
    opacity:.15;
	saturation: 0;
	border-radius: 8px;
}

.BuyRemainingTooltip
{
    width: 100%;
    height: 100%;
    visibility: collapse;
}

.BuyRemainingButton:disabled .BuyRemainingTooltip
{
    visibility:visible;
}

.BuyRemaining
{
    width: 100%;
    height: 100%;
    flow-children: right;
}

.BuyLeft
{
    width: fill-parent-flow(1.0);
    height: 100%;
    background-color: #1c1c1c;
	
	//width: 153px;
	//height: 45px;
	border-radius: 8px 0px 0px 8px;
	//border-right-width: 0px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #2A6630 ), to( #6B6D05) );
	padding: 5px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #1CCB0010 ), to( #127E0000) );
	
	transition-property: background-color;
	transition-duration: .2s;
}

.BuyLeft Label
{
    horizontal-align:center;
    vertical-align: center;
    //color:white;
    text-transform: uppercase;
    font-weight:semi-bold;
	font-size: 14px;
	text-overflow: shrink;
	color: #A5D97D;
}

.RecycleLabelQty
{
	color: #E8FFC2;
}

.BuyRemainingButton:enabled Label
{
	text-shadow: 0px 0px 10px 3.0 #000000;
}
.BuyRemainingButton:hover
{
    brightness:1.8;
}
.BuyRemainingButton:disabled:hover
{
    brightness:1.0;
}
.BuyRemainingButton:active
{
    brightness: 0.8;
    sound: "ui_generic_button_click";
}

.BuyRight
{
    width: 79px;
    border-left: 1px solid #3f3f3f;
    background-color:#2f2f2f;
	
	flow-children: down;
	text-align: center;
	horizontal-align: center;
	height: 45px;
	border-radius: 0px 8px 8px 0px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #2A6630 ), to( #6B6D05) );
	border-left-width: 0px;
	padding: 5px;
	margin-left: -1px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #19741D30 ), to( #34AD3930) );
}
.BuyRemainingButton:disabled .BuyRight
{
    visibility: collapse;
}



.EmptyContainer
{
    height:100%;
}

.EmptyHex
{
    width: 39px;
    height: 45px;
    
    vertical-align: center;
    margin-left: 10px;
    background-image: url("s2r://panorama/images/treasures/emptyhex_png.vtex");
    background-size:cover;
}

.PriceNumberLabel
{
    horizontal-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
	
	color: #E8FFC2;
	text-transform: uppercase;
	font-weight: semi-bold;
	text-shadow: 0px 0px 10px 3.0 #000000;
	font-size: 16px;
	margin-top: 1px;
	text-overflow: shrink;
}

.MarketPriceLabel
{
    font-size: 10px;
    text-transform: uppercase;    
    margin-bottom:2px;
    horizontal-align: center;
    vertical-align:bottom;
	
	font-size: 12px;
	color: #99C196;
	font-weight: light;
	margin-top: -2px;
}



.Odd
{
    background-color: #131313;
}
.Even
{
    background-color:#191919;
}

.RecycleButtonContainer
{
	border-radius: 8px;
	width: fit-children;
	height: fit-children;	
	margin-top: 13px;
	transition-duration:.2s;
	transition-property: brightness;
}

.RecycleButtonContainer:hover
{
	brightness: 1.6;
}


@keyframes 'purchasebuttonborderpulse'
{
	0%
	{
		box-shadow: 0px 0px 4px #c0b00f22;
		brightness: 1;
	}
	

	50%
	{
		box-shadow: 0px 0px 12px #c0b00f99;
		brightness: 1.2;
	}
	
	100%
	{
		box-shadow: 0px 0px 4px #c0b00f22;
		brightness: 1;
	}
}
	

.RecycleButton,
.SellButton
{
    horizontal-align: center;
    width:324px;
    height:44px;
    background-color:#191919;
    //margin-top:13px;
    border: 1px solid #707070;
    border-radius:5px;

    
	
	border-radius: 8px;
	border-right-width: 0px;
	border: 1px solid #ffffff44;
	
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #1CCB0010 ), to( #127E0000) );
	background-image: url("s2r://panorama/images/econ/diretide/chest_button_texture_unlock_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #1CCB00 ), to( #127E00) );
	//margin:5px;
	opacity: .15;
	saturation: 0;
}

.RecycleButtonLabel,
.SellButtonLabel
{
    horizontal-align:center;
    vertical-align:center;
    font-size: 18px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 0px 10px 2.0 #000000;
}

.SellButton:enabled .SellButtonLabel,
.RecycleButton:enabled .RecycleButtonLabel
{
    color:white;
}

.SellButton:enabled:hover,
.RecycleButton:enabled:hover
{
    brightness: 1.5;
}
.RecycleButton:disabled:hover
{
    brightness:1.0;
}
.RecycleButton:active
{
    brightness: 0.8;
    sound: "ui_generic_button_click";
}

.SellButton:enabled,
.RecycleButton:enabled
{
    /* an artist could add some cool animation here */
    //box-shadow: 0px 0px 12px 0px #555;
    opacity: 1;
    saturation: 1;
    animation-name: purchasebuttonborderpulse;
    animation-duration: 3.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-property: brightness;
    transition-duration: .2s;
    border: 1px solid #ffffff;
    border-brush: gradient( linear, 0% 0%, 0% 100%, from( #f4fed8 ), to( #e4ed5b) );
}



.RecycleButton:enabled:hover
{
	brightness: 2;
}


.HeroShadow
{
	width: 100%;
	height: 20%;
	horizontal-align: center;
	//margin: 0px 50px 0px 50px;
	//margin-left: 40px;

	//background-color: gradient( radial, 50% 50%, 0% 0%, 70% 50%, from( #000000aa ), to( #00000000 ) ), gradient( radial, 50% 50%, 0% 0%, 35% 25%, from( #000000 ), to( #00000000 ) );
	//background-color: gradient( radial, 50% 50%, 0% 0%, 70% 50%, from( #ffffffaa ), to( #ffffff00 ) ), gradient( radial, 50% 50%, 0% 0%, 35% 25%, from( #ffffff ), to( #ffffff00 ) );
	vertical-align: bottom;
	margin-bottom: 90px;
	
	background-image: url("s2r://panorama/images/econ/diretide/chest_hero_shadow_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	
}

#BackgroundSceneFog
{
	width: 100%;
	height: 100%;
	margin-top: 290px;
	//margin-right: -500px;
	//visibility: collapse;
	opacity: .8;
}

#BackgroundSceneForeground
{
	width: 100%;
	height: 100%;
	//visibility: collapse;
	margin-left: -550px;
	margin-top: 200px;
}

#TreasureItemPreview
{
    width:692px;
    height:817px;
    vertical-align:bottom;
	margin-bottom: 70px;
	
	brightness: 1.3;
	margin-left: 30px;
}

.AspectRatio16x10 #TreasureItemPreview
{
	margin-left: 0px;
}

.AspectRatio4x3 #TreasureItemPreview
{
	pre-transform-scale2d: .6;
	margin-left: -160px;
	margin-top: 200px;
}

.AspectRatio21x9 #TreasureItemPreview
{
	margin-left: 400px;
}

.AspectRatio16x9 #TreasureItemPreview
{
	margin-left: 30px;
}

#ChestVignette
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/chest_vignette_trade_sell_psd.vtex");
	background-size: 100%;
	//visibility: collapse;
}

.AspectRation4x3 #TreasureItemPreview
{
    width:392px;
}

.HeroContainer
{
	height: 100%;
}



.TreasureTitle
{
    font-size: 44px;
	font-weight: semi-bold;
	//text-transform: uppercase;
	color: white;
	//margin: 4px;
	margin-top: 37px;
	overflow:squish;
	width: 440px;
	height: 103px;
	line-height: 108%;
	
	font-family: titleFont;
	
	margin-top: 110px;
	margin-left: 94px;
	//text-overflow: shrink;
	
	text-shadow: 0px 0px 10px 2.0 green;
	color: gradient( linear, 100% 0%, 0% 0%, from( #DDFED2), color-stop(.3, #ffffff), color-stop(.7, #ffffff), to( #DDFED2 ) );
	
	color: gradient( linear, 100% 0%, 0% 0%, from( #ffffff), to( #DDFED2 ) );
}

.AspectRatio4x3 .TreasureTitle
{
	width: 250px;
}
	
#BackgroundScene
{
	width: 100%;
    height: 100%;
}

.TreasureRarityFilterButton
{
    flow-children:right;
	transform: scale3d(.85,.85,1);
	transition-property: none;
	brightness: .4;
}


.FilterCrate_None .TreasureRarityFilterButton.Rarity__Crate_Tier0,
.FilterCrate_Tier1 .TreasureRarityFilterButton.Rarity__Crate_Tier1,
.FilterCrate_Tier2 .TreasureRarityFilterButton.Rarity__Crate_Tier2,
.FilterCrate_Tier3 .TreasureRarityFilterButton.Rarity__Crate_Tier3,
.FilterCrate_Tier4 .TreasureRarityFilterButton.Rarity__Crate_Tier4
{
    transform: scale3d(.85,.85,1);
}

.TreasureRarityFilterButton .RarityHexText
{
	font-size: 22px;
}

.ButtonLeft
{
    flow-children:down;
    padding-left:13px;
    padding-right:10px;
}

.Rarity__Crate_Tier0
{
    vertical-align:center;
}

.ChestLabel
{
	font-family: titleFont;
	color: CrateTierZero_textcolor;
}

.Activated .ChestLabel
{
	//text-shadow: 0px 0px 4px 1.0 #ffffff44;
	color: CrateTierZero_textcolor;
}
