
DOTACustomLobbyListRow
{
    flow-children: right;
    height: 37px;
    background-color: #00000000;
	padding-left: 12px;
	padding-right: 12px;
}

DOTACustomLobbyListRow:hover
{
    background-color: #4a585622;
}

DOTACustomLobbyListRow:selected
{
    background-color: #4a585666;
}

.LobbyRowLabel
{
    font-size: 18px;
    color: #cbcbcb;
    padding-left: 6px;
    white-space: nowrap;
    vertical-align: center;
    margin-top: 2px;
}

#InfoIcon
{
	width: 25px;
	height: 25px;
	background-image: url("s2r://panorama/images/icon_info_png.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-left: -4px;
	margin-right: -2px;
	vertical-align: center;
	tooltip-position: right;
	tooltip-body-position: 50% 10%;
}

.GameColumn { width: 256px; }
.LobbyNameColumn { width: 250px; }
.PlayersColumn { width: 100px; }
.MapColumn { width: 202px; }
.RegionColumn { width: 182px; }
.ConnectionColumn { width: 130px; }
.LocalStatusColumn { width: fill-parent-flow(1.0); }

.IsSteamChina .RegionColumn
{
	visibility: collapse;
}

.VertBarSpacer
{
	width: 1px;
	height: 100%;
	opacity: 0.0;
}
