/* DOTACustomGame

   
*/

DOTACustomLobbyList
{
    flow-children: down;
	background-color: #00000088;
	box-shadow: inset #000000 2px 2px 6px 3px;
}

#LobbyListPanel
{
    overflow: clip scroll;
    height: fit-children;
    flow-children: down;
}

.LobbyListHeaderRow
{
	width: 100%;
	height: 37px;
	flow-children: right;
	margin-bottom: 0px;
	background-color: black;
	padding-left: 16px;
	padding-right: 16px;
}

.Tab
{
	flow-children: right;
	background-color: black;
	margin-right: 0px;
}

.Tab Label
{
	color: #91aba6;
	padding-left: 7px;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 8px;
}

.GameColumn { width: 256px; margin-left:16px;}
.LobbyNameColumn { width: 250px; }
.PlayersColumn { width: 100px; }
.MapColumn { width: 202px; }
.RegionColumn { width: 182px; }
.ConnectionColumn { width: 130px; }
.LocalStatusColumn { width: fill-parent-flow(1.0); }

.VertBar
{
	width: 1px;
	height: 100%;
	background-color: white;
	opacity: 0.04;
	margin-top: 4px;
	margin-bottom: 5px;
}

.SortArrow
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/friends_small_sortarrow_png.vtex");
	wash-color: #cbcbcb;
	visibility: collapse;
	transform: rotateZ( 180deg );
}

.SortedBy .SortArrow
{
	visibility: visible;
}

.SortArrow:hover
{
	wash-color: #FFFFFF;
}

.ReverseSorted .SortArrow
{
	transform: rotateZ( 0deg );
	margin-top: 2px;
	margin-left: 2px;
}