DOTACustomGameDownloadBar
{
    vertical-align: center;
    width: 100%;
    height: 100%;
}

#DownloadingGameCover
{
    background-color: #222222DD;
    width: 100%;
    height: 100%;
}

.DownloadLabel
{
    color: #cbcbcb;
    font-size: 15px;
    text-transform: uppercase;
    horizontal-align: center;
}

#DownloadingGameCover.Hidden
{
    visibility: collapse;
}

DOTACustomGameDownloadBar.NoCover #DownloadingGameCover
{
    opacity: 0.0;
    height: 0;
}

DOTACustomGameDownloadBar.NoCover #DownloadProgress
{
    height: 15px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

DOTACustomGameDownloadBar.NoCover #DownloadProgressContainer
{
    margin-top: 20px;
    margin-bottom: 10px;
}

#DownloadProgress
{
    width: 100%;
    height: 4%;
    vertical-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    background-color: #000000ff;
    saturation: 1.0;
}

.ProgressBarLeft
{
    background-color: #66666699;
}


@keyframes 'DownloadingSpinnerAnimation'
{
    0%
    {
        transform: rotateZ( 360deg );
    }
    

    50%
    {
        transform: rotateZ( 180deg );
    }
    
    100%
    {
        transform: rotateZ( 0deg );
    }
}

#DownloadingSpinnerContainer
{
    margin-top: 20px;
    margin-bottom: 20px;

    vertical-align: middle;
    horizontal-align: middle;

    flow-children: down;
}

#DownloadingSpinnerContainer.Hidden
{
    visibility: collapse;
}

#DownloadingSpinner
{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    horizontal-align: middle;

    // todo: real icon/animation
    background-image: url("s2r://panorama/images/status_icons/loadingthrobber_round_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: DownloadingSpinnerAnimation;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#DownloadProgressContainer
{
    flow-children: down;
    vertical-align: middle;
    width: 100%;
}



#DownloadProgressContainer.Hidden
{
    visibility: collapse;
}