@define AutoMaximizeDelay: 0.2s;

DOTACustomLobby
{
    vertical-align: bottom;
    horizontal-align: right;
    margin-top: 60px;
    height: 100%;
    opacity: 0.99999;
}

.LobbyControls
{
	width: 390px;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.03, #272b30 ), color-stop( 0.6, #141619 ), to( #131518 ) );
	padding-left: 24px;
	padding-right: 29px;
	padding-top: 16px;
}

#CustomLobbySlideOut
{
 	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619 ), to( #000000 ) );
    height: 100%;
    horizontal-align: right;
    padding-bottom: 0px;

    transform: translatex(418px) translatey(0px);

    opacity: 0.0;
    transition-property: transform, opacity;
	transition-duration: 0.2s, 0.0s;
	transition-delay: 0.0s, 0.0s;
	transition-timing-function: ease-in;

	box-shadow: black -4px -4px 8px 8px;
}

DOTACustomLobby.SlideOutVisible #CustomLobbySlideOut
{
    opacity: 1.0;
    transform: translatex(0px) translatey(0px);
    transition-property: transform, opacity;
    transition-duration: 0.2s, 0.2s;
    transition-delay: 0.0s, 0.2s;
    sound: "ui_custom_lobby_drawer_slide_in";
    sound-out: "ui_custom_lobby_drawer_slide_out";
}

DOTACustomLobby.SlideOutMinimized #CustomLobbySlideOut
{
    transform: translatex(418px) translatey(945px);
    sound: "ui_custom_lobby_drawer_slide_in";
    sound-out: "ui_custom_lobby_drawer_slide_out";
}

DOTACustomLobby.SlideOutVisible.SlideOutMinimized #CustomLobbySlideOut
{
    transform: translatex(0px) translatey(945px);
    sound: "ui_custom_lobby_drawer_slide_in";
    sound-out: "ui_custom_lobby_drawer_slide_out";
}

.HeaderRow
{
	flow-children: right;
	margin-bottom: 10px;
}

.LobbyTitle
{
	font-size: 18px;
	color: #ffffff;
	margin-right: 10px;
	margin-top: 3px;
	vertical-align: center;
	text-transform: uppercase;
}

#PasswordedIcon
{
	width: 25px;
	height: 25px;
	background-image: url("s2r://panorama/images/icon_locked_png.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-left: 10px;
	visibility: collapse;
}

DOTACustomLobby.Passworded #PasswordedIcon
{
	visibility: visible;
}

#CollapseExpandButton
{

}

.CollapseExpandIcon
{
	width: 25px;
	height: 25px;
	background-image: url("s2r://panorama/images/icon_swap_png.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transform: rotateZ( 90deg );
}

.MinimizedControls
{
	flow-children: right;
	visibility: collapse;
}

DOTACustomLobby.SlideOutMinimized .MinimizedControls
{
	visibility: visible;
}

#MinimizedPlayerCountLabel
{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 17px;
	vertical-align: center;
	margin-top: 3px;
}

.HorizontalSpacer
{
	width: fill-parent-flow(1.0);
}

#GameName
{
	font-size: 26px;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 18px;
	text-overflow: ellipsis;
	height: 40px;
}

#MapName
{
	font-size: 17px;
	text-transform: uppercase;
	margin-top: -4px;
	margin-bottom: 16px;
}

.PlayersBox
{
	background-color: #151719;
	box-shadow: inset #000000 0px 2px 6px 3px;
	height: 560px;
	flow-children: down;
	width: 100%;
}

.PlayersBoxHeaderRow
{
	height: 44px;
	width: 100%;
	flow-children: right;
}

.Divider
{
    height: 1px;
    background-color: #363d3b;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

#PlayerCountLabel
{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 17px;
	vertical-align: center;
	margin-left: 10px;
}

.Spinner
{
	horizontal-align: right;
	vertical-align: center;
}

#PlayersList
{
	width: 100%;
	overflow: clip scroll;
	flow-children: down;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
}

.InviteFriendButton
{
	flow-children: right;
	margin-top: 12px;
	margin-bottom: 6px;
	visibility: collapse;
}

.InviteFriendLabel
{
	text-transform: uppercase;
	margin-left: 6px;
}

.InviteFriendIcon
{
	width: 8px;
	vertical-align: center;
}

.PasswordArea
{
	flow-children: down;
	margin-top: 20px;
	margin-right: 10px;
	visibility: collapse;
}

.LobbyLeader .PasswordArea
{
	visibility: visible;
}

#PasswordEntryIcon
{
	width: 25px;
	height: 25px;
	background-image: url("s2r://panorama/images/icon_locked_png.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-top: 30px;
	opacity: 0.3;
}

DOTACustomLobby.Passworded #PasswordEntryIcon
{
	opacity: 1.0;
}

.PasswordEntryTitle
{
	text-transform: uppercase;
}

RadioButton
{
	margin-left: 10px;
	margin-top: 6px;
}

RadioButton Label
{
	font-size: 18px;
}

.PasswordArea TextEntry
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #11111199 ), to( #22222299 ) );
	width: fill-parent-flow(1.0);
	height: 35px;
	margin-left: 10px;
	font-size: 17px;
	color: baseText;
}

.PasswordArea TextEntry:disabled
{
	opacity: 0.5;
}

.PasswordedHint
{
	font-size: 16px;
	margin-top: 5px;
	opacity: 0.0;

	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

DOTACustomLobby.Passworded .PasswordedHint
{
	opacity: 1.0;
}

#HidePasswordToggle
{
	horizontal-align: right;
    margin-top: 5px;
}

#HidePasswordToggle Label
{
	font-size: 14px;
}

.HorizBar
{
	width: 100%;
	height: 1px;
	background-color: white;
	opacity: 0.04;
}

.LowerLobbyButtons
{
    vertical-align: bottom;
    margin-bottom: 20px;
    flow-children: down;
	width: 100%;
}

#LeaveLobbyButtonContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 3px;
}

#LeaveLobbyButton
{
	horizontal-align: right;
	vertical-align: bottom;
    width: 330px;
    min-height: 36px;
    margin-bottom: 12px;
        
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c1b1b ), to( #482e2f ) );
		
	box-shadow: fill #552e2f00 -4px -4px 8px 9px;
	
	border-top: 1px solid #3d2929;
	border-right: 1px solid #372121;
	border-left: 1px solid #372121;
	border-bottom: 1px solid #2e1f21;

	overflow: noclip noclip;
	opacity: 1.0;
	
	transition-property: border, box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}


#LeaveLobbyButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #492121 ), to( #9d4c4f ) );
	border-top: 1px solid #7d4141;
	border-right: 1px solid #7a3535;
	border-left: 1px solid #7a3535;
	border-bottom: 1px solid #2e1f21;
	box-shadow: fill #552e2f66 -4px -4px 8px 9px;
}

#LeaveLobbyButton:hover #LeaveLobbyXIcon
{
	wash-color: red;
}

#LeaveLobbyButton Label
{
	padding-top: 0px;
	font-size: 18px;
	text-align: center;
	color: white;
    text-transform: uppercase;
}

#LeaveLobbyXIcon
{
	width: 16px;
	height: 16px;
	margin: 2px;
	margin-left: 10px;
	padding: 0px;
	wash-color: #aa0000ee;
}

.LaunchLobbyButton
{
    min-width: 330px;
    min-height: 48px;

	padding: 4px 12px 4px 12px;
        
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d4881cc ), to( #486ca9cc ) );
	box-shadow: fill #486ca922 -4px -4px 8px 8px;
	
    border-top: 1px solid #ffffff03;
	border-left: 1px solid #ffffff03;	
	border-right: 1px solid #00000088;
	border-bottom: 1px solid #00000088;    

	opacity: 1.0;
	
	transition-property: box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

}

.LaunchLobbyButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d4881cc ), to( #84acff ) );
	box-shadow: fill #486ca966 -4px -4px 18px 8px;
}

.LaunchLobbyButton:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615E ), to( #ffffff ) );
}

.LaunchLobbyButton Label
{
    margin-top: 2px;
	horizontal-align: center;
	font-size:28px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	
	transition-property: color;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
}

.LaunchLobbyButton:disabled
{
	saturation: 0.1;
	opacity: 0.5;
}

.LaunchLobbyButton:disabled Label
{
	wash-color: #aaaaaa;
}

.LaunchLobbyButton:hover:disabled
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d4881cc ), to( #486ca9cc ) );
	box-shadow: fill #486ca922 -4px -4px 8px 8px;
}

#LaunchLobbyButton
{
    visibility: visible;
    vertical-align: bottom;
    horizontal-align: right;
}

@keyframes 'LobbySpinnerAnimation'
{
	0%
	{
        transform: rotateZ( 360deg );
	}
	

    50%
    {
        transform: rotateZ( 180deg );
    }
	
	100%
	{
		transform: rotateZ( 0deg );
	}
}


#LobbySpinner
{
    width: 27px;
    height: 27px;
    vertical-align: middle;
    margin-right: 13px;

    // todo: real icon/animation
    background-image: url("s2r://panorama/images/status_icons/loadingthrobber_round_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: LobbySpinnerAnimation;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#LobbySpinner.Hidden
{
    visibility: collapse;
}


#LobbySpinnerSmall
{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;

    // todo: real icon/animation
    background-image: url("s2r://panorama/images/status_icons/loadingthrobber_round_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: LobbySpinnerAnimation;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}


#ConnectionQualityIcon
{
	height: 22px;
	width: 25px;
	margin-left: 20px;
	margin-right: 14px;

	background-image: url("s2r://panorama/images/connection_icons/connection_quality_1_png.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	vertical-align: center;
	tooltip-position: right;
	tooltip-body-position: 50% 10%;

	visibility: visible;
}

.ConnectionQuality5 #ConnectionQualityIcon{ background-image: url("s2r://panorama/images/connection_icons/connection_quality_5_png.vtex"); }
.ConnectionQuality4 #ConnectionQualityIcon { background-image: url("s2r://panorama/images/connection_icons/connection_quality_4_png.vtex"); }
.ConnectionQuality3 #ConnectionQualityIcon { background-image: url("s2r://panorama/images/connection_icons/connection_quality_3_png.vtex"); }
.ConnectionQuality2 #ConnectionQualityIcon { background-image: url("s2r://panorama/images/connection_icons/connection_quality_2_png.vtex"); }
.ConnectionQuality1 #ConnectionQualityIcon { background-image: url("s2r://panorama/images/connection_icons/connection_quality_1_png.vtex"); }
.ConnectionQualityUnavailable #ConnectionQualityIcon
{
	background-image: none;
}
