.ChallengeImageContainer
{
	width: 218px;
	height: 164px;
	margin-right: 16px;
}
.ChallengeImageContainerLast
{
    width: 218px;
    height: 164px;
}

.AspectRatio4x3 .ChallengeImageContainer
{
    width: 206px;
}
.AspectRatio4x3 .ChallengeImageContainerLast
{
    width: 206px;
}


.ChallengeImageNumber
{
	color: white;
	font-size: 42px;
	margin-top: 10px;
	margin-left: 10px;
}

.ChallengeImageTitle
{
	vertical-align: bottom;
	horizontal-align: right;
	text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    font-size: 16px;
	color: #CCCCCC;
}

#ChallengesContainer
{
	padding-top: 70px;
	overflow: clip;
	width: 1390px;
}

.ChallengeImage
{
    saturation: 0.0;
    brightness: .4;
    contrast: 0.95;
    wash-color: #ACBFDD;

}

.ChallengeContent
{
	width: 1390px;
	height: 604px;
    background-color: #000000cc;
    margin-top: 196px;
    padding-left: 32px;
}

.TutorialDescContainer
{
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    height: 604px;
}

.TutorialNumber
{
    font-size: 72px;
    padding-top: 14px;
    color: #ffffff;
}

.TutorialName
{
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding-top: 42px;
    padding-left: 32px;
    color: #ffffff;
}

.TutorialDesc
{
    font-size: 20px;
    line-height: 30px;
    margin-top: -12px;
    width: 566px;
    color: #a5ada2;
}

.TutorialMechanicsBullets
{
    font-size: 20px;
    line-height: 30px;
    width: 566px;
    color: #a5ada2;
}

.TutorialSubHead
{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    color: #CCCCCC;
    padding-top: 32px;
}

.HeroAbilities
{
    flow-children: right;
    margin-top: 2px;
    margin-bottom: 2px;
}

.AbilityImage
{
    width: 80px;
    height: 80px;
    background-color: darkgray;
    margin-right: 12px;
}

.HoverText
{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    color: #707070;
    margin-top: 4px;
}

.NavContainer
{
    width: 1158px;
    flow-children: right;
	horizontal-align: center;
}

DOTALargeModelPreview
{
	width: 1000px;
	height: 810px;
	horizontal-align: right;
	margin-right: 180px;
	margin-top: 40px;
    opacity-mask: url("s2r://panorama/images/masks/chat_opacity_mask_png.vtex");
}

.AspectRatio4x3 DOTALargeModelPreview
{
    margin-right: 0px;
    width: 800px;
}

.AspectRatio16x10 DOTALargeModelPreview
{
    margin-right: 120px;
    width: 880px;
}


.ChallengeContent .ButtonBevel
{
	horizontal-align: left;
	min-width: 356px;
    height: 60px;
	vertical-align: bottom;
    margin-bottom: 32px;
	horizontal-align: left;
}

.Page1Active .Page1
{
    opacity: 1.0;
}

.Image1
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_luna_psd.vtex");
}

.Image2
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_dk2_psd.vtex");
}

.Image3
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_sniper2_psd.vtex");
}

.Image4
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_ss_psd.vtex");
}

.Image5
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_mirana_psd.vtex");
}

.Image6
{
    background-image: url("s2r://panorama/images/challenges/challengeimage_dragon_psd.vtex");
}

.Page1Active .Image1
{
	saturation: 1.0;
	brightness: 1.0;
    contrast: 1.0;
    wash-color: none;
}

.Page2Active .Page2
{
    opacity: 1.0;
}

.Page2Active .Image2
{
    saturation: 1.0;
    brightness: 1.0;
    contrast: 1.0;
    wash-color: none;
}

.Page3Active .Page3
{
    opacity: 1.0;
}

.Page3Active .Image3
{
    saturation: 1.0;
    brightness: 1.0;
    contrast: 1.0;
    wash-color: none;
}

.Page4Active .Page4
{
    opacity: 1.0;
}

.Page4Active .Image4
{
    saturation: 1.0;
    brightness: 1.0;
    contrast: 1.0;
    wash-color: none;
}

.Page5Active .Page5
{
    opacity: 1.0;
}

.Page5Active .Image5
{
    saturation: 1.0;
    brightness: 1.0;
    contrast: 1.0;
    wash-color: none;
}

.Page6Active .Page6
{
    opacity: 1.0;
}

.Page6Active .Image6
{
    saturation: 1.0;
    brightness: 1.0;
    contrast: 1.0;
    wash-color: none;
}
