

.GuildDetailsContents
{
	flow-children: down;
}

#ControlsContainer
{
	flow-children: right;
	height: 550px;
}

#GuildBanner
{
	horizontal-align: right;
}

#DetailsSection
{
	width: 740px;
	//width: 640px;
	height: 100%;
}

#DetailsSection .SectionContents
{
	flow-children: down;
}

#EditDetailsButton
{
	visibility: collapse;
}
.CanEditGuildInfo #ActionButtons #EditDetailsButton
{
	visibility: visible;
}

#EditDetailsButton .ButtonContents
{
	flow-children: right;
	horizontal-align: center;
}

#EditDetailsButton .EditDetailsIcon
{
	vertical-align: middle;
	margin-left: 6px;
	width: 16px;
	height: 16px;
	transform: translateY( 1px );
	background-image: url("s2r://panorama/images/control_icons/edit_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}


.GuildDetailsRow
{
	flow-children: right;
	width: 100%;
	padding-left: 14px;
	padding-right: 6px;
	margin-bottom: 14px;
}

.GuildDetailsRow DropDown Label, DOTASettingsEnumDropDown Label
{
	color: #e9e9e9;
	padding-left: 4px;
	padding-top: 5px;
	margin:0px;
}

.GuildDetailsRow TextEntry
{
	color: #e9e9e9;
	padding-left: 12px;
	padding-top: 8px;
	//margin:0px;
}

.GuildProperty
{
	flow-children: down;
}

.GuildPropertyLabel
{
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #666;
}

.GuildDetailsRow .GuildProperty
{
	width: fill-parent-flow( 1.0 );
}

.GuildPropertyValue
{
	background-color: #ffffff04;
	width: 100%;
	margin-right: 8px;
	height: 40px;
	
	background-color: #ffffff02; 
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff03 ), to( #ffffff01 ) );
	border-top: 1px solid #ffffff02;
	border-right: 1px solid #ffffff02;
	border-left: 0px;
	border-bottom: 0px;
	
	box-shadow: 0px 0px 20px #00000066;
	
	transition-property: background-color;
	transition-duration: .2s;
	
	height: 42px;
}

.IsEditing TextEntry.GuildPropertyValue,
.IsEditing DropDown.GuildPropertyValue
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff11 ), to( #ffffff06 ) );
	border-top: 1px solid #ffffff11;
	border-right: 1px solid #ffffff11;
}

.IsEditing TextEntry.GuildPropertyValue:hover,
.IsEditing DropDown.GuildPropertyValue:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff22 ), to( #ffffff11 ) );
}

.IsCreatingNewGuild.GuildPropertyValue:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff22 ), to( #ffffff11 ) );
}

TextEntry #PlaceholderText 
{
	color: #888;
}

DropDownMenu
{
	width: 352px;
}

Label.GuildPropertyValue
{
	padding-left: 12px;
	padding-top: 9px;
	color: #e9e9e9;
}

#DescriptionValue, #DescriptionTextEntry
{
	height: fill-parent-flow( 1.0 );
}

#ButtonsContainer
{
	width: 100%;
}

#ActionButtons
{
	margin-top: 12px;
	flow-children: right;
	horizontal-align: center;
}

.IsEditing #ActionButtons
{
	visibility: collapse;
}

#ActionButtons .PopupButton
{
	margin: 0px 12px 0px 0px;

	visibility: collapse;
}

.CanJoinGuild #JoinButton,
.CanAcceptInvite #AcceptInviteButton
{
	visibility: visible;
}

#ActionInProgressSpinner
{
	vertical-align: middle;
	visibility: collapse;
}

.ActionInProgress #ActionInProgressSpinner
{
	visibility: visible;
}


.OnlyWhenCreating {
	visibility: collapse;
}
.IsCreatingNewGuild .OnlyWhenCreating {
	visibility: visible;
}

#TagLabel,
#NameLabel {
	visibility: visible;
}

#TagTextEntry,
#NameTextEntry {
	visibility: collapse;
}

.CanEditName #NameTextEntry {
	visibility: visible;
}

.CanEditTag #TagTextEntry {
	visibility: visible;
}

.CanEditName #NameLabel {
	visibility: collapse;
}

.CanEditTag #TagLabel {
	visibility: collapse;
}

.OnlyWhenCreatingOrEditing {
	visibility: collapse;
}
.IsEditing .OnlyWhenCreatingOrEditing {
	visibility: visible;
}

.OnlyWhenViewing {
	visibility: visible;
}
.IsEditing .OnlyWhenViewing {
	visibility: collapse;
}

.OnlyWhenViewingOrEditing {
	visibility: visible;
}
.IsCreatingNewGuild .OnlyWhenViewingOrEditing {
	visibility: collapse;
}

#EditButtons {
	margin-top: 12px;
	flow-children: right;
	horizontal-align: center;
}

#EditButtons .PopupButton
{
	margin: 0px 14px 0px 0px;

	visibility: collapse;
}

.IsEditing:not(.IsCreatingNewGuild) #CancelChangesButton,
.IsEditing:not(.IsCreatingNewGuild) #SaveChangesButton
{
	visibility: visible;
}

.IsCreatingNewGuild #CancelCreateButton,
.IsCreatingNewGuild #CreateGuildButton
{
	visibility: visible;
}

#ChatRow
{
	visibility: collapse;
}

.ShowChatType #ChatRow
{
	visibility: visible;
}

.StyleSwatchContainer
{
	flow-children: right;
}

.StyleSwatch
{
	width: 103px;
	height: 103px;
	//border: 2px solid black;
	transition-property: border;
	transition-duration: 0.2s;
	
	box-shadow: inset 0px 0px 40px #000000cc;
	
	z-index: 10;
}

#LogoImageContainer
{
	box-shadow: none;
}

.IsEditing .StyleSwatchContainer:hover .StyleSwatch
{
	border: 2px solid white;
}

.IsEditing .StyleSwatchContainer:active .StyleSwatch
{
	border: 2px solid #999;
}

.EditSwatchIcon
{
	width: 42px;
	height: 42px;
	background-color: #ffffff06;
	background-image: url("s2r://panorama/images/control_icons/edit_png.vtex");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center;
	//margin-top: 2px;

	visibility: collapse;
	
	background-color: #ffffff02; 
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff02 ), to( #ffffff05 ) );
	border-top: 1px solid #ffffff02;
	border-right: 1px solid #ffffff02;
	border-left: 0px;
	border-bottom: 0px;
	
	box-shadow: 0px 0px 20px #00000066;
}

.IsEditing .EditSwatchIcon
{
	visibility: visible;
}

.IsEditing .StyleSwatchContainer:hover .EditSwatchIcon
{
	background-color: #ffffff10;
}

#LogoImage
{
	background-color: black;
}

.GuildPrimaryColor0 #PrimaryColorSwatch { background-color: guildColor0; }
.GuildPrimaryColor1 #PrimaryColorSwatch { background-color: guildColor1; }
.GuildPrimaryColor2 #PrimaryColorSwatch { background-color: guildColor2; }
.GuildPrimaryColor3 #PrimaryColorSwatch { background-color: guildColor3; }
.GuildPrimaryColor4 #PrimaryColorSwatch { background-color: guildColor4; }
.GuildPrimaryColor5 #PrimaryColorSwatch { background-color: guildColor5; }
.GuildPrimaryColor6 #PrimaryColorSwatch { background-color: guildColor6; }
.GuildPrimaryColor7 #PrimaryColorSwatch { background-color: guildColor7; }
.GuildPrimaryColor8 #PrimaryColorSwatch { background-color: guildColor8; }
.GuildPrimaryColor9 #PrimaryColorSwatch { background-color: guildColor9; }
.GuildPrimaryColor10 #PrimaryColorSwatch { background-color: guildColor10; }
.GuildPrimaryColor11 #PrimaryColorSwatch { background-color: guildColor11; }
.GuildPrimaryColor12 #PrimaryColorSwatch { background-color: guildColor12; }
.GuildPrimaryColor13 #PrimaryColorSwatch { background-color: guildColor13; }
.GuildPrimaryColor14 #PrimaryColorSwatch { background-color: guildColor14; }
.GuildPrimaryColor15 #PrimaryColorSwatch { background-color: guildColor15; }
.GuildPrimaryColor16 #PrimaryColorSwatch { background-color: guildColor16; }
.GuildPrimaryColor17 #PrimaryColorSwatch { background-color: guildColor17; }
.GuildPrimaryColor18 #PrimaryColorSwatch { background-color: guildColor18; }
.GuildPrimaryColor19 #PrimaryColorSwatch { background-color: guildColor19; }

.GuildSecondaryColor0 #SecondaryColorSwatch { background-color: guildSecondaryColor0; }
.GuildSecondaryColor1 #SecondaryColorSwatch { background-color: guildSecondaryColor1; }
.GuildSecondaryColor2 #SecondaryColorSwatch { background-color: guildSecondaryColor2; }
.GuildSecondaryColor3 #SecondaryColorSwatch { background-color: guildSecondaryColor3; }
.GuildSecondaryColor4 #SecondaryColorSwatch { background-color: guildSecondaryColor4; }
.GuildSecondaryColor5 #SecondaryColorSwatch { background-color: guildSecondaryColor5; }
.GuildSecondaryColor6 #SecondaryColorSwatch { background-color: guildSecondaryColor6; }
.GuildSecondaryColor7 #SecondaryColorSwatch { background-color: guildSecondaryColor7; }
.GuildSecondaryColor8 #SecondaryColorSwatch { background-color: guildSecondaryColor8; }
.GuildSecondaryColor9 #SecondaryColorSwatch { background-color: guildSecondaryColor9; }
.GuildSecondaryColor10 #SecondaryColorSwatch { background-color: guildSecondaryColor10; }
.GuildSecondaryColor11 #SecondaryColorSwatch { background-color: guildSecondaryColor11; }
.GuildSecondaryColor12 #SecondaryColorSwatch { background-color: guildSecondaryColor12; }
.GuildSecondaryColor13 #SecondaryColorSwatch { background-color: guildSecondaryColor13; }
.GuildSecondaryColor14 #SecondaryColorSwatch { background-color: guildSecondaryColor14; }
.GuildSecondaryColor15 #SecondaryColorSwatch { background-color: guildSecondaryColor15; }
.GuildSecondaryColor16 #SecondaryColorSwatch { background-color: guildSecondaryColor16; }
.GuildSecondaryColor17 #SecondaryColorSwatch { background-color: guildSecondaryColor17; }
.GuildSecondaryColor18 #SecondaryColorSwatch { background-color: guildSecondaryColor18; }
.GuildSecondaryColor19 #SecondaryColorSwatch { background-color: guildSecondaryColor19; }


#PatternSwatch
{
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.GuildPattern0 #PatternSwatch { background-image: guildPattern0; }
.GuildPattern1 #PatternSwatch { background-image: guildPattern1; }
.GuildPattern2 #PatternSwatch { background-image: guildPattern2; }
.GuildPattern3 #PatternSwatch { background-image: guildPattern3; }
.GuildPattern4 #PatternSwatch { background-image: guildPattern4; }
.GuildPattern5 #PatternSwatch { background-image: guildPattern5; }
.GuildPattern6 #PatternSwatch { background-image: guildPattern6; }
.GuildPattern7 #PatternSwatch { background-image: guildPattern7; }
.GuildPattern8 #PatternSwatch { background-image: guildPattern8; }
.GuildPattern9 #PatternSwatch { background-image: guildPattern9; }
.GuildPattern10 #PatternSwatch { background-image: guildPattern10; }
.GuildPattern11 #PatternSwatch { background-image: guildPattern11; }

#RightSectionContainer
{
	width: fit-children;
	height: fit-children;
	flow-children: none;
	margin-left: 12px;
}
	

#RightSectionParticleContainer
{
	width: 100%;
	height: 100%;
	//margin-top: -240px;
	overflow: clip;
	flow-children: none;
}

#RightSectionParticle
{
	margin-top: -150px;
	width: 100%;
	height: 100%;
	brightness: 1;
	saturation: .2;
}

.GuildPrimaryColor0 #RightSectionParticle { wash-color: guildColor0; }
.GuildPrimaryColor1 #RightSectionParticle { wash-color: guildColor1; }
.GuildPrimaryColor2 #RightSectionParticle { wash-color: guildColor2; }
.GuildPrimaryColor3 #RightSectionParticle { wash-color: guildColor3; }
.GuildPrimaryColor4 #RightSectionParticle { wash-color: guildColor4; }
.GuildPrimaryColor5 #RightSectionParticle { wash-color: guildColor5; }
.GuildPrimaryColor6 #RightSectionParticle { wash-color: guildColor6; }
.GuildPrimaryColor7 #RightSectionParticle { wash-color: guildColor7; }
.GuildPrimaryColor8 #RightSectionParticle { wash-color: guildColor8; }
.GuildPrimaryColor9 #RightSectionParticle { wash-color: guildColor9; }
.GuildPrimaryColor10 #RightSectionParticle { wash-color: guildColor10; }
.GuildPrimaryColor11 #RightSectionParticle { wash-color: guildColor11; }
.GuildPrimaryColor12 #RightSectionParticle { wash-color: guildColor12; }
.GuildPrimaryColor13 #RightSectionParticle { wash-color: guildColor13; }
.GuildPrimaryColor14 #RightSectionParticle { wash-color: guildColor14; }
.GuildPrimaryColor15 #RightSectionParticle { wash-color: guildColor15; }
.GuildPrimaryColor16 #RightSectionParticle { wash-color: guildColor16; }
.GuildPrimaryColor17 #RightSectionParticle { wash-color: guildColor17; }
.GuildPrimaryColor18 #RightSectionParticle { wash-color: guildColor18; }
.GuildPrimaryColor19 #RightSectionParticle { wash-color: guildColor19; }

.GuildPrimaryColor0 #RightSectionParticle { opacity: .5; }
.GuildPrimaryColor1 #RightSectionParticle { opacity: .3; }
.GuildPrimaryColor2 #RightSectionParticle { opacity: .3; }
.GuildPrimaryColor3 #RightSectionParticle { opacity: .25; }
.GuildPrimaryColor4 #RightSectionParticle { opacity: .25; }
.GuildPrimaryColor5 #RightSectionParticle { opacity: .4; }
.GuildPrimaryColor6 #RightSectionParticle { opacity: .2; }
.GuildPrimaryColor7 #RightSectionParticle { opacity: .4; }
.GuildPrimaryColor8 #RightSectionParticle { opacity: .5; }
.GuildPrimaryColor9 #RightSectionParticle { opacity: .3; }
.GuildPrimaryColor10 #RightSectionParticle { opacity: .5; }
.GuildPrimaryColor11 #RightSectionParticle { opacity: .3; }
.GuildPrimaryColor12 #RightSectionParticle { opacity: .3; }
.GuildPrimaryColor13 #RightSectionParticle { opacity: .25; }
.GuildPrimaryColor14 #RightSectionParticle { opacity: .25; }
.GuildPrimaryColor15 #RightSectionParticle { opacity: .4; }
.GuildPrimaryColor16 #RightSectionParticle { opacity: .2; }
.GuildPrimaryColor17 #RightSectionParticle { opacity: .4; }
.GuildPrimaryColor18 #RightSectionParticle { opacity: .5; }
.GuildPrimaryColor19 #RightSectionParticle { opacity: .3; }

#RightSectionGradient
{
    width: 100%;
    height: 50%;
	vertical-align: top;
}
.GuildPrimaryColor0 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor0, 0.0, 1.0, 0.3 ) ), to( guildColor0&00 ) ); }
.GuildPrimaryColor1 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor1&aa, 0.0, 1.0, 0.3 ) ), to( guildColor1&00 ) ); }
.GuildPrimaryColor2 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor2&aa, 0.0, 1.0, 0.3 ) ), to( guildColor2&00 ) ); }
.GuildPrimaryColor3 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor3&55, 0.0, 1.0, 0.3 ) ), to( guildColor3&00 ) ); }
.GuildPrimaryColor4 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor4&55, 0.0, 1.0, 0.3 ) ), to( guildColor4&00 ) ); }
.GuildPrimaryColor5 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor5&aa, 0.0, 1.0, 0.3 ) ), to( guildColor5&00 ) ); }
.GuildPrimaryColor6 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor6&aa, 0.0, 1.0, 0.3 ) ), to( guildColor6&00 ) ); }
.GuildPrimaryColor7 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor7&aa, 0.0, 1.0, 0.3 ) ), to( guildColor7&00 ) ); }
.GuildPrimaryColor8 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor8&aa, 0.0, 1.0, 0.3 ) ), to( guildColor8&00 ) ); }
.GuildPrimaryColor9 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor9&aa, 0.0, 1.0, 0.3 ) ), to( guildColor9&00 ) ); }
.GuildPrimaryColor10 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor10, 0.0, 1.0, 0.3 ) ), to( guildColor10&00 ) ); }
.GuildPrimaryColor11 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor11&aa, 0.0, 1.0, 0.3 ) ), to( guildColor11&00 ) ); }
.GuildPrimaryColor12 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor12&aa, 0.0, 1.0, 0.3 ) ), to( guildColor12&00 ) ); }
.GuildPrimaryColor13 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor13&55, 0.0, 1.0, 0.3 ) ), to( guildColor13&00 ) ); }
.GuildPrimaryColor14 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor14&55, 0.0, 1.0, 0.3 ) ), to( guildColor14&00 ) ); }
.GuildPrimaryColor15 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor15&aa, 0.0, 1.0, 0.3 ) ), to( guildColor15&00 ) ); }
.GuildPrimaryColor16 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor16&aa, 0.0, 1.0, 0.3 ) ), to( guildColor16&00 ) ); }
.GuildPrimaryColor17 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor17&aa, 0.0, 1.0, 0.3 ) ), to( guildColor17&00 ) ); }
.GuildPrimaryColor18 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor18&aa, 0.0, 1.0, 0.3 ) ), to( guildColor18&00 ) ); }
.GuildPrimaryColor19 #RightSectionGradient { background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( hsv-transform( guildColor19&aa, 0.0, 1.0, 0.3 ) ), to( guildColor19&00 ) ); }

#AppearanceSection
{
	//margin-left: 12px;
	width: 300px;

	visibility: collapse;
}

.IsMember #AppearanceSection,
.IsCreatingNewGuild #AppearanceSection
{
	visibility: visible;
}

#AppearanceSection .SectionContents
{
	flow-children: down;
	padding: 14px;
	padding-bottom: 6px;
	padding-top: 0px;
}

#AppearanceSection .SectionContents .GuildProperty
{
	margin-bottom: 8px;
}

#MembersSection
{
	margin-left: 14px;
	margin-top: 10px;
	width: 300px;
	flow-children: down;
}

#MembersSection .SectionHeader
{
	padding-left: 0px;
}

.IsMember #MembersSection,
.IsCreatingNewGuild #MembersSection
{
	visibility: collapse;
}

#GuildLevelSection
{
	flow-children: down;
	visibility: visible;
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	visibility: collapse;
}

.GuildLevelSectionValid #GuildLevelSection
{
	visibility: visible;
}

.GuildLevelSectionValid #TierSectionContainer
{
	//pre-transform-scale2d: .5;
	border: 1px solid red;
}

.IsMember #RightSection
{
	visibility: collapse;
}

#MembersTable
{
	flow-children: down;
	margin-bottom: 14px;
	//margin-right: 14px;
}

#MembersHeaderRow
{
	flow-children: right;
	margin-bottom: 2px;
	//padding: 0px 8px;
}

#MembersHeaderRow Label
{
	font-size: 12px;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 68px;
}



#MembersList
{
	flow-children: down;
	overflow: squish scroll;
	//padding: 0px 8px;
	width: 100%;
	opacity: 0.99;
}


.PersonaColumn
{
	width: fill-parent-flow( 1.6 );
	
}

.PersonaColumn Label
{
	font-size: 14px;
	vertical-align: center;
	margin-left: 4px;

}

.RoleColumn
{
	width: fill-parent-flow( 1.0 );
	font-size: 14px;
	color: #9b9b9b;
	vertical-align: center;
}


.GuildMember
{
	flow-children: right;
	margin-bottom: 3px;
	
	background-color: #ffffff02; 
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff01 ), to( #ffffff03 ) );
	border-top: 1px solid #ffffff02;
	border-right: 1px solid #ffffff02;
	border-left: 0px;
	border-bottom: 0px;
	
	box-shadow: 0px 0px 20px #00000066;
	
	transition-property: brightness;
	transition-duration: .2s;
	
	height: 25px;
	
	width: 92%;
	
}

.GuildMember:hover
{
	brightness: 2.5;
}

.GuildMember .PersonaColumn
{
	flow-children: right;
}

.GuildMember #AvatarImage
{
	width: 24px;
	height: 24px;
	margin-right: 4px;
	
	box-shadow: 0px 0px 20px #000000aa;
}

.GuildPopupButton
{
	//background-color: red;
	text-transform: uppercase;
	min-width: 300px;
	transition-property: brightness;
	transition-duration: .2s;
}

.GuildPopupButton:hover
{
	brightness:2;
}

.GuildPrimaryColor0 .GuildPopupButton:hover { background-color: guildColor0&77; }
.GuildPrimaryColor1 .GuildPopupButton:hover { background-color: guildColor1&77; }
.GuildPrimaryColor2 .GuildPopupButton:hover { background-color: guildColor2&77; }
.GuildPrimaryColor3 .GuildPopupButton:hover { background-color: guildColor3&77; }
.GuildPrimaryColor4 .GuildPopupButton:hover { background-color: guildColor4&77; }
.GuildPrimaryColor5 .GuildPopupButton:hover { background-color: guildColor5&77; }
.GuildPrimaryColor6 .GuildPopupButton:hover { background-color: guildColor6&77; }
.GuildPrimaryColor7 .GuildPopupButton:hover { background-color: guildColor7&77; }
.GuildPrimaryColor8 .GuildPopupButton:hover { background-color: guildColor8&77; }
.GuildPrimaryColor9 .GuildPopupButton:hover { background-color: guildColor9&77; }
.GuildPrimaryColor10 .GuildPopupButton:hover { background-color: guildColor10&77; }
.GuildPrimaryColor11 .GuildPopupButton:hover { background-color: guildColor11&77; }
.GuildPrimaryColor12 .GuildPopupButton:hover { background-color: guildColor12&77; }
.GuildPrimaryColor13 .GuildPopupButton:hover { background-color: guildColor13&77; }
.GuildPrimaryColor14 .GuildPopupButton:hover { background-color: guildColor14&77; }
.GuildPrimaryColor15 .GuildPopupButton:hover { background-color: guildColor15&77; }
.GuildPrimaryColor16 .GuildPopupButton:hover { background-color: guildColor16&77; }
.GuildPrimaryColor17 .GuildPopupButton:hover { background-color: guildColor17&77; }
.GuildPrimaryColor18 .GuildPopupButton:hover { background-color: guildColor18&77; }
.GuildPrimaryColor19 .GuildPopupButton:hover { background-color: guildColor19&77; }

.GuildPopupButton.Green
{
	border-top: 0px solid #ffffff11;
	border-right: 0px solid #ffffff11;
	border-left: 0px solid #ffffff11;
	border-bottom: 0px solid #ffffff01;
}

.GuildPopupButton.Green:active
{
	border-top: 0px solid #ffffff11;
	border-right: 0px solid #ffffff11;
	border-left: 0px solid #ffffff11;
	border-bottom: 0px solid #ffffff01;
	brightness: 3;
}

.GuildPopupButton Label
{
	text-transform: uppercase;
	font-size: 22px;
	margin-top: 3px;
	text-shadow: 0px 0px 30px #ffffff77;
	overflow: noclip;
}

.GuildPrimaryColor0 .GuildPopupButton { background-color: guildColor0&77; }
.GuildPrimaryColor1 .GuildPopupButton { background-color: guildColor1&77; }
.GuildPrimaryColor2 .GuildPopupButton { background-color: guildColor2&77; }
.GuildPrimaryColor3 .GuildPopupButton { background-color: guildColor3&77; }
.GuildPrimaryColor4 .GuildPopupButton { background-color: guildColor4&77; }
.GuildPrimaryColor5 .GuildPopupButton { background-color: guildColor5&77; }
.GuildPrimaryColor6 .GuildPopupButton { background-color: guildColor6&77; }
.GuildPrimaryColor7 .GuildPopupButton { background-color: guildColor7&77; }
.GuildPrimaryColor8 .GuildPopupButton { background-color: guildColor8&77; }
.GuildPrimaryColor9 .GuildPopupButton { background-color: guildColor9&77; }
.GuildPrimaryColor10 .GuildPopupButton { background-color: guildColor10&77; }
.GuildPrimaryColor11 .GuildPopupButton { background-color: guildColor11&77; }
.GuildPrimaryColor12 .GuildPopupButton { background-color: guildColor12&77; }
.GuildPrimaryColor13 .GuildPopupButton { background-color: guildColor13&77; }
.GuildPrimaryColor14 .GuildPopupButton { background-color: guildColor14&77; }
.GuildPrimaryColor15 .GuildPopupButton { background-color: guildColor15&77; }
.GuildPrimaryColor16 .GuildPopupButton { background-color: guildColor16&77; }
.GuildPrimaryColor17 .GuildPopupButton { background-color: guildColor17&77; }
.GuildPrimaryColor18 .GuildPopupButton { background-color: guildColor18&77; }
.GuildPrimaryColor19 .GuildPopupButton { background-color: guildColor19&77; }

.GuildPopupButtonCancel
{
	background-color: red;
	text-transform: uppercase;
	min-width: 300px;
	
	border-top: 0px solid #ffffff11;
	border-right: 0px solid #ffffff11;
	border-left: 0px solid #ffffff11;
	border-bottom: 0px solid #ffffff01;
	
	transition-property: brightness;
	transition-duration: .2s;
}

.GuildPopupButtonCancel:hover
{
	brightness:2;
}

.GuildPrimaryColor0 .GuildPopupButtonCancel:hover { background-color: guildColor0&11; }
.GuildPrimaryColor1 .GuildPopupButtonCancel:hover { background-color: guildColor1&11; }
.GuildPrimaryColor2 .GuildPopupButtonCancel:hover { background-color: guildColor2&11; }
.GuildPrimaryColor3 .GuildPopupButtonCancel:hover { background-color: guildColor3&11; }
.GuildPrimaryColor4 .GuildPopupButtonCancel:hover { background-color: guildColor4&11; }
.GuildPrimaryColor5 .GuildPopupButtonCancel:hover { background-color: guildColor5&11; }
.GuildPrimaryColor6 .GuildPopupButtonCancel:hover { background-color: guildColor6&11; }
.GuildPrimaryColor7 .GuildPopupButtonCancel:hover { background-color: guildColor7&11; }
.GuildPrimaryColor8 .GuildPopupButtonCancel:hover { background-color: guildColor8&11; }
.GuildPrimaryColor9 .GuildPopupButtonCancel:hover { background-color: guildColor9&11; }
.GuildPrimaryColor10 .GuildPopupButtonCancel:hover { background-color: guildColor10&11; }
.GuildPrimaryColor11 .GuildPopupButtonCancel:hover { background-color: guildColor11&11; }
.GuildPrimaryColor12 .GuildPopupButtonCancel:hover { background-color: guildColor12&11; }
.GuildPrimaryColor13 .GuildPopupButtonCancel:hover { background-color: guildColor13&11; }
.GuildPrimaryColor14 .GuildPopupButtonCancel:hover { background-color: guildColor14&11; }
.GuildPrimaryColor15 .GuildPopupButtonCancel:hover { background-color: guildColor15&11; }
.GuildPrimaryColor16 .GuildPopupButtonCancel:hover { background-color: guildColor16&11; }
.GuildPrimaryColor17 .GuildPopupButtonCancel:hover { background-color: guildColor17&11; }
.GuildPrimaryColor18 .GuildPopupButtonCancel:hover { background-color: guildColor18&11; }
.GuildPrimaryColor19 .GuildPopupButtonCancel:hover { background-color: guildColor19&11; }

.GuildPopupButtonCancel:active
{
	border-top: 0px solid #ffffff11;
	border-right: 0px solid #ffffff11;
	border-left: 0px solid #ffffff11;
	border-bottom: 0px solid #ffffff01;
	brightness: 4;
}

.GuildPopupButtonCancel Label
{
	text-transform: uppercase;
	font-size: 22px;
	margin-top: 3px;
	text-shadow: 0px 0px 30px #ffffff11;
	overflow: noclip;
}

.GuildPrimaryColor0 .GuildPopupButtonCancel { background-color: guildColor0&11; }
.GuildPrimaryColor1 .GuildPopupButtonCancel { background-color: guildColor1&10; }
.GuildPrimaryColor2 .GuildPopupButtonCancel { background-color: guildColor2&11; }
.GuildPrimaryColor3 .GuildPopupButtonCancel { background-color: guildColor3&11; }
.GuildPrimaryColor4 .GuildPopupButtonCancel { background-color: guildColor4&11; }
.GuildPrimaryColor5 .GuildPopupButtonCancel { background-color: guildColor5&11; }
.GuildPrimaryColor6 .GuildPopupButtonCancel { background-color: guildColor6&11; }
.GuildPrimaryColor7 .GuildPopupButtonCancel { background-color: guildColor7&11; }
.GuildPrimaryColor8 .GuildPopupButtonCancel { background-color: guildColor8&11; }
.GuildPrimaryColor9 .GuildPopupButtonCancel { background-color: guildColor9&11; }
.GuildPrimaryColor10 .GuildPopupButtonCancel { background-color: guildColor10&11; }
.GuildPrimaryColor11 .GuildPopupButtonCancel { background-color: guildColor11&10; }
.GuildPrimaryColor12 .GuildPopupButtonCancel { background-color: guildColor12&11; }
.GuildPrimaryColor13 .GuildPopupButtonCancel { background-color: guildColor13&11; }
.GuildPrimaryColor14 .GuildPopupButtonCancel { background-color: guildColor14&11; }
.GuildPrimaryColor15 .GuildPopupButtonCancel { background-color: guildColor15&11; }
.GuildPrimaryColor16 .GuildPopupButtonCancel { background-color: guildColor16&11; }
.GuildPrimaryColor17 .GuildPopupButtonCancel { background-color: guildColor17&11; }
.GuildPrimaryColor18 .GuildPopupButtonCancel { background-color: guildColor18&11; }
.GuildPrimaryColor19 .GuildPopupButtonCancel { background-color: guildColor19&11; }


