
#Challenge1 .ChallengeImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_dk2_psd.vtex");
}

#Challenge2 .ChallengeImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_sniper_psd.vtex");
}

#Challenge3 .ChallengeImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_dragon_psd.vtex");
}

#Challenge4 .ChallengeImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_mirana_psd.vtex");
}

#Challenge5 .ChallengeImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_qop_psd.vtex");
}
