DOTAHeroPlusStatsPage
{
    margin-top: 120px;
    margin-bottom: 100px;
    width: 100%;
    height: 100%;
}

.Contents
{
	width: 1392px;
	height: 100%;
	horizontal-align: center;
}

.HeaderRow
{
    background-color: #000000E3;
	width: 100%;
	height: 136px;
    padding: 8px 18px;
    //margin-bottom: 8px;
}

.RowContainer
{
	background-color: #1c242d;
	width: 100%;
	height: 780px;
	overflow: squish scroll;
}

DOTAHeroPlusPickWinBanRow
{
	flow-children: right;
	padding-top: 5px;
	//padding-bottom: 5px;
}

DOTAHeroPlusPickWinBanRow.Odd
{
	background-color: #242f39;
}

.RowBlockWrapper
{
	vertical-align: middle;
	flow-children: right;
	margin-right: 10px;
}

.ProgressBarColumn
{
	width: 145px;
}

.HeroNameColumn
{
	width: 81px;
}

#HeroImage
{
	width: 100%;
	height: width-percentage( 56.25% );
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 8px;
}


.WeeksColumn
{
	vertical-align: middle;
	width: 400px;
	padding-right: 60px;
}

#WinColumn
{
	width: 480px;
	padding-left: 60px;
}

.KDAValue
{
	width: 50px;
}

.SimpleStatColumn
{
	font-size: 16px;
	vertical-align: center;
	width: 60px;
}

#WinRateStart,
#PickRateStart,
#BanRateStart
{
	horizontal-align: right;
	text-align: left;
}

#WinRateEnd,
#PickRateEnd,
#BanRateEnd,
#WinRateChange,
#PickRateChange,
#BanRateChange
{
    text-align : right;
}

Label.SimpleStatColumn.KDAValue
{
	padding-right: 19px;
}

#PickColumn Label
{
	color: #2EBBFF;
}

#WinColumn Label
{
	color: #32B864;
}

#BanColumn Label
{
	color: #F88613;
}


DOTAHeroPlusStatsPage #WinRateStart
{
	//padding-left: 12px;
}

DOTAHeroPlusStatsPage Label.SimpleStatColumn.AvgGPM
{
	padding-right: 27px;
}

DOTAHeroPlusStatsPage Label.SimpleStatColumn.AvgXPM
{
	padding-right: 28px;
}

DOTAHeroPlusStatsPage Label.SimpleStatColumn.BestGPM
{
	padding-right: 23px;
}

DOTAHeroPlusStatsPage Label.SimpleStatColumn.BestXPM
{
	padding-right: 25px;
}

.HeroStatGraph
{
	width: 140px;
	height: 50px;
}

.PickNegative #PickRateChange,
.BanNegative #BanRateChange,
.WinNegative #WinRateChange
{
	color: #C23C2A;
}

.PickPositive #PickRateChange,
.BanPositive #BanRateChange,
.WinPositive #WinRateChange
{
	color: #3F8539;
}

.RowHeaders
{
	width: 100%;
	height: 30px;
}

.UberHeader 
{
	width: 100%;
	height: 100px;
}

.UberHeader Label
{
	color: white;
	horizontal-align: left;
	vertical-align: middle;
	font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 24px;
    padding-bottom: 12px;
}

.RankTierImage
{
	width: 80px;
	height: 80px;
	background-size: 100%;
	margin-left: 10px;
	margin-right: 10px;
	wash-color: #555555;
	transition-property: wash-color;
}


.RankTierImage:hover
{
	wash-color: #aaaaaa;
}

.RankTierImage:selected
{
	wash-color: #ffffff;
}

.RankDisplays .RadioBox
{
    visibility: collapse;
}

#RankDisplays
{
	horizontal-align: center;
}

.RankSelectionContainer
{
	background-color: gradient( linear, 100% 0%, 0% 100%, from( #c99e4a00 ), color-stop( 0.1, #c99e4a30 ),color-stop( 0.9, #c99e4a30 ), to( #c99e4a00 ) );
	width: 800px;

	margin-bottom: 12px;
	horizontal-align: right;
}

.RowHeaders Label
{
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
}

.RowHeaders #WinColumn
{
    padding-left: 26px;
    width: 400px;
}

.RowHeaders #PickColumn
{
    padding-left: 0px;
    margin-left: 54px;
    width: 400px;
}

.RowHeaders #BanColumn
{
    margin-left: 8px;
}

.RowHeaders .WeeksColumn
{
    padding-right: 0px;
    margin-right: 0px;
}

.RowHeaders .SimpleStatColumn
{
    margin-left: 10px;
}