.SectionContainer
{
    flow-children: down;
    width: 340px;
    height: 700px;
}

.DoubleSectionContainer
{
    flow-children: down;
    width: 680px;
    height: 700px;
}

.Section
{
	flow-children: down;
	background-color: #000000cc;
	
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #181818 ), color-stop(.5, #2a2a2a ), to( #181818 ) );
}

.PageVisible .Section
{
	background-blur: gaussian( 7 );
}

.SectionHeader
{
	width: 100%;
	padding: 10px 14px 3px 14px;
	flow-children: right;
}

#MembersSection .SectionHeader
{
	margin-left: 0px;
}

.SectionHeaderWithTimer
{
    width: 100%;
}
.SectionHeaderTimer
{
    //min-width: 90px;
	padding-left: 14px;
	padding-right: 10px;
	width: fit-children;
    height: 25px;
    vertical-align: top;
    horizontal-align: right;
    border-bottom-left-radius: 5px;
}

.GuildPrimaryColor0 .SectionHeaderTimer { background-color: guildColor0&30; }
.GuildPrimaryColor1 .SectionHeaderTimer { background-color: guildColor1&22; }
.GuildPrimaryColor2 .SectionHeaderTimer { background-color: guildColor2&22; }
.GuildPrimaryColor3 .SectionHeaderTimer { background-color: guildColor3&22; }
.GuildPrimaryColor4 .SectionHeaderTimer { background-color: guildColor4&22; }
.GuildPrimaryColor5 .SectionHeaderTimer { background-color: guildColor5&44; }
.GuildPrimaryColor6 .SectionHeaderTimer { background-color: guildColor6&22; }
.GuildPrimaryColor7 .SectionHeaderTimer { background-color: guildColor7&44; }
.GuildPrimaryColor8 .SectionHeaderTimer { background-color: guildColor8&33; }
.GuildPrimaryColor9 .SectionHeaderTimer { background-color: guildColor9&22; }
.GuildPrimaryColor10 .SectionHeaderTimer { background-color: guildColor10&30; }
.GuildPrimaryColor11 .SectionHeaderTimer { background-color: guildColor11&22; }
.GuildPrimaryColor12 .SectionHeaderTimer { background-color: guildColor12&22; }
.GuildPrimaryColor13 .SectionHeaderTimer { background-color: guildColor13&22; }
.GuildPrimaryColor14 .SectionHeaderTimer { background-color: guildColor14&22; }
.GuildPrimaryColor15 .SectionHeaderTimer { background-color: guildColor15&44; }
.GuildPrimaryColor16 .SectionHeaderTimer { background-color: guildColor16&22; }
.GuildPrimaryColor17 .SectionHeaderTimer { background-color: guildColor17&44; }
.GuildPrimaryColor18 .SectionHeaderTimer { background-color: guildColor18&33; }
.GuildPrimaryColor19 .SectionHeaderTimer { background-color: guildColor19&22; }

.SectionHeaderTimer Label
{
	vertical-align: center;
	horizontal-align: right;
	color: #ffffffaa;
	font-size: 13px;
	font-family: monospaceNumbersFont;
	//margin-top: 3px;
}

.GuildPrimaryColor0 .SectionHeaderTimer Label { color: hsv-transform( guildColor0, 0, .7, 3.0 ); }
.GuildPrimaryColor1 .SectionHeaderTimer Label { color: hsv-transform( guildColor1, 0, .7, 3.0 ); }
.GuildPrimaryColor2 .SectionHeaderTimer Label { color: hsv-transform( guildColor2, 0, .7, 3.0 ); }
.GuildPrimaryColor3 .SectionHeaderTimer Label { color: hsv-transform( guildColor3, 0, .7, 3.0 ); }
.GuildPrimaryColor4 .SectionHeaderTimer Label { color: hsv-transform( guildColor4, 0, .7, 3.0 ); }
.GuildPrimaryColor5 .SectionHeaderTimer Label { color: hsv-transform( guildColor5, 0, .7, 3.0 ); }
.GuildPrimaryColor6 .SectionHeaderTimer Label { color: hsv-transform( guildColor6, 0, .7, 3.0 ); }
.GuildPrimaryColor7 .SectionHeaderTimer Label { color: hsv-transform( guildColor7, 0, .7, 3.0 ); }
.GuildPrimaryColor8 .SectionHeaderTimer Label { color: hsv-transform( guildColor8, 0, .7, 3.0 ); }
.GuildPrimaryColor9 .SectionHeaderTimer Label { color: hsv-transform( guildColor9, 0, .7, 3.0 ); }
.GuildPrimaryColor10 .SectionHeaderTimer Label { color: hsv-transform( guildColor10, 0, .7, 3.0 ); }
.GuildPrimaryColor11 .SectionHeaderTimer Label { color: hsv-transform( guildColor11, 0, .7, 3.0 ); }
.GuildPrimaryColor12 .SectionHeaderTimer Label { color: hsv-transform( guildColor12, 0, .7, 3.0 ); }
.GuildPrimaryColor13 .SectionHeaderTimer Label { color: hsv-transform( guildColor13, 0, .7, 3.0 ); }
.GuildPrimaryColor14 .SectionHeaderTimer Label { color: hsv-transform( guildColor14, 0, .7, 3.0 ); }
.GuildPrimaryColor15 .SectionHeaderTimer Label { color: hsv-transform( guildColor15, 0, .7, 3.0 ); }
.GuildPrimaryColor16 .SectionHeaderTimer Label { color: hsv-transform( guildColor16, 0, .7, 3.0 ); }
.GuildPrimaryColor17 .SectionHeaderTimer Label { color: hsv-transform( guildColor17, 0, .7, 3.0 ); }
.GuildPrimaryColor18 .SectionHeaderTimer Label { color: hsv-transform( guildColor18, 0, .7, 3.0 ); }
.GuildPrimaryColor19 .SectionHeaderTimer Label { color: hsv-transform( guildColor19, 0, .7, 3.0 ); }


#NextRewardContainer .SectionHeader
{
	transition-property: brightness;
	transition-duration: .2s;
}

#NextRewardContainer .SectionHeader:hover
{
	brightness: 3;
}

#MemberList .SectionHeader
{
	//padding-bottom: 0px;
	
	
	transition-property: brightness;
	transition-duration: .2s;
}

#MemberList .SectionHeader:hover
{
	brightness: 3;
}

.SectionHeaderIconButton
{
	width: 17px;
	height: 17px;

	vertical-align: middle;

	background-image: url("s2r://panorama/images/control_icons/friends_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	wash-color: #999;

	transition-property: wash-color;
	transition-duration: 0.2s;
	
	margin-top: -7px;
	margin-left: 8px;
	
}

.SectionHeaderIconButton:hover
{
	wash-color: white;
}

.SectionHeaderIconButton:active
{
	wash-color: #ccc;
}

.SectionTitle
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: light;
}

.GuildPrimaryColor0 .SectionTitle { color: hsv-transform( guildColor0, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor1 .SectionTitle { color: hsv-transform( guildColor1, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor2 .SectionTitle { color: hsv-transform( guildColor2, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor3 .SectionTitle { color: hsv-transform( guildColor3, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor4 .SectionTitle { color: hsv-transform( guildColor4, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor5 .SectionTitle { color: hsv-transform( guildColor5, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor6 .SectionTitle { color: hsv-transform( guildColor6, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor7 .SectionTitle { color: hsv-transform( guildColor7, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor8 .SectionTitle { color: hsv-transform( guildColor8, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor9 .SectionTitle { color: hsv-transform( guildColor9, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor10 .SectionTitle { color: hsv-transform( guildColor10, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor11 .SectionTitle { color: hsv-transform( guildColor11, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor12 .SectionTitle { color: hsv-transform( guildColor12, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor13 .SectionTitle { color: hsv-transform( guildColor13, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor14 .SectionTitle { color: hsv-transform( guildColor14, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor15 .SectionTitle { color: hsv-transform( guildColor15, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor16 .SectionTitle { color: hsv-transform( guildColor16, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor17 .SectionTitle { color: hsv-transform( guildColor17, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor18 .SectionTitle { color: hsv-transform( guildColor18, 0.0, 1.0, 1.5 ); }
.GuildPrimaryColor19 .SectionTitle { color: hsv-transform( guildColor19, 0.0, 1.0, 1.5 ); }

.MemberCount
{
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: light;
	margin-left: 5px; 
	color: #9b9b9b;
}

.LinkArrow
{
	width: 12px;
	height: 12px;

	background-image: url("s2r://panorama/images/control_icons/arrow_top_right_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 4px;
	margin-left: 2px;
	
	wash-color: #555;
}

.SectionContents
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.GuildMemberIcon
{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    visibility: collapse;
	//margin-top: -1px;
}
.GuildLeader .GuildLeaderIcon,
{
    background-image: url("s2r://panorama/images/control_icons/guild_leader_png.vtex");
    visibility: visible;
}
.LeaderboardLeader .LeaderboardLeaderIcon
{
    background-image: url("s2r://panorama/images/control_icons/guild_topscore_png.vtex");
    visibility: visible;
}

.ChallengeContents .ChallengeValue
{
	color: #ffffff;
}

.GuildPopupButton
{
	margin: 0px 14px 0px 0px;
	padding: 5px 10px 5px 10px;
	border-top: 0px solid #ffffff11;
	border-right: 0px solid #ffffff11;
	border-left: 0px solid #ffffff11;
	border-bottom: 0px solid #ffffff11;
	text-transform: uppercase;
	min-width: 300px;
	transition-property: brightness;
	transition-duration: .2s;
	transition-delay: 0.0s;
	transition-timing-function: linear; 
	background-color: guildColor0&77;
}

.GuildPopupButton:disabled
{
	//wash-color: #000000;
	background-color: #222222aa;
	saturation: .0;
}


.GuildPopupButton:disabled Label
{
	color: #888888aa;
	text-shadow: none;
}

.GuildPopupButton:hover
{
	brightness: 2;
	background-color: guildColor0&77;
}

.GuildPopupButton:hover:disabled
{
	brightness: 1;
	background-color: #222222aa;
}


.GuildPopupButton Label
{
	text-transform: uppercase;
	font-size: 22px;
	margin-top: 2px;
	margin-bottom: 1px;
	text-shadow: 0px 0px 30px #ffffff77;
}

.GuildPrimaryColor0 .GuildPopupButton { background-color: guildColor0&77; }
.GuildPrimaryColor1 .GuildPopupButton { background-color: guildColor1&77; }
.GuildPrimaryColor2 .GuildPopupButton { background-color: guildColor2&77; }
.GuildPrimaryColor3 .GuildPopupButton { background-color: guildColor3&77; }
.GuildPrimaryColor4 .GuildPopupButton { background-color: guildColor4&77; }
.GuildPrimaryColor5 .GuildPopupButton { background-color: guildColor5&77; }
.GuildPrimaryColor6 .GuildPopupButton { background-color: guildColor6&77; }
.GuildPrimaryColor7 .GuildPopupButton { background-color: guildColor7&77; }
.GuildPrimaryColor8 .GuildPopupButton { background-color: guildColor8&77; }
.GuildPrimaryColor9 .GuildPopupButton { background-color: guildColor9&77; }
.GuildPrimaryColor10 .GuildPopupButton { background-color: guildColor10&77; }
.GuildPrimaryColor11 .GuildPopupButton { background-color: guildColor11&77; }
.GuildPrimaryColor12 .GuildPopupButton { background-color: guildColor12&77; }
.GuildPrimaryColor13 .GuildPopupButton { background-color: guildColor13&77; }
.GuildPrimaryColor14 .GuildPopupButton { background-color: guildColor14&77; }
.GuildPrimaryColor15 .GuildPopupButton { background-color: guildColor15&77; }
.GuildPrimaryColor16 .GuildPopupButton { background-color: guildColor16&77; }
.GuildPrimaryColor17 .GuildPopupButton { background-color: guildColor17&77; }
.GuildPrimaryColor18 .GuildPopupButton { background-color: guildColor18&77; }
.GuildPrimaryColor19 .GuildPopupButton { background-color: guildColor19&77; }

.GuildPrimaryColor0 .GuildPopupButton:hover { background-color: guildColor0&77; }
.GuildPrimaryColor1 .GuildPopupButton:hover { background-color: guildColor1&77; }
.GuildPrimaryColor2 .GuildPopupButton:hover { background-color: guildColor2&77; }
.GuildPrimaryColor3 .GuildPopupButton:hover { background-color: guildColor3&77; }
.GuildPrimaryColor4 .GuildPopupButton:hover { background-color: guildColor4&77; }
.GuildPrimaryColor5 .GuildPopupButton:hover { background-color: guildColor5&77; }
.GuildPrimaryColor6 .GuildPopupButton:hover { background-color: guildColor6&77; }
.GuildPrimaryColor7 .GuildPopupButton:hover { background-color: guildColor7&77; }
.GuildPrimaryColor8 .GuildPopupButton:hover { background-color: guildColor8&77; }
.GuildPrimaryColor9 .GuildPopupButton:hover { background-color: guildColor9&77; }
.GuildPrimaryColor10 .GuildPopupButton:hover { background-color: guildColor10&77; }
.GuildPrimaryColor11 .GuildPopupButton:hover { background-color: guildColor11&77; }
.GuildPrimaryColor12 .GuildPopupButton:hover { background-color: guildColor12&77; }
.GuildPrimaryColor13 .GuildPopupButton:hover { background-color: guildColor13&77; }
.GuildPrimaryColor14 .GuildPopupButton:hover { background-color: guildColor14&77; }
.GuildPrimaryColor15 .GuildPopupButton:hover { background-color: guildColor15&77; }
.GuildPrimaryColor16 .GuildPopupButton:hover { background-color: guildColor16&77; }
.GuildPrimaryColor17 .GuildPopupButton:hover { background-color: guildColor17&77; }
.GuildPrimaryColor18 .GuildPopupButton:hover { background-color: guildColor18&77; }
.GuildPrimaryColor19 .GuildPopupButton:hover { background-color: guildColor19&77; }

.GuildPopupButton.Green
{
	border-top: 0px solid #ffffff11;
	border-right: 0px solid #ffffff11;
	border-left: 0px solid #ffffff11;
	border-bottom: 0px solid #ffffff01;
}

.GuildPopupButton.Green:active
{
	border-top: 0px solid #ffffff11;
	border-right: 0px solid #ffffff11;
	border-left: 0px solid #ffffff11;
	border-bottom: 0px solid #ffffff01;
	brightness: 3;
}

.GuildPopupButtonCancel
{
	background-color: red;
	text-transform: uppercase;
	min-width: 300px;
	
	border-top: 0px solid #ffffff11;
	border-right: 0px solid #ffffff11;
	border-left: 0px solid #ffffff11;
	border-bottom: 0px solid #ffffff01;
	
	transition-property: brightness;
	transition-duration: .2s;
}

.GuildPopupButtonCancel:hover
{
	brightness:2;
}

.GuildPrimaryColor0 .GuildPopupButtonCancel:hover { background-color: guildColor0&11; }
.GuildPrimaryColor1 .GuildPopupButtonCancel:hover { background-color: guildColor1&11; }
.GuildPrimaryColor2 .GuildPopupButtonCancel:hover { background-color: guildColor2&11; }
.GuildPrimaryColor3 .GuildPopupButtonCancel:hover { background-color: guildColor3&11; }
.GuildPrimaryColor4 .GuildPopupButtonCancel:hover { background-color: guildColor4&11; }
.GuildPrimaryColor5 .GuildPopupButtonCancel:hover { background-color: guildColor5&11; }
.GuildPrimaryColor6 .GuildPopupButtonCancel:hover { background-color: guildColor6&11; }
.GuildPrimaryColor7 .GuildPopupButtonCancel:hover { background-color: guildColor7&11; }
.GuildPrimaryColor8 .GuildPopupButtonCancel:hover { background-color: guildColor8&11; }
.GuildPrimaryColor9 .GuildPopupButtonCancel:hover { background-color: guildColor9&11; }
.GuildPrimaryColor10 .GuildPopupButtonCancel:hover { background-color: guildColor10&11; }
.GuildPrimaryColor11 .GuildPopupButtonCancel:hover { background-color: guildColor11&11; }
.GuildPrimaryColor12 .GuildPopupButtonCancel:hover { background-color: guildColor12&11; }
.GuildPrimaryColor13 .GuildPopupButtonCancel:hover { background-color: guildColor13&11; }
.GuildPrimaryColor14 .GuildPopupButtonCancel:hover { background-color: guildColor14&11; }
.GuildPrimaryColor15 .GuildPopupButtonCancel:hover { background-color: guildColor15&11; }
.GuildPrimaryColor16 .GuildPopupButtonCancel:hover { background-color: guildColor16&11; }
.GuildPrimaryColor17 .GuildPopupButtonCancel:hover { background-color: guildColor17&11; }
.GuildPrimaryColor18 .GuildPopupButtonCancel:hover { background-color: guildColor18&11; }
.GuildPrimaryColor19 .GuildPopupButtonCancel:hover { background-color: guildColor19&11; }

.GuildPopupButtonCancel:active
{
	border-top: 0px solid #ffffff11;
	border-right: 0px solid #ffffff11;
	border-left: 0px solid #ffffff11;
	border-bottom: 0px solid #ffffff01;
	brightness: 4;
}

.GuildPopupButtonCancel Label
{
	text-transform: uppercase;
	font-size: 22px;
	margin-top: 3px;
	text-shadow: 0px 0px 30px #ffffff11;
}

.GuildPrimaryColor0 .GuildPopupButtonCancel { background-color: guildColor0&11; }
.GuildPrimaryColor1 .GuildPopupButtonCancel { background-color: guildColor1&10; }
.GuildPrimaryColor2 .GuildPopupButtonCancel { background-color: guildColor2&11; }
.GuildPrimaryColor3 .GuildPopupButtonCancel { background-color: guildColor3&11; }
.GuildPrimaryColor4 .GuildPopupButtonCancel { background-color: guildColor4&11; }
.GuildPrimaryColor5 .GuildPopupButtonCancel { background-color: guildColor5&11; }
.GuildPrimaryColor6 .GuildPopupButtonCancel { background-color: guildColor6&11; }
.GuildPrimaryColor7 .GuildPopupButtonCancel { background-color: guildColor7&11; }
.GuildPrimaryColor8 .GuildPopupButtonCancel { background-color: guildColor8&11; }
.GuildPrimaryColor9 .GuildPopupButtonCancel { background-color: guildColor9&11; }
.GuildPrimaryColor10 .GuildPopupButtonCancel { background-color: guildColor10&11; }
.GuildPrimaryColor11 .GuildPopupButtonCancel { background-color: guildColor11&10; }
.GuildPrimaryColor12 .GuildPopupButtonCancel { background-color: guildColor12&11; }
.GuildPrimaryColor13 .GuildPopupButtonCancel { background-color: guildColor13&11; }
.GuildPrimaryColor14 .GuildPopupButtonCancel { background-color: guildColor14&11; }
.GuildPrimaryColor15 .GuildPopupButtonCancel { background-color: guildColor15&11; }
.GuildPrimaryColor16 .GuildPopupButtonCancel { background-color: guildColor16&11; }
.GuildPrimaryColor17 .GuildPopupButtonCancel { background-color: guildColor17&11; }
.GuildPrimaryColor18 .GuildPopupButtonCancel { background-color: guildColor18&11; }
.GuildPrimaryColor19 .GuildPopupButtonCancel { background-color: guildColor19&11; }

.InfoIcon
{
	margin-top: -2px;
	wash-color: #777;
	width: 16px;
	height: 16px;
}

.FriendOffline #MemberDescCenter,
.FriendOffline .PlayerDescContainer,
{
    padding-top: 0px;
}

#MemberRichPresence.FriendOffline
{
    visibility: collapse;
}

.CountdownAfterEnd .CountingDownLabel
{
	visibility: collapse;
}

.RefreshingLabel
{
	visibility: collapse;
}

.CountdownAfterEnd .RefreshingLabel
{
	visibility: visible;
}