DOTATreasureVotingPage
{
	width: 100%;
	height: 100%;
}

#MainContents
{
	margin-top: 160px;
	padding-bottom: 140px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDarkColor ), to( black ) );
	width: 100%;
	height: 100%;
	border-top: 2px solid accentColor;
}

#LargeModelPreview
{
	width: 1000px;
	height: 700px;
	horizontal-align: center;
	margin-right: 680px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.CenterContents
{
	width: 1440px;
	height: 100%;
	horizontal-align: center;
}

#ModelControls
{
	width: 750px;
	vertical-align: bottom;
	flow-children: down;
}

#ButtonsContainer
{
	horizontal-align: center;
	flow-children: right;
}

.NavigateButton
{
	width: 48px;
	height: 48px;
	margin: 0px 4px;
	border: 2px solid #222;
	background-color: black;
	vertical-align: middle;
}

.NavigateButton:hover
{
	brightness: 2.0;
}
.NavigateButton:active
{
	brightness: 1.5;
}

.NavigateButton Label
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 24px;
}

.VoteButton
{
	width: 64px;
	height: 64px;
	margin: 0px 4px;
	border: 2px solid #222;
	background-color: black;
	vertical-align: middle;
}

.VoteButton:hover
{
	brightness: 2.0;
}

.VoteButton:active
{
	brightness: 1.5;
}

.VoteButton Label
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 32px;
}

#ItemNumber
{
	margin-top: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: textSecondaryBrightColor;
	horizontal-align: center;
	font-size: 20px;
}

#RightPanel
{
	horizontal-align: right;
	flow-children: down;
	width: 700px;
	height: 100%;
}

#ContestSubtitle
{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;
	text-shadow: 2px 2px 4px black;
	margin-top: 16px;
}

#ContestTitle
{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 48px;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( accentColor ) );
	text-shadow: 2px 2px 4px black;
	margin-top: -4px;
}

#ContestDescription
{
	margin-top: -4px;
	color: #ccc;
}

#HeroInfo
{
	flow-children: right;
	margin-top: 40px;
}

#HeroImage
{
	height: 60px;
	width: 107px;
	margin-right: 12px;
}

#HeroName
{
	font-size: 36px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	vertical-align: middle;
	margin-top: 8px;
}

.InfoSection
{
	margin-top: 40px;
	width: 100%;
	flow-children: down;
}

.InfoSectionHeader
{
	width: 100%;
	flow-children: right;
}

.InfoSectionLabel
{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: textSecondaryBrightColor;
}

#CreatorsList
{
	flow-children: right-wrap;
}

.Creator
{
	width: 260px;
	margin-right: 8px;
	margin-bottom: 8px;
	flow-children: right;
}

.Creator #CreatorAvatarImage
{
	width: 32px;
	height: 32px;
	margin-right: 8px;
}

.Creator #CreatorName
{
	vertical-align: middle;
}

#IncludedItemsList
{
	flow-children: right;
}

.IncludedItemPlaceholder
{
	width: 100px;
	height: 120px;
	border: 2px solid #222;
	background-color: black;
	margin-right: 8px;
}

#InGamePreviewPlaceholder
{
	width: 100%;
	height: 200px;
	background-color: black;
	border: 2px solid #222;
}