
DOTACustomGamePage
{
    margin-top: 140px;
    horizontal-align: center;
    width: 100%;
    height: 900px;
    flow-children: down;
}

.AspectRatio4x3 .TopRow, .AspectRatio4x3 .MainArea
{
	padding-left: 24px;
    padding-right: 24px;	
}

.AspectRatio16x9 .TopRow, .AspectRatio16x9 .MainArea
{
	padding-left: 264px;
    padding-right: 264px;	
}

.TopRow
{
	width: 100%;
	padding-left: 168px;
    padding-right: 168px;
	padding-bottom: 8px;
	flow-children: down;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( transparent ), to( #00000044 ) );
}

.GameModeNamePanel
{
	flow-children: right;
}

.MainArea
{
	width: 100%;
	height: 709px;
	flow-children: right;

	padding-left: 168px;
    padding-right: 168px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #00000088;
}

.ImagesColumn
{
	width: 643px;

	margin-top: 36px;
	margin-right: 45px;
	flow-children: down;
}

.DetailsColumn
{
	flow-children: down;
	margin-top: 36px;
	width: 340px;
	height: 100%;
	margin-right: 44px;
	max-height: 640px;
}

.DetailsColumnContent
{
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_psd.vtex");
	width: 100%;
	height: fit-children;
	padding-right: 20px;
	padding-top: 14px;
	padding-bottom: 16px;
	flow-children: down;
}

#DetailsColumnNav
{
	padding-bottom: 6px;
	border-bottom: 1px solid #393c3e;
	width: 100%;
}

#DescriptionArea
{
	overflow: squish scroll;
}

.ActiveSecondaryTab1 #DescriptionArea
{
	visibility: collapse;
}

#ChangeNotes
{
	overflow: clip scroll;
	visibility: collapse;
}

.ActiveSecondaryTab1 #ChangeNotes
{
	visibility: visible;
}

.ChangeNoteHeader
{
	color: white;
	text-transform: none;
	width: 100%;
	margin-top: 5px;
	font-size: 17px;
}

.ChangeNote
{
	font-weight: thin;
	margin-bottom: 6px;
	margin-left: 6px;
	width: 100%;
	font-size: 17px;
}

.ChangeNoteSeparator
{
	width: 100%;
	border-bottom: 1px solid #77777722;
	margin-bottom: 5px;
}

.RightColumn
{
	width: 320px;
	height: 709px;
	flow-children: none;
	margin-top: 36px;
	margin-bottom: 36px;
}

#RightColumnContent
{
	width: 100%;
}

#FriendsInOpenLobbies
{
	flow-children: down;
	visibility: collapse;
	margin-bottom: 5px;
	width: 100%;
}

DOTACustomGamePage.HasFriendsInOpenLobbies #FriendsInOpenLobbies
{
	visibility: visible;
}

#FriendOpenLobbiesArea
{
	width: 100%;
	flow-children: down;
}

#FriendsPlaying
{
	flow-children: down;
	margin-bottom: 6px;
	visibility: collapse;
}

DOTACustomGamePage.HasFriendsPlaying #FriendsPlaying
{
	visibility: visible;
}

#FriendsPlayingNowGrid
{
	flow-children: right;
}

#FriendsPlayingNowGrid DOTAAvatarImage
{
	width: 32px;
	height: 32px;
	margin: 4px;
	box-shadow: -2px -2px 10px 3px #00000099;
}

#FriendsWhoPlay
{
    height: 66px;
	flow-children: down;
	margin-bottom: 12px;
	visibility: collapse;
}

DOTACustomGamePage.HasFriendsWhoPlay #FriendsWhoPlay
{
	visibility: visible;
}

#FriendsWhoPlayGrid
{
    flow-children: right;
    height: 44px;
}

#FriendsWhoPlayGrid DOTAAvatarImage
{
	width: 32px;
	height: 32px;
	margin: 4px;
	box-shadow: inset #000000 0px 0px 5px 0px;
	
}

#LobbyList
{
	width: 100%;
}

.StatsRow
{
	width: 100%;
	flow-children: none;
}

#LastUpdated Label
{
	width: 300px;
	text-align: right;
}

DOTACustomGamePage.HasDedicatedServerSupport #LastUpdated Label
{
	width: 250px;
	text-align: left;
}

.ReleasedBlock
{
	flow-children: right;
	width: 260px;
	vertical-align: bottom;
}

.RatingBlock
{
	flow-children: right;
	width: 284px;
	margin-right: 50px;
	vertical-align: bottom;
}

.RatingCountLabel
{
	font-size: 17px;
	color: #c2bdbd;
	margin-left: 7px;
	vertical-align: bottom;
	wash-color: #9BCAF4;
}

.SubscriptionsBlock
{
	flow-children: right;
	width: 195px;
	margin-right: 10px;
	vertical-align: bottom;
}

.PlayingNowBlock
{
	flow-children: right;
	width: 175px;
	margin-right: 10px;
	vertical-align: bottom;
}

.UpdatedBlock
{
	flow-children: right;
	//width: fill-parent-flow(1.0);
	vertical-align: bottom;
	horizontal-align: right;
}

.SmallLabel
{
	font-size: 17px;
	color: #768e8d;
	vertical-align: bottom;
}

.SmallCapsLabel
{
	font-size: 17px;
	letter-spacing: 1px;
	color: #768e8d;
	text-transform: uppercase;
	vertical-align: bottom;
}

.StatsDescLabel
{
	font-size: 17px;
	color: #c2bdbd;
	wash-color: #9BCAF4;
	vertical-align: bottom;
}

.StatsDescLabel a
{
	color: #ffffff;
}

.StatsDescLabel a:hover
{
	text-decoration: underline;
}

.StatsDescLabelLeft
{
	font-size: 17px;
	color: #c2bdbd;
	vertical-align: bottom;
	wash-color: #9BCAF4;
}

.StatsNumberLabelLeft
{
	font-size: 17px;
	color: #FFFFFF;
	vertical-align: bottom;
}

#GameDescriptionLabel
{
	width: 100%;
	font-size: 18px;
	color: #cbcbcb;
	margin-right: 2px;
	opacity: 0.999;		// hack to make long words clip correctly
}

#GameModeName
{
	font-size: 55px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: -12px;
	letter-spacing: 6px;
	white-space: nowrap;
	text-shadow: 0px 0px 4px 1.0 #9BCAF488;
}

.FriendsHorizBar
{
	width: 100%;
	height: 1px;
	background-color: white;
	opacity: 0.04;
	margin-bottom: 6px;
	visibility: collapse;
}

DOTACustomGamePage.HasFriendsInOpenLobbies .FriendsHorizBar
{
	visibility: visible;
}

DOTACustomGamePage.HasFriendsPlaying .FriendsHorizBar
{
	visibility: visible;
}

DOTACustomGamePage.HasFriendsWhoPlay .FriendsHorizBar
{
	visibility: visible;
}

HorizontalScrollBar
{
	background-color: transparent;
	box-shadow: none;
	height: 10px;
}


#ScreenshotsArea
{
	flow-children: down;
	margin-top: 16px;
}

.ScreenShotRow
{
	flow-children: right;
	margin-bottom: 8px;
	padding-top: 8px;
	padding-left: 4px;
	overflow: scroll clip;
	padding-bottom: 20px;
}


.ScreenshotImageContainer
{
	max-height: 80px;	
	background-color: black;

	margin-right: 10px;
	border: 1px solid #9bcaf41a;
	box-shadow: fill #000000 2px 2px 6px 0px;

	transition-property: border, pre-transform-scale2d;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
	overflow: noclip;

}

.ScreenshotImageContainer:hover
{
	border: 1px solid #9bcaf466;
	pre-transform-scale2d: 1.05;
}

.Screenshot
{	
	max-height: 70px;	
}


#GameImageContainer
{
	width: 643px;
	height: 482px;
}

#FavoritesContainer
{
	vertical-align: bottom;
	horizontal-align: right;
}

#FavoritesContainer Label
{
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 4px;
	margin-right: 28px;
}

#FavoritesContainer:hover Label
{
	color: white;
}
ToggleButton#FavoriteStar
{
    padding: 0px 0px;
    background-image: url("s2r://panorama/images/control_icons/star_favorite_psd.vtex");
    background-repeat: no-repeat;
    background-size: 24px 24px;
	background-position: 93% 50%;
    wash-color: #444444;
	
	background-color: #00000088;
	flow-children: right;
	border-radius: 6px;
	padding: 6px 12px 6px 12px;
	margin-right: 6px;
	margin-bottom: 6px;
	
	transition-property: background-color, wash-color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	
	visibility: visible;
}

ToggleButton#FavoriteStar Label
{
    wash-color: white;
}

ToggleButton#FavoriteStar:hover
{
	wash-color: #4582ad;
}

ToggleButton#FavoriteStar:selected
{
	background-image: url("s2r://panorama/images/control_icons/star_favorite_selected_psd.vtex");
	wash-color: #65b9f5;
	background-color: #3b4c5daa;
}

ToggleButton#FavoriteStar:selected:hover
{
	wash-color: #7ee6ff;
}

// hide parts of the toggle button we don't want
ToggleButton#FavoriteStar .TickBox { visibility: collapse; }



.LargeGameImage
{
	width: 668px;
	height: 501px;
	overflow: clip clip;
	border-radius: 12px;
	border: 1px solid #56676733;
	
	box-shadow: fill #00000055 -6px -6px 12px 12px;
}

Button.CustomButton
{
    width: 320px;
    min-height: 50px;
	max-height: 120px;
    border-radius: 0px;
    horizontal-align: center;
    
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) );  
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 320px 120px;   
    //background-repeat: no-repeat;

	box-shadow: fill #002a6644 -4px -4px 8px 9px;
	
	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;

	transition-property: box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

    visibility: collapse;
}

Button.CustomButton Label
{
	color: white;
	max-width: 318px;

    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    margin-top: 2px;

    horizontal-align: center;
    vertical-align: center;
    
    font-size: 28px;
    font-weight: bold;
    
    letter-spacing: 3px;
    //white-space: nowrap;
    
    padding-left: 8px;
    padding-right: 8px;
}

Button.CustomButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d695ff ) );  
	box-shadow: fill #414f4daa -4px -4px 8px 8px;
}

Button.CustomButton:hover Label
{
    color: #FFFFFF;
}

Button.CustomButton:active
{
    background-color: white;
}

Button.CustomButton:active Label
{
    color: black;
}

Button.CustomButton:disabled
{
	background-color: #666666;
}

Button.CustomButton:disabled Label
{
    color: #cbcbcb;
}

#PlayEffects
{
//	margin: -72px -32px 24px -32px;
	width: 400px;
//	height: 300px;
	z-index: -1;
	visibility: visible;
}

DOTACustomGamePage.Subscribed.NeedsUpdate.NotInLobbyOfThisType.Installed #PlayEffects
{
       visibility: collapse;
}

DOTACustomGamePage.InLobby #PlayEffects
{
       visibility: collapse;
}

#MapAndPlay
{
	vertical-align: bottom;
}

#MapLabel
{
	font-size: 22px;
	color: #768e8d;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-top: 6px;
	padding-right: 10px;
	padding-left: 12px;
	border: 2px solid #424a4a;
	border-right: 0px solid #424a4a;
	height: 100%;

	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

DropDown
{
	box-shadow: none;
}

DropDown Label
{
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 4px;
	text-align: center;
}

#MapDropdownDropDownMenu.DropDownMenuVisible
{
	opacity: 1.0;
}

#MapDropdownDropDownMenu
{
	width: 320px;
	opacity: 0.0;
}

.DropDownChild
{
	text-align: center;	
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-left: 0px;
}

#PlayButton
{
	margin: 0px 0px 0px 0px;
    visibility: collapse;
	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) ); 

	animation-duration: 2.0s;
	animation-delay: 0.1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#PlayButton:hover
{
	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d695ff ) ); 
}

.CustomGameDisabled #PlayButton
{
	background-color: #542121;
}

#CustomGamePenaltyNotify
{
	visibility: collapse;
	text-align: center;
}

.CustomGameDisabled #CustomGamePenaltyNotify
{
	visibility: visible;
}

DOTACustomGamePage.Subscribed.FullyInstalled #PlayButton
{
	visibility: visible;
}

#DedicatedServerSupport,
#CustomGamePenaltySupport
{
	vertical-align: bottom;
	wash-color: #94cc4a;
	visibility: collapse;
	flow-children: right;
	margin-left: 5px;
}

#CustomGamePenaltySupport
{
	horizontal-align: center;
	margin-bottom: 5px;
}

DOTACustomGamePage.HasDedicatedServerSupport #DedicatedServerSupport,
DOTACustomGamePage.HasMatchmakingPenalties #CustomGamePenaltySupport
{
	visibility: visible;
}

#DedicatedServerSupport Label
{
	font-size: 17px;
	color: white;
	margin-left: 7px;
	vertical-align: bottom;
}

#DedicatedServerSupport Panel.InfoIcon,
{
	wash-color: #ffffff;
	width: 14px;
	height: 14px;
	margin-left: 4px;
	margin-right: 0px;
}

#CustomGamePenaltyText
{
	font-size: 22px;
	color: white;
	margin-left: 7px;
	text-align: center;
}

#CustomGamePenaltySupport Panel.InfoIcon
{
	wash-color: #ffffff;
	width: 16px;
	height: 16px;
	margin: 6px;
}

Panel.NoDedicatedServerSupportPadding
{
	width: 45px;
}

DOTACustomGamePage.HasDedicatedServerSupport Panel.NoDedicatedServerSupportPadding
{
	width: 0px;
}

#MapSelection
{
    visibility: collapse;
    flow-children: right;
}

#MapSelection:hover #MapLabel
{
	color: white;
}

DOTACustomGamePage.Subscribed.FullyInstalled.NotInLobby.MultipleMaps #MapSelection
{
	visibility: visible;
}

#AlreadyInLobbyLabel
{
	font-size: 22px;
	horizontal-align: center;
	visibility: collapse;
	margin-top: 5px;
	border: 1px solid #55555588;
	padding: 10px;
}

DOTACustomGamePage.Subscribed.FullyInstalled.InLobbyOtherGame #AlreadyInLobbyLabel
{
	visibility: visible;
}

#SubscribeButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ) );
    visibility: visible;
    vertical-align: bottom;
}

#SubscribeButton:hover, #UpdateButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615E ), to( #b7c6c5 ) );
}

DOTACustomGamePage.Subscribed #SubscribeButton
{
	visibility: collapse;
}

#UnsubscribeButton
{
	visibility: collapse;
}

DOTACustomGamePage.Subscribed #UnsubscribeButton
{
	visibility: visible;
}

#UpdateButton
{
    visibility: collapse;
	vertical-align: bottom;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ) );
}

DOTACustomGamePage.Subscribed.NeedsUpdate.NotInLobbyOfThisType.Installed #UpdateButton
{
	visibility: visible;
}


DOTACustomGamePage.EnablePurchase #TicketArea
{
	visibility: visible;
}

DOTACustomGamePage.HasTicket #PremiumButton
{
	visibility: visible;
}

#TicketArea
{
	visibility: collapse;
	width: 130px;
	height: 100%;
	vertical-align: center;
	margin-left: 10px;
}

DOTACustomGamePage.HasTicket #TicketArea
{
	width: 210px;
}

#PurchaseButton
{
	flow-children: right;
	padding-left: 20px;
	margin-top: 13px;
	margin-bottom: 12px;
	height: 100%;
	horizontal-align: center;
	wash-color: none;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1AA1CF ), to( #14729E ) );
	border-top: 1px solid #778494;
	border-left: 1px solid #516477;
}

#PurchaseButton:hover
{
	brightness: 2;
}

#PurchaseButton.ButtonBevel Label.PlusStyle
{
	color: #b3ebff;
	font-size: 28px;
	padding-top: -6px;
	margin-bottom: -3px;
	margin-top: 0px;
}

.AspectRatio16x10 #PurchaseButton.ButtonBevel Label.PlusStyle
{
	padding-top: -5px;
}

.AspectRatio4x3 #PurchaseButton.ButtonBevel Label.PlusStyle
{
	padding-top: -4px;
}



#PurchaseButton Label
{
	font-weight: bold;
	vertical-align: middle;
}

#PurchaseButton .InfoIcon
{
	background-size: 90%;
	margin-bottom:1px;
	wash-color: #0c5791;
	vertical-align: middle;
}

DOTACustomGamePage.HasTicket #PurchaseButton
{
	visibility: collapse;
}


#PremiumButton
{
	flow-children: right;
	padding-left: 20px;
	margin-top: 13px;
	margin-bottom: 12px;
	height: 100%;
	horizontal-align: center;
	wash-color: none;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1AA1CF ), to( #14729E ) );
	border-top: 1px solid #778494;
	border-left: 1px solid #516477;
	saturation: 1;
	box-shadow: fill #397aff77 -2px -2px 8px 4px;
	visibility: collapse;
}


DOTACustomGamePage.HasTicket #PremiumButton
{
	visibility: visible;
}

#PremiumButton .InfoIcon
{
	background-size: 90%;
	margin-bottom:1px;
	wash-color: #0c5791;
	vertical-align: middle;
}

#PremiumButton Label
{
	font-weight: bold;
	color: white;
	vertical-align: middle;
}

#PremiumButton.ButtonBevel:disabled Label.PremiumPlusStyle
{
	color: #b3ebff;
	font-size: 28px;
	padding-top: -6px;
	margin-bottom: -3px;
	margin-top: 0px;
}

.AspectRatio16x10 #PremiumButton.ButtonBevel:disabled Label.PremiumPlusStyle
{
	padding-top: -5px;
}

.AspectRatio4x3 #PremiumButton.ButtonBevel:disabled Label.PremiumPlusStyle
{
	padding-top: -4px;
}

#PremiumButton:hover
{
	//brightness: 2;
}

DOTACustomGamePage.HasTicket #PremiumButton
{
	visibility: visible;
}


Button.TextLink
{
}

Button.TextLink Label
{
    color: #cbcbcb;
    font-size: 16px;
    text-decoration: underline;
    margin-left: 10px;
    vertical-align: bottom;
}

Button.TextLink:hover
{
}

Button.TextLink:hover Label
{
    color: #FFFFFF;
}

Button.TextLink:active
{
}

Button.TextLink:active Label
{
    color: black;
}

.WorkshopArea
{
	flow-children: down;
	vertical-align: bottom;
	//margin-top: 16px;
	width: 100%;
}

.WorkshopDescriptionLabel
{
	font-size: 18px;
	color: #cbcbcb;
	margin-top: 16px;
	margin-bottom: 2px;
}

Button.CustomGameDetailButton
{
	width: 100%;
	height: 36px;
    margin-top: 4px;
    margin-bottom: 4px;
	wash-color: #74EAFE66;
}

Button.CustomGameDetailButton:disabled
{
	wash-color: #000000aa;
}

Button.CustomGameDetailButton:hover:disabled
{
	// maintain standard background and borders
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d45 ), to( #4d5860 ) );
	border-top-color: #555555;
	border-left-color: #494949;
	border-bottom-color: #333333;
	border-right-color: #404040;
}

#CreatePrivateLobbyButton
{
	width: 100%;
	height: 36px;
    margin-top: 4px;
    margin-bottom: 4px;
	box-shadow: fill transparent 0px 0px 0px 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #102149cc ), to( #1e3565cc ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	background-size: 100% 36px;
	border-top: 1px solid #486ca944;
	border-left: 1px solid #486ca944;
	border-right: 1px solid #00000088;
	border-bottom: 1px solid #00000088;
	visibility: collapse;
}

DOTACustomGamePage.Subscribed.FullyInstalled #CreatePrivateLobbyButton
{
	visibility: visible;
}

DOTACustomGamePage.Subscribed.FullyInstalled.InLobby #CreatePrivateLobbyButton
{
	visibility: collapse;
}

#CreatePrivateLobbyButton:hover
{
	box-shadow: fill transparent 0px 0px 0px 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #102149ff ), to( #345288 ) );
}

.IsSteamChina #WorkshopPageButton
{
	visibility: collapse;
}

Button.WorkshopPageButton Label
{
    horizontal-align: center;
    color: white;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-transform: uppercase;
}

Button.WorkshopPageButton:hover
{
    background-color: #333333;
}

Button.WorkshopPageButton:hover Label
{
    color: #FFFFFF;
}

Button.WorkshopPageButton:active
{
    background-color: white;
}

Button.WorkshopPageButton:active Label
{
    color: black;
}

#StarRating
{
	flow-children: right;
    height: 18px;
    vertical-align: center;
    margin-top: 4px;
    margin-bottom: 6px;
}

.RatingBlock #StarRating
{
	margin-left: 8px;
	//wash-color: #9BCAF4;
}

.RatingBlock .Star
{
	margin-top: 2px;
	width: 16px;
	height: 16px;
	wash-color: #3C4E5E;	
}
.RatingBlock .StarLit
{
	wash-color: #A4E84A;	
}



#DownloadBar
{
	width: 100%;
	height: fit-children;
}

.CustomGameSecondaryTabButton
{
    margin: 0px;
    vertical-align: middle;
	wash-color: white;	
	
	transition-property: wash-color;
	transition-duration: 0.6s;
	transition-timing-function: ease-in-out;
}

.CustomGameSecondaryTabButton Label
{
    color: #768e8d;
    vertical-align: middle;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0px;
}

.CustomGameSecondaryTabButton:active
{
		sound: "ui_rollover_micro";
}

.CustomGameSecondaryTabButton:selected Label
{
    text-shadow: 0px 0px 12px #5d7070;
}

.CustomGameSecondaryTabButton .RadioBox
{
    visibility: collapse;
}

.CustomGameSecondaryTabSeparator
{
    color: #768e8d;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
}

#ChangeNotesSpinner
{
	horizontal-align: middle;
	margin-top: 100px;
	visibility: collapse;
}

.ActiveSecondaryTab1.RequestingChangeNotes #ChangeNotesSpinner
{
	visibility: visible;
}

a
{
	color: #cbcbcb;
	text-decoration: underline;
}

a:hover
{
	color: #ffffff;
	text-decoration: underline;
}

#VoteUpButton
{
	flow-children: right;
	margin-left: 8px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 50% 50%;
}

#VoteDownButton
{
	flow-children: right;
	margin-left: 4px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 50% 50%;
}

.VoteIcon
{
	width: 22px;
	height: 22px;
	wash-color: #7595B5;
	margin-top: 2px;
	background-color: #00000066;
	border-radius: 3px;
	padding: 4px;
	
	transition-property: wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.VoteIconFlipped
{
	transform: scaleX(-1) scaleY(-1);
	margin-top: 2px;
	margin-bottom: 0px;
}

#VoteUpButton:hover .VoteIcon
{
	wash-color: #A4E84A;
}

.VotedYes #VoteUpButton .VoteIcon
{
	wash-color: #A4E84A;
}

#VoteDownButton:hover .VoteIcon
{
	wash-color: #cc4422;
}

.VotedNo #VoteDownButton .VoteIcon
{
	wash-color: #cc4422;
}


#VoteDownButton:active .VoteIcon, #VoteUpButton:active .VoteIcon
{
	background-color: #000000ff;
}

#JoinLeaveChat
{
	width: 100%;
	flow-children: none;
}
#JoinChatButton
{
	opacity: 1;

	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#JoinChatButton Label
{
	horizontal-align: left;
}

DOTACustomGamePage.InChat #JoinChatButton
{
	opacity: 0;
}

#LeaveChatButton
{

	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

DOTACustomGamePage.InChat #LeaveChatButton
{
	opacity: 1; 
}

#ChatMemberCount
{
	visibility: collapse;
}

.RecievedChatMemberCount #ChatMemberCount
{
	visibility: visible;
	margin-left: 0px;
}

.VideoPlayArrow
{
	z-index: 2;
	width: 30px;
	height: 30px;
	pre-transform-scale2d: .9;
	
	padding: 12px;
	background-size: 100%;
	background-position: 50% 50%;
	horizontal-align: center;
	vertical-align: center;

	background-image: url("s2r://panorama/images/control_icons/playbutton_nocircle_psd.vtex");

	transition-property: pre-transform-scale2d;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.VideoPlayArrowCircle
{
	z-index: 1;
	width: 50px;
	height: 50px;
	pre-transform-scale2d: 1;

	horizontal-align: center;
	vertical-align: center;
	border: 3px solid white;
	border-radius: 50%;
	padding: 12px;
	background-size: 50%;
	background-color: #000000aa;
	box-shadow: #000000 -1px -1px 2px 2px;

	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;

}

.VideoPlayArrowCirclex:hover
{
	pre-transform-scale2d: .95;
}

.VideoPlayArrowx:hover
{
	pre-transform-scale2d: 1;
}

.VideoPlayArrowCirclex:active
{
	pre-transform-scale2d: .35;
	opacity: 0;
}

.VideoPlayArrowCirclex:active
{
	pre-transform-scale2d: 1.15;
}

#NotUpdatedRecently
{
    visibility: collapse;
    color: #ee5555;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 8px;
    width: 318px;
    text-align: center;
}

.NotUpdatedRecently #NotUpdatedRecently
{
	visibility: visible;
}