@define editColor: #589c5e;
@define editColorHover: #69bb71;
@define editColorActive: #90ff9a;

#DOTAProfilePage
{
	width: 100%;
	height: 100%;
}

DOTAProfilePage.PageVisible
{
	sound: "ui_goto_player_page";
}

.ProfileTopLevel
{
	padding-top: 125px;
	height: 1000px;
	width: 100%;
	horizontal-align: center;
}

#ProfileInteractable
{
	flow-children: down;
	vertical-align: top;
	horizontal-align: center;
	width: 1392px;
	height: 100%;
	//overflow: noclip;
}

DOTAProfilePage #ProfileInteractable
{
	flow-children: right;
}

#ProfileContent
{
	padding-top: 15px;
	horizontal-align: center;

	visibility: collapse;
}

DOTAProfilePage #ProfileContent
{
	//visibility: collapse;
}

#ProfileContentLeft
{
	width: 388px;
	height: 536px;
	horizontal-align: center;
}

#ProfileContentRight
{
	margin-top: 110px;
	height: 733px;
	height: 680px;
	width: 688px;
//	width: 388px;

	visibility: collapse;
}

#ProfileContentRightContents
{
	width: 100%;
	height: 100%;
	background-color: #000000bb;
	margin-bottom: 58px;
}

#ProfileContentRightTabs
{
	//margin-left: 20px;
	margin-bottom: 2px;
}

.ProfileContentRightTabOption
{
	vertical-align: bottom;
}

.ProfileContentRightTabOption .RadioBox
{
	visibility: collapse;
}

.ProfileContentRightTabOption Label
{
	font-size: 17px;
	color: #8e9795;
	text-transform: uppercase;
	margin-left: 0px;
	letter-spacing: 2px;
}


/* Some languages need some extra space for tabs */
.Language_greek .ProfileContentRightTabOption Label,
.Language_turkish .ProfileContentRightTabOption Label
{
	letter-spacing: 0px;
}

.ProfileContentRightTabOption:hover Label
{
	color: white;
}

.ProfileContentRightTabOption:selected Label
{
	color: white;
}

.ProfileContentRightTabOptionSeparator
{
	margin: 0px 10px;
	font-size: 17px;
	color: #8e9795;
	vertical-align: bottom;
}

#SocialFeed
{
	width: 100%;
	height: 100%;
	flow-children: down;
	overflow: squish clip;
}

#UserFeedBox.Expanded #SocialFeed
{
	overflow: squish scroll;
}

#Recent
{
	flow-children: right;
	width: 100%;
}


#RecentGames.TabEnabled
{
	visibility: visible;
}

#AllHeroChallenge
{
	width: 100%;

	//visibility: collapse;

	flow-children: down;

	padding: 18px 0px 0px 8px;
}

#AllHeroChallenge.TabEnabled
{
	visibility: visible;
}

#AllHeroChallenge
{
	opacity: 1.0;

	transition-property: opacity;
	transition-duration: 0.2s;
}

#AllHeroChallenge.Loading
{
	opacity: 0.0;
}

#AHCHeader
{
	width: 100%;
	flow-children: right;
	transition-property: transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
	transform: translateX(-2px);
}

.Expanded #AHCHeader
{
	transform: translateX(0px);
}

#AHCCurrentHero
{
	width: 64px;
	height: 84px;
	background-color: black;
	margin-top: 1px;
	margin-right: 6px;
	border: 1px solid black;

	transition-property: width, height;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.Expanded #AHCCurrentHero
{
	width: 55px;
	height: 68px;
}

#AHCTopStats
{
	width: 390px;
	flow-children: down;
}

#AHCTopStats Label
{
	font-size: 14px;
	margin-top: -2px;
}

#AllHeroChallenge Panel.AHCStat
{
	flow-children: right;
	width: 100%;
}

#AHCTopStats .SubHeader, #AHCTopStats Panel.AHCStat .Left
{
	color: #758498;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#AHCTopStats Panel.AHCStat .Right
{
	color: #a6a8a9;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#AHCTopStats .BigHeroName
{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 1px;
	margin-top: -6px;
	margin-bottom: -4px;
}

Panel.AHCStat Panel.Middle
{
	width: fill-parent-flow( 1.0 );
	height: 1px;
	vertical-align: middle;
	background-color: #353a3e;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 3px;
}

Panel.AHCStat .Right
{
	text-align: right;
}

.ACExpander
{
	height: 8px;
	transition-property: height;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.Expanded .ACExpander
{
	height: 6px;
}

#AHCHeroGrid
{
	margin-top: 0px;
	margin-bottom: 0px;
	height: 274px;
	width: 100%;
	flow-children: down;
	opacity: 0;

	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.AHCStat.ProgressStat
{
	opacity: 1;
	height: 16px;
	transition-property: opacity, height;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.Expanded .AHCStat.ProgressStat
{
	height: 0px;
	opacity: 0;
}

.Expanded #AHCHeroGrid
{
	opacity: 1;
}

#AHCHeroGrid .GridRow
{
	flow-children: right;
	width: 100%;
	height: fit-children;
	margin-top: 2px;
}

#AHCHeroGrid DOTAHeroImage
{
	width: 34px;
	height: 34px;
	border: 1px solid black;
	margin-right: 2px;

	saturation: 0.8;
	brightness: 1.7;
}

#AHCHeroGrid DOTAHeroImage.Completed
{
	saturation: 0.0;
	brightness: 0.2;
}

#AHCHeroGrid DOTAHeroImage.Active
{
	animation-name: ActiveHeroIconPulse;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	z-index: 1;
}

@keyframes 'ActiveHeroIconPulse'
{
	0%
	{
		box-shadow: 0px 0px 10px #33FF88AA;
		saturation: 0.7;
		brightness: 3.5;
		wash-color: #33FFAACC;
	}

	50%
	{
		box-shadow: 0px 0px 17px #33FF88CC;
		saturation: 0.4;
		brightness: 3.8;
		wash-color: #33FFAACC;
	}

	100%
	{
		box-shadow: 0px 0px 10px #33FF88AA;
		saturation: 0.7;
		brightness: 3.5;
		wash-color: #33FFAACC;
	}
}

#AHCHeroGrid .GridRow.ActiveRow
{
	z-index: 1;
}


#AHCHeroGrid .GridRow.ActiveRow DOTAHeroImage
{
	height: 50px;
}

#AHCFooter
{
	flow-children: right;
}

#AHCFooter .SubHeader
{
	color: #8595ab;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.SubHeader.CurrentHero
{
	visibility: collapse;
}

#AHCFooter Label
{
	font-size: 14px;
}

#AHCBottomStats
{
	width: 483px;
	flow-children: down;
}

#AHCBottomStats Panel.AHCStat .Left
{
	color: #575758;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}

#AHCBottomStats Panel.AHCStat .Right
{
	color: #bcbcbc;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}

.AHCBottomBreak
{
	height: 2px;
}

#AHCRewardFiller
{
	height: 1px;
	width: fill-parent-flow( 1.0 );
}

#AHCReward
{
	margin-right: 18px;
	width: 160px;
	height: 153px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.6, #00000000 ), color-stop( 0.925, #33333366 ), to( #33333366 ) );
}

#AHCReward Label
{
	margin-top: -1px;
}

#AHCReward Label.SubHeader
{
	margin-bottom: 3px;
}

#AHCReward Label.Dark
{
	color: #545455;
	letter-spacing: 1px;
}

#AHCRewardTrophy
{
	height: 85px;
	width: 85px;
	margin-top: 0px;
	margin-left: 75px;
	margin-bottom: 4px;
}

#ProInfo
{
	width: 100%;
	visibility: collapse;

	flow-children: down;

	padding: 0px 20px 20px 20px;
}

#ProInfoPendingPanel
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

#ProInfoPendingPanel Label
{
	horizontal-align: center;
	vertical-align: center;

}

.ProInfoPending #ProInfoPendingPanel
{
	visibility: visible;
}

.ProInfoHeader
{
	padding-top: 20px;
	color: #eeeeee;
}

.NotLocalUser RadioButton#ProInfoOption,
.NotLocalUser Label#ProInfoOptionSeparator
{
	visibility: collapse;
}

.ProInfoSub
{
	color: #8e9795;
	font-size: 14px;
	padding-bottom: 4px;
}

#ProInfoResults
{
	width: 100%;
	height: fill-parent-flow( 1.0 );

	margin-top: 20px;
	padding: 20px 20px 20px 20px;

	flow-children: down;

	background-color: #000000;
}

#ProInfoHeader
{
	horizontal-align: center;
	text-align: center;
	color: #aaa;
}


#ProInfoPreview
{
	margin-top: 10px;
	margin-bottom: 10px;

	horizontal-align: center;
	text-align: center;
	color: #ffffff;

	font-size: 24px;
	min-height: 20px;
}

#ProInfoSubmitPendingLabel,
#ProInfoSubmitSuccessLabel,
#ProInfoSubmitFailureLabel
{
	min-height: 24px;
	height: 24px;

	horizontal-align: center;
	text-align: center;

	visibility: collapse;
}

.ProInfoSubmitPending #ProInfoSubmitPendingLabel,
.ProInfoSubmitSuccess #ProInfoSubmitSuccessLabel,
.ProInfoSubmitFailure #ProInfoSubmitFailureLabel
{
	visibility: visible;
}

.ProInfoSubmitPending #ProInfoSubmit,
.ProInfoSubmitSuccess #ProInfoSubmit,
.ProInfoSubmitFailure #ProInfoSubmit,
.ProInfoSubmitSuccess #ProInfoSubmitPendingLabel,
.ProInfoSubmitFailure #ProInfoSubmitPendingLabel,
.ProInfoSubmitPending #ProInfoSubmitSuccessLabel,
.ProInfoSubmitFailure #ProInfoSubmitSuccessLabel,
.ProInfoSubmitPending #ProInfoSubmitFailureLabel,
.ProInfoSubmitSuccess #ProInfoSubmitFailureLabel
{
	visibility: collapse;
}

#ProInfoResults .ButtonBevel
{
	min-height: 24px;
	height: 24px;

	horizontal-align: center;
}

#ProInfoResults .ButtonBevel Label
{
	font-size: 14px;
	margin-top: 0px;
}

TextEntry.SmallerEntry
{
	height: 30px;
	width: 320px;

	font-size: 16px;
}

DropDown.SmallerDropdown
{
	height: 30px;
	background-size: 24px 24px;
}

DropDown.SmallerDropdown Label
{
	font-size: 16px;
	margin-top: 0px;
}


#Background
{
	margin-top: 0px;
	width: 100%;
	height: 100%;
	//background-color: #0C000044;
}

#HeroImage
{
	horizontal-align: right;
	margin-top: 200px;

}

Label
{
	color: white;
	font-size: 16px;
}

#Header
{
	margin-top: 54px;
	width: 1392px;
	horizontal-align: center;
	background-color: #000000f4;
	padding: 8px;
	height: 81px;
}

DOTAProfilePage.EditMode #ProfileCardStats .Stat #StatValue
{
	font-size: 14px;
}

DOTAProfilePage.EditMode #ProfileCardStats .Stat #StatTitle
{
	font-size: 14px;
}

DOTAProfilePage #ProfileCardStats .Stat #StatTitle
{
	text-overflow: shrink;
	margin-right: 0px;
	horizontal-align: center;
	width: fit-children;
	color: #999;
	margin-top: 0px;
	text-align: left;
	font-size: 14px;
}

DOTAProfilePage #ProfileCardStats #Stat1.Stat #StatValue,
DOTAProfilePage #ProfileCardStats #Stat1.Stat #StatTitle
{
	width: fit-children;
}

DOTAProfilePage #ProfileCardStats .Stat #StatValue
{
	text-overflow: shrink;
	width: fit-children;
	horizontal-align: center;
	font-size: 20px;
	text-align: left;
	color: #eee;
}

DOTAProfilePage #ProfileCardStats .Stat
{
	flow-children: down;
	vertical-align: middle;
}

#ProfileContainer #AvatarImage
{
	height: 100%;
	width: height-percentage( 100% );

	transition-property: border;
	transition-duration: .2s;
	transition-timing-function:  ease-in-out;
}


DOTAProfilePage #ProfileContainer #AvatarImage
{
	border: 2px solid #aaa4;
	border-radius: 12px;
}

.ViewingPlusSubscriber DOTAProfilePage #ProfileContainer #AvatarImage
{
	border: 3px solid #a6834e;
	border-radius: 12px;
	box-shadow: 0px 0px 40px #a6834e88;
}

.EditMode #ProfileContainer #AvatarImage
{
	border: 2px solid editColor;
}

.EditMode #ProfileContainer #AvatarImage:hover
{
	border: 2px solid editColorHover;
}

.EditMode #ProfileContainer #AvatarImage:active
{
	border: 2px solid editColorActive;
}

#PersonaContainer
{
	flow-children: down;
	margin-top: 10px;
	margin-left: 24px;
	height: 128px;
}

#ProfileName
{
	width: fit-children;
	margin-left: 9px;
	margin-top: 1px;
	vertical-align: middle;
	white-space: nowrap;

}

#ProfileName Label
{
	max-width: 450px;
	font-size: 36px;
	font-weight: normal;
	white-space: nowrap;
}

DOTAProfilePage #ProfileName Label
{
	max-width: 800px;
	font-size: 46px;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: shrink;
	max-height: 64px;
	text-shadow: 2px 2px 2 #000000;
}

.EditMode #ProfileName
{
	visibility: collapse;
}

#EditProfileName
{
	visibility: collapse;
}

.EditMode #EditProfileName
{
	visibility: visible;
	margin-bottom: 18px;
	margin-left: 10px;
	font-size: 29px;
	height: 46px;
	width: 450px;
	border: 1px solid #589c5e;
}

#ProfileNickname
{
	width: fit-children;
	margin-left: 10px;
	margin-bottom: 12px;
	vertical-align: bottom;
}

#ProfileNickname Label
{
	font-size: 20px;
	white-space: nowrap;
	text-shadow: 1px 1px 2 #000000;
}

#ProfileNickname Label .PersonaName
{
	color: #ccc;
	text-shadow: 1px 1px 2 #000000;
}

.StatusLine
{
	box-shadow: fill #000c -2px -7px 10px 10px;
}

.StatusLine #UserRichPresence
{
	margin-top: 2px;
}

#UserRichPresence.ProfileUserRichPresence Label
{
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 16px;
	brightness: 2;
	text-shadow: 1px 1px 2 #000000;
}

.EditMode #UserRichPresence.ProfileUserRichPresence
{
	visibility: visible;
}

.HeaderNameContainer
{
	horizontal-align: left;
	width: 698px;
}

DOTAProfilePage .HeaderNameContainer
{
	margin-top: 60px;
	horizontal-align: center;
	margin-right: 190px;

	width: 1200px;
	height: 146px;
}

#ProfileCardStats
{
	flow-children: right;
	width: 202px;
	height: 54px;
	vertical-align: bottom;
	horizontal-align: right;
}

#ProfileCardStats .StatDropdown
{
	border: 1px solid editColor;
	height: fit-children;
	vertical-align: middle;
	background-size: 22px 22px;
	background-position: right 15px;
}

#ProfileCardStats .StatDropdown:hover
{
	background-color: #222222;
}

#ProfileCardStats .StatDropdown:hover .Stat
{
	background-color: none;
}

#ProfileCardStats #PickNone
{
	height: fit-children;
	background-color: none;
}

#ProfileCardStats #PickNone Label
{
	text-align: left;
	color: #666666;
	font-size: 16px;
	margin-top: 5px;
	margin-left: 0px;
}

#ProfileCardStats #PickNone:hover
{
	background-color: none;
}

/* Ugly hack, but make this more specific so it overrides the default profile card dropdown height */
.StatDropdownMenu.DropDownMenuVisible
{
	width: 205px;
}

.ProfileHeaderFiller
{
	height: 2px;
	width: fill-parent-flow( 1.0 );
}

#ProfileEditPanel
{

	visibility: collapse;
	horizontal-align: center;
}

.LocalUser #ProfileEditPanel
{
	visibility: visible;
}

#ProfileActions
{
	width: 200px;
	horizontal-align: center;
	margin-top: 190px;
}

#ProfileConfirmEditButton,
#ProfileEditButton
{
	height: 54px;
	min-width: 200px;

	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: center;

	border-top: 2px solid #3b404777;
	border-right: 2px solid #00000088;
	border-left: 2px solid #4c434677;
	border-bottom: 2px solid #00000088;
	box-shadow: fill #00000055 -2px -2px 4px 6px;
	padding-top: 2px;
	padding-left: 16px;
	padding-right: 16px;
	border: 1px solid #0005;
	background-color: #000a;

	transition-property: background-color, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.1s;
	transition-timing-function: linear;

	margin-right: 16px;
}

#ProfileEditButton:enabled:hover
{
	border: 1px solid #bcd6;
	background-color: #000d;
	wash-color: white;
}

#ProfileEditButton:active
{
	border: 1px solid #fff;
	background-color: #000d;
	wash-color: white;
}


#ProfileConfirmEditButton Label,
#ProfileEditButton Label
{
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	padding-left: 8px;
}

#ProfileConfirmEditButton Label
{
	margin-left: 18px;
}

.ProfileEditButtonTitleContainer
{
	padding-top: 2px;
	horizontal-align: center;
	vertical-align: middle;
}

#ProfileEditButton Label
{
	margin-left: 24px;
	text-align: right;
}

.EditMode #ProfileEditButton
{
	visibility: collapse;
}

#EditButtonContainer {
	width: 18px;
	height: 18px;
	horizontal-align: left;
	wash-color: #0f0;
}

.EditButton {
	background-size: 100%;
}

#ProfileConfirmEditButton
{
	border-color: editColorActive;
	background-color: #589c5e33;
	visibility: collapse;
}

#ProfileConfirmEditButton:hover
{
	brightness: 1.5;
}

#ProfileConfirmEditButton:active
{
	brightness: 2.0;
}

#ProfileConfirmEditButton .ConfirmCheckIcon
{
	wash-color: #0f0;
	width: 18px;
	height: 18px;
	horizontal-align: left;

	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}


.EditMode #ProfileConfirmEditButton
{
	visibility: visible;
}

Button.SimpleIconButton
{
	flow-children: right;
	transition-duration: 0.1s;
	transition-property: wash-color;
	height: 28px;
	width: 28px;
	wash-color: #888888ff;
	margin-right: 8px;
}

Button.SimpleIconButton:hover
{
	wash-color: #ffffffff;
}

Button.SimpleIconButtonPending
{
	flow-children: right;
	transition-duration: 0.1s;
	transition-property: wash-color;
	height: 28px;
	width: 28px;
	wash-color: #eeee82ff;
	margin-right: 8px;
}

Button.SimpleIconButtonPending:hover {
	wash-color: #ffffffff;
}

Button.SimpleIconButton Label
{
	height: 100%;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
}

Button.SimpleIconButton Image
{
	height: 100%;
	width: height-percentage( 100% );
}

Button.SimpleIconButtonSteam
{
	flow-children: right;
	transition-duration: 0.1s;
	transition-property: wash-color;
	height: 20px;
	margin-right: 4px;
	visibility: visible;
	margin-left: -1px;
	tooltip-position: left;
}

Button.SimpleIconButtonSteam:hover
{
	wash-color: #ffffff;
	color: #ffffff;
}
Button.SimpleIconButtonSteam Image
{
	width: 20px;
}
#ViewSteamProfile
{
	horizontal-align: left;
	wash-color: #aaa;
}

#SteamLogo
{
	box-shadow: fill #000 -1px -1px 2px 2px;
	border-radius: 50%;
	margin-top: 1px;
	margin-bottom: -1px;
}

#ViewSteamProfile:hover {
	wash-color: #ffffff;
	color: #ffffff;
}

#ActionInviteToParty
{
	height: 24px;
	width: 24px;
	margin-right: 8px;
	margin-top: 4px;

	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 60% 60%;
	transform: rotateZ( 0deg);

	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
	wash-color: #ABEAA8;
	border-radius: 3px;

	transition-property: background-color, wash-color, transform, opacity-mask, opacity, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#ActionInviteToParty:hover
{
	wash-color: #ffffff;
}

.PartnerPerfectWorld #ViewSteamProfile
{
	opacity: 0;
	visibility: collapse;
}

#SteamFriends
{
	flow-children: right;

}

#SteamFriends Label
{
	text-shadow: 1px 1px 2 #000000;
}

#FriendsIDLabel
{
	font-size: 16px;
	horizontal-align: left;
	margin: 2px 0px 0px 4px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#FriendsID
{
	font-size: 16px;
	horizontal-align: left;
	margin: 2px 0px 0px 0px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #cccccc;
}

#RichPresence
{
	font-size: 16px;
	color: white;

}

#ProfileCardSlots
{
	flow-children: right;
	height: 54px;
	width: 150px;
	vertical-align: bottom;
	horizontal-align: right;
}

#ProfileCardSlots DOTAEconItem
{
	transition-duration: 0.0s;
}

#ProfileCardSlots Panel.ShowcaseItem
{
	height: 48px;
	margin: 0px;
	box-shadow: none;
	border: 1px solid #0008;
	margin-right: 2px;
	margin-top: 2px;
}

.EditMode #ProfileCardSlots Panel.ShowcaseItem
{
	border: 1px solid editColor;
}

.EditMode #ProfileCardSlots Panel.ShowcaseItem:hover
{
	border: 1px solid editColorHover;
}

.EditMode #ProfileCardSlots Panel.ShowcaseItem:active
{
	border: 1px solid editColorActive;
}

#ProfileRightBoxes
{
	width: fit-children;
	horizontal-align: right;
	flow-children: right;
}

.PreviousBattlePass
{
	width: 65px;
	height: 72px;
	horizontal-align: center;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	tooltip-position: bottom;

	transition-property: pre-transform-scale2d, brightness;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;

	pre-transform-scale2d: .85;
}

.PreviousBattlePass:hover
{
	brightness: 1.4;
	pre-transform-scale2d: 1;
}

.HasRollupTI6 #TI2016,
.HasRollupTI7 #TI2017,
.HasRollupTI8 #TI2018,
.HasRollupTI9 #TI2019
{
	visibility: visible;
}

#TI2016,
#TI2017,
#TI2018,
#TI2019
{
	visibility: collapse;
}

#TI2016 .PreviousBattlePass { background-image: url("s2r://panorama/images/compendium/spring2016/profile_previous_psd.vtex"); }
#TI2017 .PreviousBattlePass { background-image: url("s2r://panorama/images/compendium/international2017/profile_previous_psd.vtex"); }
#TI2018 .PreviousBattlePass { background-image: url("s2r://panorama/images/compendium/international2018/profile_previous_psd.vtex"); }
#TI2019 .PreviousBattlePass { background-image: url("s2r://panorama/images/compendium/international2019/profile_previous_psd.vtex"); }

#ProfileActionButtons
{
	flow-children: right;
	margin-top: -6px;
	margin-left: 16px;
	width: fit-children;
}

#ProfileActionButtons Button
{
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	visibility: collapse;
}

#ProfileActionButtons Button.Visible
{
	visibility: visible;
}

#ProfileActionButtons Button:hover
{
	wash-color: #ffffffff;
}

.HorizontalLine
{
	height: 1px;
	width: 100%;
	margin: 0px;
	background-color: #000000ff;
	margin-top: 4px;
	margin-bottom: 12px;
}

#PlayerCardBox
{
	background-color: gradient( linear, 0% 0%, 0% 5%, from( #232326 ), to( #111111 ) );
	background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 256px;
	border-top: 2px solid #3b404777;
	border-right: 2px solid #00000088;
	border-left: 2px solid #4c434677;
	border-bottom: 2px solid #00000088;
	box-shadow: fill #00000055 -2px -2px 4px 6px;
	height: 116px;
	width: 100%;
	padding: 0px;
}

#FeaturedHeroesControl
{
	width: 700px;
	margin-left: 1170px;
	margin-top: 662px;
	vertical-align: middle;
	horizontal-align: center;
	flow-children: down;
	z-index: 5;
}

.AspectRatio4x3 #FeaturedHeroesControl
{
	margin-left: 880px;
	ui-scale: 80%;
}

.AspectRatio16x10 #FeaturedHeroesControl
{
	margin-left: 1040px;
}



#FeaturedHeroTitle, #EditFeaturedHeroLabel
{
	horizontal-align: center;
	text-align: center;

	color: #ccc;
	font-size: 22px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: -4px;
	text-shadow: 1px 1px 2 #000000;
}

.EditMode #FeaturedHeroTitle
{
	visibility: collapse;
}

#EditFeaturedHeroLabel
{
	color: #89dB91;
	visibility: collapse;
}
.EditMode #EditFeaturedHeroLabel
{
	visibility: visible;
}

#FeaturedHeroesContainer
{
	margin-left: 16px;
	margin-top: 12px;
	flow-children: right;
	horizontal-align: center;
}

.FeaturedHeroDetails
{
	margin-right: 8px;

	transition-property: position;
	transition-duration: 0.2s;
}

.FeaturedHeroDetails:hover
{
	brightness: 2.0;
}

.FeaturedHeroDetails:active
{
	brightness: 1.5;
}

.FeaturedHeroDetails.FeaturedHeroSelected
{
	z-index: 1;
}

.FeaturedHeroDetails .FeaturedHeroMain
{
	margin-left: 12px;
	margin-bottom: 12px;
	background-color: #1b252b;
	flow-children: right;
	border: 1px solid transparent;
}

.EditMode .FeaturedHeroDetails .FeaturedHeroMain
{
	border: 1px solid editColor;
}


.FeaturedHeroDetails .FeaturedHeroInfo
{
	flow-children: down;
	overflow: clip squish;

	width: 0px;

	transition-property: width;
	transition-duration: 0.2s;
}

.FeaturedHeroDetails.FeaturedHeroSelected .FeaturedHeroInfo
{
	width: 238px;
}

.FeaturedHeroDetails .FeaturedHeroName
{
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	margin-top: 8px;
	margin-left: 12px;
	width: 210px;
	height: 28px;
	text-overflow: shrink;
	text-transform: uppercase;
}

.FeaturedHeroDetails #FeaturedHeroImage
{
	width: 96px;
	height: 54px;
	margin: 12px;
}

.FeaturedHeroDetails.FeaturedHeroSelected #FeaturedHeroImage
{
	margin-right: 0px;
}

.FeaturedHeroDetails #FeaturedHeroRelics
{
	flow-children: right;
	margin-top: -6px;
	margin-bottom: 8px;
	margin-right: 12px;
	margin-left: 7px;
}

.FeaturedHeroDetails #FeaturedHeroRelics DOTAHeroRelicImage.RareRelic
{
	ui-scale: 25%;
	margin-left: -8px;
	transform: none;
}

.FeaturedHeroDetails #FeaturedHeroRelics DOTAHeroRelicImage
{
	ui-scale: 16%;
	transform: translateY( 6px );

	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

.FeaturedHeroDetails #FeaturedHeroRelics DOTAHeroRelicImage#Normal0,
.FeaturedHeroDetails #FeaturedHeroRelics DOTAHeroRelicImage#Rare0
{
	margin-left: 0px;
}


.FeaturedHeroDetails #FeaturedHeroRelics DOTAHeroRelicImage
{
	margin-left: -11px;
}
.FeaturedHeroDetails #FeaturedHeroRelics DOTAHeroRelicImage#Normal1,
.FeaturedHeroDetails #FeaturedHeroRelics DOTAHeroRelicImage#Normal3,
.FeaturedHeroDetails #FeaturedHeroRelics DOTAHeroRelicImage#Normal5,
.FeaturedHeroDetails #FeaturedHeroRelics DOTAHeroRelicImage#Normal7,
.FeaturedHeroDetails #FeaturedHeroRelics DOTAHeroRelicImage#Normal9
{
	margin-top: 11px;
}

.FeaturedHeroDetails #FeaturedHeroBadge
{
	vertical-align: bottom;
	ui-scale: 60%;
}

.FeaturedHeroDetails #FeaturedHeroBadge.NoTier
{
	visibility: collapse;
}


#ProfileMainFooter
{
	width: 940px;
	margin-right: 450px;
	margin-bottom: 212px;
	vertical-align: bottom;
	horizontal-align: center;
}

#ConductBox
{
	height: 54px;
	border-top: 2px solid #3b404777;
	border-right: 2px solid #00000088;
	border-left: 2px solid #4c434677;
	border-bottom: 2px solid #00000088;
	box-shadow: fill #00000055 -2px -2px 4px 6px;
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #0005;
	background-color: #000a;
	visibility: collapse;

	transition-property: border, background-color;
	transition-duration: .16s;
	transition-timing-function: ease-in-out;
}

#ConductBox:hover
{
	border: 1px solid #bcd6;
	background-color: #000d;
}

#ConductBox:active
{
	border: 1px solid #fff;
	background-color: #000d;
}


.ConductSummaryAvailable #ConductBox
{
	visibility: visible;
}

#ConductSummaryDate
{
	color: #ccc;
	opacity: .8;
	font-size: 14px;	
	padding-right: 4px;
	vertical-align: bottom;
	horizontal-align: right;
	text-shadow: 1px 1px 2 #000;
	margin-bottom: 2px;
}

#ConductSummaryLabel
{
	margin-top: 6px;
	color: #ddd;
	font-size: 16px;
	margin-left: 12px;
	padding-right: 4px;
	text-transform: uppercase;
	vertical-align: top;
	horizontal-align: right;
	text-shadow: 1px 1px 2 #000;
}

#BehaviorScoreLabel
{
	margin-top: 4px;
	font-size: 20px;
	font-weight: bold;
	color: #83eb4a;
}

.MissingRawBehaviorScore #BehaviorScoreLabel
{
	visibility: collapse;
}

.GradeLevel4 #BehaviorScoreLabel,
.GradeLevel5 #BehaviorScoreLabel,
.GradeLevel6 #BehaviorScoreLabel
{
    color: #ff4e16;
}

#ConductSummaryShowLatestButton
{
	width: 180px;
	height: 28px;
	wash-color: #beb7b4;
	background-repeat: no-repeat;
	vertical-align: middle;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a6c75 ), to( #3d4a50 ) );
	border: 1px solid black;

	padding: 2px 10px 2px 10px;
	border-top: 1px solid #ffffff22;
	border-right: 1px solid #4e5b60;
	border-left: 1px solid #4e5b60;
	border-bottom: 1px solid #00000088;

	transition-property: background-color, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

#ConductSummaryShowLatestButton:enabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a9c8da ), to( #596b75 ) );
}

#ConductSummaryShowLatestButton Label {
	horizontal-align: center;
}

#InternalPlayerCardBox
{
	height: fit-children;
	horizontal-align: right;
}

#PlayStyleBox
{
	width: 100%;
	height: 368px;

}

.ConductSummaryAvailable #PlayStyleBox
{
	margin-bottom: 58px;
}

.ProfileBoxHeader
{
	color: #8F93A1;
	font-size: 14px;
	font-weight: thin;
	text-transform: uppercase;
	z-index: 2;
	background-color: #00000088;
	padding-left: 8px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}


#AllRecentGamesHeader,
#LifetimeStatsHeader,
.Expanded #RecentGamesHeader,
.Expanded #MostSuccessfulHeader
{
	opacity: 0;
}

.Expanded #Last20Header,
.Expanded #AllRecentGamesHeader,
.Expanded #LifetimeStatsHeader
{
	opacity: 1;
}

#StatsBox
{
	flow-children: right;
	width: 100%;
	//margin-top: 50px;
}

#StatsListing,
#Top20StatsListing
{
	//background-color: #00000044;
	width: 220px;
	margin-left: 16px;
	margin-top: 32px;
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	opacity: 0;
}

.Expanded #StatsListing,
.Expanded #Top20StatsListing
{
	opacity: 1;
}

#StatsGraph
{
	//flow-children: down;
	width: 100%;
	height: 100%;
	padding-bottom: 8px;

	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.Expanded #StatsGraph
{
	opacity: 0;
}




DOTASpiderGraph
{
	width: 320px;
	height: 216px;
	padding-left: 8px;
	padding-right: 8px;
	vertical-align: bottom;
	horizontal-align: center;
}

#MostRecentGames
{
	color: #ccc;
	width: 320px;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 4px;

}

#LifetimeStats
{
	width: fill-parent-flow(1);
	text-align: center;
	border-bottom: 1px solid #777;
	margin-left: 16px;
	margin-right: 16px;
	color: #ccc;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 4px;
	horizontal-align: right;
}


#CompareStyleBox
{
	width: 100%;
	opacity: 1.0;
	vertical-align: bottom;
	margin-right: 6px;
	margin-bottom: 2px;
}

#CompareStyleButton
{
	padding: 0px;
	padding-left: 4px;
	padding-bottom: 4px;
	margin-top: 2px;

	vertical-align: bottom;
}

#CompareStyleButton Label
{
	color: #53545D;
	margin-top: 2px;
	font-size: 14px;
	text-transform: uppercase;
}

#CompareStyleBox Panel
{
	padding-left: 10px;
}

#CompareStyleBox Panel Label
{
	margin-top: 2px;
}

#Legends
{

	horizontal-align: right;
	flow-children: right;
}

#PlayerLegend, #SelfLegend
{
	horizontal-align: right;
	flow-children: right;
}

#SelfLegend
{
	opacity: 0.0;
}

#SelfLegend.Visible
{
	opacity: 1.0;
}

#SelfLegend Label
{
	width: 25px;
}

#PlayerLegend Label
{
	max-width: 90px;
	height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ColorBox
{
	margin-left: 5px;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	vertical-align: center;
	border-radius: 50%;
}

#PlayerColorBox
{
	background-color: #FF943F;
}

#SelfColorBox
{
	background-color: #8696F5;
}

#TrophyPreview
{
	width: 55%;
	height: 135px;
	horizontal-align: right;
}

#TrophyListing
{
	height: 100%;
	width: 100%;
	margin-left: 84px;
}

#TrophyListing DOTATrophyImage
{
	height: 100%;
	width: 60px;

}

#TrophyListing Button
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 100%;
	background-color: #111111;
	horizontal-align: right;
	font-size: 6px;
}

#TrophyCountLabel
{

}

#TrophyListing Button Label
{
	color: #BBBBBB;
	horizontal-align: center;
	vertical-align: center;
}

.WaitingOnStats
{
	opacity: 0.0;
}

#RecentGames
{
	width: 100%;
	flow-children: down;
	opacity: 0;

	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;

	margin-top: 22px;
}

.Expanded #RecentGames
{

	opacity: 1;
}


#RecentGamesTable
{
	flow-children: down;
	overflow: clip scroll;
	width: 100%;
}

#RecentGamesTable VerticalScrollBar
{
	background-color: none;
}

#RecentGamesTable VerticalScrollBar .ScrollThumb
{
	background-color: #566767;
	border-top: 1px solid #aaaaaa22;
	border-right: 1px solid #000000aa;
}

#LoadMore
{
	margin: 10px 10px 10px 10px;
	width: 100%;
	visibility: visible;
}

#LoadMore Label
{
	horizontal-align: center;
	color: #7894a7;
}

#LoadMore:hover Label
{
	color: #ffffff;
}

#LoadingMore
{
	margin: 10px 10px 10px 10px;
	horizontal-align: center;
	visibility: collapse;
	color: #777777;
}

#RecentGames.LoadingMore #LoadMore
{
	visibility: collapse;
}

#RecentGames.LoadingMore #LoadingMore
{
	visibility: visible;
}

.RecentGameWeekendTourneyHeader
{
	background-color: #5e3106;
	border-top: 2px solid #a4751009;
	border-left: 2px solid #a4751022;
	border-bottom: 2px solid #a4751003;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #d6a03133 ), color-stop( 0.1, #9a520c33 ), to( #000000 ) );
	transition-property: background-color;
	transition-duration: .1s;
}

.RecentGame.Odd.WeekendTourney
{
	background-color: black;
	transition-property: background-color;
	transition-duration: .1s;
}

.RecentGame.Even.WeekendTourney
{
	background-color: #000000bb;
	transition-property: background-color;
	transition-duration: .1s;
}

.RecentGame.Odd.WeekendTourney:hover
{
	background-color: #222;
}

.RecentGame.Even.WeekendTourney:hover
{
	background-color: #222;
}

.RecentGameWeekendTourneyHeader .TourneyTitle
{
	color: white;
	font-weight: bold;
	margin-right: 5px;
	margin-left: -2px;
}

.RecentGameWeekendTourneyHeader .TourneyDivision
{
	color: #ffffff33;
	margin-right: 5px;
	font-weight: bold;

}

.RecentGameWeekendTourneyHeader .TourneyTier
{
	color: white;
	margin-right: 5px;
	font-weight: bold;
}

.RecentGameWeekendTourneyHeader #TourneyShowBracketButton
{
	color: red;
	margin-right: 15px;
	horizontal-align: right;
	transition-property: brightness;
	transition-duration: .2s;
}

.RecentGameWeekendTourneyHeader #TourneyShowBracketButton:hover
{
	brightness: 2;
}

Panel.RecentGamesHeader,
Panel.RecentGameWeekendTourneyHeader,
Panel.RecentGame
{
	width: 100%;
	flow-children: right;
	padding-left: 20px;
}

Panel.RecentGame
{
	padding-right: 20px;
}

Panel.RecentGamesHeader
{
	background-color: #48575e10;
}

Panel.RecentGame:hover
{
	background-color: #768E8D11;
}

Panel.RecentGame.Odd
{
	background-color: #48575e07;
}

Panel.RecentGame.Odd:hover
{
	background-color: #667E7D11;
}

/*
Panel.RecentGame.Source1
{
	wash-color: #000000AF;
}

Panel.RecentGame.Source1:hover
{
	background-color: #36383d9f;
}

Panel.RecentGame.Odd.Source1:hover
{
	background-color: #36383daf;
}
*/

Panel.RecentGame:hover #HeroIcon
{
	// TODO: Something to make it look hovered?
}

Panel.RecentGamesHeader Label,
Panel.RecentGameWeekendTourneyHeader Label,
Panel.RecentGame Label
{
	font-size: 16px;
	vertical-align: middle;
}

Panel.RecentGamesHeader Label
{
	margin-top: 13px;
	margin-bottom: 6px;
	color: #768e8d;
	text-transform: uppercase;
	letter-spacing: 1px;
}

Panel.RecentGameWeekendTourneyHeader Label
{
	margin-top: 13px;
	margin-bottom: 6px;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 1px;
}

Panel.RecentGameWeekendTourneyHeader Label
{
	margin-top: 6px;
	margin-bottom: 3px;
}

Panel.RecentGameWeekendTourneyHeader
{
	margin-top: 20px;
}
Panel.BottomMatchInTourney
{
	margin-bottom: 20px;
}

#RecentGamesOptionsButton
{
	margin-top: 11px;
	margin-bottom: 8px;
	width: 20px;
	height: 20px;
	background-size: 20px;

	wash-color: #768e8d;
	transition-property: wash-color;
	transition-duration: 0.3s;
}

.SelfOnly
{
	visibility: collapse;
}

DOTAProfilePage.LocalUser .SelfOnly
{
	visibility: visible;
}

.SelfOrFriend
{
	visibility: collapse;
}

DOTAProfilePage.Friend .SelfOrFriend,
DOTAProfilePage.LocalUser .SelfOrFriend
{
	visibility: visible;
}

#RecentGamesOptionsButton.Active
{
	wash-color: #ffffff;
	animation-direction: reverse;
}

#RecentGamesOptionsButton:hover
{
	brightness: 2;
}

#RecentGamesOptionsContainer
{
	z-index: 1;
	horizontal-align: center;
	margin-left: 400px;
	margin-top: 332px;

	background-color: gradient( linear, 0% 0%, 0% 5%, from( #232326 ), to( #1c1d20 ) );
	border: 2px solid #32383677;
	box-shadow: fill #00000099 -4px 0px 8px 4px;

	padding: 7px 9px 7px 9px;

	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.3s;

	flow-children: down;
	z-index: 5;
}

#RecentGamesOptionsContainer.Active
{
	opacity: 1.0;
}

Panel.RecentGame Label
{
	color: #BBBBBB;
}

#RecentGames Label.Timestamp
{
	width: 155px;
}

#RecentGames Label.TimestampDate
{
	padding-right: 5px;
	width: 80px;
}

#RecentGames Label.TimestampTime
{
	width: 75px;
}

#HeroIcon
{
	margin-top: 7px;
	margin-bottom: 7px;
	width: 50px;
	height: 29px;
}

#RecentGames Label.HeroName
{
	padding-left: 8px;
	width: 135px;
	white-space: nowrap;
}

#RecentGames Panel.RecentGamesHeader Label.HeroName
{
	padding-left: 0px;
	width: 185px;
}

#RecentGames Label.Result
{
	width: 110px;
	padding-left: 10px;
	text-align: left;
}

#RecentGames .RecentGame.Won Label.Result
{
	color: #74b14aff;
}

#RecentGames .RecentGame.Lost Label.Result
{
	color: #d84535ff;
}

#RecentGames .RecentGame.Abandoned Label.Result
{
	color: #f56200ff;
}

#RecentGames .RecentGame.Practice Label.Result
{
	opacity: 0.0;
}

#RecentGames Label.Duration
{
	width: 80px;
	text-align: left;
}

#RecentGames .RecentGamesHeader Label.GameType
{
	width: 105px;
	padding-left: 10px;
}

#RecentGames Label.GameType
{
	width: 100px;
	padding-left: 10px;
}

.LoadingSpinnerPanel .Spinner
{
	horizontal-align: center;
	margin-top: 15px;
}

.LoadingSpinnerPanel
{
	visibility: collapse;
	width: 100%;
	height: 100%;
}

#RecentGames.Loading .LoadingSpinnerPanel
{
	visibility: visible;
}

#PreviousBattlePasses
{
	margin-left: 16px;
	width: 286px;
	height: 100%;
	flow-children: right;
	overflow: scroll squish;
}

#PreviousBattlePasses HorizontalScrollBar
{
	height: 6px;
}

.TIRollupContainer
{
	vertical-align: middle;
	margin-right: 16px;
	margin-top: 16px;
	padding-bottom: 8px;
	height: 100%;
}

.TILevel
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;

	border-radius: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 1px;
}

#TI2016 .TILevel { background-color: #72161277; }
#TI2017 .TILevel { background-color: #244F6D77; }
#TI2018 .TILevel { background-color: #25493077; }
#TI2019 .TILevel { background-color: #34156B77; }

.LevelLabel
{
	margin-right: 2px;
}

#TI2016 .LevelLabel { color: #A9372E; }
#TI2017 .LevelLabel { color: #61CFDB; }
#TI2018 .LevelLabel { color: #4dcf77; }
#TI2019 .LevelLabel { color: #B685F7; }

.BattleLevelLabel
{
	text-align: center;
	horizontal-align: center;
}

#ProfileRankTierContainer
{
	height: 72px;
	width: height-percentage( 100% );

	horizontal-align: center;

	background-size: 100%;
	z-index: 2;
	margin-top: 195px;
	margin-right: 1325px;
}

#PreviousProfileRankTierContainer
{
	height: 48px;
	width: height-percentage( 100% );

	horizontal-align: center;

	background-size: 100%;
	z-index: -1;
	margin-top: 205px;
	margin-right: 1220px;
	opacity: 0.75;
}

#PreviousProfileRankTierContainer.RankTier0
{
	visibility: collapse;
}


DOTAProfileHeroStatsPage #ProfileRankTierContainer,
DOTAProfileLeaguePassesPage #ProfileRankTierContainer,
DOTAProfileTeammateStatsPage #ProfileRankTierContainer
{
	margin: 0px;
	margin-right: 8px;
}

DOTAProfileHeroStatsPage #PreviousProfileRankTierContainer,
DOTAProfileLeaguePassesPage #PreviousProfileRankTierContainer,
DOTAProfileTeammateStatsPage #PreviousProfileRankTierContainer,
{
	visibility: collapse;
}

.AspectRatio4x3 #ProfileRankTierContainer, .AspectRatio4x3 #PreviousProfileRankTierContainer
{
	margin-left: -34px;
}


.HideRankTier #ProfileRankTierContainer, .HideRankTier #PreviousProfileRankTierContainer
{
	visibility: collapse;
}

/*
.AspectRatio16x10 #ProfileRankTierContainer
{
	margin-left: 176px;
}

.AspectRatio4x3 #ProfileRankTierContainer
{
	margin-left: 34px;
}

.AspectRatio21x9 #ProfileRankTierContainer
{
	margin-left: 600px;
}*/

.RankTierBadge #BackgroundFX, .RankTierBadge #EliteFX
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}

#ProfileRankTierContainer #RankLeaderboard
{
	color: #F7E5c3;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
	text-shadow: 2px 2px #00000080;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 1px;
	width: 100%;
	visibility: collapse;
}

#ProfileRankTierContainer.HasLeaderboardRank #RankLeaderboard
{
	visibility: visible;
}


#ProfileBadgeContainer
{
	horizontal-align: center;
	opacity: 0.0;
	height: 100%;
	width: height-percentage( 100% );
	margin-top: 22px;
	margin-left: 16px;
	margin-bottom: 10px;
}

DOTAProfilePage.HasBadgeData #ProfileBadgeContainer
{
	opacity: 1.0;
}


DOTAProfilePage #ProfileBadgeBackground
{
	background-image: url("s2r://panorama/images/textures/miniprofile_badge_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;

	margin-right: 1px;
	margin-left: 4px;
	margin-top: 3px;
	margin-bottom: 0px;
	width: 102px;
	height: 101px;
	background-size: 102px 101px;
}


#RankTier, #RankPips
{
	margin: 0;
	margin-right: 1px;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: 50% 50%;
}

.RankTier0 #ProfileContainer #RankTier, .RankTier0 #ProfileContainer #RankPips
{
	margin-top: 10px;
	margin-bottom: -10px;
}

.RankTier0 #RankTier.RankTierImage
{
	background-size: 150%;
}

#RankTier:hover, #RankPips:hover
{
}

DOTAProfilePage #ProfileBadgeContainer #ProfileBadge
{
	margin-right: 1px;
	ui-scale: 87%;

	pre-transform-scale2d: 1;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

DOTAProfilePage #ProfileBadgeContainer #ProfileBadge:hover
{
	pre-transform-scale2d: 1.05;
}


DOTAProfilePage .ShowcaseItem DOTAProfileBadge
{
	ui-scale: 46%;
}

.EditProfileButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a6c75 ), to( #3d4a50 ) );
	border: 1px solid black;

	margin: 8px;
//margin-left: 32px;
//margin-right: 32px;
	min-width: 192px;
	padding: 5px 10px 5px 10px;
	border-top: 1px solid #ffffff44;
	border-right: 1px solid #4e5b60;
	border-left: 1px solid #4e5b60;
	border-bottom: 1px solid #00000088;

	transition-property: background-color, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.EditProfileButton Label
{
	color: white;
	font-size: 24px;
	horizontal-align: center;
	vertical-align: middle;
}

.EditProfileButton:enabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a9c8da ), to( #596b75 ) );
}

.EditProfileButton:disabled
{
	wash-color: #999999;
	saturation: 0;
}

.EditProfileButton:disabled Label
{
	color: #999999;
}

.EditProfileButton:active Label
{
	transform: translateY(1px);
}

.EditProfileButton:active
{
	border: 1px solid black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272f33 ), to( #5a6c75 ) );

	border-top: 1px solid #00000088;
	border-right: 1px solid #00000088;
	border-left: 1px solid #00000088;
	border-bottom: 1px solid #aaaaaa44;
}

.EditProfile.Activated
{
	sound: "ui_quit_menu_fadeout";
}

//-------------------- NEW PROFILE

#UserProfileBackground,#UserProfileBackgroundFrosted
{
	transition-property: background-image;
	transition-duration: 0.65s;
	transition-timing-function: ease-in-out;

	width: 100%;
	height: 100%;
	background-size: 100% 1080px;
	background-repeat: no-repeat;
}

#UserProfileBackgroundFrosted
{
	blur: gaussian ( 24 );
	saturation: .7;
	contrast: 0.95;
	brightness: 0.2;
	background-size: 100% 1080px;
	background-position: 0px 48%;
	opacity: .6;
}

#FrostedContainer
{
	height: 540px;
	width: 100%;
	vertical-align: middle;
	margin-bottom: 24px;
	border-top: 1px solid #00000006;
	border-bottom: 1px solid #0004;
	background-color: #000;
}

.ViewingPlusSubscriber #FrostedContainer
{
	border-top: 2px solid #a6834e;
	background-color: gradient( linear, 0% 0%, 0% 30%, from( #bc9b5f50 ), to( #10191fEF ) );
}

.ViewingPlusSubscriber #FrostedContainer.NoBackgroundSelected
{
	border-top: 2px solid #a6834e;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #433620cc ), color-stop( 0.8, #141b2122 ), to( #141b2122 ) ) );
}


#FrostedContainer.NoBackgroundSelected
{
	background-color: #000c;
	border-top: 1px solid #0002;
	border-bottom: 1px solid #0004;
}

#ProfileEditPanel,
#ConductBox,
#ProfileActions,
#FeaturedHeroBackground,
#ProfileContainer,
#FeaturedHeroesControl,
#SecondaryNavShadow,
#NameShadow,
.BottomGradient,
.TopGradient,
#FrostedContainer
{
	transition-property: opacity;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}


.ViewBackground.LocalUser.NotEditMode.FeaturedHeroNotManuallySet:not(.LoadingProfileData) #FeaturedHeroEditButton,
.ViewBackground.EditMode #EditBackgroundButton,
.ViewBackground #ProfileEditPanel,
.ViewBackground #ConductBox,
.ViewBackground #ProfileActions,
.ViewBackground #EditBackgroundButton,
.ViewBackground #RecentGamesOptionsContainer,
.ViewBackground #SeeThroughButtons,
#DOTAProfilePage.FeaturedHero1Selected.ViewBackground #FeaturedHero1.SceneLoaded,
#DOTAProfilePage.FeaturedHero2Selected.ViewBackground #FeaturedHero2.SceneLoaded,
#DOTAProfilePage.FeaturedHero3Selected.ViewBackground #FeaturedHero3.SceneLoaded,
.ViewBackground #FeaturedHeroBackground,
.ViewBackground #ProfileContainer,
.ViewBackground #FeaturedHeroesControl,
.ViewBackground #SecondaryNavShadow,
.ViewBackground #NameShadow,
.ViewBackground .BottomGradient,
.ViewBackground .TopGradient,
.ViewBackground #FrostedContainer
{
	opacity: 0;
}

.ViewBackground #FeaturedHeroInputForwarding
{
	visibility: collapse;
}

#ViewBackgroundButton
{
	height: 54px;
	width: 78px;

	tooltip-position: bottom;

	transition-property: opacity, border, background-color, width, transform;
	transition-duration: .16s;
	transition-timing-function: ease-in-out;
}

#ViewBackgroundButtonActual
{
	border-top: 2px solid #3b404777;
	border-right: 2px solid #00000088;
	border-left: 2px solid #4c434677;
	border-bottom: 2px solid #00000088;
	box-shadow: fill #00000055 -2px -2px 4px 6px;
	padding-top: 4px;
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #0005;
	background-color: #000a;
	width: 62px;
	height: 54px;

	transition-property: opacity, border, background-color, width, transform;
	transition-duration: .16s;
	transition-timing-function: ease-in-out;
}

#ViewBackgroundButton.Hidden
{
	opacity: 0;
	width: 0px;
}

.ViewBackgroundIcon
{
	opacity: .4;
	width: 48px;
	height: 46px;
	background-image: url("s2r://panorama/images/control_icons/pictureframe_psd.vtex");
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;

	transition-property: opacity;
	transition-duration: .16s;
	transition-timing-function: ease-in-out;
}

#ViewBackgroundButton:hover .ViewBackgroundIcon
{
	opacity: 1;
}

#TopLeftBacker
{
	height: 119px;

	overflow: noclip;

	margin-top: 40px;
	margin-bottom: 14px;
}

#UserProfileBlock
{
	margin-top: 104px;
	width: 600px;
	width: 390px;
	width: 302px;
	horizontal-align: center;
	height: 100%;
	flow-children: down;
}

#FeaturedHeroBackground,
.FeaturedHero
{
	width:640px;
	height:1000px;

	horizontal-align: right;

	margin-right: -120px;
	z-index: 4;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex")1;
	transition-property: opacity, transform;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	opacity: 0;
}

#FeaturedHeroBadge
{
	z-index: 4;
	ui-scale: 140%;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
}
#FeaturedHeroBadge:not(.NoTier)
{
	opacity: 1.0;
}

.FeaturedHero
{
	width:940px;
}

.AspectRatio4x3 .FeaturedHero
{
	margin-left: 0px;
	margin-right: -280px;
}


.AspectRatio16x10 .FeaturedHero
{
	margin-left: 0px;
	margin-right: -140px;
}


.AspectRatio21x9 .FeaturedHero
{
	horizontal-align: center;
	margin-left: 1300px;
}

#FeaturedHeroBackground
{
	opacity: 1;
	background-color: gradient( radial, 50% 86%, 0% 0%, 40% 20%, from( #000000ff ), to( #00000000 ) );
	z-index: 0;
}

#FeaturedHeroInputForwarding
{
	width: 648px;
	height: 740px;
	margin-top: 260px;
	horizontal-align: center;
	margin-left: 1270px;
	z-index: 4;
}

.AspectRatio16x10 #FeaturedHeroInputForwarding
{
	margin-left: 1175px;
}

.AspectRatio4x3 #FeaturedHeroInputForwarding
{
	margin-left: 1030px;
}

#FeaturedHeroEditButton
{
	horizontal-align: center;
	vertical-align: middle;
	margin-left: 1020px;
	z-index: 4;
	width: 260px;
	padding: 16px 16px 12px 16px;
	border: 2px solid editColor;
	background-color: #111c;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.2s;
}
#FeaturedHeroEditButton > Label
{
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}
#FeaturedHeroEditButton:hover
{
	background-color: #333c;
}
#FeaturedHeroEditButton:active
{
	background-color: #222c;
}

.LocalUser.NotEditMode.FeaturedHeroNotManuallySet:not(.LoadingProfileData) #FeaturedHeroEditButton
{
	opacity: 1.0;
}

#NameShadow
{
	width: 400px;
	height: 300px;
	horizontal-align: center;
	margin-top: -36px;
	margin-right: 1020px;
	background-color: gradient( radial, 50% 86%, 0% 0%, 40% 20%, from( #000000ff ), to( #00000000 ) );
	z-index: 0;

}

#SecondaryNavShadow
{
	width: 700px;
	height: 170px;
	horizontal-align: center;
	margin-right: 900px;
	margin-top: 55px;
	background-color: gradient( radial, 50% 60%, 0% 0%, 40% 20%, from( #000000aa ), to( #00000000 ) );
	z-index: 0;
	visibility: collapse;
}

#ProfileMainCorner
{
	width: 100%;
}

#ProfileMainCorner #UserRichPresence
{
	margin-right: 64px;
}

.MainNameLine
{
	z-index: 2;
	margin-bottom: -16px;
}

#ShowcaseBattlePassBadgeContainer
{
	horizontal-align: right;
	margin-right: 0px;
}

.TopGradient
{
	width: 100%;
	height: 258px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000f ), color-stop( 0.2, #000a ), color-stop( 0.7, #0002 ), color-stop( 0.85, #0004 ), to( #000c ) );
}

.BottomGradient
{
	width: 100%;
	height: 282px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000f ), color-stop( 0.2, #000a ), color-stop( 0.7, #0002 ), color-stop( 0.85, #0004 ), to( #000c ) );
	vertical-align: bottom;
}

.BadgeAndStats
{
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#ProfileStatsContainer
{
	width: 100%;
	height: 395px;
	padding-bottom: 9px;
}

.StatsContainer
{
	width: 100%;
	background-color: #0008;
	border: 1px solid transparent;
	transition-property: height, background-color, transform, opacity;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}

#ProfileLifetimeStatsContainer
{
	height: 119px;
}


#ProfileLast20StatsContainer
{
	height: 252px;
	margin-bottom: 0px;
	transform: translateY(133px);
}


#ProfileMainContentContainer
{
	width: 712px;
	height: 540px;
	margin-top: 136px;
	//flow-children: down;
	padding: 8px;
	padding-left: 16px;
}

#PlayerGamesBox
{
	margin-top: 0px;
}

#UserFeedBox
{
	height: 260px;
}

.Friend #UserFeedBox,
.LocalUser #UserFeedBox
{
	height: 119px;
}

.Friend #UserFeedBox,
.LocalUser #UserFeedBox
{
	transform: translateY(133px);
}


#AccomplishmentsBox
{

	transform: translateY(266px);
}

#AllHeroChallengeBox
{
	transform: translateY(399px);
	margin-bottom: 0px;
}

.ProfileContentBox
{
	background-color: #0008;
	width: 100%;
	height: 119px;
	border: 1px solid transparent;
	opacity: 1;
	transition-property: height, background-color, transform, opacity;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}

.ChildExpanded .StatsContainer,
.ChildExpanded .ProfileContentBox
{
	opacity: 0;
}

#ProfileLast20StatsContainer.Expanded,
#ProfileLifetimeStatsContainer.Expanded
{
	height: 518px;
	transform: translateY(0px);
	opacity: 1;
}

#PlayerGamesBox.Expanded,
#UserFeedBox.Expanded,
#AllHeroChallengeBox.Expanded
{
	height: 518px;
	transform: translateY(0px);
	opacity: 1;
}

.MoreDetailsButton:hover .Expand,
.MoreDetailsButton:hover .Collapse,
#AllHeroChallengeBox:hover .MoreDetailsButton .Expand,
#AllHeroChallengeBox:hover .MoreDetailsButton .Collapse
{
	border-color: #fff3;
	background-color: #888;
}

#AccomplishmentsBox:hover
{
	border-color: transparent;
}


#MostSuccessfulContainer
{
	vertical-align: bottom;
	transition-property: opacity, transform, wash-color;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
}

.Expanded #MostSuccessfulContainer
{
	opacity: 0;
}

.SuccessfulHeroMovie
{
	width: 100%;
	height: 128px;
	margin-top: -16px;
}

.SuccessHeroMovieContainer
{
	width: 96px;
	height: 90px;
	margin-right: 4px;
	margin-left: 4px;
	border-radius: 8px;
	overflow: clip;
	margin-bottom: 2px;
}

.SuccessHeroMovieContainer.CenterSuccessHero
{
	margin-right: 0px;
	margin-left: 0px;
}

.SuccessStatContainer
{
	width: 100%;
	height: 64px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 100%, 20% 0%, from( #000f ), color-stop( 0.5, #000d ), color-stop( 0.8, #0005 ), to( #0000 ) );
	flow-children: up-wrap;
	padding-left: 4px;
	visibility: collapse;
}

.SuccessStatContainer Label
{
	font-size: 13px;
	margin-top: -4px;
	font-weight: thin;
	text-transform: uppercase;
	color: #fff5;
}

.SuccessfulHeroValid .SuccessStatContainer
{
	visibility: visible;
}

.MoreDetailsButton
{
	horizontal-align: right;
	vertical-align: top;
}

.MoreDetailsButton .Collapse,
.MoreDetailsButton .Expand
{
	font-size: 32px;
	border: 1px solid #fff1;
	height: 24px;
	width: 24px;
	text-align: center;
	padding-top: -10px;
}

.MoreDetailsButton .Collapse
{
	font-size: 40px;
	padding-top: -16px;
}

.MoreDetailsButton .Expand,
.Expanded .MoreDetailsButton .Collapse
{
	opacity: 1;
}

.MoreDetailsButton .Collapse,
.Expanded .MoreDetailsButton .Expand
{
	opacity: 0;
}


#DOTAProfilePage.FeaturedHero1Selected #FeaturedHero1.SceneLoaded,
#DOTAProfilePage.FeaturedHero2Selected #FeaturedHero2.SceneLoaded,
#DOTAProfilePage.FeaturedHero3Selected #FeaturedHero3.SceneLoaded
{
	opacity: 1;
}

#BehaviorImage
{
	// background-image: url("s2r://panorama/images/conduct/behavior_normal_png.vtex");
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: #0f0;
	margin-right: 4px;
}

.GradeLevel0 #BehaviorImage
{
	background-image: url("s2r://panorama/images/conduct/behavior_normal_png.vtex");
	wash-color: #40ff24;
}

.GradeLevel1 #BehaviorImage,
.GradeLevel2 #BehaviorImage,
.GradeLevel3 #BehaviorImage
{
	background-image: url("s2r://panorama/images/conduct/behavior_neutral_png.vtex");
}


.GradeLevel4 #BehaviorImage,
.GradeLevel5 #BehaviorImage,
.GradeLevel6 #BehaviorImage
{
	wash-color: #dd3310;
	background-image: url("s2r://panorama/images/conduct/behavior_bad_png.vtex");
}

.GradeNotValid #BehaviorImage
{
	visibility: collapse;
}


#SeeThroughButtons
{
	horizontal-align: center;
	margin-left: 594px;
	z-index: 5;
	transition-property: opacity;
	transition-duration: 0s;
	transition-delay: 0.0s;
	transition-timing-function: linear;
}

#SeeThroughButtons.ChildExpanded
{
	opacity: 0;
	transition-duration: .2s;
	transition-delay: 0.3s;
}


#SeeThroughUserFeed
{
	margin-top: 270px;
}

#SeeThroughUserFeed.SelfOrFriend
{
	margin-top: 403px;
}

#SeeThroughRecentGames
{
	margin-top: 270px;
}

#SeeThroughAllHeroChallenge
{
	margin-top: 669px;
}

#RecentMatchesPerformanceContainer
{
	height: 100%;
	width: 55%;
	horizontal-align: right;
	transition-property: opacity;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	z-index: 2;
}

.Expanded #RecentMatchesPerformanceContainer
{
	opacity: 0;
}

#RecentMatches
{
	vertical-align: top;
	margin-top: 6px;

}

.RecentMatch
{
	margin-right: 5px;
	margin-top: 12px;
	border-radius: 4px;
	padding: 4px;
}

.RecentMatch:hover
{
	background-color: #4443;
}

.RecentHeroIcon
{
	width: 32px;
	height: 32px;
	margin-top: 4px;
	horizontal-align: center;
	text-align: center;
}

.RecentWinLossLabel
{
	horizontal-align: center;
	text-align: center;
	margin-top: 6px;
}

.Win .RecentWinLossLabel
{
	color: #8f8;
}

.Loss .RecentWinLossLabel
{
	color: #f43;
}

.RecentMatchPerformanceContainer
{
	horizontal-align: center;
	width: 100%;
	flow-children: down;
	margin-top: -4px;
}

.PerformanceIndicator
{
	width: 20px;
	height: 7px;
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_up_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	horizontal-align: center;
	wash-color: #6a9a70;
}

.PerformanceIndicator.CPip,
.PerformanceIndicator.DPip
{
	transform: scale3d( 1, -1, 1 ) translateY(-2px);
	wash-color: #99554a;
}

.DGrade .PerformanceIndicator.APip,
.DGrade .PerformanceIndicator.BPip,
.CGrade .PerformanceIndicator.APip,
.CGrade .PerformanceIndicator.BPip,
.CGrade .PerformanceIndicator.DPip,
.BGrade .PerformanceIndicator.APip,
.BGrade .PerformanceIndicator.CPip,
.BGrade .PerformanceIndicator.DPip,
.AGrade .PerformanceIndicator.CPip,
.AGrade .PerformanceIndicator.DPip
{
	opacity: 0;
}



//------------LASTMATCH


#Date,
#Time,
#Details,
#ItemsHeader,
#Items
{
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;

	opacity: 1.0;
}

.DataPending #Date,
.DataPending #Time,
.DataPending #Details,
.DataPending #ItemsHeader,
.DataPending #Items
{
	opacity: 0.0;
}

#Date
{
	margin-right: 12px;
}

.CarouselSelected #Time,
.DataPending.CarouselSelected #Time
{
	opacity: 0.0;
}

#Details
{
	width: 45%;
	margin-top: 20px;
	flow-children: right;
	horizontal-align: left;
	margin-left: 4px;
	padding: 4px;
	border-radius: 4px;
	transition-property: opacity;
	transition-duration: .23s;
	transition-timing-function: ease-in-out;
}

.Expanded #LastGamesHeader,
.Expanded #Details
{
	opacity: 0;
}

#Details:hover
{
	background-color: #4443;
	width: 50%;
}

#Details Label
{
	text-transform: uppercase;
	letter-spacing: 1px;
}


#HeroMovieContainer
{
	width: 80px;
	height: 80px;
	box-shadow: #00000066 -3px -3px 6px 6px;
	margin-left: 0px;
	margin-right: 12px;
	margin-top: 4px;
	overflow: clip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_sharper_png.vtex");
}

#Hero
{
	width: 120px;
	height: 160px;
	margin-left: -20px;
	margin-top: -32px;
}

#HeroName
{
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#TextDetails
{
	flow-children: down;
}


#LastMatchHeader
{
	flow-children: right;
}

.SmallerDetails
{
	margin-top: -4px;
	flow-children: right;
}

Label.StatCategory
{
	color: #666666;
	text-transform: uppercase;

	font-size: 12px;

	min-width: 80px;
}

Label.StatValue
{
	color: #cccccc;

	font-size: 12px;
}

Label.StatValue.Green
{
	text-shadow: 0px 0px 12px 1.0 #39BE4A;
	color: #88ff88;
}

Label.StatValue.Red
{
	text-shadow: 0px 0px 12px 1.0 #BD1831;
	color: #dd4422;
}

#Win, #Loss, #NotScored
{
	visibility: collapse;
}

.IsWin #Win, .IsLoss #Loss, .IsNotScored #NotScored
{
	visibility: visible;
}

.DateTimeLabel
{
	color: #888888;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#EditBackgroundButton
{
	opacity: 0;
	margin-bottom: 132px;
	width: 300px;
	height: 140px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-left: 0px;
	pre-transform-scale2d: 0.8;

	transition-property: opacity, pre-transform-scale2d;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

#EditBackgroundButton .CloseButton
{
	horizontal-align: center;
	margin-top: 40px;
	margin-left: 180px;
	width: 42px;
	height: 42px;
	background-size: contain;

	wash-color: #a20;
}

#EditBackgroundButton .CloseButton:hover
{
	wash-color: #f20;
}

#EditBackgroundButton:hover Label
{
	color: editColorHover;
}
#EditBackgroundButton:active Label
{
	color: editColorActive;
}
#EditBackgroundButton:hover .PictureFrame
{
	wash-color: editColorHover;
}

#EditBackgroundButton:active .PictureFrame
{
	wash-color: editColorActive;
}

.PictureFrame
{
	margin-top: 32px;
	width: 126px;
	border-radius: 10px;
	height: 100px;
	background-image: url("s2r://panorama/images/control_icons/pictureframe_psd.vtex");
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	wash-color: editColor;
	horizontal-align: center;

	background-color: #000a;
}

#EditBackgroundButton Label
{
	text-overflow: shrink;
	height: 32px;
	font-size: 22px;
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
	color: editColor;
	brightness: 2;
	text-shadow: 1px 1px 2 #000000;
}

.EditMode #EditBackgroundButton
{
	opacity: 1;
	pre-transform-scale2d: 1;
}

#CompareLine
{
	vertical-align: bottom;
	width: 100%;
}

#PlayRate
{
	font-size: 14px;
	vertical-align: bottom;
	color: #8B8F9C;
	margin-left: 12px;
}

#PlusStatus
{
	visibility: collapse;
}

.ViewingPlusSubscriber #PlusStatus
{
	visibility: visible;
	padding-top: 2px;
}

.ViewingPlusSubscriber #PlusStatus Image
{
	width: 16px;
	height: 18px;
	margin-left: 40px;
}

.ViewingPlusSubscriber #PlusStatusLabel
{
	margin-left: 62px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#MemberSince
{
	margin-left: 40px;
	padding-top: 2px;
	visibility: collapse;
}

.ViewingPlusSubscriber #MemberSince
{
	visibility: visible;
}

.MemberSince
{
	text-transform: uppercase;
	letter-spacing: 1px;
	color: dotaPlusGold;
}

.MemberDate
{
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 50px;
}
