DOTAWeekendTourneyPage
{
	width: 1400px;
	height: 780px;
	margin-top: 140px;
	
	vertical-align: top;
	horizontal-align: center;

	opacity: 0.0;
	
	
}


/* States of visibility */

#ContainerLoading
{
	opacity: 0.0;
	transition-property: opacity !immediate;
	transition-delay: 0.0s;
	transition-duration: 0.0s;
}

#ContainerLoading.FadeIn
{
	opacity: 1.0;
	transition-property: opacity !immediate;
	transition-delay: 1.0s;
	transition-duration: 0.5s;
}

DOTAWeekendTourneyPage.Loaded #ContainerLoading.FadeIn
{
	opacity: 0.0;
	transition-property: opacity !immediate;
	transition-delay: 0.0s;
	transition-duration: 0.0s;
}

#ContainerLoaded
{
	transition-property: opacity, pre-transform-scale2d, wash-color !immediate;
	transition-duration: 0.0s;
	opacity: 0.0;
	width: 100%;
	height: 100%;
	pre-transform-scale2d: 0.975;
	wash-color: #63b5af;
	flow-children: none;
}

DOTAWeekendTourneyPage.Loaded #ContainerLoading
{
	opacity: 0.0;
}

DOTAWeekendTourneyPage.Loaded #ContainerLoaded
{
	transition-duration: 0.32s;
	transition-timing-function: ease-in;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
	wash-color: white;
}


/* Loading Container */
#ContainerLoading
{
	horizontal-align: center;
	margin-top: 400px;
	flow-children: right;
	padding-left: 5px;
}

#ContainerLoading Panel.Spinner
{
	margin-left: -30px;
	margin-top: -1px;
	width: 28px;
	height: 28px;
	wash-color: #a5ada2ff;
}

#ContainerLoading Panel.Spinner.Shadow
{
	margin-left: 0px;
	margin-top: 2px;
	wash-color: #000000ff;
	opacity: 0.8;
}

#ContainerLoading Label
{
	margin-left: 10px;
	vertical-align: middle;
	text-shadow: 2px 2px 2px #000000ff;
}

/* Main content */

#LeaveTournamentButton
{
	margin: 10px;
	width: 300px;
	horizontal-align: right;
}

#Title
{
	width: 100%;
	text-transform: uppercase;
	font-size: 44px;
	font-weight: bold;
	color: white;
	letter-spacing: 3px;
	margin-bottom: -7px;
	
}

.TitleSub
{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	color: #999;
	letter-spacing: 3px;
	margin-top: -10px;
}

#Bracket
{
	width: fit-children;
	overflow: noclip;
}


/* Bring the dashboard page in front of popups, etc during this animation */
.TourneyAnimationInProgress DOTAWeekendTourneyPage
{
	z-index: 5;
}

