
DOTAHeroPageNew
{
	width: 100%;
	height: 100%;

	margin-top: 62px;
}


/* Next/Previous Hero Buttons */
.HeroPageNavigation
{
	width: 100%;
	height: 100%;
	z-index: 1;
}

#NextHero, #PreviousHero
{
	opacity: .1;
	margin-top: 103px;
	vertical-align: top;
	flow-children: right;
	transition-property: background-color;
	transition-duration: .2s;
}

#NextHero 
{
	margin-right: -10px;
	horizontal-align: right;
}

#PreviousHero 
{
	margin-left: -10px;
	horizontal-align: left;
}

#NextHeroName, #PreviousHeroName
{
	vertical-align: middle;
	white-space: normal;
	width: 120px;
	text-transform: uppercase;
   	font-size: 16px;
	color: #aabfbf;
    margin-right: 4px;
	margin-top: 3px;
}

#NextHeroName
{
	horizontal-align: right;
	text-align: right;
}

#PreviousHeroName
{
	horizontal-align: left;
	text-align: left;
	margin-left: 4px;
}

#PreviousHero .Arrow
{
	background-image: url("s2r://panorama/images/control_icons/icon_hero_next_arrow_png.vtex");
	background-repeat: no-repeat;
    background-size: 50px 46px;
    width: 50px;
    height: 46px;
}

#NextHero .Arrow
{
    background-image: url("s2r://panorama/images/control_icons/icon_hero_next_arrow_png.vtex");
	background-repeat: no-repeat;
    background-size: 50px 46px;
    width: 50px;
    height: 46px;
}

#PreviousHero:hover, #NextHero:hover
{
	color: white;
	opacity: .5;
    //border: 1px solid #333333;
    background-color: #111111;
}

#PreviousHero:active, #NextHero:active
{
    //border: 1px solid #555555;
    background-color: #666666;
	sound: "ui_hero_select_slide";
}

/* ------------------------------------------------------------------------- */

.HeroPageContent
{
	width: 100%;
	height: 100%;
}

#LargeModelPreview
{
	width: 60%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/hero_model_opacity_mask_png.vtex");

	/* Hacky, but useful until we update camera positions */
	transform: translateY( -70px ) translateX( -45px );
}

#PageContents
{
	width: 100%;
	height: 100%;

	margin-top: 90px;

	flow-children: right;
}

.LeftContents
{
	width: fill-parent-flow( 1.0 );
}

.RightContents
{
	flow-children: down;
	width: 900px;
	margin-right: 20px;
}

.AspectRatio4x3 .RightContents, .AspectRatio5x4 .RightContents
{
	width: 750px;
}

#PrimaryAttribute 
{
	height: 44px;
	width: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: top;
	horizontal-align: right;
	margin-top: 10px;
	margin-right: 4px;
}
DOTAHeroPageNew.Strength      #PrimaryAttribute { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");}
DOTAHeroPageNew.Agility       #PrimaryAttribute { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex"); }
DOTAHeroPageNew.Intelligence  #PrimaryAttribute { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex"); }

#HeroName
{
	color: white;
    font-size: 54px;
	font-weight: Bold;
	letter-spacing: 1px;
    text-transform: uppercase;
}

#HeroHeader
{
    flow-children: down;
}

#HeroDescription
{
    flow-children: right;
	margin-top: -10px;
	margin-bottom: 12px;
	margin-left: 3px;
}

#HeroAttackType
{
	color: #aeaeae;
	font-size: 19px;
	letter-spacing: 2px;
    text-transform: uppercase;
}

#HeroRoles
{
    flow-children: right;
	margin-left: 15px;
}

#HeroRoles Label
{
	color: #777777;
	font-size: 19px;
	letter-spacing: 2px;
    tooltip-position: bottom;
    margin-right: 12px;
    text-transform: uppercase;
}

.HeroActions
{
    flow-children: right;
    margin-top: -5px;
	margin-bottom: 10px;
}

#HeroAbilities
{
    flow-children: right;
    vertical-align: center;
	margin-left: 3px;
}

#HeroAbilities > DOTAAbilityImage, 
#HeroAbilities > .StatBranch
{
    margin-right: 10px;
	margin-top: 2px;
    width: 50px;
    height: 52px;
	
	

    tooltip-position: bottom;
}

#HeroAbilities > .StatBranch
{
	wash-color: #708D9F;
}

#HeroPageTabs
{
	flow-children: right;
	margin-top: 10px;
	margin-bottom: 4px;
}

.HeroPageTab .RadioBox
{
    visibility: collapse;
}

.HeroPageTab Label
{
    font-size: 19px;
	letter-spacing: 1px;
	color: #8e9795;
    text-transform: uppercase;
    margin-left: 0px;
}

.HeroPageTab:hover Label
{
    color: white;
}

.HeroPageTab:selected Label
{
    color: white;
}

.HeroPageTab:disabled Label
{
	color: #aaaaaa11;
}

.HeroPageTab:disabled:hover Label
{
	color: #aaaaaa11;
}

.HeroPageTabWithViolatorContainer
{
	flow-children: down;

}

.HeroPageTabSeparator
{
    margin: 0px 19px;
    font-size: 19px;
    color: #8e9795;
    vertical-align: bottom;
}

.HeroPageSubTab
{
	visibility: collapse;
}

.HeroPageSubTab.TabVisible
{
	visibility: visible;
}

#OwnedItems
{
	flow-children: down;
}

#OwnedTitle
{
	color: white;
	text-transform: uppercase;
	margin-top: 12px;
}

#OwnedItemsContents
{
	flow-children: right;
	//background-color: #000000aa;
	//padding: 12px;
}

#HeroSetPicker
{
	width: 160px;
	height: 287px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-bottom: 15px;
}

.AspectRatio16x9 #HeroSetPicker
{
	height: 285px;
}



#HeroSlots
{
	flow-children: right-wrap;
	width: 600px;
	margin-left: 2px;
}

#HeroSlots DOTAHeroSlotItemPicker
{
	width: 101px;
	margin-bottom: 15px;
	margin-right: 10px;
}

.DefaultItemEquipped:not(.HasItemsForSlot) #MenuArrowContainer
{
   visibility: collapse;
}



#LoadoutTabContents
{
	flow-children: down;
}

#AvailableItems
{
	flow-children: down;
	margin-top: 16px;
	width: 840px;
}

#AvailableHeader
{
	flow-children: right;
	margin-bottom: 4px;
}

#AvailableTitle
{
	color: white;
	text-transform: uppercase;
}

#StoreButton
{
	vertical-align: middle;
}

#StoreButton > Label
{
	color: #999;
	margin-left: 5px;
	font-size: 14px;
}

#StoreButton > Label:hover
{
	color: white;
}
#StoreButton > Label:active
{
	color: #aaa;
}

#AvailableItemsCarouselNav
{
	margin-right: 7px;
}

#AvailableItemsCarousel
{
	flow-children: right;
	width: 100%;
	height: 236px;
}

#AvailableItemsCarousel .CarouselPage
{
	flow-children: right;
	width: 100%;

	transition-property: position;
	transition-duration: 0.3s;
}

#AvailableItemsCarousel DOTAStoreItem
{
	width: fill-parent-flow( 1.0 );
	margin-right: 10px;
}

#HeroQuickSearch
{
	width: 100%;
	horizontal-align: center;
}

#StatsTabContents
{
	flow-children: down;
	padding-left: 2px;
}

#AboutTabContents
{
	flow-children: down;
	padding: 10px 12px 12px 12px;
	height: 580px;

	background-color: #000000ef;
}

.HeroDescriptionHeader
{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
	color: #ccc;
	margin-top: 16px;
}

.HeroDescriptionText
{
	color: #999;
    padding-right: 10px;
	overflow: squish scroll;

	/* Hardcode the width so that the text flowing works correctly */
    width: 715px;
}
.AspectRatio4x3 .HeroDescriptionText
{
	width: 610px;
}
.AspectRatio5x4 .HeroDescriptionText
{
	width: 600px;
}

#HeroRoleDetails
{
	width: 100%;
	margin: 0px 80px 0px 40px;
}

#DemoHeroButton
{
	margin-left: 10px;
	margin-top: 3px;
}

#HeroComplexity
{
	padding-top: 3px;
	width: 54px;
	margin-right: 17px;
	flow-children: right;
	tooltip-position: bottom;
}

.HeroComplexityPip
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/hero_complexity_empty_png.vtex");
	margin-right: 2px;
	wash-color: #dedede;
}

#HeroComplexityPip1,
.Complexity2 #HeroComplexityPip2, .Complexity3 #HeroComplexityPip2,
.Complexity3 #HeroComplexityPip3
{
	background-image: url("s2r://panorama/images/hero_complexity_full_png.vtex");
}


#HeroStats
{
	flow-children: right;
}

.HeroStatsSection
{
	flow-children: down;
	margin-right: 16px;

	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

.HeroStatsHeader
{
	text-transform: uppercase;
	color: #ccc;
}


.HeroStatsRow
{
	flow-children: right;
}

.HeroStatsRow > Label
{
	color: #aaa;
}

.HeroStatsIcon
{
	width: 20px;
	height: 20px;
	margin-right: 4px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#ProjectileSpeedRow
{
	visibility: collapse;
}
.RangedAttack #ProjectileSpeedRow
{
	visibility: visible;
}

.HeroResourceRow
{
	width: 140px;
	border-radius: 4px;
	margin-bottom: 4px;
}

.MaxResource
{
	horizontal-align: center;
	text-shadow: 1px 1px 0px 2.0 #000000;
	font-weight: bold;
	color: white;
	margin-top: 2px;
}

.ResourceRegen
{
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 2px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	horizontal-align: right;
	text-shadow: 1px 1px 0px 1.0 #000000;
} 

#HealthRow
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1A3D1A  ), color-stop( 0.2, #67A163 ), color-stop( .5, #187019), to( #175D17 ) );
}
#HealthRow .ResourceRegen
{
	color: #3ed038;
}

#ManaRow
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6A90BA  ), color-stop( 0.4, #144B91 ), to( #2E5187 ) );	
}
#ManaRow .ResourceRegen
{
	color: #83C2FE;
}