@define leftMargin: 264px;
@define leftMargin4x3: 64px;
@define leftMargin16x10: 184px;

DOTAChallengeDetailsPage
{
	margin-top: 170px;
	width: 100%;
	height: 100%;
}

#Header
{
	width: 100%;
	margin-left: leftMargin;
}

.AspectRatio4x3 #Header, .AspectRatio5x4 #Header
{
	margin-left: leftMargin4x3;
}

.AspectRatio4x3 #ChallengesContainer, .AspectRatio5x4 #ChallengesContainer
{
	padding-left: leftMargin4x3;
}

.AspectRatio16x10 #Header
{
	margin-left: leftMargin16x10;
}

.AspectRatio16x10 #ChallengesContainer
{
	padding-left: leftMargin16x10;
}

.PageTitle
{
    horizontal-align: center;
	width: 100%;
}

.PageTitle Label
{
    color: white;
	font-size: 46px;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-bottom: -8px;
}

.PageSubTitle
{
    horizontal-align: center;
	width: 100%;
	margin-top: 58px;
	margin-bottom: 8px;
	
}

.PageSubTitle Label
{
    color: #888888;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;	
}

#ChallengeDetailsBackground
{
	border: 1px solid #00000022;
	
	box-shadow: #00000033 -4px -4px 8px 9px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000aa ), to( #00000045 ) );
	flow-children: down;
	margin-top: 104px;
	width: 100%;
	height: 530px;
}

//This needs to be fixed to position correctly with different sized text before it--right now hacking it in.
#ChallengePageSelector 
{
	margin-left: 150px;
	margin-bottom: 7px;
	vertical-align: bottom;
	horizontal-align: left;
}

#ChallengePageSelector .CarouselDot .RadioBox
{
	width: 18px;
	height: 18px;
}

#BeastMasterModel
{
	vertical-align: middle;
	horizontal-align: right;
	width: 850px;
	height: 750px;
	//border: 1px solid red;
	margin-bottom: 210px;
	margin-right: 64px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.AspectRatio16x10 #BeastMasterModel
{
	margin-right: -48px;
}

.AspectRatio4x3 #BeastMasterModel, .AspectRatio5x4 #BeastMasterModel
{
	margin-right: -164px;
}

.ChallengeSubHeader Label
{
    color: #888888;
	font-size: 27px;
	text-transform: uppercase;
	letter-spacing: 3px;	
}

.ChallengePage
{
	margin-left: leftMargin;
	width: 100%;
}

.ChallengePage
{
	margin-left: leftMargin;
	width: 100%;
}

.AspectRatio16x10 .ChallengePage
{
	margin-left: leftMargin16x10;
	width: 100%;
}

.AspectRatio4x3 .ChallengePage, .AspectRatio5x4 .ChallengePage
{
	margin-left: leftMargin4x3;
	width: 100%;
}


.ChallengeMap
{
	width: 395px;
	height: 515px;
	border-right: 1px solid #5e676788;
	margin-top: 8px;
	margin-right: 12px;
	//visibility: collapse;
}

.ChallengeMapImage
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_beast_psd.vtex");
	width: 100%;
	height: 284px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 16px;
}

.ChallengeMapInfo
{
	background-color: #000000aa;
	margin-right: 16px;
}

.ChallengeMapInfo .ChallengeDescription
{
	width: 100%;
	background-color: none;
}

.ChallengeMapInfo .ChallengeLine
{
	margin-top: 8px;
}

.ChallengeMapDescription
{
	margin-left: 12px;
	margin-right: 5px;
	margin-bottom: 12px;
}

.ChallengeMapDescription Label
{
	color: #b6b6b6;
}

.PlayGameButton
{
	width: 100%;
}

.PlayGameButton Label
{
	text-align: center;
	width: 100%;
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 6px;
}

.ChallengeList
{
	margin-top: 8px;
	//border:1px solid red;
	width: 100%;
}

.Arrow
{
	vertical-align: bottom;
	horizontal-align: right;
	width: 32px;
	height: 32px;
	margin-bottom: 6px;
}

.Arrow.Left
{
	horizontal-align: right;
	margin-right: 72px;
}
.Arrow.Right
{
	margin-right: 32px;
}

HorizontalScrollBar .ScrollThumb, HTMLHorizontalScrollBar .ScrollThumb
{
	visibility: collapse;
}

HorizontalScrollBar, HTMLHorizontalScrollBar
{
	height: 0px;
	background-color: transparent;
	box-shadow: none;

}

.ChallengeLine 
{
	margin-bottom: 8px;
	width: 100%;
}

.ChallengeDescription
{
	height: 36px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000066 ), color-stop ( 0.65, #00000066 ), to( #00000000 ) );
	width: 75%;
	vertical-align: middle;
	padding-top: 6px;
	border-radius: 6px;
}

.ChallengeLine Label
{
	font-size: 18px;
	margin-left: 48px;
	color: white;
	font-weight: thin;
}


.ChallengeIcon
{
	margin-left: 4px;
	margin-top: 1px;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	wash-color: #816c47;
}

.ChallengeIconBox
{
	background-image: url("s2r://panorama/images/status_icons/challenge_icon_box_psd.vtex");
	wash-color: #816c47;
}

.ChallengeIconCheck
{
	background-image: url("s2r://panorama/images/status_icons/challenge_icon_check_psd.vtex");
	wash-color: #ddc727;
}

.Incomplete .ChallengeIconCheck
{
	visibility: collapse;
}

.Incomplete .ChallengeIconBox
{
	wash-color: #323b3e;
}

.Incomplete.ChallengeLine Label
{
	color: #6e7070;
}








