/* styles for the main dashboard background */
DOTADashboardBackgroundManager
{
	width: 100%;
	height: 100%;

	background-color: black;

	transition-property: transform, blur, saturation, wash-color, opacity, hue-rotation, pre-transform-scale2d;
	transition-duration: 0.45s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in;
}

.DashboardBackground
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

DOTADashboardBackgroundManager:not(.HideDashboardBackground) .DashboardBackground.ActiveBackground
{
	visibility: visible;
}

DOTADashboard.PlayTabVisible DOTADashboardBackgroundManager,
DOTADashboard.PopupBackgroundBlur DOTADashboardBackgroundManager
{
	blur: gaussian( 5 );
	wash-color: #657b7baa;
	saturation: 0.25;
}

DOTADashboard.PlayTabVisible DOTADashboardBackgroundManager
{
	transform: translatex( -120px );
}