/* Styles for different types of search results in the dashboard */

/* Used for a label displaying that no results were found */
.NoResults
{

}

/* SearchResult: class for all search results to share the same hover/focus behavior */
.SearchResult
{
	transition-property: background-color;
	transition-duration: 0.1s;
}

.SearchResult:focus
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000099 ), to( #000000 ) );
}

.SearchResult:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000066 ), to( #000000 ) );
}

.SearchResult:hover:focus
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000cc ), to( #000000 ) );
}

.SearchResult:active
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000ff ), to( #000000 ) );
}


/* TextSearchResult: a simple text-only search result*/
.TextSearchResult
{
	padding: 3px;
}

.TextSearchResult:hover Label, .TextSearchResult:focus Label
{
	color: white;
}


/* HeroSearchResult: shows a hero that can be clicked on to go to that page */
.HeroSearchResult
{
	padding: 4px;
	flow-children: right;
	width: 100%;
	margin-right: 10px;
}

.HeroSearchResult DOTAHeroImage
{
	vertical-align: middle;
}

.HeroSearchResult Label
{
	vertical-align: middle;
	font-size: 30px;
	margin-left: 10px;
	padding-top: 2px;
}

.HeroSearchResult:hover Label
{
	color: white;
}

.HeroSearchResult:focus
{
	background-color: blue;
}

/* HeroSearchResultSmall: A small size hero as a search result. */
.HeroSearchResultSmall
{
	padding: 4px;
	flow-children: right;
	width: 100%;
	margin-right: 10px;
	height: 46px;
}

.HeroSearchResultSmall DOTAHeroImage
{
	vertical-align: middle;
	height: 34px;
	width: height-percentage( 178% );

	transition-property: height;
	transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
}

.HeroSearchResultSmall.Hidden
{
	visibility: collapse;
}

.HeroSearchResultSmall:hover DOTAHeroImage
{
	height: 36px;
}

.HeroSearchResultSmall Label
{
	vertical-align: middle;
	font-size: 20px;
	margin-left: 10px;
	padding-top: 2px;
}

.HeroSearchResultSmall:hover Label
{
	color: white;
}


/* ItemSearchResult: displays an item image plus its name, rarity, and slot */
.ItemSearchResult
{
	flow-children: right;
	width: 100%;
	height: 116px;
}

.ItemSearchResult .ItemDetails
{
	flow-children: down;
	vertical-align: middle;
	margin-left: 5px;
	width: 100%;
}

.ItemSearchResult .ItemName
{
	font-size: 28px;
	color: white;
	width: 360px; /* Ideally this would be 100%, but that prevents the text from flowing to the second line when necessary*/
}

.ItemSearchResult .ItemShortDescription
{
	margin-top: -6px;
	width: 100%;
}