@import url("file://{resources}styles/battle_pass/current_battle_pass.css");

DOTAHomePage
{
	padding-top: 56px;
	width: 100%;
	height: 100%;
}

#TodayPages
{
	width: fit-children;
	margin-top: 44px;
	flow-children: right;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/init_mask_01_psd.vtex") 0;
	opacity: 1;
	pre-transform-scale2d: 1;
	wash-color: white;
	overflow: noclip;

	// push our width up so we center in the grid
	margin-left: -7px;

	transition-property: opacity-mask, opacity, pre-transform-scale2d, wash-color, transform;
    transition-duration: PreConnectedTransitionDuration;
    transition-timing-function: ease-in-out;
}

.PreConnected #TodayPages
{

}


DOTADashboard.InitialDisplay #TodayPages
{
	opacity-mask: url("s2r://panorama/images/masks/init_mask_01_psd.vtex") 1.0;
	pre-transform-scale2d: 0.85;
	opacity: 0;
    transition-duration: 1.2s;	
	transition-delay: 0.5s;
	wash-color: #89C1C9;
}

.Today_Page
{
	margin-top: 99px;
	width: 1392px;
	//margin-left: 300px;
	transition-property: transform, blur;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in;
	horizontal-align: center;
	overflow: noclip;
}


#RightColumn
{
	//border: 1px solid red;
	margin-left: 16px;
	flow-children: none;
	z-index: -1;

	height: 850px;
}

#FrontpageContents
{
	width: 1040px;
	padding-top: 30px;
	margin-right: 16px;
	height: 850px;
	overflow: noclip;
}

#InternationalTakeover
{
	width: 1056px;
	height: 516px;
}

#BottomLeftSection
{
	width: 1040px;
	height: 400px;
	padding-top: 21px;
	margin-top: 510px;
	margin-right: 16px;
	flow-children: none;

	visibility: collapse;
}

.TodayPageHeader
{
	background-color: #000000ee;
}

#HomeFriendMenuContainer
{
	horizontal-align: right;
	flow-children: down;
	//box-shadow: fill #00000088 -2px -2px 4px 4px;	
}

#ChatContainerBackground
{
	visibility: collapse;
	background-color: #000000aa;
	width: 100%;
	height: 100%;
	margin: 16px;
	margin-top: 0px;
	margin-left: 4px;
}

.TakeoverIntro
{
	font-size: 20px;
	margin-top: 10px;
	color: #9e9996;
}

.TakeoverHeroName
{
	font-size: 40px;
	margin-top: 30px;
	color: #9e9996;
}

#TakeoverHeroImage
{
	margin-left: 50px;
	margin-top: 100px;
}

#LeftColumn
{
	height: 850px;
}

#ProfileCard
{
	margin-bottom: 8px;
}

#HomeProfileHeader {
    width: 336px;
    padding: 2px;
    min-height: 22px;
    height: 36px;
    horizontal-align: right;
    margin-top: 30px;
    margin-bottom: -30px;
	z-index: 1000;
	//background-color: gradient( linear, 100% 0%, 0% 0%, from( darkColor ), to( accentColor ) );
}

#HomeProfileHeader Label
{
    font-size: 18px;
    letter-spacing: 2px;
    padding-top: 4px;
    text-transform: uppercase;
}

#HomeProfileHeader Panel
{
    vertical-align: center;
    margin-left: 14px;
}

#HomeProfileContainer 
{
    flow-children: down;
	margin-bottom: 6px;
}

#HomeProfileContainer:hover #ProfileHeaderTitle
{
    color: white;
}

#HomeProfileContainer:hover #PopoutArrow
{
    wash-color: white;
}

.DemoArrow
{
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 6px;
    margin-bottom: 0px;
    horizontal-align: right;

    background-image: url("s2r://panorama/images/control_icons/arrow_top_right_png.vtex");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    wash-color: #A5ADA2ff;
}

#CurrentFriendsGames
{
	padding: 0px;
	width: 349px;
	horizontal-align: right;	
	flow-children: down;
}

#OpenPartyHeader
{
	horizontal-align: right;
	background-color: #262D31;
	width: 336px;


    height: 0px;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in;
    transition-property: height;	
}

#OpenPartyTitleContainer
{
	flow-children: right;
	horizontal-align: center;
}

#OpenPartyIcon
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/status_icons/opengames_psd.vtex");
	background-position: 19.5% 50%;
	background-size: 14px 14px;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 6px;
	opacity: 1;
}

#ReadyToPlayTitle
{
	font-size: 14px;
    letter-spacing: 1px;
	//width: 336px;
	text-transform: uppercase;
	color: #64C390;
}

.HasFriendsReadyToPlay #OpenPartyHeader
{
    height: 18px;
}

#StatusContainer
{
	background-color: #000000;
	height: 36px;
	width: 336px;
	//box-shadow: fill #00000088 -2px -2px 4px 4px;

	transition-duration: 0.36s;
	transition-timing-function: ease-in-out;
    transition-property: height;
}

#StatusContainer:hover TextEntry #PlaceholderText
{
	color: #777777;

	transition-property: background-color;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in;
}

#StatusContainer TextEntry
{
	height: 100%;
	//background-color: #111111FF;
	background-color: transparent;
	border-width: 0px;
	padding-top: 6px;
	padding-left: 16px;
	padding-right: 44px;
	font-size: 18px;
}

#StatusContainer TextEntry #PlaceholderText
{
	font-size: 16px;
	padding-top: 4px;
}

#StatusSubmit
{
	horizontal-align: right;
	min-width: 36px;
	min-height: 36px;
	//vertical-align: top;    
	wash-color: #00000055;
	
	background-color: #5B6D78;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5B6D78 ), to( #455058 ) );

	border: 1px solid #4E5C64;
	border-top: 1px solid #61727B;

	transition-property: background-color, wash-color, transform;
	transition-duration: 0.13s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

#StatusSubmit:hover 
{
	opacity: 1.0;
	box-shadow: fill #00000044 0px 0px 2px 4px;
	wash-color: #00000022;
}

#StatusSubmit:hover #StatusSubmitIcon
{
	pre-transform-scale2d: 1;
}

#StatusSubmit:active
{
	wash-color: #000000aa;
	box-shadow: fill #00000044 0px 0px 0px 0px;
	transition-duration: 0.13s;
}

#StatusSubmit:active #StatusSubmitIcon
{
	pre-transform-scale2d: .75;
}

#StatusSubmitIcon
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/control_icons/status_submit_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;			
	background-size: 60% 60%;
	pre-transform-scale2d: .85;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.13s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}


.CurrentStatusAndFriendFeed
{
	width: 350px;
	//height: 100%;
	//padding: 0px 0px 12px 0px;

}

.StatusAndFriendFeed
{
	width: 336px;
	height: 320px;
	//padding: 0px 0px 12px 0px;
	//background-color: #1d2222ff;
	//box-shadow:  inset #00000088 0.5px 0.5px 2px 1px;
	//background-color: #121515cc;
	background-color: #00000099;
	box-shadow: #00000033 -2px -2px 1px 4px;
	border-bottom: 1px solid #00000088;
	horizontal-align: left;
	margin-left: 704px;

	transition-property: height;
    transition-duration: 0.4s; 
	transition-timing-function: ease-in-out;
	
	/* TI10 LAUNCH */
	visibility: collapse;
}

#FriendsFeed
{
	overflow: clip scroll;
	width: 100%;
	height: fill-parent-flow( 1.0 );
	padding-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_psd.vtex") 1.0;
	//border-bottom: 1px solid #000000;
}

#CurrentFeedHeaderContainer
{
	visibility: collapse;
	width: 336px;
	
	background-color: #1d2222ff;
	box-shadow: fill #000000aa -2px -2px 1px 4px;
}

#CurrentFeedHeaderContainer:hover
{
	color: white;
	box-shadow: fill #000000aa -2px -2px 1px 4px;
}

#FeedHeaderContainer
{
	width: 336px;
	padding: 2px;
	min-height: 24px;
	height: 24px;
}

#FeedHeaderContainer:hover
{
}

.FeedHeader
{
    color: baseText;
	font-size: 16px;
    letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0px;
}

#FeedHeaderContainer.ButtonBevel Label
{
	margin-top: 0px;
}

.MyStatus
{
	color: baseText;
	width: 336px;
	height: 32px;
	font-size: 16px;
}

#RefreshFeed
{
	visibility: collapse;
	width: 24px;
	height: 24px;
	horizontal-align: right;
	vertical-align: middle;
	margin-right: 6px;
}

#StatLine
{
	width: fit-children;
	height: 32px;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 16px;
	margin-right: 20px;
	transform: translateY( 0px );
	z-index: 100;

	transition-property: transform, opacity;
    transition-duration: PreConnectedTransitionDuration; 
    transition-timing-function: ease-in-out;
}

.PreConnected #StatLine
{
	transform: translateX(400px);
	opacity: 0;
}

DOTADashboard.InitialDisplay #StatLine
{
	opacity: 0.0;
	transform: translateY( -32px );
	transition-delay: 1.1s; 
}

#StatLine Label
{
	text-shadow: 1px 1px 2px #000000; 
    color: colorHomeStatLineTextBright;
	font-size: 14px;
	font-weight: thin;
	text-transform: uppercase;
}


.StatLineContainer
{
	flow-children: right;	
	margin-right: 32px;
}

#StatLine Label.StatLineNumber
{
	margin-right: 4px;
    color: colorHomeStatLineText;
}

.PartnerPerfectWorld #MonthlyPlayersContainer, .PartnerPerfectWorld #CurrentPlayersContainer
{
	visibility: collapse;
}

#Container0
{
	margin-left: 0px;
	margin-top: 0px;
}

#Container0
{
	width: 688px;
	z-index: 5;
	background-color: black;
}

#Container0 #CarouselCells,
#Container0 .CellInner
{
	width: 688px;
}

#FrontPageUnderlordCell.DOTATodayCell.CarouselSelected
{
	width: 600px;
	height:  500px;
}

#Container1
{
	margin-left: 352px;
	margin-top: 0px;
}
#Container2
{
	margin-left: 704px;
	margin-top: 0px;
}

#Container3
{
	margin-left: 0px;
	margin-top: 248px;
}

#Container4
{
	margin-left: 352px;
	margin-top: 248px;
}

#Container5
{
	margin-left: 704px;
	margin-top: 248px;
}

@keyframes 'GlowPulse'
{
	0%
	{
		box-shadow:	#3FFFDB08 -5px -5px 10px 10px;
//		wash-color: #3FFFDB00;	
	}

	50%
	{
		box-shadow:	#3FFFDB05 -7px -7px 14px 14px;	
//		wash-color: #3FFFDB55;
	}
	
	100%
	{
		box-shadow:	#3FFFDB08 -5px -5px 10px 10px;	
//		wash-color: #3FFFDB00;
	}
}

#ShortFilmPanel
{
    horizontal-align: center;
	flow-children: right;
	visibility: visible;
	margin-top: 2px;
	margin-left: 16px;
	margin-right: 16px;

}

#ShortFilmButton
{
    //background-color: #A9372E;

    //animation-name: PulseUnclaimed;	
	animation-duration: 1.81s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

    margin: 5px;
    margin-left: -12px;
    z-index: 2;
}

#ShortFilmPanel Label
{
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: thin;
	text-transform: uppercase;
    //color: white;
    font-weight: bold;
    vertical-align: middle;
	padding: 6px 12px 3px 18px;
}

#ShortFilmVote
{
    height: 42px;
    width: 40px;
    background-image: url("s2r://panorama/images/compendium/shortfilm_icon_psd.vtex");
    background-size: cover;
    z-index: 3;
}

#HomeEvents
{
	margin-left: 30px;
	margin-bottom: 16px;
	width: 336px;
	overflow: noclip;
}

#NewBloom2019Panel
{
	width: 366px;
	height: 176px;
	margin-bottom: 16px;
	margin-top: 2px;
}

.EventHasUnclaimedRewards #NewBloom2019Panel
{
	height: 197px;
}

.FrontPageEventPanel
{
    width: 336px;
    height: 176px;
    margin-bottom: 16px;
    margin-top: 2px;
    margin-left: 30px;

	/* box-shadow: fill #00000055 -2px -2px 4px 4px; */
	/* background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000080 ), to( #00000000 ) ); */
}

DOTAHomePageEventFrostivus2019.FrontPageEventPanel {
	box-shadow: none;
}

.EventHasUnclaimedRewards .FrontPageEventPanel
{
	height: 197px;
}
