DOTACreditsPage
{
	flow-children: down;
}

#CreditsTitle
{
	font-size: 50px;
	font-weight: bold;
	color: white;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 30px;
	horizontal-align: center;
	width: 100%;
	border-bottom: 1px solid #ffffff11;
	border-top: 1px solid #ffffff11;
	padding-top: 7px;
	text-align: center;
}

#CreditsScroller
{
	flow-children: down;
	height: fill-parent-flow( 1.0 );
	width: 100%;
	overflow: squish scroll;
}

.LanguageCredits
{
	width: 100%;
	flow-children: down;
}

.LanguageCreditsTitle
{
	width: 100%;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	font-size: 46px;
	letter-spacing: 4px;
	text-align: center;
	horizontal-align: center;
	margin-bottom: 8px;
}

.CreditsList
{
	flow-children: down;
	horizontal-align: center;
	margin-bottom: 20px;
}

.Credit, #SpecialThanks
{
	flow-children: down;
	margin-bottom: 40px;
	horizontal-align: center;
	width: 800px;
}

.CreditName, #SpecialThanksTitle
{
	color: white;
	font-size: 36px;
	text-transform: uppercase;
	horizontal-align: center;
	text-align: center;
}

.CreditExtra, #SpecialThanksText
{
	font-size: 24px;
	horizontal-align: center;
	text-align: center;
}

.CreditHeroes
{
	flow-children: down;
	horizontal-align: center;
}

.CreditHeroesRow
{
	flow-children: right;
	horizontal-align: center;
}

.CreditHeroesRow DOTAHeroImage
{
	margin: 4px;
	tooltip-position: right;
	tooltip-body-position: 50%;
	box-shadow: #00000099 -3px -3px 6px 6px;

	transition-property: box-shadow;
	transition-duration: 0.2s;
}

.CreditHeroesRow DOTAHeroImage:hover
{
	box-shadow: #00ffff99 -3px -3px 6px 6px;
}