
#Frostivus2017Container
{
	horizontal-align: right;
	height: 700px;
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

.CustomEvent_Frostivus2017 #Frostivus2017Container
{
	visibility: visible;
}

.FrostivusResultTable
{
	flow-children: right;
	margin-top: 60px;
	padding-left: 100px;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.FrostivusResultColumn
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

.Frostivus2017PlayerRows
{
	flow-children: down;
	width: 100%;
}

.Frostivus2017PlayerRowLegendContainer
{
	flow-children: right;
	vertical-align: bottom;
	flow-children: right;
}

.Frostivus2017PlayerRowLegendContainer Label
{
	text-transform: uppercase;
	font-size: 21px;
	color: #ccc;
	letter-spacing: 1px;
	margin-bottom: 4px;
}

.Frostivus2017PlayerRowContainer
{
	height: 60px;
	padding-left: 20px;
	flow-children: right;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #000000;
	opacity: 0.8;
	margin-bottom: 10px;
}


.Frostivus2017RankColumn
{
	width: 60px;
}

.Frostivus2017PlayerRank
{
	color: #444;
	font-size: 36px;
	vertical-align: center;
	margin-top: 5px;
	text-align: left;
}

.Rank1 .Frostivus2017PlayerRank
{
	color: #FFD700;
}

.Rank2 .Frostivus2017PlayerRank
{
	color: #c0c0c0;
}

.Rank3 .Frostivus2017PlayerRank
{
	color: #cd7f32;
}

.Frostivus2017PlayerColumn
{
	width: 212px;
}

.Frostivus2017ScoreColumn
{
	width: 84px;
}

.Frostivus2017PlayerScore
{
	color: baseText;
	font-size: 32px;
	vertical-align: center;
	margin-top: 5px;
	text-align: right;
	padding-right: 16px;
	letter-spacing: 2px;
}


.Frostivus2017PlayerRowContainer #PlayerNameScoreboard
{
	vertical-align: center;
	margin-left: 4px;
	margin-top: 10px;
}

.Frostivus2017PlayerRowContainer #PlayerNameScoreboard Label
{
	font-size: 24px;
	padding-left: 12px;
}

.playerTitle
{
	text-align: left;
	padding-left: 28px;
}

.scoreTitle
{
	text-align: right;
	margin-left: 24px;
}

.FrostivusHeader
{
	text-align: center;
	width: 100%;
	margin-top: 60px;
	font-size: 80px;
	text-transform: uppercase;
	font-family: titleFont;
	letter-spacing: 4px;
	color: white;
	text-shadow: 1px 1px 3px 3.0 #00000040;

}
