DOTAGameItemsPage
{
	width: 100%;
	height: 100%;

	margin-top: 150px;
}

.ColumnTitle
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	color: #ccc;
	margin-bottom: 4px;
}

#PageContents
{
	horizontal-align: center;
	flow-children: right;
}

#ItemQuickSearch
{
	margin-bottom: 200px;
}

#ItemControls
{
	flow-children: down;
	width: 350px;
	margin-left: 10px;
}

.AspectRatio4x3 #ItemControls
{
	width: 300px;
}

#Minimap
{
	width: 100%;
	height: width-percentage( 94.4% );

	background-image: url("s2r://panorama/images/minimap/dotamap_psd.vtex");
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
    margin-bottom: 12px;
}

.MinimapShopIcon
{
	width: 32px;
	height: 32px;

	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;

    brightness: 0.8;
	opacity: 0.0;
    background-color: #000000dd;
    border-radius: 50%;

	transition-property: opacity, brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.MainShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_main_psd.vtex");
}
.SecretShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_secret_psd.vtex");
}
.SideShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_side_psd.vtex");
}

#RadiantMainShopMinimapIcon
{
	x: 3%;
	y: 87%;
}
#DireMainShopMinimapIcon
{
	x: 88%;
	y: 3%;
}
#RadiantSecretShopMinimapIcon
{
	x: 17%;
	y: 35%;
}
#DireSecretShopMinimapIcon
{
	x: 70%;
	y: 56%;
}
#RadiantSideShopMinimapIcon
{
	x: 88%;
	y: 70%;
}
#DireSideShopMinimapIcon
{
	x: 2%;
	y: 18%;
}

#HighlightShopButtons
{
	flow-children: down;
	horizontal-align: center;
    background-color: #0009;
    width: 100%;
    padding: 8px 8px 4px 8px;
}

.HighlightShopButton
{
	width: 100%;
	padding: 8px;
	margin-bottom: 4px;
}

.HighlightShopButton > .RadioBox
{
	visibility: collapse;
}
.HighlightShopButton > .HighlightShopButtonContents
{
	flow-children: right;
    width: 100%;
}

.HighlightShopButton Label
{
	margin-top: 2px;
	margin-left: 3px;
	padding: 0px;
	vertical-align: middle;
	text-transform: uppercase;
    horizontal-align: center;
    width: 100%;
    margin-right: 32px;
}

.HighlightShopButton .HighlightShopIcon
{
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    vertical-align: middle;
    horizontal-align: left;
    brightness: 0.5;
    background-color: #161718dd;
    border-radius: 50%;
}

.SelectedMainShop #HighlightMainShopButton .HighlightShopIcon,
.SelectedSideShop #HighlightSideShopButton .HighlightShopIcon,
.SelectedSecretShop #HighlightSecretShopButton .HighlightShopIcon
{
	brightness: 1.5;
    background-color: #161718;
}

.HighlightShopButton:hover
{
	brightness: 1.5;
}
.HighlightShopButton:active
{
	brightness: 1.5;
}

.SelectedNoneShop #HighlightAllShopButton,
.SelectedMainShop #HighlightMainShopButton,
.SelectedSideShop #HighlightSideShopButton,
.SelectedSecretShop #HighlightSecretShopButton
{
	background-color: #7a8b99;
}

#HighlightAllShopButton .HighlightShopIcon
{
    opacity: 0;
}

.SelectedMainShop #Minimap .MainShopIcon,
.SelectedSideShop #Minimap .SideShopIcon,
.SelectedSecretShop #Minimap .SecretShopIcon
{
	opacity: 1.0;
}

.SelectedNoneShop #Minimap .MinimapShopIcon
{
	opacity: 1.0;
}


.SelectedItemAvailableAtMainShop #Minimap .MainShopIcon,
.SelectedItemAvailableAtSecretShop #Minimap .SecretShopIcon,
.SelectedItemAvailableAtSideShop #Minimap .SideShopIcon
{
	brightness: 1.5;
	pre-transform-scale2d: 1.0;
}

#GameItemTable
{
	margin-left: 32px;
}
/* ------------------------------------------------------------------------- */

#ItemDetails
{
	width: 350px;

	flow-children: down;
}

.AspectRatio4x3 #ItemDetails
{
	width: 300px;
}

#ItemDetailsContents
{
	flow-children: down;

	width: 100%;
	height: 749px;

	padding: 10px;

	background-color: #0009;
}

.Frostivus2017 #ItemDetailsContents
{
	background-color: #001133ee;
}

#ItemAvailability
{
	flow-children: down;
	width: 100%;
}

.ItemAvailabilityRow
{
	flow-children: right;
	visibility: collapse;
}

.ItemAvailabilityIcon
{
	width: 30px;
	height: 30px;

	wash-color: #ccc;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ItemAvailabilityRow > Label
{
	vertical-align: middle;
	margin-top: 4px;
	color: #ccc;
	margin-left: 3px;
}

.SelectedItemAvailableAtMainShop #ItemAvailibilityMainShop,
.SelectedItemAvailableAtSideShop #ItemAvailibilitySideShop,
.SelectedItemAvailableAtSecretShop #ItemAvailibilitySecretShop
{
	visibility: visible;
}

#ItemCombines
{
	width: 100%;
	height: 200px;

	transition-property: position;
	transition-duration: 0.2s;
}
