/* 
	Various classes set on this page include
*/

DOTAPageHeroCustomizeItemListBySlot
{
	width: 100%;
 	flow-children: down;
	margin-bottom: 20px;
}

.SlotName 
{
    font-size: 16px;
	margin-top: 3px;
	margin-left: 5px;
	margin-bottom: -3px;
	text-transform: uppercase;
}

#PerSlotItemList
{
	width: 660px;	/* Hack - squish scroll doesn't work with width: 100%; */
	flow-children: right-wrap;
}