DOTAProfileTeammateStatsPage
{
	width: 100%;
	height: 100%;
}

#UserRichPresence
{
    margin-top: -6px;
}

/*
#TeammateStats
{
	width: 100%;
	visibility: visible;
	flow-children: down;
    background-color: #000000f4;
    margin-top: 8px;
}
*/

#FrostedContainer,
#TeammateStats
{
	flow-children: down;
	width: 1392px;
	height: 100%;
	horizontal-align: center;

	padding: 10px 0px 10px 0px;
}


#FrostedContainer
{
	margin-top: 154px;
	background-color: black;
	padding: 0px;
	height: 690px;
}

#FrostedContainer.NoBackgroundSelected
{
	background-color: #000c;
}

#UserProfileBackgroundFrosted
{
	background-size: 138% 166%;
	background-position: 50% 69.5%;
	box-shadow: fill #0008 -16px -16px 32px 32px;
}

.AspectRatio21x9 #UserProfileBackgroundFrosted
{
	background-size: 180.5% 159%;
}

.AspectRatio16x10 #UserProfileBackgroundFrosted
{
	background-size: 124.5% 166%;
}

.AspectRatio4x3 #UserProfileBackgroundFrosted
{
	background-size: 103.5% 166%;
}

.TopGradient
{
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000f ), color-stop( 0.1, #000a ), color-stop( 0.3, #0000 ), color-stop( 0.7, #0000 ), color-stop( 0.85, #0004 ), to( #000c ) );
}




#TeammateStats.Loading .LoadingSpinnerPanel
{
	visibility: visible;
}

.TeammateStatsHeader
{
	width: 100%;
	flow-children: right;
	padding-left: 20px;
	background-color: #000a;
}

.TeammateStatsHeader .SortDirectionArrow
{
	margin-left: 0px;
	margin-top: 8px;
	width: 16px;
	height: 16px;
}

.TeammateStatsHeader Label
{
	font-size: 18px;
	vertical-align: middle;
	margin-top: 13px;
	margin-bottom: 6px;
	color: #768e8d;
	text-transform: uppercase;
	letter-spacing: 1px;
	horizontal-align: right;
}

.TeammateStatsHeader DOTASortHeader:hover Label
{
	color: #b6cecd;
}

.TeammateStatsHeader .MostRecentMatch Label
{
	horizontal-align: right;
	margin-right: 24px;
}

.TeammateStatsHeader .MostRecentMatch .SortDirectionArrow
{
	horizontal-align: right;
	margin-right: 6px;
}

#TeammateStats Label.Teammate
{
	width: 286px;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 9px;
	
}

#TeammateStats .TeammateStatsHeader .Teammate
{
	width: 320px;
	
}

#TeammateStats .GamesCount
{
	width: 180px;
	text-align: left;
}

#TeammateStats .TeammateStatsRow .GamesCount
{
	margin-lefT: 6px;
}

#TeammateStats .TeammateStatsRow .GamesCount
{
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	padding-right: 14px;
}

#TeammateStats .TeammateStatsHeader .WinsLosses
{
	padding-right: 5px;
	width: 150px;
}

#TeammateStats Label.WinsLosses
{
	width: 70px;
	width: 120px;
	text-align: left;
	padding-right: 17px;
	margin-right: 10px;
	margin-left: 4px;
	
}

#TeammateStats .TeammateStatsRow .WinsLosses
{
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}

#TeammateStats .WinsLosses i
{
	font-style: normal;
	color: #d84535ff;
}

#TeammateStats .PositiveWinsLosses .WinsLosses i
{
	font-style: normal;
	color: #74b14aff;
}

#TeammateStats .TeammateStatsHeader .WinRate
{
	width: 170px;
	margin-right: 5px;

}

#TeammateStats .TeammateStatsRow Label.WinRate
{
	width: 185px;
	text-align: left;
	padding-right: 31px;
	padding-left: 15px;
	
}

#TeammateStats .TeammateStatsHeader .Rating
{
	width: 230px;
	text-align: center;
	margin-right: 30px;
	
}

#TeammateStats .TeammateStatsRow #RatingProgressBar
{
	width: 240px;
	vertical-align: middle;
	height: 16px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-radius: 0px;
	border-color: #3B5D6B33;
	margin-bottom: 2px;
}

#TeammateStats .TeammateStatsRow #RatingProgressBar_Left
{
	background-color: #3B5D6B;
	box-shadow: none;
	border-radius: 0px;
}

#TeammateStats .TeammateStatsHeader .MostRecentMatch
{
	padding-right: 10px;
	width: 230px;
	flow-children: none;
}

#TeammateStats Label.MostRecentMatch
{
	width: 235px;
	text-align: right;
	
}

#TeammateStats VerticalScrollBar
{
	background-color: #000000;
}

#TeammateStats VerticalScrollBar:active .ScrollThumb
{
	background-color: #566767;
}

#TeammateStats VerticalScrollBar .ScrollThumb
{
	background-color: #566767;
	border: 0px solid #000;
	border-top: 1px solid #aaaaaa22;
	border-right: 1px solid #000000aa;
}


#TeammateStats .TeammateStatsRow Label.MostRecentMatch
{
	color: #b4c5c4;
	font-weight: thinner;
}

#TeammateStats .TeammateStatsRow Label.MostRecentMatch:hover
{
	color: #ffffff;
}

#TeammateStatsTable
{
	flow-children: down;
	overflow: clip scroll;
	width: 100%;
    height: 636px;
}

.TeammateStatsRow
{
	width: 100%;
	flow-children: right;
	padding-left: 20px;
	padding-right: 20px;
}

.TeammateStatsRow Label
{
	font-size: 18px;
	vertical-align: middle;
	color: #BBBBBB;
}

.TeammateStatsRow.Odd
{
	background-color: #48575e27;
}

.TeammateStatsRow DOTAAvatarImage
{
	height: 29px;
	width: 29px;
	margin-top: 7px;
	margin-bottom: 7px;
}

#ManageTeammatesContainer
{
    horizontal-align: right;
    flow-children: right;
	height: 60px;
	margin-top: 3px;
	margin-right: 8px;
	padding: 12px 16px;
}

#ManageTeammatesContainer:hover
{
	background-color: #31313144;
	brightness: 2;
}

#ManageAvoidPlayers
{
	font-size: 18px;
	vertical-align: middle;
	margin-left: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #596A73;
}

#ManageAvoidedPlayers
{
    height: 100%;
    width: height-percentage(100%);

    background-image: url("s2r://panorama/images/conduct/avoid_icon_png.vtex"); /* replace with avoid player icon */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transition-property: wash-color, pre-transform-scale2d;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    pre-transform-scale2d: 0.95;
}

#ManageAvoidedPlayers:hover
{
    pre-transform-scale2d: 1;
    wash-color: #dd3c1c;
}

