.DOTATrophiesPage
{
	width: 100%;
	height: 100%;
}

.HiddenTrophy
{
	visibility: collapse;
}

.TopLevel
{
	height: 770px;
	width: 1392px;
	margin-top: 48px;
	horizontal-align: center;
	vertical-align: center;
	background-size: 100% 100%;
	flow-children: none;
	box-shadow: fill #0008 -16px -16px 32px 32px;
}

#Header
{
	height: 81px;
	background-color: black;
	width: 1392px;
}

#UserRichPresence
{
	margin-top: -6px;
}

#UserRichPresence.ProfileUserRichPresence Label
{
	margin-top: -2px;
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 16px;
	brightness: 0.8;
}

#BattleCupVictoryIcon
{
	margin-top: 14px;
}

#BottomSection {
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	vertical-align:bottom;
	height: 690px;
	flow-children: down;
}

#AvatarImage
{
	box-shadow: black -1px -1px 2px 2px;
	vertical-align: middle;
	margin: 8px;
	margin-right: 1px;
	width: 64px;
	height: 64px;
}
#ProfileName
{
	width: fit-children;
	margin-left: 9px;
	margin-top: 9px;
	white-space: nowrap;
}

#ProfileName Label
{
	max-width: 450px;
	font-size: 36px;
	font-weight: normal;
	white-space: nowrap;
}

#PlayerRank
{
	margin-top: -15px;
	margin-left: 5px;
	horizontal-align: center;
	z-index:500;
}

DOTATrophiesPage #ProfileBadge
{
	ui-scale: 241.6%;
	margin-top: -60px;
	margin-left: -1px;
	visibility: collapse;
}

#ProfileBadgeBG
{
	height:230px;
	width:230px;
	background-image: url("s2r://panorama/images/profile_badges/badge_bg_png.vtex");
	z-index:499;
	margin-left: 3px;
	horizontal-align: center;
	margin-top: -76px;
	background-size: contain;
}
DOTATrophiesPage.HadBadgeData #ProfileBadge
{
	visibility: visible;
}

#TrophyCount
{
	margin-left: 1200px;
	margin-top: 32px;
	height: 164px;
}

#TrophyCount #TrophyCountText
{
	font-size: 50px;
	height: 50px;
	margin-top: 36px;
	horizontal-align: center;
}

#TrophyCount #TrophyCountTitle
{
	vertical-align: bottom;
	horizontal-align: center;
	font-size: 20px;
}


#TrophySubHeader
{
	margin-top: 90px;
	width: 100%;
	margin-bottom:6px;
}

#LevelProgress
{
	horizontal-align: center;
	box-shadow: inset #1f2020 2px 2px 4px 4px;
	background-color: #464748;
	border: 1px solid #3d4746;
	height: 32px;
	padding: 4px;
	width: 420px;
	margin-top: -2px;
}

#LevelProgress .ProgressBarLeft
{
	background-color: dotalevelgradient;
	box-shadow: #61789Caa -2px -2px 4px 4px;
	
	border-radius: 2px;

	transition-property: width;
	transition-duration: 1.0s;
	transition-timing-function: linear;
}

#LevelProgress Label
{
	horizontal-align: center;
	vertical-align: center;
	font-weight: bold;
	font-size: 16px;
	color: black;
	text-shadow: 0px 0px 8px 1.0 #C1CEEA88;
	margin-top: 2px;
}

.SelfOnly
{
	visibility: collapse;
}

.OwnTrophies .SelfOnly
{
	visibility: visible;
}

#TrophyListingContainer
{
	height: fill-parent-flow( 1.0 );
	width: 100%;
	flow-children: down;
	margin-top: 5px;
}

.TrophyDisplay
{
	border: 1px solid #00000088;
	height: width-percentage( 100% );
	width: 256px;
	margin: 8px 8px;
	background-color: #44444411;
	box-shadow: #00000044 -4px -4px 8px 8px;
}

.HasTrophy.TrophyDisplay:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #7d8f9322 ), to( #7d8f9300 ) );
}
.HasTrophy {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #7d8f9311 ), to( #7d8f9300 ) );
}

.TrophyDisplay DOTATrophyImage
{
	margin-top: 30px;
	horizontal-align: center;
	width: 120px;
	height: 120px;
}

.TrophyDisplay #TrophyLabels
{
	width: 100%;
	flow-children: down;
	margin-top: 160px;
}

.TrophyDisplay #Title
{
	width: 80%;
	horizontal-align: center;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	color: white;
	font-size: 16px;
	font-weight: normal;
}

.TrophyDisplay #Score
{
	width: 100%;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 16px;
	color: #556665FF;
	visibility: collapse;
}

.HasTrophy.TrophyDisplay #Score
{
	visibility: visible;
}

.TrophyDisplay #XP
{
	font-size: 16px;
	font-weight: bold;
	color: black;

	background-color: dotalevelgradient;
	box-shadow: #61789C66 -2px -2px 4px 4px;
	border-radius: 4px;

	horizontal-align: center;
	margin-left: 0px;
	margin-top: 4px;
	padding: 3px 4px 0px 6px;
	visibility: collapse;
}

.HasTrophy.TrophyDisplay #XP
{
	visibility: visible;
}

.TrophyDisplay #Progress
{
	width: 100%;
	height: 16px;
	vertical-align: bottom;
	border: 1px;
	box-shadow: inset #1f2020CC 2px 2px 4px 4px;
	visibility: collapse;
}

.HasTrophy.TrophyDisplay #Progress
{
	visibility: visible;
}

#Progress .ProgressBarLeft
{
	background-color: dotaplaytimegradient;
}

#Progress .ProgressBarRight
{
	background-color: #3F4041;
}

.TrophyDisplay #Locked
{
	width: 28px;
	height: 28px;
	margin-left: 8px;
	margin-top: 8px;
	background-image: url("s2r://panorama/images/profile/icon_locked_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	wash-color: #5d6e6d;
}

#FilterControls
{
	flow-children: right;
	margin-left: 24px;
}

.FilterLabel
{
	vertical-align: middle;
	margin-right: 8px;
	text-transform: uppercase;
	color: #a0a9a6;
}

.LeftRightFiller
{
	width: fill-parent-flow( 1.0 );
}

#PaginationControls
{
	horizontal-align: right;
	vertical-align: middle;
	margin-right: 20px;
}

/* Carousel Styles */
#TrophiesCarousel
{
	margin-left: 16px;
	margin-top: 5px;
	width: 1400px;
	height: 544px;
	flow-children: right;
	opacity: 0.99;
}

/* Referenced from code */
@define trophiesPerCarouselItem: 10;

.CarouselItem
{
	flow-children: right-wrap;
	overflow: clip;
	width: 1500px;
	transition-property: position, opacity;
	transition-duration: 0.3s;
}

.CarouselItem.Offscreen
{
	opacity: 0.0;
}


.TrophiesTabOption
{
	vertical-align: bottom;
}

.TrophiesTabOption .RadioBox
{
	visibility: collapse;
}

.TrophiesTabOption Label
{
	font-size: 18px;
	color: #8e9795;
	text-transform: uppercase;
	margin-left: 0px;
	letter-spacing: 2px;
}

.TrophiesTabOption:hover Label
{
	color: white;
}

.TrophiesTabOption:selected Label
{
	color: white;
}

.TrophiesTabOptionSeparator
{
	margin: 0px 10px;
	font-size: 20px;
	color: #8e9795;
	vertical-align: bottom;
}

#InfoIcon
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/status_icons/information_psd.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 916px;
	margin-bottom: 3px;
	tooltip-position: right;
	tooltip-body-position: 50% 10%;
	wash-color: #888888;
	vertical-align: middle;
}

.TrophyPointTextSmall {
	font-size:14px;
}

#BadgesInfoIcon
{
	width: 25px;
	height: 25px;
	background-image: url("s2r://panorama/images/icon_info_png.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-left: -4px;
	margin-right: -2px;
	vertical-align: center;
	tooltip-position: right;
	tooltip-body-position: 50% 10%;
}

#AboutBadgesButton
{
	flow-children: right;
	horizontal-align: right;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3d3d3e ), to( #262626 ));

	padding-left: 20px;
	padding-right: 16px;
	padding-top: 3px;
	padding-bottom: 2px;
	margin-right: 11px;
	margin-top: 12px;
}

#AboutBadgesButton:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5f6663 ), to( #b4c2c1 ));
}
#AboutBadgesButton Label {
	color: #beb7b4;
	margin-left: 6px;
	margin-top: 2px;
}

#AboutBadgesButton:hover Label {
	color: #ffffff;
}


#RankTier, #RankPips
{
	margin: 0;
	margin-right: 1px;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: 50% 50%;
}

.RankTier0 #RankTier.RankTierImage
{
	background-size: 150%;
}

#RankTier:hover, #RankPips:hover
{
}


#ProfileRankTierContainer
{
	width: height-percentage( 100% );
	height: 70px;
	background-size: 100%;
	z-index: 2;
	margin-left: 8px;
	margin-top: 4px;
}


.HideRankTier #ProfileRankTierContainer
{
	visibility: collapse;
}

#ProfileRankTierContainer #BackgroundFX, #ProfileRankTierContainer #EliteFX
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}


#ProfileRankTierContainer #RankLeaderboard
{
	color: #F7E5c3;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	text-shadow: 2px 2px #00000080;
	horizontal-align: center;
	vertical-align: bottom;
	
	background-color: #00000060;
	width: 100%;
	visibility: collapse;
}

.HasLeaderboardRank #ProfileRankTierContainer #RankLeaderboard
{
	visibility: visible;
}

.HeaderNameContainer
{
	padding-left: 78px;
}


//-------------------- NEW PROFILE

.UserCustomBackground
{
	width: 100%;
	height: 100%;

	background-size: 100% 1080px;
	background-repeat: no-repeat;
}

#UserProfileBackgroundFrosted
{
	blur: gaussian ( 24 );
	saturation: .7;
	contrast: 0.95;
	brightness: 0.2;
	background-size: 100% 1080px;
	background-position: 0px 50%;
	opacity: .6;
}

.FrostedContainer
{
	height: 540px;
	width: 100%;
	vertical-align: middle;
	margin-bottom: 24px;
	border-top: 1px solid #ffffff10;
	border-bottom: 1px solid #0004;
	background-color: #000;
}

.TopGradient
{
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000f ), color-stop( 0.1, #000a ), color-stop( 0.3, #0000 ), color-stop( 0.7, #0000 ), color-stop( 0.85, #0004 ), to( #000c ) );
}
