.SubpageRoot
{
	height: 100%; 
    width: 100%;
    margin-top: 36px;
    margin-right: 96px;
    flow-children: down;
	vertical-align: bottom;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2D2E30 ),  to( #202529 ) );
	box-shadow: #000000aa -6px -6px 12px 12px;
 	border: 2px solid black;
}

.Empty
{
	visibility: collapse;
}

.MainBox
{
	width: 100%;
	height: 100%;
	flow-children: down;
	horizontal-align: center;
}


#Body
{
	width: 100%;
	height: 100%;
}

.BodyBox
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#ItemHeader
{
    width: 100%;
    flow-children: down;
}

/* TitleBar contains the econ item name */
.TitleBar
{
    width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 50%, from( #2b2e2fee ), to( #2b2e2f ) );
}

#Title
{
    font-size: 32px;
    font-weight: bold;
	color: white;            
    width: 525px;
	vertical-align: center;
}
 
.TitleContainer
{
    flow-children: right;
    width: 100%;
    height: fit-children;
	vertical-align: center;
}

.TitleSpacer
{
    width: fill-parent-flow(1.0);
}

/* Related to displaying brand logo */
.BrandPanel
{           
    width: fit-children;
    height: 100%;
    flow-children: right;
	horizontal-align: right;
    visibility: collapse;
}

.SubpageRoot.HasBrand .BrandPanel
{
    visibility: visible;
}

/* Used to display the brand logo and name */
#EconBrandIcon
{
    width: 76px; //height-percentage( 100% ) we should be using height-percentage here, but a but prevents it
    height: 100%;
    margin: 16px;
    margin-right: 28px;
    vertical-align: center;
}

.EconBrandName
{
    vertical-align: bottom;
}

/* Close button */
.SubpageRoot .CloseButton
{
	vertical-align: top;
	horizontal-align: right;
	background-color: #000000bb;
	transition-property: background-color;
}

.SubpageRoot .CloseButton:hover
{
	background-color: #000000;
}

/* Color stripe between the econ item name title and the banner details */
#RarityStripe
{
    width: 100%;
	height: 12px;
}

/* The standard banner displaying rarity, release date, and slot */
#Banner
{
    flow-children: right;
	//background-color: gradient( linear, 0% 0%, 80% 50%, from( #191a1cf4 ), to( #191a1c ) );
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	height: 90px;
}

#ItemHeader #HeroIcon
{
	width: height-percentage( 177.77% );
	height: 100%;
}

#BannerText
{
	margin-left: 16px;
	margin-top: 6px;
    flow-children: down;
    width: fill-parent-flow( 1.0 );
}

/* Contains information about the current sub item/set selected */
.CreationDate
{
    visibility: collapse;
}

.SubpageRoot.HasCreationDate .CreationDate
{
    visibility: visible;
}

/* Shows the associated league information */
.LeagueInfo 
{
    width: 300px;
    flow-children: down;
    visibility: collapse;
}

.SubpageRoot.HasLeague .LeagueInfo 
{
    visibility: visible;
}

.LeagueName
{
    color: white;
    font-size: 18px;
    horizontal-align: center;
}

.PrizePoolContainer 
{
    horizontal-align: center;
    flow-children: right;
}

.PrizePool
{
    color: #987E2D;
    vertical-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 4px;
}

.PrizePoolAmount
{
    color: #EEC021;
    vertical-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.PrizePoolContribContainer 
{
    horizontal-align: center;
    flow-children: right;
}

.PrizePoolContribImage
{
    margin-bottom: 3px;
    margin-right: 6px;
    vertical-align: center;
}

.PrizePoolContrib 
{
    color: white;
    vertical-align: center;
    font-size: 14px;
    width: 250px;
}
               
#EconBrandBanner
{
    width: 100%;
    visibility: collapse;
}

.SubpageRoot.HasBrandBanner #EconBrandBanner
{
    visibility: visible;
}

/* Section List formatting */
.SectionList
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
    flow-children: down;
    overflow: squish scroll;
}

.SectionListFooter
{
    margin-top: 8px;
}

/* Generic section formatting */
.Section
{
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
	background-color: #141415;
	border-top: 1px solid #222222;
    flow-children: down;
}

.SectionTitle 
{
    width: 100%;
    margin-left: 6px;
    margin-top: 6px;
}

.SectionTitle Label
{
    text-transform: uppercase;
	color: #cccccc;
}

/* Used to display the description */
.Description
{
    height: fit-children;
    visibility: collapse;
}

.SubpageRoot.HasDescription .Description
{
    visibility: visible;
}

.Description Label
{
    margin: 6px;
	color: #738B8B;
    width: 748px;
    overflow: squish scroll;
}

/* Used to display custom controls defined on the website */
#CustomControls
{
    width: 100%;
    height: fit-children;
	max-height: 1080px;
    visibility: collapse;
}

#CustomControls.HasCustomControls
{
    visibility: visible;
}

/* Used to display all sub pieces of the current item so you can select one to view */
.SubItemSelector
{
    width: 100%;
    height: fit-children;
    flow-children: down;
    visibility: collapse;
}

.SubpageRoot.HasSubItems .SubItemSelector
{
    visibility: visible;
}

/* Scroll controls to select 3d previews */
#StoreScrollControls 
{
	horizontal-align: right;
	margin-bottom: 5px;
}

/* Styles related to the 3D previews */
.CarouselItem
{
	flow-children: right;
	overflow: clip;
	width: 100%;
	transition-property: position, opacity;
	transition-duration: 0.3s;
}

.CarouselItem.Offscreen
{
	opacity: 0.0;
}

#StoreSetList
{
    flow-children: right;
    margin-left: 6px;
	padding-bottom: 0px;
    width: 100%;
	height: 170px;
    vertical-align: top;
}

#StoreSetList .EconItemSetFrame
{
    width: 102px;
}

#StoreSetList .EconItemSetDisplay
{
    width: 68px;
    height: 106px;
}

/* Contains information about the current sub item/set selected */
.Details
{
    width: 100%;
}

/* Bundles/treasures in which this is contained */
.ContainedWithin
{
    visibility: collapse;
}

.SubpageRoot.IsContained .ContainedWithin
{
    visibility: visible;
}

.BundleGroup
{
    width: 100%;
    flow-children: right;
}

#BundleIconList
{
    width: fit-children;
    height: fit-children;
    flow-children: right;
    overflow: scroll squish;
}

.BundleName
{
    font-size: 32px;
    font-weight: bold;
	color: white;            
	vertical-align: center;
    visibility: collapse;
}
 
.SubpageRoot.InSingleContainer .BundleName
{
    visibility: visible;
}

.SubItemsAndAbilities
{
    width: 100%;
    flow-children: right;
}

/* Items In set */
.IndividualItems
{
    visibility: collapse;
}

.SubpageRoot.HasIndividualItems .IndividualItems
{
    visibility: visible;
}

.SubItemsAndAbilities .Section
{
    width: fill-parent-flow(1.0);
}

#ItemIconList
{
    flow-children: right;
    vertical-align: center;
	margin-left: 6px;
    margin-bottom: 6px;
}

#ItemIconList DOTAEconItem
{
    margin-right: 10px;
	margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 0px;

    width: 50px;
    height: 52px;
    /* border: 1px solid black; */

    background-size: 100% 100%;
    background-repeat: no-repeat;

    tooltip-position: bottom;
}

/* Ability icons */
.AbilityIcons
{
    visibility: collapse;
}

.SubpageRoot.HasAbilityIcons .AbilityIcons
{
    visibility: visible;
}

.SubpageRoot.HasAbilityIcons.HasIndividualItems .AbilityIcons
{
    margin-left: 0px;
}

#AbilityIconList
{
    flow-children: right;
    vertical-align: center;
	margin-left: 6px;
    margin-bottom: 6px;
}

DOTAAbilityImage
{
    margin-right: 10px;
	margin-top: 2px;
    width: 50px;
    height: 52px;
    /* border: 1px solid black; */

    saturation: 0;

    background-size: 100% 100%;
    background-repeat: no-repeat;

    tooltip-position: bottom;
}

DOTAAbilityImage.HasModifiedAbilityIcon
{
    saturation: 1;
}

/* Used to display all asset modifiers associated with the current item */
.Details #Modifiers
{
	width: 100%;
	margin-left: 8px;
	margin-right: 8px;
	flow-children: down;
}

.Details .ListedModifier
{
	width: 180px;
	flow-children: right;
	margin-left: 6px;
	margin-top: 3px;
	margin-bottom: 3px;
    overflow: clip scroll;
}

/* Footer at the bottom */
.ItemEditFooter
{
	height: 72px;
	width: 100%;
	background-color: #141415;
	border-top: 1px solid #222222;
    vertical-align: bottom;
}

.FooterButtonContainer
{
	height: fit-children;
	width: fit-children;
    flow-children: right;
    horizontal-align: center;
    vertical-align: center;
}

.FooterButton
{
	vertical-align: middle;
	horizontal-align: center;
	min-width: 300px;
    margin-right: 0px;
    margin-left: 0px;
}

.FooterButton Label
{
	font-size: 22px;
}

.LoadoutButton 
{
    visibility: collapse;
}

.ButtonBevel.LoadoutButton
{
    padding-top: 3px;
    padding-bottom: 2px;
    min-height: 0px;
}

.SubpageRoot.EnableLoadoutButton .LoadoutButton
{
    visibility: visible;
}

.StoreDemoButton
{
    visibility: collapse;
}

.SubpageRoot.EnableDemoButton .StoreDemoButton
{
    visibility: visible;
}

.Spacer
{
	width: 24px;
    height: 4px;
    visibility: collapse;
}

.SubpageRoot.EnableLoadoutButton.EnableDemoButton .Spacer
{
    visibility: visible;
}
