/*
	Various classes set on this page include
	DOTAEconItemPage:
		HeroUnavailable - means we are in the middle of switching a hero or his item set. Isn't set when we switch styles
		HeroPreviewMode - means we are showing a preview of an item we don't own, as opposed to one we do own
		GlobalItem - means we are displaying a global item instead of a hero
*/

.SubpageRoot
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
	transform: translateY( 24px );

}

#HeroOptionsTabs
{
	margin-top: 13px;
	margin-bottom: 8px;
	width: 500px;
	flow-children: right;
	margin-left: 6px;
}

/* Hide hero options when displaying a global item like a courier */
.DOTAEconItemPage.GlobalItem #HeroOptionsTabs
{
	visibility: collapse;
}

.HeroOptionsTab
{
	vertical-align: bottom;
}

.HeroOptionsTab .RadioBox
{
	visibility: collapse;
}

.HeroOptionsTab Label
{
	font-size: 19px;
	letter-spacing: 1px;
	color: #8e9795;
	text-transform: uppercase;
	margin-left: 0px;
	font-weight: thinner;

}

.HeroOptionsTab:hover Label
{
	color: white;
}

.HeroOptionsTab:selected Label
{
	color: white;
}

.HeroOptionsTab:disabled Label
{
	color: #aaaaaa11;
}

.HeroOptionsTab:disabled:hover Label
{
	color: #aaaaaa11;
}

.HeroOptionsTabWithViolatorContainer
{
	flow-children: down;

}

.HeroOptionsTabSeparator
{
	margin: 0px 19px;
	font-size: 19px;
	color: #8e9795;
	vertical-align: bottom;
}

#HeroOptionsTabContents
{
	width: 100%;
}

.HeroOptionsTabContent
{
	width: 100%;
	visibility: collapse;
}

.HeroOptionsTabContent.TabVisible
{
	visibility: visible;
}

#HeroOptionsTabSets
{
	flow-children: down;
}

#HeroStatsViolator
{
	vertical-align: bottom;
	margin-bottom: 1px;
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: 0.50s;
	transition-timing-function: ease-in-out;
	background-color: #C1272D;
}

#HeroStatsViolator Label
{
	font-size: 12px;
	color: white;
	letter-spacing: 1px;
	padding-left: 4px;
}

#HeroStatsViolator.Acknowledged
{
	visibility: collapse;
}

/* Controls related to shuffle control */
#GlobalItemShuffleGroup
{
	margin-top: 36px;
	width: 720px;
	flow-children: down;
	background-color: #000000A3;
	margin-bottom: 12px;
	padding: 12px;
	visibility: collapse;
}

/* Hide hero options when displaying a global item like a courier */
.DOTAEconItemPage.GlobalItem #GlobalItemShuffleGroup
{
	visibility: visible;
}

.ShuffleContainer
{
	width: 100%;
}

.HeroShuffleCount
{
	margin-left: 6px;
	text-transform: uppercase;
	vertical-align: center;
	margin-right: 20px;
	font-size: 18px;
	color: #b6e3df;
}

#ShuffleControls
{
	margin-top: 2px;
	width: fit-children;
	flow-children: right;
	horizontal-align: right;
	margin-bottom: 4px;
}

.ShuffleButton
{
	/* border: 1px solid black; */
	padding: 4px 5px 2px 5px;
	margin-bottom: 2px;
	margin-left: 8px;
	vertical-align: bottom;
	//horizontal-align: right;
	/* margin-left: 20px; */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #406a9f ), to( #3c608c44 ) );

	box-shadow: fill #002a6644 -4px -4px 8px 9px;

	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;

	transition-property: background-color;
	transition-duration: .2s;

	wash-color: #99999922;
}

.ShuffleButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #80c2ff ), to( #67aeff44 ));
}

.ShuffleButton:active
{
	wash-color: #ffffff;
}

.ShuffleButton Label
{
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #d5d7d7;
	vertical-align: middle;
}

.ShuffleButton:hover Label
{
	color: white;
}

#ItemsInShuffle
{
	height: 128px;
	width: 100%;
	flow-children: right;
	overflow: scroll;
}

#HorizontalRule
{
	width:82%;
	margin-top:-2px;
	height:1px;
	background-color:#6c7371;
	/*background-color: gradient( linear, 0% 0%, 100% 0%, from( #AACCFF44 ), to( #AACCFF00 ) );*/
}

#HeroOptions
{
	flow-children: down;
	//margin-left: 8px;
	margin-top: 0px;
	height: 595px;
	width: 100%;
}

.DOTAEconItemPage.GlobalItem #HeroOptions
{
	height: 552px;
}

#EquippedItemGroupFilter
{
	flow-children: right;
	margin-top: 3px;
	margin-bottom: 6px;
	margin-left: 4px;
	height: 32px;
	vertical-align: center;
}

.DOTAEconItemPage.GlobalItem #EquippedItemGroupFilter
{
	visibility: collapse;
}

#EquippedItemGroupFilter RadioButton
{
	vertical-align: center;
	margin-right: 6px;
	border: 1px solid #51686f;
	padding-top: 4px;
	padding-bottom: 1px;
	padding-left: 14px;
	padding-right: 12px;
}

#EquippedItemGroupFilter .RadioBox
{
	width: 0px;
	height: 0px;
	min-width: 0px;
	min-height: 0px;
}

#EquippedItemGroupFilter Label
{
	text-transform: uppercase;
	margin-left: 0px;
	margin-right: 0px;
}

#EquippedItemGroupFilter RadioButton:selected
{
	background-color: #51686f;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.HeroSetCategory
{
	flow-children: down;
	margin-top: 0px;
	width: 100%;

}

.HeroSetEquipped
{
	flow-children: down;
	width: 156px;
	margin-right: -10px;
	//margin-top: -8px;
	pre-transform-scale2d: .95;
	transition-property: pre-transform-scale2d;
	transition-duration: .1s;
}

.HeroSetEquipped:hover
{
	pre-transform-scale2d: 1.0;
}

/* We can multi-equip global items for cycling; don't call out single equipped item */
.DOTAEconItemPage.GlobalItem .HeroSetEquipped
{
	visibility: collapse;
}

.HeroSetOwned
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
	//margin-left: -5px;
}

.HeroSetOwnedHeader
{
	//width: 130px;
	width: 100%;
	//background-color: #00000040;
	//margin-right: 5px;
	margin-bottom: -9px;
	margin-top: 2px;
}

.HeroSetEquipped .HeroSetOwnedHeader
{
	z-index: 1002;
	//margin-right: 14px;
	//margin-left: 6px;
	//background-color: #b6e3df;
	background-color: #9cc2bf;
	margin-bottom: -3px;
	margin-top: 0px;
	width: 136px;

}

.HeroSetEquipped:hover .HeroSetOwnedHeader
{
	z-index: 1002;
	//margin-right: 14px;
	//margin-left: 6px;
	background-color: #b3dfdc;
	//background-color: #9cc2bf;
	margin-bottom: -3px;
	margin-top: 0px;
	width: 136px;

}


.HeroSetCategoryHeader
{
	width: 720px;
	margin-bottom: -9px;
}

.HeroSetCategory.Available .HeroSetCategoryHeader
{
	//background-color: #00000040;
	margin-right: 20px;
	//margin-bottom: -9px;
}

.HeroSetCategory.Available
{
	transform: translateY( -7px );
	flow-children: down;
	//margin-top: -16px;
	//margin-left: -5px;
}

.DisableAvailableItems .HeroSetCategory.Available
{
	visibility: collapse;
}

.HeroSetCategoryTitle
{
	font-size: 16px;
	margin-left: 4px;
	margin-top: 7px;
	text-transform: uppercase;
	color: #b6e3df;
	vertical-align: center;
}

.HeroSetEquipped .HeroSetCategoryTitle
{
	font-size: 17px;
	font-weight: bold;
	margin-left: 6px;
	margin-top: 3px;
	text-transform: uppercase;
	color: #272f30;
	vertical-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
}


.HeroSetList
{
	flow-children: right;
	padding-bottom: 0px;
	height: 249px;
	vertical-align: top;
}

#OwnedSetList
{
	flow-children: right;
	width: 800px;
	//margin-left: -5px;
}

#AvailableSetList
{
	flow-children: right;
	width: 730px;
	//margin-left: -5px;
}

.CarouselItem
{
	flow-children: right;
	overflow: clip;
	width: 100%;
	transition-property: position, opacity;
	transition-duration: 0.3s;
}

.CarouselItem.Offscreen
{
	opacity: 0.0;
}

#AvailableSetList.HideMarketplaceItems .HeroSetFrame.OnMarket
{
	visibility: collapse;
}

.ScrollControls
{
	horizontal-align: right;
	margin-bottom: 5px;
}

/* What to display when the econ item set is empty. Default = Available */
.EmptyEconItemSet
{
	//visibility: collapse;
	width: 136px;
	height: 240px;
	//border: 1px solid white;
	margin-right: 10px;
	margin-top: 6px;
	pre-transform-scale2d: .95;
	background-color: #000000;
	opacity: 0.2;
}



/* What to display when the econ item set is empty, for owned preview */
.EmptyEconItemSet.Owned
{
	margin-top: 5px;
	height: 212px;

}

#AvailableSetList.HideMarketplaceItems .EmptyEconItemSet.OnMarket
{
	visibility: visible;
}

/* About Tab */
#HeroOptionsTabAbout
{
	flow-children: down;
}

.HeroDescription
{
	flow-children: down;
	width: 100%;
	margin: 20px 154px 3px 3px;
}

.HeroDescriptionHeader
{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	color: white;
	margin-top: 20px;
}

.HeroDescriptionText
{
	margin-bottom: 10px;
	padding-right: 10px;
	overflow: squish scroll;

	/* Hardcode the width so that the text flowing works correctly */
	width: 715px;
}
.AspectRatio4x3 .HeroDescriptionText
{
	width: 610px;
}

#HeroLore
{
	padding-bottom: 20px;
}

#HeroRoleDetails
{
	width: 100%;
	margin: 0px 80px 0px 40px;
}

#HeroOptionsTabGuides Label
{
	margin-top: 5px;
	margin-left: 44px;
}

#HeroOptionsTabStats
{
	flow-children: down;
	padding-left: 2px;
}

.HeroStatsRow
{
	flow-children: right;
	margin-bottom: 8px;
}

.GraphRow.HeroStatsRow
{
	margin-bottom: 0px;
}


.HeroStatsLeftBlock, .HeroStatsRightBlock, .HeroStatsFullBlock
{
	flow-children: down;
}

.HeroStatsLeftBlock
{
	width: 384px;
	height: 80px;
	margin-right: 8px;
}

.HeroStatsRightBlock
{
	width: 396px;
	height: 80px;
}

.ShortProfileStats .HeroStatsRightBlock,
.ShortProfileStats .HeroStatsLeftBlock
{
	height: 66px;
}

.HeroStatsFullBlock
{
	width: 788px;
	height: 280px;
	background-color: #000000EF;
}

.Block4Wide, .Block5Wide, .BlockStatAndProgress, .Block3Wide
{
	flow-children: right;
}

.BlockHeader
{
	horizontal-align: center;
	text-transform: uppercase;
	color: #ffffff44;
	font-size: 14px;
	letter-spacing: 1px;
	padding-top: 2px;
	padding-bottom: 0px;
}

.BlockHeaderEmpty
{
	height: 21px;
}

.ShortProfileStats .BlockHeaderEmpty
{
	height: 8px;
}

.HeroStatsSimpleStat
{
	flow-children: down;
}

.HeroStatsSimpleStatValue
{
	text-align: center;
	horizontal-align: center;
	font-size: 21px;
	color: white;
	font-weight: lighter;
	letter-spacing: 1px;
}

.HeroStatsSimpleStatValue.Disabled
{
	color: #555555;
}

.HeroStatsSimpleStatName
{
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	horizontal-align: center;
	letter-spacing: 1px;
	color: #6b7da5;
	font-weight: lighter;
}

.HeroStatsLeftBlock .Block4Wide
{
	padding-left: 17px;
}

.HeroStatsRightBlock .Block4Wide
{
	padding-left: 7px;
}


.HeroStatsLeftBlock .Block4Wide .HeroStatsSimpleStat
{
	width: 77px;
}

.HeroStatsRightBlock .Block4Wide .HeroStatsSimpleStat
{
	width: 90px;
}

.HeroStatsLeftBlock .Block4Wide .HeroStatsSimpleStat.Wide
{
	width: 125px;
}

.Block3Wide
{
	padding-left: 20px;
}

.Block3Wide .HeroStatsSimpleStat
{
	width: 110px;
}

.Block3Wide .HeroStatsSimpleStat.Wide
{
	width: 125px;
}


.HeroStatsLeftBlock .Block5Wide
{
	padding-left: 14px;
}

.HeroStatsLeftBlock .Block5Wide .HeroStatsSimpleStat
{
	width: 70px;
}

.HeroStatsLeftBlock .Block5Wide .HeroStatsSimpleStat.Wide
{
	width: 80px;
}

.HeroStatsRightBlock .Block5Wide
{
	padding-left: 7px;
}

.HeroStatsRightBlock .Block5Wide .HeroStatsSimpleStat
{
	width: 70px;
}

.HeroStatsRightBlock .Block5Wide .HeroStatsSimpleStat.Wide
{
	width: 85px;
}

#CompareButtonContainer
{
	width: 788px;
}

#CompareButton
{
	horizontal-align: right;
	margin-right: 1px;
}

#CompareButton
{
}

#CompareButton Label
{
	color: #6b7da5;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	padding-bottom: 1px;
	text-decoration: underline;
}

#CompareButton:hover Label
{
	color: #9badd5;
	text-decoration: none;
}

.HeroStatsRightBlock .BlockStatAndProgress .HeroStatsSimpleStat,
.HeroStatsLeftBlock .BlockStatAndProgress .HeroStatsSimpleStat
{
	width: 150px;
}

#HeroStatsRatingBarContainer
{
	padding-top: 8px;
	horizontal-align: center;
	width: 210px;
	flow-children: down;
}

#HeroStatsRatingBar
{
	width: 100%;
	vertical-align: middle;
	height: 16px;
	border-width: 4px;
	border-radius: 0px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 10px;
	border-color: #282828;
	background-color: #282828;
}

#HeroStatsRatingBar_Left
{
	background-color: #6b7da5;
}

.HeroStatsFullBlock .HeroStatsSimpleStatName
{
	horizontal-align: left;
	text-align: left;
	margin-left: 16px;
	margin-top: 16px;
	margin-bottom: 10px;
}

#HeroStatsHistoryCanvas
{
	width: 560px;
	height: 200px;
}

.HeroStatsHistoryContainer
{
	flow-children: right;
}

.HeroStatsHistoryContainerMain
{
	flow-children: down;
	padding-left: 19px;
}

.HeroStatsHistoryBackgroundSlices
{
	flow-children: right;
	padding-left: 18px;
}

.BackgroundSlice
{
	border-right: 1px solid #1A1A1A;
	border-top-width: 0px;
	border-bottom-width: 0px;
	width: 28px;
	height: 222px;
}

#BackgroundSlice0
{
	border-left: 1px solid #1A1A1A;
	width: 29px;
}

.BackgroundSlice:not(.Hidden):hover
{
	background-color: #3071aC18;
}

.BackgroundSlice:not(.Hidden):active
{
	background-color: #69B3FF18;
}

#HeroStatsHistoryWinsLosses
{
	padding-top: 4px;
	padding-left: 4px;
	flow-children: right;
}

.HistoryWin, .HistoryLoss, .HistoryEmpty
{
	text-align: center;
	width: 19px;
	height: 18px;
	font-size: 14px;
	font-weight: semi-bold;
	color: black;
	margin-left: 0px;
	margin-right: 9px;
	padding-top: 1px;
}

.HistoryWin
{
	background-color: #39B54A;
}

.HistoryLoss
{
	background-color: #8C0F36;
}

.HistoryEmpty
{
	opacity: 0.0;
}

.HeroStatsHistoryContainerLegendContainer
{
	width: 190px;
	height: 240px;
}

.HeroStatsHistoryContainerLegend
{
	width: 100%;
	height: 100%;
	flow-children: down;
	padding-left: 10px;
}

.HeroStatsHistoryContainerLegend Label
{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: 1px;
}

DOTALoadoutHeroStats.TooltipActive .HeroStatsHistoryContainerLegend
{
	visibility: collapse;
}

.HeroStatsHistoryContainerLegendTooltip
{
	width: 185px;
	height: 100%;
	flow-children: down;
	visibility: collapse;
	background-color: #15191F;
	margin-left: 5px;
	padding: 10px 10px 0px 10px;
}

DOTALoadoutHeroStats.TooltipActive .HeroStatsHistoryContainerLegendTooltip
{
	visibility: visible;
}

.LegendGPM
{
	color: #F7931E;
	margin-top: 60px;
}

.LegendXPM
{
	color: #3C7D45;
}

.LegendAssists
{
	color: #5E4A28;
	margin-top: 70px;
}

.LegendKills
{
	color: #E4EB23;
}

.LegendDeaths
{
	color: #8C0F36;
}

.TooltipLTR
{
	flow-children: right;
	height: 22px;
}

.TooltipSquare
{
	width: 6px;
	height: 6px;
	margin-right: 0px;
	vertical-align: top;
	margin-top: 5px;
}

#TooltipWinLoss.HistoryWin, #TooltipWinLoss.HistoryLoss, #TooltipWinLoss.HistoryEmpty
{
	margin-right: 7px;
}

.TooltipValue
{
	font-size: 14px;
	color: #ececec;
	text-transform: uppercase;
}

.TooltipNumber
{
	text-align: right;
	width: 42px;
	padding-right: 7px;
}

.TooltipDesc
{
	font-size: 14px;
	color: #777777;
	font-weight: thinner;
	text-transform: uppercase;
}

.TooltipBlockHR
{
	height: 1px;
	background-color: black;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 10px;
}

#TooltipBlockGameType, #TooltipBlockGameTypeRanked
{
	height: 20px;
}

#TooltipBlockGameType
{
	visibility: visible;
}

#TooltipBlockGameTypeRanked
{
	visibility: collapse;
}

.TooltipRanked #TooltipBlockGameType
{
	visibility: collapse;
}

.TooltipRanked #TooltipBlockGameTypeRanked
{
	visibility: visible;
}

#TooltipWinLossValue
{
	margin-top: 2px;
}

#TooltipBlockGPM
{
	margin-top: 18px;
}

#TooltipBlockXPM
{
	margin-bottom: 20px;
}

#TooltipSquareGPM
{
	background-color: #F7931E;
}

#TooltipSquareXPM
{
	background-color: #3C7D45;
}

#TooltipSquareAssists
{
	background-color: #5E4A28;
}

#TooltipSquareKills
{
	background-color: #E4EB23;
}

#TooltipSquareDeaths
{
	background-color: #8C0F36;
}

.PlusStatsContainer
{
	width: 100%;
	margin-bottom: 4px;
	flow-children: down;
	background-position: 8px 8px;
	background-size: 16px 18px;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/dotaplus_logo_small_png.vtex");
}

.PlusStatsContainer .DotaPlusUpsell
{
	width: 100%;
	height: 166px;
}

.PlusStatsContainer .DotaPlusUpsell .DotaPlusUpsellTitle
{
	margin-top: 0px;
}

.PlusStatsContainer .DotaPlusUpsellContents
{
	flow-children: right;
}

.PlusStatsContainer .DotaPlusUpsellLeft
{
	padding-left: 40px;
	width: fill-parent-flow( 1.0 );
	flow-children: down;
}

.PlusStatsContainer .DotaPlusUpsellRight
{
	width: fill-parent-flow( 1.0 );
	flow-children: down;
}

.PlusStatsContainer .DotaPlusSubscribeButton
{
	margin-top: 16px;
}

.PlusStatsContainer .DotaPlusUpsellFeatureTitle
{
	width: 340px;
	background-color: none;
	margin-top: 4px;
}

.PlusStatsContainer .DotaPlusUpsellFeatureDescription
{
	width: 340px;
	height: 80px;
	horizontal-align: center;
	text-align: center;
	padding: 0px;
}

.PlusGlobalStatsContainer
{
	margin-bottom: 4px;
	margin-top: 12px;
	padding-top: 8px;
	padding-bottom: 12px;
	flow-children: down;
	background-position: 8px 8px;
	background-size: 18px 18px;
	background-repeat: no-repeat;
	//background-image: url("s2r://panorama/images/dotaplus_logo_small_png.vtex");

	visibility: collapse;
}


.PlusSubscriber .PlusGlobalStatsContainer
{
	visibility: visible;
}

.PlusStatsRow
{
	visibility: collapse;
}

.PlusSubscriber .PlusStatsRow
{
	visibility: visible;
}


.PlusStatsRow .HeroStatsLeftBlock,
.PlusStatsRow .HeroStatsRightBlock
{
	background-color: none;
	margin-top: 0px;
}

.PlusStatsRow .BlockHeader
{
	margin-top: 0px;
	padding-bottom: 4px;
}

.HeroStatsContainer
{
	padding-top: 4px;
	margin-bottom: 4px;
	margin-top: 8px;
	flow-children: down;
	background-color: #000000EF;
}

.GraphRow .HeroStatsSimpleStatName
{
	margin-top: 8px;
	margin-bottom: 6px;
}
