#DOTAProfileHeroPage
{
    width: 100%;
    height: 100%;
}

DOTAScenePanel
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#CarouselOfHeroes
{
	width: 100%;
    height:100%;
    //margin-top: 128px;
}

.HeroPageCarouselPanel
{
	margin-left: 50px;
	width: 900px;
    height: 900px;
    transform: translateX( 0px );

	opacity: 1.0;

    transition-property: transform, opacity, wash-color;
	transition-duration: 0.45s;
	transition-timing-function: ease-in-out;
}

.HeroPageCarouselClickArea
{
	margin-top: 140px;
	margin-left: 250px;
	width: 39%;
    height: 64%;
}


.HeroPageCarouselPanel DOTAScenePanel
{
    pre-transform-scale2d: 0.65;
	blur: gaussian( 4, 4, 2 );
	wash-color: #565d5d;
	saturation: 0.2;
	opacity: 1.0;
	
	transition-property: blur, pre-transform-scale2d, wash-color, opacity, saturation;
	transition-duration: 0.45s;
	transition-timing-function: ease-in-out;
}

.HeroPageCarouselPanel.CurrentSelection DOTAScenePanel
{
	blur: gaussian( 0, 0, 0 );
}

.CurrentSelection Label
{
    Color: white;
}

.HeroPageCarouselPanel Label
{
	margin-top: 170px;
	transform: translateX( 376px );
	text-transform: uppercase;
	font-size: 20px;
	color: #ffffff11;
	
	transition-property: transform, wash-color, color;
	transition-duration: 0.45s;
	transition-timing-function: ease-in-out;
}

.QuestionIcon
{
	margin-left: 8px;
	height: 16px;
	width: 16px;
}

#HeroListTypeDropDown
{
	width: 240px;
}

DropDownMenu
{
	width: 240px;
}

DropDownMenu Label
{
	width: 240px;
}

#Header
{
	background-color: #000000ff;
}

.CurrentSelection
{
	transform: translateX( 0px );
	z-index: 1;
}

.CurrentSelection DOTAScenePanel
{
	saturation: 1.0;
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
	wash-color: #00000000;
}




.RightOfSelection1 { transform: translateX( 600px ); }
.RightOfSelection2 { transform: translateX( 950px ); }
.RightOfSelection3 { transform: translateX( 1300px ); }
.RightOfSelection4 { transform: translateX( 1650px ); }
//------------If more added anything passed 5 can be the same value, its offscreen
.RightOfSelection5 { transform: translateX( 2000px ); } 
.RightOfSelection6 { transform: translateX( 2000px ); }
.RightOfSelection7 { transform: translateX( 2000px ); }

.LeftOfSelection1 { transform: translateX( -500px ); }
//------------If more added anything passed 2 can be the same value, its offscreen
.LeftOfSelection2 { transform: translateX( -900px ); }
.LeftOfSelection3 { transform: translateX( -900px ); }
.LeftOfSelection4 { transform: translateX( -900px ); }
.LeftOfSelection5 { transform: translateX( -900px ); }
.LeftOfSelection6 { transform: translateX( -900px ); }
.LeftOfSelection7 { transform: translateX( -900px ); }

.RightOfSelection Label
{
    Color: #808080;
}

.CurrentSelection Label
{
	transform: translateX( 732px );
	color: white;
}

#Stats
{
    flow-children:down;
    margin-left:780px;
    padding-top: 64px;
    margin-top: 0px;
    width: 220px;
}

.FadeOutAndIn
{
    animation-name: FadeAndReturn;
	animation-duration: 0.75s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'FadeAndReturn'
{
	0%
	{
		opacity: 1.0;
	}

    20%
    {
        opacity: 0.0;
    }

	100%
	{
		opacity: 1.0;
	}
}

.Stat
{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.StatLabel
{
    color: #686868;
    font-size: 16px;
	text-transform: uppercase;
    //font-weight: bold;
    margin-bottom: 24px;
}

#MMRStat
{
    font-size: 32px;
	margin-bottom: -6px;
}

#SelectionButtons
{
    vertical-align: bottom;
    margin-bottom: 220px;
    flow-children: right;
}


#PrevButton,#NextButton
{
	opacity: 1.0;
	wash-color: #587487cc;
	transition-property: wash-color, opacity;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

#SelectionButtons.CurrentHeroIsLast #NextButton
{
	opacity: 0.0;
}

#SelectionButtons.CurrentHeroIsFirst #PrevButton
{
	opacity: 0.0;
}

#PrevButton Label
{
	text-transform: uppercase;
	margin-left: 18px;
}

#NextButton Label
{
	text-transform: uppercase;
	margin-right: 8px;
}

#NextButton:hover,#PrevButton:hover
{
	wash-color: white;
}

#PrevButton
{
    margin-left: 160px;
}

#NextButton
{
	margin-left: 570px;
}

.SmallArrow
{
	margin-top: 2px;
	height: 14px;
	width: 8px;
}

#PlayerName
{
	margin-left: 10px;
	margin-right: 24px;
	margin-top: 8px;
	vertical-align: middle;
}

#PlayerName Label
{
	font-size: 36px;
	font-weight:bold;
}

.HorizontalLine
{
    height: 2px;
	width: 100%;
	margin: 2px -2px;
	background-color: #60606044;
	margin-bottom: 12px;

}