
DOTAFrostivus2018Page
{
	width: 100%;
	height: 100%;
	overflow: clip;
}

#TempFrostivus2018Background,
#ModelScene
{
	horizontal-align: center;
	width: 1920px;
	height: 100%;
}

#ModelScene
{
	margin-left: 120px;
}

#TempFrostivus2018Background
{
	visibility: visible;
	background-image: url("s2r://panorama/images/events/frostivus/temp_frostivus2018_bg_psd.vtex");
	background-size: 100%;
}

#MainContents
{
	horizontal-align: center;
	width: 1392px;
	height: 610px;
	margin-top: 120px;
}

.InfoBlock
{
	border-radius: 8px;
	padding: 12px;
	background-color: #0a131ad0;
}

.InfoBlockTitle
{
	width: 100%;
	background-color: black;
	color: #ccc;
	padding: 4px 8px 0px 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#Header
{
	flow-children: right;
}

#PlayButton
{
	width: 330px;
	margin-right: 58px;
	margin-bottom: 21px;
	padding: 4px 12px 4px 12px;
	max-height: 49px;

	horizontal-align: right;
	vertical-align: bottom;

	background-image: url("s2r://panorama/images/front_page/frostivus_button_texture_png.vtex");
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #224366 ), to( #43b3d2 ) );
	background-size: cover;
	box-shadow: 0px 0px 22px #0004;

	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;

	opacity: 1.0;

	transition-property: brightness, opacity;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.FindingMatch #PlayButton,
.Connecting #PlayButton,
.CanReconnect #PlayButton,
.CanDisconnect #PlayButton,
.CanAbandonGame #PlayButton,
.ReconnectInProgress #PlayButton,
.IsInGame #PlayButton,
.InReadyUpState #PlayButton
{
	opacity: 0.0;
}

#PlayButton:hover
{
	brightness: 1.8;
}

#PlayButton:active
{
	brightness: 1.4;
}

#PlayButton Label
{
	margin-top: 2px;
	horizontal-align: center;
	font-size:32px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	height: 40px;
	text-overflow: shrink;
	vertical-align: middle;

	transition-property: color;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
}

#CurrentLevelContainer
{
	flow-children: right;
	vertical-align: bottom;

	opacity: 0.0;
}

.HasEventPoints #CurrentLevelContainer
{
	opacity: 1.0;
} 

#CurrentLevelInfo
{
	flow-children: down;
	vertical-align: middle;
	width: fill-parent-flow(1);
}

#CurrentLevelProgress
{
	horizontal-align: center;
	height: 12px;
}

#CurrentLevelProgress .ProgressBarLeft
{
	background-color: white;
}

#FrostLevelProgressText
{
	font-size: 18px;
	horizontal-align: center;
	text-align: center;
	margin-top: 4px;
	color: #8baebb;
	text-shadow: 2px 2px 4px black;
}

#TitleContainer
{
	flow-children: down;
}

#RoshDescription
{
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
	
	padding: 4px;
	border-radius: 4px;
	margin-bottom: 132px;
	width: 380px;
	margin-left: 1030px;
}

#RoshIcon
{
	width: 48px;
	height: 48px;
	margin-right: 8px;

	background-image: url("s2r://panorama/images/frostivus_2018_mystery_item_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

#RoshDescription > Label
{
	horizontal-align: center;
	max-height: 48px;
	text-overflow: shrink;
	text-shadow: 2px 2px 4px black;
	color: rgb(214, 233, 241);
	width: 316px;
}

#EmoticonRewardContainer
{
	margin-left: 96px;
	
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
}


#EmoticonRewardContainer > Label
{
	text-overflow: shrink;
	max-width: 312px;
	text-align: right;
	margin-top: 2px;
	font-size: 16px;
	vertical-align: middle;
	text-shadow: 2px 2px 4px black;
	color: rgb(214, 233, 241);
	max-height: 24px;
}

#EmoticonReward
{
	margin-left: 8px;
	width: 30px;
}

#Subtitle
{
	color: rgb(161, 183, 211);
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
	margin-left: 4px;
}

#SubtitleContainer
{
	flow-children: right;
	margin-top: -8px;
}

#SubtitleContainer > .InfoIcon
{
	wash-color: rgb(161, 183, 211);
	transform: translateY( -2px );
}

#Description
{
	margin-top: -3px;
	margin-left: 5px;
	color: rgb(255, 255, 255);
	width: 640px;
	text-shadow: 1px 1px 4px 2 black;
	max-height: 90px;
	text-overflow: shrink;
	font-size: 17px;
}

#InfoBlocks
{
	flow-children: down;
	width: 480px;
	vertical-align: bottom;
	margin-bottom: 0px;
}

#RewardsInfo
{
	flow-children: down;
}

#ConsumablesInfo
{
	horizontal-align: right;
	flow-children: down;
	margin-bottom: 8px;
}

#ConsumablesHeader
{
	flow-children: right;
	margin-bottom: 4px;
	margin-top: 0px;
}

#ConsumablesHeader Label
{
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
}

#ConsumablesHeader .InfoIcon
{
	width: 16px;
	height: 16px;
	wash-color: white;
	margin-left: 4px;
	transform: translateY( -2px );
}

#ConsumablesList
{
	flow-children: right;
}

.ConsumableAbility
{
	tooltip-position: top;
	tooltip-body-position: 50%;
	width: 105px;
	margin-right: 12px;
	height: 130px;
	background-color: black;
	flow-children: down;
	padding: 6px;
}

#ConsumableAbility5
{
	margin-right: 0px;
}

.ConsumableAbility .AbilityIconContainer
{
	horizontal-align: center;
	width: 86px;
	height: 86px;
	margin-top: -16px;
}

.ConsumableAbility #AbilityImage
{
	width: 100%;
	height: 100%;
}

.ConsumableAbility .AbilityCharges
{
	font-size: 25px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px 2 rgb(0, 0, 0);
	horizontal-align: right;
	vertical-align: bottom;
	transform: translateY( 5px );
	margin-right: 4px;
	margin-bottom: 4px;
	text-align: right;
}

.ConsumableAbility .ConsumableName
{
	width: 105px;
	height: 44px;
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	text-overflow: shrink;
	color: #8baebb;
	font-size: 16px;
}

#PurchaseConsumablesButton
{
	flow-children: right;
	horizontal-align: left;
	margin-top: 12px;
	//margin-bottom: -4px;
	horizontal-align: center;
}

#PurchaseConsumablesButton .DotaPlusCurrencyIcon
{
	width: 20px;
	height: 20px;
	margin-right: 4px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#PurchaseConsumablesButton Label
{
	letter-spacing: 1px;
}

#RewardsInfoPanel #LevelShield
{
	margin-top: 4px;
	horizontal-align: center;
}

#TitleEdge,
#Title
{
	font-size: 64px;
	letter-spacing: 2px;
	text-shadow: 2px 4px 14px black;
	font-family: titleFont;
	color: gradient( linear, 0% 0%, 0% 100%, from( rgb(182, 218, 233) ), color-stop( .45, rgb(182, 218, 233) ), to( rgb(148, 187, 204) ) );
}
#TitleEdge
{
	color: white;
	margin-top: -1px;
}

#RewardsPanel,
#RewardsListButtons
{
	vertical-align: bottom;
	width: 1514px;
	height: 360px;
	margin-right: 124px;
	margin-bottom: 100px;
	horizontal-align: center;
}


.AspectRatio4x3 #RewardsPanel,
.AspectRatio4x3 #RewardsListButtons
{
	width: 1440px;
}

#RewardsPanel
{
	overflow: clip;
	background-color: transparent;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #232d3200 ), color-stop( .3, #232d32f0 ), color-stop( .82, #232d32f0 ), to( #232d3200 ) );
	opacity-mask: url("s2r://panorama/images/masks/softedge_horizontal_png.vtex");	
	flow-children: right;
	transition-property: border;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}


#RewardsListButtons
{
}

.ArrowButton
{
	width: 30px;
	height: 100px;
	vertical-align: middle;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-size: 30px 80px;

	wash-color: bp_color3;
}

.ArrowButton:hover
{
	brightness: 2.0;
}

.ArrowButton:active
{
	brightness: 1.5;
}

#ScrollLeftButton
{
	margin-left: 8px;
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
}

#ScrollRightButton
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
	horizontal-align: right;
	margin-right: 365px;
}

#RewardsList
{
	width: 100%;
	height: 100%;
	width: fill-parent-flow(1);
	horizontal-align: center;
	background-color: #00000044;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000aa ) );
	background-color: transparent;
	opacity-mask: url("s2r://panorama/images/masks/softedge_horizontal_png.vtex")1;
	overflow: clip;
}

.HasUnclaimedRewards #RewardsLabel
{
	//background-color: accentBorderColor;
}


#BabyRoshan
{
	width: 240px;
	height: 240px;
	horizontal-align: center;
	vertical-align: bottom;
	overflow: noclip;
	border-radius: 50%;
	background-color: #1e1e247e;
	z-index: 2;
	transform: translateY(-60px);
	
	transition-property: opacity-mask, opacity, saturation, wash-color, pre-transform-scale2d;
	transition-duration: .2s;
	transition-delay: .2s, 0s;
	transition-timing-function: ease-in-out;
}

#SnowGlobeContainer
{
	width: 380px;
	height: 314px;
	overflow: noclip;
}

#SnowGlobe
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/textures/glass_ball_psd.vtex");
	background-size: 100%;
	horizontal-align: center;
}

#Frostivus2018RoshanModel
{
	width: 360px;
	height: 360px;
    //horizontal-align: left;
	//vertical-align: bottom;
	//transform: translateX(-70px) translateY(-55px);
    transform: translateY(-55px);
    //padding-left: 0px;
    padding-right: 120px;
	
}


#SnowGlobeBase
{
	width: 240px;
	height: 116px;
	background-image: url("s2r://panorama/images/events/frostivus/frostivus2018_snowglobebase_psd.vtex");
	background-size: 100%;
	vertical-align: bottom;
	horizontal-align: center;
}

#BabyRoshan:hover .InspectIcon
{
	opacity: 1;
}

.InspectIcon
{
	z-index: 10;
	background-image: url("s2r://panorama/images/control_icons/icon_search_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	width: 42px;
	height: 42px;	
	vertical-align: center;
	horizontal-align: center;
	margin-left: 120px;
	margin-top: 120px;
	box-shadow: #002255cc fill -6px -6px 12px 12px;
	border-radius: 50%;
	opacity: 0;
	
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.25s;	
	transition-timing-function: ease-in-out;
}

#FrostivusLevelBadge
{
	width: 96px;
	height: 96px;
	background-image: url("s2r://panorama/images/events/frostivus/frostivus_snowflake_psd.vtex");
	background-size: 100%;
	wash-color: #3d5566dd;
}

#FrostivusLevelNumber
{
	horizontal-align: center;
	vertical-align: middle;
	color: rgb(215, 235, 255);
	font-size: 38px;
	z-index: 2;
	padding-top: 8px;
	text-align: center;
	text-shadow: 0px 0px 14px rgba(159, 212, 255, 0.63);
}

.FindingMatch #SearchingLabel
{
	opacity: 1;
}

#SearchingLabel
{
	opacity: 0;
	color: #8baebb;
	horizontal-align: center;
	font-size: 22px;
	text-overflow: shrink;
	max-width: 100%;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	max-height: 64px;
}

#PurchaseAndLevels
{
	height: 100%;
}

#RewardsHeader
{
	flow-children: right;
}

#RewardsTitle
{
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
}

#RewardsHeader .InfoIcon
{
	width: 16px;
	height: 16px;
	wash-color: white;
	margin-left: 4px;
	transform: translateY( -2px );
}

#RewardsDescription
{
	color: #999;
	font-size: 16px;

	visibility: collapse;
}

#DailyBonusAvailable
{
	flow-children: right;
	horizontal-align: center;
	padding: 0px 8px;

	visibility: collapse;
}

.DailyBonusAvailable #DailyBonusAvailable
{
	visibility: visible;
}

#DailyBonusAvailable > Label
{
	color: #beedff;
	text-shadow: 0px 0px 4px #beedff;
	letter-spacing: 1px;
	font-size: 20px;
	padding: 8px 8px 2px 8px;

	animation-name: DailyBonusGlow;
	animation-duration: 0.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes 'DailyBonusGlow'
{
	0%		{ text-shadow: 0px 0px 4px #beedff; color: #beedff; }
	100%	{ text-shadow: 0px 0px 12px #beedff; color: #e1f7ff; }
}

#DailyBonusAvailable > .InfoIcon
{
	wash-color: #beedff;
	transform: translateY( -2px );
	margin-left: -2px;

	visibility: collapse;
}

#DailyBonusUsed
{
	flow-children: down;
	horizontal-align: center;

	visibility: collapse;
}

.DailyBonusClaimed #DailyBonusUsed
{
	visibility: visible;
}

#DailyBonusUsed > Label
{
	horizontal-align: center;
	color: #8baebb;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#DailyBonusCountdown
{
	horizontal-align: center;
}

#DailyBonusCountdown > Label
{
	horizontal-align: center;
	color: #666;
	font-size: 16px;
	margin-top: -2px;
}