
DOTACustomGamesSubscribedPage
{
    width: 1394px;
    height: 794px;
    margin-top: 156px;
	horizontal-align: center;
	
	background-color: #00000077;
	padding: 8px;
	box-shadow: #00000033 -2px -2px 1px 4px;
}

#SubscribedGamesGrid
{
	width: 100%;
    flow-children: right-wrap;
    margin-top: 45px;
    height: 730px;
    overflow: clip scroll;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_wide_psd.vtex");
}

.SubscribedGamesRow
{
    flow-children: right;
	width: 100%;
}

SubscribedCustomGame
{
	width: 275px;
	height: 214px;
	
}

RadioButton
{
	margin-top: 4px;
	margin-left: 12px;
}

RadioButton .RadioBox
{
	margin-top: 4px;
}

RadioButton Label
{
    vertical-align: top;
    horizontal-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    color: #555555;
	margin-right: 36px;
}

#LibraryHeader
{
    vertical-align: top;
    horizontal-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    color: #cccccc;
	margin-left: 8px;
}

#FilterControls
{
	horizontal-align: right;
	flow-children: right;
}

#ViewFavorites
{
	
}

#ViewFavorites Label
{
    vertical-align: top;
    horizontal-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    color: #cccccc;
	margin-right: 8px;
	margin-top: 5px;
}

#Sorting
{
	horizontal-align: right;
	background-color: none;
	box-shadow: none;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 0px;
	border: 2px solid #69787933;
	width: 250px;
	margin-right: 40px;
	height: 35px;
}

.AspectRatio4x3 #Sorting,
.AspectRatio5x4 #Sorting
{
	width: 180px;
}

#SortingDropDownMenu 
{
	background-color: #151F23;
	box-shadow: none;
}

#SortingDropDownMenu .DropDownChild
{
	font-size: 18px;
	color: #697879;
	background-color: none;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-left: 2px solid #69787933;
	border-right: 2px solid #69787933;
	border-top: 0px solid #69787933;
	border-bottom: 2px solid #69787933;
	width: 250px;
	height: 35px;
}

#SortingDropDownMenu .DropDownChild:hover
{
	color: white;
}
#Sorting:hover
{
	border: 2px solid #90A5A666;
}

#Sorting Label
{
	color: #ADC6C8;
	font-size: 18px;
	letter-spacing: 1px;
	margin-top: 2px;
	//text-transform: uppercase;
}

#SortByLabel
{
	horizontal-align: right;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 0px;
	
	color: #ADC6C8;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
}