DOTAStoreBrowsePage
{
	margin-top: 130px;
	width: 100%;
	flow-children: down;
}

#SearchContainer
{
	width: 100%;
	padding: 14px;
	margin-bottom: -2px;
	flow-children: down;
}

#SearchBox
{
	flow-children: right;

	border: 1px solid baseBorder;
	height: 36px;

	padding: 5px 7px 3px 7px;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );

}

#SearchTextEntry
{
	width: fill-parent-flow( 1.0 );
	padding: 0px;
	background-color: none;
	border: 0px solid transparent;
}

#ClearSearchButton
{
	width: 18px;
	height: 18px;
	vertical-align: middle;
	visibility: collapse;
}
.HasSearchQuery #ClearSearchButton
{
	visibility: visible;
}

#SearchTextEntry #PlaceholderText
{
	margin-top: 1px;
}

#SearchButton > Label
{
	vertical-align: middle;
}

#MainContents
{
	flow-children: right;
	height: fill-parent-flow( 1.0 );
}

#SearchAndCategoriesContainer
{
	flow-children: down;
	height: 100%;
}

#SearchOptionsContainer
{
	background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	
	border-top: 1px solid #3b404777;
	border-right: 1px solid #00000088;
	border-left: 1px solid #4c434677;
	border-bottom: 1px solid #00000088;
	
	box-shadow: fill #00000055 -2px -2px 6px 6px;
	
	transition-property: box-shadow, brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
	
	flow-children: down;
	height: 108px;
	width: 300px;
	margin-bottom: 8px;
	margin-right: 8px;
	//background-color: #000000bb;
	overflow: squish scroll;
}

#SearchOptionsContainer:hover
{
	brightness: 1.5;
}

#SearchOptionsContainer > Panel
{
	transition-property: position;
	transition-duration: 0.3s;
}

.SearchOptionsTitle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000066 ), to( #00000066  ) );
	padding: 8px 8px 4px 8px;
	width: 100%;
}

.SearchOptionsTitleCategories
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), to( #000000 ) );
	padding: 8px 8px 4px 8px;
	width: 100%;
}

.SearchOptionsTitle > Label
{
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 20px;
	color: #dddddd;
	margin-left: 5px;
}

#CategoriesOptionsContainer
{
	flow-children: down;
	height: 100%;
	width: 300px;
	margin-right: 8px;
	background-color: #000000bb;
}

.SearchOptionsTitleCategories > Label
{
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 20px;
	color: #dddddd;
	margin-left: 5px;
}

#SearchCategories
{
	flow-children: down;
	width: 100%;
	height: fill-parent-flow( 1.0 );
	padding: 14px 10px 8px 24px;
	overflow: squish scroll;
}

.SearchCategory
{
	width: 100%;
	flow-children: down;
	margin-bottom: 10px;

	transition-property: position;
	transition-duration: 0.3s;
}

.SearchCategory > .RadioBox
{
	visibility: collapse;
}

.SearchCategoryName
{
	text-transform: uppercase;
	font-size: 20px;
	margin: 0px;
	color: #888888;
}

#SinglesDaySaleCategory .SearchCategoryName
{
	color: gradient( linear, 100% 0%, 0% 0%, from( #c29339 ), to( #f0cf84 ) );
	text-shadow: 0px 0px 4px #b63a14cc;
}
#SinglesDaySaleCountdown
{
	visibility: collapse;
}
#SinglesDaySaleCountdown.CountdownActive
{
	visibility: visible;
}

.SearchCategory:selected .SearchCategoryName
{
	font-weight: bold;
	
}

.SearchSubCategories
{	
	margin-left: 16px;
	margin-bottom: 4px;
	flow-children: down;

	opacity: 0.0;
	visibility: collapse;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-delay: 0.1s;
}


.SearchSubCategories RadioButton
{
	margin-left: 0px;
}

.SearchSubCategories RadioButton .RadioBox
{
	visibility: collapse;
}

.SearchSubCategories RadioButton Label
{
	font-size: 18px;
	padding-top: 5px;
	text-transform: uppercase;
	margin: 0px;
	color: #888888;
	
}

.SearchSubCategories RadioButton Label:hover
{
	color: white;
}

.SearchSubCategories RadioButton:selected Label
{
	color: white;
	font-weight: bold;
}

.SearchSubCategories:selected RadioButton Label
{
	color: red;
}


.SearchCategory:selected .SearchSubCategories
{
	visibility: visible;
	opacity: 1.0;
	transition-delay: 0.0s;
}

.SearchSubCategoryButton
{
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

.SearchSubCategoryButton > Label
{
	font-size: 16px;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	width: 80px;
	
}

#HeroPicker
{
	width: 240px;
	height: 42px;
	background-color: black;
	border-radius: 4px;
	padding: 8px 40px 8px 8px;
	flow-children: right;
	border: 1px solid #aaa;
	margin-top: 2px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292e2e ), to( #191e1e ) );
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
	background-repeat: no-repeat;
	background-position: right 38px 37%;
	background-size: 32px 32px;

	transition-property: brightness;
	transition-duration: 0.2s;
}

#HeroPicker:hover
{
	brightness: 2.0;
}

#HeroPicker:active
{
	brightness: 1.5;
}

#HeroPickerImage
{
	vertical-align: middle;
	height: 100%;
	width: height-percentage( 100% );
	visibility: collapse;
}

.HeroSelected #HeroPickerImage
{
	visibility: visible;
}

#HeroPicker Label
{
	color: #aaa;
	margin-top: 2px;
	font-size: 24px;
	margin-left: 10px;
	vertical-align: middle;
	text-align: center;
	text-overflow: shrink;
	text-transform: uppercase;
	width: fill-parent-flow( 1.0 );
}

#DeveloperMode
{
	margin-left: 20px;
	margin-bottom: 14px;

	visibility: collapse;
}

/* Only show the developer mode checkbox on main branch or debug builds. */
.MainBranch #DeveloperMode, .DebugBuild #DeveloperMode
{
	visibility: visible;
}

#SearchResultsContainer
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	background-color: #0006;
	flow-children: down;
	padding: 10px 0px 0px 10px;
}


#SearchResultsHeader
{
	flow-children: right;
	margin-bottom: 4px;
}

#SortByDropDown
{
	margin-right: 14px;
	height: 38px;
	margin-bottom: 6px;
	background-position: right 38px 14%;
}

.SearchResultsCount
{
	margin-left: 2px;
	margin-bottom: 1px;
	font-size: 18px;
	vertical-align: middle;
	color: #888888;
}

.SortByLabel
{
	vertical-align: middle;
	margin-right: 4px;
	margin-bottom: 1px;
	color: #888888;
}

#SearchResults
{
	flow-children: right-wrap;
	overflow: squish scroll;
	width: 1074px; /* Can't use 100% because of annoying single-pass layout reasons */
	height: fill-parent-flow( 1.0 );
}

DOTAStoreItem
{
	width: 204px;
	height: 238px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#SearchInProgressSpinner
{
	margin-right: 8px;
	visibility: collapse;
}
.SearchInProgress #SearchInProgressSpinner
{
	visibility: visible;
}