/* 
	Various classes set on this page include
	DOTAEconItemPage:
		HeroUnavailable - means we are in the middle of switching a hero or his item set. Isn't set when we switch styles
		HeroPreviewMode - means we are showing a preview of an item we don't own, as opposed to one we do own
		HeroBrowsingDisabled - means all fast ways of browsing to heroes is disabled.

	EconSetPreview:
		Visible - we have 2 large hero previews, and we switch between the active one. Visible is set on the active one
		Stale - Set on a panel when it's visible, but we're loading something else and the image doesn't reflect our current selection
*/

.DOTAEconItemPage
{
    margin-top: 58px;
    //margin-bottom: 130px;
    height: 100%;
    width: 100%;
    flow-children: right;
}

#HeroPageContainer
{
    vertical-align: middle;

    width: 100%;
    height: 100%;
	
    background-color: #00000000;

	transition-property: background-color;
	transition-duration: 0.45s;
	transition-timing-function: ease-in-out;
}

/* Stuff that goes behind the large hero preview is here */
.HeroPageBackground, .HeroPageBackgroundHorizontal, .HeroPageBackgroundVertical
{
	width: 100%;
	height: 100%;
}

.HeroPageContent
{
    width: 100%;
    height: 100%;
}

.HeroPageBackgroundVertical 
{
	transition-property: background-color;
	transition-duration: .3s;
	transition-timing-function: linear;
}

.HeroPageBackgroundHorizontal
{
	transition-property: background-color;
	transition-duration: .3s;
	//transition-delay: .1s;
	transition-timing-function: linear;
}

/* This is the default background when we see a hero we own */
.HeroPageBackgroundVertical
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ),  to( #00000000 ) );
}

/* Changes the background when we are seeing a hero which we don't own */
.DOTAEconItemPage.HeroPreviewMode #HeroPageContainer
{
	background-color: #000000bb;
}

#HeroDemoButton
{
    margin-top: 3px;
}

/* Next/Previous Hero Buttons */
.HeroPageNavigation
{
	width: 100%;
	height: 100%;
	z-index: 1;
}

.DOTAEconItemPage.HeroBrowsingDisabled .HeroPageNavigation
{
	visibility: collapse;
}

#NextHero, #PreviousHero
{
	opacity: .1;
	margin-top: 103px;
	vertical-align: top;
	flow-children: right;
	transition-property: background-color;
	transition-duration: .2s;
    border: 1px transparent #00ff00;
}

#NextHero 
{
	margin-right: -10px;
	horizontal-align: right;
}

#PreviousHero 
{
	margin-left: -10px;
	horizontal-align: left;
}

#NextHeroName, #PreviousHeroName
{
	vertical-align: middle;
	white-space: normal;
	width: 120px;
	text-transform: uppercase;
   	font-size: 16px;
	color: #aabfbf;
    margin-right: 4px;
	margin-top: 3px;
}

#NextHeroName
{
	horizontal-align: right;
	text-align: right;
}

#PreviousHeroName
{
	horizontal-align: left;
	text-align: left;
	margin-left: 4px;
}

#PreviousHero .Arrow
{
	background-image: url("s2r://panorama/images/control_icons/icon_hero_next_arrow_png.vtex");
	background-repeat: no-repeat;
    background-size: 50px 46px;
    width: 50px;
    height: 46px;
}

#NextHero .Arrow
{
    background-image: url("s2r://panorama/images/control_icons/icon_hero_next_arrow_png.vtex");
	background-repeat: no-repeat;
    background-size: 50px 46px;
    width: 50px;
    height: 46px;
}

#PreviousHero:hover, #NextHero:hover
{
	color: white;
	opacity: .5;
    //border: 1px solid #333333;
    background-color: #111111;
}

#PreviousHero:active, #NextHero:active
{
    //border: 1px solid #555555;
    background-color: #666666;
	sound: "ui_hero_select_slide";
}

/* This is the panel that draws the large hero preview. There are two so we can transition between them */
.EconSetPreview
{
	width: 60%;
    height: 100%;
	saturation: 1.0;

	opacity: 0.0;
    opacity-mask: url("s2r://panorama/images/masks/hero_model_opacity_mask_png.vtex");

	transition-property: opacity, saturation;
	transition-delay: .1s;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;

    /* Hacky, but useful until we update camera positions */
    transform: translateY( -70px ) translateX( -45px);
}

.AspectRatio4x3 .EconSetPreview
{
    width: 55%;
}

/*DOTAEconItemPage.HeroPreviewMode*/
#PreviewRays, #PreviewRays2
{
	width: 75%;
    height: 80%;
    opacity: 0;
    margin-left: -180px;
    opacity-mask: url("s2r://panorama/images/masks/hero_model_opacity_mask_png.vtex");

	transition-property: opacity;
	transition-duration: 1s;
}

.AspectRatio4x3 #PreviewRays,
.AspectRatio4x3 #PreviewRays2
{
    width: 65%;
}

#PreviewRays2
{
	width: 50%;
    height: 70%;
    margin-left: 20px;
}

.DOTAEconItemPage.HeroPreviewMode #PreviewRays
{
	opacity: 1;	
}


.DOTAEconItemPage.HeroPreviewMode #PreviewRays2
{
	opacity: 0.6;	
}


.DOTAEconItemPage.DisablePreviewRays #PreviewRays
{
	opacity: 0;
}


.DOTAEconItemPage.DisablePreviewRays #PreviewRays2
{
	opacity: 0;	
}


/* This is set on only 1 of the two panels at a time, indicating which one we are looking at */

#EconSetPreview1
{
	opacity: 0;
}

#EconSetPreview1.EconSetLoaded
{
	sound: "ui_hero_select_slide_late";
}

#EconSetPreview2
{
	opacity: 0;
}

#EconSetPreview2.EconSetLoaded
{
	sound: "ui_hero_select_slide_late";
}

#EconSetPreview1.Visible
{
	opacity: 1.0;
	transition-duration: 0.5s;
}

#EconSetPreview2.Visible
{
	opacity: 1.0;
	transition-duration: 0.5s;
}


/* This will only be set on the visible panel, indicating it's showing an old model while we stream in the new one */
.EconSetPreview.Stale
{
	saturation: 0.5;
}

/* Stuff that lies on top of the large hero preview starts here */
#PageContents
{
	width: 100%;
	height: 100%;
}

#HeroQuickSearch
{
	width: 100%;
	horizontal-align: center;
}

.DOTAEconItemPage.HeroBrowsingDisabled #HeroQuickSearch
{
	visibility: collapse;
}

/* This is the controls that lie under the large hero preview */

#PrimaryControlsRightAlign
{
	flow-children: right;
	height: 100%;
}

#PrimaryControls
{
	width: fill-parent-flow (1.0);
	flow-children: down;
	horizontal-align: right;
    vertical-align: bottom;
	margin-left: 25px;
	margin-bottom: 130px;
}

/*
	Here's where the right half of the screen begins, with hero info and small item set previews
*/
#RightPanel
{
	margin-top: 71px;
    margin-bottom: 120px;
	margin-left: 0px;
	horizontal-align: right;
    width: 920px;
    height: 100%;
    flow-children: right;
}

.AspectRatio4x3 #RightPanel, .AspectRatio5x4 #RightPanel
{
    width: 820px;
}

.DOTAEconItemPage.NoHeroInfo .HeroInfo
{
    visibility: collapse;
}

.EconItemInfo 
{
	width: 100%;
	height: 100%;
}

.HeroInfo 
{
	height: 100%;
	width: 100%;
    flow-children: down;
}

.DOTAEconItemPage.GlobalItem .HeroInfo
{
    flow-children: right;
}

#Subpage
{
    width: 100%;
}


#PrimaryAttribute 
{
	height: 44px;   /* If you change this, change .PrimaryAttributeStandin to match */
	width: 44px;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: top;
	margin-top: 32px;
	margin-left: -10px;
	margin-right: 12px;
}

/* This is here to make sure if there's no hero info, the right side still takes up */
/* the same amount of space */
.PrimaryAttributeStandin 
{
	height: 44px;
	width: 44px;
    visibility: collapse;
}

.DOTAEconItemPage.Strength      #PrimaryAttribute { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");}
.DOTAEconItemPage.Agility       #PrimaryAttribute { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex"); }
.DOTAEconItemPage.Intelligence  #PrimaryAttribute { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex"); }

.DOTAEconItemPage.NoHeroInfo #PrimaryAttribute 
{
    visibility: collapse;
}

.DOTAEconItemPage.NoHeroInfo .PrimaryAttributeStandin 
{
    visibility: visible;
}

#HeroHeader
{
    flow-children: down;
	margin-top: 23px;
}


#HeroName
{
	color: white;
    font-size: 54px;
	font-weight: Bold;
	letter-spacing: 1px;
    text-transform: uppercase;
}

#HeroDescription
{
    flow-children: right;
	margin-top: -10px;
	margin-bottom: 12px;
	margin-left: 3px;
}

#HeroComplexity
{
	padding-top: 3px;
	width: 54px;
	margin-right: 17px;
	flow-children: right;
	tooltip-position: bottom;
}

.HeroComplexityPip
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/hero_complexity_empty_png.vtex");
	margin-right: 2px;
	wash-color: #dedede;
}

#HeroComplexityPip1
{
	background-image: url("s2r://panorama/images/hero_complexity_full_png.vtex");
}

.DOTAEconItemPage.Complexity2 #HeroComplexityPip2,
.DOTAEconItemPage.Complexity3 #HeroComplexityPip2
{
	background-image: url("s2r://panorama/images/hero_complexity_full_png.vtex");
}

.DOTAEconItemPage.Complexity3 #HeroComplexityPip3
{
	background-image: url("s2r://panorama/images/hero_complexity_full_png.vtex");
}

.DOTAEconItemPage.GlobalItem #HeroDescription
{
	visibility: collapse;
}

#HeroAttackType
{
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	color: #aeaeae;
	font-size: 19px;
	letter-spacing: 2px;
    text-transform: uppercase;
}

#HeroRoles
{
    flow-children: right;
	margin-left: 15px;
}

#HeroRoles Label
{
	color: #777777;
	font-size: 19px;
	letter-spacing: 2px;
    tooltip-position: bottom;
    margin-right: 12px;
    text-transform: uppercase;
}

.HeroActions
{
    flow-children: right;
    margin-top: -5px;
	margin-bottom:20px;
}

/* Used to line up the demo button correctly */
.DOTAEconItemPage.GlobalItem .HeroActions
{
    margin-top: 31px;
    margin-left: 18px;
	margin-bottom: 0px;
}

#HeroAbilities
{
    flow-children: right;
    vertical-align: center;
	margin-left: 3px;
}

.DOTAEconItemPage.GlobalItem #HeroAbilities
{
	visibility: collapse;
}

DOTAAbilityImage
{
    margin-right: 10px;
	margin-top: 2px;
    width: 50px;
    height: 52px;
    /* border: 1px solid black; */

    background-size: 100% 100%;
    background-repeat: no-repeat;

    tooltip-position: bottom;
}

.DemoSpacer
{
    width: 10px;
    height: 10px;
}

.DOTAEconItemPage.GlobalItem .DemoSpacer
{
	visibility: collapse;
}

// Hero Movie Mode hides everything except the hero model
// for making sweet hero movies
.HeroMovieMode #RightPanel,
.HeroMovieMode #PreviousHero,
.HeroMovieMode #NextHero,
.HeroMovieMode #PageContents
{
	visibility: collapse;
}

.HeroMovieMode .EconSetPreview
{
	horizontal-align: center;
	transform: translateY( -70px ) translateX( -45px);

	opacity-mask: none;
}

.HeroMovieMode #PreviewRays,
.HeroMovieMode #PreviewRays2
{
	horizontal-align: center;
}

.HeroMovieMode #PreviewRays
{
	opacity: 1;	
}

.HeroMovieMode #PreviewRays2
{
	opacity: 0.6;	
}