DOTAHeroBadgeGalleryPage
{
	margin-top: 160px;
	flow-children: down;
	overflow: scroll;
	horizontal-align: center;
	background-color: #0009;

}

.BadgeGalleryCategory
{
	font-size: 36px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.BadgeList
{
	flow-children: right;
	margin-bottom: 20px;
}

#TinyBadges > Panel
{
	width: 32px;
	height: 32px;
}

#SmallBadges > Panel
{
	width: 64px;
	height: 64px;
}

#FullBadges > Panel
{
	width: 256px;
	height: 256px;
}

#ModelBadges
{
	padding-right: 200px;
}