#DOTAProfileLeaguePassesPage
{
    width: 100%;
    height: 100%;
}

#LeaguePassScoreLabels
{
	flow-children: down;
	vertical-align: center;
	margin-right: 20px;
}

#LeaguePassCountLabel
{
	font-size: 24px;
	text-align: right;
	visibility: visible;
    color: #cccccc;
}

.WaitingForLeaguePassData #LeaguePassCountLabel
{
	visibility: collapse;
}

#LeaguePassGrid
{
	margin-top: 16px;
	width: 1392px;
	height: 650px;
	horizontal-align: center;
	flow-children: right-wrap;
	overflow: clip scroll;
	visibility: visible;
    background-color: #000000bb;
}

.WaitingForLeaguePassData #LeaguePassGrid
{
	visibility: collapse;
}

#UserRichPresence
{
	margin-top: -6px;
}