
/* 
	Styles for the TournamentDetails db page
*/


DOTATournamentDetailsPage
{
	width: 1390px;
	height: 800px;

	horizontal-align: center;
	margin-top: 150px;

	flow-children: right;
}

.Frostivus2017 DOTATournamentDetailsPage
{
	background-color: #001133cc;
}

#TournamentMainPanel
{
	width: 1044px;
	height: 100%;
	flow-children:down;
	flow-children: down;

	background-color:#0a0d0fbb;
}

#TournamentHeader
{
	width: 100%;
	height: 110px;
	flow-children:right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.15, #00000000 ), to( #000000ff ));
}

#OverviewAndPhases
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

#PhaseContainer
{
	width: 100%;
	height: 100%;
}

#TournamentLogo
{
	width:80px;
	height:80px;

	margin-left: 16px;
	margin-right:16px;

	vertical-align: middle;
}

#TournamentName
{
	font-size: 26px;
	font-weight: thin;
	letter-spacing: 3px;
	text-transform: uppercase;

	color: #cccccc;

	margin-top: 30px;
}

#TournamentMenu
{
	flow-children: right;
}

#TournamentMenu .SecondaryTabButton Label
{
	font-size: 16px;
	font-weight: thin;

	color: #627776;

}

#TournamentMenu .SecondaryTabButton:selected Label
{
	color: #bdc1c1;
}

#TournamentSidePanel
{
	width:345px;
	height:100%;

	background-color: #0a0d0fbb;

	flow-children:down;
}

#SpoilersPanel
{
	margin-top: 10px;
	margin-bottom: 10px;

	flow-children: right;

	horizontal-align: center;
}

#SpoilerButton
{
	height:40px;

	margin-right: 0;
	border-right-width: 0px;

    width: 240px;

}

#SpoilerText
{
	vertical-align: middle;
	horizontal-align: center;

	flow-children: right;
}

#SpoilerButton Label
{
	text-transform: uppercase;
	font-size: 16px;
}

.SpoilerStatus
{
	font-weight: bold;
	visibility: collapse;
}

.SpoilersBlocked #SpoilerBlockOn
{
	visibility: visible;
}

#SpoilerBlockOff
{
	visibility: visible;
}

.SpoilersBlocked #SpoilerBlockOff
{
	visibility: collapse;
}

#SpoilerButtonSide
{
	width: 40px;
	height: 40px;

	vertical-align: middle;
	horizontal-align: center;

	background-color: #333333;
}

#SpoilerImage
{
	background-color: #444444;
	background-image: url("s2r://panorama/images/status_icons/information_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 22px 22px;
	wash-color: #dddddd;

	width:40px;
	height:40px;

	vertical-align: middle;
	horizontal-align: center;
}


#UpcomingMatchesPanel
{
	flow-children:down;
	overflow:scroll;
	width:100%;
}

.SpoilersBlocked #UpcomingMatchesPanel
{
	visibility: collapse;
}

#UpcomingMatchesSpoilersBlocked
{
	width:100%;
	height: fill-parent-flow( 1.0 );

	visibility: collapse;
}

.SpoilersBlocked #UpcomingMatchesSpoilersBlocked
{
	visibility: visible;
}

#UpcomingMatchesSpoilersBlocked Label
{
	vertical-align: center;
	horizontal-align: center;

	text-align: center;

	width: 200px;
}

#UpcomingMatchesPanel
{
	width: 100%;
	height: fill-parent-flow( 1.0 );

	overflow: clip scroll;

	flow-children:down;
}

#UpcomingMatchesTitlePanel
{
	width:100%;

	background-color: #121618;

	flow-children:down;
}

#UpcomingMatchesLabel
{
	horizontal-align: middle;
	margin-top: 14px;
	margin-bottom: 8px;

	font-weight: thin;
	letter-spacing: 2px;
	text-transform:uppercase;
	color: #627776;
	font-size: 16px;
}

#CompendiumPanel
{
	width: 100%;

	border-top: 1px solid #444444;
	padding-top: 8px;

	flow-children: down;

	visibility: collapse;
}

#DynamicTabMenu
{
	flow-children:right;
}

#TournamentInfo
{
	flow-children: down;
}

#CompendiumButtonTopRight
{
    height: 110px;
    width: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.15, #00000000 ), to( #000000ff ));
    flow-children: right;
}

#CompendiumButton
{
	horizontal-align: center;
	vertical-align: center;

	flow-children:right;
    border: 1px solid #2d3032;
    padding: 10px 40px 10px 40px;
    background-color: #1e2326;
}

#CompendiumButton:hover
{
    background-color: #24292d;
}

.HasCompendium #CompendiumButton
{
	visibility: visible;
}

#CompendiumButton:hover Label
{
	color: #ffffff;
}

#CompendiumButton:hover #TopRightArrowControl
{
    wash-color: none;
}


#CompendiumLogo
{
	height: 24px;
	width: 24px;
    margin-top: 1px;
}

Label#CompendiumLabel
{
	font-size: 16px;
	color: #657979;

	margin-left: 8px;
	margin-top: 4px;
    letter-spacing: 2px;

	text-transform: uppercase;
}

#TopRightArrowControl
{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
    wash-color: #657979;
}