
#DOTAWatchLivePage
{
	flow-children: right;

	width: 1392px;
	height: 800px;
}

.WatchBGDark
{
	background-color: #00000088;
}

#WatchLiveGameListLeft
{
	width: 336px;
	height: 800px;

	/*box-shadow: inset #00000088 2px 2px 4px 4px;*/
	padding: 8px 4px 0px 0px;
}

.FullscreenVideo #WatchLiveGameListLeft,
.FullscreenVideo #Main
{
	visibility: collapse;
}

#WatchLiveGameListContainer
{
	width: 100%;
	height: 760px;

	flow-children: down;
}

#HeroFilter
{
	height: 0px;
	width: 100%;

	background-color: #333333;

	transition-property: height;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.ShowHeroFilter #HeroFilter
{
	height: 30px;
}

#HeroFilterClose
{
	horizontal-align: right;
}

#HeroFilterName
{
	margin-top: 2px;
	margin-left: 10px;
}


#WatchLiveGameList
{
	width: 100%; 
	height: fill-parent-flow( 1.0 );

	flow-children: down; 
	overflow: clip scroll;
}

#FriendsOnlyContainer
{
	height: 30px;
	width: 100%;

	background-color: black;

	vertical-align: bottom;

	flow-children: right;
}

#FriendsOnlyContainer DOTASettingsCheckbox
{
	margin-top: 2px;
	padding-right: 15px;
}

.StateMatchListPending #WatchLiveGameList
{
	opacity: 0;
}

#WaitLiveGameListSpinner
{
	width: 100%;
	height: 100%;

	transition-property: opacity!immediate;
	transition-duration: 0.0s;
	transition-delay: 0s;

	opacity: 0.0;
}

.StateMatchListPending #WaitLiveGameListSpinner
{
	transition-property: opacity!immediate;
	transition-duration: 1.0s;
	transition-delay: 2.0s;

	opacity: 1.0;
}

.HasData #WaitLiveGameListSpinner
{
	opacity: 0.0;
}

.WaitPip
{
	width: 16px;
	height: 16px;

	horizontal-align: center;

	animation-name: PipCycle;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'PipCycle'
{
	0%
	{
		box-shadow: baseText -0.4px -0.4px 1px 1px;
	}

	50%
	{
		box-shadow: baseText -1.5px -1.5px 4px 4px;
	}

	100%
	{
		box-shadow: baseText -0.4px -0.4px 1px 1px;
	}
}

#ListWaitPip1
{
	y: 17%;
	animation-delay: 0.0s;
}

#ListWaitPip2
{
	y: 34%;
	animation-delay: 0.1s;
}

#ListWaitPip3
{
	y: 50%;
	animation-delay: 0.2s;
}

#ListWaitPip4
{
	y: 67%;
	animation-delay: 0.3s;
}

#ListWaitPip5
{
	y: 84%;
	animation-delay: 0.4s;
}

#Main 
{
	width:1056px;
	height:800px;
}

/* HEADER */

#MainHeader,
#MainHeaderBlank
{
	width: 1056px;
	height: 138px;

	padding: 24px 24px 20px 24px;

	background-color: #000000FF;

	flow-children: none;
}

#MainHeader
{
	transition-property: opacity!immediate;
	transition-duration: 0.0s;
	transition-delay: 0s;

	opacity: 0.0;
}

#MainHeaderBlank,
.StateMatchListError #MainHeaderBlank,
.StateMatchListPending #MainHeaderBlank,
.StateMatchListEmpty #MainHeaderBlank,
.StateMatchPending #MainHeader,
.StateMatchConnected #MainHeader
{
	transition-property: opacity!immediate;
	transition-duration: 0.5s;
	transition-delay: 0s;

	opacity: 1.0;
}

#NoMatches
{
	visibility: collapse;
}

.StateMatchListEmpty #NoMatches
{
	visibility: visible;
	vertical-align: center;
	horizontal-align: center;
	font-size: 20px;
	color: #808080;
	text-transform: uppercase;
	letter-spacing: 2.0px;
	padding: 30px 0px;

}


.LeagueMatch #HeaderLeague,
.NonLeagueMatch #HeaderPub
{
	visibility: visible;
}

.NonLeagueMatch #HeaderLeague,
.LeagueMatch #HeaderPub
{
	visibility: collapse;
}

#LeagueName,
#GameMode
{
	color: #cccccc;
	font-size: 28px;
	max-height: 80px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: left;
	margin-top:16px;

	vertical-align: top;
}

#HeaderLeague
{
	flow-children: right;
}

#LeagueLogo
{
	width: 152px;
	height: 60px;
}

#LeagueName
{
	margin-left: 20px;
}

#DetailsSpectating
{
	vertical-align: bottom;
	horizontal-align: left;

	flow-children: right;
}

#DetailsSpectating Label
{
	font-size: 14px;
	color: #758d8c;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#DetailsSpectating #DetailsSpectatingCount
{
	color: #cccccc;
	vertical-align: middle;
}

.DetailsSpectatingIcon
{
	background-image: url("s2r://panorama/images/control_icons/spectate_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	wash-color: #3b4746;
	height: 20px;
	width: 20px;
	margin-right: 6px;
	margin-bottom:2px;
}

#DetailsTime
{
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;

	min-width: 200px;
}

.StateMatchPending #DetailsTime
{
	visibility: collapse;
}

#DetailsTimeValue
{
	color: #cccccc;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	vertical-align: middle;
}

.DetailsTimeIcon
{
	background-image: url("s2r://panorama/images/control_icons/clock_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	wash-color: #3b4746;
	height: 20px;
	width: 20px;
	margin-right: 6px;
	margin-bottom:2px;
}

#DetailsMMR
{
	vertical-align: bottom;
	horizontal-align: right;
	flow-children: right;

	visibility: collapse;
}

.ShowMMR #DetailsMMR
{
	visibility: visible;
}

.MMRIcon
{
	background-image: url("s2r://panorama/images/icon_mmr_small_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	wash-color: #3b4746;
	height: 20px;
	width: 20px;
	margin-right: 6px;
	margin-bottom:2px;
}

#MMRValue
{
	vertical-align: middle;
}


/* BODY */

#MainBody,
#MainBodyBlank
{
	x: 0px;
	y: 138px;
	width: 1056px;
	height: 586px;

	background-color: #101413;

	flow-children: none;
}

#MainBody
{
	transition-property: opacity!immediate;
	transition-duration: 0.1s;
	transition-delay: 0s;

	opacity: 0.0;
}

#MainBodyBlank,
.StateMatchListError #MainBodyBlank,
.StateMatchListPending #MainBodyBlank,
.NoGames #MainBodyBlank,
.StateMatchPending #MainBodyBlank,
.StateMatchConnected #MainBody
{
	transition-property: opacity!immediate;
	transition-duration: 0.5s;
	transition-delay: 0s;

	opacity: 1.0;
}

#MainTeamsStatus 
{
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-delay: 0s;

	opacity: 1.0;


	flow-children: right;
}
#HeroBlockRadiant
{
	horizontal-align: left;
}

#HeroBlockDire
{
	horizontal-align: right;
}

.InlineVideo #MainTeamsStatus
{
	opacity: 0.0;
}

#InlineVideoPanel
{
	opacity: 0.0;
}

.InlineVideo #InlineVideoPanel
{
	width: 100%;
	height: 100%;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-delay: 0s;

	opacity: 1.0;
}

.HeroBlock
{
	width: fill-parent-flow(1.0);
	min-width: 300px;
	height: 500px;
	flow-children: down;

	padding-left: 24px;
	padding-right: 24px;
}

#HeaderPanel
{
	width: 100%;
	height: 100px;
}

#DraftLabel
{
	font-size: 40px;
	horizontal-align: center;
}

#DraftInformation
{
	visibility: collapse;
	width: 100%;
	vertical-align: center;
}

.IsDraftPhase #DraftInformation
{
	visibility: visible;
}


#GameDetailsRadiant,
#GameDetailsDire
{
	flow-children: right;
	border-bottom-color: #364140;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 28px;
}

#GameDetailsRadiant
{
	horizontal-align: left;
}

#GameDetailsDire
{
	horizontal-align: right;
}

#DetailsTeamsLogoRadiant
{
	horizontal-align: left;
	margin-right: 8px;
}

#DetailsTeamsLogoDire
{
	horizontal-align: right;
	margin-left: 8px;
}

.DetailsTeamsName
{
	font-size: 16px;
	color: #758d8c;
	text-transform: uppercase;
	letter-spacing: 3px;

	padding-bottom: 4px;

	vertical-align: bottom;

	max-width: 250px;
	max-height: 24px;

	margin-top:100px;
}


#DetailsTeamsNameDire
{
	margin-right: -8px;
}

.PlayerBlock
{
	width: 190px;
	height: 42px;

	flow-children: none;
}

.Radiant .PlayerBlock
{
	margin-left: 12px;
}

.Dire .PlayerBlock
{
	margin-right: 12px;
}

.HeroInfo
{
	width: 100%;
	height: 48px;
	margin-bottom: 8px;

	flow-children: right;
}

.Radiant .HeroInfo
{
	horizontal-align: left;
}

.Dire .HeroInfo
{
	horizontal-align: right;
}

.HeroImage
{
	width: height-percentage( 100% );
	height: 48px;
	horizontal-align: center;
}

.IsBot .PlayerName,
.PlayerName.Bot
{
	visibility: collapse;
}

.IsBot .PlayerName.Bot
{
	visibility: visible;
}

.PlayerName
{
	vertical-align: top;

	max-width: 220px;
	max-height: 24px;

	font-size: 17px;
}

.Radiant .PlayerName
{
	horizontal-align: left;
}

.Dire .PlayerName
{
	horizontal-align: right;
}

.HeroName
{
	color: #758d8c;
	vertical-align: bottom;

	font-size: 16px;
}

.Radiant .HeroName
{
	horizontal-align: left;
}

.Dire .HeroName
{
	horizontal-align: right;
}

.CameraIcon
{
	background-image: url("s2r://panorama/images/control_icons/camera_png.vtex");
	background-repeat: no-repeat;
	background-size: cover;

	height: 25px;
	width: 25px;

	vertical-align: top;
	wash-color: #758d8c;

	visibility: collapse;
}

.Broadcasting .CameraIcon
{
	visibility: visible;
}

.Radiant .CameraIcon
{
	horizontal-align: right;
}

.Dire .CameraIcon
{
	horizontal-align: left;
}

.PlayerStats
{
	color: #758d8c;

	font-size: 16px;

	vertical-align: bottom;
	horizontal-align: right;
}

.Radiant .PlayerStats
{
	horizontal-align: right;
}

.Dire .PlayerStats
{
	horizontal-align: left;
}

.MinimapIconHeroBorder
{
	wash-color: #00ff00;
	opacity: .25;
	width: 24px;
	height: 24px;
	texture-sampling: alpha-only;
	z-index: 0;
	pre-transform-scale2d: 1.1;

	transition-property: position;
	transition-duration: 0.5s;
}

#HeroMapIconBorder10,
#HeroMapIconBorder11,
#HeroMapIconBorder12,
#HeroMapIconBorder13,
#HeroMapIconBorder14
{
	wash-color: #ff0000;
}


.MinimapIconHero
{
	width: 24px;
	height: 24px;

	z-index: 2;

	transition-property: position;
	transition-duration: 0.5s;
}

.MinimapIconBuilding
{
	width: 12px;
	height: 12px;
	saturation: .3;
	background-size: cover;

	z-index: 1;
}

.DetailsTeamsLogo
{
	vertical-align: bottom;

	height: 32px;
	width: height-percentage( 166% );

	margin-bottom: 4px;

	background-color: #000000;
}


.NonLeagueMatch .DetailsTeamsLogo
{
	visibility: collapse;
}

.DetailsTeamsScore
{
	color: #cccccc;
	font-size: 28px;
	vertical-align: bottom;
	line-height:0px;

	margin-top:100px;

	min-width: 60px;

	width: fill-parent-flow( 1.0 );
}

.Radiant .DetailsTeamsScore
{
	text-align: right;
	horizontal-align: right;
}

.Dire .DetailsTeamsScore
{
	text-align: left;
	horizontal-align: left;
}

#MapPreview
{
	width: fill-parent-flow( 1.0 );
	height: width-percentage( 100% );
	
	horizontal-align: center;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/textures/dotamap683_psd.vtex");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#MapBuildingLayer,
#MapHeroLayer
{
	width: 100%;
	height: 100%;
}

#MapBuildingLayer
{
	z-index: 2;
}

#MapHeroLayer
{
	z-index: 3;
}


#MapBG
{
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/minimap/dotamap_psd.vtex");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	//saturation: 0.25;
	//wash-color: #000000aa;
}


.RadiantTint
{
	wash-color: #609c50;
}

.DireTint
{
	wash-color: #ce461e;
}

/* FOOTER */

#MainFooter,
#MainFooterBlank
{
	x: 0px;
	y: 724px;
	width: 1056px;
	height: 76px;

	background-color: #000000FF;
}

#MainFooter
{
	transition-property: opacity!immediate;
	transition-duration: 0.0s;
	transition-delay: 0s;

	opacity: 0.0;
}

#MainFooterBlank,
.StateMatchListError #MainFooterBlank,
.StateMatchListPending #MainFooterBlank,
.NoGames #MainFooterBlank,
.StateMatchPending #MainFooter,
.StateMatchConnected #MainFooter
{
	transition-property: opacity!immediate;
	transition-duration: 0.5s;
	transition-delay: 0s;

	opacity: 1.0;
}

.StateMatchListPending #MainFooterPendingData
{
	x: 0px;
	y: 724px;
	width: 1056px;
	height: 76px;

	background-color: #000000FF;

	visibility: visible;
}

#WatchButtons {
	horizontal-align: right;
	flow-children: right;
	vertical-align: middle;
	margin-right: 24px;
}

#WatchButtons .GameDetailsTitle {
	margin-right: -8px;
}

.FlatButton {
	width: 160px;
	vertical-align: middle;
	horizontal-align: center;
	margin: 0px 0px 0px 12px;
	flow-children: right;
}

.FlatButton Label {
	horizontal-align: center;
	vertical-align: middle;
	margin: 5px 0px 0px 0px;
}

.FlatButtonCenter {
	horizontal-align: center;
	width: fit-children;
	flow-children: right;
}

.ExternalIcon
{
	background-image: url("s2r://panorama/images/control_icons/arrow_top_right_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	wash-color: #3b4746;
	height: 12px;
	width: 12px;
	margin-left: 6px;
	vertical-align: middle;
}

.FlatButton:hover
{
	background-color: #202626;
}

.FlatButton:hover Label
{
	color: #737e7e;
}

.FlatButton:enabled {
	width: 160px;
	vertical-align: middle;
	horizontal-align: center;
	margin: 0px 0px 0px 12px;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615Ecc ), to( #879695cc ));

	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;
}
.FlatButton:enabled:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5f6663 ), to( #b4c2c1 ));
}
.FlatButton:enabled Label {
	color: #ffffff;
}
.FlatButton:enabled:hover Label {
	color: #ffffff;
}
.FlatButton:enabled:active Label {
	color: #3b4746;
}
.FlatButton:enabled .ExternalIcon {
	wash-color: #ffffff;
}
.FlatButton:enabled:hover .ExternalIcon {
	wash-color: #ffffff;
}
.FlatButton:enabled:active .ExternalIcon {
	wash-color: #3b4746;
}

.NeedsTicket #WatchLabel,
.HasTicket #WatchLabel
{
	visibility: collapse;
}

.FlatButton.Green:enabled {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #40621d ), to( #5e842c ) );
	border-top: 1px solid #859d6e;
	border-right: 1px solid #496922;
	border-left: 1px solid #496922;
	border-bottom: 1px solid #294211;
}

.FlatButton.Green:enabled:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60823d ), to( #9eb46c ) );
}

.FlatButton.Blue:enabled {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4b75 ), to( #65a9db ) );
	border-top: 1px solid #80bceb;
	border-right: 1px solid #507693;
	border-left: 1px solid #507693;
	border-bottom: 1px solid #273a48;
}

.FlatButton.Blue:enabled:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4b75 ), to( #9ccaf4 ) );
}


.FlatButton.Gold:enabled {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6d6629 ), to( #c2c35b ) );
	border-top: 1px solid #baba59;
	border-right: 1px solid #97984a;
	border-left: 1px solid #97984a;
	border-bottom: 1px solid #514b1e;
}

.FlatButton.Gold:enabled:hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #908737 ), to( #e8e86e ) );
}


.NeedsTicket #WatchInGame,
.NeedsTicket #WatchFullscreen,
.HasTicket #WatchInGame,
.HasTicket #WatchFullscreen
{
	visibility: collapse;
}

#PurchaseTicket
{
	visibility: collapse;
}

.NeedsTicket #PurchaseTicket
{
	visibility: visible;
}

#ActivateTicket
{
	visibility: collapse;
}

.HasTicket #ActivateTicket
{
	visibility: visible;
}

#PurchaseTicket Label
#ActivateTicket Label
{
	text-transform: uppercase;
}

#ViewTabs
{
	horizontal-align: left;
	flow-children: right;
	vertical-align: middle;
	margin-left: 24px;
}

#ButtonInlineMap, 
#ButtonInlineGraphs, 
#ButtonInlineSteam, 
#ButtonInlineTwitch, 
#ButtonInlineYouTube, 
#ButtonInlineMLG
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	wash-color: #708786;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	horizontal-align: center;
}

.ViewTabBG:hover #ButtonInlineMap, 
.ViewTabBG:hover #ButtonInlineGraphs, 
.ViewTabBG:hover #ButtonInlineSteam,
.ViewTabBG:hover #ButtonInlineTwitch,
.ViewTabBG:hover #ButtonInlineYouTube,
.ViewTabBG:hover #ButtonInlineMLG,
.ViewTabBG:active #ButtonInlineMap,
.ViewTabBG:active #ButtonInlineGraphs,
.ViewTabBG:active #ButtonInlineSteam,
.ViewTabBG:active #ButtonInlineTwitch,
.ViewTabBG:active #ButtonInlineYouTube,
.ViewTabBG:active #ButtonInlineMLG
{
	wash-color: #cccccc;
}

.ViewTabBG:disabled #ButtonInlineMap,
.ViewTabBG:disabled #ButtonInlineGraphs,
.ViewTabBG:disabled #ButtonInlineSteam,
.ViewTabBG:disabled #ButtonInlineTwitch,
.ViewTabBG:disabled #ButtonInlineYouTube,
.ViewTabBG:disabled #ButtonInlineMLG,
.ViewTagBG:disabled:hover #ButtonInlineMap,
.ViewTagBG:disabled:hover #ButtonInlineGraphs,
.ViewTagBG:disabled:hover #ButtonInlineSteam,
.ViewTagBG:disabled:hover #ButtonInlineTwitch,
.ViewTagBG:disabled:hover #ButtonInlineYouTube,
.ViewTagBG:disabled:hover #ButtonInlineMLG
{
	wash-color: #333333;
}

.ViewTabBG:selected 
{
	background-color: #708786;
	border-color: #708786;
}

.ViewTabBG:selected #ButtonInlineMap, 
.ViewTabBG:selected #ButtonInlineGraphs, 
.ViewTabBG:selected #ButtonInlineSteam,
.ViewTabBG:selected #ButtonInlineTwitch,
.ViewTabBG:selected #ButtonInlineYouTube,
.ViewTabBG:selected #ButtonInlineMLG
{
	wash-color: #000000;
}

#ButtonInlineMap	{ background-image: url("s2r://panorama/images/control_icons/map_psd.vtex"); }
#ButtonInlineGraphs	{ background-image: url("s2r://panorama/images/control_icons/stats_psd.vtex"); }
#ButtonInlineSteam { background-image: url("s2r://panorama/images/control_icons/steam_small_png.vtex"); }
#ButtonInlineTwitch { background-image: url("s2r://panorama/images/control_icons/twitch_small_png.vtex"); }
#ButtonInlineYouTube { background-image: url("s2r://panorama/images/control_icons/youtube_small_png.vtex"); }
#ButtonInlineMLG { background-image: url("s2r://panorama/images/control_icons/mlg_small_png.vtex"); }

.ViewTabBG 
{
	height: 28px;
	width: 28px;
	border-style: solid;
	border-color: #2f3939;
	border-width: 1px;
	background-color: #00000000;
	margin-right: 12px;
	transition-duration: 0s;
}

.ViewTabBG .RadioBox 
{
	visibility: collapse;
}

#BattleCupBracket
{
	visibility: collapse;
}

.IsBattleCup #BattleCupBracket
{
	visibility: visible;
}

#BattleCupBracket.FlatButton
{
	width: 220px;
}

/* MESSAGES */

#MainMessage
{
	horizontal-align: center;
	y: 200px;

	width: 600px;
	height: 200px;

	visibility: visible;

	z-index: 1;
}

.StateMatchListPending #MainMessage,
.StateMatchListError #MainMessage,
.NoGames #MainMessage
{
	visibility: visible;
}

#DataPending,
#NoGames,
#DataError,
#Connecting,
.StateMatchPending #DataPending,
.StateMatchConnected #DataPending
{
	width: 100%;
	height: 100%;

	transition-property: opacity!immediate;
	transition-duration: 0.1s;
	transition-delay: 0s;

	opacity: 0.0;
}

.DataPending #DataPending,
.StateMatchListError #DataError,
.NoGames #NoGames,
.StateMatchPending #Connecting
{
	transition-property: opacity !immediate;
	transition-duration: 0.5s;
	transition-delay: 0s;
	opacity: 1.0;
}

#DataPendingLabel,
#NoGamesLabel,
#ConnectingLabel
{
	font-size: 28px;

	horizontal-align: center;
	vertical-align: middle;

	color: baseText;
}

#WaitSpinner
{
	horizontal-align: center;
	y: 300px;
}

#Details
{
	width: 100%;
	height: 100%;
}

.LeagueMatch #DetailsLogo
{
	width: height-percentage( 255% );
	height: 64px;

	margin-right: 10px;
	background-image: url("s2r://panorama/images/status_icons/dota_generic_psd.vtex");
	background-size: contain;

	vertical-align: middle;
}

.NonLeagueMatch #DetailsLogo
{
	visibility: collapse;
}

#DetailsBig
{
	flow-children: right;
	width: 70%;
}

#DetailsBigTitle
{
	color: #cccccc;
	font-size: 28px;
	max-height: 80px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: left;
	margin-top:16px;

	vertical-align: top;
}

Label#DetailsBigTitle
{
	color: #cccccc;
	font-size: 28px;
}

#LiveStreamDropDown
{
	height: 28px;

	font-size: 16px;
	padding: 0px 8px;

	vertical-align:top;
	horizontal-align:right;

	border-width: 1px;
}


#DetailsBottom
{
	vertical-align: bottom;
	horizontal-align: left;
	flow-children: right;
	margin-bottom: 10px;
}

#DetailsBottom Label
{
	color:#BBBBBBFF;
	font-size: 18px;
}

#DetailsWatchLater
{
	flow-children:right;
	margin-right:20px;
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom:10px;
	z-index: 500;

	visibility: collapse;
}

#DetailsWatchLater:hover {
	color: #cccccc;
	wash-color: #cccccc;
}

.NonLeagueMatch #DetailsWatchLater
{
	visibility: collapse;
}

#DetailsPlus
{
	width:20px;
	height:20px;

	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
	background-size: contain;
	wash-color: #708786;

	margin-right:5px;
	margin-top: 3px;
}

#DetailsWatchLaterLabel
{
	margin-top:5px;
	vertical-align:middle;
}

#DetailsDotaTV
{
	flow-children:right;
	margin-left:10px;
	margin-right:30px;
}

.NonLeagueMatch #DetailsDotaTV
{
	visibility: collapse;
}

#DetailsBracket
{
	width:32px;
	height:32px;

	background-image: url("s2r://panorama/images/control_icons/brackets_psd.vtex");
	background-size: contain;

	margin-right:5px;
}

#DetailsDotaTVLabel
{
	margin-top:5px;
	vertical-align:middle;
}

#DetailsButtons
{
	vertical-align: top;
	horizontal-align: right;

	flow-children: down;

	margin-top: 20px;
	margin-right: 20px;
}

#DetailsMainButton
{
	height: 40px;
	width: 300px;
}

.PreGame #DetailsMainButton
{
	visibility: visible;
}

.NonLeagueMatch #DetailsMainButtonLabelPurchase
{
	visibility: visible;
}

.LeagueMatch #DetailsMainButtonLabelWatch
{
	visibility: visible;
}

#DetailsSubButton
{
	height: 24px;
	width: 300px;

	wash-color:#bbbbbb;
}

#DetailsSubButton Label
{
	font-size: 14px;
}

.NonLeagueMatch #DetailsSubButton
{
	visibility: collapse;
}




#DetailsSpectatingFriends,
#DetailsSpectatingFriends1, 
#DetailsSpectatingFriends2, 
#DetailsSpectatingFriends3, 
#DetailsSpectatingFriends4Plus 
{
	visibility: collapse;
}

.FriendsSpectating1 #DetailsSpectatingFriends1, 
.FriendsSpectating2 #DetailsSpectatingFriends2, 
.FriendsSpectating3 #DetailsSpectatingFriends3, 
.FriendsSpectating4Plus #DetailsSpectatingFriends4Plus
{
	visibility: visible;
}

#DetailsSpectatingFriendsSeparator
{
	visibility: collapse;
}

.FriendsSpectating1 #DetailsSpectatingFriendsSeparator,
.FriendsSpectating2 #DetailsSpectatingFriendsSeparator,
.FriendsSpectating3 #DetailsSpectatingFriendsSeparator,
.FriendsSpectating4Plus #DetailsSpectatingFriendsSeparator
{
	visibility: visible;
}

Label
{
	color: baseText;
	font-size: 20px;
}

#GameModeLabel, .GameDetailsTitle 
{
	font-size: 14px;
	color: #758d8c;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.GameDetailsTitle 
{
	vertical-align: middle;
}
.DetailsValue
{
	color: #cccccc;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	vertical-align: middle;
}

.RankTierContainer
{
	width: height-percentage( 100%) ;
	height: 48px;
	background-size: 100%;
}


.RankTierContainer #BackgroundFX, .RankTierContainer #EliteFX
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}


.RankTierContainer #RankLeaderboard
{
	color: #cccccc;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
	text-shadow: 2px 2px #00000080;
	horizontal-align: center;
	vertical-align: bottom;
	
	background-color: #00000060;
	width: 100%;
	visibility: collapse;
}

#RankTier, #RankPips
{
	margin: 0;
	margin-right: 1px;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: 50% 50%;
}


.HasLeaderboardRank .RankTierContainer #RankLeaderboard
{
	visibility: visible;
}

.HasLeaderboardRank.LeaderboardTop100 #RankLeaderboard
{
	color: #c6a852;
}

.HasLeaderboardRank.LeaderboardTop20 #RankLeaderboard
{
	color: yellow;
}

.HasLeaderboardRank.LeaderboardTop1 #RankLeaderboard
{
	color: white;
	font-size: 18px;
}
