/* 
	Various classes set on this page include
	DOTAEconItemPage:
		HeroUnavailable - means we are in the middle of switching a hero or his item set. Isn't set when we switch styles
		HeroPreviewMode - means we are showing a preview of an item we don't own, as opposed to one we do own

*/

.SubpageRoot
{
	width: 100%;
	height: 640px; 
	flow-children: none;
	vertical-align: bottom;
}

#CustomizeControls 
{
	width: 100%;
	margin-top: 8px;
	margin-right: 96px;
}

#CustomizeTitleBox 
{
	width: 100%;
	background-color: #222222ff;
	vertical-align: middle;
}

#CustomizeTitleBox Label 
{
	margin-top: 8px;
	margin-left: 16px;
	margin-bottom: 4px;
	color: white;
	font-size: 24px;
	text-transform: uppercase;
}

#CustomizeItems 
{
	width: 100%;
	height: 100%;
	background-color: #111111ff;
}

#Items 
{
	width: 59%;
	height: 100%;
	margin-left: 16px;
}

#Slots
{
	width: 45%;
	height: 100%;
	margin-left: 16px;
	margin-right: 16px;
}

.CustomizeSmallTitle
{ 
	font-size: 14px;
	margin-top: 14px;
	margin-bottom: -2px;
	text-transform: uppercase;
}

#ItemList
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: down;
	overflow: squish scroll;
	background-color: #111111ff;
	padding-left: 20px;
	padding-top: 18px;
}

#CustomizeFooterBox 
{
	width: 100%;
	background-color: #222222ff;
	vertical-align: center;
	height: 60px;
}

#ButtonContainer 
{
	horizontal-align: right;
	margin-right: 16px;
	margin-top: 6px;
	flow-children: right;
}

#AcceptButton 
{
	//border: 1px solid #aaaaaa22;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 16px;
	vertical-align: center;
	padding: 3px 30px 0px 30px;
	min-width: 180px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #87d69533 ), to( #5Aa15E ) )
	//background-color: #003000;
	/*background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333 ), to( #666666 ) );*/
	transition-property: background-color;
	transition-duration: .1s;
	wash-color: #cccccc;	
}

#AcceptButton Label
{
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	vertical-align: middle;
	horizontal-align: center;
}

#AcceptButton:hover Label
{
	color: white;
}

#AcceptButton:hover 
{
	wash-color: #ffffff22;
	//border: 1px solid #aaaaaa;
}

#AcceptButton:active
{
	wash-color: #ffffff;
}

/* The cancel customization button */
#CancelButton
{
	margin-top: 6px;
	margin-bottom: 6px;
	min-width: 180px;
	padding: 3px 30px 0px 30px;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #722217 ), to( #DD4A2999 ) )
	//background-color: #400000;
	//border-top: 1px solid #ffffff22;
	//border-right: 1px solid #ffffff11;
	//border-left: 1px solid #00000044;
	//border-bottom: 1px solid #00000088;
	transition-property: background-color;
	transition-duration: .1s;
}

#CancelButton Label
{
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff99;
	vertical-align: middle;
	horizontal-align: center;
}

#CancelButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #912b1d ), to( #DD4A29 ) )
	//background-color: #830000;
}

#CancelButton:active
{
	wash-color: #ee4040;
}

.EffigyCustomize .AcceptButtonLabel,
.EffigyCustomize .CancelButtonLabel,
.AcceptEffigyButtonLabel,
.CancelEffigyButtonLabel
{
	visibility: collapse;
}

.EffigyCustomize .AcceptEffigyButtonLabel,
.EffigyCustomize .CancelEffigyButtonLabel
{
	visibility: visible;
}



