

#DOTAWatchDownloadsPage
{
	flow-children: down;

	width: 1392px;
	height: 800px;
}

#Header
{
	width: 100%;
	height: 50px;

	border-color: #333333;
	border-bottom: 1px;
	border-style: solid;
}

#ReplayCount
{
	horizontal-align: left;
	vertical-align: middle;

	margin-top: 2px;
	margin-left: 10px;
}

#DiskSpace
{
	horizontal-align: right;
	vertical-align: middle;

	margin-top: 2px;
	margin-right: 20px;
}


#ElementsContainer
{
	width: 100%;
	height: 100%;

	overflow: clip scroll;

	flow-children: down;
}

.BGDark
{
	background-color: #00000088;
}