.DashboardPage
{
	opacity: 0.0;
	pre-transform-scale2d: 0.975;
	wash-color: #63b5af;
	
	transition-property: opacity, pre-transform-scale2d, wash-color;
	transition-duration: 0.32s;
	transition-timing-function: ease-in;
}

DOTABPWinter2016QuestsPage.DashboardPage,
DOTABPWinter2016Page.DashboardPage,
DOTABPWinter2016RewardsPage.DashboardPage,
DOTABPWinter2016WageringPage.DashboardPage,
DOTABPWinter2016AchievementsPage.DashboardPage
{
	opacity: 0.0;
	pre-transform-scale2d: 1;
	transition-duration: 0.2s;
	wash-color: white;
}

.DashboardPage.PageVisible
{
	opacity: 1.0;
	pre-transform-scale2d: 1.0;
	wash-color: white;
}

DOTACompManila2016PredictionsPage.DashboardPage
{
	transition-property: opacity, pre-transform-scale2d, position, blur;
	blur: gaussian(20, 0.1, 4 );
	x: 1400px;

}

DOTACompManila2016PredictionsPage.DashboardPage.PageVisible
{
	x: 0px;
	blur: none;
}

.SafeDashboardPage, .SafeDashboardPageNoSecondary
{
    height: 100%;
    horizontal-align: center;
    vertical-align: middle;
}

/* Class to use if you want to be sure that all your content fits in 4x3 with secondary tabs or search */
.SafeDashboardPage
{
    width: height-percentage( 174% );
    margin: 150px 10px 130px 10px;
}

/* Class to use if you want to be sure that all your content fits in 4x3 with no secondary tabs or search*/
.SafeDashboardPageNoSecondary
{
    width: height-percentage( 174% );
    margin: 130px 10px 130px 10px;
}

#BattleCupVictoryIcon.BattleCupVictoryIconLarge
{
	margin-left: 6px;
	margin-top: 6px;
	margin-right: -2px;
}