DOTATreasuryPage 
{
	width: 100%;
	height: 100%;
}

#PageContents
{
	vertical-align: middle;
	horizontal-align: center;
	flow-children: down;
}

/* Header controls styles */
#TreasuryControls
{
	flow-children: right;
	width: 100%;
}

#TreasuryControls > Panel
{
	vertical-align: middle;
}

#FilterTabs
{
	flow-children: right;
	margin-bottom: -2px;
}

#FilterTabs Label
{
	font-size: 20px;
}

#FilterTabs RadioButton Label
{
	text-transform: uppercase;
	margin: 0px;
}

#FilterTabs RadioButton .RadioBox
{
	visibility: collapse;
}

.FilterSeparator
{
	margin: 0px 10px;
}

.NoTreasuresOwned #FilterOwned, .NoTreasuresOwned .FilterOwnedSeparator
{
	visibility: collapse;
}

.LeftRightFiller
{
	width: fill-parent-flow( 1.0 );
}

/* Carousel Styles */
#TreasuresCarousel
{
	margin-top: 10px;
	width: 1400px;
	height: 533px;
    flow-children: right;
	opacity: 0.99;
}

/* Referenced from code */
@define treasuresPerCarouselItem: 8;

.CarouselItem
{
	flow-children: right-wrap;
	overflow: clip;
	width: 1500px;
	transition-property: position, opacity;
	transition-duration: 0.3s;
}

.CarouselItem.Offscreen
{
	opacity: 0.0;
}
