DOTANewPlayerHomePage
{
	width: 100%;
	height: 100%;
}

#MainContents
{
	width: 100%;
	height: 100%;
	margin-top: 120px;
	flow-children: down;
	horizontal-align: center;
}

#Title
{
	horizontal-align: center;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
}

#Tiers
{
	width: 100%;
	height: 100%;
	margin-bottom: 160px;
	overflow: scroll squish;
	margin-top: 20px;
	padding: 0px 12px;
	flow-children: right;
}

.Tier
{
	flow-children: down;
	margin-right: 12px;
}

#TierMissions
{
	flow-children: down;
}

.TierTitle
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
}

.WelcomeMission
{
	border: 2px solid black;
	margin-bottom: 4px;
}

.WelcomeMission.HasScenario
{
	border: 2px solid #666;
}

.WelcomeMission.HasScenario:hover
{
	brightness: 2.0;
}

.WelcomeMission.HasScenario:active
{
	brightness: 1.5;
}

.MissionContents
{
	flow-children: down;
	width: 460px;
	background-color: #000;
	padding: 10px;
}

.MissionTitle
{
	font-size: 20px;
	color: white;
}

.MissionSubtitle
{
	color: #999;
	font-size: 16px;
}

.WelcomeMission.Major .MissionTitle
{
	font-size: 36px;
}

.MissionStars
{
	flow-children: right;
	horizontal-align: right;
	margin-right: 4px;
	margin-top: 4px;
}

.MissionStar
{
	width: 24px;
	height: 24px;
	margin-left: 2px;
	wash-color: gold;

	background-image: url("s2r://panorama/images/control_icons/star_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}




#Overlay
{
	width: 100%;
	height: 100%;
}

#ScenarioDetailsBackground
{
	width: 100%;
	height: 100%;

	background-color: #00000000;

	transition-property: background-color;
	transition-duration: 0.2s;
}

.ShowScenarioDetails #ScenarioDetailsBackground
{
	background-color: #000000cc;
}

#ScenarioDetails
{
	padding: 8px;
	horizontal-align: right;
	vertical-align: middle;
	flow-children: down;
	width: 600px;
	height: 800px;
	background-color: black;
	border: 2px solid #999;

	opacity: 0.0;
	transform: translateX( 20px );

	transition-property: opacity, transform;
	transition-duration: 0.2s;
}

.ShowScenarioDetails #ScenarioDetails
{
	opacity: 1.0;
	transform: none;
}

#ScenarioDetailsName
{
	font-size: 42px;
	color: white;
	horizontal-align: center;
}

#ScenarioDetailsDescription
{
	font-size: 20px;
	color: #999;
	horizontal-align: center;
	text-align: center;
}

#ScenarioLaunchButton
{
	horizontal-align: center;
}