DOTAWatchDPCStandings
{
    flow-children: down;
}


.Header
{
    width: 100%;
    flow-children: right;
    padding-bottom: 12px;
}

.DPCLogoContainer
{
    flow-children: right;
}

#DPCLogo
{
    vertical-align: middle;
    margin-left: 8px;

}

.DPCLogoText
{
    flow-children: down;
    vertical-align: middle;
}

.DPCName
{
    font-size: 36px;
    font-family: titleFont;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    horizontal-align: left;
    text-align: center;
}

.DPCSeason
{
    margin-top: -8px;
    font-size: 15px;
    text-transform: uppercase;
    color: #ccc;
    letter-spacing: 2px;
    horizontal-align: left;
    text-align: center;
    font-weight: bold;
}

.DivisionSelector
{
    vertical-align: bottom;
    flow-children: right;
}

.DivisionSelector RadioButton
{
    margin-left: 12px;
}

.DivisionSelector RadioButton .RadioBox
{
    visibility: collapse;
}

.DivisionSelector RadioButton Label
{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: light;
    color: bluegreyTextReg;
}

.DivisionSelector RadioButton:selected > Label
{
	color: bluegreyTextBright;
	text-shadow: 0px 0px 6px 1 #79adff88;
}

#RegionsDataPanel
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
}

#RegionsList
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

.RegionsRow
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
    height: 364px;
    flow-children: right;
}

.RegionStandings
{
    width: fill-parent-flow( 1.0 );
    height: 100%;

    flow-children: down;

    margin-right: 16px;
    margin-bottom: 16px;


    background-color: gradient( linear, 0% 0%, 0% 100%, from( #151d24fc), color-stop( 0.5, #151c24ed), to( #0e1318aa ) );
    background-color: gradient( linear, 0% 0%, 100% 100%, from( #141c23 ), to( #1D2A35aa) );
}

.RegionName
{
    width: 100%;
    padding: 6px 12px;
    text-transform: uppercase;
    font-size: 16px;
	font-weight: bold;
	color: bluegreyTextBright;
    letter-spacing: 1px;
    background-color: dpcPanelBGLightFade;
    background-color: gradient( linear, 0% 0%, 100% 100%, from( #243442 ), to( #1D2A3544) );
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #0e1318fc), color-stop( 0.5, #151c24ed), to( #0e131844 ) );
    background-color: #0e1318fc;
}

#Region3, #Region6
{
    margin-right: 0px;
}

#RegionStandingsList
{
    width: 100%;
    flow-children: down;
}

.TeamStandings
{
    height: 40px;
    flow-children: right;
    width: 100%;
    padding: 6px 12px;

    transition-property: brightness;
    transition-duration: 0.2s;
}

.TeamStandings:hover
{
    //brightness: 2.0;
}

.TeamStandings:active
{
    brightness: 1.5;
}

.TeamStandings.HasTeam .TeamMissing
{
    visibility: collapse;
}

.TeamStandings.HasTeam #TeamImage,
.TeamStandings.HasTeam .TeamName,
.TeamStandings.HasTeam .TeamRecord
{
    visibility: visible;
}

.TeamStandings.Odd {  }
/* .TeamStandings.Even { background-color: #11111144; } */

.TeamStandings #TeamImage
{
    width: 24px;
    height: 24px;
    margin-right: 6px;

    visibility: collapse;
}

.TeamName, .TeamRecord
{
    vertical-align: middle;
    font-size: 16px;
	font-weight: semi-bold;
	color: bluegreyTextReg;
    letter-spacing: 1px;
    text-transform: uppercase;

    visibility: collapse;
}

.TeamRecord
{
    margin-right: 12px;
}

.TeamNameContainer
{
    flow-children: right;
    width: fill-parent-flow( 1.0 );
    vertical-align: middle;
}

.FavoriteStar
{
    margin-top: 1px;
    margin-left: 4px;
    visibility: collapse;
}

#TeamStandings6, #TeamStandings7
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #61232530 ), to( #36202500 )  );
}

#TeamStandings6 .TeamName, #TeamStandings6 .TeamRecord, #TeamStandings7 .TeamName, #TeamStandings7 .TeamRecord
{
    color: #71605E;
}

.TeamFavorite, #TeamStandings6.TeamFavorite, #TeamStandings7.TeamFavorite
{
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #8AA8A80c ), to( #8AA8A800 )  );
}

.TeamFavorite #TeamImage
{
    brightness: 1;
}

.TeamFavorite .TeamName, #TeamStandings6.TeamFavorite .TeamName, #TeamStandings7.TeamFavorite .TeamName
{
    color: bluegreyTextBright;
}

.TeamFavorite .TeamRecord
{
    color: bluegreyTextReg;
}

.TeamFavorite .FavoriteStar
{
    visibility: visible;
}
