
DOTAPageWebBrowser
{
    margin-top: 134px;
    margin-right: 32px;
    margin-left: 32px;
	padding: 16px ;
    horizontal-align: center;
    width: 1420px;
    height: 832px;
    flow-children: none;
}

#AddressTextEntry
{
	width: fill-parent-flow( 1.0 );
}

#WebContainer
{
	background-color: #00000099;
	width: 1392px;
	padding: 16px;
	height: 100%;
}

#NavRow
{
	width: 100%;
	flow-children: right;
	margin-bottom: 10px;
}

#HtmlContainer
{
	width: 100%;
	height: 100%;
}

#HTMLTexture
{
	width: 100px;
	height: 100%;	
}

HTML
{
	width: 100%;
	height: 100%;
	background-color: #00000066;
	opacity: 0.999;
}

TextEntry
{
	color: #cbcbcb;
	background-color: #00000055;
	font-size: 17px;
	height: 32px;
	border: 1px solid #2D3B46;
}

.RightControls
{
	width: 64px;
	margin-left: 10px;
}

.StopButton
{
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    visibility: collapse;
}

.BrowserButton
{
    wash-color: #888888;
	width: 24px;
	height: 24px;
	vertical-align: center;
	margin-top: 3px;
}

.BrowserCloseButton
{
	width: 32px;
	height: 32px;
	horizontal-align: right;
	vertical-align: top;
	background-image: url("s2r://panorama/images/control_icons/quit_png.vtex");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -12px;
    margin-right: -12px;

}

.BrowserRefreshButton
{
	background-image: url("s2r://panorama/images/control_icons/refresh_psd.vtex");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

.BrowserButton:hover
{
	wash-color: #bbbbbb;
}

.BrowserButton:active
{
	wash-color: white;
	pre-transform-scale2d: 0.8;
}

.Loading .BrowserRefreshButton
{
	visibility: collapse;
}

.Loading .StopButton
{
	visibility: visible;
}

#LoadingSpinner
{
	margin-left: 34px;
	width: 25px;
	height: 25px;
	opacity: 0.0;
	vertical-align: center;

	transition-property: opacity;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

.Loading #LoadingSpinner
{
	opacity: 1.0;
}