.HomePageDebug
{
	padding-top: 56px;
	width: 100%;
	height: 100%;
}

#HomePageBackground
{
	width: 100%;
	height: 100%;
}

#MainContents
{
	width: 100%;
	height: 100%;
	padding: 46px 56px;
}

.ControlsBlock
{
	width: 336px;
	height: 810px;
	background-color: #000c;
	border: 1px solid #444;
}

#RightControls
{
	horizontal-align: right;
}
