@define cellSpacing: 14px;

DOTAStoreFeaturedPage
{
}

.PageStateContainer
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.2s;
}
.LoadingData #LoadingStoreData,
.FailedLoadingData #FailedLoadingStoreData,
.LoadedData #LoadedStoreData
{
	opacity: 1.0;
}

#LoadingStoreData, #FailedLoadingData
{
	horizontal-align: center;
	vertical-align: center;
}

#LoadedStoreData
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.FeaturedPageCell
{
	background-color: #000000aa;
	box-shadow: -2px -2px 4px 4px #000000aa;
	padding: 12px;
}

#TopSection
{
	width: 100%;
	height: fill-parent-flow( 0.625 );

	flow-children: right;
}

#TopSection > Panel
{
	height: 100%;
}

/* ------------------------------------------------------------------------- */

#Featured
{
	width: fill-parent-flow( 0.5 );
	padding: 0px;
}

.SingleItemCarousel
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

.SingleItemCarousel > DOTAStoreFeaturedItem, .SingleItemCarousel > DOTAStoreSpotlightItem
{
	width: 100%;
	height: 100%;

	transition-property: opacity;
	transition-duration: 0.5s;
}

.SingleItemCarousel > DOTAStoreFeaturedItem.Offscreen, .SingleItemCarousel > DOTAStoreSpotlightItem.Offscreen
{
	opacity: 0.0;
}

.SingleItemCarouselNav
{
	horizontal-align: right;
	
}


/* ------------------------------------------------------------------------- */

#TopMiddleSection
{
	width: fill-parent-flow( 0.25 );
	margin: 0px cellSpacing;

	flow-children: down;
}

#SpotlightSale
{
	width: 100%;
	height: fill-parent-flow( 0.5 );
}

#SpotlightTreasure
{
	width: 100%;
	height: fill-parent-flow( 0.5 );

	margin-top: cellSpacing;
}

.SpotlightCell
{
	padding: 0px;
}

/* ------------------------------------------------------------------------- */

#FrontpageCellDebutArcanaZeus
{
	//width: fill-parent-flow( 0.25 );
}

.DOTATodayCell.25PercentWidthCell
{
	width: fill-parent-flow( 0.25 );	
}

.DOTATodayCell.FullHeightCell
{
	height: 100%;
}

#FrontpageCellBattlePass,
#FrontpageCellBattlePassPoints
{
	visibility: collapse;
}

.CurrentSeason.Season_International2016.SelfEventUpsell #FrontpageCellDebutArcanaZeus,
.CurrentSeason.Season_International2016.SelfEventActive #FrontpageCellDebutArcanaZeus
{
	visibility: collapse;
}

.CurrentSeason.Season_International2016.SelfEventUpsell #FrontpageCellBattlePass
{
	visibility: visible;
	box-shadow: fill #000000aa -2px -2px 4px 4px;
}

.CurrentSeason.Season_International2016.SelfEventActive #FrontpageCellBattlePassPoints
{
	visibility: visible;
	box-shadow: fill #000000aa -2px -2px 4px 4px;
}

/* ------------------------------------------------------------------------- */

#ArcanaCarousel
{
	width: fill-parent-flow( 0.25 );
	height: 100%;
	padding: 0px;
}

/* ------------------------------------------------------------------------- */


#CommonItems
{
	width: 100%;
	height: fill-parent-flow( 0.375 );
	margin-top: cellSpacing;
	padding-right: 0px;

	flow-children: down;
}

#CommonItemsHeader
{
	flow-children: right;
	margin-bottom: 8px;
}

#CommonItemsTabs
{
	flow-children: right;
}

#CommonItemsTabs RadioButton Label
{
	text-transform: uppercase;
	margin: 0px;
	font-size: 20px;
	color: #6f8685;
}
#CommonItemsTabs RadioButton:selected Label
{
	color: white;
}
#CommonItemsTabs RadioButton .RadioBox
{
	visibility: collapse;
}

.CommonItemsTabSeparator
{
	margin: 0px 8px;
	color: #6f8685;
	font-size: 20px;
}

#CommonItemsFiller
{
	width: fill-parent-flow( 1.0 );
}

#CommonItemsNav
{
	margin-right: 17px;
}

#CommonItemsCarousel
{
	flow-children: right;
	height: fill-parent-flow( 1.0 );
	width: 100%;
}

@define commonItemsPerPage: 6;

#CommonItemsCarousel .CarouselPage
{
	height: 100%;
	width: 100%;
	flow-children: right;

	transition-property: position;
	transition-duration: 0.2s;
}

#CommonItemsCarousel DOTAStoreItem
{
	width: 208px;
	height: 100%;
	margin-right: 22px;
}

.CommonItemPage
{
	height: 100%;
	width: 100%;
	flow-children: right;

	transition-property: position;
	transition-duration: 0.2s;
}