
DOTAPatchesPage
{
	flow-children: down;
}

#Header
{
	flow-children: right;
	margin-bottom: 8px;
}

#PatchContents
{
	height: fill-parent-flow( 1.0 );
	width: 100%;
	flow-children: down;
	overflow: squish scroll;
	background-color: #000a;
	padding: 12px 16px;
}


.PatchSection
{
	flow-children: down;
}

#PatchSectionContents
{
	flow-children: down;
	margin-bottom: 20px;
}

.PatchSectionName
{
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
}

.ItemNotes
{
	flow-children: right;
	margin-bottom: 8px;
}

.ItemName
{
	color: #ccc;
	text-transform: uppercase;
}

#ItemImage
{
	width: 88px;
	height: 64px;
}

.ItemNotesContents
{
	flow-children: down;
	margin-left: 8px;
}

#ItemNotesContainer
{
	flow-children: down;
}

.AbilityNotes
{
	flow-children: right;
	margin-bottom: 8px;
}

#AbilityImage
{
	width: 64px;
	height: 64px;
}

.AbilityName
{
	color: #ccc;
	text-transform: uppercase;
}

.AbilityNotesContents
{
	flow-children: down;
	margin-left: 8px;
}

#AbilityNotesContainer
{
	flow-children: down;
}

.HeroNotes
{
	flow-children: down;
	margin-bottom: 32px;
}

.HeroNotesTop
{
	flow-children: right;
}

.HeroName
{
	text-transform: uppercase;
	color: #ccc;
	font-size: 24px;
}

#HeroImage
{
	width: 128px;
	height: 72px;
}

.HeroNotesTopContents
{
	flow-children: down;
	margin-left: 8px;
}

.HeroNotesMain
{
	margin-top: 8px;
	margin-left: 64px;

	flow-children: down;
}

#HeroNotesContainer
{
	flow-children: down;
}

#AbilityNotesContainer
{
	flow-children: down;
}

.TalentNotes
{
	flow-children: right;

	visibility: collapse;
}

.HasTalentNotes .TalentNotes
{
	visibility: visible;
}

.TalentNotesContents
{
	margin-left: 8px;
	flow-children: down;
}

#TalentNotesContainer
{
	flow-children: down;
}

.TalentsName
{
	color: #ccc;
	text-transform: uppercase;
}

.TalentTreeImage
{
	width: 64px;
	height: 64px;

	background-image: url("s2r://panorama/images/spellicons/statbranch_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #aaa;
}

#TalentNotesContainer
{
	flow-children: down;
}