DOTAGameItemsPage
{
	width: 100%;
	height: 100%;
	margin-top: 150px;
}

.ColumnTitle
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	color: #ccc;
}

#PageContents
{
	horizontal-align: center;
	flow-children: right;
}

#ItemQuickSearch
{
	margin-bottom: 200px;
}

.MainShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_main_psd.vtex");
}

.SecretShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_secret_psd.vtex");
}

.SideShopIcon
{
	background-image: url("s2r://panorama/images/control_icons/shop_icon_side_psd.vtex");
}

#GameItemTable
{
	margin-left: 12px;
}

#GameNeutralItemTable
{
	margin-left: 12px;
}

/* ------------------------------------------------------------------------- */

#ItemDetails
{
	width: 350px;
	flow-children: down;
}

.AspectRatio4x3 #ItemDetails
{
	width: 300px;
}

#ItemDetailsContents
{
	flow-children: down;
	width: 100%;
	height: 749px;
	padding: 10px;
	background-color: #0009;
}


#ItemAvailability
{
	flow-children: down;
	width: 100%;
}

.ItemAvailabilityRow
{
	flow-children: right;
	visibility: collapse;
}

.ItemAvailabilityIcon
{
	width: 30px;
	height: 30px;
	wash-color: #ccc;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ItemAvailabilityRow > Label
{
	vertical-align: middle;
	margin-top: 4px;
	color: #ccc;
	margin-left: 3px;
}

.SelectedItemAvailableAtMainShop #ItemAvailibilityMainShop,
.SelectedItemAvailableAtSideShop #ItemAvailibilitySideShop,
.SelectedItemAvailableAtSecretShop #ItemAvailibilitySecretShop
{
	visibility: visible;
}

#ItemCombines
{
	width: 100%;
	height: 200px;
	transition-property: position;
	transition-duration: 0.2s;
}
