@define minOwnedItemSlotRows: 2;
@define ownedItemSlotsPerRow: 5;

DOTAGlobalItemSlotPage
{
	width: 100%;
	height: 100%;
}

#LargeModelPreview
{
	width: 60%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/hero_model_opacity_mask_png.vtex");

	/* Hacky, but useful until we update camera positions */
	transform: translateY( -70px ) translateX( -45px );
}

.AspectRatio16x10 #LargeModelPreview
{
	width: 55%;
}

.AspectRatio4x3 #LargeModelPreview
{
	width: 48%;
}

#LargeModelOverlay
{
	width: 60%;
	height: 100%;

	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 68px;
	padding-top: 200px;

	/* Hacky, but useful until we update camera positions */
	transform: translateY( -70px ) translateX( -45px );
}

.AspectRatio16x10 #LargeModelOverlay
{
	width: 57%;
}

.AspectRatio4x3 #LargeModelOverlay
{
	width: 48%;
}

#LargeModelDetails
{
	vertical-align: bottom;
	horizontal-align: right;
	flow-children: down;
}

.LargeModelItemMissing #LargeModelDetails
{
	visibility: collapse;
}

#LargeModelControls
{
	horizontal-align: right;
	margin-right: 8px;
	margin-bottom: 4px;
}

#LargeModelInfo
{
	flow-children: right;
	horizontal-align: right;
}

#LargeModelDetailsMain
{
	flow-children: down;
	vertical-align: bottom;
	padding-top: 8px;
	margin-bottom: 8px;
}

#LargeModelEconItem
{
	vertical-align: middle;
	margin-left: 16px;
}

#LargeModelTeamSelector
{
	horizontal-align: right;

	visibility: collapse;
}

.LargeModelHasTeamSpecificViews #LargeModelTeamSelector
{
	visibility: visible;
}

.LargeModelItemStatusLabel
{
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
}

#LargeModelItemEquipped, #LargeModelShuffleStatus
{
	visibility: collapse;
}

DOTAGlobalItemSlotPage.LargeModelItemEquipped:not(.ShuffleSlotEnabled) #LargeModelItemEquipped,
DOTAGlobalItemSlotPage.LargeModelItemInShuffle.ShuffleSlotEnabled #LargeModelShuffleStatus
{
	visibility: visible;
}

#LargeModelItemEquipped
{
	horizontal-align: right;
	text-align: right;
}

#LargeModelShuffleStatus
{
	flow-children: right;
	horizontal-align: right;
}

DOTAGlobalItemSlotPage.LargeModelItemInShuffle.ShuffleSlotEnabled #LargeModelShuffleStatus
{
	visibility: visible;
}

#LargeModelShuffleStatusText
{
}

.LargeModelShuffleButton
{
	width: 22px;
	height: 22px;
}

#LargeModelShuffleNext
{
	margin-right: 8px;
}

#LargeModelRarity
{
	horizontal-align: right;
	text-align: right;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
}

#LargeModelItemName
{
	font-size: 24px;
	horizontal-align: right;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-shadow: 2px 2px 4px black;
	width: 380px;
}


#LargeModelPreviewStatus
{
	vertical-align: bottom;
	flow-children: down;
	margin-left: 40px;
	margin-bottom: 8px;

	visibility: collapse;
}

#LargeModelPreviewActive
{
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px black;
	color: #94e2ff;
}

.PreviewActive #LargeModelPreviewStatus
{
	visibility: visible;
}

/* There's simply no room for this in 4x3 :( */
.AspectRatio4x3 .PreviewActive #LargeModelPreviewStatus
{
	visibility: collapse;
}

.LargeModelPreviewInstructions
{
	color: #666;
	font-size: 20px;
	margin-top: -2px;
	letter-spacing: 1px;

	visibility: collapse;
}

DOTAGlobalItemSlotPage.LargeModelItemOwned:not(.ShuffleSlotEnabled) #LargeModelEquipInstructions,
DOTAGlobalItemSlotPage.LargeModelItemOwned.ShuffleSlotEnabled:not(.LargeModelItemInShuffle) #LargeModelAddToShuffleInstructions,
DOTAGlobalItemSlotPage.LargeModelItemOwned.ShuffleSlotEnabled.LargeModelItemInShuffle #LargeModelRemoveFromShuffleInstructions
{
	visibility: visible;
}

#LargeModelShuffleStatus
{
	vertical-align: bottom;

}


#PageContents
{
	horizontal-align: right;
	margin-top: 160px;
	margin-right: 20px;
	flow-children: down;
}

.PageHeader
{
	flow-children: right;
}

.PageTitle
{
	font-size: 54px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
}

#DemoButton
{
	margin-left: 20px;
	margin-bottom: 12px;
	vertical-align: middle;

	visibility: collapse;
}

.CanDemo #DemoButton
{
	visibility: visible;
}

#OwnedItems
{
	flow-children: down;
	width: 100%;
	margin-right: 8px;
}

#OwnedHeader
{
	flow-children: right;
}

#OwnedTitle
{
	color: white;
	text-transform: uppercase;
	vertical-align: bottom;
}

#OwnedInfoIcon
{
	wash-color: white;
	vertical-align: bottom;
	margin: 0px;
	margin-bottom: 7px;
	margin-left: 3px;
	width: 16px;
	height: 16px;
}

#OwnedInstructions
{
	vertical-align: bottom;
	color: #999;
	text-transform: uppercase;
}

#OwnedHeader #ShuffleButton
{
	padding: 0px;
	padding-left: 8px;
	padding-right: 8px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	border: 1px solid #555;
	background-color: #222;
	margin-bottom: 4px;
}

#OwnedHeader #ShuffleButton:hover
{
	border: 1px solid #444;
	background-color: #333;
}

#OwnedHeader #ShuffleButton Label
{
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 4px;

	color: #666;
}
#OwnedHeader #ShuffleButton:selected Label
{
	color: #ccc;
	text-shadow: 0px 0px 4px #00ffff66;
}
#OwnedHeader #ShuffleButton:hover Label
{
	color: white;
}
#OwnedHeader #ShuffleButton:active Label
{
	color: #ddd;
}

#OwnedHeader #ShuffleButton #ShuffleEnabledLabel,
#OwnedHeader #ShuffleButton:selected #ShuffleDisabledLabel
{
	visibility: collapse;
}
#OwnedHeader #ShuffleButton:selected #ShuffleEnabledLabel
{
	visibility: visible;
}


#OwnedHeader #ShuffleButton .TickBox
{
	width: 20px;
	height: 20px;
	border: 0px solid transparent;
	box-shadow: none;
	background-color: none;

	background-image: url("s2r://panorama/images/control_icons/shuffle_psd.vtex");
	background-size: 16px 14px;
	background-repeat: no-repeat;
	background-position: center;
	
	wash-color: #666;
}
#OwnedHeader #ShuffleButton:selected .TickBox
{
	background-color: none;
	box-shadow: none;
	wash-color: #ccc;
	background-image: url("s2r://panorama/images/control_icons/shuffle_enabled_psd.vtex");
	background-size: 20px 20px;
}
#OwnedHeader #ShuffleButton:hover .TickBox
{
	wash-color: white;
}
#OwnedHeader #ShuffleButton:active .TickBox
{
	wash-color: #ddd;
}


#OwnedItemsList
{
	width: 832px;
	height: 400px;
	flow-children: right-wrap;
	overflow: squish scroll;
	opacity: 0.99;
}

.OwnedItem
{
	width: 154px;
	height: 192px;
	background-color: #0009;

	transition-property: background-color;
	transition-duration: 0.1s;
}

.OwnedItem:hover:enabled
{
	background-color: #3339;
}

.OwnedItem:active
{
	background-color: #2229;
}

.OwnedItemContents
{
	width: 100%;
	height: 100%;
}
.OwnedItem:disabled .OwnedItemContents
{
	visibility: collapse;
}


.OwnedItem #ItemPreview
{
	width: 100%;
	height: 100%;
	opacity: 0.99;
}

.OwnedItem .OwnedItemName
{
	vertical-align: bottom;
	font-size: 15px;
	width: 122px;
	padding: 0px 0px 2px 8px;
	color: white;
	margin-bottom: 4px;
	text-shadow: 2px 2px 4px 2.0 black;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.2s;
}

.OwnedItem:hover .OwnedItemName
{
	opacity: 1.0;
}

.OwnedItem #Equipped
{
	width: 32px;
	height: 32px;
	horizontal-align: right;
    background-image: url("s2r://panorama/images/status_icons/econtooltip_equipped_psd.vtex");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	wash-color: #B3DFDC;
	visibility: collapse;
}

DOTAGlobalItemSlotPage:not(.ShuffleSlotEnabled) .OwnedItem.Equipped #Equipped
{
	visibility: visible;
}

.OwnedItem.ItemRarity_immortal #Equipped 
{
    background-image: url("s2r://panorama/images/status_icons/econtooltip_equipped_immortal_psd.vtex");
	wash-color: none;
}

.OwnedItem.ItemRarity_arcana #Equipped 
{
    background-image: url("s2r://panorama/images/status_icons/econtooltip_equipped_arcana_psd.vtex");
	wash-color: none;
}


.OwnedItem #Shuffled
{
	width: 32px;
	height: 32px;
	horizontal-align: right;
    background-image: url("s2r://panorama/images/status_icons/econtooltip_shuffled_psd.vtex");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	wash-color: #B3DFDC;
	visibility: collapse;
}

DOTAGlobalItemSlotPage.ShuffleSlotEnabled .OwnedItem.InShuffle #Shuffled
{
	visibility: visible;
}

.OwnedItem.ItemRarity_immortal #Shuffled 
{
    background-image: url("s2r://panorama/images/status_icons/econtooltip_shuffled_immortal_psd.vtex");
	wash-color: none;
}

.OwnedItem.ItemRarity_arcana #Shuffled 
{
    background-image: url("s2r://panorama/images/status_icons/econtooltip_shuffled_arcana_psd.vtex");
	wash-color: none;
}

.OwnedItem #RarityBand
{
	height: 4px;
	width: 100%;
	vertical-align: bottom;
}

.OwnedItem #Bundled
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 4px;
	margin-bottom: 8px;

	width: 24px;
	height: 24px;

	tooltip-body-position: 50% 50%;

	background-image: url("s2r://panorama/images/control_icons/brackets_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	visibility: collapse;
}

.OwnedItem.InBundle #Bundled
{
	visibility: visible;
}

#AvailableItems
{
	flow-children: down;
	margin-top: 8px;
	width: 840px;
}

#AvailableHeader
{
	flow-children: right;
	margin-bottom: 4px;
}

#AvailableTitle
{
	color: white;
	text-transform: uppercase;
}

#StoreButton
{
	vertical-align: middle;
}

#StoreButton > Label
{
	color: #999;
	margin-left: 5px;
	font-size: 14px;
}

#StoreButton > Label:hover
{
	color: white;
}
#StoreButton > Label:active
{
	color: #aaa;
}

#AvailableItemsCarouselNav
{
	margin-right: 7px;
}

#AvailableItemsCarousel
{
	flow-children: right;
	width: 100%;
	height: 236px;
}

#AvailableItemsCarousel .CarouselPage
{
	flow-children: right;
	width: 100%;

	transition-property: position;
	transition-duration: 0.3s;
}

#AvailableItemsCarousel DOTAStoreItem
{
	width: fill-parent-flow( 1.0 );
	margin-right: 10px;
}
