DOTAGlobalItemsPage
{
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
    height: 100%;
}


.GlobalMainNavContainer
{
	horizontal-align: center;
	vertical-align: middle;
	background-color: none;
	flow-children: right;
	
}

.GlobalMainNav
{
	margin-left: 24px;
	margin-right: 24px;
	width: 300px; 
	height: 500px;
	wash-color: #00000044;
	box-shadow: fill #000000aa -2px -2px 4px 4px;
	saturation: 0.85;
	
	transition-property: saturation, wash-color, pre-transform-scale2d, box-shadow;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

.GlobalMainNav:hover
{
	wash-color: #00000000;
	box-shadow: fill #000000aa -4px -4px 8px 9px;
	saturation: 1;
}

.NavMenuImage
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}


.GlobalMainNav:hover .NavMenuImage
{
	pre-transform-scale2d: 1.065;
}

.GlobalMainNav:hover .GlobalMainNavCategory
{
	color: white;
}

.GlobalMainNav:hover .GlobalCategorySubNavContainer
{
	transform: translateY(0px);
	
	transition-property: transform;
	transition-duration: 0.55s;
	transition-delay: 0.25s;
	transition-timing-function: ease-in-out;
}
.GlobalMainNav:hover .GlobalMainNavFooter
{
	background-color: #222222;
}


.GlobalMainNavFooter
{
    background-color: black;
    opacity: 1.0;
    width: 100%;
    height: 52px;
    vertical-align: bottom;
	border-top: 1px solid #ffffff06;

	transition-property: background-color;
	transition-duration: 0.35s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

.GlobalMainNavCategory
{
	margin: 12px;
	margin-left: 16px;
	color: #ffffff88;
	font-size: 23px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.GlobalCategorySubNavContainer
{
    flow-children: down;
	vertical-align: bottom;
	margin-bottom: 52px;
	//transform: translateY(260px);
    width: 100%;
	
	transition-property: transform;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.GlobalCategorySubNav
{
	width: 100%;
	height: 36px;
	background-color: #000000ee;
	border-top: 1px solid #cccccc11;
	padding-top: 10px;
	padding-left: 16px;
	color: #66666688;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.GlobalCategorySubNav Label
{
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.Language_schinese .GlobalCategorySubNav Label
{
	font-size: 20px;
	margin-top: -3px;
}

.GlobalCategorySubNav:disabled Label
{
	color: #66666688;
}

.GlobalCategorySubNav:enabled:hover Label
{
	color: #d2deda;
}

.GlobalCategorySubNav:active Label
{
	color: white;
}




