
.GuildMemberListContents
{
    flow-children: right;
}

#MemberContainer
{
    margin-right: 12px;
}

#MemberSection
{
    width: 100%;
    height: 100%;
    margin-right: 12px;
}
#MemberList
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
    padding-left: 14px;
    padding-right: 14px;
	margin-bottom: 14px;
	opacity: 0.99;
}
.MemberNameColumn
{
    flow-children: right;
	width: 200px;
}
.MemberAvatar
{
    width: 41px;
    height: 41px;
    margin-right: 8px;
	vertical-align: middle;
	box-shadow: #000 0px 0px 8px 0px;
}
.PlayerDescContainer
{
    width: fill-parent-flow( 1.0 );
    flow-children: down;
    margin-right: 6px;
    vertical-align: middle;
	height: fit-children;
	padding-top: 3px;
}
.MemberRoleColumn
{
	width: 200px;
}

.HeaderRow .MemberRoleColumn
{
    padding-left: 0px;
}

#MemberRoleName
{
    flow-children: right;
    height: 100%;
    context-menu-position: bottom;
	padding-right: 6px;
	padding-left: 14px;
}

.CanChangeRoles #MemberRoleName
{
    background-color: #ffffff04;
	
	transition-duration: .2s;
	transition-property: background-color;
	
	//border-top: 1px solid #ffffff09;
	//margin-top: -1px;
	//border-left: 1px solid black;
	//border-right: 1px solid black;
}

.CanChangeRoles #MemberRoleName:hover
{
    background-color: #ffffff11;
}

#MemberName
{
	font-size: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#MemberRoleName Label
{
    text-transform: uppercase;
    vertical-align: middle;
    //margin-left: 4px;
	color: #9B9B9B;
	font-size: 16px;
	//margin-top: 3px;
	width: 170px;
}

#MemberRichPresence Label
{
	font-size: 12px;
	margin-top: -4px;
	font-weight: medium;
}

.RoleDropDownArrow
{
    vertical-align: middle;
	margin-top: -2px;
    width: 32px;
    height: 32px;

    background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    visibility: collapse;
}

.CanChangeRoles #MemberRoleName .RoleDropDownArrow
{
    visibility: visible;
}

.MemberEarnedColumn
{
    width: fill-parent-flow( 1.0 );
    vertical-align: middle;
    text-align: left;
    margin-left: 14px;
	color: #9B9B9B;
	font-size: 16px;
}

.MemberActiveColumn
{
	width: fill-parent-flow( 1.0 );
	color: #9B9B9B;
	font-size: 16px;
	vertical-align: middle;
	text-align: left;
	margin-left: 14px;
	color: #9B9B9B;
	font-size: 16px;
}

.MemberEarnedColumn
{
	width: fill-parent-flow( 1.0 );
}

#InvitesAndRolesContainer
{
    flow-children: down;
    width: fill-parent-flow( 1.0 );
}

#InviteSection
{
    height: fill-parent-flow( 1.0 );
    width: 100%;
    margin-bottom: 12px;
}
#InviteList
{
    width: 100%;
    height: fill-parent-flow ( 1.0 );
	margin-bottom: 18px;
}

#GuildRoleManagement
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
	
}

.HeaderRow
{
    width: 100%;
    padding: 9px 28px 0px 14px;
    flow-children: right;
}

#InviteSection #InviteList,
#MemberSection #MemberList
{
	flow-children: down;
    overflow: squish scroll;
}

#InviteSection .InviteRow,
#MemberSection .MemberRow
{
	flow-children: right;
}

.TableColumn
{
	//margin-right: 8px;
}

.HeaderRow .TableColumn
{
	flow-children: right;
}

.HeaderRow Label
{
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
    font-size: 12px;
    color: #666;
}

.HeaderRow .MemberRoleColumn  Label
{
	margin-left: 14px;
}


.HeaderRow .SortDirectionArrow
{
	width: 16px;
	height: 16px;
    margin: 0px 0px 1px 0px;

	vertical-align: middle;

	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

    wash-color: #666;

    visibility: collapse;
	margin-top: -2px;
	margin-left: -2px;
}

.SortDescending .SortDirectionArrow,
.SortAscending .SortDirectionArrow
{
    visibility: visible;
}

.InviteRow,
.MemberRow
{
    height: 60px;
	height: 42px;
    margin-bottom: 3px;
    background-color: #ffffff03;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff01 ), to( #ffffff03 ) );
	border-top: 1px solid #ffffff02;
	border-right: 1px solid #ffffff02;
	box-shadow: 0px 0px 20px #000000aa;
	
	width: 100%;
	margin-right: 14px;
	
	transition-property: brightness;
	transition-duration: .2s;
}

.NoInvites .InviteRowEmpty
{
	height: 60px;
	height: 42px;
    margin-bottom: 3px;
    background-color: #ffffff03;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff01 ), to( #ffffff03 ) );
	border-top: 1px solid #ffffff02;
	border-right: 1px solid #ffffff02;
	box-shadow: 0px 0px 20px #000000aa;
	
	width: 100%;
	margin-right: 6px;
	
	transition-property: brightness;
	transition-duration: .2s;
	margin-left: 14px;
	margin-right: 14px;
	
	visibility: visible;
}

.InviteRowEmpty
{
	visibility: collapse;
}

.InviteRow
{
	margin-left: 14px;
	margin-right: 28px;
}

.InviteRow:hover,
.MemberRow:hover
{
	brightness: 2.5;
}

.NameColumn
{
	width: 200px;
}

.InviteRow .NameColumn,
.MemberRow .NameColumn
{
	flow-children: right;
}

#InviteSection .NameColumn
{
	width: 220px;
}

.InviteRow Label
{
    vertical-align: center;
	font-size: 16px;
	color: #9B9B9B;
}

.RoleColumn
{
    width: 140px;
}

.StatusColumn
{
	width: 160px;
}

.EarnedColumn
{
	width: 140px;
}

#RevokeInvite
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/control_icons/icon_trash_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    horizontal-align: right;
    vertical-align: center;
    margin-right: 14px;
	margin-top: -2px;
}

.TwoColumnSection
{
	flow-children: right;
}

#GuildRoleManagement
{
    height: fill-parent-flow( 1.0 );
}