
.CustomEvent_DarkMoon #RadiantScore,
.CustomEvent_DarkMoon #DireScore,
.CustomEvent_DarkMoon .OverviewHeroStats,
.CustomEvent_DarkMoon #IndividualStats,
.CustomEvent_DarkMoon #LeftHeroStats #BasicStats,
.CustomEvent_DarkMoon #LeftHeroStats #EconItemContainer,
.CustomEvent_DarkMoon #DropsContainer
{
	opacity: 0.0;
}

.CustomEvent_DarkMoon DOTAPostGameOverviewHero #OverviewHeroHoverControls
{
	height: 100%;
}

.CustomEvent_DarkMoon #RightHeroes
{
	visibility: collapse;
}

#DarkMoonContainer
{
	visibility: collapse;
	horizontal-align: right;
	height: 860px;
	width: 50%;
	flow-children: none;
	margin-top: 130px;
	padding-left: 30px;
}

.CustomEvent_DarkMoon.DarkMoonHasPlayerStats #DarkMoonContainer
{
	visibility: visible;
}

.CustomEvent_DarkMoon #DarkMoonPlayerRows
{
	flow-children: down;
	width: 100%;
}

.CustomEvent_DarkMoon .DarkMoonPlayerRowLegendContainer
{
	flow-children: right;
	vertical-align: bottom;
	padding-left: 299px;
}

.CustomEvent_DarkMoon .DarkMoonPlayerRowLegendContainer Label
{
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: thin;
	color: #768e8dff;
}

.CustomEvent_DarkMoon .DarkMoonPlayerRowContainer
{
	height: 54px;
	flow-children: right;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #00000077;
	margin-bottom: 10px;
}

.CustomEvent_DarkMoon .DarkMoonPlayerStat
{
	text-align: center;
	font-size: 26px;
	color: white;
	margin-top: 3px;
	margin-bottom: 3px;
	vertical-align: middle;
	text-shadow: 1px 1px 3px 3.0 #000000;
}

.CustomEvent_DarkMoon .DarkMoonPlayerKillsColumn
{
	width: 84px;
}

.CustomEvent_DarkMoon .DarkMoonPlayerDeathsColumn
{
	width: 84px;
}

.CustomEvent_DarkMoon .DarkMoonPlayerBagsColumn
{
	width: 74px;
}

.CustomEvent_DarkMoon .DarkMoonPlayerSavesColumn
{
	width: 84px;
}

.CustomEvent_DarkMoon .DarkMoonPlayerHealColumn
{
	width: 114px;
}

.CustomEvent_DarkMoon .DarkMoonPlayerRowLegendContainer .DarkMoonPlayerBagsColumn 
{
	color: #C48103;
}

.CustomEvent_DarkMoon .DarkMoonPlayerKills
{
	color: white;
}

.CustomEvent_DarkMoon .DarkMoonPlayerDeaths
{
	color: baseText;
}

.CustomEvent_DarkMoon .DarkMoonPlayerBags
{
	color: #E7BA01;
}

.CustomEvent_DarkMoon .DarkMoonPlayerSaves
{
	color: baseText;
}

.CustomEvent_DarkMoon .DarkMoonPlayerHeal
{
	color: baseText;
}

.CustomEvent_DarkMoon .HeroBackgroundImage
{
	wash-color: #771C5Ef2;
	brightness: 4;
}

.CustomEvent_DarkMoon .HeroSelectGlow
{
	wash-color: #771C5Ef2;
}

.CustomEvent_DarkMoon .DarkMoonPlayerRowContainer #HeroIcon,
.CustomEvent_DarkMoon .DarkMoonPlayerRowContainer #PlayerAvatar
{
	visibility: visible;
}

.CustomEvent_DarkMoon .DarkMoonPlayerRowContainer #HeroIcon
{
	visibility: visible;
	background-color: #000000DE;
	width: 74px;
	height: 42px;
	vertical-align: middle;
	border: 1px solid black;
}

.CustomEvent_DarkMoon:not(.DarkMoonVictory) #RadiantVictoryBanner .VictoryBannerBackground
{
	background-color: gradient( linear, 0% 0%, 100% 0%,  from( #00000000 ), color-stop( .2, #ae332177 ), to( #00000000 ) );
}

.CustomEvent_DarkMoon:not(.DarkMoonVictory) #RadiantVictoryText
{
	color: #FA755F;
}

