
/* These defines are referenced in code to specify the width/height of an item
   based on the state of the UI. They should be the size of an item plus its margins. */
@define armoryItemWidth: 101px;
@define armoryItemHeight: 108px;
@define armoryScratchpadItemWidth: 84px;
@define armoryScratchpadItemHeight: 90px;
@define armoryCraftingItemWidth: 56px;
@define armoryCraftingItemHeight: 60px;
@define armoryScratchpadCraftingItemWidth: 53px;
@define armoryScratchpadCraftingItemHeight: 56px;
@define armoryRecentItemWidth: 330px;
@define armoryRecentItemHeight: 101px;

@define scratchpadPageColumns: 6;
@define scratchpadSpacerWidth: 32px;

DOTAArmoryPage
{
	margin-top: 130px;
	padding-top: 20px;
    width: 100%;
}

#ArmoryGridContainer
{
	visibility: visible;
}

#ArmoryGridContainer Label
{
	padding-left: 10px;
	text-transform: uppercase;
	margin-right: 0px;
	color: white;
	//max-width: 130px;
}

#ArmoryCapacityPanel
{
	horizontal-align: right;
	padding-top: 10px;
	margin-top: -36px;
	visibility: collapse;
	margin-right: 30px;
}

#ArmoryCapacityPanel .InfoIcon
{
	width: 16px;
	wash-color: #ADC6C8;
	opacity: .4;
}

#ArmoryCapacityInfo
{
	horizontal-align: left;
	vertical-align: top;
	//margin-top: -20px;
	height: 20px;
	width: 20px;
	padding-right: 10px;
}

#ArmoryCapacity
{
	horizontal-align: right;
	font-size: 16px;
	color: #ADC6C855;
}

.ArmoryLow #ArmoryCapacityPanel
{
	visibility: collapse;
}

.ArmoryMedium #ArmoryCapacityPanel
{
	visibility: collapse;
}

.ArmoryHigh #ArmoryCapacityPanel
{
	visibility: visible;
}

.ArmoryFull #ArmoryCapacityPanel
{
	visibility: visible;
}

.ArmoryOverload #ArmoryCapacityPanel
{
	visibility: visible;
}

.InventoryVisible #ArmoryGridContainer Label,
.ScratchPadVisible #ArmoryGridContainer Label
{
	visibility: collapse;
}

.CraftingVisible #ArmoryGridContainer
{
	height: 420px;
}

#ArmoryPageContainer
{
	flow-children: right;
	margin-left: 2px;
	height: 800px;
	width: 100%;
	horizontal-align: right;
	vertical-align: middle;
	opacity: 1;
	
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#ArmoryPageContainer.Switch
{
	opacity: 0;
}
 
#LeftColumn
{
	width: 240px;
	height: 100%;
	margin-right: 25px;
}

#LeftCategories
{
	flow-children: down;
	horizontal-align: right;
	width: 235px;
}

#RightColumn
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	flow-children: none;
	
}

#ArmoryContents
{
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: gradient( linear, 90% 0%, 100% 0%, from( #00000088 ), to( #00000000 ) );
}

#RightColumnTopBar
{
	flow-children: none;
	margin-left: 36px;
	width: 100%;
	height: 64px;
//	background-color: #99222211;
	margin-right: 124px;
}

.InventoryVisible #RightColumnTopBar,
.ScratchPadVisible #RightColumnTopBar
{
	//visibility: collapse;
	height: 40px;
}

.CategoryRecent #RightColumnTopBar
{
	visibility: collapse;		
}

.CategoryInventory #RightColumnTopBar
{
	visibility: collapse;
}


.AspectRatio4x3 #RightColumnTopBar,
.AspectRatio5x4 #RightColumnTopBar
{
	margin-right: 16px;
	margin-left: 2px;
}

#LeftControls
{
	horizontal-align: left;
	height: 100%;
	flow-children: right;	
}

#RightControls
{
	horizontal-align: right;
	height: 100%;
	flow-children: right;	
}

#ArmoryGridContainer
{
	flow-children: right;
	height: 734px;
    overflow: scroll squish;
	padding-left: 0px;
	padding-right: 32px;
	opacity-mask: url("s2r://panorama/images/masks/armory_opacity_mask_png.vtex");
}

.CategoryRecent #ArmoryGridContainer
{
	height: 900px;
	padding-top: 16px;
}

.InventoryVisible #ArmoryGridContainer,
.ScratchPadVisible #ArmoryGridContainer
{
	height: 900px;
	padding-left: 0px;
}

.CraftingVisible.CategoryRecent #ArmoryGridContainer
{
	height: 516px;
	padding-left: 0px;
}

.InventoryVisible.ScratchPadVisible #ArmoryGridContainer,
.CraftingVisible.ScratchPadVisible #ArmoryGridContainer
{
	height: 476px;
	padding-left: 0px;
}

.ItemSubCategory.Empty
{
	visibility: collapse;
}

.ItemSubCategory
{
	flow-children: down;
	padding-left: 16px;
	margin-right: 16px;
	//border-left: 2px solid #00000066;
	//background-color: #00000022;
	
	//transition-property: wash-color;
	//transition-duration: 0.3s;
	//transition-timing-function: ease-in-out;
}

#ArmoryGridContainer Label.ItemSubCategoryLabel
{
	min-width: 120px;
	margin-right: 12px;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #888888;
	color: #647274;
	//border: 1px solid green;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.CategoryRecent #ArmoryGridContainer Label.ItemSubCategoryLabel
{
	color: #87C2FF;	
}

.ItemSubCategoryLabel.Active:hover
{
	brightness: 2.0;
}

.CategoriesTitle
{
	width: 100%;
	margin-top: 20px;
	overflow: squish scroll;
}

.CategoriesTitle
{
	width: 100%;
}

.CategoriesTitle Label
{
	//text-transform: uppercase;
	//letter-spacing: 2px;
	//font-weight: bold;
	//font-size: 20px;
	//color: #aaa;
	//horizontal-align: right;
}


.MenuLabel,
.ItemCategoryLabel
{
	horizontal-align: right;
}


.MenuLabel Label
{
	font-weight: bold;
	color: #ADC6C8;
	color: #718385;
	
	horizontal-align: right;
	text-align: right;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 6px;
	margin-top: 4px;
	transition-duration: 0.2s;
}

.MenuLabel:selected Label
{
	text-shadow: 0px 0px 12px 1.0 #ffffff55;
}
.ItemCategoryLabel Label
{
	color: #829798;
	horizontal-align: right;
	font-weight: thin;
	text-align: right;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 2px;
	margin-top: 4px;
	transition-duration: 0.0s;
}

#CategoryInventory.ItemCategoryLabel Label
{
	//color: #4fbae1ff;
}

#CategoryRecent.ItemCategoryLabel Label
{
	//color: #4fbae1ff;
}

#CategoryEvent.ItemCategoryLabel Label
{
	//color: #8899aa;
	//text-shadow: 0px 0px 12px 1.0 #2bb0d633;
}

#CategoryEvent.ItemCategoryLabel:hover Label
{
	color: white;
	text-shadow: 0px 0px 12px 1.0 #2bb0d6ff;
}

#CategoryEvent.ItemCategoryLabel:selected Label
{
	color: white;
	text-shadow: 0px 0px 12px 1.0 #2bb0d6ff;
}

#CategoryScratchPad
{
	width: fit-children;
	transition-duration: 0.0s;
}

#CategoryScratchPad Label
{
	font-size: 30px;
}

#CategoryScratchPad > Panel
{
	horizontal-align: center;
}

#CategoryScratchPadLabel
{
	text-overflow: shrink;
}

#CategoryScratchPad .InfoIcon
{
	width: 14px;
	margin-top: -4px;
	margin-left: 8px;
	transition-duration: 0.0s;
}

.DragInProgress #CategoryScratchPad .InfoIcon,
#CategoryScratchPad:selected #CategoryScratchPad .InfoIcon,
#CategoryScratchPad:hover #CategoryScratchPad .InfoIcon
{
	wash-color: white;
	transition-duration: 0.20s;
	text-shadow: 0px 0px 12px 1.0 #2bb0d6ff;
}

#CategoryScratchPad:hover
{
//	border: 2px solid #697879aa;
}

.DragInProgress.ScratchPadVisible #CategoryScratchPad
{
	 //border: 2px solid #69787933;
}

#CategoryScratchPad:selected,
.DragInProgress #CategoryScratchPad:hover,
.DragInProgress #CategoryScratchPad
{
	 //border: 2px solid white;
	 //background-color: #69787933;
}

.DragInProgress #CategoryScratchPad Label
{
	color: white;
}

#CategoryScratchPad:selected
{
	//background-color: #56676788;
}

#CategoryScratchPad Label
{
	horizontal-align: center;
	text-align: center;
	//margin: 0px;
}

#ScratchPadBox
{
	flow-children: down;
	width: 100%;
	margin: 12px;
	border: 2px solid #ffffff00;
	opacity: 1;
	transition-property: opacity, border;
	transition-duration: .32s;	
	height: 0px;
}

.DragInProgress #ScratchPadBox #ScratchPadIcon
{
	pre-transform-scale2d: .7;
}

.DragInProgress #ScratchPadBox:hover #ScratchPadIcon
{
	pre-transform-scale2d: 1;
	opacity: 1;
}

.DragInProgress.ScratchPadVisible #ScratchPadBox:hover #ScratchPadIcon
{
	pre-transform-scale2d: 1;
	opacity: 1;
}

#ScratchPadIcon
{
	horizontal-align: center;
	vertical-align: middle;
	pre-transform-scale2d: .4;
	opacity: .2;
	flow-children: down;
	
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: .32s;		
}

.ScratchPadIconBox
{
	width: 36px;
	height: width-percentage( 100% );
	margin: 3.5px;
	background-color: #888888;
}

.DragInProgress #ScratchPadBox
{
	opacity: 1;
	border: 2px solid #ffffff22;
	height: width-percentage( 100% );
}



.Language_schinese .ItemCategoryLabel Label
{
	font-size: 32px;
}

.MenuLabel .RadioBox,
.ItemCategoryLabel .RadioBox
{
	visibility: collapse;
}

.ItemCategoryLabel:selected Label
{
	//font-size: 32px;
	//color: white;
	text-shadow: 0px 0px 12px 1.0 #ffffff33;
	//font-weight: bold;
}

#CategoryPurgatory.ItemCategoryLabel
{
	visibility: collapse;
}
.PartnerNexon #CategoryPurgatory.ItemCategoryLabel
{
	visibility: visible;

}

#CategoryPurgatory Label
{
	font-size: 24px;
}


.SubCategoryItemContainer
{
	flow-children: down-wrap;
	min-width: 130px;
	height: 672px;
	//border: 1px solid red;
	padding-top: 6px;
	padding-left: 6px;
}

.CategoryRecent .SubCategoryItemContainer
{
	height: 740px;
}

.InventoryVisible  .SubCategoryItemContainer,
.ScratchPadVisible .SubCategoryItemContainer
{
	height: 770px;
}

.DropWillRemove DOTAEconItem
{
	// Dropping now will remove the item from the Scratchpad.
	border: 2px solid #880000; 
}

DOTAEconItem.EmptySlot
{
	border: 3px solid #9AA6A500;
	box-shadow: none;
	background-color: #00000033;
}

DOTAEconItem.EmptySlot:hover
{
	border: 3px solid #9AA6A500;
	box-shadow: none;
	background-color: #00000041;
	pre-transform-scale2d: 1;
}

DOTAEconItem.New
{
	border: 2px solid #34ff35;
	box-shadow:  #66ff0033 -4px -4px 8px 8px;	 
}

.CategoryInventory DOTAEconItem.DragHoverTarget,
.ScratchPadVisible DOTAEconItem.DragHoverTarget
{
	border: 2px solid #9AA6A5ff;
	background-color: #4A5B6077;
}

.CategoryInventory DOTAEconItem.DragHoverTarget.EmptySlot,
.ScratchPadVisible DOTAEconItem.DragHoverTarget.EmptySlot
{
	border: 2px solid #9AA6A5ff;
	background-color: #4A5B6077;
}

.CategoryInventory DOTAEconItem.DragHoverTarget.EmptySlot:hover,
.ScratchPadVisible DOTAEconItem.DragHoverTarget.EmptySlot:hover
{
	border: 2px solid #9AA6A5ff;
	background-color: #4A5B6077;
}

.SubCategoryItemContainer DOTAEconItem
{
	transition-property: border, height, width, saturation, brightness, pre-transform-scale2d, wash-color;
	transition-duration: 0.1s, 0.28s;
}

.SubCategoryItemContainer DOTAEconItem.DraggingItem
{
	saturation: 0.0;
}

.SubCategoryItemContainer DOTAEconItem.CraftingItem
{
	saturation: 0.0;
	opacity: .1;
	contrast: 0.75;
}

.SubCategoryItemContainer DOTAEconItem.CraftingItem:hover
{
	saturation: 0.0;
	pre-transform-scale2d: 1;
	contrast: 0.75;
	wash-color: #899aa944;
}

.CraftingVisible .SubCategoryItemContainer
{
	height: 370px;
}

.CategoryRecent.CraftingVisible .SubCategoryItemContainer,
.CraftingVisible.ScratchPadVisible .SubCategoryItemContainer
{
	height: 462px;
}

#Filters
{
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 0px;
	border: 2px solid #3366aa55;
	color: #3366aa99;
	background-color: #3366aa11;
}

.NoActiveFilters #Filters
{
	background-color: none;
	border: 2px solid #55555555;
	color: #55555599;
}

#Filters Label
{
	font-size: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #66aadd;
}

.NoActiveFilters #Filters Label
{
	font-size: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: baseText;
}

#Filters:disabled
{
	brightness: 0.5;
}
#Filters:enabled:hover
{
	brightness: 2.0;
}
#Filters:active
{
	brightness: 3.0;
}

#EditFilter
{
	height: 41px;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 0px;
	border: 2px solid #3366aa55;
	background-color: #3366aa11;
	margin-left: 6px;
}

#EditFilter Label
{
	font-size: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #66aadd;
}

#EditFilter:disabled
{
	brightness: 1;
}
#EditFilter:enabled:hover
{
	brightness: 2.0;
}
#EditFilter:active
{
	brightness: 3.0;
}

.NoActiveFilters #EditFilter
{
	visibility: collapse;
}

#CategoryView
{
	vertical-align: middle;
	horizontal-align: right;
	padding-left: 8px;
	padding-right: 16px;
	padding-top: 2px;
	padding-bottom: 0px;
	opacity: 1;
	
	transition-property: opacity;
	transition-duration: 0.32s;
}

#CategoryView:hover Label
{
	color: #90A5A6;
}


#CategoryView Label
{
	color: #697879;
	font-size: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#CategoryView:selected Label
{
	color: #ADC6C8;

}

#FilterByLabel
{
	horizontal-align: right;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 0px;
	
	color: #ADC6C8;
	font-size: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#ArmoryFiltering
{
	//width: 240px;
	horizontal-align: right;
	background-color: none;
	box-shadow: none;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 0px;
	border: 2px solid #69787933;
}

.AspectRatio4x3 #ArmoryFiltering,
.AspectRatio5x4 #ArmoryFiltering
{
	width: 180px;
}

#ArmoryFiltering:hover
{
	border: 2px solid #90A5A666;
}

#ArmoryFiltering Label
{
	color: #ADC6C8;
	font-size: 22px;
	letter-spacing: 1px;
	margin-top: 2px;
	//text-transform: uppercase;
}

#ArmorySorting
{
	horizontal-align: right;
	background-color: none;
	box-shadow: none;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 0px;
	border: 2px solid #69787933;
}

.AspectRatio4x3 #ArmorySorting,
.AspectRatio5x4 #ArmorySorting
{
	width: 180px;
}

#ArmorySortingDropDownMenu 
{
	background-color: #151F23;
	box-shadow: none;
}

#ArmorySortingDropDownMenu .DropDownChild
{
	font-size: 22px;
	color: #697879;
	background-color: none;
	vertical-align: middle;
	padding-left: 21px;
	padding-right: 16px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-left: 2px solid #69787933;
	border-right: 2px solid #69787933;
	border-top: 0px solid #69787933;
	border-bottom: 2px solid #69787933;
}

#ArmorySortingDropDownMenu .DropDownChild:hover
{
	color: white;
}
#ArmorySorting:hover
{
	border: 2px solid #90A5A666;
}

#ArmorySorting Label
{
	color: #ADC6C8;
	font-size: 22px;
	letter-spacing: 1px;
	margin-top: 2px;
	//text-transform: uppercase;
}

#SortByLabel
{
	horizontal-align: right;
	vertical-align: middle;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 0px;
	
	color: #ADC6C8;
	font-size: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.VerticalSeparator
{
	height: 100%;
	vertical-align: middle;
	border-left: 2px solid #aaaaaa11;
}

#HeroQuickSearch
{
	width: 100%;
	horizontal-align: center;
}


#CraftingSection
{
	flow-children: down;
	padding: 3px;
	background-color: black;
	background-repeat: no-repeat;
	background-position: 0px 14px;
	background-size: contain;
	vertical-align: bottom;
	border: 2px solid black;
	horizontal-align: right;
	width: 100%;
	margin-left: 32px;
	visibility: visible;
}


#CraftingSection .CraftingHeader
{
	text-transform: uppercase;
	color: white;
	padding: 4px 8px 2px 8px;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a83a0c ), to( #6a2508 ) );
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#CraftingCompendium
{
	horizontal-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 14px;
	letter-spacing: 3px;
}

#CraftingButtons
{
	flow-children: down;
	width: 100%;
	vertical-align: bottom;
}

#CraftingSection DOTACraftingButton
{
	vertical-align: middle;

	border-top: 2px solid #394c3c;
	border-right: 2px solid #1e2820;
	border-bottom: 2px solid #1e2820;
	border-left: 2px solid #2c3a2e;
	
	width: 100%;
	margin-top: 2px;
	background-color: #374753;
//	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a83a0c ), to( #6a2508 ) );
	brightness: 0.7;

	transition-property: brightness, saturation;
	transition-duration: 0.2s;
}
#CraftingSection DOTACraftingButton Label
{
	horizontal-align: center;
	color: white;
	padding: 4px 8px 2px 8px;
	text-transform: uppercase;
}

#CraftingSection DOTACraftingButton:selected
{
	border: 2px solid #999999;
	brightness: 1.5;
}

#CraftingSection DOTACraftingButton:hover
{
	brightness: 1.5;
}

#CraftingPanel
{
	opacity: 0;
	height: 0px;
	margin-top: 8px;
	width: 100%;
	background-color: #000000cc;
	vertical-align: bottom;

	transition-property: height, opacity;
	transition-duration: 0.28s, 0.28s;
	transition-delay: 0s, 0.28s;
	transition-timing-function: ease-in-out;
}

.CraftingVisible #CraftingPanel
{
	opacity: 1;
	height: 284px;
}

/* Referenced from code */
@define dragCompleteDuration: 0.2s;
.DragItemsPanel
{
	transition-property: opacity, transform;
	transition-duration: dragCompleteDuration;
	opacity: .95;
}
.DragItemsPanel.DragComplete
{
	opacity: 0.0;
	transform: scale3d( 0.1, 0.1, 0.1 );
}

.ScrollArea
{
	height: 100%;
	width: 32px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.4s;
	vertical-align: center;
	
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 5%;
}

#LeftScrollArea
{
	horizontal-align: left;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff88 ), to( #00000000 ) );
	background-color: gradient( radial, 0% 20%, 0% 15%, 90% 50%, from( #47575B99 ), to( #ffffff00 ) );
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
}

#RightScrollArea
{
	horizontal-align: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), to( #ffffff88 ) );
	background-color: gradient( radial, 100% 20%, 0% 15%, 90% 50%, from( #47575B99 ), to( #ffffff00 ) );
}

.DragInProgress.ScratchPadVisible .ScrollArea
{
	opacity: 1;
}

.DragInProgress .ScrollArea
{
	opacity: 0;
}

.CraftingVisible .ScrollArea
{
	height: 60%;
	vertical-align: top;
	background-size: 100% 10%;
}

#Categories
{
	margin-top: -8px;
	horizontal-align: right;
	transition-property: opacity, transform, height;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
	margin-bottom: 11px;
}

RadioButton > Label
{
	margin: 0px;
}

#CategoriesButton
{
	border-top: 1px solid grey;
	margin-top: 12px;
	padding-top: 16px;
}

#CategoriesButton Label
{
//	width:  100%;
	text-align: right;
}

#CategoriesButton:selected
{
	color: white;
}


DOTAEconItemList DOTARecentArmoryItem
{
	width: 306px;
	height: 93px;
	border-left: 2px solid transparent;


	background-color: #00000055;

}

DOTAEconItemList DOTARecentArmoryItem.New
{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #1862a1 ), to( #20273100 ) );
}

#ImportToCollection
{
	vertical-align: middle;
	margin-top: 10px;
}

#ImportToCollection Label
{
	margin-top: 0px;
	font-size: 16px;
}

.ScratchPadVisible #FilterByLabel, 
.ScratchPadVisible #ArmoryFiltering,
.ScratchPadVisible #EditFilter,
.ScratchPadVisible #CategoryView,
.ScratchPadVisible #SortByLabel,
.ScratchPadVisible #ArmorySorting,
#CollectionItemCountMax,
.CollectionItemCountLabel,
#CollectionItemCount,
#AutoImport,
#ImportToCollection
{
	visibility: collapse;
}

.ScratchPadVisible .CollectionItemCountLabel,
.ScratchPadVisible #CollectionItemCountMax,
.ScratchPadVisible #CollectionItemCount,
.ScratchPadVisible #AutoImport,
.ScratchPadVisible #ImportToCollection
{
	visibility: visible;
}

#CollectionItemCountMax,
.CollectionItemCountLabel,
#CollectionItemCount
{
	vertical-align: middle;
	margin-top: 12px;
	font-size: 22px;
	color: #ADC6C8;
	text-transform: uppercase;
}

.CollectionItemCountLabel
{
	color: #647274;
}

#InCollection
{
	margin-right: 12px;
}

#AutoImport
{
	vertical-align: middle;
	padding-top: 10px;
	padding-left: 0px;
	margin-right: 42px;
}

#AutoImport:hover Label
{
	color: #90A5A6;
}

#AutoImport Label
{
	color: #697879;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#AutoImport:selected Label
{
	color: #ADC6C8;

}
