.DiretideBackground
{
    width: 100%;
    height: 100%;
}

#BackgroundScene
{
    width: 100%;
	height: 100%;
	//contrast: .9;
}

#BGVignette
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/chest_vignette_psd.vtex");
	background-size: 100%;
}

#DebugButtons
{
    horizontal-align: right;
    flow-children: right;
    vertical-align: bottom;
    margin-bottom: 130px;

	visibility: collapse;
}

.MainBranch .OnHomePage #DebugButtons
{
	visibility: visible;
}

#FeatureContent {
    width: 1096px;
	height: 800px;
	margin-left: 16px;
    vertical-align: top;
    horizontal-align: center;
	opacity: 0.0;
	margin-top: 130px;
	overflow: noclip;
	
	transition-property: opacity, background-color;
	transition-duration: 0.2s;
	
}


.OnHomePage #FeatureContent
{
	opacity: 1.0;
}


#DiretideLogo {

}

#FeatureLogo
{
	width: 800px;
	height: 350px;
	horizontal-align: center;
	/* margin-bottom: 16px; */
    /* margin-top: 24px; */
    vertical-align: bottom;
	margin-bottom: 0px;
	background-image: url("s2r://panorama/images/events/diretide/2020/diretide_logo_en_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 0px;
	/* margin-bottom: -30px; */
	transition-property: transform, pre-transform-scale2d, contrast, opacity;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
	z-index: 2;
	opacity: 1;
	contrast: 1;
}

#FeatureLogo:hover #FeatureLogoFX
{
	brightness: 4;
	contrast: 3;
}

#FeatureLogoFX
{
	contrast: 1;
	margin-top: 0;
	visibility: visible;
	width: 92%;
	height: 100%;
	horizontal-align: center;
	vertical-align: top;
	hue-rotation: 0deg;
	opacity: 1;
	contrast: 1.2;
    brightness: 1.2;
	opacity-mask: url("s2r://panorama/images/events/diretide/2020/diretide_logo_en_mask_psd.vtex");

	transition-property: contrast, background-color, brightness;
	transition-duration: .21s;
	transition-timing-function: ease-in-out;
}

#EventDetails
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: -8px;

	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #c4e176;
	text-align: center;
	text-overflow: shrink;
	text-shadow: 0px 0px 4px #99a08688;
	opacity: 0.6;

	transition-property: opacity, border, color, brightness;
	transition-duration: .21s;
	transition-timing-function: ease-in-out;
	font-family: titleFont;
	padding: 6px 10px;
	border: 1px solid #c4e07600;
}


#FeatureLogo:hover #EventDetails
{
	opacity: 1;
	color:  #ACD854;
	border: 1px solid  #8bb13f00;
}


#FeatureLogo:hover #EventDetails:hover
{
	opacity: 1;
	color:  #ffffff;
	border: 1px solid  #cacaca00;
}


.Language_schinese #FeatureLogo, .Language_tchinese #FeatureLogo {
	background-image: url("s2r://panorama/images/events/diretide/2020/diretide_logo_cn_psd.vtex");
}

.Language_russian #FeatureLogo {
	background-image: url("s2r://panorama/images/events/diretide/2020/diretide_logo_ru_psd.vtex");
}

.Language_schinese #FeatureLogoFX, .Language_tchinese #FeatureLogoFX {
	opacity-mask: url("s2r://panorama/images/events/diretide/2020/diretide_logo_cn_mask_psd.vtex");
	width: 100%;
}

.Language_russian #FeatureLogoFX {
	opacity-mask: url("s2r://panorama/images/events/diretide/2020/diretide_logo_ru_mask_psd.vtex");
}

.CandySection
{
	width: 100%;
	height: 180px;
	flow-children: none;
	vertical-align: bottom;
	margin-bottom: 96px;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/events/diretide/frontpage_pumpkin_psd.vtex");
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	
	transition-property: brightness, saturation, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.MoreInfoDiretide
{
	font-size: 20px;
	letter-spacing: 1px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 4px;
	text-transform: uppercase;
	color: #e087e0;
	opacity: 0;
	width: 320px;
	text-align: center;
	text-overflow: shrink;
	transition-property: opacity;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
	font-family: titleFont;
}

.CandySection:hover .MoreInfoDiretide
{
	opacity: 1;
}

.CandySection:hover
{
	brightness: 2.5;
	pre-transform-scale2d: 1.02;
	saturation: 1.1;
}

.CandyCountSection
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 270px;
}

.CandyHeader
{
	text-align: center;
	horizontal-align: right;
	vertical-align: top;
	color:  rgb(233, 171, 233);
    text-shadow: 0px 0px 4px 3.0 rgba(155, 0, 155, 1);
    letter-spacing: 1px;
    horizontal-align: right;
    font-size: 22px;
    font-family: titleFont;
    font-weight: bold;
	text-align: right;
}

.CandyAmount
{
	color: white;
    text-shadow: 0px 0px 4px 3.0 rgb(255, 150, 255);
    letter-spacing: 1px;
    horizontal-align: center;
    font-size: 42px;
    font-family: titleFont;
    font-weight: bold;
	text-align: right;
	horizontal-align: right;

}

.CandyBucket
{
	height: 148px;
	width: 234px;
	horizontal-align: right;

}


#DiretideInfoButton
{
	border: 1px solid white;
	z-index: 10;
}

#DiretideInfoButton:hover 
{
	border: 1px solid red;
}
