DOTATutorial
{
    width: 100%;
    height: 100%;
}

#DotaLogo 
{
    horizontal-align: center;
    height: 60px;
    width: 300px;
    margin-top: 45px;
	margin-bottom: 20px;
}

/*
		<Panel class="TutorialMainNavContainer" >
			<Panel class="TutorialQuest">
				<Image class="NavMenuImage" src="file://{images}/global_mainnav_couriers.png" />
				<Panel class="TopBottomFlow">
					<Panel class="QuestLabel">
						<Label id="QuestTitle" text="Quest 1" />
						<Label id="QuestDesc" text="Melee Hero" />
					</Panel>
				</Panel>
				<Button id="StartQuest1" class="StartButton" onactivate="StartQuest()">
					<Label class="StartButtonText" text="START QUEST"/>
				</Button>
*/
.TutorialMainNavContainer
{
	height: 72%;
	width: 75%;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;

	background-color: #000000cc;
	padding: 15px;
}

DOTAScenePanel
{
	horizontal-align: center;
	vertical-align: middle;
	
    width: 60%;
    height: 80%;
    margin: 0px 8px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

    /* Hacky, but useful until we update camera positions */
    transform: translateX( 250px ) translateY( 140px );
}
DOTAScenePanel.1
{
    transform: translateX( 450px ) translateY( 140px );
}
DOTAScenePanel.2
{
    transform: translateX( -200px ) translateY( 140px );
}

.TutorialQuest
{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 350px; 
	height: 300px;
	box-shadow: fill #000000aa -2px -2px 4px 4px;
	padding: 0px;

	flow-children: none;
	
	transition-property: pre-transform-scale2d, box-shadow;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}


.TutorialQuest.Completed
{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 350px; 
	height: 300px;
	box-shadow: fill #000000aa -2px -2px 4px 4px;
	padding: 0px;

	flow-children: none;
	
	transition-property: pre-transform-scale2d, box-shadow;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

.TutorialQuest.Selected 
{
	margin-top: 0px;
	width: 500px; 
	height: 750px;
	box-shadow: none;
	padding: 10px;

	transition-property: saturation, pre-transform-scale2d, box-shadow;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;

	flow-children: down;
}

.QuestButton
{
	height: 100%;
	width: 100%;

	box-shadow: fill #D1E0FF -2px -2px 4px 4px;
}

.Selected .QuestButton
{
	height: 60%;
	width: 100%;

	box-shadow: fill #D1E0FF -2px -2px 4px 4px;
}

.NavMenuImage
{
	height: 100%;
	width: 100%;
 	saturation: 0.1;
 	wash-color: #000000aa;

	transition-property: saturation, wash-color, pre-transform-scale2d;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

.Selected .NavMenuImage
{
	height: 100%;
	width: 100%;
	saturation: 1.0;
	wash-color: #00000000;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;

    pre-transform-scale2d: 1.065;
}

.TutorialQuest:hover .NavMenuImage
{
	pre-transform-scale2d: 1.065;
	saturation: 1.0;
	wash-color: #00000000;
}

.TutorialQuest:hover .NavMenuImage.Locked
{
	pre-transform-scale2d: 1;
    saturation: 0.9;
 	wash-color: #000000aa;
}

.QuestFlow
{
	vertical-align: bottom;
	flow-children: down;
    width: 100%;
}

.QuestLabel
{
	width: 100%;
	vertical-align: bottom;
	background-color: #000000ee;
	flow-children: down;
    padding: 10px 20px;
}

.QuestTitle
{
	color: #eeeeee;
	font-size: 20px;
}
.Selected .QuestTitle
{
	color: #eeeeee;
	font-size: 24px;
}
.QuestTitleDesc
{
	color: #aaaaaa;
	font-size: 16px;
}
.Selected .QuestTitleDesc
{
	color: #aaaaaa;
	font-size: 20px;
}

.QuestCompletionCheckmark
{
	visibility: collapse;
}

.Completed .QuestCompletionCheckmark
{
	horizontal-align: right;
	vertical-align:bottom;
	height: 40px;
	width: 40px;
	margin: 10px;
	
	visibility: visible;
}

.Completed.Selected .QuestCompletionCheckmark
{
	horizontal-align: right;
	vertical-align:bottom;
	height: 40px;
	width: 40px;
	margin: 10px;
	
	visibility: visible;
}

.QuestStart
{
	visibility: collapse;
}
.Selected .QuestStart
{
	height: 60px;
	width: 100%;
	background-color: #666666;
	visibility: visible;
}

.QuestStartText
{
	horizontal-align: center;
	vertical-align: center;

	color: #D1E0FF;
	font-size: 30px;
}

.QuestDetails
{
	visibility: collapse;
}
 .Selected .QuestDetails
{
	width: 100%;
	padding: 20px, 10px, 10px, 10px;
	flow-children: down;
	visibility: visible;
}
 .Selected .QuestDetailsDesc
{
	horizontal-align: center;
	text-align: center;
}
 .Selected .QuestDetailsLearn
{
	horizontal-align: center;
	text-align: center;
	margin-top: 10px;
}
 .Selected .QuestDetailsLesson
{
	horizontal-align: center;
	text-align: center;
	color: #BDDEFF;
}

.QuestStart:hover .QuestButton
{
	box-shadow: fill #D1E0FF -4px -4px 9px 9px;
}

.QuestStart:hover .QuestStartText
{
	text-shadow: 0px 0px 20px 3.0 #ADD6FF;
}

#SkipTutorial
{
	margin-right: 16px;
	vertical-align: middle;
	wash-color: #999999;
}
#SkipTutorial:hover
{
	wash-color: none;
}

#DOTASettingsButton
{
	margin: 0px;
	width: 32px;
	height: 57px;
	margin-right: 16px;
	vertical-align: middle;
    background-image: url("s2r://panorama/images/control_icons/gear_png.vtex");
    background-size: 27px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	wash-color: #444a55;
}

#DOTASettingsButton:hover
{
	wash-color: #9999aa;
}

#DOTAQuitButton
{
	margin: 0px;
	width: 62px;
    height: 57px;
    background-image: url("s2r://panorama/images/control_icons/quit_png.vtex");
	background-color: #ff000008;
    background-size: 30px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	wash-color: #bd5e2d;
	
	transition-property: background-color, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

#DOTAQuitButton:hover
{
	background-color: #ff000011;
	wash-color: #bd5e2daa;
}


#DOTAQuitButton.Activated
{
    sound: "ui.menu_quit";
}

.TopBarSmallButton
{
    margin: 4px;

    transition-property: transform;
    transition-duration: 0.1s;
}

.TopBarSmallButton:hover
{

}

.TopBarSmallButton:active
{
    transform: translateY( 2px );
}

.TutorialTopButtonsContainer
{
	horizontal-align: right;
	vertical-align: top;
	background-color: none;
	flow-children: right;
	margin-top: 0px;
}

.PageVisible
{
	visibility: visible;
}

.PageVisible .TutorialTopButtonsContainer
{
	visibility: collapse;
}

.PageVisible #DotaLogo
{
	visibility: collapse;
}