DOTAGuildBrowserPage
{
	width: 100%;
	height: 100%;
}


#BackgroundMap
{
	width: 100%;
	height: 100%;
}

#BackgroundVignette
{
	background-image: url("s2r://panorama/images/backgrounds/guilds_vignette_psd.vtex");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#MainContents
{
	flow-children: down;
	horizontal-align: center;
	margin-right: 250px;
	margin-top: 154px;
	width: 1140px;
	height: 768px;
	padding-right:16px;
}

#Title
{
	font-size: 62px;
	font-weight: bold;
	color: white;
	vertical-align: middle;
	margin-top: 2px;
	letter-spacing: 2px;
	margin-left: 14px;
	text-transform: uppercase;
}

#SearchContainer
{
	flow-children: down;
	width: 100%;
	background-color: #000000cc;
}

.PageVisible #SearchContainer
{
	background-blur: gaussian( 7 );
}

#SearchCategories
{
	width: 100%;
	flow-children: right;
	padding: 14px 14px 0px 14px;
}

.SearchCategory
{
	flow-children: down;
}

.SearchCategoryTitle
{
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: light;
}

.SearchCategoryOptions
{
	flow-children: right;
}

#SearchHeader
{
	flow-children: right;
	background-color: black;
	width: 100%;
	padding: 8px 12px 12px 12px;
}

.SearchOption
{
	flow-children: down;
	margin-right: 12px;
}

#RegionContainer
{
	margin-right: 0px;
}

.SearchOptionLabel
{
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 8px;
	font-size: 12px;
	color: #666;
}

.SearchOptionValue
{
	width: 240px;
}


#FindByTagOption .SearchOptionValue
{
	flow-children: right;
}

#FindByTagTextEntry
{
	width: 200px;
}

#FindByTagButton
{
	height: 100%;
	width: height-percentage( 100% );
	background-color: baseBorder;

	background-image: url("s2r://panorama/images/control_icons/icon_search_png.vtex");
	background-size: 80% 80%;
	background-position: center;
	background-repeat: no-repeat;

}



#SearchResults
{
	flow-children: down;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

#SearchResults
{
	flow-children: down;
}

#SearchResultsHeader
{
	flow-children: right;
	padding: 24px 12px 2px 12px;
}

#SearchResultsText
{
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	font-size: 16px;
}

#MemberCountHeader
{
	width: 254px;
	font-size: 12px;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: bottom;
}

#SearchResultsSpinner
{
	margin-right: 12px;
	width: 24px;
	height: 24px;

	visibility: collapse;
}

.SearchInProgress #SearchResultsSpinner
{
	visibility: visible;
}

#SearchResultsList
{
	padding-left: 14px;
	padding-right: 14px;
	margin-bottom: 14px;
	flow-children: down;
	height: fill-parent-flow( 1.0 );
	overflow: squish scroll;
}

.SearchResult
{
	flow-children: right;
	width: 96.4%;
	height: 108px;
	background-color: black;

	transition-property: background-color;
	transition-duration: 0.2s;
	
	background-color: #ffffff02; 
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), to( #ffffff03 ) );
	border-top: 1px solid #ffffff02;
	border-right: 1px solid #ffffff02;
	box-shadow: 0px 0px 20px #000000aa;
	
	
}

.SearchResult:hover {

	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), to( #ffffff10 ) );
}

.SearchResult:active
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), to( #ffffff20 ) );
}

.BrowserGuildLogoContainer
{
	width: 107px;
	height: 107px;
	flow-children: none;
	width: fit-children;
	height: fit-children;
}

.SearchResult #GuildImage
{
	//margin-left: 12px;
	vertical-align: middle;
	width: 107px;
	height: 107px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	border-radius: 12px;
	border-top: 1px solid #ffffff44;
	//border-left: 1px solid #ffffff08;
	box-shadow: #000 2px 2px 16px 0px;
	padding: 5px;
	
}

#GuildLogoFrame
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/guilds/guild_default_icon_frame_psd.vtex");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.SearchResult .GuildText
{
	flow-children: down;
	margin-left: 12px;
	vertical-align: middle;
	margin-top: -4px;
}

.SearchResult .GuildName
{
	color: white;
	font-size: 44px;
	font-weight: semi-bold;

    max-width: 650px;
    max-height: 70px;
    text-overflow: shrink;
}

.SearchResult .GuildTag
{
	margin-top: -6px;
	font-size: 22px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
}

.SearchResult.GuildPrimaryColor0 .GuildTag { color: guildColor0; }
.SearchResult.GuildPrimaryColor1 .GuildTag { color: guildColor1; }
.SearchResult.GuildPrimaryColor2 .GuildTag { color: guildColor2; }
.SearchResult.GuildPrimaryColor3 .GuildTag { color: guildColor3; }
.SearchResult.GuildPrimaryColor4 .GuildTag { color: guildColor4; }
.SearchResult.GuildPrimaryColor5 .GuildTag { color: guildColor5; }
.SearchResult.GuildPrimaryColor6 .GuildTag { color: guildColor6; }
.SearchResult.GuildPrimaryColor7 .GuildTag { color: guildColor7; }
.SearchResult.GuildPrimaryColor8 .GuildTag { color: guildColor8; }
.SearchResult.GuildPrimaryColor9 .GuildTag { color: guildColor9; }

.SearchResult .GuildMembers
{
	color: white;
	width: 122px;
	vertical-align: middle;
	font-size: 22px;
}

.SearchResult .ViewDetails
{
	width: 152px;
	height: 152px;

	background-color: #ffffff03;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.2s;
}

.SearchResult:hover .ViewDetails
{
	opacity: 1.0;
}

.SearchResult .ViewDetails Label
{
	vertical-align: middle;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	text-align: center;
}

.SearchResult DOTAGuildLevel
{
	vertical-align: center;
	ui-scale: 65%;
	margin-right: 20px;
}

.FindHeader
{
	flow-children: right;
	//margin-bottom: 16px;
	padding: 16px;
	padding-left: 0px;
}

#DefaultGuildLogo
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/guilds/guild_default_icon_trim_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
