/* 
	Various classes set on this page include
*/

DOTAPageHeroCustomizeSlot
{
	width: 100%;
	height: 46px; 
}

.SlotInfo 
{
	margin-top: 1px;
	margin-bottom: 1px;
	width: fill-parent-flow(1);
	background-color: #222222ff;
}

.SlotName 
{
    font-size: 16px;
	margin-top: 3px;
	margin-left: 8px;
	text-transform: uppercase;
}

.EquippedItem 
{
	margin-left: 8px;
 	margin-bottom: 3px;
	font-size: 14px;
}
	  
#SlotLock 
{
	width: 28px;
	height: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/lock_small_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #444444ff;
}
