
DOTACustomGamesBrowsePage
{
    margin-top: 107px;
    horizontal-align: center;
    width: 1400px;
    height: 900px;
}

.SortBox
{
	background-color: #000000AA;
	margin-top: 50px;
	width: 320px;
	flow-children: down;
}

#SortDropdown
{
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.SortLabel
{
	font-size: 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	margin: 5px 8px 0px 8px;
}

.ResultsBox
{
	background-color: #000000AA;
	margin-top: 50px;
	margin-left: 330px;
	width: 1050px;
	height: 776px;
	flow-children: down;
}

#ResultsList
{
	width: 100%;
	margin: 8px;
	flow-children: down;
}


#PageButtonRow
{
    flow-children: right;
    margin-right: 14px;
    margin-top: 832px;
    horizontal-align: right;
}

.PageNumberLabel
{
	min-width: 90px;
	text-align: center;
	vertical-align: center;
	margin-right: 14px;
}

.HorizBar
{
	width: 100%;
	height: 1px;
	background-color: white;
	opacity: 0.04;
}

DOTACustomGame
{
	width: 100%;
}

#PagePrevButton
{
}
#PageNextButton
{
	margin-left: 3px;
}

.BrowseCustomGameArrow
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
	background-repeat: no-repeat;
	background-color: #808080FF;
    background-size: 17px 17px;
    background-position: 50% 50%;
    width: 22px;
 	height: 22px;
	vertical-align: top;
	margin-right: 6px;
	margin-bottom: 0px;
	opacity: 0.8;
	transition-property: opacity;
	transition-duration: 0.2s;
}

Button:hover .BrowseCustomGameArrow
{
	wash-color: white;
}

.BrowseCustomGameArrow.Left
{
	horizontal-align: left;
	transform: scaleX(-1);
}

Button:hover .BrowseCustomGameArrow.Left
{
	transform: scaleX(-1) translateX(-3px);
}

.BrowseCustomGameArrow.Right
{
	horizontal-align: right;
}

Button:hover .BrowseCustomGameArrow.Right
{
	transform: translateX(3px);
}

Button:active .BrowseCustomGameArrow.Left
{
	transform: scaleX(-1) translateX(-6px);
}

Button:active .BrowseCustomGameArrow.Right
{
	transform: translateX(6px);
}

Button:disabled .BrowseCustomGameArrow.Left
{
	opacity: 0.1;
	transform: scaleX(-1) translateX(0px);
}

Button:disabled .BrowseCustomGameArrow.Left:hover
{
	opacity: 0.1;
	wash-color: #9db1b7;
	transform: scaleX(-1) translateX(0px);
}

Button:disabled .BrowseCustomGameArrow.Right
{
	opacity: 0.1;
	transform: translateX(0px);
}

Button:hover:disabled .BrowseCustomGameArrow.Right
{
	opacity: 0.1;
	wash-color: #9db1b7;
	transform: translateX(0px);
}