DOTAHeroGuidesPage
{
	width: 100%;
	height: 100%;

	margin-top: 150px;
}


.BrowserContainer
{
    flow-children: down;
    horizontal-align: center;
    visibility: collapse;
}

.BrowseMode .BrowserContainer
{
    visibility: visible;
}

.Header
{
    horizontal-align: center;
    margin-bottom: 8px;
    height: 64px;
    width: 788px;   /* match the guide browser */
}

.HeaderLeft
{
    horizontal-align: left;
    vertical-align: center;
    flow-children:right;
}

.PickerGroup
{
    horizontal-align: right;
    flow-children: right;
}

#BrowserMode
{
    width: 266px;   /* match the guide browser */
    margin-right: 20px;
    vertical-align: center;
}

DropDownMenu
{
	width: 266px;
}

DropDownMenu Label
{
	width: 266px;
}

.HeroGuidePicker
{
    vertical-align: center;
    font-size: 24px;
}

.BrowsingLocalGuides .HeroGuidePicker
{
    visibility: collapse;
}

.HeroPicker
{
    width: 106px;
    height: 64px;
    min-width: 0px;
    padding: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

#GuideBrowser
{
    width: 1350px;
    height: 650px;
    horizontal-align: center;
}

.ButtonContainer
{
    margin-top: 24px;
    flow-children: right;
    horizontal-align: center;
}

.ButtonContainer Button
{
    margin-left: 8px;
    margin-right: 8px;
    width: 192px;
}

.SelectedLocalUserGuide .CopyGuide
{
    visibility: collapse;
}

.EditGuide
{
    visibility: collapse;
}

.SelectedLocalUserGuide .EditGuide
{
    visibility: visible;
}

#GuideBuilder
{
	width: 100%;
	height: 100%;
    visibility: collapse;
}

.EditMode #GuideBuilder
{
    visibility: visible;
}

/* ------------------------------ */
.ViewerContainer
{
    width: 1400px;
	height: 800px;
    horizontal-align: center;
    flow-children: down;
    visibility: collapse;
}

.ViewMode .ViewerContainer
{
    visibility: visible;
}

#GuideViewer
{
    width: 100%;
    height: 740px;
}

.ViewerButtonContainer
{
    horizontal-align: center;
    margin-top: 12px;
    flow-children: right;
}

.ViewerButtonContainer Button
{
    margin-left: 8px;
    margin-right: 8px;
    width: 192px;
}
