DOTAPlusPage
{
	Width: 100%;
	height: 100%;
}

#DotaPlusBackgroundMap.SceneLoaded
{
	opacity: 1; 
}

#DotaPlusBackgroundMap
{
	width: 100%;
	height: 100%; 
	
	blur: gaussian( 2 );
	
	transition-property: opacity;
	transition-duration: 1.45s;
	transition-timing-function: ease-in;  
	opacity: 0; 
}

#BackgroundImage
{
	width: 100%;
	height: 100%;

	//background-image: url("s2r://panorama/images/dota_plus/dotaplus_dashboard_background_png.vtex");
	background-color: #1e130b; 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#BackgroundVignette, 
{
	background-image: url("s2r://panorama/images/backgrounds/dashboard_vignette_png.vtex"); 
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#MainContents
{
	margin-top: 100px;
	width: 1360px;
	margin-bottom: 132px;
	horizontal-align: center;
	flow-children: down;
}

#Header
{
	width: 100%;
	flow-children: right;
}

#PlusLogo
{
	width: 72px;
	height: 72px;

	background-image: url("s2r://panorama/images/dota_plus/dotaplus_logo_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}


#PlusLogoScene
{
	width: 72px;
	height: 72px;
}

#PlusTitleContainer
{
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 8px;
}

#PlusTitle
{
	vertical-align: middle;
	font-size: 54px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: gradient( linear, 100% 0%, 0% 0%, from( #fff ), to( #B78946 ) );
	//text-shadow: 2px 2px 8px black;
	margin-bottom: -10px;
}

#PlusTabs
{
	flow-children: right;
}

.PlusTab Label
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	color: #999;
}

.PlusTab:selected Label
{
	color: white;
}

.PlusTabSeparator
{
	font-size: 20px;
	margin: 0px 8px;
}

#PlusSubscribeButton
{
	box-shadow: fill #00000055 -8px -8px 16px 16px;
	width: 200px;
	margin-bottom: 10px;
	horizontal-align: right;
	vertical-align: bottom;
}

#PlusSubscribeButton Label
{
	font-size: 24px;
}

.ManageButton
{
	font-weight: semibold;
	font-size: 14px;
	width: 100%;
	margin-top: 4px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	horizontal-align: middle;
	vertical-align: middle;
	text-align: center;
	text-shadow: 0px 1px 4px #B78946;
}

#PurchaseOptions
{
	width: 600px;
	height: 110px;
	margin-bottom: 8px;
}

.PlusSubscriber #PlusSubscribeButton
{
	visibility: collapse;
}

#PlusExpireDate,#PlusRenewalDate
{
	visibility: collapse;
}

.PlusRenewal #PlusRenewalDate
{
	visibility: visible;
}

.PlusSubscriber .PlusRenewal #PlusExpireDate
{
	visibility: collapse;
}

.PlusSubscriber #PlusExpireDate
{
	visibility: visible;
}


#AlreadyOwnPlus
{
	visibility: collapse;
	padding-top: 0px;
	width: 100%;
	height: 100%;
	flow-children: down;
}

#AlreadyOwnPlusBG
{
	visibility: collapse;
	horizontal-align:right;
	width: 60%;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( black ), to( #0000 ) );
}


#AlreadyOwnPlus > Label
{
//	margin-right:10px;
}

.AlreadyOwnPlusText
{
	text-align: right;
	width: 100%;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
}

#RewardLogButton
{
	text-align: right;
	color: #DCD086;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	text-shadow: 0px 1px 4px #000;
}

#RewardLogButton:hover
{
	color: #B78946;
}


#ManageButton
{
	text-align: right;
	color: #DCD086;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	text-shadow: 0px 1px 4px #000;
}

#ManageButton:hover
{
	color: #B78946;
}

.PlusSubscriber #AlreadyOwnPlus
{
	visibility: visible;
}

#FeaturesTabContents
{
	width: 100%;
	height: 100%;
}

#EmbeddedWebsite
{
	width: 100%;
	height: 100%;
}

#HTMLTexture
{
	width: 1200px;
}

#DotaPlusLogoBGFX
{
	width: 120px;
	height: 120px;
    opacity: 1.0;
	x: -10px;
	y: -10px;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}
#PlusLogoPanel
{
	width: 100px;
	height: 100px;
	vertical-align: bottom;
}

#DashboardBackgroundOverlay
{
	background-image: url("s2r://panorama/images/dota_plus/dotaplus_dashboard_background_png.vtex");
	background-size: cover;
}


#TabContents
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.PlusTabContents
{
	visibility: collapse;
}

.PlusTabContents:selected
{
	visibility: visible;
}

#WelcomeQuestsTabContents
{
	width: 100%;
	height: 100%;

	flow-children: down;
}

#WelcomeQuestsTitle
{
	horizontal-align: center;
	font-size: 24px;
	margin-top: 24px;
	color: #999;
	letter-spacing: 2px;
}

.WelcomeQuestsFullyCompleted #WelcomeQuestsTitle
{
	visibility: collapse;
}

#WelcomeQuestsTitle .EventPointsValueIcon
{
	width: 20px;
	height: 20px;
	margin-right: 0px;
	transform: translateY( 4px );
}

#WelcomeQuestsCompleted
{	
	horizontal-align: center;
	font-size: 32px;
	margin-top: 24px;
	color: #ccc;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;

	visibility: collapse;
}

.WelcomeQuestsFullyCompleted #WelcomeQuestsCompleted
{
	visibility: visible;
}

#WelcomeQuestParts
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 40px;
}

.WelcomeQuestPart
{
	flow-children: down;
	margin: 0px 8px;
	width: 360px;
}

.WelcomeQuestPartHeader
{
	background-color: black;
	width: 100%;
	padding: 5px 8px 1px 8px;
}

.WelcomeQuestPartHeaderCenter
{
	horizontal-align: center;
	flow-children: right;
}

.WelcomeQuestPartHeader .LockIcon
{
	width: 20px;
	height: 20px;
	margin-right: 6px;
	vertical-align: middle;
	transform: translateY( -2px );

	wash-color: #ccc;

	background-image: url("s2r://panorama/images/control_icons/lock_small_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	visibility: collapse;
}

.WelcomeQuestPart:disabled .WelcomeQuestPartHeader .LockIcon
{
	visibility: visible;
}

.WelcomeQuestPartTitle
{
	font-size: 24px;
	color: #ccc;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.WelcomeQuestPartContents
{
	width: 100%;
}

.WelcomeQuestPartContents .LockedOverlay
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.WelcomeQuestPart:disabled .LockedOverlay
{
	visibility: visible;
}

.WelcomeQuestPartContents .LockedOverlay Label
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	width: 320px;
	font-size: 24px;
	text-shadow: 2px 2px 0px black;
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 2px;
}


.WelcomeQuestList
{
	width: 100%;
	flow-children: down;
}

.WelcomeQuestPart:disabled .WelcomeQuestList
{
	blur: gaussian( 5 );
}

.SingleQuest
{
	width: 100%;
	flow-children: right;
	padding: 4px 0px;
	height: 60px;

	tooltip-position: left;
	tooltip-body-position: 50% 50%;
}

.SingleQuest.Odd
{
	//background-color: #0008;
}

.SingleQuest.Even
{
	background-color: #0004;
}

.SingleQuest .CompletedStatus
{
	vertical-align: middle;
}

.SingleQuest .CompletedCheckbox
{
	margin: 8px 14px;
	width: 18px;
	height: 18px;
	border: 2px solid dotaPlusGold&66;
	background-color: black;
}

.SingleQuest .CompletedCheckmark
{
	width: 22px;
	height: 22px;

	vertical-align: middle;
	horizontal-align: center;

	wash-color: dotaPlusLightGold;

	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	visibility: collapse;
}

.SingleQuest.Completed .CompletedCheckmark, .SingleQuest.Claimed .CompletedCheckmark
{
	visibility: visible;
}

.SingleQuest.Claimed
{
	opacity: 0.2;
}

.SingleQuest .QuestName
{
	vertical-align: middle;
	width: 220px;
	font-size: 15px;
	color: #9aa297;
}

.SingleQuest .RewardContainer
{
	flow-children: right;
	width: fill-parent-flow( 1.0 );
	padding-right: 8px;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #e6721108 ), to( #e6721100 ) );
}

.SingleQuest .RewardCenter
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: middle;
}

.SingleQuest #ClaimButton
{
	horizontal-align: right;
	padding: 4px 12px 2px 12px;

	visibility: collapse;
}

.SingleQuest #ClaimButton Label
{
	font-size: 16px;
	text-overflow: shrink;
}

.SingleQuest.Completed #ClaimButton
{
	visibility: visible;
}

.SingleQuest .RewardContainer .DotaPlusCurrencyIcon
{
	width: 24px;
	height: 24px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.SingleQuest .RewardContainer .CurrencyAmount
{
	horizontal-align: right;
	vertical-align: middle;
	color: dotaPlusLightGold;
	margin-top: 2px;
	margin-left: 4px;
}

.SingleQuest.Completed .CurrencyAmount
{
	horizontal-align: center;
	font-size: 16px;
}

.SingleQuest.Completed .CurrencyAmount .EventPointsValueIcon
{
	width: 14px;
	height: 14px;
	margin-right: 2px;
}

#CurrentShardsContainer
{
	horizontal-align: center;
}

#CurrentShardBalance
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
}

#CurrentShardLabel
{
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;
	text-align: center;
	horizontal-align: center;
}

#CurrentShardValue
{
	font-size: 48px;
	font-weight: bold;
	color: dotaPlusLightGold;

	text-align: center;
	horizontal-align: center;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.5s;
}

#CurrentShardValue .EventPointsValueIcon
{
	width: 40px;
	height: 40px;
	transform: translateY( 8px );
}

.CurrencyCountup #CurrentShardValue
{
	pre-transform-scale2d: 1.3;
}

#CurrentShardsParticles
{
	width: 800px;
	height: 300px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	//border: 2px solid red;
}