@import url("file://{resources}styles/battle_pass/current_battle_pass.css");


.CustomEvent_Underhollow #RadiantScore,
.CustomEvent_Underhollow #DireScore,
.CustomEvent_Underhollow .OverviewHeroStats,
.CustomEvent_Underhollow #IndividualStats,
.CustomEvent_Underhollow #LeftHeroStats #BasicStats,
.CustomEvent_Underhollow #LeftHeroStats #EconItemContainer,
.CustomEvent_Underhollow #DropsContainer
{
	opacity: 0.0;
}

DOTAPostGame.CustomEvent_Underhollow
{
	background-image: url("s2r://panorama/images/compendium/international2018/underhollow_postgame_bg_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.CustomEvent_Underhollow #ContainerCenter
{
	background-color: none;
}

#UnderhollowTitle
{
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-family: defaultFont;
	font-weight: black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #000 ), to( #1b2f2d ) );
	text-shadow: 0px 0px 10px 1.5 #5fa39d;
	letter-spacing: 6px;
}

.CustomEvent_Underhollow #WinnerHeader
{
	color: white;
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 56px;
	letter-spacing: 3px;
	margin-top: 30px;
}

.Winner6 #WinnerHeader { text-shadow: 0px 0px 1px 1.5 #f3c909; }
.Winner7 #WinnerHeader { text-shadow: 0px 0px 1px 1.5 #FF6C00; }
.Winner8 #WinnerHeader { text-shadow: 0px 0px 1px 1.5 #3455FF; }
.Winner9 #WinnerHeader { text-shadow: 0px 0px 1px 1.5 #65d413; }
.Winner10 #WinnerHeader { text-shadow: 0px 0px 1px 1.5 #815336; }
.Winner11 #WinnerHeader { text-shadow: 0px 0px 1px 1.5 #1bc0d8; }
.Winner12 #WinnerHeader { text-shadow: 0px 0px 1px 1.5 #c7e40d; }
.Winner13 #WinnerHeader { text-shadow: 0px 0px 1px 1.5 #8c2af4; }




.CustomEvent_Underhollow #WinnerHeroesContainer
{
	horizontal-align: center;
	
	width: 1000px;
	height: 410px;
	margin-top: 40px;
	flow-children: right;
}

.CustomEvent_Underhollow .WinnerHeroContainer
{
	
	height: 100%;
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
	flow-children: down;
}

.CustomEvent_Underhollow .WinnerHero
{
	margin-bottom: 5px;
	height: 350px;
	width: 100%;
}

.CustomEvent_Underhollow .WinnerPlayerLabel
{
	width: 100%;
	height: 60px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop(0.2, #00000090), color-stop(0.4, #000000EF), color-stop(0.6, #000000EF), color-stop(0.8, #00000090), to( #00000000 ) );	
}

.CustomEvent_Underhollow .WinnerPlayerLabel Label
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	font-size: 24px;
	color: white;
}

.CustomEvent_Underhollow DOTAPostGameOverviewHero #OverviewHeroHoverControls
{
	height: 100%;
}

.CustomEvent_Underhollow #EventGameOverview
{
	width: 100%;
	flow-children: none;
}

.CustomEvent_Underhollow #RightHeroes
{
	visibility: collapse;
}

#UnderhollowContainer
{
	visibility: collapse;
	
	flow-children: none;
}

.CustomEvent_Underhollow #UnderhollowContainer
{
	horizontal-align: center;
	height: 800px;
	width: 100%;
	
	visibility: visible;
}

.CustomEvent_Underhollow #UnderhollowPlayerRows
{
	flow-children: down;
	width: 100%;
}

.CustomEvent_Underhollow .UnderhollowPlayerRowContainer
{
	height: 54px;
	flow-children: right;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #00000077;
	margin-bottom: 10px;
}

.CustomEvent_Underhollow .UnderhollowPlayerStat
{
	text-align: center;
	font-size: 26px;
	color: white;
	margin-top: 3px;
	margin-bottom: 3px;
	vertical-align: middle;
	text-shadow: 1px 1px 3px 3.0 #000000;
}

.CustomEvent_Underhollow .UnderhollowPlayerKillsColumn
{
	width: 84px;
}

.CustomEvent_Underhollow .UnderhollowPlayerRevivesColumn
{
	width: 74px;
}

.CustomEvent_Underhollow .UnderhollowPlayerEliminationsColumn
{
	width: 84px;
}


.CustomEvent_Underhollow .UnderhollowPlayerRowLegendContainer .UnderhollowPlayerRevivesColumn 
{
	color: #C48103;
}

.CustomEvent_Underhollow .UnderhollowPlayerKills
{
	color: white;
}


.CustomEvent_Underhollow .UnderhollowPlayerEliminations
{
	color: #E7BA01;
}

.CustomEvent_Underhollow .UnderhollowPlayerRevives
{
	color: baseText;
}


.CustomEvent_Underhollow .HeroBackgroundImage
{
	wash-color: #771C5Ef2;
	brightness: 4;
}

.CustomEvent_Underhollow .HeroSelectGlow
{
	wash-color: #771C5Ef2;
}

.CustomEvent_Underhollow .UnderhollowPlayerRowContainer #HeroIcon,
.CustomEvent_Underhollow .UnderhollowPlayerRowContainer #PlayerAvatar
{
	visibility: visible;
}

.CustomEvent_Underhollow .UnderhollowPlayerRowContainer #HeroIcon
{
	visibility: visible;
	background-color: #000000DE;
	width: 74px;
	height: 42px;
	vertical-align: middle;
	border: 1px solid black;
}

.CustomEvent_Underhollow #TeamsContainer
{
	width: 750px;
	height: 300px;

	vertical-align: bottom;
	horizontal-align: left;

	
	margin-left: 200px;
}

.AspectRatio4x3 .CustomEvent_Underhollow #TeamsContainer
{
	margin-left: 25px;
}

.AspectRatio16x10 .CustomEvent_Underhollow #TeamsContainer
{
	margin-left: 100px;
}

.CustomEvent_Underhollow #Legend
{
	width: 100%;
	height: 20px;
	flow-children: right;
	
}

.CustomEvent_Underhollow #Teams
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.CustomEvent_Underhollow #TeamRanks 
{
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	font-size: 18px;
	margin-right: 40px;
}

.CustomEvent_Underhollow .HeaderText
{
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	font-size: 18px;
	margin-bottom: 5px;
}

.CustomEvent_Underhollow .Spacer
{
	width: 157px;
}

.CustomEvent_Underhollow .KDANumbers
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	text-align: center;
	width: 70px;
}

.CustomEvent_Underhollow .TeamColumn
{
	width: 50%;
	height: 90%;
	
	vertical-align: bottom;
	flow-children: down;
}

.CustomEvent_Underhollow .ScoreboardTeam
{
	width: 100%;
	height: 60px;
	background-color: black;
	margin: 1px;

	flow-children: right;
}

.CustomEvent_Underhollow .ColorStrip
{
	height: 100%;
	width: 10px;
	background-color: blue;
}

.CustomEvent_Underhollow .LocalTeam
{
	background-color: green;
}

.CustomEvent_Underhollow .ScoreboardNumbers
{
	text-align: center;
	vertical-align: center;
	color: white;
	font-size: 20px;
	width: 75px;
	margin-left: -5px;
}

.CustomEvent_Underhollow .HeroIconsContainer
{
	vertical-align: center;
	flow-children: right;
	
	margin-left: -16px;
}

.CustomEvent_Underhollow .HeroIconsContainer DOTAHeroImage
{
	margin: 2px;
}

.CustomEvent_Underhollow #RightContainer 
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: bottom;
	width: 700px;
	height: 300px;
	margin-right: 200px;
}

.AspectRatio4x3 .CustomEvent_Underhollow #RightContainer
{
	width: 600px;
	margin-right: 35px;
}

.AspectRatio16x10 .CustomEvent_Underhollow #RightContainer
{
	width: 650px;
	margin-right: 150px;
}

.CustomEvent_Underhollow #RewardsPanel
{
	height: 200px;
	width: 100%;
	flow-children: down;
	visibility: visible;
}


.CustomEvent_Underhollow #RewardsContainer
{
	height: 100%;
	width: 100%;
	background-color: black;
}

.CustomEvent_Underhollow #MatchDetailsContainer.EventGameMatchDetails
{
	width: 100%;
	margin-bottom: 14px;
	visibility: visible;
}

.CustomEvent_Underhollow #ReplayStatuses
{
	margin-bottom: -10px;
}

.CustomEvent_Underhollow .RewardLineTotal
{
	font-size: 22px;
	color: accentColor;
	horizontal-align: right;
	vertical-align: bottom;
}

.CustomEvent_Underhollow #PointTally
{
	width: 200px;
	horizontal-align: right;
}

.CustomEvent_Underhollow #PointsEarnedSection
{
	margin-top: 10px;
	width: 100%;
}

.CustomEvent_Underhollow #BattlePointsEarnedValue,
.CustomEvent_Underhollow #BattlePointsEarnedDesc
{
		width: 100%;
	text-align: center;
	color: white;
	letter-spacing: 2px;
	font-size: 16px;
	text-transform: uppercase;
	//horizontal-align: center;
	margin-right: 4px;
}

.CustomEvent_Underhollow #BattlePointsEarnedValue
{
	font-size: 30px;
	color: accentColor;
}

.CustomEvent_Underhollow #PointMultiplierSection
{
	width: fit-children;
	horizontal-align: center;
}


.CustomEvent_Underhollow #PointMultiplierSection Label,
.CustomEvent_Underhollow #PointMultiplierSection Label
{

	text-align: center;
	
	letter-spacing: 2px;
	font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
	margin-top: 5px;
}

.CustomEvent_Underhollow #BattlePointsMultiplierValue
{
	color: accentColor;
}

.CustomEvent_Underhollow .BattlePointsTextLarge
{
	font-size: 24px;
	color: accentColor;
	
}

.CustomEvent_Underhollow .BattlePointsText
{
	font-size: 18px;
	color: accentColor;
	
}

.CustomEvent_Underhollow .BattlePointsTextWhite
{
	font-size: 18px;
	color: white;
}

.CustomEvent_Underhollow .BattlePointsTextWhiteLarge
{
	font-size: 24px;
	color: white;
}

.CustomEvent_Underhollow .BattlePointsTextSmall
{
	font-size: 12px;
	color: textSecondaryDarkColor;
	vertical-align: bottom;
	horizontal-align: center;
}

.CustomEvent_Underhollow .RewardLineIcon
{
	height: 80px;
	width: 80px;
	
	horizontal-align: center;
}

.CustomEvent_Underhollow .None .RewardLineIcon
{
	saturation: 0.05;
	opacity:  0.1;
}

.CustomEvent_Underhollow #SmallCheeseIcon
{
	background-image: url("s2r://panorama/images/compendium/international2018/underhollow_small_cheese_psd.vtex");
	
	background-size: contain;
	background-repeat: no-repeat;
}


.CustomEvent_Underhollow #BigCheeseIcon
{
	background-image: url("s2r://panorama/images/compendium/international2018/underhollow_big_cheese_psd.vtex");
	
	background-size: contain;
	background-repeat: no-repeat;
}

.CustomEvent_Underhollow #EliminationsIcon
{
	background-image: url("s2r://panorama/images/compendium/international2018/underhollow_tombstone_psd.vtex");
	
	background-size: 90%;
	background-repeat: no-repeat;
	margin-left: 10px;
}

.CustomEvent_Underhollow #EliminationsContainer .PointsXContainer
{
	
}

.CustomEvent_Underhollow #WinIcon
{
	background-image: url("s2r://panorama/images/compendium/international2018/underhollow_win_psd.vtex");
	
	background-size: contain;
	background-repeat: no-repeat;
}


.CustomEvent_Underhollow #RewardsLine
{
	width: 450px;
	flow-children: right;
	horizontal-align: left;
}

.CustomEvent_Underhollow .RewardLineItem
{
	height: 100px;
	width: 85px;
	margin: 10px;
	margin-top: 15px;
	flow-children: down;
}

.CustomEvent_Underhollow .PointsXContainer
{
	width: fit-children;
	horizontal-align: center;
	flow-children: right;
}

.CustomEvent_Underhollow #EarnedPointsContainer
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 10px;
	visibility: visible;
}

.CustomEvent_Underhollow #PointsBeforeCap
{
	width: 175px;
	
	horizontal-align: right;
	vertical-align: center;
}

.CustomEvent_Underhollow #PointsBeforeCap .BattlePointsText
{
	text-align: center;
	width: 100%;
	height: 25px;
}

.CustomEvent_Underhollow #PointsBeforeCap .BattlePointsTextWhiteLarge
{
	text-align: center;
	width: 100%;
	height: 25px;
	margin-top: -4px;
	margin-bottom: 8px;
}