
.CustomEvent_Siltbreaker #RightHeroes,
.CustomEvent_Siltbreaker #RadiantScore,
.CustomEvent_Siltbreaker #DireScore
{
	visibility: collapse;
}

.CustomEvent_Siltbreaker #DurationContainer
{
	margin-top: 10px;
}

#SiltbreakerContainer
{
	visibility: collapse;
	horizontal-align: right;
	height: 860px;
	width: 50%;
	flow-children: none;
	margin-top: 130px;
}

.CustomEvent_Siltbreaker #SiltbreakerContainer
{
	visibility: visible;
}

#SiltbreakerMap
{
	ui-scale: 79%;
}

#SiltbreakerMapContainer
{
	flow-children: down;

	transition-property: wash-color, transform;
	transition-duration: 0.5s;
}

#SiltbreakerMapContainer > Label
{
	margin-top: 2px;
	text-transform: uppercase;
	color: #999;
	horizontal-align: center;
	text-align: center;
}

#SiltbreakerZoneDetails
{
	width: 650px;
	height: 500px;

	opacity: 0.0;
	transform: translateX( 200px ) scale3d( 1.5, 1.5, 1.0 );

	transition-property: opacity, transform;
	transition-duration: 0.5s;
}

#SiltbreakerContainer.ShowZoneDetails #SiltbreakerMapContainer
{
	transform: scale3d( 0.8, 0.8, 1.0 );
	wash-color: #666;
}

#SiltbreakerContainer.ShowZoneDetails #SiltbreakerZoneDetails
{
	opacity: 1.0;
	transform: none;
}


#SiltbreakerZoneDetailsContents
{
	margin-top: 100px;
	margin-left: 150px;

	flow-children: down;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0B2D23ee ), color-stop( .6, #092120fe ), to( #051615 ) );	
	border: 1px solid black;
	border-top: 1px solid #1B543C;
	border-left: 1px solid #174B3744;
	border-right: 1px solid #174B3744;
	//box-shadow: #000a -6px -6px 12px 12px;
}

#SiltbreakerZoneDetailsHeader
{
	flow-children: right;
}

#SiltbreakerZoneDetailsStars
{
	flow-children: right;
	margin-top: 4px;
	margin-left: 4px;
}

.SiltbreakerZoneStar
{
	width: 24px;
	height: 24px;

	wash-color: #fa0;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("s2r://panorama/images/status_icons/star_raised_empty_psd.vtex");	
}

.ZoneStars_1 #SiltbreakerZoneDetailsStar1,
.ZoneStars_2 #SiltbreakerZoneDetailsStar1, .ZoneStars_2 #SiltbreakerZoneDetailsStar2,
.ZoneStars_3 #SiltbreakerZoneDetailsStar1, .ZoneStars_3 #SiltbreakerZoneDetailsStar2, .ZoneStars_3 #SiltbreakerZoneDetailsStar3
{
	background-image: url("s2r://panorama/images/status_icons/star_raised_filled_psd.vtex");	
}

#SiltbreakerZoneDetailsZoneName
{
	color: #77B59E;
	font-size: 24px;
	text-overflow: shrink;
	vertical-align: middle;
	margin-left: 8px;
	margin-top: 1px;
}


#SiltbreakerZoneDetailsDurationIcon
{
	width: 16px;
	height: 16px;
	background-image: url( 'file://{images}/status_icons/clock_small.psd' );
	background-size: contain;
	vertical-align: middle;
	opacity: .5;
	wash-color: #77B59E;
	margin-left: 20px;
}

#SiltbreakerZoneDetailsDurationLabel
{
	color: #77B59E;
	font-size: 24px;
	margin-left: 4px;
	margin-top: 1px;
	margin-right: 8px;
}

#SiltbreakerZoneDetailsTeamStats
{
	width: 100%;
	flow-children: down;
	margin: 2px 12px 4px 12px;
	padding: 4px 12px;

	border-radius: 12px;
	box-shadow: #0009 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303A38cc ), to( #09212088 ) );}

#SiltbreakerZoneDetailsStats
{
	horizontal-align: center;
	flow-children: right;
}

.SiltbreakerZoneDetailsStat
{
	flow-children: down;
	margin: 0px 16px;
}

.SiltbreakerZoneDetailsStat .SiltbreakerZoneDetailsStatTitle
{
	text-transform: uppercase;
	color: #fff3;
	margin-bottom: -6px;
	font-size: 20px;
	horizontal-align: center;
	text-align: center;
}

.SiltbreakerZoneDetailsStat .SiltbreakerZoneDetailsStatValue
{
	text-transform: uppercase;
	color: white;
	font-size: 42px;
	horizontal-align: center;
	text-align: center;
}

#SiltbreakerZoneDetailsPickups
{
	horizontal-align: center;
	flow-children: right;
}

.SiltbreakerZoneDetailsPickupCategory
{
	flow-children: down;
	margin: 0px 16px;
}

.SiltbreakerZoneDetailsPickupCategoryIcon
{
	width: 40px;
	height: 40px;

	horizontal-align: center;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#SiltbreakerZoneGoldBags .SiltbreakerZoneDetailsPickupCategoryIcon { background-image: url("s2r://panorama/images/battlepass/ti7/campaign/staticon_gold_psd.vtex"); }
#SiltbreakerZonePotions .SiltbreakerZoneDetailsPickupCategoryIcon { background-image: url("s2r://panorama/images/battlepass/ti7/campaign/staticon_potions_psd.vtex"); }
#SiltbreakerZoneItems .SiltbreakerZoneDetailsPickupCategoryIcon { background-image: url("s2r://panorama/images/battlepass/ti7/campaign/staticon_items_psd.vtex"); }
#SiltbreakerZoneRevives .SiltbreakerZoneDetailsPickupCategoryIcon { background-image: url("s2r://panorama/images/battlepass/ti7/campaign/staticon_revive_psd.vtex"); }

.SiltbreakerZoneDetailsPickupCategoryValue
{
	text-align: center;
	horizontal-align: center;
	font-size: 32px;
	color: white;
}

#SiltbreakerZoneDetailsFooter
{
	flow-children: right;
	margin-top: 1px;
	margin-bottom: 4px;
}

.SiltbreakerChangeZoneButton
{
	flow-children: right;
}

.SiltbreakerChangeZoneButton:disabled
{
	visibility: collapse;
}

.SiltbreakerChangeZoneButton Label
{
	text-transform: uppercase;
	font-size: 16px;
	color: #77B59E;
}

.SiltbreakerChangeZoneArrow
{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin: 1px 4px 0px 4px;
	wash-color: #77B59E;

	background-image: url("s2r://panorama/images/control_icons/double_arrow_right_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.SiltbreakerChangeZoneButton:hover Label
{
	color: white;
}
.SiltbreakerChangeZoneButton:hover .SiltbreakerChangeZoneArrow
{
	wash-color: white;
}

.SiltbreakerChangeZoneButton:active Label
{
	color: #92dec2;
}
.SiltbreakerChangeZoneButton:active .SiltbreakerChangeZoneArrow
{
	wash-color: #92dec2;
}


#SiltbreakerPreviousZoneDetailsButton .SiltbreakerChangeZoneArrow
{
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
}

#SiltbreakerNextZoneDetailsButton  > Label
{
	text-align: right;
}