
DOTAControlsLibrary
{
	flow-children: down;

	margin-top: 116px;
	horizontal-align: center;
	width: 100%;
	height: 100%;
}

.ZooTab
{
	visibility: collapse;
	flow-children: right-wrap;
}

#ZooTabContents
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 64px;
}

.ZooTab.TabVisible
{
	visibility: visible;
}

.ZooGroup
{
	min-width: 300px;
	min-height: 200px;
	padding:16px;
	margin-right: 24px;
	margin-bottom: 24px;
	//opacity: 0.0;

	border-style: solid;
	border-color: #00000022;
	border-width: 0px;
	//border-radius: 18px;

	//box-shadow: fill #00000011 -4px -4px 8px 9px;

	background-color: #00000044;
	flow-children: down;
}

.RightHand
{
	margin-left: 50px;
}

.Wide
{
	flow-children: right-wrap;
	width: 1272px;
}

.Thirds
{
	width: 408px;
}

#ZooOtherControls
{
	flow-children: down;
	vertical-align: top;
}

#TestCheckboxes
{
	height: 200px;
	overflow: scroll;
}

#ZooButtons
{
	flow-children: right;
}

#ZooButtons .ButtonBevel.Activated
{
	sound: "ui_select_arrow", "ui_hero_hat_select";
}

#ZooText
{
	flow-children: down;
}

.FontStyleRow
{
	flow-children: right;
}

.FontStyleName
{
	width: 140px;
	text-align: right;
	margin-right: 8px;
	vertical-align:middle;
	color: baseText;
	opacity: 0.3;
	font-size: 14px;
	text-transform: uppercase;
}

.FontStyleExample
{
	font-size: 24px;
}

.FontStyleRow.Normal .FontStyleExample { font-weight: normal; }
.FontStyleRow.Italic .FontStyleExample { font-weight: normal; font-style: italic; }
.FontStyleRow.Medium .FontStyleExample { font-weight: medium; }
.FontStyleRow.MediumItalic .FontStyleExample { font-weight: medium; font-style: italic; }
.FontStyleRow.Bold .FontStyleExample { font-weight: bold; }
.FontStyleRow.BoldItalic .FontStyleExample { font-weight: bold; font-style: italic; }
.FontStyleRow.Black .FontStyleExample { font-weight: black; }
.FontStyleRow.BlackItalic .FontStyleExample { font-weight: black; font-style: italic; }
.FontStyleRow.Thin .FontStyleExample { font-weight: thin; }
.FontStyleRow.ThinItalic .FontStyleExample { font-weight: thin; font-style: italic; }
.FontStyleRow.Light .FontStyleExample { font-weight: light; }
.FontStyleRow.LightItalic .FontStyleExample { font-weight: light; font-style: italic; }
.FontStyleRow.SemiBold .FontStyleExample { font-weight: semi-bold; }
.FontStyleRow.SemiBoldItalic .FontStyleExample { font-weight: semi-bold; font-style: italic; }


#InlineChildTest
{
	width: 40px;
	height: 40px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #000000 ), to( #006600 ) ) );
	border: 1px solid black;
	transition-property: background-color;
	transition-duration: 0.4s;
	margin: 0px 3px;
}

#InlineChildTest:hover
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #006600 ), to( #000000 ) ) );
}

#ZooSliders Slider
{
	margin-top: 10px;
}

#ZooCanvasDemo
{
	width: 150px;
	min-width: 150px;
}

#ZooEmoticons
{
	width: 150px;
	min-width: 150px;
	flow-children: right-wrap;
}

#ZooEmoticons AnimatedImageStrip, #ZooEmoticons DOTAEmoticon
{
	margin: 2px;
}

#ZooDebug1 TextEntry
{
	width: 800px;
}

#ZooDropDown
{
	vertical-align: top;
}

#ZooHTMLGroup
{
	width: 600px;
	height: 420px;
	padding: 10px;
	flow-children: down;
}

#ZooHTML
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	margin-bottom: 10px;
}

	
.TextSpan { color: red; }
.VarSpan { color: blue; }

.TooltipTestCases, .ContextMenuTestCases
{
	flow-children: right;
}

.TooltipTestCases DOTAAvatarImage, .ContextMenuTestCases DOTAAvatarImage
{
	width: 64px;
	height: 64px;
	margin: 5px;
}

.UGCImages
{
	width: 400px;

	flow-children: right-wrap;
}

.UGCImageTest
{
	width: 64px;
	height: 38px;

	margin-left: 12px;
	margin-right: 12px;
}

.BoxShadowTests
{
	flow-children: down;
}

.BoxShadowTest
{
	flow-children: right;
	margin: 5px;
}

.BoxShadowTestPanel
{
	width: 50px;
	height: 50px;
	background-color: #66ff66;
	margin: 10px;
}

.BoxShadowTest Label
{
	vertical-align: middle;
	margin-left: 10px;
}

.BoxShadowTest1 .BoxShadowTestPanel { box-shadow: #000000 0px 0px 10px 10px; }
.BoxShadowTest2 .BoxShadowTestPanel { box-shadow: inset #000000 0px 0px 10px 10px; }



#ZooModelTest
{
	flow-children: right;
}

#ZooEffectsTest
{
	flow-children: right;
}

DOTAScenePanel
{
	width: 600px;
	height: 600px;
	margin: 0px 8px;
}

#ModelTest1 
{
	width: 540px;
	height: 400px;
	transform: translateX(128px) translateY(128px) rotateY(45deg);
	border: 2px solid black;
	border-radius: 64px;
	box-shadow: inset #00000099 14px 14px 8px 9px;
	animation-name: ratio-loop; 
	animation-duration: 6.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
 }
 
@keyframes 'ratio-loop'
{
	0%
	{
		transform: translateX(128px) translateY(128px) rotateY(45deg);
	}


	50%
	{
		transform: translateX(128px) translateY(128px) rotateY(-5deg);
	}

	100%
	{
		transform: translateX(128px) translateY(128px) rotateY(45deg);
		

	}
}

#ModelTest2
{ 
	width:640px;
	height:640px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	animation-name: desat-pulse; 
	animation-duration: 2.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	wash-color: white;
}

#ModelTestBG
{
	width: 100%;
	height: 100%;
	transform: none;
}

#ModelTestUI
{ 
	width:640px;
	height:640px;
}

#ModelTestUIAccept
{ 
	width: 1024px;
	height: 1024px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}
@keyframes 'desat-pulse'
{
	0%
	{
		saturation: 0.0;
	}

	50%
	{
		saturation: 1.0;
	}

	100%
	{
		saturation: 0.0;
	}
}

#ZooDrop
{
	width: 520px;
	height: 520px;
	transform: translateX(-100px) translateY(0px);
}


.DropLabel
{
	horizontal-align: center;
	color: white;
	font-size: 32;
	text-shadow: 0px 0px 6px 1.0 #ff9060;
}

#DropLabelTop
{
	vertical-align: top;
	margin-top: 114px;
}

#DropLabelBottom
{
	vertical-align: bottom;
	margin-bottom: 75px;
}

#ModelTest3 
{ 
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");

	/*	
	animation-name: blur-pulse; 
	animation-duration: 2.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	*/

}

@keyframes 'blur-pulse'
{
	0%
	{
		blur: gaussian( 0, 0, 0 );
	}
	
	25%
	{
		blur: gaussian( 50, 0.1, 6 );
	}

	50%
	{
		blur: gaussian( 0, 0, 0 );
	}
	
	75%
	{
		blur: gaussian( 0.1, 50, 6 );
	}

	100%
	{
		blur: gaussian( 0, 0, 0 );
	}
}

#RenderPanelTest
{
	horizontal-align: center;
	vertical-align: center;
	
	width: 100%;
	height: 100%;

	background-color: #D8C88800;
	//blur: gaussian( 0, 0, 0 );
}


.PopupPanelEffectsTest
{
	border: 0px solid transparent;
	border-radius: 0px;
	background-color: black;
	padding: 0px;
	horizontal-align: center;
	vertical-align: center;
	/*box-shadow: #FF000066 -64px -64px 1000px 128px;*/
	opacity: 0;
	width: 689px;
	height: 173px;
}

.ButtonEffectsTestAlign
{
	horizontal-align: center;
	vertical-align: center;
}

.OtherButtons
{
	width: 300px;
	flow-children: right-wrap;
	horizontal-align: left;
}

.TextButtons Button
{
	margin-bottom: 10px;
}

#ZooSmallSettingsButton
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/gear_small_png.vtex");
	background-size: 20px;
	animation-direction: reverse;
	tooltip-position: right;
	tooltip-body-position: 0% 50%;
}

#ZooBevelButton
{
	//applying these sizes as the default in dotastyles
	
	//width: 200px;
	//height: 30px;
}

#ZooTextGlow
{
	font-size: 36px;
	color: white;
	text-shadow: 0px 0px 6px 1.0 #ffc0a0;

	transition-property: text-shadow;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#ZooTextGlow:hover
{
	text-shadow: 0px 0px 10px 3.0 #ffc0a0;
}

#ZooTextShadow
{
	font-size: 36px;
	color: #555555;
	text-shadow: 4px 4px 2px #000000;

	transition-property: text-shadow;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#ZooTextShadow:hover
{
	text-shadow: 4px 4px 8px 3.0 #000000;
}

DOTACanvas
{
	width: 100px;
	height: 100px;
}

/*
#ZooMovies
{
	flow-children: right-wrap;
}

#ZooBackgroundMovie
{
	width: 200px;
	height: 200px;
	margin: 10px;
	
	background-color: black;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.PageVisible #ZooMovies.TabVisible #ZooBackgroundMovie
{
	background-image: url("file://{resources}/videos/intro_movie.webm");
}

#ZooIntroMoviePlayer
{
	width: 600px;
	height: 400px;
	margin: 10px;
}

#ZooHeroMoviePlayer
{
	width: 256px;
	height: 256px;
}
*/

#RightColumn
{
	width: 300px;
}

#BlendPanel
{
	visibility: collapse;
	width: 400px;
	height: 256px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	flow-children: down;
	transform: translateX( -700px ) translateY( 0px );
	animation-name: blendloop; 
	animation-duration: 12.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#BlendPanel Label
{
	width: 100%;
	color: white;
	font-size: 20px;
	text-align: center;
	margin: 6px;
	margin-top: 0px;
}

#ScreenPanel
{
	width: 100%;
	height: 50%;
	background-image: url("s2r://panorama/images/temp/testpattern_psd.vtex");
}

#MultiplyPanel
{
	width: 100%;
	height: 50%;
	background-color: #00aaff;
	background-image: url("s2r://panorama/images/temp/testpattern_psd.vtex");
}

 
@keyframes 'blendloop'
{
	0%
	{
		transform: translateX( -700px ) translateY( 0px );
	}


	50%
	{
		transform: translateX( -700px ) translateY( 380px );
	}

	100%
	{
		transform: translateX( -700px ) translateY( 0px );
		

	}
}

#BugWrapLinkLabel
{
	width: 300px;
	background-color: #00000033;
	overflow: clip scroll;
}

DOTACountryFlagImage
{
	width: 24px;
	height: 16px;
	margin-right: 2px;
	margin-bottom: 4px;
}




//


Button.CustomButton
{
	width: 320px;
	min-height: 50px;
	max-height: 120px;
	border-radius: 0px;
	horizontal-align: center;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d69533 ) );  
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 320px 120px;   
	//background-repeat: no-repeat;

	box-shadow: fill #002a6644 -4px -4px 8px 9px;
	
	border-top: 1px solid #ffffff44;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff44;
	border-bottom: 1px solid #00000088;

	transition-property: box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	visibility: visible;
}

Button.CustomButton Label
{
	color: white;
	max-width: 318px;

	text-align: center;
	text-transform: uppercase;
	text-overflow: ellipsis;
	margin-top: 2px;

	horizontal-align: center;
	vertical-align: center;
	
	font-size: 28px;
	font-weight: bold;
	
	letter-spacing: 3px;
	//white-space: nowrap;
	
	padding-left: 8px;
	padding-right: 8px;
}

Button.CustomButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( red ) );  
	box-shadow: fill #414f4daa -4px -4px 8px 8px;
}

Button.CustomButton:hover Label
{
	color: #FFFFFF;
}

Button.CustomButton:active
{
	background-color: white;
}

Button.CustomButton:active Label
{
	color: black;
}

Button.CustomButton:disabled
{
	background-color: #666666;
}

Button.CustomButton:disabled Label
{
	color: #cbcbcb;
}

#PlayEffects
{
	width: 400px;
	z-index: -1;
	visibility: visible;
}

#FriendPicker
{
	width: 300px;
	height: 250px;
}

#BackgroundImageTest
{
	width: 100px;
	height: 100px;

	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	background-image: url("s2r://panorama/images/compendium/compendiumcoins_ti5_png.vtex");

	transition-property: background-image;
	transition-duration: 5.0s;

	clip: rect( 10%, 90%, 90%, 10% );
}

#RadialClipTest
{
	width: 100px;
	height: 100px;

	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	background-image: url("s2r://panorama/images/compendium/compendiumcoins_ti5_png.vtex");

	transition-property: background-image;
	transition-duration: 5.0s;

	animation-name: radial-clip-loop2; 
	animation-duration: 6.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'radial-clip-loop2'
{
	0%
	{
		clip: radial( 50% 50%, 0deg, 0deg );
	}


	50%
	{
		clip: radial( 50% 50%, 0deg, 180deg );
	}

	100%
	{
		clip: radial( 50% 50%, 0deg, 360deg );
	}
}

#LeadingEdge
{
	width: 3px;
	height: 100px;
	background-color: #ffffff22;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #ffffff00 ), to( #ffffffff ) ) );
	horizontal-align: center;
	transform-origin: 50% 100%;
	border-radius: 1px;
	
	animation-name: radial-swipe-edge; 
	animation-duration: 6.0s;
	animation-direction: reverse;
	animation-timing-function: linear;
	animation-iteration-count: infinite;	
}


@keyframes 'radial-swipe-edge'
{
	0%
	{
		transform: rotateZ( 0deg ) translateY(-50px);
	}
	50%
	{
		transform: rotateZ( 180deg ) translateY(-50px);
	}
	100%
	{
		transform: rotateZ( 360deg ) translateY(-50px);
	}
}


#BackgroundImageTest.ChangeBackgroundImage
{
	background-image: url("s2r://panorama/images/compendium/compendiumcoins_fallmajor_png.vtex");
}

#PlayButton
{
	box-shadow: #96ee9722 -8px -8px 16px 16px;
}

.DOTATodayCellMargins
{
	margin-left: 8px;
	margin-right: 8px;
}

//----------------------------------------------
// Hacky Image Compile

.Precache
{
	background-image: url("s2r://panorama/images/front_page/axecomic_png.vtex");
	visibility: collapse;
}

/* ------------------------------------------------------------------------- */

#XPBarTestPanel
{
	flow-children: down;
}

.XPBarTestButtons
{
	flow-children: right;
}

/* ------------------------------------------------------------------------- */

#TestDelayLoadList
{
	flow-children: right-wrap;
	height: 400px;
	width: 330px;
	background-color: black;
	padding: 10px;
	overflow: squish scroll;
}

#TestDelayLoadList Label
{
	width: 100px;
	height: 20px;
	border: 1px solid #ffffff66;
	margin: 0px 2px 2px 0px;
	padding: 1px 0px 0px 3px;
	color: white;
	font-size: 14px;
}

/* ------------------------------------------------------------------------- */

.ShrinkTests
{
	flow-children: down;
}

.ShrinkTests Label
{
	text-overflow: shrink;
	text-align: center;
	border: 1px solid white;
	margin-bottom: 4px;
}

#ShrinkTests1 Label
{
	font-size: 32px;
	height: 40px;
	width: 150px;
	padding: 0px 2px;
}

#ShrinkTests2 Label
{
	font-size: 50px;
	height: 80px;
	width: 200px;
	padding: 6px 5px 5px 5px;
	text-transform: uppercase;
	//visibility: collapse;
}

/* ------------------------------------------------------------------------- */

#ImportTest
{
	background-color: white;
}

@import url("file://{resources}/styles/import_test.css");

@define testColor: yellow;

#ImportTest
{
	background-color: testColor;
}

/* ------------------------------------------------------------------------- */

#PurchaseButtonTests
{
    width: 500px;
}

.PurchaseButtonTestRow
{
    flow-children: right;
    margin-bottom: 4px;
}

.PurchaseButtonTestRow > Label
{
    width: 200px;
    vertical-align: middle;
    text-overflow: shrink;
}

.PurchaseButtonTestRow > DOTAPurchaseButton
{
    width: 300px;
}

/* ------------------------------------------------------------------------- */

#ZooDebug3
{
	flow-children: down;
}

#TestRewardList, #TestRewardList2
{
	width: 1126px;
	height: 390px;
	background-color: black;
}

/* ------------------------------------------------------------------------- */

#ZooDebug4
{
	flow-children: right;
	overflow: clip;
}

#VRGameScreenTest
{
	/* Should match the size of the game render */
	width: 1920px;
	height: 1080px;

	/* For debugging, make sure it fits fully on the screen */
	transform-origin: 50% 0%;
	transform: scale3d( 0.6, 0.6, 1.0 );
}

/* ------------------------------------------------------------------------- */

#ZooDebug5
{
	overflow: clip;
}

#VideoStreamTwitch
{
	width: 688px;
	height: 480px;
}

#SpectatorLobbyTest
{
	flow-children: right;
	horizontal-align: center;

	/* For debugging, make sure it fits fully on the screen */
	transform-origin: 50% 0%;
	transform: scale3d( 0.4, 0.4, 1.0 );
}

#SpectatorLobbyBrowserTest
{
	width: 2250px;
	height: 1250px;
}

#SpectatorLobbyCreateTest
{
	width: 1250px;
	height: 1250px;

	margin-left: 40px;
}

#TestPanel
{
	width: 640px;
	height: 480px;
}

#HeroInspect
{
	height: 625px;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #404D65dd ), to( #171A25dd ) );
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #171A25dd  ), to( #171A25dd ) );
	padding: 16px;
	border: 1px solid black;
	
	//box-shadow: #0000008f -8px -8px 16px 16px;
}

#HeroInspectContents
{
	flow-children: down;
	width: 100%;
	height: 100%;

}


#HeroInspectContents .ButtonBevel
{
	margin-top: 16px;
}

#HeroInspectPrimaryAttributeIcon
{
	width: 32px;
	height: 32px;

	margin-top: -12px;
	background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}


#HeroInspectHype
{
	width: 300px;
	height: 100px;
	margin-top: 12px;
	color: #547095;
	font-weight: thin;
	height: 172px;
	overflow: clip scroll;	
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_psd.vtex");
	padding-right: 12px; 
}

#HeroInspectHype.HideScroll
{
	overflow: clip clip;	
}

#HeroInspectHype VerticalScrollBar
{
	width: 6px;
}

#HeroInspectHype VerticalScrollBar .ScrollThumb
{
	background-color: #496082;
}


#TransformTest
{
	width: 100%;
	height: fill-parent-flow(1.0);
	border: 1px solid red;
}

.TestBox
{
	width: 64px;
	height: 64px;
	background-color: blue;
	box-shadow: fill #ff000044 -4px -4px 8px 9px;
	transition-property: transform;
	transition-duration: 2.4s;
	border: 1px solid black;
	overflow: noclip;
}

#TransformTest.Trigger .TestBox
{
	transform: translateX(20px) translateY(20px);
}

.SmallBox
{
	width: 32px;
	height: 32px;
	background-color: green;
	margin-left: -14px;
	transform: translateX( 0px);
	transition-property: transform;
	transition-duration: 0.4s;	
	border: 1px solid black;
}

#TransformTest.Trigger .SmallBox

{
	transform: translateX( 32px);
}

/* ------------------------------------------------------------------------- */

#ZooDebug6
{
	overflow: clip;
}

#VRHeroDetailsTest
{
	width: 2400px;
	height: 1500px;

	horizontal-align: center;

	/* For debugging, make sure it fits fully on the screen */
	transform-origin: 50% 0%;
	transform: scale3d( 0.5, 0.5, 1.0 );
}


//===========================================================================


#CursorCooldownContainer
{
	width: 48px;
	height: 48px;
}


#CursorCooldownValue
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	font-size: 22px;
	text-shadow: 0px 0px 6px 1.0 #000000aa;
	font-weight: bold;
	color: white;
	margin-top: 2px;
}


#CursorCooldownBackground
{
	width: 100%;
	height: 100%;
	background-color: #004400a3;
	border-radius: 50%;
	background-image: url("s2r://panorama/images/hud/reborn/cursor_cooldown_bg_psd.vtex");	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #000000dd;	
}

#CursorCooldownRadialSweep
{
	width: 100%;
	height: 100%;

	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	wash-color: #22ff33;

	background-image: url("s2r://panorama/images/hud/reborn/cursor_cooldown_bg_psd.vtex");

	transition-property: background-image;
	transition-duration: 5.0s;

	animation-name: cursorcooldown-radial-clip-loop; 
	animation-duration: 3.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'cursorcooldown-radial-clip-loop'
{
	0%
	{
		clip: radial( 50% 50%, 0deg, 0deg );
	}


	50%
	{
		clip: radial( 50% 50%, 0deg, 180deg );
	}

	100%
	{
		clip: radial( 50% 50%, 0deg, 360deg );
	}
}

