DOTAProfileHeroStatsPage
{
	width: 100%;
	flow-children: down;
	margin-bottom: 170px;
}

#HeroStatsGrid
{
	flow-children: down;
	width: 1392px;
	height: 100%;
	horizontal-align: center;

	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-size: 100% 100%;
	padding: 10px 0px 10px 0px;
}

#HeroStatsHeaderRow
{
	flow-children: right;
	margin-bottom: 4px;
}

#HeroStatsHeaderRow DOTASortHeader Label
{
	text-transform: uppercase;
	font-size: 17px;
	font-weight: thin;
	color: #cccccc;
}

#HeroStatsHeaderRow DOTASortHeader .SortDirectionArrow
{
	margin-left: 0px;
	wash-color: #cccccc;
}

#HeroStatsHeaderRow DOTASortHeader:hover Label
{
	color: white;
}
#HeroStatsHeaderRow DOTASortHeader:hover .SortDirectionArrow
{
	wash-color: white;
}

#HeroStatsRows
{
	flow-children: down;
	width: 100%;
	overflow: squish scroll;
}

#HeroStatsRows > DelayLoadPanel
{
	height: 48px;

	transition-property: position;
	transition-duration: 0.3s;
}

DOTAHeroStatRow
{
	flow-children: right;

	transition-property: background-color;
	transition-duration: 0.1s;
}

#HeroImage
{
	width: 100%;
	height: width-percentage( 56.25% );
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 8px;
}

.SimpleStatColumn
{
	width: fill-parent-flow( 1.0 );
}

.SimpleStatColumnHeader
{
	flow-children: down;
	background-color: #000000;
	margin-right: 10px;
	padding-top: 4px;
	padding-bottom: 1px;
}

.SimpleStatColumnHeader .BlockName
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: thin;
	color: #666666;
	padding-top: 3px;
	padding-bottom: 4px;
}

.SimpleStatColumnHeader .HeaderNames
{
	width: 100%;
	flow-children: right;
}

.SimpleStatColumnHeader.1Wide
{
	width: fill-parent-flow( 1.0 );
}

.SimpleStatColumnHeader.2Wide
{
	width: fill-parent-flow( 2.0 );
}

.SimpleStatColumnHeader.3Wide
{
	width: fill-parent-flow( 3.0 );
}

.SimpleStatColumnHeader.4Wide
{
	width: fill-parent-flow( 4.0 );
}

.SimpleStatColumnHeader.5Wide
{
	width: fill-parent-flow( 5.0 );
}

DOTAHeroStatRow .SimpleStatColumn
{
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 16px;
//	font-weight: thin;
	text-align: right;
	color: #CCCCCCFF;
}

DOTAHeroStatRow .SimpleStatColumn.ExtendedStat
{
	color: #757D72FF;
}

DOTAHeroStatRow.HasStatsData .SimpleStatColumn.ExtendedStat
{
	color: #CCCCCCFF;
}

DOTAHeroStatRow Label.SimpleStatColumn.Narrow
{
	padding-right: 28px;
}

DOTAHeroStatRow Label.SimpleStatColumn.WinStreakValue
{
	padding-right: 51px;
}

DOTAHeroStatRow Label.SimpleStatColumn.Medium
{
	padding-right: 34px;
}

DOTAHeroStatRow Label.SimpleStatColumn.Wide
{
	padding-right: 10px;
}

DOTAHeroStatRow .SimpleStatColumn.Bad
{
    color: #ccaaaa;
}
DOTAHeroStatRow .SimpleStatColumn.Good
{
    color: #aaccaa;
}

.RowBlockWrapper
{
	vertical-align: middle;
	flow-children: right;
	margin-right: 10px;
}

.ProgressBarColumn
{
	width: 145px;
}

#HeroRatingProgressBar
{
	width: 100%;
	vertical-align: middle;
	height: 16px;
	border-top-width: 4px;
	border-bottom-width: 4px;
	border-radius: 0px;
	margin-left: 8px;
	margin-right: 18px;
	margin-bottom: 1px;
}

#HeroRatingProgressBar_Left
{
	background-color: #3B5D6B;
}

DOTASortHeader
{
	horizontal-align: center;
	margin-left: 22px;
}

.HeroNameColumn
{
	width: 81px;
}

DOTAHeroStatRow .HeroNameColumn
{
	padding-right: 6px;
}

.RatingColumn
{
	vertical-align: middle;
	width: 259px;
}

.WinStreakColumn
{
	width: 225px;
}

.AveragesColumn
{
	width: 311px;
}

.BestRecordsColumn
{
	width: fill-parent-flow( 4.0 );
	margin-right: 0px;
	padding-right: 10px;
}

.GamesColumn
{
	width: 203px;
}

.GamesColumn DOTASortHeader
{
	horizontal-align: left;
	margin-left: 5px;
}

.CenterWrapper
{
	width: fill-parent-flow( 1.0 );
}

.KDAValue
{
	width: 50px;
}

Label.SimpleStatColumn.KDAValue
{
	padding-right: 19px;
}

DOTAHeroStatRow Label.SimpleStatColumn.AvgGPM
{
	padding-right: 27px;
}

DOTAHeroStatRow Label.SimpleStatColumn.AvgXPM
{
	padding-right: 28px;
}

DOTAHeroStatRow Label.SimpleStatColumn.BestGPM
{
	padding-right: 23px;
}

DOTAHeroStatRow Label.SimpleStatColumn.BestXPM
{
	padding-right: 25px;
}

#UserRichPresence
{
	margin-top: -6px;
}

#RankBox
{
	vertical-align: center;
	margin-right: 16px;
}

#SoloMMRLabel
{
	min-width: 36px;
	margin-right: 8px;
	color: #959596;
}

#PartyMMRLabel
{
	min-width: 36px;
	margin-right: 8px;
	color: #959596;
}

#TeamMMRLabel
{
	margin-right: 8px;
	color: #959596;
}

#SoloMMRValue
{
	visibility: collapse;
}

#SoloMMRCalibrating
{
	visibility: collapse;
	color: white;
}

#SoloMMRNoData
{
	visibility: collapse;
	color: white;
}

.SoloMMRCalibrated #SoloMMRValue,
.SoloMMRCalibrating #SoloMMRCalibrating,
.SoloMMRNoData #SoloMMRNoData
{
	visibility: visible;
}

#PartyMMRValue
{
	visibility: collapse;
	color: white;
}

#PartyMMRCalibrating
{
	visibility: collapse;
	color: white;
}

#PartyMMRNoData
{
	visibility: collapse;
	color: white;
}

.PartyMMRCalibrated #PartyMMRValue
{
	visibility: visible;
}

.PartyMMRCalibrating #PartyMMRCalibrating
{
	visibility: visible;
}

.PartyMMRNoData #PartyMMRNoData
{
	visibility: visible;
}
