/* styles for the game end quests popup */
@define StartingScale: 0.5f;
@define Scale: 1.7f;
@define MapMaxMargin: 400px;

DOTAWraithKingArcanaPostGameProgress
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	border: 0px;
	padding: 0px;
}

.WraithKingContainer
{
	width: 100%;
	height: 90%;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.001;
	transition-property: opacity;
	transition-duration: 0.5s;
	margin-bottom: 20px;
}

.ShowProgress .WraithKingContainer
{
	opacity: 1;
}

#ScreenTransition
{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 1;

	transition-delay: 1.0s;
	transition-property: opacity;
	transition-duration: 0.85s;
	transition-timing-function: ease-in-out;	
}

.ShowProgress #ScreenTransition
{
	opacity: 0;
}

/* Map Zoom */

.MapZoomContainer
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");

	background-color: #1b171a;	
}

#Zoom
{
	width: 100%;
	height: 100%;
	overflow: clip;
}

#WraithKingArcanaMap
{
	overflow: noclip;
	vertical-align: center;
	horizontal-align: center;
	transition-property: transform;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
	transition-duration: 0.0s;

	margin: MapMaxMargin;	
}

.ShowProgress #WraithKingArcanaMap
{
	transition-duration: 1.0s;
}

.TitleSection
{
	margin-top: 30px;
	horizontal-align: center;
	flow-children: down;
}

.Title, .Subtitle, .Description
{
	text-transform: uppercase;
	color: white;
	text-align: center;
	horizontal-align: center;
}

.Title
{
	font-family: titleFont;
	font-size: 56px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 4px 4px 4.0 #00000070;
	letter-spacing: 4px;
	margin-top: 36px;
}

.Subtitle
{
	margin-top: 8px;
	font-family: titleFont;
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 3px;
	color: #E8A85E;
	text-shadow: 0 1px 3px 2.0 #000;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.HasHeroFocus .Subtitle
{
	opacity: 1;
}

.ShowFinalDetails .Subtitle
{
	visibility: collapse;
}

.Description
{
	margin-top: 8px;
	font-size: 48px;
	line-height: 19px;
	letter-spacing: 3px;
	color: white;
	text-shadow: 0 1px 3px 2.0 #000;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.ShowFinalDetails .Description
{
	opacity: 1;
}

.ShowFinalDetails .OnReadyToContinue .Description
{
	opacity: 0;
}

.ShowFinalDetails .ClaimedAllHeroes .Description
{
	opacity: 0;
}

.ProgressSection
{
	horizontal-align: right;
	margin-top: 35%;
	margin-right: 10px;
	width: 350px;
	flow-children: down;
	padding: 8px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.ShowProgressSection .ProgressSection
{
	opacity: 1;
}

.ProgressTitle
{
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
	color: #E8A85E;
	text-shadow: 0 1px 3px 2.0 #000;
	text-decoration: underline;
	margin-bottom: 4px;
}

#ProgressList
{
	flow-children: down;
}

@keyframes 'FadeIn'
{
	0%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 1;
	}
}

.HeroName
{
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 3px;
	color: #bbbbbb;
	text-shadow: 0 1px 3px 2.0 #000;
	animation-name: FadeIn;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.CloseButton
{
	horizontal-align: right;
	margin-top: 60px;
	margin-right: 20px;
	width: 64px;
	height: 64px;
	background-size: 48px 48px;
}

.ClaimedAllHeroes .CloseButton,
.OnReadyToContinue .CloseButton
{
	visibility: collapse;
}

#ContinueButton
{
	padding: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	//background-color: #FFFFFF33;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 114px;
	opacity: 0.0;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.ClaimedAllHeroes #ContinueButton
{
	opacity: 1.0;
}

#ContinueButton Label
{
	margin-top: 2px;
	font-size: 30px;
	color: #FFFFFF;
}

// have to disable smooth zoom on here since it relies on ui-scale changing which doesn't interpolate
.ShowFinalDetails #Zoom #DragZoomContentPanel.DragZoomSlowTransition
{
	transition-duration: 0.0s;
}