DOTAUIGuidePicker
{
	flow-children: down;                     
}

#Language
{
	width: 100%;
}

#GuideList
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	overflow: clip scroll;
	flow-children: down;
}

#SelectGuideButton
{
	width: 100%;
	height: 18px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #353c45 ), to( #4e5a63 ) );
    border: 1px solid;
    border-top-color: #555555;
    border-left-color: #494949;
    border-bottom-color: #333333;
    border-right-color: #404040;
    horizontal-align: right;
	visibility: collapse;
	vertical-align: bottom;
	z-index: 10;
}

#SelectedGuideLabel
{
	visibility: collapse;
    vertical-align: bottom;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #c8e7e7;
}

.ShowingGuidesForSingleHero .IsCurrentGuide #SelectedGuideLabel
{
	visibility: visible;
}

#SelectGuideButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #454c55 ), to( #5e6a73 ) );
}

#SelectGuideButton:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #252c35 ), to( #3e4a53 ) );
}

#SelectGuideButton Label
{
	color: #e1e2e2;
	text-align: center;
	width: 100%;
	vertical-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 0px;
    font-size: 12px;
    padding-top: 0px;
    text-shadow: 2px 2px 4px 1.0 #000000;
}

.ShowingGuidesForSingleHero .GuideListEntry:selected:not(.IsCurrentGuide) #SelectGuideButton
{
	visibility: visible;
}

// hide select button in dashboard
DOTAHeroPageNew .GuideListEntry:selected:not(.IsCurrentGuide) #SelectGuideButton
{
	visibility: collapse;
}

.GuideListEntry
{
	flow-children: none;
	width: 100%;
	height: 72px;

	transition-duration: 0.05s;
    transition-property: background-color;
}

.GuideListEntry:hover
{
	//background-color: #282d3388;
}
#SelectedBar
{
	opacity: 0.0;
	width: 4px;
	height: 100%;
	background-color: #c8e7e7;
	horizontal-align: left;
}

.ShowingGuidesForSingleHero .IsCurrentGuide #SelectedBar
{
	opacity: 1.0;
}

.GuideListEntry .RadioBox
{
	visibility: collapse;
}

.ShowingGuidesForSingleHero .GuideListEntry.IsCurrentGuide
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #424a4f00 ), to( #2a2d42ff ) );
}

#GuideEntryTitles
{
	horizontal-align: left;
	margin-left: 16px;
    margin-right: 20px;

	width: 100%;
	height: 100%;
	padding-top: 7px;
    flow-children: down;
}

.GuideEntryTitleBlock
{
	height: 19px;
    width: 208px;
    flow-children: right;
}

.GuideEntryTitle
{
	color: #e5e5e5;
	font-size: 16px;
}

.GuideEntryGameplayRole
{
	color: #e8e787;
	font-size: 14px;
    margin-top: 1px;
	height: 16px;
    visibility: collapse;
}

.EntryHasRole .GuideEntryGameplayRole
{
    visibility: visible;
}

.GuideEntrySubtitleGroup
{
    flow-children: right;
    margin-top: 2px;
    width: 100%;
}

.GuideEntrySelectionGroup
{
    width: 100%;
    margin-top: 4px;
}

.GuideEntryGameplayVersion
{
	color: white;
	font-weight: bold;
	font-size: 14px;
    margin-top: 1px;
	height: 16px;
    visibility: collapse;
}

.EntryHasGameplayVersion .GuideEntryGameplayVersion
{
    visibility: visible;
}

.DefaultGuideEntry .GuideEntryGameplayVersion
{
    visibility: collapse;
}

#GuideEntrySubtitle
{
	color: #5b6872;
	font-size: 14px;
	height: 16px;
}

.GuideListEntry .PersonaName,
#SubtitleLabel .PersonaName
{
	color: #5b6872;
	font-weight: bold;
	font-size: 14px;
}

#GuideEntryHeroIcon
{
    height: 24px;
    horizontal-align: right;
    vertical-align: center;
    margin-right: 10px;
    visibility: collapse;
}

.ShowingLocalPlayerGuides #GuideEntryHeroIcon
{
    visibility: visible;
}

#GuideEntryRightColumn
{
	height: 100%;
	width: 40px;
	flow-children: down;
	margin-right: 10px;
	horizontal-align: right;
}

.ShowingLocalPlayerGuides #GuideEntryRightColumn
{
    visibility: collapse;
}

#GuideEntryRating
{
	color: #5b6872;
	font-size: 14px;
	width: 100%;
	margin-top: 9px;
	text-align: right;
}

#FavoriteIcon
{
	width: 16px;
	height: width-percentage( 100% );
	horizontal-align: right;

	background-image: url("s2r://panorama/images/control_icons/star_favorite_selected_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	wash-color: #65b9f5;
	visibility: collapse;
}

.Favorite #FavoriteIcon
{
	visibility: visible;
}

.LocalGuidesTitle
{
    margin: 12px;
    font-size: 24px;
    horizontal-align: center;
    visibility: collapse;
}

.ShowingLocalPlayerGuides .LocalGuidesTitle
{
    visibility: visible;
}

#LanguageDropdown
{
    margin: 6px 12px 6px 12px;
	border: 0px;
    height: 34px;
    background-color: #282d3377;
}

#PrioritizeUpdatedGuidesToggle
{
	margin-top: 10px;
	margin-left: 10px;
}

.SmallMode #LanguageDropdown
{
    height: 28px;
}

#LanguageDropdown:hover
{
	background-color: #3a404666;
}
                 
.ShowingLocalPlayerGuides #LanguageDropdown
{
    visibility: collapse;
}

DOTAGuideBrowser DropDown:focus Label, DOTAGuideBrowser DOTASettingsEnumDropDown:focus Label, DOTAGuideBrowser DropDown Label
{
    font-size: 14px;
    color: #5b6872;
}

DOTAGuideBrowser DropDown, DOTASettingsEnumDropDown
{
    background-image: url("s2r://panorama/images/hud/reborn/arrow_dropdown_guides_psd.vtex");
    background-size: 26px 26px;
}

RadioButton:selected
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #424a4f00 ), to( #373f4888 ) );
}

DropDownMenu
{
    width: 242px;
}