DOTAUIHeroPatchNotes
{
	flow-children: down;
}

.VersionedNoteContainer
{
	flow-children: right;
}

.Dot
{
	width: 8px;
	height: 8px;
	vertical-align: top;
	margin: 6px 4px 4px 0px;
	border-radius: 50%;
	background-color: grey;
}

.Version
{
	margin-left: 4px;
	color: grey;
}

#NotesContainer
{
	flow-children: down;
}

.NotesContents
{
	flow-children: down;
	margin-left: 8px;
}

#HeroImage
{
    width: 64px;
    height: width-percentage( 100% );
    border: 1px solid black;

    transition-property: border, saturation, opacity;
    transition-duration: 0.2s;
}

.AbilityNotes
{
	flow-children: right;
	margin-bottom: 8px;
}

#AbilityImage
{
	width: 64px;
	height: 64px;
}

.AbilityName
{
	color: #ccc;
	text-transform: uppercase;
}

#AbilityNotesContainer
{
	flow-children: down;
}

.HeroNotes
{
	flow-children: down;
	margin-bottom: 32px;
}

.HeroNotesTop
{
	flow-children: right;
	margin-bottom: 8px;
	visibility: collapse;
}

.HasHeroNotes .HeroNotesTop
{
	visibility: visible;
}

#HeroNotesContainer
{
	flow-children: down;
}

#AbilityNotesContainer
{
	flow-children: down;
}

.TalentNotes
{
	flow-children: right;

	visibility: collapse;
}

.HasTalentNotes .TalentNotes
{
	visibility: visible;
}

#TalentNotesContainer
{
	flow-children: down;
}

.TalentsName
{
	color: #ccc;
	text-transform: uppercase;
}

.TalentTreeImage
{
	width: 64px;
	height: 64px;

	background-image: url("s2r://panorama/images/spellicons/statbranch_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #aaa;
}

#TalentNotesContainer
{
	flow-children: down;
}