DOTAShopItem
{
	opacity: 1;
}

DOTAShopItem.Hidden
{
	opacity: 0;
}

#ItemImage
{
	width: 100%;
    transition-property: brightness;
    transition-duration: 0.2s;
	vertical-align: top;
}

DOTAShopItem:not(.HasSuggestionPct) #ItemImage
{
	height: 100%;
}

#QuickBuyRows #ItemImage
{
	box-shadow: fill#000000ff 0px 0px 2px 2px;
}

DOTAShopItem.CanPurchase:hover #ItemImage,
DOTAShopItem.AvailableAtOtherShop:hover #ItemImage
{
	brightness: 1.6;
}

DOTAShopItem.CanPurchase:active #ItemImage,
DOTAShopItem.AvailableAtOtherShop:active #ItemImage
{
	brightness: 0.8;
}

DOTAHUDShop.EditMode DOTAHUDItemBuild DOTAShopItem.CollapsedShopItem
{
	visibility: collapse;
}

DOTAShopItem.DraggedShopItem #ItemImage,
DOTAShopItem.DraggedShopItem #CanPurchaseOverlay
{
	opacity: 0.3;
}

#CanPurchaseOverlay
{
	width: 100%;
	height: width-percentage( 72.7% );
	visibility: collapse;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#PopularOverlay
{
	width: 90%;
	height: 110%;
	visibility: collapse;
	margin-left: -8px;
	margin-top: -6px;
}

#PopularIcon
{
	width: 50%;
	height: 50%;
	background-image: url("s2r://panorama/images/icon_star_shadow_psd.vtex");
	background-size: 100%;
}

#PlayerSuggestedOverlay
{
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 5px 0px #ea67db60;
 	visibility: collapse;
}


#StartingItemsInventory #ItemImage
{
    background-image: url("s2r://panorama/images/hud/reborn/inventory_item_well_psd.vtex");
}

/* We still want to display the background in the pre-game inventory even if it's empty */
#StartingItemsInventory DOTAShopItem.Hidden
{
	opacity: 1.0;
}

.ShowingQueryUnit .CanPurchase #CanPurchaseOverlay,
.ShowingQueryUnit .CanPurchaseAtSecretShop #CanPurchaseOverlay
{
	visibility: collapse;
}

.CanPurchase #CanPurchaseOverlay
{
	border: 1px solid #CD9607;
  	visibility: visible;
}

.CanPurchaseAtSecretShop #CanPurchaseOverlay
{
	border: 1px solid #C80506;
  	visibility: visible;
}

#GridMainShop #AvailableAtOtherShopOverlay
{
	transition-property: border,background-color;
    transition-duration: 0.1s;
	border: 1px solid #00000000;
	background-color: #00000000;
}

#GridMainShop .AvailableAtOtherShop #AvailableAtOtherShopOverlay
{
	border: 1px solid #CD960722;
	background-color: #000000EE;
}

.AvailableAtOtherShop #AvailableAtOtherShopOverlay
{
	border: 1px solid #CD9607;
}

#AvailableAtOtherShopOverlay
{
	width: 100%;
	height: 100%;
	border: 1px solid #00000000;
	background-color: #00000000;
}

#GridMainShop #AvailableAtOtherShopNeedGoldOverlay
{
	transition-property: background-color;
    transition-duration: 0.1s;
	background-color: #00000000;
}

#GridMainShop .AvailableAtOtherShopNeedGold #AvailableAtOtherShopNeedGoldOverlay
{
	background-color: #000000EE;
}

#AvailableAtOtherShopNeedGoldOverlay
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
}

.HasHilightedItem .ShowHilight #ItemImage, .ShowPopular.ShowHilight .Popular.Hilighted #ItemImage
{
	brightness: 1;
}

.HasHilightedItem .ShowHilight .Hilighted #ItemImage, .ShowPopular.ShowHilight .Popular.Hilighted #ItemImage
{
	brightness: 4;
}

.HasHilightedItem .ShowHilight #CanPurchaseOverlay, .HasHilightedItem .ShowPopular.ShowHilight .Popular #CanPurchaseOverlay
{
	visibility: visible;
}

.HasHilightedItem .ShowHilight .Hilighted #CanPurchaseOverlay, .HasHilightedItem .ShowPopular.ShowHilight .Popular.Hilighted #CanPurchaseOverlay
{
	visibility: visible;
	background-color: #ffffff08;
}


#StartingItems .CanPurchase #CanPurchaseOverlay
{
	border: 1px solid #aa7d09;
}

.ShowPopular .Popular #PopularOverlay
{
  	visibility: visible;
}

.ShowPopular .Popular #CanPurchaseOverlay
{
	border: 2px solid #a7bde5;
  	visibility: visible;
}

.PlayerSuggested #PlayerSuggestedOverlay
{
  	visibility: visible;
}

#OwnedTick
{
	horizontal-align: right;
	vertical-align: top;
    margin-right: 1px;
	width: 13px;
	height: 13px;
	visibility: collapse;
}

.PlusSequence .Purchased,
.PlusOtherOptions .Purchased
{
	saturation: 0;
	brightness: 0.5;
}

.Purchased #OwnedTick
{
	visibility: visible;
	background-image: url("s2r://panorama/images/hud/reborn/owned_item_png.vtex");
	background-size: 100%;
}

#SecretShop
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 13px;
	height: 13px;
	visibility: collapse;
    margin-bottom: 2px;
    margin-right: 1px;
}

.SecretShopItem:not(.MainShopItem) #SecretShop
{
	visibility: visible;
	background-image: url("s2r://panorama/images/hud/secret_psd.vtex");
	background-size: 100%;
}

#StockAmount
{
	visibility: collapse;
	horizontal-align: right;
	vertical-align: bottom;
	color: white;
	font-size: 15px;
	margin-bottom: -3px;
	margin-right: 2px;
	text-shadow: 1px 1px 0px 4 #000000FF;
}

.ShowStockAmount #StockAmount
{
	visibility: visible;
}

DOTAQuickBuy .ShowStockAmount #StockAmount
{
	visibility: collapse;
}

#OutOfStockOverlay
{
	width: 100%;
	height: 100%;
	background-color: #000000DD;
	visibility: collapse;
}

.OutOfStock #OutOfStockOverlay
{
	visibility: visible;
}

#SuggestionPct
{
	vertical-align: bottom;
	font-size: 13px;
	width: 100%;
	height: 15px;
	color: #FF9900;
	text-align: center;
	visibility: collapse;
}

.HasSuggestionPct:not(.Purchased) #SuggestionPct
{
	visibility: visible;
}

.ShowSequenceArrow #SequenceArrow
{
	visibility: visible;
}

#SequenceArrow
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_drop_png.vtex");
	background-size: 100%;

	width: 10px;
	height: 12px;

	margin-top: 9px;
	margin-left: 40px;
	margin-right: -8px;
	wash-color: #b98d4a;

	visibility: collapse;
}
