DOTAAbilityBuild
{
}

#AbilitiesContainer
{
	flow-children: down;
}

.AbilityRow
{
	flow-children: right;
	margin-top: 2px;
}

#AbilityImage
{
	width: 28px;
	height: 28px;
}

.TalentRow #AbilityImage
{
	visibility: collapse;
}

#TalentImage
{
	width: 28px;
	height: 28px;
	visibility: collapse;
	background-size: 90% 90%;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/spellicons/statbranch_psd.vtex");
    background-repeat: no-repeat;
}

.TalentRow #TalentImage
{
	visibility: visible;
}

#LevelsContainer
{
	flow-children: right;
	vertical-align: center;
	margin-left: 6px;
}

.LevelSquare
{
	background-color: #282d32;
	margin-left: 1px;
	width: 17px;
	height: 17px;
}

.LevelSquare.LevelComplete
{
	background-color: #434c53;
}

#LevelLabel
{
	width: 100%;
	height: 100%;
	color: white;
	font-size: 14px;
	text-align: center;
	margin-top: 1px;
	visibility: collapse;
    background-color: #434c53;
}

.SelectedLevel #LevelLabel
{
	visibility: visible;
}