DOTANetGraph
{
	flow-children: right;
	visibility: collapse;
}

DOTANetGraph.Visible
{
	visibility: visible;
}

#LeftColumn
{
	flow-children: down;
	width: 60px;
}

#RightColumn
{
	flow-children: down;
	width: 140px;
}

#LeftColumn Label
{
	font-size: 13px;
	color: #8F8F8F;
}

#RightColumn Label
{
	font-size: 13px;
	color: #ABABAB;
}

.AspectRatio4x3 #LeftColumn Label
{
	font-size: 15px;
}

.AspectRatio4x3 #RightColumn Label
{
	font-size: 15px;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn #RightColumn Label
{
	color: white;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 1px 1px 1px 2 #00000099;
}

.Reborn #LeftColumn Label
{
	color: white;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 1px 1px 1px 2 #00000099;
}

DOTANetGraph.Visible
{
	visibility: visible;
}
