DOTARadarButton
{
	tooltip-position: left;
	visibility: collapse;
}

DOTARadarButton.ShowRadar
{
	visibility: visible;
}

#RadarIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_scan_on_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;

	transition-property: brightness;
	transition-duration: 0.25s;
}

#DireRadarIcon,
#RadiantRadarIcon
{
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 200%;
	height: 100%;

	transition-property: brightness;
	transition-duration: 0.25s;
}

#NormalRoot
{
	width: 100%;
	height: 100%;
}

.IsLocalPlayerSpectating #NormalRoot
{
	visibility: collapse;
}

#RadiantRadarIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_scan_on_radiant_psd.vtex");
}

#DireRadarIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_scan_on_dire_psd.vtex");
}

#SpectatorDivider
{
	background-color: black;
	horizontal-align: center;
	width: 2px;
	height: 96%;
	visibility: collapse;
}

.IsLocalPlayerSpectating #SpectatorDivider
{
	visibility: visible;
}


#RadiantRadarRoot,
#DireRadarRoot
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 50%;
	height: 100%;
	overflow: clip;
	visibility: collapse;
}

#DireRadarRoot
{
	margin-left: 50%;
	transform: scaleX(-1);
}

.IsLocalPlayerSpectating #RadarIcon
{
	visibility: collapse;
}

.IsLocalPlayerSpectating #RadiantRadarRoot,
.IsLocalPlayerSpectating #DireRadarRoot
{
	visibility: visible;
}


.CoolingDown #RadiantRadarIcon,
.CoolingDown #DireRadarIcon,
.CoolingDown #RadarIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_scan_off_psd.vtex");
}

DOTARadarButton:hover #RadarIcon
{
	brightness: 1.7;
}

DOTARadarButton.CoolingDown:hover #RadarIcon
{
	brightness: 1.0;
}


DOTARadarButton:active #RadarIcon
{
	brightness: 1.0;
}

#CooldownCover
{
	width: 39px;
	height: 39px;
	background-color: #000000dd;
	background-size: 100% 100%;
	border-radius: 50%;
	visibility: collapse;
	horizontal-align: center;
	vertical-align: middle;
}

#RadiantCooldownCover,
#DireCooldownCover
{
	border-radius: 50%;
	background-color: #000000dd;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 200%;
	height: 100%;

	transition-property: brightness;
	transition-duration: 0.25s;
	visibility: collapse;

}

.CoolingDown #CooldownCover,
.CoolingDown #RadiantCooldownCover,
.CoolingDown #DireCooldownCover
{
	visibility: visible;
}