@define radiantColor: #440b0b;
@define direColor: #054405;


DOTASpectateHeroSelection
{
	width: 100%;
	height: 100%;
	max-width: 1920px;
	horizontal-align: center;
	opacity: 1.0;
}

DOTASpectateHeroSelection.Hidden
{
	visibility: collapse;
}

#Header
{
	width: 100%;
	height: 56px;
	background-color: gradient( linear, 0% 0%, 50% 0%, from( #000000ff ), to( #00000000 ) );
}

#PhaseStatus
{
	width: 100%;
//	height: 92px;
	margin-left: 220px;
	flow-children: right;
	horizontal-align: center;
	vertical-align: middle;
	visibility: collapse;
}

.DOTA_GAMEMODE_TURBO #PhaseStatus,
.DOTA_GAMEMODE_MUTATION #PhaseStatus,
.DOTA_GAMEMODE_ALL_DRAFT #PhaseStatus
{
	visibility: visible;
}

#DashboardButton:hover,
#SettingsButton:hover
{
	opacity: 1;
	wash-color: #fff;
}

#SettingsButton
{
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/gear_png.vtex");
	background-size: 27px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: top;
	opacity: .4;
	wash-color: #fff;
	margin-left: 62px;
	margin-top: 13px;

	transition-property: opacity;
	transition-duration: 0.2s;
}

#SettingsButton.Activated
{
	animation-name: SettingsButtonAnimation;
	animation-duration: 0.50s;
	animation-delay: 0.15s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

#DashboardButton
{
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/return_to_game_png.vtex");
	background-size: contain;
	transform: scaleY(-1);
	vertical-align: top;
	wash-color: #fff;
	opacity: .4;
	margin-left: 14px;
	margin-top: 12px;

	transition-property: opacity;
	transition-duration: 0.2s;
}

#Title
{
	margin-left: 0px;
	margin-top: 0px;
	height: 56px;
	flow-children: right;

	padding: 0px 32px 0px 102px;
}

#TournamentLogoBlur,
#TournamentLogo
{
	width: 150px;
	height: 56px;
	margin-right: 10px;
	visibility: collapse;
}


.HasLeagueID #TournamentLogoBlur,
.HasLeagueID .TeamLogoBox,
.HasLeagueID #TournamentLogo
{
	visibility: visible;
}

#TournamentLogoBlur
{
	blur: gaussian( 16px );
	opacity: 1;
	transform: scale3D( 3.0, 2, 0 );
	opacity-mask: url("s2r://panorama/images/masks/gradient_leftright_png.vtex")1;
	transform-origin: 0px 50%;
	margin-left: 0px;
	
	brightness: .5;
	saturation: 1.3;
}



#TournamentName
{
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: titleFont;
	margin-top: 6px;
	text-shadow: 1px 1px 0px 2.0 #000;
}

.DOTA_GAMEMODE_CM #TournamentName
{
	font-size: 36px;
	vertical-align: center;
	margin-top: 8px;
}


#GameName
{
	font-size: 20px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0px 2.0 #000;
	visibility: collapse;
}

#GameMode
{
	font-size: 22px;
	text-transform: uppercase;
	horizontal-align: right;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-left: 124px;
	letter-spacing: 5px;
	padding-right: 46px;
	color: #fff8;
	text-shadow: 0px 1px 2px 3.0 #000;
	
	background-color: gradient( linear, 0% 0%, 50% 0%, from( #00000000 ), to( #000000cc ) );
}

.CloseButton
{
	horizontal-align: right;
	margin-top: 8px;
	margin-right: 8px;

}

.InReserveTime.IsCaptainsModeSelectPhase .ReserveLabel
{
	opacity: 1;
}

.InReserveTime.BanPhase #BansBackground .ReserveLabel,
.ReserveLabel
{
	opacity: 0;
}


.RowCenter
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 32px;
}

#BansBackground
{
	box-shadow: #0006 -32px -32px 64px 64px;
	width: 104px;
	height: 362px;
	vertical-align: middle;
	horizontal-align: center;
	opacity: 0;
	transition-property: width, height, transform, border, opacity;
	transition-duration: 0.45s;
	transition-duration: 0.6s;
	transition-timing-function: ease-in;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0000 ), color-stop( .5, #2220 ), to( #0000 ) );
	padding-top: 32px;
	border-radius: 16px;
	border: 1px solid #fa20;	
}


.DOTA_GAMEMODE_AP #BansBackground,
.DOTA_GAMEMODE_TURBO #BansBackground,
.DOTA_GAMEMODE_MUTATION #BansBackground,
.DOTA_GAMEMODE_ALL_DRAFT #BansBackground
{
	opacity: 1;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #200e ), color-stop( .5, #822e ), to( #200e ) );
	transform: translateX( -832px) translateY(-6px);
	box-shadow: fill #000a -8px -8px 16px 16px;
}

.AspectRatio16x10 .DOTA_GAMEMODE_AP #BansBackground,
.AspectRatio16x10 .DOTA_GAMEMODE_TURBO #BansBackground,
.AspectRatio16x10 .DOTA_GAMEMODE_MUTATION #BansBackground,
.AspectRatio16x10 .DOTA_GAMEMODE_ALL_DRAFT #BansBackground
{
	transform: translateX( -736px) translateY(-6px);	
}

.AspectRatio4x3 .DOTA_GAMEMODE_AP #BansBackground,
.AspectRatio4x3 .DOTA_GAMEMODE_TURBO #BansBackground,
.AspectRatio4x3 .DOTA_GAMEMODE_MUTATION #BansBackground,
.AspectRatio4x3 .DOTA_GAMEMODE_ALL_DRAFT #BansBackground
{
	transform: translateX( -590px) translateY(-6px);	
}




.DOTA_GAMEMODE_AP #PhaseTimeLabel,
.DOTA_GAMEMODE_TURBO #PhaseTimeLabel,
.DOTA_GAMEMODE_MUTATION #PhaseTimeLabel,
.DOTA_GAMEMODE_ALL_DRAFT #PhaseTimeLabel
{
	visibility: collapse;
}


.BanPickComplete #BansBackground,
.BanPickComplete .BansContainer
{
	opacity: 0;
	transform: translateX(-64px);
}

.HeroPickedContainer
{
	width: 100%;
	height: 100%;
}

.HeroPickedLabel
{
	horizontal-align: center;
	
	width: 360px;
	height: 58px;
	margin-bottom: 146px;
	vertical-align: middle;
	opacity: 0;
	transform: translateX(0px);
	pre-transform-scale2d: 1;
	
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: .32s;
	transition-delay: .32s;
	transition-timing-function: ease-in-out;
}

.RadiantFocusActive #HeroPickedRadiant.ShowPickedLabel,
.DireFocusActive #HeroPickedDire.ShowPickedLabel
{
	opacity: 1;
	pre-transform-scale2d: .8;
}

#HeroPickedDire
{
	margin-bottom: 40px;
	vertical-align: bottom;
}

.HeroPickedLabel #HeroPickedName
{
	font-size: 42px;
	horizontal-align: center;	
}

#HeroPickedRadiant #HeroNameBrush
{
	background-color: #086d;
}


// --------------------------------------------------
// Radiant

#Row0
{
	vertical-align: top;
	flow-children: none;
	horizontal-align: center;
	height: 540px;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000ee ) );
	background-color: black;
}

.RadiantTurn.BanPhase #BansBackground,
.DireTurn.BanPhase #BansBackground
{
	opacity: 1;
	transform: translateX(-830px) translateY(-245px);
	border-color: #522;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #200e ), color-stop( .5, #822e ), to( #200e ) );
}

.DireTurn.BanPhase #BansBackground
{
	transform: translateX(-830px) translateY(245px);
}

.AspectRatio16x10 .DireTurn.BanPhase #BansBackground
{
	transform: translateX(-736px) translateY(245px);
}
.AspectRatio16x10 .RadiantTurn.BanPhase #BansBackground
{
	transform: translateX(-736px) translateY(-255px);
}
.AspectRatio4x3 .DireTurn.BanPhase #BansBackground
{
	transform: translateX(-590px) translateY(245px);
}
.AspectRatio4x3 .RadiantTurn.BanPhase #BansBackground
{
	transform: translateX(-590px) translateY(-255px);
}



.IsCaptainsModeSelectPhase #BansBackground
{
	width: 264px;
	height: 450px;
	opacity: 1;
}

.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground
{
	//width: 224px;
}

.RadiantFocusActive.RadiantTurn.BanPhase #BansBackground,
.RadiantFocusActive.DireTurn.BanPhase #BansBackground,
.DireFocusActive.RadiantTurn.BanPhase #BansBackground,
.DireFocusActive.DireTurn.BanPhase #BansBackground
{
	width: 264px;
	height: 450px;	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0000 ), color-stop( .5, #2220 ), to( #0000 ) );
	border: 1px solid #fa20;		
	transform: translateX( 0px) translateY(282px);  opacity: 0;
}

.RadiantFocusActive.RadiantTurn.BanPhase #BansBackground,
.RadiantFocusActive.DireTurn.BanPhase #BansBackground
{
	transform: translateX( 0px) translateY(-282px);  opacity: 0;
}


.AspectRatio16x10 .RadiantFocusActive.RadiantTurn.BanPhase #BansBackground,
.AspectRatio16x10 .RadiantFocusActive.DireTurn.BanPhase #BansBackground
{
	transform: translateX( 0px) translateY(-282px); opacity: 0;
}


.AspectRatio4x3 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot0, 
.AspectRatio4x3 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot1,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot2,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot3,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot4, 
.AspectRatio4x3 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot0, 
.AspectRatio4x3 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot1,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot2,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot3,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot4,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot0, 
.AspectRatio16x10 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot1,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot2,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot3,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot4, 
.AspectRatio16x10 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot0, 
.AspectRatio16x10 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot1,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot2,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot3,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot4
{ transform: translateX( 0px) translateY(-282px); opacity: 0;}


.IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot0, 
.IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot1,
.IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot2,
.IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot3,
.IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team0slot4, 
.IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot0, 
.IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot1,
.IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot2,
.IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot3,
.IsCaptainsModeSelectPhase .RadiantFocusActive #BansBackground.team1slot4 
{ transform: translateX( 0px) translateY(-282px); opacity: 0;}


.AspectRatio4x3 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot0, 
.AspectRatio4x3 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot1,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot2,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot3,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot4, 
.AspectRatio4x3 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot0, 
.AspectRatio4x3 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot1,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot2,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot3,
.AspectRatio4x3 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot4,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot0, 
.AspectRatio16x10 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot1,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot2,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot3,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot4, 
.AspectRatio16x10 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot0, 
.AspectRatio16x10 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot1,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot2,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot3,
.AspectRatio16x10 .IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot4
{ transform: translateX( 0px) translateY(282px); opacity: 0;}


.IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot0, 
.IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot1,
.IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot2,
.IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot3,
.IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team0slot4, 
.IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot0, 
.IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot1,
.IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot2,
.IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot3,
.IsCaptainsModeSelectPhase .DireFocusActive #BansBackground.team1slot4 
{ transform: translateX( 0px) translateY(282px); opacity: 0;}

.IsCaptainsModeSelectPhase #BansBackground.team1slot0 { transform: translateX(-530px) translateY(282px); }
.IsCaptainsModeSelectPhase #BansBackground.team1slot1 { transform: translateX(-266px) translateY(282px); }
.IsCaptainsModeSelectPhase #BansBackground.team1slot2 { transform: translateX( 0px) translateY(282px); }
.IsCaptainsModeSelectPhase #BansBackground.team1slot3 { transform: translateX( 264px) translateY(282px); }
.IsCaptainsModeSelectPhase #BansBackground.team1slot4 { transform: translateX( 530px) translateY(282px); }

.IsCaptainsModeSelectPhase #BansBackground.team0slot0 { transform: translateX(-530px) translateY(-258px); }
.IsCaptainsModeSelectPhase #BansBackground.team0slot1 { transform: translateX(-266px) translateY(-258px); }
.IsCaptainsModeSelectPhase #BansBackground.team0slot2 { transform: translateX( 0px) translateY(-258px);	 }
.IsCaptainsModeSelectPhase #BansBackground.team0slot3 { transform: translateX( 264px) translateY(-258px); }
.IsCaptainsModeSelectPhase #BansBackground.team0slot4 { transform: translateX( 530px) translateY(-258px); }

.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground.team1slot0 { transform: translateX(-490px) translateY(282px); }
.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground.team1slot1 { transform: translateX(-245px) translateY(282px); }
.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground.team1slot2 { transform: translateX( 0px) translateY(282px); }
.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground.team1slot3 { transform: translateX( 244px) translateY(282px); }
.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground.team1slot4 { transform: translateX( 486px) translateY(282px); }

.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground.team0slot0 { transform: translateX(-490px) translateY(-258px); }
.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground.team0slot1 { transform: translateX(-245px) translateY(-258px); }
.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground.team0slot2 { transform: translateX( 0px) translateY(-258px);	 }
.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground.team0slot3 { transform: translateX( 244px) translateY(-258px); }
.AspectRatio16x10 .IsCaptainsModeSelectPhase #BansBackground.team0slot4 { transform: translateX( 486px) translateY(-258px); }


.AspectRatio4x3 .IsCaptainsModeSelectPhase #BansBackground.team1slot0 { transform: translateX(-403px) translateY(282px); }
.AspectRatio4x3 .IsCaptainsModeSelectPhase #BansBackground.team1slot1 { transform: translateX(-205px) translateY(282px); }
.AspectRatio4x3 .IsCaptainsModeSelectPhase #BansBackground.team1slot2 { transform: translateX( 0px) translateY(282px); }
.AspectRatio4x3 .IsCaptainsModeSelectPhase #BansBackground.team1slot3 { transform: translateX( 204px) translateY(282px); }
.AspectRatio4x3 .IsCaptainsModeSelectPhase #BansBackground.team1slot4 { transform: translateX( 403px) translateY(282px); }
            
.AspectRatio4x3 .IsCaptainsModeSelectPhase #BansBackground.team0slot0 { transform: translateX(-403px) translateY(-258px); }
.AspectRatio4x3 .IsCaptainsModeSelectPhase #BansBackground.team0slot1 { transform: translateX(-205px) translateY(-258px); }
.AspectRatio4x3 .IsCaptainsModeSelectPhase #BansBackground.team0slot2 { transform: translateX( 0px) translateY(-258px);	 }
.AspectRatio4x3 .IsCaptainsModeSelectPhase #BansBackground.team0slot3 { transform: translateX( 204px) translateY(-258px); }
.AspectRatio4x3 .IsCaptainsModeSelectPhase #BansBackground.team0slot4 { transform: translateX( 403px) translateY(-258px); }

#BansContainer0
{
	flow-children: down;
	margin-left: 64px;
	width: 130px;
	horizontal-align: left;
	vertical-align: middle;
	z-index: 2;
}

.DOTA_GAMEMODE_CD #BansContainer0,
.DOTA_GAMEMODE_CM #BansContainer0,
.DOTA_GAMEMODE_AP #BansContainer0,
{
	margin-bottom: 524px;
}


.DOTA_GAMEMODE_TURBO #BansContainer0,
.DOTA_GAMEMODE_MUTATION #BansContainer0,
.DOTA_GAMEMODE_ALL_DRAFT #BansContainer0
{
	vertical-align: middle;
}


.TeamMembersContainer
{
	flow-children: none;
	background-color: #000a;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	padding: 16px;
	height: 198px;
}

.TeamMembersContainer.HasTeamName
{
	height: 264px;
}

.DOTA_GAMEMODE_TURBO .TeamMembersContainer,
.DOTA_GAMEMODE_MUTATION .TeamMembersContainer,
.DOTA_GAMEMODE_ALL_DRAFT .TeamMembersContainer
{
	visibility: collapse;
}

#BanList0
{
	width: 100%;
	flow-children: down;
}

#HeroList0
{
	flow-children: right;
	vertical-align: bottom;
	//visibility: collapse;
}

#TeamLogo0.Hidden
{
	visibility: collapse;
}

// --------------------------------------------------
// Dire

#Row1
{
	vertical-align: bottom;
	height: 540px;
	flow-children: none;
	horizontal-align: center;
	width: 100%;
	//border: 1px solid red;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000ee ) );
	background-color: black;
}

#BansContainer1
{
	flow-children: up;
	margin-right: 76px;
	width: 130px;
	margin-left: 64px;
	vertical-align: middle;
	margin-top: 538px;
	z-index: 2;
}



.DOTA_GAMEMODE_TURBO #BansContainer1,
.DOTA_GAMEMODE_MUTATION #BansContainer1,
.DOTA_GAMEMODE_ALL_DRAFT #BansContainer1
{
	visibility: collapse;
}


#BansLabel0,
#BansLabel1
{
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
	text-align: center;
	font-size: 23px;
	margin-bottom: 6px;
	color: #AF241B;
	text-shadow: 0px 1px 0px 2.0 #000;
}

#BansLabel0
{
	margin-top: 6px;
}

#BanList1
{
	width: 100%;
	flow-children: down;
}

.DOTA_GAMEMODE_CD #BannedHero0_3,
.DOTA_GAMEMODE_CD #BannedHero0_4,
.DOTA_GAMEMODE_CD #BannedHero1_3,
.DOTA_GAMEMODE_CD #BannedHero1_4
{
	visibility: collapse;
}



#PhaseTimer,
#BanReserveTimeLabel,
#ReserveTimeLabel,
#BanPhaseTimeLabel,
#PhaseTimeLabel
{
	color: #fff8;
	
	color: gradient( linear, 0% 0%, 0% 100%, from( #fff8 ), color-stop( .4, #ffff ), to( #aaa ) );
	font-size: 64px;
	font-weight: thin;
	vertical-align: bottom;
	margin-bottom: 100px;
	text-align: center;
	horizontal-align: center;
	
	text-shadow: 0px 2px 0px 3.0 #000;
	
	transition-property: transform, opacity, pre-transform-scale2d, wash-color;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
}

#PhaseTimer
{
	font-size: 45px;
	margin: 0px;
	vertical-align: middle;
}

.PhaseLabel
{
	color: white;
	font-size: 35px;
	margin-left: 16px;
	font-weight: thin;
	letter-spacing: 4px;
	//font-family: titleFont;
	vertical-align: middle;
	text-transform: uppercase;
}


.StrategyTimeActive #Phase0,
.StrategyTimeActive #Phase1
{
	visibility: collapse;
}

#PhaseStrat
{
	visibility: collapse;
	color: #4FADC6;
}

#PhaseBan
{
	color: #AF241B;
	visibility: collapse;
}

.IsInBanPhase #PhaseBan
{
	visibility: visible;
}

.StrategyTimeActive #PhaseStrat
{
	visibility: visible;
}


#PhaseTimeLabel
{
	vertical-align: middle;
	margin: 0px;
}

.InReserveTime #PhaseTimeLabel
{
	transform: translateY(48px);
	pre-transform-scale2d: .6;
	wash-color: #aaa;
}

#ReserveTimeLabel
{
	wash-color: #fc6;
	transform: translateY(-62px);
}

.DireFocusActive #PhaseTimeLabel,
.RadiantFocusActive #PhaseTimeLabel,
.BanPhase #PhaseTimeLabel
{
	opacity: 0;
}

#BanReserveTimeLabel,
#BanPhaseTimeLabel
{
	font-size: 24px;
	margin-bottom: 6px;
	opacity: 0;
}

.BeingBanned #BanReserveTimeLabel,
.BeingBanned #BanPhaseTimeLabel
{
	opacity: 1;

}

.InReserveTime .BeingBanned #BanPhaseTimeLabel
{
	pre-transform-scale2d: .5;
	opacity: .35;
	transform: translateY(14px);
	z-index: 2;
}

.BeingBanned #BanReserveTimeLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #fff8 ), color-stop( .4, #ffff ), to( #aaa ) );
	wash-color: #fc6;
	opacity: 0;
	transform: translateY(-22px);
	pre-transform-scale2d: 1;
}

.InReserveTime .BeingBanned #BanReserveTimeLabel
{
	pre-transform-scale2d: 1;
	opacity: 1;
	transform: translateY(0px);
}




#HeroList1
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
}

#TeamMembersContainer0,
#TeamMembersContainer1
{
	horizontal-align: right;
	vertical-align: top;
	margin-top: 76px;
	margin-right: 0px;
	width: 230px;
}

.TeamTitleContainer
{
	width: 100%;
	visibility: collapse;
}

.HasTeamName .TeamTitleContainer
{
	visibility: visible;
}

#TeamLogoBlur1,
#TeamLogoBlur0
{
	blur: gaussian( 4 );
	padding: 16px;
	z-index: -2;
	opacity: .75;	
	width: 220px;
	height: 220px;
	brightness: .3;
	horizontal-align: right;
	vertical-align: bottom;
	transform: translateX(60px) translateY(60px);
}



#TeamLogo0,
#TeamLogo1
{
	width: 60px;
	height: 60px;
	padding: 6px;
}

#TeamLogo1.Hidden
{
	visibility: collapse;
}

#TeamMemberList0,
#TeamMemberList1
{
	flow-children: down;
	margin-top: 4px;
}

.HasTeamName #TeamMemberList0,
.HasTeamName #TeamMemberList1
{
	margin-top: 64px;
}


#HeroPickTimelineBG,
#HeroPickTimeline
{
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
	height: 96px;
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

#HeroPickTimelineBG
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( .4, #000000ee ), color-stop( .5, #000000ff ), color-stop( .6, #000000ee ),  to( #00000000 ) );
}

.BanPickComplete #HeroPickTimeline
{
	opacity: 0;
}

#HeroPool
{
	horizontal-align: left;
	vertical-align: center;

	visibility: collapse;
}

.DOTA_GAMEMODE_CD #HeroPool
{
	visibility: visible;
}

// --------------------------------------------------
// Team Player snippet
.TeamPlayer
{
	margin-bottom: 8px;
	background-color: #0009;
	width: 190px;
	margin-left: 10px;
	overflow: noclip;
}

.TeamPlayer.Hidden
{
	visibility: collapse;
}

.TeamPlayer #UserName
{

	vertical-align: center;
	text-align:center;
}

.TeamPlayer #UserName Label
{
	width: 190px;
	height: 26px;
	text-overflow: ellipsis;
	margin-left: 8px;
	font-size: 18px;
	font-weight: thin;
	transform-origin: 0px 0px;
	padding-top: 2px;
}

.TeamPlayer #LeaderIcon
{
	width: 22px;
	height: 22px;
	visibility: collapse;
	background-image: url("s2r://panorama/images/status_icons/party_leader_overlay_psd.vtex");
    background-repeat: no-repeat;
	background-size: contain;
	overflow: noclip;
	wash-color: #44AAFF;
	transform: translateX(-22px);
}

.TeamPlayer.IsLeader #LeaderIcon
{
	visibility: visible;
}

.TeamLogoBox
{
	visibility: collapse;
	horizontal-align: right;
	vertical-align: middle;
	background-color: #000a;
	margin-right: 229px;
	margin-bottom: 300px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;	
}

.TeamNameBlur,
.TeamName
{
	horizontal-align: left;
	font-size: 32px;
	color: white;
	text-overflow: shrink;
	margin-top: 8px;
	height: 44px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: -8px;
	font-weight: thin;
}

.TeamNameBlur
{
	blur: gaussian(4);
	opacity-mask: url("s2r://panorama/images/masks/teamname_glow_psd.vtex")1;
	opacity: 1;
}

#Row1 .TeamNameBlur,
#Row1 .TeamName
{
	color: #F23C20;
}

#Row0 .TeamNameBlur,
#Row0 .TeamName
{
	color: #A8F4CC;
}

// --------------------------------------------------
// Banned Hero snippet

.BannedHero
{
	width: 100px;
	height: 47px;
	margin-bottom: 12px;
	horizontal-align: center;
	overflow: noclip;
}


.BeingBanned #BannedHeroImage
{
	box-shadow: #CA261Dd0 -3px -3px 6px 6px;
	border-color: red;
}

.BannedHero.InvalidBan
{
	visibility: collapse;
}

#BannedHeroImage
{
	width: 84px;
	height: 47px;
	visibility: visible;
	horizontal-align: center;

	saturation: .34;
	wash-color: #a44d;
	background-color: black;
	border-radius: 6px;
	border: 2px solid #000;
	
	transition-property: border, box-shadow;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
}

#CrossLine
{
	background-image: url("s2r://panorama/images/hero_selection/strikethrough_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 40%;
	vertical-align: center;
	visibility: collapse;
	transform: rotateZ( -26deg );
	brightness: 2;
}

.BannedHero.ValidHero #CrossLine
{
	visibility: visible;
}

// --------------------------------------------------
// Hero snippet

.Hero
{
	flow-children: down;
//	border: 1px solid red;
}

.HeroCardBackground
{
	width: 264px;
	//border: 1px solid red;
	height: 450px;
}

.AspectRatio16x10 .HeroCardBackground
{
	width: 242px;
}

.AspectRatio4x3 .HeroCardBackground
{
	width: 200px;
}

#HeroCard1_0
{
	horizontal-align: center;
}




.RadiantTeam .HeroCardBackground
{
	//background-color: #8001;
	
}

.DireTeam .HeroCardBackground
{
	background-color: none;
}


.BeingPicked .HeroCardBackground
{
	//box-shadow: #ffffff -3px -3px 6px 6px;
}

.Hero #AsLabel,
.Hero #PlayerName
{
	font-size: 22px;
	width: 100%;
	text-align: center;
	margin-top: 5px;
	text-overflow: shrink;
	vertical-align: bottom;
	margin-bottom: 76px;
	color: white;
	font-weight: bold;
	text-shadow: 0px 1px 2px 3.0 #000;
	transition-property: opacity, pre-transform-scale2d;
	opacity: 0;
	transition-duration: .32s;
	pre-transform-scale2d: 4;
}

.Hero #AsLabel
{
	margin-bottom: 58px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: thin;
	color: #F1FDFC;
	letter-spacing: 3px;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
}

.DOTA_GAMEMODE_ALL_DRAFT .Hero #PlayerName,
.DOTA_GAMEMODE_AP .Hero #PlayerName,
.DOTA_GAMEMODE_TURBO .Hero #PlayerName,
.DOTA_GAMEMODE_MUTATION .Hero #PlayerName,
.Hero.ValidHero.PlayerIsAssigned #AsLabel,
.Hero.ValidHero.PlayerIsAssigned #PlayerName
{
	opacity: 1;
	pre-transform-scale2d: 1;
}


#HeroHeader
{
	width: fit-children;
	height: 37px;
	vertical-align: top;
	horizontal-align: center;
	margin-bottom: 24px;
	visibility: collapse;
	vertical-align:bottom;
}

#Row0 #HeroHeader
{
	
}

#HeroNameBrush
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/brush_horizontal_psd.vtex")1;
	background-color: #600d;	
}

#Row0 #HeroNameBrush
{
	background-color: #086d;	
}

#HeroPickedName,
#HeroName
{
	font-size: 22px;
	height: 142px;
	text-align: left;
	margin-top: 7px;
	margin-left: 24px;
	margin-right: 24px;
/*	font-family: titleFont;*/
	text-overflow: shrink;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1px;
	horizontal-align: left;
	text-shadow: 0px 1px 2px 3.0 #000;
	color: #ddd;

}

#HeroPickedRadiant #HeroPickedName,
#Row0 #HeroName { color: #A8F4CC; }

#HeroPickedDire #HeroPickedName,
#Row1 #HeroName { color: #E26C20; }

.BanPickComplete #Row0 .Hero.PlayerIsAssigned #HeroName,
.BanPickComplete #Row1 .Hero.PlayerIsAssigned #HeroName,
.BanPickComplete .Hero.PlayerIsAssigned #HeroName
{
	color: #fff;
}

#HeroStrAgiIntIcon
{
	width: 28px;
	height: 28px;
	horizontal-align: right;
	margin-right: 4px;
	margin-bottom: 18px;
	background-size: cover;
	vertical-align: center;
	background-color: black;
	border-radius: 50%;
	z-index: 5;
	visibility: collapse;
}

                       .PrimaryAttributeAgility #HeroStrAgiIntIcon   { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex"); }
.ColorBlindModeEnabled .PrimaryAttributeAgility #HeroStrAgiIntIcon   { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_colorblind_psd.vtex"); }
                       .PrimaryAttributeStrength #HeroStrAgiIntIcon  { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex"); }
                       .PrimaryAttributeIntellect #HeroStrAgiIntIcon { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex"); }

#HeroFooter
{
	width: 100%;
	height: 52px;
	vertical-align: bottom;
	horizontal-align: center;
	visibility: collapse;
	margin-bottom: 64px;
	opacity: 0;
	
	pre-transform-scale2d: .5;
	transform: translateY(52px);
	
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: .28s;
	transition-timing-function: ease-in-out;
}

#Abilities
{
	background-color: #000a;
	border-radius: 12px;
	padding: 4px;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
}

.Hero:hover #HeroFooter
{
	opacity: 1;
	pre-transform-scale2d: 1;
	transform: translateY(0px);
}


#Abilities > DOTAAbilityImage
{
	width: 40px;
	height: 40px;
	background-size: 100% 100%;
	background-position: 0px 0px;
	vertical-align: middle;
	border-radius: 4px;

	margin-left: 1px;
	margin-right: 1px;
}

#Abilities > .StatBranch
{
	width: 40px;
	height: 40px;
	background-size: 95% 95%;
	background-position: 50% 50%;

	margin-left: 1px;
	margin-right: 1px;
	border: 0px solid transparent;
	wash-color: #6F819B;
	
	//border-radius: 50%;
	box-shadow: none;	
	
	visibility: collapse;	
}

.AspectRatio16x10 #Abilities > DOTAAbilityImage,
.AspectRatio16x10 #Abilities > .StatBranch
{
	width: 38px;
	height: 38px;
}

.AspectRatio4x3 #Abilities > DOTAAbilityImage,
.AspectRatio4x3 #Abilities > .StatBranch
{
	width: 30px;
	height: 30px;
}

#Abilities > DOTAAbilityImage,
#Abilities > .StatBranch
{
	box-shadow: #0000008f -3px -3px 6px 6px;
	border: 2px solid black;
}

.Hero.ValidHero #HeroHeader,
.Hero.ValidHero #HeroFooter
{
	visibility: visible;
}

// --------------------------------------------------
// Force compilation

.ForceCompilation
{
	background-image:  url("s2r://panorama/images/hero_selection/empty_hero_card_png.vtex");
}

.TeamScenePanel
{
	width: 1920px;
	height: 600px;
	vertical-align: middle;
	z-index: -10;
	horizontal-align: center;
	
	saturation: 1;
	brightness: 1;
	contrast: 1;
	
	transition-property: contrast, brightness, saturation;
	transition-duration: .5s;
	transition-delay: 2s;
	transition-timing-function: ease-in-out;
}

/*
.PickPhase.DireTurn #RadiantScene,
.PickPhase.RadiantTurn #DireScene,
.IsCaptainsModeBanPhase .TeamScenePanel
{
	saturation: .6;
	brightness: .2;
	contrast: .98;
	transition-delay: 0s;
	transition-duration: .25s;
}
*/


.DevCameraShift
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-left: 800px;
	z-index: 100;
	margin-top: 84px;
	margin-bottom: 0px;
	opacity: .4;
}

#Row1 .DevCameraShift
{
	vertical-align: top;
	margin-bottom: 84px;
	margin-top: 0px;
	
}

.DevCameraCycle
{
	width: 32px;
	height: 32px;
	text-align: center;
	padding-top: 4px;
	margin: 3px;
	background-color: #000;
	padding-left: 11px;
}

.DevCameraCycle:hover
{
	background-color: #343;
}


.HeroFocusVignetteContainer
{
	width: 100%;
	height: 100%;
	
	transition-property: opacity;
	transition-duration: 0.8s;
	opacity: 1;
	transition-timing-function: ease-in-out;
}

.ViewAll #HeroFocus
{
	opacity: 0.4;
}


.HeroVignette
{
	width: 620px;
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/herofocus_vignette_psd.vtex"); 
	background-size: 100%;
	background-position: 50%;
	opacity: .9;
	transition-property: width;
	transition-duration: 1.2s;
	transition-delay: 0.6s;
	transition-timing-function: ease-in-out;
}

.ViewAll .HeroVignette
{
	width: 1920px;
	transition-delay: 0s;
	
}


.HeroList	
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.6s;
}

.ViewAll .HeroList	
{
	opacity: 1;
}
		
.OutsideDark
{
	height: 100%;
	width: fill-parent-flow (1);
	background-color: #000000e5;
}

.SeriesBestOf3 .TeamSeriesWins,
.SeriesBestOf5 .TeamSeriesWins
{
	visibility: visible;
}

.TeamSeriesWins
{
	tooltip-position: left;
	tooltip-body-position: 50%;
	flow-children: right;
	horizontal-align: right;
	margin-right: 144px;
	margin-top: 64px;
	visibility: collapse;
}

.SeriesPip
{
	width: 14px;
	height: 22px;
	background-color: black;
	border: 1px solid #6D5627;
	margin: 0px 4px;
}

.SeriesBestOf3 #RadiantSeriesPip3,
.SeriesBestOf3 #DireSeriesPip3
{
	visibility: collapse;
}

.DireSeriesWins_1 #DireSeriesPip1,
.DireSeriesWins_2 #DireSeriesPip1, .DireSeriesWins_2 #DireSeriesPip2,
.RadiantSeriesWins_1 #RadiantSeriesPip1,
.RadiantSeriesWins_2 #RadiantSeriesPip1, .RadiantSeriesWins_2 #RadiantSeriesPip2
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 80% 60%, from( #F0C060 ), to( #000000 ) );
}

.RequestedPreGameChat #ToggleChatButton
{
	margin-right: 506px;
}

#ToggleChatButton
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 4px;
	background-color: black;
	padding: 6px 12px 4px 12px;
	margin-bottom: 4px;
}
#ToggleChatButton > Label
{
	font-size: 18px;
	text-transform: uppercase;
	color: #999;
}

#ToggleChatButton:hover Label
{
	color: white;
}
#ToggleChatButton:active Label
{
	color: #ccc;
}

.ToggleChatArrow
{
	width: 14px;
	height: 100%;
	margin-bottom: 3px;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	wash-color: #999;
}

#ToggleChatButton:hover .ToggleChatArrow
{
	wash-color: white;
}
#ToggleChatButton:active .ToggleChatArrow
{
	wash-color: #ccc;
}

.ToggleChatArrow.LeftArrow
{
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
	margin-right: 2px;
}
.ToggleChatArrow.RightArrow
{
	background-image: url("s2r://panorama/images/control_icons/double_arrow_right_png.vtex");
	margin-left: 2px;
	visibility: collapse;
}

.RequestedPreGameChat .ToggleChatArrow.LeftArrow
{
	visibility: collapse;
}
.RequestedPreGameChat .ToggleChatArrow.RightArrow
{
	visibility: visible;
}

#GoldChange
{
	flow-children: right;

	/* Ugh. If this is 0, then sometimes it doesn't animate */
	opacity: 0.001;

	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 108px;
}

@keyframes 'GoldChangeAnim'
{
	0%
	{
		transform: translateY( 0px ) scale3d( 0.66, 0.66, 1.0 );
		opacity: 0.5;
	}
	15%
	{
		transform: translateY( 0px );
		opacity: 1.0;
	}
	100%
	{
		transform: translateY( 13px );
		opacity: 0.0;
	}
}

#GoldChange.AnimateGoldChange
{
	animation-name: GoldChangeAnim;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}


#GoldChangeAmount
{
	color: goldColor;
	font-size: 36px;
	vertical-align: middle;
	margin-top: 2px;
}

#GoldChangeIcon
{
	width: 30px;
	height: 30px;

	margin-left: 4px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
	background-size: contain;
}




.BroadcastLowerThird #Row0,
.BroadcastLowerThird #Row1
{
	width: 1920px;
	ui-scale: 50%;
}

.BroadcastLowerThird #Row0
{
	horizontal-align: left;
	vertical-align: bottom;
}

.BroadcastLowerThird #Row1
{
	horizontal-align: right;
}

.BroadcastLowerThird .TeamMembersContainer,
.BroadcastLowerThird #RadiantSeriesWins,
.BroadcastLowerThird #DireSeriesWins,
.BroadcastLowerThird #ToggleChatButton,
.BroadcastLowerThird #HeroPickTimeline,
.BroadcastLowerThird #HeroPickTimelineBG,
.BroadcastLowerThird #BansLabel0,
.BroadcastLowerThird #BansLabel1,
.BroadcastLowerThird .TeamLogoBox
{
	visibility: collapse;
}

.BroadcastLowerThird #BansContainer0,
.BroadcastLowerThird #BansContainer1
{
	ui-scale: 85%;
	vertical-align: bottom;
	margin-bottom: 6px;
}

.BroadcastLowerThird #BansContainer0
{
	horizontal-align: left;
	margin-left: 10px;
}

.BroadcastLowerThird #BansContainer1
{
	horizontal-align: right;
	margin-right: 10px;
}

.BroadcastLowerThird .Hero.ValidHero #HeroHeader
{
	visibility: collapse;
}

.BroadcastLowerThird .TeamNameOverlay
{
	font-size: 48px;
	color: white;
	vertical-align: bottom;
	margin-bottom: 260px;
	margin-left: 20px;
	margin-right: 20px;
	text-shadow: 2px 2px 8px 2.0 black;
}

.BroadcastLowerThird #TeamNameOverlay0
{
	horizontal-align: right;
}

.BroadcastLowerThird #BannedHeroImage
{
	/*saturation: .34;
	wash-color: #a44d;*/

	saturation: 0.5;
	wash-color: #a446;
}

.BroadcastLowerThird .HeroPickedContainer
{
	width: 50%;
	height: 270px;
	vertical-align: bottom;
}

.BroadcastLowerThird #HeroPickedContainerDire
{
	horizontal-align: right;
}

.BroadcastLowerThird .HeroPickedLabel
{
	vertical-align: bottom;
}

.BroadcastLowerThird #HeroPickedRadiant,
.BroadcastLowerThird #HeroPickedDire
{
	margin-bottom: 14px;
}

.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground
{
	width: 132px;
	height: 225px;
}

.BroadcastLowerThird.BanPhase #BansBackground
{
	width: 82px;
	height: 258px;
}

.BroadcastLowerThird.RadiantTurn.BanPhase #BansBackground
{
	transform: translateX( -896px ) translateY( 405px );
}
.BroadcastLowerThird.DireTurn.BanPhase #BansBackground
{
	transform: translateX( 894px ) translateY( 405px );
}

.BroadcastLowerThird #ReserveTimeLabel
{
	transform: translateY( -0px );
}
.InReserveTime .BroadcastLowerThird #PhaseTimeLabel
{
	transform: translateY( 0px );
}

.BroadcastLowerThird #AsLabel
{
	visibility: collapse;
}

.BroadcastLowerThird #PlayerName
{
	height: 64px;
	font-size: 48px;
	margin-bottom: 0px;
	margin-right: 8px;
	margin-left: 8px;
}

.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground.team1slot0 { transform: translateX(228px) translateY(408px); }
.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground.team1slot1 { transform: translateX(348px) translateY(408px); }
.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground.team1slot2 { transform: translateX(480px) translateY(408px); }
.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground.team1slot3 { transform: translateX(604px) translateY(408px); }
.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground.team1slot4 { transform: translateX(760px) translateY(408px); }

.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground.team0slot0 { transform: translateX(-738px) translateY(408px); }
.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground.team0slot1 { transform: translateX(-608px) translateY(408px); }
.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground.team0slot2 { transform: translateX(-478px) translateY(408px);	 }
.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground.team0slot3 { transform: translateX(-358px) translateY(408px); }
.IsCaptainsModeSelectPhase .BroadcastLowerThird #BansBackground.team0slot4 { transform: translateX(-204px) translateY(408px); }
