DOTAGuideBrowser
{                 
	width: 100%;
	height: 100%;
	flow-children: right;
    background-color: #fff2;
    z-index: 300;
}

DOTAHud DOTAGuideBrowser
{
	z-index: 0;
}

DOTAGuideBrowser.SmallMode 
{
	width: 788px;
	height: 592px;
}

DOTAGuideBrowser.Hidden
{
	visibility: collapse;
}

#TabContents DOTAGuideBrowser
{
    background-color: none;
}

#GuidesTab DOTAGuideBrowser
{
    background-color: none;
}

#GuidesTab DOTAGuideBrowser
{
    width: 883px;
    height: 684px;
}

#LeftColumn
{
	width: 266px;
	height: 100%;
	background-color: black;
	flow-children: down;
}

#GuidePicker
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

#GuidesTab #RightColumn
{
    background-image: none;
    background-color: #0009;
}

#TabContents #RightColumn
{
    background-image: none;
    background-color: #0009;
}

#RightColumn
{
    background-image: url("s2r://panorama/images/hud/reborn/bg_guides_psd.vtex");
    background-size: 100%;
    width: fill-parent-flow( 1.0 );
	height: 100%;
    background-color: #000e;
}

.SmallMode #RightColumn
{
    width: 522px;   /* needed to get item wrapping working */
}

#CloseButton
{              
    width: 28px;
    height: 28px;
    margin: 0px;
	visibility: collapse;
}

#HUDElements #CloseButton
{
	visibility: visible;
}

.HeaderTopLine
{
    width: 100%;
}

.HeaderGroup
{
    width: 100%;
    flow-children: right;
}

#Header
{
    width: 100%;
	padding-top: 10px;
	flow-children: down;
	padding-left: 10px;
	//background-color: #282d33;
}

#Header,
#GuideArea
{
	visibility: collapse;
}

.ShowingGuide #Header,
.ShowingGuide #GuideArea
{
	visibility: visible;
}

.TitleGroup
{
	width: 100%;
    height: 36px;
}

.TitleGroupLabel
{
	font-size: 24px;
    letter-spacing: 1px;
    margin-right: 3px;
}

.TitleRightSide
{
    horizontal-align: right; 
    flow-children: right;   
    margin-right: 2px;
}

.PublicTitleItem
{
    visibility: collapse;
}

.IsPublicGuide .PublicTitleItem
{
    visibility: visible;
}

.SubtitleGroupLabel.GameplayLabel, .SubtitleGroupLabel.RoleLabel
{
	color: #e8e787;
    visibility: collapse;
}

.HasGameplayVersion .GameplayLabel
{
    visibility: visible;
}

.HasRole .RoleLabel
{
    visibility: visible;
}

#TitleLabel
{
    width: 100%;
	color: white;
    text-overflow: shrink;
    padding-right: 80px;
}

#HUDElements #TitleLabel
{
    /* Need more room for the close box */
    padding-right: 110px;
}

#RatingPercent
{
	color: #e1e2e2;
	font-size: 24px;
}

.SubtitleGroup
{
    margin-top: -6px;
    width: 100%;
}

.SubtitleLeftSide
{
    flow-children: right;
}

.SubtitleRightSide
{
    flow-children: right;
    horizontal-align: right;
    visibility: collapse;
}

.IsPublicGuide .SubtitleRightSide
{
    visibility: visible;
}

.SubtitleGroupLabel
{
	font-size: 14px;
	color: #5b6872;
}

.SubtitleGroupLabel a
{
    font-size: 14px;
    color: #5b6872;
//    font-weight: bold;
}

#WorkshopSubtitleLabel
{
	visibility: collapse;
}

.ShowWorkshopSubtitle #WorkshopSubtitleLabel
{
	visibility: visible;
}

.ShowWorkshopSubtitle #SubtitleLabel
{
	visibility: collapse;
}

.OriginalCreator
{
    visibility: collapse;
}

.ShowWorkshopSubtitle.IsCopiedGuide .OriginalCreator
{
    visibility: visible;
}

.ViewButton
{
    horizontal-align: center;
    vertical-align: center;
    width: 100%;
    min-height: 32px;
    margin-bottom: 8px;
    margin-top: 8px;
    visibility: collapse;
}

.ShowingGuide .ViewButton
{
    visibility: visible;
}

.ViewLabel
{
    text-transform: uppercase;
}

#GuideArea
{
	margin-top: 68px;
	width: 100%;
	flow-children: down;
}

#GuideTop
{
	width: 100%;
	height: 356px;
	flow-children: right;
}

#ItemBuild
{
	width: 357px;
	padding-right: 10px;
	overflow: clip scroll;
}

#GuideRightColumn
{
	width: 165px;
	padding-right: 8px;
    flow-children: down;
    height: 100%;
}

#AbilityBuild
{
	width: 100%;
	margin-left: 10px;
	margin-bottom: 8px;
	margin-top: 10px;
	flow-children: down;
}

#StatBranch
{
    visibility: collapse;
}

.HasAbilityBuild #StatBranch
{
    visibility: visible;
}

#TalentDisplay
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
   	border-color: #282828FF;
	border-style: solid;
 	border-width: 1px;
}

#TitleBottomContainer
{
	width: 100%;
}

ToggleButton#FavoriteStar
{
	width: 28px;
	height: 28px;
    padding: 0px 0px;
    background-image: url("s2r://panorama/images/control_icons/star_favorite_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    wash-color: #444444;
}

ToggleButton#FavoriteStar:hover
{
	wash-color: #4582ad;
}

ToggleButton#FavoriteStar:selected
{
	background-image: url("s2r://panorama/images/control_icons/star_favorite_selected_psd.vtex");
	wash-color: #65b9f5;
}

ToggleButton#FavoriteStar:selected:hover
{
	wash-color: #7ee6ff;
}

// hide parts of the toggle button we don't want
ToggleButton#FavoriteStar .TickBox { visibility: collapse; }
ToggleButton#FavoriteStar .Label { visibility: collapse; }
