
@define accentColor: #fff;

DOTATIOnstageOverlay
{
	width: 100%;
	height: 100%;
	visibility: collapse;

	z-index: 1000;

	background-color: #0F0;

	padding: 10px;
}

Panel
{
	border: 1px solid #0000;	// keep these transparent borders as the panel is out for measurement
}

DOTATIOnstageOverlay.OverlayVisible
{
	visibility: visible;
}

DOTATIOnstageOverlay Label
{
	color: white;
	text-shadow: 8px 8px 16px #000000;
	font-weight: bold;
}


@keyframes 'logo-rotate'
{
	from
	{
		transform: rotateY( -10deg );
	}
	50%
	{
		transform: rotateY( 10deg );
	}
	to
	{
		transform: rotateY( -10deg );
	}
}

.TeamLogo
{
	width: 530px;
	height: 530px;
	padding: 40px;

	transition-property: transform, opacity;

	animation-name: logo-rotate;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

	opacity: 0;

	border: 1px solid #0000;// keep these transparent borders as the panel is out for measurement
}

.AfterHeroSelect .TeamLogosContainer
{
	visibility: collapse;
}

.HomeTeamLogoVisible #HomeTeamLogo,
.AwayTeamLogoVisible #AwayTeamLogo
{
	opacity: 1;
}

#RightColumn
{
	width: 100%;
	height: 100%;

	margin-left: 530px;
}

.GameIsOver #RightColumn
{
	visibility: collapse;
}

// Pick Text Line

#PickInfoContainer
{
	margin-top: 20px;
	visibility: collapse;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

.HomeTeamIsActive #PickInfoContainer
{
	opacity: 1; 
	animation-name: fader;	
	
}

.AwayTeamIsActive #PickInfoContainer
{
	opacity: 1; 
	animation-name: fader2;	
}

@keyframes 'fader'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: .8;
	}

	100%
	{
		opacity: 1;	
		pre-transform-scale2d: 1;
	}
}


@keyframes 'fader2'
{
	0%
	{
		opacity: 0;
		pre-transform-scale2d: .8;
	}

	100%
	{
		opacity: 1;	
		pre-transform-scale2d: 1;
	}
}

.InPickPhase #PickInfoContainer
{
	visibility: visible;
}

#PickLabel	
{
	font-size: 170px;
	text-transform: uppercase;
	margin-right: 30px;
	text-align: right;

	width: 400px;
	
	transition-property: color;
	transition-duration: .3s;
}

#PickTimer
{
	font-size: 170px;
	color: accentColor;
	margin-right: 30px;
	margin-left: 430px;
	width: 400px;
	font-family: RadianceM;
	transition-property: color;
	transition-duration: .3s;
}

.BonusActive #PickTimer
{
	color: #bbb;
}

#BonusContainer
{
	flow-children: down;
	margin-top: 33px;
	horizontal-align: right;
	margin-right: 355px;
}

.BonusLabel
{
	font-size: 50px;
	horizontal-align: center;
	text-transform: uppercase;
	color: #bbb;
	text-shadow: 4px 4px 8px #000000;
	transition-property: color;
	transition-duration: .3s;
}

.BonusActive .BonusTitle
{
	color: white;
}

.BonusActive .BonusTime
{
	color: accentColor;
}

.BonusTime
{
	margin-top: -35px;
	font-family: RadianceM;
	font-size: 100px;
}

// The Arrow

#PickArrow
{
	width: 256px;
	height: 256px;

	background-image: url("s2r://panorama/images/hud/overlay_pick_arrow_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;

	margin-left: 20px;
	margin-top: 260px;

	visibility: collapse;
	
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

.InPickPhase #PickArrow
{
	visibility: visible;
}


.AwayTeamIsActive #PickArrow
{
	animation-name: fader2;
}

.HomeTeamIsActive #PickArrow
{
	transform: rotateZ( 180deg );
	animation-name: fader;
}

#HomePickArrow,
#AwayPickArrow
{
	width: 128px;
	height: 128px;

	margin-left: 400px;
	margin-top: 260px;

	background-image: url("s2r://panorama/images/hud/overlay_pick_arrow_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	visibility: collapse;
}

.HomeTeamIsActive.InPickPhase #HomePickArrow
{
	visibility: visible;
}

.AwayTeamIsActive.InPickPhase #AwayPickArrow
{
	visibility: visible;
}

#HomePickArrow
{
	transform: rotateZ( 225deg );
}

#AwayPickArrow
{
	margin-left: 700px;
	transform: rotateZ( 45deg );
}

#BonusContainer2
{
	flow-children: down;

	margin-left: 513px;
	margin-top: 250px;

	visibility: collapse;
}

.InPickPhase #BonusContainer2
{
	visibility: visible;
}

// home team's pick or ban
// top right and bottom left visible

// away team's pick or ban
// top left and bottom right visible

DOTAHeroImage
{
	width: 64px;
	height: 64px;
	margin: 5px;
	background-color: black;
}

.BanContainer
{
	flow-children: down;
}

.BanImage
{
	width: 128px;
	height: 72px;
	saturation: 0.3;

	border: 1px solid #0000;		// keep these transparent borders as the panel is out for measurement
}

@keyframes 'ban-glow'
{
	from
	{
		background-color: #333;
	}
	50%
	{
		background-color: #666;
	}
	to
	{
		background-color: #333;
	}
}

.BanImage.BanActive
{
	animation-name: ban-glow;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#HeroImage1
{
	width: 71px;
	height: 94px;
}

.PickContainer
{
	flow-children: right;
	margin-left: 5px;
	margin-bottom: 5px;
	visibility: visible;
}

.PickMovie
{
	width: 180px;
	height: 240px;
	margin-right: 2px;
    visibility: collapse;
}

.PickMovie.ContainsHero
{
    visibility: visible;
}

.PickBGMovie
{
	width: 180px;
    height: 240px;

	saturation: 0.1;
}

.PickBGMovie.PickingActive
{
	saturation: 1;
}

#Aegis
{
	width: 180px;
	height: 240px;
}

#PickContainerHome
{
	margin-left: 10px;
	margin-top: 520px;
}

#PickContainerAway
{
	margin-left: 10px;
	margin-top: 770px;
}

#BanContainerHome
{
	margin-left: 1000px;
	margin-top: 520px;
	background-color: #333;
}

#BanContainerAway
{
	margin-left: 1135px;
	margin-top: 520px;
	background-color: #333;
}

#minimap_bg
{
    background-color: black;
    visibility: collapse;
}

.AfterHeroSelect #minimap_bg
{
    width: 600px;
    height: 600px;
    visibility: collapse;
}

#minimap
{
    width: 100%;
    height: 100%;
    vertical-align: top;
    horizontal-align: left;
    background-color: black;
}