DOTAAbilityBuild
{
	flow-children: down;
	margin-top: 12px;
}

#AbilitiesContainer
{
	flow-children: down;
}

.AbilityRow
{
    flow-children: right;
    margin-bottom: 10px;
}

.SmallMode .AbilityRow
{
	margin-bottom: 2px;
}

.AbilityName
{
    width: 128px;
    margin-right: 8px;
    vertical-align: center;
    text-align: right;
    font-size: 16px;
    text-transform: uppercase;
}

.SmallMode .AbilityName
{
    visibility: collapse;
}

#AbilityImage
{
	width: 48px;
	height: 48px;
}

.SmallMode #AbilityImage
{
	width: 28px;
	height: 28px;
}

.TalentRow #AbilityImage
{
	visibility: collapse;
}

#TalentImage
{
	width: 48px;
	height: 48px;
	visibility: collapse;
	background-size: 90% 90%;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/spellicons/statbranch_psd.vtex");
    background-repeat: no-repeat;
}

.SmallMode #TalentImage
{
	width: 28px;
	height: 28px;
}

.TalentRow #TalentImage
{
	visibility: visible;
}

#LevelsContainer
{
	flow-children: right;
	vertical-align: center;
	margin-left: 6px;
}

.LevelSquare
{
	background-color: #212121;
	width: 18px;
	height: 24px;
    margin-right: 4px;
}

.IsSecondaryLinkedAbility .LevelSquare
{
    visibility: collapse;
}

.EditMode .IsSecondaryLinkedAbility .LevelSquare
{
    visibility: visible;
}

.SmallMode .LevelSquare
{
	width: 17px;
	height: 17px;
	margin-right: 1px;
}

.LevelSquare.LevelComplete
{
	background-color: #434c53;
}

.LevelSquare.ValidSelection:not(.SelectedLevel)
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d45 ), to( #4d5860 ) );
	border-style: solid;
	border-width: 1px;

	border-top-color: #555555;
	border-left-color: #494949;
	border-bottom-color: #333333;
	border-right-color: #404040;

	transition-property: background-color, opacity;
	transition-duration: 0.05s;
	transition-timing-function: linear;
	box-shadow: #00000055 -2px -2px 4px 4px;
}

.LevelSquare.ValidSelection:not(.SelectedLevel):hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );

	border-top-color: #aaaaaa77;
	border-left-color: #aaaaaa33;
	border-bottom-color: #333333;
	border-right-color: #404040;
}

.LevelSquare.ValidSelection:not(.SelectedLevel):active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939), to( #555555 ) );

	border-top-color: #222222;
	border-left-color: #303030;
	border-bottom-color: #666666;
	border-right-color: #444444;
	sound: "ui_generic_button_click";
}

.LevelSquare.ValidSelection.NoSuggestionForLevel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );
}

.LevelSquare.ValidSelection.NoSuggestionForLevel:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6c7581 ), to( #8c9da8 ) );
}

.LevelSquare.SelectedLevel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #C2974E ), to( #bf9d6e ) );
}

.SmallMode .LevelSquare.SelectedLevel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #C2974E ), to( #bf9d6e ) );
}

#LevelLabel
{
    vertical-align: center;
    horizontal-align: center;
	color: black;
	text-align: center;
	margin-top: 3px;
    font-size: 15px;
	visibility: collapse;
}

.SmallMode #LevelLabel
{
    font-size: 14px;
    color: black;
	margin-top: 1px;
}

.SelectedLevel #LevelLabel
{
	visibility: visible;
}
