DOTAGuideBrowser
{                 
	width: 100%;
	height: 100%;
	flow-children: right;
    background-color: #fff2;
    z-index: 300;
}

DOTAGuideBrowser.SmallMode 
{
	width: 788px;
	height: 592px;
}

DOTAGuideBrowser.Hidden
{
	visibility: collapse;
}

#TabContents DOTAGuideBrowser
{
    background-color: none;
}

#GuidesTab DOTAGuideBrowser
{
    background-color: none;
}
#GuidesTab DOTAGuideBrowser
{
    width: 883px;
    height: 684px;
}

#LeftColumn
{
	width: 266px;
	height: 100%;
	background-color: black;
	flow-children: down;
}

#Language
{
	width: 100%;
}

#GuideList
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	overflow: clip scroll;
	flow-children: down;
}

#GuidesTab #RightColumn,
{
    background-image: none;
    background-color: #0009;
}

#TabContents #RightColumn
{
    background-image: none;
    background-color: #0009;
}

#RightColumn
{
    background-image: url("s2r://panorama/images/hud/reborn/bg_guides_psd.vtex");
    background-size: 100%;
    width: fill-parent-flow( 1.0 );
	height: 100%;
    background-color: #000e;
}

#CloseButton
{
	horizontal-align: right;
	margin-right: 10px;
	margin-top: 10px;
	visibility: collapse;
}

#HUDElements #CloseButton
{
	visibility: visible;
}

.HeaderGroup
{
    width: 100%;
    flow-children: right;
}

#Header
{
    width: 500px;
	padding-top: 4px;
	flow-children: down;
	padding-left: 10px;
	//background-color: #282d33;
	min-width: 50%;
	max-width: 90%;
	margin-top: 10px;
}

#Header,
#GuideArea
{
	visibility: collapse;
}

.ShowingGuide #Header,
.ShowingGuide #GuideArea
{
	visibility: visible;
}

#TitleLabel
{
	font-size: 24px;
    height: 36px;
	color: white;
	width: 100%;
    letter-spacing: 1px;
    text-overflow: shrink;
}

#WorkshopSubtitleLabel,
#SubtitleLabel
{
	font-size: 14px;
	color: #5b6872;
    margin-top: -6px;
}

#WorkshopSubtitleLabel a,
#SubtitleLabel a
{
    font-size: 14px;
    color: #5b6872;
    margin-top: -6px;
    font-weight: bold;
}


#WorkshopSubtitleLabel
{
	visibility: collapse;
}

.ShowWorkshopSubtitle #WorkshopSubtitleLabel
{
	visibility: visible;
}

.ShowWorkshopSubtitle #SubtitleLabel
{
	visibility: collapse;
}

.ViewButton
{
    vertical-align: center;
    margin-left: 10px;
    min-width: 32px;
    width: 64px;
    height: 16px;
    visibility: collapse;
}

.ShowingGuide .ViewButton
{
    //visibility: visible;
}

.ViewLabel
{
    font-size: 12px;
    text-transform: uppercase;
}

#GuideArea
{
	margin-top: 68px;
	width: 100%;
	flow-children: down;
}

#GuideTop
{
	width: 100%;
	height: 356px;
	flow-children: right;
}

#ItemBuild
{
	width: 50%;
	margin-right: 10px;
	overflow: clip scroll;
}

#GuideRightColumn
{
	width: 50%;
	flow-children: down;
	margin-right: 8px;
}

#SelectGuideButton
{
	width: 80px;
	height: 18px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #353c45 ), to( #4e5a63 ) );
    border: 1px solid;
    border-top-color: #555555;
    border-left-color: #494949;
    border-bottom-color: #333333;
    border-right-color: #404040;
    horizontal-align: right;
	margin-right: 12px;
    margin-bottom: 6px;
	visibility: collapse;
	vertical-align: bottom;
	z-index: 10;
}

#SelectedGuideLabel
{
	visibility: collapse;
	horizontal-align: right;
    vertical-align: bottom;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #c8e7e7;
    margin-right: 6px;
    margin-bottom: 6px;
}

.ShowingGuidesForSingleHero .IsCurrentGuide #SelectedGuideLabel
{
	visibility: visible;
}

#GuidesTab #SelectGuideButton
{

}

#SelectGuideButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #454c55 ), to( #5e6a73 ) );
}

#SelectGuideButton:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #252c35 ), to( #3e4a53 ) );
}

#SelectGuideButton Label
{
	color: #e1e2e2;
	text-align: center;
	width: 100%;
	vertical-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 0px;
    font-size: 12px;
    padding-top: 0px;
    text-shadow: 2px 2px 4px 1.0 #000000;
}

.ShowingGuidesForSingleHero .GuideListEntry:selected:not(.IsCurrentGuide) #SelectGuideButton
{
	visibility: visible;
}

// hide select button in dashboard
DOTAHeroPageNew .GuideListEntry:selected:not(.IsCurrentGuide) #SelectGuideButton
{
	visibility: collapse;
}

#AbilityBuild
{
	width: 100%;
	margin-left: 10px;
	margin-bottom: 8px;
	margin-top: 10px;
	flow-children: down;
}

#StatBranch
{
    visibility: collapse;
}

.HasAbilityBuild #StatBranch
{
    visibility: visible;
}

#TitleBottomContainer
{
	width: 100%;
}

//-------------------------

.GuideListEntry
{
	flow-children: none;
	width: 100%;
	height: 50px;

	transition-duration: 0.05s;
    transition-property: background-color;
}

.GuideListEntry:hover
{
	//background-color: #282d3388;
}
#SelectedBar
{
	opacity: 0.0;
	width: 4px;
	height: 100%;
	background-color: #c8e7e7;
	horizontal-align: left;
}

.ShowingGuidesForSingleHero .IsCurrentGuide #SelectedBar
{
	opacity: 1.0;
}

.GuideListEntry .RadioBox
{
	visibility: collapse;
}

.ShowingGuidesForSingleHero .GuideListEntry.IsCurrentGuide
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #424a4f00 ), to( #2a2d42ff ) );
}

#GuideEntryTitles
{
	horizontal-align: left;
	margin-left: 16px;

	width: 100%;
	height: 100%;
	padding-top: 7px;
}

#GuideEntryTitle
{
	color: #e5e5e5;
	font-size: 16px;
	height: 19px;
    width: 208px;
}


.GuideEntrySubtitleGroup
{
    flow-children: right;
    margin-top: 18px;
    width: 160px;
}

.GuideEntryUpdateTime
{
	color: #5b6872;
	font-size: 14px;
    margin-top: 1px;
	height: 16px;
    width: 75px;
}

.DefaultGuideEntry .GuideEntryUpdateTime
{
    visibility: collapse;
}

#GuideEntrySubtitle
{
	color: #5b6872;
	font-size: 14px;
	height: 16px;
}

.ShowingLocalPlayerGuides #GuideEntrySubtitle
{
    visibility: collapse;
}

.GuideListEntry .PersonaName,
#SubtitleLabel .PersonaName
{
	color: #5b6872;
	font-weight: bold;
	font-size: 14px;
}

#GuideEntryHeroIcon
{
    margin-top: 3px;
    margin-bottom: 3px;
    height: 100%;
    horizontal-align: right;
    margin-right: 10px;
}

#GuideEntryRightColumn
{
	height: 100%;
	width: 40px;
	flow-children: down;
	margin-right: 10px;
	horizontal-align: right;
}

.ShowingLocalPlayerGuides  #GuideEntryRightColumn
{
    visibility: collapse;
}

#GuideEntryRating
{
	color: #5b6872;
	font-size: 14px;
	width: 100%;
	margin-top: 9px;
	text-align: right;
}

#FavoriteIcon
{
	width: 16px;
	height: width-percentage( 100% );
	horizontal-align: right;

	background-image: url("s2r://panorama/images/control_icons/star_favorite_selected_psd.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	wash-color: #65b9f5;
	visibility: collapse;
}

.Favorite #FavoriteIcon
{
	visibility: visible;
}

.LocalGuidesTitle
{
    margin: 12px;
    font-size: 24px;
    horizontal-align: center;
    visibility: collapse;
}

.ShowingLocalPlayerGuides .LocalGuidesTitle
{
    visibility: visible;
}

#LanguageDropdown
{
    margin: 12px;
	border: 0px;
    background-color: #282d3377;
}

#LanguageDropdown:hover
{
	background-color: #3a404666;
}
                 
.ShowingLocalPlayerGuides #LanguageDropdown
{
    visibility: collapse;
}

DOTAGuideBrowser DropDown:focus Label, DOTAGuideBrowser DOTASettingsEnumDropDown:focus Label, DOTAGuideBrowser DropDown Label
{
    font-size: 14px;
    padding-top: 6px;
    color: #5b6872;
}

#RatingBlock
{
	width: 100%;
	flow-children: right;
	visibility: collapse;
    margin-right: 12px;
}

DOTAGuideBrowser DropDown, DOTASettingsEnumDropDown
{
    background-image: url("s2r://panorama/images/hud/reborn/arrow_dropdown_guides_psd.vtex");
    background-size: 26px 26px;
}

.ShowVoteAndFavorite #RatingBlock
{
	visibility: visible;
}

#RatingLabels
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
}

#FavoriteBlock
{
	width: 100%;
	flow-children: right;
	visibility: collapse;
    margin-right: 12px;
}

.ShowVoteAndFavorite #FavoriteBlock
{
	visibility: visible;
}

#SubscriberLabels
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
}

.ShowVoteAndFavorite #SubscriberLabels
{
	visibility: visible;
}

#FavoriteLabels
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
}

#VotingButtons
{
	flow-children: right;
}

#VoteUpButton
{
	flow-children: right;
	margin-left: 8px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 50% 50%;
}

#VoteDownButton
{
	flow-children: right;
	margin-left: 4px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 50% 50%;
}

.VoteIcon
{
	width: 28px;
	height: 28px;
	wash-color: #7595B5;
	margin-top: 2px;
	background-color: #00000066;
	border-radius: 3px;
	padding: 4px;

	transition-property: wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.VoteIconFlipped
{
	transform: scaleX(-1) scaleY(-1);
	margin-top: 2px;
	margin-bottom: 0px;
}

#VoteUpButton:hover .VoteIcon
{
	wash-color: #A4E84A;
}

.VotedYes #VoteUpButton .VoteIcon
{
	wash-color: #A4E84A;
}

#VoteDownButton:hover .VoteIcon
{
	wash-color: #cc4422;
}

.VotedNo #VoteDownButton .VoteIcon
{
	wash-color: #cc4422;
}


#VoteDownButton:active .VoteIcon, #VoteUpButton:active .VoteIcon
{
	background-color: #000000ff;
}

.GuideStat
{
	color: #e1e2e2;
	font-size: 24px;
	margin-bottom: -2px;
}

.GuideStatLabel
{
	color: #5b6872;
	font-size: 15px;
	margin-bottom: 10px;
}

ToggleButton#FavoriteStar
{
	width: 28px;
	height: 28px;
    padding: 0px 0px;
    background-image: url("s2r://panorama/images/control_icons/star_favorite_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    wash-color: #444444;
}

RadioButton:selected
{
    background-color: gradient( linear, 100% 0%, 0% 0%, from( #424a4f00 ), to( #373f4888 ) );
}



ToggleButton#FavoriteStar:hover
{
	wash-color: #4582ad;
}

ToggleButton#FavoriteStar:selected
{
	background-image: url("s2r://panorama/images/control_icons/star_favorite_selected_psd.vtex");
	wash-color: #65b9f5;
}

ToggleButton#FavoriteStar:selected:hover
{
	wash-color: #7ee6ff;
}

// hide parts of the toggle button we don't want
ToggleButton#FavoriteStar .TickBox { visibility: collapse; }
ToggleButton#FavoriteStar .Label { visibility: collapse; }

DropDownMenu
{
    width: 242px;
}