DOTARadarButton
{
	tooltip-position: left;
	visibility: collapse;
}

DOTARadarButton.ShowRadar
{
	visibility: visible;
}

#RadarIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_scan_on_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;

    transition-property: brightness;
    transition-duration: 0.25s;
}

.CoolingDown #RadarIcon
{
    background-image: url("s2r://panorama/images/hud/reborn/icon_scan_off_psd.vtex");
}

DOTARadarButton:hover #RadarIcon
{
	brightness: 1.7;
}

DOTARadarButton.CoolingDown:hover #RadarIcon
{
    brightness: 1.0;
}


DOTARadarButton:active #RadarIcon
{
    brightness: 1.0;
}

#CooldownCover
{
    width: 39px;
    height: 39px;
	background-color: #000000dd;
	background-size: 100% 100%;
    border-radius: 50%;
	visibility: collapse;
    horizontal-align: center;
    vertical-align: middle;
}

.CoolingDown #CooldownCover
{
	visibility: visible;
}