DOTARadarButton
{
	tooltip-position: top;
	visibility: collapse;
}

DOTARadarButton.ShowRadar
{
	visibility: visible;
}

#RadarIcon
{
	background-image: url("s2r://panorama/images/hud_radar_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.CoolingDown #RadarIcon
{
	saturation: 0;
}

DOTARadarButton:hover #RadarIcon
{
	brightness: 2.0;
}

DOTARadarButton:active #RadarIcon
{
	brightness: 0.5;
}

#CooldownCover
{
	width: 100%;
	height: 100%;
	background-color: #000000E6;
	background-size: 100% 100%;
	visibility: collapse;
}

.CoolingDown #CooldownCover
{
	visibility: visible;
}