DOTAShopItem
{
	opacity: 1;
}

DOTAShopItem.Hidden
{
	opacity: 0;
}

#ItemImage
{
	width: 100%;
	height: 100%;
	
}

#QuickBuyRows #ItemImage
{
	border-radius: 3px;
	box-shadow: fill#000000ff 0px 0px 2px 2px;
}

DOTAShopItem.CanPurchase:hover #ItemImage
{
	brightness: 1.6;
}

DOTAShopItem.CanPurchase:active #ItemImage
{
	brightness: 0.8;
}

DOTAHUDShop.EditMode DOTAHUDItemBuild DOTAShopItem.CollapsedShopItem
{
	visibility: collapse;
}

DOTAShopItem.DraggedShopItem #ItemImage,
DOTAShopItem.DraggedShopItem #CanPurchaseOverlay
{
	opacity: 0.3;
}

#CanPurchaseOverlay
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

#PopularOverlay
{
	width: 90%;
	height: 110%;
	visibility: collapse;
	margin-left: -8px;
	margin-top: -6px;
}

#PopularIcon
{
	width: 50%;
	height: 50%;
	background-image: url("s2r://panorama/images/icon_star_shadow_psd.vtex");
	background-size: 100%;
}

#StartingItemsInventory #ItemImage
{
    background-image: url("s2r://panorama/images/hud/reborn/inventory_item_well_psd.vtex");
}

.ShowingQueryUnit .CanPurchase #CanPurchaseOverlay,
.ShowingQueryUnit .CanPurchaseAtSecretShop #CanPurchaseOverlay
{
	visibility: collapse;
}

.CanPurchase #CanPurchaseOverlay
{
	border: 1px solid #CD9607;
  	border-radius: 3px;
  	visibility: visible;
}

.CanPurchaseAtSecretShop #CanPurchaseOverlay
{
	border: 1px solid #C80506;
  	border-radius: 3px;
  	visibility: visible;
}

#StartingItems .CanPurchase #CanPurchaseOverlay
{
	border: 1px solid #aa7d09;
}

.ShowPopular .Popular #PopularOverlay
{
  	visibility: visible;
}

.ShowPopular .Popular #CanPurchaseOverlay
{
	border: 2px solid #a7bde5;
  	border-radius: 3px;
  	visibility: visible;
}

#OwnedTick
{
	horizontal-align: right;
	vertical-align: top;
    margin-right: 1px;
	width: 13px;
	height: 13px;
	visibility: collapse;
}

.Purchased #OwnedTick
{
	visibility: visible;
	background-image: url("s2r://panorama/images/hud/reborn/owned_item_png.vtex");
	background-size: 100%;
}

#SecretShop
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 13px;
	height: 13px;
	visibility: collapse;
    margin-bottom: 2px;
    margin-right: 1px;
}

.SecretShopItem #SecretShop
{
	visibility: visible;
	background-image: url("s2r://panorama/images/hud/secret_psd.vtex");
	background-size: 100%;
}

#StockAmount
{
	visibility: collapse;
	horizontal-align: right;
	vertical-align: bottom;
	color: white;
	font-size: 15px;
	margin-bottom: -3px;
	margin-right: 2px;
	text-shadow: 1px 1px 0px 4 #000000FF;
}

.ShowStockAmount #StockAmount
{
	visibility: visible;
}

DOTAQuickBuy .ShowStockAmount #StockAmount
{
	visibility: collapse;
}

#OutOfStockOverlay
{
	width: 100%;
	height: 100%;
	background-color: #000000DD;
	visibility: collapse;
}

.OutOfStock #OutOfStockOverlay
{
	visibility: visible;
}
