DOTASpectateHeroSelection
{
	background-image: url("s2r://panorama/images/backgrounds/dashboard_background_psd.vtex");
	background-color: black; /* fallback for when the image isn't loaded yet */
	background-size: 100%;
	width: 100%;
	height: 100%;
	opacity: 1.0;
}

DOTASpectateHeroSelection.Hidden
{
	visibility: collapse;
}

#Header
{
	width: 100%;
	height: 92px;
	background-color: #00000099;
}

#Title
{
	margin-left: 258px;
	margin-top: 14px;
	flow-children: down;
}

#TournamentName
{
	color: white;
	font-size: 30px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}

#GameName
{
	font-size: 24px;
}

#GameMode
{
	font-size: 36px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	horizontal-align: right;
	margin-top: 40px;
	margin-right: 15px;
}

#AegisIcon
{
	background-image: url("s2r://panorama/images/hud_radar_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.RowCenter
{
}

// --------------------------------------------------
// Radiant

#Row0
{
	margin-bottom: 32px;
	vertical-align: bottom;
	flow-children: right;
	horizontal-align: center;
}

#BansContainer0
{
	flow-children: up;
	margin-right: 76px;
	width: 130px;
	margin-left: 50px;
	opacity: 0;
	vertical-align: top;
}

.SupportsBannedHeroes #BansContainer0
{
	opacity: 1.0;
}

#BansLabel0
{
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
	text-align: center;
	font-size: 23px;
	margin-top: 6px;
}

#BanList0
{
	width: 100%;
	flow-children: down;
}

#Phase0
{
	color: white;
	font-size: 30px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	vertical-align: bottom;
	margin-bottom: 40px;
}

#TeamName0
{
	horizontal-align: right;
	font-size: 50px;
	color: white;
	vertical-align: bottom;
	margin-right: 41px;
}

#HeroList0
{
	flow-children: right;
	margin-bottom: 94px;
	vertical-align: bottom;
}

#TeamMembersContainer0
{
	margin-left: 0px;
	vertical-align: bottom;
	width: 230px;
}

#TeamLogo0
{
	width: 116px;
	height: 70px;
	margin-top: 18px;
	vertical-align: bottom;
}

#TeamLogo0.Hidden
{
	visibility: collapse;
}

#TeamMemberList0
{
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 97px;
	vertical-align: bottom;
}

// --------------------------------------------------
// Dire

#Row1
{
	margin-top: 128px;
	flow-children: right;
	horizontal-align: center;
}

#BansContainer1
{
	flow-children: down;
	margin-right: 76px;
	margin-left: 50px;
	width: 130px;
	opacity: 0;
	vertical-align: bottom;
}

.SupportsBannedHeroes #BansContainer1
{
	opacity: 1.0;
}

#BansLabel1
{
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
	text-align: center;
	font-size: 23px;
	margin-bottom: 6px;
}

#BanList1
{
	width: 100%;
	flow-children: down;
}

#Phase1
{
	color: white;
	font-size: 30px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	margin-top: 40px;
}

#TeamName1
{
	horizontal-align: right;
	font-size: 50px;
	color: white;
	margin-right: 41px;
}

#HeroList1
{
	flow-children: right;
	margin-top: 94px;
}

#TeamMembersContainer1
{
	margin-left: 0px;
	width: 230px;
}

#TeamLogo1
{
	width: 116px;
	height: 70px;
	margin-bottom: 18px;
}

#TeamLogo1.Hidden
{
	visibility: collapse;
}

#TeamMemberList1
{
	margin-top: 97px;
	flow-children: down;
}

// --------------------------------------------------
// Timeline

#Timeline
{
	margin-top: 528px;
	horizontal-align: center;
	visibility: collapse;	// until implemented 
}

#ReserveTime
{
	vertical-align: center;
	text-transform: uppercase;
}

#Time0
{
	vertical-align: bottom;
	color: #00CC00;
	font-size: 20px;
}

#Time1
{
	vertical-align: top;
	color: #00FF00;
	font-size: 20px;
}

#AegisIcon
{
	width: 85px;
	height: 85px;
	horizontal-align: right;
	margin-right: 15px;
	margin-top: 5px;
	background-image: url("s2r://panorama/images/hud_radar_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

#BattleBegins
{
	width: 115px;
	text-align: center;
	horizontal-align: right;
	vertical-align: bottom;
}

// --------------------------------------------------
// Team Player snippet
.TeamPlayer
{
}

.TeamPlayer.Hidden
{
	visibility: collapse;
}

.TeamPlayer #UserName
{
	margin-left: 44px;
	vertical-align: center;
}

.TeamPlayer #Avatar
{
	width: 36px;
	height: 36px;
	margin-bottom: 4px;
}

.TeamPlayer #LeaderIcon
{
	width: 36px;
	height: 36px;
	visibility: collapse;
}

.TeamPlayer.IsLeader #LeaderIcon
{
	background-image: url("s2r://panorama/images/party_leader_overlay_png.vtex");
	background-repeat: no-repeat;
	overflow: noclip;
	visibility: visible;
}

// --------------------------------------------------
// Banned Hero snippet

.BannedHero
{
	width: 120px;
	height: 56px;
	margin-bottom: 2px;
	horizontal-align: center;
}

#BannedHeroImage
{
	width: 100%;
	height: 100%;
	visibility: visible;
	margin-right: 12px;
	margin-left: 12px;
	border: 1px solid #666666;
	background-color: black;
}

#CrossLine
{
	background-image: url("s2r://panorama/images/hero_selection/strikethrough_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 40%;
	vertical-align: center;
	visibility: collapse;
	transform: rotateZ( -26deg );
}

.BannedHero.ValidHero #CrossLine
{
	visibility: visible;
}

// --------------------------------------------------
// Hero snippet

.Hero
{
	flow-children: down;
	margin-right: 41px;
}

.HeroCardBackground
{
	width: 210px;
	height: 296px;
	background-color: black;
}

.Hero #PlayerName
{
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: 5px;
	text-overflow: shrink;
}

#HeroHeader
{
	width: 100%;
	height: 37px;
	background-color: #00000099;
	visibility: collapse;
}

#HeroName
{
	font-size: 19px;
	width: 100%;
	text-align: center;
	margin-top: 7px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	text-overflow: shrink;
}

#HeroFooter
{
	width: 100%;
	height: 61px;
	background-color: #000000EE;
	vertical-align: bottom;
	visibility: collapse;
}

#Abilities
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

#Abilities DOTAAbilityImage
{
	width: 26px;
	height: 26px;
	margin-left: 1px;
	margin-right: 1px;
}

#HeroImage
{
	width: 100%;
	height: 100%;
	z-index: -2;
}

.Hero.ValidHero #HeroHeader,
.Hero.ValidHero #HeroFooter
{
	visibility: visible;
}

// --------------------------------------------------
// Timeline segment snippet

.TimelineSegment
{
	width: 55px;
	height: 70px;
}

#PickBanLabel
{
	text-transform: uppercase;
}

#Block
{
	width: 100%;
	height: 5px;
	background-color: #999999;
}

// --------------------------------------------------
// Force compilation

.ForceCompilation
{
	background-image:  url("s2r://panorama/images/hero_selection/empty_hero_card_png.vtex");
}
	
// --------------------------------------------------
// VR scale
 
 ClientUIDialogPanel #Header
{
	height: 120px;
}

ClientUIDialogPanel #Title
{
	margin-top: 7px;
}

ClientUIDialogPanel #TournamentName
{
	font-size: 45px;
}

ClientUIDialogPanel #GameName
{
	font-size: 45px;
}

ClientUIDialogPanel #GameMode
{
	font-size: 50px;
	margin-top: 30px;
	margin-right: 20px;
}

ClientUIDialogPanel #UserName Label
{
	font-size: 30px;
	height: 30px;
}

ClientUIDialogPanel .Hero
{
	margin-right: 8px;
}

ClientUIDialogPanel .HeroCardBackground
{
	width: 240px;
	height: 338px;
}

ClientUIDialogPanel #HeroHeader
{
	height: fit-children;
	padding-bottom: 5px;
}

ClientUIDialogPanel #HeroName
{
	font-size: 35px;
	width: 100%;
	margin-top: 3px;
}

ClientUIDialogPanel #HeroList1
{
	margin-top: 55px;
}

ClientUIDialogPanel #TeamName1
{
	font-size: 40px;
}

ClientUIDialogPanel #HeroList0
{
	margin-bottom: 55px;
}

ClientUIDialogPanel #TeamName0
{
	font-size: 40px;
}

ClientUIDialogPanel .Hero #PlayerName
{
	font-size: 30px;
	height: 40px;
}