DOTATIOnstageFlags
{
	width: 100%;
	height: 100%;
	flow-children: down;

	visibility: collapse;
}

DOTATIOnstageFlags.FlagsVisible
{
	visibility: visible;
}

.FlagMovie
{
	width: 100%;
	height: 50%;
}