DOTANetGraph
{
	flow-children: right;
	visibility: collapse;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #25282a00 ), color-stop( .6, #25282acc), color-stop( .8, #25282a88), to( #00000022 ) );
	padding-top: 3px;
	padding-bottom: 2px;
}

DOTANetGraph.Visible
{
	visibility: visible;
}

.IsLocalPlayerSpectating DOTANetGraph.Visible
{
	visibility: collapse;
}

DOTANetGraph Label
{
	text-shadow: 1px 1px 2px 2 #000000;
}

#LeftColumn
{
	flow-children: down;
	width: 140px;
    overflow: noclip;
	padding-top: 1px;
}

#RightColumn_1, #RightColumn_2
{
	padding-top: 1px;
	flow-children: down;
	width: 35px;
    overflow: noclip;
}

#RightColumn_1 Label, #RightColumn_2 Label
{
    color: #C5DAFF;
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	horizontal-align: right;

    font-family: RadianceM;
	margin-left: 6px;
	margin-right: 6px;
}

#LeftColumn Label
{
	color: #C5DAFF;
	font-weight: thin;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: right;
	horizontal-align: right;
	margin-right: 6px; 
}

.AspectRatio4x3 #LeftColumn
{
    margin-top: -36px;
    margin-right: -150px;
}

.AspectRatio4x3 #RightColumn_1
{
    margin-top: -36px;
    margin-left: 120px;
    margin-right: -36px;
}

.AspectRatio4x3 #RightColumn_2
{
    margin-top: -36px;
    margin-left: 160px;
    margin-right: -36px;
}