DOTAUITeamShowcaseHeroLabel
{
	width: 100%;
	padding: 10px;
	flow-children: down;
	background-color: #101010FF;
}

DOTAUITeamShowcaseHeroLabel.BattleCupVictory
{
} 


DOTAUITeamShowcaseHeroLabel.Enemy
{
} 


#TitleBar
{
	flow-children: right;
}

#ProfileBadge
{
	width: 64px;
	height: 64px;
	margin-right: 5px;
}

#EventCrest
{
	width: 32px;
	height: 32px;
	visibility: collapse;
	vertical-align: center;
}

.EventActive #EventCrest
{
	visibility: visible;
}

#PlayerName
{
	color: white;
	font-size: 23px;
	vertical-align: center;
}

#HeroName
{
	color: white;
	font-size: 20px;
	horizontal-align: center;
}
