DOTAUIHeroPatchNotes
{
	flow-children: down;
}

.VersionedNoteContainer
{
	flow-children: right;
}

.Dot
{
	width: 8px;
	height: 8px;
	vertical-align: top;
	margin: 6px 4px 4px 0px;
	border-radius: 50%;
	background-color: grey;
}


.NoDot .Dot
{
	background-color: #00000000;
}

.Indent1:not(.NoDot) .Dot
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 10% 10%, from( #000000 ), to( #000000 ) );
	border: 1px solid #aaa;
}

.Indent2:not(.NoDot) .Dot
{
	border-radius: 1px;
}

.Indent3:not(.NoDot) .Dot
{
	border-radius: 1px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 10% 10%, from( #000000 ), to( #000000 ) );
	border: 1px solid #aaa;
}

.Indent4:not(.NoDot) .Dot
{
	border-radius: 50%;
	width: 4px;
	height: 4px;
	margin: 8px 8px 6px 2px;
}

.NoIndent .Indent
{
	width: 0px;
}

.Indent1 .Indent
{
	width: 14px;
}

.Indent2 .Indent
{
	width: 28px;
}

.Indent3 .Indent
{
	width: 42px;
}

.Indent4 .Indent
{
	width: 56px;
}

.NoteLine
{
	max-width: 744px;
	overflow: squish scroll;
	color: #aaa;
}

.NoteLine.Info
{
	visibility: collapse;
}

.HasInfo .NoteLine.Info
{
	visibility: visible;
}

.HasInfo .NoteLine.NoInfo
{
	visibility: collapse;
}

.Indent1 .NoteLine
{
	max-width: 730px;
}

.Indent2 .NoteLine
{
	max-width: 716px;
}

.Indent3 .NoteLine
{
	max-width: 702px;
}

.Indent4 .NoteLine
{
	max-width: 688px;
}

.Version
{
	margin-left: 4px;
	color: grey;
}

#NotesContainer
{
	flow-children: down;
}

.NotesContents
{
	flow-children: down;
	margin-left: 8px;
}

#HeroImage
{
    width: 64px;
    height: width-percentage( 100% );
    border: 1px solid black;

    transition-property: border, saturation, opacity;
    transition-duration: 0.2s;
}

.AbilityNotes
{
	flow-children: right;
	margin-bottom: 8px;
}

#AbilityImage
{
	width: 64px;
	height: 64px;
}

.AbilityName
{
	color: #ccc;
	text-transform: uppercase;
}

#AbilityNotesContainer
{
	flow-children: down;
}

.HeroNotes
{
	flow-children: down;
	margin-bottom: 32px;
}

.HeroNotesTop
{
	flow-children: right;
	margin-bottom: 8px;
	visibility: collapse;
}

.HasHeroNotes .HeroNotesTop
{
	visibility: visible;
}

#HeroNotesContainer
{
	flow-children: down;
}

#AbilityNotesContainer
{
	flow-children: down;
}

.TalentNotes
{
	flow-children: right;

	visibility: collapse;
}

.HasTalentNotes .TalentNotes
{
	visibility: visible;
}

#TalentNotesContainer
{
	flow-children: down;
}

.TalentsName
{
	color: #ccc;
	text-transform: uppercase;
}

.TalentTreeImage
{
	width: 64px;
	height: 64px;

	background-image: url("s2r://panorama/images/spellicons/statbranch_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #aaa;
}

#TalentNotesContainer
{
	flow-children: down;
}