@define radiantColor: #440b0b;
@define direColor: #054405;


DOTASpectateHeroSelection
{
	background-image: url("s2r://panorama/images/backgrounds/dashboard_background_psd.vtex");
	//background-color: black; /* fallback for when the image isn't loaded yet */
	background-size: 100%;
	width: 100%;
	height: 100%;
	opacity: 1.0;
}

DOTASpectateHeroSelection.Hidden
{
	visibility: collapse;
}

#Header
{
	width: 100%;
	height: 92px;
}

#PhaseStatus
{
	width: 100%;
	height: 92px;
	margin-top: -14px;
	flow-children: right;
	horizontal-align: center;
	visibility: collapse;
}

.DOTA_GAMEMODE_ALL_DRAFT #PhaseStatus
{
	visibility: visible;
}

#DashboardButton:hover,
#SettingsButton:hover
{
	wash-color: #9999AA;
}

#SettingsButton
{
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/gear_png.vtex");
	background-size: 27px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: top;
	wash-color: #444A55;
	margin-left: 62px;
	margin-top: 13px;

	transition-property: opacity;
	transition-duration: 0.2s;
}

#SettingsButton.Activated
{
	animation-name: SettingsButtonAnimation;
	animation-duration: 0.50s;
	animation-delay: 0.15s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

#DashboardButton
{
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/return_to_game_png.vtex");
	background-size: contain;
	transform: scaleY(-1);
	vertical-align: top;
	wash-color: #444A55;
	margin-left: 14px;
	margin-top: 12px;

	transition-property: opacity;
	transition-duration: 0.2s;
}

#Title
{
	margin-left: 258px;
	margin-top: 14px;
	flow-children: right;
}

#TournamentLogo
{
	width: 150px;
	height: 60px;
	margin-right: 10px;
	visibility: collapse;
}

.HasLeagueID #TournamentLogo
{
	visibility: visible;
}


#TournamentName
{
	color: white;
	font-size: 30px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
}

#GameName
{
	font-size: 24px;
}

#GameMode
{
	font-size: 36px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	horizontal-align: right;
	margin-top: 40px;
	margin-right: 15px;
}

.RowCenter
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 32px;
}


// --------------------------------------------------
// Radiant

#Row0
{
	vertical-align: bottom;
	flow-children: none;
	horizontal-align: center;
	height: 540px;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000ee ) );
	background-color: black;
}

#BansContainer0
{
	flow-children: up;
	margin-right: 76px;
	width: 130px;
	margin-left: 64px;
	opacity: 0;
	vertical-align: middle;
	margin-top: 464px;
	z-index: 2;
}

.SupportsBannedHeroes #BansContainer0
{
	opacity: 1.0;
}

.DOTA_GAMEMODE_ALL_DRAFT #BansContainer0
{
	vertical-align: middle;
}


#BansLabel0
{
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
	text-align: center;
	font-size: 23px;
	margin-top: 6px;
}

#BanList0
{
	width: 100%;
	flow-children: down;
}

#Phase0
{
	color: white;
	font-size: 30px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	vertical-align: bottom;
	margin-bottom: 40px;
}

#TeamName0
{
	horizontal-align: right;
	font-size: 50px;
	color: white;
	vertical-align: bottom;
	margin-right: 41px;
}

#HeroList0
{
	flow-children: right;
	vertical-align: bottom;
	//visibility: collapse;
}

#TeamMembersContainer0
{
	horizontal-align: right;
	margin-right: 64px;
	margin-top: 64px;
	vertical-align: top;
	width: 230px;
}

#TeamLogo0
{
	width: 116px;
	height: 70px;
	margin-top: 18px;
	vertical-align: bottom;
}

#TeamLogo0.Hidden
{
	visibility: collapse;
}

#TeamMemberList0
{
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 122px;
	vertical-align: bottom;
}

// --------------------------------------------------
// Dire

#Row1
{
	height: 540px;
	flow-children: none;
	horizontal-align: center;
	width: 100%;
	//border: 1px solid red;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000ee ) );
	background-color: black;
}

#BansContainer1
{
	flow-children: down;
	margin-left: 64px;
	width: 130px;
	opacity: 0;
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 64px;
	z-index: 2;
}

.SupportsBannedHeroes #BansContainer1
{
	opacity: 1.0;
}

.DOTA_GAMEMODE_ALL_DRAFT #BansContainer1
{
	visibility: collapse;
}


#BansLabel1
{
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
	text-align: center;
	font-size: 23px;
	margin-bottom: 6px;
}

#BanList1
{
	width: 100%;
	flow-children: down;
}

.DOTA_GAMEMODE_CD #BannedHero0_3,
.DOTA_GAMEMODE_CD #BannedHero0_4,
.DOTA_GAMEMODE_CD #BannedHero1_3,
.DOTA_GAMEMODE_CD #BannedHero1_4
{
	visibility: collapse;
}

#Phase1
{
	color: white;
	font-size: 30px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	margin-top: 40px;
}

#PhaseTimer
{
	color: white;
	font-size: 50px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	margin-top: 40px;
	horizontal-align: center;
}

#TeamName1
{
	horizontal-align: right;
	font-size: 50px;
	color: white;
	margin-right: 41px;
}

#HeroList1
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
}

#TeamMembersContainer1
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 64px;
	margin-right: 64px;
	width: 230px;
}

#TeamLogo1
{
	width: 116px;
	height: 70px;
	margin-bottom: 18px;
}

#TeamLogo1.Hidden
{
	visibility: collapse;
}

#TeamMemberList1
{
	margin-top: 97px;
	flow-children: down;
}

#HeroPickTimeline
{
	vertical-align: middle;
	horizontal-align: center;
	background-color: black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( .4, #000000ee ), color-stop( .5, #000000ff ), color-stop( .6, #000000ee ),  to( #00000000 ) );
	width: 100%;
	height: 96px;
}

.BanPickComplete #HeroPickTimeline
{
	visibility: collapse;
}

#HeroPool
{
	horizontal-align: center;
	vertical-align: center;
	margin-right: 1320px;
	margin-top: 69px;
	visibility: collapse;
}

.DOTA_GAMEMODE_CD #HeroPool
{
	visibility: visible;
}

// --------------------------------------------------
// Team Player snippet
.TeamPlayer
{
	margin-bottom: 4px;
}

.TeamPlayer.Hidden
{
	visibility: collapse;
}

.TeamPlayer #UserName
{
	margin-left: 44px;
	vertical-align: center;
}

.TeamPlayer #UserName Label
{
	font-size: 18px;
	letter-spacing: -1px;
	font-weight: thin;
	transform-origin: 0px 0px;
}


.TeamPlayer #Avatar
{
	width: 36px;
	height: 36px;
	margin-bottom: 4px;
	visibility: collapse;
}

.TeamPlayer #LeaderIcon
{
	width: 36px;
	height: 36px;
	visibility: collapse;
}

.TeamPlayer.IsLeader #LeaderIcon
{
	background-image: url("s2r://panorama/images/party_leader_overlay_png.vtex");
	background-repeat: no-repeat;
	overflow: noclip;
	visibility: visible;
}

// --------------------------------------------------
// Banned Hero snippet

.BannedHero
{
	width: 100px;
	height: 47px;
	margin-bottom: 12px;
	horizontal-align: center;
}


.BeingBanned #BannedHeroImage
{
	box-shadow: #FFFFFF -3px -3px 6px 6px;
}

#BannedHeroImage
{
	width: 100%;
	height: 100%;
	visibility: visible;
	margin-right: 12px;
	margin-left: 12px;
	saturation: .34;
	wash-color: #a44d;
	background-color: black;
	border-radius: 6px;
	border: 2px solid #000;
	
}

#CrossLine
{
	background-image: url("s2r://panorama/images/hero_selection/strikethrough_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 40%;
	vertical-align: center;
	visibility: collapse;
	transform: rotateZ( -26deg );
	brightness: 2;
}

.BannedHero.ValidHero #CrossLine
{
	visibility: visible;
}

// --------------------------------------------------
// Hero snippet

.Hero
{
	flow-children: down;
}

.HeroCardBackground
{
	width: 264px;
	//border: 1px solid red;
	height: 450px;
}

#HeroCard1_0
{
	horizontal-align: center;
}




.RadiantTeam .HeroCardBackground
{
	//background-color: #8001;
	
}

.DireTeam .HeroCardBackground
{
	background-color: none;
}


.BeingPicked .HeroCardBackground
{
	//box-shadow: #ffffff -3px -3px 6px 6px;
}

.Hero #AsLabel,
.Hero #PlayerName
{
	font-size: 22px;
	width: 100%;
	text-align: center;
	margin-top: 5px;
	text-overflow: shrink;
	vertical-align: bottom;
	margin-bottom: 74px;
	color: white;
	font-weight: bold;
}

.Hero #AsLabel
{
	margin-bottom: 58px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: thin;
	color: #B1ADAC;
	letter-spacing: 3px;
	
}


#HeroHeader
{
	width: fit-children;
	height: 37px;
	vertical-align: top;
	horizontal-align: center;
	margin-bottom: 24px;
	visibility: collapse;
	vertical-align:bottom;
}

#Row0 #HeroHeader
{
	
}

#HeroNameBrush
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/brush_horizontal_psd.vtex")1;
	background-color: #600d;	
}

#Row0 #HeroNameBrush
{
	background-color: #086d;	
}


#HeroName
{
	font-size: 22px;
	height: 142px;
	text-align: left;
	margin-top: 7px;
	margin-left: 18px;
	margin-right: 24px;
/*	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;*/
	text-overflow: shrink;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1px;
	horizontal-align: left;
	text-shadow: 0px 1px 2px 3.0 #000;
	
	
}

#HeroStrAgiIntIcon
{
	width: 28px;
	height: 28px;
	horizontal-align: right;
	margin-right: 4px;
	margin-bottom: 18px;
	background-size: cover;
	vertical-align: center;
	background-color: black;
	border-radius: 50%;
	z-index: 5;
	visibility: collapse;
}

.PrimaryAttributeAgility #HeroStrAgiIntIcon {background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex");}
.PrimaryAttributeStrength #HeroStrAgiIntIcon {background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");}
.PrimaryAttributeIntellect #HeroStrAgiIntIcon {background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex");}

#HeroFooter
{
	width: 100%;
	height: 52px;
	vertical-align: bottom;
	horizontal-align: center;
	visibility: collapse;
	margin-bottom: 64px;
	opacity: 0;
	
	pre-transform-scale2d: .5;
	transform: translateY(52px);
	
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-duration: .28s;
	transition-timing-function: ease-in-out;
}

#Abilities
{
	background-color: #000a;
	border-radius: 12px;
	padding: 3px;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
	width: 100%;
}

.Hero:hover #HeroFooter
{
	opacity: 1;
	pre-transform-scale2d: 1;
	transform: translateY(0px);
}


#Abilities > DOTAAbilityImage
{
	width: fill-parent-flow( 1.0 );
	height: width-percentage( 100% );
	background-size: 100% 100%;
	background-position: 0px 0px;
	vertical-align: middle;
	border-radius: 4px;

	margin-left: 6px;
	margin-right: 6px;
}

#Abilities > .StatBranch
{
	width: fill-parent-flow( 1.0 );
	height: width-percentage( 100% );
	background-size: 95% 95%;
	background-position: 50% 50%;

	margin-left: 1px;
	margin-right: 1px;
	border: 0px solid transparent;
	wash-color: #6F819B;
	
	//border-radius: 50%;
	box-shadow: none;	
	
	visibility: collapse;	
}

#Abilities > DOTAAbilityImage,
#Abilities > .StatBranch
{
	box-shadow: #0000008f -3px -3px 6px 6px;
	border: 2px solid black;
}

.Hero.ValidHero #HeroHeader,
.Hero.ValidHero #HeroFooter
{
	visibility: visible;
}

// --------------------------------------------------
// Force compilation

.ForceCompilation
{
	background-image:  url("s2r://panorama/images/hero_selection/empty_hero_card_png.vtex");
}
	
// --------------------------------------------------
// VR scale
 
 ClientUIDialogPanel #Header
{
	height: 120px;
}

ClientUIDialogPanel #Title
{
	margin-top: 7px;
}

ClientUIDialogPanel #TournamentName
{
	font-size: 45px;
}

ClientUIDialogPanel #GameName
{
	font-size: 45px;
}

ClientUIDialogPanel #GameMode
{
	font-size: 50px;
	margin-top: 30px;
	margin-right: 20px;
}

ClientUIDialogPanel #UserName Label
{
	font-size: 30px;
	height: 30px;
}

ClientUIDialogPanel .Hero
{
	margin-right: 8px;
}

ClientUIDialogPanel .HeroCardBackground
{
	width: 240px;
	height: 338px;
}

ClientUIDialogPanel #HeroHeader
{
	height: fit-children;
	padding-bottom: 5px;
}

ClientUIDialogPanel #HeroName
{
	font-size: 35px;
	width: 100%;
	margin-top: 3px;
}

ClientUIDialogPanel #HeroList1
{
	margin-top: 55px;
}

ClientUIDialogPanel #TeamName1
{
	font-size: 40px;
}

ClientUIDialogPanel #HeroList0
{
	margin-bottom: 55px;
}

ClientUIDialogPanel #TeamName0
{
	font-size: 40px;
}

ClientUIDialogPanel .Hero #PlayerName
{
	font-size: 30px;
	height: 40px;
}

#DireScene,
#RadiantScene
{
	width: 1920px;
	height: 600px;
	vertical-align: middle;
	z-index: -10;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex")1;
}



.DevCameraShift
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-left: 800px;
	z-index: 100;
	margin-top: 84px;
	margin-bottom: 0px;
	opacity: .4;
}

#Row1 .DevCameraShift
{
	vertical-align: top;
	margin-bottom: 84px;
	margin-top: 0px;
	
}

.DevCameraCycle
{
	width: 32px;
	height: 32px;
	text-align: center;
	padding-top: 4px;
	margin: 3px;
	background-color: #000;
	padding-left: 11px;
}

.DevCameraCycle:hover
{
	background-color: #343;
}


.HeroFocusVignetteContainer
{
	width: 100%;
	height: 100%;
	
	transition-property: opacity;
	transition-duration: 0.8s;
	opacity: 1;
	transition-timing-function: ease-in-out;
}

.ViewAll #HeroFocus
{
	opacity: 0.4;
}


.HeroVignette
{
	width: 620px;
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/herofocus_vignette_psd.vtex"); 
	background-size: 100%;
	background-position: 50%;
	opacity: .9;
	transition-property: width;
	transition-duration: 1.2s;
	transition-delay: 0.6s;
	transition-timing-function: ease-in-out;
}

.ViewAll .HeroVignette
{
	width: 1920px;
	transition-delay: 0s;
	
}


.HeroList	
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.6s;
}

.ViewAll .HeroList	
{
	opacity: 1;
}
		
.OutsideDark
{
	height: 100%;
	width: fill-parent-flow (1);
	background-color: #000000e5;
}
