
DOTAEconItemContextUIHeader
{
	width: 100%;
	flow-children: down;
}

.Empty
{
    visibility: collapse;
}

#HeaderTitle
{
	background-color: gradient( linear, 0% 0%, 100% 50%, from( #2b2e2fee ), to( #2b2e2f ) );
	width: 100%;
	height: 77px;
	border-top: 1px solid #ffffff05;
	flow-children: down;
}

#Name 
{
    font-size: 26px;
    margin-top: 10px;
	margin-left: 16px;
    color: white;
    //text-shadow: 2px 2px 2px 2 black;
}

#Set
{
    font-size: 16px;
	margin-left: 16px;
	margin-top: 0px;
}

#RarityStripe
{
	background-color: gradient( linear, 0% 0%, 100% 50%, from( #2b2e2faa ), color-stop( 0.1, #00ff0002 ), to( #2b2e2f ) );
    height: 7px;
    width: 100%;
	border-top: 1px solid #000000aa;
	border-bottom: 1px solid #000000aa;

}

#Rarity
{ 
	font-size: 18px;
}

#Banner
{
    flow-children: right;
	background-color: gradient( linear, 0% 0%, 80% 50%, from( #191a1cf4 ), to( #191a1c ) );
	border-bottom: 1px solid black;
	width: 100%;
	min-height: 57px;
}


#BannerText
{
	margin-left: 16px;
	margin-top: 6px;
    flow-children: down;
}

.SeasonalIcon
{
	width: height-percentage( 100% );
    height: 100%;
    background-image: url("s2r://panorama/images/control_icons/battlepass_logo_png.vtex");
 	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    visibility: collapse;
    wash-color: #e54e42;
	
	/* Fall 2016 */
	wash-color: #8ac267;
	
	/* Winter 2017 */
	wash-color: #59bfff;
}

DOTAEconItemContextUIHeader.Seasonal .SeasonalIcon
{
	/* Turned off for Frostivus Seasonal Map */
    visibility: collapse;
}

DOTAEconItemContextUIHeader.Seasonal.Season_PlusSubscription .SeasonalIcon
{
	visibility: visible;
    background-image: url("s2r://panorama/images/dotaplus_logo_png.vtex");
	wash-color: white;
}


#HeroIcon
{
    width: 101px;
    height: 57px;
}



.QualityColor0 { color: #B2B2B2; } /* normal */
.QualityColor1 { color: #4D7455; } /* genuine */
.QualityColor2 { color: #476291; } /* vintage */
.QualityColor3 { color: #8650AC; } /* unusual */
.QualityColor4 { color: #D2D2D2; } /* unique */
.QualityColor5 { color: #70B04A; } /* community */
.QualityColor6 { color: #A50F79; } /* developer */
.QualityColor7 { color: #70B04A; } /* selfmade */
.QualityColor8 { color: #00FF00; } /* customized */
.QualityColor9 { color: #CF6A32; } /* strange */
.QualityColor10 { color: #8650AC; } /* completed */
.QualityColor11 { color: #8650AC; } /* haunted */
.QualityColor12 { color: #8650AC; } /* tournament */
.QualityColor13 { color: #FFFF00; } /* favored */
.QualityColor14 { color: #EB4B4B; } /* ascendant */
.QualityColor15 { color: #ADE55C; } /* autographed */
.QualityColor16 { color: #FFFFFF; } /* legacy */
.QualityColor17 { color: #CCCCCC; } /* exalted */
.QualityColor18 { color: #4682B4; } /* frozen */
.QualityColor19 { color: #A52A2A; } /* corrupted */
.QualityColor20 { color: #32CD32; } /* lucky */
.QualityColor21 { color: #8847ff; } /* infused */
