/* DOTAEmoticonPicker styles */

DOTAEmoticonPicker
{
    background-color: #222222f5;
    padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid #333333;
}

#EmoticonDisplay
{
    flow-children:down;
}

#EmoticonsContainer
{
    flow-children: right-wrap;
    padding-right: 10px;
    max-width: 250px;
    max-height: 200px;
    overflow: clip scroll;
}

VerticalScrollBar
{
	width: 6px;
	background-color: none;
	box-shadow: none;
}

VerticalScrollBar
{
	width: 6px;
}

#EmoticonAlias
{
	width: 242px;
	font-size: 22px;
    text-align: center;
    horizontal-align: left;
    margin-top: 4px;
	background-color: black;
	border-radius: 8px;
}

#UpsellDisplay
{
    flow-children: down;
    visibility: collapse;
}

#EmoticonsContainer DOTAEmoticon
{
    margin: 4px;

    transition-property: pre-transform-scale2d;
    transition-duration: 0.2s;
}

#EmoticonsContainer DOTAEmoticon:hover
{
    pre-transform-scale2d: 1.2;
}

#EmoticonUpsellImage
{
    horizontal-align: center;
    margin-top: 10px;
}

#EmoticonUpsellText
{
    max-width: 250px;
    padding: 5px;
    margin-top: 4px;
    text-align: center;
    font-size: 16px;
}

DOTAEmoticonPicker.UpsellVisible #UpsellDisplay
{
    visibility: visible;
}

DOTAEmoticonPicker.UpsellVisible #EmoticonDisplay
{
    visibility: collapse;
}


