
DOTAEventLevelShield
{
	height: 80px;
	width: 67px;
}

#ShieldBackground
{
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#LevelNumber
{
	margin-right: 1px;
	width: 40px;
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	font-size: 32px;
	font-weight: bold;
	text-overflow: shrink;
	text-shadow: 0px 1px 2px 2.0 black;
	color: white;
}


DOTAEventLevelShield.Season_International2019.EventTierNone #ShieldBackground { background-image: url("s2r://panorama/images/compendium/international2019/basic_shield_icon_psd.vtex"); }
DOTAEventLevelShield.Season_International2019.EventTierBronze #ShieldBackground { background-image: url("s2r://panorama/images/compendium/international2019/basic_shield_icon_psd.vtex"); }
DOTAEventLevelShield.Season_International2019.EventTierSilver #ShieldBackground { background-image: url("s2r://panorama/images/compendium/international2019/silver_shield_icon_psd.vtex"); }
DOTAEventLevelShield.Season_International2019.EventTierGold #ShieldBackground { background-image: url("s2r://panorama/images/compendium/international2019/gold_shield_icon_psd.vtex"); }
DOTAEventLevelShield.Season_International2019.EventTierPlatinum #ShieldBackground { background-image: url("s2r://panorama/images/compendium/international2019/max_shield_icon_psd.vtex"); }

DOTAEventLevelShield.Season_International2019.EventTierNone #LevelNumber { color: #fff; }
DOTAEventLevelShield.Season_International2019.EventTierBronze #LevelNumber { color: #fff;  }
DOTAEventLevelShield.Season_International2019.EventTierSilver #LevelNumber { color: #ffffff; }
DOTAEventLevelShield.Season_International2019.EventTierGold #LevelNumber { color: #fff3d1; }
DOTAEventLevelShield.Season_International2019.EventTierPlatinum #LevelNumber { color: #ffffff; 	text-shadow: 0px 0px 6px ultraDarkColor; }
