
DOTAEventGoal
{
	flow-children: down;

	//background-color: #0006;
	padding: 7px;
	//border: 1px solid #333;

	tooltip-position: bottom;
	tooltip-body-position: 50% 0%;
}

DOTAEventGoal:hover
{
	background-color: #07143555;
}


DOTAEventGoal:hover #TitleText
{
	color: white;
	

}

#TitleText
{
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	horizontal-align: center;
	color: #6B8DAD;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;	
}

#ProgressBar
{
	box-shadow: inset black 2px 2px 4px 4px;
    background-color: #1C5FBC22;
    border: 1px solid #4E81C4;
    height: 12px;
    width: 100%;
	min-width: 1220px;
    horizontal-align: left;
    vertical-align: bottom;
}

#ProgressBar .ProgressBarLeft
{
	background-color: #66AADD;
	border-radius: 3px;
}

#FooterRow
{
	width: 100%;
}

#Loading
{
	flow-children: right;
	horizontal-align: center;

	visibility: collapse;
}

.LoadingData #Loading
{
	visibility: visible;
}

#LoadingText
{
	vertical-align: middle;
	margin-left: 6px;
	margin-top: 3px;
	color: #4F5760;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

DOTAEventGoal .Spinner
{
	width: 12px;
	height: 12px;
	margin-top: 4px;
	wash-color: #4A515A;
}

#CampaignQuestEventGoal #ProgressText
{
	horizontal-align: right;
	margin-top: 0px;
	font-size: 16px;
	color: #7498B4;
}

#CampaignQuestEventGoal #TitleText
{
	font-size: 18px;
	color: #88B2D5;
}


#ProgressText
{
	horizontal-align: left;
	visibility: collapse;
	color: #4F5760;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 4px;
	margin-left: 4px;
}
.HasData #ProgressText
{
	visibility: visible;
}
