DOTAFeedTimestamp
{
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
}

.FeedItem 
{
	min-height: 62px;
	width: 100%;
	transition-property: background-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	background-color: gradient( radial, 50% 15%, 0% 15%, 75% 55%, from( #48575e00 ), to( #00000000 ) );
	background-color: #48575e00;
}

.FeedItem #CommentsPanel
{
	visibility: collapse;
}

.FeedItem.Focused #CommentsPanel
{
	visibility: visible;
}

.FeedItem #CommentsPanel .Loading
{
	width: 100%;
	text-align: center;
}

.FeedItemInner
{
	margin-left: 16px;
	margin-right: 22px;
	margin-top: 6px;
	width: 100%;
	flow-children: right;
	border-bottom: 1px solid #595B5E55;
}

.FeedItemInner Panel.TopBottomFlow
{
	width: 100%;
}

.FeedItem:hover
{
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in;
	background-color: gradient( radial, 50% 15%, 0% 15%, 75% 55%, from( #48575e88 ), to( #00000000 ) );
	background-color: #48575e28;
}

.FeedItem.Focused
{
	background-color: #48575e16;
}

.FeedItem .LeftImage
{
	margin-top: 6px;
	margin-right: 10px;
	width: 36px;
	height: 36px;
	box-shadow: inset #000000dd 0.5px 0.5px 2px 1px;
}

.FeedItem DOTAHeroImage.LeftImage
{
	saturation: 0.7;
}

.FeedItem .LeftImage.Empty
{
	box-shadow: none;
}

#SocialFeed
{
	overflow: clip scroll;
}

.SocialFeed .FeedItem .LeftImage
{
	width: 64px;
	height: 64px;
	box-shadow: inset #000000dd 1px 1px 2px 2px;
}

.FeedItem Label.FeedContent
{
	color: baseText;
	font-size: 16px;
	width: 256px;
	min-height: 38px;
	margin-top: 6px;
}

.SocialFeed .FeedItem Label.FeedContent
{
	color: #808080;
}

.SocialFeed .FeedItem Label.FeedContent
{
	min-height: 51px;
}

.SocialFeed .FeedItem Label.FeedContent
{
	font-size: 17px;
	width: 450px;
}

.FeedItem b
{
	font-weight: normal;
}

.FeedItem b.FeedUserName
{
	color: #dddddd;
}

.FeedItem b.FeedHeroName
{
	color: #dddddd;
}

.FeedItem b.FeedTrophyName
{
	color: #dddddd;
}

.FeedItem b.FeedTeamName
{
	color: #dddddd;
}

.FeedItem b.FeedMessage
{
	color: #c9c9c9;
}

.SocialFeed .FeedItem b.FeedUserName
{
	color: #b3b3b3;
}

.SocialFeed .FeedItem b.FeedHeroName
{
	color: #b3b3b3;
}

.SocialFeed .FeedItem b.FeedTrophyName
{
	color: #b3b3b3;
}

.SocialFeed .FeedItem b.FeedTeamName
{
	color: #b3b3b3;
}

.SocialFeed .FeedItem b.FeedMessage
{
	color: #b3b3b3;
}

.FeedItem DOTAHeroImage
{
	width: 20px;
	height: width-percentage( 56.25% );
	margin: 3px 3px -3px 2px;
}

.FeedItem DOTATrophyImage
{
	width: 20px;
	height: width-percentage( 56.25% );
	margin: 3px 3px -3px 2px;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d66 ), to( #3c3c3c88 ) );
}

.SocialFeed .FeedItem DOTATrophyImage.LeftImage
{
	box-shadow: none;
}

.FeedItem Panel.FeedTimestampIcon
{
	width: 8px;
	height: 8px;
	background-image: url( 'file://{images}/control_icons/clock_tiny.psd' );
	background-size: contain;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 2px;
	wash-color: #666666;
}

.FeedItem Panel.FeedCommentsIcon
{
	width: 8px;
	height: 8px;
	background-image: url( 'file://{images}/control_icons/comment_tiny_empty.psd' );
	background-size: contain;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 5px;
	wash-color: #444444;
}

.FeedItem Panel.FeedCommentsIcon.HasComments
{
	width: 8px;
	height: 8px;
	background-image: url( 'file://{images}/control_icons/comment_tiny.psd' );
	background-size: contain;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 5px;
	wash-color: #999999;
}

DOTAFeedTimestamp
{
	color: #666666;
	font-size: 14px;
}

.FeedItem .FeedCommentsNumber
{
	color: #444444;
	font-size: 14px;
}

.FeedItem .FeedCommentsNumber.HasComments
{
	color: #999999;
}

.SocialFeed DOTAFeedTimestamp
{
	font-size: 16px;
}

.SocialFeed .FeedCommentsNumber
{
	font-size: 16px;
}

.FeedFooter
{
	width: 100%;
	flow-children: right;
}

.FeedFooterLeft
{
	flow-children: right;
}

.FeedFooterLeft Label
{
	font-size: 16px;
}

.FeedFooterLeft Button Label
{
	color: #afcfefff;
}

.FeedFooterLeft Button Label:hover
{
	color: #ffffffff;
}

.FeedFooterRight
{
	flow-children: right;
	horizontal-align: right;
}

.FeedFooterRight .FeedTimestamp
{
	flow-children: right;
	horizontal-align: right;
}

.SocialFeed Panel.FeedTimestampIcon
{
	visibility: collapse;
}

.FeedFooterRight .FeedComments
{
	flow-children: right;
	horizontal-align: right;
}

.SocialFeed .FeedFooter
{
	margin-bottom: 4px;
}

.SocialFeed .FeedFooterRight
{
	width: 165px;
}

.FeedFooterLeft
{
	visibility: collapse;
}

.SocialFeed .FeedItem.Focused .FeedFooterLeft
{
	visibility: visible;
}


.CommentEntry
{
	flow-children: right;
	min-height: 42px;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 100%;
}

.CommentEntry DOTAAvatarImage
{
	width: 35px;
	height: 35px;
	margin-right: 8px;
}

.CommentEntry TextEntry
{
	width: fill-parent-flow( 1.0 );
}

Label.Comment
{
	color: #808080;
	font-size: 16px;
	overflow: clip scroll;
	width: 498px;
}

.CommentEntry DOTAFeedTimestamp
{
	margin-top: 2px;
	color: #606060;
	font-size: 16px;
}

Label.Comment b.CommentUserName
{
	color: #627387;
}