FileOpenDialog
{
	width: 100%;
	height: 100%;
	background-color: #00000088;
}

.InnerDialog
{
	width: 900px;
	height: 600px;
	flow-children: down;
	background-color: #666666;
	horizontal-align: center;
	vertical-align: center;
	padding: 10px;

	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
	box-shadow: #00000099 -4px -4px 8px 8px;
	border: 2px solid #32383677;

	transition-property: opacity, transform, pre-transform-scale2d, height;
	transition-duration: 0.2s;
}

.Row
{
	flow-children: right;
	margin-top: 4px;
	margin-bottom: 4px;
}

.Filler
{
	width: fill-parent-flow( 1.0 );
}

.Prefix
{
	width: 100px;
	vertical-align: center;
}

#DrivesDropDown
{
	width: fill-parent-flow( 1.0 );
}

#FileNameTextEntry
{
	width: fill-parent-flow( 1.0 );
}

#FileTypeDropDown
{
	width: fill-parent-flow( 1.0 );
}

#FileList
{
	width: 100%;
	flow-children: down;
	overflow: clip scroll;
}

.FileListArea
{
	width: 100%;
	flow-children: down;
	height: fill-parent-flow( 1.0 );
	margin-bottom: 16px;
	background-color: #151818;
	border: 2px solid #000000aa;
	margin-top: 10px;
}

.FileRow
{
	width: 100%;
	flow-children: right;
	margin-right: 12px;		// for scrollbar
}

.FileRow:selected
{
	background-color: gradient( radial, 50% 15%, 0% 15%, 75% 85%, from( #406299 ), to( #00000000 ) );
	box-shadow: #000000aa 0px -1px 12px 2px;
}

.HeaderRow
{
	width: 100%;
	flow-children: right;
	padding-right: 12px;	// for scrollbar
	margin-bottom: 4px;
}

.Header
{
	flow-children: right;
	background-color: black;
	margin-right: 2px;
}

.Header Label
{
	width: fill-parent-flow( 1.0 );
	color: white;
	padding-left: 5px;
}

.Cell
{
	margin-right: 2px;
	white-space: nowrap;
	height: 24px;
	margin-top: 3px;
}

.Filename
{
	width: fill-parent-flow( 1.0 );
}

.Filename.Cell
{
	margin-left: 3px;
}

.Filename.Cell.Directory
{
	padding-left: 28px;
	background-image: url("s2r://panorama/images/control_icons/icon_folder_png.vtex");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
}


.Filesize.Cell
{
	text-align: right;
	width: 90px;
	margin-right: 10px;
}

.Filesize
{
	width: 100px;
}

.Filetype
{
	width: 100px;
}

.Date
{
	width: 230px;
}

#FolderUpButton
{
	width: 41px;
	height: 41px;
	
	background-image: url("s2r://panorama/images/control_icons/icon_folder_up_png.vtex");
	background-size: 24px 18px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 0px 4px 4px 10px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a6c75 ), to( #3d4a50 ) );
	border: 1px solid black;

	border-top: 1px solid #ffffff44;
	border-right: 1px solid #4e5b60;
	border-left: 1px solid #4e5b60;
	border-bottom: 1px solid #00000088;
}

#FolderUpButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a9c8da ), to( #596b75 ) );
}

#FolderUpButton:active
{
	border: 1px solid black;
	background-size: 21px 16px;
	transform: translateY(1px);
}

.PopupButton
{
	width: 150px;
	min-width: 150px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: center;
	margin-left: 10px;
}

.PopupButton Label
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 19px;
}

.DialogTitle
{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.SortArrow
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/friends_small_sortarrow_png.vtex");
	wash-color: #cbcbcb;
	visibility: collapse;
}

.SortedBy .SortArrow
{
	visibility: visible;
}

.SortArrow:hover
{
	wash-color: #FFFFFF;
}

.ReverseSorted .SortArrow
{
	transform: rotateZ( 180deg );
	margin-top: -3px;
	margin-right: 2px;
}