#HomeFriendsHeader
{
    width: 336px;
    padding: 2px;
    min-height: 22px;
	height: 36px;
	horizontal-align: right;
}

#HomeFriendsHeader:hover
{
}

#HomeFriendsHeader Label
{
    font-size: 18px;
	letter-spacing: 2px;
	padding-top: 4px;
}

#FriendMenu
{
	background-color: #0F1214ee;
	//background-color: #00000099;
	//background-blur: gaussian( 7 );
	//border-top: 2px solid #3D4144;
	
	//border-radius: 10px 10px 0px 0px;
	
}


#FriendMenu #FriendsPanelHeader
{
	//visibility: collapse;
}

#FriendMenu #FriendsPanelMainArea
{
	margin-top: 0px;
}

#FriendMenu #FriendList .FriendMenuItem.Visible
{
    opacity: 1.0;
    height: 44px;
    width: 100%;
}

#FriendMenu #PartyList .FriendMenuItem.Visible
{
    opacity: 1.0;
    height: 60px;
    width: 100%;
    border: 0px solid transparent;
    margin-bottom: 8px;
}

#FriendMenu DOTAActiveFriendParty
{
    padding: 0px;
    border: 0px solid transparent;
    padding-left: 8px;
}

#FriendMenu DOTAActiveFriendParty.LookingForPartyMembers
{

}

#FriendMenu #FriendsOpenParties.Collapsed .FriendMenuItem, 
#FriendMenu #FriendsPlayingDota.Collapsed .FriendMenuItem, 
#FriendMenu #GuildMembersOnline.Collapsed .FriendMenuItem, 
#FriendMenu #FriendsOnline.Collapsed .FriendMenuItem, 
#FriendMenu #FriendsOffline.Collapsed .FriendMenuItem, 
#FriendMenu #FriendsPending.Collapsed .FriendMenuItem
{
	height: 0px;
	opacity: 0;
}

DOTAFriendMenu#FriendMenu
{
	box-shadow: none;
	//border: 0px solid transparent;
}

#FriendMenu #FriendList
{
	padding: 0px;
}

#FriendMenu #FriendsPanelMainAreaShadows
{
	margin: 0px;
}

#FriendMenu DOTAFriend.SoloFriend
{
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 16px;
}

#FriendMenu .FriendsCategory
{
    border-top: 0px solid black;
}

#FriendMenu #FriendsHeader 
{
	height: 32px;
	padding: 0px;
	padding-left: 8px;
}

#FriendMenu #FriendsOpenParties 
{
	height: 0px;
}

#FriendMenu #FriendsPlayingDota.Empty,
#FriendMenu #FriendsPending.Empty,
#FriendMenu #FriendsOnline.Empty,
#FriendMenu #FriendsOffline.Empty,
#FriendMenu #GuildMembersOnline.Empty
{
	height: 0px;
}

#FriendMenu #FriendsHeader Label
{
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 2px;
}

#HomeFriendsHeader Panel
{
	horizontal-align: left;
	vertical-align: center;
	margin-left: 14px;
}

#HomeFriendsHeader:hover Label
{
	//color: white;	
}

#HomeFriendsHeader:hover Image
{
	transform: rotateZ( 270deg ) translateY( 2px );
	wash-color: #aaaaaa;
}

#HomeFriendsHeader Image
{
	wash-color: #888888;
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
    background-position: 1.5% 50%;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	transform: rotateZ( 270deg );
	margin-top: -2px;
	margin-left: 48px;
	margin-right: 48px;
	width: 22px;
	height: 22px;
	opacity: 0;

	transition-property: transform, wash-color, opacity;
	transition-duration: 0.2s;
}


.FeedExpanded #HomeFriendsHeader Image
{
	transform: rotateZ( 90deg ) translateY( 4px );
	opacity: .5;
}

.HomeFriendsListContainer
{
	horizontal-align: right;
}