/* DOTAFriendPicker styles */

DOTAFriendPicker
{
	flow-children: down;
	overflow: squish scroll;
}

DOTAFriendPicker RadioButton
{
	background-color: #24292A00;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 100%;
	padding-left: 8px;
	margin-right:8px;
	vertical-align: middle;
	border-left: 2px solid transparent;
	transition-duration: 0s;
}

DOTAFriendPicker RadioButton:hover
{
	brightness: 2;
	background-color: #24292A44;
	border-left: 2px solid white;
}


DOTAFriendPicker RadioButton .RadioBox
{
	vertical-align: middle;
}

DOTAFriendPicker RadioButton DOTAAvatarImage
{
	width: 32px;
	height: 32px;

	margin-left: 8px;
	vertical-align: middle;
}

DOTAFriendPicker RadioButton DOTAUserName
{
	vertical-align: middle;
	margin-left: 8px;
}

DOTAFriendPicker RadioButton DOTAUserName Label
{
	font-size: 22px;
	font-weight: thin;
	margin: 0px;
}
