/* styles for the social widgets */

DOTAFriendMenu
{
	width: 366px;
	height: 100%;
	background-color: #262d32;
	box-shadow: fill #000000bb -12px -12px 24px 24px;
	overflow: noclip;

	//flow-children: down;
	vertical-align: bottom;
	horizontal-align: right;
	
	transition-property: box-shadow, width, opacity, transform, wash-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s;
}

.LeftRailContain {
	flow-children: down;
	height: 100%;
	width: 100%;
}

.AspectRatio4x3 #FriendsPanelOverwatchNotification
{
	visibility: collapse;
}

DOTAFriendMenu.Hidden
{
	opacity: 0.0;
	transform: translateY( 300px );
	wash-color: #000000;
	box-shadow: fill #00000000 -6px -6px 18px 12px;
}

#FriendPanelFriendsList
{
	opacity: 1;
	box-shadow: fill #00000000 -6px -6px 18px 12px;
	width: 100%;
	height: 100%;
	overflow: squish scroll;
	flow-children: down;

	transition-property: height, opacity, transform, height;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s, 0.35s, 0.35s, 0.0s;
	transition-delay: 0.0s, 0.0s, 0.0s, 1s;
}

VerticalScrollBar, HTMLVerticalScrollBar
{
	background-color: #00000000;
	box-shadow: none;
}

VerticalScrollBar .ScrollThumb
{
	box-shadow: fill #000000aa -3px -3px 6px 6px;
}

#FriendsPanelHeader
{
	width: 100%;
	height: 30px;
	flow-children: right;
	background-color: black;
	padding: 2px;
	font-weight: light;
}

#FriendsPanelWindowTitleFriends
{
	color: #949494;
	color: #ffffff90;
	font-size: 18px;
	letter-spacing: 2px;
	vertical-align: middle;
	text-transform: uppercase;
	transition-property: opacity;
	transition-duration: 0.25s;
	margin-left: 10px;
}

#FriendsInParties
{
	flow-children: down;
	width: 100%;
	padding: 10px 10px 0px 10px;
	background-color: #2d363b;
	border-top: 1px solid black;
}

#FriendsInParties.Collapsed #PartyList
{
	visibility: collapse;
}

#PartyList
{
	flow-children: down;
	width: 100%;
}

.FriendPartyContainer
{
	flow-children: right;
	margin-bottom: 15px;
	margin-left: 3px;
}

.FriendPartyContainer DOTAFriend
{
	margin-right: 5px;
}

.FriendPartyContainer .FriendPartyStatus
{
	color: #929ba0;
	text-transform: uppercase;
	vertical-align: middle;
	margin-left: 5px;
	font-size: 14px;
	margin-bottom: 14px;

}

.FriendsCategory
{
	flow-children: down;
	//padding: 10px 10px 0px 10px;
	//border-top: 1px solid black;
	width: 100%;
	height: fit-children;

	
	transition-property: height, opacity;
	transition-duration: .35s;
	transition-delay: 0.4s, 0.0s;
	transition-timing-function: ease-in-out;
}

.FriendsCategory.Collapsed
{
	//height: 42px;
	//visibility: collapse;
}

.FriendsCategory #FriendsHeader
{
	transition-property: height, opacity;
	transition-duration: 0.35s;
}

.FriendsCategory.Collapsed #FriendList, .FriendsCategory.Empty.HideWhenEmpty #FriendList, .TeamsCategory.Collapsed #MyTeamsList, .TeamsCategory.Empty.HideWhenEmpty #MyTeamsList
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#FriendsOnline
{
	background-color: #1b2023;
}

#FriendMenu #FriendsOnline,
#FriendMenu #FriendsOffline,
#FriendMenu #FriendsPending
{
	background-color: transparent;   
}

#FriendsOpenParties
{
	background-color: #313e3c;
}

#FriendsOpenParties #FriendsHeader
{
	background-image: url("s2r://panorama/images/status_icons/opengames_psd.vtex");
	background-position: 32px 50%;
	background-size: 20px 20px;
	background-repeat: no-repeat;
}


#FriendsOpenParties #FriendsHeader Label
{
	margin-left: 38px;
}

.FriendButton
{
	width: 24px;
	height: 24px;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 8px;

	wash-color: #666;

	tooltip-position: top;
	tooltip-body-position: 50%;
}

.FriendButton:hover
{
	wash-color: white;
}

.FriendButton:active
{
	wash-color: #ccc;
}

#AddFriend
{
	background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
}

#FilterToggleButton
{
	transform: translateY( -1px );
	background-image: url("s2r://panorama/images/control_icons/ghostfriend_inactive_psd.vtex");
}
#FilterToggleButton:selected
{
	background-image: url("s2r://panorama/images/control_icons/ghostfriend_png.vtex");
}
#FilterToggleButton .TickBox
{
	visibility: collapse;
}


#FriendsOffline, #FriendsPending
{
	background-color: black;
}

#FriendsHeader
{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 8px;
	
	//width: 50%;
	height: 38px;

	font-size: 18px;
	font-weight: bold;
	color: #929ba0;
	background-color: none;
	opacity: 1;

	flow-children: right;
	
	transition-property: height, opacity;
	transition-duration: 0.2s;
	
}
#FriendsHeader .TickBox
{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/control_icons/expand_collapse_png.vtex");
	background-size: contain;
	background-color: none;
	background-repeat: no-repeat;
	box-shadow: none;
	border: 0px solid transparent;
	wash-color: #888888;

	transition-property: transform,wash-color;
	transition-duration: 0.2s;	
}
#FriendsHeader Label
{
	color: #999999;
	margin: 0px 0px 0px 5px;
	vertical-align: middle;
	text-transform: uppercase;
}

#FriendsHeader:hover Label
{
	color: #ffffff;
}

#FriendsHeader:hover .TickBox
{
	wash-color: #ffffff;

}

.Empty #FriendsHeader
{
	height: 0px;
	opacity: 0;
	background-size: 5px 5px;

}

.Collapsed #FriendsHeader .TickBox
{
	transform: rotateZ( -90deg );
}

#FriendList
{
	width: 100%;
	flow-children: down;
	padding-left: 16px;
	padding-bottom: 0px;
	padding-top: 0px;
	
	transition-property: height;
	transition-duration: 1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

#MyTeamsList
{
	width: 100%;
	flow-children: down;
	padding-left: 25px;
	padding-bottom: 16px;
//	padding-top: 16px;
	
	transition-property: height;
	transition-duration: 1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

#FriendsOpenParties #FriendList
{
}

#PartyPanel
{
	flow-children: down;
	vertical-align: bottom;
	margin-left: 10px;
	border: 1px solid #2b3236;
	padding: 2px 3px 2px 0px;
}

#PartyPanel #PartyMembersPanel
{
	flow-children: right;
}

.FriendMenuItem
{
	opacity: 0.0;
	height: 0px;
	//overflow: squish clip;
	width: 0px;
	transition-property: opacity, height, width;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;

}

#FriendsHeader.Activated .FriendMenuItem
{
	height: 0px;
}


#CurrentUserStatus .FriendMenuItem.Visible
{
	opacity: 1.0;
	width: 100%;
	height: 96px;
}
#PartyList .FriendMenuItem.Visible
{
	opacity: 1.0;
	width: 100%;
	height: 108px;
	padding: 0px;

	border-bottom: 2px solid #00000033;
}
#PartyList .FriendMenuItem.AvatarRows2.Visible
{
	height: 180px;
}
#PartyList .FriendMenuItem.AvatarRows3.Visible
{
	height: 268px;
}
#PartyList .FriendMenuItem.AvatarRows4.Visible
{
	height: 348px;
}
#PartyList .FriendMenuItem.AvatarRows5.Visible
{
	height: 428px;
}

#FriendsOpenParties.Collapsed .FriendMenuItem.AvatarRows2,
#FriendsOpenParties.Collapsed .FriendMenuItem.AvatarRows3,
#FriendsOpenParties.Collapsed .FriendMenuItem.AvatarRows4,
#FriendsOpenParties.Collapsed .FriendMenuItem.AvatarRows5

{
	height: 0px;
}


#FriendList .FriendMenuItem.Visible
{
	opacity: 1.0;
	height: 64px;
	width: 292px;
}

#FriendsOpenParties.Collapsed .FriendMenuItem, 
#FriendsPlayingDota.Collapsed .FriendMenuItem, 
#GuildMembersOnline.Collapsed .FriendMenuItem,
#FriendsOnline.Collapsed .FriendMenuItem, 
#FriendsOffline.Collapsed .FriendMenuItem, 
#FriendsPending.Collapsed .FriendMenuItem
{
	height: 0px;
	opacity: 0;
}

.FriendDivider
{
	width: 100%;
	height: 1px;
	background-color: red;
}

#FriendListEmptyMessage
{
	margin-top: 48px;
	margin-bottom: 48px;
	padding-top: 8px;
	padding-bottom: 6px;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	background-color: #00000055;
}

#FriendMenu.FriendsFilterEnabled DOTAFriendElementContainer:not(.RecentPlayTime)
{
	visibility: collapse;
}

#DiretideCandy {
	width: 100%;
	height: 40px;
	background-image: url("s2r://panorama/images/events/diretide/2020/overview_bg_psd.vtex");
	background-size: cover;
	background-position: bottom;
	flow-children: right;
}

#DiretideCandy .InfoIcon {
	margin-top: -4px;
	width: 15px;
}

#DiretideCandy Label {
	font-size: 16px;
	font-family: titleFont;
	color: #ffffff;
	font-weight: semi-bold;
	padding-left: 15px;
	padding-top: 5px;
	text-shadow: 0px 0px 10px 3.0 #000000;
}

#DiretideCandyBucket {
	horizontal-align: right;
	height: 180px;
	width: 150px;
	vertical-align: top;
	margin-top: -56px;
	margin-right: -25px;
	visibility: collapse;
}

.HasDiretidePoints #DiretideCandyBucket {
	visibility: visible;
}

#DiretideCandyBucket Label {
	font-family: titleFont;
	font-size: 20px;
	text-shadow: 0px 0px 10px 5.0 #000000;
	vertical-align: bottom;
	horizontal-align: center;
	text-align: center;
	margin-bottom: 10px;
	color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from(#e980e9 ), to(#9f509f) );
    color: #9f509f;
    text-shadow: 0px 0px 4px 6.0 #24202488;
    font-family: titleFont;
    font-weight: bold;
	color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from(#ffffff ), to(#ff9cff ) );
}

#CandyBucket {
	width: 100%;
	height: 100%;
	//background-image: url("s2r://panorama/images/events/diretide/2020/buckets/bucket_01_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}

#CandyAmount {
	width: 100%;
	height: 100%;
	//background-image: url("s2r://panorama/images/events/diretide/2020/buckets/candy_05_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.HeroBucket01
{
	background-image: url("s2r://panorama/images/events/diretide/2020/buckets/bucket_01_psd.vtex");
}

.HeroBucket02
{
    background-image: url("s2r://panorama/images/events/diretide/2020/buckets/bucket_02_psd.vtex");
}

.HeroBucket03
{
    background-image: url("s2r://panorama/images/events/diretide/2020/buckets/bucket_03_psd.vtex");
}

.HeroBucket04
{
    background-image: url("s2r://panorama/images/events/diretide/2020/buckets/bucket_04_psd.vtex");
}

.HeroBucket05
{
    background-image: url("s2r://panorama/images/events/diretide/2020/buckets/bucket_05_psd.vtex");
}

.CandyStack01
{
    background-image: url("s2r://panorama/images/events/diretide/2020/buckets/candy_01_psd.vtex");
}

.CandyStack02
{
    background-image: url("s2r://panorama/images/events/diretide/2020/buckets/candy_02_psd.vtex");
}

.CandyStack03
{
    background-image: url("s2r://panorama/images/events/diretide/2020/buckets/candy_03_psd.vtex");
}

.CandyStack04
{
    background-image: url("s2r://panorama/images/events/diretide/2020/buckets/candy_04_psd.vtex");
}

.CandyStack05
{
    background-image: url("s2r://panorama/images/events/diretide/2020/buckets/candy_05_psd.vtex");
}

/* Overwatch */
#FriendsPanelOverwatchNotification
{
	width: 100%;
	height: 30px;
	flow-children: right;
	//background-color: #333333;
	background-image: url("s2r://panorama/images/conduct/ovw-bar-bg_png.vtex");
	background-size: 100% 100%;
	padding: 2px;
	font-weight: semi-bold;
	padding-top: 1px;
}

.HideOverwatch #FriendsPanelOverwatchNotification
{
	visibility: collapse;
}

#OverwatchButtons
{
	flow-children: right;
	horizontal-align: right;
}

.OverwatchDismiss {
	width: 18px;
	height: 18px;
	background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex"); 
	background-size: contain;
	vertical-align: middle;
	margin: 2px 5px 0px 10px;
}

.OverwatchDismiss:hover {
	brightness: 2;
}

.OverwatchLogoIcon {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-left: 8px;
	background-image: url("s2r://panorama/images/conduct/ovw-icon_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation-name: pulseglow;
	animation-duration: 3.0s;
	animation-timing-function: ease-in;
	animation-iteration-count: 10;
	transition-property: opacity;
	transition-duration: .3s;
	overflow: noclip;
}

@keyframes 'pulseglow'
{
    0%
    {

		img-shadow: 0px 0px 10px #0056f5aa;
		brightness: 1;
    }
    
    50%
    {
		img-shadow: 0px 0px 20px #ABEBFF;
		brightness: 1.8;

    }
    100%
    {
		img-shadow: 0px 0px 10px #0056f5aa;
		brightness: 1;
    }
}


.OverwatchTitle {
	color: #fefefe;
	font-weight: semi-bold;
	vertical-align: middle;
	margin-left: 8px;
	letter-spacing: 2px;
	font-size: 13px;
	text-transform: uppercase;
}

#OverwatchDismiss, #OverwatchReview
{
	vertical-align: middle;

}

#OverwatchReview
{
	background-color: #000000aa;
	color: #ffffff;
	border-radius: 2px;
	font-size: 15px;
	font-weight: semi-bold;
	padding: 3px 8px 3px 10px;
	vertical-align: middle;
	margin-top: 1px;
	transition-property: background-color;
	transition-duration: 0.2s;
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #0c1b41), color-stop( 1, #165874) );
	border: 0.5px solid #000000;
}

#OverwatchReview Label {
	//margin-top: -5px;
}

#OverwatchReview:hover {
	background-color: #000000d2;
	color: #ffffffee;
	box-shadow: 0px 0px 10px #00000090;
}

#OverwatchDismiss
{
	text-decoration: underline;
}
