/* styles for the social widgets */

DOTAFriendMenu
{
	width: 625px;
	height: 100%;
	border: 1px solid 293034;
	background-color: #262d32;
	box-shadow: fill #000000bb -12px -12px 24px 24px;

	flow-children: down;
	vertical-align: bottom;
	horizontal-align: right;
	
	transition-property: box-shadow, width, opacity, transform, wash-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s;
}

.FriendsPanelMainArea
{
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s;	
}

DOTAFriendMenu.Hidden
{
	opacity: 0.0;
	transform: translateY( 300px );
	wash-color: #000000;
	box-shadow: fill #00000000 -6px -6px 18px 12px;
}

DOTAFriendMenu.EditMode
{
	width: 1025px;
}

#FriendPanelMainAreaContainer.OnTeams
{
	height: 600px;
}

#FriendPanelMainAreaContainer
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: none;
	max-height: 600px;
	transition-property: height, opacity, transform, max-height;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s;
	transition-delay: 0.0s;
}

#FriendPanelFriendsList, #FriendPanelTeams
{
	opacity: 1;
	box-shadow: fill #00000000 -6px -6px 18px 12px;
	width: 100%;
	height: 100%;
	overflow: squish scroll;
	flow-children: down;

	transition-property: height, opacity, transform, height;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s, 0.35s, 0.35s, 0.0s;
	transition-delay: 0.0s, 0.0s, 0.0s, 1s;
}

#FriendMenu #FriendPanelFriendsList, #FriendMenu #FriendPanelTeams
{
	height: 600px;
}
	

.HomeFriendsListContainer #FriendPanelTeams
{
	visibility: collapse;
}

#FriendPanelFriendsList.Collapsed, #FriendPanelTeams.Collapsed
{
	opacity: 0.0;
	height: 0px;
}



VerticalScrollBar, HTMLVerticalScrollBar
{
	background-color: #00000000;
	box-shadow: none;
}

VerticalScrollBar .ScrollThumb
{
	box-shadow: fill #000000aa -3px -3px 6px 6px;
}

#FriendsPanelHeader
{
	width: 100%;
	flow-children: down;
	min-height: 42px;
}

#FriendsPanelWindowHeader
{
	width: 100%;
	background-color: black;
	padding: 2px;
	height: 100%;
}

#FriendsPanelWindowHeaderLeft
{
	flow-children: right;
	horizontal-align: left;
	vertical-align: middle;
	padding-left: 8px;
}
 
#FriendsPanelWindowHeaderRight
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: middle;
}

#FriendsPanelWindowHeaderRight Button
{
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

#FriendsPanelWindowTitleFriends, #FriendsPanelWindowTitleTeams
{
	color: #828282;
	padding: 3px;
	font-weight: medium;
	letter-spacing: 2px;
	horizontal-align: left;
	vertical-align: middle;
	padding-top: 6px;
	text-transform: uppercase;

	transition-property: opacity;
	transition-duration: 0.25s;
}

#FriendsTabButton, #TeamsTabButton, #GuildsTabButton
{
	width: 30px;
	height: 30px;
	
	/*
	removing these icons for now, unless/until we revamp Friends to include this functionality
	*/
	opacity: 0.0;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-left: 8px;
}

#FriendsTabButton   { background-image: url("s2r://panorama/images/control_icons/friends_tab_png.vtex"); }
#TeamsTabButton     { background-image: url("s2r://panorama/images/control_icons/teams_tab_png.vtex");}
#GuildsTabButton    { background-image: url("s2r://panorama/images/control_icons/guilds_tab_png.vtex");}


#FriendsPanelTabs Button
{
	vertical-align: middle;
}

#FriendsPanelTabs Button Label
{
	color: #949494;
	font-size: 20px;
}

#FriendsPanelTabs Button:hover Label
{
	text-decoration: underline;
}

#FriendsPanelTabs Button.Selected Label
{
	color: #646ea0;
	font-size: 20px;
	font-weight: bold;
}

.FriendsPanelTabSeparator
{
	margin-left: 8px;
	margin-right: 8px;
	color: #949494;
	font-size: 25px;
	vertical-align: middle;
}

#FriendsPanelMainAreaShadows
{
	margin-top: 42px;
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #000000ff ), color-stop( 0.01, #00000000 ), color-stop( 0.94, #00000000 ), color-stop( 0.98, #00000022 ), to( #000000aa ) );
}


#CurrentUserStatus
{
	visibility: collapse;
	flow-children: right;
	padding: 8px;
	background-color: #1a1a1a;
	width: 100%;
}
#CurrentUserStatus #CurrentUser
{
	width: 50%;
}
#CurrentUserStatus #CurrentUserLookingToPlay
{
	width: 50%;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 40px;
	background-color: none;
}

#FriendsInParties
{
	flow-children: down;
	width: 100%;
	padding: 10px 10px 0px 10px;
	background-color: #2d363b;
	border-top: 1px solid black;
}

#FriendsInParties.Collapsed #PartyList
{
	visibility: collapse;
}

#PartyList
{
	flow-children: down;
	width: 100%;
}

.FriendPartyContainer
{
	flow-children: right;
	margin-bottom: 15px;
	margin-left: 3px;
}

.FriendPartyContainer DOTAFriend
{
	margin-right: 5px;
}

.FriendPartyContainer .FriendPartyStatus
{
	color: #929ba0;
	text-transform: uppercase;
	vertical-align: middle;
	margin-left: 5px;
	font-size: 14px;
	margin-bottom: 14px;

}

.FriendsCategory, .TeamsCategory
{
	flow-children: down;
	//padding: 10px 10px 0px 10px;
	//border-top: 1px solid black;
	width: 100%;
	height: fit-children;

	
	transition-property: height, opacity;
	transition-duration: .35s;
	transition-delay: 0.4s, 0.0s;
	transition-timing-function: ease-in-out;
}

.FriendsCategory.Collapsed, .TeamsCategory.Collapsed
{
	//height: 42px;
	//visibility: collapse;
}

.FriendsCategory #FriendsHeader, .TeamsCategory #MyTeamsHeader
{
	transition-property: height, opacity;
	transition-duration: 0.35s;
}

.FriendsCategory.Collapsed #FriendList, .FriendsCategory.Empty.HideWhenEmpty #FriendList, .TeamsCategory.Collapsed #MyTeamsList, .TeamsCategory.Empty.HideWhenEmpty #MyTeamsList
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#FriendsOnline
{
	background-color: #1b2023;
}

#HomeFriendsList #FriendsOnline,
#HomeFriendsList #FriendsOffline,
#HomeFriendsList #FriendsPending
{
	background-color: transparent;   
}

#FriendsOpenParties
{
	background-color: #313e3c;
}

#FriendsOpenParties #FriendsHeader
{
	background-image: url("s2r://panorama/images/status_icons/opengames_psd.vtex");
	background-position: 32px 50%;
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

#AddFriend
{
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	horizontal-align: right;
	margin: 0px;
	margin-right: 12px;
}

#ManageTeams
{
	width: 32px;
	height: 32px;
	background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	horizontal-align: right;
	margin: 0px;
	margin-right: 12px;
}

#FriendsOpenParties #FriendsHeader Label
{
	margin-left: 38px;
}

#AddFriendMain
{
    width: 26px;
    height: 26px;
    background-image: url("s2r://panorama/images/control_icons/addfriend_png.vtex");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    horizontal-align: right;
    vertical-align: middle;
    margin: 0px;
    margin-right: 12px;
}

#FilterToggleButton
{
	horizontal-align: right;
	padding: 0px;
    margin-right: 44px;
	margin-top: 2px;
	width: 26px;
	height: 26px;
}

#FilterToggleButton .TickBox
{
	background-image: url("s2r://panorama/images/control_icons/ghostfriend_inactive_psd.vtex");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
	border: 0px solid transparent;
	margin: 0px;
	padding: 0px;
	horizontal-align: center;
	width: 26px;
	height: 26px;
	wash-color: #666;
	background-color: transparent;
	box-shadow: none;
}

#FilterToggleButton:hover .TickBox
{
	wash-color: #999;
}

#FilterToggleButton:selected .TickBox
{
	wash-color: #fff;
	background-image: url("s2r://panorama/images/control_icons/ghostfriend_png.vtex");
}


#FriendsOffline, #FriendsPending
{
	background-color: black;
}

#FriendsHeader, #MyTeamsHeader
{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 8px;
	
	//width: 50%;
	height: 38px;

	font-size: 18px;
	font-weight: bold;
	color: #929ba0;
	background-color: none;
	opacity: 1;

	flow-children: right;
	
	transition-property: height, opacity;
	transition-duration: 0.2s;
	
}
#FriendsHeader .TickBox, #MyTeamsHeader .TickBox
{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/control_icons/expand_collapse_png.vtex");
	background-size: contain;
	background-color: none;
	background-repeat: no-repeat;
	box-shadow: none;
	border: 0px solid transparent;
	wash-color: #888888;

	transition-property: transform,wash-color;
	transition-duration: 0.2s;	
}
#FriendsHeader Label, #MyTeamsHeader Label
{
	color: #999999;
	margin: 0px 0px 0px 5px;
	vertical-align: middle;
	text-transform: uppercase;
}

#FriendsHeader:hover Label, #MyTeamsHeader:hover Label
{
	color: #ffffff;
}

#FriendsHeader:hover .TickBox, #MyTeamsHeader:hover .TickBox
{
	wash-color: #ffffff;

}

.Empty #FriendsHeader, .Empty #MyTeamsHeader
{
	height: 0px;
	opacity: 0;
	background-size: 5px 5px;

}

.Collapsed #FriendsHeader .TickBox, .Collapsed #MyTeamsHeader .TickBox
{
	transform: rotateZ( -90deg );
}

#FriendList
{
	width: 100%;
	flow-children: right-wrap;
	padding-left: 16px;
	padding-bottom: 0px;
	padding-top: 0px;
	
	transition-property: height;
	transition-duration: 1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

#MyTeamsList
{
	width: 100%;
	flow-children: down;
	padding-left: 25px;
	padding-bottom: 16px;
//	padding-top: 16px;
	
	transition-property: height;
	transition-duration: 1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

#FriendsOpenParties #FriendList
{
}

#PartyPanel
{
	flow-children: down;
	vertical-align: bottom;
	margin-left: 10px;
	border: 1px solid #2b3236;
	padding: 2px 3px 2px 0px;
}

#PartyPanel #PartyMembersPanel
{
	flow-children: right;
}

.FriendMenuItem, .TeamsMenuItem
{
	opacity: 0.0;
	height: 0px;
	//overflow: squish clip;
	width: 0px;
	transition-property: opacity, height, width;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;

}

#FriendsHeader.Activated .FriendMenuItem, #MyTeamsHeader.Activated .TeamsMenuItem
{
	height: 0px;
}


#CurrentUserStatus .FriendMenuItem.Visible
{
	opacity: 1.0;
	width: 100%;
	height: 96px;
}
#PartyList .FriendMenuItem.Visible
{
	opacity: 1.0;
	width: 100%;
	height: 108px;
	padding: 0px;

	border-bottom: 2px solid #00000033;
}
#PartyList .FriendMenuItem.AvatarRows2.Visible
{
	height: 180px;
}
#PartyList .FriendMenuItem.AvatarRows3.Visible
{
	height: 268px;
}
#PartyList .FriendMenuItem.AvatarRows4.Visible
{
	height: 348px;
}
#PartyList .FriendMenuItem.AvatarRows5.Visible
{
	height: 428px;
}

#FriendsOpenParties.Collapsed .FriendMenuItem.AvatarRows2,
#FriendsOpenParties.Collapsed .FriendMenuItem.AvatarRows3,
#FriendsOpenParties.Collapsed .FriendMenuItem.AvatarRows4,
#FriendsOpenParties.Collapsed .FriendMenuItem.AvatarRows5

{
	height: 0px;
}


#FriendList .FriendMenuItem.Visible
{
	opacity: 1.0;
	height: 64px;
	width: 292px;
}

#MyTeamsList .TeamsMenuItem.Visible
{
	opacity: 1.0;
	height: 60px;
	width: 625px;
}

#FriendsOpenParties.Collapsed .FriendMenuItem, 
#FriendsPlayingDota.Collapsed .FriendMenuItem, 
#GuildMembersOnline.Collapsed .FriendMenuItem,
#FriendsOnline.Collapsed .FriendMenuItem, 
#FriendsOffline.Collapsed .FriendMenuItem, 
#FriendsPending.Collapsed .FriendMenuItem, 
#FriendPanelMyTeams.Collapsed .TeamsMenuItem
{
	height: 0px;
	opacity: 0;
}

.FriendDivider
{
	width: 100%;
	height: 1px;
	background-color: red;
}

#FriendListEmptyMessage
{
	margin-top: 48px;
	margin-bottom: 48px;
	padding-top: 8px;
	padding-bottom: 6px;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	background-color: #00000055;
}

#OfficialTeamInfo
{
	padding-top: 32px;
	padding-bottom: 40px;
	padding-left: 25px;
	padding-right: 25px;
	width: 100%;
	background-color: #1b2023;
	height: fit-children;
	
	transition-property: height, opacity, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s;
	transition-delay: 0.0s;
}

#OfficialTeamInfoLabel
{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.OfficialTeamInfoRow
{
	margin-top: 4px;
	width: 100%;
	height: 30px;
}

#OfficialTeamInfoColumn1
{
	width: 450px;
	border: 1px solid black;
	background-color: #1b2023;
	padding-left: 5px;
	height: 100%;
	padding-top: 2px;
}

.FriendPanelEditProInfoButton
{
	width: 100px;
	background-color: #000000;
	text-align: center;
	height: 100%;
	padding-top: 2px;
	margin-left: 5px;
	border-radius: 5px 5px;
}

.FriendPanelTeamsEditButton
{
	width: 100px;
	background-color: #000000;
	text-align: center;
	margin-left: 5px;
	vertical-align: middle;
	height: 30px;
	border-radius: 4px 4px;
}

#OfficialTeamInfoName
{
	color: #cccccc;
	vertical-align: middle;
}

#OfficialTeamInfoColumn1 .OfficialTeamInfoNameSet
{
	color: #FFFFFF;
}

#OfficialTeamCountryImage
{
	vertical-align: middle;
	padding-left: 5px;
}

.EditButtonLabel
{
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: middle;
	horizontal-align: center;
    margin-top: 4px;
}

.FriendPanelTeamsEditButton:hover .EditButtonLabel, .FriendPanelEditProInfoButton:hover .EditButtonLabel
{
	color: #FFFFFF;
}

#FriendPanelTeamsBottom
{
	//background-color: #1b2023;
	height: fit-children;
	width: 100%;
	margin-top: 24px;
	padding: 10px 20px;
	transition-property: height, opacity, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.35s;
	transition-delay: 0.0s;
	//border-top: 1px solid black;
}

#CreateNewTeamButton
{
	horizontal-align: center;
	vertical-align: middle;
}

#CreateNewTeamButton Label
{
	font-size: 14px;
	width: 100%;
	vertical-align: middle;
}

.TeamListPanel
{
	width: 100%;
	padding-left: 5px;
	padding-top: 2px;
}

.TeamListTeamInfo
{
	background-color: #161e25;
	width: 390px;
	vertical-align: middle;
	height: 30px;
	border-radius: 4px 4px;
}

.TeamListLogo
{
	height: 50px;
	width: 50px;
	margin: 5px;
	border-radius: 7px 7px;
	background-color: #000000;
}

.TeamListLabel
{
	margin-top: 4px;
	vertical-align: middle;
	width: 300px;
	text-transform: uppercase;
	padding-left: 10px;
	color: #929ba0;
}

.TeamSecondaryTabSeperator
{
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
	padding-top: 3px;
}

.TeamSecondaryTabButton Label
{
	vertical-align: middle;
	text-transform: uppercase;
	margin-left: 0px;
	letter-spacing: 2px;
	margin-right: 0px;
	font-size: 18px;
}

.TeamSecondaryTabButton .RadioBox
{
	visibility: collapse;
}

#HomeFriendsList #FriendPanelMainAreaContainer
{
	margin-top: 0px;
}

#HomeFriendsList.FriendsFilterEnabled DOTAFriendElementContainer:not(.RecentPlayTime)
{
	visibility: collapse;
}