#HomeFriendsHeader
{
    width: 336px;
    padding: 2px;
    min-height: 22px;
	height: 36px;
	horizontal-align: right;
}

#HomeFriendsHeader:hover
{
}

#HomeFriendsHeader Label
{
    font-size: 18px;
	letter-spacing: 2px;
	margin-top: 2px;
}

#HomeFriendsList
{
	width: 336px;
	height: 414px;
	background-color: #00000099;
}

#HomeFriendsList #FriendsPanelHeader
{
	visibility: collapse;
}

#HomeFriendsList #FriendsPanelMainArea
{
	margin-top: 0px;
}

#HomeFriendsList #FriendList .FriendMenuItem.Visible
{
    opacity: 1.0;
    height: 44px;
    width: 100%;
}

#HomeFriendsList #PartyList .FriendMenuItem.Visible
{
    opacity: 1.0;
    height: 60px;
    width: 100%;
    border: 0px solid transparent;
    margin-bottom: 8px;
}

#HomeFriendsList DOTAActiveFriendParty
{
    padding: 0px;
    border: 0px solid transparent;
    padding-left: 8px;
}

#HomeFriendsList DOTAActiveFriendParty.LookingForPartyMembers
{

}

#HomeFriendsList #FriendsOpenParties.Collapsed .FriendMenuItem, #HomeFriendsList #FriendsPlayingDota.Collapsed .FriendMenuItem, #HomeFriendsList #FriendsOnline.Collapsed .FriendMenuItem, #HomeFriendsList #FriendsOffline.Collapsed .FriendMenuItem, #HomeFriendsList #FriendsPending.Collapsed .FriendMenuItem
{
	height: 0px;
	opacity: 0;
}

DOTAFriendMenu#HomeFriendsList
{
	box-shadow: none;
	border: 0px solid transparent;
}

#HomeFriendsList #FriendList
{
	padding: 0px;
}

#HomeFriendsList #FriendsPanelMainAreaShadows
{
	margin: 0px;
}

#HomeFriendsList DOTAFriend.SoloFriend
{
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 16px;
}

#HomeFriendsList .FriendsCategory
{
    border-top: 0px solid black;
}

#HomeFriendsList #FriendsHeader 
{
	height: 32px;
	padding: 0px;
	padding-left: 8px;
}

#HomeFriendsList #FriendsOpenParties 
{
	height: 0px;
}

#HomeFriendsList #FriendsPlayingDota.Empty,
#HomeFriendsList #FriendsPending.Empty,
#HomeFriendsList #FriendsOnline.Empty,
#HomeFriendsList #FriendsOffline.Empty
{
	height: 0px;
}

#HomeFriendsList #FriendsHeader Label
{
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 2px;
}


#HomeFriendsHeader Panel
{
	horizontal-align: left;
	vertical-align: center;
	margin-left: 14px;
}

#HomeFriendsHeader:hover Label
{
	//color: white;	
}

#HomeFriendsHeader:hover Image
{
	transform: rotateZ( 270deg ) translateY( 2px );
	wash-color: #aaaaaa;
}

#HomeFriendsHeader Image
{
	wash-color: #888888;
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
    background-position: 1.5% 50%;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	transform: rotateZ( 270deg );
	margin-top: -2px;
	margin-left: 48px;
	margin-right: 48px;
	width: 22px;
	height: 22px;
	opacity: 0;

	transition-property: transform, wash-color, opacity;
	transition-duration: 0.2s;
}


.FeedExpanded #HomeFriendsHeader Image
{
	transform: rotateZ( 90deg ) translateY( 4px );
	opacity: .5;
}

.HomeFriendsListContainer
{
	horizontal-align: right;
}