/* DOTAFriend

   A DOTAFriend is a collection of controls that are all related to a single DOTA player.
   It's used in a variety of different contexts, with slightly different layouts in each.
   The context is controlled by adding a class to the top level DOTAFriend such as 
*/


/* Styles that are shared by all types*/
DOTAFriend
{
	tooltip-position: top;
	tooltip-body-position: 50% 0%;
	context-menu-position: top;
	context-menu-body-position: 50% 0%;
}

#FriendRichPresence Label a
{
	text-decoration: underline;
}

#FriendRichPresence Label a:hover
{
	color: white;
	text-decoration: underline;
}

#FriendNameContainer
{
	flow-children: right;
}

#FriendName
{
	width: 1000px;
}

DOTAFriend #FriendName Label
{
	white-space: nowrap;
}
DOTAFriend #FriendRichPresence Label
{
	white-space: nowrap;
	//text-transform: uppercase;
}
DOTAFriend #FriendImage
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
}

DOTAFriend #FriendAvatarImage, DOTAFriend #EmptyPanel
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	border: 1px solid black;
}


#FriendNickname
{
	margin-top: 24px;
	margin-right: 0px;
}

#FriendNickname Label
{
	font-size: 14px;
}

#FriendNickname Label .PersonaName
{
	color: #888888;
	font-size: 14px;
}

#FriendImagePanel
{
	box-shadow: #00000088 -3px -3px 6px 6px;    
}

#HomeFriendsList #FriendImagePanel
{
	box-shadow: none;  
	vertical-align: middle;
}

#FriendImagePanel:hover
{
	box-shadow: #93eb8f33 -2px -2px 4px 4px;
}

#FriendsOnline #FriendImagePanel:hover
{
	box-shadow: #6a9ccb -2px -2px 4px 4px;
}
#FriendsOffline #FriendImagePanel:hover
{
	box-shadow: #666666 -2px -2px 4px 4px;
}

DOTAFriend #EmptyPanel
{
	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #666666 ), to( #999999 ) );
	wash-color: #999999;
}

DOTAFriend #EmptyPanel:hover
{
	wash-color: #CCCCCC;
}

DOTAFriend #EmptyPanel:active
{
	sound: "ui_friends_slide_in";
}

DOTAFriend #PartyWithFriendButton
{
	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 60% 60%;
	transform: rotateZ( 0deg);

	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E4B51 ), to( #5C9C68 ) );
	wash-color: #ABEAA8;
	border-radius: 3px;

	transition-property: background-color, wash-color, transform, opacity-mask, opacity, pre-transform-scale2d;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
DOTAFriend #PartyWithFriendButton:hover
{
	wash-color: #ffffff;
}
DOTAFriend #PartyWithFriendButton:active
{
	wash-color: #aaaaaa;
}

/* Class is set when this button is not applicable */
DOTAFriend #PartyWithFriendButton.Hidden
{
	visibility: collapse;
}

DOTAFriend #PartyLeaderOverlay
{
	background-image: url("s2r://panorama/images/party_leader_overlay_png.vtex");
	background-repeat: no-repeat;
	overflow: noclip;
	width: 22px;
	height: 19px;
	visibility: collapse;
}
DOTAFriend.PartyLeader #PartyLeaderOverlay
{
	visibility: visible;
}

DOTAFriend #LobbyLeaderIcon
{
	background-image: url("s2r://panorama/images/icon_star_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	overflow: noclip;
	width: 19px;
	height: 19px;
	visibility: collapse;
	margin-top: 1px;
	margin-right: 2px;
}
DOTAFriend.LobbyLeader #LobbyLeaderIcon
{
	visibility: visible;
}

DOTAFriend #BattleCupVictoryIcon
{
	margin-top: 1px;
	margin-right: 4px;
}

DOTAFriend #EventLevelIcon
{
	width: 20px;
	height: 20px;
	margin-right: 2px;

	visibility: collapse;
}
DOTAFriend.EventActive #EventLevelIcon
{
	visibility: visible;
}


DOTAFriend #CoachOverlay
{
	background-image: url("s2r://panorama/images/coach_overlay_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	width: 80%;
	height: 80%;
	vertical-align: middle;
	horizontal-align: center;
	visibility: collapse;
}
DOTAFriend.Coach #CoachOverlay
{
	visibility: visible;
}

/* Colors that vary based on the friend's status */
DOTAFriend #FriendName Label .PersonaName         	{ color: #ced7d6; }
#FriendsOffline DOTAFriend #FriendName Label .PersonaName 			{ color: #666666; }

/* CurrentUser: displays the current user's status */
DOTAFriend.CurrentUser
{
	flow-children: right;
}
DOTAFriend.CurrentUser #FriendImage
{
	width: 48px;
	height: 48px;
	border: 2px solid #64b158;
	box-shadow: #76b06d22 -5px -5px 10px 10px;
}
DOTAFriend.CurrentUser #FriendDetails
{
	flow-children: down;
	margin-left: 10px;
}

DOTAFriend.CurrentUser #FriendName Label .PersonaName
{
	font-weight: bold;
	font-size: 23px;
	color: #94ec8f;
}

DOTAFriend.CurrentUser #FriendName Label
{
	text-shadow: 0px 0px 6px 1.0 #93eb8f55;
}
	

DOTAFriend.CurrentUser #FriendRichPresence Label
{
	font-size: 14px;
	color: #b2f2ae;
}


/* SoloFriend: used to display a friend that's not in a separate party */
DOTAFriend.SoloFriend
{
	width: 100%;
	flow-children: right;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-left: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	background-color: #343e4400;
	
	transition-property: background-color;
	transition-duration: 0.0s;
}
DOTAFriend.SoloFriend #FriendImage
{
	width: 48px;
	height: 48px;
	box-shadow: inset #000000 0px 0px 5px 0px;
}

.HomeFriendsListContainer DOTAFriend.SoloFriend #FriendImage
{
	width: 36px;
	height: 36px;
}


#CurrentUserStatus DOTAFriend.SoloFriend
{
	margin: 0px;
	padding: 0px;
}
#CurrentUserStatus DOTAFriend.SoloFriend #FriendImage
{
	width: 64px;
	height: 64px;
}

DOTAFriend.SoloFriend #FriendDetails
{
	flow-children: none;
	margin-left: 10px;
	margin-right: 16px;
	width: 100%;
}
DOTAFriend.SoloFriend #FriendNameContainer
{
	width: 100%;
	margin-top: 4px;
}

DOTAFriend.SoloFriend #PartyWithFriendButton
{
	horizontal-align: right;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	opacity: 0.0;
	pre-transform-scale2d: 0.6;
	transition-property: opacity, pre-transform-scale2d, background-color, wash-color, transform, opacity-mask;
	transition-duration: 0.12s;
	border: 1px solid black;
	tooltip-body-position: 0% 50%;
}

#FriendsOpenParties DOTAFriend.SoloFriend #PartyWithFriendButton
{
	opacity: 1;
	pre-transform-scale2d: 1;
}

#FriendsOpenParties DOTAFriend.SoloFriend.ShowInviteInProgress #PartyWithFriendButton
{
	opacity: 0.05;
	pre-transform-scale2d: 1;
}


#FriendsOpenParties DOTAFriend.SoloFriend.ShowInviteInProgress:hover #PartyWithFriendButton
{
	opacity: 0.35;
	pre-transform-scale2d: 1;
	transition-duration: 0.35s;
}

#FriendsOpenParties DOTAFriend.SoloFriend.ShowInviteInProgress:hover #PartyWithFriendButton
{
	opacity: 0.35;
	pre-transform-scale2d: 1;
	transition-duration: 0.35s;
}

.PlayingOrOpenPartyCategory DOTAFriend.SoloFriend:hover
{
	background-color: #1e2428;
}

#HomeFriendsList .PlayingOrOpenPartyCategory DOTAFriend.SoloFriend:hover
{
	background-color: #45576444;
}

#FriendsOnline DOTAFriend.SoloFriend:hover
{
	background-color: black;
}

#FriendsOpenParties DOTAFriend.SoloFriend:hover
{
	background-color: #273132;
}

#FriendsOffline DOTAFriend.SoloFriend:hover
{
	background-color: #1b2023;
}

.PlayingOrOpenPartyCategory DOTAFriend.SoloFriend:hover #PartyWithFriendButton
{
	opacity: 1;
	pre-transform-scale2d: 1;
	transition-duration: 0.35s;
}

.PlayingOrOpenPartyCategory DOTAFriend.SoloFriend.ShowInviteInProgress:hover #PartyWithFriendButton
{
	opacity: 0.35;
}

#FriendsOnline DOTAFriend.SoloFriend:hover #PartyWithFriendButton
{
	opacity: 1.0;
	pre-transform-scale2d: 1;
	transition-duration: 0.0s;
}

#FriendsOnline DOTAFriend.SoloFriend.ShowInviteInProgress:hover #PartyWithFriendButton
{
	opacity: 0.35;
	pre-transform-scale2d: 1;
	transition-duration: 0.35s;
}

DOTAFriend.SoloFriend.NoPartyInvite #PartyWithFriendButton
{
	visibility: collapse;
}

#InviteButtonContainer
{
	width: 30px;
	height: 30px;
	horizontal-align: right;
	vertical-align: middle;
}

.PendingInviteItem #InviteButtonContainer
{
	visibility: collapse;
}

#PendingInvitesRadialSweepContainer
{
	width: 30px;
	height: 30px;
	border-radius: 3px;
	opacity-mask: url("s2r://panorama/images/masks/roundedbox_outline_psd.vtex");
	overflow: noclip;
	wash-color: #93ff8f;
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#PendingInvitesRadialSweep
{
	background-size: 1200%;
}

DOTAFriend.ShowInviteInProgress #PendingInvitesRadialSweepContainer
{
	opacity: 0.5;
}

DOTAFriend.ShowInviteInProgress #PartyWithFriendButton
{
	width: 30px;
	height: 30px;
	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
	opacity-mask: url("s2r://panorama/images/masks/plus_to_x_png.vtex")0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 60% 60%;
	transform: rotateZ( 0deg );

	background-color: none;
	
	opacity: 0.05;
	pre-transform-scale2d: 1;
	border: 1px solid transparent;
	wash-color: #93ff8f;
	margin: 0px;

	transition-property: background-color, wash-color, transform, opacity-mask, opacity;
	transition-duration: .35s;
	transition-timing-function: ease-in-out;
}

.ShowInviteInProgress #InviteButtonContainer:hover #PartyWithFriendButton
{
	opacity-mask: url("s2r://panorama/images/masks/plus_to_x_png.vtex")1;
	transform: rotateZ( 135deg );
	wash-color: red;
}

DOTAFriend.SoloFriend #FriendName Label
{
	font-weight: thin;
	font-size: 18px;
	vertical-align: middle;
}
DOTAFriend.SoloFriend #FriendRichPresence Label
{
	margin-top: 24px;
	font-size: 14px;
	letter-spacing: 0px;
	max-width: 183px;
}


/* CurrentPartyMember: used in the main UI display for the current user's party */
DOTAParty.CurrentParty DOTAFriend
{
	width: fit-children;
}
DOTAParty.CurrentParty DOTAFriend #FriendDetails
{
	visibility: collapse;
}
DOTAParty.CurrentParty DOTAFriend #FriendImagePanel
{
	width: 39px;
	height: 39px;
}
DOTAParty.CurrentParty DOTAFriend #EmptyPanel
{
	background-image: url("s2r://panorama/images/control_icons/friend_png.vtex");
	background-size: 26px 27px;
	wash-color: #53615f;
	background-color: #999999;
}

@keyframes 'PartyInviteAnimation'
{
	0%
	{
		opacity: 1.0;
	}

	50%
	{
		opacity: 0.5;
	}
	
	100%
	{
		opacity: 1.0;
	}
}

DOTAParty.CurrentParty DOTAFriend.PendingInvite #EmptyPanel
{
	animation-name: PartyInviteAnimation;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}


/* EditMode: used when managing friends, teams, guilds, etc. */
DOTAFriend.EditMode
{
	flow-children: right;
}
DOTAFriend.EditMode #FriendImagePanel
{
	width: 48px;
	height: 48px;
}
DOTAFriend.EditMode #FriendDetails
{
	flow-children: down;
	margin-left: 10px;
	width: 200px;
}
DOTAFriend.EditMode #PartyWithFriendButton
{
	visibility: collapse;
}
DOTAFriend.EditMode #FriendName Label
{
	font-weight: bold;
	font-size: 16px;
}
DOTAFriend.EditMode #FriendRichPresence Label
{
	font-size: 14px;
	margin-top: 2px;
}



.AcceptedMatch
{
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/status_icons/ready_up_accept_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	visibility: collapse;
}



.DeclinedMatch
{
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/status_icons/ready_up_deny_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	visibility: collapse;
}


/* CustomLobbyPlayer: an individual player in a custom lobby */
DOTAFriend.CustomLobbyPlayer
{
	margin-top: 4px;
	margin-bottom: 4px;
	width: 100%;
	tooltip-position: right;
	tooltip-body-position: 0% 50%;
	context-menu-position: right;
	context-menu-body-position: 0% 50%;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0%;
}

DOTAFriend.CustomLobbyPlayer #FriendImage
{
	width: 38px;
	height: 38px;
	box-shadow: #000000 0px 0px 4px 0px;
}

DOTAFriend.CustomLobbyPlayer #PartyWithFriendButton
{
	visibility: collapse;
}

DOTAFriend.CustomLobbyPlayer #FriendDetails
{
	margin-left: 6px;
	margin-right: 0px;
}

DOTAFriend.CustomLobbyPlayer #FriendName Label
{
	color: #ffffff;
	font-size: 19px;
	margin-left: 2px;
}

DOTAFriend.CustomLobbyPlayer #FriendNameContainer
{
	margin-top: 5px;
}

DOTAFriend.CustomLobbyPlayer #FriendRichPresence Label
{
	visibility: collapse;
}

/* PendingInvite: used to display a friend in the pending invite list */
DOTAFriend.PendingInvite
{
	flow-children: right;
}
DOTAFriend.PendingInvite #FriendImage
{
	width: 48px;
	height: 48px;
	box-shadow: #000000 0px 0px 5px 0px;
}
DOTAFriend.PendingInvite #FriendDetails
{
	flow-children: down;
	margin-left: 10px;
	margin-right: 16px;
	width: 200px;
}
DOTAFriend.PendingInvite #PartyWithFriendButton
{
	visibility: collapse;
}

DOTAFriend.PendingInvite #FriendName Label
{
	font-weight: thin;
	font-size: 18px;
	vertical-align: middle;
}
DOTAFriend.PendingInvite #FriendRichPresence Label
{
	margin-top: 2px;
	font-size: 14px;
}


DOTAFriend#ReportPlayer #FriendDetails Label
{
	color: white;

}