@import url("file://{resources}styles/battle_pass/current_battle_pass.css");


DOTAFriendsAndFoes
{
	height: 225px;
	width: 374px;
}

DOTAFriendsAndFoes.VerticalStyle
{
	height: 374px;
	width: 225px;
}

#BattlePassHeroData,
#BattlePassHeroUpsell
{
	width: 100%;
	height: 100%;
	/*background-color: darkColor&55;*/
	flow-children: down;
	border-top: 1px solid shadeColor;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #241C41), to( #1A202A));
}

.ContextMenuHeroInspect #BattlePassHeroData,
.ContextMenuHeroInspect #BattlePassHeroUpsell
{
	visibility: collapse;
}

.VerticalStyle #BattlePassHeroData
{
	flow-children: none;

}

#BattlePassHeroUpsell {
	background-image: url("s2r://panorama/images/hud/bp_recommender_upsell_psd.vtex");
}

#BattlePassHeroData,
.SelfGameEventVisible #BattlePassHeroUpsell
{
	visibility: collapse;
}

.SelfGameEventVisible #BattlePassHeroData
{
	visibility: visible;
}

.IsInBanPhase #BattlePassHeroData,
.IsInBanPhase #BattlePassHeroUpsell
{
	visibility: collapse;
}

.HeaderRow
{
	flow-children: right;
    margin: 15px 20px 0px 20px;
	width: 100%;
	height: 40px;
}

#UpsellMessaging {
	font-size: 20px;
	color: #ffffff;
	margin: 5px 20px;
	vertical-align: top;
	width: 70%;
	flow-children: down;
}

#UpsellText {
	font-size: 18px;
	margin-top: 10px;
	color: #ffffff;
	vertical-align: top;
}

#BattlePassText {
	color: ultraBrightColor;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
	margin-top: 5px;
	text-transform: uppercase;
}

.BattlePassIcon
{
	width: 24px;
	height: 26px;
	margin-right: 10px;
	margin-top: -5px;
	margin-left: -5px;
	vertical-align: center;

	background-image: bp_logo_small;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	wash-color: accentColorBright;
}

.DataTitlesContainer
{
	flow-children: down;	
	horizontal-align: left;
}

.DataTitle
{
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	text-align: left;
    font-weight: bold;
}

.DataSubtitle
{
	font-size: 12px;
	color: #A7CED730;
	font-weight: semi-bold;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 1px;
	transform: translateY(-5px);
}


.SummaryContainer
{
	flow-children: down;
	horizontal-align: right;
	width: 100%;
	height: 100%;
}

.DataNumber,
.DataNumberLarge
{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: semi-bold;
	horizontal-align: center;
}

.DataNumber
{
	font-size: 16px;
	font-weight: semi-bold;
	text-align: center;
	vertical-align: bottom;
	horizontal-align: center;
}


.HeroWinRateInfo.Positive .DataNumber,
.HeroWinRateInfo.Positive .DataNumberLarge,
.Positive .Outcome
{
	color: #8FED31;
}

.HeroWinRateInfo.Negative .DataNumber,
.HeroWinRateInfo.Negative .DataNumberLarge,
.Negative .Outcome
{
	color: #F05332;
}

.SummaryContainer .DataSubtitle,
.You
{
	color: #A7CED730;
	letter-spacing: 0.5px;
}

.AlliesContainer,
.EnemiesContainer
{
	height: 80px;
	width: 100%;
	padding: 5px 10px 5px 5px;
}

.AlliesContainer
{
	border-bottom: 1px solid black;
}

.VerticalStyle .AlliesContainer,
.VerticalStyle .EnemiesContainer
{
	width: 50%;
	height: 290px;
	padding: 0px;
	vertical-align: bottom;
	padding-left: 5px;
	margin-bottom: 5px;
}

.VerticalStyle .AlliesContainer
{
	border-bottom: 0px;
	border-right: 1px solid black;
	horizontal-align: left;


}

.VerticalStyle .EnemiesContainer
{
	/*margin-left: 120px;*/
	horizontal-align: right;
}

.AlliesRow,
.EnemiesRow
{
	width: 100%;
	height: 100%;
	padding-left: 40px;
	flow-children: right;
}

.VerticalStyle .AlliesRow,
.VerticalStyle .EnemiesRow
{
	flow-children: down;
	padding-left: 0px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 5px;
	height: fit-children;
	width: fit-children;
}

.EnemiesRow {
	margin-top: 5px;
}

.WinRateArrow
{
	width: 11px;
	height: 11px;
	background-image: url("s2r://panorama/images/hud/icn_performance_up_png.vtex");
    vertical-align: middle;
    horizontal-align: right;
    width: 100%;
    background-size: 11px 8px;
 	background-repeat: no-repeat;
    background-position: 95% 50%;
    visibility: collapse;
    margin-top: 5px;
	wash-color: #8FED31;
	brightness: 1.8;
}

.HeroWinRateInfo.Positive .WinRateArrow
{
	visibility: visible;
}

.HeroWinRateInfo.Negative .WinRateArrow
{
	background-image: url("s2r://panorama/images/hud/icn_performance_down_png.vtex");
	wash-color: red;
	
	visibility: visible;
}

.Vertical
{
	width: 70px;
	height: 20px;
	text-overflow: shrink;
	text-align: center;
	transform-origin: 100% 0%;
	transform: rotateZ(-90deg)  translateX( -55px ); //translateY( 30px );
	letter-spacing: 2px;
}

.VerticalStyle .Vertical
{
	vertical-align: center;
	text-align: right;
	letter-spacing: 3px;
	margin-bottom: 40px;
}

.VerticalStyle .DataNumber
{
	font-size: 14px;
}

.HeroWinRateInfo
{
	flow-children: none;
	width: 60px;
	height: 100%;
	
}

.VerticalStyle .HeroWinRateInfo
{
	width: 60px;
	height: 56px;
}

.VerticalStyle .Subheader
{
	visibility: collapse;
}

.HeroWinRateInfo DOTAHeroImage
{
	width: 32px;
	height: 32px;
	margin-bottom: 20px;
	vertical-align: bottom;
	horizontal-align: center;
}

.VerticalStyle .HeroWinRateInfo DOTAHeroImage
{
	width: 30px;
	height: 30px;
}

.InfoIcon 
{
	width: 20px;
	height: 20px;
	wash-color: accentColor;
	vertical-align: top;
	horizontal-align: right;
}

.VerticalStyle .InfoIcon
{
	margin: 0px;
	margin-left: 4px;
	margin-top: 3px;
	height: 14px;
	width: 14px;
}