
.TopLeftCell
{
	x: 0px;
	y: 0px;
}

.TopMiddleCell
{
	x: 352px;
	y: 0px;
}

.TopRightCell
{
	x: 704px;
	y: 0px;
}

.BottomLeftCell
{
	x: 0px;
	y: 248px;
}

.BottomMiddleCell
{
	x: 352px;
	y: 248px;
}

.BottomRightCell
{
	x: 704px;
	y: 248px;
}

/* When there's an upcoming Battle Cup, swap out the BPLeaderBoard cell with the Battle Cup cell */
/*#WeekendTourneyStatus,
.ShowWeekendTourneyCell #LastMatch
{
	visibility: collapse;
}
.SelfEventActive .ShowWeekendTourneyCell #WeekendTourneyStatus
{
	visibility: visible;
}*/

#LastMatch
{
		visibility: collapse;
}

.UnownedBattlePass
{
}

.OwnedBattlePass
{
	visibility: collapse;
}

.SelfEventActive .UnownedBattlePass
{
	visibility: collapse;
}

#TriviaGame
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.4s;
}

.TriviaVisible #TriviaGame
{
	opacity: 1.0;
}

/* If you own a battle pass, swap out the small battle pass cell with the treasure cell*/
/*#BattlePassSmall,
.SelfEventNotActive #BattlePassTreasure
{
	visibility: collapse;
}
.SelfEventNotActive #BattlePassSmall
{
	visibility: visible;
}*/

/* #FakePanelForPrecaching
{
	background-image: url("s2r://panorama/images/challenges/challengeimage_tutorial_psd.vtex");
}

#InitialDisplayPanelLogo
{
	horizontal-align: center;
	vertical-align: middle;
	width: 512px;
	height: 512px;

	background-color: #00000000;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	pre-transform-scale2d: 1.2;
	opacity: 0;
	saturation: 1;
	wash-color: black;
	background-image: url("s2r://panorama/images/textures/startup_background_logo_psd.vtex");

	transition-property: opacity, pre-transform-scale2d, wash-color, saturation;
	transition-duration: 1s; 
	transition-timing-function: ease-in-out;
}*/