
.TopLeftCell
{
	x: 0px;
	y: 0px;
}

.TopMiddleCell
{
	x: 352px;
	y: 0px;
}

.TopRightCell
{
	x: 704px;
	y: 0px;
}

.BottomLeftCell
{
	x: 0px;
	y: 248px;
}

.BottomMiddleCell
{
	x: 352px;
	y: 248px;
}

.BottomRightCell
{
	x: 704px;
	y: 248px;
}

/* When there's an upcoming Battle Cup, swap out a cell with the Battle Cup cell */
FrontpageWeekendTourneyButton,
.ShowWeekendTourneyCell #LastMatch,
.ShowWeekendTourneyCell #TopCustomGame
{
	visibility: collapse;
}
.ShowWeekendTourneyCell FrontpageWeekendTourneyButton
{
	visibility: visible;
}

#LastMatch
{
		visibility: visible;
}

.UnownedBattlePass
{
}

.OwnedBattlePass
{
	visibility: collapse;
}

.SelfEventActive .UnownedBattlePass
{
	visibility: collapse;
}

#TriviaGame
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.4s;
}

.TriviaVisible #TriviaGame
{
	opacity: 1.0;
}

.PlusSubscriber #DotaPlusDebut
{
	visibility: collapse;
}

.GCStatusVisible #DotaPlusDebut
{
	visibility: collapse;
}

#DotaPlusWelcomeQuests
{
	visibility: collapse;
}
.PlusSubscriber #DotaPlusWelcomeQuests:not(.FullyCompleted)
{
	visibility: visible;
}