
#FrontpageSingleItemTreasure
{
}

#FrontpageSingleItemTreasure > Panel
{
	perspective: 130px;
	perspective-origin: 40% 70%;

	transition-property: perspective, perspective-origin;
	transition-duration: 0.9s;
	transition-timing-function: ease-in-out;
}

#FrontpageSingleItemTreasure:hover #SingleBackgroundImage
{
 	brightness: 2;
}


#SingleBackgroundImage
{
	width: 100%;
	height: 100%;
	transform: translateZ( -700px ) translateY( -310px );
	pre-transform-scale2d: 8;
	background-image: url("s2r://panorama/images/banners/singleitemtreasure/single_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	
	transition-property: brightness;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	
}

.SingleItemBillboard
{
	width: 720px;
	height: 480px;
//	border: 2px solid black;
	border-radius: 0.1px;

	animation-name: SingleItemBillboardMotion;
	animation-delay: 0s;
	animation-duration: 13s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	
	opacity: 0;
	//transform: translateZ( 0px ) translateX( 0px ) translateY( 0px ) rotateY( 0deg ) rotateX( 0deg );
}

.ItemImage
{
	width: 75px;
	height: 105px;
	vertical-align: middle;
	horizontal-align: center;
	border: 1px solid black;
	border-radius: 0.1px;
	box-shadow: fill #00000099 -6px -6px 12px 12px;

	animation-name: none;
	animation-delay: 0s;
	animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

	background-image: url("s2r://panorama/images/banners/singleitemtreasure/item01_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

@keyframes 'SingleItemBillboardMotion'
{
	0%	{	transform: translateZ( -20px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -20px ) translateX( -40px ) translateY( -20px ) rotateY( -0deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -20px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item01
{
	opacity: 1;
	transform: translateZ( -10px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion1'
{
	0%	{	transform: translateZ( -20px ) translateX( -20px ) translateY( -40px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -20px ) translateX( -20px ) translateY( -40px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -20px ) translateX( -20px ) translateY( -40px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item02
{
	opacity: 1;
	transform: translateZ( -20px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion2'
{
	0%	{	transform: translateZ( -40px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -40px ) translateX( -20px ) translateY( -20px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -40px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item03
{
	opacity: 1;
	transform: translateZ( 0px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion3'
{
	0%	{	transform: translateZ( -0px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -0px ) translateX( -20px ) translateY( -20px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -0px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item04
{
	opacity: 1;
	transform: translateZ( -30px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion4'
{
	0%	{	transform: translateZ( -60px ) translateX( 40px ) translateY( -40px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -60px ) translateX( 40px ) translateY( -40px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -60px ) translateX( 40px ) translateY( -40px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item05
{
	opacity: 1;
	transform: translateZ( 0px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion5'
{
	0%	{	transform: translateZ( -0px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -0px ) translateX( -20px ) translateY( -20px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -0px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item06
{
	opacity: 1;
	transform: translateZ( -10px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion6'
{
	0%	{	transform: translateZ( -20px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -20px ) translateX( -20px ) translateY( -20px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -20px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item07
{
	opacity: 1;
	transform: translateZ( -20px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion7'
{
	0%	{	transform: translateZ( -40px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -40px ) translateX( -20px ) translateY( -20px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -40px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item08
{
	opacity: 1;
	transform: translateZ( 10px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion8'
{
	0%	{	transform: translateZ( 20px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( 20px ) translateX( -20px ) translateY( -20px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( 20px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item09
{
	opacity: 1;
	transform: translateZ( -10px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion9'
{
	0%	{	transform: translateZ( -20px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -20px ) translateX( -20px ) translateY( -20px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -20px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item10
{
	opacity: 1;
	transform: translateZ( -40px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion10'
{
	0%	{	transform: translateZ( -50px ) translateX( -20px ) translateY( -100px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( -50px ) translateX( -20px ) translateY( -100px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( -50px ) translateX( -20px ) translateY( -100px ) rotateY( -10deg ) rotateX( 3deg ); }
}

#Item11
{
	opacity: 1;
	transform: translateZ( 10px ) translateX( -40px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg );
}
@keyframes 'SingleItemBillboardMotion11'
{
	0%	{	transform: translateZ( 20px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
	50%	{	transform: translateZ( 20px ) translateX( -20px ) translateY( -20px ) rotateY( -6deg ) rotateX( 4deg ); }				
	100% {	transform: translateZ( 20px ) translateX( -20px ) translateY( -20px ) rotateY( -10deg ) rotateX( 3deg ); }
}


#Item01 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item10_png.vtex"); }
#Item02 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item02_png.vtex"); }
#Item03 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item03_png.vtex"); }
#Item04 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item04_png.vtex"); }
#Item05 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item05_png.vtex"); }
#Item06 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item07_png.vtex"); }
#Item07 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item09_png.vtex"); }
#Item08 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item06_png.vtex"); }
#Item09 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item08_png.vtex"); }
#Item10 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item11_png.vtex"); }
#Item11 .ItemImage { background-image: url("s2r://panorama/images/banners/singleitemtreasure/item01_png.vtex"); }

#Item01 .ItemImage { transform: translateX( -60px ) translateY( -60px );	animation-name: ItemImage01;	animation-duration: 9.1s;}
#Item02 .ItemImage { transform: translateX( 60px ) translateY( 60px ); 		animation-name: ItemImage02;	animation-duration: 17.1s;}
#Item03 .ItemImage { transform: translateX( 130px ) translateY( 60px ); 	animation-name: ItemImage03; 	animation-duration: 12s;}
#Item04 .ItemImage { transform: translateX( 120px ) translateY( -60px ); 	animation-name: ItemImage04; 	animation-duration: 18.5s;}
#Item05 .ItemImage { transform: translateX( -130px ) translateY( -60px );	animation-name: ItemImage05; 	animation-duration: 9.5s;}
#Item06 .ItemImage { transform: translateX( -50px ) translateY( -20px );	animation-name: ItemImage06; 	animation-duration: 12.0s;}
#Item07 .ItemImage { transform: translateX( 0px ) translateY( 40px ); 	 	animation-name: ItemImage07;	animation-duration: 11.1s;}
#Item08 .ItemImage { transform: translateX( -130px ) translateY( 40px );	animation-name: ItemImage08; 	animation-duration: 22.3s;}
#Item09 .ItemImage { transform: translateX( -80px ) translateY( 60px ); 	animation-name: ItemImage09; 	animation-duration: 10.7s;}
#Item10 .ItemImage { transform: translateX( 10px ) translateY( -60px ); 	animation-name: ItemImage10; 	animation-duration: 9.7s;}
#Item11 .ItemImage { transform: translateX( 60px ) translateY( 20px ); 		animation-name: ItemImage11; 	animation-duration: 15.1s;}


@keyframes 'ItemImage01' {	0%	{	transform: translateX( -60px ) translateY( -60px );  }   50% {	transform: translateX( -40px ) translateY( -60px );  }	100% {	transform: translateX( -60px ) translateY( -60px );  } }
@keyframes 'ItemImage02' {	0%	{	transform: translateX( 10px ) translateY( 60px );   }    50% {	transform: translateX( 20px ) translateY( 60px );   }	100% {	transform: translateX( 10px ) translateY( 60px );   } }
@keyframes 'ItemImage03' {	0%	{	transform: translateX( 130px ) translateY( 60px );   }   50% {	transform: translateX( 120px ) translateY( 60px );   }	100% {	transform: translateX( 130px ) translateY( 60px );  } }
@keyframes 'ItemImage04' {	0%	{	transform: translateX( 120px ) translateY( -60px );  }   50% {	transform: translateX( 120px ) translateY( -50px );  }	100% {	transform: translateX( 120px ) translateY( -60px );   } }
@keyframes 'ItemImage05' {	0%	{	transform: translateX( -130px ) translateY( -60px ); }   50% {	transform: translateX( -120px ) translateY( -60px ); }	100% {	transform: translateX( -130px ) translateY( -60px );  } }
@keyframes 'ItemImage06' {	0%	{	transform: translateX( -50px ) translateY( -20px );  }   50% {	transform: translateX( -50px ) translateY( -20px );  }	100% {	transform: translateX( -50px ) translateY( -20px );  } }
@keyframes 'ItemImage07' {	0%	{	transform: translateX( -20px ) translateY( 20px );   }   50% {	transform: translateX( -30px ) translateY( 20px );   }	100% {	transform: translateX( -20px ) translateY( 20px );   } }
@keyframes 'ItemImage08' {	0%	{	transform: translateX( -130px ) translateY( 40px );  }   50% {	transform: translateX( -130px ) translateY( 50px );  }	100% {	transform: translateX( -130px ) translateY( 40px );  } }
@keyframes 'ItemImage09' {	0%	{	transform: translateX( -80px ) translateY( 60px );  }   50% {	transform: translateX( -70px ) translateY( 60px );  }	100% {	transform: translateX( -80px ) translateY( 60px );  } }
@keyframes 'ItemImage10' {	0%	{	transform: translateX( 40px ) translateY( -60px );  }   50% {	transform: translateX( 40px ) translateY( -50px );  }	100% {	transform: translateX( 40px ) translateY( -60px );  } }
@keyframes 'ItemImage11' {	0%	{	transform: translateX( 60px ) translateY( 20px );  }   50% {	transform: translateX( 50px ) translateY( 20px );  }	100% {	transform: translateX( 60px ) translateY( 20px );  } }


#Item01.SingleItemBillboard { animation-name: SingleItemBillboardMotion1; }
#Item02.SingleItemBillboard { animation-name: SingleItemBillboardMotion2; }
#Item03.SingleItemBillboard { animation-name: SingleItemBillboardMotion3; }
#Item04.SingleItemBillboard { animation-name: SingleItemBillboardMotion4; }
#Item05.SingleItemBillboard { animation-name: SingleItemBillboardMotion5; }
#Item06.SingleItemBillboard { animation-name: SingleItemBillboardMotion6; }
#Item07.SingleItemBillboard { animation-name: SingleItemBillboardMotion7; }
#Item08.SingleItemBillboard { animation-name: SingleItemBillboardMotion8; }
#Item09.SingleItemBillboard { animation-name: SingleItemBillboardMotion9; }
#Item10.SingleItemBillboard { animation-name: SingleItemBillboardMotion10; }
#Item11.SingleItemBillboard { animation-name: SingleItemBillboardMotion11; }


#SingleTreasureIcon
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 22px;
	margin-right: 6px;
	overflow: noclip;
	width: 40%;
	height: 40%;
	background-image: url("s2r://panorama/images/banners/singleitemtreasure/singletreasure_icon_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

}
