
//---------------------------------------------------------------------------

#FrontpageSetTreasure
{
}

#FrontpageSetTreasure:hover #SetBackgroundImage
{
	brightness: 1.6;
}

#FrontpageSetTreasure:hover #SetBackground
{
    perspective: 350px;
    perspective-origin: 70% 65%;
}


#SetBackgroundImage
{
	width: 100%;
	height: 100%;
	transform: translateZ( -700px ) translateY( -76px );
	pre-transform-scale2d: 3;
	background-image: url("s2r://panorama/images/banners/settreasure/set_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	
	transition-property: brightness;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	
}

#SetBackground
{
	width: 100%;
	background-image: url("s2r://panorama/images/banners/settreasure/set_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	perspective: 400px;
	perspective-origin: 50% 64%;

	transition-property: perspective, perspective-origin;
	transition-duration: 0.9s;
	transition-timing-function: ease-in-out;
}

.SetBillboard:hover
{
	//brightness: 1.6;
}

.SetBillboard
{
	width: 85px;
	height: 330px;
	border: 2px solid black;
	border-radius: 0.1px;
	//box-shadow: fill #00000077 -8px -8px 16px 16px;

	background-image: url("s2r://panorama/images/banners/settreasure/set01_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	
	transition-property: brightness;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;

	animation-name: none;
    animation-delay: 0s;
	animation-duration: 12s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	
	opacity: 0;
}

.SetBillboard_Ref
{
	blur: gaussian (0.3, 3, 8);
	opacity: 1;
	box-shadow: none;
	//brightness: .73;
	saturation: .72;
	wash-color: #7A6B98;
	
	transition-property: brightness;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#Set01
{
	animation-name: Set01BillboardMotion;
	opacity: 1;
	animation-delay: 0.4s;
	background-image: url("s2r://panorama/images/banners/settreasure/set06_png.vtex");
	transform: translateZ( -40px ) translateX( 420px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg );
}

@keyframes 'Set01BillboardMotion'
{
	0%	{	transform: translateZ( -40px ) translateX( 420px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: translateZ( -55px ) translateX( 420px ) translateY( -20px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: translateZ( -40px ) translateX( 420px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
}


#Set01_Ref
{
	animation-name: Set01BillboardMotion_Ref;
	animation-delay: 0.4s;
	background-image: url("s2r://panorama/images/banners/settreasure/set06_png.vtex");
	transform: scaleY( -1 ) translateZ( -40px ) translateX( 420px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg );
}

@keyframes 'Set01BillboardMotion_Ref'
{
	0%	{	transform: scaleY( -1 ) translateZ( -40px ) translateX( 420px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: scaleY( -1 ) translateZ( -55px ) translateX( 420px ) translateY( 210px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: scaleY( -1 ) translateZ( -40px ) translateX( 420px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#Set02
{
	animation-name: Set02BillboardMotion;
	opacity: 1;
	animation-delay: 0.8s;
	background-image: url("s2r://panorama/images/banners/settreasure/set05_png.vtex");
	transform: translateZ( -20px ) translateX( 330px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg );
}

@keyframes 'Set02BillboardMotion'
{
	0%	{	transform: translateZ( -20px ) translateX( 330px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: translateZ( -35px ) translateX( 330px ) translateY( -20px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: translateZ( -20px ) translateX( 330px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#Set02_Ref
{
	animation-name: Set02BillboardMotion_Ref;
	animation-delay: 0.8s;
	background-image: url("s2r://panorama/images/banners/settreasure/set05_png.vtex");
	transform: scaleY( -1 ) translateZ( -20px ) translateX( 330px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg );
}

@keyframes 'Set02BillboardMotion_Ref'
{
	0%	{	transform: scaleY( -1 ) translateZ( -20px ) translateX( 330px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: scaleY( -1 ) translateZ( -35px ) translateX( 330px ) translateY( 210px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: scaleY( -1 ) translateZ( -20px ) translateX( 330px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#Set03
{
	animation-name: Set03BillboardMotion;
	opacity: 1;
	animation-delay: 1.2s;
	background-image: url("s2r://panorama/images/banners/settreasure/set04_png.vtex");
	transform: translateZ( -0px ) translateX( 240px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg );
}

@keyframes 'Set03BillboardMotion'
{
	0%	{	transform: translateZ( -0px ) translateX( 240px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: translateZ( -17px ) translateX( 240px ) translateY( -20px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: translateZ( -0px ) translateX( 240px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#Set03_Ref
{
	animation-name: Set03BillboardMotion_Ref;
	animation-delay: 1.2s;
	background-image: url("s2r://panorama/images/banners/settreasure/set04_png.vtex");
	transform: scaleY( -1 ) translateZ( 0px ) translateX( 240px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); 
}

@keyframes 'Set03BillboardMotion_Ref'
{
	0%	{	transform: scaleY( -1 ) translateZ( -0px ) translateX( 240px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: scaleY( -1 )  translateZ( -17px ) translateX( 240px ) translateY( 210px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: scaleY( -1 )  translateZ( -0px ) translateX( 240px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#Set04
{
	animation-name: Set04BillboardMotion;
	opacity: 1;
	animation-delay: 1.61s;
	background-image: url("s2r://panorama/images/banners/settreasure/set03_png.vtex");
	transform: translateZ( 20px ) translateX( 150px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); 
}

@keyframes 'Set04BillboardMotion'
{
	0%	{	transform: translateZ( 20px ) translateX( 150px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: translateZ( 3px ) translateX( 150px ) translateY( -20px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: translateZ( 20px ) translateX( 150px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#Set04_Ref
{
	animation-name: Set04BillboardMotion_Ref;
	animation-delay: 1.6s;
	background-image: url("s2r://panorama/images/banners/settreasure/set03_png.vtex");
	transform: scaleY( -1 ) translateZ( 20px ) translateX( 150px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg );
}

@keyframes 'Set04BillboardMotion_Ref'
{
	0%	{	transform: scaleY( -1 ) translateZ( 20px ) translateX( 150px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: scaleY( -1 ) translateZ( 3px ) translateX( 150px ) translateY( 210px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: scaleY( -1 ) translateZ( 20px ) translateX( 150px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#Set05
{
	animation-name: Set05BillboardMotion;
	opacity: 1;
	animation-delay: 2.01s;
	background-image: url("s2r://panorama/images/banners/settreasure/set02_png.vtex");
	transform: translateZ( 40px ) translateX( 70px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); 
}

@keyframes 'Set05BillboardMotion'
{
	0%	{	transform: translateZ( 40px ) translateX( 70px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: translateZ( 23px ) translateX( 70px ) translateY( -20px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: translateZ( 40px ) translateX( 70px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#Set05_Ref
{
	animation-name: Set05BillboardMotion_Ref;
	animation-delay: 2.0s;
	background-image: url("s2r://panorama/images/banners/settreasure/set02_png.vtex");
	transform: scaleY( -1 ) translateZ( 40px ) translateX( 70px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg );
}

@keyframes 'Set05BillboardMotion_Ref'
{
	0%	{	transform: scaleY( -1 ) translateZ( 40px ) translateX( 70px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: scaleY( -1 ) translateZ( 23px ) translateX( 70px ) translateY( 210px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: scaleY( -1 ) translateZ( 40px ) translateX( 70px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#Set06
{
	animation-name: Set06BillboardMotion;
	opacity: 1;
	animation-delay: 2.41s;
	background-image: url("s2r://panorama/images/banners/settreasure/set01_png.vtex");
	transform: translateZ( 60px ) translateX( -10px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg );
}

@keyframes 'Set06BillboardMotion'
{
	0%	{	transform: translateZ( 60px ) translateX( -10px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: translateZ( 43px ) translateX( -10px ) translateY( -20px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: translateZ( 60px ) translateX( -10px ) translateY( -20px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#Set06_Ref
{
	animation-name: Set06BillboardMotion_Ref;
	animation-delay: 2.4s;
	background-image: url("s2r://panorama/images/banners/settreasure/set01_png.vtex");
	transform: scaleY( -1 ) translateZ( 60px ) translateX( -10px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg );
}

@keyframes 'Set06BillboardMotion_Ref'
{
	0%	{	transform: scaleY( -1 ) translateZ( 60px ) translateX( -10px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
	50%	{	transform: scaleY( -1 ) translateZ( 43px ) translateX( -10px ) translateY( 210px ) rotateY( 33deg ) rotateX( 5deg ); }				
	100% {	transform: scaleY( -1 ) translateZ( 60px ) translateX( -10px ) translateY( 210px ) rotateY( 30deg ) rotateX( 5deg ); }
}

#TreasureIcon
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 22px;
	margin-right: 6px;
	overflow: noclip;
	width: 40%;
	height: 40%;
	background-image: url("s2r://panorama/images/banners/settreasure/settreasure_icon_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

}

