
DOTAFrontpageVideoStreamTwitch
{
	flow-children: down;
}

#Header
{
	width: 100%;
	height: 32px;
	flow-children: right;

	background-color: black;
}

#Live
{
	margin-top: 5px;
	margin-left: 5px;

	vertical-align: top;
	horizontal-align: right;

	text-transform: uppercase;

	color: #64c390;
	font-weight: bold;
	letter-spacing: 1px;

	visibility: collapse;
}

.BroadcastLive #Live
{
	visibility: visible;
}

#LeagueName
{
	margin-top: 5px;
	margin-left: 12px;

	vertical-align: top;
	horizontal-align: left;

	text-transform: uppercase;

	color: white;
	letter-spacing: 1px;

	transition-property: text-shadow;
	transition-duration: 0.1s;
}
#LeagueName:hover
{
	text-shadow: 0px 0px 6px #f18227;
}
#LeagueName:active
{
	text-shadow: 0px 0px 6px 2.0 #f18227;
}


#HeaderFiller
{
	width: fill-parent-flow( 1.0 );
}

#HideButton
{
	flow-children: right;
	background-color: #1c1c1c;
	height: 100%;
	width: 160px;
	padding: 0px 16px;

	visibility: collapse;
}

.CanStreamVideo.BroadcastLive #HideButton
{
	visibility: visible;
}

#HideButtonContents
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
}

#HideButtonIcon
{
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/control_icons/eye_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	wash-color: #82807e;
}

#HideButton Label
{
	margin: 4px 0px 0px 0px;
	letter-spacing: 2px;
	text-transform: uppercase;
	vertical-align: middle;
	color: #82807e;
}
#HideButton .ShowText
{
	visibility: collapse;
}

.UserHideVideo #HideButton .ShowText
{
	visibility: visible;
}
.UserHideVideo #HideButton .HideText
{
	visibility: collapse;
}

#HideButton:hover
{
	brightness: 1.5;
}
#HideButton:active
{
	brightness: 2.0;
}

#MainContents
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.ContentsPanel
{
	width: 100%;
	height: 100%;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.ShowingStream #StreamingContainer
{
	background-color: black;
	opacity: 1.0;
}

#InlineVideoPanel
{
	width: 100%;
	height: 100%;
}

#NotStreamingContainer
{
	background-image: url("s2r://panorama/images/front_page/boston_2016_bg_png.vtex");
	background-size: cover;
}

DOTAFrontpageVideoStreamTwitch:not(.ShowingStream) #NotStreamingContainer
{
	opacity: 1.0;
}

#NotStreamingContents
{
	flow-children: down;
	vertical-align: middle;
	horizontal-align: center;
}

#LogoImage
{
	width: 500px;
	height: 200px;

	margin-left: -10px;
	background-image: url("s2r://panorama/images/front_page/boston_2016_logo_small_png.vtex");

	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	horizontal-align: center;
	margin-bottom: 16px;

	transition-property: brightness;
	transition-duration: 0.1s;
}

#LogoImage:hover
{
	brightness: 1.5;
}
#LogoImage:active
{
	brightness: 2.0;
}

.Season_International2016 #LogoImage
{
	background-image: url("s2r://panorama/images/compendium/international_logo_psd.vtex");
}

.Season_International2016 #NotStreamingContainer
{
	background-image: url("s2r://panorama/images/front_page/ti6_video_bg_psd.vtex");
}

.Season_International2016 .BroadcastStatus
{
	color: #A9372E;
}

.BroadcastStatus
{
	color: #5a9124;
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	letter-spacing: 3px;
}

#BroadcastInProgress, .BroadcastLive #BroadcastWillResume
{	
	visibility: collapse;
}

.BroadcastLive #BroadcastInProgress
{
	visibility: visible;
}

#BroadcastInProgress
{
	horizontal-align: center;
	flow-children: down;
}

#BroadcastWillResume
{
	horizontal-align: center;
	flow-children: down;
}

.WatchInBrowserLink
{
	margin-top: 5px;
	flow-children: right;
	horizontal-align: center;
}
.WatchInBrowserLink > .ExpandIcon
{
	width: 18px;
	height: 18px;
}
.WatchInBrowserLink > Label
{
	text-transform: uppercase;
	color: #888;
	vertical-align: middle;
}
.WatchInBrowserLink:hover
{
	brightness: 2.0;
}
.WatchInBrowserLink:active
{
	brightness: 1.5;
}

.WatchInBrowserLink.PreviousMatches
{
	visibility: collapse;
}

.HasPreviousDayURL .WatchInBrowserLink.PreviousMatches
{
	visibility: visible;
	margin-top: 30px;
	box-shadow: -4px -4px 8px 8px black;
	transition-property: brightness;
	transition-duration: .2s;
}

.HasPreviousDayURL .WatchInBrowserLink.PreviousMatches > Label
{
	color: white;
	margin-top: 4px;
	margin-right: 8px;
	margin-bottom: 2px;
	
}

#InlineVideoPanel
{
	width: 100%;
	height: 387px;

	border-width: -3px;
}

#Footer
{
	width: 100%;
	background-color: black;
	padding: 8px 12px;
	flow-children: right;
}

.FooterText
{
	flow-children: down;
	vertical-align: middle;
}

.FooterText > Label
{
	color: #5a5a5a;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
}

/* We mostly just reuse the PopupButton style, but override a few small bits */


.PopupButton
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 2px;
}
.PopupButton Label
{
	font-size: 14px;
	text-transform: uppercase;
	color: #888;
	padding: 0px;
}

.PopupButton, #ViewDetailsButton  Label
{
	font-size: 14px;
	text-transform: uppercase;
	color: #888;
	padding-left: 10px;
	padding-right: 6px;
	horizontal-align: center;
	
}

.PopupButton, #ViewDetailsButton
{
	min-width: 110px;
	
	background-color: none;
	text-transform: uppercase;
	color: #888;
	
	border: 1px solid #66666655;
	
	padding-left: 0px;
	padding-right: 0px;
	padding-top:0px;
	
	margin-top: 6px;	
}

#ViewDetailsButton
{
	transition-property: brightness;
	transition-duration: .2s;
}

#ViewDetailsButton:hover
{
	brightness: 3.0;
}

.ExpandIcon
{
	background-image: url("s2r://panorama/images/control_icons/arrow_popout_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	vertical-align: center;
	margin-top: -3px;
	margin-left: 5px;
}

#WatchInBrowserButton .ExpandIcon
{
	background-image: url("s2r://panorama/images/control_icons/arrow_popout_png.vtex");
	background-repeat: no-repeat;
	background-size: 80% 80%;
	vertical-align: center;
	margin-top: 2px;
}

#WatchInBrowserButton
{
	width: 150px;
	flow-children: right;
	width: fit-children;
	height: 40px;
	margin-left: 0px;
	vertical-align: middle;
	tooltip-body-position: 50% 50%;

	visibility: collapse;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a6c75 ), to( #3d4a50 ) );
	border-top: 1px solid #ffffff44;
	border-right: 1px solid #4e5b60;
	border-left: 1px solid #4e5b60;
	border-bottom: 1px solid #00000088;
	
	transition-property: background-color;
}

#WatchInBrowserButton Label
{
	width: 100px;
	height: 100%;
	text-transform: uppercase;
	color: #ccc;
	vertical-align: center;
	text-align: center;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 3px;
	font-size: 14px;
	text-overflow: clip;
    line-height: 14px;
}

#WatchInBrowserButton > .ExpandIcon
{
	width: 30px;
	height: 30px;
	margin-top: 4px;
	vertical-align: middle;
	horizontal-align: center;
	margin-right: 4px;
}

#WatchInBrowserButton:hover
{
	brightness: 2.0;
}
#WatchInBrowserButton:active
{
	brightness: 1.5;
}

.BroadcastLive.ShowingStream #WatchInBrowserButton
{
	visibility: visible;
}