DOTAFrontpageDPCUpcoming
{
}

.CellTitle
{
    color: #528EA5;
}

.TeamRecord
{
    text-align: right;
    vertical-align: middle;
    color: bluegreyTextReg;
    font-weight: semi-bold;
    font-size: 16px;
}