
DOTAFrontpageTopLive
{
	width: 100%;
	height: 100%;
	flow-children: none;
	//padding: 16px;
}

DOTAFrontpageTopLive:hover .TeamLogo
{
	box-shadow: #6FBCE828 -6px -6px 12px 12px;
}

DOTAFrontpageTopLive:hover .CellBackground
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #293640 ), to( #000000 ) );
}


DOTAFrontpageTopLive:hover .Blur
{
	blur: gaussian( 0, 0, 0 );
}

DOTAFrontpageTopLive:hover #MapBuildingLayer,
DOTAFrontpageTopLive:hover #MapHeroLayer
{
	saturation: 1;
	wash-color: white;
}

.CellBackground
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #192229 ), to( #000000 ) );
}

.OverlayGradient
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #00000000 ), color-stop( 0.4, #00000000 ), color-stop( 0.6, #00000022 ), to( #000000aa ) );	
}

.Blur
{
	blur: gaussian( 0 );
	
	transition-property: blur, background-color;
	transition-duration: 0.45s;
	transition-timing-function: ease-in; 
}

#RankedMMR,
#Teams,
#Spectators,
#UnrankedMMR,
#Time,
#Score
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in; 
}

.RankedMatch #RankedMMR,
.LeagueMatch #Teams,
.UnrankedMatch #UnrankedMMR
{
	opacity: 1.0;
}

.RankedMatch #Spectators,
.LeagueMatch #Spectators,
.UnrankedMatch #Spectators,
.RankedMatch #Time,
.LeagueMatch #Time,
.UnrankedMatch #Time,
.RankedMatch #Score,
.LeagueMatch #Score,
.UnrankedMatch #Score
{
	opacity: 1.0;
}

.NoScore.RankedMatch #Score,
.NoScore.LeagueMatch #Score,
.NoScore.UnrankedMatch #Score
{
	opacity: 0.0;
}

#RankedMMR,
#UnrankedMMR
{
	vertical-align: bottom;
	text-shadow: 0px 0px 2px 3.0 #000000;
}

#Teams
{
	vertical-align: bottom;
}

#Time,
#Score
{
	horizontal-align: right;
	vertical-align: bottom;

	color: #cccccc;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: thin;
	margin-right: 12px;
	margin-bottom: 8px;
}

#Spectators
{
	horizontal-align: left;
	vertical-align: bottom;
	color: #7BCFFF;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: thin;
	margin-left: 12px;
	margin-bottom: 8px;
}

.GameInfo
{
	color: white;
	margin-bottom: 24px;
	margin-left: 12px;
	font-size: 18px;
	font-weight: thin;
}

#Team1
{
	horizontal-align: left;
	margin-left: 62px;
	transform: translateZ( 120px ) translateX( -110px ) translateY( 20px ) rotateY( 40deg ) rotateX( 3deg ) rotateZ( 0deg );	
}

#Team2
{
	horizontal-align: right;
	margin-right: 62px;
	transform: translateZ( 120px ) translateX( 110px ) translateY( 20px ) rotateY( -40deg ) rotateX( 3deg ) rotateZ( 0deg );
}

.Team1Visible #Team1,
.Team2Visible #Team2
{
	visibility: visible;
}

.TeamLogo
{
	background-color: black;
	width: 106px;
	height: width-percentage( 56.25% );
	vertical-align: center;
	margin: 8px;
	margin-bottom: 52px;
	visibility: collapse;
	border: 1px solid #32586D;
	border-radius: 0.1px;
	box-shadow: #6FBCE812 -6px -6px 12px 12px;

	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;   
}

#FrontPageTopLiveLeague .TeamLogo
{
	visibility: visible;
}
