
@define firstColumn: 0px;
@define secondColumn: 352px;
@define thirdColumn: 704px;

@define firstRow: 0px;
@define secondRow: 250px;

.TopLeftCell
{
	x: firstColumn;
	y: firstRow;
}

.TopMiddleCell
{
	x: secondColumn;
	y: firstRow;
}

.TopRightCell
{
	x: thirdColumn;
	y: firstRow;
}

.BottomLeftCell
{
	x: firstColumn;
	y: secondRow;
}

.BottomMiddleCell
{
	x: secondColumn;
	y: secondRow;
}

.BottomRightCell
{
	x: thirdColumn;
	y: secondRow;
}

.VisibleWhenBattlePassOwned
{
	visibility: collapse;
}
.SelfEventActive .VisibleWhenBattlePassOwned
{
	visibility: visible;
}

.SelfEventActive .HideWhenBattlePassOwned
{
	visibility: collapse;
}


/* When there's an upcoming Battle Cup, swap out a cell with the Battle Cup cell */
#BattleCup,
.ShowWeekendTourneyCell #LastMatch
{
	visibility: collapse;
}
.ShowWeekendTourneyCell #BattleCup
{
	visibility: collapse;
}
#LastMatch
{
	visibility: collapse;
}

#TriviaGame
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.4s;
}
.TriviaVisible #TriviaGame
{
	opacity: 1.0;
}

#HeroDebutBackgroundScene
{
	width: 800px;
	height: 840px;
	margin-top: -40px;
	margin-bottom: -400px;
	margin-right: -250px;
	margin-left: -250px;
	horizontal-align: right;
	z-index: 0;
	opacity-mask: url("s2r://panorama/images/masks/softedge_kid_invoker_frontpage_cell_png.vtex");
}

#HeroDebutFrontpageCell
{
	box-shadow: none;
}

#HeroDebutMask {
	background-image: url("s2r://panorama/images/masks/bottom_fade_png.vtex");
	width: 100%;
	height: 100%;
	margin-top: -50px;
	margin-bottom: -400px;
	margin-right: -250px;
	margin-left: -250px;
	horizontal-align: right;
	opacity: 0;
}

#UnderlordsEarlyAccess
{
	visibility: collapse;
}
.PartnerNone #UnderlordsEarlyAccess
{
	visibility: visible;
}


.HideForPerfectWorld
{
	visibility: collapse;
}
.PartnerNone .HideForPerfectWorld
{
	visibility: visible;
}