.FrontpageCell
{
	width: 336px;
	height: 234px;

	box-shadow: fill #00000055 -2px -2px 4px 4px;

	transition-property: box-shadow;
	transition-duration: 0.28s;
	transition-timing-function: ease-in-out;
}

.FrontpageCell:disabled
{
	visibility: collapse;
}

.FrontpageCell:hover
{
	box-shadow: fill #00000077 -4px -4px 8px 8px;
}

.TallCell
{
	height: 484px;
}

.NarrowCell
{
	width: 162px;
}

.FrontpageCellImage
{
	width: 100%;
	height: 100%;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.25s;
}

.FrontpageCell:hover > .FrontpageCellImage,
.FrontpageCell:hover > #OgreMagiArcanaBackground
{
	pre-transform-scale2d: 1.04;
}

.FrontpageCellHeader
{
	z-index: 1;
	color: #528EA5;
	background-color: black;
	font-size: 14px;
	margin: 0px;
	padding: 3px 6px 3px 6px;
	text-shadow: 0px 0px 8px 2.0 #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
	font-weight: medium;

	transition-property: color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in; 	
}

.DotaPlusFrontpageCell .FrontpageCellHeader
{
	color: dotaPlusGold;
}

.TI10FrontpageCell .FrontpageCellHeader
{
	color: #ffffff;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #B28948 ), to( #3A1803 ) );
	//color: gradient( linear, 100% 0%, 0% 0%, from( shadeColor ), to( accentColor ) );
}

.DiretideFrontpageCell .FrontpageCellHeader
{
	color: gradient( linear, 0% 0%, 100% 0%, from( #BAE816 ), color-stop( 0.5, #FFF8B9  ), to( #BAE816 ) );
}

/* .SaleHeader .FrontpageCellHeader {
	background-color: #59B673;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ) );
	box-shadow: 0px 0px 10px 3.0 #00CC39;
	font-weight: semi-bold;
	font-size: 16px;
	//horizontal-align: right;

} */

.SaleHeader .FrontpageCellHeader Label {
	font-weight: semi-bold;
}



.FrontpageCell:hover > .FrontpageCellHeader
{
	color: #fff;
}

.FrontpageCellTint
{
	z-index: 1;
	vertical-align: bottom;
	width: 100%;
	height: 50%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.7, #0000003f  ), color-stop( 0.75, #0000003f  ), to( #000000ff ) );
	margin-bottom: -1px;
}

.FrontpageCellFooter
{
	z-index: 1;
	width: 100%;
	padding-top: 30px;
	flow-children: down;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.35, #00000000  ), to( #00000000 ) );

	transition-property: background-color;
	transition-duration: 0.25s;
}

.FrontpageCell:hover > .FrontpageCellFooter
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.35, #000000ff  ), to( #000000ff ) );
}

.FrontpageCell.DarkMoon:hover .FrontpageCellFooter
{
	background-color: none;
}

.FrontpageCellTitle
{
	color: #cccccc;
	font-size: 16px;
	margin-left: 12px;
	margin-bottom: 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 1px 3px 3.0 #000000;	
	z-index: 1;
}

.BattlePassFrontpageCell .FrontpageCellTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #07A003 ), to( #116977 ) );
}

.FrontpageCellText
{
	width: 100%;
	color: #808f8d;
	font-size: 16px;
	font-weight: thin;
	padding-left: 12px;
	padding-right: 8px;
	margin-bottom: 4px;
	opacity: 0.0;
	vertical-align: bottom;
	text-shadow: 0px 0px 4px 5.0 #000000;
	max-height: 60px;

	transition-property: opacity;
	transition-duration: 0.25s;
	transition-delay: 0.0s;
	transition-timing-function: linear;
}

.FrontpageCell:hover .FrontpageCellText
{
	opacity: 1.0;
}

.NoCellText .FrontpageCellText
{
	visibility: collapse;
}

.ReplayTrailerButton
{
	x: 3px;
	y: 500px;
	width: 336px;
	height: 32px;
	font-size: 13px;
	letter-spacing: 1px;
	horizontal-align: center;
	text-transform: uppercase;
	color: #748a60ff;
	text-align: center;
	text-overflow: shrink;
	transition-property: border, color;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
	font-family: titleFont;
	padding: 6px 16px;
	border: 1px solid #748a6055;
	background-color: #000a;
	text-shadow: 1px 1px 2px 2 black;
}

.ReplayTrailerButton:hover
{
	color:  #ACD854;
	border: 1px solid  #8bb13f;
}