
DOTAFrontpageProCircuit
{
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: #000000DD;
}

#LeagueName
{
	font-size: 18px;
	margin-left: 20px;
	width: 240px;
	height: 24px;
	text-align: center;
	text-overflow: shrink;
	margin-top: 15px;
	color: white;
}

#LeagueLogo
{
	horizontal-align: center;
	width: 100%;
	height: 66%;

}

#URL
{
	margin: 4px 0px;
	color: #6894A1;

	transition-property: color;
	transition-duration: 0.05s;
	transition-timing-function: ease-in-out;
}

#URLContainer:hover #URL
{
	color: white;
}

#URLIcon
{
	margin-left: 0px;
	margin-bottom: 4px;
	wash-color: #6894A1;
	height: 12px;
	width: 12px;

	transition-property: wash-color;
	transition-duration: 0.05s;
	transition-timing-function: ease-in-out;
}

#URLContainer:hover #URLIcon
{
	wash-color: white;
}

