
DOTAFrontpageProPlaying
{
	width: 100%;
	height: 100%;
	flow-children: none;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #192229 ), to( #000000 ) );
}

DOTAFrontpageProPlaying:hover #ProAvatar
{
	border: 1px solid #3A5C7B;
}

DOTAFrontpageProPlaying:hover .Blur
{
	blur: gaussian( 0, 0, 0.1 );
}

DOTAFrontpageProPlaying:hover #MapBuildingLayer,
DOTAFrontpageProPlaying:hover #MapHeroLayer
{
	saturation: 1;
	wash-color: white;
}

.CellBackground
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #192229 ), to( #000000 ) );
}

.OverlayGradient
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #00000000 ), color-stop( 0.4, #00000000 ), color-stop( 0.6, #00000022 ), to( #000000aa ) );	
}

.Blur
{
	blur: gaussian( 0 );
	
	transition-property: blur, background-color;
	transition-duration: 0.45s;
	transition-timing-function: ease-in; 
}

#ProAvatar
{
	width: 72px;
	height: 72px;

	margin: 8px;
	border-radius: 6px;

	border: 1px solid #204360;
	background-color: #131B21;
	box-shadow: fill black -6px -6px 12px 12px;

	transition-property: border;
	transition-duration: 0.45s;
	transition-timing-function: ease-in; 
}

#Body
{
	flow-children: right;
	vertical-align: bottom;
	margin-bottom: 16px;
	margin-left: 16px;
}

#Details
{
	flow-children: down;
	margin-top: 8px;
	margin-left: 8px;
}

#Details Label
{
	text-shadow: 0px 0px 2px 3.0 #000000;
}

.DetailLabels
{
	font-size: 12px;	
	text-transform: uppercase;
	color: #aaaaaa;
}

.DetailNames
{
	font-size: 16px;	
	color: white;
}
