DOTAFrontpageDPCLive
{
}

.CellTitle
{
    color: winnerGreen;
}

.GameScore
{
    text-align: right;
    vertical-align: middle;
    color: bluegreyTextReg;
    font-weight: semi-bold;
    font-size: 16px;

    visibility: collapse;
}

.DPCGameInfo
{
    opacity: 0.0;
}

.HasGameInfo .DPCGameInfo
{
    opacity: 1.0;
}

.GameScore
{
    visibility: collapse;
}

.HasGameStats.HasTeamScore .GameScore
{
    visibility: visible;
}

