
DOTAFrontpageGameplayPatch
{
	width: 100%;
	height: 100%;

}

#NumberImageContainer
{
	width: 100%;
	height: 100%;
	background-color: #3D1204;
	background-color: gradient( radial, 50% 50%, 0% 0%, 300px 300px, from( #3D1204 ), color-stop( .85, #000d ), to( #000d ) );	
}


#NumberImageContainer.color1 {	hue-rotation: 180deg; }
#NumberImageContainer.color2 {	hue-rotation: 30deg; }
#NumberImageContainer.color3 {	hue-rotation: 230deg; }
#NumberImageContainer.color4 {	hue-rotation: 280deg; }
#NumberImageContainer.color5 {	hue-rotation: 0deg; }



#PatchNumber
{
	font-size: 102px;
	font-weight: bold;
	color: black;
	text-align: center;
	horizontal-align: center;
	margin-left: 2px;
	margin-top: 20px;
	visibility: collapse;
}

#ViewDetails
{
	vertical-align: bottom;
	horizontal-align: middle;
	margin-bottom: 15px;
	z-index: 2;
}


#GamePlayPatchNumberContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: middle;
	margin-bottom: 42px;
	opacity-mask: url("s2r://panorama/images/front_page/700patchnumbers/patchnumber_mask_psd.vtex") 1;		
}

.PatchNumber
{
	width: 53px;
	height: 90px;
	background-image: url("s2r://panorama/images/front_page/700patchnumbers/0_psd.vtex");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
	margin-left: 2px;	
}

.0 { background-image: url("s2r://panorama/images/front_page/700patchnumbers/0_psd.vtex"); }
.1 { background-image: url("s2r://panorama/images/front_page/700patchnumbers/1_psd.vtex"); }
.2 { background-image: url("s2r://panorama/images/front_page/700patchnumbers/2_psd.vtex"); }
.3 { background-image: url("s2r://panorama/images/front_page/700patchnumbers/3_psd.vtex"); }
.4 { background-image: url("s2r://panorama/images/front_page/700patchnumbers/4_psd.vtex"); }
.5 { background-image: url("s2r://panorama/images/front_page/700patchnumbers/5_psd.vtex"); }
.6 { background-image: url("s2r://panorama/images/front_page/700patchnumbers/6_psd.vtex"); }
.7 { background-image: url("s2r://panorama/images/front_page/700patchnumbers/7_psd.vtex"); }
.8 { background-image: url("s2r://panorama/images/front_page/700patchnumbers/8_psd.vtex"); }
.9 { background-image: url("s2r://panorama/images/front_page/700patchnumbers/9_psd.vtex"); }

.a { background-image: url("s2r://panorama/images/front_page/700patchnumbers/a_psd.vtex"); }
.b { background-image: url("s2r://panorama/images/front_page/700patchnumbers/b_psd.vtex"); }
.c { background-image: url("s2r://panorama/images/front_page/700patchnumbers/c_psd.vtex"); }
.d { background-image: url("s2r://panorama/images/front_page/700patchnumbers/d_psd.vtex"); }
.e { background-image: url("s2r://panorama/images/front_page/700patchnumbers/e_psd.vtex"); }
.f { background-image: url("s2r://panorama/images/front_page/700patchnumbers/f_psd.vtex"); }
.g { background-image: url("s2r://panorama/images/front_page/700patchnumbers/g_psd.vtex"); }
.h { background-image: url("s2r://panorama/images/front_page/700patchnumbers/h_psd.vtex"); }
.i { background-image: url("s2r://panorama/images/front_page/700patchnumbers/i_psd.vtex"); }
.j { background-image: url("s2r://panorama/images/front_page/700patchnumbers/j_psd.vtex"); }
.k { background-image: url("s2r://panorama/images/front_page/700patchnumbers/k_psd.vtex"); }




#Period { background-image: url("s2r://panorama/images/front_page/700patchnumbers/period_psd.vtex"); }

.HideLetter
{
	visibility: collapse;
}

#700bg
{
	width: 100%;
	height: 100%;
}