
@define firstColumn: 0px;
@define secondColumn: 352px;
@define thirdColumn: 704px;

@define firstRow: 0px;
@define secondRow: 250px;

.TopLeftCell
{
	x: firstColumn;
	y: firstRow;
}

.TopMiddleCell
{
	x: secondColumn;
	y: firstRow;
}

.TopRightCell
{
	x: thirdColumn;
	y: firstRow;
}

.BottomLeftCell
{
	x: firstColumn;
	y: secondRow;
}

.BottomMiddleCell
{
	x: secondColumn;
	y: secondRow;
}

.BottomRightCell
{
	x: thirdColumn;
	y: secondRow;
}


/* Styles that are useful for Battle Pass related cells */
.VisibleWhenBattlePassOwned
{
	visibility: collapse;
}
.SelfEventActive .VisibleWhenBattlePassOwned
{
	visibility: visible;
}

.SelfEventActive .HideWhenBattlePassOwned
{
	visibility: collapse;
}

/* Styles that are useful for cells which are only visible for certain partner types */
.HideForPerfectWorld
{
	visibility: collapse;
}

.PartnerNone .HideForPerfectWorld
{
	visibility: visible;
}

/* Useful if you wrap a cell in a Countdown so that it is only visible sometimes */
.VisibleWhenCountdownActive
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.VisibleWhenCountdownActive.CountdownActive
{
	visibility: visible;
}

/* ------------------------------------------------------------------------- */
/*   Styles for individual Cells                                             */
/* ------------------------------------------------------------------------- */

/* When there's an upcoming Battle Cup, swap out a cell with the Battle Cup cell */
/*#BattleCup,
.ShowWeekendTourneyCell #LastMatch
{
	visibility: collapse;
}
.ShowWeekendTourneyCell #BattleCup
{
	visibility: visible;
}*/

#LastMatch, #BattleCup
{
	visibility: visible;
}


/* Trivia */
#TriviaGame
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.4s;
}
.TriviaVisible #TriviaGame
{
	opacity: 1.0;
}
