
DOTAFrontpageLastMatch
{
	width: 100%;
	height: 100%;

	background-color: gradient( linear, 100% 0%, 100% 100%, from( #192229 ), to( #000000 ) );
	transition-property: background-color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in; 
}

DOTAFrontpageLastMatch:hover
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #293640 ), to( #000000 ) );
}

DOTAFrontpageLastMatch:hover .DOTATodayCellHeader
{
	color: white;
}

DOTAFrontpageLastMatch:hover #Items
{
	saturation: 1;
	wash-color: white;
	brightness: 1;
}

#Date,
#Time,
#Details,
#ItemsHeader,
#Items
{
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in; 

	opacity: 1.0;
}

.DataPending #Date,
.DataPending #Time,
.DataPending #Details,
.DataPending #ItemsHeader,
.DataPending #Items
{
	opacity: 0.0;
}

.CarouselSelected #Time,
.DataPending.CarouselSelected #Time
{
	opacity: 0.0;
}

#Header
{
	flow-children: right;
}

#Details
{
	margin-top: 20px;
	flow-children: right;
	horizontal-align: left;
	margin-left: 32px;
}

#Details Label
{
	text-transform: uppercase;
	letter-spacing: 1px;
}


#HeroMovieContainer
{
	width: 80px;
	height: 80px;
	box-shadow: #00000066 -3px -3px 6px 6px;
	margin-left: 0px;
	margin-right: 12px;
	margin-top: 4px;
	overflow: clip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_sharper_png.vtex");
}

#Hero
{
	width: 120px;
	height: 160px;
	margin-left: -20px;
	margin-top: -32px;
}

#HeroName
{
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;	
}

#TextDetails
{
	flow-children: down;
}

.SmallerDetails
{
	flow-children: right;
}

Label.StatCategory
{
	color: #666666;
	text-transform: uppercase;
	
	font-size: 12px;

	min-width: 80px;
}

Label.StatValue
{
	color: #cccccc;

	font-size: 12px;
}

Label.StatValue.Green
{
	text-shadow: 0px 0px 12px 1.0 #39BE4A;
	color: #88ff88;
}

Label.StatValue.Red
{
	text-shadow: 0px 0px 12px 1.0 #BD1831;
	color: #dd4422;
}

#Win, #Loss, #NotScored
{
	visibility: collapse;
}

.IsWin #Win, .IsLoss #Loss, .IsNotScored #NotScored
{
	visibility: visible;
}

#Items
{
	flow-children: right;
	horizontal-align: center;
	//vertical-align: bottom;
	saturation: .95;
	brightness: .75;
	//wash-color: #73A6BDdd;

	transition-property: wash-color, saturation, brightness;
	transition-duration: 0.25s;
	transition-timing-function: ease-in; 
}

#ItemsHeader
{
	margin-left: 32px;
	margin-top: 18px;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;

}

.ItemImage
{
	width: 32px;
	height: 32px;
	
	margin-left: 8px;
	margin-right: 8px;
	border: 1px solid #19313E;
	background-color: #192229;
}

.DateTimeLabel
{
	color: #888888;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 5px;
	margin-left: 36px;
}

#RecentGames
{
	horizontal-align: right;
	text-align: center;
	vertical-align: bottom;
	margin-bottom: 6px;
	margin-right: 16px;
}

#RecentGames Label
{
	color: #528EA5;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;	
	
	transition-property: color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;	
}

#RecentGames:hover Label
{
	color: #62C3D2;
}

#RecentGames:hover .PanelSlideThumbArrow
{
	transform: translateX( 0px ) scaleX( -1 );
	wash-color: #62C3D2;
}

.PanelSlideThumbArrow
{
	width: 11px;
	height: 11px;
	transform: translateX( 3px ) scaleX( -1 );
	wash-color: #528EA5;
	vertical-align: top;
	margin-top: 2px;
}