
.TopLeftCell
{
	x: 0px;
	y: 0px;
}

.TopMiddleCell
{
	x: 352px;
	y: 0px;
}

.TopRightCell
{
	x: 704px;
	y: 0px;
}

.BottomLeftCell
{
	x: 0px;
	y: 248px;
}

.BottomMiddleCell
{
	x: 352px;
	y: 248px;
}

.BottomRightCell
{
	x: 704px;
	y: 248px;
}

/*
// Temporarily hide the last match cell
#LastMatch
{
	visibility: collapse;
}
*/

/* When there's an upcoming Battle Cup, swap out the BPLeaderBoard cell with the Battle Cup cell */
/*#WeekendTourneyStatus,
.ShowWeekendTourneyCell #BPLeaderBoard
{
    visibility: collapse;
}
.SelfEventActive.ShowWeekendTourneyCell #WeekendTourneyStatus
{
    visibility: visible;
}*/

.UnownedBattlePass
{
}

.OwnedBattlePass
{
	visibility: collapse;
}

.SelfEventActive .UnownedBattlePass
{
	visibility: collapse;
}

/*.SelfEventActive #LastMatch,*/
.SelfEventActive .OwnedBattlePass,
.SelfEventActive #ImmortalTreasure,
.SelfEventActive #SpectatorCarousel
{
	visibility: visible;
}

#TriviaGame
{
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.4s;
}

#TriviaGame.ShouldBeVisible
{
	opacity: 1.0;
}

/* If you own a battle pass, swap out the small battle pass cell with the treasure cell*/
/*#BattlePassSmall,
.SelfEventNotActive #BattlePassTreasure
{
	visibility: collapse;
}
.SelfEventNotActive #BattlePassSmall
{
	visibility: visible;
}*/

