
.TopLeftCell
{
	x: 0px;
	y: 0px;
}

.TopMiddleCell
{
	x: 352px;
	y: 0px;
}

.TopRightCell
{
	x: 704px;
	y: 0px;
}

.BottomLeftCell
{
	x: 0px;
	y: 248px;
}

.BottomMiddleCell
{
	x: 352px;
	y: 248px;
}

.BottomRightCell
{
	x: 704px;
	y: 248px;
}


/* When there's an upcoming Battle Cup, swap out the treasure cell with the Battle Cup cell */
#WeekendTourneyStatus,
.ShowWeekendTourneyCell #TopCustomGame
{
    visibility: collapse;
}
.ShowWeekendTourneyCell #WeekendTourneyStatus
{
    visibility: visible;
}


/* Swap out the spotlight sale with the battle pass cell if they don't own a battle pass */
#FrontpageCellBattlePass2016,
.SelfEventNotActive #SpotlightSale
{
	visibility: collapse;
}
.SelfEventNotActive #FrontpageCellBattlePass2016
{
	visibility: visible;
}


/* When there's an upcoming TrueSight, swap it in for the custom game of the day */
#MovieSeriesCell,
.ShowMovieSeriesPanel #TopCustomGame
{
	visibility: collapse;
}
.ShowMovieSeriesPanel #MovieSeriesCell
{
	visibility: visible;
}


#700Container
{
	width: 100%;
	height: 510px;
	
	vertical-align: bottom;
//	background-color: black;
	
}

#700Logo
{
	width: 360px;
	height: 148px;
	pre-transform-scale2d: .97;
	margin-bottom: 0px;
	wash-color: #FCD76D;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/front_page/700_logo_psd.vtex");
	background-size: contain;
	wash-color: #FBF5D9;
	opacity: 0;	
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;	
}

#700BG
{
	width: 100%;
	height: 480px;
	vertical-align: bottom;
	background-color: gradient( radial, 50% 50%, 0% 0%, 600px 600px, from( #C3661C46 ), color-stop( .5, #6A1E0A43 ), to( #000000a6 ) );	
}

#700Block:hover #700Logo
{
	opacity: 1;
}



#700Block:hover #700SubTitle
{
	opacity: 1;
}

#MKBlock,
#ArcanaBlock,
#TerrainBlock,
#700Block
{
	width: 400px;
	height: 480px;
	horizontal-align: center;
	vertical-align: bottom;

}

#MKBlock,
#ArcanaBlock,
#TerrainBlock
{
	width: 600px;
	height: 100%;
	horizontal-align: right;
	border: 1px;
	margin: 0px;
}

#ArcanaBlock
{
	height: 60%;	
	vertical-align: top;
	z-index: 2;
}

#TerrainBlock
{
	height: 60%;
	vertical-align: bottom;
	//z-index: -1;
}

#MKBlock
{
	margin-top: 2px;
	horizontal-align: left;
	z-index: 0;
	overflow: noclip;
}

.ScenePanel
{
	width: 100%;
	height: 480px;
	vertical-align: bottom;	
	opacity-mask: url("s2r://panorama/images/masks/matrix_mask_psd.vtex") 1;	
	opacity: 2;
}

#MKLabel,
#MKSubTitle,
#TerrainLabel,
#TerrainSubtitle,
#ArcanaLabel,
#ArcanaSubtitle,
#700SubTitle,
#700Label
{
	text-overflow: shrink;
	width: 345px;
	height: 32px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 194px;
	color: #FFDB6F;
	text-shadow: 0px 1px 16px 2.0 #CF5B15;
	
	transition-property: color, text-shadow, opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;		
}

#700SubTitle
{
	margin-top: 248px;
	opacity: 0;
}

#TerrainImage,
#ArcanaImage
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: top;
	background-image: url("s2r://panorama/images/front_page/700_mkarcana_psd.vtex");
	background-size: cover;
	background-position: 0px -45px;
	background-repeat: no-repeat;
	transform: translateX(100px);
	pre-transform-scale2d: 0.96;
	brightness: .97;

	transition-property: opacity, pre-transform-scale2d, brightness;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;	
}

#TerrainImage
{
	background-image: url("s2r://panorama/images/front_page/700_terrain_psd.vtex");
	background-size: 80%;
	background-position: 24% 100%;
}

#TerrainBlock:hover #TerrainImage,
#ArcanaBlock:hover #ArcanaImage
{
	pre-transform-scale2d: 1;
	brightness: 1.5;
}


#700Block:hover #700Label,
#MKBlock:hover #MKLabel,
#TerrainBlock:hover #TerrainLabel,
#ArcanaBlock:hover #ArcanaLabel

{
	color: white;
	text-shadow: 0px 1px 26px 4.0 #CF5B15;
}

#MKLabel,
#MKSubtitle
{
		horizontal-align: right;
		margin-top: 400px;
}

#TerrainLabel,
#TerrainSubtitle,
#ArcanaLabel,
#ArcanaSubtitle
{
	font-size: 16px;
	horizontal-align: right;
	margin-top: 155px;
}

#TerrainLabel
{
	margin-top: 200px;
}

#MKLabel,
#MKSubtitle
{
		horizontal-align: left;
}

#MKSubtitle,
#TerrainSubtitle,
#ArcanaSubtitle
{
		margin-top: 450px;
		font-size: 14px;
		color: #B4A983;
		text-shadow: 0px 1px 6px 1.0 #CF5B15;
}

#ArcanaSubtitle
{
		margin-top: 200px;
}

#TerrainSubtitle
{
	vertical-align: bottom;
	margin-top: 0px;
	margin-bottom: 13px;
}


#MKBlock:hover #MKImage
{
	brightness: 5;
}
#MKImage
{
	width: 100%;
	height: 100%;
	wash-color: #AC4E0Eaa;
	brightness: 2;
	transform: translateX(-140px);
	transition-property: brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;	
	opacity-mask: url("s2r://panorama/images/masks/rightfade_png.vtex") 1;		
}