DOTAFrontpageTrueSightButton
{
	flow-children: none;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #192229 ), to( #000000 ) );
	background-image: url("s2r://panorama/images/front_page/ads/movie_series_jpg.vtex");
	background-color: #09101B;
	background-position: 65% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

#Episode
{
	horizontal-align: center;
	vertical-align: top;

	margin-top: 110px;

	font-size: 24px;
	color: white;
	text-shadow: 0px 0px 8px 8.0 black;
}

#CountdownLabel,
#WatchLiveLabel,
#AvailableLabel
{
	horizontal-align: center;
	vertical-align: top;

	margin-top: 150px;

	font-size: 24px;
	color: white;
	text-shadow: 0px 0px 8px 8.0 black;

	visibility: collapse;
}

#WatchLiveLabel,
#AvailableLabel
{
	margin-top: 16px;
}

.Countdown #CountdownLabel,
.Active #WatchLiveLabel,
.Completed #AvailableLabel,
.Active .WatchLink,
.Completed .VideoLink
{
	visibility: visible;
}

.WatchLink,
.VideoLink
{
	font-size: 20px;
	color: #DDDDDD;

	text-shadow: 0px 0px 8px 8.0 black;

	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;

	visibility: collapse;
}

.WatchLink:hover,
.VideoLink:hover
{
	text-decoration: underline;
	color: white;
}

#Video
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 40px;

	font-size: 30px;
}

#WatchEnglish
{
	horizontal-align: left;
	vertical-align: bottom;

	margin-left: 60px;
	margin-bottom: 60px;
}

#WatchEnglishSubs
{
	horizontal-align: left;
	vertical-align: bottom;

	margin-left: 60px;
	margin-bottom: 20px;
}

#WatchRussian
{
	horizontal-align: left;
	vertical-align: bottom;

	margin-left: 200px;
	margin-bottom: 60px;
}

#WatchChinese
{
	horizontal-align: left;
	vertical-align: bottom;

	margin-left: 200px;
	margin-bottom: 20px;
}