

FrontpageWeekendTourneyButton
{
	flow-children: none;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #192229 ), to( #000000 ) );
	background-image: url("s2r://panorama/images/weekend_tourney/battlecup_homepage_cell_backer_psd.vtex");
	background-color: #09101B;
	background-position: 65% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: clip;
}

.BattleCupFreeWeekend FrontpageWeekendTourneyButton
{
	background-image: url("s2r://panorama/images/weekend_tourney/battlecup_homepage_cell_backer_free_psd.vtex");
}

FrontpageWeekendTourneyButton #WeekendTourneyCell {
    flow-children: down;
}


FrontpageWeekendTourneyButton #WeekendTourneyFreeCell
{
	flow-children: down;
	//background-color: red;
	background-position: 65% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: clip;
}

FrontpageWeekendTourneyButton WeekendTourneyStatusPanel
{
	width: 100%;
	background-color: none;
	flow-children: right;
}

#WeekendTourneyFreeCell WeekendTourneyStatusPanel 
{
    width: 120px;
	background-color: none;
	flow-children: right;
}

#ModelTest3
{
	width: 400px;
	height: 400px;
	horizontal-align: right;
	vertical-align: center;
	transform: translateX( 50px ) translateY( 117px ) ;
	margin-top: -60px;
	padding-top: 20px;
	//hue-rotation: 180deg;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
	//brightness: .7;
	opacity: 1;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-delay: 1.3s;
	transition-duration: .5s;
}

.BattleCupFreeWeekend #ModelTest3 
{
	width: 330px;
	height: 330px;
	horizontal-align: center;
	vertical-align: center;
	transform: translateX( 0px ) translateY( 109px ) ;
	//margin-top: -60px;
	//padding-top: 20px;
	//hue-rotation: 180deg;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
	//brightness: .7;
}

#WeekendTourneyCell,
#WeekendTourneyFreeCell
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

.BattleCupFreeWeekend FrontpageWeekendTourneyButton #WeekendTourneyCell,
FrontpageWeekendTourneyButton #WeekendTourneyFreeCell
{
    visibility: collapse;
}

.BattleCupFreeWeekend FrontpageWeekendTourneyButton #WeekendTourneyFreeCell
{
    visibility: visible;
}

#LeftColumn
{
	height: 100%;
}


.ShowGetStartedButton #FAQButton,
#GetStartedButton
{
    visibility: collapse;
}
.ShowGetStartedButton #GetStartedButton
{
    visibility: visible;
}

FrontpageWeekendTourneyButton Button
{
    border-top: 1px solid #644311;
    border-left: 1px solid #4d330d;
    border-right: 1px solid #4d330d;
    border-bottom: 1px solid #352309;
    //background-color: #00000022;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #a27d3633 ), to( #935c2033 ) );
    height: 31px;
    width: 160px;
    margin-left: 10px;
    //margin-top: 50px;
    transition-property: background-color;
    transition-duration: 0.1s;
	vertical-align: bottom;	
	margin-top: 3px;
	margin-bottom: 10px;
}

#WeekendTourneyFreeCell #FAQButton,
#WeekendTourneyFreeCell #GetStartedButton
{
    border: 0px;
    background-color: none;
    height: 14px;
	width: fit-children;
    transition-property: background-color;
    transition-duration: 0.1s;
	vertical-align: bottom;	
	horizontal-align: right;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 11px;
}

FrontpageWeekendTourneyButton Button:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #a27d3699 ), to( #935c2099 ) );
}

FrontpageWeekendTourneyButton Button Label
{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    text-align: center;
    horizontal-align: center;
    color: #e7bf70;
    letter-spacing: 1px;
    transition-property: color;
    transition-duration: 0.1s;
}

FrontpageWeekendTourneyButton #WeekendTourneyFreeCell Button Label
{
	padding: 0px;
}

FrontpageWeekendTourneyButton #WeekendTourneyFreeCell Button:not(:hover) Label
{
	color: #46a1ff;
}

FrontpageWeekendTourneyButton Button:hover Label
{
    color: white;
}

#LabelContainer
{
	margin-top: 16px;
}

#PlayersHeader
{
    text-align: left;
    color: #724c13;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 16px;
    letter-spacing: 1px;
}

#PlayersVal,
#BattlePassNotRequiredLabel,
#AlreadyOwnTicketLabel
{
    font-size: 16px;
    padding-left: 10px;
    color: #e7bf70;
    font-weight: bold;
    margin-top: -2px;
    letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 14;
}

#BattlePassNotRequiredLabel,
#AlreadyOwnTicketLabel
{
    text-align: left;
    color: #e7bf70;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 10px;
    letter-spacing: 1px;
	line-height: 14;
    animation-name: LabelPulse;
    animation-duration: 3.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes 'LabelPulse'
{
    0%
    {
       
		color: #e7bf70;
    }

    50%
    {
        
		color: #fff2d8;
    }

    100%
    {
       
		color: #e7bf70;
    }
}


#PlayersVal,
#PlayersHeader,
#BattlePassNotRequiredLabel,
#AlreadyOwnTicketLabel
{
    visibility: collapse;
}


FrontpageWeekendTourneyButton.HavePlayersLastWeek #PlayersHeader,
FrontpageWeekendTourneyButton.HavePlayersLastWeek #PlayersVal,
FrontpageWeekendTourneyButton.OwnsTicket #AlreadyOwnTicketLabel
{
    visibility: visible;
}

#FreeWeekendHeader
{
	text-transform: uppercase;
	color: gradient( linear, 100% 0%, 0% 0%, from( #8c9fff ), color-stop( 0.5, #9ae4ff ), to( #8c9fff ) );
	font-weight: bold;
	font-size: 22px;
	horizontal-align: left;
	text-align: left;
	line-height: 24px;
	//margin-top: 22px;
	margin-left: 11px;
}

#BottomContainer
{
	width: 100%;
	flow-children: right;
    vertical-align: bottom;
	//margin-top: 182px;
}