/* Most of the styling for this control just comes from frontpage_shared.css */
DOTAFrontpageDefaultButton
{
    width: 100%;
    height: 100%;
}

#SiltbreakerActOne #LogoContainer
{
    height: 50px;
    width: 310px;
    margin-top: 352px;
    horizontal-align: center;
}

#SiltbreakerActOne .Logo
{
    font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
    text-align: center;
    horizontal-align: center;
    text-transform: uppercase;
    text-shadow: 0px 3px 4px #000000;
    letter-spacing: 3px;
    font-size: 44px;
    text-overflow: shrink;
    color: gradient( linear, 0% 0%, 0% 100%, from( #ACC7CE ), color-stop( .3, #123038 ), color-stop( .3, #123038 ), color-stop( .8, #08536A ), to( #04FFD4 ) );
}

#SiltbreakerActOne .Logo.Rim
{
    transform: translateX(-1px) translateY(1px);
    text-shadow: 0px 0px 2px 2.0 #000;
    color: gradient( linear, 0% 0%, 0% 100%, from( #ACC7CE ), color-stop( .2, #08536A ), to( #04FFD4 ) );
}

#SiltbreakerActOne #ActTitleContainer
{
    height: 20px;
    width: 300px;
    margin-top: 400px;
    horizontal-align: center;
    text-align: center;
}

#SiltbreakerActOne .ActTitle
{
    horizontal-align: center;
    text-align: center;
    color: gradient( linear, 0% 0%, 100% 0%, from( #9C9A8555 ), to( #9C9A85 ) );
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 0px 2px 4px #000000;
    letter-spacing: 2px;
    font-weight: semi-bold;
}

#SiltbreakerActOne .ActTitle.Rim
{
    transform: translateX(-1px) translateY(1px);
    text-shadow: 0px 0px 2px 2.0 #000;
    color: gradient( linear, 0% 0%, 0% 100%, from( #ACC7CE ), color-stop( .2, #08536A ), to( #04FFD4 ) );
}

#NowAvailable
{
    height: 80px;
    width: 300px;
    margin-top: 430px;
    horizontal-align: center;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: gradient( linear, 0% 0%, 0% 100%, from( #fff ), to( #8f7 ) );
    text-overflow: shrink;
    line-height: 26px;
    text-shadow: #ffdb9b33 0px 0px 4px;
}

#SiltbreakerActOne:hover #NowAvailable
{
	color: white;
}