@define globalLineColorRegular: #3375ff;
@define globalLineColorColorBlind: #3375ff;
@define globalLineGradientFrom: #154A70;
@define globalLineGradientTo: #103854;
@define globalLineGradientFromColorBlind: #154A70;
@define globalLineGradientToColorBlind: #103854;

@define personalLineColorRegular: #FFFF62;
@define personalLineColorColorBlind: #65d9f7;
@define personalLineGradientFrom: #AAAA41;
@define personalLineGradientTo: #555520;
@define personalLineGradientFromColorBlind: #326C7B;
@define personalLineGradientToColorBlind: #4290A4;

.PlayerStatLineColor
{
	background-color: personalLineColorRegular;
}

.ColorBlindModeEnabled .PlayerStatLineColor
{
	background-color: personalLineColorColorBlind;
}


.GlobalStatLineColor
{
	background-color: globalLineColorRegular;
}

.ColorBlindModeEnabled .GlobalStatLineColor
{
	background-color: globalLineColorColorBlind;
}


.GlobalTooltipBackground
{
	background-color: gradient( linear, 90% 0%, 0% 0%, from( globalLineGradientFrom ), to( globalLineGradientTo ) );
}

.ColorBlindModeEnabled .GlobalTooltipBackground
{
	background-color: gradient( linear, 90% 0%, 0% 0%, from( globalLineGradientFromColorBlind ), to( globalLineGradientToColorBlind ) );
}


.PersonalTooltipBackground
{
	background-color: gradient( linear, 90% 0%, 0% 0%, from( personalLineGradientFrom ), color-stop(0.6,personalLineGradientTo), to( personalLineGradientTo ) );
}

.ColorBlindModeEnabled .PersonalTooltipBackground
{
	background-color: gradient( linear, 90% 0%, 0% 0%, from( personalLineGradientFromColorBlind ), color-stop(0.6,personalLineGradientToColorBlind), to( personalLineGradientToColorBlind ) );
}