/* DOTAGroupMemberSlot

   A DOTAGroupMemberSlot is used to show a party or lobby member's picture
*/


/* Styles that are shared by all types*/
DOTAGroupMemberSlot
{
    tooltip-position: top;
    tooltip-body-position: 50% 0%;
    context-menu-position: top;
    context-menu-body-position: 50% 0%;
    width: fit-children;
    height: fit-children;
	flow-children: down;
	vertical-align: middle;
    overflow: noclip;
}

.AvatarRows2 DOTAGroupMemberSlot,
.AvatarRows3 DOTAGroupMemberSlot,
.AvatarRows4 DOTAGroupMemberSlot,
.AvatarRows5 DOTAGroupMemberSlot
{
    vertical-align: top;
}

DOTAGroupMemberSlot #FriendImageContainer
{
    horizontal-align: center;
    width: 48px;
    height: 48px;
	vertical-align: top;
    box-shadow: #00000088 -3px -3px 6px 6px;
    overflow: clip;
}

.FriendMenu DOTAGroupMemberSlot #FriendImageContainer
{
    box-shadow: #93eb8f11 -3px -3px 6px 6px;
	box-shadow: #00000088 -3px -3px 6px 6px;
	box-shadow: #00000088 -3px -3px 6px 6px;
	
    //border: 1px solid #93eb8f33;
}

.FriendMenu DOTAGroupMemberSlot #FriendImageContainer:hover
{
    box-shadow: #93eb8f33 -2px -2px 4px 4px;
    //border: 1px solid #abeaa888;
}

.FriendMenu DOTAGroupMemberSlot.NotFriend #FriendImageContainer:hover
{
    box-shadow: #00000044 -3px -3px 6px 6px;
    border: 1px solid black;
}

.FriendMenu DOTAGroupMemberSlot.Empty #FriendImageContainer:hover
{
    box-shadow: none;
    border: 1px solid #00000044;
}


.FriendMenu DOTAGroupMemberSlot.PlusN #FriendImageContainer:hover
{
    border: 0px solid transparent;
    box-shadow: #00000088 -3px -3px 6px 6px;
}


DOTAGroupMemberSlot.NotFriend #FriendImageContainer, DOTAGroupMemberSlot.Empty #FriendImageContainer
{
    box-shadow: none;
    border: 1px solid #00000044;
}

.ActiveFriendItem DOTAGroupMemberSlot 
{
	margin-top: 5px;
}

.ActiveFriendItem DOTAGroupMemberSlot #FriendImageContainer
{
    horizontal-align: center;
    width: 36px;
    height: 36px;
	margin-right: 10px;
	vertical-align: top;
}

#InvitingParty DOTAGroupMemberSlot.Coach
{
    flow-children: right;
}

#InvitingParty DOTAGroupMemberSlot #FriendImageContainer
{
    width: 72px;
    height: 72px;
    margin: 8px;
}

#InvitingParty DOTAGroupMemberSlot.Coach #FriendImageContainer
{
    width: 32px;
    height: 32px;
    margin: 4px;
}


#InvitingParty DOTAGroupMemberSlot.Coach #FriendName Label
{
    font-size: 20px;
    letter-spacing: 1px;
    horizontal-align: left;
    vertical-align: middle;
    margin-left: 12px;
}


#InvitingParty DOTAGroupMemberSlot #FriendName Label
{
    font-size: 20px;
    letter-spacing: 1px;
}

.ActiveFriendItem DOTAActiveFriendLobby 
{
	wash-color: red;
}

DOTAGroupMemberSlot #FriendAvatarImage
{
	box-shadow: inset #00000088 0.5px 0.5px 2px 1px;
		
}

#FriendOpenLobbiesArea DOTAGroupMemberSlot
{
	margin-right: 6px;	
}

DOTAGroupMemberSlot #FriendAvatarImage, DOTAGroupMemberSlot #EmptyPanel, DOTAGroupMemberSlot #PlusNPanel
{
	//box-shadow: inset #00000088 0.5px 0.5px 2px 1px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;	
	context-menu-position: top;
	context-menu-body-position: 50% 50%;	
}

DOTAGroupMemberSlot #FriendAvatarImage
{
    width: 100%;
    height: 100%;
    transition-property: pre-transform-scale2d;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

DOTAParty DOTAGroupMemberSlot #FriendAvatarImage
{
    width: 96px;
    height: 96px;
    transform: translateX( -24px ) translateY( -24px );
    pre-transform-scale2d: .5;
}

#InvitingParty DOTAGroupMemberSlot #FriendAvatarImage
{
    width: 100%;
    height: 100%;

    pre-transform-scale2d: 1;
    transform: none;
    transition-property: pre-transform-scale2d;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}


DOTAGroupMemberSlot #EmptyPanel
{
    width: 48px;
    height: 48px;
    background-image: url("s2r://panorama/images/control_icons/friend_png.vtex");
	background-repeat: no-repeat;
    background-position: 45% 50%;
    background-size: 30px 30px;
    wash-color: #2E3736;
    background-color: #cccccc;
    visibility: collapse;
}

.FriendMenu DOTAGroupMemberSlot #EmptyPanel
{
    width: 46px;
    height: 46px;
}

DOTAGroupMemberSlot #PlusNPanel
{
    width: 100%;
    height: 100%;
    background-color: #00000022;
    visibility: collapse;
    border: 1px solid #a5ada222;
    box-shadow: none;
}

DOTAGroupMemberSlot.PlusN #PlusNPanel
{
    visibility: visible;
}

DOTAGroupMemberSlot #PlusNLabel
{
    font-size: 18px;
    color: #ced7d6;
    vertical-align: middle;
    horizontal-align: center;
}

DOTAGroupMemberSlot.TransmittingVoice #FriendAvatarImage
{
    pre-transform-scale2d: 0.56;
}

DOTAGroupMemberSlot #EmptyPanel:hover
{
	wash-color: #697b78;
}

#AvatarRow DOTAGroupMemberSlot #EmptyPanel
{
    background-image: none;
    wash-color: #53615f;
    background-color: #262D32;
    background-size: 0px 0px;
    box-shadow: inset #000000ff 0px 2px 4px 2px;
    opacity: 0.25;
}

DOTAGroupMemberSlot #PartyLeaderOverlay
{
    background-image: url("s2r://panorama/images/status_icons/party_leader_overlay_psd.vtex");
    background-repeat: no-repeat;
	background-size: contain;
    overflow: noclip;
    width: 18px;
    height: 16px;
	wash-color: #44aaff;

    visibility: collapse;
}

DOTAGroupMemberSlot.Coach #PartyLeaderOverlay
{
    width: 13px;
    height: 12px;	
	transform: rotateZ( -45deg );
}
	
DOTAGroupMemberSlot.PartyLeader #PartyLeaderOverlay
{
    visibility: visible;
}

DOTAGroupMemberSlot.NotFriend #FriendAvatarImage,
DOTAGroupMemberSlot.NotFriend #FriendName
{
    opacity: 0.2;
    saturation: 0.15;
}

#InvitingParty DOTAGroupMemberSlot.NotFriend
{
    opacity: 0.3;
}

DOTAActiveFriendParty.FriendMenu DOTAGroupMemberSlot.Empty
{
    width: fit-children;
    height: fit-children;
    padding: 0px;
    background-color: none;
    vertical-align: top;
    visibility: visible;
}


DOTAGroupMemberSlot.Empty Label
{
    visibility: collapse;
}

DOTAGroupMemberSlot #TransmittingVoiceOverlay
{
    background-image: url("s2r://panorama/images/status_icons/transmitting_voice_psd.vtex");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    margin-top: 12px;
    horizontal-align: center;
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: .05s;
    transform: translateY(-8px);
}
DOTAGroupMemberSlot.TransmittingVoice #TransmittingVoiceOverlay
{
    opacity: 1.0;
}
DOTAGroupMemberSlot.TransmittingVoice.Muted #TransmittingVoiceOverlay
{
    opacity: 0.0;
}
DOTAGroupMemberSlot #TransmittingVoiceMutedOverlay
{
    background-image: url("s2r://panorama/images/status_icons/transmitting_voice_muted_psd.vtex");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 80%;
    height: 80%;
    vertical-align: middle;
    horizontal-align: center;
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: .125s;
}
DOTAGroupMemberSlot.Transmitting.Muted #TransmittingVoiceMutedOverlay
{
    opacity: 1.0;
}
DOTAGroupMemberSlot #CoachOverlay
{
    background-image: url("s2r://panorama/images/status_icons/party_coach_overlay_psd.vtex");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    horizontal-align: center;
    visibility: collapse;
}
DOTAGroupMemberSlot.Coach #CoachOverlay
{
    visibility: visible;
}

/* Hide friend name by default */
DOTAGroupMemberSlot #FriendName
{
    visibility: collapse;
}

DOTAActiveFriendLobby.FriendMenu DOTAGroupMemberSlot #FriendName,
DOTAActiveFriendParty.FriendMenu DOTAGroupMemberSlot #FriendName
{
    visibility: visible; 
    horizontal-align: center;
    padding-top: 6px;
}

DOTAActiveFriendLobby.FriendMenu DOTAGroupMemberSlot #FriendName Label .PersonaName,
DOTAActiveFriendParty.FriendMenu DOTAGroupMemberSlot #FriendName Label .PersonaName 
{
    font-size: 16px;
    color: #ced7d6;
}

DOTAActiveFriendParty.FriendMenu DOTAGroupMemberSlot #FriendImageContainer
{
    horizontal-align: center;
    width: 46px;
    height: 46px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top;
}

.HomeFriendsListContainer DOTAActiveFriendParty.FriendMenu DOTAGroupMemberSlot #FriendImageContainer
{

    width: 36px;
    height: 36px;
    margin: 0px;
    border: 1px solid black;
}

.HomeFriendsListContainer .FriendMenu DOTAGroupMemberSlot #FriendName
{
     padding-top: 2px;
}

.HomeFriendsListContainer DOTAGroupMemberSlot #FriendName Label
{
    width: 52px;
    height: 20px;
    padding-top: 0px;
}

#HomeFriendsList DOTAGroupMemberSlot
{
    margin-top: 4px;
    width: 52px;
}

#HomeFriendsList DOTAGroupMemberSlot.Coach
{
//    visibility: collapse;
}

#HomeFriendsList DOTAGroupMemberSlot #EmptyPanel
{
    background-color: #00000044;
    opacity: 1;
    wash-color: white;
	box-shadow: inset #000000aa 2px 1px 4px 2px;
}

DOTAActiveFriendLobby.FriendMenu DOTAGroupMemberSlot #FriendImageContainer
{
    horizontal-align: center;
    width: 46px;
    height: 46px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top;
}

DOTAActiveFriendLobby.FriendMenu DOTAGroupMemberSlot #FriendName
{
    visibility: visible;
}


DOTAGroupMemberSlot.Coach #FriendImageContainer
{
	border-radius: 8px;
}


PopupPartyInvite DOTAGroupMemberSlot.Coach
{
//    width: 320px;
}

#CurrentUserStatus DOTAActiveFriendParty.FriendMenu DOTAGroupMemberSlot #FriendImageContainer
{
//    wash-color: red;
}


/* DOTAActiveFriendParty.FriendMenu #AvatarRow #FriendName */
.ShowGroupMemberNames DOTAGroupMemberSlot #FriendName
{
    visibility: visible;
    width: 120px;
}

#InvitingParty.ShowGroupMemberNames DOTAGroupMemberSlot.Coach #FriendName
{
    width: fit-children;
}

#InvitingParty.ShowGroupMemberNames DOTAGroupMemberSlot.Coach #FriendName
{
    vertical-align: middle;
}

DOTAGroupMemberSlot #FriendName Label
{
    horizontal-align: center;
    font-size: 15px;	
	width: 66px;
    text-align: center;
	height: 28px;
}

DOTAGroupMemberSlot.PlusN #FriendName Label
{
    opacity: 0;
}


/* When empty, show the empty panel and hide the friend avatar */
DOTAGroupMemberSlot.Empty #EmptyPanel
{
    visibility: visible;
}
DOTAGroupMemberSlot.Empty #FriendAvatarImage, DOTAGroupMemberSlot.PlusN #FriendAvatarImage
{
    visibility: collapse;
}

/* Hide us completely, if requested */
.HideEmptyGroupMembers DOTAGroupMemberSlot.Empty,
DOTAGroupMemberSlot.Empty.HideEmptyGroupMembers,
{
    visibility: collapse;
}

/* Special case for the weekend tourney setup page */

DOTAWeekendTourneySetup DOTAGroupMemberSlot #FriendAvatarImage
{
    width: 100%;
    height: 100%;
	pre-transform-scale2d: 1;
	transform: translateX( 0px ) translateY( 0px );
}

DOTAWeekendTourneySetup DOTAGroupMemberSlot #EmptyPanel
{
    width: 100%;
    height: 100%;
	background-position: 50% 50%;
	background-color: #777;
	wash-color: #444;
}


DOTAWeekendTourneySetup #BuyInParty DOTAGroupMemberSlot
{
	vertical-align: bottom;
}


DOTAWeekendTourneySetup #Party #FriendImageContainer
{
    width: 65px;
    height: 65px;
	margin-right: 11px;
	border: 0px;
}

.AspectRatio16x9 DOTAWeekendTourneySetup #Party #FriendImageContainer
{
	margin-right: 10px;
}

.AspectRatio4x3 DOTAWeekendTourneySetup #Party #FriendImageContainer
{
	margin-right: 10px;
}

DOTAWeekendTourneySetup #BuyInParty DOTAGroupMemberSlot.Self #FriendImageContainer
{
    width: 65px;
    height: 65px;
	margin-right: 18px;
	border: 0px;
}

/* Adjust shadow for current user and non-friend.  Should we do this?

DOTAGroupMemberSlot.CurrentUser #FriendImage
{
    border: 2px solid #b2f2ae;
    box-shadow: #76b06d 0px 0px 10px 0px;
}

DOTAGroupMemberSlot.NonFriend #FriendImage
{
    width: 48px;
    height: 48px;
    box-shadow: #000000 0px 0px 5px 0px;
}

*/

DOTAActiveFriendLobby.CustomGameDetailPage #FriendAvatarImage
{
	width: 40px;
	height: 40px;
}

DOTAActiveFriendLobby.CustomGameDetailPage #FriendImageContainer
{
	width: 40px;
	height: 40px;
}
