DOTAGuildHeader,
#GuildHeaderContainer
{
    flow-children: right;
}

.GuildLogoContainer
{
	width: 130px;
	height: 130px;
	flow-children: none;
}

#GuildLogoGleam
{
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff ), to( #ffffff00 ) );

	animation-name: LogoGleam;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

@keyframes 'LogoGleam'
{
	0% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.01, #ffffff00), color-stop(.2, #ffffff22), color-stop(.4, #ffffff00), to( #ffffff00 ) ); }
	2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(0, #ffffff00), color-stop(.3, #ffffff22), color-stop(.6, #ffffff00), to( #ffffff00 ) ); }
	5% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.3, #ffffff00), color-stop(.5, #ffffff44), color-stop(.7, #ffffff00), to( #ffffff00 ) ); }
	8% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.4, #ffffff00), color-stop(.7, #ffffff22), color-stop(1, #ffffff00), to( #ffffff00 ) ); }
	9% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.6, #ffffff00), color-stop(.8, #ffffff22), color-stop(.99, #ffffff00), to( #ffffff00 ) ); }
	11% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.6, #ffffff00), color-stop(.8, #ffffff00), color-stop(.99, #ffffff00), to( #ffffff00 ) ); }
	100% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.2, #ffffff00), color-stop(.5, #ffffff00), color-stop(.6, #ffffff00), to( #ffffff00 ) ); }
}

#GuildLogoFrame
{
	width: 100%;
	height: 100%;
	background-image: guildTierFrame0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#GuildLogo
{
	width: 100%;
	height: 100%;
	border-radius: 12px;
	border-top: 1px solid #ffffff44;
	//border-left: 1px solid #ffffff08;
	box-shadow: #000 2px 2px 16px 0px;
	padding: 5px;
}

#GuildHeaderText
{
	margin-left: 16px;
	flow-children: down;
	width: 900px;
}

.NameRow
{
	width: 100%;
	flow-children: right;
}

#GuildName
{
	font-size: 62px;
	font-weight: bold;
	color: white;
	vertical-align: middle;
	margin-top: 11px;
	letter-spacing: 1px;
	height: 75px;
	max-width: 830px;
	//background-color: red;
	text-overflow: shrink;
}

#ReportButton
{
	width: 46px;
	height: 46px;
	background-image: url("s2r://panorama/images/conduct/report_flag_png.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 70% 70%;
	margin-top: 26px;
	horizontal-align: left;
	visibility: collapse;
	background-color: #ff000022;
	margin-left: 16px;
	border-radius: 6px;
	
	opacity: .7;
	
	transition-property: background-color, opacity;
	transition-duration: .2s;
}

#ReportButton:hover
{
	opacity: 1;
	background-color: #ff0000;
}

DOTAGuildDetailsPage #ReportButton
{
	visibility: visible;
}

DOTAGuildDetailsPage.IsCreatingNewGuild #ReportButton
{
	visibility: collapse;
}

#GuildTag
{
	font-weight: bold;
	font-size: 24px;
	margin-top: -4px;
	letter-spacing: 1px;
	
}

.GuildTier0 #GuildTag { color: guildTierColor0; }
.GuildTier1 #GuildTag { color: guildTierColor1; }
.GuildTier2 #GuildTag { color: guildTierColor2; }
.GuildTier3 #GuildTag { color: guildTierColor3; }

#GuildSubtitle
{
	font-size: 24px;
	color: #888;
	margin-top: -4px;
	//font-style: italic;
	margin-left: 12px;
	max-width: 700px;
	height: 40px;
}

TextEntry
{
	border: 0px;
	background-color: #000000aa;
	margin-left: 8px;
}

#MotDTextEntry
{
	width: 708px;
	//margin-right: 8px;
	height: 40px;
	margin-top: -6px;
	padding-top: 7px;
}


#EditMotDButton
{
	background-image: url("s2r://panorama/images/control_icons/edit_png.vtex");
	//margin-left: 8px;
	visibility: collapse;
	
}

.CanEditGuildInfo:not(.IsEditing) #EditMotDButton
{
	visibility: visible;
}

.IsEditingMotD #EditMotDButton
{
	background-image: url("s2r://panorama/images/control_icons/check_thin_psd.vtex");
	background-size: 50%;
	background-color: #000000aa;
	height: 40px;
	width: 40px;
	margin-top: -4px;
}

#CancelMotDButton
{
	background-image: url("s2r://panorama/images/control_icons/purgatory_png.vtex");
	background-size: 50%;
	margin-left: 8px;
	visibility: collapse;
	background-color: #000000aa;
	height: 40px;
	width: 40px;
	margin-top: -4px;
}

.IsEditingMotD #CancelMotDButton
{
	visibility: visible;
}

.CanEditGuildInfo #EditDetailsButton
{
	visibility: visible;
}

.OnlyWhenEditingMotD
{
	visibility: collapse;
}

.IsEditingMotD #GuildSubtitle
{
	visibility: collapse;
}

.IsEditingMotD .OnlyWhenEditingMotD
{
	visibility: visible;
}
