DOTAGuildStatus
{
    flow-children: down;

    /* This is so that when you mouse up from the status button
       it doesn't immediately go away. */
    padding-bottom: 12px;
}

#MainContents
{
    flow-children: down;
    width: 360px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #222 ), to( #111 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #181818 ), color-stop(.5, #2a2a2a ), to( #181818 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222 ), color-stop(.5, #3a3a3a ), to( #222 ) );
	background-color: #000000;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop(.5, #161616 ), to( #000000 ) );
	border-left: 1px solid #ffffff03;
	border-right: 1px solid #ffffff03;
	border-top: 1px solid #ffffff03;
	box-shadow: 0px 0px 16px #000000aa;
	//box-shadow: 0px 0px 20px #ffffff05;
}

.StatusSection
{
    flow-children: down;
    width: 100%;
    visibility: collapse;
}

.StatusSectionTitle
{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 4px 0px;
    color: #999;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background-color: black;
	
	visibility: collapse;
}

#NoGuild
{
}

DOTAGuildStatus:not(.HasGuild) #NoGuild
{
	visibility: visible;
}

#NoGuildImage
{
	width: 100%;
	height: 200px;

	background-image: url("s2r://panorama/images/guilds/intro/join_no_guild_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #ffffff11;
	//border-bottom: 1px solid #ffffff04;
	
	box-shadow: 0px 0px 16px black;
}

.HasGuild #GuildInfo
{
    visibility: visible;
}

#GuildInfoHeader
{
    padding: 12px;
    flow-children: right;
}

#GuildLogoContainerStatus
{
	flow-children: none;
	width: fit-children;
	height: fit-children;
    border-radius: 4px;
}

#GuildImage
{
    width: 72px;
    height: 72px;
	border-radius: 12px;
}

#GuildLogoFrame
{
	width: 100%;
	height: 100%;
	background-image: guildTierFrame0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.GuildTier_0 #GuildLogoFrame
{
	background-image: url("s2r://panorama/images/guilds/tiers/guild_tier0_icon_frame_psd.vtex");
}

.GuildTier_1 #GuildLogoFrame
{
	background-image: url("s2r://panorama/images/guilds/tiers/guild_tier1_icon_frame_psd.vtex");
}

.GuildTier_2 #GuildLogoFrame
{
	background-image: url("s2r://panorama/images/guilds/tiers/guild_tier2_icon_frame_psd.vtex");
}

.GuildTier_3 #GuildLogoFrame
{
	background-image: url("s2r://panorama/images/guilds/tiers/guild_tier3_icon_frame_psd.vtex");
}


#GuildText
{
    flow-children: down;
    margin-left: 12px;
    vertical-align: middle;
    width: fill-parent-flow( 1.0 );
	margin-top: -6px;
}

#GuildName
{
    color: white;
    font-size: 24px;
    width: 100%;
    height: 30px;
    text-overflow: shrink;
	font-weight: semi-bold;
}

#GuildTag
{
    margin-top: -2px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.GuildTier0 #GuildTag { color: guildTierColor0; }
.GuildTier1 #GuildTag { color: guildTierColor1; }
.GuildTier2 #GuildTag { color: guildTierColor2; }
.GuildTier3 #GuildTag { color: guildTierColor3; }

#GuildTier
{
    ui-scale: 44%;
    vertical-align: middle;
    width: fill-parent-flow( 1.0 );
	width: 188px;

    visibility: collapse;
	//margin-top: -5px;
	horizontal-align: right;
}

.HasGuildLevel #GuildTier
{
    visibility: visible;
}

.GuildTierAuxillaryData
{
    border: 1px solid red;
}

.Section
{
    flow-children: down;
    width: 100%;
    margin: 0px 12px 12px 12px;
    background-blur: none;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff03 ), to( #ffffff01 ) );
	border-top: 1px solid #ffffff03;
	border-right: 1px solid #ffffff03;
	border-left: 0px;
	border-bottom: 1px solid #ffffff01;
	
	box-shadow: 0px 0px 20px #00000066;
}

#Contracts
{
    width: 100%;
    height: 208px;
}

.HideContractsTimer #AvailableContractsRefreshCountdown
{
    visibility: collapse;
}

#Contracts AsyncDataPanel
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
}

#ContractSlotList
{
    flow-children: right;
    width: fit-children;
    padding-left: 8px;
    horizontal-align: center;
}

#ContractSlotList DOTAGuildContractSlot
{
    ui-scale: 78%;
    margin-right: 4px;

    transition-property: brightness;
    transition-duration: 0.2s;
}

#GuildChallenge
{
    width: 100%;
    height: 110px;

    transition-property: brightness;
    transition-duration: 0.2s;
}

.HideChallengeTimer #AvailableChallengesRefreshCountdown
{
    visibility: collapse;
}

#GuildChallenge:hover
{
    brightness: 2.0;
}

#GuildChallenge:active
{
    brightness: 1.5;
}

#GuildChallenge AsyncDataPanel
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
}

#GuildChallenge .AsyncSuccessContainer
{
    flow-children: right;
    padding-bottom: 8px;
}

#ChallengeImage
{
    width: 60px;
    height: 60px;
    margin-left: 15px;
    vertical-align: middle;
}

.ChallengeDetails
{
    flow-children: down;
    width: fill-parent-flow( 1.0 );
    margin-left: 8px;
    margin-right: 15px;
    vertical-align: middle;
}


#ChallengeProgressContainer
{
    width: 100%;
}

#ChallengeDesc
{
    font-size: 16px;
    max-height: 39px;
    text-overflow: shrink;
}

#ChallengeProgressBar
{
    width: 100%;
    background-color: #1f1f1f;
}

#ChallengeProgress
{
    horizontal-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
}




.HasGuildInvites #GuildInvites
{
    visibility: visible;
}

#InvitesList
{
    padding: 6px 6px 6px 12px;
    width: 100%;
    flow-children: down;
    max-height: 200px;
    overflow: squish scroll;
}

.Invite
{
    background-color: #111;
    width: 100%;
    margin-bottom: 6px;
}

.InviteMainContents
{
    flow-children: right;
    width: 100%;
    border: 2px solid black;
    margin-right: 6px;
    margin-top: 6px;
}

.Invite:hover
{
    brightness: 2.0;
}

.Invite:active
{
    brightness: 1.5;
}

.Invite #GuildImage
{
    width: 64px;
    height: 64px;
}

.Invite .InviteText
{
    vertical-align: middle;
    flow-children: down;
    padding: 0px 12px 0px 12px;
    width: fill-parent-flow( 1.0 );
}

.Invite .Inviter
{
    font-size: 16px;
}

.Invite .GuildName
{
    font-size: 22px;
    color: white;
}


.Invite .NotificationPip
{
    width: 22px;
    height: 22px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px black;
    border-radius: 4px;
    horizontal-align: right;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #3cad53 ), to( hsv-transform( #3cad53, 0.0, 1.0, 0.4 ) ) );
}

.Invite .NotificationPip Label
{
    color: white;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    font-size: 16px;
}


#GuildButtons
{
    flow-children: down;
    width: 100%;
}


DOTAGuildStatus:not(.HasGuild) .ActionButton 
{
    width: 100%;
    padding: 10px 8px 8px 8px;
    background-color: gradient( linear, 0% 100%, 0% 0%, from( #222 ), color-stop(.5, #222 ), to( #0a0a0a ) );
	
	border-left: 1px solid #ffffff02;
	border-right: 1px solid #ffffff02;
}

.ActionButton 
{
    width: 100%;
    padding: 10px 8px 10px 8px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #181818 ), color-stop(.5, #2a2a2a ), to( #181818 ) );
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #333 ), color-stop(.5, #222 ), to( #333 ) );
	//background-color: #222;
	border-left: 1px solid #ffffff01;
	border-right: 1px solid #ffffff01;
	//border-bottom: 1px solid #ffffff02;
}


.ActionButton Label
{
    width: 80%;
	horizontal-align: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    color: #666;
    transition-property: color, border;
    transition-duration: 0.2s;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 4px;
	//padding-top: 5px;
}


#ClaimRewardsGuildButton Label
{
	animation-name: SelectButtonGlow;
	animation-duration: 3.1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}



.GuildPrimaryColor0 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor0, 0.0, .85, 1 ), to( hsv-transform( guildColor0, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor1 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor1, 0.0, .85, 1 ), to( hsv-transform( guildColor1, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor2 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor2, 0.0, .85, 1 ), to( hsv-transform( guildColor2, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor3 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor3, 0.0, .85, 1 ), to( hsv-transform( guildColor3, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor4 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor4, 0.0, .85, 1 ), to( hsv-transform( guildColor4, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor5 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor5, 0.0, .85, 1 ), to( hsv-transform( guildColor5, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor6 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor6, 0.0, .85, 1 ), to( hsv-transform( guildColor6, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor7 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor7, 0.0, .85, 1 ), to( hsv-transform( guildColor7, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor8 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor8, 0.0, .85, 1 ), to( hsv-transform( guildColor8, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor9 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor9, 0.0, .85, 1 ), to( hsv-transform( guildColor9, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor10 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor10, 0.0, .85, 1 ), to( hsv-transform( guildColor10, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor11 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor11, 0.0, .85, 1 ), to( hsv-transform( guildColor11, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor12 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor12, 0.0, .85, 1 ), to( hsv-transform( guildColor12, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor13 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor13, 0.0, .85, 1 ), to( hsv-transform( guildColor13, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor14 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor14, 0.0, .85, 1 ), to( hsv-transform( guildColor14, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor15 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor15, 0.0, .85, 1 ), to( hsv-transform( guildColor15, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor16 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor16, 0.0, .85, 1 ), to( hsv-transform( guildColor16, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor17 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor17, 0.0, .85, 1 ), to( hsv-transform( guildColor17, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor18 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor18, 0.0, .85, 1 ), to( hsv-transform( guildColor18, 0.0, 1, 0.3 ) ) ); }
.GuildPrimaryColor19 #ClaimRewardsGuildButton Label { background-color: gradient( linear, 0% 0%, 0% 100%, from( hsv-transform( guildColor19, 0.0, .85, 1 ), to( hsv-transform( guildColor19, 0.0, 1, 0.3 ) ) ); }

@keyframes 'SelectButtonGlow'
{
	0%
	{
		//box-shadow: guildColor8&44 -4px -4px 8px 8px;
		color: #ffffff;
		brightness: 1.2;
	}


	50%
	{
		//box-shadow: guildColor8&44 -1px -1px 2px 2px;
		color: #ffffff;
		brightness: .5;
	}

	100%
	{
		//box-shadow: guildColor8&44 -4px -4px 8px 8px;
		color: #ffffff;
		brightness: 1.2;
	}
}

.ActionButton:hover Label
{
    color: white;
	border: 1px solid #ffffff77;
}

.ActionButton:active Label
{
    color: #666;
}

#LeaveGuildButton
{
    //border-bottom: 1px solid #111;

    visibility: collapse;
	padding-bottom: 0px;
	border-bottom: 0px;
}

.HasGuild #LeaveGuildButton
{
    visibility: visible;
}

#ClaimRewardsGuildButton
{
    visibility: collapse;
	padding-top: 0px;
}

.HasGuild.RewardsAvailable #ClaimRewardsGuildButton
{
    visibility: visible;
}