#TierSectionContainer
{
	margin-top: -10px;
	
}

.DescriptionHeader1
{
	height: 30px;
	font-size: 25px;
	text-overflow: shrink;
	color: white;
	font-weight: semi-bold;
	margin-right: 12px;
	//text-shadow: #ffffff22 0px 0px 15px 0px;
	color: gradient( linear, 100% 0%, 0% 0%, from( #ffffff88), to( #ffffff ) );
	line-height: 20px;
}

#RegionHeader
{
	margin-bottom: -5px;
}

#DateRange,
#CurrentStandingLabel
{
	margin-top: 7px;
	margin-bottom: -3px;
	text-transform: uppercase;
}

.DescriptionHeader2
{
	font-size: 17px;
	color: white;
	font-weight: semi-bold;
	text-shadow: black 1px 0px 10px 2.0;
	color: gradient( linear, 100% 0%, 0% 0%, from( #ffffff44 ), to( #ffffff ) );
}

.DescriptionHeader2
{

}

.DescriptionHeader3
{
	font-size: 12px;
	opacity: .5;
	font-weight: semi-bold;
}

.VerticalContainer
{
	flow-children: down;
	width: 100%;
}

.HorizontalContainer
{
	flow-children: right;
	width: 100%;
}

#GuildTierDescription
{
	vertical-align: middle;
}

.TextTransformLower
{
	text-transform: lowercase;
}

#GuildTierDescriptionContainer
{
	height: 100%;
	width: fill-parent-flow( 3.0 );
}

.CircleContainer
{
	width: fill-parent-flow( 2.5 );
	height: 180px;
	margin-left: 18px;
}

#GuildTierDescription Label
{
	width: 100%;
	margin-left: 10px;
}

#TierRewards
{
	flow-children: down;
	vertical-align: middle;
	horizontal-align: center;
	margin-top: 6px;
}

.TierRewards Label
{
	width: 100%;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	
	font-size: 12px;
	color: baseText;
	opacity: .3;
}

#UnshownRewards Label
{
	color: white;
	font-size: 14px;
	text-shadow: #ffffff22 0px 0px 15px 0px;
	font-weight: semi-bold;
	opacity: 1;
	color: gradient( linear, 100% 0%, 0% 0%, from( #ffffff22 ), color-stop(.6, #ffffffaa), to( #ffffff22 ) );
	line-height: 14px;
	width: 40px;
	text-overflow: shrink;
}


#TierRewards Label#RewardTag
{
	opacity: 1;
}

#TierRewards Label.ShardsAmount
{
	color: white;
	font-size: 16px;
	text-shadow: #ffffff22 0px 0px 15px 0px;
	font-weight: semi-bold;
	opacity: 1;
	color: gradient( linear, 100% 0%, 0% 0%, from( #ffffff22 ), color-stop(.6, #ffffffaa), to( #ffffff22 ) );
}

.GuildTier3 #TierRewards Label.ShardsAmount
{
	//font-size: 13px;
}

DOTAGuildTier
{
	flow-children: down;
}

#ViewRewardsButton
{
	transition-property: opacity;
	transition-duration: .2s;
}

#ViewRewardsButton:hover
{	
	//brightness: 4;
	opacity: 1;
}
	

#TierCircleBorder
{
	width: 102px;
	height: 102px;

	width: 119px;
	height: 119px;
	
	vertical-align: middle;
	horizontal-align: center;

	border-radius: 50%;
	
	box-shadow: black 0px 0px 8px 0px;
	background-color: black;
}

#TierSegmentedBackground, #TierSegmentedBackgroundSegments
{
	vertical-align: middle;
	horizontal-align: center;
	width: 112px;
	height: 112px;
	
	width: 134px;
	height: 134px;
	
	background-size: cover;
}

#ProgressMarker
{
	vertical-align: middle;
	horizontal-align: center;
	width: 2px;
	height: 20px;
	background-image: url("s2r://panorama/images/guilds/guild_tier_progress_marker_png.vtex");
	//background-color: red;
}

#TierSegmentedBackground
{
	background-image: url("s2r://panorama/images/guilds/guild_tier_progress_ring_backer_psd.vtex");
	opacity: .06;
}

#TierSegmentedBackgroundSegments
{
	background-image: url("s2r://panorama/images/guilds/guild_tier_progress_ring_segment_overlay_psd.vtex");
	wash-color: black;
	opacity:.6;
}

#TierCircle
{
	width: 90px;
	height: 90px;
	
	width: 110px;
	height: 110px;
	
	width: 104px;
	height: 104px;
	
	//border-top: 2px solid #ffffff20;
	//border-left: 1px solid #ffffff20;
	//border-right: 1px solid #ffffff20;

	vertical-align: middle;
	horizontal-align: center;

	border-radius: 50%;
	
	background-color: black;
	
	background-image: guildTierImage0Small;
	background-size: cover;
}

.GuildTier0 #TierCircle
{
	background-image: guildTierImage0Small;
}

.GuildTier1 #TierCircle
{
	background-image: guildTierImage1Small;
}

.GuildTier2 #TierCircle
{
	background-image: guildTierImage2Small;
}

.GuildTier3 #TierCircle
{
	background-image: guildTierImage3Small;
}

//.GuildPrimaryColor0 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor0 ), to( hsv-transform( guildColor0, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor1 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor1 ), to( hsv-transform( guildColor1, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor2 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor2 ), to( hsv-transform( guildColor2, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor3 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor3 ), to( hsv-transform( guildColor3, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor4 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor4 ), to( hsv-transform( guildColor4, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor5 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor5 ), to( hsv-transform( guildColor5, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor6 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor6 ), to( hsv-transform( guildColor6, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor7 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor7 ), to( hsv-transform( guildColor7, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor8 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor8 ), to( hsv-transform( guildColor8, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor9 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor9 ), to( hsv-transform( guildColor9, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor10 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor10 ), to( hsv-transform( guildColor10, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor11 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor11 ), to( hsv-transform( guildColor11, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor12 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor12 ), to( hsv-transform( guildColor12, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor13 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor13 ), to( hsv-transform( guildColor13, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor14 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor14 ), to( hsv-transform( guildColor14, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor15 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor15 ), to( hsv-transform( guildColor15, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor16 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor16 ), to( hsv-transform( guildColor16, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor17 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor17 ), to( hsv-transform( guildColor17, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor18 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor18 ), to( hsv-transform( guildColor18, 0.0, 1.0, 0.1 ) ) ); }
//.GuildPrimaryColor19 #TierCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor19 ), to( hsv-transform( guildColor19, 0.0, 1.0, 0.1 ) ) ); }


#GuildPerkUnlockLevel #TierNumber
{
	font-size: 30px;
	margin-top: -2px;
}

#TierNumber
{
	vertical-align: middle;
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-shadow: 0px 0px 24px #ffffff55;
	color: white;
	font-size: 56px;
	margin-top: 1px;
}

CircularProgressBar
{
	horizontal-align: center;
	text-align: center;
}

#ProgressBarContainer
{
	height: 100%;
	width: 100%;
}

#LastWeekTierProgressBar, #CurrentWeekTierProgressBar
{
	vertical-align: center;
	width: 112px;
	height: 112px;
	
	width: 134px;
	height: 134px;
	
	border-radius: 50%;
}

#LastWeekTierProgressBar 
{
	transform: rotateZ( 180deg );
}

.HideProgressBar #LastWeekTierProgressBar
{
	visibility: collapse;
}

#LastWeekTierProgressBar .CircularProgressBarFG,
#CurrentWeekTierProgressBar .CircularProgressBarFG
{
	width: 100%;
	height: 100%;
	brightness: 2;
}

#RewardGalleryContainer
{
	width: 100%;
}

#RewardGallery
{
	flow-children: right;
	horizontal-align: center;
	text-align: center;
}

.CircleContainer
{
	horizontal-align: center;
}

.GuildTier0 #LastWeekTierProgressBar .CircularProgressBarFG { background-color: gradient( linear, 0% 100%, 0% 0%, from( #DFAB85 ), to( #966039 )); }
.GuildTier1 #LastWeekTierProgressBar .CircularProgressBarFG { background-color: gradient( linear, 0% 100%, 0% 0%, from( #A89F9C ), to( #6C5F52 )); }
.GuildTier2 #LastWeekTierProgressBar .CircularProgressBarFG { background-color: gradient( linear, 0% 100%, 0% 0%, from( #E0D292 ), to( #947039 ) ); }
.GuildTier3 #LastWeekTierProgressBar .CircularProgressBarFG { background-color: gradient( linear, 0% 100%, 0% 0%, from( #B7CED3 ), to( #607E80 ) ); }

DOTAGuildTier.CurrentWeekProgressIsPositive #CurrentWeekTierProgressBar .CircularProgressBarFG
{ 
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #2E9F6F ), to( #23674B ) );
}

DOTAGuildTier.CurrentWeekProgressIsPositive #CurrentStandingLabel,
DOTAGuildTier.CurrentWeekProgressIsPositive #CurrentStanding
{
	color: #368866;
	color: gradient( linear, 100% 0%, 0% 0%, from( #36886644 ), to( #368866 ) );
}

DOTAGuildTier.CurrentWeekProgressIsNegative #CurrentWeekTierProgressBar .CircularProgressBarFG,
{ 
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #BA766C ), to( #8E3F39 ) );
}

DOTAGuildTier.CurrentWeekProgressIsNegative #CurrentStandingLabel,
DOTAGuildTier.CurrentWeekProgressIsNegative #CurrentStanding
{
	color: #AE584C;
	color: gradient( linear, 100% 0%, 0% 0%, from( #AE584C44 ), to( #AE584C ) );
}

#GuildLevelCounter
{
	height: 22px;
	width: 100%;
	margin-bottom: 20px;
	vertical-align: bottom;
	flow-children: right;
	overflow: noclip;
}

.LargeProgress #GuildLevelCounter
{
	height: 30px;
	width: 100%;
	margin-bottom: 12px;
}

.NoPointsProgress #GuildLevelCounter
{
	visibility: collapse;
}

#CurrentXP,
#XPRequirement
{
	width: fill-parent-flow( 1.0 );
	font-size: 18px;
	letter-spacing: 0px;
}

.LargeProgress #CurrentXP,
.LargeProgress #XPRequirement
{
	font-size: 22px;
}

#CurrentXP
{
	text-align: right;
	margin-right: 7px;
	margin-top: 6px;
}


.GuildPrimaryColor0 #CurrentXP { color: hsv-transform( guildColor0, 0, 1, 2 ); }
.GuildPrimaryColor1 #CurrentXP { color: hsv-transform( guildColor1, 0, 1, 2 ); }
.GuildPrimaryColor2 #CurrentXP { color: hsv-transform( guildColor2, 0, 1, 2 ); }
.GuildPrimaryColor3 #CurrentXP { color: hsv-transform( guildColor3, 0, 1, 2 ); }
.GuildPrimaryColor4 #CurrentXP { color: hsv-transform( guildColor4, 0, 1, 2 ); }
.GuildPrimaryColor5 #CurrentXP { color: hsv-transform( guildColor5, 0, 1, 2 ); }
.GuildPrimaryColor6 #CurrentXP { color: hsv-transform( guildColor6, 0, 1, 2 ); }
.GuildPrimaryColor7 #CurrentXP { color: hsv-transform( guildColor7, 0, 1, 2 ); }
.GuildPrimaryColor8 #CurrentXP { color: hsv-transform( guildColor8, 0, 1, 2 ); }
.GuildPrimaryColor9 #CurrentXP { color: hsv-transform( guildColor9, 0, 1, 2 ); }
.GuildPrimaryColor10 #CurrentXP { color: hsv-transform( guildColor10, 0, 1, 2 ); }
.GuildPrimaryColor11 #CurrentXP { color: hsv-transform( guildColor11, 0, 1, 2 ); }
.GuildPrimaryColor12 #CurrentXP { color: hsv-transform( guildColor12, 0, 1, 2 ); }
.GuildPrimaryColor13 #CurrentXP { color: hsv-transform( guildColor13, 0, 1, 2 ); }
.GuildPrimaryColor14 #CurrentXP { color: hsv-transform( guildColor14, 0, 1, 2 ); }
.GuildPrimaryColor15 #CurrentXP { color: hsv-transform( guildColor15, 0, 1, 2 ); }
.GuildPrimaryColor16 #CurrentXP { color: hsv-transform( guildColor16, 0, 1, 2 ); }
.GuildPrimaryColor17 #CurrentXP { color: hsv-transform( guildColor17, 0, 1, 2 ); }
.GuildPrimaryColor18 #CurrentXP { color: hsv-transform( guildColor18, 0, 1, 2 ); }
.GuildPrimaryColor19 #CurrentXP { color: hsv-transform( guildColor19, 0, 1, 2 ); }

#XPDivider
{
	transform: translateX( 1px );
	height: 100%;
	width: 3px;
	background-color: #ffffff06;
}

#XPRequirement
{
	text-align: left;
	margin-left: 7px;
	margin-top: 6px;
	color: #555;
}

.GuildDetailsContents #GuildTier
{
	margin-top: 24px;
	width: 100%;
}

.GuildDetailsContents #GuildTier,
.GuildDetailsContents #GuildLevelCounter
{
	horizontal-align: center;
}

@define guild_tier_progress_offset_y: -69;


.GuildTier0.GuildTier {background-image: url("s2r://panorama/images/guilds/perks/guildperktype_guildtier_bronze_psd.vtex");}
.GuildTier1.GuildTier {background-image: url("s2r://panorama/images/guilds/perks/guildperktype_guildtier_silver_psd.vtex");}
.GuildTier2.GuildTier {background-image: url("s2r://panorama/images/guilds/perks/guildperktype_guildtier_gold_psd.vtex");}
.GuildTier3.GuildTier {background-image: url("s2r://panorama/images/guilds/perks/guildperktype_guildtier_platinum_psd.vtex");}

.GuildTier0 Panel .GuildPerkIcon,
.GuildTier1 Panel .GuildPerkIcon,
.GuildTier2 Panel .GuildPerkIcon,
.GuildTier3 Panel .GuildPerkIcon
{
	background-size: cover;
}

.GuildTag.GuildTier0 Panel .GuildPerkIcon {background-image: url("s2r://panorama/images/guilds/tiers/guild_tier0_icon_frame_psd.vtex");}
.GuildTag.GuildTier1 Panel .GuildPerkIcon {background-image: url("s2r://panorama/images/guilds/tiers/guild_tier1_icon_frame_psd.vtex");}
.GuildTag.GuildTier2 Panel .GuildPerkIcon {background-image: url("s2r://panorama/images/guilds/tiers/guild_tier2_icon_frame_psd.vtex");}
.GuildTag.GuildTier3 Panel .GuildPerkIcon {background-image: url("s2r://panorama/images/guilds/tiers/guild_tier3_icon_frame_psd.vtex");}

#RewardGallery .GuildPerkIcon
{
	vertical-align: middle;
	horizontal-align: center;
	width: 80%;
	height: 80%;
}

.Reward, #UnshownRewards
{
	width: 64px;
	height: 64px;
	
	width: 57px;
	height: 57px;
	
	background-size: cover;
	
	box-shadow: black 0px 0px 20px 5.0;
	border-top: 1px solid #ffffff11;
	border-left: 1px solid #ffffff05;
	border-right: 1px solid #48479544;
	border-bottom: 1px solid #48479522;
	
	margin-top: 4px;
	margin-bottom: 4px;
	
	margin-left: 3px;
	margin-right: 3px;
	
	background-color: #ffffff01;
}

#UnshownRewards
{
	transition-property: background-color, brightness;
	transition-duration: .2s;
}

#UnshownRewards:hover,
{
	background-color: #ffffff03;
	brightness: 2;
}

.Shards.Reward
{
	flow-children: down;
}

.Reward #ImageContainer
{
	width: 100%;
	height: 100%;
	background-size: cover;
}

.ShardsIcon 
{
	width: 20px;
	height: 26px;
	background-image: dotaPlusCurrencySmallIcon;
	background-size: cover;
	margin-left: 16px;
	margin-top: 6px;
}

.GuildTier3 .ShardsIcon 
{
	//margin-left: 12px;
	//margin-top: 3px;
}

.GuildLevelSectionValid #TierSectionContainer
{
	pre-transform-scale2d: .85;
	margin-left: -5px;
}

.GuildLevelSectionValid #TierSectionContainer .CircleContainer
{
	width: fill-parent-flow( 3 );
	height: 140px;
	margin-left: 0px;
}

@define guild_tier_max_num_perks: 4;