DOTAGuildContract
{
	width: 128px;
	height: 214px;
	//background-color: #c2b8af;
	//border: 2px solid #000;
	flow-children: down;
	
	background-image: url("s2r://panorama/images/guilds/contracts/contract_backer_slot_0_psd.vtex");
	background-size: 100%;
	
}


#Slot0 DOTAGuildContract { background-image: url("s2r://panorama/images/guilds/contracts/contract_backer_slot_0_psd.vtex"); }
#Slot1 DOTAGuildContract { background-image: url("s2r://panorama/images/guilds/contracts/contract_backer_slot_1_psd.vtex"); }
#Slot2 DOTAGuildContract { background-image: url("s2r://panorama/images/guilds/contracts/contract_backer_slot_2_psd.vtex"); }

#Slot0.SlotState_Available DOTAGuildContract {	background-image: url("s2r://panorama/images/guilds/contracts/contract_backer_slot_0_available_psd.vtex"); }
#Slot1.SlotState_Available DOTAGuildContract {	background-image: url("s2r://panorama/images/guilds/contracts/contract_backer_slot_1_available_psd.vtex"); }
#Slot2.SlotState_Available DOTAGuildContract {	background-image: url("s2r://panorama/images/guilds/contracts/contract_backer_slot_2_available_psd.vtex"); }

#Slot0.SlotState_SlotLocked DOTAGuildContract {	background-image: url("s2r://panorama/images/guilds/contracts/contract_backer_slot_0_locked_psd.vtex"); }
#Slot1.SlotState_SlotLocked DOTAGuildContract {	background-image: url("s2r://panorama/images/guilds/contracts/contract_backer_slot_1_locked_psd.vtex"); }
#Slot2.SlotState_SlotLocked DOTAGuildContract {	background-image: url("s2r://panorama/images/guilds/contracts/contract_backer_slot_2_locked_psd.vtex"); }


#StarsContainer
{
	horizontal-align: center;
	width: 104px;
	height: 24px;
	margin-bottom: 8px;
	//background-color: #000000ee;
}

#StarsCenter
{
	flow-children: right;
	horizontal-align: center;
}

.ContractStar
{
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 4px;
	width: 19px;
	height: 19px;

	background-image: url("s2r://panorama/images/guilds/contracts/contracts_star_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	visibility: collapse;
	
	//brightness: 1.5;
}


.StarCount1 #Star1,
.StarCount2 #Star1,
.StarCount3 #Star1,
.StarCount2 #Star2,
.StarCount3 #Star2,
.StarCount3 #Star3
{
	visibility: visible;
}

#ContractImageContainer
{
	margin-top: 23px;
	//margin-left: -1px;
	width: 94px;
	height: 94px;
	horizontal-align: center;
	//box-shadow: inset -3px -3px 6px 6px #000000;
	background-color: #111;
	//border-radius: 2px;
}


.HudContractImage #ContractImageContainer
{
	margin: 3px;
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-color: #111;
}

.SlotState_Available #ContractImageContainer
{
	opacity: 0;
}

.SlotState_SlotLocked #ContractImageContainer
{
	opacity: 0;
}

#HeroIcon,
#GenericIcon
{
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	
	border-top: 1px solid #ffffff44;
	border-left: 1px solid #ffffff22;
	border-right: 1px solid #ffffff00;
	border-bottom: 1px solid #333;
	
	box-shadow:  -3px -3px 6px 6px #000000aa;

	visibility: collapse;
}

.ContractTypeGeneric #GenericIcon
{
	visibility: visible;
}

.ContractTypeHero #HeroIcon 
{
	visibility: visible;
}

#ContractTextCenter
{
	width: 100%;
	height: 60px;
	visibility: visible;
}

.Empty #ContractTextCenter
{
	visibility: collapse;
}

.SlotState_Available #ContractTextCenter
{
	visibility: collapse;
}

#ContractText
{
	padding: 0px 4px;
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	vertical-align: center;
	font-size: 14px;
	//font-size: 10px;
	margin-bottom: 2px;
	color: #000000;
	height: 60px;
	height: fit-children;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: bold;
	text-overflow: shrink;
	margin-top: -2px;
}

.Empty #ContractText
{
	visibility: collapse;
}

.ChallengeValue
{
	color: black;
	font-weight: bold;
}

#EmptyText
{
	width: 100%;
	text-align: center;
	font-size: 42px;
	margin-bottom: 2px;
	color: black;
	font-weight: bold;
	visibility: collapse;
}

.Empty #EmptyText
{
	visibility: visible;
}

/* Sorta ugly to do this here, but we want to pretend that an
   available slot is empty, even if it has a completed bounty in it.*/
DOTAGuildContractSlot.SlotState_Available #GenericIcon,
DOTAGuildContractSlot.SlotState_Available #HeroIcon,
DOTAGuildContractSlot.SlotState_Available #StarsCenter,
DOTAGuildContractSlot.SlotState_Available #ContractText
{
	visibility: collapse;
}

DOTAGuildContractSlot.SlotState_Available #EmptyText
{
	visibility: visible;
}