DOTAGuildFeed
{
	width: 100%;
	height: 100%;

	flow-children: down;
}

DOTAFeedTimestamp
{
	color: #666666;
	font-size: 10px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 2px;
	margin-bottom: 3px;
}

.ChallengeContent #FeedTimestamp
{
	margin-right: -7px;
}

.GuildPrimaryColor0 .GuildLevelUpRow #FeedTimestamp { color: guildColor0; }
.GuildPrimaryColor1 .GuildLevelUpRow #FeedTimestamp { color: guildColor1; }
.GuildPrimaryColor2 .GuildLevelUpRow #FeedTimestamp { color: guildColor2; }
.GuildPrimaryColor3 .GuildLevelUpRow #FeedTimestamp { color: guildColor3; }
.GuildPrimaryColor4 .GuildLevelUpRow #FeedTimestamp { color: guildColor4; }
.GuildPrimaryColor5 .GuildLevelUpRow #FeedTimestamp { color: guildColor5; }
.GuildPrimaryColor6 .GuildLevelUpRow #FeedTimestamp { color: guildColor6; }
.GuildPrimaryColor7 .GuildLevelUpRow #FeedTimestamp { color: guildColor7; }
.GuildPrimaryColor8 .GuildLevelUpRow #FeedTimestamp { color: guildColor8; }
.GuildPrimaryColor9 .GuildLevelUpRow #FeedTimestamp { color: guildColor9; }

.GuildChallengeRow #FeedTimestamp,
.GuildContractRow #FeedTimestamp
{
	color: #ffffff26;
}

#FeedItemList
{
	width: 100%;
	height: 100%;
	height: 250px;
	flow-children: down;
	overflow: squish scroll;
	padding: 0px 14px 14px 14px;
}

.GuildFeedRow
{
	min-height: 32px;
	//height: fit-children;
	height: 60px;
	
	flow-children: down;
	flow-children: none;
	margin-bottom: 8px;
	
	margin-bottom: 3px;
	background-color: #ffffff02; 
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), to( #ffffff03 ) );
	border-top: 1px solid #ffffff02;
	border-right: 1px solid #ffffff02;
	box-shadow: 0px 0px 20px #000000aa;
	
	width: 89%;
	
	transition-property: brightness;
	transition-duration: .2s;
}

.GuildLevelUpRow
{
	border-top: 1px solid #ffffff08;
	border-right: 1px solid #ffffff10;
}

.GuildPrimaryColor0 .GuildLevelUpRow { background-color: gradient( linear, 0% 0%, 100% 0%, from( guildColor0&10 ), to( guildColor0&30 ) ); }
.GuildPrimaryColor1 .GuildLevelUpRow { background-color: gradient( linear, 0% 0%, 100% 0%, from( guildColor1&10 ), to( guildColor1&30 ) ); }
.GuildPrimaryColor2 .GuildLevelUpRow { background-color: gradient( linear, 0% 0%, 100% 0%, from( guildColor2&10 ), to( guildColor2&30 ) ); }
.GuildPrimaryColor3 .GuildLevelUpRow { background-color: gradient( linear, 0% 0%, 100% 0%, from( guildColor3&10 ), to( guildColor3&30 ) ); }
.GuildPrimaryColor4 .GuildLevelUpRow { background-color: gradient( linear, 0% 0%, 100% 0%, from( guildColor4&10 ), to( guildColor4&30 ) ); }
.GuildPrimaryColor5 .GuildLevelUpRow { background-color: gradient( linear, 0% 0%, 100% 0%, from( guildColor5&10 ), to( guildColor5&30 ) ); }
.GuildPrimaryColor6 .GuildLevelUpRow { background-color: gradient( linear, 0% 0%, 100% 0%, from( guildColor6&10 ), to( guildColor6&30 ) ); }
.GuildPrimaryColor7 .GuildLevelUpRow { background-color: gradient( linear, 0% 0%, 100% 0%, from( guildColor7&10 ), to( guildColor7&30 ) ); }
.GuildPrimaryColor8 .GuildLevelUpRow { background-color: gradient( linear, 0% 0%, 100% 0%, from( guildColor8&10 ), to( guildColor8&30 ) ); }
.GuildPrimaryColor9 .GuildLevelUpRow { background-color: gradient( linear, 0% 0%, 100% 0%, from( guildColor9&10 ), to( guildColor9&30 ) ); }

.GuildChallengeRow, 
.GuildContractRow
{
	border-top: 1px solid #ffffff06;
	border-right: 1px solid #ffffff09;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff06 ), to( #ffffff10 ) );
}



.GuildFeedRow #MainLabel
{
	width: 100%;
	font-size: 16px;
	line-height: 16px;
	vertical-align: center;
	color: #9b9b9b;
}

.GuildChallengeRow #MainLabel,
.GuildContractRow #MainLabel
{
	font-size: 16px;
	margin-bottom: -2px;
}

.GuildFeedRow #SecondaryLabel
{
	font-size: 14px;
}

.GuildFeedRowInternal
{
	flow-children: right;
	width: 100%;
	height: fit-children;
}

.GuildFeedLogoContainer
{
	width: 60px;
	height: 60px;
	flow-children: none;
	margin-right: 8px;
	box-shadow: #00000088 2px 2px 16px 0px;
}

#GuildLogoFrame
{
	width: 100%;
	height: 100%;
	background-image: guildTierFrame0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#GuildLogo
{
	width: 100%;
	height: 100%;
	border-radius: 12px;
	border-top: 1px solid #ffffff44;
	//border-left: 1px solid #ffffff08;
	box-shadow: #000 2px 2px 16px 0px;
	padding: 2px;
	margin-right: 0px;
}

.FeedImage
{
	width: 60px;
	height: 60px;

	margin-right: 8px;
	
	box-shadow: #000 0px 0px 12px 0px;
}

.ChallengeContentContainer
{
	flow-children: down;
	width: 100%;
	vertical-align: center;
}

.ChallengeContent
{
	width: fill-parent-flow( 1.0 );
	flow-children: none;
	vertical-align: center;
	margin-right: 10px;
	height: 100%;
}