DOTAGuildBanner
{
	width: 300px;
	height: 500px;
	border: 2px solid black;
}

#BackgroundColor
{
	width: 100%;
	height: 100%;
}

.Darkener
{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
}

DOTAGuildBanner.GuildSecondaryColor0 #BackgroundColor { background-color: guildSecondaryColor0; }
DOTAGuildBanner.GuildSecondaryColor1 #BackgroundColor { background-color: guildSecondaryColor1; }
DOTAGuildBanner.GuildSecondaryColor2 #BackgroundColor { background-color: guildSecondaryColor2; }
DOTAGuildBanner.GuildSecondaryColor3 #BackgroundColor { background-color: guildSecondaryColor3; }
DOTAGuildBanner.GuildSecondaryColor4 #BackgroundColor { background-color: guildSecondaryColor4; }
DOTAGuildBanner.GuildSecondaryColor5 #BackgroundColor { background-color: guildSecondaryColor5; }
DOTAGuildBanner.GuildSecondaryColor6 #BackgroundColor { background-color: guildSecondaryColor6; }
DOTAGuildBanner.GuildSecondaryColor7 #BackgroundColor { background-color: guildSecondaryColor7; }
DOTAGuildBanner.GuildSecondaryColor8 #BackgroundColor { background-color: guildSecondaryColor8; }
DOTAGuildBanner.GuildSecondaryColor9 #BackgroundColor { background-color: guildSecondaryColor9; }
DOTAGuildBanner.GuildSecondaryColor10 #BackgroundColor { background-color: guildSecondaryColor10; }
DOTAGuildBanner.GuildSecondaryColor11 #BackgroundColor { background-color: guildSecondaryColor11; }
DOTAGuildBanner.GuildSecondaryColor12 #BackgroundColor { background-color: guildSecondaryColor12; }
DOTAGuildBanner.GuildSecondaryColor13 #BackgroundColor { background-color: guildSecondaryColor13; }
DOTAGuildBanner.GuildSecondaryColor14 #BackgroundColor { background-color: guildSecondaryColor14; }
DOTAGuildBanner.GuildSecondaryColor15 #BackgroundColor { background-color: guildSecondaryColor15; }
DOTAGuildBanner.GuildSecondaryColor16 #BackgroundColor { background-color: guildSecondaryColor16; }
DOTAGuildBanner.GuildSecondaryColor17 #BackgroundColor { background-color: guildSecondaryColor17; }
DOTAGuildBanner.GuildSecondaryColor18 #BackgroundColor { background-color: guildSecondaryColor18; }
DOTAGuildBanner.GuildSecondaryColor19 #BackgroundColor { background-color: guildSecondaryColor19; }


DOTAGuildBanner.GuildPrimaryColor0 .PrimaryColored { wash-color: guildColor0; }
DOTAGuildBanner.GuildPrimaryColor1 .PrimaryColored { wash-color: guildColor1; }
DOTAGuildBanner.GuildPrimaryColor2 .PrimaryColored { wash-color: guildColor2; }
DOTAGuildBanner.GuildPrimaryColor3 .PrimaryColored { wash-color: guildColor3; }
DOTAGuildBanner.GuildPrimaryColor4 .PrimaryColored { wash-color: guildColor4; }
DOTAGuildBanner.GuildPrimaryColor5 .PrimaryColored { wash-color: guildColor5; }
DOTAGuildBanner.GuildPrimaryColor6 .PrimaryColored { wash-color: guildColor6; }
DOTAGuildBanner.GuildPrimaryColor7 .PrimaryColored { wash-color: guildColor7; }
DOTAGuildBanner.GuildPrimaryColor8 .PrimaryColored { wash-color: guildColor8; }
DOTAGuildBanner.GuildPrimaryColor9 .PrimaryColored { wash-color: guildColor9; }
DOTAGuildBanner.GuildPrimaryColor10 .PrimaryColored { wash-color: guildColor10; }
DOTAGuildBanner.GuildPrimaryColor11 .PrimaryColored { wash-color: guildColor11; }
DOTAGuildBanner.GuildPrimaryColor12 .PrimaryColored { wash-color: guildColor12; }
DOTAGuildBanner.GuildPrimaryColor13 .PrimaryColored { wash-color: guildColor13; }
DOTAGuildBanner.GuildPrimaryColor14 .PrimaryColored { wash-color: guildColor14; }
DOTAGuildBanner.GuildPrimaryColor15 .PrimaryColored { wash-color: guildColor15; }
DOTAGuildBanner.GuildPrimaryColor16 .PrimaryColored { wash-color: guildColor16; }
DOTAGuildBanner.GuildPrimaryColor17 .PrimaryColored { wash-color: guildColor17; }
DOTAGuildBanner.GuildPrimaryColor18 .PrimaryColored { wash-color: guildColor18; }
DOTAGuildBanner.GuildPrimaryColor19 .PrimaryColored { wash-color: guildColor19; }

#PatternOverlay
{
	width: 100%;
	height: 100%;

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	
	//brightness: .1;
}

DOTAGuildBanner.GuildPattern0 #PatternOverlay { background-image: guildPattern0; }
DOTAGuildBanner.GuildPattern1 #PatternOverlay { background-image: guildPattern1; }
DOTAGuildBanner.GuildPattern2 #PatternOverlay { background-image: guildPattern2; }
DOTAGuildBanner.GuildPattern3 #PatternOverlay { background-image: guildPattern3; }
DOTAGuildBanner.GuildPattern4 #PatternOverlay { background-image: guildPattern4; }
DOTAGuildBanner.GuildPattern5 #PatternOverlay { background-image: guildPattern5; }
DOTAGuildBanner.GuildPattern6 #PatternOverlay { background-image: guildPattern6; }
DOTAGuildBanner.GuildPattern7 #PatternOverlay { background-image: guildPattern7; }
DOTAGuildBanner.GuildPattern8 #PatternOverlay { background-image: guildPattern8; }
DOTAGuildBanner.GuildPattern9 #PatternOverlay { background-image: guildPattern9; }
DOTAGuildBanner.GuildPattern10 #PatternOverlay { background-image: guildPattern10; }
DOTAGuildBanner.GuildPattern11 #PatternOverlay { background-image: guildPattern11; }

DOTAGuildBanner.GuildSecondaryColor0 .SecondaryColored { wash-color: guildSecondaryColor0; }
DOTAGuildBanner.GuildSecondaryColor1 .SecondaryColored { wash-color: guildSecondaryColor1; }
DOTAGuildBanner.GuildSecondaryColor2 .SecondaryColored { wash-color: guildSecondaryColor2; }
DOTAGuildBanner.GuildSecondaryColor3 .SecondaryColored { wash-color: guildSecondaryColor3; }
DOTAGuildBanner.GuildSecondaryColor4 .SecondaryColored { wash-color: guildSecondaryColor4; }
DOTAGuildBanner.GuildSecondaryColor5 .SecondaryColored { wash-color: guildSecondaryColor5; }
DOTAGuildBanner.GuildSecondaryColor6 .SecondaryColored { wash-color: guildSecondaryColor6; }
DOTAGuildBanner.GuildSecondaryColor7 .SecondaryColored { wash-color: guildSecondaryColor7; }
DOTAGuildBanner.GuildSecondaryColor8 .SecondaryColored { wash-color: guildSecondaryColor8; }
DOTAGuildBanner.GuildSecondaryColor9 .SecondaryColored { wash-color: guildSecondaryColor9; }
DOTAGuildBanner.GuildSecondaryColor10 .SecondaryColored { wash-color: guildSecondaryColor10; }
DOTAGuildBanner.GuildSecondaryColor11 .SecondaryColored { wash-color: guildSecondaryColor11; }
DOTAGuildBanner.GuildSecondaryColor12 .SecondaryColored { wash-color: guildSecondaryColor12; }
DOTAGuildBanner.GuildSecondaryColor13 .SecondaryColored { wash-color: guildSecondaryColor13; }
DOTAGuildBanner.GuildSecondaryColor14 .SecondaryColored { wash-color: guildSecondaryColor14; }
DOTAGuildBanner.GuildSecondaryColor15 .SecondaryColored { wash-color: guildSecondaryColor15; }
DOTAGuildBanner.GuildSecondaryColor16 .SecondaryColored { wash-color: guildSecondaryColor16; }
DOTAGuildBanner.GuildSecondaryColor17 .SecondaryColored { wash-color: guildSecondaryColor17; }
DOTAGuildBanner.GuildSecondaryColor18 .SecondaryColored { wash-color: guildSecondaryColor18; }
DOTAGuildBanner.GuildSecondaryColor19 .SecondaryColored { wash-color: guildSecondaryColor19; }

#GuildLogo
{
	width: 110px;
	height: 110px;
	horizontal-align: center;
	margin-top: 50px;
	margin-left: 6px;

	background-color: #1e1e1e;
}

.NoLogo #GuildLogo
{
	background-size: 100%;
	background-repeat: no-repeat;	
	background-image: url("s2r://panorama/images/guilds/guild_default_icon_trim_psd.vtex");
}

// banners rendered onto world objects
.WorldUIRoot DOTAGuildBanner
{
	ui-scale: 100%;
	width: 256px;
	vertical-align: center;
	horizontal-align: center;

	//opacity-mask: url("s2r://panorama/images/guild_patterns/banner_masks/guild_banner_mask_01_tga.vtex");
}

#Striping
{
	width: 100%;
	height: 100%;

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;	

	background-image: url("s2r://panorama/images/guild_patterns/striping_tier_0_psd.vtex");
}

.Tier_1 #Striping {	background-image: url("s2r://panorama/images/guild_patterns/striping_tier_1_psd.vtex"); }
.Tier_2 #Striping {	background-image: url("s2r://panorama/images/guild_patterns/striping_tier_2_psd.vtex"); }
.Tier_3 #Striping {	background-image: url("s2r://panorama/images/guild_patterns/striping_tier_3_psd.vtex"); }
.Tier_4 #Striping {	background-image: url("s2r://panorama/images/guild_patterns/striping_tier_4_psd.vtex"); }

#StripingBG
{
	width: 100%;
	height: 100%;

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;	

	background-image: url("s2r://panorama/images/guild_patterns/striping_bg_tier_0_psd.vtex");
}

.Tier_1 #StripingBG {	background-image: url("s2r://panorama/images/guild_patterns/striping_bg_tier_1_psd.vtex"); }
.Tier_2 #StripingBG {	background-image: url("s2r://panorama/images/guild_patterns/striping_bg_tier_2_psd.vtex"); }
.Tier_3 #StripingBG {	background-image: url("s2r://panorama/images/guild_patterns/striping_bg_tier_3_psd.vtex"); }
.Tier_4 #StripingBG {	background-image: url("s2r://panorama/images/guild_patterns/striping_bg_tier_4_psd.vtex"); }

#Overlay
{
	width: 100%;
	height: 100%;

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;	

	background-image: url("s2r://panorama/images/guild_patterns/overlay_tier_0_psd.vtex");
}

.Tier_1 #Overlay {	background-image: url("s2r://panorama/images/guild_patterns/overlay_tier_1_psd.vtex"); }
.Tier_2 #Overlay {	background-image: url("s2r://panorama/images/guild_patterns/overlay_tier_2_psd.vtex"); }
.Tier_3 #Overlay {	background-image: url("s2r://panorama/images/guild_patterns/overlay_tier_3_psd.vtex"); }
.Tier_4 #Overlay {	background-image: url("s2r://panorama/images/guild_patterns/overlay_tier_4_psd.vtex"); }
