DOTAGuildLevel
{
    flow-children: down;
}

#LevelCircleBorder
{
	width: 102px;
    height: 102px;

    vertical-align: middle;
    horizontal-align: center;

    border-radius: 50%;
	
	box-shadow: black 0px 0px 8px 0px;
	background-color: black;
}



#LevelCircle
{
    width: 90px;
    height: 90px;
    border-top: 2px solid #ffffff20;
	border-left: 1px solid #ffffff20;
	border-right: 1px solid #ffffff20;
	

    vertical-align: middle;
    horizontal-align: center;

    border-radius: 50%;
	
}

.GuildPrimaryColor0 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor0 ), to( hsv-transform( guildColor0, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor1 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor1 ), to( hsv-transform( guildColor1, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor2 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor2 ), to( hsv-transform( guildColor2, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor3 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor3 ), to( hsv-transform( guildColor3, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor4 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor4 ), to( hsv-transform( guildColor4, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor5 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor5 ), to( hsv-transform( guildColor5, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor6 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor6 ), to( hsv-transform( guildColor6, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor7 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor7 ), to( hsv-transform( guildColor7, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor8 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor8 ), to( hsv-transform( guildColor8, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor9 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor9 ), to( hsv-transform( guildColor9, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor10 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor10 ), to( hsv-transform( guildColor10, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor11 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor11 ), to( hsv-transform( guildColor11, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor12 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor12 ), to( hsv-transform( guildColor12, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor13 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor13 ), to( hsv-transform( guildColor13, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor14 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor14 ), to( hsv-transform( guildColor14, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor15 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor15 ), to( hsv-transform( guildColor15, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor16 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor16 ), to( hsv-transform( guildColor16, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor17 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor17 ), to( hsv-transform( guildColor17, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor18 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor18 ), to( hsv-transform( guildColor18, 0.0, 1.0, 0.1 ) ) ); }
.GuildPrimaryColor19 #LevelCircle { background-color: gradient( linear, 0% 0%, 0% 100%, from( guildColor19 ), to( hsv-transform( guildColor19, 0.0, 1.0, 0.1 ) ) ); }


#GuildPerkUnlockLevel #LevelNumber
{
	font-size: 30px;
	margin-top: -2px;
}

#LevelNumber
{
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 24px #ffffff55;
    color: white;
    font-size: 56px;
	margin-top: 1px;
}

#NextLevelProgressBar
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffffff09;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #ffffff08 ), to( #ffffff04 ) )
    //border-top: 1px solid #ffffff;
    transform: rotateZ( 180deg );
}
.HideProgressBar #NextLevelProgressBar
{
    visibility: collapse;
}

#NextLevelProgressBar .CircularProgressBarFG
{
    width: 100%;
    height: 100%;
	brightness: 2;
}

.CircleContainer
{
    horizontal-align: center;
}

.GuildPrimaryColor0 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor0; }
.GuildPrimaryColor1 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor1; }
.GuildPrimaryColor2 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor2; }
.GuildPrimaryColor3 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor3; }
.GuildPrimaryColor4 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor4; }
.GuildPrimaryColor5 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor5; }
.GuildPrimaryColor6 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor6; }
.GuildPrimaryColor7 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor7; }
.GuildPrimaryColor8 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor8; }
.GuildPrimaryColor9 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor9; }
.GuildPrimaryColor10 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor10; }
.GuildPrimaryColor11 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor11; }
.GuildPrimaryColor12 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor12; }
.GuildPrimaryColor13 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor13; }
.GuildPrimaryColor14 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor14; }
.GuildPrimaryColor15 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor15; }
.GuildPrimaryColor16 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor16; }
.GuildPrimaryColor17 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor17; }
.GuildPrimaryColor18 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor18; }
.GuildPrimaryColor19 #NextLevelProgressBar .CircularProgressBarFG { background-color: guildColor19; }


#GuildLevelCounter
{
    height: 22px;
    width: 100%;
    margin-bottom: 20px;
    vertical-align: bottom;
    flow-children: right;
	overflow: noclip;
}

.LargeProgress #GuildLevelCounter
{
    height: 30px;
    width: 100%;
    margin-bottom: 12px;
}

.NoPointsProgress #GuildLevelCounter
{
    visibility: collapse;
}

#CurrentXP,
#XPRequirement
{
    width: fill-parent-flow( 1.0 );
    font-size: 18px;
    letter-spacing: 0px;
}

.LargeProgress #CurrentXP,
.LargeProgress #XPRequirement
{
    font-size: 22px;
}

#CurrentXP
{
    text-align: right;
    margin-right: 7px;
    margin-top: 6px;
}


.GuildPrimaryColor0 #CurrentXP { color: hsv-transform( guildColor0, 0, 1, 2 ); }
.GuildPrimaryColor1 #CurrentXP { color: hsv-transform( guildColor1, 0, 1, 2 ); }
.GuildPrimaryColor2 #CurrentXP { color: hsv-transform( guildColor2, 0, 1, 2 ); }
.GuildPrimaryColor3 #CurrentXP { color: hsv-transform( guildColor3, 0, 1, 2 ); }
.GuildPrimaryColor4 #CurrentXP { color: hsv-transform( guildColor4, 0, 1, 2 ); }
.GuildPrimaryColor5 #CurrentXP { color: hsv-transform( guildColor5, 0, 1, 2 ); }
.GuildPrimaryColor6 #CurrentXP { color: hsv-transform( guildColor6, 0, 1, 2 ); }
.GuildPrimaryColor7 #CurrentXP { color: hsv-transform( guildColor7, 0, 1, 2 ); }
.GuildPrimaryColor8 #CurrentXP { color: hsv-transform( guildColor8, 0, 1, 2 ); }
.GuildPrimaryColor9 #CurrentXP { color: hsv-transform( guildColor9, 0, 1, 2 ); }
.GuildPrimaryColor10 #CurrentXP { color: hsv-transform( guildColor10, 0, 1, 2 ); }
.GuildPrimaryColor11 #CurrentXP { color: hsv-transform( guildColor11, 0, 1, 2 ); }
.GuildPrimaryColor12 #CurrentXP { color: hsv-transform( guildColor12, 0, 1, 2 ); }
.GuildPrimaryColor13 #CurrentXP { color: hsv-transform( guildColor13, 0, 1, 2 ); }
.GuildPrimaryColor14 #CurrentXP { color: hsv-transform( guildColor14, 0, 1, 2 ); }
.GuildPrimaryColor15 #CurrentXP { color: hsv-transform( guildColor15, 0, 1, 2 ); }
.GuildPrimaryColor16 #CurrentXP { color: hsv-transform( guildColor16, 0, 1, 2 ); }
.GuildPrimaryColor17 #CurrentXP { color: hsv-transform( guildColor17, 0, 1, 2 ); }
.GuildPrimaryColor18 #CurrentXP { color: hsv-transform( guildColor18, 0, 1, 2 ); }
.GuildPrimaryColor19 #CurrentXP { color: hsv-transform( guildColor19, 0, 1, 2 ); }

#XPDivider
{
    transform: translateX( 1px );
    height: 100%;
    width: 3px;
    background-color: #ffffff06;
}

#XPRequirement
{
    text-align: left;
    margin-left: 7px;
    margin-top: 6px;
    color: #555;
}

#LevelXPRequirement
{
    height: 100%;
    width: 100%;
    //background-color: green;
}

.GuildDetailsContents #GuildLevel
{
	margin-top: 24px;
	width: 100%;
}

.GuildDetailsContents #GuildLevel,
.GuildDetailsContents #GuildLevelCounter
{
    horizontal-align: center;
	
}
