DOTAHeroBadge
{
}

/* -- Icon Style ----------------------------------------------------------- */
DOTAHeroBadge.IconStyle
{
	width: 48px;
	height: 48px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
DOTAHeroBadge.IconStyle.NoTier { }
DOTAHeroBadge.IconStyle.BronzeTier			{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_0_png.vtex"); }
DOTAHeroBadge.IconStyle.SilverTier			{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_png.vtex"); }
DOTAHeroBadge.IconStyle.GoldTier			{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_png.vtex"); }
DOTAHeroBadge.IconStyle.PlatinumTier		{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_png.vtex"); }
DOTAHeroBadge.IconStyle.MasterTier			{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_png.vtex"); }
DOTAHeroBadge.IconStyle.GrandmasterTier		{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_png.vtex"); }


/* -- Level Style ---------------------------------------------------------- */
DOTAHeroBadge.LevelStyle
{
	width: 96px;
	height: 96px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
DOTAHeroBadge.LevelStyle.NoTier 			{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_empty_psd.vtex"); }
DOTAHeroBadge.LevelStyle.BronzeTier			{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_0_png.vtex"); }
DOTAHeroBadge.LevelStyle.SilverTier			{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_1_png.vtex"); }
DOTAHeroBadge.LevelStyle.GoldTier			{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_2_png.vtex"); }
DOTAHeroBadge.LevelStyle.PlatinumTier		{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_3_png.vtex"); }
DOTAHeroBadge.LevelStyle.MasterTier			{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_4_png.vtex"); }
DOTAHeroBadge.LevelStyle.GrandmasterTier	{ background-image: url("s2r://panorama/images/hero_badges/hero_badge_rank_5_png.vtex"); }

DOTAHeroBadge.LevelStyle > Label
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 29px;
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 4px 8.0 black;
	text-align: center;
	margin-top: 2px;
	margin-right: 0px;
	letter-spacing: 1px;
	font-family: titleFont;
}

DOTAHeroBadge.LevelStyle.NoTier > Label { visibility: collapse; }


DOTAHeroBadge.ModelStyle
{
	width: 496px;
	height: 496px;
	margin-right: -200px;
	margin-top: -190px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

DOTAHeroBadge.ModelStyle > Label
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 29px;
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 4px 4 black;
	text-align: center;
	margin-top: 2px;
	margin-right: 0px;
	letter-spacing: 1px;
	font-family: titleFont;
}
DOTAHeroBadge.ModelStyle.NoTier > Label { visibility: collapse; }

DOTAHeroBadge.ModelStyle > DOTAScenePanel
{
	width: 100%;
	height: 100%;
	margin-top: 8px;
}
