/* DOTAHeroCard */

@define expandDuration: 0.05s;
@define contentBorderSize: 2px;
@define contentBorderSizeNegative: -2px; /* = -1.0 * contentBorderSize */

/* Adjust these constants to change the layout of the hero grid.
   WARNING: if you adjust any of these, you must also adjust the other constants below according to their formulas!
*/
@define expandedScale: 1.0; /* When a card is expanded it should be at 1.0 scale so that text works correctly */
@define defaultScale: 0.485; /* The scale of a card when it's not expanded */
@define defaultScaleX: 0.32; /* We scale the x slightly smaller than the Y so that the card is a little less wide when not expanded */
@define imageWidth: 71px;
@define imageHeight: 94px;

@define imageScale: 2.06; /* = expandedScale / defaultScale */
@define cardWidth: 213px;
@define cardHeight: 282px;
@define imageDefaultScaleX: 3.0; /* = ( 1.0 - ( defaultScaleX / defaultScale ) ) * imageScale */
@define hitSizePercent: 66.67%; /* = 1.0 / ( defaultScale + ( expandedScale - defaultScale ) * 2.0 ) */

/* These values are calculated as ( 1.0 - hitSizePercent ) * defaultScale / expandedScale.
   However, using that exact value ( 16.67% ) causes clipping issues, so I've rounded down to 15%. */
@define translateFirstColumn: translateX( 13% );
@define translateLastColumn: translateX( -13% );
@define translateFirstRow: translateY( 16% ); 
@define translateLastRow: translateY( -16% );

@define defaultScale3d: scale3d( defaultScaleX, defaultScale, 1.0 );
@define expandedScale3d: scale3d( expandedScale, expandedScale, 1.0 );
@define heroPickexpandedScale3d: scale3d( 0.8, 1.0, 1.0 );
@define imageDefaultScale3d: scale3d( imageDefaultScaleX, imageScale, 1.0 );
@define imageExpandedScale3d: scale3d( imageScale, imageScale, 1.0 );


DOTAHeroCard
{
    width: cardWidth;
    height: cardHeight;
}

#Contents
{
    width: hitSizePercent;
    height: hitSizePercent;

	transform-origin: 50% 50%;
    transform: defaultScale3d;

    vertical-align: middle;
    horizontal-align: center;

    box-shadow: #000000aa -2px -2px 4px 4px;

    transition-property: transform, box-shadow, opacity, saturation, wash-color;
    transition-duration: expandDuration, expandDuration, 0.3s, 0.3s, 0.3s;
	transition-timing-function: ease-in-out;
}

DOTAHeroCard.Showing #Contents
{
	saturation: 0.7;
	brightness: 1.0;
	wash-color: white;
}

DOTAHeroCard.Showing.Highlighted #Contents
{
	saturation: 1;
}

DOTAHeroCard.Showing.Filtered #Contents,
DOTAHeroCard.Showing.Unavailable #Contents
{
    /* fade out when unavailable */
	brightness: 0.3;
	saturation: 0.0;
	wash-color: #777777aa;
	
	brightness: 1;
	contrast: .8;
	saturation: 0;
	wash-color: #7ABCCEaa;
	opacity: .4;
	box-shadow: none;
}

DOTAHeroCard.Showing.Banned #Contents
{
	brightness: 0.3;
	saturation: 0.2;
	wash-color: #ff4444aa;
	contrast: .9;
	opacity: 1;
}

.IsInBanPhase DOTAHeroCard.Showing.Banned #Contents
{
	brightness: 0.5;
	saturation: 0.5;
	wash-color: #ffffff;
	contrast: 1;
}


DOTAHeroCard.Showing.AlreadyPicked #Contents
{
	brightness: 1;
	contrast: .8;
	saturation: 0;
	wash-color: #7ABCCEaa;
	opacity: .4;
	box-shadow: none;
}


DOTAHeroCard.Showing.Suggested #SuggestedOverlay
{
	opacity: 1;
}

DOTAHeroCard.Showing.Suggested.Filtered #SuggestedOverlay
{
	opacity: 0.15;
}

.SearchingHeroes DOTAHeroCard.Showing #Contents
{
	brightness: 0.3;
	saturation: 0.0;
	wash-color: #777777aa;
}

.SearchingHeroes DOTAHeroCard.Showing.Filtered #Contents,
.SearchingHeroes DOTAHeroCard.Showing.Banned #Contents,
.SearchingHeroes DOTAHeroCard.Showing.Unavailable #Contents,
.SearchingHeroes DOTAHeroCard.Showing.AlreadyPicked #Contents
{
	brightness: 0.3;
	saturation: 0.0;
	wash-color: #777777aa;
}

.SearchingHeroes DOTAHeroCard.Showing.Highlighted #Contents
{
	brightness: 1.0;
	saturation: 1;
	wash-color: white;
}

#HitTarget
{
    width: 88%;
    height: 79%;

    transform: defaultScale3d;

    vertical-align: middle;
    horizontal-align: center;
}


.AspectRatio4x3 #HitTarget, .AspectRatio4x3 #Contents
{
	transform: scale3d( 0.32, 0.485, defaultScale );
}
.AspectRatio5x4 #HitTarget, .AspectRatio5x4 #Contents
{
	transform: scale3d( 0.29, 0.43, defaultScale );
}


#HitTarget
{
    /* Useful to enable for debugging 
    border: 3px solid white;*/
}

DOTAHeroCard.Showing.Highlighted #Contents
{
    box-shadow: #00ffff44 -4px -4px 8px 8px;

    animation-name: HeroCardHighlight;
    animation-duration: 0.2s;

	brightness: 2;
}

DOTAHeroCard.Showing.Highlighted:focus #Contents
{
    box-shadow: #00ffffcc -6px -6px 12px 12px;
	brightness: 3;
}

DOTAHeroCard.Showing.Highlighted.Expanded #Contents
{
    box-shadow: #000000aa -2px -2px 4px 4px;
}

@keyframes 'HeroCardHighlight'
{
    0%
    {
	    pre-transform-scale2d: 1;
    }
    1%
    {
        z-index: 1;
    }
    50%
    {
	    pre-transform-scale2d: 1.25;
    }				
    99%
    {
        z-index: 0;
    }
    100%
    {
	    pre-transform-scale2d: 1;
    }
}


@keyframes 'HeroCardSelected'
{
    0%
    {
	    brightness: 1;
    }
    50%
    {
	    brightness: 2;
    }				
    100%
    {
	    brightness: 1;
    }
}

DOTAHeroCard.Showing.Expanded #Contents
{
    transform: expandedScale3d;
	transition-duration: 0.18s;
	saturation: 1;
	
	animation-name: HeroCardExpand;
	animation-duration: 0.25s;
	animation-timing-function: ease-in;
}

@keyframes 'HeroCardExpand'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.075;
	}				
				
	100%
	{
		pre-transform-scale2d: 1;
	}
}


DOTAHeroCard.Expanded:disabled #Contents
{
    transform: scale3d( 0.32, 0.485, defaultScale );
	animation-name: none;
	box-shadow: #00000000 0px 0px 0px 0px;
}


DOTAHeroCard:disabled #Contents
{
    transform: scale3d( 0.32, 0.485, defaultScale );
	animation-name: none;
	box-shadow: #00000000 0px 0px 0px 0px;
}

/* Apply a translate as well as the scale so the cards on the edges scale inwards */
DOTAHeroCard.LastRow.Expanded #Contents     { transform: expandedScale3d translateLastRow; }
DOTAHeroCard.LastColumn.Expanded #Contents  { transform: expandedScale3d translateLastColumn; }
DOTAHeroCard.FirstRow.Expanded #Contents    { transform: expandedScale3d translateFirstRow; }
DOTAHeroCard.FirstColumn.Expanded #Contents { transform: expandedScale3d translateFirstColumn; }
DOTAHeroCard.LastColumn.LastRow.Expanded #Contents      { transform: expandedScale3d translateLastColumn translateLastRow; }
DOTAHeroCard.FirstColumn.LastRow.Expanded #Contents     { transform: expandedScale3d translateFirstColumn translateLastRow; }
DOTAHeroCard.LastColumn.FirstRow.Expanded #Contents     { transform: expandedScale3d translateLastColumn translateFirstRow; }
DOTAHeroCard.FirstColumn.FirstRow.Expanded #Contents    { transform: expandedScale3d translateFirstColumn translateFirstRow; }

DOTAHudPreGame DOTAHeroCard.Showing.Expanded #Contents	{ transform: heroPickexpandedScale3d; }
DOTAHudPreGame DOTAHeroCard.LastRow.Expanded #Contents     { transform: heroPickexpandedScale3d translateLastRow; }
DOTAHudPreGame DOTAHeroCard.LastColumn.Expanded #Contents  { transform: heroPickexpandedScale3d translateLastColumn; }
DOTAHudPreGame DOTAHeroCard.FirstRow.Expanded #Contents    { transform: heroPickexpandedScale3d translateFirstRow; }
DOTAHudPreGame DOTAHeroCard.FirstColumn.Expanded #Contents { transform: heroPickexpandedScale3d translateFirstColumn; }
DOTAHudPreGame DOTAHeroCard.LastColumn.LastRow.Expanded #Contents      { transform: heroPickexpandedScale3d translateLastColumn translateLastRow; }
DOTAHudPreGame DOTAHeroCard.FirstColumn.LastRow.Expanded #Contents     { transform: heroPickexpandedScale3d translateFirstColumn translateLastRow; }
DOTAHudPreGame DOTAHeroCard.LastColumn.FirstRow.Expanded #Contents     { transform: heroPickexpandedScale3d translateLastColumn translateFirstRow; }
DOTAHudPreGame DOTAHeroCard.FirstColumn.FirstRow.Expanded #Contents    { transform: heroPickexpandedScale3d translateFirstColumn translateFirstRow; }


#HeroImage
{
    width: imageWidth;
    height: imageHeight;
	
	background-color: #000000de;

    vertical-align: middle;
    horizontal-align: center;

    overflow: noclip;

    transform: imageDefaultScale3d;

    transition-property: transform;
    transition-duration: expandDuration;
	transition-timing-function: ease-in-out;
}

DOTAHeroCard.Showing.Expanded #HeroImage
{
    transform: imageExpandedScale3d;
	transition-duration: 0.2s;
}

DOTAHeroCard.Showing.Expanded:disabled #HeroImage
{
	transform: imageDefaultScale3d;
	border: 0px solid transparent;
}

/* Movie expands to fill the content area. */
#HeroMovie
{
	border: 2px solid transparent;
    width: 100%;
    height: 100%;
	
	opacity: 0.0;
	
    transition-property: opacity;
    transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

#HeroMovie DOTAHeroMovie
{
    width: 100%;
    height: 100%;
}

DOTAHeroCard.Showing.Expanded #HeroMovie
{
	border: 2px solid black;
  	opacity: 1.0;
}


DOTAHeroCard.Showing.Expanded:disabled #HeroMovie
{
	opacity: 0.0;
}


#HeroName
{
	background-color: #111111cc;
    width: 100%;
	min-height: 14%;
    text-align: center;
    vertical-align: bottom;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 2px black;
	text-transform: uppercase;
	letter-spacing: 2px;
    opacity: 0.0;
	font-size: 15px;
	margin-bottom: -2px;

    transition-property: opacity, background-color;
    transition-duration: 0.3s;
}

DOTAHeroCard.Expanded #HeroName
{
    opacity: 1.0;
}
DOTAHeroCard.Expanded:disabled #HeroName
{
    opacity: 0.0;
}

DOTAHudPreGame DOTAHeroCard
{
	width: cardWidth;
	height: 213px;
	
	margin: -66px -78px;
}

.AspectRatio5x4 DOTAHudPreGame DOTAHeroCard, .AspectRatio4x3 DOTAHudPreGame DOTAHeroCard
{
	width: 190px;
	height: 213px;
}


#HitBlocker
{
	width: 30%;
	height: 40%;
	visibility: collapse;
	//border: 1px solid red;
	horizontal-align: center;
	vertical-align: middle;
}

.Filtered #HitBlocker,
.AlreadyPicked #HitBlocker,
.Unavailable #HitBlocker,
.Banned #HitBlocker
{
	visibility: visible;
}


#BannedOverlay
{
	background-image: url("s2r://panorama/images/hero_selection/banned_overlay_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	wash-color: red;

	width: 80%;
	height: 100%;
	horizontal-align: center;
	
	
	transform: translateX(14px) translateY(-18px);
	
	vertical-align: center;
	
	pre-transform-scale2d: .4;

	opacity: 0.0;

	transition-property: opacity, pre-transform-scale2d, transform;
	transition-duration: .24s;
}

.CardStatusOverlay
{
	background-image: url("s2r://panorama/images/hero_selection/suggested_overlay_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	width: 80%;
	height: 100%;
	horizontal-align: center;

	animation-name: none;
	animation-duration: 0.25s;
	animation-timing-function: ease-in;	
	
	transform: translateX(0px) translateY(0px);
	
	vertical-align: center;
	
	pre-transform-scale2d: .4;

	opacity: 0.0;

	transition-property: opacity, pre-transform-scale2d;
	transition-duration: expandDuration;
}

.Filtered #BattlePassIcon,
.AlreadyPicked #BattlePassIcon,
.Unavailable #BattlePassIcon
{
	opacity: .1;
}


#SuggestedOverlay
{
	background-image: url("s2r://panorama/images/hero_selection/suggested_overlay_psd.vtex");	
}

#AllHeroChallengeOverlay
{
	background-image: url("s2r://panorama/images/hero_selection/allhero_overlay_psd.vtex");	
}


#DailyHeroChallengeOverlay
{
	background-image: none;
	width: 80%;
	height: 100%;
	//horizontal-align: center;
}

#BattlePassIcon
{
	background-image: url("s2r://panorama/images/hero_selection/battlepassdaily_fall_psd.vtex");	
	background-size: contain;
	width: 86px;
	height: 129px;
	horizontal-align: left;
	vertical-align: top;
	margin-left: -2px;
	margin-top: -24px;
}

DOTAHudPreGame DOTAHeroCard.Showing.Expanded #BattlePassIcon
{
	width: 56px;
	height: 84px;
	vertical-align: middle;
	margin: 0px;
	margin-left: 22px;
	margin-bottom: 64px;
	margin-top: 20px;
}

DOTAHudPreGame DOTAHeroCard.Showing.Expanded.AllHeroChallenge.DailyHeroChallenge #BattlePassIcon
{
	width: 56px;
	height: 84px;
	vertical-align: middle;
	margin: 0px;
	//margin-left: 22px;
	horizontal-align: center;
	margin-top: 42px;
	opacity: .35;
}	

#DailyHeroChallengeOverlay Label
{
	vertical-align: center;
	margin-top: 126px;
	width: 100px;
	text-align: center;
	color: #B1F25C;
	text-shadow: 0px 0px 8px 2 #598223;
	
}

.CardStatusOverlay Label
{
	horizontal-align: center;
	vertical-align: bottom;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: bold;
	color: #F9D1ED;
	text-shadow: 0px 0px 8px 2 #CA4385;
	opacity: 0;

	transition-property: opacity;
	transition-duration: expandDuration;	
}

#AllHeroChallengeOverlay Label
{
	vertical-align: top;
	margin-top: 36px;
	width: 100px;
	text-align: center;
	color: #BBDDF8;
	text-shadow: 0px 0px 8px 2 #6FAEF8;
	
}

DOTAHudPreGame DOTAHeroCard.Showing.Expanded .CardStatusOverlay
{
	animation-name: HeroCardExpand;
	pre-transform-scale2d: 1;
	transform: translateX(0px) translateY(-60px);
}

DOTAHudPreGame DOTAHeroCard.Showing.Expanded .CardStatusOverlay.OverlayAbove
{
	transform: translateX(0px) translateY(2px);
}

DOTAHudPreGame DOTAHeroCard.Expanded .CardStatusOverlay Label
{
	opacity: 1;
}

DOTAHudPreGame DOTAHeroCard.Expanded.Filtered .CardStatusOverlay
{
	opacity: 0.2;
}

DOTAHudPreGame DOTAHeroCard.FirstColumn.FirstRow.Expanded .CardStatusOverlay    { transform:  translateFirstColumn translateY( -28px); }
DOTAHudPreGame DOTAHeroCard.FirstRow.Expanded .CardStatusOverlay    { transform:  translateY( -28px); }
DOTAHudPreGame DOTAHeroCard.LastColumn.FirstRow.Expanded .CardStatusOverlay    { transform:  translateLastColumn translateY( -28px ); }
DOTAHudPreGame DOTAHeroCard.FirstColumn.Expanded .CardStatusOverlay     		   { transform:  translateFirstColumn translateY( -60px );} 
DOTAHudPreGame DOTAHeroCard.LastColumn.Expanded .CardStatusOverlay     			{ transform:  translateLastColumn translateY( -60px );} 
DOTAHudPreGame DOTAHeroCard.FirstColumn.LastRow.Expanded .CardStatusOverlay     { transform:  translateFirstColumn translateY( -86px ); }
DOTAHudPreGame DOTAHeroCard.LastRow.Expanded .CardStatusOverlay     				{ transform: translateY( -86px ); }
DOTAHudPreGame DOTAHeroCard.LastColumn.LastRow.Expanded .CardStatusOverlay     { transform:   translateY( -86px ); }

DOTAHudPreGame DOTAHeroCard.FirstColumn.FirstRow.Expanded .CardStatusOverlay.OverlayAbove    { transform:  translateFirstColumn translateY( 34px); }
DOTAHudPreGame DOTAHeroCard.FirstRow.Expanded .CardStatusOverlay.OverlayAbove    { transform:  translateY( 34px); }
DOTAHudPreGame DOTAHeroCard.LastColumn.FirstRow.Expanded .CardStatusOverlay.OverlayAbove    { transform:  translateLastColumn translateY( -28px ); }
DOTAHudPreGame DOTAHeroCard.FirstColumn.Expanded .CardStatusOverlay.OverlayAbove     		   { transform:  translateFirstColumn translateY( 2px );} 
DOTAHudPreGame DOTAHeroCard.LastColumn.Expanded .CardStatusOverlay.OverlayAbove     			{ transform:  translateLastColumn translateY( 2px );} 
DOTAHudPreGame DOTAHeroCard.FirstColumn.LastRow.Expanded .CardStatusOverlay.OverlayAbove     { transform:  translateFirstColumn translateY( -24px ); }
DOTAHudPreGame DOTAHeroCard.LastRow.Expanded .CardStatusOverlay.OverlayAbove     				{ transform: translateY( -24px ); }
DOTAHudPreGame DOTAHeroCard.LastColumn.LastRow.Expanded .CardStatusOverlay.OverlayAbove     { transform:   translateY( -24px ); }

DOTAHeroCard.Banned #BannedOverlay
{
	opacity: 1.0;
	transform: translateX(0px) translateY(0px);
}

DOTAHeroCard.AllHeroChallenge #AllHeroChallengeOverlay,
DOTAHeroCard.DailyHeroChallenge #DailyHeroChallengeOverlay
{
	opacity: 1.0;
}
