
#RubickArcanaProgressButton
{
	vertical-align: bottom;
	margin-left: 160px;
	margin-bottom: 40px;

	width: 260px;
	height: 260px;

	context-menu-body-position: 50% 100%;

	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #31fc96 ), to( transparent ) );
	background-color: transparent;

	/*animation-name: GlowyButton;*/
	animation-duration: 1.0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes 'GlowyButton'
{
	0%		{ background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #20a562 ), to( transparent ) ); }
	100%	{ background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #31fc96 ), to( transparent ) ); }
}

#RubickArcanaProgressButton Label
{
	vertical-align: middle;
	horizontal-align: center;
	font-size: 20px;
	color: rgb(209, 245, 218);
	text-shadow: 2px 0px 8px 10 rgb(9, 54, 24);
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;

	transition-property: color, text-shadow;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
}

#RubickArcanaProgressButton:hover #RubickCube
{
	brightness: 2.0;
	hue-rotation: -90deg;
}

#RubickArcanaProgressButton:active #RubickCube
{
	brightness: 1.5;
}

#RubickArcanaProgressButton:hover Label
{
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 14px 1 rgb(233, 194, 65);
}

#RubickArcanaProgressButton:active Label
{
	color: rgb(23, 116, 0);
	transition-duration: .1s;
}

#RubickCube
{
	width: 100%;
	height: 100%;
	margin-left: 12px;
	hue-rotation: 30deg;

	transition-property: brightness, hue-rotation;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
}

// Earthshaker Arcana

#EarthshakerArcanaProgressButton
{
	vertical-align: bottom;
	margin-left: 80px;
	margin-bottom: 100px;

	width: 180px;
	height: 180px;
	background-size: 100%,100%;

	context-menu-body-position: 50% 100%;

	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #54efff ), to( transparent ) );
	background-color: transparent;

	/*animation-name: GlowyButton;*/
	animation-duration: 1.0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}


.EarthshakerArcanaProgressButtonMask
{
	width: 100%;
	height: 100%;
	background-size: 100%,100%;
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_matte_psd.vtex");
	opacity: 1;

	transition-property: opacity;
	transition-duration: 0.75s;
	transition-timing-function: ease-in-out;
}

.ContextMenuActive .EarthshakerArcanaProgressButtonMask
{
	opacity: 0;
}


@keyframes 'GlowyButton'
{
	0%		{ background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #54efff ), to( transparent ) ); }
	100%	{ background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #54efff ), to( transparent ) ); }
}

#EarthshakerArcanaProgressButton
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_1_psd.vtex");
}

#EarthshakerArcanaProgressButton.ArcanaScoreBucket50
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_2_psd.vtex");
}

#EarthshakerArcanaProgressButton.ArcanaScoreBucket100 
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_3_psd.vtex");
}

#EarthshakerArcanaProgressButton.ArcanaScoreBucket150
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_4_psd.vtex");
}

#EarthshakerArcanaProgressButton.ArcanaScoreBucket200 
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_5_psd.vtex");
}

#EarthshakerArcanaProgressButton.ArcanaScoreBucket250 
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_6_psd.vtex");
}

#EarthshakerArcanaProgressButton.ArcanaScoreBucket300 
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_earthshaker/earthshaker_arcana_progress_7_psd.vtex");
}

#EarthshakerArcanaProgressButton .EarthshakerButtonLabel
{
	vertical-align: top;
	margin-top: 55px;
	horizontal-align: center;
	font-size: 12px;
	color: #54efff;
	text-shadow: 2px 0px 8px 10 rgb(0, 54, 54);
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-align: center;
	opacity: 1;
	z-index: 3;

	transition-property: color, text-shadow, opacity;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
}

#EarthshakerArcanaProgressButton .PointsEarned {
	vertical-align: middle;
	margin-top: 5px;
	horizontal-align: center;
	font-size: 36px;
	color: #ffffff;
	text-shadow: 2px 0px 8px 10 rgb(0, 54, 54);
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	opacity: 1;
	z-index: 3;

	transition-property: color, text-shadow, opacity;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
}

.EarthshakerLearnMore {
	font-size: 12px;
	font-weight: light;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 53px;
	letter-spacing: 0.5px;
	border-bottom: 1px solid #99999960;
	z-index: 3;

	transition-property: color, text-shadow, opacity;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
}

#EarthshakerProgress_Default {
	width: 100%;
	height: 100%;
	opacity: 0;

	transition-property: opacity;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
}

.Hide {
	visibility: visible;
	vertical-align: center;
	margin-top: 50px;
	border-bottom: 0px solid;
	width: 100px;

	font-size: 18px;
	color: #54efff;
	text-shadow: 2px 0px 8px 10 rgb(0, 54, 54);
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-align: center;
	opacity: 1;
	z-index: 3;

	transition-property: color, text-shadow, opacity;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
}

.LearnMore:hover Label {
	color: #ffffff;
}

.ContextMenuActive #EarthshakerArcanaProgressButton Label
{
	opacity: 1;
}

.ContextMenuActive #EarthshakerProgress_Default
{
	opacity: 1;
}

.ContextMenuActive .Hide
 {
	 visibility: collapse;
 }


#EarthshakerArcanaProgressButton:hover
{
	brightness: 2.0;
}

#EarthshakerArcanaProgressButton:hover Label
{
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 14px 1 rgb(233, 188, 100);
}

#EarthshakerArcanaProgressButton:active Label
{
	color: rgb(116, 116, 0);
	transition-duration: .1s;
}

.EarthshakerArcanaProgressButtonMask {
	z-index: 1;
}




/* Inside the Inspect Panel */

DOTAHUDInspect #RubickArcanaProgressButton
{
	margin: 0px;
	margin-bottom: 20px;
	ui-scale: 90%;
}
