DOTAHeroRelicImage
{
	width: 129px;
	height: 139px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

DOTAHeroRelicImage.Small
{
	width: 44px;
	height: 48px;
}

#RelicImageInternal, #RelicImageInternal2
{
	margin: 21px 20px 21px 20px;
}

DOTAHeroRelicImage.Small #RelicImageInternal, #RelicImageInternal2
{
	margin: 12px;
}

.RelicImageLayer
{
	width: 100%;
	height: 100%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

#RelicImageMain
{
	opacity-mask: url("s2r://panorama/images/hero_relics/h_hero_relic_mask_full_psd.vtex");
	
	//visibility: collapse;
}

.RelicImageColored
{
	background-color: #252525;

	saturation: 0.39;
	brightness: 1.5;
	contrast: 0.92;
}

DOTAHeroRelicImage.PrimaryAttributeStrength  .RelicImageColored { wash-color: #f37069; }
DOTAHeroRelicImage.PrimaryAttributeAgility   .RelicImageColored { wash-color: #b6de4d; }
DOTAHeroRelicImage.PrimaryAttributeIntellect .RelicImageColored { wash-color: #05ddcf; }

.RelicImageShadow
{
	background-image: url("s2r://panorama/images/hero_relics/h_hero_relic_shadow_on_top_of_icon_psd.vtex");
}

.RelicImageBottomShade
{
	background-image: url("s2r://panorama/images/hero_relics/h_hero_relic_bottomhalf_shadow_normal_psd.vtex");
}

.RelicImageShine
{
	background-image: url("s2r://panorama/images/hero_relics/h_hero_relic_top_shine_normal_psd.vtex");
	opacity: 0.2;
}

#RelicImageOverlay
{
	opacity-mask: url("s2r://panorama/images/hero_relics/h_hero_relic_mask_150brightness_psd.vtex");
	brightness: 12.0;
}

#RelicImageBorder
{
	background-image: url("s2r://panorama/images/hero_relics/hero_relic_border_common_psd.vtex");
	transform: translateY( 2px );
}

DOTAHeroRelicImage.Empty .RelicImageColored
{
	saturation: 0.0;
	brightness: 3;
	contrast: 1.5;
	opacity: 0.3;

	wash-color: #333;
}

DOTAHeroRelicImage.Empty .RelicImageBottomShade
{
	background-image: url("s2r://panorama/images/hero_relics/hero_relic_inset_shadow_psd.vtex");
	opacity: 0.3;
}

DOTAHeroRelicImage.Empty #RelicImageBorder,
DOTAHeroRelicImage.Empty #RelicImageOverlay,
DOTAHeroRelicImage.Empty .RelicImageShadow,
DOTAHeroRelicImage.Empty .RelicImageShine
{
	visibility: collapse;
}


/* Different visuals for rare relics */

DOTAHeroRelicImage.RareRelic
{
	width: 140px;
	height: 159px;
}

DOTAHeroRelicImage.Small.RareRelic
{
	width: 48px;
	height: 54px;
}

DOTAHeroRelicImage.RareRelic #RelicImageInternal,
DOTAHeroRelicImage.RareRelic #RelicImageInternal2
{
	margin: 20px;
}

DOTAHeroRelicImage.Small.RareRelic #RelicImageInternal,
DOTAHeroRelicImage.Small.RareRelic #RelicImageInternal2
{
	margin: 8px 10px 12px 10px;
}

DOTAHeroRelicImage.RareRelic .RelicImageBottomShade
{
	visibility: collapse;
}

DOTAHeroRelicImage.RareRelic #RelicImageMain
{
	opacity-mask: url("s2r://panorama/images/hero_relics/hero_relic_rare_mask_psd.vtex");
}

DOTAHeroRelicImage.RareRelic .RelicImageShadow
{
	background-image: 
		url("s2r://panorama/images/hero_relics/h_hero_relic_rare_innershadow_psd.vtex"),
		url("s2r://panorama/images/hero_relics/h_hero_relic_rare_shine_psd.vtex");
}

DOTAHeroRelicImage.RareRelic .RelicImageColored
{
	saturation: 0.0;
	brightness: 1.9;
	contrast: .95;

	wash-color: #ffbb41;
}

DOTAHeroRelicImage.RareRelic #RelicImageOverlay
{
	opacity-mask: url("s2r://panorama/images/hero_relics/h_hero_relic_rare_topbottombrightness_mask_psd.vtex");
	brightness: 8.0;
	
}

DOTAHeroRelicImage.RareRelic .RelicImageBottomShade
{
	visibility: collapse;
}

DOTAHeroRelicImage.RareRelic .RelicImageShine
{
	background-image: url("s2r://panorama/images/hero_relics/h_hero_relic_rare_shine2_psd.vtex");
	opacity: 0.7;
}

DOTAHeroRelicImage.RareRelic #RelicImageBorder
{
	background-image: url("s2r://panorama/images/hero_relics/hero_relic_rare_border_normal_psd.vtex");
	transform: translateY(7px);
}

DOTAHeroRelicImage.Small.RareRelic #RelicImageBorder
{
	transform: translateY(2px);
}

DOTAHeroRelicImage.RareRelic.Empty .RelicImageColored
{
	saturation: 0.0;
	brightness: 3;
	contrast: 1.5;
	opacity: 0.3;

	wash-color: #333;
}

DOTAHeroRelicImage.RareRelic.Empty #RelicImageMain
{
	opacity-mask: url("s2r://panorama/images/hero_relics/hero_relic_rare_empty_opacity_mask_psd.vtex");
}

DOTAHeroRelicImage.RareRelic.Empty .RelicImageBottomShade
{
	visibility: visible;
	background-image: url("s2r://panorama/images/hero_relics/hero_relic_rare_inset_shadow_psd.vtex");
}