#HeroImage
{
	width: 96px;
	height: 96px;
	border: 3px solid #333;
	border-radius: 50%;
	box-shadow: fill 2px 2px black;
}

#HeroLevelNumberContainer
{
	margin-top: 76px;
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
	border: 1px solid black;
	box-shadow: fill 2px 2px black;
}

#HeroLevelNumberContainer > Label
{
	color: black;
	font-size: 28px;
	margin-top: -3px;
	margin-bottom: -7px;
	margin-right: 16px;
	margin-left: 16px;
	text-align: center;
}

.NoTier			#HeroImage { border: 3px solid #333333; }
.BasicTier		#HeroImage { border: 3px solid #333333; }
.BronzeTier		#HeroImage { border: 3px solid #966431; }
.SilverTier		#HeroImage { border: 3px solid #898989; }
.GoldTier		#HeroImage { border: 3px solid #be9c43; }
.PlatinumTier	#HeroImage { border: 3px solid #4e899c; }
.OnyxTier		#HeroImage { border: 3px solid #5e409c; }

.NoTier			#HeroLevelNumberContainer { background-color: #333333; }
.BasicTier		#HeroLevelNumberContainer { background-color: #333333; }
.BronzeTier		#HeroLevelNumberContainer { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ce9f67 ), to( #966431 ) ); }
.SilverTier		#HeroLevelNumberContainer { background-color: gradient( linear, 0% 0%, 100% 100%, from( #c1c1c1 ), to( #898989 ) ); }
.GoldTier		#HeroLevelNumberContainer { background-color: gradient( linear, 0% 0%, 100% 100%, from( #fbe47e ), to( #be9c43 ) ); }
.PlatinumTier	#HeroLevelNumberContainer { background-color: gradient( linear, 0% 0%, 100% 100%, from( #60a9c1 ), to( #4e899c ) ); }
.OnyxTier		#HeroLevelNumberContainer { background-color: gradient( linear, 0% 0%, 100% 100%, from( #4104bb ), to( #5e409c ) ); }

.NoTier			#HeroLevelNumberContainer > Label { color: #888888; }
.BasicTier		#HeroLevelNumberContainer > Label { color: #888888; }
.BronzeTier		#HeroLevelNumberContainer > Label { color: black; }
.SilverTier		#HeroLevelNumberContainer > Label { color: black; }
.GoldTier		#HeroLevelNumberContainer > Label { color: black; }
.PlatinumTier	#HeroLevelNumberContainer > Label { color: black; }
.OnyxTier		#HeroLevelNumberContainer > Label { color: white; }
