

DOTAHeroFilters
{
	opacity: 1.0;
}

#MainFilters
{
	width: 100%;
	margin: 0px 50px;
	flow-children: down;
}

DOTAHudPreGame #MainFilters
{
	width: 1280px;
}

.AspectRatio4x3 DOTAHudPreGame #MainFilters
{
	width: 960px;
}

DOTAHudPreGame #TopLineFilters
{
	opacity:1;
}

DOTAHudPreGame .RisingCheckbox
{
	wash-color: #547095;
	height: 62px;
}

.AspectRatio4x3 DOTAHudPreGame .RisingCheckbox,
.AspectRatio5x4 DOTAHudPreGame .RisingCheckbox
{
	width: 110px;
}


DOTAHudPreGame #TopLineFilters #FilterGlow
{
	padding-bottom: 10px;
	background-size: 100% 100%;
	background-position: 50% 50%;
}

DOTAHudPreGame #HorizonLine,
DOTAHudPreGame #BottomHorizonLine
{
	background-color: #54709511;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #54709500 ), color-stop( 0.3, #54709522 ), color-stop( 0.7, #54709522 ), to( #54709500 ) );
}

#TopLineFilters
{
    width: 100%;
	horizontal-align: center;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.25s;
}

DOTAHeroFilters.FilterChecked #TopLineFilters
{
	opacity: 1.0;
}

DOTAHeroFilters:hover #TopLineFilters
{
	opacity: 1.0;
	transition-duration: 3.0s;
	transition-delay: 1.25s;
}


#HorizonLine
{
	width: 100%;
	height: 2px;
	vertical-align: bottom;
 	background-color: gradient( linear, 0% 0%, 100% 0%, from( #6f829c00 ), color-stop( 0.3, #6f829c44 ), color-stop( 0.7, #6f829c44 ), to( #6f829c00 ) );
	margin-bottom: 10.5px;
}

/* Attributes */
#AttributeOptions
{	
    flow-children: right;
	horizontal-align: center;
}

.RisingCheckbox:hover
{	
	wash-color: #b7d5d9;
}

.RisingCheckbox
{
    width: fill-parent-flow( 1.0 );
	height: 86px;
	flow-children: none;
	wash-color: #5b6a6b;

	transition-property: wash-color;
	transition-duration: 0.20s;
}

.RisingCheckbox:selected 
{
	wash-color: white;
}

.RisingCheckbox .TickBox
{
    visibility: collapse;
}

.RisingCheckbox #AttributeLevel
{
	width: 80px;
	height: 2px;
    padding-left: 2px;
    background-color: white;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 10px;
    flow-children: right;

	transition-property: height, background-color;
	transition-duration: 0.20s;
}

.RisingCheckbox #AttributeLevel Button:hover
{
	wash-color: #99aad8;
}

.RisingCheckbox #AttributeLevel Button
{
    width: fill-parent-flow( 1.0 );
    height: 100%;
    border: 2px solid white;
    margin: 0px 2px 0px 0px;

    opacity: 0.0;

    transition-property: background-color, opacity;
    transition-duration: 0.2s;
}

.RisingCheckbox #AttributeLevel Button:selected, #AttackTypeOptions .RisingCheckbox Button
{
    background-color: white;
    margin: 0px 2px 0px 0px;
}

.RisingCheckbox:selected #AttributeLevel
{
    background-color: transparent;
	height: 10px;
}

.RisingCheckbox:selected #AttributeLevel Button
{
    opacity: 1.0;
}

.RisingCheckbox:selected #FilterGlow 
{
	opacity: 1.0;
	transition-duration: 0.3s;
}

.RisingCheckbox Label
{
	color: white;
	padding: 8px;
	margin: 0px;
	font-size: 18px;
	horizontal-align: center;
	vertical-align: middle;
	text-align: center;
	transform: translateY(10px);
	text-shadow: 0px 0px 0px 1.0 #ffffff00;
	letter-spacing: 2px;
	
	transition-property: transform, color, text-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;    
}

.RisingCheckbox:selected Label
{
	color: white;
	text-shadow: 0px 0px 6px 1.0 #c0c0ff;
	transform: translateY(0px);
}


#FilterGlow
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/glows/herofilterglow_psd.vtex");
	background-repeat: no-repeat;
	background-position: center -14px;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.75s;
	z-index: -1;
}

#BottomLineFilters
{
    width: 100%;
	horizontal-align: center;
	flow-children: none;
	//border: 1px solid red;
}

#BottomLineFilterOptions
{
	width: 100%;
	flow-children: right;
}

#BottomLineFilters .RisingCheckbox Label
{
	font-size: 20px;
    text-transform: uppercase;
	transform: translateY(-2px);
}

#BottomLineFilters Button:selected Label
{
	color: white;
	text-shadow: 0px 0px 6px 1.0 #c0c0ff;
  	transform: translateY(-10px);
}

#BottomLineFilters .RisingCheckbox
{
    width: 148px;
	height: 48px;
}

#BottomLineFilters .RisingCheckbox #AttributeLevel
{
    width: 96px;
}

#BottomLineFilters .RisingCheckbox:selected #AttributeLevel
{
    height: 10px;
}

/* Complexity */
#ComplexityOptions
{
    flow-children: right;
}

#ComplexityOptions .RisingCheckbox Label
{

}

#BottomLineFilters #ComplexityOptions .RisingCheckbox #AttributeLevel
{
	vertical-align: bottom;
	margin-bottom: 3px;
	height: 16px;

	transition-property: height;
	transition-duration: 0.25s;

	padding-left: 20px;

	background-color: none;
}

#ComplexityOptions #WeirdLine
{
	horizontal-align: center;
	background-color: white;
	height: 2px;
	width: 96px;
	vertical-align: bottom;
	margin-bottom: 10px;

	transition-property: opacity, width;
	transition-duration: 0.15s, 0.2s;
}

#BottomLineFilters #ComplexityOptions .RisingCheckbox:selected #WeirdLine
{
	opacity: 0.0;
	width: 48px;

	transition-property: opacity, width;
	transition-duration: 0.15s, 0.2s;
}

#ComplexityOptions .RisingCheckbox #AttributeLevel Button
{
	width: 16px;
	height: 16px;
	background-color: none;
	background-image: url("s2r://panorama/images/hero_complexity_empty_png.vtex");
	border: 0px solid black;
}

#ComplexityOptions .RisingCheckbox #AttributeLevel Button:selected
{
	background-color: none;
	background-image: url("s2r://panorama/images/hero_complexity_full_png.vtex");
}

/* Roles */
#RoleOptions
{
    flow-children: right;
}

/* Attack Types */
#AttackTypeOptions
{
    flow-children: right;
}


#BottomHorizonLine
{
	width: 100%;
	height: 2px;
	vertical-align: bottom;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #6f829c00 ), color-stop( 0.3, #6f829c44 ), color-stop( 0.7, #6f829c44 ), to( #6f829c00 ) );
 	margin-bottom: 10.5px;
}



#BottomLineFilters .RisingCheckbox:selected #FilterGlow 
{
	opacity: 1.0;
	transition-duration: 0.3s;
}

#BottomLineFilters #FilterGlow
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/glows/herofilterglow_psd.vtex");
	background-repeat: no-repeat;
	background-position: center -11px;
	background-size: 120% 120%;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.75s;
	z-index: -1;
}

#ClearHeroFilters
{
	background-image: url( 'file://{images}/control_icons/heroes_clear_filter.png' );

	width: 76px;
	height: 76px;

	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 250px;

	text-transform: uppercase;
	opacity: 0.0;

	wash-color: #5b6a6b;
	
	transition-property: opacity, brightness;
	transition-duration: 0.3s;
}

.AspectRatio16x10 #ClearHeroFilters	{ margin-right: 200px; }
.AspectRatio4x3 #ClearHeroFilters	{ margin-right: 40px; }
.AspectRatio5x4 #ClearHeroFilters	{ margin-right: 22px; }


.FilterChecked #ClearHeroFilters
{
	opacity: 1.0;
}

#ClearHeroFilters Label
{
	width: 100%;
	vertical-align: bottom;
	font-size: 16px;
	color: #FCFDFE;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 8px;
}

#ClearHeroFilters:hover
{
	wash-color: white;
}

#ClearHeroFilters:active
{
    wash-color: #94acae;
}


DOTAHudPreGame #ClearHeroFilters
{
	margin-right: 12px;
	horizontal-align: left;

	wash-color: #547095;
}

DOTAHudPreGame #ClearHeroFilters:active
{
	wash-color: #7096c7;
}