DOTAHeroInspect
{
	height: 625px;
	width: 376px;

	flow-children: none;

	background-color: gradient( linear, 0% 100%, 0% 0%, from( #171A25dd  ), to( #171A25dd ) );
	padding: 8px 16px 16px 16px;
	border: 1px solid black;
}

.EventGame DOTAHudPreGame.DarkMoon DOTAHeroInspect
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #14181E  ), to( #271A25ed ) );
}

.EventGame DOTAHudPreGame.Season_International2017 DOTAHeroInspect
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #14181E  ), to( #271A25ed ) );
}

#HeroInspectHeader
{
	flow-children: right;
}

#HeroInspectHeroName
{
	color: white;
	font-size: 32px;
	text-transform: uppercase;
	margin-left: 12px;
	//font-weight: bold;
	letter-spacing: 2px;
	text-overflow: shrink;
	height: 43px;
}

#HeroInspectPrimaryAttributeIcon
{
	width: 32px;
	height: 32px;

	margin-top: 2px;

	background-size: contain;
	background-repeat: no-repeat;
}
                       .InspectHeroStrength     #HeroInspectPrimaryAttributeIcon { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");}
                       .InspectHeroAgility      #HeroInspectPrimaryAttributeIcon { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex"); }
.ColorBlindModeEnabled .InspectHeroAgility      #HeroInspectPrimaryAttributeIcon { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_colorblind_psd.vtex"); }
                       .InspectHeroIntelligence #HeroInspectPrimaryAttributeIcon { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex"); }

#HeroInspectInfo
{

	flow-children: right;
	height: 226px;
	margin-top: 36px;
	margin-bottom: 3px;
	opacity: 1;

	transform: translateY(0px);

	transition-property: transform;
	transition-duration: .1s;
}

.IsInBanPhase #HeroInspectInfo
{
	transform: translateY(-32px);
}

.IsInBanPhase.InspectingHero #HeroInspectInfo
{
	transform: translateY(0px);
}

.InspectingHero #HeroInspectInfo
{
	opacity: 1;
}

#HeroPortrait
{
	border: 1px solid #54709522;
	margin-right: 4px;
	margin-top: 8px;
	background-color: black;
}

#HeroMovie
{
	/* Full size is 192x256 */
	width: fill-parent-flow( 1.0 );
	height: width-percentage( 133% );
	width: 160px;
	height: 203px;
	box-shadow: #000000aa -8px -8px 16px 16px;

}

#HeroImageFooter
{
	background-color: #000000f5;
	width: 100%;
	vertical-align: bottom;
	height: 42px;
	flow-children: right;
	wash-color: #5E87C2;
}

#ComplexityValue
{
	vertical-align: middle;
	//width: 74px;
	visibility: collapse;
}

.InspectingHero #ComplexityValue
{
	visibility: visible;
}

.ComplexityDiamond
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/hero_complexity_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 4px;
}

.InspectHeroComplexity1 #HeroInspectComplexity1,
.InspectHeroComplexity2 #HeroInspectComplexity1, .InspectHeroComplexity2 #HeroInspectComplexity2,
.InspectHeroComplexity3 #HeroInspectComplexity1, .InspectHeroComplexity3 #HeroInspectComplexity2, .InspectHeroComplexity3 #HeroInspectComplexity3
{
	background-image: url("s2r://panorama/images/hero_complexity_full_png.vtex");
}


#HeroImageFooter Label
{
	color: white;
	text-transform: uppercase;
	font-weight: thin;
	letter-spacing: 1px;
	vertical-align: middle;
	//width: fill-parent-flow( 1.0 );
	text-align: center;
	margin-top: 7px;
	margin-right: 6px;
	margin-left: 3px;
	text-overflow: shrink;
}

#HeroRoles
{
	width: fill-parent-flow( 1.0 );
	margin-left: 6px;
	//wash-color: #547095;
}

#HeroAbilities
{
	margin-top: 268px;
	flow-children: right;
	height: 60px;
}

#HeroAbilities > DOTAAbilityImage,
#HeroAbilities > .StatBranch,
#HeroAbilities > .ScepterDetails
{
	margin-right: 8px;
	width: fill-parent-flow( 1.0 );
	height: width-percentage( 100% );
	tooltip-position: bottom;
}

#HeroAbilities > .StatBranch,
#HeroAbilities > .ScepterDetails
{
	wash-color: #5E86C2;
}

#HeroAbilities > .ScepterDetails
{
	margin-left: -7px;
}

#HeroHype
{
	margin-top: 340px;
	//margin-top: 380px;
	color: #547095;
	font-weight: normal;
	height: 172px;
	overflow: clip scroll;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_psd.vtex");
	padding-right: 12px;
	visibility: collapse;
}

.BioTabVisible #HeroHype
{
	visibility: visible;
}

#BioStatsNavigator
{
	margin-top: 350px;
	flow-children: right;
	visibility: collapse;
}

.StrategyPhaseTab Label
{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.BlockHeader
{
	color: white;
	margin-top: 4px;
	text-transform: uppercase;
	horizontal-align: middle;
	margin-bottom: 4px;
	letter-spacing: 1px;
	font-size: 16px;
}

.HeroStatsSimpleStatName
{
	color: RuneDDColor;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
	horizontal-align: middle;
}

.HeroStatsSimpleStatValue
{
	Horizontal-align: middle;
	text-align: center;
}

.InspectingHero #BioStatsNavigator
{
	visibility: visible;
}

.IsInBanPhase .InspectingHero #BioStatsNavigator
{
	visibility: collapse;
}

#StatsPage
{
	margin-top: 370px;
	color: #547095;
	height: 172px;
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

 #StatsPage
{
	visibility: collapse;
}

.StatsTabVisible.InspectingHero #StatsPage
{
	visibility: visible;
}

.IsInBanPhase .StatsTabVisible #StatsPage
{
	visibility: collapse;
}

.WithAllyStats,
.WithEnemyStats,
.PersonalStats
{
	flow-children: down;
	width: 100%;
}


.IsInBanPhase #HeroHype
{
	visibility: collapse;
}

.HasBannedHero.IsInBanPhase #HeroHype
{
	visibility: visible;
}

.PickDesc
{
	margin-top: 0px;
	color: #A9C7f1;
	font-size: 32px;
	font-weight: thin;
	text-align: center;
	text-transform: uppercase;
	horizontal-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .28s;
}

.InspectingHero #PickDescription,
.InspectingHero.IsInBanPhase #BanDescription,
.IsInBanPhase #PickDescription
{
	opacity: 0;
}

#PickDescription,
.IsInBanPhase:not(.InspectingHero) #BanDescription
{
	opacity: 1;
}

#PickDescription
{
	text-overflow: shrink;
	height: 52px;
}

.IsCoach #PickDescription
{
    visibility: collapse;
}

#BanDescription
{
	vertical-align: bottom;
	margin-bottom: 94px;
	padding-right: 16px;
	padding-left: 16px;
}

#HeroInspectHype VerticalScrollBar
{
	width: 6px;
}

#HeroInspectHype VerticalScrollBar .ScrollThumb
{
	background-color: #496082;
}

.Block2Wide
{
	padding-left: 0px;
	flow-children: right;
	width: 100%;
}

.Block2Wide .HeroStatsSimpleStat
{
	width: 125px;
	width: 50%;
}

.Block2Wide .HeroStatsSimpleStat.Wide
{
	width: 125px;
}

.HeroStatsSimpleStat
{
	flow-children: down;
}
