@import url("file://{resources}styles/battle_pass/current_battle_pass.css");

DOTAHeroInspect
{
	height: 625px;

	flow-children: none;

	background-color: gradient( linear, 0% 100%, 0% 0%, from( #171A25dd  ), to( #171A25dd ) );
	padding-top: 8px;
	border: 1px solid black;
}


.ContextMenuHeroInspect DOTAHeroInspect
{
	max-height: 345px;
	max-width: 400px;
}

.EventGame DOTAHudPreGame.DarkMoon DOTAHeroInspect
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #14181E  ), to( #271A25ed ) );
}

.EventGame DOTAHudPreGame.Season_International2017 DOTAHeroInspect
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #14181E  ), to( #271A25ed ) );
}

#HeroInspectHeader
{
	padding-left: 16px;
	padding-right: 16px;
	flow-children: right;
}

#HeroInspectHeroName
{
	color: white;
	font-size: 32px;
	text-transform: uppercase;
	margin-left: 12px;
	//font-weight: bold;
	letter-spacing: 2px;
	text-overflow: shrink;
	height: 43px;
}

#HeroInspectPrimaryAttributeIcon
{
	width: 32px;
	height: 32px;

	margin-top: 2px;

	background-size: contain;
	background-repeat: no-repeat;
}
                       .InspectHeroStrength     #HeroInspectPrimaryAttributeIcon { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");}
                       .InspectHeroAgility      #HeroInspectPrimaryAttributeIcon { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex"); }
.ColorBlindModeEnabled .InspectHeroAgility      #HeroInspectPrimaryAttributeIcon { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_colorblind_psd.vtex"); }
                       .InspectHeroIntelligence #HeroInspectPrimaryAttributeIcon { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex"); }

#HeroInspectInfo
{
	padding-left: 16px;
	flow-children: right;
	height: 226px;
	margin-top: 36px;
	margin-bottom: 3px;
	opacity: 1;

	transform: translateY(0px);

	transition-property: transform;
	transition-duration: .1s;
}

.IsInBanPhase #HeroInspectInfo
{
	transform: translateY(-32px);
}

.IsInBanPhase.InspectingHero #HeroInspectInfo
{
	transform: translateY(0px);
}

.InspectingHero #HeroInspectInfo
{
	opacity: 1;
}

#HeroPortrait
{
	border: 1px solid #54709522;
	margin-right: 4px;
	margin-top: 8px;
	background-color: black;
}

#HeroMovie
{
	/* Full size is 192x256 */
	width: fill-parent-flow( 1.0 );
	height: width-percentage( 133% );
	width: 160px;
	height: 203px;
	box-shadow: #000000aa -8px -8px 16px 16px;

}

#HeroImageFooter
{
	background-color: #000000f5;
	width: 100%;
	vertical-align: bottom;
	height: 42px;
	flow-children: right;
	wash-color: #5E87C2;
}

#ComplexityValue
{
	vertical-align: middle;
	//width: 74px;
	visibility: collapse;
}

.InspectingHero #ComplexityValue
{
	visibility: visible;
}

.ComplexityDiamond
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/hero_complexity_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 4px;
}

.InspectHeroComplexity1 #HeroInspectComplexity1,
.InspectHeroComplexity2 #HeroInspectComplexity1, .InspectHeroComplexity2 #HeroInspectComplexity2,
.InspectHeroComplexity3 #HeroInspectComplexity1, .InspectHeroComplexity3 #HeroInspectComplexity2, .InspectHeroComplexity3 #HeroInspectComplexity3
{
	background-image: url("s2r://panorama/images/hero_complexity_full_png.vtex");
}


#HeroImageFooter Label
{
	color: white;
	text-transform: uppercase;
	font-weight: thin;
	letter-spacing: 1px;
	vertical-align: middle;
	//width: fill-parent-flow( 1.0 );
	text-align: center;
	margin-top: 7px;
	margin-right: 6px;
	margin-left: 3px;
	text-overflow: shrink;
}

#HeroRoles
{
	padding-right: 16px;
	width: fill-parent-flow( 1.0 );
	margin-left: 6px;
	//wash-color: #547095;
}

#HeroAbilities
{
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 268px;
	flow-children: right;
	height: 60px;
}

#HeroAbilities > DOTAAbilityImage,
#HeroAbilities > .StatBranch,
#HeroAbilities > .ScepterDetails
{
	margin-right: 8px;
	width: fill-parent-flow( 1.0 );
	height: width-percentage( 100% );
	tooltip-position: bottom;
}

#HeroAbilities > .StatBranch,
#HeroAbilities > .ScepterDetails
{
	wash-color: #5E86C2;
}

#HeroAbilities > .ScepterDetails
{
	margin-left: -7px;
}

#HeroHype
{
	margin-top: 340px;
	//margin-top: 380px;
	color: #547095;
	font-weight: normal;
	height: 172px;
	overflow: clip scroll;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_psd.vtex");
	padding-right: 12px;
	visibility: collapse;
	padding-left: 16px;
	padding-right: 16px;
}

.CavernCrawlActive #HeroHype
{
	height: 148px;
}

.BioTabVisible #HeroHype
{
	visibility: visible;
}

.SelfGameEventActive #HeroHype
{
	visibility: collapse;
}


#BioStatsNavigator
{
	margin-top: 350px;
	flow-children: right;
	visibility: collapse;
}

.StrategyPhaseTab Label
{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.BlockHeader
{
	color: white;
	margin-top: 4px;
	text-transform: uppercase;
	horizontal-align: middle;
	margin-bottom: 4px;
	letter-spacing: 1px;
	font-size: 16px;
}

.HeroStatsSimpleStatName
{
	color: RuneDDColor;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
	horizontal-align: middle;
}

.HeroStatsSimpleStatValue
{
	Horizontal-align: middle;
	text-align: center;
}

.InspectingHero #BioStatsNavigator
{
	visibility: visible;
}

.IsInBanPhase .InspectingHero #BioStatsNavigator
{
	visibility: collapse;
}

#StatsPage
{
	margin-top: 370px;
	color: #547095;
	height: 172px;
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

 #StatsPage
{
	visibility: collapse;
}

.StatsTabVisible.InspectingHero #StatsPage
{
	visibility: visible;
}

.IsInBanPhase .StatsTabVisible #StatsPage
{
	visibility: collapse;
}

.WithAllyStats,
.WithEnemyStats,
.PersonalStats
{
	flow-children: down;
	width: 100%;
}


.IsInBanPhase #HeroHype
{
	visibility: collapse;
}

.HasBannedHero.IsInBanPhase #HeroHype
{
	visibility: visible;
}

.PickDesc
{
	margin-top: 0px;
	color: #A9C7f1;
	font-size: 32px;
	font-weight: thin;
	text-align: center;
	text-transform: uppercase;
	horizontal-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .28s;
}

.InspectingHero #PickDescription,
.InspectingHero.IsInBanPhase #BanDescription,
.IsInBanPhase #PickDescription
{
	opacity: 0;
}

#PickDescription,
.IsInBanPhase:not(.InspectingHero) #BanDescription
{
	opacity: 1;
}

#PickDescription
{
	text-overflow: shrink;
	height: 52px;
}

.IsCoach #PickDescription
{
    visibility: collapse;
}

#BanDescription
{
	vertical-align: bottom;
	margin-bottom: 94px;
	padding-right: 16px;
	padding-left: 16px;
}

#HeroInspectHype VerticalScrollBar
{
	width: 6px;
}

#HeroInspectHype VerticalScrollBar .ScrollThumb
{
	background-color: #496082;
}

.Block2Wide
{
	padding-left: 0px;
	flow-children: right;
	width: 100%;
}

.Block2Wide .HeroStatsSimpleStat
{
	width: 125px;
	width: 50%;
}

.Block2Wide .HeroStatsSimpleStat.Wide
{
	width: 125px;
}

.HeroStatsSimpleStat
{
	flow-children: down;
}

#BattlePassHeroData,
#BattlePassHeroUpsell
{
	width: 100%;
	height: 225px;
	margin-top: 340px;
	/*background-color: darkColor&55;*/
	flow-children: down;
	border-top: 1px solid shadeColor;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #241C41), to( #1A202A));
}

.ContextMenuHeroInspect #BattlePassHeroData,
.ContextMenuHeroInspect #BattlePassHeroUpsell
{
	visibility: collapse;
}

#BattlePassHeroUpsell {
	background-image: url("s2r://panorama/images/hud/bp_recommender_upsell_psd.vtex");
}

#BattlePassHeroData,
.SelfGameEventVisible #BattlePassHeroUpsell
{
	visibility: collapse;
}

.SelfGameEventVisible #BattlePassHeroData
{
	visibility: visible;
}

.IsInBanPhase #BattlePassHeroData,
.IsInBanPhase #BattlePassHeroUpsell
{
	visibility: collapse;
}

.HeaderRow
{
	flow-children: right;
    margin: 15px 20px 0px 20px;
	width: 100%;
	height: 40px;
}

#UpsellMessaging {
	font-size: 20px;
	color: #ffffff;
	margin: 5px 20px;
	vertical-align: top;
	width: 70%;
	flow-children: down;
}

#UpsellText {
	font-size: 18px;
	margin-top: 10px;
	color: #ffffff;
	vertical-align: top;
}

#BattlePassText {
	color: ultraBrightColor;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
	margin-top: 5px;
	text-transform: uppercase;
}

.BattlePassIcon
{
	width: 24px;
	height: 26px;
	margin-right: 10px;
	margin-top: -5px;
	margin-left: -5px;
	vertical-align: center;

	background-image: bp_logo_small;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	wash-color: accentColorBright;
}

.DataTitlesContainer
{
	flow-children: down;	
	horizontal-align: left;
}

.DataTitle
{
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	text-align: left;
    font-weight: bold;
}

.DataSubtitle
{
	font-size: 12px;
	color: #A7CED730;
	font-weight: semi-bold;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 1px;
	transform: translateY(-5px);
}


.SummaryContainer
{
	flow-children: down;
	horizontal-align: right;
	width: 100%;
	height: 100%;
}

.DataNumber,
.DataNumberLarge
{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: semi-bold;
	horizontal-align: center;
}

.DataNumber
{
	font-size: 16px;
	font-weight: semi-bold;
	text-align: center;
	vertical-align: bottom;
	horizontal-align: center;
}

.HeroWinRateInfo.Positive .DataNumber,
.HeroWinRateInfo.Positive .DataNumberLarge,
.Positive .Outcome
{
	color: #8FED31;
}

.HeroWinRateInfo.Negative .DataNumber,
.HeroWinRateInfo.Negative .DataNumberLarge,
.Negative .Outcome
{
	color: #F05332;
}

.SummaryContainer .DataSubtitle,
.You
{
	color: #A7CED730;
	letter-spacing: 0.5px;
}

.AlliesContainer,
.EnemiesContainer
{
	height: 80px;
	width: 100%;
	padding: 5px 10px 5px 5px;
}

.AlliesContainer
{
	border-bottom: 1px solid black;
}

.AlliesRow,
.EnemiesRow
{
	width: 100%;
	height: 100%;
	padding-left: 40px;
	flow-children: right;
}

.EnemiesRow {
	margin-top: 5px;
}

.WinRateArrow
{
	width: 11px;
	height: 11px;
	background-image: url("s2r://panorama/images/hud/icn_performance_up_png.vtex");
    vertical-align: middle;
    horizontal-align: right;
    width: 100%;
    background-size: 11px 8px;
 	background-repeat: no-repeat;
    background-position: 95% 50%;
    visibility: collapse;
    margin-top: 5px;
	wash-color: #8FED31;
	brightness: 1.8;
}

.HeroWinRateInfo.Positive .WinRateArrow
{
	visibility: visible;
}

.HeroWinRateInfo.Negative .WinRateArrow
{
	background-image: url("s2r://panorama/images/hud/icn_performance_down_png.vtex");
	wash-color: red;
	
	visibility: visible;
}

.Vertical
{
	width: 70px;
	height: 20px;
	text-overflow: shrink;
	text-align: center;
	transform-origin: 100% 0%;
	transform: rotateZ(-90deg)  translateX( -55px ); //translateY( 30px );
	letter-spacing: 2px;
}

.HeroWinRateInfo
{
	flow-children: none;
	width: 60px;
	height: 100%;
	
}

.HeroWinRateInfo DOTAHeroImage
{
	width: 32px;
	height: 32px;
	margin-bottom: 25px;
	vertical-align: bottom;
	horizontal-align: center;
}

.InfoIcon 
{
	width: 20px;
	height: 20px;
	wash-color: accentColor;
	vertical-align: top;
	horizontal-align: right;
}
