
/* Don't change the name - referenced from code */
@define QuickSearchFadeOutTime: 1.5s;

/* Layout constants referenced from code */
@define CategorySpacing: 24px;
@define CategoryTitleInset: 8px;



#GridCore
{
    padding-left: 100px;
	width: 100%;
}

DOTAHudPreGame #GridCore
{
	height: 580px;
}


#GridOverlay
{
    width: 100%;
    height: 100%;
}

#QuickSearch
{
    vertical-align: middle;
    width: 100%;
    text-align: center;
    text-overflow: clip;

    font-size: 100px;
    font-weight: normal;
    color: white;
    text-shadow: #000000 2px 2px 10px 10px;
    text-transform: uppercase;
	transition-property: pre-transform-scale2d, opacity, blur;
    transition-duration: 0.2s;
}

#QuickSearch.Hidden
{
	pre-transform-scale2d: 2;
}


@keyframes 'QuickSearchUserFadeOut'
{
	0%
	{
        opacity: 1.0;
        blur: none;
	}
	
    50%
    {
        blur: none;
    }

	100%
	{
        opacity: 0.0;
        blur: gaussian( 4, 4, 2 );
	}
}
.QuickSearchUserAnimation
{
    animation-name: QuickSearchUserFadeOut;
    animation-duration: QuickSearchFadeOutTime;
}

@keyframes 'QuickSearchAutoFadeOut'
{
	0%
	{
        opacity: 0.0;
	}

    25%
    {
        opacity: 0.2;
    }

    50%
    {
        blur: none;
    }
	
	100%
	{
        opacity: 0.0;
        blur: gaussian( 4, 4, 2 );
	}
}
.QuickSearchAutoAnimation
{
    animation-name: QuickSearchAutoFadeOut;
    animation-duration: QuickSearchFadeOutTime;
}


.HeroCategoryTitle
{
	text-overflow: shrink;
    font-size: 16px;
    font-weight: thin;
	color: white;
	wash-color: #6f829cee;
    text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
    opacity: 0.0;
    transition-property: position, opacity;
    transition-duration: 0.2s;
	border-bottom: 2px solid white;
    /* Don't change the rotation or transform origin without also changing code */
	transform: rotateZ(-90deg) translateX( -110px );
    transform-origin: 0% 0%;
}

.HeroCategoryTitle.Showing
{
    opacity: 0.35;
}

DOTAHeroCard
{
    margin: -89px -78px;

	opacity: 0.0;

    /* Card position is set in code, but we still want to animate it */
    transition-property: opacity, wash-color, brightness;
    transition-duration: 0.30s;
	transition-timing-function: ease-in-out;
}

.AspectRatio4x3 DOTAHeroCard
{
    margin: -92px -81px;
}

.AspectRatio4x3 DOTAHudPreGame DOTAHeroCard
{
	margin: -68px -72px;
}

DOTAHeroCard.Showing
{
	opacity: 1.0;
}

DOTAHeroCard.Showing.Highlighted
{
    animation-name: HeroCardSelected;
	animation-iteration-count: infinite;   
    animation-duration: 0.8s;	
}

DOTAHeroCard.Showing:not(.HeroCardDisabled):hover
{
	z-index: 2;
}

DOTAHeroCard.Activated
{
    sound: "ui_hero_select_slide";
}

