DOTAHeroRoles
{
	flow-children: down;
}

.RoleColumn
{
	flow-children: down;
	width: 100%;
}

.RoleRow
{
	flow-children: right;
	horizontal-align: center;
}

#HeroPickTeamComposition .RoleRow, #StrategyTab .RoleRow
{
    margin-top: 4px;
}

.RoleRow > Label
{
	color: #999;
	max-height: 23px;
	width: 120px;
	text-align: right;
	margin-right: 4px;
}

#HeroPickTeamComposition .RoleRow > Label, #StrategyTab .RoleRow > Label
{
    font-size: 16px;
}

.RowPip
{
	vertical-align: middle;
	height: 11px;
	width: 28px;
	border: 1px solid #283137;

	background-color: gradient( linear, 0% 100%, 0% 0%, from( #0E0E0E55 ), to( #20242655 ));
	
	margin-left: 3px;
	
	transition-property: border, background-color;
	transition-duration: .22s;
	transition-timing-function: ease-in-out;
}

.RoleLevel1 .RowPip1,
.RoleLevel2 .RowPip1, .RoleLevel2 .RowPip2,
.RoleLevel3 .RowPip1, .RoleLevel3 .RowPip2, .RoleLevel3 .RowPip3
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #5A615Ecc ), to( #879695cc ));
}


DOTAHeroRoles.ColumnLayout
{
	flow-children: right;
}

DOTAHeroRoles.ColumnLayout .RoleColumn
{
	width: fill-parent-flow( 1.0 );
}

DOTAHeroRoles.ColumnLayout .RowPip
{
	width: 30px;
}

DOTAHeroInspect .RowPip
{
	border: 1px solid #283137;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #363F5755 ), to( #20242655 ));
}

DOTAHeroInspect .RoleLevel1 .RowPip1,
DOTAHeroInspect .RoleLevel2 .RowPip1, DOTAHeroInspect .RoleLevel2 .RowPip2,
DOTAHeroInspect .RoleLevel3 .RowPip1, DOTAHeroInspect .RoleLevel3 .RowPip2, DOTAHeroInspect .RoleLevel3 .RowPip3
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #363F57cc ), to( #6E9EE3cc ));
}

DOTAHeroInspect .RoleRow > Label
{
	color: #445C84;
	font-size: 16px;
	font-weight: thin;
	height: 24px;
	text-overflow: shrink;
	padding-top: 3px;
}

DOTAHeroInspect .RoleRow > Label:hover
{
	color: #798CAD;
}
