DOTAHeroSetPicker
{
	flow-children: down;
}

#Header
{
	flow-children: right;
	margin-bottom: 1px;
}

.PreGamePhase #Header
{
	margin-bottom: 0px;
	height: 20px;
}

#PickerSetCount
{
	color: white;
	margin-right: 4px;
	font-size: 16px;
}

#PickerTitle
{
	color: #8e9795;
	text-transform: uppercase;
	font-size: 16px;
    letter-spacing: 2px;
}

#CurrentSetContainer
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: down;

	box-shadow: fill #00000088 0px 0px 8px 4px;

	transition-property: brightness;
	transition-duration: 0.2s;
	context-menu-position: bottom;
}

#CurrentSetContainer:hover
{
	brightness: 2.0;
}

#CurrentSetContainer:active
{
	brightness: 1.5;
}

#CurrentSetPanel
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	border: 2px solid black;

	border-right: 0px;
	border-left: 1px solid #ffffff11;
	border-bottom: 0px;
	border-top: 1px solid #ffffff11;
	
	context-menu-position: right top bottom left;
	//margin-top: 2px;
}


#MenuArrowContainer
{
	width: 100%;
	height: 16px;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #333 ), to( #222 ) );
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #000 ), color-stop( .49, #282a29 ), color-stop( .5, #282a29 ), color-stop( .51, #282a29 ), to( #000 ) );
	//border-left: 2px solid black;
	//border-right: 2px solid black;
	//border-bottom: 2px solid black;
	
	
}

#MenuArrow
{
	width: 16px;
	height: 16px;
	horizontal-align: center;

	background-image: url("s2r://panorama/images/control_icons/arrow_solid_down_png.vtex");
	background-size: 16px 11px;
	background-position: center 2px;
	background-repeat: no-repeat;

	wash-color: #777;
}

#SaveSetButton
{
	margin-top: 8px;
	box-shadow: fill #00000088 0px 0px 8px 4px;
	visibility: collapse;
}

.EnableSaveAsCustomSet #SaveSetButton
{
	visibility: visible;
}