/* DOTAHeroCard */

@define expandDuration: 0.05s;
@define contentBorderSize: 2px;
@define contentBorderSizeNegative: -2px; /* = -1.0 * contentBorderSize */

/* Adjust these constants to change the layout of the hero grid.
   WARNING: if you adjust any of these, you must also adjust the other constants below according to their formulas!
*/
@define expandedScale: 1.0; /* When a card is expanded it should be at 1.0 scale so that text works correctly */
@define defaultScale: 0.485; /* The scale of a card when it's not expanded */
@define defaultScaleX: 0.32; /* We scale the x slightly smaller than the Y so that the card is a little less wide when not expanded */
@define imageWidth: 71px;
@define imageHeight: 94px;

@define imageScale: 2.06; /* = expandedScale / defaultScale */
@define cardWidth: 213px;
@define cardHeight: 282px;
@define imageDefaultScaleX: 3.0; /* = ( 1.0 - ( defaultScaleX / defaultScale ) ) * imageScale */
@define hitSizePercent: 66.67%; /* = 1.0 / ( defaultScale + ( expandedScale - defaultScale ) * 2.0 ) */

/* These values are calculated as ( 1.0 - hitSizePercent ) * defaultScale / expandedScale.
   However, using that exact value ( 16.67% ) causes clipping issues, so I've rounded down to 15%. */
@define translateFirstColumn: translateX( 13% );
@define translateLastColumn: translateX( -13% );
@define translateFirstRow: translateY( 16% ); 
@define translateLastRow: translateY( -16% );

@define defaultScale3d: scale3d( defaultScaleX, defaultScale, 1.0 );
@define expandedScale3d: scale3d( expandedScale, expandedScale, 1.0 );
@define imageDefaultScale3d: scale3d( imageDefaultScaleX, imageScale, 1.0 );
@define imageExpandedScale3d: scale3d( imageScale, imageScale, 1.0 );

/* The expanded size during hero picking is a little smaller than full size so that
   there's not clipping at the top/bottom */
@define heroPickExpandedScale: 0.85;
@define heroPickExpandedScale3d: scale3d( heroPickExpandedScale, heroPickExpandedScale, 1.0 );

/* Hero picking spacing for 16x9, 16x10, 21x9 and wider */
@define heroPickDefaultScale: 0.38;
@define heroPickDefaultScaleX: 0.32;
@define heroPickImageDefaultScaleX: 2.5;
@define heroPickCardMargin: -100px -79px;
@define heroPickDefaultScale3d: scale3d( heroPickDefaultScaleX, heroPickDefaultScale, 1.0 );
@define heroPickImageDefaultScale3d: scale3d( heroPickImageDefaultScaleX, imageScale, 1.0 );

/* Hero picking spacing for 4x3 */
@define heroPickDefaultScale4x3: 0.34;
@define heroPickDefaultScaleX4x3: 0.27;
@define heroPickImageDefaultScaleX4x3: 2.4;
@define heroPickCardMargin4x3: -105px -84px;
@define heroPickDefaultScale3d4x3: scale3d( heroPickDefaultScaleX4x3, heroPickDefaultScale4x3, 1.0 );
@define heroPickImageDefaultScale3d4x3: scale3d( heroPickImageDefaultScaleX4x3, imageScale, 1.0 );

/* Hero picking spacing for Dark Moon event */
@define heroPickDefaultScaleDarkMoon: 0.68;
@define heroPickDefaultScaleXDarkMoon: 0.52;
@define heroPickImageDefaultScaleXDarkMoon: 2.6;
@define heroPickCardMarginDarkMoon: -70px -64px;
@define heroPickDefaultScale3dDarkMoon: scale3d( heroPickDefaultScaleXDarkMoon, heroPickDefaultScaleDarkMoon, 1.0 );
@define heroPickImageDefaultScale3dDarkMoon: scale3d( heroPickImageDefaultScaleXDarkMoon, imageScale, 1.0 );


/* Hero picking spacing for Dungeon event */
@define heroPickDefaultScaleDungeon: 0.68;
@define heroPickDefaultScaleXDungeon: 0.52;
@define heroPickImageDefaultScaleXDungeon: 2.6;
@define heroPickCardMarginDungeon: -70px -64px;
@define heroPickDefaultScale3dDungeon: scale3d( heroPickDefaultScaleXDarkMoon, heroPickDefaultScaleDarkMoon, 1.0 );
@define heroPickImageDefaultScale3dDungeon: scale3d( heroPickImageDefaultScaleXDarkMoon, imageScale, 1.0 );


DOTAHeroCard
{
    width: cardWidth;
    height: cardHeight;
}

#Contents
{
    width: hitSizePercent;
    height: hitSizePercent;

	transform-origin: 50% 50%;
    transform: defaultScale3d;

    vertical-align: middle;
    horizontal-align: center;

    box-shadow: #000000aa -2px -2px 4px 4px;

    transition-property: transform, box-shadow, opacity, saturation, wash-color;
    transition-duration: expandDuration, expandDuration, 0.3s, 0.3s, 0.3s;
	transition-timing-function: ease-in-out;
}

DOTAHudPreGame DOTAHeroCard #Contents { transform: heroPickDefaultScale3d; }
.AspectRatio4x3 DOTAHudPreGame DOTAHeroCard #Contents { transform: heroPickDefaultScale3d4x3; }
DOTAHudPreGame.DarkMoon.EventGame DOTAHeroCard #Contents { transform: heroPickDefaultScale3dDarkMoon; }
DOTAHudPreGame.dungeon DOTAHeroCard #Contents { transform: heroPickDefaultScale3dDungeon; }

DOTAHeroCard.Showing #Contents
{
	saturation: 0.7;
	brightness: 1.0;
	wash-color: white;
}

DOTAHeroCard.Showing.Highlighted #Contents
{
	saturation: 1;
}

DOTAHeroCard.Showing.Filtered #Contents,
DOTAHeroCard.Showing.Unavailable #Contents
{
    /* fade out when unavailable */
	brightness: 0.3;
	saturation: 0.0;
	wash-color: #777777aa;
	
	brightness: 1;
	contrast: .8;
	saturation: 0;
	wash-color: #7ABCCEaa;
	opacity: .4;
	box-shadow: none;
}

DOTAHeroCard.Showing.Banned #Contents
{
	brightness: 0.3;
	saturation: 0.2;
	wash-color: #ff4444aa;
	contrast: .9;
	opacity: 1;
}

.IsInBanPhase DOTAHeroCard.Showing.Banned #Contents
{
	brightness: 0.5;
	saturation: 0.5;
	wash-color: #ffffff;
	contrast: 1;
}


DOTAHeroCard.Showing.AlreadyPicked #Contents
{
	brightness: 1;
	contrast: .8;
	saturation: 0;
	wash-color: #7ABCCEaa;
	opacity: .4;
	box-shadow: none;
}


DOTAHeroCard.Showing.Suggested:not(.SuggestedBan) #SuggestedOverlay,
DOTAHeroCard.Showing.SuggestedBan #SuggestedBanOverlay
{
	opacity: 1;
}

DOTAHeroCard.Showing.Suggested.Filtered:not(.SuggestedBan) #SuggestedOverlay,
DOTAHeroCard.Showing.SuggestedBan.Filtered #SuggestedBanOverlay
{
	opacity: 0.15;
}

.SearchingHeroes DOTAHeroCard.Showing #Contents
{
	brightness: 0.3;
	saturation: 0.0;
	wash-color: #777777aa;
}

.SearchingHeroes DOTAHeroCard.Showing.Filtered #Contents,
.SearchingHeroes DOTAHeroCard.Showing.Banned #Contents,
.SearchingHeroes DOTAHeroCard.Showing.Unavailable #Contents,
.SearchingHeroes DOTAHeroCard.Showing.AlreadyPicked #Contents
{
	brightness: 0.3;
	saturation: 0.0;
	wash-color: #777777aa;
}

.SearchingHeroes DOTAHeroCard.Showing.Highlighted #Contents
{
	brightness: 1.0;
	saturation: 1;
	wash-color: white;
}

#HitTarget
{
    width: 88%;
    height: 79%;

    transform: defaultScale3d;

    vertical-align: middle;
    horizontal-align: center;
}

DOTAHudPreGame DOTAHeroCard #HitTarget { transform: heroPickDefaultScale3d; }
.AspectRatio4x3 DOTAHudPreGame DOTAHeroCard #HitTarget { transform: heroPickDefaultScale3d4x3; }
DOTAHudPreGame.DarkMoon.EventGame DOTAHeroCard #HitTarget { transform: heroPickDefaultScale3dDarkMoon; }
DOTAHudPreGame.dungeon DOTAHeroCard #HitTarget { transform: heroPickDefaultScale3dDungeon; }

#HitTarget
{
    /* Useful to enable for debugging 
    border: 3px solid white;*/
}

DOTAHeroCard.Showing.Highlighted #Contents
{
    box-shadow: #00ffff44 -4px -4px 8px 8px;

    animation-name: HeroCardHighlight;
    animation-duration: 0.2s;

	brightness: 2;
}

DOTAHeroCard.Showing.Highlighted:focus #Contents
{
    box-shadow: #00ffffcc -6px -6px 12px 12px;
	brightness: 3;
}

DOTAHeroCard.Showing.Highlighted.Expanded #Contents
{
    box-shadow: #000000aa -2px -2px 4px 4px;
}

@keyframes 'HeroCardHighlight'
{
    0%
    {
	    pre-transform-scale2d: 1;
    }
    1%
    {
        z-index: 1;
    }
    50%
    {
	    pre-transform-scale2d: 1.25;
    }				
    99%
    {
        z-index: 0;
    }
    100%
    {
	    pre-transform-scale2d: 1;
    }
}


@keyframes 'HeroCardSelected'
{
    0%
    {
	    brightness: 1;
    }
    50%
    {
	    brightness: 2;
    }				
    100%
    {
	    brightness: 1;
    }
}

DOTAHeroCard.Showing.Expanded #Contents
{
    transform: expandedScale3d;
	transition-duration: 0.18s;
	saturation: 1;
	
	animation-name: HeroCardExpand;
	animation-duration: 0.25s;
	animation-timing-function: ease-in;
}

DOTAHudPreGame DOTAHeroCard.Showing.Expanded #Contents
{
	transform: heroPickExpandedScale3d;
}

@keyframes 'HeroCardExpand'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.075;
	}				
				
	100%
	{
		pre-transform-scale2d: 1;
	}
}


/* Apply a translate as well as the scale so the cards on the edges scale inwards */
DOTAHeroCard.LastRow.Expanded #Contents, DOTAHeroCard.LastRow.Expanded .CardStatusOverlay								{ transform: expandedScale3d translateLastRow; }
DOTAHeroCard.LastColumn.Expanded #Contents, DOTAHeroCard.LastColumn.Expanded .CardStatusOverlay							{ transform: expandedScale3d translateLastColumn; }
DOTAHeroCard.FirstRow.Expanded #Contents, DOTAHeroCard.FirstRow.Expanded .CardStatusOverlay								{ transform: expandedScale3d translateFirstRow; }
DOTAHeroCard.FirstColumn.Expanded #Contents, DOTAHeroCard.FirstColumn.Expanded .CardStatusOverlay						{ transform: expandedScale3d translateFirstColumn; }
DOTAHeroCard.LastColumn.LastRow.Expanded #Contents, DOTAHeroCard.LastColumn.LastRow.Expanded .CardStatusOverlay			{ transform: expandedScale3d translateLastColumn translateLastRow; }
DOTAHeroCard.FirstColumn.LastRow.Expanded #Contents, DOTAHeroCard.FirstColumn.LastRow.Expanded .CardStatusOverlay		{ transform: expandedScale3d translateFirstColumn translateLastRow; }
DOTAHeroCard.LastColumn.FirstRow.Expanded #Contents, DOTAHeroCard.LastColumn.FirstRow.Expanded .CardStatusOverlay		{ transform: expandedScale3d translateLastColumn translateFirstRow; }
DOTAHeroCard.FirstColumn.FirstRow.Expanded #Contents, DOTAHeroCard.FirstColumn.FirstRow.Expanded .CardStatusOverlay		{ transform: expandedScale3d translateFirstColumn translateFirstRow; }

DOTAHudPreGame DOTAHeroCard.LastRow.Expanded #Contents					{ transform: heroPickExpandedScale3d translateLastRow; }
DOTAHudPreGame DOTAHeroCard.LastColumn.Expanded #Contents				{ transform: heroPickExpandedScale3d translateLastColumn; }
DOTAHudPreGame DOTAHeroCard.FirstRow.Expanded #Contents					{ transform: heroPickExpandedScale3d translateFirstRow; }
DOTAHudPreGame DOTAHeroCard.FirstColumn.Expanded #Contents				{ transform: heroPickExpandedScale3d translateFirstColumn; }
DOTAHudPreGame DOTAHeroCard.LastColumn.LastRow.Expanded #Contents		{ transform: heroPickExpandedScale3d translateLastColumn translateLastRow; }
DOTAHudPreGame DOTAHeroCard.FirstColumn.LastRow.Expanded #Contents		{ transform: heroPickExpandedScale3d translateFirstColumn translateLastRow; }
DOTAHudPreGame DOTAHeroCard.LastColumn.FirstRow.Expanded #Contents		{ transform: heroPickExpandedScale3d translateLastColumn translateFirstRow; }
DOTAHudPreGame DOTAHeroCard.FirstColumn.FirstRow.Expanded #Contents		{ transform: heroPickExpandedScale3d translateFirstColumn translateFirstRow; }


#HeroImage
{
    width: imageWidth;
    height: imageHeight;
	
	background-color: #000000de;

    vertical-align: middle;
    horizontal-align: center;

    overflow: noclip;

    transform: imageDefaultScale3d;

    transition-property: transform;
    transition-duration: expandDuration;
	transition-timing-function: ease-in-out;
}

DOTAHudPreGame #HeroImage {	transform: heroPickImageDefaultScale3d; }
.AspectRatio4x3 DOTAHudPreGame #HeroImage {	transform: heroPickImageDefaultScale3d4x3; }
DOTAHudPreGame.DarkMoon.EventGame #HeroImage {	transform: heroPickImageDefaultScale3dDarkMoon; }
DOTAHudPreGame.dungeon #HeroImage {	transform: heroPickImageDefaultScale3dDungeon; }

DOTAHeroCard.Showing.Expanded #HeroImage
{
    transform: imageExpandedScale3d;
	transition-duration: 0.2s;
}

/* Movie expands to fill the content area. */
#HeroMovie
{
	border: 2px solid transparent;
    width: 100%;
    height: 100%;

	opacity: 0.0;
	
    transition-property: opacity;
    transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

#HeroMovie DOTAHeroMovie
{
    width: 100%;
    height: 100%;
}

DOTAHeroCard.Showing.Expanded #HeroMovie
{
	border: 2px solid black;
  	opacity: 1.0;
}


#HeroName
{
	background-color: #111111cc;
    width: 100%;
	min-height: 14%;
    text-align: center;
    vertical-align: bottom;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 2px black;
	text-transform: uppercase;
	letter-spacing: 2px;
    opacity: 0.0;
	font-size: 15px;
	margin-bottom: -2px;

    transition-property: opacity, background-color;
    transition-duration: 0.3s;
}

DOTAHeroCard.Expanded #HeroName
{
    opacity: 1.0;
}

DOTAHudPreGame DOTAHeroCard { margin: heroPickCardMargin; }
.AspectRatio4x3 DOTAHudPreGame DOTAHeroCard { margin: heroPickCardMargin4x3; }
DOTAHudPreGame.DarkMoon.EventGame DOTAHeroCard { margin: heroPickCardMarginDarkMoon; }
DOTAHudPreGame.dungeon DOTAHeroCard { margin: heroPickCardMarginDungeon; }


#HitBlocker
{
	width: 30%;
	height: 40%;
	visibility: collapse;
	//border: 1px solid red;
	horizontal-align: center;
	vertical-align: middle;
}

.Filtered #HitBlocker,
.AlreadyPicked #HitBlocker,
.Unavailable #HitBlocker,
.Banned #HitBlocker
{
	visibility: visible;
}


#BannedOverlay
{
	background-image: url("s2r://panorama/images/hero_selection/banned_overlay_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	wash-color: red;

	width: 80%;
	height: 100%;
	horizontal-align: center;
	
	
	transform: translateX(14px) translateY(-18px);
	
	vertical-align: center;
	
	pre-transform-scale2d: .4;

	opacity: 0.0;

	transition-property: opacity, pre-transform-scale2d, transform;
	transition-duration: .24s;
}

.CardStatusOverlay
{
	background-image: url("s2r://panorama/images/hero_selection/suggested_overlay_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	width: 80%;
	height: 77%;
	horizontal-align: center;

	animation-name: none;
	animation-duration: 0.25s;
	animation-timing-function: ease-in;	
	
	transform: translateX(0px) translateY(0px);
	
	vertical-align: center;
	
	pre-transform-scale2d: .4;

	opacity: 0.0;

	transition-property: opacity, pre-transform-scale2d, background, transform;
	transition-duration: expandDuration;
}

DOTAHeroCard.Expanded .CardStatusOverlay
{
	background-size: 100% 100%;
}

.AspectRatio4x3 .CardStatusOverlay
{
	background-size: 85% 90%;
}

.Filtered #BattlePassIcon,
.AlreadyPicked #BattlePassIcon,
.Unavailable #BattlePassIcon
{
	opacity: .1;
}


#SuggestedOverlay
{
	background-image: url("s2r://panorama/images/hero_selection/suggested_overlay_psd.vtex");
}

#SuggestedBanOverlay
{
	background-image: url("s2r://panorama/images/hero_selection/suggested_ban_overlay_psd.vtex");
}

#AllHeroChallengeOverlay
{
	background-image: url("s2r://panorama/images/hero_selection/allhero_overlay_psd.vtex");	
}

#DailyHeroChallengeOverlay
{
	background-image: none;
}

#BattlePassIcon
{
	background-image: url("s2r://panorama/images/hero_selection/battlepassdaily_winter_psd.vtex");	
	background-size: contain;
	width: 86px;
	height: 129px;
	horizontal-align: left;
	vertical-align: top;
	margin-left: -2px;
	margin-top: -24px;
}

DOTAHudPreGame DOTAHeroCard.Showing.Expanded #BattlePassIcon
{
	width: 56px;
	height: 84px;
	vertical-align: middle;
	margin: 0px;
	margin-left: 22px;
	margin-bottom: 64px;
	margin-top: 20px;
}

DOTAHudPreGame DOTAHeroCard.Showing.Expanded.AllHeroChallenge.DailyHeroChallenge #BattlePassIcon
{
	width: 56px;
	height: 84px;
	vertical-align: middle;
	margin: 0px;
	//margin-left: 22px;
	horizontal-align: center;
	margin-top: 42px;
	opacity: .35;
}	

#DailyHeroChallengeOverlay Label
{
	vertical-align: center;
	margin-top: 80px;
	width: 100px;
	text-align: center;
	
	/* Fall 2016 */
	color: #B1F25C;
	text-shadow: 0px 0px 8px 2 #598223;
	
	/* Winter 2017 */
	color: #63befd;
	text-shadow: 0px 0px 8px 2 #235482;
	
	
	
}

.CardStatusOverlay Label
{
	horizontal-align: center;
	vertical-align: bottom;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: bold;
	color: #F9D1ED;
	text-shadow: 0px 0px 8px 2 #CA4385;
	opacity: 0;

	transition-property: opacity;
	transition-duration: expandDuration;	
}

#AllHeroChallengeOverlay Label
{
	vertical-align: top;
	margin-top: 36px;
	width: 100px;
	text-align: center;
	color: #BBDDF8;
	text-shadow: 0px 0px 8px 2 #6FAEF8;
}

#SuggestedBanOverlay Label
{
	color: #edbbbe;
	text-shadow: 0px 0px 8px 2 #ed3b48;
}

DOTAHudPreGame DOTAHeroCard.Showing.Expanded .CardStatusOverlay
{
	animation-name: HeroCardExpand;
	pre-transform-scale2d: 1;
}

DOTAHudPreGame DOTAHeroCard.Expanded .CardStatusOverlay Label
{
	opacity: 1;
}

DOTAHudPreGame DOTAHeroCard.Expanded.Filtered .CardStatusOverlay
{
	opacity: 0.2;
}

DOTAHeroCard.Banned #BannedOverlay
{
	opacity: 1.0;
	transform: translateX(0px) translateY(0px);
}

DOTAHeroCard.AllHeroChallenge #AllHeroChallengeOverlay,
DOTAHeroCard.DailyHeroChallenge #DailyHeroChallengeOverlay
{
	opacity: 1.0;
}
