DOTAHeroSetPickerSet
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #222 ), to( #666 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #222 ),  color-stop( .7, #666 ), color-stop( .86, #555), color-stop( .93, #464646 ), to( #555 ) );
	overflow: clip;
	border: 2px solid black;
	box-shadow: #000000aa 0px 0px 2px 2px;

	transition-property: brightness;
	transition-duration: 0.2s;
}



DOTAHeroSetPickerSet:enabled:hover
{
	brightness: 2.0;
}

DOTAHeroSetPickerSet:active
{
	brightness: 1.5;
}

DOTAHeroSetPickerSet:disabled #ScenePanel,
DOTAHeroSetPickerSet:disabled #HeroSetName
{
	visibility: collapse;
}

#ScenePanel
{
	width: 200%;
	height: 120%;
	horizontal-align: center;
	
	transform: translateY( -35px );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #222 ),  color-stop( .7, #666 ), color-stop( .86, #555), color-stop( .93, #464646 ), to( #555 ) );
}

.BaseSet #ScenePanel
{
	saturation: 0.0;
	wash-color: #c4e8fe;
}


.DefaultSetEquipped #ScenePanel
{
	saturation: 0.0;
	wash-color: #c4e8fe;
}

#HeroSetName
{
	vertical-align: bottom;
	width: 144px;
	color: white;
	font-size: 16px;
	margin: 0px 8px 2px 8px;
	text-shadow: 1px 1px 2px 2.0 black;
	line-height: 17px;
}

.BaseSet #HeroSetName
{
	color: #aaa;
}

.SavedSet #HeroSetName
{
	color: #faffae;
	width: 124px;
}

.SetDef #HeroSetName
{
	color: #b8e1e1;
}
.IsInBundle #HeroSetName
{
	width: 124px;
}

#EditSavedSetButton
{
	horizontal-align: right;
	vertical-align: bottom;
	margin: 0px 7px 7px 0px;

	width: 15px;
	height: 15px;

	background-image: url("s2r://panorama/images/control_icons/gear_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	wash-color: #faffae;

	visibility: collapse;
}

#EditSavedSetButton:hover
{
	wash-color: white;
}

#EditSavedSetButton:active
{
	wash-color: #ffc;
}

.SavedSet #EditSavedSetButton
{
	visibility: visible;
}

#BundleIcon
{
	horizontal-align: right;
	vertical-align: bottom;
	margin: 0px 5px 5px 0px;

	width: 18px;
	height: 18px;

	background-image: url("s2r://panorama/images/control_icons/brackets_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	wash-color: #b8e1e1;

	visibility: collapse;
}

.IsInBundle #BundleIcon
{
	visibility: visible;
}


/* Slightly different styling when inside the set picker */

DOTAHeroSetPicker DOTAHeroSetPickerSet
{
	box-shadow: none;
}

DOTAHeroSetPicker DOTAHeroSetPickerSet:hover
{
	brightness: 1.0;
}
DOTAHeroSetPicker DOTAHeroSetPickerSet:active
{
	brightness: 1.0;
}