@import url("file://{resources}/styles/battle_pass/current_battle_pass.css");

DOTAHomePageEvents
{
	flow-children: down;
	box-shadow: fill #0005 -2px -2px 6px 6px;
}

#Header
{
	flow-children: right;
}

.EventTab
{
	width: fill-parent-flow( 1.0 );
}

.EventTab .EventTabName
{
	text-transform: uppercase;
	vertical-align: middle;
	letter-spacing: 1px;
	color: #aaa;
	margin-left: 1px;
	text-overflow: shrink;
}
.EventTab:hover .EventTabName
{
	color: white;
}
.EventTab:active .EventTabName
{
	color: #ccc;
}


.EventTabControls
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 4px;
	flow-children: right;
}

.EventTabOverlay
{
	width: 100%;
	height: 100%;
}

.NotificationCount
{
	color: white;
	font-size: 16px;
	background-color: #bf481e;
	border-radius: 50%;
	width: 19px;
	height: 19px;
	margin-right: 6px;
	text-align: center;
	vertical-align: middle;
	transform: translateY( -2px );

	visibility: collapse;
}
.PlusSubscriber .HasPlusNotifications #DotaPlusNotificationCount
{
	visibility: visible;
}




#BattlePassTab
{
	wash-color: #00000080;

	background-image: url("s2r://panorama/images/compendium/international2018/home_page_cell_background_psd.vtex");
	background-size: 336px 400px;
	background-position: 0px 0px;

	padding-bottom: 1px;
}

#BattlePassTab .EventTabName
{
	color: gradient( linear, 0% 0%, 0% 100%, from( accentColor ), to( #ccc ) );
}
#BattlePassTab:hover .EventTabName
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #ccc ) );
}
#BattlePassTab:active .EventTabName
{
	color: gradient( linear, 0% 0%, 0% 100%, from( accentColorGlow ), to( #ccc ) );
}

#BattlePassTab:selected
{
	wash-color: #fff;
}

#BattlePassTab .EventTabOverlay
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( black ), color-stop( 0.3, transparent ), to( transparent ) );
}

#BattlePassTab:selected .EventTabOverlay
{
	visibility: collapse;
}

#BattlePassTabBackground
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/compendium/international2018/home_page_cell_background_psd.vtex");
	background-size: 336px 400px;
	background-position: 0px 0px;
}

#BattlePassTabForeground
{
	flow-children: right;
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 5px;
}

#BattlePassTabIcon
{
	width: 20px;
	height: 20px;
	margin-right: 4px;
	transform: translateY( 1px );
	background-image: bp_point_log_pass_activated;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#DotaPlusTab
{
	background-color: dotaPlusBrown;
	border-top: 1px solid dotaPlusGold;
	wash-color: #00000080;
}

#DotaPlusTab .EventTabOverlay
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( black ), color-stop( 0.3, transparent ), to( transparent ) );
}

#DotaPlusTab:selected .EventTabOverlay
{
	visibility: collapse;
}


#DotaPlusTab:selected
{
	wash-color: #fff;
}

#DotaPlusTabIcon
{
	width: 20px;
	height: 20px;
	margin-right: 4px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


#Contents
{
	width: 100%;
}

.EventTabContents
{
	visibility: collapse;
}

.EventTabContents:selected
{
	visibility: visible;
}


/* ------------------------------------------------------------------------- */
/*  Battle Pass                                                              */
/* ------------------------------------------------------------------------- */

#BattlePassTabContents
{
	width: 100%;
	height: 160px;

	/* Hack to force a composition layer so that the background image isn't messed up */
	opacity: 0.99;
	background-image: url("s2r://panorama/images/compendium/international2018/home_page_cell_background_psd.vtex");
	background-size: 336px 400px;
	background-position: 0px -38px;
}

.SelfEventActive.EventHasUnclaimedRewards #BattlePassTabContents
{
	height: 224px;
}

#BattlePassBackground
{
	width: 100%;
	height: 100%;
}


.BattlePassState
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.GlobalEventNotActive #BattlePassLoading,
.GlobalEventActive.SelfEventNotActive #BattlePassNotOwned,
.GlobalEventActive.SelfEventNeedsActivate #BattlePassNeedsActivate,
.GlobalEventActive.SelfEventActive #BattlePassOwned
{
	visibility: visible;
}

#BattlePassLoading .Spinner
{
	horizontal-align: center;
	vertical-align: middle;
}

.BattlePassInactiveState
{
	width: 100%;
	vertical-align: middle;
	flow-children: down;
}

.BattlePassInactiveState > Label
{
	width: 320px;
	horizontal-align: center;
	text-align: center;
	font-size: 16px;
	color: bp_color9;
	
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 18px;
	font-weight: bold;
	padding-top: 10px;
}

.BattlePassInactiveState > TextButton
{
	horizontal-align: center;
	margin-top: 8px;
	width: 300px;
}

#BattlePassPreviewButton
{
	horizontal-align: center;
	width: fit-children;
}

#BattlePassOwned
{
	flow-children: down;
}

#BattlePassMainSection
{
	flow-children: right;
}

#BattlePassShieldContainer
{
}

#BattlePassLevelShield
{
	margin-top: 2px;
	ui-scale: 90%;

	vertical-align: center;
	margin-left: 4px;
}

#BattlePassUnclaimedRewards
{
	flow-children: down;
	width: 100%;

	visibility: collapse;
}

.SelfEventActive.EventHasUnclaimedRewards #BattlePassUnclaimedRewards
{
	visibility: visible;
}

.EventHasUnclaimedRewards.EventHasUnclaimedRewardsSingular #BattlePassUnclaimedRewards .UnclaimedCount.Singular,
.EventHasUnclaimedRewards:not(.EventHasUnclaimedRewardsSingular) #BattlePassUnclaimedRewards .UnclaimedCount.Plural
{
	visibility: visible;
}

@keyframes 'PulseUnclaimed'
{
	0%
	{
		box-shadow:	fill bp_color7 -3px -3px 6px 6px;
		background-color: bp_color7;
	}

	50%
	{
		box-shadow: fill bp_color11 -5px -5px 10px 10px;
		background-color: bp_color11;
	}
	
	100%
	{
		box-shadow:	fill bp_color7 -3px -3px 6px 6px;
		background-color: bp_color7;
	}
}

#BattlePassUnclaimedRewards .UnclaimedCount
{
	margin-top: 14px;

	horizontal-align: center;
	text-align: center;

	background-color: bp_color7;

	animation-name: PulseUnclaimed;	
	animation-duration: 1.81s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	visibility: collapse;
}

#BattlePassUnclaimedRewards .UnclaimedCount Label
{
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 6px 12px 3px 12px;
	font-size: 16px;
	text-align: center;
}

#BattlePassUnclaimedRewards .UnclaimedDescription
{
	margin-top: 13px;
	horizontal-align: center;
	text-align: center;
	font-weight: thin;
	font-size: 13px;
	color: bp_color9;
}


#BattlePassLevelDetails
{
	vertical-align: middle;
	flow-children: down;
}

.SelfEventActive.EventHasUnclaimedRewards #BattlePassLevelDetails
{
	visibility: collapse;
}

#BattlePassLevelProgressBar
{
	width: 44px;
	height: 13px;
	border: 2px solid #eebd3d;
	border-bottom: 2px solid transparent;
	border: 2px solid black;
	margin-left: 12px;
	border-radius: 0px;
	background-color: #333;
}

#BattlePassLevelProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color5 ), to( #111111 ) );
}
.SelfEventActive.SelfEventTierSilver #BattlePassLevelProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #999999 ), to( #111111 ) );
}
.SelfEventActive.SelfEventTierGold #BattlePassLevelProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #eebd3d ), to( #111111 ) );
}
.SelfEventActive.SelfEventTierPlatinum #BattlePassLevelProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #71e183 ), to( #111111 ) );
}

#BattlePassLevelDetails > Label
{
	font-size: 14px;
	margin-left: 12px;
	margin-top: 4px;
	color: bp_battlePassLogoColor;
	horizontal-align: left;
}

#BattlePassPurchaseLevelsSection
{
	width: 100%;
	border-top: 1px solid accentColorBright&50;
	height: 68px;
	
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #114a2c ), to( #1f6840 ) );
}

#BattlePassPurchaseLevelsButton
{
	horizontal-align: center;
	vertical-align: middle;
	border-top: 1px solid textColoredVeryBrightColor;
	box-shadow: 0px 0px 16px accentColorSectionBG;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( PurchaseLevelsButtonColor ), to( PurchaseLevelsButtonColorSecondary ) );
}

#BattlePassPurchaseLevelsButton:hover
{
	brightness: 1.2;
}

#BattlePassPurchaseLevelsButton:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( PurchaseLevelsButtonColorSecondary ), to( PurchaseLevelsButtonColor ) );
}

#BattlePassPurchaseLevelsButton Label
{
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 0px 2px 2px black;
	padding: 10px 48px 8px 48px;
	text-align: center;
	font-size: 18px;
}

#BattlePassActivitiesRow
{
	flow-children: right;
	width: fill-parent-flow( 1.0 );
}

#BattlePassActivitiesTempContainer
{
	visibility: collapse;
}

#BattlePassActivitiesCarousel
{
	width: fill-parent-flow( 1.0 );
	margin-top: 15px;
	flow-children: right;
	padding-bottom: 6px;
	overflow: clip;
}

.BattlePassActivitiesPage
{
	width: 242px;
	flow-children: right;
	transition-property: position;
	transition-duration: 0.4s;
}

.BattlePassActivitiesPageButton
{
	width: 10px;
	height: 100%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	opacity: 0.0;

	wash-color: backgroundBrightColor;

	transition-property: opacity;
	transition-duration: 0.4s;
}

.BattlePassActivitiesPageButton:hover
{
	brightness: 2.0;
}
.BattlePassActivitiesPageButton:active
{
	brightness: 1.5;
}

#BattlePassActivitiesPreviousPage
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
	margin-left: 0px;
}
.BattlePassActivitiesShowPreviousPage #BattlePassActivitiesPreviousPage
{
	opacity: 1.0;
}

#BattlePassActivitiesNextPage
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
	margin-right: 8px;
}
.BattlePassActivitiesShowNextPage #BattlePassActivitiesNextPage
{
	opacity: 1.0;
}

.BattlePassActivity
{
	flow-children: down;
	width: 46px;
	margin-right: 3px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}
.BattlePassActivity:hover
{
	brightness: 2.0;
}
.BattlePassActivity:active
{
	brightness: 1.5;
}

.BattlePassActivity #BattlePassActivityIcon
{
	width: 24px;
	height: 24px;
	margin-bottom: 4px;
	horizontal-align: center;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.BattlePassActivity #BattlePassActivityText
{
	horizontal-align: center;
	text-align: center;
	font-size: 16px;
	color: textColoredBrightColor;
	width: 46px;
	text-overflow: shrink;
}

.BattlePassActivity.Wagering #BattlePassActivityIcon { background-image: bp_point_log_wager_won; }
.BattlePassActivity.Achievements #BattlePassActivityIcon { background-image: bp_point_log_achievement; }
.BattlePassActivity.WeeklyChallenge #BattlePassActivityIcon { background-image: url("s2r://panorama/images/control_icons/clock_psd.vtex"); wash-color: bp_color7; }
.BattlePassActivity.DPCPredictions #BattlePassActivityIcon { background-image: url("s2r://panorama/images/compendium/international2018/icon_prediction_tokens_png.vtex"); }
.BattlePassActivity.CavernCrawl #BattlePassActivityIcon { background-image: url("s2r://panorama/images/cavern/icon_logo_png.vtex"); }
.BattlePassActivity.ArcanaVote #BattlePassActivityIcon { background-image: url("s2r://panorama/images/compendium/international2018/icon_arcana_vote_png.vtex"); }
.BattlePassActivity.Tipping #BattlePassActivityIcon { background-image: url("s2r://panorama/images/compendium/international2018/icon_tipping_token_png.vtex"); }

/* ------------------------------------------------------------------------- */
/*  Dota Plus                                                                */
/* ------------------------------------------------------------------------- */
DOTAHomePageEvents:not(.PlusWelcomeQuestsAvailable) #PlusWeeklyChallenge
{
	margin-top: 20px;
}

DOTAHomePageEvents:not(.PlusWelcomeQuestsAvailable) #PlusCurrency
{
	margin-top: 40px;
	pre-transform-scale2d: 1.125;
}


#PlusTabContents
{
	width: 100%;
	height: 160px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( dotaPlusBrown ), to( black ) );
}

.PlusState
{
	width: 100%;
	height: 100%;

	visibility: collapse;
}

.PlusLoading #PlusLoading,
DOTADashboard:not(.PlusSubscriber) #PlusNotOwned,
.PlusSubscriber #PlusOwned
{
	visibility: visible;
}

#PlusLoading .Spinner
{
	horizontal-align: center;
	vertical-align: middle;
}


#PlusNotOwnedContents
{
	width: 100%;
	flow-children: down;
	vertical-align: middle;
}

#PlusNotOwnedDescription
{
	width: 100%;
	text-align: center;
	color: dotaPlusGold;
	text-transform: uppercase;
	letter-spacing: 1px;

	transition-property: brightness;
	transition-duration: 0.1s;
}

#PlusNotOwned:hover #PlusNotOwnedDescription
{
	brightness: 2.0;
}

#PlusNotOwned:active #PlusNotOwnedDescription
{
	brightness: 1.5;
}


#PlusSubscribeButton
{
	margin-top: 16px;
	horizontal-align: center;
	width: 280px;
}

#PlusOwned
{
}

#PlusOwnedMain
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#PlusParticlesOverlay
{
	width: 100%;
	height: 100%;
}

#PlusCurrency
{
	margin-top: 20px;
	margin-bottom: 8px;
	horizontal-align: center;
}

#PlusCurrencyIcon
{
	width: 24px;
	height: 24px;
	margin-right: 2px;
	transform: translateY( -2px );

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#PlusStoreCurrencyCount
{
	color: dotaPlusLightGold;
	font-size: 24px;
	padding-right: 10px;
	text-align: left;
	horizontal-align: left;
	vertical-align: center;
	letter-spacing: 2px;
}

#PlusStore:hover
{
	brightness: 1.4;
}

#PlusStoreCallout
{
	transition-property: opacity;
	transition-duration: 0.6s;
}

#PlusStoreLabel
{
	vertical-align: center;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#PlusStore Panel
{
	vertical-align: center;
	font-size: 14px;
}

#PlusStoreArrow
{
	width: 12px;
	height: 12px;

    margin-right: 6px;
    margin-bottom: 2px;

    background-image: url("s2r://panorama/images/control_icons/arrow_top_right_png.vtex");
    background-repeat: no-repeat;
	background-size: 11px 11px;

    wash-color: #A5ADA2ff;
}

#PlusWeeklyChallenge
{
	padding: 0px 8px;

	transition-property: opacity;
	transition-duration: 0.6s;
}

.PlusShowRewards #PlusWeeklyChallenge
{
	visibility: collapse;
}

#PlusWeeklyChallenge > Panel
{
	margin-top: 4px;
}

#PlusWeeklyChallenge .RefreshTime
{
	color: #999;
	font-size: 13px;
	vertical-align: top;
}

.PlusChallengeDots
{
	horizontal-align: right;
	flow-children: right;
}

.PlusChallengeDot
{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid dotaPlusLightGold;
	margin-right: 4px;

	box-shadow: fill #9c763f33 0px 0px 12px 0px;
}

DOTAHomePageEvents.PlusGamesWon1 #PlusChallengeDot1,
DOTAHomePageEvents.PlusGamesWon2 #PlusChallengeDot2,
DOTAHomePageEvents.PlusGamesWon3 #PlusChallengeDot3
{
	background-color: dotaPlusLightGold;
}

#PlusChallengeTimeRemaining
{
	letter-spacing: 2px;
	text-transform: uppercase;
	opacity: 0.5;
}

DOTAHomePageEvents.PlusRewardClaimed #PlusChallengeTimeRemaining
{
	visibility: collapse;
}

#PlusChallengeTitle, #PlusChallengeCompleteTitle
{
	vertical-align: middle;
	font-size: 14px;
	color: dotaPlusGold;
	letter-spacing: 1px;
	margin-bottom: 6px;
	margin-top: 2px;
	text-transform: uppercase;
	letter-spacing: 2px;
}


DOTAHomePageEvents.PlusRewardClaimed #PlusChallengeTitle
{
	visibility: collapse;
}

#PlusChallengeCompleteTitle
{
	visibility: collapse;
}

DOTAHomePageEvents.PlusRewardClaimed #PlusChallengeCompleteTitle
{
	visibility: visible;
}

#PlusChallengeLeft
{
	vertical-align: top;
	padding-left: 2px;
}

#PlusChallengeCurrency
{
	opacity: 0.4;
	margin-top: 4px;
	horizontal-align: right;
	margin-left: -8px;
}

DOTAHomePageEvents.PlusGamesWon3 #PlusChallengeCurrency
{
	visibility: collapse;
}

#PlusChallengeCurrencyIcon
{
	vertical-align: middle;
	width: 14px;
	height: 14px;
	background-size: 14px 14px;
	margin: 0px;
	margin-bottom: 3px;
	margin-right: 4px;
}

#PlusChallengeCurrencyAmount
{
	vertical-align: center;
	font-size: 16px;
	letter-spacing: 2px;
}


#PlusWeeklyChallengeRewards
{
	width: 100%;
	margin-top: 6px;

	transition-property: opacity;
	transition-duration: 0.6s;

	visibility: collapse;
}

.PlusShowRewards #PlusWeeklyChallengeRewards
{
	visibility: visible;
}

#PlusWeeklyChallengeClaimButton
{
	horizontal-align: center;
	width: 290px;
}

#PlusWeeklyChallengeClaimButton Label
{
	font-size: 18px;
	font-weight: normal;
	height: 41px;
	text-overflow: shrink;
}

#PlusWelcomeQuests
{
	width: 100%;
	background-color: dotaPlusBrown;
	padding: 12px 0px 8px 0px;
	
	transition-property: opacity;
	transition-duration: 0.6s;

	visibility: collapse;
}

.PlusWelcomeQuestsAvailable #PlusWelcomeQuests
{
	visibility: visible;
}

#PlusWelcomeQuests:hover
{
	brightness: 2.0;
}

#PlusWelcomeQuests:active
{
	brightness: 1.5;
}

#PlusWelcomeQuestsContents
{
	horizontal-align: center;
	flow-children: right;
}


#PlusWelcomeQuestsLabel
{
	color: dotaPlusLightGold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#PlusWelcomeQuestsArrow
{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin-left: 4px;
	transform: translateY( -1px );

    background-image: url("s2r://panorama/images/control_icons/arrow_top_right_png.vtex");
    background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

    wash-color: dotaPlusLightGold;
}

.PlusCurrencyCountup #PlusWeeklyChallenge,
.PlusCurrencyCountup #PlusWeeklyChallengeRewards,
.PlusCurrencyCountup #PlusStoreCallout,
.PlusCurrencyCountup #PlusWelcomeQuests
{
	opacity: 0.0;
}

#PlusCurrencyBalance
{
	transition-property: transform, pre-transform-scale2d;
	transition-duration: .8s;
	transition-timing-function: ease-in-out;
}

.PlusCurrencyCountup #PlusCurrencyBalance
{
	pre-transform-scale2d: 1.25;
	transform: translateX( 60px ) translateY( 5px );
}