/* styles for the main DOTA dashboard */

DOTAHud
{
	width: 100%;
	height: 100%;
}

DOTACustomUIRoot
{
	width: 100%;
	height: 100%;
}

#HUDElements
{
	width: 100%;
	height: 100%;
}

#NetGraph
{
	vertical-align: top;
	horizontal-align: right;
	height: 42px;
	width: 200px;
	margin-top: 4px;
	margin-right: 60px;
}

.AspectRatio4x3 #NetGraph
{
	margin-right: 60px;
}

.AspectRatio5x4 #NetGraph
{
	margin-right: 40px;
}

#VoiceChat
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 4px;
	margin-bottom: 352px;
	visibility: visible;
}

#GameEndContainer
{
	width: 100%;
	height: 100%;
}

#ProjectionDebug
{
	horizontal-align: center;
	vertical-align: center;

	width: 450px;
	height: 200px;
	background-color: black;
}

@define toastExitDuration: 0.3s;

#PredictionToastManager
{
	margin-top: 450px;
	height: fit-children;
	horizontal-align: right;
	flow-children: down;
    width: 350px;

}

#PredictionToastManager > .ToastPanel
{
	opacity: 0.0;
	transform: translateX( -40px );

	transition-property: position, opacity, transform;
	transition-duration: toastExitDuration;
}

#PredictionToastManager > .ToastPanel.ToastVisible
{
	opacity: 1.0;
	transform: none;
}

#PredictionToastManager Label
{
    font-size: 14px;
}
