#hudcontainer
{
	horizontal-align: left;
	width: 100%;
	height: 100%;
	border: 0px solid red;
	margin-bottom: 200px;
	overflow: scroll clip;
	flow-children: right;
}

.hud
{
	border: 0px solid #ff000015;
	horizontal-align: left;
	vertical-align: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	
	transition-property: wash-color, background-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
}

.hud:hover
{
	background-color: #00005522;
	wash-color: #ffaaaaff;
}

.hudpanel
{
	pre-transform-scale2d: .95;
	width: 2500px;
	horizontal-align: left;
	vertical-align: bottom;
	border: 0px solid #00ff0011;
	padding-bottom: 12px;
	
	flow-children: right;
	overflow: scroll clip;
	
	transition-property: pre-transform-scale2d;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

.hudpanel:hover
{
	pre-transform-scale2d: .95;
}

// used to counter the HUD wide flip when a skin has provided a pre-flipped background image
.FlipHUDBackground
{
	transform: scaleX(-1);
}

.TextBox
{
	margin-top: 118px;
	margin-left: 150px;
	width: 240px;
}

.LevelTextBox
{
	margin-top: 464px;
	margin-left: 120px;
	width: 40px;
}

#LevelBar 
{
	width: 212px;
	height: 16px;
	border: 0px;
	margin-top: 482px;
	margin-left: 170px;
}

#LevelBar .ProgressBarLeft
{
	width: 50%;
	height: 100%;
	background-color: black;
}

#LevelBar .ProgressBarRight
{
	width: 50%;
	height: 100%;
	background-color: #8c6210;
}



#minimapborder 
{
	width: 554px;
	height: 620px;
	background-image: url("s2r://panorama/images/hud/default/actionpanel/minimapborder_png.vtex");

}

#minimapimage
{
	z-index: -1;
	width: 480px;
	height: 480px;
	margin-left: -535px;
	background-image: url("s2r://panorama/images/hud/dota_psd.vtex");
	border: 10px solid black;
}

#spacer_16_9
{
	z-index: -1;
	margin-left: 15px;
	width: 244px;
	height: 510px;
	background-image: url("s2r://panorama/images/hud/default/actionpanel/spacer_16_9_png.vtex");
}

#portrait_wide
{
	width: 526px;
	height: 511px;
	margin-left: -102px;
	background-image: url("s2r://panorama/images/hud/default/actionpanel/portrait_wide_png.vtex");
}

#HeroName
{
	horizontal-align: center;
	font-size: 30px;
	color: white;
}

#LevelNumber
{
	horizontal-align: center;
	font-size: 36px;
	font-weight: bold;
	color: black;
}

#Portrait 
{
	z-index: -1;
	width: 260px;
	height: 360px;
	margin-left: -385px;
	//background-color: #66ffff11; 
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #222222FF ), to( #444faaFF ) );
}

#center_left_wide
{
	z-index: -1;
	width: 404px;
	height: 290px;
	margin-left: 24px;
	background-image: url("s2r://panorama/images/hud/default/actionpanel/center_left_wide_png.vtex");
	flow-children: right;
}

.BlackBox
{
	vertical-align: bottom;
	margin-bottom: 15px;
	margin-left: 24px;
	width: 180px;
	height: 176px;
	background-color: black;
	border-bottom: 1px solid #77777777;
	border-right: 1px solid #77777744;
}

#RightStatsBox
{
	margin-left: 8px;
}


#center_right
{
	z-index: -1;
	width: 777px;
	height: 290px;
	background-image: url("s2r://panorama/images/hud/default/actionpanel/center_right_png.vtex");
}

#AbilitiesContainer
{
	border: 0px solid blue;
	width: 78.5%;
	height: 100%;
	flow-children: right;
	horizontal-align: center;
	overflow: clip clip;
}

.AbilityFrame
{
	width: 128px;
	height: 160px;
	margin-top: 110px;
	margin-right: 32px;
	background-image: url("s2r://panorama/images/hud/active_well_png.vtex");
	border: 0px solid red;
	background-size: contain;
	background-repeat: no-repeat;
	flow-children: down;
}

.abilitycooldowncontainer
{
	border: 0px solid green;
	width: 128px;
	height: 128px;
	//margin: 7px;
	overflow: clip clip;
}

.cooldownswipe
{
	border: 0px solid black;
	background-color: #00000066;
	width: 128px;
	height: 128px;
}

.LeveledPipContainer
{
	margin-top: 8px;
	flow-children: right;
	horizontal-align: center;
}

.LeveledPip
{
	width: 22px;
	height: 22px;
	margin-left: 4px;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/hud/pip_on_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

/* hotkey panel */
DOTAHotkey
{
	min-width: 18px;
	min-height: 18px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
	border: 1px solid #ffffff05;
	box-shadow: fill black 1px 1px 2px 2px;
}

DOTAHotkey Label
{
	color: #bba995;
 	text-shadow: 1px 1px 2px 2 #000000;
    font-size: 14px;
    font-weight: bold;
	vertical-align: center;
	text-align: center;
	width: 100%;
}

.Reborn DOTAHotkey
{
	background-color: black;
	border-radius: 0px;
	border: 0px;
	box-shadow: fill black 0px 0px 0px 0px;
}

.Reborn DOTAHotkey Label
{
	color: white;
	font-weight: normal;
}

@keyframes 'borderglow5'
{
	0%
	{
		box-shadow: fill #e38f12 -1px -1px 1px 1px;
	}

	50%
	{
		box-shadow: fill #e38f12 -2px -2px 4px 4px;
	}

	100%
	{
		box-shadow: fill #e38f12 -1px -1px 1px 1px;
	}
}

#RecommendedUpgradeOverlay .BorderEdge
{
	animation-name: borderglow5;	
  	animation-duration: 1.0s;
  	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

	background-color: #ff9900;
}

#RecommendedUpgradeOverlay .BorderTop
{
	width: 98%;
	height: 2px;
	horizontal-align: center;
	vertical-align: top;
}

#RecommendedUpgradeOverlay .BorderBottom
{
	width: 98%;
	height: 2px;
	horizontal-align: center;
	vertical-align: bottom;
}

#RecommendedUpgradeOverlay .BorderLeft
{
	width: 2px;
	height: 98%;
	vertical-align: center;
	horizontal-align: left;
}

#RecommendedUpgradeOverlay .BorderRight
{
	width: 2px;
	height: 98%;
	vertical-align: center;
	horizontal-align: right;
}

.Reborn DOTAItemImage
{
    background-image: url("s2r://panorama/images/hud/reborn/item_slot_background_png.vtex");
}