DOTALoadingScreenBackgroundImage
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	background-color: black;
	overflow: clip;
}

#DefaultImage
{
	horizontal-align: center;
	vertical-align: middle;
	width: 253px;
	height: 253px;

	background-color: transparent;

	background-image: url("s2r://panorama/images/loadingscreens/default/dota_logo_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

DOTALoadingScreenBackgroundImage.CustomLoadScreen #DefaultImage
{
	visibility: collapse;
}

/*
Loading screens are stored on disk as 2048x1024 stretched versions of a 16x9 image
So we just make the loading image match the screen height, scale it to be 16/9 wide, and center so that the renderer will crop as appropriate
*/
#LoadImage
{
	horizontal-align: center;
	width: height-percentage( 177.778% );
	height: 100%;
	visibility: collapse;
	overflow: clip;
}

DOTALoadingScreenBackgroundImage.CustomLoadScreenImage #LoadImage
{
	visibility: visible;
}

#LoadPanel
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

DOTALoadingScreenBackgroundImage.CustomLoadScreenPanel #LoadPanel
{
	visibility: visible;
}











