DOTALoadingScreenBackgroundImage
{
	background-color: black;
}

#LoadScreenDefault
{
	horizontal-align: center;
	vertical-align: middle;
	width: 253px;
	height: 253px;

	background-color: transparent;

	background-image: url("s2r://panorama/images/loadingscreens/default/dota_logo_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.DefaultImage
{
	horizontal-align: center;
	vertical-align: middle;
	width: 253px;
	height: 253px;

	background-color: transparent;

	background-image: url("s2r://panorama/images/loadingscreens/default/dota_logo_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}


#DefaultImageLayer1
{
	opacity-mask: url("s2r://panorama/images/loadingscreens/default/dota_logo_layer1_mask_psd.vtex");
}

#MovingPanel
{

	animation-name: Layer1Motion;
	animation-duration: 5.2s;
	animation-delay: 0.15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	horizontal-align: center;
	vertical-align: middle;
	width: 512px;
	height: 412px;
	//background-color: gradient( radial, 50% 60%, 0% 0%, 50% 40%, from( red ), to( transparent ) );
	background-image: url("s2r://panorama/images/loadingscreens/default/dota_logo_layer1_motion_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 50% 200%;
}

@keyframes 'Layer1Motion'
{
	0%
	{
		transform: translateX( -200px ) rotateZ( 45deg);
	}
				
	100%
	{
		transform: translateX( 200px ) rotateZ( 45deg);
	}
}
