DOTALobbyBrowser
{
	background-color: none;
	padding: 8px;
	padding-left: 16px;
}

#MainContainer
{
 	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.03, #272b30 ), color-stop( 0.6, #141619 ), to( #131518 ) );
	width: 100%;
	height: 492px;
	border-bottom: 1px solid #404b4a55;
}

#LobbyInstanceContainer
{
	padding-top: 12px;
	box-shadow: inset #000000 0px 2px 6px 3px;
	overflow: clip scroll;
	flow-children: down;
	height: 500px;
	width: 100%;
	opacity: 0.9999;    /* hack to make images further down the tree clip properly */
}

#CurrentlyRefreshing
{
	box-shadow: inset #000000 0px 2px 6px 3px;
	opacity: 0;
	width: 100%;
	height: 500px;
	background-color: #111111ee;
	
	transition-property: opacity;
	transition-duration: .2s;
}

#CurrentlyRefreshing .Spinner
{
	width: 32px;
	height: 32px;
	horizontal-align: center;
	vertical-align: middle;
	pre-transform-scale2d: 1.2;
	opacity: 0;
	transition-property: pre-transform-scale2d;
	transition-duration: .2s;
}

.RefreshInProgress #CurrentlyRefreshing
{
	opacity: 1;
}

.RefreshInProgress #CurrentlyRefreshing .Spinner
{
	pre-transform-scale2d: 1;
	opacity: 1;
	transition-duration: .0s;
}

#FindLobby
{
	background-color: #151719;
	margin-left: 18px;
	margin-top: 18px;
	padding: 16px;
	padding-top: 12px;

	width: 587px;
	height: 717px;
}

#BrowseLobby
{
    width: 100%;
}


.FullWidth
{
	border-top: 1px solid #232a2a;
	margin-top: 4px;
	padding-top: 10px;
	margin-bottom: 4px;
}

#SearchNameDropdownContainer
{
	width: 100%;
	margin: 4px;
}

#FindPrivateLobby
{
    width: 100%;
	height: 100%;
	margin-top: 16px;
	margin-left: 32px;
	margin-right: 32px;
	border-bottom: 1px solid #232a2a;	
}

#FindPrivateLobbyInner
{
    width: 100%;
    flow-children: right;
}

#LobbyPasswordEntry
{
    width: 586px;
	height: 41px;
	margin-left: 2px;
	background-color: black;
	border: 2px solid #5e686966;
    vertical-align: middle;
	horizontal-align: center;
    padding: 8px;
	margin-bottom: 20px;
	
}

#LobbyPasswordEntry Label
{
    font-size: 20px;
}

.ButtonDark
{
	horizontal-align: right;
	margin-right: 12px;
}

#FindLobbyByPasswordText
{
	width: 100%;
	text-align: center;
	margin-top: 0px;
	font-size: 20px;   
}

#HeaderLabels
{
	flow-children: none;
	background-color: black;
	width: 100%;
	height: 32px;
	padding-top: 6px;
	padding-bottom: 4px;
	border-top: 1px solid #404b4a55;
	border-bottom: 1px solid #404b4a55;
}

#HeaderLabels Label
{
	color: white;
	text-transform: uppercase;
}

#ColumnHeader0
{
	margin-left: 4px;
	vertical-align: center;
	width: 32px;

	background-image: url("s2r://panorama/images/control_icons/friends_small_png.vtex");
	background-size: 16px 16px;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
	
}

#ColumnHeader0 .SortArrow, #ColumnHeader0.ReverseSorted .SortArrow
{
	background-image: url("s2r://panorama/images/control_icons/friends_small_sortarrow_png.vtex");
}


#ColumnHeader0:hover .SortArrow
{
	//background-image: url("s2r://panorama/images/control_icons/friends_small_sortdown_png.vtex");
	//width: 19px;
	//margin-left: 5px;
}

#ColumnHeader0.ReverseSorted:hover .SortArrow
{
	//background-image: url("s2r://panorama/images/control_icons/friends_small_sortup_png.vtex");
	//transform: rotateZ( 0deg );
	//width: 19px;
	//margin-left: 5px;
}


#ColumnHeader1
{
	margin-left: 26px;
}

.IconHeader
{

}

.IconHeader:hover
{
	background-color: #222222;
}

.IconHeaderLabel
{
	width: 16px;
	height: 100%;
	margin-left: 8px;
	margin-right: 8px;
}

.IconColumnHeader .SortArrow
{
	horizontal-align: center;
}

.TextColumnHeader
{
	wash-color: #91aba6;
	height: 100%;
}



.TextColumnHeader:hover
{
	wash-color: white;
}

.SortArrow
{	
	margin-left: 2px;
	vertical-align: center;
	height: 16px;
	width: 16px;
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	visibility: collapse;


	wash-color: #FFFFFF;
}



.TextColumnHeader:hover .SortArrow
{
	visibility: visible;
}

.SortedBy .SortArrow
{
	visibility: visible;
}

.ReverseSorted .SortArrow
{
	transform: rotateZ( 180deg );
}

.GameNameHeader
{
	width: 250px;
	max-width: 250px;
	text-overflow: ellipsis;

	margin-left: 60px;
	margin-right: 8px;
}

.SlotsHeader
{
	horizontal-align: right;
	width: 72px; 
	text-overflow: clip;

	margin-left: 8px;
	margin-right: 306px;   
}

.GameModeHeader
{
	horizontal-align: right;
	width: 150px;
	max-width: 150px;
	text-overflow: clip;

	margin-left: 8px;
	margin-right: 138px;
}

.RegionHeader
{
	horizontal-align: right;
	width: 131px;
	max-width: 150px;
	text-overflow: clip;

	margin-left: 8px;
	margin-right: 8px;
}

.Divider
{
	height: 1px;
	background-color: #404b4a55;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

#RegionDropdownContainer
{
	width: 50%;
	margin: 4px;
}

.FilterHeader
{
	wash-color: #91aba6;
	color: white;
	text-transform: uppercase;
	margin-left: 16px;
}

#FilterLobbies
{
	wash-color: #888888;
	color: white;
	text-transform: uppercase;
	margin-left: 0px;
	font-size: 24px;
}


#RegionDropdown, #GameModeDropdown
{
	width: 276px;
	horizontal-align: center;
}

#RegionDropdownDropDownMenu
{
	width: 276px;
}

#GameModeDropdownDropDownMenu
{
	width: 276px;
	max-height: 510px;
}

#GameModeDropdownContainer
{
	width: 50%;
	margin: 4px;
}

#RefreshButton
{
	margin-top: 6px;
	horizontal-align: right;
	height: 28px;
	wash-color: #888888;
	
	transition-property: wash-color;
	transition-duration: .2s;
}

DOTALobbyBrowser.RefreshInProgress DOTALobbyBrowserInstance
{
	//visibility: collapse;
}

#RefreshButtonIcon
{
	wash-color: white;
	margin-top: 0px;
	width: 24px;
	height: 24px;
}

#RefreshButton Label
{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#RefreshButton:enabled:hover
{
	wash-color: white;
}

#RefreshButton:disabled
{
	wash-color: #444444;
}


#TitleBar
{
	width: 100%;
}

#TitleSearchResult
{
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
}

#LobbiesAvailable
{
	color: #666666;
	margin-top: 5px;
	margin-left: 6px;
}

DOTALobbyBrowser.NoLobbies #LobbiesAvailable
{
	visibility: collapse;
}

.LobbyListMessage
{
	horizontal-align: center;
	margin-top: 25px;
	visibility: collapse;
}

DOTALobbyBrowser.RefreshInProgress #SearchingMessageContainer
{
	//visibility: visible;
}

DOTALobbyBrowser.NoLobbies #NoLobbiesMessageContainer
{
	visibility: visible;
}

DOTALobbyBrowser.NoSearchMatches #NoSearchMatchesMessageContainer
{
	visibility: visible;
}

DOTALobbyBrowser.NoSearchMatches.RefreshInProgress #NoSearchMatchesMessageContainer
{
	//visibility: collapse;
}