DOTALobbyUnassignedPlayer
{
    width: 250px;
    height: 24px;
    flow-children: right;
}

#PlayerNameLabel
{
	visibility: visible;
	color: #CCCCCC;
	max-width: 170px;
	min-width: 60px;
	text-align: center;
	
	transition-property: border, background-color, color;
	transition-duration: 0.2s;

	context-menu-body-position: 0% 50%;
	
	padding-left: 4px;
	padding-right: 4px;
	
	margin-left: 4px;
	margin-right: 4px;
	
	border: 1px solid #aaaaaa06;
	background-color: #aaaaaa03;
	
}

DOTALobbyUnassignedPlayer:hover #PlayerNameLabel
{
	color: white;
		
	border: 1px solid #aaaaaa18;
	background-color: #aaaaaa04;
}

#UnassignedPlayers #PlayerNameLabel
{
	border: 1px solid #aaaaaa00;
	background-color: #aaaaaa00;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}