DOTALobby
{
    visibility: visible;
    flow-children: none;
    width: 1450px;
    height: 100%;
}

DOTALobby Label
{
    letter-spacing: 1px;
}

#BackgroundClickCatcher
{
	width: 100%;
	height: 100%;
	opacity: 1;
	color: red;
	//visibility: collapse;
}

#LobbyContent
{
	width: 720px;
    height: 100%;
	margin-right: 12px;
	padding-right: 32px;
	padding-left: 16px;
	padding-top: 16px;
	box-shadow: black -4px -4px 8px 8px;
	horizontal-align: right;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619 ), to( #000000 ) );
}

.AspectRatio4x3 #LobbyContent
{
	margin-right: 40px;
}

.AspectRatio5x4 #LobbyContent
{
	margin-right: 0px;
	width: 670px;
}

.AspectRatio16x10 #LobbyContent
{
	margin-right: 20px;
}

#LobbyContentUpper
{
    width: 100%;
    height: 696px;
    //background-color: #151719aa;
    flow-children: down;
    padding: 0px;
	opacity: 1.0;
	wash-color: #00000000;
	
	transition-property: opacity, wash-color;
	transition-delay: 0.4s;
	transition-duration: 1.2s;
	transition-timing-function: ease-in-out;	
}

.TitleContainer
{
	width: 100%;
}

#LobbyTitle
{
	max-height: 35px;
	max-width: 325px;
	font-size: 26px;
	color: white;
//	border: 1px solid red;
	margin-left: 2px;

	wash-color: #00000000;
	transition-property: wash-color;
	transition-delay: 0.1s;
	transition-duration: 0.4s;
}

#LobbyHost
{
	vertical-align: bottom;
	margin-bottom: 3px;
	horizontal-align: right;
	font-size: 26px;
	max-width: 325px;
	max-height: 35px;
	font-size: 20px;
}

#LobbyHost.HostNotFound
{
	visibility: collapse;
}

#PlayersSection
{
	width: 100%;
	//border: 1px solid yellow;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.03, #272b30 ), color-stop( 0.6, #181a1e ), to( #181a1e ) );
	border-bottom: 1px solid #404b4a11;
	box-shadow: inset #000000 0px 2px 6px 3px;
}

.PlayersColumn
{
	flow-children: down;
	width: 50%;

	height: 420px;      /* temp */
	padding: 10px;
}

#RadiantPlayers
{
	horizontal-align: left;
	background-color: gradient( linear, 0% 0%, 50% 40%, from( #00ff0019 ), color-stop( 0.4, #00ff0002 ), to( transparent ) );
}

#DirePlayers
{
	horizontal-align: right;
	background-color: gradient( linear, 100% 0%, 50% 40%, from( #ff000009 ), color-stop( 0.4, #aa000002 ), to( transparent ) );
}

#PlayerButtonsContainer
{
	width: 100%;
	height: 40px;
 
	margin-top: 0px;
	margin-bottom: 4px;
}

.PlayerButtonsColumn
{
	width: 50%;
}

#BalancedShuffleButton
{
	height: 28px;
	vertical-align:center;
	margin: 2px;
	horizontal-align: right;
	margin-top: 8px;
	visibility: collapse;
	margin-right: 32px;
}


#BalancedShuffleButton Image
{
	margin-top: 2px;
	width: 20px;
	height: 20px;
	wash-color: #888888;
}

#BalancedShuffleButton:hover Image
{
	wash-color: white;
}

#BalancedShuffleButton:active Image
{
	wash-color: #666666;
}

#BalancedShuffleButton Label
{
	text-transform: uppercase;
}

DOTALobby.LocalPlayerIsAdmin #BalancedShuffleButton
{
	visibility: visible;
}

DOTALobby.LocalPlayerIsAdmin.ShuffleTeamsDisallowed #BalancedShuffleButton
{
	visibility: collapse;
}

#SwapTeamsButton
{
	height: 28px;
	vertical-align:center;
	margin: 2px;
	margin-top: 8px;
	margin-left: 32px;	
}

#SwapTeamsButton Label
{
	horizontal-align: center;
	vertical-align: center;
	text-transform: uppercase;
}

#SwapTeamsButton Image
{
	margin-top: 2px;
	width: 20px;
	height: 20px;
	wash-color: #888888;
}

#SwapTeamsButton:hover Image
{
	wash-color: white;
}

#SwapTeamsButton:active Image
{
	wash-color: #666666;
}

.TeamHeader
{
	width: 100%;
	flow-children: right;
	padding-bottom: 4px;
	border-bottom: 2px solid #495255;
}

#RadiantTeamLogoDefault
{
	background-image: url("s2r://panorama/images/team_icons/radiant_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.RadiantHasCustomTeam #RadiantTeamLogoDefault
{
	visibility: collapse;
}

#DireTeamLogoDefault
{
	background-image: url("s2r://panorama/images/team_icons/dire_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.DireHasCustomTeam #DireTeamLogoDefault
{
	visibility: collapse;
}

#RadiantTeamLogo
{
	visibility: collapse;
}

.RadiantHasCustomTeam #RadiantTeamLogo
{
	visibility: visible;
}

#DireTeamLogo
{
	visibility: collapse;
}

.DireHasCustomTeam #DireTeamLogo
{
	visibility: visible;
}

.LobbyTeamIconDefault
{
	width: 37px;
	height: 37px;
	margin-right: 10px;
	border: 1px solid black;
}

.LobbyTeamIcon
{
	width: 60px;
	height: 37px;
	margin-top: 2px;
	margin-right: 4px;
}

#TeamNameContainer
{
	max-width: 202px;
	max-height: 40px;
	padding: 0px;
}

.RadiantHasCustomTeam #RadiantTeamName
{
	//color: #999999;
}

#RadiantTeamName
{
	color: white;
	text-shadow: 0px 0px 6px #00ff0088;
}

#DireTeamName
{
	horizontal-align: right;
	color: white;
	text-shadow: 0px 0px 6px #ff000088;
}

.DireHasCustomTeam #DireTeamName
{
	//color: #999999;
}

.TeamName
{
	font-size: 28px;
	vertical-align: center;
	margin-top: 2px;
	opacity: 1.0;
	transform: translateX( 0px );
	
	transition-property: opacity, transform;
	transition-duration: 0.4s;
}

.TeamSelectDropdown
{
	width: 30px;
	height: 30px;
	horizontal-align: right;
	margin-right: 4px;

	opacity: 0.2;

	background-position: right 31px 35%;
	
	pre-transform-scale2d: 1.0;	
	
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.4s;
}

.TeamSelectDropdown.DropDownMenuVisible
{
	opacity: 1.0;
}

.TeamHeader:hover .TeamSelectDropdown
{
	opacity: 1.0;
}

#RadiantTeamDropdown, #DireTeamDropdown
{
	opacity: 0.0;
	pre-transform-scale2d: 0.1;
}

.LocalPlayerOnRadiant #RadiantTeamDropdown
{
	opacity: 0.2;
	pre-transform-scale2d: 1.0;
}

.LocalPlayerOnRadiant #RadiantTeamDropdown:hover
{
	opacity: 1.0;
}

.LocalPlayerOnDire #DireTeamDropdown
{
	opacity: 0.2;
	pre-transform-scale2d: 1.0;
}

.LocalPlayerOnDire #DireTeamDropdown:hover
{
	opacity: 1.0;
}

#UnassignedPlayers
{
	width: 100%;
	height: 120px;
	padding: 8px;
	margin-bottom: 4px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.03, #181a1e ), color-stop( 0.6, #141619 ), to( #111111 ) );
	box-shadow: inset #000000 0px 2px 6px 3px;
	border-bottom: 1px solid #404b4a11;
}

#UnassignedPlayersTitle
{
	horizontal-align: center;
	color: #667273;
	font-size: 20px;
	text-transform: uppercase;
}

#UnassignedPlayersList
{
	width: 100%;
	flow-children: right-wrap;
	overflow: clip scroll;
	padding-left: 8px;
}

#CenterButtonsContainer
{
	width: 100%;
	height: 48px;
}


#LoadGameButton
{
	width: 269px;
	height: 33px;
	vertical-align:center;
	visibility: collapse;
}

.LocalPlayerIsAdmin #LoadGameButton
{
	visibility: visible;
}

.GrayBackgroundImageButton
{
	background-image: url("s2r://panorama/images/gray_button_off_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.GrayBackgroundImageButton:hover
{
	background-image: url("s2r://panorama/images/gray_button_on_png.vtex");
}

.GrayBackgroundImageButton Panel
{
	horizontal-align: center;
	vertical-align: center;
}

.GrayBackgroundImageButton Label
{
	margin-right: 4px;
	color: white;
}

.GrayBackgroundImageButton Image
{
	margin-top: 0px;
	width: 22px;
	height: 22px;
}

.IconButton Panel
{
	horizontal-align: center;
	vertical-align: center;
}

.IconButton Label
{
	margin-top: 2px;
	margin-right: 4px;
	color: #6e6f6f;
}

.IconButton:hover Label
{
	margin-right: 4px;
	color: white;
}

#SettingsContainer
{
	width: 100%;
	height: 160px;
	background-color: #151719;
	border: 1px solid #252729;
	flow-children: down;
	padding: 18px;
	margin: 8px;
}

.LobbySettings
{
	height: 100%;
	width: 100%;
	margin-top: -13px;
}

#SettingsHeaderRow
{
	width: 100%;
}

#SettingsHeaderRow Label
{
	text-transform: uppercase;
}

#SettingsEditButton
{
	horizontal-align: right;
	visibility: collapse;
	wash-color: #6e6f6f;
}

#EditLobbySettingsIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/gear_small_png.vtex");
	background-size: 20px;
	margin-left: 4px;
	animation-delay: 0s;
}

.LocalPlayerIsAdmin #SettingsEditButton
{
	visibility: visible;
}

#SettingsEditButton Label
{
	color: white;
	text-transform: uppercase;
}

#SettingsEditButton:hover
{
	wash-color: white;
}

#SettingsEditButton Image
{
	margin-top: -1px;
}

.SettingsColumn
{
	height: 100%;
	width: 50%;
	margin-top: 8px;
	margin-right: 12px;
	flow-children: down;
}

#BottomButtonsContainer
{
    width: 100%;
	height: 48px;
	padding: 8px;
	padding-top: 2px;
	padding-bottom: 0px;

}

#LeaveLobbyButtonContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 3px;
}

#LeaveLobbyButton
{
	horizontal-align: right;
	vertical-align: bottom;
    width: 330px;
    min-height: 36px;
    margin-right: 16px;
        
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2c1b1b ), to( #482e2f ) );
		
	box-shadow: fill #552e2f00 -4px -4px 8px 9px;
	
	border-top: 1px solid #3d2929;
	border-right: 1px solid #372121;
	border-left: 1px solid #372121;
	border-bottom: 1px solid #2e1f21;

	overflow: noclip noclip;
	opacity: 1.0;
	
	transition-property: border, box-shadow, background-color, opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.AspectRatio4x3 #LeaveLobbyButton
{
	margin-right: 22px;
}


#LeaveLobbyButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #492121 ), to( #9d4c4f ) );
	border-top: 1px solid #7d4141;
	border-right: 1px solid #7a3535;
	border-left: 1px solid #7a3535;
	border-bottom: 1px solid #2e1f21;
	box-shadow: fill #552e2f66 -4px -4px 8px 9px;
}

#LeaveLobbyButton:hover #LeaveLobbyXIcon
{
	wash-color: red;
}



#LeaveLobbyButton Label
{
	padding-top: 0px;
	font-size: 18px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

#LeaveLobbyXIcon
{
	width: 16px;
	height: 16px;
	margin: 2px;
	margin-left: 10px;
	padding: 0px;
	wash-color: #aa0000ee;
}

.SettingText
{
	width: 100%;
	flow-children: right;
}

.SettingName
{
	color: #6e6f6f;
	margin-right: 12px;
	text-transform: uppercase;
}

.SettingValue
{
	color: white;
	text-transform: uppercase;
}

#LobbyBroadcasters
{
	height: fit-children;
    width: 687px;
	box-shadow: black -4px -4px 8px 8px;
    margin-top: 20px;
	margin-left: 16px;
	opacity: 0.0;

	transform: translateX( 50px );

	transition-property: opacity, transform;
	transition-duration: 0.3s;
}

.AspectRatio5x4 #LobbyBroadcasters
{
	width: 650px;
}

DOTALobby.LobbyBroadcastersVisible #LobbyBroadcasters
{
	transform: translateX( -0px );
	opacity: 1.0;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #2d3538 ), color-stop( 0.9, #2d3538 ), to( #1d2325 ) );
}


DOTALobby.LobbyBroadcastersVisible.LobbyVisible #BroadcastChannelButton
{
	transform: translateX( 0px );
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

DOTALobby.LobbyBroadcastersVisible.LobbyVisible #BroadcastChannelButton Label
{
	color: #bbbbbb;
}

DOTALobby.LobbyBroadcastersVisible.LobbyVisible #BroadcastChannelButton Image
{
	transform: rotateZ( -90deg );
	margin-top: 0px;
}

DOTALobby.LobbyBroadcastersVisible.LobbyVisible #BroadcastChannelButton:hover Image
{
	transform: rotateZ( -90deg ) translateY( 2px );
	margin-top: 0px;
	wash-color: white;
}


DOTALobby.LobbyBroadcastersVisible.LobbyVisible #BroadcastChannelButton:hover Label
{
	color: white;
}

DOTALobby.LobbyBroadcastersVisible.LobbyVisible #BroadcastChannelContainer
{
	wash-color: #00000000;
	opacity: 1;

}

DOTALobby.LobbyBroadcastersVisible.LobbyVisible #LobbyTitle
{
	//wash-color: #000000f7;
	//transition-delay: 0.0s;
}

DOTALobby.LobbyBroadcastersVisible.LobbyVisible #CreateBroadcastChannelButton
{
	opacity: 1.0;
}

DOTALobby.LobbyBroadcastersVisible.LobbyVisible #NoBroadcastChannels
{
	opacity: 1.0;
}

DOTALobby.LobbyBroadcastersVisible.LobbyVisible.HasBroadcastChannels #NoBroadcastChannels
{
	opacity: 0;
}


#BroadcastChannelButton
{
	background-color: #2d3537;
	width: 269px;
	height: 33px;
	vertical-align: top;
	horizontal-align: center;
	margin-bottom: 124px;
	transform: translateY( 645px );
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

	transition-property: transform;
	transition-duration: 0.5s;

	// HIDE!
	visibility: collapse;
}

#BroadcastChannelButton Panel
{
	horizontal-align: center;
	vertical-align: center;
}

#BroadcastChannelButton Label
{
	margin-top: 3px;
	margin-right: 4px;
	color: #888888;
	text-transform: uppercase;
}

#BroadcastChannelButton:hover Label
{
	color: white;	
}

#BroadcastChannelButton:hover Image
{
	transform: rotateZ( 90deg ) translateY( -2px );
	wash-color: white;
}



#BroadcastChannelButton Image
{
	wash-color: #90a9a4;
	background-image: url("s2r://panorama/images/control_icons/double_arrow_left_png.vtex");
    background-position: 1.5% 50%;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	transform: rotateZ( 90deg );
	margin-top: 4px;
	width: 22px;
	height: 22px;

	transition-property: transform, wash-color;
	transition-duration: 0.2s;
}

#BroadcastersContent
{
	vertical-align: bottom;
	opacity: 1;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #2d3538 ), color-stop( 0.9, #2d3538 ), to( #1d2325 ) );
	width: 100%;
	height: 552px;
	padding: 24px 16px 42px 16px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	
	/* inset shadow at top edge */
	//box-shadow: inset #00000066 0px 4px 6px 0px;

	transition-property: background-color;
	transition-duration: 0.5s;
}

#NoBroadcastChannels
{
	width: 100%;
	margin-top: 60px;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;

	transition-property: opacity;
	transition-duration: 0.3s;
}

DOTALobby.HasBroadcastChannels #NoBroadcastChannels
{
	opacity: 0;
	transition-delay: 0.5s;
}

#CreateBroadcastChannelButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 10px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.25s;
}

#CreateBroadcastChannelButton:active
{
	wash-color: #888888;
}

#CreateBroadcastChannelButton Label
{
	text-transform: uppercase;
}

.MaxBroadcastChannels #CreateBroadcastChannelButton
{
	opacity: 0;


}

.BroadcastChannelTitle
{
	margin-left: 15px;
	margin-top: 5px;
}

#BroadcastChannelContainer
{
	//overflow: clip scroll;
	flow-children: right-wrap;
	height: 730px;
	width: 100%;
	padding: 8px;
	opacity: 0;
	/* inset shadow at top edge */
	box-shadow: inset #00000066 4px 4px 4px 4px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #222222 ), to( #171717 ) );
	opacity: 0.99999;
	wash-color: #000000ff;
	transition-property: wash-color, opacity;
	transition-duration: 0.3s;

	margin-top: 10px;

}

#SwapTeamsButton
{
	visibility: collapse;
}

DOTALobby.LocalPlayerIsAdmin #SwapTeamsButton
{
	visibility: visible;
}

.LobbyPlayerRowDivider
{
	height: 1px;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #49525533 ), color-stop( 0.3, #495255aa ), color-stop( 0.7, #495255aa ), to( #49525533 ) );
	background-color: #49525555;
}

.CoachRowContainer
{
	background-color: black;
	width: 100%;
	height: 26px;
	padding-left: 6px;
	padding-right: 6px;
	visibility: collapse;
}

DOTALobby.CoachesVisible .CoachRowContainer
{
	visibility: visible;
}

.LobbyCoachTitle
{
	margin-top: 3px;
	text-transform: uppercase;
}

.LobbyCoachJoinButton
{
	margin-top: 3px;
	horizontal-align: right;
}

.LobbyCoachJoinButton Label
{    
	color: #888888;
	text-transform: uppercase;
}

.LobbyCoachJoinButton:hover Label
{
	color: #dddddd;
}

.LobbyCoachLeaveButton
{
	margin-top: 3px;
	horizontal-align: right;
}

.LobbyCoachLeaveButton Label
{    
	color: #888888;
	text-transform: uppercase;
}

.LobbyCoachLeaveButton:hover Label
{    
	color: #dddddd;

}

.CoachesContainer
{
	width: 100%;
	height: 130px;
	padding-top: 6px;
	padding-left: 6px;
	flow-children: right-wrap;
	overflow: clip scroll;
	box-shadow: inset #000000aa 2px 2px 6px 3px;
}

.CoachesContainer DOTALobbyUnassignedPlayer
{
	width: fit-children;
}

#RadiantCoachJoinButton
{
}

DOTALobby.LocalPlayerIsRadiantCoach #RadiantCoachJoinButton
{
	visibility: collapse;
}

#RadiantCoachLeaveButton
{
	visibility: collapse;
}

DOTALobby.LocalPlayerIsRadiantCoach #RadiantCoachLeaveButton
{
	visibility: visible;
}

#DireCoachJoinButton
{
	
}

DOTALobby.LocalPlayerIsDireCoach #DireCoachJoinButton
{
	visibility: collapse;
}

#DireCoachLeaveButton
{    
	visibility: collapse;
}

DOTALobby.LocalPlayerIsDireCoach #DireCoachLeaveButton
{
	visibility: visible;
}

.Divider
{
    height: 1px;
    background-color: #363d3b;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

#ToggleBroadcastersButton
{

	min-width: 280px;
	height: 32px;
	margin: 4px;
	margin-left: 8px;
	horizontal-align: left;
	vertical-align: bottom;
}

#ToggleBroadcastersButton:active
{
	brightness: 2;
}

#ToggleBroadcastersButton Label
{
	margin-top: 5px;
	horizontal-align: center;
}

//.LobbyBroadcastersVisible #ToggleBroadcastersButton
//{
//	visibility: visible;
//}