DOTANotificationsMenu
{
	//background-color: #1e252f;
	background-color: gradient( linear, 0% 0%, 0% 2%, from( #0f1116 ), to( #1e252f ) );
	padding: 10px 16px 16px 18px;
	width: 100%;
	box-shadow: #000 -4px 0px 8px 8px fill;

	transform: translateY( -100% );
	opacity: 0.0;

	transition-property: transform, opacity;
	transition-duration: 0.2s;
}

DOTANotificationsMenu.MenuVisible
{
	transform: none;
	opacity: 1.0;
}

.GCStatusVisible DOTANotificationsMenu
{
	transform: translateY( 32px );
}

#Notifications
{
	width: 100%;
}

#NotificationsHeader
{
	width: 100%;
	text-transform: uppercase;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 8px;
	padding-bottom: 4px;
	text-align: center;
	horizontal-align: center;
	letter-spacing: 2px;
	color: #cccccc;
	//border-bottom: 1px solid #35383B;
}

#NotificationsContent
{
	width: 100%;
	height: 402px;
	margin: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 12px;
	overflow: squish scroll;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_psd.vtex") 1.0;
}

#NotificationsContent VerticalScrollBar
{
	background-color: #00000044;
}

#NotificationsContent VerticalScrollBar .ScrollThumb
{
	background-color: #3C434B;
}

.ChangeLog
{
	width: 100%;
	max-height: 600px;
	overflow: squish scroll;
}

.NotificationsViewAll
{
	width: 100%;
	height: 32px;
	margin: 16px 16px 0px 16px;
	flow-children: down;
}

.IsShowingAllNotifications .NotificationsViewAll
{
	visibility: collapse;
} 

.NotificationsViewAll Label
{
	color: #cccccc;
}

.NotificationsViewAll:hover Label
{
	color: white;
}

.NotificationsEntry
{
	width: 100%;
	border-right: 22px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 1px solid #35383B;
	padding-left: 6px;
	//padding-right: 12px;
	padding-top: 3px;
	padding-bottom: 3px; 
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #66AADD00 ), color-stop( 0.005, #66AADD00 ), color-stop( 0.01, #66AADD00 ), to( #1D232D00 ) );
}

.NotificationsEntry:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #212F3D ), color-stop( 0.005, #212F3D ), color-stop( 0.01, #212F3D ), to( #1D232D00 ) );
}

.NotificationsEntry:hover .NotificationText
{
	color: #aaaaaa;
}

.NotificationsEntry Label
{	
	font-size: 16px;
	font-weight: thin;

}

.NotificationsEntry.NewNotification
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #66AADD ), color-stop( 0.005, #66AADD ), color-stop( 0.01, #66AADD11 ), to( #1D232D00 ) );
}


.NotificationsEntry.NewNotification:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ddeeff ), color-stop( 0.005, #ddeeff ), color-stop( 0.01, #334D65 ), to( #1D232D00 ) );
}

.NotificationsEntry.NewNotification:hover .NotificationText
{
	color: #ddeeff;
}

.NotificationInfo
{
	width: 100%;
}

.NotificationText
{
	color: #888888;
}


.NotificationsEntry.NewNotification .NotificationText
{
	color: #BDD3FF;
}

.NotificationTypeIcon
{
	width: 32px;
	height: 100px;
	margin-right: 6px;
	vertical-align: middle;
	wash-color: #888888;
	//border: 1px solid red;
	background-color: black;
	background-image: url("s2r://panorama/images/control_icons/envelope_psd.vtex");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	
}

.NotificationsEntry.NewNotification .NotificationTypeIcon
{
	wash-color: white;
}

.NotificationsEntry.NotificationItemDrop.NewNotification .NotificationText
{
	color: #FFED97;
}


.NotificationsEntry.NewNotification.NotificationItemDrop
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #FFED97 ), color-stop( 0.005, #FFED97 ), color-stop( 0.01, #FFED9711 ), to( #1D232D00 ) );
}

.NotificationsEntry.NewNotification.NotificationItemDrop:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #FFFFB2 ), color-stop( 0.005, #FFFFB2 ), color-stop( 0.01, #635C3C ), to( #1D232D00 ) );
}

.NotificationsEntry.NewNotification.NotificationItemDrop .NotificationTypeIcon
{
	wash-color: #FFED97;
}

.NotificationsEntry.NotificationComment .NotificationTypeIcon { background-image: url("s2r://panorama/images/control_icons/comment_psd.vtex"); }
.NotificationsEntry.NotificationCommunity .NotificationTypeIcon { background-image: url("s2r://panorama/images/status_icons/actiontaken_psd.vtex"); }
.NotificationsEntry.NotificationCompendium .NotificationTypeIcon { background-image: url("s2r://panorama/images/status_icons/compendium_psd.vtex"); }
.NotificationsEntry.NotificationAlert .NotificationTypeIcon { background-image: url("s2r://panorama/images/status_icons/exclamation_psd.vtex"); }
.NotificationsEntry.NotificationLeaderboard .NotificationTypeIcon { background-image: url("s2r://panorama/images/status_icons/trophy_psd.vtex"); }
.NotificationsEntry.NotificationLeague .NotificationTypeIcon { background-image: url("s2r://panorama/images/status_icons/trophy_psd.vtex"); }
.NotificationsEntry.NotificationItemDrop .NotificationTypeIcon { background-image: url("s2r://panorama/images/status_icons/itemdrop_psd.vtex"); }
.NotificationsEntry.NotificationRelease .NotificationTypeIcon { background-image: url("s2r://panorama/images/status_icons/itemdrop_psd.vtex"); }
.NotificationsEntry.NotificationGiftReceived .NotificationTypeIcon { background-image: url("s2r://panorama/images/status_icons/itemdrop_psd.vtex"); }

.NotificationTimeContainer
{
	horizontal-align:right;
}

.NotificationTimeContainer Label
{
	color: #666666;
	font-size: 14px;
}

.NotificationsTimeIcon
{
	width: 8px;
	height: 8px;
	background-image: url( 'file://{images}/control_icons/clock_tiny.psd' );
	background-size: contain;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 2px;
	wash-color: #666666;
}


