DOTAOgreMagiArcanaProgress
{
	width: 540px;
	height: 200px;
	background-repeat: no-repeat;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_ogre_magi/ogre_magi_arcana_progress_desc_bg_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#ProgressContents
{
	horizontal-align: left;
	width: 700px;
	vertical-align: middle;
	flow-children: down;
	padding-top: 60px;
}


#PlanetFallBg {
	width: 500px;
	height: 300px;
	/*pre-transform-scale2d: 0.3;*/
	vertical-align: bottom;
	/*border: 1px solid red;*/
}


.Title, .Subtitle
{
	font-size: 46px;
	text-transform: uppercase;
	font-weight: bold;
	width: 80%;
	color: white;
	letter-spacing: 7px;
	text-align: center;
	horizontal-align: center;
	color: gradient ( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #FDD045 ) );
	text-overflow: shrink;
	/* font-family: 'Goudy Trajan'; */
	font-weight: bold;
	text-shadow: 1px 1px 12px 3.0 #492D1F;
}

.Title {
	/*max-height: 36px;*/
	text-shadow: 2px 2px 0px rgba (0,0,0,0.5);
	height: 50px;
}

#TitleFX
{
	width: 380px;
	height: 120px;
	margin-top: 5px;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#TitleTextFX
{
	width: 380px;
	height: 120px;
	margin-top: 0px;
	horizontal-align: center;
	border: 1px solid red;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.Subtitle
{
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	horizontal-align: center;
}

.Description
{
	font-size: 20px;
	font-weight: normal;
	text-shadow: 2px 2px 0x rgba(0,0,0,0.5);
	color: #fefefe;
	width: 370px;
	height: 80px;
	text-align: center;
	horizontal-align: center;
	/* margin-top: 8px; */
}

.Description .InfoIcon
{
	width: 16px;
	height: 16px;
	margin-left: 2px;
	transform: translateY( -12px );
	wash-color: #666;
}

#WinsContainer
{
	vertical-align: bottom;
	horizontal-align: right;
	width: 150px;
	height: 80px;

	horizontal-align: right;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0px, 0px;
	padding-left: 0px;
	padding-top: 5px;
}

.PulseScore #WinsContainer
{
	animation-name: PulseWins;
	animation-duration: 0.5s;
	sound: "HeroBadgeLevelUpReward.ShowReward";
}

@keyframes 'PulseWins'
{
	0%		{ pre-transform-scale2d: 1.5; }
	100%	{ pre-transform-scale2d: 1.0; }
}

.PointsEarned
{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	vertical-align: bottom;
	horizontal-align: center;
	text-shadow: 2px 2px 4px black;
	text-align: center;
	margin-right: 0px;
}

.PointsEarnedLabel
{
	text-transform: uppercase;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 32px;
	text-shadow: 2px 2px 4px black;
	letter-spacing: 1px;
	text-align: center;
}
