
@define partybordercolor: #37413f;

DOTAParty
{
    flow-children: none;
    padding: 4px;
    //padding-left: 4px;
    //padding-right: 4px;
}

DOTAParty.PartyIsLowPri:not(.IgnoreLowPriStatus)
{
    box-shadow: #80000088 -3px -3px 6px 6px;
}

.PlayerList
{
    horizontal-align: center;
    vertical-align: middle;
    flow-children: right;
}

.PlayerList DOTAGroupMemberSlot
{
    margin-left: 2px;
	margin-right: 2px;
}

#CoachesSection
{
    flow-children: right;
	horizontal-align: right;
}

#CoachesSection.Hidden
{
    visibility: collapse;
}

#CoachSeparator
{
    vertical-align: middle;
    horizontal-align: left;
	visibility: collapse;
}


#PartyMembers
{
    overflow: noclip;

}

PopupPartyInvite #CoachesSection
{
    flow-children: right;
    horizontal-align: middle;
    vertical-align: bottom;
}

PopupPartyInvite .PlayerList
{
    vertical-align: top;
}

PopupPartyInvite #Coaches.PlayerList
{
    vertical-align: bottom;
}


PopupPartyInvite #CoachSeparator
{
    visibility: visible;
}

PopupPartyInvite #CoachSeparator Label
{
    font-size: 22px;
    color: #81b27f;
    margin-right: 12px;
}