/* styles for the post game progress panel */
@import url("file://{resources}styles/battle_pass/current_battle_pass.css");

DOTAPostGameMVPVote
{
	width: 100%;
	height: 100%;
	z-index: 10;
	flow-children: down;
}

.ProgressMVPVote DOTAPostGameMVPVote
{
	visibility: visible;
}

#HeaderContainer
{
	width: 100%;
	height: 100px;
}

#BodyContainer
{
	height: 100%;
	width: 100%;
	flow-children: none;
}

#SceneContainer
{
	width: 100%;
	height: 100%;
}

#HeroContainer
{
	width: 100%;
	padding-bottom: 150px;
	vertical-align: bottom;
	flow-children: right;
}

#MVPInstructions
{
	width: 450px;
	height: fit-children;
	background-color: #00000099;
	horizontal-align: left;
	margin-left: 100px;
	flow-children: down;
	z-index: 20;
	margin-top: 110px;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.8s;
	transition-timing-function: ease-in-out;
}

.HasVotedForMVP #MVPInstructions
{
	opacity: 0;
}

#InstructionsTop {
	width: 100%;
	padding: 15px 20px 20px 20px;
	flow-children: right;
}

#InstructionsText {
	flow-children: down;
	width: 100%;
}

#Influence {
	background-color: #414141;
	width: 50px;
	height: 50px;
	horizontal-align: right;
	padding: 0px;
	vertical-align: top;
}

#InfluenceNumber {
	font-size: 36px;
	font-weight: semi-bold;
	color: #ffffff;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 3px;
}

#VoteTitle {
	font-size: 20px;
	color: #B8863F;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-overflow: shrink;
}

#VoteDesc {
	font-size: 16px;
	color: #ffffff90;
	width: 100%;
}

#MVPLearnMore {
	width: 400px;
	horizontal-align: left;
	margin-left: 100px;
	background-color: black;
	height: fit-children;
	flow-children: down;
	z-index: 20;
	margin-top: 200px;
}

#LearnMoreBtn {
	width: 100%;
}

#LearnMoreText {
	color: #dedede;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: semi-bold;
	padding: 8px 20px;
}

.MVPArrow
{
	width: 8px;
	height: 8px;
	horizontal-align: right;
	vertical-align: center;
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_down_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	wash-color: #dddddd;
	margin-right: 20px;
}


#LearnMoreContent {
	width: 400px;
	height: 0px;
	padding: 0px 20px 20px 20px;
	opacity: 0;
	z-index: 10;


	transition-property: opacity, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}


.ShowLearnMoreContent #LearnMoreContent
{
	height: fit-children;
	opacity: 1;


	transition-property: opacity, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

/*.ShowLearnMoreContent .MVPArrow*/
/*{*/
	/*background-image: url("s2r://panorama/images/control_icons/arrow_solid_up_png.vtex");*/
/*}*/

#LearnMoreDesc {
	color: #9e9e9e;
	font-size: 16px;
}

#MVPScene
{
	height: 100%;
	width: 100%;
}



.HeroInfoContent
{
	horizontal-align: left;
	vertical-align: bottom;
	width: 20%;
	height: 600px;
	flow-children: none;
}

#HeroInfoContainer
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.8s;
}

.HasVotedForMVP.DidNotVoteForMVP #HeroInfoContainer
{
	opacity: 1;
}

.HasVotedForMVP #HeroInfoContainer
{
	opacity: 0;
}

.HeroInfoContent Label
{
	text-align: center;
	horizontal-align: center;
}
/*
#Hero1.HeroInfoContent
{
	margin-left: -750px;
}

#Hero2.HeroInfoContent
{
	margin-left: -350px;
}

#Hero4.HeroInfoContent
{
	margin-left: 700px;
}

#Hero5.HeroInfoContent
{
	margin-left: 1500px;
}
	*/
#VoteAreaPanel
{
	height: 100%;
	width: 100%;
	vertical-align: top;
}

#BPLevel
{
	horizontal-align: center;
}

.NoCurrentBattlepass #BPLevel
{
	opacity: 0;
}

#MatchMVPTitle
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 100px;

	width: fit-children;
	height: fit-children;

	transition-property: opacity;
	transition-duration: 0.8s;
	transition-timing-function: ease-in-out;
	opacity: 1;
	z-index: 15;
}

.HasVotedForMVP #MatchMVPTitle
{
	opacity: 0;
}

#MatchMVPCrown
{
	horizontal-align: center;
	height: 50px;
	width: 50px;
	background-image: url("s2r://panorama/images/hud/player_mvp_crown_lg_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
}

#MatchMVPText
{
	margin-top: -8px;
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 34px;
	font-weight: black;
	color: #ffffff;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #dedede ) );
	text-shadow: 2px 2px 3px #000000;
	letter-spacing: 2px;
}

#VotingText
{
	margin-top: -10px;
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: black;
	color: ultraBrightColor;
	letter-spacing: 2px;
	text-shadow: 2px 2px 2px #00000080;
	color: #B8863F;
}

#CountdownTimer
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 210px;
	z-index: 20;

	transition-property: opacity;
	transition-duration: 0.8s;
	transition-timing-function: ease-in-out;
	opacity: 0;
}

.StartCountdown #CountdownTimer
{
	opacity: 1;
}

.HasVotedForMVP #CountdownTimer
{
	opacity: 0;
}

#CursorCooldownContainer
{
	width: 60px;
	height: 60px;
}

#CursorCooldownBackground
{
	width: 100%;
	height: 100%;
	background-color: #004400a3;
	border-radius: 50%;
	background-image: url("s2r://panorama/images/hud/reborn/cursor_cooldown_bg_psd.vtex");	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #000000dd;	
}

#CursorCooldownRadialSweep
{
	width: 100%;
	height: 100%;

	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	wash-color: #22ff33;

	background-image: url("s2r://panorama/images/hud/reborn/cursor_cooldown_bg_psd.vtex");

	transition-property: background-image;
	transition-duration: 5.0s;
}

.StartCountdown #CursorCooldownRadialSweep
{
	animation-name: cursorcooldown-radial-clip-loop; 
	animation-duration: 15.0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes 'cursorcooldown-radial-clip-loop'
{
	0%
	{
		clip: radial( 50% 50%, 0deg, 0deg );
	}


	50%
	{
		clip: radial( 50% 50%, 0deg, 180deg );
	}

	100%
	{
		clip: radial( 50% 50%, 0deg, 360deg );
	}
}

#CursorCooldownValue
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	font-size: 22px;
	text-shadow: 0px 0px 6px 1.0 #000000aa;
	font-weight: bold;
	color: white;
	margin-top: 4px;
	width: 60px;
	height: 30px;
}


#HeroInfoContent
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
	padding-bottom: 150px;
}

#HeroInfoContent Label
{
	text-align: center;
	horizontal-align: center;
}

#HeroPanel
{
	height: 100%;
	width: 100%;
	horizontal-align: center;
	pre-transform-scale2d: 0.6;
	vertical-align: top;
	margin-top: -160px;
}

#BPLevel
{
	pre-transform-scale2d: 0.7;
	transform: translateY(10px);
}

#LevelNumber {
	font-size: 20px;
	background-color: red;
}

#PlayerNameMVP {
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 2px 2px 0px black;
}

#KDALabel {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999999;
    font-weight: bold;
	text-shadow: 1px 1px 1px #000000;
}

.StatsMVP {
	color: #ffffff;
	font-size: 16px;
	font-weight: semi-bold;
	letter-spacing: 0.3px;
	text-shadow: 1px 1px 1px #000000;
}

.NoCurrentBattlepass #BPLevel
{
	opacity: 0;
}

#MVPSpinner
{
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 15;
	opacity: 1;

	transition-property: opacity;
	transition-duration: 0.3s;
}

#MVPSpinner .Spinner
{
	vertical-align: center;
	horizontal-align: center;
}

.StartCountdown #MVPSpinner
{
	opacity: 0;
}