


.Prediction 
{
	margin-right: 20px;
	margin-top: 20px;
	width: 254px;
	height: 254px;
	overflow: noclip;

    border-top-color: #5D738E00;
    border-left-color: #ffffff04;
    border-bottom-color: #ffffff03;
    border-right-color: #ffffff04;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2a2a2a ), to( #1e1e1e ) );
}

.Prediction:disabled
{
	brightness: 0.5;
	saturation: 0;
}

.Small.Prediction 
{
	margin-right: 40px;
	margin-top: 20px;
	width: 304px;
	height: 164px;
	//background-color: backgroundDimColor;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2a2a2a ), to( #1e1e1e ) );
    border-top-color: #5D738E00;
    border-left-color: #ffffff04;
    border-bottom-color: #ffffff03;
    border-right-color: #ffffff04;
	//box-shadow: -2px -2px 4px 4px black;
	overflow: noclip;
}


#MakePrediction Label,
#ShowRanking Label 
{
	text-align: center;
	color: white;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#MakePrediction 
{
	horizontal-align: center;
}

#PredictionContainer 
{
	flow-children: down;
	horizontal-align: center;
}

.Unselected 
{
	background-size: 100% auto;
}

.MakeLabel,
.MadeSelection .ChangeLabel 
{
	visibility: visible;
}

.ChangeLabel,
.MadeSelection .MakeLabel 
{
	visibility: collapse;
}

.Unowned #MakePrediction 
{
	visibility: collapse;
}

#PredictionContainer .RemainingTime 
{
	font-size: 15px;
	text-align: center;
}

.Prediction Label 
{
}

/* CSS about displaying the question and current value */
#Question, #SingleRanking 
{
	height: 44px;
	width: 228px;
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 8px;
	font-size: 16px;
	color: baseText;
	line-height: 17px;
}

.Small #Question, .Small #SingleRanking 
{
	height: 24px;
}

#PredictionLines 
{
	flow-children: down;
	visibility: collapse;
}

#ShowRanking 
{
	horizontal-align: center;
	visibility: collapse;
}

.Locked #ShowRanking 
{
	visibility: visible;
}

.NoAnswer #ShowRanking 
{
	visibility: collapse;
}

.Locked .NoRanking #ShowRanking 
{
	visibility: collapse;
}

.Locked #MakePrediction,
.Unowned #MakePrediction
{
	visibility: collapse;
}

#PredictionLines 
{
	flow-children: down;
	width: 100%;
}

.ShowingStandings #PredictionLines 
{
	visibility: visible;
}

.ShowingStandings #RevealStandings,
.ShowingStandings .RemainingTime,
.ShowingStandings #Picker 
{
	visibility: collapse;
}

#HideStandings 
{
	visibility: collapse;
}

.ShowingStandings #HideStandings 
{
	visibility: visible;
}

/* CSS related to the control to allow you to choose a prediction */
#Picker 
{
	width: 112px;
	height: 112px;
	border: 2px solid #555555;
	margin-top: 22px;
	horizontal-align: center;
    background-color: #00000088;
}

.Small #Picker 
{
	width: 202px;
	height: 52px;
	border: 0px;
	margin-top: 22px;
	margin-left: 20px;
	horizontal-align: center;
}

/* CSS related to the ? mark when you haven't selected a prediction yet */
.UnselectedMark 
{
	color: backgroundMediumColor;
	horizontal-align: center;
	vertical-align: center;
	visibility: visible;
}

.MadeSelection .UnselectedMark 
{
	visibility: collapse;
}

.Small #Picker .UnselectedMark 
{
	font-size: 40px;
	margin-top: 0px;
}

#Picker .UnselectedMark 
{
	font-size: 60px;
}

/* CSS related to displaying generic prediction in the picker */
.GenericLabel 
{
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.Generic.MadeSelection .GenericLabel 
{
	visibility: visible;
}

/* CSS related to displaying the hero image in the picker */
#HeroImage 
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.Hero.MadeSelection #HeroImage 
{
	visibility: visible;
}

/* CSS related to displaying player or team images in the picker */
#TeamImage 
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.Player.MadeSelection #TeamImage,
.Team.MadeSelection #TeamImage 
{
	visibility: visible;
}

#Picker Label 
{
	color: white;
	font-size: 28px;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	line-height: 30px;
}

.PredictionReward 
{
	color: white;
	text-shadow: -1px 1px 8px 2 #000000bb;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
	horizontal-align: center;
	margin-left: 0px;
	margin-top: 6px;
}

.PointsIcon 
{
	background-image: bp_total_points;
	background-size: cover;
	width: 18px;
	height: 18px;
	margin-top: -6px;
	horizontal-align: center;
}

.CompletedPanel 
{
	width: 44px;
	height: 44px;
	visibility: collapse;
}

.Achieved .CompletedPanel 
{
	visibility: visible;
}

.CompletedBackground 
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #094f3f ), to( #129c7c ) );
	opacity-mask: url("s2r://panorama/images/control_icons/top_left_corner_triangle_png.vtex");
}

.CompletedPanel .CheckMark 
{
	width: 20px;
	height: 20px;
	margin-left: 4px;
	margin-top: 5px;
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	background-size: contain;
	wash-color: #2f7;
}

/* CSS about displaying the current choice */
#Choice 
{
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
	margin-top: 1px;
	height: 16px;
}

.Small #Choice 
{
	visibility: collapse;
}

i 
{
	font-style: normal;
	font-size: 14px;
	color: #555555;
}

#HeroPredictions #Choice 
{
	text-transform: uppercase;
}


#SingleRanking 
{
	color: #cde1ff;
	horizontal-align: center;
	width: 100%;
	text-align: center;
	font-size: 16px;
	visibility: collapse;
}

.Locked .NoRanking #SingleRanking 
{
	visibility: visible;
}


.ResultValue 
{
	font-weight: bold;
	font-size: 20px;
}


#FinalPrizePoolPrediction.Prediction 
{
	width: 440px;
	height: 110px;
	flow-children: right;
	horizontal-align: right;
	vertical-align: bottom;
	margin-right: 30px;
	margin-bottom: 64px;
	background-color: none;
}

#FinalPrizePoolPrediction.Prediction .XPCircle 
{
	width: 64px;
	height: 64px;
	transform: translateX(366px) translateY(10px);
	margin-left: 14px;
	margin-top: 20px;
}

#FinalPrizePoolPrediction.Prediction .UnselectedMark 
{
	visibility: collapse;
}

#FinalPrizePoolPrediction.Prediction #Picker 
{
	width: 220px;
	height: 36px;
}

#FinalPrizePoolPrediction.Prediction #Question 
{
	width: 300px;
	margin-top: -94px;
}

#FinalPrizePoolPrediction.Prediction Button 
{
	margin-top: 40px;
}


#FinalPrizePoolPrediction.Prediction .PredictionReward 
{
	margin-top: 12px;
}

#FinalPrizePoolPrediction.Prediction #PredictionContainer 
{
	horizontal-align: left;
	height: 100%;
	//margin-left: 20px;
}

#FinalPrizePoolPredictionLockTime 
{
	height: 44px;
	width: 228px;
	text-align: center;
	margin-left: -50px;
	margin-right: 6px;
	margin-top: 8px;
	font-size: 16px;
	color: backgroundVeryBrightColor;
	line-height: 17px;
}
.NoReward .XPCircle
{
    visibility:collapse;
}
