#LocalPlayerStat
{
    width: 50px;
    horizontal-align: left;
    text-align: left;
	font-size: 16px;
}

#ProfileStat
{
    width: 50px;
    horizontal-align: left;
    text-align: left;
	font-size: 16px;
	color: #253138;
	margin-bottom: 8px;
}

#StatName
{
	font-size: 16px;
}

ProfileStat
{
    flow-children: right;
}