/* DOTAProfileCard styles */

@import url("file://{resources}/styles/battle_pass/current_battle_pass.css");

@define backgroundGradient: gradient( linear, 0% 0%, 0% 100%, from( #ffffff02 ), to( #ffffff04 ) );
@define backgroundGradientHover: gradient( linear, 0% 0%, 0% 100%, from( #ffffff06 ), to( #ffffff10) );
@define backgroundGradientActive: gradient( linear, 0% 0%, 0% 100%, from( #ffffff04 ), to( #ffffff0f ) );

DOTAProfileCard
{
	width: 366px;
	pre-transform-scale2d: 1;

	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#ContentsMain:hover
{
	//box-shadow: fill #00000099 -4px -4px 8px 8px;
	brightness: 1.4;
}

#HomeProfileContainer:hover #ContentsMain
{
	brightness: 1.4;
}

#MiniProfileContainer
{
	width: 100%;
}

#ContentsMain
{
	flow-children: down;
	background-color: black;
	width: 100%;
	
	border-top: 1px solid #3b404777;
	border-right: 1px solid #00000088;
	border-left: 1px solid #4c434677;
	border-bottom: 1px solid #00000088;

	padding: 14px;
	background-color: gradient( linear, 0% 0%, 0% 5%, from( #232326 ), to( #111111 ) );
	background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 256px;
	
	min-height: 95px;

	box-shadow: fill #00000055 -2px -2px 6px 6px;

	transition-property: box-shadow, brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
	
	
}

.BattleCupVictory #ContentsMain
{
	background-image: url("s2r://panorama/images/weekend_tourney/battle_cup_profile_backer_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-top: 1px solid #3b404777;
	border-right: 1px solid #00000088;
	border-left: 1px solid #4c434677;
	border-bottom: 1px solid #00000088;
	border: 1px solid black;
}

.BattleCupVictory.BattleCupIsChampionsCup #ContentsMain
{
	background-image: url("s2r://panorama/images/weekend_tourney/battle_cup_profile_backer_champions_fall_psd.vtex");
}




.HalloweenActive #ContentsMain
{
	wash-color: #61FFAA33;
}

#LeftColumn #ContentsMain
{
	margin-top: 30px;
	margin-left: 30px;
}

.Season_International2016.EventHasUnclaimedRewards DOTAProfileCard.FixedSize #ContentsMain
{
	height: 196px;
}

.Season_International2016.EventHasUnclaimedRewards DOTAProfileCard.FixedSize #ShowcaseItems
{
	height: 52px;
}

.Season_International2016.EventHasUnclaimedRewards DOTAProfileCard.FixedSize #Stat0 #StatTitle,
.Season_International2016.EventHasUnclaimedRewards DOTAProfileCard.FixedSize #Stat1 #StatTitle
{
	margin-top: -6px;
}

.Season_International2016.EventHasUnclaimedRewards DOTAProfileCard.FixedSize #Stat0 #StatValue,
.Season_International2016.EventHasUnclaimedRewards DOTAProfileCard.FixedSize #Stat1 #StatValue
{
	margin-top: -6px;
}

.Season_International2016.EventHasUnclaimedRewards DOTAProfileCard.FixedSize #StatItems
{
	height: 34px;
}

#CardHeader
{
	padding-left: 0px;	
	flow-children: right;
	width: 80%;
	background-color: #0E141Aaa;
	border-bottom: 1px solid #aaaaaa09;
	border-top: 1px solid #000000aa;
	
	
}

/* Specify DOTAProfileCard so that this style doesn't conflict when we reuse profile_card.css in the profile page*/
DOTAProfileCard #AvatarImage
{

	width: 44px;
	height: 44px;
	border: 2px solid transparent;
	margin-top:-2px;
	margin-left:-2px;
	margin: 3px;
	horizontal-align: right;
	transition-property: border;
	transition-duration: 0.1s;
	
	box-shadow: #000000aa 0px 0px 5px 0px;
}


DOTAProfileCard #AvatarImage Image
{
	//box-shadow: inset #000000aa 1.5px 1.5px 3px 3px;
}

DOTAProfileCard #AvatarImage.HasCompendium Image
{
	box-shadow: inset #00000000 1.5px 1.5px 3px 3px;
}


.ProfileTextDetails
{
	flow-children: down;
	vertical-align: middle;
	margin-left: 10px;
	//width: 100%;
}

#UserName
{
	visibility: visible;
}

#UserName Label
{
	font-weight: thin;
	font-size: 26px;
	color: white;
	white-space: nowrap;
	height: fit-children;
}

#UserNickname
{
	margin-top: -6px;
	margin-right: 4px;
}

#UserNickname Label
{
	font-size: 16px;
}

#UserNickname Label .PersonaName
{
	color: #888888;
	font-size: 16px;
}

#UserRichPresence
{
	margin-top: -6px;
}

#UserRichPresence Label
{
	font-size: 16px;
}


#CardMain
{
	width: 100%;
}

.FixedSize #CardMain
{
	height: 152px;
}

#CardLoading
{
	horizontal-align: center;
	vertical-align: middle;
	margin: 10px 0px;

	visibility: collapse;
}

#CardLoading .Spinner
{
	vertical-align: middle;
}

#CardContents
{
	width: 100%;
	flow-children: down;
}

.Loading #CardContents
{
	visibility: collapse;
}

.Loading #CardLoading
{
	visibility: visible;
}

#BottomRow
{
	flow-children: right;
	width: 100%;
	margin-top: 15px;
	visibility: collapse;
}

.StatsActive #BottomRow
{
	visibility: visible;
}

#StatItems
{
	flow-children: right;
	vertical-align: middle;
	width: fill-parent-flow( 1.0 );
	height: 54px;
	background-color: backgroundGradient;
	box-shadow: #000000aa 0px 0px 5px 0px;
	visibility: collapse;
}

.StatsActive #StatItems
{
	visibility: visible;
}

.Stat
{
	padding: 7px 5px 3px 5px;
	width: fill-parent-flow( 1.0 );
	flow-children: down;
	horizontal-align: center;
}

#StatTitle, #PickNone Label
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: baseText;
}

#StatValue
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
}

.StatDropdown
{
	height: 100%;
	width: fill-parent-flow( 1.0 );
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
	box-shadow: none;
	background-color: none;
	background-image: url("s2r://panorama/images/control_icons/arrow_dropdown_green_png.vtex");
}

.StatDropdown:hover
{
	background-color: none;
}

.StatDropdown .Stat
{
	width: 100%;
}

.StatDropdown:hover .Stat
{
	background-color: backgroundGradientHover;
}

.StatDropdown:active .Stat
{
	background-color: backgroundGradientActive;
}

.StatDropdown .Stat Label
{
	margin: 0px 29px 0px 0px;
}

.StatDropdownMenu
{
	width: 148px;
}

#PickNone
{
	width: 100%;
	height: 100%;
	background-color: backgroundGradient;
}

#PickNone:hover
{
	background-color: backgroundGradientHover;
}

.StatDropdown:active #PickNone
{
	background-color: backgroundGradientActive;
}

#PickNone Label
{
	vertical-align: middle;
}

.StatDropdownMenu #PickNone
{
	height: fit-children;
}

.StatDropdownMenu #PickNone Label
{
	padding: 7px 2px 4px 2px;
	margin: 0px;
	border: 0px;
	border-bottom: 2px solid #00000066;
}

.StatDropdownMenu .Stat
{   
	width: 100%;
	padding: 2px;
	margin: 0px;
	border-bottom: 2px solid #00000066;

	transition-property: background-color;
	transition-duration: 0.1s;
}

.StatDropdownMenu .Stat Label
{
	border: 0px;
	padding: 0px;
	background-color: none;
}

.StatDropdownMenu .Stat Label:hover
{
	border: 0px;
	padding: 0px;

	background-color: none;
}

.StatDropdownMenu .Stat #StatTitle
{
	margin-top: 3px;
}

.StatDropdownMenu .Stat:hover
{
	background-color: #ffffff06;
}


/* Slightly different style for stats displayed in the profile itself */
#ProfileCardStats .Stat
{
	padding: 0px;
}

#ProfileCardStats .Stat #StatTitle
{
	font-size: 16px;
	letter-spacing: 1px;
	color: #666666;
	text-transform: uppercase;
}

#ProfileCardStats .Stat #StatValue
{
	margin-top: -2px;
	font-size: 36px;
	color: white;
}

#Showcase
{
	width: 100%;
	margin-top: 13px;
}

.NoShowcase #Showcase
{
	visibility: collapse;
}

#ShowcaseItems
{
	flow-children: right;
	height: 68px;

	margin-left: -16px;
}

.ShowcaseItem
{
	height: 100%;
	width: height-percentage( 100% );

	border: 1px solid transparent;

	margin-left: 15px;

	context-menu-position: bottom;
	context-menu-body-position: 100% 0%;

	box-shadow: #000000aa 0px 0px 5px 0px;
}

.ShowcaseItem #ShowcaseItemContents
{
	width: 100%;
	height: 100%;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2d66 ), to( #3c3c3c88 ) );
}

.ShowcaseItem:hover #ShowcaseItemContents
{
	background-color: backgroundGradientHover;
}

#ShowcaseItems .ShowcaseItem:hover #ShowcaseItemContents
{
	background-color: none;
}

.ShowcaseHero DOTAHeroImage
{
	height: 100%;
	width: height-percentage( 100% );
	horizontal-align: center;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
}

.ShowcaseHero:hover DOTAHeroImage
{
	pre-transform-scale2d: 1.05;
}

#ShowcaseItems .ShowcaseHero:hover DOTAHeroImage
{
	pre-transform-scale2d: 1;
}

.ShowcaseEmoticon DOTAEmoticon
{
	width: 64px;
	height: 64px;
	vertical-align: middle;
	horizontal-align: center;
}

.ShowcaseTrophy DOTATrophyImage
{
	height: 90%;
	horizontal-align: center;
	margin-top:4px;
}

.ShowcaseEconItem DOTAEconItem
{
	height: 100%;
	width: height-percentage( 100% );
	horizontal-align: center;
}

#CardOverlay
{
	opacity: 1;
	width: 100%;
	height: 100%;
}

#ProfileBadgeBackground
{
	visibility: collapse;
}

DOTAProfileCard #RankTierContainer
{
	horizontal-align: right;
	margin-right: -2px;
	margin-top: 32px;
	
	width: 88px;
	height: 88px;
	
	tooltip-position: bottom;
	tooltip-body-position: 50% 10%;

	background-size: 100%;
}

DOTAProfileCard.HideRankTier #RankTierContainer
{
	visibility: collapse;
}

DOTATooltipProfileCard DOTAProfileCard #RankTierContainer
{
	margin-top: 2px;
}

DOTAProfileCard #RankTier, DOTAProfileCard #RankPips
{
	width: 100%;
	height: 100%;
	background-size: 100%;
}

DOTAProfileCard #RankLeaderboard
{
	color: #F7E5c3;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	text-shadow: 2px 2px #00000080;
	horizontal-align: center;
	vertical-align: bottom;
	
	background-color: #00000060;
	width: 100%;
	visibility: collapse;
}

DOTAProfileCard.HasLeaderboardRank #RankLeaderboard
{
	visibility: visible;
}


DOTAProfileCard #RankTierInfo
{
	width: 24px;
	height: 24px;
	horizontal-align: center;
	vertical-align: center;
	background-color: #00000000;
}

DOTAProfileCard #BackgroundFX
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}

DOTATooltipProfileCard DOTAProfileCard #RankTierInfo
{
	visibility: collapse;
}

DOTAProfileCard #ProfileBadge
{
	horizontal-align: right;
	margin-right: -2px;
	margin-top: 32px;
	
	width: 88px;
	height: 88px;
	
	tooltip-position: bottom;
	tooltip-body-position: 50% 10%;
}

DOTATooltipProfileCard DOTAProfileCard #ProfileBadge,
#ContextMenuBody DOTAProfileCard #ProfileBadge
{
	margin-top: 2px;
}

DOTATooltipProfileCard DOTAProfileCard #ProfileBadgeBackground,
#ContextMenuBody DOTAProfileCard #ProfileBadgeBackground
{
	margin-top: 6px;
}


DOTAAvatarRankTier #RankImage
{
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: 50% 50%;
}


DOTAProfileCard #ProfileBadgeBackground
{
	background-image: url("s2r://panorama/images/textures/miniprofile_badge_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	width: 78px;
	height: 78px;
	
	margin-right: 3px;
	margin-top: 35.5px;
	margin-bottom: 2px;

	vertical-align: top;
	horizontal-align: right;
}

DOTAProfileCard #CompendiumWell
{
	background-image: url("s2r://panorama/images/textures/miniprofile_compendium_well_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

	width: 64px;
	height: 64px;
	
	vertical-align: top;
	horizontal-align: right;
}

DOTAProfileCard.Loading #ProfileBadge, DOTAProfileCard.Loading #ProfileBadgeBackground
{
	visibility: collapse;
}


#CompendiumPanel
{
	background-image: url("s2r://panorama/images/textures/miniprofile_compendium_bg_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	
	border-top: 0px solid #3b404777;
	border-right: 1px solid #00000088;
	border-left: 1px solid #4c434677;
	border-bottom: 1px solid #00000088;

	box-shadow: fill #00000055 -2px -2px 6px 6px;
	
	padding: 14px;
	flow-children: down;

	margin-left: 30px;
	width: 100%;
	height: 124px;
	background-color: #1C2126;
	z-index: -1;
	
	transition-property: box-shadow, brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;

	visibility: collapse;
}

.HalloweenActive #CompendiumPanel
{
	wash-color: #61FFAA33;
}
.TooltipContainer #CompendiumPanel, .PlayerMenuContents #CompendiumPanel
{
	height: 48px;
	margin-left: 0px;
	background-size: cover;
	padding: 0px;
	flow-children: right;
	visibility: visible;
}

.TooltipContainer #ProfileCardTopSection
{
	flow-children: right;
	width: 100%;
}


.TooltipContainer #CompendiumWell, .PlayerMenuContents #CompendiumWell
{
	margin: 0px;
	horizontal-align: left;

	width: 48px;
	height: 48px;
}

.TooltipContainer #CompendiumDetails, .PlayerMenuContents #CompendiumDetails
{
	flow-children: none;
	height: 100%;
}

.TooltipContainer #CoinLevel, .PlayerMenuContents #CoinLevel,
.TooltipContainer #WagerWon, .PlayerMenuContents #WagerWon
{
	visibility: collapse;
}
.TooltipContainer #LevelContainer, .PlayerMenuContents #LevelContainer
{
	vertical-align: middle;
}


.TooltipContainer #CompendiumDetails, .PlayerMenuContents #CompendiumDetails
{
	margin-right: 16px;
	margin-top: 3px;
}

#CompendiumWell 
{
	flow-children: none;
}

#CompendiumWell:hover #CompendiumBook
{
	pre-transform-scale2d: .90;
}

#CompendiumBook
{
	width: 100%;
	height: 100%;
	pre-transform-scale2d: .83;
	background-image: url("s2r://panorama/images/compendium/compendiumbook_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	hue-rotation: 120deg;
	
	visibility: collapse;
	
	transition-property: pre-transform-scale2d;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;
}

#BookAndLevel
{
	height: 100%;
}

#LevelContainer
{
	horizontal-align: center;
	vertical-align: bottom;
}


.CompendiumLevelBG
{
	//background-color: #4D8F05;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #282828 ), color-stop( 0.5, #444444), color-stop( 0.5, #3F3F3F), to( #181818 ) );
	vertical-align: bottom;
	padding: 0px;
	border-radius: 3px;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 1px;
	//border: 1px solid black;
	text-align: left;
	visibility: visible;
}

#CompendiumLevelLabel
{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	height: 20px;
	letter-spacing: 1px;
	text-align: left;
	margin-left: 1px;
	padding: 3px;
	padding-bottom: 4px;
	text-shadow: 0px 0px 5px 1.0 #ffffff66;
}


.DetailLabel
{
	color: #8A9087;
	margin: 0px;
	font-size: 12px;
	margin-left: 8px;
	margin-top: 2px;
	text-transform: uppercase;
	font-weight: thin;
	letter-spacing: 1px;
}

.DetailValue
{
	color: white;
	margin: 0px;
	font-size: 14px;
	margin-left: 2px;
	margin-top: 2px;
	text-align: center;
	text-shadow: 0px 0px 5px 1.0 #ffffff55;
}

#EventCrestImage
{
	width: 20px;
	height: 20px;
	margin-top: 2px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	visibility: collapse;
}

#CompendiumDetails
{
	visibility: collapse;
}

.ButtonBevel
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1D2329 ), to( #2D373E ) );
	min-height: 0px;
	min-width: 0px;
	width: 48%;
	height: 20px;
	margin-top: 11px;
	border-top: 1px solid #2D373E;
	border-left: 1px solid #2D373E;
	border-right: 1px solid #2D373E;
}

.ButtonBevel Label
{
	font-size: 12px;
	margin: 0px;
	margin-top: -2px;
	padding: 0px;
}

#BuyLevels
{
	horizontal-align: left;
	visibility: collapse;
}

#SpendCoins
{
	horizontal-align: right;
	visibility: collapse;
}

#BuyCompendium,
#ActivateCompendium
{
	horizontal-align: center;
	visibility: collapse;
	width: 100%;
}

.FillerLine
{
	width: fill-parent-flow( 1.0 );
	height: 1px;
	vertical-align: middle;
	background-color: #353a3e;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 0px;
}

.ProfileCardEventNotActive #CompendiumPanel
{
	visibility: collapse;
}

.ProfileCardEventActive #CompendiumBook,
.ProfileCardEventActive #CompendiumDetails
{
	visibility: visible;
}

.TooltipContainer #EventCrestImage,
.PlayerMenuContents #EventCrestImage,
.ProfileCardEventActive #EventCrestImage
{
	horizontal-align: left;
	width: 26px;
	height: 26px;
//	margin-left: -256px;
	margin-top: 3px;
}

.TooltipContainer .FillerLine,
.PlayerMenuContents .FillerLine,
.ProfileCardEventActive .FillerLine
{
	visibility: collapse;
}

.TooltipContainer #CompendiumLevel,
.PlayerMenuContents #CompendiumLevel,
.ProfileCardEventActive #CompendiumLevel
{
	margin-left: 16px;
	font-size: 20px;
	margin-top: 4px;
	margin-right: 6px;
}

.TooltipContainer .DetailValue,
.PlayerMenuContents .DetailValue,
.ProfileCardEventActive .DetailValue
{
	font-size: 24px;
	margin-left: 6px;	
	text-overflow: shrink;
	width: 24px;
}

#BattleLevelCircle
{
	width: 38px;
	height: 38px;
	vertical-align: center;
	wash-color: bp_battleLevelColor;
	
	/* Fall 2016 */
	//wash-color: #94d53f;
	
	/* TI7 */
	wash-color: bp_battlePassLogoColor;
	
	margin-top: 4px;
	margin-right: 14px;

	background-image: url("s2r://panorama/images/compendium/shield_icon_shadowed_psd.vtex");
	background-size: cover;
}


#CompendiumLevel,
#BattleLevelCircle Label
{
	color: white;
	vertical-align: center;
	horizontal-align: center;
	margin-top: 0px;
	margin-right: 6px;

	width: 23px;

	text-shadow: 0px 1px 2px 2.0 #000000;
	text-overflow: shrink;
}

#CompendiumLevel
{
	height: 30px;
	text-overflow: shrink;
}

#CompendiumLevel
{
	color: bp_battlePassLogoColor;
	
	/* Fall 2016 */
	//color: #94d53f;
	width: fill-parent-flow( 1.0 );
	text-align: center;
}


.ProfileCardTierBronze #CompendiumPanel
{
	border: 0 solid transparent;
	background-color: #00000099;
	background-size: 100% 100%;
	/*background-image: url("s2r://panorama/images/compendium/spring2016/home_block_backgrounds/bronze_png.vtex");*/
}

.ProfileCardTierSilver #CompendiumPanel
{
	border-left: 1px solid #4c434677;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/compendium/winter/home_block_backgrounds/profiletooltip_silver_png.vtex");
	
}

.ProfileCardTierGold #CompendiumPanel
{
	border-left: 1px solid #4c434677;
	background-image: url("s2r://panorama/images/compendium/winter/home_block_backgrounds/profiletooltip_gold_png.vtex");
	background-size: 100% 100%;
}

.ProfileCardTierSilver #CompendiumLevel
{
	color: #ffffffaa;
}

.ProfileCardTierGold #CompendiumLevel
{
	color: #cda97b;
}

.ProfileCardTierSilver #BattleLevelCircle
{
	wash-color: #ffffffaa;
}

.ProfileCardTierGold #BattleLevelCircle
{
	wash-color: #cda97b;
}

.ProfileCardTierPlatinum #CompendiumPanel
{
	border-left: 1px solid #4c434677;
	background-image: bp_platinum_backer;
	background-size: 100% 100%;
}

#BattleCupVictory
{
	background-image: url("s2r://panorama/images/weekend_tourney/battle_cup_tooltip_backer_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	//background-size: contain;
	border: 1px solid black;

	background-color: #7f541f;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #7f541f ), to( #291a07 ) );
	
	//padding: 14px;

	width: 100%;
	height: 158px;
	z-index: -1;
	
	transition-property: brightness;
	transition-duration: 0.15s;
	transition-timing-function: ease-in-out;

	visibility: collapse;
	
	overflow: noclip;
}

.BattleCupVictory.BattleCupIsChampionsCup #BattleCupVictory
{
	background-image: url("s2r://panorama/images/weekend_tourney/battle_cup_tooltip_backer_champions_fall_psd.vtex");
}



#ModelTest3
{
	width: 290px;
	height: 290px;
	horizontal-align: right;
	margin-left: 165px;
	margin-top: -32px;
	padding-top: 20px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
	opacity: 1;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-delay: 1.3s;
	transition-duration: .5s;
}

DOTATooltipProfileCard .BattleCupVictory #BattleCupVictory
{
	visibility: visible;
}

#BattleCupVictoryContents
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#BattleCupChampionLabel
{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	margin-top: 6px;
	margin-left: 13px;
}

#BattleCupTierContainer
{
	margin-top: -12px;
	
}

.BattleCupVictory.BattleCupIsChampionsCup #BattleCupTierContainer
{
	hue-rotation: 60deg;
}

#BattleCupDivision
{
	color: #f0cf84;
	font-size: 20px;
	text-transform: uppercase;
	margin-right: 8px;
	margin-left: 14px;
	font-weight: bold;
}



#BattleCupVictorySkillLevel
{
	color: #f0cf84;
	font-size: 20px;
	text-transform: uppercase;
	margin-right: 8px;
	margin-left: 14px;
	margin-top: -8px;
	font-weight: bold;
}

#BattleCupVictoryDate
{
	color: #a27e37;
	font-size: 20px;
	margin-top: -8px;
}

#BattleCupTeamContainer
{
	width: 100%;
	flow-children: right;
	margin-top: 2px;
	margin-left: 14px;
	padding-top: 4px;
	//padding-bottom: 13px;
	//background-color: #00000066;
	//background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), to( #00000099 ) );
	visibility: collapse;
	
}

.BattleCupTeamInfoValid #BattleCupTeamContainer
{
	visibility: visible;
}

#BattleCupTeamPending
{
	width: 100%;
	height: 100px;
	visibility: collapse;
}

#BattleCupTeamPending .Spinner
{
	horizontal-align: left;
	vertical-align: center;
}

.BattleCupTeamInfoPending #BattleCupTeamPending
{
	visibility: visible;
}

#BattleCupTeamLogo
{
	padding: 1px;
	width: 55px;
	height: 55px;
	background-color: #784911;
	border-top: 3px solid  #00000099;
	border-right: 3px solid  #ffffff09;
	border-bottom: 3px solid  #ffffff11;
	border-left: 3px solid  #00000077;
	margin-right: 1px;
	//margin-left: 14px;
	box-shadow: inset 0px 0px 16px 5px #000000cc;
	
}


.BattleCupVictory.BattleCupIsChampionsCup #BattleCupTeamLogo
{
	background-color: #417811;
}

#BattleCupTeamNameContainer
{
	flow-children: down;
	vertical-align: center;
	margin-left: 12px;
}

#BattleCupTeamHeader
{
	text-transform: uppercase;
	font-size: 14px;
	color: #a27e37;
	margin-top: 1px;
}

.BattleCupVictory.BattleCupIsChampionsCup #BattleCupTeamHeader
{
	hue-rotation: 60deg;
}



#BattleCupTeamName
{
	color: white;
	font-weight: bold;
	margin-top: -3px;
	font-size: 20px;
	max-width: 200px;
	line-height: 14px;
}

#BattleCupTrophyImage
{
	height: 100%;
	vertical-align: top;
	horizontal-align: right;
	margin-right: -10px;
	margin-top: -10px;
}

#BattleCupVictoryIcon
{
	margin-top: 6px;
	margin-right: 4px;
}

.BattleCupOnly #CardOverlay,
.BattleCupOnly #ContentsMain,
.BattleCupOnly #CompendiumPanel
{
	visibility: collapse;
}