/* styles for the purchase button */

@define elementMargin: 6px;

DOTAPurchaseButton
{
	flow-children: right;

	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
	padding: 5px 14px 3px 14px;
    min-width: 100px;
	height: 39px;
	
	transition-property: background-color;
	transition-duration: .1s;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ));
}

.Contents
{
    flow-children: right;
    vertical-align: middle;
    horizontal-align: center;
}

.Contents > Label
{
    vertical-align: middle;
	font-size: 22px;
}

#EventIcon
{
    width: 26px;
    height: 26px;
    margin-right: 6px;

    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    visibility: collapse;
}

#PurchaseMethod
{
    color: white;
    text-transform: uppercase;
    margin-right: elementMargin;
}
.HidePurchaseMethod #PurchaseMethod
{
    visibility: collapse;
}

#SourceIconContainer
{
	width: 44px;
	height: 26px;
	margin-top: -2px;
    margin-right: elementMargin;
	vertical-align: middle;
	flow-children: right;

    visibility: collapse;
}

#SourceIconArrow
{
    width: 14px;
    height: 14px;
    vertical-align: middle;
	horizontal-align: center;
	
	wash-color: #ceffbb;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

	background-image: url("s2r://panorama/images/icon_treasure_arrow_psd.vtex");
}

#SourceIcon
{
    width: 22px;
    height: 22px;
    vertical-align: middle;
	horizontal-align: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

DOTAPurchaseButton.InTreasure #SourceIcon,
DOTAPurchaseButton.AdditionalDropInTreasure #SourceIcon
{
    background-image: url("s2r://panorama/images/icon_treasure_button_png.vtex");
}
DOTAPurchaseButton.InBundle #SourceIcon
{
    background-image: url("s2r://panorama/images/control_icons/brackets_png.vtex");
}

.InTreasure #SourceIconContainer,
.AdditionalDropInTreasure #SourceIconContainer,
.InBundle #SourceIconContainer
{
	visibility: visible;
}

#PurchaseSource
{
	color: white;
	text-transform: uppercase;

	visibility: collapse;
}
.InTreasure #PurchaseSource,
.AdditionalDropInTreasure #PurchaseSource,
.InBundle #PurchaseSource,
.EventReward.IndividualItem #PurchaseSource
{
	visibility: visible;
}


#SaleAmount
{
    color: white;
    margin-right: elementMargin;
}

#SaleRegularPrice
{
	text-decoration: line-through;
    margin-right: elementMargin;
    color: #b0b0b0;
}

#SaleAmount, #SaleRegularPrice
{
    visibility: collapse;
}
.OnSale #SaleAmount, .OnSale #SaleRegularPrice
{
    visibility: visible;
}
.HideSaleAmount #SaleAmount, .HideSaleRegularPrice #SaleRegularPrice, .NoRegularPrice #SaleRegularPrice
{
    visibility: collapse;
}

#Price
{
    color: white;
}
.NoPrice #Price
{
	visibility: collapse;
}

.InTreasure #SaleAmount, .AdditionalDropInTreasure #SaleAmount, .InBundle #SaleAmount,
.Addition #SaleRegularPrice, .AdditionalDropInTreasure #SaleRegularPrice, .InBundle #SaleRegularPrice,
.InTreasure #Price, .AdditionalDropInTreasure #Price, .InBundle #Price
{
	visibility: collapse;
}

.PurchaseItemButton:hover:enabled
{
    brightness: 2.0;
}
.PurchaseItemButton:active
{
    brightness: 1.5;
}

.PurchaseItemButton:disabled
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #646666 ), to( #646666 ) );
}

DOTAPurchaseButton.Direct
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #60862d ), to( #3d5f1c ) );
}
DOTAPurchaseButton.Direct.InBundle
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #c28000 ), to( #744c00 ) );
}
DOTAPurchaseButton.Direct.InTreasure
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3784a6 ), to( #215373 ) );
}
DOTAPurchaseButton.Direct.AdditionalDropInTreasure
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3751a6 ), to( #1b2b5e ) );
}

DOTAPurchaseButton.Market
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #307663 ), to( #245a4b ) );
}

DOTAPurchaseButton.EventReward.IndividualItem.Season_WinterMajor2016
{
    background-image: url("s2r://panorama/images/compendium/winter2016/home_block_backgrounds/silver_png.vtex");
    background-size: 100% 100%;
}
DOTAPurchaseButton.EventReward.IndividualItem.Season_WinterMajor2016 #EventIcon
{
    background-image: url("s2r://panorama/images/compendium/winter2016/battlepass_icon_png.vtex");
    visibility: visible;
}

DOTAPurchaseButton.EventReward.IndividualItem.Season_International2016
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b211c ), to( #8e2b19 ) );
	background-size: 100% 100%;
}
DOTAPurchaseButton.EventReward.IndividualItem.Season_International2016 #EventIcon
{
	background-image: url("s2r://panorama/images/compendium/spring2016/logicon_activate_psd.vtex");
	visibility: visible;
}

DOTAPurchaseButton.EventReward.IndividualItem.Season_Fall2016
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b3e18 ), to( #455c1e ) );
	background-size: 100% 100%;
}
DOTAPurchaseButton.EventReward.IndividualItem.Season_Fall2016 #EventIcon
{
	background-image: url("s2r://panorama/images/control_icons/battlepass_logo_grayscale_small_png.vtex");
	visibility: visible;
}

.SmallPurchaseButton .Contents > Label
{
    font-size: 18px;
    margin-top: -1px;
    letter-spacing: 1px;
}

/* future: add styling for EventPoints if we ever sell items that way again */

/* Specific styling for the button inside a store item */
DOTAStoreItem DOTAPurchaseButton .Contents > Label
{
	font-size: 18px;
}


/* -- VRMode --------------------------------------------------------------- */

.VRMode DOTAStoreItem DOTAPurchaseButton .Contents > Label
{
	font-size: 40px;
}

.VRMode #SourceIconArrow
{
	width: 24px;
	height: 24px;
}

.VRMode #SourceIcon
{
	width: 36px;
	height: 34px;
}

.VRMode #SourceIconContainer
{
	width: 80px;
	height: 36px;
}