
@define partybordercolor: #37413f;

DOTAReadyUpPlayers
{
	padding: 2px;
	flow-children: down;
	horizontal-align: center;
}

.LeftRightFlow
{
	flow-children: right;
}

.PlayerList
{
	flow-children: right-wrap;
	width: fit-children;
	height: fit-children;
}

#ListSpacer
{
	margin-right: 10px;
}

.CustomGame #ListSpacer
{
	visibility: collapse;
}

#AcceptedCount
{
	color: white;
	wash-color: #aaaaaa;
	font-size: 24px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	horizontal-align: right;
	margin-right: 6px;
	margin-top: 8px;
	margin-bottom: 4px;
}

#PlayerReadyUp
{
	visibility: collapse;
}

.ReadyUp #PlayerReadyUp
{
	visibility: visible;
}

.Minimized #PlayerSlotContainer
{
	visibility: collapse;
}

.ReturningToQueue #PlayerReadyUp,
.ReturningToLobby #PlayerReadyUp
{
	visibility: collapse;
}

.PartyDeclined #PartyDeclined
{

}

#ReturningToQueue,
#ReturningToLobby,
#PartyDeclined
{
	visibility: collapse;
}

// ReturningToQueue implies someone in the local party didn't decline the match
DOTAReadyUpPlayers.ReturningToQueue #ReturningToQueue
{
	visibility: visible;
}

// ReturningToLobby implies someone in the local party didn't decline the match
DOTAReadyUpPlayers.ReturningToLobby #ReturningToLobby
{
	visibility: visible;
}

DOTAReadyUpPlayers.PartyDeclined #PartyDeclined
{
	visibility: visible;
}

.ReadyUpError
{
	horizontal-align: center;
	font-size: 28px;
	margin-top: 16px;
}

.Minimized #AcceptedCount
{
	vertical-align: center;
	horizontal-align: center;
}

.Minimized #ReadyUpPlayers
{
	margin-top: 0px;
	vertical-align: center;
}

#MinReadyUpCount
{
	visibility: collapse;
}

.Minimized .ReadyUpError
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 24px;
	margin-left: 5px;
	margin-right: 5px;	
}