DOTAReadyUpPlayerSlot
{
    margin: 4px;

	width: 64px;
	height: 64px;
    visibility: visible;
	
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #222222 ), to( #666666 ) );
	overflow: noclip;
	wash-color: #888888;
	box-shadow: #000000aa -2px -2px 4px 4px;
	
	transition-property: wash-color, box-shadow, background-color;
    transition-duration: 0.3s;
	transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
}

DOTAAvatarImage
{
    width: 100%;
    height: 100%;
	transition-property: wash-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
	visibility: collapse;
}

.PartyMemberInSlot DOTAAvatarImage
{
	visibility: visible;
}

.PartyMemberInSlot .PlayerBackground
{
	background-color: black;
}


.PlayerBackground
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/control_icons/friend_large_png.vtex");
	background-size: 60% 60%;
	background-position: 50% 45%;
	background-repeat: no-repeat;	
	wash-color: #888888;
	
	transition-property: wash-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

DOTAAvatarImage Image
{
	width: 75%;
	height: 75%;
	horizontal-align: center;
	vertical-align: middle;
}

DOTAReadyUpPlayerSlot.Hidden
{
	visibility: collapse;
}

.AcceptedMatch
{
    //visibility: collapse;
    width: 100%;
    height: 100%;

    background-image: url("s2r://panorama/images/status_icons/ready_up_accept_psd.vtex");
    background-size: 100% 100%;
    background-position: 50% 50%;
	background-repeat: no-repeat;
	
	border: 2px solid #00ffaa66;
	box-shadow: #00ff0066 -2px -2px 4px 4px;
	
	opacity: 0.0;
	pre-transform-scale2d: 0.5;
	transition-property: pre-transform-scale2d, opacity;
    transition-delay: 0.0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}


DOTAReadyUpPlayerSlot.Accepted DOTAAvatarImage
{
	wash-color: white;
}


DOTAReadyUpPlayerSlot.Accepted .PlayerBackground
{
	wash-color: white;
}

DOTAReadyUpPlayerSlot.Accepted
{
	wash-color: #88888800;
	box-shadow: #00ffdd33 -2px -2px 4px 4px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( black ), to( black ) );
	transition-delay: 0.0s;
}

DOTAReadyUpPlayerSlot.Accepted .AcceptedMatch
{
	//visibility: visible;
	pre-transform-scale2d: 1;
	opacity: 1;
}

.DeclinedMatch
{
    visibility: collapse;
    width: 100%;
    height: 100%;
	

    background-image: url("s2r://panorama/images/status_icons/ready_up_deny_psd.vtex");
    background-size: 100% 100%;
    background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 2px solid #cc0000;
	box-shadow: #cc0000 -2px -2px 4px 4px;
	opacity: 0.0;
	pre-transform-scale2d: 0.5;
	transition-property: pre-transform-scale2d, opacity;
    transition-delay: 0.0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

DOTAReadyUpPlayerSlot.Declined DOTAAvatarImage
{
	wash-color: white;
}

DOTAReadyUpPlayerSlot.Declined .PlayerBackground
{
	wash-color: white;
}

DOTAReadyUpPlayerSlot.Declined
{
	wash-color: #cc1100;
	box-shadow: #ff110022 -2px -2px 4px 4px;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( black ), to( black ) );
	transition-delay: 0.0s;
}

DOTAReadyUpPlayerSlot.Declined .DeclinedMatch
{
	visibility: visible;
	opacity: 1.0;
	pre-transform-scale2d: 1;
}