DOTARecentArmoryItemsMenu
{
	//background-color: #1e252f;
	background-color: gradient( linear, 0% 0%, 0% 2%, from( #0f1116 ), to( #1e252f ) );
	padding: 10px 16px 12px 18px;
	width: 100%;
	box-shadow: #000 -4px 0px 8px 8px fill;

	transform: translateY( -100% );
	opacity: 0.0;

	transition-property: transform, opacity;
	transition-duration: 0.2s;
}

DOTARecentArmoryItemsMenu.MenuVisible
{
	transform: none;
	opacity: 1.0;
}

#MenuHeader, #EmptyTitle
{
	text-align: center;
	text-transform: uppercase;
	color: white;
	width: 100%;
	margin-bottom: 8px;
}

#ItemsList
{
	width: 100%;
	overflow: squish scroll;
	flow-children: down;
	padding-right: 10px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_bottom_vscroll_wide_psd.vtex");
}

.ItemCategory
{
	width: 100%;
	flow-children: down;

	visibility: collapse;
}
.HasNewItems #NewItemsCategory
{
	visibility: visible;
}
.HasRecentItems #RecentItemsCategory
{
	visibility: visible;
}

.HasRecentlyUnbundledItems #RecentlyUnbundledItemsCategory
{
	visibility: visible;
}


.CategoryHeaderToggle
{
	width: 100%;
	flow-children: right;
}

.CategoryHeaderToggle Label
{
	text-transform: uppercase;
	color: #e2e7ed;

	font-size: 18px;
}

.CategoryHeaderToggle Label.Count
{
	color: grey;

	font-size: 16px;
}

.CategoryHeaderToggle Label.Count
{
	color: grey;
	font-size: 16px;

	opacity: 0;
	
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.Collapsed .CategoryHeaderToggle Label.Count
{
	opacity: 1;
}

.CategoryHeaderToggle.ExpandCollapseToggleButton .TickBox
{
	transform: rotateZ( 0deg );
	wash-color: #e2e7ed;

	margin-top: 0px;
	margin-left: 8px;
	margin-right: 0px;

	width: 12px;
	height: 12px;
}

.CategoryHeaderToggle.ExpandCollapseToggleButton:selected .TickBox
{
	transform: rotateZ( -90deg );
}

#NewItemsCategory .CategoryHeaderToggle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #275a7c ), to( #202731 ) );
}
#RecentItemsCategory .CategoryHeaderToggle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #4d545a ), to( #1f2531 ) );
}
#RecentlyUnbundledItemsCategory .CategoryHeaderToggle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #5a7084 ), to( #24323e ) );
}

.ItemList
{
	flow-children: down;
	width: 100%;
}

.ItemList .ItemPanel
{
	width: 100%;
	height: 90px;

	overflow: clip;

	transition-property: height;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.Collapsed .ItemList .ItemPanel
{
	height: 0px;
}

#ItemsContainer
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
}
.HasNewItems #ItemsContainer, .HasRecentItems #ItemsContainer
{
	visibility: visible;
}

#EmptyContainer
{
	width: 100%;
	flow-children: down;
}
.HasNewItems #EmptyContainer, .HasRecentItems #EmptyContainer
{
	visibility: collapse;
}

#EmptyMessage
{
	horizontal-align: center;
	text-align: center;
	color: #aaa;
	padding: 0px 20px;
}

/* ------------------------------------------------------------------------- */

DOTARecentArmoryItem
{
	flow-children: right;
	width: 100%;

	transition-property: background-color;
	transition-duration: 0.1s;
}

DOTARecentArmoryItem #EconItem
{
	width: 68px;
	height: 72px;
	margin: 10px;
}

#ArmoryContents DOTARecentArmoryItem #EconItem
{
	margin-left: 9px;
}

DOTARecentArmoryItem #ItemDetails
{
	margin-top: 2px;
	margin-left: 2px;
	vertical-align: middle;
	flow-children: down;
}

DOTARecentArmoryItem #ItemDetails Label
{
	margin-bottom: -2px;
	font-size: 16px;
	margin-left: -2px;
}

DOTARecentArmoryItem #UnitName
{
	text-transform: uppercase;
}

#ArmoryGridContainer DOTARecentArmoryItem #UnitName
{
//	color: #dddddd;
}

DOTARecentArmoryItem #ItemType
{
	color: #878c88;
	visibility: collapse;
}
DOTARecentArmoryItem.ShowItemType #ItemType
{
	visibility: visible;
}
DOTARecentArmoryItem #ItemType .SetName
{
	color: #bfcdda;
}


#NewItemsCategory DOTARecentArmoryItem
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1e3f5e ), to( #202731 ) );
	border-bottom: 1px solid #334b63;
}
#NewItemsCategory DOTARecentArmoryItem:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1862a1 ), to( #202731 ) );
}
#NewItemsCategory DOTARecentArmoryItem #UnitName, #NewItemsCategory DOTARecentArmoryItem #ItemName
{
	color: #b9d1f5;
}

#RecentItemsCategory DOTARecentArmoryItem
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #363d47 ), to( #1f2531 ) );
	border-bottom: 1px solid #40444f;
}
#RecentItemsCategory DOTARecentArmoryItem:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #687689 ), to( #1f2531 ) );
}
#RecentItemsCategory DOTARecentArmoryItem #UnitName, #RecentItemsCategory DOTARecentArmoryItem #ItemName
{
	color: #d1d1d1;

}

#RecentlyUnbundledItemsCategory DOTARecentArmoryItem
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #363d47 ), to( #1f2531 ) );
	border-bottom: 1px solid #40444f;
}
#RecentlyUnbundledItemsCategory DOTARecentArmoryItem:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #687689 ), to( #1f2531 ) );
}
#RecentlyUnbundledItemsCategory DOTARecentArmoryItem #UnitName, #RecentlyUnbundledItemsCategory DOTARecentArmoryItem #ItemName
{
	color: #d1d1d1;
}