
DOTAShareLobby
{
	flow-children: right;
	border: 1px solid white;
	padding: 2px 4px 0px 3px;
	margin-bottom: -7px;
	margin-left: 2px;
	wash-color: #64c390;
}

DOTAShareLobby:hover:enabled
{
	wash-color: #94e0b7;
}

DOTAShareLobby:active
{
	wash-color: #d2ffe7;
}

#JoiningIcon
{
	width: 14px;
	height: 14px;
	margin-right: 1px;

	visibility: collapse;
}

.Requested #JoiningIcon
{
	visibility: visible;
}

#JoinText
{
	font-size: 14px;
	text-transform: uppercase;
	vertical-align: middle;
	color: white;
	text-align: center;
}

