DOTAShardsButton
{
	height: 62px;
	//margin-right: 20px;
}

DOTAShardsButton:hover
{
	brightness: 2.0;
}

DOTAShardsButton:active
{
	brightness: 1.5;
}

#MainContents
{
	flow-children: right;
	vertical-align: middle;
}

#ShardsIcon
{
	width: 26px;
	height: 100%;
	margin-right: 8px;

	background-image: dotaPlusCurrencySmallIcon;
	background-size: 26px 30px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

#Details
{
	flow-children: down;
}

#CurrencyAmount
{
	color: dotaPlusLightGold;
	font-size: 24px;
	horizontal-align: left;
	vertical-align: center;
	letter-spacing: 2px;
	font-weight: bold;
	text-shadow: 0px 0px 4px dotaPlusGold;
	width: 90px;
	max-height: 24px;
	text-overflow: shrink;
	margin-top: -1px;
}

#CurrencyName
{
	font-size: 12px;
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: -6px;
}
