
DOTASpectatorLobbyCreate
{
	flow-children: down;
	padding: 32px;
	background-color: #000c;

	width: 100%;
	height: 100%;
}

.Title
{
	text-transform: uppercase;
	color: white;
	font-size: 80px;
	margin-bottom: 8px;
	text-align: center;
}

#CreateButtons
{
	flow-children: right;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.CreateLobbyButton
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
	height: 100%;
	padding: 16px;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#PublicButton
{
	background-image: url("s2r://panorama/images/textures/playtabbg_normal_psd.vtex");
	margin-right: 16px;
}

#PrivateButton
{
	background-image: url("s2r://panorama/images/textures/playtabbg_ranked_psd.vtex");
	margin-left: 16px;
}

.ButtonText
{
	vertical-align: bottom;
	flow-children: down;
	height: 350px;
}

.CreateLobbyButton:hover
{
	brightness: 2.0;
}

.CreateLobbyButton:active
{
	brightness: 1.5;
}

.ButtonTitle
{
	text-transform: uppercase;
	color: white;
	font-size: 90px;
}

.ButtonDescription
{
	color: #ccc;
	font-size: 60px;
}
