DOTAStoreSpotlightItem
{
}

#ItemImage
{
	width: 100%;
	height: 100%;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.55s;
}

DOTAStoreSpotlightItem:hover #ItemImage
{
	pre-transform-scale2d: 1.04;
}

DOTAStoreSpotlightItem:hover #SpotlightDetailsLabels > Label
{
	color: white;
}

#BottomGradient
{
	width: 100%;
	height: 20%;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0000 ), to( #000a ) );
}

#SpotlightDetails
{
	flow-children: down;
}

#SpotlightDetailsLabels
{
	flow-children: right;
	background-color: black;
}
#SpotlightDetailsLabels > Label
{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;	
}

#SpotlightType
{
	color: #528EA5;
	padding: 3px 6px 1px 6px;
}

#SpotlightDuration
{
	padding: 3px 6px 1px 0px;
	color: #c2c2c2;
	letter-spacing: 0px;
	visibility: collapse;
}

#SpotlightDiscount
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2f4217 ), to( #4b6921 ) );
	color: #f0edee;
	padding: 6px 16px;
	font-size: 24px;
	visibility: collapse;
}

#ItemName
{
	color: #bcbcbc;
	vertical-align: bottom;
	text-shadow: 1px 1px 6px 2 #000;
	text-transform: uppercase;
	width: 240px;
	font-size: 16px;
	margin-left: 8px;
	margin-bottom: 4px;
}

#ItemPrices
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: right;
	margin-left: 10px;
	margin-bottom: 4px;
}

#ItemPrices > Label
{
	text-shadow: 1px 1px 6px 2 #000;
	text-transform: uppercase;
	margin-right: 8px;
	font-size: 16px;
}

#ItemBasePrice
{
	color: #989898;
	text-decoration: line-through;
	visibility: collapse;
}
#ItemPrice
{
	color: #dddddd;
	font-weight: bold;
}


.SpotlightSale #SpotlightDuration,
.SpotlightSale #SpotlightDiscount,
.SpotlightSale #ItemBasePrice
{
	visibility: visible;
}