DOTAStoreFeaturedItem
{
	background-color: black;
	flow-children: down;
}

#FeaturedImage
{
	width: 100%;
	height: 372px;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.5s;
}

DOTAStoreFeaturedItem:hover #FeaturedImage
{
	pre-transform-scale2d: 1.015;
}

#FeaturedItemDetails
{
	height: fill-parent-flow( 1.0 );
	width: 100%;
	flow-children: down;
	padding: 12px 14px 14px 14px;
}

#FeaturedName
{
	text-transform: uppercase;
	color: white;
	font-size: 24px;
}

#FeaturedDescription
{
	color: #666666;
	width: 650px;
}