
DOTAWeekendTourneyTeamEventToast
{
	flow-children: down;
	background-color: black;
	background-image: url("s2r://panorama/images/weekend_tourney/battle_cup_toast_backer_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	//background-color: gradient( linear, 100% 0%, 0% 100%, from( #000000 ), to( #784810 ) );
	//padding-top: 12px;
	//padding-bottom: 9px;
	width: 340px;
	border-top: 2px solid #ffffff09;
	border-right: 2px solid #ffffff05;
	border-bottom: 2px solid #1f140c;
	box-shadow: -2px -2px 16px 4px #000000;
	
}

#TeamContainer
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	margin: 14px;
	margin-bottom: 13px;
}

#TeamIdentity
{
	flow-children: down;
	//margin: 8px;
}

#TeamName
{
	vertical-align: top;
	font-size: 21px; 
	color: white;
	margin-left: 12px;
	margin-top: -4px;
}

#TeamLogo
{
	padding: 1px;
	width: 63px;
	height: 63px;
	background-color: #784911;
	border-top: 3px solid  #00000099;
	border-right: 3px solid  #ffffff09;
	border-bottom: 3px solid  #ffffff11;
	border-left: 3px solid  #00000077;
	margin-right: 1px;
	box-shadow: inset 0px 0px 16px 5px #00000077;
}

#AvatarRow
{
	flow-children: right;
	horizontal-align: left;
	margin-top: 2px;
}

#AvatarRow DOTAAvatarImage
{
	width: 36px;
	height: 36px;
	margin-left: 13px;
}



#EventDescription
{
	width: 100%;
	text-align: center;
	//padding: 8px;
	text-transform: uppercase;
	color: #ffd480;
	font-size: 16px;
}

#BracketButtonContainer
{
	width: 100%;
	height: 67px;
	background-color: #111;
	flow-children: down;
	margin-top: 11px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #140d08 ), color-stop( .3, #301f12 ), color-stop( .7, #301f12 ), to( #140d08 ) );
	box-shadow: -2px -2px 16px 4px #000000;
}

#ShowTourneyButton
{
	margin-top: 16px;
	horizontal-align: center;
}

#ShowTourneyButton.BlueButton
{
	border: 1px solid #555;
	background-color: #22222288;
	transition-property: background-color, brightness;
	transition-duration: .2s;
}

#ShowTourneyButton.BlueButton:hover
{
	brightness: 2;
	background-color: #222222bb;
}

#ShowTourneyButton.BlueButton Label
{
	color: #888;
}