#MatchDetailsGeneralInfo
{
	flow-children:down;
	vertical-align:bottom;
	padding: 10px;
	border-top:1px solid #454d4f;
	width:100%;
	background-color: #212627;

	visibility: collapse;
}

.WeekendTourneyPageOpen #MatchDetailsGeneralInfo
{
	background-color: #000000;
	border-top: 1px solid #333;
}



#MatchDetailsGeneralInfo Label
{
    text-align:center;
    width:100%;
	color: #657979;
	font-size: 16px;
}

.WeekendTourneyPageOpen #MatchDetailsGeneralInfo Label
{
	color: #888;
}

.MatchDetailsWinner
{
    horizontal-align:center;
}
.TournamentMatchDetails
{
    width: 380px;
    max-height:600px;
    flow-children: down;
    overflow: squish scroll;
}


.WeekendTourneyPageOpen .TournamentMatchDetails 
{
	width: 500px;
	background-color: #111;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #222 ), to( #111 ) );
	border: 1px solid #333;
	
}

#MatchDetails
{
    flow-children:down;
    
    width:350px;
    max-height:400px;
    background-color:#2b3335;
    border-top:1px solid #454d4f;
    border-bottom:1px solid #454d4f;
}
#MatchDetailsVersus
{
    flow-children:right;
    width:100%;
    padding: 10px 5px 5px 5px;
}

.WeekendTourneyPageOpen #MatchDetailsVersus
{
	padding-top: 15px;
}


.TeamContainer
{
    width: fill-parent-flow( 0.3 );
	flow-children: down;
	vertical-align: middle;
}

.TeamContainer DOTAUGCImage
{
    horizontal-align:center;

    width:64px;
    height:64px;
    margin-bottom: 5px;
}

.WeekendTourneyPageOpen .TeamContainer DOTAUGCImage
{
	box-shadow: -3px -3px 6px 6px black;
	background-color: black;
}

.TeamContainer Label
{
	text-align: center;
	horizontal-align: center;
	font-size: 28px;
	color: #768e8d;
	font-weight: bold;
	vertical-align: middle;
}

.WeekendTourneyPageOpen .TeamContainer Label
{
	font-size: 20px;
	color: #f0cf84;
}

#MatchDetailsVsLabel
{
    horizontal-align:center;
    width: fill-parent-flow( 0.2 );
    vertical-align:center;
    text-align:center;
    font-size: 20px;
}

.WeekendTourneyPageOpen #MatchDetailsVsLabel
{
	color: #888;
}

#MatchDetailsGames
{
    width:100%;
    flow-children:down;

    visibility: collapse;
}
.HasTournamentGames #MatchDetailsGames
{
    visibility: visible;
}

.TournamentMatchDetailsGame
{
    width:100%;
    border-top: 1px solid #454d4f;
}

.WeekendTourneyPageOpen .TournamentMatchDetailsGame
{
	border-top: 1px solid #333;
}

#UpcomingMatchWinnerChampion,
#UpcomingMatchWinnerGoes,
#UpcomingMatchLoserGoes,
#UpcomingMatchLoserEliminated,
#LiveMatchWatch,
#InProgress
{
	visibility: collapse;
}

.WinnerAdvances #UpcomingMatchWinnerGoes,
.WinnerChampion #UpcomingMatchWinnerChampion,
.LoserContinues #UpcomingMatchLoserGoes,
.LoserEliminated #UpcomingMatchLoserEliminated
{
	visibility: visible;
}

.WinnerAdvances #MatchDetailsGeneralInfo,
.WinnerChampion #MatchDetailsGeneralInfo,
.LoserContinues #MatchDetailsGeneralInfo,
.LoserEliminated #MatchDetailsGeneralInfo
{
    visibility: visible;
}

#StageName
{
	text-transform: uppercase;
	font-size: 18px;
	color: #ccc;
	letter-spacing: 2px;
	horizontal-align: center;
}

.WeekendTourneyPageOpen #StageName
{
	margin-bottom: 10px;
}

#BestOf
{
	margin-bottom: 6px;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	color: #999;

	visibility: collapse;
}

.BestOfSeries #BestOf
{
	visibility: visible;
}