TournamentNews
{
    width:454px;
    height:100%;
    flow-children:down;
    margin: 0px 8px 0px 8px;

	transition-property: position;
	transition-duration: 0.3s;
}
#TournamentNewsImage
{
    vertical-align: top;
	height: 192px;
    width: 454px;

	transition-property: saturation;
	transition-duration: 0.3s;

    background-color: #12191d;
}
#TournamentNewsImage:hover
{
    saturation:1.5;
}
#TournamentNewsLabel
{
    text-align: left;
    font-size: 24px;
    line-height: 24px;
    color: #cccccc;
}
#TournamentNewsDate
{
    text-align: left;
    font-size: 16px;
    color: #5d6f70;
    margin-top: 6px;
}