TournamentMatchGrid
{
	flow-children: down;
	margin-right: 16px;
	margin-bottom: 16px;
}

.TournamentTeamsRow,
.TournamentResultsRow
{
	flow-children:right;
}

.TournamentTeamsRow
{
    margin-bottom: -1px;
}

.TournamentGridResult
{
	border: 1px solid #313d41;
    margin-left: -1px;
    margin-top: -1px;
    background-color: #1a202477;
}
.TournamentGridResult Label
{
    horizontal-align: center;
    text-align: center;
    vertical-align: middle;
}
.TournamentGridRow
{
	flow-children:right;
}
.TournamentGridTeam
{
	flow-children:down;
	width:50px;
	height:50px;
    border: 1px solid #313d41;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
}
.TournamentGridCorner
{
	width:50px;
	height:50px;
    margin-left: -1px;
    //border-top: 1px solid #313d41;
    //border-left: 1px solid #313d41;
}
.TournamentGridResult
{
	flow-children:down;
	width:50px;
	height:50px;
}
.TournamentGridTeamImg,
.TournamentGridResultImg
{
	width:30px;
	height:30px;
    horizontal-align: center;
    vertical-align: middle;
}

.TournamentGridResultImg
{
    visibility: collapse;
}


.GridCellHighlighted
{
	background-color: #51686f77 !important;
}

.GroupTitle
{
	font-size: 24px;
	color: #5c6f6e;
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	margin-bottom: 2px;
	letter-spacing: 2px;
}