.GroupCellRank
{
    width:10%;
}
.GroupCellTeam
{
    width:30%;
    flow-children:right;
}
.GroupCellTeamLogo
{
    width:20px;
    height:20px;
}
.GroupCellGamesPlayed
{
    width:25%;
}
.GroupCellRecord
{
    width:20%;
}
.GroupCellPoints
{
    width:15%;
}