
TournamentNode
{
	flow-children: down;
}

.BattleCupBracket TournamentNode
{
	overflow: noclip;
}


#TournamentStageContainer
{
	height: 36px;
	width: 100%;
}

#TournamentStageContainer Label
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
}



.BattleCupBracket #TournamentStageContainer Label
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	vertical-align: bottom;
	//color: #a6cbd1;
	color: #c3a771;
	margin-bottom: 8px;
	letter-spacing: 2px;
}

.BattleCupBracket #TournamentStageContainer
{
	overflow: noclip;
}



.BattleCupBracket .CurrentRound #TournamentStageContainer Label
{
	font-size: 28px;
	text-shadow: 0px 0px 20px 1.5 #a8682455;
	margin-top: -5px;
	color: #ffe0a3;
}

.NoStageLabel #TournamentStageContainer Label
{
	opacity: 0;
}

#TournamentStage
{
	font-size: 14px;
	color: #364142;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	width: 100%;

	vertical-align: bottom;
}

#Background
{
	width: 100%;
	height: fit-children;
	background-color:#171c20;
	border:2px solid #454d4f;
}

.BattleCupBracket TournamentNodeTeam
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #24242488 ), to( #24242488 ) );
	margin-top: 2px;
	margin-bottom: 2px;
	
	transition-property: background-color;
	transition-duration: 0.0s;
}
.BattleCupBracket.BracketAnimationInProgress TournamentNodeTeam
{
	transition-duration: .5s;	
}

.CurrentRound.YourNode TournamentNodeTeam 
{
	box-shadow: fill black -2px -2px 5px 5px;
}

.BattleCupBracket .CurrentRound TournamentNodeTeam 
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #925b1f ), to( #a27e37 ) );
}
.BattleCupBracket.FadeOthersInCurrentRound .CurrentRound:not(.YourNode) TournamentNodeTeam
{
	background-color: #24242488;
}


#ChampionTeam 
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #24242488 ), to( #24242488 ) );
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 4px;
}

.CurrentRound #ChampionTeam 
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #925b1f ), to( #a27e37 ) );
}

#ChampionTeam #TeamScore
{
	opacity: 0;
}

.BattleCupBracket .WinningTeam  
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #393939 ), to( #5c5c5c ) );
	margin-top: 2px;
	margin-bottom: 2px;
	//padding: 4px;
}


.BattleCupBracket .LosingTeam,
.BattleCupBracket .ShowEliminatedMessage TournamentNodeTeam.AnimEliminatedTeam
{
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #242424 ), to( #3a3a3a ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #242424 ), to( #242424 ) );
	margin-top: 2px;
	margin-bottom: 2px;
	//padding: 4px;
	animation-name: losing-node; 
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
}

.BattleCupBracket .LosingTeam,
.BattleCupBracket .HasEliminatedTeamMessage TournamentNodeTeam.AnimEliminatedTeam
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #242424 ), to( #242424 ) );
	animation-name: none;
}


@keyframes 'losing-node'
{
	from
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #925b1f ), to( #a27e37 ) );
		box-shadow: fill #ff000000 -4px -4px 8px 8px;
	}

	10%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #925b1f ), to( #a27e37 ) );
		box-shadow: fill #ff000000 -4px -4px 8px 8px;
	}

	
	 30%
	{
		background-color: #d95930;
		box-shadow: fill #ff0000 -4px -4px 8px 8px;
	}
	
	50%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #242424 ), to( #242424 ) );	
		box-shadow: fill #ff000000 -4px -4px 8px 8px;
	}
	
	to
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #242424 ), to( #242424 ) );	
		box-shadow: fill #ff000000 -4px -4px 8px 8px;	
	}
}

.BattleCupBracket .WinningTeam,
.BattleCupBracket .ShowEliminatedMessage TournamentNodeTeam.AnimAdvancingTeam
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #393939 ), to( #5c5c5c ) );
	margin-top: 2px;
	margin-bottom: 2px;
	//padding: 4px;
	animation-name: winning-node; 
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
}

.BattleCupBracket .WinningTeam,
.BattleCupBracket .HasAdvancedTeamMessage .ShowEliminatedMessage TournamentNodeTeam.AnimAdvancingTeam
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #393939 ), to( #5c5c5c ) );
	animation-name: none;
	animation-duration: 0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
}


@keyframes 'winning-node'
{
	from
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #925b1f ), to( #a27e37 ) );
	}

	
	 90%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #925b1f ), to( #a27e37 ) );
	}
	
	
	to
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #393939 ), to( #5c5c5c ) );
	}
}



.BattleCupBracket #Background
{
	width: 100%;
	height: fit-children;
	background-color: #00000000;
	border-top:2px solid #00000000;
	border-right:4px solid #00000000;
	border-bottom:2px solid #00000000;
	border-left:4px solid #00000000;
}

.BattleCupBracket .CurrentRound.YourNode #Background
{
	width: 100%;
	height: fit-children;
	background-color: #00000000;
	border-top:2px solid #00000000;
	border-right:4px solid #00000000;
	border-bottom:2px solid #00000000;
	border-left:4px solid #00000000;
}



#YourNodeBackgroundAnimation
{
	width: 450px;
	height: 180px;
	margin-bottom: -180px;
	transform: translateY(-10px) translateX(-90px);
	//hue-rotation: 400deg;
	hue-rotation: 160deg;
	opacity:0;
	wash-color: #936017;
	saturation: .1;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");
	transition-property: opacity;
	transition-duration: .2s;
}

.BattleCupBracket .CurrentRound.YourNode  #YourNodeBackgroundAnimation
{ 
	opacity:1;
} 

/*.BattleCupBracket  .CurrentRound.YourNode   #AdvancedParticle.ShowAdvancedParticle
{ 
	opacity:1;
	//animation-name: particle-burst; 
	//animation-duration: 30s;
	//animation-timing-function: linear;
	//animation-iteration-count: 1;
	//animation-direction: normal;
} 

#AdvancedParticle
{
	width: 450px;
	height: 180px;
	margin-bottom: -180px;
	transform: translateY(-10px) translateX(-90px);
	//hue-rotation: 400deg;
	hue-rotation: 160deg;
	opacity:0;
	wash-color: #936017;
	saturation: 1;
	//opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex");
	//transition-property: opacity;
	//transition-duration: .2s;
	//transition-delay: .5s;
	transition-property: opacity;
	transition-duration: .2;
	
}

@keyframes 'particle-burst'
{
	from
	{
		opacity: 0; 
	}

	 5%
	{
		opacity: 1; 
	}
	
	 10%
	{
		opacity: 1; 
	}
	
	 70%
	{
		opacity: 1; 
	}
	
	to
	{
		opacity: 0; 
	}
} */


.MatchLive #Background
{
	background-color: #0e1c15;
	border: 2px solid #60bc8b;
}

#Scores
{
	width: 100%;
	height: fit-children;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 1.0;
}

.NodeSpoilerBlocked #Scores
{
	opacity: 0.0;
}

TournamentNode.ScoreSpoilerBlocked #Background:hover #Scores
{
	opacity: 0.0;
}

#SpoilerLock
{
	horizontal-align: center;
	vertical-align: center;

	wash-color: #788a8a;
}

#SpoilerLockScores
{
	vertical-align: center;
	horizontal-align: right;

	margin-right: 4px;

	wash-color: #788a8a;

	visibility: collapse;
}

.ScoreSpoilerBlocked #SpoilerLockScores
{
	visibility: visible;
}

#StageSpoilerCover
{
	width: 100%;
	height: 100%;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}

.NodeSpoilerBlocked #StageSpoilerCover
{
	opacity: 1.0;
}

TournamentNode.NodeSpoilerBlocked #Background:hover #StageSpoilerCover
{
	opacity: 0.0;
}

#StageSpoilerCover Label
{
	horizontal-align: center;
	vertical-align: center;

	margin-top: 2px;

	color: #788a8a;
	font-size: 17px;
}

#SpoilerCover
{
	width: 100%;
	height: 50px;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}

#SpoilerCover Label
{
	horizontal-align: center;
	vertical-align: center;

	margin-top: 2px;

	color: #788a8a;
	font-size: 17px;
}

TournamentNode #Background:hover #SpoilerCover Label
{
	color: white;
}

TournamentNode.NodeSpoilerBlocked #Background:hover #SpoilerCover,
TournamentNode.ScoreSpoilerBlocked #Background:hover #SpoilerCover
{
	opacity: 1.0;
}

#TournamentMatchContainer
{
	flow-children:down;
	width:100%;
	height:fit-children;

	transition-property: brightness;
	transition-duration: 0.1s;
	
}

#TournamentMatchContainer Label
{
	color: #788a8a; 
}


.BattleCupBracket #TournamentMatchContainer Label
{
	color: #666;
}

.BattleCupBracket .CurrentRound #TournamentMatchContainer Label
{
	color: #ccc;
}

.BattleCupBracket TournamentNodeTeam.WinningTeam  #TeamName
{
	color: #aaa;
}

.BattleCupBracket  #ChampionTeam #TeamName
{
	color: #fff4df;
	font-weight: bold;
	font-size: 22px;
	margin-top: 5px;
}

.BattleCupBracket TournamentNodeTeam.YourTeam  #TeamName 
{
	color: white;
	font-weight: bold;
	//text-shadow: 0px 0px 10px 1.5 #3382ff44;
}

.BattleCupBracket TournamentNodeTeam.LosingTeam.YourTeam  #TeamName 
{
	color: white;
	font-weight: bold;
	//text-shadow: 0px 0px 10px 1.5 #b42c07;
}


/*Animating Brackets*/

.BattleCupBracket.UseAnimation TournamentNode
{
	transform: translateX(-60px) rotateY(-40deg);
	transition-property: transform, opacity;
	opacity: 0;
	transition-timing-function: ease-in-out;
	transition-duration: .2s;
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket.UseAnimation TournamentNode,
DOTAPopupBattleCupBracket .BattleCupBracket.UseAnimation TournamentNode
{
	transform: translateX(0px);
	opacity: 1;
}

.BattleCupBracket.UseAnimation #Node4 
{
	transition-delay: .2s;
}

.BattleCupBracket.UseAnimation #Node5 
{
	transition-delay: .3s;
}

.BattleCupBracket.UseAnimation #Node6 
{
	transition-delay: .4s;
}

.BattleCupBracket.UseAnimation #Node7 
{
	transition-delay: .5s;
}

.BattleCupBracket.UseAnimation #Node7 
{
	transition-delay: .6s;
}

.BattleCupBracket.UseAnimation #Node2 
{
	transition-delay: .7s;
}

.BattleCupBracket.UseAnimation #Node3 
{
	transition-delay: .8s;
}

.BattleCupBracket.UseAnimation #Node1 
{
	transition-delay: .8s;
	
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node1,
DOTAPopupBattleCupBracket .BattleCupBracket #Node1
{
	sound: "ui_friends_slide_in";
}

DOTAWeekendTourneyPage.PageVisible .BattleCupBracket #Node1:hover,
DOTAPopupBattleCupBracket .BattleCupBracket #Node1:hover
{
	sound: "ui_friends_slide_in";
}

TournamentNode:enabled #Background:hover
{
	brightness: 1.5;
}

#TournamentMatchContainer:active
{
	brightness: 2.0;
}

.TournamentNode Label
{
	font-size:14px;
	color:#303a3b;
}


.Live
{
    border-color:green;
}
#WatchLive
{
    width:100%;
    height:20px;
    background-color:black;
    visibility:collapse;
}
.CanWatchLive #WatchLive
{
    visibility:visible;
}
#WatchLive Label
{
    width:100%;
    text-align:center;
    color:green;
}

/* No scene panels on the loading screen */
DOTALoadingScreenWeekendTourney DOTAScenePanel
{
	visibility: collapse;
}
