
TournamentGroup
{
	flow-children:down;
	width:488px;

	margin-top: 30px;
}

#GroupHeader
{
	flow-children:right;
	width:100%;
}

#GroupContainer
{
    flow-children:down;
    width:488px;
    padding: 8px;
    background-color: #1a202499;
}

#GroupCellTeam.GroupHeaderCell Label
{
	color: #5c6f6e;
}

.GroupHeaderCell Label
{
    color: #5c6f6e;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.GroupHeaderCell
{
	margin-bottom: 10px;
}

#GroupCellRank
{
    width: 40px;
}

#GroupCellRank Label
{
    horizontal-align: center;
    text-align: center;
}

#GroupCellTeam
{
	width:180px;
	flow-children:right;
}
#GroupCellTeam Label
{
    color: white;
}
#GroupCellTeam.GroupHeaderCell
{
	padding-left: 24px;
}

#GroupCellTeamLogo
{
	width:20px;
	height:20px;

	margin-right: 4px;
}

#GroupCellGamesPlayed
{
	width: 90px;
}

#GroupCellGamesPlayed Label
{
	text-align: center;
	width: 100%;
}

#GroupCellRecord
{
	width: 90px;
}

#GroupCellRecord Label
{
	text-align: center;
	width: 100%;
}

#GroupCellScore
{
	width: 70px;
}

#GroupCellScore Label
{
	text-align: center;
	width: 100%;
}



.GroupRow
{
	flow-children:right;
	width:100%;
    height: 32px;
}
.GroupRows
{
	flow-children: down;
	width:100%;
}

#GroupStagePanel1
{
    margin-left: 20px;
    margin-right: 24px;
}

#GroupTitleSection
{
	width: 100%;
}

.GroupTitle
{
	font-size: 24px;
	color: #5c6f6e;
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	margin-bottom: 2px;
	letter-spacing: 2px;
}