
TournamentOverview
{
	width: 100%;
	height: 100%;

    background-color: #0a0d0fbb;

    flow-children: down;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	opacity: 0.0;
}

TournamentOverview.Active
{
	opacity: 1.0;
}

#Header
{
	width:100%;

	flow-children: right;
    padding: 16px;
}

#BigLogo
{
	width: 496px;
	height: 332px;

    margin-right: 16px;
}

#DetailsPanel
{
	width: fill-parent-flow( 1.0 );
	height: 100%;

	flow-children: down;
}

#DetailTop
{
	width: fill-parent-flow( 1.0 );
	height: 53%;
    flow-children: right;
}

#DetailsLeft
{
	width: 340px;
	height: 100%;

	flow-children: down;
}

.DetailsLabel
{
	color: #657979;
	font-size: 16px;
    margin-bottom: -4px;
}

Label.DetailsValueBig
{
	color: #cccccc;
	font-size: 24px;

	margin-bottom: 15px;
}

Label.BottomValueBig
{
    margin-bottom: 0px;
}

.DetailsValueSmall
{
	color: #cccccc;
	font-size: 18px;

	margin-bottom: 20px;
}

#DetailsRight
{
	width: fill-parent-flow( 1.0 );
	height: 100%;

	flow-children: down;
}

#TeamsPanel
{
	width:100%;

	flow-children:down;
    margin-top: 8px;
	visibility: collapse;
}

#TeamsLabel
{

    horizontal-align: left;
    margin-top: 8px;

    color: #657979;
    font-size: 16px;
    margin-bottom: 4px;
	font-size: 16px;
}

#TeamsList
{
	flow-children: down;

	horizontal-align: center;
    width: 508px;
}

.TeamsListContainer
{
	flow-children: right;
	horizontal-align: center;
    width: 500px;
}

.TeamsListImage
{
	width: 62px;
	height: 60px;
	padding: 8px 9px 8px 9px;
    background-size: contain;
}

.SmallImage.TeamsListImage 
{
	width: 52px;
}
 
#CarouselContainer
{
    height:fill-parent-flow( 1.0 );
    width:100%;

    padding: 10px 16px 16px 16px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000044 ), color-stop( 0.85, #00000000 ), to( #00000000 ));

    flow-children:down;
}

#CarouselContainerContent {
    flow-children:right;
    height: 100%;
}
#TournamentBlogContainer
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
    flow-children:right;
}

#CarouselContainer .PaginationArrow
{
	vertical-align: middle;

	width: 30px;
	height: 30px;
}

#MediaCoverageLabel
{
    horizontal-align: left;

    margin-bottom: 8px;
    font-weight: thin;
    letter-spacing: 2px;
    text-transform:uppercase;
    color: #627776;
    font-size: 16px;

    flow-children: down;
}
