
/* Treasure rarity colors */
@define uncommonTextColor: #4cc2de;
@define rareTextColor: #9ede4c;
@define veryRareTextColor: #fd9d55;
@define extremelyRareTextColor: #fddb87;
@define ultraRareChanceTextColor: #fddb87;
@define cosmicallyRareChanceTextColor: #b759f3;


#ModelPreview
{
    width: 100%;
    height: 100%;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.Footer
{
    horizontal-align: right;
    vertical-align: bottom;
    flow-children: down;
    margin-right: 80px;
    margin-bottom: 30px;
}

.AspectRatio16x10 .Footer
{
    margin-right: 200px;
}

.AspectRatio4x3 .Footer
{
    margin-right: 190px;
    ui-scale: 80%;
}


.ItemRarity
{
    horizontal-align: right;
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px black;
    color: #00000000;
}

DOTATreasurePreviewCarousel.TreasureItemRarity_Uncommon        .ItemRarity { color: uncommonTextColor; }
DOTATreasurePreviewCarousel.TreasureItemRarity_Rare            .ItemRarity { color: rareTextColor; }
DOTATreasurePreviewCarousel.TreasureItemRarity_VeryRare        .ItemRarity { color: veryRareTextColor; }
DOTATreasurePreviewCarousel.TreasureItemRarity_ExtremelyRare   .ItemRarity { color: extremelyRareTextColor; }
DOTATreasurePreviewCarousel.TreasureItemRarity_UltraRare       .ItemRarity { color: ultraRareChanceTextColor; }
DOTATreasurePreviewCarousel.TreasureItemRarity_CosmicallyRare  .ItemRarity { color: cosmicallyRareChanceTextColor; }


.ItemName
{
    horizontal-align: right;
    text-align: right;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 4px;
    text-shadow: 2px 2px 4px black;
}

#PipsContainer
{
    vertical-align: bottom;
    horizontal-align: right;
    flow-children: right;
}

.Pip
{
    width: 20px;
    height: 20px;
    margin: 0px 3px;
    background-color: #666;
    border: 2px solid black;
    border-radius: 50%;

    brightness: 0.5;

    transition-property: brightness;
    transition-duration: 0.2s;
}

.Pip:hover
{
    brightness: 4.0;
}

.Pip:selected
{
    box-shadow: 0px 0px 8px #3382ff66;
}

.Pip.TreasureItemRarity_Uncommon        { background-color: uncommonTextColor; }
.Pip.TreasureItemRarity_Rare            { background-color: rareTextColor; }
.Pip.TreasureItemRarity_VeryRare        { background-color: veryRareTextColor; }
.Pip.TreasureItemRarity_ExtremelyRare   { background-color: extremelyRareTextColor; }
.Pip.TreasureItemRarity_UltraRare       { background-color: ultraRareChanceTextColor; }
.Pip.TreasureItemRarity_CosmicallyRare  { background-color: cosmicallyRareChanceTextColor; }

