#OwnedTreasuresCount
{
	background-color: #3c6269cc;
	flow-children: down;
}

.OwnedTreasuresCountContents
{
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
}

.OwnedTreasuresCountRow
{
	flow-children: right;
	horizontal-align: center;
}

#OwnedTreasuresIcon
{
	width: 30px;
	height: 30px;
	margin-left: 1px;
	margin-top: 8px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/icon_treasure_button_png.vtex");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.OwnedTreasuresCountRow Label
{
	color: white;
	font-size: 26px;
	vertical-align: middle;
	margin-left: 9px;
	margin-top: 10px;
	padding-bottom: -4px;
}

#OwnedTreasuresLabel
{
	color: white;
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 9px;
	margin-left: 1px;
	letter-spacing: 1px;
}

/* Seasons */
#TreasureSeasonLabel
{
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 3px 8px 2px 8px;
}

.TreasureSeasonGradient
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), to( #000000cc ));
}

.ShowSeason.Season_International2014 #TreasureSeasonLabel,
.ShowSeason.Season_International2014 .TreasureSeasonBar
{
	background-color: #6b4189;
	color: white;
}

.ShowSeason.Season_International2015 #TreasureSeasonLabel,
.ShowSeason.Season_International2015 .TreasureSeasonBar
{
	background-color: #e5cb76;
	color: black;
}

.ShowSeason.Season_FallMajor2015 #TreasureSeasonLabel,
.ShowSeason.Season_FallMajor2015 .TreasureSeasonBar
{
	background-color: #c3d563;
	color: black;
}

.ShowSeason.Season_WinterMajor2016 #TreasureSeasonLabel, .ShowSeason.Season_WinterMajor2016 .TreasureSeasonBar,
.ShowSeason.Season_Winter2017 #TreasureSeasonLabel, .ShowSeason.Season_Winter2017 .TreasureSeasonBar
{
	background-color: #61bef0;
	color: black;
}

.ShowSeason.Season_International2016 #TreasureSeasonLabel,
.ShowSeason.Season_International2016 .TreasureSeasonBar
{
	background-color: #612820;
	color: #aaa;
}

.ShowSeason.Season_Fall2016 #TreasureSeasonLabel,
.ShowSeason.Season_Fall2016 .TreasureSeasonBar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #487117 ), to( #487117 ) );
	color: white;
}

.ShowSeason.Season_International2017 #TreasureSeasonLabel,
.ShowSeason.Season_International2017 .TreasureSeasonBar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #17404f ), to( #225f6b ) );
	color: #fff;
}

.ShowSeason.Season_International2018 #TreasureSeasonLabel,
.ShowSeason.Season_International2018 .TreasureSeasonBar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #012311 ), to( #1f8c51 ) );
	color: #fff;
}


.ShowSeason.Season_International2019 #TreasureSeasonLabel,
.ShowSeason.Season_International2019 .TreasureSeasonBar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #34156B ), to( #7836D6 ) );
	color: #fff;
}

.ShowSeason.Season_International2020 #TreasureSeasonLabel,
.ShowSeason.Season_International2020 .TreasureSeasonBar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #B28948 ), to( #3A1803 ) );
	color: #fff;
}

.ShowSeason.Season_NewBloom #TreasureSeasonLabel,
.ShowSeason.Season_NewBloom .TreasureSeasonBar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #85302e ), to( #5a201f ) );
	color: #fff;
}

.ShowSeason.Season_Frostivus #TreasureSeasonLabel,
.ShowSeason.Season_Frostivus .TreasureSeasonBar
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #2e6285 ), to( #4591c4 ) );
	color: #fff;
}


.ShowSeason.Season_International2016 #EventPurchase
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #602820ee ), to( #60282033 ) );
}
.ShowSeason.Season_International2016 .EventPurchaseButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6b211c ), to( #8e2b19 ) );
	border: 1px solid #bc4539;
}

.ShowSeason.Season_Winter2017 #EventPurchase
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #122b5aaa ), to( #122b5a00 ) );
}
.ShowSeason.Season_Winter2017 .EventPurchaseButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #051525 ), to( #071d30 ) );
	border: 1px solid #0f2b43;
}


.ShowSeason.Season_International2017 #EventPurchase
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #17404fee ), to( #225f6b33 ) );
}
.ShowSeason.Season_International2017 .EventPurchaseButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #154e6b ), to( #52a0ae ) );
	border: 1px solid #123759;
}

.ShowSeason.Season_International2018 #EventPurchase
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #012311ee ), to( #1f8c5133 ) );
}
.ShowSeason.Season_International2018 .EventPurchaseButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #012311 ), to( #1f8c51 ) );
	border: 1px solid #5ecb90;
}

.ShowSeason.Season_International2019 #EventPurchase
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #0B0119ee ), to( #552F9A33 ) );
}

.ShowSeason.Season_International2019 .EventPurchaseButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0B0119 ), to( #552F9A ) );
	border: 1px solid #9862E9;
}


.ShowSeason.Season_International2020 #EventPurchase
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #B28948ee ), to( #3A180333 ) );
}

.ShowSeason.Season_International2020 .EventPurchaseButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #B28948 ), to( #3A1803 ) );
	border: 1px solid #161008;
}
  