
@define correctColor: textColoredBrightColor;
@define incorrectColor: #c00;

DOTATriviaGame
{
	flow-children: down;

	background-color: backgroundVeryDimColor;
	border: 1px solid accentColorGlow;

	width: 336px;
	height: 480px;
}


#Header
{
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( bp_color1 ), to( bp_color2 ) );
	width: 100%;
}

.CellTitle
{
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	font-size: 16px;
	padding: 4px 6px 2px 6px;
}

.CurrentScoreContainer
{
	flow-children: right;
}

.CurrentScoreLabel, #CurrentScore
{
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	padding: 4px 0px 2px 0px;
	text-align: right;

	visibility: collapse;
}

#CurrentScore
{
	margin-right: 6px;
	margin-left: 2px;
	min-width: 43px;
	text-align: center;
}


@keyframes 'AnimatingScorePulse'
{
	0%		{ transform: scale3d( 1.0, 1.0, 1.0 ); }
	100%	{ transform: scale3d( 1.2, 1.2, 1.0 ); }
}

#CurrentScore.LocalUserPointsAnimating
{
	color: correctColor;

	animation-name: AnimatingScorePulse;
	animation-duration: 0.25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;   
	animation-direction: alternate; 	
}

.LocalUserHasPoints .CurrentScoreLabel, .LocalUserHasPoints #CurrentScore
{
	visibility: visible;
}

#TriviaMain
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
}

.TriviaMainContents
{
    width: 100%;
    height: 100%;

	flow-children: down;

    visibility: collapse;
}

#TriviaInactive,
.QuestionActive #QuestionActive
{
	visibility: visible;
}
.QuestionActive #TriviaInactive
{
	visibility: collapse;
}

#TriviaInactiveContents
{
	margin-top: 45px;
	width: 100%;
	flow-children: down;
}

.TriviaLogo
{
	width: 200px;
	height: 200px;
	horizontal-align: center;
	margin-bottom: 20px;

	background-image: url("s2r://panorama/images/compendium/trivia_logo_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.InactiveStatus
{
	color: textColoredBrightAltColor;
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	padding: 0px 8px;
	font-size: 20px;

	visibility: collapse;
}

.LoadingNextQuestion #LoadingQuestionStatus,
.ErrorLoadingQuestion #ErrorDisplayingQuestionStatus,
.NotInQueue #NotInQueueStatus,
.WaitingToConnect #WaitingToConnectStatus,
.Connecting #ConnectingStatus,
.TriviaDisabled #DisabledStatus,
.BattlePassNotOwned #BattlePassNotOwnedStatus
{
	visibility: visible;
}

#InactiveSpinner
{
	flow-children: right;
	horizontal-align: center;

	visibility: collapse;
}

.LoadingNextQuestion #InactiveSpinner,
.Connecting #InactiveSpinner
{
	visibility: visible;
}

.InactiveSpinnerPart
{
	width: 34px;
	height: 34px;

	wash-color: textColoredBrightAltColor;
	background-image: none;
	font-weight: bold;
	font-size: 30px;
	text-align: center;

	animation-name: SpinnerRotate;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
#InactiveSpinnerPart0 { animation-delay: 0.1s; }
#InactiveSpinnerPart1 { animation-delay: 0.2s; }
#InactiveSpinnerPart2 { animation-delay: 0.3s; }
#InactiveSpinnerPart3 { animation-delay: 0.4s; }
#InactiveSpinnerPart4 { animation-delay: 0.5s; }


.InactiveUpcomingTime
{
	color: textColoredBrightAltColor;
	horizontal-align: center;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	margin-top: 4px;

	visibility: collapse;
}

.ErrorLoadingQuestion #NextQuestionUpcomingTime,
.WaitingToConnect #NextAttemptUpcomingTime,
.TriviaDisabled #NextAttemptUpcomingTime
{
	visibility: visible;
}

#QuestionContents
{
	flow-children: down;
	padding: 8px 12px;
	width: 100%;
	height: 160px;
}

.QuestionText
{
	width: 310px;
	color: textColoredBrightAltColor;
	margin-bottom: 4px;
	margin-top: 2px;
}

#Answers
{
    flow-children: down;
}

.AnswersRow
{
    flow-children: right;
	margin: 0px 4px;
}

.AnswerButton
{
    width: fill-parent-flow( 1.0 );
	height: 64px;

    background-color: backgroundDimColor;
	border: 1px solid accentColorGlow;

    padding: 4px;
	margin: 4px;
}

.AnswerButton:disabled
{
	background-color: backgroundVeryDimColor;
	border: 1px solid bp_color2;
}

.AnswerButton:selected
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( backgroundDimColor ), to( bp_color6 ) );
	border: 1px solid accentColorGlow;
}

.AnswerButton.Activated
{
	sound: "ui_generic_button_click";
}

.AnswerButton:hover:enabled
{
    brightness: 2.0;
}

.AnswerButton:active
{
	brightness: 1.5;
}

.AnswerButton.AnswerIncorrect:selected
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #200 ), to( #800 ) );
	border: 1px solid #c00;
}

.AnswerButton.AnswerCorrect
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color3 ), to( bp_color1 ) );
	border: 1px solid bp_color11;
}


.AnswerLetter
{
    vertical-align: middle;
    color: textColoredBrightAltColor;
    font-size: 18px;
	font-weight: bold;
	margin-left: 4px;
}

.AnswerButton:disabled .AnswerLetter
{
	color: textColoredDarkColor;
}

.AnswerButton:selected .AnswerLetter
{
	color: textColoredBrightAltColor;
}

.AnswerButton.AnswerCorrect .AnswerLetter
{
	color: textColoredBrightAltColor;
}

.AnswerButton.AnswerIncorrect:selected .AnswerLetter
{
	color: incorrectColor;
}

.AnswerInfo
{
	flow-children: down;
    height: 56px;
}

.AnswerResultsIcon
{
	width: 18px;
	height: 18px;

	horizontal-align: center;
    vertical-align: bottom;

	background-size: contain;
	background-repeat: no-repeat;
}

.AnswerButton.AnswerCorrect:selected .AnswerResultsIcon
{
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex"); 
	wash-color: #0f0;
}

.AnswerButton.AnswerIncorrect:selected .AnswerResultsIcon
{
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	wash-color: #f00;
}



.AnswerContents
{
	width: 100%;
	height: 100%;
}

.AnswerButton:active .AnswerInfo,
.AnswerButton:active .AnswerContents
{
    transform: translate3d( 1px, 1px, 0px );
}

.Category_AbilityIcon #QuestionContents #AbilityImage,
.Category_AbilityCooldown #QuestionContents #AbilityImage,
.Category_AbilityManaCost #QuestionContents #AbilityImage,
.Category_AbilityName #QuestionContents #AbilityImage
{
    horizontal-align: center;
	width: 96px;
	height: 96px;
}

.Category_ItemPrice #QuestionContents #ItemImage
{
	horizontal-align: center;
	width: 88px;
	height: 64px;
}

.HeroAttributesRow
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 4px;
}

.HeroAttributesIcon
{
	width: 30px;
	height: 30px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.HeroAttributesIcon.Strength { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");}
.HeroAttributesIcon.Agility { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex"); }
.ColorBlindModeEnabled .HeroAttributesIcon.Agility { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_colorblind_psd.vtex"); }
.HeroAttributesIcon.Intelligence { background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex"); }

.HeroAttributesRow > Label
{
	vertical-align: middle;
	margin-left: 8px;
	color: #ccc;
	font-size: 20px;
	margin-top: 2px;
}

.HeroStatsRow
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 4px;
	width: 120px;
}

.HeroStatsIcon
{
	width: 26px;
	height: 26px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.HeroStatsIcon.Damage			{ background-image: url("s2r://panorama/images/hud/reborn/icon_damage_psd.vtex"); }
.HeroStatsIcon.Armor			{ background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex"); }
.HeroStatsIcon.MovementSpeed	{ background-image: url("s2r://panorama/images/hud/reborn/icon_speed_psd.vtex"); }

.HeroStatsRow > Label
{
	margin-left: 4px;
	font-size: 22px;
	color: #aaa;
	vertical-align: middle;
}

.Category_HeroMovementSpeed #HeroImage
{
	horizontal-align: center;
}


.TalentTreeRow
{
	flow-children: right;
	horizontal-align: center;
	background-color: black;
}

.TalentName
{
	width: 124px;
	height: 20px;
	vertical-align: middle;
	color: #ccc;

	font-size: 16px;
	text-overflow: shrink;
}

.TalentName.Left
{
	text-align: right;
}

.TalentLevel
{
	width: 30px;
	margin: 0px 8px;

	border: 2px solid black;
	text-align: center;
	border-radius: 50%;
	padding-top: 2px;
	font-size: 16px;

	text-shadow: 0px 0px 3px 3.7 #EC780E24;
	color: #E7D291;
}

.PlaySoundButton
{
	width: 96px;
	height: 96px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color2 ), to( bp_color11 ) );
	border-radius: 50%;
	border: 1px solid bp_color2;

	horizontal-align: center;

}

.PlaySoundIcon
{
	width: 60px;
	height: 60px;

	vertical-align: middle;
	horizontal-align: center;

	wash-color: #aaa;

	background-image: url("s2r://panorama/images/control_icons/play_sound_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.PlaySoundButton:hover
{
	brightness: 2.0;
}

.PlaySoundButton:active
{
	brightness: 1.5;
}


.InvokerSpells
{
	flow-children: right;
	horizontal-align: center;
}

.InvokerSpells > DOTAAbilityImage
{
	width: 80px;
	height: 80px;
	margin: 0px 4px;
}

.Category_ItemComponents #ItemComponents
{
	margin-top: 8px;
	flow-children: right;
	horizontal-align: center;
}

.Category_ItemComponents #ItemComponents > DOTAItemImage
{
	width: 68px;
	height: 49px;
	margin: 0px 1px;
}

.Category_ItemComponents #ItemComponents > DOTAItemImage #RecipeContainer
{
	visibility: collapse;
}

.Category_ItemLore .ItemLoreText
{
	width: 294px;
	max-height: 112px;
	text-overflow: shrink;
	horizontal-align: center;
	background-color: black;
	padding: 8px;
	font-style: italic;
	color: #ccc;
}

.AnswerStyle_Text .AnswerContents Label
{
	width: 100%;
	font-size: 20px;
	color: #999;
	text-align: center;
	vertical-align: middle;
	text-overflow: shrink;
	margin: 4px 8px 0px 8px;
}

.Category_AbilityName .AnswerStyle_Text .AnswerContents Label
{
	vertical-align: top;
	text-align: left;
	margin: -1px 4px 0px 30px;
	height: 100%;
}

.AnswerContents .MovementSpeedIcon,
.AnswerContents .GoldIcon,
.AnswerContents .CooldownIcon,
.AnswerContents .ManaCostIcon
{
	width: 18px;
	height: 18px;

	transform: translateY( 2px );

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.AnswerContents .MovementSpeedIcon	{ background-image: url("s2r://panorama/images/hud/reborn/icon_speed_psd.vtex"); }
.AnswerContents .GoldIcon			{ background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex"); }
.AnswerContents .CooldownIcon		{ background-image: url("s2r://panorama/images/status_icons/ability_cooldown_icon_psd.vtex"); transform: translateY( 3px ); }
.AnswerContents .ManaCostIcon		{ background-image: url("s2r://panorama/images/status_icons/ability_manacost_icon_psd.vtex"); }

.AnswerContents .GoldAmount
{
	color: goldColor;
	font-weight: bold;
}

.AnswerStyle_HeroIcon DOTAHeroImage
{
    width: 96px;
    height: 54px;
	margin-left: 6px;

    horizontal-align: center;
}

.AnswerStyle_ItemIcon DOTAItemImage
{
	width: 74px;
	height: 54px;
	margin-left: 8px;

	horizontal-align: center;
}

.AnswerStyle_AbilityIcon DOTAAbilityImage
{
	width: 54px;
	height: 54px;
	margin-left: 8px;

	horizontal-align: center;
}

#PhaseInfoContainer
{
	width: 100%;
	height: 118px;
}

.PhaseInfo
{
	width: 100%;
	height: 100%;

	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.25s;

	opacity: 0.0;
	transform: translateX( 40px );
}

.PhaseQuestionAnswerable #PhaseAnswerableInfo,
.PhaseCalculatingResults #PhaseCalculatingResultsInfo,
.PhaseDisplayingCorrectAnswer #PhaseDisplayingCorrectAnswerInfo,
.PhaseDisplayingPartyAnswers #PhaseDisplayingPartyAnswersInfo,
.PhaseDisplayingWorldAnswers #PhaseDisplayingWorldAnswersInfo, .PhaseFinished #PhaseDisplayingWorldAnswersInfo
{
	opacity: 1.0;
	transform: none;
	transition-delay: 0.0s;
}

.PhaseCalculatingResults #PhaseAnswerableInfo,
.PhaseDisplayingCorrectAnswer #PhaseCalculatingResultsInfo,
.PhaseDisplayingPartyAnswers #PhaseDisplayingCorrectAnswerInfo,
.PhaseDisplayingWorldAnswers #PhaseDisplayingPartyAnswersInfo,
.PhaseQuestionAnswerable #PhaseDisplayingWorldAnswersInfo, .PhaseQuestionAnswerable #PhaseDisplayingWorldAnswersInfo
{
	transform: translateX( -40px );
}

#AnswerableContents
{
	vertical-align: middle;
	width: 100%;
	flow-children: down;
}

.AnswerableHeader
{
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: textColoredBrightAltColor;
	margin-top: -10px;
}

.AnswerableTimer
{
	font-size: 48px;
	width: 100%;
	text-align: center;
	color: textColoredBrightAltColor;
}

#PhaseCalculatingResultsInfo > .Spinner
{
	horizontal-align: center;
	vertical-align: middle;
}

#PhaseDisplayingCorrectAnswerInfo .DisplayingAnswerState
{
	vertical-align: middle;
	horizontal-align: center;

	visibility: collapse;
}

.SelectedAnswerNone #NoAnswerLabel,
.SelectedAnswerCorrect #CorrectAnswerState,
.SelectedAnswerIncorrect #IncorrectLabel
{
	visibility: visible;
}

#CorrectLabel,
#IncorrectLabel,
#NoAnswerLabel
{
	font-size: 44px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

#CorrectAnswerState
{
	flow-children: down;
}
#CorrectAnswerState > Label
{
	color: correctColor;
	horizontal-align: center;
}
#CorrectPointsLabel
{
	margin-top: -12px;
	font-size: 24px;
	text-transform: uppercase;
}
#PhaseDisplayingCorrectAnswerInfo #IncorrectLabel
{
	color: incorrectColor;
}
#PhaseDisplayingCorrectAnswerInfo #NoAnswerLabel
{
	color: #6663;
	font-size: 20px;
}


#PhaseDisplayingResultsInfo
{
	flow-children: down;
}

#ResultsMain
{
	height: fill-parent-flow( 1.0 );
	flow-children: right;
	margin: 0px 8px;
	margin-top: 4px;
}

#PhaseDisplayingPartyAnswersInfo
{
	flow-children: down;
	padding: 4px 8px 0px 8px;
}

#PartyMemberResults
{
	flow-children: down;

	overflow: squish scroll; /* uncommon, but useful in the case where there's a coach */
}

.PartyMemberResult
{
	flow-children: right;
	margin: 0px 8px -2px 0px;

	transition-property: opacity, transform;
	transition-duration: 0.3s;

	opacity: 0.0;
	transform: translateX( 30px );

	visibility: collapse;
}

#PartyMemberResult0 { transition-delay: 0.3s; }
#PartyMemberResult1 { transition-delay: 0.6s; }
#PartyMemberResult2 { transition-delay: 0.9s; }
#PartyMemberResult3 { transition-delay: 1.2s; }
#PartyMemberResult4 { transition-delay: 1.5s; }
#PartyMemberResult5 { transition-delay: 1.8s; }

.PhaseDisplayingPartyAnswers .PartyMemberResult
{
	opacity: 1.0;
	transform: none;
}

.PartyMemberResult.PartyMemberActive
{
	visibility: visible;
}

.PartyMemberResult Label,
.PartyMemberName .PersonaName
{
	font-size: 16px;
	color: textColoredBrightAltColor;
}

.PartySessionScore
{
	margin-right: 16px;
}

.PartyMemberResult.PartyMemberSelf .PartyMemberName .PersonaName,
.PartyMemberResult.PartyMemberSelf .PartySessionScore,
.PartyMemberResult.PartyMemberSelf .PartySessionPoints
{
	color: white;
}

.PartyAnswerLetter
{
	width: 20px;
	font-weight: bold;
}

.PartyMemberAnswerCorrect .PartyAnswerLetter
{
	color: correctColor;
}
.PartyMemberAnswerIncorrect .PartyAnswerLetter
{
	color: incorrectColor;
}



#PhaseDisplayingWorldAnswersInfo
{
	flow-children: down;
	padding: 4px 12px 0px 12px;
}

.WorldAnswerResult
{
	width: 100%;
	flow-children: right;
	
	transition-property: opacity, transform;
	transition-duration: 0.3s;

	opacity: 0.0;
	transform: translateX( 30px );
}

.PhaseDisplayingWorldAnswers .WorldAnswerResult,
.PhaseFinished .WorldAnswerResult,
.PhaseQuestionAnswerable .WorldAnswerResult
{
	opacity: 1.0;
	transform: none;
}

#WorldAnswerResult0 { transition-delay: 0.3s; }
#WorldAnswerResult1 { transition-delay: 0.6s; }
#WorldAnswerResult2 { transition-delay: 0.9s; }
#WorldAnswerResult3 { transition-delay: 1.2s; }

.WorldAnswerLetter
{
	width: 20px;
	font-weight: bold;
}

.WorldAnswerCorrect .WorldAnswerLetter
{
	color: correctColor;
}
.WorldAnswerIncorrect .WorldAnswerLetter
{
	color: incorrectColor;
}

.WorldAnswerBarContainer
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
}

.WorldAnswerBar
{
	vertical-align: middle;
	height: 10px;
	background-color: #999;

	transition-property: width;
	transition-duration: 0.5s;
}

.WorldAnswerCorrect .WorldAnswerBar
{
	background-color: correctColor;
}
.WorldAnswerIncorrect .WorldAnswerBar
{
	background-color: textColoredBrightAltColor&66;
}

.WorldAnswerPercent
{
	text-align: right;
	color: textColoredBrightAltColor;
	width: 50px;
}

.ResultsHeader
{
	width: 100%;
	flow-children: right;
}

.ResultsHeaderTitle
{
	text-transform: uppercase;
	color: textColoredBrightAltColor;
	font-size: 16px;
}

.WorldBonusPoints
{
	font-size: 16px;
	color: correctColor;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px 2.0 bp_color11;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-delay: 1.7s;

	opacity: 0.0;
}

.PhaseDisplayingWorldAnswers.SelectedAnswerCorrect.ShowBonusPoints .WorldBonusPoints
{
	opacity: 1.0;
}

#ResultsTimer
{
	background-color: black;
	font-size: 14px;
	text-transform: uppercase;
	color: #ccc;
	width: 100%;
	text-align: center;
	padding: 4px 8px 1px 8px;
}


#Footer
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: right;
	padding: 2px 5px 1px 5px;
}

#Footer > Label
{
	text-transform: uppercase;
	font-size: 14px;
	color: textColoredDarkColor;
	vertical-align: bottom;
}

#FooterPartyMembers,
#NextQuestionTimer,
#NextQuestionUpcoming
{
	visibility: collapse;
}

.PhaseQuestionAnswerable #FooterPartyMembers,
.PhaseCalculatingResults #FooterPartyMembers,
.PhaseDisplayingCorrectAnswer #FooterPartyMembers,
.PhaseDisplayingPartyAnswers #NextQuestionTimer,
.PhaseDisplayingWorldAnswers #NextQuestionTimer,
.PhaseFinished #NextQuestionUpcoming
{
	visibility: visible;
}

#QuestionID
{
	text-align: right;
	vertical-align: bottom;
}


#FooterPartyMembers
{
	flow-children: right;
}

#FooterPartyMembers > DOTAAvatarImage
{
	width: 24px;
	height: 24px;

	margin-right: 2px;

	wash-color: #999;

	transition-property: wash-color;
	transition-duration: 0.5s;

	visibility: collapse;
}

.MultiplePartyMembers #FooterPartyMembers > DOTAAvatarImage.PartyMemberActive
{
	visibility: visible;
}

#FooterPartyMembers > DOTAAvatarImage.PartyMemberAnswered
{
	wash-color: #fff;
}

#ChatButton
{
	width: 14px;
	height: 14px;
	margin-bottom: 2px;
	margin-left: 2px;
	vertical-align: bottom;
	wash-color: textColoredDarkColor;
	tooltip-position:bottom;
	tooltip-body-position: 50% 50%;

	background-image: url("s2r://panorama/images/control_icons/comment_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#ChatButton:hover
{
	brightness: 2.0;
}

#ChatButton:active
{
	brightness: 1.5;
}


#AutoplaySoundsButton
{
	width: 14px;
	height: 14px;
	margin-bottom: 2px;
	margin-left: 2px;
	vertical-align: bottom;
	wash-color: textColoredDarkColor;
	tooltip-position:bottom;
	tooltip-body-position: 50% 50%;

	background-image: url("s2r://panorama/images/control_icons/bell_off_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#AutoplaySoundsButton:selected
{
	background-image: url("s2r://panorama/images/control_icons/bell_psd.vtex");
}

#AutoplaySoundsButton:hover
{
	brightness: 2.0;
}

#AutoplaySoundsButton:active
{
	brightness: 1.5;
}