/* Styles used by trophy owned display */

#TrophyBackground
{
	width: 100%;
	height: 100%;
}

#TrophyImage
{
	width: 100%;
	height: 100%;
}

.NoTrophy #TrophyImage, .LoadingTrophy #TrophyImage
{
	brightness: 0.0;
}

.GlobalEventPurchasable.SelfEventNotActive .NoTrophy #TrophyImage, .GlobalEventPurchasable.SelfEventNotActive .LoadingTrophy #TrophyImage
{
	brightness: 1.0;
}

.Winter2016 #TrophyImage
{
	width: 148px;
	horizontal-align: center;
}

.Winter2016 #TrophyBackground
{
	vertical-align: top;
	margin-top: 12px;
	margin-bottom: 20px;
	width: 148px;
	border-radius: 10px;
	background-color: #182231;
	vertical-align: middle;
	horizontal-align: center;
}

.Spring2016 #TrophyImage
{
	width: 148px;
	horizontal-align: center;
}

.Fall2016 #TrophyImage
{
	width: 124px;
	horizontal-align: center;
}

.Fall2016 #TrophyBackground,
.Spring2016 #TrophyBackground
{
	vertical-align: top;
	margin-top: 12px;
	margin-bottom: 20px;
	width: 148px;
	border-radius: 10px;
	background-color: #371a17;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #371a1755 ), to( #371a17ff ) );
	vertical-align: middle;
	horizontal-align: center;
}

.Fall2016 #TrophyBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2C422155 ), to( #2C4221ff ) );	
}
