/* Styles used by trophy owned display */

#TrophyBackground
{
	width: 100%;
	height: 100%;
	width: 148px;
	border-radius: 10px;
}

#TrophyImage
{
	width: 100%;
	height: 100%;
}

.NoTrophy #TrophyImage, .LoadingTrophy #TrophyImage
{
	brightness: 0.0;
}

.GlobalEventPurchasable.SelfEventNotActive .NoTrophy #TrophyImage,
.GlobalEventPurchasable.SelfEventNotActive .LoadingTrophy #TrophyImage
{
	brightness: 1.0;
}

.Winter2016 #TrophyImage
{
	width: 148px;
	horizontal-align: center;
}

.Fall2016 #TrophyBackground				{ background-color: gradient( linear, 0% 0%, 0% 100%, from( #371a1755 ), to( #371a17ff ) );}
.Spring2016 #TrophyBackground			{ background-color: gradient( linear, 0% 0%, 0% 100%, from( #2C422155 ), to( #2C4221ff ) ); }
.Winter2016 #TrophyBackground			{ background-color: #182231; }
.Winter2017 #TrophyBackground			{ background-color: #182231; }
.International2017 #TrophyBackground	{ background-color: #051d27; }
