DOTAAbilityGuideViewer
{
    flow-children: down; 
}

.AbilityEntryContainer
{
    flow-children: right;
    margin-top: 4px;
    margin-bottom: 4px;
}

.AbilityIDContainer
{
    width: 200px;
    flow-children: down;
}

#AbilityImage
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}


.TalentImage
{
	width: 64px;
	height: 64px;
	background-size: 90% 90%;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/spellicons/statbranch_psd.vtex");
    background-repeat: no-repeat;
}

#ItemImage
{
    width: 64px;
    vertical-align: center;
}

.ItemListTitle
{
    margin-top: 12px;
    margin-bottom: 0px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: center;
    margin-left: 0px;
    letter-spacing: 1px;
}

.AbilityName
{
    width: 200px;
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: center;
    margin-left: 12px;
}

.AbilityBuildComment
{
    margin-left: 40px;
    width: 800px;
    vertical-align: center;
}

.TalentComment1
{
    visibility: collapse;
}

.HasTalentComment1 .TalentComment1
{
    visibility: visible;
}

.TalentComment2
{
    visibility: collapse;
}

.HasTalentComment2 .TalentComment2
{
    visibility: visible;
}

#AbilityList
{
    horizontal-align: center;
    flow-children: down;
}