/* styles for the game end quests popup */

@define initialAnimationDelay: 2.0s;
@define rewardTitleAnimationDuration: 0.5s;
@define levelUpAnimationDuration: 0.5s;
@define segmentAnimationDuration: 2.5s;

DOTAArcanaVote
{
	width: 100%;
    height: 100%;
	vertical-align: center;
	horizontal-align: center;
    flow-children: down;

	border: 0px;
	padding: 0px;
}

DOTAArcanaVote:not(.HasNextResults) .FinalArcanaVote DOTAArcanaVoteMatch
{
	background-color: transparent;

}

.FinalArcanaVote DOTAArcanaVoteMatch
{
	tooltip-position: right;
	tooltip-body-position: 50%;
}



.ArcanaVoteContainer
{
    width: 100%;
    height: 100%;
}

.ArcanaVote
{
	flow-children: down;
	width: 100%;
	height: 100%;
    opacity: 0;
	transition-property: opacity;
	transition-duration: 0.4s;
}

.Waiting
{
	flow-children: down;
	background-color: #000000ff;
	width: 100%;
    height: 100%;
}

DOTAArcanaVote.Loaded .Waiting
{
    visibility: collapse;
}

DOTAArcanaVote.Loaded .ArcanaVote
{
    opacity: 1;
}

.Body
{
    flow-children: right;
    width: 1390px;
    height: 736px;
    horizontal-align: center;
    margin: 16px 0px 16px 0px;
}

.Body.FinalArcanaVote
{
	flow-children: none;
	overflow: clip;
}

#ViewBracket
{
	horizontal-align: right;
	margin: 16px;
}

      
#Voting
{
    width: 520px;
    height: 100%;
    flow-children: down;
    background-color: gradient( linear, 0% 100%, 0% 0%, from( #080808 ), to( #101010) );
    border: 1px solid black;

    border-top-color: #ffffff04;
    border-left-color: #ffffff04;
    border-bottom-color: #ffffff03;
    border-right-color: #ffffff04;
    visibility: collapse;

	overflow: squish clip;
	
	transition-property: opacity, width, transform;
	transition-duration: .43s;
	transition-timing-function: ease-in-out;
	
}

.FinalArcanaVote #Voting
{
	width: 1390px;
	z-index: 2;
}


.VotingFinished.FinalArcanaVote #Voting

{
	visibility: visible;
	z-index: -1;
}

.ViewBracket #Voting
{
	width: 520px;
}



DOTAArcanaVote.VotingEnabled #Voting
{
    visibility: visible;
}


.PreviousResults:hover,
.NextResults:hover
{
	brightness: 2;
}


.Vignette
{
	background-color: gradient( linear, 0% 50%, 0% 100%, from( #0000 ), to( #000f ) );
	background-image: none;
}

#PudgeContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	transform: translateX(-326px) translateY(-32px);
}

#RubickContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	transform: translateX(326px) translateY(-32px);

}

.ViewBracket #RubickContainer
{
	transform: translateX(126px) translateY(-32px);
}

.ViewBracket #PudgeContainer
{
	transform: translateX(-126px) translateY(-32px);
}

#RubickVote Label,
#PudgeVote Label
{
	font-size: 33px;
	font-weight: bold;
}

#RubickVote,
#PudgeVote
{
	background-color: #68AF77;
}



#FinalArcanaSceneBlur,
#FinalArcanaScene
{
	width: 100%;
	height: 100%;
}

#FinalArcanaSceneBlur
{
	blur: gaussian(6);
	opacity-mask: url("s2r://panorama/images/masks/arcana_blur_psd.vtex")1;
}



#Voting .VotingInfo
{
	width: 100%;
	height: 0px;

	transition-property: height;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;

    padding: 24px;

	flow-children: down;

	overflow: squish clip;

}

.VotingInfoTitle
{
    font-size: 24px;
    color: white;
    margin-bottom: 24px;
    text-align: center;
}

.VotingInfoBody
{
    font-size: 18px;
    margin-bottom: 16px;
}

.VotingInfoSubHead
{
    font-size: 18px;
    color: accentColorBright;
    text-transform: uppercase;
}

.StartVotingButton
{
    horizontal-align: center;
    margin-top: 16px;
}

#Voting.ShowInfo .VotingInfo
{
	height:700px;
}

#BracketOverview
{
	width: 164px;
	height: 164px;

	background-image: url("s2r://panorama/images/compendium/bracket_nav_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	opacity: 0;

	transition-property: opacity;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}

.VotingTitle
{
    horizontal-align: center;
    width: 100%;
    height: 36px;
    background-color: #1d1d1d;
    padding-top: 5px;
}

.VotingTitle Label 
{
    font-size: 20px;
    letter-spacing: 1px;
}

#Voting.ShowInfo .RoundName
{
    visibility: collapse;
}

.Instructions
{
    visibility: collapse;
}

#Voting.ShowInfo .Instructions
{
    visibility: visible;
}

.VotingTitle .InfoButton
{
	background-image: url("s2r://panorama/images/status_icons/helpicon_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;

	transition-property: wash-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.1s;

	horizontal-align: right;

	wash-color: #A6ADB4;
	
	margin-right: 8px;
    margin-top: 2px;
    opacity: 0.4;
}

.VotingTitle .InfoButton:hover
{
	wash-color: white;
}

.VotingTitle .InfoButton:active
{
	wash-color: #CCCCCC;
}


.VotingTitle .InfoButton Label
{
	color: red;
}


.VotesRemainingContainer
{
    visibility: collapse;
}

DOTAArcanaVote.ShowVotesRemaining .VotesRemainingContainer 
{
    visibility: visible;
}

.FailedToLoad
{
    visibility: collapse;
	letter-spacing: 3px;
	wash-color: accentColor;
}

DOTAArcanaVote.ErrorLoading .FailedToLoad 
{
    visibility: visible;
}

.LabelContainer
{
    vertical-align: center;
    horizontal-align: center;
}

.BigLabel
{
    text-transform: uppercase;
    font-size: 24px;
    color: accentColorBright;
}

.SmallLabel
{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 3px;
    color: grey;
    vertical-align: bottom;
    letter-spacing: 1px;
}

.Spacer
{
    width: 8px;
}

.Overview
{
    width: 100%;
}

.PreviousResults
{
	vertical-align: center;
	margin-left: 6px;
	flow-children: right;
	visibility: collapse;
}

DOTAArcanaVote.HasPreviousResults .PreviousResults
{
	visibility: visible;
}

.NextResults
{
	vertical-align: center;
	horizontal-align: right;
	margin-right: 6px;
	flow-children: right;
	visibility: collapse;
}

DOTAArcanaVote.HasNextResults .NextResults
{
	visibility: visible;
}

.Overview .PaginationArrow
{
	margin-bottom: 3px;
}

.OverviewContainer
{
    width: 100%;
    flow-children: down;
    margin-top: 6px;
    margin-bottom: 4px;
}

.OverviewSpacer
{
    margin-top: 6px;
    margin-bottom: 4px;
    height: 60px;
}

.OverviewContainer Label
{
    font-family: monospaceNumbersFont;
}

.OverviewContainer .BigLabel 
{
    font-size: 36px;
    margin-right: 2px;
    color: accentColorBright;
}
.VotingEndsContainer
{
    width: 100%;
    flow-children: down;
    margin-top: 60px;
}
.VotingEndsContainer .BigLabel
{
    font-size: 16px;
    color: grey;
}

.VotingEndsContainer .SmallLabel 
{
    margin-bottom: 1px;
}

.TotalVotes 
{
    margin-bottom: 9px;
    font-size: 16px;
}

.WeeklyVotes 
{
    margin-top: -8px;
}

#MidSection
{
	width: 100%;
    height: 544px;
}

#FinalVote
{
	visibility: collapse;
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition-property: opacity;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
}

.FinalArcanaVote #FinalVote
{
	visibility: visible;
}

.HasNextResults #FinalVote
{
	opacity: 0;
	visibility: collapse;
}


DOTAArcanaVote:not(.HasNextResults) .FinalArcanaVote .VoteColumn
{ 
	flow-children: none;
} 

DOTAArcanaVote:not(.HasNextResults) .FinalArcanaVote #VoteColumn0 > DOTAArcanaVoteMatch
{
	vertical-align: bottom;
}

.VoteColumns
{
    width: 100%;
    height: 544px;
    flow-children: right;
    margin-left: 2px; 
    margin-right: 2px;
}

DOTAArcanaVote:not(.HasNextResults) .FinalArcanaVote .VoteColumns
{
	flow-children: none;
}
   
DOTAArcanaVote.HideColumn1 .VoteColumns
{
    width: 50%;
    horizontal-align: center;
}      

DOTAArcanaVote.HideColumn1.LargeVotingBoxes .VoteColumns
{
   width: 100%;
}

DOTAArcanaVote.HideColumn1.LargeVotingBoxes .MatchVoting
{
    height: 120px;
}

DOTAArcanaVote.HideColumn1.LargeVotingBoxes .MatchVoting
{
    height: 120px;
}

.VoteColumn
{
    width: fill-parent-flow( 1.0 );
    height: 544px;
    flow-children: down;
    margin-left: 2px; 
    margin-right: 2px;
}

DOTAArcanaVote.HideColumn1 #VoteColumn1
{
    visibility: collapse;
}

.MatchVoting
{
    width: 100%;
    height: 64px;
    margin-bottom: 4px;
}

.ArcanaFooter
{
    width: 100%;
}

#ArcanaVoteButton
{
    width: 300px;
    height: 48px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 6px;
    margin-top: 6px;
    vertical-align: top;
    horizontal-align: center;
}
.ButtonBevel
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColor ), to( accentColorBright ) );

    border-top-color: accentColorBright;
    border-left-color: accentColor;
    border-bottom-color: accentColor;
    border-right-color: accentColor;
}

.ButtonBevel:enabled:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColor ), to( accentColorBright ) );

    border-top-color: accentColorBright;
    border-left-color: accentColor;
    border-bottom-color: accentColor;
    border-right-color: accentColor;

    brightness: 1.7;
}

.ButtonBevel:disabled
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #272727 ), to( #363636 ) );
    saturation: 0;

    border-top-color: #323232;
    border-left-color: #1c1c1c;
    border-bottom-color: #1c1c1c;
    border-right-color: #1c1c1c;

}

DOTAArcanaVote.HideVotingControls #ArcanaVoteButton
{
    visibility: collapse;
}

.FooterSpacer
{
    height: 48px;
    margin-bottom: 8px;
}

.TournamentZoomContainer
{
    margin-left: 20px;
    width: fill-parent-flow( 1.0 );
    height: 100%;
    margin-left: 40px;
}

#TournamentZoom
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

.FinalArcanaVote .TournamentZoomContainer
{
	width: 850px;
	horizontal-align: right;
}

.VotingFinished.FinalArcanaVote .TournamentZoomContainer
{
	width: 100%;
}

.ZoomInControl 
{
    width: 50%;
    height: 50%;

	transition-property: background-color, border;
	transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
}

.ZoomInControl .Search
{
	//background-image: url("s2r://panorama/images/control_icons/icon_search_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;

	width: 32px;
	height: 32px;

	wash-color: #A6ADB4;

	margin: 8px;

	opacity: 0;

	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
}

.ZoomInControl.North .Search { vertical-align: top; }
.ZoomInControl.South .Search { vertical-align: bottom; }
.ZoomInControl.East .Search { horizontal-align: left; }
.ZoomInControl.West .Search { horizontal-align: right; }


.ZoomInControl:hover
{
    //background-color: #FF000006;
    //border: 1px solid #FF000020;
    //opacity: 0.5;
}

.ZoomInControl:hover .Search
{
	opacity: 1;
}

DOTAArcanaVote.ZoomedIn .ZoomInControl 
{
    visibility: collapse;
}

.ZoomInControl.North 
{
    vertical-align: top;
}

.ZoomInControl.South 
{
    vertical-align: bottom;
}

.ZoomInControl.West
{
    horizontal-align: left;
}

.ZoomInControl.East
{
    horizontal-align: right;
}

.ZoomInControl:active
{
    sound: "ui_friends_slide_in";
}

DOTAArcanaVote.ZoomedIn #Instructions {
    visibility: collapse;
    opacity: 0.0;
}

DOTAArcanaVote #Instructions {
    visibility: visible;

    font-size: 14px;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 60px;
    color: #ffffff22;
    text-transform: uppercase;
    letter-spacing: 1px;

    opacity: 1.0;

    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

/* Multiply these sizes by 2 */
#ArcanaVoteTournament
{
    width: 200%;
    height: 200%;
    overflow: noclip;

	transition-property: transform, position;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
    transform: scaleX( 0.5 ) scaleY( 0.5 );

    vertical-align: center;
    horizontal-align: center;
}


.VoteButtonContainer
{
	vertical-align: bottom;
	flow-children: down;
	
	transition-property: transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}

.ViewBracket .VoteButtonContainer
{
}

.VoteCount
{
	horizontal-align: center;
	font-size: 64px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #99FDA7 ), to( #7CCE8744 ) );
}

.VotingFinished .ArcanaFooter,
.VotingFinished #ViewBracket,
.VotingFinished .Overview,
.VotingFinished .VotingInfo,
.VotingFinished .VotingTitle
{
	visibility: collapse;
}


.VotingFinished #FinalArcanaScene
{
	visibility: collapse;
}

.VotingFinished #FinalArcanaSceneBlur
{
	wash-color: #72C885;
}