DOTAAbilityGuideBuilder
{
    flow-children: down;
}

.StatBranchBackground
{
    horizontal-align: center;
    padding-left: 170px;
}

#StatBranch
{
    width: 530px;
}


.AbilityGuideTitle
{
    width: 100%;
    flow-children: right;
    margin-top: 0px;
}

.AbilityGuideTitle
{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2px;
    color: #ccc;
}

.AbilityGuideTitle.Ability
{
    margin-left: 128px;
    width: 64px;
}

.AbilityGuideTitle.Level
{
    width: fill-parent-flow( 1.0 );
}

.AbilityGuideTalentSelector
{
    flow-children: down;
    background-color: #0009;
    padding: 16px 24px 24px 24px;
    height: 664px;
}

.AbilityGuideInstructions
{
    margin-top: 8px;
    text-align: center;
    horizontal-align: center;
    font-size: 24px;
}

.AbilityDetailsContents
{
	width: 350px;
    margin-left: 32px;
	flow-children: down;
}

.AspectRatio4x3 .AbilityDetailsContents
{
	width: 300px;
}

.AbilityDetailsBackground
{
	width: 100%;
	height: 664px;

	padding: 10px;

	background-color: #0009;
	flow-children: down;
	overflow: squish scroll;
}

#AbilityDetails
{
	width: 100%;
}

#AbilityDetailsDescription
{
	width: 100%;
}

.StatBranchDetails #AbilityDetails
{
    visibility: collapse;
}

.StatBranchDetails #AbilityDetailsDescription
{
    visibility: collapse;
}

.StatBranchCommentsContainer
{
    width: 100%;
    flow-children: down;
    visibility: collapse;
}

.StatBranchDetails .StatBranchCommentsContainer
{
    visibility: visible;
}

.StatBranchName
{
    font-size: 19px;
    color: white;
    width: fill-parent-flow( 1.0 );
    vertical-align: middle;
    text-overflow: shrink;
}

.StatBranchDivider
{
    border-top-color: #626262;
    border-top-width: 1px;
    border-top-style: solid;

    width: 100%;
    padding: 5px 0px 2px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.StatBranchHeaderSection
{
    width: 100%;
}

.StatBranchCommentHeader
{
    color: #ff9900;
    font-size: 18px;
    margin-top: 5px;
    width: 100%;
    border-bottom-color: #626262;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 5px;
}

.StatBranchAbilityName
{
    horizontal-align: right;
    vertical-align: center;
}

.StatBranchCommentEdit
{
    height: 235px;
    font-size: 16px;
    white-space: normal;
    overflow: squish scroll;
}
