
.Prediction 
{
	width: 120px;
	height: fit-children;
	overflow: noclip;
    brightness: 0.8;
}

.Prediction:disabled
{
    saturation: 0;
    background-color: gray;
}

.MadeSelection.Prediction
{
	background-color: black;
}

.PredictionContainer 
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.PickerContainer
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

/* CSS related to the control to allow you to choose a prediction */
.Picker 
{
	width: 100%;
	height: 28px;
}

.HasTeam1 .Picker.Team1, .HasTeam2 .Picker.Team2
{
    background-color: #383737;
    border-top: 1px solid #5b5b5b;
    border-bottom: 1px solid #262525;
    border-left: 1px solid #2e2d2d;
    border-right: 1px solid #2e2d2d;
    //background-image: url("s2r://panorama/images/compendium/spring2016/bracket/bracket_picker_bevel_png.vtex");
}

.HasTeam1 .Picker.Team1:hover, .HasTeam2 .Picker.Team2:hover {
    brightness: 2.0;
}

.HasTeam1 .Picker.Team1:active, .HasTeam2 .Picker.Team2:active {
    brightness: 3.0;
    sound: "ui_generic_button_click";
}

.ShowOneTeamOnly .Team2
{
	visibility: collapse;
}

.Locked .Picker.Team1
{
    border: 1px solid #414040;
    background-color: #1b1a1a;
}
.Locked .Picker.Team2
{
    border-left: 1px solid #414040;
    border-right: 1px solid #414040;
    border-bottom: 1px solid #414040;
    border-top: 0px;
    background-color: #1b1a1a;
}

.Locked .Picker.Team1:hover, .Locked .Picker.Team2:hover
{
    brightness: 1.0;
}

/* CSS related to the ? mark when you don't know what teams are available yet */
.NoTeamMark 
{
	height: 28px;
    width: 120px;
    font-size: 24px;
    font-weight: bold;
	color: #4e4c4c;
	horizontal-align: center;
	vertical-align: center;
	visibility: visible;
	text-align: center;
    padding-top: -1px;
	width: 100%;
    background-color: #1b1a1a;
}

.Picker.Team1 .NoTeamMark
{
    border: 1px solid #414040;
}

.Picker.Team2 .NoTeamMark
{
    border-bottom: 1px solid #414040;
    border-left: 1px solid #414040;
    border-right: 1px solid #414040;
    border-top: 0px solid #414040;
}

.Locked .Picker.Team1 .NoTeamMark, .Locked .Picker.Team2 .NoTeamMark
{
    border: 0px;
}

.HasTeam1 .Team1 .NoTeamMark 
{
	visibility: collapse;
}

.HasTeam2 .Team2 .NoTeamMark 
{
	visibility: collapse;
}

/* CSS related to displaying player or team images in the picker */
.TeamImage 
{
	width: height-percentage( 100% );
	height: 20px;
    width: 20px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
	visibility: collapse;
}

.HasTeam1 .Team1 .TeamImage 
{
	visibility: visible;
}

.HasTeam2 .Team2 .TeamImage 
{
	visibility: visible;
}

.Picker.IsSelected
{

}

/* CSS about displaying the current choice */
.Choice 
{
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	margin-left: 4px;
    color: white;
	letter-spacing: 1px;
	margin-top: 1px;
	height: 16px;
	vertical-align: center;
}

/* CSS about displaying if you were right or not */
.CompletedPanel 
{
	width: 100%;
	height: 100%;
}

.Team1IsLoser .Team1 .CompletedPanel
{
	visibility: collapse;
}

.CompletionIcon 
{
	margin-right: 4px;
	horizontal-align: right;
	vertical-align: center;
	background-size: contain;
	visibility: collapse;
}

.CheckMark 
{
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	wash-color: #2f7;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.IncorrectMark 
{
	background-image: url("s2r://panorama/images/control_icons/purgatory_png.vtex");
	wash-color: #e54e42;
    width: 20px;
    height: 20px;
}

.Correct1 .Team1 .CheckMark
{
	visibility: visible;
}

.Correct2 .Team2 .CheckMark
{
	visibility: visible;
}

.Incorrect1 .Team1 .IncorrectMark
{
	visibility: visible;
}

.Incorrect2 .Team2 .IncorrectMark
{
	visibility: visible;
}

.Incorrect1:not(.Team1IsLoser) .Team1 Label, .Incorrect2 .Team2 Label
{
    text-decoration: line-through;
    color: #e54e42;
}

.Incorrect1:not(.Team1IsLoser) .Picker.Team1, .Incorrect2 .Picker.Team2
{
    background-color: #53181488;
    border-color: #531814;
}

.Correct1:not(.Team1IsLoser) .Team1 Label, .Correct2 .Team2 Label
{
    color: #2f7;
}

.Correct1:not(.Team1IsLoser) .Picker.Team1, .Correct2 .Picker.Team2
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #094f3f ), to( #0f8167 ) );
}

.LoserMatch .Picker.Team1 .NoTeamMark
{
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 5px;
}

