DOTAChangeLogEntry
{                           
	width: 100%;
	//border-right: 4px solid transparent;
	//border-left: 4px solid transparent;
	border-bottom: 1px solid #35383B;
	border-bottom: 2px solid #1e252f;
	padding-left: 6px;
	padding-right: 18px;
	padding-top: 5px;
	padding-bottom: 5px; 
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #363d47 ), to( #1f2531 ) );
	flow-children: right;
	transition-property: background-color;
	transition-duration: .2s;
}

DOTAChangeLogEntry:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #687689 ), to( #1f2531 ) );
}

DOTAChangeLogEntry.NotViewed
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1e3f5e ), to( #202731 ) );
}

DOTAChangeLogEntry.NotViewed:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1862a1 ), to( #202731 ) );
}

DOTAChangeLogEntry Label
{	
	font-size: 16px;
	font-weight: thin;
}


/* CSS style related to the type icon */
.TypeIcon
{
	width: 32px;
	height: 32px;
	margin-right: 6px;
	vertical-align: middle;
	//wash-color: #888888;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.NotificationsEntry.NotViewed .TypeIcon
{
	wash-color: white;
}

.Default .TypeIcon
{
	background-image: url("s2r://panorama/images/logos/dota_logo_bright_psd.vtex");
}

.BattlePass .TypeIcon
{
	wash-color: bp_battlePassLogoColor;
	background-image: url("s2r://panorama/images/control_icons/battlepass_logo_small_png.vtex");
}

.LogContainer
{
	width: 100%;
	flow-children: down;
}

 /* CSS style related to the description */
.Description 
{
    width: 236px;
	color: #d1d1d1;
}

DOTAChangeLogEntry:hover .Description
{
	color: #d1d1d1;
}

DOTAChangeLogEntry.NotViewed .Description
{
	color: #dce8ff;
}

DOTAChangeLogEntry.NotViewed:hover .Description
{
	color: #ddeeff;
}

.BottomLine
{
	width: 100%;
}

.TimeContainer Label
{
	font-size: 14px;
}

/* Css styles related to the view buttom */
.ViewLog.ButtonBevel
{
	horizontal-align: right;
	vertical-align: center;
	padding: 1px 4px 1px 8px;
	min-width: 20px;
	min-height: 20px;
	text-transform: uppercase;
	font-size: 12px;
	visibility: collapse;
	
	background-image: url("s2r://panorama/images/control_icons/arrow_top_right_png.vtex");
    background-repeat: no-repeat;
    background-size: 11px 11px;
	background-position: 50% 50%;
	background-color: none;
	border: 0px;
	box-shadow: none;
	wash-color: #687689;
}

.HasEvent .ViewLog.ButtonBevel
{
	visibility: visible;
}

/* Css styles related to displaying the time */
.TimeContainer
{
	horizontal-align: left;
	vertical-align: center;
}

.TimeContainer Label
{
	color: #808fa4;
}

.TimeIcon
{
	width: 8px;
	height: 8px;
	background-image: url( 'file://{images}/control_icons/clock_tiny.psd' );
	background-size: contain;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 2px;
	wash-color: #808fa4;
	visibility: collapse;
}

VerticalScrollBar .ScrollThumb,
VerticalScrollBar:active .ScrollThumb,
VerticalScrollBar:hover .ScrollThumb
{
	background-color: #565457;
}

