.GemIconOverlay
{
	width: 100%;
	height: 100%;
}

/* Gem Snippet */
.GemContainer
{
	width: 342px;
	height: 76px;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 4px;
	margin-right: 4px;
	background-color: #15191C;
	margin-bottom: 3px;
}

.Error .GemContainer
{
	background-color: #FF0000;
}

.Rare:not(.Error) .GemContainer
{
	background-color: #cbab4c;
}

DOTAHUDInspect .GemContainer
{
	background-color: #00000000;
}

.GemIconContainer
{
	vertical-align: center;
	width: 64px;
	height: 64px;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/masks/gem_overlay_mask_psd.vtex") 1.0;
}

.GemContainerInternal
{
	flow-children: right;
	vertical-align: center;
}

#GemIconImage
{
	width: 100%;
	height: 100%;
}

#GemList
{
	flow-children: right-wrap;
}

.GemDetails
{
	width: 264px;
	flow-children: down;
	vertical-align: center;
	margin-left: 8px;
}

#GemCount
{
	margin-bottom: -6px;
	color: white;
	font-size: 36px;
}

.GemDescription
{
	text-transform: uppercase;
	text-overflow: shrink;
}

.Rare Label
{
	color: white;
}

/* Logic showing tooltip icons */
.GemContainer .ButtonBevel
{
	vertical-align: center;
	border-width: 3px;
	width: 36px;
	min-width: 36px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2B3D53 ), to( #3B5A6F ) );
	border-top-color: #2F4E63;
	border-left-color: #2B4A5F;
	border-bottom-color: #244358;
	border-right-color: #1C3B50;
}

.GemContainer:disabled .ButtonBevel
{
	wash-color: #999999;
	saturation: 0;
}

.GemContainer:enabled .ButtonBevel:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3B5B86 ), to( #5B92BF ) );
}

.GemContainer .ButtonBevel:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3B5A6F), to( #2B3D53 ) );
	border-top-color: #222222;
	border-left-color: #303030;
	border-bottom-color: #3B5B86;
	border-right-color: #3B5B86;
}

.GemContainer .ButtonBevel:disabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2B3D53 ), to( #3B5A6F ) );
}

.GemDebug
{
	horizontal-align: right;
	visibility: collapse;
}

.Debug .GemDebug
{
	visibility: visible;
}
