.ChallengeRefreshRequired DOTAPlusHeroChallenge
{
}

.ProgressTextContainer
{
	margin-top: 8px;
}

.RewardContainer
{
	width: 100px;
	height: 34px;
	margin-top: -3px;
	border-radius: 5%;
	border: 0.75px solid #6b7da5;
	horizontal-align: center;
	vertical-align: center;
	padding-left: 12px;
	padding-top: 3px;
}

.RewardContainer .ChallengeStar,
.RewardContainer Label
{
	margin-top: -1px;
}

.ChallengeDescText
{
	horizontal-align: left;
	color: #8e9795;
	vertical-align: bottom;

	width: 240px;
	text-overflow: shrink;
	font-size: 15px;
}

.Minimized .ChallengeDescText
{
	font-size: 13px;
	vertical-align: top;
}

.RankContainer
{
	height: fit-children;
}

#InfoContainer
{
	height: 100%;
	width: 100%;
	flow-children: right;
}

.ObsoleteChallenge #InfoContainer
{
	visibility: collapse;
}

.ObsoleteContainer
{
	height: 100%;
	width: 100%;
	visibility: collapse;
}

.ObsoleteChallenge .ObsoleteContainer
{
	visibility: visible;
}

.ObsoleteText
{
	vertical-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

.IconContainer
{
	width: 88px;
	
	margin-right: 10px;
	margin-left: 10px;
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
}

.Minimized .IconContainer
{
	width: 44px;
	height: 44px;
}

.ChallengeIcon
{
	horizontal-align: center;
	background-color: black;
	height: 78px;
	width: 78px;
	border-radius: 50%;
	border: 3px solid #ae9249;
}

.Minimized .ChallengeIcon
{
	height: 39px;
	width: 39px;
	border: 1.5px solid #ae9249;
}

.Hidden
{
	visibility: collapse;
}

.ChallengeStars
{
	flow-children: right;
	margin-top: 5px;
	border-radius: 5%;
	horizontal-align: right;
	opacity: 1;
}

.Minimized .ChallengeStars
{
	margin-top: 0px;
	vertical-align: bottom;
}

.ChallengeStar
{
	margin: 0px 3px;
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/status_icons/icon_star_png.vtex");
	wash-color: #3A474F;
	background-size: contain;
	background-repeat: no-repeat;
	border-left: 1px #e0c59a;
	opacity: 0;
}

.DOTA_GAMEMODE_TURBO .ChallengeStar.Star2,
.DOTA_GAMEMODE_TURBO .ChallengeStar.Star3
{
	background-image: url("s2r://panorama/images/control_icons/star_locked_png.vtex");
}

.Minimized .ChallengeStar
{
	width: 14px;
	height: 14px;
	margin: 0px 2px;
	margin-bottom: 5px;
}

.RewardContainer .ChallengeStar,
.Ranked #Rank1,
.Ranked #Rank3
{
	opacity: 1;
}

#Rank2
{
	opacity: 1;
}

.ChallengeStar.RankComplete 
{
	background-image: url("s2r://panorama/images/status_icons/icon_star_png.vtex");
	wash-color: #ae9249;
}

.FullyComplete .ChallengeStar
{
	wash-color: #e0c59a;
}

#SideQuestContainer
{
	horizontal-align: center;
	vertical-align: center;
	pre-transform-scale2d: 1;
	transform: translateY(0px);
	transition-property: opacity, pre-transform-scale2d, transform;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;
}

.Overview #SideQuestContainer
{
	transform: rotateX( 0deg ) translateY(50px);
	pre-transform-scale2d: .5;
	opacity: 0;
}

#CampaignPanel #SideQuestContainer
{
	height: 245px;
	transform: rotateX( 35deg) translateX(-100px) translateY( 15px );
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 0px;
	margin-right: 16px;
	//background-image: url("s2r://panorama/images/compendium/questpicker_footerbg_psd.vtex");
	background-image: none;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.SideQuestBox
{
	width: 376px;
	height: 128px;
	flow-children: down;
}

.SideQuestBox.Minimized
{
	width: 320px;
	height: 75px;
}

#SideQuestContainer .SideQuestLabels Label
{
	margin-left: 12px;
	text-shadow: 0px 0px 2px 3.0 black;
}

#SideQuestContainer .SideQuestTitle
{
	font-size: 16px;
	letter-spacing: 1px;
	margin-left: 8px;
	margin-top: 8px;
}

.TopRow
{
	width: 100%;
	height: fit-children;
}

#SideQuestContainer .HeroMovie
{
	width: 122px;
	height: 162px;
}

.ChallengeCompleted .HeroMovie
{
	saturation: 0;
	wash-color: #4B7DBD;
}

#SideQuestContainer .SideQuestBox.DailyHero
{
	width: 184px;
}

.HeroMovie
{
	width: 95px;
	height: 126px;
	horizontal-align: right;
	opacity-mask: url("s2r://panorama/images/masks/heroportraitfade1_psd.vtex") 1;
	wash-color: #60A0F0cc;
	saturation: .7;
}

.SideQuestLabels
{
}

.SideQuestLabels Label
{
	//horizontal-align: center;
	font-size: 16px;
}

.SideQuestTitle
{
	color: #5187CC;
	text-transform: uppercase;
}

.DailyHero
{
	color: #84ADD0;
	width: 120px;
	text-transform: uppercase;
}

.SideQuestReward
{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: bottom;
	color: #8CB7DB;
}

.SideQuestDesc
{
	color: #4F7190;
	text-transform: none;
}

.DescriptionContainer
{
	vertical-align: bottom;
	flow-children: down;
	margin-bottom: 5px;
}

.Minimized .DescriptionContainer
{
	vertical-align: center;
}

.AchievementContainer
{
	width: 32%;
	background-color: #000000EF;
	padding: 5px;
	margin-right: 10px;
}

.AchievementsDesc
{
	width: 55%;
	vertical-align: center;
	horizontal-align: left;
	margin-left: -5px;
}

.AchievementWhiteText,
.AchievementBlueText
{
	horizontal-align: left;
	color: white;
	vertical-align: top;
	font-size: 16px;
	overflow: noclip;
	margin: 0px 0px 0px 0px;
	text-shadow: 1px 1px 2px 1.0 #000000;
}

.AchievementBlueText
{
	color: #6b7da5;
}

.Large
{
	font-size: 22px;
}

.BotAlign
{
	vertical-align: bottom;
}

.AchievementWhiteText.RewardText,
.AchievementBlueText.RewardText
{

	height: 16px;
}

.PlusRewardText
{
	color: #e0c59a;
	vertical-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}

.AchievementValues
{
	width: 100%;
}


.AchievementProgress
{
	horizontal-align: left;
	vertical-align: bottom;
	width: 100%;
	height: 3px;
	border: 0px solid black;
	box-shadow: none;
	background-color: #666;
}

.AchievementProgress .ProgressBarLeft
{
	background-color: #3db451;
}

.AchievementProgress Label
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	margin-top: 3px;
	margin-right: 3px;
	font-size: 14px;
}

#ChallengeProgressBar,
#ChallengeProgress
{
	opacity: 0;
}

#ChallengeProgress
{
	horizontal-align: right;
	text-align: right;
	font-size: 16px;
}

.MultiGame #ChallengeProgressBar,
.MultiGame #ChallengeProgress
{
	opacity: 1;
}

.ProgressContainer
{
	height: 34px;
	horizontal-align: right;
	padding-left: 8px;
}

.GameTypeIcon
{
	margin-left: 6px;
	margin-bottom: 2px;
	vertical-align: center;
}

#SingleGameIcon
{
	height: 21px;
	width: 21px;
	background-image: url("s2r://panorama/images/dota_plus/challanges_icon_png.vtex");
	background-size: 21px 21px;
	background-position: center;
	background-repeat: no-repeat;
	visibility: collapse;
}

#MultiGameIcon
{
	height: 21px;
	width: 21px;
	background-image: url("s2r://panorama/images/icon_mmr_small_png.vtex");
	background-size: 21px 21px;
	background-position: center;
	background-repeat: no-repeat;
	visibility: collapse;
}

.MultiGame #SingleGameIcon
{
	visibility: collapse;
}

.MultiGame #MultiGameIcon
{
	visibility: visible;
}

.XPLabel
{
	font-size: 12px;
	text-align: center;
	margin-top: 3px;
	width: 26px;
	letter-spacing: 1.25px;
	vertical-align: center;
	horizontal-align: center;
	color: #8e9795;
}

.XPLabel.RankComplete,
.RewardLabel
{
	color: #ae9249;
}

.RewardLabel
{
	margin-top: 1px;
	font-size: 14px;
	text-align: left;
	vertical-align: bottom;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#ShardsRewardLabel,
.MaxHeroLevel #XPRewardLabel
{
	visibility: collapse;
}
.MaxHeroLevel #ShardsRewardLabel
{
	visibility: visible;
}

.RewardStars
{
	width: 100%;
	vertical-align: bottom;
}

.RankContainer
{
	horizontal-align: right;
}

.BottomRow
{
	width: 100%;
	margin-top: 5px;
	border-top: 1px solid #ae9249;
	vertical-align: bottom;
}

.Minimized .BottomRow
{
	visibility: collapse;
}

.SideQuestBox.VerticalMinimized
{
	width: 120px;
	height: 120px;
	margin: 4px;
}

.VerticalMinimized .BottomRow,
.VerticalMinimized .ChallengeDescText,
{
	visibility: collapse;
}

.VerticalMinimized .IconContainer
{
	width: 66px;
	height: 66px;
}	

.VerticalMinimized .ChallengeIcon
{
	vertical-align: top;
}

.VerticalMinimized #InfoContainer
{
	flow-children: down;
}

.VerticalMinimized .DescriptionContainer
{
	vertical-align: top;
	horizontal-align: center;
	width: 86px;
	height: 100%;
}

.VerticalMinimized .ChallengeStars
{
	horizontal-align: center;
}

.VerticalMinimized.FullyComplete .ChallengeStars
{
	visibility: collapse;
}

.VerticalMinimized .ChallengeStar
{
	margin: 0px 2px;
}

.CompleteText
{
	margin-bottom: -2px;
	margin-left: -1px;
	vertical-align: bottom;
	visibility: visible;
	font-style: italic;
	color: #e0c59a;
	font-size: 15px;
	visibility: collapse;
}

.VerticalMinimized .CompleteText
{
	horizontal-align: center;
	text-align: center;
	width: 100%;
	margin-top: 8px;
}

.FullyComplete .CompleteText
{
	visibility: visible;
}

.DebugContainer
{
	visibility: collapse;
	flow-children: down;
}

.Debug .DebugContainer
{
	visibility: visible;
}

.DebugLabel
{
	color: white;
	font-size: 12px;
}
