/* 
	Econ item set previews for use in the loadout screen, for example.
*/

DOTAUIEconSetPreview 
{
    width: 100%;
    height: 100%;
}

/* Normal 3D preview, used for hero items, wards, couriers, etc. */
#Preview3DItems
{
    width: 100%;
    height: 100%;
    visibility: collapse;
}

DOTAUIEconSetPreview.Use3DPreview #Preview3DItems
{
    visibility: visible;
}

/* Normal 2D preview, used for loading screens, cursor packs, etc. */

@keyframes '2dpanelanimation'
{
	0%
	{
		transform: translateZ( 0px ) translateX( 0px ) translateY( 0px ) rotateY( 0deg ) rotateX( 0deg );
		box-shadow: fill #000000aa 0px 3px 2px 0px;
	}
	
	25%
	{
		transform: translateZ( -20px ) translateX( -30px ) translateY( 0px ) rotateY( -20deg ) rotateX( 10deg );
		box-shadow: fill #00000033 30px 40px 8px 0px;
	}	

	50%
	{
		transform: translateZ( 0px ) translateX( 0px ) translateY( 0px ) rotateY( 0deg ) rotateX( 0deg );
		box-shadow: fill #000000aa 0px 3px 2px 0px;
	}
	
	75%
	{
		transform: translateZ( -20px ) translateX( 30px ) translateY( 0px ) rotateY( 20deg ) rotateX( 10deg );
		box-shadow: fill #00000033 -30px 40px 8px 0px;
	}					
				
	100%
	{
		transform: translateZ( 0px ) translateX( 0px ) translateY( 0px ) rotateY( 0deg ) rotateX( 0deg );
		box-shadow: fill #000000aa 0px 3px 2px 0px;
	}
}

#Preview2DItems
{
	width: 65%;
 	height: width-percentage( 66% );
    visibility: collapse;

	vertical-align: middle;
	horizontal-align: center;
	
	border-top: 2px solid #ffffff11;
	border-right: 2px solid #ffffff11;
	border-left: 2px solid #ffffff11;
	border-bottom: 2px solid #ffffff11;
}

#Preview2DItems.AnimationEnabled 
{
	animation-name: 2dpanelanimation;
	animation-duration: 25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

DOTAUIEconSetPreview.Use2DPreview #Preview2DItems
{
    visibility: visible;
}

DOTAUIEconSetPreview.UseMusicPreview #Preview2DItems
{
    visibility: visible;
}

/* Loading screen preview */
#PreviewLoadingScreen
{
	width: 65%;
 	height: width-percentage( 66% );
    visibility: collapse;

	vertical-align: middle;
	horizontal-align: center;
	
	border-top: 2px solid #ffffff11;
	border-right: 2px solid #ffffff11;
	border-left: 2px solid #ffffff11;
	border-bottom: 2px solid #ffffff11;
	border-radius: 0.1px;
}

#PreviewLoadingScreen.AnimationEnabled 
{
	animation-name: 2dpanelanimation;
	animation-duration: 25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

DOTAUIEconSetPreview.UseLoadingScreenPreview #PreviewLoadingScreen
{
    visibility: visible;
}

/* Sound preview, used for music, announcer, and megakill */
#PreviewSounds
{
    width: 65%;
    height: fit-children;
    flow-children: down;
    horizontal-align: center;
    vertical-align: center;
    visibility: collapse;
    background-color: #000000A3;
}

DOTAUIEconSetPreview.UseSoundPreview #PreviewSounds
{
    visibility: visible;
}

.PreviewSoundsTitle 
{
    margin-left: 12px;
    margin-top: 12px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
	color: #DFDFDFFF;
}

#PreviewSoundList
{
    width: 100%;
	padding: 0px 6px 12px 12px;
    flow-children: down;
}

/* This are generated by code */
.SoundPreviewItem 
{
    width: 100%;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #88888899 ), to( #99999922 ) );
	box-shadow: fill #002a6600 -4px -4px 8px 9px;
	border-top: 1px solid #ffffff22;
	border-left: 1px solid #ffffff11;
	border-right: 1px solid #00000044;
	border-bottom: 1px solid #00000088;
	margin-right: 10px;
    margin-top: 3px;
	margin-bottom: 0px;
	padding: 5px 14px 3px 14px;
	min-width: 188px;
	height: 39px;
	
	transition-property: background-color;
	transition-duration: .1s;
}

@keyframes 'pulseglowhover'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #67aeff ), to( #3c608d44 ) );
	}

	50%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #406a9f ), to( #3c608c44 ) );
	}
	
	100%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #67aeff ), to( #3c608d44 ) );
	}
}

.SoundPreviewItem:hover
{
	animation-name: pulseglowhover;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	box-shadow: fill #002a66 -4px -4px 8px 9px;
}

.SoundPreviewItem:active 
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #3c608d44 ) );
	box-shadow: fill #002a66 -4px -4px 8px 9px;
}

@keyframes 'playingpulseglowhover'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffae67 ), to( #8d603c44 ) );
	}

	50%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #9f6a40 ), to( #8c603c44 ) );
	}
	
	100%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffae67 ), to( #8d603c44 ) );
	}
}
             
.SoundPreviewItem.SoundCurrentlyPlaying
{
	animation-name: playingpulseglowhover;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.SoundPreviewItem.SoundCurrentlyPlaying:hover
{
	animation-name: playingpulseglowhover;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	box-shadow: fill #002a66 -4px -4px 8px 9px;
}

.SoundPreviewItem.SoundCurrentlyPlaying:active 
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #8d603c44 ) );
	box-shadow: fill #002a66 -4px -4px 8px 9px;
}

.SoundPreviewItem Label 
{
	vertical-align: center;
    font-size: 24px;
	color: #FFFFFFFF;
}

#PreviewMusic
{
    visibility: collapse;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 175px;
    height: fit-children;
    width: fit-children;
}

#PreviewMusic.SoundPreviewItem Label
{
    margin-left: 50px;
    margin-right: 50px;
    text-transform: uppercase;
    horizontal-align: center;
}

DOTAUIEconSetPreview.UseMusicPreview #PreviewMusic
{
    visibility: visible;
}


/* Styles related to emoticons display */
.PreviewEmoticonsContainer
{
    visibility: collapse;
    flow-children: down;
    width: 50%;
    height: fit-children;
    horizontal-align: center;
    vertical-align: center;
    background-color: #000000FF;
    border: 24px;
}

DOTAUIEconSetPreview.UseEmoticonsPreview .PreviewEmoticonsContainer
{
    visibility: visible;
}

.PreviewEmoticonsTitle 
{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
	color: #DFDFDFFF;
}

#PreviewEmoticons
{
    width: 100%;
    height: fit-children;
    flow-children: down;
}

.EmoticonContainer
{
    flow-children: right;
    margin-bottom: 8px;
}

#EmoticonImage
{
	width: 48px;
	height: 48px;
}

.EmoticonText 
{
    min-width: 100px;
	font-size: 24px;
    vertical-align: center;
    margin-left: 16px;
	color: #aaaaaa;
}
