/* 
	Econ item set previews for use in the loadout screen, for example.
	.EconItemSetFrame can have many classes added to it in code.

	Owned - means its owned. Lack of this means its available for purchase
	New/OnSale/FullPrice - describes its market status. Only 1 will be set
	OnMarket - means it's on the marketplace. Lack of this means it's available in store
	ItemRarity_unknown - means it has no rarity
	Previewing - indicates it's being previewed, but it's not owned
	Equipped - means it's equipped
	MultipleStyles - means there are more than 1 style on the item
*/
.EconItemSetFrame
{
	flow-children: down;
	width: 136px;
	//border: 1px solid white;
	margin-top: 0px;	
	margin-right: 10px;
	pre-transform-scale2d: .95;
	transition-property: pre-transform-scale2d;
	transition-duration: .1s;
}

.EconItemSetFrame.Hidden
{
	opacity: 0;
}

/* Frames that are filtered out are invisible */
.EconItemSetFrame.FilteredOut 
{
	visibility: collapse;
}

.EconItemSetFrame .ItemRarity_unknown
{
	background-color: cornflowerblue;
}

.EconItemSetFrame:hover
{
	pre-transform-scale2d: 1.0;

	/*box-shadow: fill #00000011 -6px -6px 12px 12px;*/
}

.EconItemSetFrame:active
{
	sound: "ui_hero_hat_select";
}

.EconItemSetDisplay
{
	width: 100%;
	height: width-percentage( 155.88% );
	margin-top: 5px;
}


.EconItemSetFrame:hover .EconItemSetName
{
    opacity:1.0;
}

.EconItemSetFrame:hover .EconItemSetRarityName
{
    opacity:1.0;
}

/* Image shows the current equipped set */
#EconSetPreview
{
	width: 100%;
    height: 100%;
	background-color: gradient( linear, 0% 30%, 0% 100%, from( #00000022 ), color-stop(.1, #00000022), to( #000000cc ) );
    //background-color: gradient( linear, 0% 30%, 0% 100%, from( #00000060 ), to( #000000cc ) );
	//border: 1px solid transparent;
	transition-property: background-color;
	transition-duration: .4s;
	transition-timing-function: linear;
}

/* Image shows the current previewing set which is not yet purchased */
.EconItemSetFrame.Previewing #EconSetPreview
{
 	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #5186c9 ), color-stop(.3, #5587c311), to( #00000099 ) );
	animation-name: backerglow;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	//box-shadow: fill #002a66 -4px -4px 8px 9px;
}

@keyframes 'backerglow'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #67aeff33 ), to( #00000099 ) );
	}
	

	50%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #406a9f33 ), to( #00000099 ) );
	}
	
	100%
	{
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #67aeff33 ), to( #00000099 ) );
	}
}

/* Adjusts the backround image when we're equipped or previewing */
.EconItemSetFrame.Equipped #EconSetPreview
{
	//background-color: gradient( linear, 0% 30%, 0% 100%, from( #00000022 ), color-stop(.1, #00000022), to( #000000cc ) );
 	background-color: gradient( linear, 0% 0%, 0% 100%, from( #cdf7ff09 ), color-stop(.1, #b8dde509), to( #00000099 ) );
	//border: 1px solid #b6e3df;
	margin-top: -3px;
	animation-name: none;
	box-shadow: none;
	height: 101%;
}

.EconItemSetFrame.GlobalItem.Equipped #EconSetPreview
{
	margin-top: 0px;
	height: 100%;
}

/* removes scaling on equipped image */
.EconItemSetFrame.Equipped
{
	pre-transform-scale2d: 1;
	//margin-left: 6px;
	padding-top: -3px;
}

.EconItemSetFrame.GlobalItem.Equipped
{
	pre-transform-scale2d: .95;
}

.EconItemSetFrame.GlobalItem.Equipped:hover
{
	pre-transform-scale2d: 1;
}

/* Adjusts the backround image when we're hovering */
.EconItemSetFrame:hover #EconSetPreview
{
    //border: 1px solid #848686;
}

/* This logic makes the Equipped label appear, but not when hovered over */
.EconItemSetEquippedLabel
{
	transition-property: opacity;
	transition-duration: .2s;
	//transition-delay: .2s;
    font-size: 14px;
	letter-spacing: 1px;
	color: white;
	vertical-align: bottom;
	padding-bottom: 8px;
	padding-left: 8px;
	//padding-top: 8px;
	text-transform: uppercase;
    
    opacity: 0.0;
}

.EconItemSetFrame.Equipped.Previewing #EconSetPreview
{
       //background-color: gradient( linear, 0% 30%, 0% 100%, from( #00000022 ), color-stop(.1, #00000022), to( #000000cc ) );
	   background-color: gradient( linear, 0% 0%, 0% 100%, from( #cdf7ff44 ), color-stop(.1, #b8dde533), to( #00000099 ) );
}


.EconItemSetFrame.Equipped .EconItemSetEquippedLabel
{
	opacity: 1.0;
}

.SetIcons
{
	vertical-align: bottom;
	horizontal-align: left;
	margin-left: 2px;
}

.InformationalIcon
{
	background-color: #000000bb;
	border-radius: 3px;
	background-size: contain;
	width: 30px;
	height: 30px;
	margin-bottom: 5px;
	visibility: collapse;
}

/* This is the logic that makes the seasonal image appear */
.SeasonalIcon 
{
    background-image: url("s2r://panorama/images/dota_plus/dotaplus_logo_small_png.vtex");
 	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.EconItemSetFrame.Seasonal .SeasonalIcon
{
	visibility: visible;
}

/* This is the logic that makes the purgatory image appear */
.Purgatory 
{
    background-image: url("s2r://panorama/images/control_icons/purgatory_png.vtex");
}

.EconItemSetFrame.InPurgatory .Purgatory
{
	visibility: visible;
}

/* This is the logic that makes the bundle image appear */
.EconItemSetBundle 
{
    background-image: url("s2r://panorama/images/control_icons/brackets_png.vtex");
}

.EconItemSetFrame.Bundle.Owned .EconItemSetBundle
{
	visibility: visible;
}

/* This is the logic that makes the bundle image appear */
.EconItemSetPartialSet 
{
    background-image: url("s2r://panorama/images/control_icons/icon_partial_set_png.vtex");
}

.EconItemSetFrame.PartialSet .EconItemSetPartialSet
{
	visibility: visible;
}

/* This is the logic that makes the multistyle image appear */
.EconItemSetMultiStyle 
{
    background-image: url("s2r://panorama/images/control_icons/icon_multiple_styles_png.vtex");
}

.EconItemSetFrame.MultipleStyles .EconItemSetMultiStyle
{
	visibility: visible;
}

/* This is the logic that makes the multi team image appear */
.EconItemSetMultiTeam 
{
    background-image: url("s2r://panorama/images/team_icons/dire_png.vtex");
}

.EconItemSetFrame.HasTeamSpecificViews .EconItemSetMultiTeam
{
	visibility: visible;
}

/* This is the logic that makes gem icons appear */
.EmptySocketIcon
{
	margin-left: 2px;
    background-image: url("s2r://panorama/images/control_icons/socket_empty_png.vtex");
}

.EconItemSetFrame.HasEmptySockets .EmptySocketIcon
{
    visibility: visible;
}

.GemIcon
{
	width: height-percentage(100%);
	height: 100%;
	margin-left: 2px;
    background-image: url("s2r://panorama/images/control_icons/socket_full_png.vtex");
    visibility: collapse;
}

.EconItemSetFrame.HasGems .GemIcon
{
    visibility: visible;
}

.RareGemIcon
{
    background-image: url("s2r://panorama/images/control_icons/socket_rare_png.vtex");
}

.EconItemSetFrame.HasRareGems .RareGemIcon
{
    visibility: visible;
}

/* EconItem set info panel, contains name + rarity */
.EconItemSetInfo
{
    margin-top: 0px;
	vertical-align: top;
    flow-children: down;
}

.EconItemSetFrame.HideSetInfo .EconItemSetInfo
{
    visibility: collapse;
}

.DeveloperOnlyLabel 
{
    margin-bottom: 6px;
	margin-left: 6px;
	vertical-align: bottom;
    horizontal-align: right;
	visibility: collapse;
	color: #DDDD40;
    font-size: 14px;
}

.EconItemSetFrame.DeveloperOnly .DeveloperOnlyLabel 
{
	visibility: visible;
}

.TestItemLabel 
{
    margin-bottom: 6px;
	margin-left: 6px;
	vertical-align: bottom;
    horizontal-align: right;
	visibility: collapse;
	color: #40DDDD;
    font-size: 14px;
}

.EconItemSetFrame.TestItem .TestItemLabel 
{
	visibility: visible;
}

#EconItemSetEquipped
{
	width: 100px;
	height: 100px;
	horizontal-align: right;
    background-image: url("s2r://panorama/images/status_icons/econtooltip_equipped_psd.vtex");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 20%;
	wash-color: #899aa9;
	visibility: collapse;
	background-color: gradient( linear, 100% 0%, 50% 40%, from( #000000ff ), color-stop( 0.22, #000000ff ), color-stop( 0.3, #00000000 ), to( transparent ) );
}

.EconItemSetFrame.GlobalItem.Equipped #EconItemSetEquipped
{
	visibility: visible;
}

/* EconItem set name */
.EconItemSetName
{
    color: white;
	text-shadow: 1px 1px 2px 1.0 #000000;
	//text-transform: uppercase;
    font-size: 16px;
	//background-color: #000000;
    padding: 6px 8px 6px 8px;
	opacity: 0.0;
}

/* EconItem set rarity, hide it if it's got no rarity [the default set] */
.EconItemSetRarityName
{
    font-size: 16px;
	text-shadow: 1px 1px 2px 1.0 #000000;
	text-transform: uppercase;
	//background-color: #000000;
    padding: -6px 8px 8px 8px;
	opacity: 0.0;
}

.EconItemSetFrame.ItemRarity_unknown .EconItemSetRarityName
{
	visibility:collapse;
}

/* This is the thin rectangle of the color of the item rarity */
.EconItemSetRarity
{
	z-index: 1001;
    margin-top: -4px;
	margin-bottom: 0px;
    height: 4px;
	width: 100%;
}

.EconItemSetEquipped .EconItemSetRarity 
{
	z-index: 1001;
    margin-top: -5px;
	margin-bottom: 0px;
    height: 4px;
	width: 100%;
}
   
/* Sets up the price frame, collapses it if we own the item */
.EconItemSetPriceFrame
{
    background-color: #000000;
    width: 100%;
    height: 32px;
}

.EconItemSetFrame.Owned .EconItemSetPriceFrame
{
    visibility: collapse;
}

/* Price variants start here - FullPrice, OnSale, OnMarket, or New */
.EconItemSetStatus
{
    color: white;
    font-size: 14px;
    margin-left: 0px;
    text-align: left;
    horizontal-align: left;
	vertical-align: center;
	text-transform: uppercase;
	border-radius: 0px;
}

.EconItemSetFrame.New .EconItemSetStatus
{
	padding-top: 9px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 8px;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #192041 ), to( #000000 ) );
    color: #028b99;
}

.EconItemSetFrame.OnSale .EconItemSetStatus
{
	padding-top: 9px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 8px;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #072c25 ), to( #000000 ) );
    color: #33bf4a;
}

.EconItemSetSaleAmount
{
	visibility: collapse;
}

.EconItemSetFrame.OnSale .EconItemSetSaleAmount
{
	visibility: visible;
	padding-top: 7px;
	padding-left: -2px;
	font-size: 14px;
    color: #abffc3;
}

.EconItemSetFrame.OnMarket .EconItemSetStatus
{
	padding-top: 9px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 8px;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #102923 ), to( #000000 ) );
    color: #a1e5dc;
}

.PriceContainer
{
	flow-children: right;
    horizontal-align: right;
	vertical-align: center;
    width: fit-children;
}

.EconItemSetPrice
{
    padding-right: 6px;
	padding-top: 2px;
	color: white;
	font-size: 14px;
    vertical-align: center;
	text-align: right;
}

.EconItemSetFrame.FullPrice	.EconItemSetPrice
{
    font-size: 14px;
	padding-top: 7px;
	padding-right: 8px;
	padding-bottom: 4px;
	color: white;
}

.TreasureIcon 
{
	visibility: collapse;
}

.EconItemSetFrame.InTreasure .TreasureIcon
{
    width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/icon_treasure_button_png.vtex");
	background-repeat: no-repeat;
    background-size: contain;
	background-position: 50% 50%;
	visibility: visible;
	vertical-align: center;
	margin-right: 3px;
}

.EconItemSetFrame.OnMarket .EconItemSetPrice
{
    font-size: 14px;
	padding-top: 7px;
	padding-right: 8px;
	padding-bottom: 4px;
	color: white;
}

.EconItemSetFrame.IsFree .EconItemSetPrice
{
	visibility: collapse;
}