
@define rarity-color-1: #808080;
@define rarity-color-2: #ff40ff;
@define rarity-color-3: #00ff00;
@define rarity-color-4: #0000ff;
@define rarity-color-5: #ffff00;

/* intended to be used with negative margins for the non-glowing version, we need the extra space for the glow to not get clipped */
DOTAEconItemDiretide
{
    //width: 232px;
    //height: 263px;
	width: height-percentage( 88.7% );
    height: 263px;
    pre-transform-scale2d: 1.0;
    transition-property: height, width, pre-transform-scale2d, box-shadow, background-color, border, saturation, brightness;
    transition-duration: 0.28s;
    transition-timing-function: ease-in-out;
    tooltip-position: right left;
}

.HexGlow
{
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/econ/diretide/hex_icon_backer_blur_psd.vtex");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat no-repeat;
    visibility: collapse;
	transition-property: background-image;
	transition-duration: .2s;
}

.Rarity__Crate_Tier1 .HexGlow
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_backer_blur_tier_1_psd.vtex");
}

.Rarity__Crate_Tier2 .HexGlow
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_backer_blur_tier_2_psd.vtex");
}

.Rarity__Crate_Tier3 .HexGlow
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_backer_blur_tier_3_psd.vtex");
}

.Rarity__Crate_Tier4 .HexGlow
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_backer_blur_tier_4_psd.vtex");
}

.Rarity__Crate_Tier5 .HexGlow
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_backer_blur_tier_5_psd.vtex");
}

.Focused DOTAEconItemDiretide.HasRarity .HexGlow
{
    visibility: visible;
}

.ItemContainer
{
    padding: 12px;
    width: 100%;
    height: 100%;
}

.HideRarityHex .ItemContainer
{
	padding: 2px;
	width: 100%;
	height: 100%;
}


DOTAEconItemDiretide #EconItemIcon
{
    width:100%;
    height:100%;
    opacity-mask: url("s2r://panorama/images/econ/diretide/hex_icon_backer_png.vtex");
}

#BackgroundFXContainer
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharper_png.vtex");
}

#BackgroundFX
{
	width: 100%;
	height: 100%;
	
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	saturation: 0;
	
	pre-transform-scale2d: 1.3;
}

.Focused #BackgroundFX
{
	visibility: visible;
}

.Focused .Rarity__Crate_Tier1 #BackgroundFX
{
	opacity: .7;
	saturation: .6;
}

.Focused .Rarity__Crate_Tier2 #BackgroundFX
{
	opacity: .8;
	saturation: .9;
	hue-rotation: 250deg;
}

.Focused .Rarity__Crate_Tier3 #BackgroundFX
{
	opacity: .8;
	saturation: .9;
	hue-rotation: 10deg;
}

.Focused .Rarity__Crate_Tier4 #BackgroundFX
{
	opacity: .8;
	saturation: 1;
	hue-rotation: 50deg;
}

.Focused .Rarity__Crate_Tier5 #BackgroundFX
{
	opacity: .8;
	saturation: 1;
	hue-rotation: 160deg;
}

.HexBackerShadow
{
	width: 100%;
    height: 100%;
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_backer_shadow_psd.vtex");
    background-size: 81% 83%;
    background-position: center;
    background-repeat: no-repeat no-repeat;
	//margin: 3px;
	img-shadow:  0px 0px 20px 13.0 black;
}

.Focused .HexBackerShadow
{
	img-shadow: none;
}

#HexIconGleam
{
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff ), to( #ffffff00 ) );

	animation-name: IconGleam;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	
	opacity-mask: url("s2r://panorama/images/econ/diretide/hex_icon_backer_png.vtex");
	
	visibility: collapse;
}

.Focused #HexIconGleam
{
	visibility: visible;
}

@keyframes 'IconGleam'
{
	0% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.01, #ffffff00), color-stop(.2, #ffffff22), color-stop(.4, #ffffff00), to( #ffffff00 ) ); }
	2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(0, #ffffff00), color-stop(.3, #ffffff22), color-stop(.6, #ffffff00), to( #ffffff00 ) ); }
	5% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.3, #ffffff00), color-stop(.5, #ffffff44), color-stop(.7, #ffffff00), to( #ffffff00 ) ); }
	8% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.4, #ffffff00), color-stop(.7, #ffffff22), color-stop(1, #ffffff00), to( #ffffff00 ) ); }
	9% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.6, #ffffff00), color-stop(.8, #ffffff22), color-stop(.99, #ffffff00), to( #ffffff00 ) ); }
	11% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.6, #ffffff00), color-stop(.8, #ffffff00), color-stop(.99, #ffffff00), to( #ffffff00 ) ); }
	100% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff00 ), color-stop(.2, #ffffff00), color-stop(.5, #ffffff00), color-stop(.6, #ffffff00), to( #ffffff00 ) ); }
}

.HexBorder
{
    width: 100%;
    height: 100%;
    //opacity-mask: url("s2r://panorama/images/econ/diretide/hex_icon_backer_border_png.vtex");
    background-image: url("s2r://panorama/images/econ/diretide/hex_icon_backer_border_psd.vtex");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat no-repeat;
	margin: 2px;
	//background-color: #ffffff44;
	//opacity: 0;
}

.Focused .HexBorder
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_backer_border_focused_psd.vtex");
}

.RecyclingItemHex .HexBorder 

{
	margin: 0px;
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_backer_border_recycling_psd.vtex");
}

.RarityHex
{
    //width: 46px;
	width: height-percentage( 88.7% );
    height: 52px;
	height: 62px;
    horizontal-align: center;
    vertical-align: top;
    visibility:collapse;
	//overflow: noclip;
	
}

.SmallRarityHex .RarityHex
{
	width: height-percentage( 88.7% );
    height: 46px;
    margin-bottom: 3px;
	vertical-align: bottom;
}

.HideRarityHex .RarityHex
{
	visibility:collapse;
}

DOTAEconItemDiretide.HasRarity:not(.HideRarityHex) .RarityHex
{
    visibility: visible;
}

.RarityHexImage
{
    width:100%;
    height:100%;
    background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_psd.vtex");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat no-repeat;
    //wash-color: rarity-color-1;
	img-shadow:  0px 0px 8px black;
}

.Rarity__Crate_Tier1 .RarityHexImage
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_tier_1_large_psd.vtex");
}

.Rarity__Crate_Tier2 .RarityHexImage
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_tier_2_large_psd.vtex");
}

.Rarity__Crate_Tier3 .RarityHexImage
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_tier_3_large_psd.vtex");
}

.Rarity__Crate_Tier4 .RarityHexImage
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_tier_4_large_psd.vtex");
}

.Rarity__Crate_Tier5 .RarityHexImage
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_tier_5_large_psd.vtex");
}

.Selected_TreasureItemRarity_Crate_Tier1 .Focused .Rarity__Crate_Tier1 .RarityHexImage,
.FilterCrate_Tier1 .TreasureRarityFilterButton.Rarity__Crate_Tier1 .RarityHexImage
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_tier_1_large_selected_psd.vtex");
}

.Selected_TreasureItemRarity_Crate_Tier2 .Focused .Rarity__Crate_Tier2 .RarityHexImage,
.FilterCrate_Tier2 .TreasureRarityFilterButton.Rarity__Crate_Tier2 .RarityHexImage
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_tier_2_large_selected_psd.vtex");
}

.Selected_TreasureItemRarity_Crate_Tier3 .Focused .Rarity__Crate_Tier3 .RarityHexImage,
.FilterCrate_Tier3 .TreasureRarityFilterButton.Rarity__Crate_Tier3 .RarityHexImage
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_tier_3_large_selected_psd.vtex");
}

.Selected_TreasureItemRarity_Crate_Tier4 .Focused .Rarity__Crate_Tier4 .RarityHexImage,
.FilterCrate_Tier4 .TreasureRarityFilterButton.Rarity__Crate_Tier4 .RarityHexImage
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_tier_4_large_selected_psd.vtex");
}


.Selected_TreasureItemRarity_Crate_Tier5 .Focused .Rarity__Crate_Tier5 .RarityHexImage,
.FilterCrate_Tier5 .TreasureRarityFilterButton.Rarity__Crate_Tier5 .RarityHexImage
{
	background-image: url("s2r://panorama/images/econ/diretide/hex_icon_rarity_shadow_tier_5_large_selected_psd.vtex");
}



.RarityHexText
{
    horizontal-align: center;
    text-align: center;
    //color: rarity-color-1;
    font-size: 43px;
    font-family: defaultFont;
    font-weight: bold;
    text-shadow: 0px 1px 8px 4.0 #000000;

    margin-top: 11px;
    padding-right: 3px;
	
	color: red;
}

.TreasureRarityFilterButton .RarityHexText
{
	padding-right: 1px;
}



.Rarity__Crate_Tier1 .RarityHexText
{
	color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff ), color-stop(.4, #ffffff), to( #ffffff33 ) );
}

.Rarity__Crate_Tier2 .RarityHexText
{
	color: gradient( linear, 0% 0%, 100% 100%, from( #E0FFD5 ), color-stop(.4, #E0FFD5), to( #89EA68 ) );
}

.Rarity__Crate_Tier3 .RarityHexText
{
	color: gradient( linear, 0% 0%, 100% 100%, from( #D5F0FF ), color-stop(.4, #D5F0FF), to( #68A4EA ) );
}

.Rarity__Crate_Tier4 .RarityHexText
{
	color: gradient( linear, 0% 0%, 100% 100%, from( #F5E4FF ), color-stop(.4, #F5E4FF), to( #B15DE5 ) );
}

.Rarity__Crate_Tier5 .RarityHexText
{
	color: gradient( linear, 0% 0%, 100% 100%, from( #FFDCC9 ), color-stop(.4, #FFDCC9), to( #E9A743 ) );
}

.Selected_TreasureItemRarity_Crate_Tier1 .Focused  .Rarity__Crate_Tier1 .RarityHexText,
.FilterCrate_Tier1 .TreasureRarityFilterButton.Rarity__Crate_Tier1 .RarityHexText,
{
	color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff ), color-stop(.68, #ffffff), to( #ffffff33 ) );
	text-shadow: 0px 1px 12px 1.0 #bffffe55;
	margin-left: 1px;
	padding-right: 1px;
}

.Selected_TreasureItemRarity_Crate_Tier2 .Focused  .Rarity__Crate_Tier2 .RarityHexText,
.FilterCrate_Tier2 .TreasureRarityFilterButton.Rarity__Crate_Tier2 .RarityHexText,
{
	color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff ), color-stop(.68, #ffffff), to( #89EA68 ) );
	text-shadow: 0px 1px 8px 1.0 #0fba50;
	margin-left: 1px;
	padding-right: 1px;
}

.Selected_TreasureItemRarity_Crate_Tier3 .Focused  .Rarity__Crate_Tier3 .RarityHexText,
.FilterCrate_Tier3 .TreasureRarityFilterButton.Rarity__Crate_Tier3 .RarityHexText,
{
	color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff ), color-stop(.7, #ffffff), to( #68A4EA ) );
	text-shadow: 0px 1px 8px 1.0 #4a7dffdd;
	margin-left: 1px;
	padding-right: 0px;
}

.Selected_TreasureItemRarity_Crate_Tier4 .Focused  .Rarity__Crate_Tier4 .RarityHexText,
.FilterCrate_Tier4 .TreasureRarityFilterButton.Rarity__Crate_Tier4 .RarityHexText,
{
	color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff ), color-stop(.7, #ffffff), to( #B15DE5 ) );
	text-shadow: 0px 1px 8px 1.0 #f04affaa;
	margin-left: 1px;
}

.Selected_TreasureItemRarity_Crate_Tier5 .Rarity__Crate_Tier5 .RarityHexText
{
	color: gradient( linear, 0% 0%, 100% 100%, from( #ffffff ), color-stop(.75, #ffffff), to( #E9A743 ) );
	text-shadow: 0px 1px 8px 1.0 #ffac4aaa;
	margin-left: 2px;
}

.SmallRarityHex .RarityHexText
{
    font-size: 20px;
	margin-top: 11px;
	margin-left: 2px;
}


/* Remember you can use hsv-transform to re-use a color with slight tweaks
 * e.g. hsv-transform( rarity-color-1, 0.0, 1.0, 1.2 ) is the same color
 * but 20% brighter (assuming color components stay within 0-1 range)
 */
.Focused .Rarity__Crate_Tier1 .HexBackerShadow
 {
	 //img-shadow:  0px 0px 30px 0.0 #B9CCD0;
	 //wash-color: red;
 }
 
 
//.Rarity__Crate_Tier1 .HexGlow { wash-color: rarity-color-1; }
//.Rarity__Crate_Tier2 .HexGlow { wash-color: rarity-color-2; }
//.Rarity__Crate_Tier3 .HexGlow { wash-color: rarity-color-3; }
//.Rarity__Crate_Tier4 .HexGlow { wash-color: rarity-color-4; }
//.Rarity__Crate_Tier5 .HexGlow { wash-color: rarity-color-5; }

//.Rarity__Crate_Tier1 .RarityHexImage { wash-color: rarity-color-1; }
//.Rarity__Crate_Tier2 .RarityHexImage { wash-color: rarity-color-2; }
//.Rarity__Crate_Tier3 .RarityHexImage { wash-color: rarity-color-3; }
//.Rarity__Crate_Tier4 .RarityHexImage { wash-color: rarity-color-4; }
//.Rarity__Crate_Tier5 .RarityHexImage { wash-color: rarity-color-5; }

//.Rarity__Crate_Tier1 .RarityHexText { color: rarity-color-1; }
//.Rarity__Crate_Tier2 .RarityHexText { color: rarity-color-2; }
//.Rarity__Crate_Tier3 .RarityHexText { color: rarity-color-3; }
//.Rarity__Crate_Tier4 .RarityHexText { color: rarity-color-4; }
//.Rarity__Crate_Tier5 .RarityHexText { color: rarity-color-5; }
