DOTAEconItem
{
	width: 89px;
	height: 96px;
	//width: 96px;
	//height: 104px;
    margin: 6px;
	box-shadow: fill #000000aa 0px 0px 2px 2px;
	border: 1px solid #aaaaaa11;
	pre-transform-scale2d: 1.0;
	border: 2px solid black;
	background-color: black;
	wash-color: #899aa944;
	saturation: 0.9;

	transition-property: height, width, pre-transform-scale2d, box-shadow, background-color, border, wash-color, saturation, brightness;
	transition-duration: 0.28s;
	transition-timing-function: ease-in-out;
	tooltip-position: right left;
}

EconItemImage
{
	transition-property: wash-color, saturation, brightness;
	transition-duration: 0.28s;
	transition-timing-function: ease-in-out;	
}

.ScratchPadVisible DOTAEconItem
{
	width: 76px;
	height: 82px;
	
	width: 74px;
	height: 80px;
}

.CraftingVisible.ScratchPadVisible DOTAEconItem
{
	width: 45px;
	height: 48px;
	margin: 4px;	
}

.CraftingVisible DOTAEconItem
{
	width: 48px;
	height: 52px;
	margin: 4px;
}

#CraftingPanel DOTAEconItem
{
	width: 96px;
	height: 104px;
}

#ClearCollection
{	
	margin-top: 12px;
	vertical-align: top;
	horizontal-align: center;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: transparent;
	opacity: 0;
	transition-property: opacity, color;
	transition-duration: 0.28s;
	transition-timing-function: ease-in-out;
}
.DropWillRemove DOTAEconItem #MultiStyle,
.DropWillRemove DOTAEconItem EconItemImage
{
	saturation: .1;
	brightness: .12;
}

.DropWillRemove #ClearCollection
{
	opacity: 1;
	color: white;
}

DOTAEconItem #EconItemIcon
{
    height: 100%;
    width: 100%;
    horizontal-align: center;
    margin-top: -2px;
    margin-bottom: 2px;
}

DOTAEconItem:hover
{
	pre-transform-scale2d: 1.05;
	box-shadow: fill #000000aa -2px -2px 8px 9px;
	border: 2px solid black;
	wash-color: #899aa900;
	saturation: 1.0;
}

DOTAProfileCard #ShowcaseItemContents DOTAEconItem:hover
{
	pre-transform-scale2d: 1.00;
	wash-color: #899aa944;
	saturation: 0.9;
}


DOTAEconItem:selected
{	
	border: 2px solid white;
	//box-shadow: #5b62bf -4px -2px 8px 2px;
}

DOTAEconItem.Equipped #Equipped
{
	visibility: visible;
}

DOTAEconItem.Equipped.DisableEquipped #Equipped
{
	visibility: collapse;
}

DOTAEconItem.Equipped:selected
{	
	//border: 2px solid white;
}


#NewItem
{
	height: 16px;
	background-color: #00ff00;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00ff00 ), color-stop( 0.35, #00dd00 ), to( #00aa00 ) );
	border: 1px solid green;
	margin: 0px;
	opacity: 0;
	box-shadow: fill #000000aa -2px -2px 4px 4px;

	transition-property: opacity;
	transition-duration: 0.34s;
	transition-timing-function: ease-in-out;
}

#NewItem Label
{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	color: #ddffdd;
	//font-weight: bold;
	padding: 1px 2px 4px 4px;
	text-shadow: 0px 1px 1px 2 #007700;
}

DOTARecentArmoryItem.New #NewItem,
DOTAEconItem.New #NewItem
{
	opacity: 1;
}

#Equipped
{
	width: 20%;
	height: 20%;
	horizontal-align: right;
    background-image: url("s2r://panorama/images/status_icons/econtooltip_equipped_psd.vtex");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	wash-color: #B3DFDC;
	visibility: collapse;
	background-color: gradient( linear, 100% 0%, 50% 40%, from( #000000ff ), color-stop( 0.22, #000000ff ), color-stop( 0.3, #00000000 ), to( transparent ) );
}

DOTAPostGameOverviewHero DOTAEconItem.Equipped #Equipped
{
	visibility: collapse;
}

#TopLayer
{
	width: 100%;
	height: 100%;
	background-color: #ffffff00;

	transition-property: background-color;
	transition-duration: 0.28s;
	transition-timing-function: ease-in-out;

	visibility: collapse; //Not used for now.
}

#BottomLayer
{
	vertical-align: bottom;
	width: 100%;
	height: 3px;
}

#BottomLayerOverlay
{
	width: 100%;
	height: 100%;

	transition-property: background-color;
	transition-duration: 0.28s;
	transition-timing-function: ease-in-out;

	background-color: gradient( linear, 100% 0%, 0% 0%, from( #000000aa ), color-stop( 0.35, #00000000 ), color-stop( 0.65, #00000000 ), to( #000000aa ) );
}
.ScratchPadVisible #BottomLayerOverlay
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), color-stop( 0.35, #00000000 ), color-stop( 0.65, #00000000 ), to( #00000000 ) );	
}

DOTAEconItem.HoveredSet
{
	border: 2px solid #444444;
	saturation: 1.0;
	brightness: 2.0;
}

DOTAEconItem.New.HoveredSet
{
	border: 2px solid #47D148;
}

DOTAEconItem.HoveredSet:selected
{
	border: 2px solid white;
}

DOTAEconItem #Inspect
{
	width: 28%;
	height: width-percentage( 100% );
	margin-bottom: 3px;
	wash-color: #bbbbbb;
	horizontal-align: right;
	vertical-align: bottom;

    background-image: url("s2r://panorama/images/control_icons/icon_search_shadow_psd.vtex");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	pre-transform-scale2d: 1;
	opacity: 0;

	transition-property: wash-color, pre-transform-scale2d, opacity;
	transition-duration: 0.28s;
	transition-timing-function: ease-in-out;
}

DOTAWheelSegment DOTAEconItem.CanInspect:hover #Inspect
{
	opacity: 0;
	wash-color: red;
}

DOTAEconItem.CanInspect:hover #Inspect
{
	opacity: 1;
}

#Inspect:hover
{
	wash-color: white;
	pre-transform-scale2d: 1.3;
}

DOTAEconItem.DisableInspect #Inspect
{
	visibility: collapse;
}

.AttributeIconContainer 
{
    width: 100%;
    height: 25%;
    vertical-align: bottom;
	margin-left: 1px;
    margin-bottom: 4px;
}

.AttributeIconContainer Panel
{
	tooltip-position: bottom;
	tooltip-body-position: 50% 50%;
}

.InformationalImage
{
	width: height-percentage( 100% );
	height: 100%;
    visibility: collapse;
    background-color: #000000bb;
 	background-repeat: no-repeat;
    border-radius: 3px;
	background-size: contain;
	margin-left: 1px;
	margin-right: 1px;
}

/* This is the logic that makes the seasonal image appear */
.Seasonal 
{
    background-image: url("s2r://panorama/images/control_icons/battlepass_logo_small_png.vtex");
}

DOTAEconItem.Seasonal .Seasonal
{
	visibility: visible;
    wash-color: #e54e42;
	
	/* Fall 2016*/
	wash-color: #59e542;
}

/* This is the logic that makes the purgatory image appear */
.Purgatory 
{
    background-image: url("s2r://panorama/images/control_icons/purgatory_png.vtex");
}

DOTAEconItem.InPurgatory .Purgatory
{
	visibility: visible;
}

/* This is the logic that makes the bundle image appear */
.Bundle 
{
    background-image: url("s2r://panorama/images/control_icons/brackets_png.vtex");
}

DOTAEconItem.IsBundle .Bundle
{
	visibility: visible;
}

DOTAWheelSegment DOTAEconItem .Bundle
{
	opacity: 0;
}

/* This is the logic that makes the treasure image appear */
.Treasure 
{
    background-image: url("s2r://panorama/images/icon_treasure_button_png.vtex");
 	background-repeat: no-repeat;
	background-position: center;
}

DOTAEconItem.IsTreasure .Treasure
{
	visibility: visible;
}

/* This is the logic that makes the multistyle image appear */
#MultiStyle 
{
	visibility: collapse;
	width: fit-children;
	height: 100%;
}

DOTAEconItem.MultipleStyles #MultiStyle
{
	visibility: visible;
}

.MultiStyleSubGroup 
{
	width: fit-children;
	height: 100%;
}

#MultiStyleIcon
{
    background-image: url("s2r://panorama/images/control_icons/icon_multiple_styles_png.vtex");
    visibility: visible;
}

#StyleLockedIcon
{
	margin-left: 3px;
	margin-top: 3px;
  	width: height-percentage( 100% );
	height: 100%;
    background-image: url("s2r://panorama/images/control_icons/lock_small_png.vtex");
	background-size: contain;
	visibility: collapse;
	margin-left: 1px;
	margin-right: 1px;
}

DOTAEconItem.StyleLocked #StyleLockedIcon
{
	visibility: visible;
}

#StyleIndex 
{
	color: red;
	visibility: collapse;
    text-shadow: 1px 1px 1px #000000ff;
    vertical-align: bottom;
}

DOTAEconItem.LimitToSingleStyle #StyleIndex
{
	//visibility: visible;
}

/* This is the logic that makes the multi team image appear */
.MultiTeam 
{
    background-image: url("s2r://panorama/images/team_icons/dire_png.vtex");
	visibility: collapse;
}

DOTAEconItem.HasTeamSpecificViews .MultiTeam
{
	visibility: visible;
}

.EmptySocketIcon
{
    background-image: url("s2r://panorama/images/control_icons/socket_empty_png.vtex");
}

DOTAEconItem.HasEmptySockets .EmptySocketIcon
{
    visibility: visible;
}

.GemIcon
{
    background-image: url("s2r://panorama/images/control_icons/socket_full_png.vtex");
}

DOTAEconItem.HasGems .GemIcon
{
    visibility: visible;
}

.RareGemIcon
{
    background-image: url("s2r://panorama/images/control_icons/socket_rare_png.vtex");
}

DOTAEconItem.HasRareGems .RareGemIcon
{
    visibility: visible;
}

/* DOTAEconItem used within the profile card is styled slightly differently */
DOTAEconItem.ProfileCardItem
{
	margin: 0px;
	box-shadow: none;
	border: 0px solid transparent;
}

DOTAEconItem.ProfileCardItem:hover 
{
	box-shadow: none;
	border: 0px solid transparent;
}

DOTAEconItem.ProfileCardItem #MultiStyle
{
	visibility: collapse;
}

DOTAEconItem.ProfileCardItem.CanInspect #Inspect
{
	visibility: collapse;
}

DOTAEconItem.Hidden
{
	opacity: 0;
}


Winter2016RewardItem DOTAEconItem #Inspect
{
	width: 100%;
	opacity: 0;
}

#DropsContainer DOTAEconItem #Inspect
{
	width: 100%;
	height: 100%;
	opacity: 0.01;
}

Winter2016RewardItem DOTAEconItem.CanInspect:hover #Inspect
{
	opacity: 0.01;

}

#PlayerCard
{
	width: 100%;
	height: 100%;

	border-radius: 8px;

	background-color: #3c9a39;

	visibility: collapse;
}

.IsPlayerCard #PlayerCard
{
	visibility: visible;
}

.IsSilver #PlayerCard #Inset 
{
	background-color: #5D6265;
}

.IsSilver #PlayerCard
{
	background-color: #CACACA;
}

.IsGold #PlayerCard #Inset 
{
	background-color: #c4a244;
}

.IsGold #PlayerCard
{
	background-color: #face55;
}

#PlayerCard #Inset
{
	width: 94%;
	height: 94%;

	horizontal-align: center;
	vertical-align: center;

	border-radius: 6px;

	background-color: #1a5415;
}

#PlayerCard #Headshot
{
	width: 100%;
	height: 100%;
	
	vertical-align: top;
	horizontal-align: center;
}

#PlayerCard #PlayerName
{
	width: 100%;
	text-align: center;
	vertical-align: bottom;
	background-color: black;

	font-size: 12px;
	margin-bottom: -2px;

}