DOTAGameNeutralItemTable
{
	width: fit-children;
	height: 100%;
	flow-children: right;
}

.ColumnTitle
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	color: #ccc;
}

#NeutralItems
{
	flow-children: down;
}

#NeutralItemsTable
{
	flow-children: down;
	background-color: #0009;
	padding: 3px 0px 0px 6px;
	height: 749px;
}

#NeutralItemsTable .NeutralItemsTier
{
	flow-children: down;
	margin-bottom: 4px;
}

#NeutralItemsTable .NeutralItemsTierHeader
{
	flow-children: right;
	width: 100%;
}

#NeutralItemsTable .NeutralItemsTierName
{
	text-transform: uppercase;
	font-size: 16px;
	color: #999;
	letter-spacing: 2px;
}

#NeutralItemsTable .NeutralItemsTierTimes
{
	text-transform: uppercase;
	font-size: 16px;
	color: #666;
	letter-spacing: 1px;
	padding-right: 6px;
}


#NeutralItemsTable #NeutralItemsList
{
	flow-children: right-wrap;
	max-width: 380px;
}

.AspectRatio4x3 #NeutralItemsTable #NeutralItemsList
{
	max-width: 280px;
}

#NeutralItemsTable .TierName
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	color: #666;
	margin-bottom: 2px;
}

#NeutralItemsTable DOTAShopItem
{
	width: 52px;
	height: width-percentage( 72.7% );
	margin: 0px 6px 6px 0px;

	box-shadow: 0px 0px 4px black;

	brightness: 0.93;
	saturation: 0.9;

	transition-property: box-shadow, saturation, brightness;
	transition-duration: 0.2s;
}

.AspectRatio4x3 #NeutralItemsTable DOTAShopItem
{
	width: 40px;
}

#NeutralItemsTable DOTAShopItem:hover
{
	brightness: 1.5;
	saturation: 1.0;
}

#NeutralItemsTable DOTAShopItem:active
{
	brightness: 2.0;
	saturation: 1.0;
}

.HighlightItemsMatchingName #NeutralItemsTable DOTAShopItem:not(.Highlighted)
{
	brightness: 0.1;
	saturation: 0.1;
}

#NeutralItemsTable DOTAShopItem.Highlighted
{
	box-shadow: 0px 0px 8px aqua;
}

#GlossaryPage_items #NeutralItemsTable DOTAShopItem.Selected
{
	box-shadow: 0px 0px 8px gold;
}