DOTAGameNeutralItemTable
{
	width: fit-children;
	height: 100%;
	flow-children: right;
}

.ColumnTitle
{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	color: #ccc;
	horizontal-align: center;
	font-weight: bold;
	z-index: 2;
	text-shadow: 1px 1px 4px 2 black;
}


#NeutralItems
{
	flow-children: down;
}

.Clock
{
	width: 10px; 
	height: 10px;
	background-image: url("s2r://panorama/images/status_icons/clock_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #333;
	vertical-align: middle;
	margin-bottom: 1px;
	margin-right: 4px;
}

.LeftRightFlow
{
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

#NeutralItemsTable
{
	flow-children: down;
	background-color: #000c;
	padding: 12px 16px 0px 16px;
	height: 749px;
	width: 330px;
	border: 1px solid #5b687233;
	box-shadow: 0px 0px 12px #0008;
	padding-right: 10px;
}

.AspectRatio16x10 #NeutralItemsTable
{
	width: 300px;
	padding: 12px 6px 0px 6px;
	padding-right: 0px;
}

.AspectRatio4x3 #NeutralItemsTable
{
	width: 250px;
	padding: 4px 6px 0px 6px;
	padding-right: 0px;
}

#NeutralItemsTable .NeutralItemsTier
{
	flow-children: down;
	margin-bottom: 16px;
}

.NeutralItemsOnly #NeutralItemsTable .NeutralItemsTier
{
	margin: 6px;
}


#NeutralItemsTable .NeutralItemsTierHeader
{
	flow-children: right;
	width: 100%;
}

#NeutralItemsTable .NeutralItemsTierName
{
	text-transform: uppercase;
	font-size: 16px;
	color: #999;
	letter-spacing: 2px;
}

#NeutralItemsTable .NeutralItemsTierTimes
{
	text-transform: uppercase;
	font-size: 16px;
	color: #666;
	letter-spacing: 1px;
	padding-right: 6px;
}


#NeutralItemsTable #NeutralItemsList
{
	flow-children: right-wrap;
	max-width: 380px;
}

.AspectRatio4x3 #NeutralItemsTable #NeutralItemsList
{
	max-width: 280px;
}

#NeutralItemsTable .TierName
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	color: #666;
	margin-bottom: 2px;
}

#NeutralItemsTable DOTAShopItem
{
	width: 44px;
	height: width-percentage( 72.7% );
	margin: 0px 6px 6px 0px;

	box-shadow: 0px 0px 4px black;

	brightness: 0.93;
	saturation: 0.9;

	transition-property: box-shadow, saturation, brightness;
	transition-duration: 0.2s;
}

.AspectRatio16x10 #NeutralItemsTable DOTAShopItem 
{
	width: 42px;
}

.AspectRatio4x3 #NeutralItemsTable DOTAShopItem
{
	width: 36px;
	margin-right: 4px;
}

#NeutralItemsTable DOTAShopItem:hover
{
	brightness: 1.5;
	saturation: 1.0;
}

#NeutralItemsTable DOTAShopItem:active
{
	brightness: 2.0;
	saturation: 1.0;
}

.HighlightItemsMatchingName #NeutralItemsTable DOTAShopItem:not(.Highlighted)
{
	brightness: 0.1;
	saturation: 0.1;
}

#NeutralItemsTable DOTAShopItem.Highlighted
{
	box-shadow: 0px 0px 8px aqua;
}

#GlossaryPage_items #NeutralItemsTable DOTAShopItem.Selected
{
	box-shadow: 0px 0px 8px gold;
}