DOTAGameItemTable
{
	width: fit-children;
	height: 100%;
    flow-children: right;
}

.ColumnTitle
{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	color: #ccc;
	horizontal-align: center;
	font-weight: bold;
	z-index: 2;
	text-shadow: 1px 1px 4px 2 black;
}


/* ------------------------------------------------------------------------- */

#ShopContents
{
	flow-children: right;
}

.ShopItemsCategory
{
	flow-children: none;
	margin-right: 12px;
}

.ShopItemsSections
{
	flow-children: right-wrap;
	max-width: 600px;
	background-color: #000c;
	height: 749px;
	padding-top: 12px;
	border: 1px solid #5b687233;
	box-shadow: 0px 0px 12px #0008;
}


.AspectRatio16x10 .ShopItemsSections
{
	max-width: 585px;
}

.AspectRatio4x3 .ShopItemsSections
{
	max-width: 500px;
	padding-top: 4px;
}

.AspectRatio4x3 #BasicItems
{
	max-width: 440px;
}

.SmallItemIcons .ShopItemsSections
{
	max-width: 400px;
}

.ShopItemSection
{
	flow-children: down;
	padding-left: 16px;
	padding-right: 16px;
	max-width: 280px;
	margin-bottom: 16px;
}

.AspectRatio16x10 .ShopItemSection
{
	max-width: 264px;
	padding-left: 6px;
	padding-right: 6px;
}


.AspectRatio4x3 .ShopItemSection
{
	max-width: 240px;
	padding-left: 6px;
	padding-right: 6px;
}

.SmallItemIcons .ShopItemSection
{
	max-width: 200px;
}

.ShopItemSectionName
{
	text-transform: uppercase;
	color: #999;
	font-size: 16px;
	letter-spacing: 2px;
}

.ShopItemSection #ShopItemSectionItemList
{
	flow-children: right-wrap;
}

.ShopItemSection DOTAShopItem
{
	width: 50px;
	height: width-percentage( 72.7% );
	margin: 0px 6px 6px 0px;

	box-shadow: 0px 0px 4px black;

	brightness: 0.93;
	saturation: 0.9;

	transition-property: box-shadow, saturation, brightness;
	transition-duration: 0.2s;
}

.AspectRatio16x10 .ShopItemSection DOTAShopItem 
{
	width: 50px;
}

.AspectRatio4x3 .ShopItemSection DOTAShopItem
{
	width: 40px;
}

.SmallItemIcons .ShopItemSection DOTAShopItem
{
	width: 40px;
}

.ShopItemSection DOTAShopItem:hover
{
	brightness: 1.5;
	saturation: 1.0;
}

.ShopItemSection DOTAShopItem:active
{
	brightness: 2.0;
	saturation: 1.0;
}

.HighlightItemsMatchingName .ShopItemSection DOTAShopItem:not(.Highlighted)
{
	brightness: 0.1;
	saturation: 0.1;
}

.ShopItemSection DOTAShopItem.Highlighted
{
	box-shadow: 0px 0px 8px aqua;
}

#GlossaryPage_items .ShopItemSection DOTAShopItem.Selected
{
	box-shadow: 0px 0px 8px gold;
}

#ShopKeeperArt
{
	width: 280px;
	height: 50%;
	horizontal-align: right;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/textures/secret_shop_psd.vtex");
	background-size: cover;
	z-index: 2;
	margin-right: 1px;
	margin-bottom: 1px;
}