DOTAGameItemTable
{
	width: fit-children;
	height: 100%;
    flow-children: right;
}

.ColumnTitle
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	color: #ccc;
	margin-bottom: 4px;
}

/* ------------------------------------------------------------------------- */

#ShopContents
{
	flow-children: right;
	margin-left: 16px;
}

.ShopItemsCategory
{
	flow-children: down;
	margin-right: 24px;
}

.ShopItemsColumns
{
	flow-children: right;
}

.ShopItemsColumn
{
	flow-children: down;
	margin-right: 6px;
}

.ShopItemsColumn DOTAShopItem
{
	width: 62px;
	height: width-percentage( 72.7% );
	margin-bottom: 6px;

	box-shadow: 0px 0px 4px black;

	transition-property: box-shadow;
	transition-duration: 0.2s;
}

.SmallItemIcons .ShopItemsColumn DOTAShopItem
{
	width: 50px;
}

.AspectRatio4x3 .ShopItemsColumn DOTAShopItem
{
	width: 50px;
}

.ShopItemsColumn DOTAShopItem
{
	brightness: 0.93;
	saturation: 0.9;

	transition-property: saturation, brightness;
	transition-duration: 0.2s;
}

.HighlightNoneShop .ShopItemsColumn DOTAShopItem:hover,
.HighlightMainShop .ShopItemsColumn DOTAShopItem:hover,
.HighlightSecretShop .ShopItemsColumn DOTAShopItem:hover,
.HighlightSideShop .ShopItemsColumn DOTAShopItem:hover
{
	brightness: 1.5;
	saturation: 1.0;
}

.HighlightNoneShop .ShopItemsColumn DOTAShopItem:active,
.HighlightMainShop .ShopItemsColumn DOTAShopItem:active,
.HighlightSecretShop .ShopItemsColumn DOTAShopItem:active,
.HighlightSideShop .ShopItemsColumn DOTAShopItem:active
{
	brightness: 2.0;
	saturation: 1.0;
}

.HighlightMainShop .ShopItemsColumn DOTAShopItem,
.HighlightSideShop .ShopItemsColumn DOTAShopItem,
.HighlightSecretShop .ShopItemsColumn DOTAShopItem
{
	brightness: 0.1;
	saturation: 0.1;
}

.HighlightNoneShop .ShopItemsColumn DOTAShopItem,
.HighlightMainShop .ShopItemsColumn DOTAShopItem.BuildsAtMainShop,
.HighlightSecretShop .ShopItemsColumn DOTAShopItem.BuildsAtSecretShop,
.HighlightSideShop .ShopItemsColumn DOTAShopItem.BuildsAtSideShop
{
	brightness: 0.93;
	saturation: 0.9;
}

.HighlightItemsMatchingName .ShopItemsColumn DOTAShopItem:not(.Highlighted)
{
	brightness: 0.1;
	saturation: 0.1;
}

.ShopItemsColumn DOTAShopItem.Highlighted
{
	box-shadow: 0px 0px 8px aqua;
}

#UpgradeItems DOTAShopItem
{
	tooltip-position: left;
}
