DOTAHeroGuideViewer
{
	width: 100%;
	height: 100%;
    flow-children: down;
}

.GuideBuilderContainer
{
    width: 100%;
	height: 100%;
}

.TitleBar
{
    flow-children: right;
    horizontal-align: center;
    height: 48px;
    margin-bottom: 6px;
}

.GuideTitleContainer
{
    vertical-align: center;
    flow-children: down;
}

.WorkshopTitle
{
    margin-top: 2px;
    margin-left: 20px;
}

.GuideNameTitle
{
    font-size: 24px;
    vertical-align: center;
}

.IsWorkshopGuide .GuideNameTitle.Default
{
    visibility: collapse;
}

.GuideNameTitle.Workshop
{
    horizontal-align: center;
    visibility: collapse;
}

.IsWorkshopGuide .GuideNameTitle.Workshop
{
    visibility: visible;
}

.GameplayVersion
{
    visibility: collapse;
	color: #e8e787;
    margin-right: 8px;
}

.HasGameplayVersion .GameplayVersion
{
    visibility: visible;
}

.Role
{
    visibility: collapse;
	color: #e8e787;
    margin-right: 8px;
}

.HasRole .Role
{
    visibility: visible;
}

.GuideNameSubTitle
{
    font-size: 14px;
    horizontal-align: center;
    visibility: collapse;
}

.IsWorkshopGuide:not(.IsCopiedGuide) .GuideNameSubTitle
{
    visibility: visible;
}

.GuideNameSubTitle.OriginalCreator
{
    visibility: collapse;
}

.IsWorkshopGuide .GuideNameSubTitle.OriginalCreator
{
    visibility: collapse;
}

.IsWorkshopGuide.IsCopiedGuide .GuideNameSubTitle.OriginalCreator
{
    visibility: visible;
}

#HeroIcon
{
	width: height-percentage( 177.77% );
	height: 100%;
    margin-right: 16px;
	background-size: cover;
}

/* ----------------------------- */

.WorkshopTitle
{
    visibility: collapse;
}

.IsWorkshopGuide.IsPublic .WorkshopTitle
{
    visibility: visible;
}

/* ----------------------------- */

#VotingButtons
{
    vertical-align: center;
	flow-children: right;
    visibility: collapse;
}

.IsWorkshopGuide.IsPublic:not(.IsCopiedGuide) #VotingButtons
{
    visibility: visible;
}

#VoteUpButton
{
	flow-children: right;
	margin-left: 8px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 50% 50%;
}

#VoteDownButton
{
	flow-children: right;
	margin-left: 4px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	tooltip-arrow-position: 50% 50%;
}

.VoteIcon
{
	width: 36px;
	height: 36px;
	wash-color: #7595B5;
	margin-top: 2px;
	border-radius: 3px;
	padding: 4px;

	transition-property: wash-color;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.VoteIconFlipped
{
	transform: scaleX(-1) scaleY(-1);
	margin-top: 2px;
	margin-bottom: 0px;
}

#VoteUpButton:hover .VoteIcon
{
	wash-color: #A4E84A;
}

.VotedYes #VoteUpButton .VoteIcon
{
	wash-color: #A4E84A;
}

#VoteDownButton:hover .VoteIcon
{
	wash-color: #cc4422;
}

.VotedNo #VoteDownButton .VoteIcon
{
	wash-color: #cc4422;
}


#VoteDownButton:active .VoteIcon, #VoteUpButton:active .VoteIcon
{
	background-color: #000000ff;
}

/* ----------------------------- */

ToggleButton#FavoriteStar
{
    margin-left: 8px;
    vertical-align: center;
	width: 36px;
	height: 36px;
    padding: 0px 0px;
    background-image: url("s2r://panorama/images/control_icons/star_favorite_psd.vtex");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    wash-color: #444444;
    visibility: collapse;
}

.IsWorkshopGuide.IsPublic:not(.IsCopiedGuide) ToggleButton#FavoriteStar
{
    visibility: visible;
}

ToggleButton#FavoriteStar:hover
{
	wash-color: #4582ad;
}

ToggleButton#FavoriteStar:selected
{
	background-image: url("s2r://panorama/images/control_icons/star_favorite_selected_psd.vtex");
	wash-color: #65b9f5;
}

ToggleButton#FavoriteStar:selected:hover
{
	wash-color: #7ee6ff;
}

// hide parts of the toggle button we don't want
ToggleButton#FavoriteStar .TickBox { visibility: collapse; }
ToggleButton#FavoriteStar .Label { visibility: collapse; }


/* ----------------------------- */

.GuideViewerContainer
{
    width: 100%;
    height: 700px;
    background-color: #00000088;
    flow-children: down;
    margin-left: 64px;
    margin-right: 64px;
    overflow: squish scroll;
}

.GuideViewerSectionTitle
{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 4px;
    border-bottom: 2px solid grey;
    margin-left: 64px;
    margin-right: 64px;
}

.GuideViewerSection
{
    margin-top: 8px;
    margin-bottom: 8px;
    horizontal-align: center;
}

/* ----------------------------- */

.AbilitySection
{
    flow-children: right;
    visibility: collapse;
}

.HasAbilityBuild .AbilitySection
{
    visibility: visible;
}

.StatBranchBackground
{
    margin-left: 32px;
    vertical-align: center;
    horizontal-align: center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from ( #181b1d), to ( #22292f ) );
	box-shadow: #000000 -4px -4px 8px 8px;
}

/* ----------------------------- */

.ItemSection
{
    visibility: collapse;
}

.HasItemBuild .ItemSection
{
    visibility: visible;
}

#ItemCategoryList
{
    width: 100%;
    margin-left: 32px;
    margin-right: 32px;
    flow-children: right-wrap;
}

.ItemCategory
{
    flow-children: down;
    margin-bottom: 8px;
    margin-right: 12px;
    border: 1px solid #E7D29188;
    padding-top: 4px;
    padding-bottom: 8px;
}

.CategoryName
{
    margin-left: 6px;
    text-transform: uppercase;
    color: #E7D29188;
    font-size: 18px;
    font-weight: bold;
}

#ItemList
{
    flow-children: right;
}

#ItemList DOTAItemImage
{
    margin-left: 6px;
    margin-right: 6px;
    width: 64px;
}

/* ----------------------------- */

.GuideOverview
{
    margin-left: 64px;
    margin-right: 64px;
    visibility: collapse;
}

.HasOverview .GuideOverview
{
    visibility: visible;
}

.GuideOverview a
{
    color: #F7E2A188;
    text-decoration: underline;
}

.GuideOverview a:hover
{
    color: white;
}

/* ----------------------------- */

.SkillComments
{
    visibility: collapse;
}

.HasCommentedAbilities .SkillComments
{
    visibility: visible;
}


#AbilityGuideViewer
{            
    width: 100%;
    margin-left: 64px;
    margin-right: 64px;
}

/* ----------------------------- */

.TalentComments
{
    visibility: collapse;
}

.HasCommentedTalents .TalentComments
{
    visibility: visible;
}

#TalentGuideViewer
{            
    width: 100%;
    margin-left: 64px;
    margin-right: 64px;
}

/* ----------------------------- */

.ItemComments
{
    visibility: collapse;
}

.HasCommentedItems .ItemComments
{
    visibility: visible;
}

#ItemGuideViewer
{            
    width: 100%;
    margin-left: 64px;
    margin-right: 64px;
}

/* ----------------------------- */
.FooterBar
{
    flow-children: right;
    horizontal-align: center;
    margin-top: 24px;
    height: 48px;
}

.FooterBar Button
{
    margin-left: 24px;
    margin-right: 24px;
}