
TournamentDetailsGameElement
{
	width: 100%;
	height: 60px;

	horizontal-align: center;

	flow-children: down;
	margin-left: 16px;
	margin-right: 16px;

	border-bottom: 1px solid #aaaaaa22;

	opacity: 1.0;
	transition-property: opacity, height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

TournamentDetailsGameElement:hover
{
	background-color: #272727;
}


TournamentDetailsGameElement.Display
{
	opacity: 1.0;
}

TournamentDetailsGameElement.FirstElement
{
	border-top: 1px solid #aaaaaa22;
}

TournamentDetailsGameElement.FirstElement.Live
{
	border-top: 1px solid #64c39022;
}

TournamentDetailsGameElement.Live
{
	background-color: #64c39004;
	border-bottom: 1px solid #64c39022;
}

TournamentDetailsGameElement.Expanded.Bo1
{
	height: 120px;
}

TournamentDetailsGameElement.Expanded.Bo3
{
	height: 230px;
}

TournamentDetailsGameElement.Expanded.Bo5
{
	height: 350px;
}

#Main
{
	width: 100%;
	height: 60px;
	flow-children: right;
	vertical-align: center;
}

#Teams
{
	width: 530px;
	vertical-align: center;

	flow-children: right;
}

.TeamSpacer
{
	width: fill-parent-flow( 1.0 );
}

#RadiantTeam 
{
	horizontal-align: right;
}

#DireTeam
{
	horizontal-align: left;
}

.Team
{
	vertical-align: middle;

	flow-children: right;
}

Label.TeamName
{
	vertical-align: middle;
	color: #cccccc;
	font-size: 19px;
}

.Logo
{
	width: 64px;
	height: 38px;

	margin-left: 12px;
	margin-right: 12px;
}

#Versus
{
	vertical-align: middle;
}

Label#Versus,
Label#Date,
Label#BestOf,
Label#Spectators
{
	font-size: 16px;
	font-weight: thin;
	color: #666666;
}

#Date
{
	width: 150px;

	vertical-align: middle;
}

#BestOf
{
	width: 130px;
}

#Spectators
{
	width: 130px;
}

#BestOf,
#Date,
#Spectators
{
	vertical-align: middle;
	text-align: center;

	transition-property: width;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.Expanded #Date
{
	width: 240px;
}

.Expanded #BestOf
{
	width: 200px;
	margin-left: 30px;
}


#Spectators
{
	vertical-align: middle;
}

.Live #BestOf
{
	visibility: collapse;
}

#Spectators
{
	visibility: collapse;
}

.Live #Spectators
{
	visibility: visible;
}

#WatchPanel
{
	width: fill-parent-flow( 1.0 );
	horizontal-align: right;
	vertical-align: middle;
}

#WatchSingle,
.WatchDetails
{
	width: 160px;
	min-width: 160px;
	height: 36px;
	margin-left: 52px;
}

#WatchSingle
{
	margin-left: 12px;
	margin-right: 10px;
}

#WatchSingle:disabled,
#WatchMultiple3:disabled,
#WatchMultiple5:disabled,
.WatchDetails:disabled
{
	wash-color: #000000DD;
	saturation: 0;
}

#WatchSingle Label,
.WatchDetails Label
{
	width: 100%;
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 3px;
}

#WatchSingle:disabled Label
{
	color: #fff;
}

.IsDownloading #WatchSingle,
.IsDownloading.Bo3 #WatchMultiple3,
.IsDownloading.Bo5 #WatchMultiple5,
.IsDataPending #WatchSingle,
.IsDataPending.Bo3 #WatchMultiple3,
.IsDataPending.Bo5 #WatchMultiple5,
.IsDecompressing #WatchSingle,
.IsDecompressing.Bo3 #WatchMultiple3,
.IsDecompressing.Bo5 #WatchMultiple5
{
	visibility: collapse;
}

.IsDownloading0 #WatchDetails0,
.IsDataPending0 #WatchDetails0,
.IsDecompressing0 #WatchDetails0,
.IsDownloading1 #WatchDetails1,
.IsDataPending1 #WatchDetails1,
.IsDecompressing1 #WatchDetails1,
.IsDownloading2 #WatchDetails2,
.IsDataPending2 #WatchDetails2,
.IsDecompressing2 #WatchDetails2,
.IsDownloading3 #WatchDetails3,
.IsDataPending3 #WatchDetails3,
.IsDecompressing3 #WatchDetails3,
.IsDownloading4 #WatchDetails4,
.IsDataPending4 #WatchDetails4,
.IsDecompressing4 #WatchDetails4
{
	visibility: collapse;
}


#PendingData,
#Downloading,
#Decompressing,
.PendingData,
.Downloading,
.Decompressing
{
	margin-top: 16px;
	margin-right: 10px;
	width: 200px;
	min-width: 160px;
	height: 36px;
	margin-left: 10px;
	vertical-align: middle;

	font-size: 16px;
}

Label#PendingData,
Label#Downloading,
Label#Decompressing
{
	text-align: center;
}

#PendingData,
.PendingData
{
	visibility: collapse;
}

.IsDataPending0 #PendingData0,
.IsDataPending1 #PendingData1,
.IsDataPending2 #PendingData2,
.IsDataPending3 #PendingData3,
.IsDataPending4 #PendingData4,
.IsDataPending #PendingData
{
	visibility: visible;
}

#Downloading,
.Downloading
{
	visibility: collapse;
}

.IsDownloading0 #Downloading0,
.IsDownloading1 #Downloading1,
.IsDownloading2 #Downloading2,
.IsDownloading3 #Downloading3,
.IsDownloading4 #Downloading4,
.IsDownloading #Downloading
{
	visibility: visible;
}

#Decompressing,
.Decompressing
{
	visibility: collapse;
}

.IsDecompressing0 #Decompressing0,
.IsDecompressing1 #Decompressing1,
.IsDecompressing2 #Decompressing2,
.IsDecompressing3 #Decompressing3,
.IsDecompressing4 #Decompressing4,
.IsDecompressing #Decompressing
{
	visibility: visible;
}

.Bo3 #WatchSingle,
.Bo5 #WatchSingle,
.Expanded #WatchSingle
{
	visibility: collapse;
}

.Bo3 #WatchMultiple3,
.Bo5 #WatchMultiple5
{
	visibility: visible;
}

.Expanded.Bo3 #WatchMultiple3,
.Expanded.Bo5 #WatchMultiple5
{
	visibility: collapse;
}

DropDown#WatchMultiple3,
DropDown#WatchMultiple5
{
	horizontal-align: right;
	margin-right: 10px;

	width:160px;
	height: 36px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a6c75 ), to( #3d4a50 ) );
	border: 1px solid black;
	
	padding: 5px 10px 5px 10px;
	border-top: 1px solid #ffffff44;
	border-right: 1px solid #4e5b60;
	border-left: 1px solid #4e5b60;
	border-bottom: 1px solid #00000088;
	
	transition-property: background-color, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.1s;
	transition-timing-function: linear;

	visibility: collapse;
}

DropDown#WatchMultiple3 Label,
DropDown#WatchMultiple5 Label
{
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	horizontal-align: center;
	vertical-align: middle;

	margin-right: 0px;
	margin-left: 0px;

	text-align: center;
}

.WatchDropDownMenu
{
	width: 160px;
}

.Details
{
	width: 100%;
	height: 0px;
	flow-children: right;

	transition-property: height;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.Expanded .Details
{
	height: 55px;
}

.Hero0.HeroImage
{
	margin-left: 20px;
}

.Hero4.HeroImage
{
	margin-right: 14px;
}

.Duration
{
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	color: #666666;

	width: 70px;
}

.Hero5.HeroImage
{
	margin-left: 14px;
}

.Hero9.HeroImage
{
	margin-right: 40px;
}

.BlueButton.MatchDetailsButton
{
	margin-top: 11px;
	margin-left: 30px;
	margin-right: 40px;
}

.Expanded.Bo1 #Details1,
.Expanded.Bo1 #Details2,
.Expanded.Bo1 #Details3,
.Expanded.Bo1 #Details4,
.Expanded.Bo3 #Details3,
.Expanded.Bo3 #Details4
{
	height: 0px;
}

.HeroImage
{
	width: 32px;
	height: 42px;

	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;

	background-color: #222;
}

.Duration
{
	opacity: 0.0;
}

.HasMatch0 #Duration0,
.HasMatch1 #Duration1,
.HasMatch2 #Duration2,
.HasMatch3 #Duration3,
.HasMatch4 #Duration4
{
	opacity: 1.0;
}

