

DOTAWatchDownloadsElement
{
	flow-children: right;

	width: 100%;
	height: 80px;

	border-bottom: 1px;
	border-color: #333333;
	border-style: solid;

	background-color: #000000CC;

	transition-property: height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

}

DOTAWatchDownloadsElement.First
{
	border-top: 1px;
}

DOTAWatchDownloadsElement:hover
{
	background-color: #161616CC;
}

DOTAWatchDownloadsElement.SortHidden
{
	height: 0px;
}

#LeftBlock
{
	width: 400px;
	height: 100%;

	padding-left: 10px;
	
	flow-children: down;
}

#TopLeftBlock
{
	width: 100%;
	margin-right: 20px;

	border-bottom: 1px;
	border-style: solid;
	border-color: #202020;

}

#NameAndEdit
{
	flow-children: right;

}

#Name 
{
	margin-top: 10px;
	vertical-align: middle;

	font-size: 24px;
	color: white;
}

#NameEditIcon
{
	width: 18px;
	height: 18px;

	background-size: 100%;

	margin-top: 16px;
	margin-left: 10px;

	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.EditingName #NameEditIcon
{
	visibility: collapse;
}

#NameAndEdit:hover #NameEditIcon
{
	opacity: 0.4;
}

.EditingName #Name
{
	visibility: collapse;
}

#NameEdit
{
	margin-top: 10px;
	padding-top: 0px;
	padding-left: 4px;
	vertical-align: middle;
	height: 32px;

	font-size: 24px;
	color: white;

	visibility: collapse;
}

.EditingName #NameEdit
{
	visibility: visible;
}

#Details
{
	width: 100%;
	height: fill-parent-flow( 1.0 );

	margin-top: 8px;
	
	flow-children: right;
}

#MatchID
{
	width: 180px;
	height: 100%;

	margin-right: 20px;

	color: #666666;

	font-size: 16px;
}

#Duration
{
	horizontal-align: right;
	margin-right: 20px;

	color: #666666;

	font-size: 16px;
}


#MatchDetailsBlock
{
	width: 500px;
	flow-children: down;
	visibility: collapse;
}

#NoMatchDetailsBlock
{
	width: 500px;
	flow-children: down;
	visibility: collapse;
}

#TournamentBlock
{
	width: 500px;
	flow-children: down;
	visibility: collapse;
}

.MatchData #MatchDetailsBlock,
.NoMatchData #NoMatchDetailsBlock,
.TournamentMatch #TournamentBlock
{
	visibility: visible;
}

#NoMatchDetailsText
{
	width: 100%;
	margin-top: 20px;

	text-align: center;
}

#HeroBlock
{
	margin-top: 8px;

	flow-children: right;
}

.HeroImage
{
	width: 32px;
	height: 42px;

	margin-left: 2px;
	margin-right: 2px;
	margin-top: 4px;
	margin-bottom: 4px;

	background-color: #222;
}

#Hero0.HeroImage
{
	margin-left: 20px;
}

#Hero4.HeroImage
{
	margin-right: 14px;
}

#Hero5.HeroImage
{
	margin-left: 14px;
}

#Hero9.HeroImage
{
	margin-right: 20px;
}

#VS
{
	vertical-align: middle;
	max-width: 80px;
}

.Date
{
	width: 100%;
	height: 16px;

	text-align: center;

	font-size: 15px;

	color: #888;
}

#NoMatchDetailsBlock .Date
{
	margin-top: 10px;
}

#TournamentDetails
{
	flow-children: right;
	margin-top: 8px;
	horizontal-align: center;
}

#TournamentText
{
	margin-top: 8px;
	margin-left: 6px;
	flow-children: down;

	width: 300px;
}

#TournamentLogo
{
	width: 150px;
	height: 60px;
}

#TournamentName
{
	color: #dddddd;
}

.Teams
{
	color: #999999;
	font-size: 15px;
	visibility: collapse;
}

.NoSeries #TournamentTeams,
.Series #TournamentTeamsSeries
{
	visibility: visible;
}

#TournamentSeriesInfo
{
	color: #777777;
	font-size: 14px;
}

#SizeDeleteBlock
{
	width: fill-parent-flow( 1.0 );
	height: 40px;
	
	vertical-align: middle;

	flow-children: down;
}

#Size,
#Delete
{
	width: 100%;
	text-align: center;
}

#Delete
{
	font-size: 14px;
	color: #777777;
}

#Delete:hover
{
	color: #DDDDDD;
}

#Watch
{
	vertical-align: middle;
	horizontal-align: right;

	margin-right: 30px;
}