
.WatchLiveGameRow
{
	width:100%;
	height:98px;

	margin:0px 0px 0px 0px;

	flow-children: right;

	background-color: gradient( linear, 100% 0%, 0% 0%, from( #424a4f00 ), to( #424a4f00) );

	transition-property: background-color, border;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.0s;
}

.WatchLiveGameRow:hover
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #424a4f00 ), to( #424a4f77 ) );
}

.WatchLiveGameRow.Selected
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #424a4f00 ), to( #424a4fff ) );
	border-left-color: #c8e7e7;
	border-left-style: solid;
	border-left-width: 4px;
}

.WatchLiveGameRow.LoadMore
{
	height: 48px;
	vertical-align: center;
}

#LeftSide
{
	width: 64px;
	height: 100%;

	margin-left: 12px;
	margin-right: 12px;
	margin-top: 8px;
	margin-bottom: 8px;

	flow-children: down;
}

#ImageArea
{
	width: 100%;
	overflow: noclip;
}

.LeftImage
{
	width: 64px;
	height: 64px;

	margin-bottom: 4px;

	visibility: collapse;
}

.FadeOut
{
	opacity: 1.0;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}

.FadeOut:hover
{
	opacity: 0.01;
}

#HeroMovieBG
{
	width: 100%;
	height: 64px;
	margin-bottom: 4px;

	background-color: black;

	visibility: collapse;
}

#HeroMovie
{
	width: 64px;
	height: 86px;
	horizontal-align: center;

	margin-top: -11px;
	margin-bottom: -11px;
}

#BattleCupTrophy
{
	width: height-percentage( 75% );
	height: 100%;

	horizontal-align: center;

	background-image: url("s2r://panorama/images/trophies/battlecup_summer_2016_level_1_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;

	visibility: collapse;
}

#Minimap,
.LeagueMatchRow #LeagueLogo,
.UseHeroImage #HeroImage,
.UseHeroMovie #HeroMovie,
.UseHeroMovie #HeroMovieBG

{
	visibility:visible;
}

.WeekendTourneyMatch #Minimap
{
	opacity: 0;
}

#Minimap
{
	background-image: url("s2r://panorama/images/minimap/background_png.vtex");
	background-size: contain;
}

.MinimapIcon
{
	width: 100%;
	height: 100%;

	opacity: 1.0;

	transition-property: opacity;
	transition-timing-function: ease-out;
	transition-duration: 0.3s;

	background-size: contain;
}

.MinimapIcon.Radiant
{
	wash-color: #609c50;
}

.MinimapIcon.Dire
{
	wash-color: #ce461e;
}

.MinimapIcon.Destroyed
{
	opacity: 0.0;
}

.MinimapIcon.VeryDamaged
{
	opacity: 0.15;
}

.MinimapIcon.SlightlyDamaged
{
	opacity: 0.4;
}

.Location00 { background-image: url("s2r://panorama/images/minimap/radiant_top_tier1_png.vtex"); }
.Location01 { background-image: url("s2r://panorama/images/minimap/radiant_top_tier2_png.vtex"); }
.Location02 { background-image: url("s2r://panorama/images/minimap/radiant_top_base_png.vtex"); }
.Location10 { background-image: url("s2r://panorama/images/minimap/radiant_mid_tier1_png.vtex"); }
.Location11 { background-image: url("s2r://panorama/images/minimap/radiant_mid_tier2_png.vtex"); }
.Location12 { background-image: url("s2r://panorama/images/minimap/radiant_mid_base_png.vtex"); }
.Location20 { background-image: url("s2r://panorama/images/minimap/radiant_bot_tier1_png.vtex"); }
.Location21 { background-image: url("s2r://panorama/images/minimap/radiant_bot_tier2_png.vtex"); }
.Location22 { background-image: url("s2r://panorama/images/minimap/radiant_bot_base_png.vtex"); }
.Location30 { background-image: url("s2r://panorama/images/minimap/dire_top_tier1_png.vtex"); }
.Location31 { background-image: url("s2r://panorama/images/minimap/dire_top_tier2_png.vtex"); }
.Location32 { background-image: url("s2r://panorama/images/minimap/dire_top_base_png.vtex"); }
.Location40 { background-image: url("s2r://panorama/images/minimap/dire_mid_tier1_png.vtex"); }
.Location41 { background-image: url("s2r://panorama/images/minimap/dire_mid_tier2_png.vtex"); }
.Location42 { background-image: url("s2r://panorama/images/minimap/dire_mid_base_png.vtex"); }
.Location50 { background-image: url("s2r://panorama/images/minimap/dire_bot_tier1_png.vtex"); }
.Location51 { background-image: url("s2r://panorama/images/minimap/dire_bot_tier2_png.vtex"); }
.Location52 { background-image: url("s2r://panorama/images/minimap/dire_bot_base_png.vtex"); }

#Spectators
{
	width: 64px;
	height: 16px;

	background-color: #667d81;

	text-align: center;
	font-size: 12px;
	color: black;
	font-weight: bold;
}

#RightSide
{
	width: fill-parent-flow( 1.0 );

	vertical-align: center;

	flow-children: down;
}

#RightSide Label
{
	color: #999999;
	font-size: 16px;
}


#ProInfo,
#TeamInfo,
#LeagueInfo,
#AverageMMR,
#GameMode,
#TimeAndScore,
#Round,
#DivisionTier
{
	visibility: collapse;
}

.ProPlaying #ProInfo,
.ProPlaying.RankedGame #AverageMMR,
.ProPlaying #TimeAndScore
{
	visibility: visible;
}

.LeagueMatchRow #TeamInfo,
.LeagueMatchRow #LeagueInfo,
.LeagueMatchRow #TimeAndScore
{
	visibility: visible;
} 

.PubMatch #GameMode,
.PubMatch.RankedGame #AverageMMR,
.PubMatch #TimeAndScore
{
	visibility: visible;
}

.WeekendTourneyMatch #BattleCupTrophy,
.WeekendTourneyMatch #TeamInfo,
.WeekendTourneyMatch #TimeAndScore,
.WeekendTourneyMatch #Round,
.WeekendTourneyMatch #DivisionTier
{
	visibility: visible;
}

#LoadMoreContainer
{
	vertical-align: center;
	horizontal-align: center;

	width: 100%;
	height: 50%;

	wash-color: #c8e7e7;

	visibility: collapse;
}

.LoadMore #LoadMoreContainer
{
	visibility: visible;
}

.LoadMore #LeftSide,
.LoadMore #RightSide
{
	visibility: collapse;
}

#LoadMoreInner,
#LoadMorePending
{
	height: 100%;

	flow-children: right;

	horizontal-align: center;
}

.WaitPip
{
	width: 8px;
	height: 8px;

	margin-left: 4px;
	margin-right: 4px;

	horizontal-align: center;
	vertical-align: center;

	animation-name: PipCycle;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes 'PipCycle'
{
	0%
	{
		box-shadow: baseText -0.4px -0.4px 1px 1px;
	}

	50%
	{
		box-shadow: baseText -1.5px -1.5px 4px 4px;
	}

	100%
	{
		box-shadow: baseText -0.4px -0.4px 1px 1px;
	}
}

#ListWaitPip1
{
	animation-delay: 0.0s;
}

#ListWaitPip2
{
	animation-delay: 0.1s;
}

#ListWaitPip3
{
	animation-delay: 0.2s;
}

#ListWaitPip4
{
	animation-delay: 0.3s;
}

.Pending #LoadMoreInner,
#LoadMorePending
{
	visibility: collapse;
}

.Pending #LoadMorePending
{
	visibility: visible;
}


/* -- VRMode --------------------------------------------------------------- */

.VRMode #LeftSide
{
	width: 200px;
	height: fit-children;
	vertical-align: middle;
}

.VRMode .LeftImage
{
	width: 200px;
	height: 200px;
}

.VRMode #HeroMovieBG
{
	height: 200px;
}

.VRMode #HeroMovie
{
	width: 200px;
	height: 264px;
	margin-top: -32px;
	margin-bottom: -32px;
}

.VRMode #Spectators
{
	width: 100%;
	height: 30px;
	font-size: 24px;
}

.VRMode #RightSide Label
{
	font-size: 36px;
}