
.WatchTournamentsElementWide
{
	width: 100%;
	height: 122px;

	horizontal-align: center;

	flow-children: right;
	margin-left: 26px;
	margin-right: 26px;

	border-bottom: 1px solid #aaaaaa22;

	opacity: 0.0;
	transition-property: opacity, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.SortHidden.WatchTournamentsElementWide
{
	height: 0px;
	opacity: 0.0;
}

.Display.WatchTournamentsElementWide
{
	opacity: 1.0;
}

.WatchTournamentsElementWide.FirstElement
{
	border-top: 1px solid #aaaaaa22;
}

#Logo
{
	width: 240px;
	height: 95px;

	vertical-align: middle;
}

#Words
{
	max-height: 100%;
	width: fill-parent-flow(1.0);

	vertical-align: middle;

	flow-children: down;

	margin: 10px 10px 10px 14px;
}

#TournamentNameContainer
{
	flow-children: right;	
}

Label#TournamentName 
{
	color: #cccccc;
	font-size: 28px;
	letter-spacing: 0.5px;
}

Label#TournamentDetails
{
	font-size: 17px;
	color: #666666;
	font-weight: thin;
	line-height: 20px;
}

#LiveGame
{
	visibility: collapse;
}

Label#LiveGame
{
	color: #64c390;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: thin;
}

.LiveGame #LiveGame
{
	visibility: visible;
	margin-top: 8px;
	margin-left: 4px;
}

#RightPanel
{
	width: 260px;
	height: 70%;

	margin-right: 10px;
	margin-top: 10px;

	flow-children: down;

	vertical-align: middle;
}

#PrizePoolPanel
{
	horizontal-align: right;

	flow-children: right;
}

.NoPrizePool #PrizePoolPanel
{
	visibility: collapse;
}

Label#PrizePoolValue
{
	font-size: 24px;
	color: #cccccc;

	letter-spacing: 1.2px;
	vertical-align: bottom;
	font-weight: thin;
}

Label#PrizePoolLabel
{
	font-size: 17px;
	color: #555555;

	vertical-align: bottom;
	margin-bottom: 4px;
	margin-left: 4px;
}

#RightButtons
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

Button#Compendium
{
	horizontal-align: left;
	vertical-align: middle;

	width: 24px;
	height: 24px;

	background-image: url("s2r://panorama/images/status_icons/compendium_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;

	margin-left: 50px;

	transition-property: wash-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;

	wash-color: #999999;

	visibility: collapse;
}

.HasCompendium Button#Compendium
{
	visibility: visible;
}

Button#Compendium:hover
{
	wash-color: #dddddd;
}

Button#Compendium:active
{
	wash-color: #ffffff;
}


#Purchase
{
}


.ViewButton
{
	horizontal-align: right;
	margin-right: 0px;
	width: 170px;
	min-width: 170px;
	height: 40px;
}

.NoPrizePool .PopupButton.ViewButton
{
	margin-top: 18px;
}


.PopupButton.ViewButton Label
{
	margin-top: 2px;
	font-size: 17px;

	text-transform: uppercase;
}
	