
DOTAWatchReplayGameElement
{
	width: fill-parent-flow( 0.25 );
	height:100%;

	background-color: #000000BB;

	transition-property: box-shadow;
	transition-duration: 0.05s;
	transition-timing-function: ease-in-out;
	
	margin-left: 10px;
	margin-right: 10px;
}

DOTAWatchReplayGameElement:hover
{
	box-shadow: #608199 -3.0px -3.0px 5px 5px;
}

DOTAWatchReplayGameElement:active
{
	box-shadow: #608199 -5px -5px 5px 10px;
}

DOTAWatchReplayGameElement.WatchLaterNewBadge
{
	border: 1px solid red;
}

#PendingSpinner
{
	vertical-align: middle;
	horizontal-align: center;

	visibility: collapse;
}

.Pending #PendingSpinner
{
	visibility: visible;
}

.Pending .InfoContainer
{
	visibility: collapse;
}

.InfoContainer
{
	width:100%;
	height:100%;

	flow-children: down;
}

.VsContainer
{
	margin-top: 15px;
	margin-bottom: 20px;
	width: 100%;
	height: 80px;

	horizontal-align: middle;
	flow-children: right;
}

#vs
{
	text-align: center;
	vertical-align: middle;
	margin-left: 6px;
	margin-right: 6px;
}

#TeamRadiant,
#TeamDire
{
	horizontal-align: center;

	width: fill-parent-flow( 1.0 );
	height: 100%;

	flow-children: down;
}

#TeamNameRadiant,
#TeamNameDire
{
	horizontal-align: center;
}

.Logo
{
	margin-left: 24px;
	margin-right: 24px;

	horizontal-align: center;

	width: 94px;
	height: 56px;
}

.Logo.Generic
{
	width: 56px;
}

.Heroes
{
	height:100%;
	width:fill-parent-flow(1.0);

	flow-children:right;
	margin-left: 10px;
	margin-right: 10px;
}

.Hero
{
	height:100%;
	width:fill-parent-flow(1.0);
	max-width: 50%;

	horizontal-align: center;

	margin-left: 2px;
	margin-right: 2px;
}

.Hero.NoSlot
{
	visibility:collapse;
}

.IsTournamentGame #HeroesRadiant,
.IsTournamentGame #HeroesDire,
.IsTournamentGame #Participants,
.IsTournamentGame #PublicMatchInfo
{
	visibility: collapse;
}

.IsPubGame #TeamRadiant,
.IsPubGame #TeamDire,
.IsPubGame #LeagueName,
.IsPubGame #Views
{
	visibility: collapse;
}

.IsPubGame #Friends1,
.IsPubGame #Friends2,
.IsPubGame #Friends3Plus
{
	visibility: collapse;
}

.IsPubGame.Has1Friend #Friends1,
.IsPubGame.Has2Friends #Friends2,
.IsPubGame.Has3PlusFriends #Friends3Plus
{
	visibility: visible;
}


.DetailsContainer
{
	width: 100%;

	horizontal-align: center;
	vertical-align: bottom;
	flow-children: down;
}

.DetailsContainer Label
{
	font-size: 15px;
}

#Participants
{
	horizontal-align: center;
	max-height: 20px;

	padding-left: 8px;
	padding-right: 8px;
}

#LeagueName
{
	horizontal-align: center;

	max-height: 20px;

	padding-left: 20px;
	padding-right: 20px;
}

#RecommendationsText3Plus,
#RecommendationsText2,
#RecommendationsText1,
#RecommendationsText
{
	visibility: collapse;
}

.Has3PlusFriendRecommendations #RecommendationsText3Plus,
.Has2FriendRecommendations #RecommendationsText2,
.Has1FriendRecommendation #RecommendationsText1,
.HasNoFriendRecommendations #RecommendationsText,
.IsPubGame.ShowRecommendations #RecommendationsText
{
	visibility: visible;
}

#Recommendations
{
	flow-children: right;
	horizontal-align: center;

	visibility: collapse;
}

.ShowRecommendations #Recommendations
{
	visibility: visible;
}


#RecommendationsThumb
{
	vertical-align: middle;
	height:20px;
	width:20px;
}

#Views
{
	visibility: collapse;
}

.ShowViews #Views
{
	visibility: visible;
}


#PublicMatchInfo
{
	horizontal-align: center;

	padding-left: 8px;
	padding-right: 8px;
	max-height: 20px;
}

.BottomLeftIcon
{
	width: 16px;
	height: 16px;

	horizontal-align: left;
	vertical-align: bottom;

	margin-left: 8px;
	margin-bottom: 8px;

	background-size: contain;

	wash-color: #BBBBBB;

	visibility: collapse;
}

#DownloadingIcon
{
	background-image: url("s2r://panorama/images/control_icons/download_png.vtex");

	animation-name: OpacityPulse;
	animation-duration: 1.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

#DownloadedIcon
{
	background-image: url("s2r://panorama/images/control_icons/downloaded_png.vtex");
}

#WatchedIcon
{
	background-image: url("s2r://panorama/images/control_icons/eye_png.vtex");
}

.HasWatched #WatchedIcon,
.IsDownloading #DownloadingIcon,
.IsDownloaded #DownloadedIcon
{
	visibility: visible;
}

.WaitPip
{
	width: 16px;
	height: 16px;

	horizontal-align: center;

}

#PurchaseButton
{
	width: 64px;
	height: 24px;

	color: #FFFFFF;

	horizontal-align: left;
	vertical-align: bottom;

	background-color: #333333;

	transition-property: background-color;
	transition-duration: 0.1s;

	visibility: collapse;
}

.IsPurchasable #PurchaseButton
{
	visibility: visible;
}

#PurchaseButton:hover
{
	background-color: #444444;
}

#PurchaseButton Label
{
	transition-property: color;
	transition-duration: 0.1s;

	font-size: 15px;
}

#PurchaseButton:hover Label
{
	color: white;
}

#PurchasePrice
{
	margin-top: 2px;
	horizontal-align: center;
	vertical-align: middle;
}

#Timestamp
{
	margin-top: 14px;
	margin-bottom: 4px;
	font-size: 13px;
	color: #BBBBBB;

	horizontal-align: center;
}

.DetailsContainer #Timestamp Label
{
	font-size: 11px;
}


/* -- VR ------------------------------------------------------------------- */

.VRMode .VsContainer
{
	height: 130px;
}

.VRMode .Logo
{
	width: 140px;
	height: 84px;
}
.VRMode .Logo.Generic
{
	width: 84px;
}

.VRMode Label
{
	font-size: 36px;
}

.VRMode #Participants
{
	max-height: 40px;
}

.VRMode .DetailsContainer Label
{
	font-size: 34px;
}

.VRMode #LeagueName
{
	max-height: 44px;
}

.VRMode #Timestamp
{
	font-size: 26px;
}

.VRMode #PublicMatchInfo
{
	max-height: 34px;
}

.VRMode .BottomLeftIcon
{
	width: 28px;
	height: 28px;
}

.VRMode .Hero
{
	margin-left: 3px;
	margin-right: 3px;
}