DOTAWraithKingArcanaProgress
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #1E1E1ECC;
	background-repeat: no-repeat;
	background-position: 2px, 2px;
	background-size: 100%;
}

#Contents
{
	horizontal-align: center;
	flow-children: none;
	width: 100%;
	height: 100%;
}

.Map DragZoom
{
	transition-property: wash-color, opacity;
	transition-duration: 1.24s;
	transition-timing-function: ease-in-out;

	wash-color: black;
	opacity: 0;
}

.MapLoaded .Map DragZoom
{
	wash-color: white;
	opacity: 1;	
}

#ScreenTransition
{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 1;

	transition-property: opacity;
	transition-duration: 0.24s;
	transition-timing-function: ease-in-out;	
}

.MapLoaded #ScreenTransition
{
	opacity: 0;
}

.Header
{
	Horizontal-align: center;
	flow-children: down;
	width: 1158px;
	height: fit-children;

	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/cloudstop_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 40px;
}

.Title, .Subtitle, .Description
{
	font-size: 24px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	horizontal-align: center;
}

.Title
{
	font-family: titleFont;
	font-size: 42px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 3px 2.0 #00000070;
	letter-spacing: 4px;

	margin-top: 36px;
}

.Subtitle,
.ProgressTrackDesc
{
	/* font-weight: bold; */
	font-size: 17px;
	line-height: 19px;
	letter-spacing: 3px;
	color: #E8A85E;
	text-shadow: 0 1px 3px 2.0 #000;
}

.Description
{
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	color: rgba(248, 243, 237, 0.8);

	margin-top: 8px;

	width: 500px;
}

#Contents DOTAWraithKingHeroMap
{
	width: fit-children;
	height: fit-children;
	ui-scale: 200%;

	margin: 420px;	
	margin-left: 1920px;
	margin-right: 1920px;
}

.AspectRatio21x9 #Contents DOTAWraithKingHeroMap
{
	ui-scale: 150%;

	margin-top: 620px;	
	margin-bottom: 620px;	
}

.AspectRatio4x3 #Contents DOTAWraithKingHeroMap
{
	margin: 420px;
}

#Contents DragZoom
{
	width: 100%;
	height: 100%;
}

#Contents DragZoom #DragZoomContentPanel
{
	transition-duration: 0.0s;
}

.Map
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

.MapInfo
{
	width: 640px;
	height: 300px;
	vertical-align: bottom;
	horizontal-align: left;
	padding-bottom: 60px;
	padding-left: 42px;
	flow-children: none;
	
	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/seal-left_corner_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.AspectRatio4x3 .MapInfo
{
	ui-scale: 80%;
}

.DisplayWithNoItem .MapInfo
{
	visibility: collapse;
}

.MapLabel
{
	horizontal-align: left;
	vertical-align: bottom;

	/* background-color: gradient ( linear, 0% 0%, 100% 0%, from( #280502 ), color-stop(0.5, #280502ef), to( #28050200 ) ); */
	margin-left: 14px;
	flow-children: down;

	height: fit-children;
}

.ProgressTrackDesc
{
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(222, 176, 87);
}

.ProgressCompleted
{
	font-family: titleFont;
	font-style: italic;
	font-weight: bold;
	font-size: 48px;
	letter-spacing: 1px;

	text-shadow: 0 1px 3px 2.0 #00000070;
	color: gradient ( linear, 0% 0%, 0% 100%, from( #9c5d39), to( rgb(255, 212, 102) ) );
	text-shadow: 0px 1px 8px 6.0 #000;
}

.ProgressCompleted,
.ProgressTrackDesc
{
	/* transform: translateY(-30px); */
}

.ProgressButton
{
	width: fit-children;
	height: fit-children;

	/* font-weight: bold; */
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 3px;
	color: #F8E8B9;	
	text-shadow: 0 1px 3px 2.0 #00000070;
}

#ClaimAllButton
{
	visibility: collapse;
}

#ClaimAllButton Label
{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: semibold;
	color: #F8E8B9;
	letter-spacing: 3px;
}

#ClaimAllButton Label:hover
{
	color: #FBF8E7;
	text-shadow: 0 0 4px #E8A85E90;
}


#ToBeClaimed
{
	visibility: collapse;
}

.NeedsClaiming #TotalClaimed
{
	visibility: collapse;
}

.NeedsClaiming #ToBeClaimed
{
	visibility: visible;
}

#MapBorder
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#MapBorder #TopSection,
#MapBorder #BottomSection
{
	flow-children: left;
	width: 100%;
}

#MapBorder #MiddleSection
{
	flow-children: none;
	height: fill-parent-flow( 1.0 );
	width: 100%;
}

#MapBorder .Top,
#MapBorder .TopRight,
#MapBorder .BottomRight,
#MapBorder .Right,
#MapBorder .TopLeft,
#MapBorder .BottomLeft,
#MapBorder .Left,
#MapBorder .Bottom
{
	background-repeat: no-repeat;
	background-size: 100%;	
}


#MapBorder .TopLeft,
#MapBorder .BottomLeft,
#MapBorder .Left
{
	width: 40px;
}

#MapBorder .TopRight,
#MapBorder .BottomRight,
#MapBorder .Right
{
	width: 39px;
}

#MapBorder .TopLeft,
#MapBorder .TopRight
{
	height: 408px;
}

#MapBorder .BottomLeft,
#MapBorder .BottomRight
{
	height: 418px;
}

#MapBorder .TopLeft
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_wraith_king/hero_map/border_sliced_topleft_png.vtex");
	vertical-align: top;
	horizontal-align: left;
}

#MapBorder .TopRight
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_wraith_king/hero_map/border_sliced_topright_png.vtex");
	vertical-align: top;
	horizontal-align: right;
}

#MapBorder .BottomLeft
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_wraith_king/hero_map/border_sliced_bottomleft_png.vtex");			
	vertical-align: bottom;
	horizontal-align: left;
}

#MapBorder .BottomRight
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_wraith_king/hero_map/border_sliced_bottomright_png.vtex");		
	vertical-align: bottom;
	horizontal-align: right;
}

#MapBorder .Left
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_wraith_king/hero_map/border_sliced_left_png.vtex");			
	height: 100%;
	horizontal-align: left;
}

#MapBorder .Right
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_wraith_king/hero_map/border_sliced_right_png.vtex");		
	height: 100%;
	horizontal-align: right;
}

#MapBorder .Bottom
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_wraith_king/hero_map/border_sliced_bottom_png.vtex");		
	height: 59px;
	width: fill-parent-flow( 1.0 );
	vertical-align: bottom;
}

#MapBorder .Top
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_wraith_king/hero_map/border_sliced_top_png.vtex");	
	height: 59px;	
	width: fill-parent-flow( 1.0 );
	vertical-align: top;
}

#CornerSeal
{
	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/seal-solo_png.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-left: -42px;
	margin-top: -120px;
	margin-bottom: -32px;
	width: 300px;
	height: 300px;
	vertical-align: bottom;
}

#CornerSealScene
{
	width: 330px;
	height: 300px;
	margin-left: -58px;
	margin-top: -120px;
	margin-bottom: -32px;
	z-index: 1;
	opacity-mask: url("s2r://panorama/images/masks/wk_arc_seal_psd.vtex");
	vertical-align: bottom;

	transition-property: brightness, hue-rotation;
	transition-duration: .24s;
	transition-timing-function: ease-in-out;	
}

// have to disable smooth zoom on here since it relies on ui-scale changing which doesn't interpolate
#Zoom #DragZoomContentPanel
{
	transition-duration: 0.0s;
}