DOTACompendiumCaster
{
	width: 202px;
	height: 250px;

	margin: 12px 12px;

	flow-children: down;
}

#Contents
{
	width: 100%;
	height: 100%;

	flow-children: down;
}

#CasterImage
{
	box-shadow: #000000aa -4px -4px 8px 8px;
	width: 100%;
	height: fill-parent-flow( 1.0 );
	background-color: #111;
}

DOTACompendiumCaster .Name
{
	margin-top: 6px;

	color: white;
	letter-spacing: 1.3px;
}

DOTACompendiumCaster .RealName
{
	color: #c3b699;
}

DOTACompendiumCaster .Title
{
	margin-top: 2px;

	color: #2f7eb1;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1.5px;

	visibility: collapse;
}

#AutographedTreasures
{
	align: right bottom;
	flow-children: right;

	margin: 4px 8px;
}

#AutographedTreasures > Button
{
	height: 30px;
	width: height-percentage( 150% );
	border: 1px solid #45201D;
	box-shadow: fill 2px 2px 4px black;

	visibility: collapse;
}

#AutographedTreasures > Button:hover
{
	brightness: 2.0;
}

#AutographedTreasures > Button:active
{
	brightness: 1.5;
}

.HasTroveCarafe #TroveCarafeButton,
.HasLocklessLuckvase #LocklessLuckvaseButton
{
	visibility: visible;
}