
@define backgroundVeryDimColor: #1C0803;
@define backgroundDimColor: #270705;
@define backgroundMediumColor: #6F2926;
@define backgroundBrightColor: #912c24;
@define backgroundVeryBrightColor: #ffd6a5;

@define bp_battleLevelColor: #CD5A4A;

DOTACompDoubleElimBracketPage
{
	width: 100%;
	height: 100%;	
	flow-children: none;
}

.BracketPredictionsBody
{

}

#BracketPredictionsCentered 
{
    width: 1392px;
	height: 100%;
    horizontal-align: center;
	flow-children: down;
    margin-left: 40px;
    background-image: url("s2r://panorama/images/compendium/spring2016/bracket/bracket_lines_shift_psd.vtex");
    background-size: contain;
}

#Header
{
    margin-top: 18px;
    margin-bottom: 18px;
    width: 100%;
    height: 49px;
}
#HeaderNav
{
    flow-children:right;
}

.LockTime
{
    flow-children:right;
    horizontal-align: right;
    text-align: right;
    margin-right: 24px;
}

.Locked .TimeRemaining,
.Timeout
{
    visibility: collapse;
}

.Locked .Timeout,
.TimeRemaining
{
    visibility: visible;
}

.NotStarted .LockTimeText,
.StartTimeText
{
	visibility: collapse;
}

.NotStarted .StartTimeText,
.LockTimeText
{
	visibility: visible;
}

.NotStarted #Header .StartTimeText
{
    visibility: collapse;
}

.NotStarted #Header .Countdown
{
    visibility: collapse;
}

.LockDesc 
{
    text-transform: uppercase;
    color: backgroundBrightColor;
    letter-spacing: 2px;
    vertical-align: middle;
    margin-right: 6px;
}

.Countdown 
{
    color: white;
    font-size: 36px;
    text-align: right;
}


#Header .PopupButton
{
    background-color: backgroundDimColor;
    border: 1px solid backgroundBrightColor;

    margin: 0px 8px 0px 0px;
    min-width: 160px;
    padding: 5px 10px 5px 10px;


    transition-property: background-color, wash-color;
    transition-delay: 0.0s;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

#Header .PopupButton:selected 
{
    background-color: backgroundMediumColor;
}


#Header .PopupButton Label 
{
    font-size: 16px;
    color: bp_battleLevelColor;
    margin-top: 4px;
}

#Header .PopupButton:selected Label 
{
    color: white;
}

#BracketPredictions
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.LeftSide
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	flow-children: down;
}

.RightSide
{
	width: 25%;
	height: 100%;
	flow-children: down;
	margin-bottom: 32px;
}

.TitleBar
{
	width: 100%;
	height: 24px;
	flow-children: right;
    margin-top: 8px;
    margin-bottom: -40px;
}

.TitleBar Label
{
	vertical-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 14px;
	width: 156px;
	text-align: center;
    letter-spacing: 1px;
    color: textMediumColor;
}

#MatchLabels
{
    width: 1392px;
    height: 100%;
    flow-children: none;
    horizontal-align: center;
    z-index: 80;
}

.MatchLabel
{
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: textMediumColor;
}

#MatchA
{
    X: 200px;
    Y: 144px;
}
#MatchB
{
    X: 200px;
    Y: 212px;
}
#MatchC
{
    X: 200px;
    Y: 280px;
}
#MatchD
{
    X: 200px;
    Y: 348px;
}
#MatchD
{
    X: 200px;
    Y: 354px;
}
#MatchE
{
    X: 544px;
    Y: 178px;
    width: 24px;
    background-color: black;
}
#MatchF
{
    X: 544px;
    Y: 312px;
    width: 24px;
    background-color: black;
}
#MatchG
{
    X: 890px;
    Y: 244px;
    width: 24px;
    background-color: black;
}
.Row
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: right;
}

.Column
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	flow-children: down;
}

.Column BracketPrediction
{
	horizontal-align: center;
	vertical-align: center;
}

#Series22
{
	vertical-align: center;
    margin-top:34px;
}

#Winner
{
    margin-top:34px;
	vertical-align: center;
}

.Spacer
{
	width: 1px;
	height: 12px;
}

.EdgeSpacer
{
    width: 1px;
    height: fill-parent-flow( 1.0 );
}

.UpperSpacer
{
    width: 1px;
    height: 80px;
}

.InfoButton
{
    background-image: url("s2r://panorama/images/status_icons/helpicon_psd.vtex");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;

    transition-property: wash-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;

    horizontal-align: right;
    vertical-align: center;

    wash-color: #A6ADB4;

    margin-left: 20px;
    margin-bottom: 6px;
    horizontal-align: center;
    opacity: 0.4;
}

.NotStarted #Header .InfoButton
{
    visibility: collapse;
}


.InfoButton:hover
{
    wash-color: white;
}

.InfoButton:active
{
    wash-color: #CCCCCC;
    sound: "ui_friends_slide_in";
}

.NotStarted #InfoPanel
{
    opacity: 1.0;
}

#InfoPanel
{
    width: 100%;
    height: 100%;
    background-color: #000000ee;
    opacity: 0.0;
    transition-property: opacity;
    transition-duration: 0.2s;
    z-index: 81;
}

#InfoWindow
{
    width: 800px;
    height: fit-children;
    background-color: #0f0f0f;
    horizontal-align: center;
    vertical-align: middle;
    border: 1px solid #333333;
    flow-children: down;
}

#InfoHeader
{
    background-image: url("s2r://panorama/images/compendium/spring2016/bracket/info_header_png.vtex");
    height: 80px;
    width: 100%;
    horizontal-align: left;
}

#InfoTitle
{
    color: white;
    horizontal-align: center;
    vertical-align: middle;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 4px;
}

#InfoBlurb
{
    font-size: 20px;
    color: baseText;
    text-align: left;
    horizontal-align: center;
    width: 620px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#InfoRewardsFooter
{
    background-image: url("s2r://panorama/images/compendium/spring2016/bracket/info_footer_png.vtex");
    height: 146px;
    width: 100%;
    horizontal-align: right;
    flow-children: down;
}

#InfoCountdown
{
    horizontal-align: center;
    margin-bottom: 40px;
    flow-children: right;
}

#InfoRewardsHeader
{
    font-size: 20px;
    color: white;
    text-align: center;
    horizontal-align: center;
    margin-top: 16px;
}
#RewardCells
{
    flow-children: right;
    height: 100%;
    width: 400px;
    horizontal-align: center;
}
.InfoRewards
{
    color: white;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
}
#RewardCellA, #RewardCellB
{
    width: 200px;
    height: 100%;
}
#RewardCellA
{

}
#RewardCellB
{

}
.CloseButton
{
    horizontal-align: right;
    width: 30px;
    height: 30px;
    background-size: 60%;
    background-color: #555;
    margin-top: 8px;
    margin-right: 8px;
}

.NotStarted #InfoWindow .Countdown
{
    visibility: visible;
}

#InfoWindow .Countdown
{
    visibility: collapse;
}
.NotStarted .CloseButton
{
    visibility: collapse;
}
#InfoPanel.ShowInfoPanel
{
    opacity: 1.0;
}

.LockIcon
{
    background-image: url("s2r://panorama/images/control_icons/lock_medium_png.vtex");
    width: 24px;
    height: 24px;
    background-size: cover;
    visibility: collapse;
    margin-right: 4px;
    margin-bottom: 6px;
    wash-color: backgroundBrightColor;
}

.Locked .LockIcon
{
    visibility: visible;
}




