 @import url("file://{resources}styles/battle_pass/current_battle_pass.css");

#HeroMovie
{
	width: 150px;
	height: 199px;
	horizontal-align: right;
	opacity-mask: url("s2r://panorama/images/masks/heroportraitfade1_psd.vtex") 1;
	wash-color: #B94B3788;
	
	/* TI7 */
	wash-color: #87EEFEa8;
	
	saturation: .9;
}

.ChallengeCompleted #HeroMovie
{
	saturation: 0;
	wash-color: #4B7DBD;
}

#HeroName
{
	/* color: #84ADD0; */

	/* TI6 */
	/* color: #F7B67F; */
	
	/* Fall 2016 */
	color: #dff5a5;
	
	/* Winter 2017 */
	color: #a5daf5;
	
	/* TI7 */
	color: bp_color9;

	width: 120px;
	text-transform: uppercase;
    letter-spacing: 1px;
}

.BigSideQuestBox #HeroMovie
{
	width: 131px;
	height: 180px;
}

.BigSideQuestBox #HeroName
{
	margin-top: 10px;
}