/* styles for the game end quests popup */
@define StartingScale: 0.37f;
@define Scale: 1.0f;
@define InitialDelay: 1.0f;
@define UpdateDelay: 0.4f;
@define PostAnimDelay: 0.8f;
@define FooterFadeTime: 0.0001s;

DOTACavernCrawlPostGameProgress
{
	width: 100%;
    height: 100%;
	vertical-align: center;
	horizontal-align: center;
    flow-children: down;

	border: 0px;
	padding: 0px;
}

.CavernCrawl
{
	width: 1390px;
	height: 700px;
	horizontal-align: center;
	vertical-align: center;
    opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	margin-bottom: 20px;
}

.MapContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

DOTACavernCrawlPostGameProgress.Loaded .CavernCrawl
{
    opacity: 1;
}

/* Map Zoom */

.MapZoomContainer
{
    width: 100%;
    height: fill-parent-flow( 1.0 );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}

#Zoom
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

#CavernCrawlMap
{
	width: 3072px;
	height: 3072px;
    overflow: noclip;

    vertical-align: center;
    horizontal-align: center;

	transition-property: transform;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
	transition-duration: 0.0s;
}

.DisplayingUpdates #CavernCrawlMap
{
	transition-duration: 1.0s;
}

/* Description */
.DescriptionOuter
{
	width: 525px;
	height: 350px;
	background-color: #000000C0;
	box-shadow: 0px 0px 4px black;
	horizontal-align: right;
	margin-right: 40px;
	margin-top: 22px;
	flow-children: down;
}

.TitleContainer
{
	width: 100%;
	flow-children: right;
	margin-left: 8px;
	margin-right: 8px;
	border-bottom: 3px solid accentColorBright;
}

.CavernCrawlLogo
{
	width: 36px;
	height: 36px;
	vertical-align: center;
	margin-right: 8px;
	wash-color: accentColorBright;

	background-image: url("s2r://panorama/images/cavern/icon_logo_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.CavernDescriptionTitle
{
	font-size: 28px;
	text-transform: uppercase; 
	font-weight: bold;
	color: white;
	width: 100%;
	margin-top: 4px;
	wash-color: accentColorBright;
}

#DescriptionContainer
{
	width: 100%;
	margin-left: 8px;
	margin-right: 8px;
	flow-children: down;
	transition-property: position;
	transition-duration: 0.5s;
}

.DescriptionLine
{
	flow-children: right;
	margin-bottom: 8px;
	wash-color: #DDDDDD;

	transition-property: wash-color;
	transition-duration: 0.5s;
}

.NewUpdateLine.DescriptionLine
{
	wash-color: accentColorBright;
}

.Dot
{
	width: 8px;
	height: 8px;
	vertical-align: top;
	margin: 10px 4px 4px 0px;
	border-radius: 50%;
	background-color: white;
}

.CavernDescription
{
	width: 450px;
	horizontal-align: center;
	font-size: 24px;
	text-transform: uppercase; 
	overflow: clip;
	color: white;
	visibility: collapse;
}

.ChallengeComplete .ChallengeCompleteDesc,
.ChallengeAvailable .ChallengeAvailableDesc,
.ClaimingReward .ClaimingRewardDesc,
.ClaimingItem .ClaimingItemDesc,
.ChallengeRetired .ChallengeRetiredDesc
{
	visibility: visible;
}
