DOTAIngamePrediction
{
	height: fit-children;
	width: 350px;
	flow-children: down;
    border-top: 1px solid #2c2c2c;
    margin-right: 1px;
    background-color: #0f0f0f;
}

/* Status - shows question status */
.Status
{
	width: 130px;
	height: 24px;
	horizontal-align: right;
	background-color: #282828;
}

.Status Label
{
	visibility: collapse;
	text-transform: uppercase;
	margin-left: 8px;
	vertical-align: center;
	margin-top: 2px;
    font-size: 14px;
    color: #cecece;
    letter-spacing: 2px;
    width: 100%;
    horizontal-align: center;
    text-align: center;
}

DOTAIngamePrediction.CorrectPrediction .Status
{
	background-color: #00A00030;
}

DOTAIngamePrediction.CorrectPrediction .Correct
{
	visibility: visible;
}

DOTAIngamePrediction.InCorrectPrediction .Status
{
	background-color: #A0000030;
}

DOTAIngamePrediction.InCorrectPrediction .Incorrect
{
	visibility: visible;
}

DOTAIngamePrediction.ResultsVisible .InProgress
{
	visibility: visible;
}

DOTAIngamePrediction.ResultsVisible.ResultIsFinal .InProgress
{
	visibility: collapse;
}

.Status .Select
{
	visibility: visible;
}

DOTAIngamePrediction.ResultsVisible .Status .Select
{
	visibility: collapse;
}

DOTAIngamePrediction.NoPrediction.ResultIsFinal .Finished
{
    visibility: visible;
}

DOTAIngamePrediction.NoPrediction.ResultIsFinal .Status
{
	background-color: #555555;
}

.Finished
{
    visibility: collapse;
}

/* Title - shows the question */
.TopQuestionResult
{
	margin : 3px;
	vertical-align: top;
	width: 100%;
	flow-children: right;
}

.VoteNumberContainer
{
	width: 36px;
	height: 36px;
	vertical-align: center;
    margin-left: 6px;
}

.VoteNumberBackground
{
	width: 100%;
	height: 100%;
	background-color: #383838;
	border-radius: 50%;
}

DOTAIngamePrediction.CorrectPrediction .VoteNumberBackground
{
	background-color: #00A00030;
}

DOTAIngamePrediction.InCorrectPrediction .VoteNumberBackground
{
	background-color: #A0000030;
}

.VoteNumber
{
	margin-top: 3px;
	width: 100%;
	height: 100%;
	font-size: 24px;
	font-weight: bold;
	color: white;
	vertical-align: center;
	text-align: center;
}

.Question
{
	margin-left: 7px;
	width: 290px;	/* Have to hardcode to avoid layout problems */
	font-size: 16px;
	vertical-align: center;
}

#BottomContainer
{
    flow-children: down;
    height: 90px;
    width: 100%;
    padding-bottom: 26px;
}

/* Results - shows prediction results and also local selections */
.ResultsContainer
{
	width: 100%;
	height: 100%;
}

.ResultColumnList
{
	flow-children: down;
	width: 100%;
	height: 100%;
}

.ResultsColumn
{
	flow-children: right;
	margin-top: 2px;
	height: fit-children;
	width: 100%;
}

.ResultColumnHeader
{
	width: 95px;
	horizontal-align: center;
    vertical-align: center;
    padding-right: 5px;
}

.ResultColumnHeader Label
{
	text-transform: uppercase;
	horizontal-align: right;
	font-size: 13px;
    letter-spacing: 2px;
	color: #5b5b5b;
}


/* Leading v Results label */
.ResultsLabel
{
	visibility: collapse;
}

DOTAIngamePrediction.ResultIsFinal .ResultsLabel
{
	visibility: visible;
}

.LeadingLabel
{
	visibility: visible;
}

DOTAIngamePrediction.ResultIsFinal .LeadingLabel
{
	visibility: collapse;
}


/* Displays ties */
.Ties
{
	vertical-align: center;
	margin-left: 5px;
	visibility: collapse;
}

DOTAIngamePrediction.HasTie .Ties
{
	visibility: visible;
}

.LocalSelectionButton
{
	horizontal-align: center;
	width: fit-children;
	height: 100px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.ResultsVisible .Selection
{
    visibility: collapse;
}

#PredictionDropDownDropDownMenu
{
    border: 1px solid #2c2c2c;
    width: fit-children;
}

#PredictionDropDown
{
    height: 38px;
    width: 280px;
	horizontal-align: center;
}

.ResultsVisible #SelectionPanel
{
    visibility: collapse;
}

#SelectionPanel
{
    height: 100%;
    width: 100%;
}

#LocalSelectionDisplay, #ResultDisplay
{
	vertical-align: center;
	height: 30px;
}

DropDownMenu #IngamePredictionsSelect
{
    visibility: collapse;
}

.DropDownChild .PlayerName, .DropDownChild .TeamName
{
    width: 180px;
}