/* NEW BLOOM 2019 TEMPORARY PANEL */
#PigContainer
{
    width: 200px;
    height: 200px;
//    border: 2px solid red;
    vertical-align: center;
    horizontal-align: center;
    margin-right: 490px;
    margin-bottom: 120px;

}


.PopupPanel
{
	width: 1492px;
	height: 1000px;
	background-color: none;
    margin-top:50px;
    border: 0px solid transparent;
    horizontal-align: center;
    opacity: 1;
	pre-transform-scale2d: 1;
	box-shadow: none;
	vertical-align: top;		
	padding: 0px;

	animation-name: none;

    transition-property: transform, pre-transform-scale2d, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;

    overflow: noclip;
    flow-children: none;
}

.PopupPanel.Hidden 
{
	opacity: 0;
	pre-transform-scale2d: .85;
}


#WheelVignette
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform: translateZ(1px);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000aa ), color-stop( 0.3, #00000077 ), color-stop( 0.7, #00000000), to( #00000000 ) );
}

#Spinner
{
	background-image: url("s2r://panorama/images/compendium/spinnerfaceplate_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
    width: 88px;
    height: 270px;
    vertical-align: middle;
    horizontal-align: center;
    margin-left: 1180px;
    padding-bottom: 30px;

	animation-name: StartDescText; 
	animation-duration: 3s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.DarkMoon #Spinner
{
	background-image: url("s2r://panorama/images/compendium/spinnerfaceplate_darkmoon_psd.vtex");
}



.Spinning #Spinner, .DisableSpinning #Spinner
{
	visibility: collapse;
}

.RewardSet #ArrowContainer
{
    visibility:collapse;
}
#ArrowContainer
{
    vertical-align: middle;
    horizontal-align: center;
    margin-left: 1180px;
    margin-bottom: 360px;

    height: 98px;

	animation-name: StartDescText; 
	animation-duration: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;	
}

#DownArrowSpinner
{
	background-image: url("s2r://panorama/images/compendium/downarrowspinner_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
    width: 48px;
    height: 58px;
    vertical-align: bottom;

	animation-name: ArrowDown; 
	animation-duration: 1.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.DarkMoon #DownArrowSpinner
{
	hue-rotation: 50deg;
}

.Spinning #DownArrowSpinner
{
	opacity: 0;
}


@keyframes 'ArrowDown'
{
	0%
	{
		transform: translateY(0px);
	}

	50%
	{
		transform: translateY(-20px);
	}
	
	100%
	{
		transform: translateY(0px);
	}
}


#Lever
{

	margin-left: 6px;
    width:80px;
    height:60px;
	background-image: url("s2r://panorama/images/compendium/spinnerlever_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
}

.DarkMoon #Lever
{
	background-image: url("s2r://panorama/images/compendium/spinnerlever_darkmoon_psd.vtex");
}

#Spinner:hover #Lever
{
	brightness: 2;
}

#FullWheel
{
	height: 100%;
	width: 100%;
	overflow: noclip;	
	//border: 1px solid red;
    
}

#FullWheelDecoration
{
	height: 100%;
	width: 100%;
	horizontal-align: center;
	vertical-align: middle;
	border-radius: 50%;
	border: 14px solid black;	
	z-index: 3;
}

#FullWheelDecorationCoverSpinning,
#FullWheelDecorationCover
{
	height: 100%;
	width: 100%;	
	background-image: url("s2r://panorama/images/compendium/spinwheel_cover_psd.vtex");
	background-size: 80% 80%;		
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 163px;
}

.DarkMoon #FullWheelDecorationCoverSpinning,
.DarkMoon #FullWheelDecorationCover
{
	wash-color: #3A042C;
}

#FullWheelDecorationCoverSpinning
{
	background-image: url("s2r://panorama/images/compendium/spinwheel_cover_spin_psd.vtex");
	opacity: 0.1;

	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: 1;

}

.Spinning #FullWheelDecorationCoverSpinning
{
	animation-name: WheelCoverMotionblur;
}

@keyframes 'WheelCoverMotionblur'
{
	0%
	{
		opacity: 0.1;
	}

	4%
	{
		opacity: 1;
	}
		
				
	40%
	{
		opacity: 0.8;
	}
	
	100%
	{
		opacity: 0;
	}
}

#FullWheelDecorationCenter
{
	height: 100%;
	width: 100%;	
	background-image: url("s2r://panorama/images/compendium/spinwheel_cover_psd.vtex");
	background-size: 100% 100%;			
	horizontal-align: center;
	vertical-align: top;
	height: 512px;
	width: 512px;
	margin-top: 0px;
    transform: rotateX(50deg) translateY(24px) translateZ(-24px);
	border: 0px solid black;    
	wash-color: #000000ee;
	visibility: collapse;
}


#WheelContainer
{
	height: 1392px;
	width: 1392px;
    transform: translateZ(100px) translateY(-610px) rotateX(55deg) ;
}

#MainContainer
{
	margin-top: 20px;
	height: 100%;
	width: 100%;	
	overflow: noclip;
	padding-top: 160px;
	opacity: 1;		
	animation-name: Start; 
	animation-duration: 2.511s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;	
}

#MainContainer.Hidden
{
	opacity: 0;	
}

//
// Animations
//
@keyframes 'Start'
{
	0%
	{
		 opacity: 0;
		 pre-transform-scale2d: .4;
		 transform: translateY(600px);
	}

	40%
	{
		 opacity: 0;
		 pre-transform-scale2d: .4;
		 		 transform: translateY(250px);
	}

	100%
	{
		opacity: 1;		
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
}


.Hidden #MainContainer
{

}

#SpinnerPin
{
	width: 96px;
	height: 108px;
	background-image: url("s2r://panorama/images/compendium/spinner_pin_psd.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	transform-origin: 50% 100%;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 102px;
}

.DarkMoon #SpinnerPin
{
	background-image: url("s2r://panorama/images/compendium/spinner_pin_darkmoon_psd.vtex");
}

#TreasureRecycle,
#ItemTypeLabel
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 60px;	
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 26px;
}

#ItemTypeLabel
{
	visibility: collapse;
}

.Spinning #ItemTypeLabel
{
	visibility: visible;
}

#TreasureRecycle
{
	margin-bottom: 20px;
	color: #DB4874;
	font-weight: bold;
	visibility: collapse;
}

.DarkMoon #TreasureRecycle
{
	visibility: visible;
}


.WheelSegment
{
	
	transform-origin: 50% 100%;
	horizontal-align: center;
    overflow: clip;
	
}
.WheelSegmentText
{
	width: 696px;
	height: 74px;
	text-align:left;
    margin-top:10px;
    font-size:40px;
    font-weight:bolder;
    transform-origin: 0% 0%;
    transform: rotateZ(90deg) translateX(65px);
}


.TitleLabel,
.InstructionsLabel
{
	margin-top: 0px;
	font-size: 56px;
	horizontal-align: center;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;

	animation-name: StartText; 
	animation-duration: 1s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;	
}

.TitleLabel
{
	letter-spacing: 2px;
	text-shadow: 2px 4px 14px black;
	font-family: titleFont;
	z-index: 10;
	
}

.Season_NewBloom2019 .TitleLabel,
{
	color: gradient( linear, 0% 0%, 0% 100%, from( newbloom_primary ), color-stop( .45,newbloom_secondary ), to( newbloom_primary ) );
}

.Season_NewBloom2019 .InstructionsLabel
{
	text-shadow: 0px 0px 8px 1.0 black;
}

.TitleLabel
{
	opacity: 1;
	transition-property: transform, pre-transform-scale2d, opacity;
	transition-duration: 1.1s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

.DarkMoon .TitleLabel
{
	text-shadow: 0px 0px 12px 1.0 #AD5245;
}

.Hidden .TitleLabel
{
	opacity: 0;
}

.InstructionsLabel
{
	font-size: 22px;
	margin-top: 220px;
	width: 300px;
	text-align: center;
	horizontal-align: right;
	text-transform: none;
	animation-name: StartDescText; 
	animation-duration: 3s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;		
}

//
// Animations
//
@keyframes 'StartText'
{
	0%
	{
		 opacity: 0;
		 pre-transform-scale2d: .2;
		 transform: translateY(600px);
	}



	100%
	{
		opacity: 1;		
		pre-transform-scale2d: 1;
		transform: translateY(0px);
	}
}

@keyframes 'StartDescText'
{
	0%
	{
		 opacity: 0;

	}

	80%
	{
		 opacity: 0;

	}


	100%
	{
		opacity: 1;		

	}
}


#01 {	transform: rotateZ( 0deg); }
#02 {	transform: rotateZ( 18deg); }
#03 {	transform: rotateZ( 36deg); }
#04 {	transform: rotateZ( 54deg); }
#05 {	transform: rotateZ( 72deg); }
#06 {	transform: rotateZ( 90deg); }
#07 {	transform: rotateZ( 108deg); }
#08 {	transform: rotateZ( 126deg); }
#09 {	transform: rotateZ( 144deg); }
#10 {	transform: rotateZ( 162deg); }
#11 {	transform: rotateZ( 180deg); }
#12 {	transform: rotateZ( 198deg); }
#13 {	transform: rotateZ( 216deg); }
#14 {	transform: rotateZ( 234deg); }
#15 {	transform: rotateZ( 252deg); }
#16 {	transform: rotateZ( 270deg); }
#17 {	transform: rotateZ( 288deg); }
#18 {	transform: rotateZ( 306deg); }
#19 {	transform: rotateZ( 324deg); }
#20 {	transform: rotateZ( 342deg); }

#21 {	transform: rotateZ( 120deg); }
#22 {	transform: rotateZ( 126deg); }
#23 {	transform: rotateZ( 132deg); }
#24 {	transform: rotateZ( 138deg); }
#25 {	transform: rotateZ( 144deg); }
#26 {	transform: rotateZ( 150deg); }
#27 {	transform: rotateZ( 156deg); }
#28 {	transform: rotateZ( 162deg); }
#29 {	transform: rotateZ( 168deg); }
#30 {	transform: rotateZ( 174deg); }
#31 {	transform: rotateZ( 180deg); }
#32 {	transform: rotateZ( 186deg); }
#33 {	transform: rotateZ( 192deg); }
#34 {	transform: rotateZ( 198deg); }
#35 {	transform: rotateZ( 204deg); }
#36 {	transform: rotateZ( 210deg); }
#37 {	transform: rotateZ( 216deg); }
#38 {	transform: rotateZ( 222deg); }
#39 {	transform: rotateZ( 228deg); }
#40 {	transform: rotateZ( 234deg); }
#41 {	transform: rotateZ( 240deg); }
#42 {	transform: rotateZ( 246deg); }
#43 {	transform: rotateZ( 252deg); }
#44 {	transform: rotateZ( 258deg); }
#45 {	transform: rotateZ( 264deg); }
#46 {	transform: rotateZ( 270deg); }
#47 {	transform: rotateZ( 276deg); }
#48 {	transform: rotateZ( 282deg); }
#49 {	transform: rotateZ( 288deg); }
#50 {	transform: rotateZ( 294deg); }
#51 {	transform: rotateZ( 300deg); }
#52 {	transform: rotateZ( 306deg); }
#53 {	transform: rotateZ( 312deg); }
#54 {	transform: rotateZ( 318deg); }
#55 {	transform: rotateZ( 324deg); }
#56 {	transform: rotateZ( 330deg); }
#57 {	transform: rotateZ( 336deg); }
#58 {	transform: rotateZ( 342deg); }
#59 {	transform: rotateZ( 348deg); }
#60 {	transform: rotateZ( 354deg); }

#Model
{
	width: 490px;
	height: 490px;
	horizontal-align: center;
	transform: translateY(-40px) translateX(2px);
}

.DarkMoon #Model,
.Season_Frostivus2018 #Model
{
	width: 850px;
	height: 850px;	
	transform: translateY(-220px) translateX(6px);
	opacity-mask: url("s2r://panorama/images/masks/softedge_top_png.vtex");
}

.Season_NewBloom2019 #Model
{
    width: 1200px;
	height: 850px;	
	transform: translateY(-220px) translateX(-35px);
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
    saturation: 1.1;
}

.PopupButton
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: 92px;
	margin-right: 64px;
}

.Spinning .PopupButton
{
	visibility: collapse;
}