DOTAPurchaseBattlePassReward
{
}

.SelfEventNotActive DOTAPurchaseBattlePassReward
{
	visibility: collapse;
}

.BattlePassBrightButton
{
	width: 100%;
}

.AlreadyClaimedContainer
{
	width: 100%;
	visibility: collapse;
	background-color: darkColor;
	height: 32px;
}

#AlreadyClaimedLabel
{
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ffffff10;
	font-size: 14px;
	font-weight: bold;
}

.FixedSize #UpgradeButton,
.FixedSize #ClaimButton,
.FixedSize #ViewButton,
.FixedSize .AlreadyClaimedContainer
{
	width: 100%;
	height: 100%;
}

.FixedSize #UpgradeButton Label,
.FixedSize #ClaimButton Label,
.FixedSize #ViewButton Label,
.FixedSize #AlreadyClaimedLabel
{
	vertical-align: center;
}

.RewardState
{
	visibility: collapse;
}

.RewardClaimed.RewardComingSoon #ViewButton,
.RewardClaimed:not(.RewardComingSoon) .AlreadyClaimedContainer,
.RewardAvailable.RewardComingSoon #ViewButton,
.RewardAvailable:not(.RewardComingSoon) #ClaimButton,
.RewardNotAvailable #UpgradeButton
{
	visibility: visible;
}

#UpgradeButton 
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( accentColor ), to( shadeColor ) );
	animation-name: PurchaseButtonGlow;
	animation-duration: 2.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
  
@keyframes 'PurchaseButtonGlow'
{
	0%
	{
		box-shadow: ultraBrightColor&33 -2px -2px 6px 4px;
	}

	50%
	{
		box-shadow: ultraBrightColor&33 -1px -1px 2px 2px;
	}

	100%
	{
		box-shadow: ultraBrightColor&33 -2px -2px 6px 4px;
	}
}