DOTAQuestRanks
{
	flow-children: right;
}

.Star
{
	horizontal-align: center;
	width: 32px;
	height: 32px;
	margin-bottom: 4px;
	wash-color: #424242;
}

.QuestRank
{
	width: 48px;
	flow-children: down;
}

.QuestRank > Label
{
	font-size: 14px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111 ), to( #333333 ) );
    border: 1px solid #151515;
	padding: 3px 3px 0px 2px;
	width: 100%;
	horizontal-align: center;
	text-align: center;
	color: #666464;
}

.QuestRank.QuestTierComplete > Label
{
	color: #9A3128;
	background-color: XPCircleGradient;
    border: XPCircleBorder;	
	border-top: 1px solid #691D18;
	border-left: 1px solid #74221B;
	border-right: 1px solid #74221B;	
	border-bottom: 1px solid #511511;	
	
	/* Fall 2016 */
	color: #5e9a28;
	border-top: 1px solid #3a6918;
	border-left: 1px solid #3f741b;
	border-right: 1px solid #3f741b;	
	border-bottom: 1px solid #2b5111;	
	
	/* Winter 2017 */
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #051927 ), to( #246791 ) );
	color: #2c76a9;
	border-top: 1px solid #1b4f74;
	border-left: 1px solid #1e5880;
	border-right: 1px solid #1e5880;	
	border-bottom: 1px solid #113751;	
}

.QuestRank.QuestTierComplete.QuestTierCurrent > Label
{
	color: white;
}

.QuestRank.QuestTierComplete .Star
{
	background-image: url("s2r://panorama/images/status_icons/icon_star_png.vtex");
	wash-color: accentColor;
	
	/* Winter 2017 */
	wash-color: #4bcaff;
}

DOTAQuestStatus .Star
{
	width: 18px;
	height: 18px;
	vertical-align: bottom;
	
	/* Fall 2016 */
	wash-color: #84ba36dd;
	
	/* Winter 2017 */
	wash-color: #3d92cddd;
}

