 @import url("file://{resources}styles/battle_pass/current_battle_pass.css");


.SideQuestBox
{
	width: 226px;
	height: 162px;
	border-radius: 5%;
	margin-left: 8px;
	margin-right: 8px;

	background-color: #121922;

	background-color: #0B183788;
	border: 1px solid #8DAEFE11;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDarkColor), to( secondaryUltraDarkColor));
	border: 1px solid darkColor&aa;
}

.BigSideQuestBox.SideQuestBox
{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;    
	height: 100%;
	border: 0px solid #8DAEFE11;
	background-color:gradient( linear, 0% 0%, 0% 100%, from(secondaryUltraDarkColor), to( secondaryDarkColor&40));
	border-radius: 0px;
}

/*.SideQuestLabels Label*/
/*{*/
	/*margin-left: 12px;*/
	/*text-shadow: 0px 0px 2px 3.0 black;*/
/*}*/

.BigSideQuestBox .XPCircle
{
	margin-bottom: 24px;
}

.BigSideQuestBox .SideQuestTitle
{
	margin-left: 0px;
	margin-top: 0px;
	height: 30px;
	background-color: darkColor;
	text-align: center;
	color: white;
	font-size: 16px;
	padding: 6px;
	letter-spacing: 2.25px;
	text-transform: uppercase;
	z-index: 2;
	text-overflow: shrink;
	horizontal-align: left;

	transition-property: border, background-color, color;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}

.SideQuestTitle
{
	font-size: 16px;
	letter-spacing: 1px;
	margin-left: 8px;
	margin-top: 8px;
}

.HeroMovie
{
	width: 122px;
	height: 162px;
}

.ChallengeCompleted .HeroMovie
{
	saturation: 0;
	wash-color: #4B7DBD;
}

.SideQuestBox.DailyHero
{
	width: 184px;
}

.HeroMovie
{
	width: 95px;
	height: 126px;
	horizontal-align: right;
	opacity-mask: url("s2r://panorama/images/masks/heroportraitfade1_psd.vtex") 1;
	wash-color: #B94B3788;
	saturation: .8;
}

.SideQuestLabels
{
	flow-children: down;
    width: 100%;
    padding-bottom: 4px;
}

/*.SideQuestLabels Label*/
/*{*/
	/*horizontal-align: center;*/
	/*font-size: 16px;*/
/*}*/

.SideQuestTitle
{
	color: #A1A199;
	text-transform: uppercase;
}

.SideQuestReward
{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: bottom;
	color: #8CB7DB;
}

.SideQuestDesc
{
	color: #666666;
	text-transform: none;
	font-weight: thin;
}

.BigSideQuestBox .SideQuestDesc
{
	margin-top: 4px;
	horizontal-align: left;
}

.SideQuestTimer
{
	flow-children: right;
	vertical-align: bottom;

	margin: 0px;
	padding-top: 3px;
	padding-left: 8px;
	padding-right: 6px;
	background-color: darkColor;
    
	tooltip-body-position: 50% 50%;
	
	border-top-right-radius: 10px;
}

.SideQuestTimer Label
{
	font-size: 14px;
	color: white;
	font-weight: thin;
}

.ChallengeCompleted .XPCircle
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( darkColor ) );
}

.ChallengeCompleted #PTS
{
	visibility:	collapse;
}

.ChallengeCompleted #QuestXP 
{
	margin-bottom: -18px;
}

.XPCircle
{
	margin: 12px;
	pre-transform-scale2d: 0.8;
	vertical-align: bottom;
	horizontal-align: right;
    margin-left: 10px;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    flow-children: down;

    background-color: XPCircleGradient;
    border: XPCircleBorder;

    box-shadow: -2px -2px 4px 4px #000000;
    
    z-index: 1;

    transition-property: brightness, pre-transform-scale2d;
    transition-duration: .25s;
}

#SideQuestContainer #PTS
{
    background-image: bp_total_points;
    background-size: cover;
    width: 22px;
    height: 22px;
    margin-top: -8px;
    horizontal-align: center;
}

#QuestXP
{
	margin: 0px;
	margin-top: 6px;
	margin-left: 3px;
	font-size: 18px;

    text-shadow: -1px 1px 8px 2 #000000bb;

	color: white;
	horizontal-align: center;
	vertical-align: middle;
}

.CheckMark
{
    background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
    background-size: cover;
    width: 18px;
    height: 18px;
    wash-color: darkColor;
    vertical-align: top;
    z-index: 2;
    horizontal-align: center;
	vertical-align: middle;
	margin-top: -12px;
    visibility: collapse;   
}

.ChallengeCompleted .CheckMark
{
    visibility: visible;
}

.ChallengeTime
{
	margin-right: 4px;
}
