/* styles for the game end quests popup */

DOTACavernCrawlInventory
{
	width: 100%;
	height: 100%;
}

.CavernCrawlInventory
{
	width: 100%;
	height: 100%;
}

.ItemList
{
	flow-children: right;
}

#ItemList0
{
}

#ItemList1
{
	margin-top: 80px;
	margin-left: 28px;
}

.TestItems
{
	margin-top: 6px;
	horizontal-align: right;
	flow-children: down;
}

.TestItem.InventoryItem
{
	width: 30px;
	height: 30px;
	margin: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.TestItem .InventoryCount
{
	visibility: collapse;
}

.InventoryItem
{
	margin: 8px 8px 8px 8px;
	width: 64px;
	height: 64px;
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	transition-property: saturation, brightness;
	transition-duration: 0.3s;

	border: 5px solid #DBBB48;
	box-shadow: 3px 3px 0px #917617;
	border-radius: 3px;
}

.InventoryItem:disabled
{
	saturation: 0;
	brightness: 0.4;
}

@keyframes 'adding_item'
{
    0%
    {
		background-color: #707000;
		wash-color: #CCAA00;
		brightness: 3;
    }

    100%
    {
		background-color: black;
		wash-color: white;
		brightness: 1;
    }
}

.AddingItem.InventoryItem
{
	animation-name: adding_item;
	animation-duration: 0.5s;
}

@keyframes 'removing_item'
{
    0%
    {
		wash-color: white;
		brightness: 1;
    }

    10%
    {
		wash-color: #CC4400;
		brightness: 3;
 		opacity: 1;
   }

    100%
    {
		wash-color: white;
		brightness: 1;
		opacity: 0;
    }
}

.RemovingItem.InventoryItem
{
	animation-name: removing_item;
	animation-duration: 1.0s;
}

@keyframes 'selecting_item'
{
    0%
    {
		background-color: black;
    }

    50%
    {
		background-color: #800000;
    }

    100%
    {
		background-color: black;
   }
}

.Selected.InventoryItem
{					    
	animation-name: selecting_item;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.InventoryItem.Key:not(.Empty)
{
	background-image: url("s2r://panorama/images/cavern/icon_key_png.vtex");
	background-size: 80%;
	background-position: 40% 50%;
}

.InventoryItem.Flare:not(.Empty)
{
	background-image: url("s2r://panorama/images/cavern/icon_flare_png.vtex");
	background-size: 80%;
	background-position: 50% 90%;
}

.InventoryItem.Swap:not(.Empty)
{
	background-image: url("s2r://panorama/images/cavern/icon_swap_png.vtex");
	background-size: 80%;
	background-position: 50% 70%;
}

.InventoryItem.CullingBlade:not(.Empty)
{
	background-image: url("s2r://panorama/images/cavern/icon_cullingblade_png.vtex");
	background-size: 80%;
	background-position: 40% 60%;
}

.InventoryItem.Destroy:not(.Empty)
{
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
	wash-color: red;
}

.InventoryItem.HalfDestroy:not(.Empty)
{
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
}

.InventoryCount
{
	vertical-align: bottom;
	horizontal-align: right;
	height: 17px;
	width: 17px;
	color: black;
	font-size: 16px;
	font-weight: black;
	text-align: center;
	margin-right: -1px;
	margin-bottom: -1px;
	background-color: #dbbc48;
	border-radius: 3px;
	z-index: 10;
	padding-top: 1px;
	padding-left: 4px;

	color: #FFFFFF;

	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}

.Empty .InventoryCount
{
	visibility: collapse;
}

