/* styles for the game end quests popup */

DOTACavernCrawlInventory
{
	width: 100%;
	height: 100%;
}

.CavernCrawlInventory
{
	width: 100%;
	height: 100%;

	background-image: url("s2r://panorama/images/cavern/inventory_bg_png.vtex");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#ItemList
{
	width: 100%;
	margin: 8px 58px 0px 58px;
	flow-children: right;
}

#TestItem
{
	width: 48px;
	height: 48px;
	horizontal-align: right;
	vertical-align: center;
}

#TestItem .InventoryCount
{
	visibility: collapse;
}

.InventoryItem
{
	margin: 8px 8px 0px 8px;
	width: 80px;
	height: 80px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	transition-property: saturation, brightness;
	transition-duration: 0.3s;
}

.InventoryItem:disabled
{
	saturation: 0;
	brightness: 0.4;
}

@keyframes 'adding_item'
{
    0%
    {
		background-color: #707000;
		wash-color: #CCAA00;
		brightness: 3;
    }

    100%
    {
		background-color: black;
		wash-color: white;
		brightness: 1;
    }
}

.AddingItem.InventoryItem
{
	animation-name: adding_item;
	animation-duration: 0.5s;
}

@keyframes 'removing_item'
{
    0%
    {
		wash-color: white;
		brightness: 1;
    }

    10%
    {
		wash-color: #CC4400;
		brightness: 3;
 		opacity: 1;
   }

    100%
    {
		wash-color: white;
		brightness: 1;
		opacity: 0;
    }
}

.RemovingItem.InventoryItem
{
	animation-name: removing_item;
	animation-duration: 1.0s;
}

@keyframes 'selecting_item'
{
    0%
    {
		background-color: black;
    }

    50%
    {
		background-color: #800000;
    }

    100%
    {
		background-color: black;
   }
}

.Selected.InventoryItem
{					    
	animation-name: selecting_item;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.InventoryItem.Key:not(.Empty)
{
	background-image: url("s2r://panorama/images/cavern/icon_key_png.vtex");
	background-size: 120%;
	background-position: 50% 40%;
}

.InventoryItem.Flare:not(.Empty)
{
	background-image: url("s2r://panorama/images/cavern/icon_orb_png.vtex");
	background-size: 120%;
	background-position: 50% 0%;
}

.InventoryItem.Swap:not(.Empty)
{
	background-image: url("s2r://panorama/images/cavern/icon_wand_png.vtex");
	background-size: 110%;
	background-position: 90% 00%;
}

.InventoryItem.Destroy:not(.Empty)
{
	background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
}

.InventoryCount
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: -2px;
	margin-right: 6px;
}

.Empty .InventoryCount
{
	visibility: collapse;
}

