/* styles for the game end quests popup */
@define CarryColor: #affeff;
@define SupportColor: #fff09d;
@define UtilityColor: #e1d3fe;

DOTACavernCrawlStyleUnlockStatus
{
}

#StyleUnlockList
{
	/*flow-children: right;*/
	width: 450px;
	height: 500px;
}

.Carry #StyleUnlockList
{
	margin-top: 49px;
	margin-left: 11px;
}

.Utility #StyleUnlockList 
{
	margin-left: 21px;
	margin-top: 11px;
}

.Support #StyleUnlockList 
{
	margin-left: 10px;
	margin-top: 9px;
}


#UnlockImage
{
	width: 68px;
	height: 68px;
	margin-left: 8px;
	margin-right: 8px;
	background-size: 100%;
	/*background-color: yellow;*/
	transform: scale3d( 1.5, 1.5, 1.0 ) translate3d( 0px, 10px, 0px );
	opacity: 0;
	saturation: 0;
	brightness: 0.3;

	transition-property: opacity, saturation, brightness;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	z-index: 8;
}

#UnlockBehind 
{
	width: 108px;
	height: 108px;
	background-size: 90%;
	background-image: url("s2r://panorama/images/cavern/set_behind_png.vtex");
	background-position: -5px 0px;
	background-repeat: no-repeat;
	z-index: 5;
	margin-top: 10px;
	opacity: 0;
}


.Carry.Claimed #UnlockBehind 
{
	brightness: 1.2;
	wash-color: CarryColor;
	opacity: 1;
}

.Utility.Claimed #UnlockBehind 
{
	brightness: 1.2;
	wash-color: UtilityColor;
	opacity: 1;
}

.Support.Claimed #UnlockBehind 
{
	brightness: 1.2;
	wash-color: UtilityColor;
	opacity: 1;
}


.Claimed #UnlockImage
{
	saturation: 1;
	brightness: 1;
	opacity: 1;
}



#Unlock0 
{
	x: -6px;
	y: 101px;
}

#Unlock1 
{
	x: 286px;
	y: 101px;
}

#Unlock2 
{
	x: 142px;
	y: 323px;
}

#Unlock3 
{
	x: 142px;
	y: 0px;
}

#Unlock4 
{
	x: 286px;
	y: 255px;
}

#Unlock5 
{
	x: -6px;
	y: 255px;
}

.MapVariant0 #Unlock3,
.MapVariant0 #Unlock4,
.MapVariant0 #Unlock5
{
	visibility: collapse;
}

/*(
.Utility #Unlock0 
{
	x: 6px;
	y: 90px;
}

.Utility #Unlock1 
{
	x: 297px;
	y: 90px;
}

.Utility #Unlock2 
{
	x: 152px;
	y: 316px;
}

.Support #Unlock0 
{
	x: 8px;
	y: 82px;
}

.Support #Unlock1 
{
	x: 301px;
	y: 82px;
}

.Support #Unlock2
{
	x: 153px;
	y: 307px;
}

.Support #Unlock3 
{
	x: 142px;
	y: -30px;
}

.Support #Unlock4
{
	x: 286px;
	y: 255px;
}

.Support #Unlock5 
{
	x: -6px;
	y: 255px;
}
	*/