
/* Don't change the name - referenced from code */
@define PercentXInitialOffset: 0.32f;
@define PercentYInitialOffset: 0.015f;

DOTACavernCrawlerMap
{
}

.BackgroundContainer
{
    width: 100%;
    height: 100%;    
	ui-scale: 5%;
}

#Background
{
    width: 100%;
    height: 100%;    
	background-image: url("s2r://panorama/images/cavern/cavern_map_small_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#Heroes
{
    width: 100%;
    height: 100%;
}

.Node
{
//    transition-property: width, height, transform;
//	transition-timing-function: ease-in-out;
//	transition-duration: 0.1s;
}

.Node.ZoomedOut.Depth0 
{
    width: 1.6%;
    height: 1.6%;
    transform: translateX( -0.8% ) translateY( -0.8% );
}

.Node.ZoomedIn.Depth0 
{
    width: 1.28%;
    height: 1.28%;
    transform: translateX( -0.64% ) translateY( -0.64% );
}

.Node.ZoomedOut.Depth1 
{
    width: 2.6%;
    height: 2.6%;
    transform: translateX( -1.3% ) translateY( -1.3% );
}

.Node.ZoomedIn.Depth1 
{
    width: 1.69%;
    height: 1.69%;
    transform: translateX( -0.845% ) translateY( -0.845% );
}

.Node.ZoomedOut.Depth2 
{
    width: 3.2%;
    height: 3.2%;
    transform: translateX( -1.6% ) translateY( -1.6% );
}

.Node.ZoomedIn.Depth2 
{
    width: 2.24%;
    height: 2.24%;
    transform: translateX( -1.12% ) translateY( -1.12% );
}

.Node.ZoomedOut.Depth3
{
    width: 4.6%;
    height: 4.6%;
    transform: translateX( -2.3% ) translateY( -2.3% );
}

.Node.ZoomedIn.Depth3
{
    width: 2.76%;
    height: 2.76%;
    transform: translateX( -1.38% ) translateY( -1.38% );
}

.Node.ZoomedOut.Depth4 
{
    width: 6.4%;
    height: 6.4%;
    transform: translateX( -3.2% ) translateY( -3.2% );
}

.Node.ZoomedIn.Depth4 
{
    width: 3.84%;
    height: 3.84%;
    transform: translateX( -1.92% ) translateY( -1.92% );
}

.Node.Depth5 
{
    width: 14.0%;
    height: 14.0%;
    transform: translateX( -7.0% ) translateY( -7.0% );
}

.Node.Depth6 
{
    width: 18.0%;
    height: 18.0%;
    transform: translateX( -9.0% ) translateY( -9.0% );
}

.Node.Finals 
{
    width: 36.0%;
    height: 36.0%;
    transform: translateX( -18.0% ) translateY( -18.0% );
}

#MapOverview
{
	width: 164px;
	height: 220px;
	flow-children: down;

	opacity: 0;

	transition-property: opacity;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}

#MapImage
{
	width: 164px;
	height: 164px;

	background-image: url("s2r://panorama/images/cavern/cavern_map_small_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;

    opacity: 0.5;
}

.ZoomedIn #MapOverview
{
	opacity: 1;

	transition-property: position, opacity;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}

.MapSubSection
{
    font-size: 26px;
    color: #ffffff22;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.GroupA
{
	horizontal-align: center;
    y: 0.4%;
}

.GroupB
{
    x: 65.5%;
    y: 86.6%;
}

.GroupC
{
    x: 31.7%;
    y: 86.6%;
}

.ZoomSection0 #MapOverview
{
	x: 40%;
	y: 5%;
}

.ZoomSection1 #MapOverview
{
	x: 25%;
	y: 80%;
}

.ZoomSection2 #MapOverview
{
	x: 70.8%;
	y: 80%;
}

.MapSectionHighlight
{
	background-color: accentColor;
	opacity: 0.3;
	border: 1px solid accentColorBright;

	width: 82px;
	height: 82px;

	transition-property: position;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}

.ZoomSection0 .MapSectionHighlight,
.MapHighlightButton.Quad0
{
	x: 0px;
	y: 0px;
	width: 100%;
}

.ZoomSection1 .MapSectionHighlight,
.MapHighlightButton.Quad1
{
	x: 0px;
	y: 82px;
}

.ZoomSection2 .MapSectionHighlight,
.MapHighlightButton.Quad2
{
	x: 82px;
	y: 82px;
}

.MapHighlightButton
{
	width: 82px;
	height: 82px;

	opacity: 1;
}

.MapHighlightButton:active
{
    sound: "ui_friends_slide_in";
}

.MapHighlightButton:hover 
{
    background-color: accentColor;
	opacity: 0.08;
}

.FullMapButton
{
	width: 164px;
	height: 32px;
	margin-top: 10px;
	padding-top: 6px;

	border: 1px solid #777777;
}

.FullMapButton:hover
{
	border: 1px solid #AAAAAA;
}

.FullMapButton Label:hover
{
	color: white;
}

.FullMapButton Label
{
	width: 164px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 2px;
}

.FullMapButton:active
{
	border: 1px solid white;
    sound: "ui_friends_slide_in";
}

.FullMapButton Label:active
{
	color: white;
}

