
/* Add any overrides necessary for the rotating scene */

#VersusScene_bg
{
	width: 34%;
	height: 34%;
	vertical-align: middle;
	horizontal-align: center;
	blur: gaussian( 1.0 );
	pre-transform-scale2d: 3.0;
}

#VersusScene
{
	/* Expensive hack because otherwise the scene doesn't render alpha correctly */
	opacity: 0.99;
}

