#Background
{
	margin-top: 35px;
	background-image: url("s2r://panorama/images/hud/vs/vs_notier_png.vtex");
	background-size: 100%;
	width: 1009px;
	height: 205px;
}

.BronzeTier #Background		{ background-image: url("s2r://panorama/images/hud/vs/vs_bronze_png.vtex"); }
.SilverTier #Background		{ background-image: url("s2r://panorama/images/hud/vs/vs_silver_png.vtex"); }
.GoldTier #Background		{ background-image: url("s2r://panorama/images/hud/vs/vs_gold_png.vtex"); }
.PlatinumTier #Background	{ background-image: url("s2r://panorama/images/hud/vs/vs_platinum_png.vtex"); }
.MasterTier #Background		{ background-image: url("s2r://panorama/images/hud/vs/vs_master_png.vtex"); }

#FeaturedHeroBadge
{
	margin-top: 55px;
	margin-left: 10px;
}



#FeaturedHeroDetails
{
	flow-children: down;
	margin-left: 110px;
	height: 245px;
	width: 900px;
	margin-top: 5px;
}

#FeaturedHeroPlayerDetails 
{
	width: 100%;
	height: 70px;
	flow-children: right;
}

#FeaturedHeroPlayerBPLevel 
{
	font-size: 16px;
	font-weight: bold;
	color: #ffffff80;
	margin-top: 49px;
	horizontal-align: right;
	margin-left: 430px;
	text-align: right;

	visibility: collapse;
}

#BPLevel
{
	visibility: collapse;
	transform: translateY(10px);
}

/* HIDE WHEN NOT BATTLE PASS */
#BPLevel
{
	margin-top: 50px;
	margin-left: 10px;
	horizontal-align: left;
	ui-scale: 120%;
}


#FeaturedHeroBadge {
	margin-top: 0px;
	margin-left: 0px;

	visibility: collapse;
}






.OwnsBattlePass #FeaturedHeroPlayerBPLevel,
.OwnsBattlePass #BPLevel
{
	visibility: visible;
}

.EventHidesBattleLevel .OwnsBattlePass #FeaturedHeroPlayerBPLevel,
.EventHidesBattleLevel .OwnsBattlePass #BPLevel
{
	visibility: collapse;
}

.PlayerNameContainer
{
	flow-children: right;
	margin-top: 35px;
	margin-left: 10px;
	padding-top: 7px;
	overflow: noclip;
}

#FeaturedHeroPlayerName
{
	font-size: 26px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 8px black;
	text-align: left;
	horizontal-align: left;
}

#FeaturedHeroRelics
{
	flow-children: right;
	width: 100%;
	margin-top: -24px;
	height: 20px;
	margin-left: 10px;

	opacity: 0.0;
}

.FeaturedPlayerPlusSubscriber #FeaturedHeroRelics
{
	opacity: 1.0;
}

#RareRelics
{
	flow-children: right;
	padding-top: 2px;
}

.RareRelic
{
	width: 9px;
	height: 11px;
	margin-right: 5px;
	margin-top: 4px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_rare_empty_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.RareRelic.RelicOwned
{
	background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_rare_psd.vtex");
}

#NormalRelics
{
	flow-children: right;
	margin-left: -2px;
	margin-top: 7px;
}

.NormalRelic
{
	width: 8px;
	height: 8px;
	margin-left: 5px;

	background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_normal_empty_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.PrimaryAttributeStrength .NormalRelic.RelicOwned	{ background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_normal_str_psd.vtex"); }
.PrimaryAttributeAgility .NormalRelic.RelicOwned	{ background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_normal_agi_psd.vtex"); }
.PrimaryAttributeIntellect .NormalRelic.RelicOwned	{ background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_normal_int_psd.vtex"); }

.NormalRelic.Down
{
	margin-top: 8px;
}

#NameDotaPlusRank {
	flow-children: right;
	transform: translateY(0px);
	height: 110px;
	//border: 1px solid red;
	width: fit-children;
}


#FeaturedHeroName
{
	text-transform: uppercase;
	font-weight: black;
	font-style: italic;
	font-size: 110px;
	text-shadow: 2px 2px 8px black;
	max-width: 670px;
	//width: fit-children;
	height: 110px;
	padding-right: 20px;
	color: #ffffff;
	text-overflow: shrink;
	vertical-align: middle;
	transform: translateY(-10px);
}

#FeaturedHeroAccolades
{
	flow-children: right;
	margin-left: 30px;
	height: 62px;
	width: 900px;
}

#FeaturedHeroRelics {
	height: 21px;
	width: 100%;
}

#FeaturedHeroPlayerTitle
{
	visibility:collapse;
	font-size: 24px;
	color: #f8eac7;
	color: gradient( linear, 0% 0%, 0% 100%, from( #f5e5bd ), to( #ad7a20 ) );
	font-weight: bold;
	text-shadow: 0px 0px 8px 1.0 #7e5a00;
	text-align: left;
	horizontal-align: left;
	margin-top: 1px;
	margin-left: 5px;
	height: 100px;
	//border: 1px solid red;
}

.HasTitle #FeaturedHeroPlayerTitle
{
	visibility:visible;
}

/* Minimal version */
.Minimal #Background
{
	visibility: collapse;
}

.Minimal #FeaturedHeroDetails
{
	width: 600px;
}

.Minimal .PlayerNameContainer
{
	width: 440px;
}

.Minimal #FeaturedHeroPlayerBPLevel
{
	margin-left: 0px;
}

.Minimal #FeaturedHeroName
{
	font-size: 64px;
	max-width: 530px;
	height: 80px;
}

.Minimal #FeaturedHeroAccolades
{
	visibility: collapse;
}
