DOTAHudVersusScene
{
	width: 100%;
	height: 100%;
	tooltip-position: right; /* For chat bubbles */
	tooltip-body-position: 50% 50%;
	visibility: collapse;
}

DOTAHudVersusScene.VersusSceneVisible
{
	visibility: visible;
}

#VersusScene
{
	width: 100%;
	height: 100%;
	tooltip-position: top; /* For chat bubbles */
	tooltip-body-position: 50% 0%;
}

#DebugButtons
{
	width: 200px;
	vertical-align: middle;
	flow-children: down;
}

#DebugButtons.Hide
{
	opacity: 0;
}

#DebugButtons .ButtonBevel
{
	width: 200px;
	margin-bottom: 2px;
}

DOTAHud #DebugButtons
{
	visibility: collapse;
}

#FooterPanel
{
    width: 100%;
    height: 600px;
    vertical-align: bottom;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.7, #0000003f  ), color-stop( 0.75, #0000003f  ), to( black ) );	
    //border: 1px solid red;
}

#FeaturedHeroInfo
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-bottom: 140px;
	margin-right: 0px;
	opacity: 0.0;
	transform: translateX( 100px );
	transition-property: opacity, transform;
	transition-duration: 0.3s, 1s;
	transition-timing-function: ease;
}

.RevealFeaturedHeroDetails #FeaturedHeroInfo
{
	opacity: 0.99;
	transform: none;
	transition-duration: 0s;
}

#TeamInfo
{
	horizontal-align: left;
	margin-left: 100px;
	margin-top: 40px;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 1s;
}

.RevealTeamDetails #TeamInfo
{
	opacity: 1.0;
	transition-duration: 0s;
}

#BlackOverlay
{
	width: 100%;
	height: 100%;
	background-color: black;
	transition-property: background-color;
	transition-duration: 2s;
}

.RevealScene #BlackOverlay
{
	background-color: transparent;
	transition-duration: 1s;
}

#LoadingState
{
	vertical-align: middle;
	horizontal-align: center;
	flow-children: down;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: 0.5s;
}

.LoadingVersusScreen #LoadingState
{
	opacity: 1.0;

	transition-duration: 0.2s;
}

#LoadingState .Spinner
{
	horizontal-align: center;
	wash-color: #666;
}

#LoadingState Label
{
	horizontal-align: center;
	text-align: center;
	margin-top: 16px;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
}