DOTAHudVersusSceneInteractiveControls
{
	visibility: collapse;
}

DOTAHudVersusSceneInteractiveControls.CanInteract
{
	visibility: visible;
}

#InteractiveControlsLabel 
{
	font-size: 24px;
	color: #ffffff90;
	text-transform: uppercase;
	letter-spacing: 2px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 50px;
	//margin-left: 853px;
	font-weight: semi-bold;
	text-shadow: 0px 0px 10px 5.0 #000000;
}

#ControlsContainer #InteractiveControlsLabel {
	opacity: 0;
	vertical-align: middle;
	horizontal-align: center;
	margin-bottom: 0px;
	margin-left: 0px;
}

.HasPickedAnimation.HasPickedChatWheel #InteractiveControlsLabel
{
	visibility: collapse;
}

#ControlsContainer
{
	vertical-align: bottom;
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 76px;
	//background-color: #000000ee;
	width: fit-children;
	//border-radius: 20px;
}

.PickerActive #ControlsContainer,
.PickerActive #InteractiveControlsLabel
{
	visibility: collapse;
}

.SmallSpacer
{
	width: 2px;
	height: 100%;
	//background-color: #ffffff10;
}

.Spacer
{
	width: fill-parent-flow( 1.0 );
}

.ActionLeftSpacer {
	width: 180px;
}

.PlusOnly
{
	visibility: collapse;
}

.PlusSubscriber .PlusOnly
{
	visibility: visible;
}

.PlusLogo
{
	width: 48px;
	height: 48px;
	margin-top: 28px;
	horizontal-align: center;
}

.InteractiveButtonLabel {
	font-size: 20px;
	text-transform: uppercase;
	color: #dedede;
	horizontal-align: center;
	vertical-align: bottom;
	letter-spacing: 2px;
	margin-bottom: -10px;
}

.InteractButton
{
	width: 200px;
	height: 200px;
	padding: 20px;
	//background-image: url("s2r://panorama/images/settings_chatwheel_png.vtex");
	//background-position: center;
	//background-repeat: no-repeat;
	//background-size: 75%;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.1s;
	pre-transform-scale2d: 0.8;
	margin: 0px 15px;
	//background-color: #000000ee;
	//border-radius: 50%;
	overflow: noclip;
	//border: 10px solid #99999910;
}

.InteractButtonBG {
	//background-image: url("s2r://panorama/images/hud/vs/settings_chatwheel_psd.vtex");
	//background-position: center;
	//background-repeat: no-repeat;
	//background-size: 75%;
	width: 100%;
	height: 100%;
	wash-color: #333333;
	//background-color: red;
}

.InteractButton.ChatControls {
	//margin: 0px 0px 0px 30px;
}

.InteractButton.PlusChatControls {
	//margin: 0px 30px 0px 0px;
}

.InteractButton:selected
{
	wash-color: #c5dcff;
}

.InteractButton:hover
{
	brightness: 2.0;
	pre-transform-scale2d: 1;
	z-index: 1;
}

.InteractButton:active
{
	brightness: 1.5;
}

.InteractButtonBackground
{
	width: 75%;
	height: 75%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("s2r://panorama/images/hud/vs/settings_chatwheel_psd.vtex");
	horizontal-align: center;
	wash-color: #000000;
	margin-top: 0px;
}

.HasPickedAnimation .AnimationControls
{
	visibility: collapse;
}

.AnimationControls.InteractButton
{
	//border-right: 2px solid #ffffff20;
}


.AnimationControls .CooldownRadialSweep
{
	background-image: url("s2r://panorama/images/hud/vs/icon_taunts_png.vtex");
}

.HasPickedChatWheel .ChatControls,
.HasPickedChatWheel .PlusChatControls
{
	visibility: collapse;
}


.ChatControls .CooldownRadialSweep
{
	background-image: url("s2r://panorama/images/hud/vs/icon_chat_png.vtex");
}


.PlusChatControls .CooldownRadialSweep
{
	background-image: url("s2r://panorama/images/hud/vs/icon_dotaplus_chat_png.vtex");
}

@keyframes 'cooldown-radial-clip-loop'
{
	0%
	{
		clip: radial( 50% 50%, 0deg, 0deg );
	}

	50%
	{
		clip: radial( 50% 50%, 0deg, 180deg );
	}

	100%
	{
		clip: radial( 50% 50%, 0deg, 360deg );
	}
}

.CooldownRadialSweep
{
	width: 40%;
	height: 40%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center -5px;
	horizontal-align: center;
	margin-top: 0px;
	vertical-align: middle;
}

.OnCooldown .CooldownRadialSweep
{
	animation-name: cooldown-radial-clip-loop;
	animation-duration: 2.0s;
	animation-timing-function: linear;
}

/* Hotkeys */
.HotkeyContainer
{
	width: 100%;
	height: 100%;
	margin-left: 1px;
	visibility: collapse;
}

.HasHotkey .HotkeyContainer
{
	visibility: visible;
}

.Hotkey
{
	//margin-left: -4px;
	z-index: 16;
	border-radius: 20%;
	vertical-align: top;
	horizontal-align: left;
	min-width: 14px;
	min-height: 16px;
	max-width: 70px;
	max-height: 15px;
	//padding-bottom: 3px;
	white-space: nowrap;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
	border: 1px solid #ffffff05;
	box-shadow: fill black 1px 1px 2px 2px;
	ui-scale: 200%;
}

.HotkeyText
{
	color: #bba995;
	text-shadow: 1px 1px 0px 2 #000000;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	horizontal-align: center;
	margin: 0px 0px -2px 0px;
}

.HotkeyModifier
{
	margin-left: -4px;
	margin-top: 20px;
	z-index: 16;
	vertical-align: top;
	horizontal-align: left;
	min-width: 18px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
	border: 1px solid #ffffff05;
	box-shadow: fill black 1px 1px 2px 2px;
	visibility: collapse;
}

.hotkey_alt .HotkeyModifier
{
	visibility: visible;
}

.AltText
{
	color: #bba995;
	text-shadow: 1px 1px 2px 2 #000000;
	font-size: 8px;
	font-weight: normal;
	text-align: center;
	width: 100%;
	margin: 0px -2px -2px -1px;
	visibility: visible;
}

/* Play/Pause */
.PlaybackRateImage
{
	width: 48px;
	height: 48px;
	vertical-align: center;
	horizontal-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.PlayImage
{
	visibility: collapse;
	background-image: url("s2r://panorama/images/transport_controls/icon_play_png.vtex");
}

.PauseImage
{
	background-image: url("s2r://panorama/images/transport_controls/icon_pause_png.vtex");
}

.Paused .PlayImage
{
	visibility: visible;
}

.Paused .PauseImage
{
	visibility: collapse;
}

.HotkeyDesc
{
	vertical-align: bottom;
	horizontal-align: center;
	text-transform: uppercase;
	margin-bottom: 3px;
}

#ChatWheelVsScreen
{
	width: 100%;
	height: 100%;
}