#Background
{
	margin-top: 35px;
	background-image: url("s2r://panorama/images/hud/vs/vs_notier_png.vtex");
	background-size: 100%;
	width: 1009px;
	height: 205px;
}

.BronzeTier #Background		{ background-image: url("s2r://panorama/images/hud/vs/vs_bronze_png.vtex"); }
.SilverTier #Background		{ background-image: url("s2r://panorama/images/hud/vs/vs_silver_png.vtex"); }
.GoldTier #Background		{ background-image: url("s2r://panorama/images/hud/vs/vs_gold_png.vtex"); }
.PlatinumTier #Background	{ background-image: url("s2r://panorama/images/hud/vs/vs_platinum_png.vtex"); }
.MasterTier #Background		{ background-image: url("s2r://panorama/images/hud/vs/vs_master_png.vtex"); }

#FeaturedHeroBadge
{
	margin-top: 55px;
	margin-left: 10px;
}

#FeaturedHeroDetails
{
	flow-children: down;
	margin-left: 110px;
	height: 245px;
	width: 900px;
	margin-top: 5px;
}

#FeaturedHeroPlayerDetails {
	width: 100%;
	height: 70px;
	flow-children: right;
}

#FeaturedHeroPlayerBPLevel {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff80;
	margin-top: 49px;
	horizontal-align: right;
	margin-left: 430px;
	text-align: right;

	visibility: collapse;
}

#BPLevel
{
	visibility: collapse;
	transform: translateY(10px);
}

.OwnsBattlePass #FeaturedHeroPlayerBPLevel,
.OwnsBattlePass #BPLevel
{
	visibility: visible;
}

#FeaturedHeroPlayerName
{
	font-size: 26px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 8px black;
	text-align: left;
	horizontal-align: left;
	margin-top: 35px;
	margin-left: 10px;
	padding-top: 7px;
}

#FeaturedHeroRelics
{
	flow-children: right;
	width: 100%;
	margin-top: -24px;
	height: 20px;
	margin-left: 10px;

	opacity: 0.0;
}

.FeaturedPlayerPlusSubscriber #FeaturedHeroRelics
{
	opacity: 1.0;
}

#RareRelics
{
	flow-children: right;
	padding-top: 1px;
}

.RareRelic
{
	width: 9px;
	height: 11px;
	margin-right: 5px;
	margin-top: 4px;
	vertical-align: middle;

	background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_rare_empty_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.RareRelic.RelicOwned
{
	background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_rare_psd.vtex");
}

#NormalRelics
{
	flow-children: right;
	margin-left: -2px;
	margin-top: 6px;
}

.NormalRelic
{
	width: 8px;
	height: 8px;
	margin-left: 5px;

	background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_normal_empty_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.PrimaryAttributeStrength .NormalRelic.RelicOwned	{ background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_normal_str_psd.vtex"); }
.PrimaryAttributeAgility .NormalRelic.RelicOwned	{ background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_normal_agi_psd.vtex"); }
.PrimaryAttributeIntellect .NormalRelic.RelicOwned	{ background-image: url("s2r://panorama/images/hero_relics/hero_relic_pip_normal_int_psd.vtex"); }

.NormalRelic.Down
{
	margin-top: 8px;
}


#FeaturedHeroName
{
	text-transform: uppercase;
	font-weight: black;
	font-style: italic;
	font-size: 110px;
	text-shadow: 2px 2px 8px black;
	max-width: 670px;
	height: 110px;
	padding-right: 20px;
	color: #ffffff;
	text-overflow: shrink;
	vertical-align: middle;
	transform: translateY(-10px);
}

#FeaturedHeroAccolades
{
	flow-children: right;
	margin-left: 30px;
	height: 62px;
	width: 900px;
}

#FeaturedHeroRelics {
	height: 21px;
	width: 100%;
}
