#Background
{
	margin-top: 35px;
	background-image: url("s2r://panorama/images/hud/vs/vs_notier_png.vtex");
	background-size: 100%;
	width: 1009px;
	height: 205px;
}

.BronzeTier #Background			{ background-image: url("s2r://panorama/images/hud/vs/vs_bronze_png.vtex"); }
.SilverTier #Background			{ background-image: url("s2r://panorama/images/hud/vs/vs_silver_png.vtex"); }
.GoldTier #Background			{ background-image: url("s2r://panorama/images/hud/vs/vs_gold_png.vtex"); }
.PlatinumTier #Background		{ background-image: url("s2r://panorama/images/hud/vs/vs_platinum_png.vtex"); }
.MasterTier #Background			{ background-image: url("s2r://panorama/images/hud/vs/vs_master_png.vtex"); }
.GrandmasterTier #Background	{ background-image: url("s2r://panorama/images/hud/vs/vs_grandmaster_png.vtex"); }

#FeaturedHeroBadge
{
	margin-top: 55px;
	margin-left: 10px;
}



#FeaturedHeroDetails
{
	flow-children: down;
	margin-left: 110px;
	height: 245px;
	width: 900px;
	margin-top: 5px;
}

#FeaturedHeroPlayerDetails 
{
	width: 100%;
	height: 70px;
	flow-children: right;
}

#FeaturedHeroPlayerBPLevel 
{
	font-size: 16px;
	font-weight: bold;
	color: #ffffff80;
	margin-top: 49px;
	horizontal-align: right;
	margin-left: 430px;
	text-align: right;

	visibility: collapse;
}

#BPLevel
{
	visibility: collapse;
	transform: translateY(10px);
}

/* HIDE WHEN NOT BATTLE PASS */
#BPLevel
{
	margin-top: 50px;
	margin-left: 10px;
	horizontal-align: left;
	ui-scale: 120%;
}

.OwnsBattlePass #FeaturedHeroPlayerBPLevel,
.OwnsBattlePass #BPLevel
{
	visibility: visible;
}

.EventHidesBattleLevel .OwnsBattlePass #FeaturedHeroPlayerBPLevel,
.EventHidesBattleLevel .OwnsBattlePass #BPLevel
{
	visibility: collapse;
}

.PlayerNameContainer
{
	flow-children: right;
	margin-top: 35px;
	margin-left: 10px;
	padding-top: 7px;
	overflow: noclip;
}

#FeaturedHeroPlayerName
{
	font-size: 24px;
	color: white;
	font-weight: semi-bold;
	text-shadow: 2px 2px 8px black;
	text-align: left;
	horizontal-align: left;
	margin-top: 3px;
}

#RelicsThumbnail
{
	ui-scale: 78%;
	margin-top: 150px;
	margin-left: 29px;

	visibility: collapse;
}

.HasHeroRelics #RelicsThumbnail
{
	visibility: visible;
}

#HeroRelicsContainer
{
	margin-top: 56px;
	margin-left: 10px;
	width: 98px;
	height: 182px;
	background-image: url("s2r://panorama/images/hero_relics/relic_container_vs_psd.vtex");
	background-size: contain;

	visibility: collapse;
}

.HasHeroRelics #HeroRelicsContainer
{
	visibility: visible;
}

.NoTier #HeroRelicsContainer			{ background-image: url("s2r://panorama/images/hero_relics/relic_container_vs_bronze_psd.vtex"); }
.BronzeTier #HeroRelicsContainer		{ background-image: url("s2r://panorama/images/hero_relics/relic_container_vs_bronze_psd.vtex"); }
.SilverTier #HeroRelicsContainer		{ background-image: url("s2r://panorama/images/hero_relics/relic_container_vs_silver_psd.vtex"); }
.GoldTier #HeroRelicsContainer			{ background-image: url("s2r://panorama/images/hero_relics/relic_container_vs_gold_psd.vtex"); }
.PlatinumTier #HeroRelicsContainer		{ background-image: url("s2r://panorama/images/hero_relics/relic_container_vs_platinum_psd.vtex"); }
.MasterTier #HeroRelicsContainer		{ background-image: url("s2r://panorama/images/hero_relics/relic_container_vs_master_psd.vtex"); }
.GrandmasterTier #HeroRelicsContainer	{ background-image: url("s2r://panorama/images/hero_relics/relic_container_vs_grandmaster_psd.vtex"); }


#NameDotaPlusRank {
	flow-children: right;
	transform: translateY(0px);
	height: 110px;
	//border: 1px solid red;
	width: fit-children;
}


#FeaturedHeroName
{
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
	font-family: titleFont;
	font-size: 100px;
	text-shadow: 2px 2px 8px black;
	max-width: 670px;
	letter-spacing: 2px;
	//width: fit-children;
	height: 110px;
	padding-right: 20px;
	color: #ffffffee;
	text-overflow: shrink;
	vertical-align: middle;
	transform: translateY(-10px);
}

#FeaturedHeroAccolades
{
	flow-children: right;
	margin-left: 30px;
	height: 62px;
	width: 900px;
}

#FeaturedHeroPlayerTitle
{
	visibility:collapse;
	font-size: 22px;
	color: #f8eac7;
	color: gradient( linear, 0% 0%, 0% 100%, from( #f5e5bd ), to( #ad7a20 ) );
	font-weight: semi-bold;
	text-shadow: 0px 0px 8px 1.0 #7e5a00;
	text-align: left;
	horizontal-align: left;
	margin-top: 4px;
	margin-left: 5px;
	height: 100px;
	//border: 1px solid red;
}

.HasTitle #FeaturedHeroPlayerTitle
{
	visibility:visible;
}

/* Minimal version */
.Minimal #Background
{
	visibility: collapse;
}

.Minimal #FeaturedHeroDetails
{
	width: 600px;
}

.Minimal .PlayerNameContainer
{
	width: 440px;
}

.Minimal #FeaturedHeroPlayerBPLevel
{
	margin-left: 0px;
}

.Minimal #FeaturedHeroName
{
	font-size: 64px;
	max-width: 530px;
	height: 80px;
}

.Minimal #FeaturedHeroAccolades
{
	visibility: collapse;
}
