	@define textHighlightColor: #f3e6c9;
@define headingColor: #c3b699;
@define goalColor: #383534;
@define activeGoalColor: #A9372E;

#CommunityChallengeBackground
{
	width: 1920px;
	background-image: url("s2r://panorama/images/backgrounds/community_challenge_lina_psd.vtex");
	background-position: 0px 180px;
	background-size: 897px 770px;
	background-repeat: no-repeat;
	background-color: transparent;
	horizontal-align: center;
}


.AspectRatio16x10 #CommunityChallengeBackground
{
	background-position: -80px 180px;
}


.AspectRatio4x3 #CommunityChallengeBackground
{
	background-position: -180px 180px;
}

#CompendiumBody
{
	flow-children: down;
	width: 1380px;
	horizontal-align: center;
	background-color: transparent;
}

Label.Title
{
	color: textHighlightColor;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom:12px;
	text-shadow: 0px 0px 8px 1.0 accentColorGlow;
	letter-spacing: 2px;
}

#Container
{
	flow-children: right;
	width: 100%;
	height: 90%;
}

#LeftPanel
{
	width: 400px;
	height: 100%;
	//background-image: url("s2r://panorama/images/items/abyssal_blade_png.vtex");
	background-size: contain;
	flow-children: down;
}

#GoalImage
{
	width: 100%;
	height: 100%;
	opacity: 0.2;
}

#RightPanel
{
	width: 400px;
	height: 100%;
	margin-top: 48px;
	//background-color: black;
	flow-children: down;
	padding: 24px 16px 0px 16px;
}

#CenterPanel
{
	width: fill-parent-flow(1);
 	height: 100%;
	margin: 48px 48px 0px 48px;
	flow-children: down;
	background-color: #000000cc;
	padding: 20px;
}

#ChallengePanel
{
	width: 100%;
	height: fill-parent-flow(1);
	margin: 0px 0px 0px 0px;
	flow-children: down;
	//background-color: #3b0f0aaa;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b0f0aaa ), to( #3b0f0a00 ) );	
	padding: 20px 20px 0px 20px;
}

#CurrentChallengeLabel
{
	color: #923028ff;
	font-size: 16px;
	//margin-top: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#CurrentChallengeName
{
	color: textHighlightColor;
	font-size: 32px;
	//text-transform: uppercase;
}

#CurrentChallengeDescription
{
	color: textBrightColor;
	font-size: 18px;
	height: fill-parent-flow(1);
}

#CurrentChallengeProgressPanel
{
	background-color: #44444400;
	width: 100%;
	height: 140px;
	vertical-align: bottom;
	flow-children: down;
	//padding: 20px;
}

#CurrentChallengeProgressPanel Label
{
	color: textBrightColor;
	font-size: 16px;
	text-transform:uppercase;
}

#CurrentChallengeProgressPanel ProgressBar
{
	width: 100%;
}

#CurrentChallengeProgressLabelsContainer
{
	width: 100%;
	height: 20px;
}

#CurrentChallengeProgressMin
{
	horizontal-align: left;
}

#CurrentChallengeProgressMax
{
	horizontal-align: right;
}

#OverviewPanel
{
	width: 100%;
	height: 200px;
	background-color: #000000dd;
	border: 1px solid accentBorderColor;
	padding: 20px;
	flow-children: down;
}

#OverviewPanel .Heading
{
	color: textHighlightColor;
	font-size: 16px;
	text-transform: uppercase;
}

#ChallengePathContainer
{
	height: fill-parent-flow( 1 );
	width: 100%;
	margin-left: 16px;
	margin-right: 32px;
	flow-children: right;
	background-image: url("s2r://panorama/images/compendium/spring2016/dotline_png.vtex");
	background-size: 144px 12px;
	background-repeat: repeat-x;
	background-position: center;
}


#ChallengePathContainer .Goal
{
	width: 30px;
	height: 30px;
	vertical-align: center;
	border-radius: 50%;
	background-color: goalColor;
	
}

.GoalSpace
{
	width: 31px;
}

#ChallengePathContainer .Goal.Loading
{
	background-color: #444444ff;
}

#ChallengePathContainer .Goal.InProgress
{
	width: 48px;
	height: 48px;
	background-color: activeGoalColor;
	border: 4px solid #ffffffff;
	pre-transform-scale2d: 1.0;
	border-color: white;
	
	
	animation-name: ActiveCommunityQuest;
	animation-duration: 2.0s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#ChallengePathContainer .Goal.Completed
{
	background-color: #333333ff;
}

#RightPanel .Heading
{
	color: headingColor;
	font-size: 16px;
	text-transform: uppercase;
}

#RightPanel .Body
{
	color: textBrightColor;
	font-size: 18px;
	padding-bottom: 24px;
}

#RightImage
{
	width: 100%;
	height: 140px;
	background-color: none;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/compendium/spring2016/campaignrewards/lina_plinko_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#PlaysRemainingContainer
{
	width: 100%;
	height: 100px;
	vertical-align: bottom;
	flow-children: down;
}

#PlaysRemainingLabel
{
	color: textHighlightColor;
	font-size: 16px;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#PlayLinaGameButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 20px;
}

#PlayLinaGameButton Label
{
	text-align: center;
	margin-left: 24px;
	margin-right: 24px;
}

@keyframes 'ActiveCommunityQuest'
{
	0%	{		background-color:activeGoalColor; border: 4px solid #ffffff; pre-transform-scale2d: 0.9; }
	50%	{		background-color:#990e30; border: 4px solid #ffcc00; pre-transform-scale2d: 1.0; }
	100%	{	background-color:activeGoalColor; border: 4px solid #ffffff; pre-transform-scale2d: 0.9; }
}
