@define setsPerCarouselPage: 4;

#Contents.ContextMenuHeroSetPicker
{
	flow-children: down;
	padding: 0px;
	margin: 0px;
	border: 0px;
	
	box-shadow: fill #000000cc 0px 0px 4px 4px;
	
	border-top: 1px solid #ffffff07;
	border-left: 1px solid #ffffff07;
	
	background-color: #222;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000 ), to( #222 ) );
}

#DotaDashboard #Contents.ContextMenuHeroSetPicker
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #333 ), to( #444 ) );
	border-top: 1px solid #252525;
	border-left: 0px solid #252525;
	
}


#Header
{
	flow-children: right;
	margin-bottom: 2px;

	background-color: black;
	//background-color: gradient( linear, 0% 0%, 100% 0%, from( #000 ), color-stop( .1, #282a29 ), color-stop( .11, #282a29 ), color-stop( .14, #282a29 ), color-stop( .28, #000 ), to( #000 ) );
	width: 100%;
	padding: 6px 6px 6px 10px;
	//border-bottom: 2px solid black;
}

#Instructions
{
	text-transform: uppercase;
	color: #666;
	margin-top: 1px;
	margin-bottom: -3px;
}

#SetsCarousel
{
	flow-children: right;
	margin: 10px 0px 12px 12px;
	width: 688px;
	
}

.CarouselPage
{
	flow-children: right;
	width: 100%;

	transition-property: position;
	transition-duration: 0.2s;
}

.CarouselPage > DOTAHeroSetPickerSet
{
	width: 160px;
	height: 270px;
	margin-right: 12px;
	
	border-right: 0px;
	border-left: 1px solid #ffffff05;
	border-bottom: 0px;
	border-top: 1px solid #ffffff06;
	
	box-shadow: fill #000000cc 0px 0px 4px 4px;
}