

#Contents.ContextMenuHeroInspect
{
	background-color: black;
    padding: 0px;
    border: 0px solid transparent;
    box-shadow: none;
	margin-right: 0px;
	margin-top: 0px;
	box-shadow: fill 2px 2px 4px black;
}
