/* styles for the chat target context menu */

#Contents
{
    flow-children: down;
	background-color: #1e252f;
	padding: 0px;
	border: 0px;
	box-shadow: #000000 -4px -4px 8px 8px;

    width: 816px;
    height: 620px;
}


.Season_International2016 #Contents { 	background-color: #252421; }
.Season_International2016 #HeaderRow { 	background-color: #94342A33; }
.Season_International2016 #HeaderRow Label { 	color: #A9372E; text-shadow: 0px 1px 2px 2 #000000; }

.Season_International2016 .HeroCategory Button
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( backgroundBrightColor ), to( backgroundMediumColor ) );
	border-left: 1px solid #A14c44;
	border-top: 1px solid #A14c44;
	border-right: 1px solid backgroundDimColor;
}

.Season_International2016 .HeroCategory Button Label
{
	font-size: 16px;
	letter-spacing: 1px;
}


.Season_International2016 .HeroCategory Button:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( backgroundBrightColor ), to( backgroundMediumColor ) );
	brightness: 2;
}

.HotkeyPicker #Contents
{
	background-color: #212525;
}

.PlayerPicker #Contents
{
	width: 580px;
}

.TeamPicker #Contents
{
	height: 440px;
}

.GenericPicker #Contents
{
	width: 332px;
	height: fit-children;
	padding-bottom: 6px;
}

.HotkeyPicker #Contents
{
    height: fit-children;
}


#HeaderRow
{
	flow-children: right;
	width: 100%;
	background-color: #242d39;
	padding: 16px 16px 12px 16px;
}

.HotkeyPicker #HeaderRow
{
	background-color: #2B2F30;
}

.SearchBox
{
    flow-children: right;
    width: 300px;
    background-color: black;
}

.SearchBox TextEntry
{
    width: fill-parent-flow( 1.0 );
    border: 0px solid transparent;
    background-color: none;
}

.SearchBox TextEntry #PlaceholderText
{
    margin-top: 2px;
	color: #8a8a8a;
}

.SearchBox Button
{
    background-image: url("s2r://panorama/images/control_icons/icon_search_png.vtex");
    background-repeat: no-repeat;
    background-size: contain;

    width: 27px;
    height: 27px;
    margin: 0px 8px;
    vertical-align: middle;

    wash-color: #4f4f4f;

    transition-property: wash-color;
    transition-duration: 0.1s;
}

.SearchBox Button:hover
{
    wash-color: #cccccc;
}

.SearchBox Button:active
{
    wash-color: #ffffff;
}

#HeroList
{
	padding: 16px 16px -15px 16px;
    flow-children: down;
    overflow: squish scroll;
    width: 100%;
}

.HeroCategory
{
    flow-children: right-wrap;
    margin-bottom: 15px;
}

.HeroCategory DOTAHeroImage,
.HeroCategory Image
{
    width: 48px;
    height: width-percentage( 100% );
	margin: 0px 8px 8px 0px;
    border: 1px solid black;

    transition-property: border, saturation, opacity;
    transition-duration: 0.2s;
}

.HotkeyPicker .HeroCategory DOTAHeroImage,
.HotkeyPicker .HeroCategory Image
{
    width: 40px;	
	margin: 0px 12px 12px 0px;
	saturation: 1;
	//wash-color: #BFD2EE;
}

.HeroCategory DOTAHeroImage.HasKeybinds,
.HeroCategory Image.HasKeybinds
{
	saturation: 1;
	wash-color: white;
	border: 1px solid #41DFFF;
	brightness: 3;
	contrast: 0.95;
	box-shadow: #66AADD44 -3px -3px 6px 6px;
	border-radius: 20%;	
}

.HeroCategory DOTAHeroImage.HasKeybinds:disabled,
.HeroCategory Image.HasKeybinds:disabled 
{
	opacity: .06;
}

.HeroCategory DOTAHeroImage:enabled:hover
{
    brightness: 2;
	contrast: 0.95;	
	saturation: 1;
}

.HeroCategory DOTAHeroImage:disabled
{
	saturation: 0.0;
	opacity: 0.2;
}

.HeroCategory DOTAUGCImage
{
    width: 48px;
    height: width-percentage( 100% );
	margin: 0px 8px 8px 0px;
    border: 1px solid black;

    transition-property: border, saturation, opacity;
    transition-duration: 0.2s;
}

.HeroCategory DOTAUGCImage:enabled:hover
{
    border: 1px solid white;
}

.HeroCategory DOTAUGCImage:disabled
{
	saturation: 0.0;
	opacity: 0.2;
}

.HeroCategory .PlayerImage
{
    width: 72px;
    height: width-percentage( 100% );
	margin: 0px 8px 8px 0px;
    border: 1px solid black;

    transition-property: border, saturation, opacity;
    transition-duration: 0.2s;
}

.HeroCategory Image:enabled:hover
{
    border: 1px solid white;
}

.HeroCategory Image:disabled
{
	saturation: 0.0;
	opacity: 0.2;
}
.HeroCategory Button
{
     background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a6c75 ), to( #3d4a50 ) );
	border: 1px solid black;
	
	margin-bottom:10px;
	min-width: 300px;
	padding: 2px 4px 2px 4px;
	border-top: 1px solid #ffffff44;
	border-right: 1px solid #4e5b60;
	border-left: 1px solid #4e5b60;
	border-bottom: 1px solid #00000088;
	
	transition-property: background-color, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.SmallOptions.GenericPicker #HeroList
{
	flow-children: down-wrap;
	height: 446px;
}


.SmallOptions.GenericPicker #Contents
{
	width: 454px;
}

.SmallOptions .HeroCategory Label
{
	font-size: 16px;
}

.SmallOptions .HeroCategory Button
{
	min-width: 200px;
	margin-left: 5px;
	margin-right: 5px;
}

.HeroCategory Button:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #a9c8da ), to( #596b75 ) );
}
.HeroCategory Button:hover:active
{
    border: 1px solid black;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #272f33 ), to( #5a6c75 ) );

    border-top: 1px solid #00000088;
    border-right: 1px solid #00000088;
    border-left: 1px solid #00000088;
    border-bottom: 1px solid #aaaaaa44;
}

.HeroCategory Label
{
    text-overflow:shrink;
    color: white;
	font-size: 28px;
	horizontal-align: center;
	vertical-align: middle;
    margin-top: 6px;
}
.GenericPicker .TabContents
{
    width:320px;
    height: fit-children;
}
.GenericPicker #HeroSearch
{
    visibility:collapse;
}
.PlayerPicker .TabContents
{
    width:500px;
}
.TeamPicker .TabContents
{
    width:464px;
    height:540px;
}
.TeamContainer
{
    flow-children:right;
    width:500px;
}
.TeamLogo
{
    width:80px;
    height:80px;
    border: 0px solid black;
    margin-top:20px;
}

.PlayerPicker .TeamLogo
{
	margin-right: 20px;
}

.HeroCategory .TeamLogo,
.HeroCategory .TeamLogo Image,
.HeroCategory .TeamLogo:hover,
.HeroCategory .TeamLogo Image:hover
{
    border:0px;
    width:40px;
    height:40px;
}
.PlayerContainer
{
    flow-children:down;
    margin-bottom:10px;

}
.HeroCategory .PlayerName
{
    font-size:14px;
}
.PlayerName
{
    text-overflow:shrink;
    width:72px;
    height:16px;
    text-align:center;
}

.HeroCategory .TeamImage
{
    width:92px;
    margin: 8px 8px 8px 8px;
}

.LargeTeamPicker .HeroCategory .TeamImage
{
    width:256px;
    margin: 8px 8px 8px 8px;
}

#SelectionChoice 
{
    text-align: left;
	text-overflow: shrink;
    font-size: 22px;
    color: #bfd2ee;
	vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.HotkeyPicker #SelectionChoice
{
	margin-left: 16px;
	font-size: 28px;
	color: white;
}

#npc_dota_courier Image
{
	background-size: cover;
}

#Extra
{
	horizontal-align: center;
}

.ExtraContainer
{
	min-width: 200px;
	background-size: contain;
	flow-children: down;
}

.HeroCategory .ExtraContainer Label
{
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

.HeroCategory .ExtraContainer Image
{
	width: 64px;
    height: width-percentage( 74% );	
	horizontal-align: center;
	margin: 0px;
}