#Contents
{
    flow-children: right-wrap;
	max-width: 680px;
	padding: 12px 0px 1px 12px;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000ff ), to( #000000dd ) );
	border: 0px;
}

.PatternSwatch
{
	width: 60px;
	height: 100px;
	border: 2px solid black;
	margin-right: 12px;
	margin-bottom: 12px;

	ui-scale: 150%;

	background-color: black;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	transition-property: border;
	transition-duration: 0.2s;
}

.PatternSwatch:selected
{
	border: 2px solid white;
}

.PatternSwatch:hover
{
	border: 2px solid white;
}

.PatternSwatch:active
{
	border: 2px solid #999;
}

#Pattern0 { background-image: guildPattern0; }
#Pattern1 { background-image: guildPattern1; }
#Pattern2 { background-image: guildPattern2; }
#Pattern3 { background-image: guildPattern3; }
#Pattern4 { background-image: guildPattern4; }
#Pattern5 { background-image: guildPattern5; }
#Pattern6 { background-image: guildPattern6; }
#Pattern7 { background-image: guildPattern7; }
#Pattern8 { background-image: guildPattern8; }
#Pattern9 { background-image: guildPattern9; }
#Pattern10 { background-image: guildPattern10; }
#Pattern11 { background-image: guildPattern11; }


