/* styles for the styles context menu */

#Contents.EconItemStyleContents 
{
	margin: 0px;
	padding: 0px;
    width: 350px;
	flow-children: down;
	border: 2px solid black;
	box-shadow: none;
	
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000 ), to( #222 ) );
	
	border: 0px;
	
	
	box-shadow: fill #00000077 0px 0px 4px 4px;
}

#Header
{
	flow-children: right;
	background-color: black;
	width: 100%;
}

.Title
{
    color: #ccc;
	padding: 6px 8px 4px 8px;
    text-transform: uppercase;
}

#DynamicStylesTitle, #DynamicStylesInfoIcon,
.HasAutoStyles #StylesTitle
{
	visibility: collapse;
}
.HasAutoStyles #DynamicStylesTitle,
.HasAutoStyles #DynamicStylesInfoIcon
{
	visibility: visible;
}

#DynamicStylesInfoIcon
{
	wash-color: #ccc;
	margin-right: 8px;
	tooltip-position: top;
}

#StylesList
{
    margin-top: 8px;
    flow-children: down;
	overflow: squish scroll;
	max-height: 300px;
	margin-bottom: 8px;
	width: 100%;
}

RadioButton
{
	width: 284px;
}

.StyleEntry
{
	flow-children: right;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;

	transition-property: background-color;
	transition-duration: 0.2s;
}

.StyleEntry:hover
{
	background-color: #222;
}

.StyleEntry:active
{
	background-color: #333;
}

.StyleEntryIcon
{
	width: 18px;
	height: 18px;

	margin-right: 4px;
}

.StyleEntry.Available .StyleEntryIcon, .StyleEntry.Selected .StyleEntryIcon
{
	border-radius: 50%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 10% 10%, from( #000000 ), to( #000000 ) );
	
	border: 2px solid #5e686966;
	box-shadow: #00000055 -2px -2px 1px 4px;
	
	transition-property: background-color, box-shadow, color, border;
	transition-duration: 0.20s;
	transition-timing-function: ease-in-out;
}

.StyleEntry.Available .StyleEntryIcon
{
}

.StyleEntry.Selected .StyleEntryIcon
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #e7f6f5 ), to( #333399 ) );
	border: 3px solid #000000;

	box-shadow: #5b62bf77 -3px -3px 6px 6px;
}

.StyleEntry.Locked .StyleEntryIcon
{
	background-image: url("s2r://panorama/images/control_icons/lock_small_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

.StyleEntry.AutoStyle .StyleEntryIcon
{
	background-image: url("s2r://panorama/images/control_icons/icon_auto_style_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: #ccc;
}

.StyleLabels
{
	flow-children: down;
	margin-left: 6px;
}

.StyleName
{
    font-size: 16px;
	color: #ccc;
}

RadioButton:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #282b3d00 ), to( #282b3dff ) );
}

.StyleUnlock
{
	font-size: 14px;
	color: #999999;
	visibility: collapse;
}

.Locked .StyleUnlock
{
	visibility: visible;
}

.AutoStyleReason
{
	font-size: 14px;
	color: #999999;
	visibility: collapse;
}

.StyleEntry.AutoStyle .AutoStyleReason
{
	visibility: visible;
}
