#Contents
{
    padding: 0px;
    border: 1px solid #DD3C1C;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1C1D20fa ), to( #230600fa ) );
}

/* styles for the report player popup */
#TopArrow
{
    wash-color: blue;
}

.Report
{
    flow-children: down;

    /* override styles from popuppanel*/
    //padding: 0px 0px 0px 0px;

    width: 330px;
}

.Report_Title
{
    height: 64px;
    width: 100%;

    margin-left: 32px;
    /* margin-right: 34px; */
    flow-children: right;
}

.Report_Title_Icon
{
	width: 32px;
	height: 32px;
    vertical-align: center;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

    margin-right: 16px;

   	background-image: url("s2r://panorama/images/conduct/report_flag_png.vtex");
	wash-color: #dd3C1C;
}

.Report_Title_Label
{
   	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
    font-weight: semi-bold;

    vertical-align: center;

	color: #DD3C1C;
}

.Report_Player
{
    width: 100%;

    padding-top: 10px;
    padding-left: 28px;
    padding-bottom: 10px;
    padding-right: 36px;

    background-color: #43211C;
}

.Report_Player_Info
{
    horizontal-align: left;
}

.Report_Options
{
    horizontal-align: center;
    flow-children: right;
    //padding: 20px;
    margin-bottom: 8px;
}

.ReasonButton
{
    flow-children: up;

    width:264px;
    height:391px;
}

.ReasonButton:active
{
    brightness: 1.5;
}

.ReasonButton_Required
{
    horizontal-align: center;
    margin-bottom: -34px;
}

.ReasonButton_Required_Image
{
    horizontal-align:center;
    width: 38px;
    height: 51px;
    z-index: 2;
}
.ReasonButton--DotaPlus .ReasonButton_Required_Image
{
    background-image: dotaPlusLogo;
    background-size: contain;
    background-repeat: no-repeat;
}

.ReasonButton--DotaPlus .ReasonButton_Required_Glow
{
    width: 1px;
    height: 1px;
    horizontal-align: center;
    vertical-align: center;

    /* center visually on shield */
    margin-bottom: 8px;

    z-index: 1;

    box-shadow: -60px -60px 0px 124px dotaPlusGold;
}

.ReasonButton_Layout
{
    flow-children: down;
    height:374px;
    width: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #586A7320 ), to( #586A7320 ) );
    padding: 8px;
    padding-left: 21px;
    padding-right: 21px;
}

.ReasonButton:hover .ReasonButton_Layout
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #586A7340 ), to( #586A7340 ) );
}
.ReasonButton:disabled .ReasonButton_Layout
{
    background-color: #1F2824;
}

.ReasonButton--DidNotPlayRole
{
    visibility: collapse;
}
.Report--EnableDidNotPlayRole .ReasonButton--DidNotPlayRole
{
    visibility: visible;
}

.ReasonButton--Negative:selected .ReasonButton_Layout
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD3C1C ), to( #921800 ) );
}
.ReasonButton--Negative:hover:selected .ReasonButton_Layout
{
    background-color: #FF4620ee;
}
.ReasonButton--Positive:selected .ReasonButton_Layout
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #156100 ), to( #35AA14 ) );
}
.ReasonButton--Positive:hover:selected .ReasonButton_Layout
{
    background-color: #299908 ;
}

.ReasonButton_Icon
{
    width: 72px;
    height: 72px;
    horizontal-align: center;
    margin-top: 72px;
    margin-bottom: 45px;

   	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.ReasonButton--DidNotPlayRole .ReasonButton_Icon
{
	background-image: url("s2r://panorama/images/conduct/lane_icon_png.vtex");
}
.ReasonButton--DidNotPlayRole:selected .ReasonButton_Icon
{
    background-image: url("s2r://panorama/images/conduct/lane_icon_white_png.vtex");
}

.ReasonButton_Title
{
    horizontal-align: center;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;

    /* override styles from ToggleButton Label */
    margin: 0px;
    margin-bottom: 4px;
}

.ReasonButton_Description
{
    horizontal-align: center;
    text-align: center;
    font-weight: thin;
    padding-left: 8px;
    padding-right: 8px;

    /* override styles from ToggleButton Label */
    margin: 0px;
    margin-bottom: 12px;
}

.ReasonButton_Free
{
    horizontal-align: center;
    text-align: center;
    font-weight: bold;

    /* override styles from ToggleButton Label */
    margin: 0px;
}

.Report_Bottom
{
}

.Report_Bottom_Comment
{
    flow-children: down;
    vertical-align: bottom;
    margin-left: 36px;
    margin-right: 29px;
    width: fill-parent-flow(1.0);
}

.Report_Bottom_Comment_Title
{
}

.Report_Bottom_Comment_Entry
{
    width: 100%;
}

.Report_Bottom_Buttons
{
    horizontal-align: right;
    flow-children: right;
    margin: 5px;
    width: 100%;
}

.ReportButton
{
    /* override from PopupButton */
    margin: 0px;
    margin-left: 8px;
    margin-right: 8px;
    horizontal-align: center;
    width: 256px;
    margin-bottom: 16px;
}

/* ToggleButton automatically creates these */
ToggleButton .TickBox
{
    visibility: collapse;
}

.RoleReport
{
    flow-children: down;
}

.RoleReport_Header
{
    flow-children: right;
    background-color: black;
    width: 100%;
    padding: 2px;
    padding-bottom: 4px;
    min-height: 38px;
}

.RoleReport_Header_Icon
{
	width: 18px;
	height: 18px;
    vertical-align: center;

    margin-left: 8px;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;

   	background-image: url("s2r://panorama/images/conduct/report_flag_png.vtex");
	wash-color: #dd3C1C;
}

.RoleReport_Header_Label
{
    margin-left: 6px;
    text-transform: uppercase;
    vertical-align: center;
    margin-top: 4px;
    font-size: 16px;
    color: #DD3C1C;
    letter-spacing: 2px;
}

.RoleReport_Report
{
    padding: 5px;
    /* padding-right: 20px; */
    background-color: #252b30;
    min-height: 38px;
}

.RoleReport_Report:hover
{
    background-color: #6D1C0C;
}

.RoleReport_Report:active
{
    brightness: 1.5;
}

.RoleReport_Report_Label:hover
{
    color: #fff;
}

.RoleReport_Report_Label
{
    margin-left: 4px;
    margin-top: 3px;
    text-transform: uppercase;
    vertical-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ccc;
}