#Contents.HeroGridCategorySettings
{
	flow-children: down;
	background-color: #222;
	width: 400px;
	padding: 10px 15px 20px 15px;
}

.TitleRow
{
	flow-children: right;
	width: 100%;
}

.Title
{
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: semi-bold;
	color: #fefefe;
}

#CategoryNameTextEntry
{
	margin-top: 8px;
	width: 100%;
}

#DeleteButton
{
	vertical-align: top;
	horizontal-align: right;
	width: 22px;
	margin-top: 3px;
	height: 22px;
	wash-color: #777777;

	background-image: url("s2r://panorama/images/control_icons/icon_trash_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

#DeleteButton:hover {
	brightness: 2.0;
}

#DeleteButton:active {
	brightness: 1.5;
}