

#Contents.EconItemMenuContents
{
	background-color: #222;
    padding: 0px;
    border: 2px solid black;
    box-shadow: none;
	margin-right: 0px;
	margin-top: 0px;

	flow-children: down;
	width: 400px;
}

#MenuCategories
{
	width: 100%;
	flow-children: down;
}

.MenuCategory
{
	width: 100%;
	flow-children: down;
	margin-top: 3px;
}

.MenuCategory.FirstCategory
{
	margin-top: 0px;
}

.MenuCategory:disabled
{
	visibility: collapse;
}

.DynamicMenuOptions
{
	flow-children: down;
	width: 100%;
}

.MenuCategory TextButton
{
	width: 100%;
	padding: 6px 8px 2px 8px;
	background-color: black;
	margin-top: 2px;
}

.MenuCategory TextButton.FirstOption
{
	margin-top: 0px;
}

.MenuCategory TextButton:disabled
{
	visibility: collapse;
}

.MenuCategory TextButton Label
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #758d8c;
	width: 380px;
}

.MenuCategory TextButton:hover Label
{
	color: white;
}
