@define itemWidth: 101px;
@define itemHeight: 108px;
@define vrItemWidth: 230px;
@define vrItemHeight: 245px;

#Contents.ContextMenuHeroItemSlotPicker
{
	flow-children: down;
	padding: 0px;
	margin: 0px;
	
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000 ), to( #222 ) );
	
	border: 0px;
	
	border-top: 1px solid #ffffff09;
	border-left: 1px solid #ffffff09;
	
	box-shadow: fill #00000077 0px 0px 8px 4px;
}

.ContextMenuHeroItemSlotPicker DOTAEconItem
{
	border: 0px;
	border-top: 1px solid #ffffff09;
	border-left: 1px solid #ffffff22;
	
	box-shadow: fill #00000077 0px 0px 8px 4px;
	
}

.ContextMenuHeroItemSlotPicker DOTAEconItem:enabled:hover
{
	brightness: 2;
	
	pre-transform-scale2d: 1.00;
	
	border: 0px;
	
	border-top: 1px solid #ffffff09;
	border-left: 1px solid #ffffff22;
	
	box-shadow: fill #00000077 0px 0px 8px 4px;
		
}

#DotaDashboard .ContextMenuHeroItemSlotPicker
{
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #222 ), to( #333 ) );
	border-top: 1px solid #444;
	border-left: 1px solid #ffffff01;
}

#Header
{
	flow-children: right;
	background-color: black;
	width: 100%;
	padding: 6px 8px 2px 8px;
	border-bottom: 2px solid black;
}

#Instructions, #VRInstructions
{
	text-transform: uppercase;
	margin-left: 2px;
	color: white;
	vertical-align: middle;
	color: #666;
}

#VRInstructions
{
	font-size: 48px;
	margin: 8px 16px 0px 8px;
	visibility: collapse;
}

#HeroItemSlotOptions
{
	flow-children: right-wrap;
	width: 406px;
	max-width: 505px;
	max-height: 330px;

	overflow: squish scroll;
}

#HeroItemSlotOptions
{
	margin: 8px;
}


/* -- VRMode --------------------------------------------------------------- */

.VRMode #Instructions
{
	visibility: collapse;
}
.VRMode #VRInstructions
{
	visibility: visible;
}

.VRMode #HeroItemSlotOptions
{
	max-width: 1300px;
	max-height: 750px;
	padding: 6px 12px 6px 6px;
}

.VRMode #HeroItemSlotOptions DOTAEconItem
{
	width: 220px;
	height: 235px;
}

.VRMode VerticalScrollBar
{
	/* Hack, since scrollbars are appearing when they shouldn't. */
	opacity: 0.0;
}