/* styles for the chat window context menu */


.CustomGameMenu
{
    flow-children: down;
    width: 240px;
}


#MenuTitlePanel
{
    background-color: #0000FF;
    width: 100%;
    flow-children: right;
}

#MenuTitleLabel
{
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
	background-color: #0000FF;
}

#MenuOptionsPanel
{
    flow-children: down;
    background-color: black;
}


#MenuOptionsPanel Button
{
    padding: 0px;
    horizontal-align: center;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid #66666688;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#MenuOptionsPanel Button Label
{
    text-align: center;
    horizontal-align: center;
    color: #cbcbcb;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#MenuOptionsPanel Button:hover
{
    background-color: #666666;
}

#MenuOptionsPanel Button:active
{
    background-color: black;
}

#MenuOptionsPanel Button:active Label
{
    color: white;
}
