

#Contents.ContextMenuQueenOfPainArcanaProgress
{
	background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    border: 0px solid transparent;
    box-shadow: none;
	margin-right: 0px;
	margin-top: 0px;
}
