#Contents.HeroGridConfigPicker
{
	flow-children: down;
	padding: 0px;
	background-color: #080A0C;
	min-width: 300px;
	box-shadow: 0px 0px 40px #00060;
}

.ConfigCategory
{
	width: 340px;
	flow-children: down;
}

.CategoryTitle
{
	width: 100%;
	background-color: black;
	padding: 5px 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	color: #888;
	font-weight: semi-bold;
	margin-bottom: 2px;
}

.ConfigList
{
	width: 100%;
	flow-children: down;
}

.ConfigEntry
{
	padding: 4px 8px 4px 8px;
	width: 100%;
}

.ConfigEntry:hover
{
	brightness: 2.0;
}

.ConfigEntry:active
{
	brightness: 1.5;
}

.ConfigEntry Label
{
	color: #d6d6d6;
	font-size: 20px;
	font-weight: semi-bold;
	padding: 2px 5px 0px 5px;
}

.ConfigEntry.CreateNewEntry Label
{
	font-weight: normal;
	color: #888;
	padding-bottom: 2px;
}

#PresetConfigs
{
	flow-children: down;
	padding: 12px 12px 0px 12px;
	width: 100%;
}

.PresetConfig
{
	width: 100%;
	margin-bottom: 12px;
	padding: 4px 8px 6px 8px;
	box-shadow: 2px 2px 4px black;

	transition-property: brightness;
	transition-duration: 0.2s;
}

.PresetConfig:not(.DotaPlusContainer)
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #222 ), to( #060606 ) );
}

.PresetConfig:hover
{
	brightness: 2.0;
}

.PresetConfig:active
{
	brightness: 1.5;
}

.PresetConfigMainContents
{
	flow-children: down;
}

.PresetConfigTitle
{
	color: #ffffff90;
	margin-bottom: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: semi-bold;
}

.PresetConfigIcons
{
	flow-children: right;
}


.PresetConfigIcon
{
	width: 24px;
	height: 24px;
	margin-right: 4px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.PresetConfigIcon.SafelaneIcon		{ background-image: url("s2r://panorama/images/rank_tier_icons/handicap/safelaneicon_psd.vtex"); wash-color: #999; }
.PresetConfigIcon.MidlaneIcon		{ background-image: url("s2r://panorama/images/rank_tier_icons/handicap/midlaneicon_psd.vtex"); wash-color: #999; }
.PresetConfigIcon.OfflaneIcon		{ background-image: url("s2r://panorama/images/rank_tier_icons/handicap/offlaneicon_psd.vtex"); wash-color: #999; }
.PresetConfigIcon.SoftSupportIcon	{ background-image: url("s2r://panorama/images/rank_tier_icons/handicap/softsupporticon_psd.vtex"); wash-color: #999; }
.PresetConfigIcon.HardSupportIcon	{ background-image: url("s2r://panorama/images/rank_tier_icons/handicap/hardsupporticon_psd.vtex"); wash-color: #999; }

.PresetConfigIcon.StrengthIcon						{ background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");}
.PresetConfigIcon.AgilityIcon						{ background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex"); }
.ColorBlindModeEnabled .HeroCategory.AgilityIcon	{ background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_colorblind_psd.vtex"); }
.PresetConfigIcon.IntelligenceIcon					{ background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex"); }

.PresetConfigPlusIcon
{
	width: 32px;
	height: 32px;
	vertical-align: middle;
	horizontal-align: right;
	background-image: dotaPlusLogoSmall;
	background-size: contain;
	background-repeat: no-repeat;
}