#Contents
{
    margin: 0px;
    padding: 0px;
}

#RoleOptionsContainer
{
    flow-children: down;
    background-color: #ffffff03;
    padding: 0px;
    border: 0px;
    //box-shadow: #000000 -4px -4px 8px 8px;
    width: 210px;
    height: fit-children;
}

.EntryRowContainer
{
    width: 100%;
    height: 42px;
	transition-property: background-color, color;
	transition-duration: .2s;
}
.EntryRowContainer:hover
{
    background-color: gray;
}

.EntryRowContainer.KickMember:hover
{
	background-color: red;
}		

.EntryRowContainer.KickMember:hover Label
{
	color: white;
}		


.EntryRowContainer.CurrentTargetRole 
{
	background-color: #ffffff11;
}


.Odd.EntryRowContainer
{
    //background-color: #ffffff08;
}


.EntryRow
{
	margin-left: 14px;
	vertical-align: center;
    flow-children: right;
}
.EntryRow Label
{
    color: dimgray;
    text-transform: uppercase;
	font-size: 16px;
	margin-top: 3px;
	transition-property: color;
	transition-duration: .2s;
}

.KickMember  .EntryRow Label:hover
{
	color: white;
}



.CurrentTargetRole .EntryRow Label,
.CurrentTargetRole.CanChangeTargetRole .EntryRow Label
{
    //font-weight: bold;
    color: white;
}
.CanChangeTargetRole .EntryRow Label
{
    color:lightgray;
}
.KickMember .EntryRow Label
{
    color: #FF3131;
}

.ContextMenuDiv
{
    margin-left: 14px;
    margin-right: 14px;
    width: 100%;
    height: 1px;
    background-color: lightgray;
}